[2019-10-09 02:03] #351 closed

[2019-10-09 03:05] bluebill1049 commented on #359
hey @batjaa please use the latest version. i think your version is out dated.

[2019-10-09 03:05] #359 closed

[2019-10-09 03:19] #355 closed

[2019-10-09 03:35] bluebill1049 commented on #356
I think if you change `fireEvent.input` should work for you.

[2019-10-09 03:50] bluebill1049 commented on #351
@yeyep we going to release the patch soon

[2019-10-09 22:12] bluebill1049 commented on #356
I have tested the above solution and it's working. going to close this issue now, feel free to re-open and ask more questions.

[2019-10-09 22:47] acusti commented on #283
first of all, congrats on this library. it’s the first react form library i’ve seen that i really like, and i applaud your efforts, design choices, and philosophy.

for this particular issue, i think the default user experience here still leaves something to be desired. in my opinion, in a regular multi-input form, if a user is still focused on an input, it is rarely helpful to interrupt them to t

[2019-10-09 22:58] bluebill1049 commented on #283
hey @acusti thanks for your feedback. I did have a thought about this to introduce an option for revalidating. `reValidateMode` (in fact I had a PR for that before) but was dropped due to low demand and you can make a workaround like what you had above. It's also a tradeoff for me when I am introducing more API to the lib, but I am keeping an eye on this issue if more people having similar, I am m

[2019-10-10 03:32] jgb-solutions opened #361 "Custom error message alongside custom validation"
Wasn't sure whether this was an issue so I post it as a feature.

I'm just getting started with this package and i already like it. For the sake of keeping related things closed,  is it possible to keep custom error messages alongside a custom validation method just like `required` or `min` or `max`? And if not I think that would be a nice feature to have. Would reduce the number of `type` compari

[2019-10-10 03:34] bluebill1049 commented on #361
Thank you for your kind words! 👍 so glad to hear you like it.

hahaha YES, and it's documented:

https://react-hook-form.com/api#register

check the checkbox of  `Register with validation and error message`

[2019-10-10 03:39] jgb-solutions commented on #361
nice! Awesome. I found it. I'm actually using React Final Form, that's from the same author of Redux Form and it's pretty lightweight. And  today i found this package from the react newsletter and I already like it by just reading the docs. it seems pretty lightweight and has a nice
API. How does it compare to React Final Form?

[2019-10-10 03:42] bluebill1049 commented on #361
hahaha tough question.

One thing I can be pretty confident to say, react hook form is simple and DX focus. every project is about pros and cons. my focus will be on the developers' experience. Keep API simple and great documenation.

[2019-10-10 03:49] jgb-solutions commented on #361
very wise answer! nice work man! I'm going to try it out tonight.

[2019-10-10 03:50] bluebill1049 commented on #361
sounds good @jgb-solutions feedback welcome! going to close this issue now :)

[2019-10-10 03:50] #361 closed

[2019-10-10 03:53] bluebill1049 commented on #283
@acusti I am asking the community for introducing `reValidateMode`. I will keep you updated on such a feature.

[2019-10-10 06:41] carlesba commented on #356
Thanks for the quick response. I've tried it with `fireEvent.input` but `dirty` is still false. The submitted data is correct though.

[2019-10-10 06:49] bluebill1049 commented on #356
hmm that's strange...

[2019-10-10 06:50] bluebill1049 commented on #356
i will take a look at it again

[2019-10-10 19:35] dextervip commented on #73
Does this implementation supports yup schema validation with nested objetcs in array? I am trying to code it but I am not able to get errors on nested objects.

[2019-10-10 20:24] dextervip opened #363 "onChange mode doesn't work with array of objects"
Hello,

onChange mode doesn't work with array of objects. It only validates on submit. For example, on the code below, location is validaded correctly as soon as I type anything but the array of persons doesnt fire up validation while I type anything. It only shows me validation erros when I submit. Any clues? Regards

[code]

[2019-10-10 20:49] bluebill1049 commented on #73
@dextervip it should tho, can you supply a codesandbox which is not working for you?

[2019-10-10 20:49] bluebill1049 commented on #363
can you convert this code into a codesandbox?

[2019-10-10 21:54] dextervip commented on #363
@bluebill1049 Here go https://codesandbox.io/embed/react-hook-form-validationschema-3y6c7
If you type in location field, you will see validation message instantly but if you type in name which must represent a array of objects person. You wont see any message, except if you click submit.

[2019-10-10 22:06] bluebill1049 commented on #363
Thanks I will take a look this soon

[2019-10-11 00:07] bluebill1049 commented on #363
if you update your name to be the following

 `name="persons[0].name"` which is same as your error name

should be working for you.

[2019-10-11 03:49] dextervip commented on #363
It works, thx! however my error messages are not nested objects as location field. It becames a flat key. I must use errors["persons[0].name"].message instead of errors.persons[0].name.message. Any way to code it as nested objects in case I need to iterate all validation messages? For example a tag list plugin in a text field would generate different message keys for each validated tag.

[2019-10-11 03:52] bluebill1049 commented on #363
@dextervip I try to avoid that for now, because your code will run into object undefined, at the moment, I think `erros[${name}]` is a safer choice.

[2019-10-11 03:55] dextervip commented on #363
@bluebill1049 Okay! thank for your support!

[2019-10-11 03:55] #363 closed

[2019-10-11 04:56] bluebill1049 commented on #363
no worries @dextervip

[2019-10-11 11:23] marrkeri opened #365 "How to use forwardRef when 'register' is using 'ref' ?"
Hello,
here is my demo app: https://codesandbox.io/s/react-hook-form-smart-form-component-fi7nl

I have injected field with register, but it uses ref to be able to cooperate with field.
But I have scenario where I have to do focus into the field after some action/button click.

Code
[code]
Form is traversing children and injecting 'register'
InputWitForwardedRef is wrapped into forwardRef, but bec

[2019-10-11 12:30] marrkeri commented on #365
I have tried also something from this link but it doesn't work https://github.com/react-hook-form/react-hook-form/issues/25:
[code]

[2019-10-11 14:34] elkamy opened #366 "register, unregister are called at each value change."
Hello,

I use react-hook-form@3.23.18 .
I have created a component to render a field and its registration with the form. The call of the `register` function is made in a `useEffect` that returns a function to `unregister` it.
[code]
I also have in my component, another useEffect to define the value within the form.
[code]
I wonder if it is normal that at the first rendering, the field is registere

[2019-10-11 19:44] bluebill1049 commented on #365
@marrkeri should be much simpler right?
[code]

[2019-10-11 20:16] bluebill1049 commented on #366
just read your code, I think you are making yourself life hard, and probably not doing the way react hook form should be doing.

[code]

i think if you do the above, things probably much simpler than you thought.

[2019-10-11 22:12] marrkeri commented on #365
Sorry, I'm not following.
How ref to button can trigger focus to a textbox?
Can you adjust demo: https://codesandbox.io/s/react-hook-form-smart-form-component-fi7nl
After you press on button "Focus", the cursor on an above field InputWitForwardedRef should be provided

[2019-10-11 22:36] bluebill1049 commented on #365
I was giving you an example of how to use `forwardRef`.

[2019-10-11 22:37] bluebill1049 commented on #365
what are you trying to achieve in your example?

[2019-10-11 22:39] stramel commented on #365
@bluebull1049 Just to add my 2 cents, ref merging doesn't work. Which is something I would like to see supported. However, this use-case seems strange. Would be interested in seeing the reasoning behind it.

[2019-10-11 23:06] bluebill1049 commented on #365
@stramel  what do u mean by ref merging?

[2019-10-11 23:08] bluebill1049 commented on #365
You can share the ref instead of merge them?

[2019-10-11 23:11] stramel commented on #365
No, ref sharing wasnt working either.

[2019-10-11 23:12] bluebill1049 commented on #365
![925CC5F8-9D83-4592-B1EC-1E1930E8481F](https://user-images.githubusercontent.com/10513364/66689905-d4df3600-ecd8-11e9-82eb-abd0b30a50fc.png)
It doesn’t work?

[2019-10-11 23:23] stramel commented on #365
Correct, I will have to put together a codesandbox when I get back to a computer

[2019-10-11 23:33] bluebill1049 commented on #365
Ok

[2019-10-12 07:28] marrkeri commented on #365
Hi guys, @bluebill1049 your solution is working. I did a mistake in my second post.
Instead of ```ref = e``` now I'm using ```ref.current```
Btw use case is for example in a virtual list where you want to scroll/focus into a field which is errored or if you have for example chat room and someone is 'replaying' on some message and you what to preselect select box and focus into chat box. There are

[2019-10-12 07:28] #365 closed

[2019-10-12 07:30] bluebill1049 commented on #365
glad it works for you @marrkeri happy coding :)

[2019-10-13 14:50] FuJuntao opened #367 "Type error about async validate function"
**Describe the bug**
When passing an async function to `register`'s validate rule, there would be a type error. But dispite the type check result, js could run well.

**To Reproduce**
Steps to reproduce the behavior:

1. Pass any async function to `register`'s validate rule in tsx file

**Typescript message**
No overload matches this call.
  Overload 1 of 2, '(validateRule: Partial<{ required: str

[2019-10-13 14:52] FuJuntao commented on #367
"react-scripts": "3.2.0",
"typescript": "3.6.4"

[2019-10-13 21:19] bluebill1049 commented on #367
Can u put together a codesandbox? So we can easily reproduce?

[2019-10-14 02:44] FuJuntao commented on #367
Yes, of course. Here is the [codesandbox link](https://codesandbox.io/s/recursing-visvesvaraya-u79rw?fontsize=14).

[2019-10-14 02:52] bluebill1049 commented on #366
hey @elkamy, any update on this issue from what I have suggested above?

[2019-10-14 03:23] bluebill1049 commented on #367
thanks for the codesandbox link :) this is fixed and will be patched in the release <3

[2019-10-14 07:06] carlesba commented on #356
I can't reopen the issue

[2019-10-14 09:01] elkamy commented on #366
Thanks @bluebill1049 for your answer.

I have made a new [codesandbox sample](https://codesandbox.io/s/cocky-mcclintock-8nbzo) to explain more precisely my concerns.

I have to use manually `register`, `unregister` and `setValue` methods because I have some custom components, and it doesn't have `ref` prop that can be used with `register` (rf `GenderSelectField`).
Is that still the correct way to

[2019-10-14 09:34] bluebill1049 commented on #356
I think this is more of react-testing-library question:

[code]

[code]

I have tested the above and works fine.

[2019-10-14 09:36] #356 closed

[2019-10-14 09:38] bluebill1049 commented on #366
FYI, you don't have to call `unregister` for custom registered input.

[2019-10-14 09:41] bluebill1049 commented on #366
can you try `register` without `unregister`? see if it improve the performance, react hook form works best with ref attached. let me know how did you go.

[2019-10-14 09:47] bluebill1049 commented on #366
I removed `unregister` and tested your app, the performance looks fine. as you typing, your input only gets re-render during the form dirty and touche.

[2019-10-14 12:47] elkamy commented on #366
Yes of course, but my real case doesn't look exactly like the app I send to you. It have between 50 to 100 rows, and each one have 10 value components that do not necessarily have ref prop.

We also have another issue in our sample app. In the `GenderSelectField` component, how can I get the current value from the formState. I try to get it from `getValues` it doesn't work.

[2019-10-14 13:52] kobber opened #369 "Typescript build failing because of 'react-native' import"
**Describe the bug**
After upgrading to `3.24.0` our Typescript build is failing. This is caused by the typings importing `'react-native'`, which we're not using in our project.

[code]

**To Reproduce**
I'm assuming this happens for every Typescript based project that doesn't use `'react-native'`.

**Expected behavior**
The package should not have a dependency on `'react-native'`.

[2019-10-14 14:32] BatuhanW opened #370 "Handlesubmit doesn't respect error set with setError"
**Describe the bug**
I have a register form where I do async requests to server to validate username and email. I do this `onChange` and set or clear error when needed.

My problem is, when `handleSubmit` is triggered via onClick handler of the form's submit button, it clears error on username, email. Even though these username and email aren't valid and unique, my error ge

**To Reproduce**
Steps

[2019-10-14 19:40] waynebloss opened #371 "Add utility or configuration to change shape of data for Field Array?"
**Is your feature request related to a problem? Please describe.**

The [field-array example](https://codesandbox.io/s/6j1760jkjk) returns a data object with a non-standard shape, e.g.:

[code]

It would be more convenient for many situations, to be able to access data shaped like this:

[code]

Such as, for sending the data to a server or storing it somewhere else. Certainly, this is the much mor

[2019-10-14 19:45] waynebloss commented on #371
One other small bug in the original field array example that I changed in my copy:

[code]

[2019-10-14 20:43] bluebill1049 commented on #366
that's what I mentioned above if you don't have ref access, you don't need to call `unregister`, in fact you hardly need to call `unregister`

[2019-10-14 20:44] bluebill1049 commented on #366
what do you mean get formState from getValues? getValues only return form data.

https://react-hook-form.com/api#getValues
https://react-hook-form.com/api#formState

[2019-10-14 20:45] bluebill1049 commented on #369
oops, that's my bad. I will patch that.

[2019-10-14 20:50] bluebill1049 commented on #369
can you please test out this beta version? `3.24.1-beta.1`

[2019-10-14 20:50] bluebill1049 commented on #370
can you please provide a codesandbox for your issue?

[2019-10-14 20:55] bluebill1049 commented on #371
Thanks @waynebloss for your suggestion. I think most of the stuff you have mentioned above would be better to sit at your app level. At this stage, I like to keep react hook form API as primitive, any utility function probably should not be part of this package. However, there is some utility within react hook form, such as

https://react-hook-form.com/api#getValues `//when you pass nest, is true`

[2019-10-14 21:00] bluebill1049 commented on #371
thanks i will update that

[2019-10-14 21:57] waynebloss commented on #371
@bluebill1049 Thanks!

Just one question if you happen to have time. Any idea how I would go about loading data into that field array example?

When I set all of the values using my `loadFromServer` function, none of the values beyond row 1 were displayed. How would you fix that?

[2019-10-14 21:57] #371 closed

[2019-10-14 22:04] bluebill1049 commented on #371
Hey @waynebloss

First of all, thanks for understanding. I think you can use reset function.

https://react-hook-form.com/api#reset

[2019-10-15 06:52] BatuhanW commented on #370
https://codesandbox.io/embed/gifted-moon-vixny

[2019-10-15 07:04] bluebill1049 commented on #370
Ur codesandbox is empty.

[2019-10-15 07:14] BatuhanW commented on #370
@bluebill1049 sorry, can you check again? it seems I forgot the save.

[2019-10-15 07:46] elkamy commented on #366
Sorry, I meant to say form data. In my example, i try to get value from `getValues` but values aren't updated.

How to do to manage custom component with `register` and `setValue`  ? Did i miss something ?

[2019-10-15 08:25] bluebill1049 commented on #366
you just `register` your input in `useEffect` and `setValue`, that's it.

I am not sure what do you refer as `getValues` aren't updated, if you did set value, then it should return what's in the entire form.

[2019-10-15 08:26] bluebill1049 commented on #370
ok why you are not using `valdiate` function for that async validation?

[2019-10-15 08:41] elkamy commented on #366
If you look at the `GenderSelectField`, you will see that I try to get the current value with `const value = getValues()[name];`.
It works the first i change the value but not after. I guess it's because the first time, the `formState` change and re-render the form. But next the `formState` doesn't change, so how to do to refresh the custom component value ?

[2019-10-15 08:49] bluebill1049 commented on #366
if you just want to watch things allt he time, you should just use `watch`
https://react-hook-form.com/api#watch

[2019-10-15 09:09] kobber commented on #369
Ran `npm install react-hook-form@3.24.1-beta.1`, but it didn't seem to make a difference.

I'm still seeing `import * as ReactNative from 'react-native';` on line `2` of `dist/useForm.d.ts`.

[2019-10-15 09:40] bluebill1049 commented on #369
thanks, strange I have already include react native peer dependency

[2019-10-15 09:45] bluebill1049 commented on #369
also, I have tried on my own ts project, it's working fine with the latest version as well.

[2019-10-15 09:46] bluebill1049 commented on #369
what's this `at-loader`?

[2019-10-15 09:52] bluebill1049 commented on #369
can you make your at-loader not resolving node_module folder?

[2019-10-15 11:16] kobber commented on #369
I tried solving the problem by manually installing `react-native` and `@types/react-native`, and while this fixed the `Cannot find module 'react-native'` bug, it introduced other compile errors with duplicated global definitions.

I don't believe a web based project should have a dependency on `react-native` at all. Could the things required for react-native support be moved out somehow? Either to

[2019-10-15 11:20] bluebill1049 commented on #369
because react-hook-form is universal it supports type for both react and react-native. did you try to exclude node_module for at-loader?

[2019-10-15 11:29] bluebill1049 commented on #369
let me know before I investigate other options for you

[2019-10-15 11:34] bluebill1049 commented on #369
@barrymay could you please double-check on your end as well? I couldn't reproduce this issue.

[2019-10-15 11:55] kobber commented on #369
I'm already excluding `node_modules` in `tsconfig.json`, so that shouldn't be the problem.

Could you try adding `@types/react-native` to the list of peer dependencies?

[2019-10-15 12:00] bluebill1049 commented on #369
Yes, i can. (not sure it will solve the problem)

but the error is coming from webpack loader:
[code]

[2019-10-15 12:57] kobber commented on #369
Okay, the conclusion as of now is this: Installing `react-native` and `@types/react-native` _does_ solve the problem. Except that now I have `react-native` in my project, and the global types included in `react-native` is causing errors like this one:
[code]

[2019-10-15 13:06] zazagag commented on #258
any updates?

[2019-10-15 14:30] dteiml commented on #342
So I've come to this issue by searching for `useState` in closed issues.
I'm not sure if it's expected behavior, but I have the same problem as @nobleach . Validate functions seem to run at mount time - closure-wise. You can parameterize them with the input, but it seems to me that nothing else.

This generalizes @nobleach 's observation. `useState` won't work, but so won't something like this:

[

[2019-10-15 14:50] fjandakornid opened #373 "Not working with @material-ui/pickers ?"
**Describe the bug**
I am using material-ui pickers on a form and I can't find a way to register them with required validation (or any other validation). I've tried very method I found in the examples with no luck.

I created a sandbox with the problem: [https://codesandbox.io/s/youthful-hellman-xh1dm](https://codesandbox.io/s/youthful-hellman-xh1dm)

**To Reproduce**
Steps to reproduce the behavi

[2019-10-15 15:10] jjayaraman opened #374 "Not working with PrimeReact framework"
Not working with PrimeReact framework. Is this a known issue, please?

I tried in their component like this. And the errors object does not capture any error

	<InputText id="neatMaterialCost" className="field" value={price.neatMaterialCost}
		onChange={handleOnChange} onBlur={handleOnBlur} placeholder="Neat material cost"
		ref={register({ required: true })} />

[2019-10-15 15:24] timotgl opened #375 "Prefilling inputs"
It wasn't clear to me from https://react-hook-form.com/api#setValue how I would go about prefilling form inputs (from a redux store for example). Calling `setValue` in a function component causes too many re-renders and is probably the wrong way anyway, but `register` doesn't seem to have any parameter to add an initial value (**not** a placeholder).

[2019-10-15 15:50] waynebloss commented on #369
I was surprised when I was reading through the code the other day, that I found `import * as ReactNative from 'react-native';` in 2 files just to use a single type definition from that package.

- in [useForm](https://github.com/react-hook-form/react-hook-form/blob/21284b3b03c048382a7bf3fff9ab76cb8144833c/src/useForm.ts#L638)
- in [types.ts](https://github.com/react-hook-form/react-hook-form/blob/

[2019-10-15 17:04] waynebloss commented on #373
Here you go:

[code]

From https://codesandbox.io/s/vigorous-jones-pyee5

[2019-10-15 17:22] waynebloss commented on #373
There does seem to be an issue with `react-hook-form` not setting errors when `required: true` is used in the custom `register` call. I thought the problem was in [`validateField.ts` on line 50](https://github.com/react-hook-form/react-hook-form/blob/master/src/logic/validateField.ts#L50) but even when I remove `type: "text"` from the calls to `register()`, it doesn't work without my custom valida

[2019-10-15 17:33] waynebloss commented on #375
You can use the [reset](https://react-hook-form.com/api#reset) function like this:

[code]

If you are making a single form to edit a list of things all at once, see the `Field Array` example [here](https://github.com/react-hook-form/react-hook-form/tree/master/examples#examples)

and then you will want to see the notes on [my issue](https://github.com/react-hook-form/react-hook-form/issues/371) a

[2019-10-15 17:35] waynebloss commented on #375
If your component gets a prop that has all the initial data, you can just call `reset` inside of a `useEffect` handler that depends on the prop with the initial values. e.g.

[code]

[2019-10-15 17:38] waynebloss commented on #374
The maintainer is going to ask you to create a codesandbox to demonstrate your issue.

You can click one of [the examples](https://github.com/react-hook-form/react-hook-form/tree/master/examples#examples) and just start editing it to add your packages and so forth.

[2019-10-15 17:48] waynebloss commented on #370
@bluebill1049 The docs only mention async validation by passing an async function to the [handleSubmit](https://react-hook-form.com/api#handleSubmit) function. Nowhere else is async validation mentioned.

However, I think that you just recommended the `validate` function, I'm assuming as part of the call to `register`, e.g. `register({ name: "hello" }, { validate: async () => await xxx() })`.

~~I

[2019-10-15 19:55] bluebill1049 commented on #258
@zazagag I had a PR on multiple errors and was closed, i think you can pretty much work around with validate function

[2019-10-15 19:57] bluebill1049 commented on #342
@dteiml there are three ways to fix this,
1. you can store your state value in useRef
2. try to use watch() to store the value in a input and call watch during validate function
3. hoist a variable outside the react component
eg.
[code]

[2019-10-15 20:10] fjandakornid commented on #373
Thank you so much.. works like a charm :) I also added a call to triggerValidation({ name: 'eventDate' }) to the on-change-handlers since the inputs' errors weren't clearing when changed.

I'll leave this issue open due to the things @waynebloss talked about in the earlier comment. I would guess this is only a workaround.

[2019-10-15 20:15] bluebill1049 commented on #375
thanks @waynebloss you can only prefill inputs during `useForm` with `defaultValues`

[2019-10-15 20:16] bluebill1049 commented on #373
thanks @waynebloss, also @fjandakornid what's the reasoning issue? you can also trigger validation during setValue as well FYI
https://react-hook-form.com/api#setValue

[2019-10-15 20:19] bluebill1049 commented on #370
I will update the doc with async :) @waynebloss there are examples for async validation in the example folder FYI.

[2019-10-15 20:22] bluebill1049 commented on #373
a custom register should be `register({ name: 'test' }, { required: true })` @waynebloss, can you verify it having issue with requried?

[2019-10-15 20:22] bluebill1049 commented on #373
<img width="1022" alt="Screen Shot 2019-10-16 at 7 22 38 am" src="https://user-images.githubusercontent.com/10513364/66866792-c1d4aa80-efe5-11e9-8afe-7e5473328d73.png">

[2019-10-15 20:52] fjandakornid commented on #373
The need to use a custom validator. The { required: true } as a second parameter does not seem to be working.
And thanks for the setValue shouldValidate tip.. didn't see it :)

[2019-10-15 21:10] bluebill1049 commented on #373
Have u tested and debug what’s root cause? I have a feeling to do with the value been set

[2019-10-15 21:40] bluebill1049 commented on #369
I am waiting for feedback from @barrymay worst case we will remove it and replace with any for react native

[2019-10-15 22:40] bluebill1049 commented on #366
I am going to close this issue, it's not clear on what the issue. if the question is around how to use react-hook-form you can ask questions at spectrum channel.

[2019-10-15 22:40] #366 closed

[2019-10-16 05:18] iamchanii opened #376 "FormContext cause typescript error"
**Describe the bug**
when I use `useForm()` hook with custom interface (or type) as generics, `FormContext` props is not compatiable with values as it returned.

**Expected behavior**
It should be not cause Typescript error even I try to use `FormContext` and `useForm` hook with generic

**Screenshots**
![2019-10-16 14-07-15 2019-10-16 14_08_01](https://user-images.githubusercontent.com/26643843/6

[2019-10-16 05:24] iamchanii commented on #376
If you need a codesandbox to reproduce this issue, I will be, but I have no time currently. please give me some days 🙏thanks!

[2019-10-16 05:51] bluebill1049 commented on #376
thanks @iamchanii no worries thanks for the detailed issue report. @stramel looks like we still having an issue with FormContext, could you please assist?

[2019-10-16 05:59] subhendukundu opened #377 "Checkbox group, if registered the required to true, at least one input required?"
**Is your feature request related to a problem? Please describe.**
I am quite not sure if this is possible with the current version we have if we have it already how do I achieve it?

**Describe the solution you'd like**
So the idea is to have a group of checkboxes where at least one checked it required, right now I am passing `register({ required: true })` to all of my checkboxes, which kind of r

[2019-10-16 06:03] bluebill1049 commented on #377
Hey @subhendukundu thanks for the detailed issue report and codesandbox. I believe you can use `validate` function and combine with `watch `

[2019-10-16 06:03] zazagag commented on #258
@bluebill1049 thanks for reply. In our case we have to set errors dynamically through `setError` and, if I understood it right, it is impossible now to set several errors at the same time. So I'd like to know do you have any plan to add this functionality?

[2019-10-16 06:07] subhendukundu commented on #377
Sure, Thanks for confirming. Yes, we could make it work. That's why I put the bug as a feature request, do you think it should work as I described by default or additional props?

[2019-10-16 06:17] bluebill1049 commented on #258
@zazagag return multiple errors it's on my todo list, but I don't think it's on my priority list. Honestly, I would stick with `setError()` for now, you can set multiple different errors too.

[code]

[2019-10-16 06:19] bluebill1049 commented on #377
👍 it should work by default, you don't need additional props. I think i had an example somewhere but lost it...

[2019-10-16 06:27] zazagag commented on #258
Yeah, but there is only one registered error in your example. I am about:
[code]
Anyway thanks.

[2019-10-16 06:31] DarkSouls101 commented on #258
Yea do that for now, thanks

[2019-10-16 06:34] bluebill1049 commented on #258
Yes @zazagag until we have a proper solution, plz do that for now

[2019-10-16 06:57] bluebill1049 commented on #377
When I said working as default means use validate and watch functions.

[2019-10-16 07:00] bluebill1049 commented on #377
Wait, why u have different names? If u want to just check 1 of them checked then u should name them the same.

[2019-10-16 07:02] bluebill1049 commented on #377
If u want checked with different name then u can use validate plus watch.

[2019-10-16 07:15] subhendukundu commented on #377
I added the same name in the example, still, it is asking to check all the input check.

[2019-10-16 07:20] bluebill1049 commented on #377
[code]

if you only need one of them, just assign one. I will update the doc about this.

[2019-10-16 07:24] subhendukundu commented on #377
Umm, I meant, at least one of them to be checked. What I meant is something like http://jsfiddle.net/qyE97/

[2019-10-16 07:36] bluebill1049 commented on #377
sorry about the confusion... check issue on mobile doesn't help... i will post a codesandbox soon

[2019-10-16 08:12] bluebill1049 commented on #377
https://codesandbox.io/s/react-hook-form-form-context-5kmgh

[2019-10-16 09:06] timotgl commented on #375
Thanks @waynebloss and @bluebill1049 using `useEffect` with `reset` or `setValue` inside worked, as well as `defaultValues`. The latter was what I was actually looking for I think.

[2019-10-16 09:06] #375 closed

[2019-10-16 09:08] bluebill1049 commented on #375
fantasy @timotgl 👍

[2019-10-16 09:09] bluebill1049 commented on #375
by the way, you can join https://spectrum.chat/react-hook-form sometimes the community will reply your questions quicker too :)

[2019-10-16 09:42] bluebill1049 commented on #373
`required: true` works: https://codesandbox.io/s/weathered-microservice-whh8y-to-delete-whh8y

[2019-10-16 09:54] subhendukundu commented on #377
Thanks, That works! :)

[2019-10-16 09:54] #377 closed

[2019-10-16 09:55] bluebill1049 commented on #377
no worries @subhendukundu 👍

[2019-10-16 10:04] bluebill1049 commented on #377
btw next time usage related question, you can post in our spectrum channel too :)

[2019-10-16 13:37] waynebloss commented on #373
@bluebill1049 OK, here is the bug - it doesn't work when you set `type: "custom"`.

https://codesandbox.io/s/weathered-microservice-whh8y-to-delete-zugnl

[2019-10-16 15:57] stramel commented on #376
I can take a look but a codesandbox would make it a lot easier to figure out.

[2019-10-16 20:30] bluebill1049 commented on #369
thanks @barrymay

[2019-10-16 20:31] bluebill1049 commented on #376
yea @stramel let's wait for a codesandbox :)

[2019-10-16 20:31] #374 closed

[2019-10-16 20:31] bluebill1049 commented on #373
oh! thanks @waynebloss i will patch that soon.

[2019-10-16 21:13] #373 closed

[2019-10-16 21:14] bluebill1049 commented on #373
patched `react-hook-form@3.24.1-beta.2` thanks @waynebloss

[2019-10-16 21:14] bluebill1049 commented on #373
i will release this soon, after we solve the type issue with react native

[2019-10-16 21:15] bluebill1049 commented on #370
@BatuhanW any update on this issue? is validate function works for you?

[2019-10-16 22:23] stramel opened #379 "Should `handleSubmit` add defaultValues that were not registered?"
I'm currently using `defaultValues` as a quick way to throw together some data that I want on the submission but not actually in the form. I was a bit surprised when it wasn't there.

I looked through the code and it appears we are only putting data in for "registered fields". My question is should we just pass through any data for "non-registered fields" if it exists?

@bluebill1049 @barrymay

[2019-10-16 22:32] bluebill1049 commented on #379
I think I prefer input to get registered.

[2019-10-16 22:35] stramel commented on #379
My example is

[code]

[code]

I expected `onSubmitCallback` to be called with:

[code]

[2019-10-16 22:40] bluebill1049 commented on #379
If data coming from external, I think it make sense to manually aggregate them.
I think `defaultValues` service its purpose for inputs correctly right now.

[2019-10-16 22:44] #379 closed

[2019-10-17 00:50] zeckdude opened #380 "Can't get register to work on ref for Material UI Select"
**Describe the bug**
I am trying to use the `register()` method on the `ref` prop on the `Select` component for Material UI. According to their docs, the `ref` prop gets passed to the root element, but when I change the select option, it doesn't change visually and when I then hit the submit button, it consoles out all the form values which doesn't include the select value.

**To Reproduce**
https

[2019-10-17 01:06] bluebill1049 commented on #380
hey @zeckdude thanks for the detailed issue report. (really helpful) so the problem is material UI not expose the input ref, rather than a `div`. I did a quick console.log and this is what it returns

<img width="538" alt="Screen Shot 2019-10-17 at 12 04 03 pm" src="https://user-images.githubusercontent.com/10513364/66969679-3be45c80-f0d6-11e9-918a-73ab12a58953.png">

It's pretty sad material UI i

[2019-10-17 01:15] iamchanii commented on #376
I try to reproduce this issue in codesandbox, finally I have see what is a mistake as I made. as I told in main text, I made a custom hook to set errors from redux state if api request failed. yes, it cause this issue.

it lost its type even I set a generic type for original `useForm` hooks. so I think I have to set return type to custom hook.

[code]

for solve this problem, I need the interface(

[2019-10-17 01:15] #376 closed

[2019-10-17 01:34] bluebill1049 commented on #376
thanks, @iamchanii 👍 and @stramel to follow up this issue ❤️

[2019-10-17 02:42] jbranchaud opened #382 "Use cases for unregister function"
I'm trying to understand what the purpose is behind the [`unregister`](https://react-hook-form.com/api#unregister) function. What are some use cases for it?

I see this example in the docs, but I'm don't understand practically why you would want to do this.

[code]

[2019-10-17 02:48] bluebill1049 commented on #382
To be honest, it's not that common...

one use case would be if you want to conditionally unregister a field, so it won't be part of the submit result.

[2019-10-17 02:53] barrymay commented on #369
As noted in my comments to the PR, I don't see react-native being pulled into a project by yarn / npm because of this reference.  The react-native reference being used in the react-hook-form project is for internal typings only. (The PR is not to fix this, but as a tangential followup to it)

[2019-10-17 02:55] bluebill1049 commented on #369
I still believe it's a webpack build config issue, which is not related to this package. I will keep an eye on this issue, if more people report this as an issue I will remove react-native out from this library.

[2019-10-17 02:57] barrymay commented on #369
I agree - @kobber if you can post a reproducible example on GitHub or elsewhere so we can look, that would be helpful

[2019-10-17 03:02] jbranchaud commented on #382
That makes sense, I was thinking about that use case.

For instance, consider a "how did you hear about us?" field with a few options including "other". If the user selects "other", then you'd reveal and register a text input for specifying the "other". If the user then selects a different value from the drop down, then you'd hide the text input and _unregister_ it. As a result, the `otherInput` w

[2019-10-17 03:07] bluebill1049 commented on #382
Yeah, make sense, but there is an easier approach.

`{isOther && <Input ref={register} />}`

when `isOther` turns to `false`, it gets unregistered automatically.

I guess `unregister` is when you want to manually/conditionally remove data from the form. like i said most of the time you don't need to use it.

[2019-10-17 03:14] bluebill1049 commented on #382
if you pay attention, I purposely to exclude unregister from the API side menu on the website as well. cause most of the time you don't need it :)

[2019-10-17 03:19] bopfer commented on #369
For what it's worth.  I am seeing the same issue in my web-only project and I have held off on upgrading to 3.24.0 for now:

[code]

Tomorrow I will see if I can create a reproducible example.

[2019-10-17 03:21] bluebill1049 commented on #369
hmm ok, @bopfer thanks for the update. looks like we may need to remove `react-native`...

[2019-10-17 03:37] zeckdude commented on #380
Hi @bluebill1049! First of all, I love the work you've done with `react-hook-form`. It's pretty easy to follow and full of features. All of the code samples in code and code sandbox links are super helpful! And your documentation is absolutely stunning. That is some sexy documentation! I want to frame it and hang it on my wall lol!

I don't have much of an opinion on controlled vs uncontrolled for

[2019-10-17 03:45] bluebill1049 commented on #380
hey @zeckdude thank you very much for your kind words! ❤️

yes, I think controlled component have been giving a lot of love (mainstream), but we miss the benefits of uncontrolled inputs, skip re-rendering, faster mount and just cheaper to run things uncontrolled. off course, there are benefits using controlled too :) I want to give developers the best performance and experience which they deserve

[2019-10-17 04:13] waynebloss commented on #380
All the elements of controlled mode are there with `getValues()` and `setValue()`. `errors` and validation from `useForm` work as well, as should `watch`.

See
- https://codesandbox.io/s/vigorous-jones-pyee5
- via https://github.com/react-hook-form/react-hook-form/issues/373#issuecomment-542311522

I am thinking that without `ref`, the only thing you might lose will be `formState.touched`. I gener

[2019-10-17 04:17] bluebill1049 commented on #380
@waynebloss that would be really nice. I am more than happy to include them on the website to help others.

`setValue` do update `dirty` and `touched`

[2019-10-17 06:22] bluebill1049 commented on #382
going to close this, thanks for updating the doc as well :)

[2019-10-17 06:22] #382 closed

[2019-10-17 06:23] bluebill1049 commented on #370
closing this issue, feel free to re-open or leave questions.

[2019-10-17 09:09] BatuhanW commented on #370
Hello @bluebill1049,

Since it is being triggered with `every` keystroke, I don't want to do request with every keystroke. To avoid this, I put this server request in a timeout, I'm keeping timeout id in the state and clearing as user keeps typing. Once user stop typing, I send request.

However, it's not possible to access state inside `validate` function. This is why I have to use it on `onChang

[2019-10-17 09:13] bluebill1049 commented on #370
hey @BatuhanW

1. you can throttle the request by debounce/throttle.
2. you can access state inside `validate` function by hoist a variable outside React component, or use `useRef`. If your state information is inside another input, then you can use `watch()` as well

[2019-10-17 09:17] BatuhanW commented on #370
throttle/debounce doesn't fix my issue, because they make requests eventually.
@bluebill1049 My quick solution is to prevent submitting form;

[code]

But I will give a shot to useRef or hoisting variable.

But still can't understand tho, why do the errors being reset onSubmit, isn't it something bad?

[2019-10-17 09:19] BatuhanW commented on #370
Thanks for the quick responses and great library btw. @bluebill1049

[2019-10-17 09:25] bluebill1049 commented on #370
@BatuhanW thanks, it's not been reset, because your input is not returned any error during submit.

each input will go through all valuations rule, and your input doesn't have any error return by the input. that's why I suggested using `validate`.

why not set the mode to `onSubmit`? so validation is not triggered during input change?

[2019-10-17 09:32] bluebill1049 commented on #370
let's follow up on your question/progress in the spectrum. https://spectrum.chat/react-hook-form

[2019-10-17 09:32] #370 closed

[2019-10-17 13:14] barrymay commented on #369
@bluebill1049 on further looking, I can't figure out why my environment isn't complaining, but @bopfer  and @waynebloss are right.

The handleSubmit is now dependent on the ReactNative type injected in the project, and for some reason, my environment is ignoring it and loosing the typing around the returned function, just expecting an any.

It would likely need some refactoring to get this exactly

[2019-10-17 13:19] barrymay commented on #369
(for all I know, it may be a difference between yarn and npm - I use yarn myself)

[2019-10-17 16:04] barrymay commented on #369
ah, thanks! - generally speaking I always turn skipLibCheck false so you don't get impacted by lib problems (happens too often) ;). Still good to raise

[2019-10-17 17:30] dpw1 opened #384 "Form Context + React-Autosuggest not working: user has to type twice for the character to show up"
**Describe the bug**
Whenever using React Hook Form with [react-autosuggest](https://github.com/moroshko/react-autosuggest) the first key stroke is not read.

**To Reproduce**
Steps to reproduce the behavior:
1. Access the [codesandbox example](https://codesandbox.io/s/react-hook-form-form-context-mrusg);
2. At the "EAN" field just type "123".
3. You will notice the "1" will not show up.

PS: Upon

[2019-10-17 20:04] zeckdude opened #385 "isValid is `true` on page load but it should be `false`"
**Describe the bug**
When the component mounts, I would expect the `isDirty` property to be false, since none of the required fields have been filled out yet. It doesn't seem to work.

**To Reproduce**
[code]

**Codesandbox link**
https://stackblitz.com/edit/react-hook-form-mui-select

**Expected behavior**
I would expect the `isValid` flag to be `false` until all the validation has been met.

**S

[2019-10-17 20:40] #380 closed

[2019-10-17 20:42] bluebill1049 commented on #385
Thanks for the detailed issue report :)

you are on `onSumbit` mode, i don't `isValid` is that useful for submit mode. it's rather useful for onBlur and onChage.

[2019-10-17 20:44] bluebill1049 commented on #384
https://react-hook-form.com/faq

Why is first keystroke is not working?

The reason is that you are probably using `value` instead of `defaultValue`

[2019-10-17 20:55] zeckdude commented on #385
Ah perfect! That's what I was looking for. Makes perfect sense. Thanks!

This is what I was missing:

[code]

[2019-10-17 20:55] #385 closed

[2019-10-17 20:55] bluebill1049 commented on #385
all good :)

[2019-10-18 04:48] bluebill1049 commented on #369
@bopfer could you please help test out this version `3.24.1-beta.4`?

[2019-10-18 05:25] bopfer commented on #369
Looks good! No more `react-native` errors.

[2019-10-18 05:52] bluebill1049 commented on #369
lovely going to publish it now @bopfer thanks

[2019-10-18 05:55] #369 closed

[2019-10-18 07:37] bluebill1049 commented on #298
Sure we will improve on it in the following patch.

[2019-10-18 07:38] bluebill1049 commented on #298
However it need to be default to false. Because you aren’t certain it’s valid just yet

[2019-10-18 11:58] MinaAmrouche opened #390 "Cannot remove a value from an index in a fields array"
Hi!

I'm trying to remove a specific field in a fields array and I went through all the related issues but I couldn't find the right solution.
Whatever the index I try to remove, it always removes the last element, even with a setValue supposed to update the fields correctly.

Here is a sandbox that represents pretty much what I'm trying to do:
https://codesandbox.io/s/react-hook-form-array-field-

[2019-10-18 12:08] bluebill1049 commented on #390
after removing, you still render the item according to your index.

`friends.map((_, index)`

[2019-10-18 12:19] MinaAmrouche commented on #390
What should I do instead ?

[2019-10-18 12:21] bluebill1049 commented on #390
`[{ index: 1 }, { index: 2 }, { index: 3}]`

after remove...

`[{ index: 1 }, { index: 3}]`

should render the above index and item, instead `array` index

[2019-10-18 12:33] bluebill1049 commented on #390
no worries @MinaAmrouche :)

[2019-10-18 12:41] MinaAmrouche commented on #390
Just in case someone has the same problem, I think I know what I did wrong.
I used the index of the `map` callback to set the `key` props of the `fieldset` like that :
[code]
This doesn't work.

[2019-10-18 16:44] michaeltomasik commented on #26
How Can I test that values are changing? After using `jest` and  `mount` from `enzyme` it returns
` <input className="oldPassword" name="oldPassword" type="password" />` when usually I have value set and I can easily check what is rendered

[2019-10-18 21:49] bluebill1049 commented on #26
@michaelbirchler what do you try to test?

[2019-10-18 22:17] bluebill1049 commented on #384
closing as no follow-up, feel free to reopen and ask more questions here

[2019-10-18 22:17] #384 closed

[2019-10-18 22:36] bluebill1049 commented on #390
thanks @MinaAmrouche :)

[2019-10-18 22:37] bluebill1049 commented on #390
In fact, i will use your example to replace my codesandbox to help others.

[2019-10-20 04:15] zeckdude opened #393 "Need to memoize returned object from useForm()"
**Describe the bug**

[code]

Then I am using a `useEffect()` hook to run a series of function from the `useForm()` hook's returned object whenever a certain value changes:

[code]

This causes an infinite loop. I was reading up on it and it seems that I need to memoize the returned value from the `useForm()` call. I tried to do this:

[code]

My linter gives me this error though:

I get this erro

[2019-10-20 05:49] bluebill1049 commented on #393
thanks Chris for your detailed issue report! I will take a look at it :)

[2019-10-20 06:28] bluebill1049 commented on #393
all the methods are all memories, I think having `register/unregister` then `triggerValidation` maybe the root cause of this issue. i tried with the following and works.

[code]

[2019-10-20 06:47] zeckdude commented on #393
Thanks for looking into the issue @bluebill1049! Why would I need to separate `triggerValidation()` into a separate `useEffect()` call? That looks pretty confusing to any other engineer who works on the code later. Is there any way that can be fixed behind the scenes so the `triggerValidation() ` can remain in the same `useEffect()`?

Also I'm a bit concerned that the first `useEffect()` doesn't n

[2019-10-20 07:27] bluebill1049 commented on #393
True, I will investigate abit more on this, what's the reason behind trigger validation right after register?

[2019-10-20 07:38] zeckdude commented on #393
Thank you! That would be great! The reason I am calling `triggerValidation` right after register is because when I unregister all those fields and then register the new ones, the `isValid` flag doesn't automatically go back to `false`, so I need it to re-evaluate the form validation with the newly registered fields. I am using the `isValid` flag to determine if the submit button should be enabled/

[2019-10-20 07:41] bluebill1049 commented on #393
oh, I see, good point :)

[2019-10-20 08:03] bluebill1049 commented on #393
https://codesandbox.io/s/react-hook-form-trigger-validation-to-delete-1296w

will be patched in the next release

`3.24.2-beta.3` you can use this beta if impact your project

[2019-10-20 08:11] zeckdude commented on #393
Wow! You work fast! Works great! Thanks so much! 🎉 🥇 💯

[2019-10-20 08:11] #393 closed

[2019-10-21 07:06] chungweileong94 opened #395 "Chromium browser can't offer save password"
**Describe the bug**
Having filed like `email` & `password` cannot trigger the chrome offer save password prompt. The problem will only happen if I use the `handleSubmit` from the hook

**To Reproduce**
1. Create a form standard login form which includes "email" and "password" inputs
2. Fill-in the email and password then press the submit button

**Codesandbox link**
[Sample](https://codesandbox.i

[2019-10-21 07:08] bluebill1049 commented on #395
Are you sure this a bug from react hook form?

On 21 Oct 2019, at 6:06 pm, Chung Wei Leong <notifications@github.com<mailto:notifications@github.com>> wrote:

Describe the bug
Having filed like email & password cannot trigger the chrome offer save password prompt. The problem will only happen if I use the handleSubmit from the hook

To Reproduce

  1.  Create a form standard login form which inclu

[2019-10-21 07:13] chungweileong94 commented on #395
@bluebill1049 Hi, after some investigation, I pretty sure the bug is from `react-hook-form`. As it was working in the previous version (however I'm not really sure which one was it).

[2019-10-21 07:14] bluebill1049 commented on #395
Ok thanks @chungweileong94 I will try to reproduce and investigate.

[2019-10-21 07:24] bluebill1049 commented on #395
Can u do me a favor and try one of the old version? See if it’s working for you, consider you are using chromium as well, handle submit hasn’t touched for long.

[2019-10-21 07:37] bluebill1049 commented on #395
I don't think, this is ever worked, remove `handleSubmit` is doing a direct post to the page itself.

[2019-10-21 07:40] chungweileong94 commented on #395
@bluebill1049 I think I'm wrong, it might due to the recent few updates of my browser, it might be bug on chromium or something

[2019-10-21 07:52] bluebill1049 commented on #395
oh ok. no worries then. 👍

[2019-10-21 08:01] #395 closed

[2019-10-21 11:17] SanjuAppeonix opened #396 "map api response error to the form"
Is there any way to map the errors from api response other than the setError method?
For eg: my api response comes like

`{
    code: 400,
    response: {
        email: ["The email has already been taken."],
        phone: ["The phone has already been taken."]
    },
    status: "error"
}`

so how can i map these errors to the respective fields or how can it be done using the setError method.

[2019-10-21 11:30] bluebill1049 commented on #396
https://react-hook-form.com/api/#setError
[code]

what's on top of my head.

[2019-10-21 17:55] MinaAmrouche opened #397 "MUI RadioGroup - setValue() doesn't update the value"
Hello,

I use Material UI RadioGroup component and I would like to change the value of this radio input by using `setValue()` when another field in my form changes, but it doesn't seem to have any control on the value of RadioGroup.

Here is a simple example of what I'm trying to do:
https://codesandbox.io/s/withered-cloud-1xeq2

When the value of the first block changes, `setValue` is called to u

[2019-10-21 18:07] zsid opened #398 "Add Dynamic Fields to the form"
**Is your feature request related to a problem? Please describe.**
* I am struggling  to find an example with dynamics fields. For example, we have a todo list where a user can add/remove todos from the form.

**Describe the solution you'd like**
* I would like to have an example in the docs or in the examples folder, where we can add remove dynamic fields. Field array example is helpful but it do

[2019-10-21 20:36] bluebill1049 commented on #398
https://react-hook-form.com/advanced-usage#FieldArrays

I think this is what you after.

[2019-10-21 21:31] ldanet opened #399 "Conditional fields don't seem to be validated on submit"
**Describe the bug**
I made a form with two required fields: one field is always displayed, the other one is only displayed if you check the checkbox.
The second field doesn't validate on submit when it is displayed.

I thought I may have been doing something wrong but my code is pretty much the same as this example: https://github.com/react-hook-form/react-hook-form/blob/master/examples/condition

[2019-10-21 22:20] bluebill1049 commented on #399
You are missing register 🤟🏻

[2019-10-21 22:23] ldanet commented on #399
Sorry about that! 😬

[2019-10-21 22:23] #399 closed

[2019-10-21 22:25] bluebill1049 commented on #399
All good 🤗

[2019-10-21 22:47] bluebill1049 commented on #397
hey @michaelbirchler,

I think you probably want to post this issue at Material-UI. I don't think material-ui is updating the UI when `checked` set to `true`

[2019-10-22 09:00] chungweileong94 commented on #397
Hi @MinaAmrouche,

MUI works differently, the `checked` prop of the `<input/>` in the `RadioGroup` component can only trigger by the user interaction.

From my experience, in order to set the value of the radio group, you have to create a custom component with state to wrap around the RadioGroup component

[2019-10-22 09:18] bluebill1049 commented on #397
thanks @chungweileong94 for helping, I think MUI is not supporting uncontrolled components. that's the main reason, while react hook form is based on uncontrolled component to have better performance and trigger less re-rendering.

[2019-10-22 09:19] bluebill1049 commented on #396
Hope my answer helps. going to close this issue, feel free to leave more questions or reopen the issue.

[2019-10-22 09:19] #396 closed

[2019-10-22 09:37] MinaAmrouche commented on #397
Thank you for your answer @chungweileong94.
I've decided to create my own Radio component based on MUI style and it works just fine.
You're right @bluebill1049, MUI doesn't support uncontrolled components entirely.

[2019-10-22 09:43] bluebill1049 commented on #397
Good to hear @MinaAmrouche ❤️🙏🏻

[2019-10-22 09:45] karimja commented on #397
Mina

Would you mind sharing the code for your custom component. I am keen to use this library over formik but want to ensure that it will work with MUI.It would be good to see how you have developed the custom component

[2019-10-22 14:18] MinaAmrouche commented on #397
@karimja here is my previous example with the custom Radio component :
https://codesandbox.io/s/quiet-currying-2gy6l

I pretty much copied-paste the MUI Radio component so that it looks almost exactly the same and now I can do whatever I want with it.
I hope it helps.

I had problems with 2 MUI components so far:
* Select
* Radio
After spending a few hours trying to make them behave like I needed,

[2019-10-22 14:21] MinaAmrouche commented on #398
Is it what you are looking for : https://codesandbox.io/s/6j1760jkjk ?

[2019-10-22 15:10] chanm003 commented on #85
I tried using setValue and defaultvalues, but that does not update semantic-ui  Form.Input.   How would I do that?

On load, I want an "edit form" to present the existing item to the end user.

[2019-10-22 15:38] zsid commented on #398
@MinaAmrouche, yes this is what i would like to have. The issue with this one is that we now have two sources of truth which the form is tracking and our state as well. Also if you do the following:

1. Add three friends, filling in all of the fields
2. Delete your second entry
3. Enter a new friend and fill in the details.
4. Press submit - you will see that our form array has 4 values with one o

[2019-10-22 19:59] bluebill1049 commented on #85
@chanm003 can you share a codesandbox? most likely semantic-ui doesn't support uncontrolled components.

[2019-10-22 20:29] chanm003 commented on #85
@bluebill1049

Thanks for following up.  I figured it out.   At least for semantic-ui-react's Form.Input and Form.Checkbox components, which have a defaultValue and defaultChecked properties respectively.

[2019-10-22 20:30] bluebill1049 commented on #85
nice! good to hear @chanm003

[2019-10-22 21:54] bluebill1049 commented on #398
For the null value, you can easily filter them out.

[2019-10-23 04:35] johncalvinroberts commented on #390
There's one issue with this approach, which is that it removing an index will put an `undefined` entry in the array, at the removed index, when the values are returned in `onSubmit` or `getValues`.

<img width="563" alt="Screen Shot 2019-10-23 at 12 32 44" src="https://user-images.githubusercontent.com/11850362/67357920-65e3c600-f591-11e9-9f3b-9a260fb5cfac.png">

FYI. Your codesandbox demo helped

[2019-10-23 04:53] bluebill1049 commented on #390
@johncalvinroberts do a filter(Boolean) should removes it

[2019-10-23 08:08] zsid commented on #398
Thanks for the responses. So to conclude the end result is the same as my alternative and there are no other options - you will need to have another state in your component to track the dynamic entires and not having one source of truth for the state of your data.

I will close the issue. 😄

[2019-10-23 08:08] #398 closed

[2019-10-23 08:13] bluebill1049 commented on #398
I am pretty sure you can have a single source of truth, it's matter of how you structure your data. you can use `uuid` to generate a key for each of your object.

`[{ id: uuid() }, { id: uuid() }]`

and you maintain that array of objects. I think its worth to give it a try.

[2019-10-23 10:33] bluebill1049 commented on #397
going to close this issue @karimja feel free to continue the discussion in here tho. thanks for your help @MinaAmrouche <3

[2019-10-23 10:33] #397 closed

[2019-10-23 13:05] AlexeyMatskevich opened #404 "Validation doesn't work with material-ui without click submit"
When I touch the field with validation `register({ required: true})`, interactive errors are not displayed until I click the button.

**To Reproduce**
Steps to reproduce the behavior:
1. Touch email field ( add symbol then delete)

**Expected:**
Trigger a validation error.

**Observe:**
Validation error in not triggered

[sanbox](https://codesandbox.io/s/react-hook-form-custom-input-zn4i7)

**Desk

[2019-10-23 13:36] bopfer commented on #404
The default `mode` is `onSubmit`.  Try changing the mode to `onChange`:

[code]

[2019-10-23 13:51] AlexeyMatskevich commented on #404
Thank you @bopfer , I looked at the documentation for a long time and did not notice this part.

[2019-10-23 13:51] #404 closed

[2019-10-23 22:45] ldanet opened #405 "[Question] How to make a conditional input without a ref validate only when displayed?"
Hi, it's me again 👋

I have a form where I'm using an input from a library that only exposes a few props, including an `onChange` prop which gives me an object I use for validation. I don't have access to a meaningful ref or much else.
The issue arises when the field is displayed then hidden, the validation shouldn't happen anymore but it still does.

I tried to recreate something similar on Codes

[2019-10-23 22:49] bluebill1049 commented on #405
hey @ldanet,

why not bake `unregister` into your custom field? during `useEffect` return? so it will get unregistered automatically when removed from the render tree.

[2019-10-23 23:11] ldanet commented on #405
Thank's for the spectrum link!
Let's continue there. https://spectrum.chat/react-hook-form/help/how-to-make-a-conditional-input-without-a-ref-validate-only-when-displayed~c4638626-8472-45c4-ab64-2d55bfe9a180

[2019-10-23 23:29] bluebill1049 commented on #405
yea sure.

[2019-10-24 00:07] bluebill1049 commented on #405
Here is what I meant: https://codesandbox.io/s/react-hook-fom-unregister-controlled-component-hu990

I will write another section under advance page on the website soon, so more developers can just read from there and solve the problem.

[2019-10-24 00:28] bluebill1049 commented on #405
we resolved the issue :) closing

[2019-10-24 00:28] #405 closed

[2019-10-24 02:33] bluebill1049 commented on #405
FYI: updated the website too
https://react-hook-form.com/advanced-usage#ConditionalControlledComponent

[2019-10-24 04:25] johncalvinroberts opened #406 "`unregister` doesn't update formState to `dirty: true`"
**Describe the bug**
When calling `unregister`, the `formState` `dirty` field doesn't get updated to `true`.  Consider the scenario where `useForm` is used on an `edit` view, and using `defaultValues`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form using `react-hook-form` with defaultValues `{name: 'hi', thing2: 'hey'}`
2. Call `unregister('hey')` (before editing)
3. Formstate

[2019-10-24 04:42] bluebill1049 commented on #406
hey @johncalvinroberts

thanks for your detailed issue report.

1) why are you calling `unregister` manually? when an input get removed, it will get automatically removed from react hook form (calling unregister)

2) I don't think calling `unregister` should trigger `dirty` to true, at least from my understanding.
Dirty true is if the user has already interacted with the form, which means unless y

[2019-10-24 04:48] johncalvinroberts commented on #406
This would be the user interacting with the form IMO, because a value has been updated (the `friends` array is dirty.) It may not be interacting directly with the DOM input element, sure, but I think the case still needs to be addressed. Or would be nice if it was addressed.

Great library btw :) @bluebill1049 you are a true hero

[2019-10-24 04:53] bluebill1049 commented on #406
Thanks, @johncalvinroberts for your kind words, lovely encouragement <3. it's a tricky one because let's think about it for a second, if `unregister` should manipulate `dirty`, then it probably should set `dirty` to false, because you could treat it as reset the `form`.

I do have a possible solution in my head if that's something you are stuck with:

we can use `setValue()` to force dirty to be `

[2019-10-24 05:20] bluebill1049 commented on #406
happy for other users' input on this one as well :)

[2019-10-24 15:05] mlarcher opened #408 "Use Joi for schema validation"
Would it be possible to somehow allow the use of Joi as a validationSchema ?
Right now it seems to me that only Yup is supported :-/
Why not offer a hook to provide a validation function that would receive the raw data and be expected to return a given format to react-hook-form, using any validation tool it wants ?
What do you think ?

[2019-10-24 15:08] JeromeDeLeon commented on #406
Is it not possible to consider toggling conditional fields, deletion of fields through unregister as form manipulation thus making form dirty? It means if we changed the state of the form in any way, it is considered dirty.

[2019-10-24 18:49] jsteiner opened #409 "getValues doesn't use nest flag for defaultValues"
**Describe the bug**
For https://github.com/react-hook-form/react-hook-form/issues/222 (PR https://github.com/react-hook-form/react-hook-form/pull/223), we added the ability to return `defaultValue` from `getValue` before the form is modified. When trying to use the `nest: true` option, it correctly nests _after_ the form was modified, but not before (when falling back to `defaultValue`).

**To Re

[2019-10-24 19:56] bluebill1049 commented on #408
@mlarcher it is on the roadmap https://github.com/react-hook-form/react-hook-form/projects/1 I just haven't got time to work on it just yet.

[2019-10-24 20:00] bluebill1049 commented on #408
that's a good idea, but I do afraid this will lead developers to write more code and config. but i am happy to do a quick investigation on it and that probably will be rolling into v4 because its a breaking change.

[2019-10-24 20:02] mlarcher commented on #408
That's great news @bluebill1049 🙂
Any ETA on the matter ?

[2019-10-24 20:24] #409 closed

[2019-10-24 20:26] bluebill1049 commented on #408
I hope I can deliver it next month :)

[2019-10-24 20:30] jsteiner opened #411 "When registering a field manually, defaultValues no longer prefill"
**Describe the bug**
Starting with react-hook-form version `3.24.2-beta.2`, when registering a field manually (instead of inside a ref), `defaultValues` are no longer filled.

**To Reproduce**
1. Using the codesandbox below, in package.json change the `react-hook-form` version from `3.24.2-beta.1` to `3.24.2-beta.2`.
2. Note that the default value of "josh" is no longer prefilled

**Codesandbox li

[2019-10-24 20:32] bluebill1049 commented on #411
hmmm thanks @jsteiner looks like we broke something in the last release...

[2019-10-24 20:33] bluebill1049 commented on #411
any chance you can help investigate, i gotta get ready for work, i will take a look when i am in the office too.

[2019-10-24 20:36] bluebill1049 commented on #411
hmmm just took a closer look
[code]
don't think we were supposed to have this syntax?

[2019-10-24 20:41] jsteiner commented on #411
Hmm. That may be internal (though does seem to be documented in the types there). I was trying to work around an issue with `react-hook-form` not working with [a separate library](https://github.com/buildo/react-autosize-textarea) when passed directly to `ref`.

Agreed that commit looks like the culprit, since it'd ignore the ref in that case.

[2019-10-24 22:03] bluebill1049 commented on #406
I agree with you @JeromeDeLeon . Thanks for your feedback as well

[2019-10-24 22:31] bluebill1049 commented on #411
[code]
what about this?

[2019-10-24 22:40] barrymay commented on #411
'boo' on me :)  I'll make a fix tonight and will add a test to match :)

[2019-10-24 22:42] barrymay commented on #411
that said, the workaround you mentioned @bluebill1049 should definitely but it's potentially a  bit ugly to read...

[2019-10-24 22:57] bluebill1049 commented on #411
thanks @barrymay

[2019-10-25 00:01] JeromeDeLeon commented on #408
I have been cracking this on my mind since I read the `Joi` feature on the roadmap. I've seen libraries using `Yup` or only one validator but its limiting the power of `validationSchema`. Would be better if we provided an interface for any validation adapter.

[2019-10-25 00:26] bluebill1049 commented on #408
yes I totally agree @JeromeDeLeon , you probably need other validation libraries to work with us as well. At the moment, I think we are in a position to make it work for them instead of the other way around. However, we probably can figure out something generic, but it's probably not a small task and need good planning.

[2019-10-25 03:17] bluebill1049 commented on #406
going to close this issue, for now, feel free to add your opinion or thoughts on this issue.

[2019-10-25 03:17] #406 closed

[2019-10-25 04:06] barrymay commented on #411
Hi @jsteiner - upon reviewing this,  I'm going to state this is not a bug but a improved clarity in implementation.

Your code in your sandbox is this
[code]
but what that's doing is setting a new name property in the second param to an *unwanted*   variable, since name is never defined as a variable elsewhere in that code (that's the code sandbox redline is complaining about).

(What's worse in t

[2019-10-25 04:07] bluebill1049 commented on #411
i like what you suggested :) @barrymay

[2019-10-25 04:08] barrymay commented on #411
thx - btw, the reason the old code didn't have this issue was because we just ignored whatever was there in the second param - now we do care about it.

[2019-10-25 04:11] bluebill1049 commented on #411
cool thanks @barrymay

[2019-10-25 07:57] hitbear518 commented on #330
so for now what is the proper way to set error message when using yup?

[2019-10-25 08:09] bluebill1049 commented on #330
@hitbear518 you should be fine just by using yup

[2019-10-25 09:49] hitbear518 commented on #330
sorry for my ambiguity, I mean the official example is
[code]
but if I want to set error message like
[code]
it doesn't work for now right?

[2019-10-25 09:53] bluebill1049 commented on #330
can you produce a codesandbox with above? we are returning errors which produced by `yup`?

[2019-10-25 10:19] hitbear518 commented on #330
https://codesandbox.io/s/github/hitbear518/react-hook-form-required-not-appear-reproduce

so I think my problem is similar to iamchanii, the error message in .positive('age must > 0') do work,
but .required('age is required') never appear.
instead the error will be `
age must be a "number` type, but the final value was: `NaN` (cast from the value `""`)"

iamchanii is suggesting set abortEarly to f

[2019-10-25 10:26] bluebill1049 commented on #330
hey @hitbear518 `validationSchemaOption: { abortEarly: false }`, is set to `false` by default. hmmm also that's what's returned by yup in the error object. you want to post this question to `Yup`?

`await validationSchema.validate(data, validationSchemaOption)`

above is how react hook form validates.

[2019-10-25 10:39] bluebill1049 commented on #330
hey @hitbear518 looking close to the code, i maybe above to improve on errors return. i will keep you updated.

[2019-10-25 10:43] bluebill1049 commented on #330
I think i will fix it by always return the first errors in the return list.

[2019-10-25 10:49] bluebill1049 commented on #330
ok look at this codesandbox @hitbear518
https://codesandbox.io/s/react-hook-form-required-not-appear-reproduce-9xzxn
this is from yup, there is nothing i can do about it...

[2019-10-25 10:56] #330 closed

[2019-10-25 11:10] hitbear518 commented on #330
sorry for late reply, I think you are right, the wrong message is because yup will receive empty string instead of undefined from input.
I think I have to find a way around or try to understand yup more.

[2019-10-25 11:19] bluebill1049 commented on #330
no worries @hitbear518

[2019-10-25 14:23] jsteiner commented on #411
Nice one @barrymay.

Not defining `name` there was a mistake when transferring to the codesandbox, but removing `name` from the passed options does work. Thanks!

And thanks @bluebill1049 for being so on top of things!

[2019-10-25 18:14] myerscw commented on #390
There's another issue with the undefined value that I don't think can be addressed in user code. When using the `validationSchema` option with yup, undefined values in an array cause an error to throw inside yup, which boils up to the `parseErrorSchema` method where the error will say `r is undefined`.

Here's a [codesandbox](https://codesandbox.io/s/dark-cdn-j6klo?fontsize=14) which adds to the s

[2019-10-25 19:49] bluebill1049 commented on #408
closing this issue now, we will release Joi validation schema support in the future release

[2019-10-25 19:49] #408 closed

[2019-10-25 21:36] bluebill1049 commented on #390
hey @myerscw, thanks for the detailed issue report and codesandbox. it helps a lot. Personally I don't think I should do too much `magic` inside react hook form. would be better to investigate a way to get around this issue in `yup`, I am not an expert on that :( also how can i reproduce this `r is undefined` error, i couldn't see that in your codesandbox.

[2019-10-25 22:01] bluebill1049 commented on #390
@myerscw I had a closer look, looks like it's a bug with `yup`. would you like to send them an issue report?
<img width="730" alt="Screen Shot 2019-10-26 at 8 52 04 am" src="https://user-images.githubusercontent.com/10513364/67607144-3b7f4c00-f7cf-11e9-8974-08f8ca9930c0.png">

[2019-10-28 06:52] hitbear518 opened #422 "defaultValues with fetch breaks after upgrade to 3.26.2"
**Describe the bug**
After upgrade to 3.26.2, use defaultValues withed fetched data does not work any more

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Codesandbox link**
https://codesandbox.io/s/github/hitbear518/react-hook-form-defaultvalues-break

**Expected behavior**
defaultValues should update input when fetched

[2019-10-28 07:29] bluebill1049 commented on #422
hey @hitbear518 ,

I think you are doing it the wrong way, it was working for you on the previous version because react-hook-form was triggering re-rendering.  with the latest update, we are no longer trigger re-rendering at all for submit mode :).

[code]

[2019-10-28 07:34] hitbear518 commented on #422
that makes sense.
but since the api is 'useForm', I used to thought it was somewhat 'declarative', so got confused.

[2019-10-28 07:40] bluebill1049 commented on #422
yea. you can read more on reset here: https://react-hook-form.com/api#reset I have documented with an example as well. The new update is good, we can have 0 re-render now :)

[2019-10-28 08:26] LukasVerstraete opened #424 "Build error with React import in useForm.d.ts"
**Describe the bug**
We are having build errors in our project when using the latest version of react-hook-form.
ERROR in [at-loader] ./node_modules/react-hook-form/dist/useForm.d.ts:1:8
TS1192: Module '"{path to node_modules}/node_modules/@types/react/index"' has no default export.

I think any project using typescript will have this error during build and that the issue has something to do with

[2019-10-28 08:39] bluebill1049 commented on #424
thanks, @LukasVerstraete can you test out this beta, see if it's fixing your issue?

`3.26.3-beta.1`

[2019-10-28 08:43] #422 closed

[2019-10-28 09:09] LukasVerstraete commented on #424
Yes! This has fixed the issue. Thank you for the quick response.

[2019-10-28 09:12] bluebill1049 commented on #424
no worries, I will release the fix in the next patch. in the meantime, you can keep using this beta version.

[2019-10-28 09:16] bluebill1049 commented on #424
by the way please consider leaving a star to support this lib <3 👍

[2019-10-28 09:32] #424 closed

[2019-10-28 10:03] harobed opened #427 "I suggest to add « react-hook-form » vs « formik 2.0 » section in faqs"
Hi,

I suggest to add « react-hook-form » vs « [formik 2.0](https://www.npmjs.com/package/formik) » section in [faqs](https://react-hook-form.com/faqs).

Best regards,
Stéphane

[2019-10-28 10:04] bluebill1049 commented on #427
thanks @harobed I will update that tonight :) it's pretty much controlled vs uncontrolled and react hook form is purely build by hook too.

[2019-10-28 10:05] bluebill1049 commented on #427
actually I am going to leave my answer here and we can all contribute to the answer.

[2019-10-28 10:21] bluebill1049 commented on #427
**react-hook-form and Formik?**

First of all, both libs try to solve the same problem which is making build form experience easy and great. However, there are fundamental differences between the two, `react-hook-form `is built with uncontrolled input in mind and try to provide your form with the best performance with least re-render if possible. On top of that, react-hook-form is built by React H

[2019-10-28 10:21] bluebill1049 commented on #427
let me know what you guys think of the answer as well before I updated it on the website.

[2019-10-28 10:33] bluebill1049 commented on #427
What about the lib learning curve? IMHO react hook form is very easy to use because it's built by an average developer hahaha and tries to make simple for myself and others.

[2019-10-28 11:21] bluebill1049 commented on #427
@harobed you want to migrate this issue to the website repo? I am going to close it here for now, cause it's not an issue.

[2019-10-28 11:21] #427 closed

[2019-10-28 12:35] Skaronator commented on #427
You can actually move issues to other repos https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

[2019-10-28 13:23] myerscw commented on #390
@bluebill1049  I wasn't sure to post here or there. But it seems someone opened an issue [with yup already](https://github.com/jquense/yup/issues/676) based off the comments. Thanks!

[2019-10-28 16:27] myerscw commented on #390
@bluebill1049 Sorry, one last thing. Can you look at [this sandbox](https://codesandbox.io/s/yup-sparse-array-pgkuq)? I've copied over the `combinedFieldValues` functionality only into it to test with yup. The validation succeeds there. Is there something else at play within the `react-hook-form` that would have an effect on the data being passed?

[2019-10-28 20:28] bluebill1049 commented on #390
i will take a look at that @myerscw tonight

[2019-10-29 01:13] 18601673727 opened #428 "Prefilling form with complex data"
### Description:
Hi @bluebill1049,

I've encountered an issue while trying to mutate the dynamically generated fields, giving this [code](https://codesandbox.io/embed/react-hook-form-array-fields-v1jk7) which based upon this #371. It turns out `setValue` is not properly updating the form or there's any better way to achieve?

### Steps to reproduce:
1. Open https://codesandbox.io/embed/react-hook-

[2019-10-29 02:02] allangomessl opened #429 "Set Values"
I'm with a problem when I want set values to form when data was loaded

ex:
[code]

my solutions is create a new function `setValues`

[2019-10-29 02:25] bluebill1049 commented on #429
hey @allangomessl try https://react-hook-form.com/api#reset

[2019-10-29 02:28] bluebill1049 commented on #428
hey @18601673727 , `setValue` doesn't support `object` at this stage, but you can compose a function to do what you want tho.

[2019-10-29 03:05] allangomessl commented on #429
thank you

[2019-10-29 03:05] #429 closed

[2019-10-29 11:20] davideddr opened #431 "mode onBlur not work in React Native"
Maybe is related to this issue #23 but in React Native version **"0.61.2"** when i change the mode to **"onBlur"** the form don't trigger the validation when i change the input focus.
I tried with the example in the documentation:
[code]

[2019-10-29 11:22] bluebill1049 commented on #431
<img width="922" alt="Screen Shot 2019-10-29 at 10 21 35 pm" src="https://user-images.githubusercontent.com/10513364/67762868-808ad300-fa9a-11e9-8c4c-df9198b3247d.png">

hey @davideddr for react native you have to attach onBlur manually.

[2019-10-29 11:23] bluebill1049 commented on #431
https://react-hook-form.com/api#setValue you can trigger validation while set value as well

[2019-10-29 11:49] davideddr commented on #431
I tried this in the example but the validation onBlur was not triggered.

Sorry, I didn't see the tooltip. 😅
I added onBlur prop in my TextInput and now it works:
[code]

[2019-10-29 11:49] #431 closed

[2019-10-29 14:56] portfolioris commented on #24
This would provide a great way to enable progressive enhancement. You use web standards, which will almost always work, even if loading or executing JS fails (or if users choose to disable JS). If it does execute, react-hook-form would take over, and apply custom validation instead. You set a `novalidate` attribute on the `<form>` tag by script, so the browsers knows you've taken over the validati

[2019-10-29 20:48] bluebill1049 commented on #428
by the way, have you tried to use `reset`https://react-hook-form.com/api/#reset

[2019-10-29 22:37] alfetopito opened #432 "Dynamically update validators"
**Describe the bug**
*Note:* Can't tell whether this is a bug or simply not supported.

Validators values are not updated dynamically.
Once the form is loaded, values set on the validators can't be updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-get-started-spyu1?fontsize=14
1. On the input field, insert a number over 1 and under 10
1.

[2019-10-29 22:47] bluebill1049 commented on #432
we do cache the register validation rules, you may want to switch into `validate` and `watch` function.

[2019-10-29 22:53] alfetopito commented on #432
@bluebill1049 thanks for the quick response!

By the way, I've tried using `validate`, and the outcome is the same https://codesandbox.io/s/react-hook-form-get-started-spyu1?fontsize=14

Unless you mean something different?

[2019-10-29 22:58] bluebill1049 commented on #432
[code]
try above

[2019-10-29 23:04] alfetopito commented on #432
That does indeed work!

Unfortunately, the source of the validation value in my case is coming from somewhere else, not another input  field.

I guess I could set that value to a hidden input, but that does not sound good at all.

[2019-10-29 23:18] bluebill1049 commented on #432
[code]
what about this? FYI: i have to use `useRef` for `useState` due to JS closure

[2019-10-29 23:27] alfetopito commented on #432
Oh right!
With a `ref` instead of a `prop` or `state` it works as a charm.

Thanks a lot for the help!

[2019-10-29 23:27] #432 closed

[2019-10-29 23:31] bluebill1049 commented on #432
lovely good to hear!

[2019-10-30 02:01] oxyii opened #433 "[React Native] Property 'Proxy' doesn't exist"
**Describe the bug**
Looks like PR #407 are breaking React Native support.

[2019-10-30 02:03] bluebill1049 commented on #433
Hmmmm, what’s your react native version? I did test with it.

[2019-10-30 02:06] oxyii commented on #433
@bluebill1049 "react-native": "0.61.2",

[2019-10-30 02:18] oxyii commented on #433
Yep. `v3.25` works fine

[2019-10-30 02:48] bluebill1049 commented on #433
Ok looks like a version problem

[2019-10-30 02:52] bluebill1049 commented on #433
Going to close this then :)

[2019-10-30 02:53] bluebill1049 commented on #433
If u r using old version, u gonna to need a proxy polyfill

[2019-10-30 02:55] oxyii commented on #433
@bluebill1049 Why closed? `v3.25` is last version of `react-hook-form` **before** merging #407. So since `v3.26` React Native support is really breaking.

[2019-10-30 03:01] bluebill1049 commented on #433
Oh sorry I got confused...

[2019-10-30 04:35] bluebill1049 commented on #433
can you please test out this version? `react-hook-form@3.26.3-beta.2`

[2019-10-30 05:09] 18601673727 commented on #428
@bluebill1049 , Thanks for the suggestion on `reset` but I had passing `useState` hook tuple down to the component tree in this case for now..

[2019-10-30 05:11] bluebill1049 commented on #428
maybe stick with setValue and wrap it up with a function for now, until we have a better solution for it and it's on the todo list for us.

[2019-10-30 05:13] 18601673727 commented on #428
Yea, I don't wanna use `reset` because I'm using it for #181 scenario as we speaked.

[2019-10-30 08:05] nshaikhinurov opened #434 "[Bug] onSubmit reValidateMode breaks watching form values"
**Describe the bug**
Watching is broken when the hook is used with `{reValidateMode: 'onSubmit'}`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Codesandbox](https://codesandbox.io/s/react-hook-form-watch-jz8rg)
2. Start typing to a text Input
4. See that no updates are logged to the console and the component does not rerender regardless of using `watch` method

**Codesandbox link**

[2019-10-30 09:36] omarkhatibco commented on #433
also is not working in IE11 due to usage of Proxy

[2019-10-30 09:52] omarkhatibco commented on #433
`react-hook-form@3.26.3-beta.2` is working on IE11.

[2019-10-30 09:56] bluebill1049 commented on #433
thanks @omarkhatibco

[2019-10-30 10:14] bluebill1049 commented on #434
it's been documented, try to refresh your cache.

[2019-10-30 10:17] bluebill1049 commented on #434
patch on `react-hook-form@3.26.3-beta.3`

[2019-10-30 10:18] bluebill1049 commented on #434
will be in the next patch

[2019-10-30 11:35] oxyii commented on #433
@bluebill1049 `v3.26.3-beta.2` works fine on React Native too. Tested on Android 8.1 and iOS 12.4.3, 10.3.3

[2019-10-30 11:40] bluebill1049 commented on #433
nice @oxyii I will patch and release it now :) thanks for testing.

[2019-10-30 11:41] #433 closed

[2019-10-30 12:06] oxyii commented on #433
I confirm `v3.26.3` works fine. Thank you!

[2019-10-30 12:09] bluebill1049 commented on #433
thank you too @oxyii for your help and report 👍

[2019-10-30 13:22] ericluwj opened #436 "Watch() inconsistent return data issue"
**Describe the bug**
Watching radio field doesn't result in rerender.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Codesandbox](https://codesandbox.io/s/react-hook-form-watch-m92p0)
2. Start clicking the radio buttons.
3. See that component doesn't rerender so no console log of `watchRole` happens
4. Uncomment `watchAll` statements and comment `watchRole` statements.
5. Start click

[2019-10-30 20:02] bluebill1049 commented on #436
thanks a lot @ericluwj i am patching this issue.

[2019-10-30 20:16] #434 closed

[2019-10-30 20:19] bluebill1049 commented on #428
i will close this issue for now but have improve setValue on the roadmap so please keep an eye on it.

https://github.com/react-hook-form/react-hook-form/projects/1

[2019-10-30 20:19] #428 closed

[2019-10-31 03:04] ashernguyen opened #437 "Question - Field validation based on other field value."
Thank you for the awesome work. Does `react-hook-form` support validating one field that based on the inputed value from other field in the same form ?

[2019-10-31 03:18] bluebill1049 commented on #437
hey @ashernguyen yes we do

`validate` function

I would recommend asking the question in here: https://spectrum.chat/react-hook-form

https://react-hook-form.com/api#register

cause sometimes even the community can help you out when I am away. :)

[2019-10-31 06:07] VuongVu opened #438 "Question - How to set initialValue for @material-ui/pickers."
Hi, i have a problem with` KeyboardDatePicker - @material-ui/pickers`.

This is my DatePicker Component:
[code]
And this is place i apply with hook-form:
[code]

When i init form. If i set `selectedDate` is `new Date('')`, the DatePicker have right initialValue inject from react-hook-from but it have error: `Invalid Date Format `and when i change date, it raise waring about `Uncontrolled input...`

[2019-10-31 07:17] bluebill1049 commented on #438
Please provide a codesandbox so we can reproduce easily and identify the solution.

[2019-10-31 07:24] VuongVu commented on #438
https://codesandbox.io/s/elated-cdn-0e354.

Plz check it out.

[2019-10-31 07:50] bluebill1049 commented on #438
thanks for the codesandbox, i think the problem is because material-ui/KeyboardDateTimePicker doesn't support uncontrolled components, hence the warning. you will have to handle the change separately and update the value with `setValue` method

[2019-10-31 08:34] VuongVu commented on #438
So i will pass a `value` and `onChange` function to my DatePicker component and use `setValue` in `onChange`.

[2019-10-31 08:36] nshaikhinurov commented on #436
I have found another bug. There is an inconsistent behavior between "string" and "object" syntaxes of `watch` arguments.

Additional info:
forked conditional fields example, used `react-hook-form@3.26.4`

How to reproduce:
1. Go to the [Sandbox](https://codesandbox.io/s/react-hook-form-conditional-fields-iwfd1)
2. Click to "Show" button, see `Object {Interests: undefined}` logged to a console rega

[2019-10-31 08:43] bluebill1049 commented on #438
correct @VuongVu let me know how did you go with it. btw you can use setValue to trigger validation as well (3rd argument)

[2019-10-31 08:47] bluebill1049 commented on #436
thanks @nshaikhinurov but it's not very clear on this issue.

[2019-10-31 08:48] bluebill1049 commented on #436
what's inconsistency? return data?

[2019-10-31 09:22] VuongVu commented on #438
It works but generates more code than the other case :D. Thank you for your support.

[2019-10-31 09:22] #438 closed

[2019-10-31 09:27] VuongVu commented on #438
yep, agree with you :smile:. Thanks for your hard work.

[2019-10-31 12:34] mr-bjerre commented on #296
As far as I can tell I am trying to achieve the same thing.

I want to create my own typescripted UI input components. However this doesn't work

[code]

Any help is much appreciated

[2019-10-31 22:03] ashernguyen commented on #437
hi @bluebill1049 , thank you for quick response. Please fix me if I am misunderstanding something here. From the API document, how can you get other field value from `validate` function. From my understanding, you only can get current `value` of the input field you want to validate. For example

[code]

[2019-10-31 22:05] bluebill1049 commented on #437
You can use getValues function

[2019-10-31 22:09] ashernguyen commented on #437
I found the answer from [here](https://spectrum.chat/react-hook-form/help/how-to-validate-a-field-depending-on-the-value-of-another-field~255ad6f6-1373-4944-a200-5d15daf06ff9?authed=true).  Thank you

[2019-10-31 22:09] #437 closed

[2019-11-01 05:56] nshaikhinurov commented on #436
Yup, now it's working as expected. Thanks @bluebill1049

[2019-11-01 06:27] #436 closed

[2019-11-01 16:14] MikeAmelung opened #440 "Yup schema re-validation does not remove error on dependent fields"
**Describe the bug**
When using .when() with yup, and reValidateMode is "onChange", only the field that is changed has its error removed, even if changing that field affects the validity of other fields

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Codesandbox](https://codesandbox.io/s/react-hook-form-validation-onchange-70qtf)
2. Click on 'Submit', both validation errors will appea

[2019-11-01 18:25] bstro opened #441 "Documentation: Typescript code example seems incorrect."
**Describe the bug**
In the [typescript documentation](https://react-hook-form.com/api/#TypeScript) section, the code example seems to be broken in ways that make it hard to understand the API for newcomers like myself.

Notice that in this line, `email` and `name` are destructured but not referenced elsewhere in the code example. `const onSubmit = handleSubmit(({ name, email }) => {}) // firstNam

[2019-11-01 21:20] bluebill1049 commented on #441
oops sorry loos like link to the wrong codesandbox...

[2019-11-01 21:23] bluebill1049 commented on #440
thanks, @MikeAmelung at the moment, we don't support validate dependent fields just yet. I will add that into the todo list tho.

[2019-11-02 00:18] bluebill1049 commented on #440
`react-hook-form@3.26.5-beta.2` lucky it was an easy patch, let me know if that resolves the issue. it will be released in the next patch.

[2019-11-02 00:41] sinnlosername opened #443 "setError types"
Hi.

I am using WebStorm as my IDE, which has support for typescript. It does show you a warning if you're using a value as an argument which does not match the functions signature. This happens for me when using the setError method. Is this a problem with your types or with the inspection of the IDE?

![screenshot](https://user-images.githubusercontent.com/17328331/68063506-e634c480-fd11-11e9-881

[2019-11-02 00:43] bluebill1049 commented on #443
lovely, I am a webstorm user as well:

<img width="331" alt="Screen Shot 2019-11-02 at 11 43 13 am" src="https://user-images.githubusercontent.com/10513364/68063534-01c9ba80-fd66-11e9-9162-017df43e4e45.png">

[2019-11-02 01:12] sinnlosername commented on #443
It seems as it only shows the warning when using normal javascript (but still with types completion). If I understand it correctly the type definition states that FieldName must be a key of FormValues, however when using normal javascript you can not define FormValues as it's a generic type, can you?

Test.js
[code]

[2019-11-02 01:28] bluebill1049 commented on #443
i think you are missing the type

`const {setError} = useForm<FormType>();

[2019-11-02 01:31] sinnlosername commented on #443
As I said, it's plain js, there are no generics. But I am not sure if you can possible fix that (haven't got that much knowledge about typescript). I also got a similar problem with handleSubmit, which expects a method returning void or Promise<void>, but you can't really get a Promise<void> without typescript.

[2019-11-02 01:45] bluebill1049 commented on #443
I am a little bit confused, are you using typescript or just pure JS? if you are using pure JS you don't need type and if it shows your warning/error then it's your IDE. If you are using typescript then you should provide types.

[2019-11-02 02:45] sinnlosername commented on #443
I am using pure js, but it still shows me if I offer the right types to your function, as typescript libraries quite commonly check the types supplied to their functions. I was just wondering why it's showing such an error if the types are correct, but I guess that's the lack of generics in pure js. As I said in my original question, I'm not really sure if it's a problem with the types or just the

[2019-11-02 03:11] bluebill1049 commented on #443
Yea I think it’s IDE related :) because I used both typescript and pure JS at work

[2019-11-02 05:29] bluebill1049 opened #445 "Register argument cache issue"
**Describe the bug**
I had to build a form with something like 25 fields, where some of them where dependent of others. The main problem I had was trying to validate field B against field A, because the register function only considers the value of the input itself.

(value) => value >0 || 'value should be greater than 0'

Of course you can pass it a second argument, and it will work.

(value, res

[2019-11-02 05:30] bluebill1049 commented on #445
test with `3.26.5-beta.3`

[2019-11-02 06:20] #443 closed

[2019-11-02 07:10] #445 closed

[2019-11-02 17:26] nboliver commented on #431
Using React Native, I am finding that `formState.isValid` only updates on blur when `mode: 'onBlur'` is set, even though this seems to contrary to what the docs suggest. Adding `onBlur` prop to the input can validate the input, but doesn't update the `formState`.  Is that the intended functionality?

[2019-11-02 18:53] muhamad-rizki opened #446 "[React Native] triggerValidation() not updating errors value on the same time"
**Describe the bug**
`<Button
        title="Submit"
        onPress={async () => {
          console.log('asdsasd', await triggerValidation())
          console.log('asdasdasd', errors);
      />`
after waiting triggerValidation() errors is not updated, after press for second time, it's now updated. But the field validation is fine, and input field can get the error message. maybe you can return

[2019-11-02 21:40] bluebill1049 commented on #431
Hey @nboliver , `mode` is only available to DOM API (i will imporve the doc website in the near future)
<img width="977" alt="Screen Shot 2019-11-03 at 8 38 13 am" src="https://user-images.githubusercontent.com/10513364/68077310-9b03da00-fe15-11e9-9e5b-aa829d9938dc.png">
. if you want to update `formState` during onChange, you can do `onChange={e => setValue('name', e.target.value, true)}`

[2019-11-02 21:53] bluebill1049 commented on #446
```<Button title="Submit" onPress={async () => { console.log('asdsasd', await triggerValidation()) console.log('asdasdasd', errors); />```

I think you should console log before the re-render.
[code]

[2019-11-02 22:11] MikeAmelung commented on #440
@bluebill1049 Looks good to me, thank you!

[2019-11-02 22:20] bluebill1049 commented on #440
fantastic @MikeAmelung thanks for double-checking, please consider star this lib if you find it useful too :) (stars help to grow this lib) 👅

[2019-11-02 22:20] bluebill1049 commented on #440
also, I will release the patch next week as well

[2019-11-03 06:29] muhamad-rizki commented on #446
sure but it will make function I tried to call multiple times called, what I tried to achieve here is something like this:
[code]

[2019-11-03 06:32] bluebill1049 commented on #446
[code]
what about `useEffect`?

[2019-11-03 07:11] muhamad-rizki commented on #446
ah I forgot about the useEffect, thanks for pointing it. :)

[2019-11-03 07:11] #446 closed

[2019-11-03 07:16] bluebill1049 commented on #446
no worries

[2019-11-03 18:31] krnlde opened #447 "isValid computed incorrectly when dynamically adding required fields"
**Describe the bug**
The `isValid` state lags one tick behind the actual validation state when having dynamic form fields registered later.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/dawn-tree-yrwfk
2. Switch between the two radios ("Bank Transfer", which is `valid` instantly and "Debit", which requires more fields, hence `invalid`)
4. See error

Note: whe

[2019-11-03 20:20] bluebill1049 commented on #447
Thank you for the detailed issue report (really made my life much easier) a patch will be landed on this issue. I will release a beta for you to verify the issue as well :) thanks

[2019-11-03 20:23] bluebill1049 commented on #447
`react-hook-form@3.26.5-beta.4`

[2019-11-03 20:32] krnlde commented on #447
Darn, you're fast 🚤 !! The described issue works like a charm, but going back to the "Debit" in the codesandbox it renders it incorrectly as invalid. Verify here: https://codesandbox.io/s/zealous-visvesvaraya-or3ee

[2019-11-03 20:41] bluebill1049 commented on #447
aha, @krnlde thank you. I will sort out this during lunchtime :) I need to get off my bed now.

[2019-11-03 23:01] bluebill1049 commented on #447
couldn't help myself thinking about the issue on the bus...  `react-hook-form@3.26.5-beta.5` this should be it

[2019-11-04 06:08] stocksp opened #449 "Material UI Select initial value not picked up by form"
**Describe the bug**
The initial value of the Material UI Select does not appear in the form submit callback.  It does appear if the control is used (onChange called).
**To Reproduce**
Steps to reproduce the behavior:
1.  https://codesandbox.io/s/react-hook-form-custom-input-urrjm
2. Click the submit button after the form loads before clicking the Select control.  Notice no 'filters' in the alert

[2019-11-04 07:15] ahce opened #450 "[React-Native] Peer dependency warning"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. npm install react-hook-form
2. Check the warn

**Expected behavior**
No peer warn

**Environment**

| Tech                | Version |
|---------------------|---------|
| react-native       | 0.61.3 |
| react               | 16.9.0 |
| react-hook-form | 3.26.4 |

[2019-11-04 07:29] bluebill1049 commented on #450
thanks, @ahce I will remove the peer dependency for `react-dom`

[2019-11-04 08:40] krnlde commented on #447
Now I have to get out of bed and try it :D ...

[2019-11-04 08:42] bluebill1049 commented on #447
haha 💃

[2019-11-04 09:28] bluebill1049 commented on #449
hey @stocksp , thanks to the lovely encouragement!

The problem is material UI is not really good at support uncontrolled component, so to solve this solve, you could set up `defaultValue` in the `useForm`

https://react-hook-form.com/api#useForm

[2019-11-04 09:39] krnlde commented on #447
It works! https://codesandbox.io/s/magical-bush-z7sxe

🙇

[2019-11-04 09:48] bluebill1049 commented on #447
OH YEAH ~

[2019-11-04 09:49] bluebill1049 commented on #450
next patch will have this updated :) which is tonight

[2019-11-04 09:49] #450 closed

[2019-11-04 09:59] Z-wave opened #452 "How to make <OutlinedInput /> work properly?"
Click the Set button to set the value, which will overlap with the label. It seems that the new value change has not been detected by input.

**Codesandbox link**
https://codesandbox.io/s/material-demo-ruuq0

[2019-11-04 10:07] bluebill1049 commented on #452
hey @Z-wave thanks for the codesandbox :) I think this is an issue with material UI, you want to post it there?

[2019-11-04 11:21] bluebill1049 commented on #452
alternative you can use custom register, which still required to use `useState` and update value with `setValue`

[2019-11-04 11:28] flycj opened #453 "Use a third-party UI to set default values asynchronously, and style issues occur"
**Describe the bug**
Please see the following link for details:
https://codesandbox.io/s/hungry-haze-65mlr

Why is the value of the first input box being overwritten?

第一个输入框中的值，被标签label 覆盖了，但是第二个没有
这个问题很奇怪

[2019-11-04 11:38] bluebill1049 commented on #453
because material-ui is not supporting uncontrolled input, we had submitted a PR before by @stramel and it was rejected. would you like to submit an issue at material-ui, hopefully, they will address that soon.

for now, you will have to `register` during useEffect and use `setValue`.

问题出在MUI他们暂时不愿意支持非控制组件。可以的话在他们那里发个问题。

[2019-11-04 13:00] tomaskallup commented on #56
@bluebill1049 I've noticed that the ie11 doesn't support `Proxy` ([mdn link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy#Browser_compatibility)), which is used in the ie build, thus it doesn't work.

[2019-11-04 14:28] ibnumusyaffa opened #455 "change the touched array more accessible"
instead of this
`touched: [
    "first_name:true",
    "first_name:true",
  ],
`
what about something like this
`
touched: {
    first_name:true,
    last_name:true
 }
`
i think its more accessible
`
{errors.firstName && touched.firstName ? (
            <div>{errors.firstName}</div>
 ) : null}
`

[2019-11-04 14:39] petercpwong opened #456 "form is not re-rendered when using setValue to update a field that was manually registered"
**Describe the bug**
When registering fields manually, the form does not re-render after calling `setValue`.

**To Reproduce**
[code]

**Expected behavior**
Explicitly calling `setValue` should trigger a re-render

The usual use-case would be to simply pass `register` into the input's `ref`. However, manually registering fields is still required for components that don't expose a ref prop. The abo

[2019-11-04 15:23] stocksp commented on #449
Works like a charm!  Thanks again for all your work.  I think I'm finally divorced from Formik!

[2019-11-04 15:23] #449 closed

[2019-11-04 16:20] babramczyk opened #458 "Support default error message for required errors"
**Is your feature request related to a problem? Please describe.**
For simple forms where the required error message is the same (i.e. "This field is required"), it would be nice to default this error message so that you can just use `ref={register({ required: true })` in all of these cases, instead of `ref={register({ required: 'This field is required' })`` or `ref={register({ required: REQUIRED_

[2019-11-04 20:40] bluebill1049 commented on #455
a good suggestion I will note this down for future improvement.

or you can do `touched.inclues('first_name:true')`

[2019-11-04 20:47] bluebill1049 commented on #456
dame i think i know a better fix, i will merge yours and release another patch right away.

[2019-11-04 20:54] bluebill1049 commented on #56
hey, @tomaskallup I do a check against support for proxy :)

[2019-11-04 20:56] bluebill1049 commented on #456
actu

[2019-11-04 21:02] bluebill1049 commented on #458
good suggestion @babramczyk, for now, I think we will keep what we got. One of the important goals for react hook form is to keep API simple and primitive. I don't want to introduce multiple ways of doing an error message, but if you think it's not friendly enough, I would suggest doing a constant or some kind of utility function.

[2019-11-04 21:09] #453 closed

[2019-11-04 21:10] bluebill1049 commented on #452
This is an issue with material UI :(

[2019-11-04 21:10] #452 closed

[2019-11-04 21:10] bluebill1049 commented on #453
This is an issue with material UI :(

[2019-11-04 21:23] bluebill1049 commented on #456
I am going to update the website with re-render condition. It's on the todo list

[2019-11-04 21:24] bluebill1049 commented on #449
thank you for your encouragement and support. I still hope one-day material UI will start supporting uncontrolled components.

[2019-11-04 22:25] xiaoyu-tamu opened #459 "mateiral ui checkbox and switch default values not working"
**Describe the bug**

These two controls does not work as expected.

**Codesandbox link**

https://codesandbox.io/s/modest-wilson-9xfs2?fontsize=14

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] MacOs
 - Browser [e.g. chrome, safari] Chrome
 - Version [e.g. 22]  latest

[2019-11-04 22:33] bluebill1049 commented on #459
The reason is due to material UI doesn't support uncontrolled components. You may need to use custom register, which means register during `useEffect` and update value with `setValue`. I hope material UI will support uncontrolled components one day...

这是因为MUI不支持不受控制组件， 最好在他们哪里发个issue

[2019-11-05 01:31] babramczyk commented on #458
No worries.

Can you give me insight on the motivation for a primitive API, vs a configurable one?

[2019-11-05 01:31] stocksp commented on #459
@xiaoyu-tamu I forked your code and fixed just the Switch (developer2) they all can be fixed in a similar fashion.

@bluebill1049  Hey Bill not sure if this can be fixed on your end (its NOT a big deal and easy to process) or I'm doing something wrong ... but if you look at the developer2 property you will see that submit sets/reads the control  as false or "true" (boolean if false and a string if

[2019-11-05 01:38] stocksp commented on #459
And here is the code
https://codesandbox.io/s/solitary-wood-ir6hq

[2019-11-05 01:39] bluebill1049 commented on #458
I think primitive API is more scalable in my own opinion, it allows you to build things on top of it quite easier, while configurable ones it's fixed and likely to introduce breaking changes (at least those r what I learned so far) I could be wrong as well...

[2019-11-05 01:42] bluebill1049 commented on #459
thanks @stocksp I think it's due to the default value.

defaultValues: {
      isDeveloper1: true,
      isDeveloper2: true,
      isDeveloper3: true
}

[2019-11-05 01:48] stocksp commented on #459
If you toggle the switch you will see that when the switch is 'off' the value is a boolean when it is on the value is a string "true".   This is the same with default value.  Set the default isDeveloper2 to false AND set the useState to false and you get the same thing.  false is a boolean true is a string

[2019-11-05 03:08] MincePie commented on #404
I think I'm having the same issue - I'm trying to use antd front end with this form tool. As i understand it the solution is to replace:
`  const { register, handleSubmit, errors } = useForm();
`
with:
`  const { register, handleSubmit, errors } = useForm({ mode: `onChange`});
`
I'm not sure if I'm supposed to replace submit in the button with: onChange
[code]

This didn't work for me. Is it possi

[2019-11-05 03:14] bluebill1049 commented on #404
@MincePie you may need to use custorm register at `useEffect` and update value with `setValue`. I don't think antd having good support over uncontrolled component just yet

[2019-11-05 04:09] MincePie commented on #404
@bluebill1049 - thanks - do you have any idea how I would go about doing that? I struggle to understand the concepts from the level of detail in the docs

[2019-11-05 04:24] bluebill1049 commented on #404
no worries @MincePie

react hook form is lean towards uncontrolled component, and register input's ref into the hook. it also the custom hook to easily get data and validate them. so it should all work perfectly. you can read about uncontrolled components from react doc.

however, for antd and MUI, they r not supporting uncontrolled components just yet(which i hope they will), they do not expose `

[2019-11-05 04:32] bluebill1049 commented on #459
it really depends if the input provides a value attribute or not, which I believe its an HTML thing.

`<input type="checkbox" value="lol" />`
vs
`<input type="checkbox" />`

[2019-11-05 05:01] stocksp commented on #459
In my app I'm  seeing checked is
`<input class="PrivateSwitchBase-input-327 MuiSwitch-input" name="hasMeeting" type="checkbox" value="true" checked="">`
not checked is
`<input class="PrivateSwitchBase-input-327 MuiSwitch-input" name="hasMeeting" type="checkbox" value="false" checked="">`

Anyway its trivial to check and force the string to a boolean,  thanks again for your work.  This is so much s

[2019-11-05 05:03] bluebill1049 commented on #459
that's really glad to hear @stocksp

maybe you can help with this or even a PR

[code]
here is the code to determine the value, let me know if you have a better solution for it.

[2019-11-05 05:06] thekevinbrown opened #460 "Typed submission data"
**Describe the question?**

I'm trying to figure out how to get a strongly typed object in `onSubmit` with the actual key and value types used in my form.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the `OnSubmit<Record<string, any>>` type and notice that Typescript doesn't know whether a field is on the form, or what type the value is.

I tried to write an interface and use `OnSubmi

[2019-11-05 05:07] bluebill1049 commented on #460
why not type in the `useForm`?

`const { register, handleSubmit } = useForm<FormData>();`

[2019-11-05 05:28] thekevinbrown commented on #460
Exactly what I needed, didn't see that option, thank you!

[2019-11-05 05:28] #460 closed

[2019-11-05 05:28] bluebill1049 commented on #460
no worries :) i have documented here as well https://react-hook-form.com/api#TypeScript

[2019-11-05 05:49] petercpwong commented on #456
Then wouldn't manually registering fields with `register` be pointless then because the most likely scenario would be to use it for controlled components. If you're concerned with preformance, perhaps we should provide an option to trigger a re-render in `setValue` (a 4th argument perhaps?)

The alternative of using `useState` to maintain a shadow copy is redundant when we already have mechanisms

[2019-11-05 06:02] bluebill1049 commented on #456
you have a valid point there. what's your usage like? in my head `setValue` is used for below:

[code]

and the duty of setValue is only for update value, it doesn't reflect the UI, and I didn't need another piece of state.

[2019-11-05 06:16] petercpwong commented on #456
The most basic scenario is for interfacing with third party UI components that don't expose the `ref` prop (eg. react-select). As my original post illustrated, `getValues` doesn't reflect the latest form state because `setValue` doesn't trigger a re-render. Maintaining another copy of the form state with `useState` seems really cumbersome and error-prone (ie. having to keep both form states in syn

[2019-11-05 06:20] bluebill1049 commented on #456
I agree with extra `useState` is bad and I am not supporting that (i was not fully awake in the morning :), but why `getValues` during render.
[code]

why not just remove value? let the component render the value itself.

[2019-11-05 06:24] petercpwong commented on #456
I suppose that depends on the implementation of the component. Your solution may be suitable for components that support being both controlled and uncontrolled, but what about for components that only support being uncontrolled? I think it might be a good idea to give the user an option to trigger a re-render in `setValue` for those cases.

[2019-11-05 06:31] bluebill1049 commented on #456
I would like to take a look at such component which only supports controlled/props. as far as I know, HTML inputs are stateful, they don't need to be driven by external state/props and that's what react hook form is great for. I can easily introduce the 4th argument, but I don't feel it's the right thing to do.

[2019-11-05 06:32] bluebill1049 commented on #456
If anyone else has similar issues or concerns, feel free to leave your example here as well.

[2019-11-05 06:33] bluebill1049 commented on #456
@stramel @barrymay @JeromeDeLeon feel free to leave your input as well.

[2019-11-05 06:37] petercpwong commented on #456
There are actually quite a few components that only support controlled props (whether that's a good design choice is another question).

One notable example:
https://polaris.shopify.com/components/forms/text-field

The above component doesn't expose a `ref` prop and can only be interfaced with `onChange` and setting the `value` prop.

[2019-11-05 06:40] bluebill1049 commented on #456
@petercpwong thanks for the example... seriously I am shaking my head right now...

[2019-11-05 06:41] petercpwong commented on #456
@bluebill1049 In an ideal world, we probably wouldn't need to deal with these third party components :)

[2019-11-05 06:43] bluebill1049 commented on #456
to be honest, I am even doubting `react-hook-form` is the right lib for those components and it's a pretty bad pattern to `getValues()` on each render.  Honestly, formik or those controlled form lib would be a better fit for it, I am not devaluing react-hook-form here but the right tool for the right job.

[2019-11-05 06:44] bluebill1049 commented on #456
at the same time, let me think about better* solutions...

[2019-11-05 07:11] Z-wave commented on #452
@bluebill1049 Thank you for your answer ! How to use `register()` with `useState`?

[2019-11-05 07:17] bluebill1049 commented on #452
hey @Z-wave have a look this example:
https://codesandbox.io/s/72j69vnk1x

pay attention to:

[code]

[2019-11-05 07:30] bluebill1049 commented on #456
hey @petercpwong just use `watch()`! i think it should work!

[2019-11-05 07:31] bluebill1049 commented on #456
use watch() instead of getValues()

[2019-11-05 07:52] bluebill1049 commented on #456
closing this :)

[2019-11-05 07:52] #456 closed

[2019-11-05 07:53] bluebill1049 commented on #455
I have added into the todo list, this will be in the next major version consider it's breaking change.

[2019-11-05 07:53] #455 closed

[2019-11-05 09:38] mr-bjerre opened #461 "Smart form component form documentation not working"
The smart form component from the documentation is not working: https://codesandbox.io/s/react-hook-form-smart-form-component-eqb3n

The error occurs if the children of form is an array of items. If its just a single item then it works fine.

[2019-11-05 10:16] bluebill1049 commented on #458
hope above answers your question for now. feel free to leave more questions too

[2019-11-05 10:16] #458 closed

[2019-11-05 13:10] petercpwong commented on #456
We might want to add a `nest` argument to `watch()`, although not sure what the function signature should look like (3rd argument?)

[2019-11-05 16:11] stocksp commented on #459
The code will definitely produce the results we are seeing:
unchecked is always a boolean and checked May end up as a string.
As don't understand why we EVER return value (which will be a string),  I'd need to spend some time looking at non MaterialUI check boxes.
  Adding  || value === 'true'  would 'fix' this for MaterialUI but probably break cases I'm not familiar with.
I'll have some time this

[2019-11-05 16:22] xiaoyu-tamu opened #462 "Interceptors before form validation."
**Is your feature request related to a problem? Please describe.**

The problem that I encountered is form values are transformed to empty strings automatically before validate. Can wee add a way to intercept form values before they are handled by validate function.

A minimal example:
https://codesandbox.io/s/competent-borg-3vcoe?fontsize=14

The yup check is failed b/c field 'phone' is an empty

[2019-11-05 19:44] MikeAmelung commented on #440
@bluebill1049

Found another issue related to this. I updated the [Codesandbox](https://codesandbox.io/s/react-hook-form-validation-onchange-70qtf) with another rule that prevents both fields from being filled at the same time. When doing this, it's possible to get one field into validFieldsRef, but then invalidate it by changing the other field. Even though it is no longer valid, it does not get

[2019-11-05 20:07] bluebill1049 commented on #459
This is actually followed native HTML input.

[2019-11-05 20:10] bluebill1049 commented on #440
thanks @MikeAmelung for the detailed issue report. i will take a look at it. :)

[2019-11-05 20:22] bluebill1049 commented on #462
hey, @xiaoyu-tamu that's native input return, I don't think it is a good idea to manipulate that. same goes to select option
[code]
You would think select 2 will give 2? not really html select will return string which is "2". To be honest, I would like to follow HTML standard.

[2019-11-05 21:43] xiaoyu-tamu commented on #462
My suggestion was allow intercept form values before handled by validate function. please read **Describe the solution you'd like** not **Describe alternatives you've considered**

[2019-11-05 21:52] bluebill1049 commented on #462
Dude isn’t that the same thing? U probably would want 2 to become a number but it’s a string, and input default value was meant to be empty string, and I state clearly I don’t think it’s a good idea l.

[2019-11-05 22:03] bluebill1049 commented on #462
Sorry I read the message wrong, I thought u were angry about the reply with the bold text...

[2019-11-05 22:07] bluebill1049 commented on #462
Hmmm I still don’t think it’s a good idea to intercept return from native input or any inputs and this will introduce an extra api for this lib as well (I still want the lib to be simple) also why u need your input to return undefined?

[2019-11-05 22:12] bluebill1049 commented on #462
I am not expert on Yup, but is there any other way to handle empty string with ur match regex?

[2019-11-05 22:36] xiaoyu-tamu commented on #462
Ok. understand. I can just use a custom validate function instead of the build in one.

[2019-11-05 22:36] #462 closed

[2019-11-05 22:40] bluebill1049 commented on #462
cool sorry about that @xiaoyu-tamu 😔

[2019-11-05 23:56] bluebill1049 commented on #440
looks like you already found the solution! :) want to send a PR for this?

[2019-11-06 02:29] bluebill1049 commented on #459
going to close this issue for now. feel free to submit a PR @stocksp if you find a better solution for the checkbox one :)

[2019-11-06 02:29] #459 closed

[2019-11-06 04:32] #440 closed

[2019-11-06 08:10] hckhanh opened #466 "setErrors for multiple fields"
I think that it's necessary to have this api: `setErrors`
When the server return the response of errors. I don't have to set error for all fields one by one by using `setError`. The form will only render one time.

[2019-11-06 08:14] bluebill1049 commented on #466
hey @hckhanh

thanks for your suggestion, for now, please do a `map` or `forEach` for the errors.

[code]

[2019-11-06 10:16] tomaskallup opened #468 "Problems with custom array & yup"
**Describe the bug**
While trying to reproduce what we have in our codebase (where `yup.array(yup.string().oneOf([...]))` doesn't seem to set `errors` object) I ran into what seems to be a different issue.
Seems like when arrays have a strict validator (example `yup.array(yup.number())`) and we try to set it to something, that doesn't validate (example  a string `'123'`) the `setValue` throws erro

[2019-11-06 10:37] bluebill1049 commented on #468
hey @tomaskallup any chance post this issue at yup as well? looks like the validation failed at yup.

[2019-11-06 10:38] bluebill1049 commented on #468
hmm i tested your demo and it's working.

[2019-11-06 10:42] tomaskallup commented on #468
It seems to fail on the codepen, however if I run it localy in our project:
[code]
It seems to produce correct error, but inside the hook form this error is not picked up (even though `isValid` inside `formState` gets set to `false`) :confused:

[2019-11-06 10:43] tomaskallup commented on #468
@bluebill1049 Did another check, the demo seems to work in my Chrome on linux. BUT it shows the second error, if you check one of the invalid values, the `errors` object is empty.

[2019-11-06 10:45] tomaskallup commented on #468
So the `error.inner is undefined` seems to be Firefox only thing.

[2019-11-06 10:48] #466 closed

[2019-11-06 10:49] bluebill1049 commented on #468
sounds strange if it only breaks at firefox, is that the same demo?

[2019-11-06 10:51] tomaskallup commented on #468
Yep, same demo. Tried Linus - Chrome (no error), Firefox (error) and MacOS - Chrome (no error), Firefox (error)

[2019-11-06 10:59] bluebill1049 commented on #468
you are right, this is a bug from yup. Do you want to raise it there?

`Error: Unexpected frame by generating stack.`

[2019-11-06 12:37] tomaskallup commented on #468
Sure, that would be great.
Should I create a second issue for the second part (errors object not being populated in Chrome, possibly also in Firefox) or is that affected by this problem?

[2019-11-06 12:48] bluebill1049 commented on #468
they r the same issue right?

[2019-11-06 13:26] tomaskallup commented on #468
I'm not sure how to check it, it's possible that in Chrome the same error happens and it just fails silently.
Basically in Chrome the validation seems to happen (`isValid` gets set to false, but errors object remains empty). Maybe in Chrome `yup` actually throws somewhat correct error, but it's empty.
![react-hook-form-missing-errors](https://user-images.githubusercontent.com/26621166/68301903-39f

[2019-11-06 13:35] tomaskallup commented on #468
Did some quick testing, seems like this is probably a separate problem. If you take a look at this [codepen](https://codesandbox.io/s/yup-array-validation-error-2jlwn), in Firefox it throws the error, so I'll report this to `yup`, but in Chrome it gives and actual error and that is the part that doesn't seem to be picked up by `react-hook-form`

[2019-11-06 13:49] nshaikhinurov opened #469 "[Question / Bug] Errors object identity"
After some time testing the use case described [on Spectrum](https://spectrum.chat/react-hook-form/help/how-to-flash-an-error-for-a-short-timespan~3cc9db3e-cad7-4ed2-9a62-f15dd382c34e) I've found some defect which causes a bug when using with a regular `useEffect` hook.

The problem is that `useEffect` hook's dependency list checks for object identity to skip calling an effect callback and the `re

[2019-11-06 14:02] dccarta opened #470 "Validation applies regex pattern when non-required input is left empty"
**Describe the bug**
Non-required input fields requiring a regex pattern (that doesn't account for empty) which are left empty by the user cause pattern validation to fail.

It feels like the case where a non-required input is left empty should not trigger validation of that input at all. I get that it's possible to instead use the `validate` prop and include a condition allowing for an empty stri

[2019-11-06 15:30] tomaskallup commented on #469
I think a better approach would be to actually use `clearError` from the form itself, but after trying that it seems like when I initialy check the checkbox, the form gets revalidated and the error flashes, this happens only on the first check.

[2019-11-06 16:25] bogdaniy commented on #470
+1 faced the same issue, I think the problem is `react-hook-form` process `required` like a simple non-empty validator, while we expect it to be rather a validation strategy which skips validation for empty fields.  Maybe there are some workarounds for such behavior?

[2019-11-06 18:29] kodermax opened #471 "Required without spaces"
I'd like to have function required that ignore spaces when it checks

[2019-11-06 20:29] bluebill1049 commented on #471
please use `validate` function
https://react-hook-form.com/api#register

[2019-11-06 20:29] #471 closed

[2019-11-06 20:30] bluebill1049 commented on #468
thanks @tomaskallup i will take a closer look again

[2019-11-06 20:32] bluebill1049 commented on #470
@dccarta @bogdaniy how about just use validate function if you have an issue around pattern? it's much flexible.

[code]

[2019-11-06 23:16] bluebill1049 commented on #469
I think there is 2 solutions in my head

1. https://github.com/kentcdodds/use-deep-compare-effect
2. do your check inside useEffect

[2019-11-06 23:19] bluebill1049 commented on #468
ok that first issue, there is already a fix for it, which I haven't publish just: https://github.com/react-hook-form/react-hook-form/pull/464

so the remaining one is just firefox when it comes to yup schema validation.

[2019-11-06 23:24] tomaskallup commented on #468
@bluebill1049 Perfect, thank you! I'll keep an eye on that PR waiting for release.

[2019-11-06 23:29] bluebill1049 commented on #468
no worries @tomaskallup thanks for report the issue and help on testing too 👍

[2019-11-06 23:35] tomaskallup commented on #468
No problem, I quickly grew to love this project when replacing our Formik based form, mainly because the implementation was so smooth and clean. Keep up the great work and thanks for the quick response time! I'll try and help on the `yup` side so this can be closed soon.

[2019-11-06 23:37] bluebill1049 commented on #468
that would be awesome! thank you.

[2019-11-07 01:03] bluebill1049 commented on #470
going to close this issue now :) `validate` should be able to achieve what you after. feel free to ask more questions or re-open if this doesn't solve your problem.

[2019-11-07 01:04] bluebill1049 commented on #470
don't forget to leave a little ⭐️ to support the lib too :) thank you

[2019-11-07 06:17] nshaikhinurov commented on #469
I've found another good solution. I used `formState.submitCount` as a dependency of the `useEffect` hook and it worked like a charm. Now my effect gets called only after submitting the form.

[2019-11-07 06:17] #469 closed

[2019-11-07 06:31] bluebill1049 commented on #469
awesome!

[2019-11-07 06:35] muhamad-rizki commented on #411
it looks broken too in React native, my default values got reset whenever registering component manually @bluebill1049

[2019-11-07 06:49] bluebill1049 commented on #411
which version @muhamad-rizki ?

[2019-11-07 06:51] bluebill1049 commented on #411
can you give more detail @muhamad-rizki ?

[2019-11-07 06:56] muhamad-rizki commented on #411
@bluebill1049 I used version 3.26.4, I have a wizard form that generating child form using json schema, defaultValues getting undefined whenever I jump to the next step and re register new child component. But it's work perfectly whenever it's on first step.
Whenever I jump to the next step, I do reset({}), and re register component

[2019-11-07 07:03] bluebill1049 commented on #411
actually let's open a new issue for this @muhamad-rizki please paste your code in that issue.

[2019-11-07 07:03] #411 closed

[2019-11-07 07:03] bluebill1049 opened #473 "@bluebill1049 I used version 3.26.4, I have a wizard form that generating child form using json schema, defaultValues getting undefined whenever I jump to the next step and re register new child component. But it's work perfectly whenever it's on first step."
@bluebill1049 I used version 3.26.4, I have a wizard form that generating child form using json schema, defaultValues getting undefined whenever I jump to the next step and re register new child component. But it's work perfectly whenever it's on first step.
Whenever I jump to the next step, I do reset({}), and re register component

_Originally posted by @muhamad-rizki in https://github.com/react

[2019-11-07 07:04] bluebill1049 commented on #473
@muhamad-rizki can you share the code how you register the input?

[2019-11-07 07:11] muhamad-rizki commented on #473
here is how I register my component:
https://github.com/muhamad-rizki/dynamic-form/blob/0c93d30853c3e4c3ba78ee5dcd5a055ae9511b5b/src/modules/DynamicForm.js#L96

and here I log getValues(), at first its initialized, but after registering component, values become undefined
https://github.com/muhamad-rizki/dynamic-form/blob/0c93d30853c3e4c3ba78ee5dcd5a055ae9511b5b/src/modules/DynamicForm.js#L307

[2019-11-07 07:16] bluebill1049 commented on #473
@muhamad-rizki try to use `watch()` instead.

[2019-11-07 07:17] bluebill1049 commented on #473
and only watch the fields that you want to `watch` as well

[2019-11-07 07:24] muhamad-rizki commented on #473
i got little confused on how to use the ```watch``` function, so it is we just render all page and using watch as trigger to moving between page?

[2019-11-07 07:28] muhamad-rizki commented on #473
ah never mind, I already figured it out, thanks anyway. now it's worked 💃

[2019-11-07 07:29] bluebill1049 commented on #473
oh!! cool awesome

@muhamad-rizki if you are using `setValue` it doesn't get re-render all the time, which the lib is optimized to only render when necessary.

[2019-11-07 07:29] #473 closed

[2019-11-07 08:12] dccarta commented on #470
I get that `validate` is able to handle this case - but by extension it's also able to handle the cases where an input is either required or non-required, so why even have the `required` prop at all? Just feels like if you're going to have it, it may as well fully work as expected.

It'd be a very simple addition to the if logic in the `pattern` func that I'd be happy to submit a PR for...but no w

[2019-11-07 08:30] bluebill1049 commented on #470
hey @dccarta you have a valid point! I will update that and it will be in the next patch.

[2019-11-07 08:37] bluebill1049 commented on #470
i will add you in the PR too @dccarta

[2019-11-07 08:41] bluebill1049 commented on #470
@dccarta https://github.com/react-hook-form/react-hook-form/pull/474

[2019-11-07 09:19] bluebill1049 commented on #470
it's merged and will be in the next patch. 👍

[2019-11-07 09:19] #470 closed

[2019-11-07 10:00] dccarta commented on #470
looks good to me, cheers for the quick response! keep up the good work, lib is 🔥

[2019-11-07 10:09] bluebill1049 commented on #470
awesome @dccarta thanks for the issue report and feedback mate :) I would love to see you contribute this lib in the near future as well, next time just send a PR with an issue like that. again thanks for helping to make this lib better 👍 (i will release this patch over the weekend when it is bit quieter :)

[2019-11-07 13:20] krnlde opened #475 "Feature request: Include validation parameters in error object"
**Is your feature request related to a problem? Please describe.**
Currently when a field has a validation-error it returns an object of the following structure:
[code]

**Describe the solution you'd like**
It would be awesome to get the validation parameters as well as the type to include them in the error message, e.g.:
[code]

**Additional context**
This way we would be able to translate it par

[2019-11-07 13:38] piranm opened #476 "Correct way to support multiple checkboxes with same name"
**Describe the question?**

What's the 'correct' way to support multiple checkboxes, where the user can pick one or more values in the same group? E.g., pick zero or more colors.

**To Reproduce**

In pure HTML I'd write inputs with the same name:

[code]

In react-hook-forms, how would I get the list of checked colors back as a list?

The obvious solution is to copy the above with the same name,

[2019-11-07 14:56] LeoLozes opened #477 "💅🏻 material-ui: reset, setValue and defaultValues (better support uncontrolled components)"
**Describe the bug**
I'm trying to do a simple form with react-hook-form and material-ui. I'd like to be able to:
1. submit / validate a form
2. reset the form correctly
3. load data correctly

The first step works correctly.
The reset function clears the value, but the state of the material-ui TextField seems to stay at "filled", and the styles don't match with the cleared data.
The reset functio

[2019-11-07 17:01] krnlde commented on #475
This will influence this PR #430

[2019-11-07 21:08] bluebill1049 commented on #475
Thanks @krnlde. I think in fact you are register with your validation rule, you can easily be made into a variable and use it in your error message. as much as I want to include it at the same time I try my best to avoid "unnecessary" (things you can achieve in your app-level) features to increase the package size, hope you understand.

[2019-11-07 21:48] bluebill1049 commented on #477
React hook form embrace uncontrolled components. The reset api is based on native form reset API. However material UI is mainly supporting controlled component which result reset to be not working as expected. I would suggest to raise an issue at material UI. In the meantime you probably will need to use local state to solve this issue during reset action.

[2019-11-07 21:50] bluebill1049 commented on #476
On my phone, couldn’t take a look ur coddsandbox but you just need to register them all.

[2019-11-07 23:23] simonv3 commented on #73
Could this be implemented for `watch` too? Currently that spits out:

[code]

But handleSubmit does handle it properly.

[2019-11-07 23:24] bluebill1049 commented on #73
@simonv3 try to `watch('items')`

[2019-11-07 23:30] simonv3 commented on #73
Oh sweet, that works. Thanks! Is there a reason it doesn't unpack the entire changed object with just `watch()`?

[2019-11-07 23:35] bluebill1049 commented on #73
I will consider introducing a `nest` prop as the second argument for `watch` which will return you data as nested object.

[2019-11-08 00:31] bluebill1049 commented on #476
oh looks like that's a bug... we should support multiple checkbox

[2019-11-08 00:42] bluebill1049 commented on #476
hmm looking closely, I would actually recommend your second approach. It's tricky to determine whether a checkbox has single or multiple values. It would probably introduce quite bit complexity to support it.

[2019-11-08 01:03] hnromante commented on #445
Thanks for taking a look at my comment, this fixed the issue.

[2019-11-08 01:04] bluebill1049 commented on #445
my pleasure @hnromante I am glad it workes now :)

[2019-11-08 03:05] stunaz opened #479 "Can you provide an example of an autosave form?"
**Describe the solution you'd like**
An example of an autosave form with debounce

[2019-11-08 03:06] bluebill1049 commented on #479
@stunaz when you would like to autoSave? blur or onChange?

[2019-11-08 03:12] stunaz commented on #479
onChange

[2019-11-08 03:14] bluebill1049 commented on #479
[code]

also please consider asking questions in the spectrum channel next time as well :) thanks

[2019-11-08 03:19] stunaz commented on #479
ok will do that 👍  , I just thought it could be added to the list of examples.
Nice lib, I will try to migrate my app to this 💯

[2019-11-08 03:21] bluebill1049 commented on #479
Oh that's what you mean. no worries I will include an example soon :) thanks @stunaz

[2019-11-08 03:23] stunaz commented on #479
@bluebill1049 thank you... reopening

[2019-11-08 04:24] bluebill1049 commented on #445
by the way, if you find this lib useful please consider to drop a star to support it as well :) thanks

[2019-11-08 09:12] piranm commented on #476
Thanks @bluebill1049 — I've updated my question to make it clearer as well.

[2019-11-08 09:25] bluebill1049 commented on #476
thanks, @piranm let's stick with the input name with index.

[2019-11-08 09:40] bluebill1049 commented on #468
hey @tomaskallup the fix is been patched, any update from `Yup`? maybe you can reference the issue in here.

[2019-11-08 10:35] tomaskallup commented on #468
@bluebill1049 sadly no response on yup side, I'll have some free time during the weekend, so I might try and fix it myself. The yup issue is referenced up in the issue description

[2019-11-08 10:43] bluebill1049 commented on #468
thanks, @tomaskallup for the update :) I believe the first issue should be resolved by the latest patch tho :)

[2019-11-08 12:55] julian-linux opened #481 "validationSchema not working with material ui"
**Describe the bug**
When i use `useForm({ validationSchema })`, handleSubmit is not called in a material-ui TextField

**To Reproduce**
Steps to reproduce the behavior:
1. click on SEND

**Codesandbox link**
https://codesandbox.io/s/staging-moon-hi7hc

**Expected behavior**
data and errors logged

[2019-11-08 13:24] JeromeDeLeon commented on #481
It is because the default `mode` is `onSubmit` and will be triggered validation when form was submitted.

[2019-11-08 13:26] JeromeDeLeon commented on #481
Have you seen the this [API](https://react-hook-form.com/api#useForm) section? You can set `mode` and `reValidateMode`.

[2019-11-08 13:32] julian-linux commented on #481
tnks for help 👍

[2019-11-08 13:32] #481 closed

[2019-11-08 20:48] bluebill1049 commented on #481
thanks @JeromeDeLeon ❤️

[2019-11-08 20:52] bluebill1049 commented on #475
I am going to close this for now, maybe we can look into this in the future :)

[2019-11-08 20:52] #475 closed

[2019-11-09 03:43] bluebill1049 commented on #477
thanks @LeoLozes for raising the issue at MUI, I am keeping my eyes on it as well :)

[2019-11-09 05:22] bluebill1049 commented on #477
If you having similar issue with material-UI, please consider upvote this issue:

https://github.com/mui-org/material-ui/issues/18269

[2019-11-10 14:50] victorcarvalhosp opened #490 "Form doesn't work if not initially visible"
**Describe the bug**
Hi team,
I noticed an issue where the form doesn't work if it's not initially visible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hook-form-issue.netlify.com
2. Change the value in the form and submit, and you'll be able to see the watch function and the form value submitted just fine if you look at the browser console
3. Click on "Show Hidden For

[2019-11-10 19:02] mlajtos commented on #476
@piranm Beware, this behavior broke in 3.18.7. In 3.18.6 you get empty array when nothing is selected, which is what you expect. In 3.18.7 and later, array contains `false` value for every non-selected checkbox.

[2019-11-10 20:20] bluebill1049 commented on #490
could you reproduce that in a codesandbox? it's much easier to identify the issue, then going through your repo.

[2019-11-10 20:24] bluebill1049 commented on #490
also, there is a warning as well:
<img width="1217" alt="Screen Shot 2019-11-11 at 7 24 12 am" src="https://user-images.githubusercontent.com/10513364/68550138-49ca9a80-0454-11ea-8545-e506eb0f6cfb.png">

[2019-11-10 20:25] bluebill1049 commented on #490
both `input` has
<img width="884" alt="Screen Shot 2019-11-11 at 7 25 40 am" src="https://user-images.githubusercontent.com/10513364/68550154-7c749300-0454-11ea-8b9d-8fb71867b14b.png">
 the same name could be the issue as well.

[2019-11-10 20:36] victorcarvalhosp commented on #490
Hi @bluebill1049 ! Thanks for your answer, I'll create the codesandbox as soon as I can.
But I tested with different form names and just with the not visible form, and in both cases it didn't work

[2019-11-10 20:37] bluebill1049 commented on #490
cool thanks, I will look at your codesandbox when it's ready.

[2019-11-10 21:46] victorcarvalhosp commented on #490
I believe the error is related to the Ionic component...
On codesandbox the input using ionic doesn't work in the form in any way... =\

Using plain HTML it works when initially not visible, but I can't get it to work with Ionic on codesandbox, even when visible.

This is something that you would help/advise here?
On my repository, the form work with ionic inputs - but when not initially visible i

[2019-11-10 22:10] bluebill1049 commented on #490
No worries mate. I will take a look when I can for you 👌🏻

[2019-11-10 22:49] bluebill1049 commented on #490
Ok after a quick investigation. looks like ionic doesn't expose `innerRef` but `ref`.

However, the `ref` is not pure HTML input.

<img width="1649" alt="Screen Shot 2019-11-11 at 9 47 48 am" src="https://user-images.githubusercontent.com/10513364/68552189-578a1b00-0468-11ea-8afc-622d85986d6e.png">

You will have to use custom `register` during `useEffect`

[code]

and update value using `setValue

[2019-11-11 00:20] victorcarvalhosp commented on #490
Thank you so much for looking into this!
I made the changes and now it's working as expected! =D

I'll leave it here in case someone else wants to see the solution to work with Ionic!
https://codesandbox.io/s/react-hook-form-basic-0cl0u?fontsize=14

Thank you so much again!

[2019-11-11 00:20] #490 closed

[2019-11-11 00:22] bluebill1049 commented on #490
thank you @victorcarvalhosp I am glad it worked out for you :)

[2019-11-11 09:36] bluebill1049 commented on #476
I am going to close this issue as I suggested above, let's stick with the name with index.

[2019-11-11 09:36] #476 closed

[2019-11-11 10:47] jtparrett opened #491 "reset() not working for react-native"
**Describe the bug**
When calling reset() after a submission, none of the form values reset within a react-native app.
I've added a ref, and even tried using getValues and manually passing the value for each render, however nothing seems to reset the value.

**Expected behavior**
Calling reset() after a submission should reset form input values

[2019-11-11 10:50] bluebill1049 commented on #491
<img width="884" alt="Screen Shot 2019-11-11 at 9 49 33 pm" src="https://user-images.githubusercontent.com/10513364/68581767-2bed4c00-04cd-11ea-8056-f2ad1168f6d7.png">

currently, reset is only made web.

[2019-11-11 10:52] jtparrett commented on #491
ahh, I missed this. My apologies, thanks for the quick reply!

[2019-11-11 10:52] #491 closed

[2019-11-11 10:56] bluebill1049 commented on #491
no worries. will looking into `reset` for native in the near future as well :)

[2019-11-11 14:04] jonatasfl opened #493 "Validation messages using Yup"
**Describe the bug**
Using Yup to validate my form, I'm noticing something that looks like a bug.
If I register a field with `ref={register}` and is optional number field for example, I receive validation error like the following if its leave empty:

If I change `ref={register}` to `ref={register()}`, the optional validation works, but the form dont clear error messages when I fill a required fiel

[2019-11-11 14:52] bopfer commented on #493
HTML form values are always strings.  So, that behavior is expected.  You can transform the field when it is `NaN`:

[code]

[2019-11-11 17:11] Grimones opened #494 "getValues is empty or with default values on component unmount"
Hey! Thanks a lot for this amazing lib. That's what i was waiting for since hooks were released :)
I've easily migrated forms from redux-form and formik to react-hook-form but faced one issue.
So I've spotted a bug or maybe that's how it should work. I have few forms which have like 5-6 fields in common. You could type in one form, accidentally close, or decided to switch to other form - all value

[2019-11-11 20:37] bluebill1049 commented on #493
thanks @bopfer for helping :)

[2019-11-11 20:37] #493 closed

[2019-11-11 22:42] bluebill1049 commented on #494
Thanks @Grimones :) and your detailed issue report.

This is actually by design, because `getValues()` suppose to get everything on the form.

`<input name="test" defaultValue="test" />`

by running `getValues()`, it should return what's in the default value and hence this should apply the same to `useForm({ defaultValues: { test: 'sdf' }})`

in terms of return `{}`, it's by design as well, becaus

[2019-11-11 22:46] bluebill1049 commented on #494
Ok, I think I see the problem here. I think you are calling `getValues()` late*.

I would suggest you call it during the onClick event before all the inputs get removed from DOM.

[2019-11-12 06:09] bluebill1049 commented on #477
Going to close this issue, but I did pin it on the board, and more people can vote on the issue :)

[2019-11-12 06:09] #477 closed

[2019-11-12 11:49] Grimones commented on #494
My apologies for the confusion :) forgot to add closure in `useEffect` in my first post. Updated.

Unfortunately that's not an option for me because I don't have by designs an option for user to save form values.
But I found a better solution rather than using `watch` and it doesn't feel like an Adhoc, I guess :)

So the idea is to put unmount `useEffect` before `useForm`. Because in hooks order m

[2019-11-12 19:38] ilovett opened #496 "async submit validation example"
I could be blind as hell but I'm looking at `asyncSubmitValidation.tsx` example and it doesn't seem to set any errors?

[2019-11-12 20:28] bluebill1049 commented on #496
[code]

you are not blind :) the example didn't have `setError` in there, which I am happy to update and includes it.

[2019-11-12 20:33] bluebill1049 commented on #494
aha awesome! glad you work it out. I will move it into the advanced section later. This answer can help others too :)  thank you <3

[2019-11-12 20:33] #494 closed

[2019-11-12 20:35] bluebill1049 commented on #468
I am going to close this issue for now since its a dependency problem, will re-open once I hear back from you(yup). We can keep the conversation going in here too, plus it's in the project board.

[2019-11-12 20:35] #468 closed

[2019-11-12 20:42] ilovett commented on #496
Thanks!

[2019-11-12 20:45] bluebill1049 commented on #496
updated :)

[2019-11-12 20:45] #496 closed

[2019-11-13 01:54] leandroZanatta opened #497 "react-hook-form using @material-ui/core/Select"
Good night,

I am trying to use react-hook-form with @ material-ui / core / Select, but I am unable to register the component.

In some searches I was instructed to use inputRef = {register ({required: true})}, but when I submit the form even with the field not selected, it returns no value for this field, nor the invalid tag.

Is there any different way to register this field?

[2019-11-13 02:14] bluebill1049 commented on #497
hey @leandroZanatta can you supply a code sandbox for your issue? also if innerRef is not working you may want to `register` during `useEffect`
[code]

and trigger value update with `setValue` :)

[2019-11-13 02:31] leandroZanatta commented on #497
the code in
https://codesandbox.io/s/silly-mcclintock-ntgo8

[2019-11-13 02:38] bluebill1049 commented on #497
because material-ui Select is not a native input, so register with ref (their ref is not the actual element) hence it doesn't work,

<img width="1163" alt="Screen Shot 2019-11-13 at 1 38 08 pm" src="https://user-images.githubusercontent.com/10513364/68728253-e048b880-061a-11ea-844d-40e1839b61fb.png">

you need to use the custom register. see my reply above.

[2019-11-13 03:18] bluebill1049 commented on #497
how did you go with the customer register?

[2019-11-13 03:45] bluebill1049 commented on #497
ok I am going to close this issue, the solution is in my reply :) feel free to post the question in here next time https://spectrum.chat/react-hook-form?tab=posts the community may be able to help you out too. if still doesn't make sense or not working, feel free to continue with this issue and i will try my best to help :)

[2019-11-13 03:45] #497 closed

[2019-11-13 14:14] jamescoleuk opened #498 "Input elements not receiving input when using styled-components"
`inputs` that are styled by styled-components and registered manually don't display any text.

I'm using antd, styled-components, and react-hook-form.

antd doesn't expose `ref`, so I've had to manually `register`, manually `setValue`, and manually `triggerValidation`. (I'm not sure this level of manual fookling is tenable for me but that's a different matter).

When doing this, I found that addin

[2019-11-13 15:04] jamescoleuk commented on #498
I figured out where I was going wrong. I was creating the styled-component elements inside the function. If I move them outside everything works as expected.

[2019-11-13 15:04] #498 closed

[2019-11-13 16:37] chrise86 opened #499 "validation inconsistencies between `onSubmit` and `triggerValidation`"
Given the following schema:

[code]

and registering the treatments manually, i.e. `register({ name: 'treatments' })`

When submitting a form normally (i.e. via submit button) the validation for the treatment fields works as expected.

However, using `await triggerValidation()` does not validate the nested fields, and the `errors` object does not contain a `treatments` key.

[2019-11-13 20:32] bluebill1049 commented on #499
could you submit a codesandbox for us to reproduce?

[2019-11-14 00:43] giovanniantonaccio opened #501 "Add a function to validate form fields using Yup and custom async functions"
**Is your feature request related to a problem? Please describe.**
Today it is not possible to to mix async validations with Yup validations. We can only pass an Yup object that will check the whole form or create our own functions if we want to validate the fields individually.

**Describe the solution you'd like**
It would be great to have a generic function where we could pass the key of the fi

[2019-11-14 00:53] bluebill1049 commented on #501
Hey @giovanniantonaccio thanks for the feature request. However, it's not very clear with your objective here, there is `validate` function in the register already. We are already planning to have a generic way to using external validation schema, maybe that's what you are after?

[2019-11-14 01:29] giovanniantonaccio commented on #501
Hey @bluebill1049, the idea is to give users the possibility to use Yup validation individually for each field, instead of validating the whole form at once. The customValidation would be useful for situations where the user want to mix async validations (checking a value in an API for example) with Yup or if he wants to pass parameters for the schema.

It is possible to do this with a little bit

[2019-11-14 01:32] bluebill1049 commented on #501
oh ok thanks, @giovanniantonaccio. Let's leave this for a while to see if someone else facing a similar problem and then we can go from there. 👍

[2019-11-14 07:52] bluebill1049 commented on #499
going to close now, feel free to re-open once we get a codesandbox to reproduce the problem. thanks

[2019-11-14 07:52] #499 closed

[2019-11-14 08:39] bluebill1049 commented on #476
Tmr's release will fix the array checkbox issue. you can do the following

[code]

[2019-11-14 10:09] mlajtos commented on #476
That is great to hear, thank you. :) One question: what shape will the colors array have?

[2019-11-14 10:42] bluebill1049 commented on #476
same data shape. @mlajtos

[2019-11-14 11:14] piranm commented on #476
My worry about dropping the array subscript (as proposed by @bluebill1049) is that I don't always know how many colors I want to render, and some may not be available (no checkbox rendered for that color).

So in the case of multiple colour checkboxes rendered, I would get an array of values, possibly empty.
In the case of a single colour checkbox rendered, I would get a single value, or false/und

[2019-11-14 11:16] bluebill1049 commented on #476
@piranm we are not dropping anything, it's not a breaking change. We only add support for checkbox support with the same name.

[2019-11-14 11:16] zcsongor opened #509 "Validation is not working properly when using controlled components"
**Describe the bug**
By default, validation is triggered during an input change. But if you use controlled component, revalidation does not occur properly.

**To Reproduce**
Forked your example called `Controlled mixed with Uncontrolled Components` and added `required: true` to both of the inputs.
1. Submit the form as it is, with empty inputs. You will see two errors.
2. Start typing into the inp

[2019-11-14 11:20] bluebill1049 commented on #509
@zcsongor my bad
i will update the example: `setValue("select", e.target.value, true);

[2019-11-14 11:22] zcsongor commented on #509
Oh, missed this one in the documentation.
Thanks for your quick reply!

[2019-11-14 11:23] bluebill1049 commented on #509
no worries! thanks for spotting the issue too. I just published it today, you are quick haahh

[2019-11-14 11:23] bluebill1049 commented on #509
looks like you come from angular! you will see some familiar API such as `watch`

[2019-11-14 11:30] #509 closed

[2019-11-14 11:30] bluebill1049 commented on #509
closing now, feel free to ask more questions :)

[2019-11-14 11:37] piranm commented on #476
So, to summarize from description, recent commit, and behaviour seen in 3.27.0:

* without an index, same name will return:
  * with one checkbox
    * if has value
      * if ticked, then the value
      * if not ticked, then false
    * if does not have value
      * if ticked, then true
      * if not ticked, then false
  * with two checkbox (must have values, I presume)
    * if one ticked, th

[2019-11-14 11:39] bluebill1049 commented on #476
The above logic looks correct 👍

Yea I think for your use case, it's better to stick with index version. (there is no point of changing too)

[2019-11-14 15:27] jj-diaz1067 commented on #367
This issue is not completely solved, we still got an error when using an async function that returns either a string or a boolean, the type `Promise<string | boolean>` might be missing for `ValidateResult` :)

[2019-11-14 16:47] MatiasCiccone opened #510 "Reset sets form isValid as true"
**Describe the bug**
When using `{mode: 'onChange'}` with validations, `reset()` sets `formState.isValid` as `true`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sandbox below
2. Put a value in firstName input (notice that `isValid` goes from `false` to `true` as expected)
3. Delete the previous value (notice that `isValid` goes from `true` to `false` as expected)
4. Click on `RE

[2019-11-14 20:27] bluebill1049 commented on #367
[code]

hey @jj-diaz1067 that's what we have right now. I guess it should work, feel free to send a PR if you have the solution.

[2019-11-14 20:32] bluebill1049 commented on #510
Thanks @MatiasCiccone will try to resolve and get it patched today :)

[2019-11-14 21:03] clintharris opened #511 "Resetting form using values from custom hook fails"
I'm noticing unexpected behavior when attempting to reset the form in an effect based on state maintained by a custom hook. I'm not sure if it's a bug with react-hook-form or with my own code...

I use a custom hook to load a `customer` object from the server:
[code]
Then I use an effect to reset the form and "array field" state (per react-hook-form examples) whenever `customer` changes:
[code]

T

[2019-11-14 23:02] bluebill1049 commented on #510
can you please help to test this issue?

I have a codesandbox with the latest fix: https://codesandbox.io/s/react-hook-form-automation-server-16uvw

or you can use this beta version:

[code]

[2019-11-14 23:24] bluebill1049 commented on #511
looks like you have posted the same question in spectrum, i am closing it here and let's sort it out there.

[2019-11-14 23:24] #511 closed

[2019-11-15 07:45] #510 closed

[2019-11-15 08:57] Chastrlove opened #513 "Error message update or error type change should trigger reRender"
## Error message update or error type change should trigger reRender

[code]

Even the error message change ,it's never trigger reRender.
[code]
Design so or A bug?

[2019-11-15 09:01] bluebill1049 commented on #513
This is a bug, will patch soon.

[2019-11-15 09:31] bluebill1049 commented on #513
can you provide a codesandbox for this issue? I tested myself and it's working.

[2019-11-15 09:49] bluebill1049 commented on #513
ok, I have reproduced the issue, next time please supply a codesandbox for issue report (It's in the issue report template). It will help me a lot with issue discovery and fix it quicker. 🙏

[2019-11-15 10:50] #513 closed

[2019-11-15 12:24] Chastrlove commented on #513
Thanks @bluebill1049 .Next time I will supply a codesandbox for issue report.

[2019-11-15 12:29] bluebill1049 commented on #513
i will release the patch tmr @Chastrlove :) thanks for report the issue 多谢了

[2019-11-15 14:19] Chastrlove commented on #513
Recently ,i will refactor my components with react-hook-form .Maybe i will create issues frequently .😀

[2019-11-15 14:58] MatiasCiccone commented on #510
@bluebill1049 I tested it directly in the sandbox and it seems to be working fine. Thanks 👍

[2019-11-15 16:59] babramczyk opened #515 "`errors` for nested fields not in expected format"
**Describe the bug**
Maybe not necessarily a bug, but unexpected behavior

When using a nested fields (i.e. `name="accounts[0].name"`), the `errors` returned from `useForm` are not in the nested format expected, as the `data` is when submitting.

Example:

[code]

In this scenario, the `data` supplied to `handleSubmit` properly looks like this, as the docs describe:

[code]

But, if the field is i

[2019-11-15 17:30] f4z3k4s opened #516 "watch returns null instead of default checked value in dynamically generated checkbox"
**Describe the bug**
A dynamically added checkbox's value returned from `watch` is `null` although it has a default value of `true`.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on checkbox with label `a`

**Codesandbox link**
https://codesandbox.io/s/crimson-cdn-8w3lv

**Expected behavior**
I exptected `b` to be `true` as soon as it is added to DOM.

[2019-11-15 20:42] bluebill1049 commented on #510
awesome thanks :) if you find the lib useful, please consider to support it by leave a little star, thank you 👍 (if you already had, please ignore) :)

[2019-11-15 20:43] bluebill1049 commented on #513
that will be great @Chastrlove, we all want this lib to be solid and work for everyone 👍

[2019-11-15 21:06] bluebill1049 commented on #367
close again :) feel free to submit a PR or let me know why it's not working for you. @jj-diaz1067

[2019-11-15 21:06] #367 closed

[2019-11-15 21:34] #516 closed

[2019-11-15 21:35] bluebill1049 commented on #516
thanks, @f4z3k4s for reporting this issue, it's been fixed you can verify via the codesandbox link or install the patched version. https://github.com/react-hook-form/react-hook-form/pull/517

[2019-11-15 21:38] bluebill1049 commented on #515
hey @babramczyk , I understand your concern, however, this is by design. At least for now, I will keep the errors object in this pattern(string). I know you can use `Optional Chaining`, however it's not widely supported just yet, and until then I will move into such object shape.

[2019-11-15 21:39] #515 closed

[2019-11-15 22:39] hitbear518 opened #518 "3.28.0 setError type incorrect"
**Describe the bug**
in 3.28.0 setError's type is
[code]
which only accept to arguments, which is previous 3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Codesandbox link**
Include a codesandox will help us to investigate the issue quicker.

**Expected behavior**
A clear and concise description of what you expected to

[2019-11-15 22:45] bluebill1049 commented on #518
@hitbear518 what do you mean? it always supports 2 arguments, but with the latest release, you supply an array of errors

[2019-11-15 22:48] hitbear518 commented on #518
in example it used 3 arguments `setError("username", "notMatch", "please choose a different username")`, previously in type declaration it's second param is  'type'.
by 3 arguments I mean 'name', 'type', 'message'.

[2019-11-15 22:55] bluebill1049 commented on #518
oh.... you are right!

[2019-11-15 22:55] bluebill1049 commented on #518
sorry i will patch it right away, crap...

[2019-11-15 22:58] bluebill1049 commented on #518
hmmm...

[code]

[2019-11-15 22:58] bluebill1049 commented on #518
weird...

[2019-11-15 23:08] bluebill1049 commented on #518
find the issue, thanks mate :)

[2019-11-15 23:15] #518 closed

[2019-11-15 23:56] babramczyk commented on #515
I don't think my concern is specifically tied to optional chaining -- that's just what I chose to use in my example.

That being said, I understand wanting to avoid the alternative, I guess? (`errors.accounts && errors.accounts[0] && errors.accounts[0].name`). This is still unintuitive, especially considering the difference with `data`.

At the very least I'd expect the documentation to point this

[2019-11-15 23:59] bluebill1049 commented on #515
sure @babramczyk I will update the documentation.
`(errors.accounts && errors.accounts[0] && errors.accounts[0].name)` This is exactly what I try to avoid and running into `undefined`. In the near future, when optional chaining is getting better coverage, I will get it back into nested object shape.

[2019-11-16 00:04] bluebill1049 commented on #515
It actually would be a good idea for you to improve the docs too. you can find the repo here: (feel free to send a PR to address this concern) https://github.com/react-hook-form/react-hook-form-website

[2019-11-16 07:34] subhendukundu opened #521 "Custom registered input error not getting removed"
**Describe the bug**
After page load if I submit the inputs, got a list of input errors of the required fields. After selecting the input or adding value, the errors not removing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-custom-input-q1mo9
2. Click on Submit
3. See console.log about the errors
4. Now add the required values
5. See console

[2019-11-16 07:51] bluebill1049 commented on #521
for the custom register, you will have to unregister yourself as well. because `ref` is not attached during `register`

https://react-hook-form.com/api#unregister

[2019-11-16 08:32] subhendukundu commented on #521
A bit confusion here, when do I have to `unregister`?
Cause the idea is to make it work as it works with ref. So to do that are you unregister the input, but on what event? onsubmit?
Sorry for the trouble :(

[2019-11-16 08:49] bluebill1049 commented on #521
sorry I didn't look at your example just by reading your title...

`setValue("antDInput", e.target.value, true)` you can set the thrid argument to trigger validation.

[2019-11-16 08:52] bluebill1049 commented on #521
https://react-hook-form.com/api#setValue

[2019-11-16 08:56] subhendukundu commented on #521
Aha makes sense now. Ok, thanks
And if  I had a pattern to validate, I have to that with `triggerValidation` and based on that value passes the validation true false? No out of the box like normal input works?

[2019-11-16 09:01] bluebill1049 commented on #521
[code]

should be the same.

[2019-11-16 09:04] subhendukundu commented on #521
Perfect. Thanks

[2019-11-16 09:04] #521 closed

[2019-11-16 10:35] martinjurkovic commented on #85
@chanm003 I'm having trouble with displaying default value with semantic ui for editing forms just like you? Could you upload a working example?

[2019-11-16 10:37] bluebill1049 commented on #85
@martinjurkovic you probably have to use inline `defaultValue`

[2019-11-16 10:57] bluebill1049 opened #522 "Remove browser build-in validation feature"
Hi guys,

I just want to get your thoughts on remove `nativeValidation` option at `useForm`.
https://react-hook-form.com/api#NativeValidation
after 9 months of maintaining this lib, there is no single question regard browser build-in validation, I have a feeling that most of us are using this lib for custom form validation (which is what I used at work as well).

I still want to keep this lib as l

[2019-11-16 17:29] cdock1029 opened #524 "setState on unmounted component when closing modal form on keypress"
**Describe the bug**

- Form is rendered in a modal.
- escape key press closes modal (unmounts form)
- while in `mode: 'onBlur'` this key triggers onBlur validation which is likely setting state
after form is unmounted

**To Reproduce**
- show modal form
- touch inside input
- press escape key to close modal
- see console error

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-errors-

[2019-11-16 19:54] Kurzdor opened #525 "focus input on mount"
Hi! Currently I am using this library and I need to make better UX by focusing my first input in the form.
Any thoughts how can I get what i want?

Thank you in advance!

[2019-11-16 19:57] Kurzdor commented on #522
The library is already lighter than all form managment libraries, so be mindful when removing any API. Personally, I don't use NativeValidation API in library.

[2019-11-16 20:02] Kurzdor commented on #524
This is serious bug because a lot UI libs or devs using this pattern when creating modals.
Please, fix it asap. Thank you

[2019-11-16 20:14] Kurzdor commented on #525
Ok, i found the solution.
Use ```autoFocus``` attribute on input.

[2019-11-16 20:14] #525 closed

[2019-11-16 20:23] bluebill1049 commented on #522
yea thanks @Kurzdor for your feedback.

[2019-11-16 20:55] bluebill1049 commented on #524
thanks @cdock1029 for the detailed issue report. really made my life easier 🙏

[2019-11-16 20:57] bluebill1049 commented on #524
fixed the issue :) you can test out in this PR's codesandbox
https://github.com/react-hook-form/react-hook-form/pull/526#issuecomment-554673638

[2019-11-16 21:12] #524 closed

[2019-11-16 21:20] bluebill1049 commented on #524
@cdock1029 once you confirm this fix the issue, i will release a patch asap :)

[2019-11-17 04:59] sirluis commented on #522
I think it's good to have native validation as an alternative to yup (which is pretty huge and no tree-shakeable) until the generic validation feature comes out.

[2019-11-17 05:01] bluebill1049 commented on #522
thanks, @sirluis for your feedback, I think I may confused you with `native validation`, it's the browser build-in validation (I will update with a screenshot), which hardly has people using it with this lib. Yes, generic schema validation is going to come, I have a plan for it already :)

[2019-11-17 05:03] bluebill1049 commented on #522
I am more than happy to keep its functionality if people are using it, otherwise, it's a burden for this lib.

[2019-11-18 02:27] gustavopch opened #528 "Can't watch field when using react-input-mask"
**Describe the bug**
When using `react-input-mask`, the input stops working as soon as you `watch` the field.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the CodeSandbox.
2. Try typing in the first input: it works.
3. Try typing in the second input: you can't type.

**Codesandbox link**
https://codesandbox.io/s/exciting-germain-73xe4

**Expected behavior**
The second input should wo

[2019-11-18 02:36] bluebill1049 commented on #528
hey @gustavopch,

The issue because when you are watching the `input`, it will get re-rendered each keystroke. I will suggest using onChange yourself to do the masking.

`<input name="test" onChange={e => e.target.value = 'do your mask here' } />`

[2019-11-18 02:52] gustavopch commented on #528
@bluebill1049 The problem with doing the mask myself is that it'll lose the cursor position as I add/remove characters. There are also a lot of little UX details around input masking that are not trivial to address.

To name just one example:
1. Open this CodeSandbox: https://codesandbox.io/s/387z7njwzp
2. Enter "12" in the DOB field. It'll automatically become "12/" and the cursor will be positio

[2019-11-18 03:11] bluebill1049 commented on #528
please use this, for now, I will take a looking solution with `watch`

[code]

[2019-11-18 03:20] gustavopch commented on #528
I understand. Thanks @bluebill1049. I don't know if you want to keep this issue open while you investigate further. You may close it if you want.

Just as a side note: maybe you should think about adding masking capabilities to this lib. :thinking:

[2019-11-18 03:22] bluebill1049 commented on #528
thanks @gustavopch I will leave this open until I figure out something. yea I will get to that when I get some free time (right now RHF takes most of the time), it would be a separate project tho :)

[2019-11-18 03:28] bluebill1049 commented on #528
hey @gustavopch

I think this is a better solution:

[code]

[2019-11-18 03:29] bluebill1049 commented on #528
we can close this if you are happy with the above solution :)

[2019-11-18 03:31] gustavopch commented on #528
@bluebill1049 I've replicated your last suggestion. It doesn't work well, try typing in the second input: https://codesandbox.io/s/admiring-glade-b5p7k

[2019-11-18 04:36] bluebill1049 commented on #528
hmmm I am not sure then (not sure the detail about the input mask component)... please use `useState` for now :)

[2019-11-18 05:01] bluebill1049 commented on #528
ok final solution : )  and it works closing

[code]

[2019-11-18 05:01] #528 closed

[2019-11-18 12:08] f4z3k4s commented on #516
@bluebill lightning fast, thank you, this repo is one of the most well-maintained ones I've seen

[2019-11-18 19:23] jgb-solutions opened #530 "`minLength` validation triggers when empty and not required"
I have an input that's not required. But if it has a value, the length must be at least 20 characters.

Goal: If empty, submitting the form without it should succeed.
Behavior: It asks for a min length of 20 when the field is not required.

[2019-11-18 19:56] bluebill1049 commented on #516
thank you @f4z3k4s please consider to leave a star to support us too ❤️

[2019-11-18 19:58] bluebill1049 commented on #530
@jgb-solutions, please try to upgrade to the latest version, also please consider uploading a codesandboa by following the issue template 👍

[2019-11-18 20:03] jgb-solutions commented on #530
ok thanks! I'll try upgrading it and let you know how it goes.

[2019-11-18 20:09] jgb-solutions commented on #530
upgrading from `3.23.18` to `3.28.1` actually fixes it. Thanks.

[2019-11-18 20:10] bluebill1049 commented on #530
great :) closing

[2019-11-18 20:10] #530 closed

[2019-11-18 22:45] bluebill1049 commented on #177
If you are facing similar issue, material-ui is considering to support react-hook-form. https://github.com/react-hook-form/react-hook-form/issues/477

[2019-11-18 23:32] bluebill1049 commented on #408
@mlarcher FYI custom validation schema is working in progress: https://github.com/react-hook-form/react-hook-form/pull/529

[2019-11-19 00:24] stramel commented on #522
Hmm between this and adding custom schema validation. I feel like we could probably just implement the generic validation API for a plug-in style architecture. I brought it up a while back

[2019-11-19 00:48] bluebill1049 commented on #522
valid point :) I didn't pursuit the plugin idea, because I prefer dev not to worry about which plugin for which type of validation. To be honest, I may just keep browser build in validation, it probably only can save us 0.2 - 0.3 Kb (gzipped). any thought on the custom schema validation, I want to support Joi and other validation schemas for a while, I think this will help.

[2019-11-19 02:40] Chastrlove opened #531 "Input lose the cursor position when use 'watch' and 'setValue(name,value,true)'"
**Describe the bug**
Input lose the cursor position when I use the api  'watch' and 'setValue(name,value,true)'

**To Reproduce**
Steps to reproduce the behavior:
1. input 1231
2. cursor to 12|31  to input 1
3. the result 12131|

**Codesandbox link**
https://codesandbox.io/s/antd-reproduction-template-tnljn  Antd Input
https://codesandbox.io/s/jovial-bash-i6wc7 native input

**Expected behavior**

[2019-11-19 02:43] bluebill1049 commented on #531
Hey @Chastrlove looks like both examples work. I think i may miss the steps on how to reproduce?

[2019-11-19 02:48] bluebill1049 commented on #531
thanks @Chastrlove I will take a look this one soon :)

[2019-11-19 02:52] Chastrlove commented on #531
![Kapture 2019-11-19 at 10 51 45](https://user-images.githubusercontent.com/17813559/69112221-b67c0f80-0aba-11ea-94c7-309f0868cb77.gif)

[2019-11-19 03:18] bluebill1049 commented on #522
closing this, for now, maybe we can leave as it is...

[2019-11-19 03:18] #522 closed

[2019-11-19 04:24] julian-linux opened #532 "Any tip for testing?"
I'm using react-scripts  and material-ui and my code is something like
[code]

i want to test the form doing something like
[code]

this throw me 2 errors:
 1. onSubmit is not called
 2.
[code]
i put every `simulate` in an `act` function and does not work.

Any tip is welcome

[2019-11-19 04:30] bluebill1049 commented on #532
Can you please post this question in our spectrum channel? Some of the community member may be able to help u out there.

[2019-11-19 05:04] bluebill1049 commented on #532
Try async

[code]

[2019-11-19 05:24] bluebill1049 commented on #531
hey @Chastrlove the issue should have been resolved. you can try the codesandbox in that PR.

[2019-11-19 05:53] sagar10k opened #534 "Implimentation of validation in form created with more than two components"
hello there i have a problem case where there are two components one parent and one child so in parent component i have     <form onSubmit={ handleSubmit(any_func) }> but the input fields of this form is called with child component where i have registered the input fields to hooks and also used error method if field is left empty so my problem is when i click on submit button of form the handleSub

[2019-11-19 05:54] Chastrlove commented on #531
it works :) ,but i am confuse with reason. it looks like exchanging the render time，then it work？

[2019-11-19 05:59] bluebill1049 commented on #534
please prepare a codesandbox with your problem. it's hard to read your code without proper format and to reproduce the issue as well.

[2019-11-19 06:02] bluebill1049 commented on #531
@Chastrlove it's because when you set the third argument to `true`, it will trigger validation and it is async, hence it breaks the react rendering. so I am fixed to render naturally as required (when you are watching), and trigger another extra re-render, if there is the need for re-render an error or resolve the error.

[2019-11-19 06:05] bluebill1049 commented on #534
you should pass the `register` down as `props`
[code]

[2019-11-19 06:14] sagar10k commented on #534
it is working now thanks buddy great help....

[2019-11-19 06:16] bluebill1049 commented on #534
my pleasure :) 👍 next time please try to come up with a codesandbox, it will help me to help you easier and better :) you can join here to get help from the community as well: https://spectrum.chat/react-hook-form

[2019-11-19 06:16] #534 closed

[2019-11-19 06:17] bluebill1049 commented on #534
leave a star if you find the lib useful too :)

[2019-11-19 06:18] sagar10k commented on #534
Sure things man its really good lib and i want to explore a lot so kudos for your work

[2019-11-19 06:21] bluebill1049 commented on #534
thanks @sagar10k make sure you learn this as well: https://react-hook-form.com/api#FormContext
you don't have to pass down prop all the time, and if your child input is quite deep. you can use FormContext, have a play with the codesandbox. you will get the idea.

[2019-11-19 06:52] sagar10k commented on #534
yeah i will take a look at formContext...and currently my task i quite big and there are lot of components i have used which are dependent on each other so i was confuse how to use sandbox and thats why i tried to create dummy sample in txt file to explain my problem but next time i will try sandbox thanks

[2019-11-19 06:56] bluebill1049 commented on #534
Awesome! 👍🏻

[2019-11-19 07:34] fjson opened #535 "watch not work in ios 10.2"
[code]

[Error] TypeError: Object.values is not a function. (In 'Object.values(fields)', 'Object.values' is undefined)
	getFieldsValues (react-hook-form.es.js:316)
	watch (react-hook-form.es.js:1444)
	Test (baseInfo.js:2407)
	renderWithHooks (react-dom.development.js:13354)
	mountIndeterminateComponent (react-dom.development.js:15407)
	performUnitOfWork (react-dom.development.js:20086)
	workLoop (

[2019-11-19 07:45] bluebill1049 commented on #535
This is not related to this lib.

`[Error] TypeError: Object.values is not a function. ` most likely your transpile is not updated. or you can try to use the IE 11 version https://react-hook-form.com/faqs#BrowserSupport

[2019-11-19 07:47] bluebill1049 commented on #535
which react native version? or which version of `expo`?

[2019-11-19 08:53] markusschlebusch commented on #532
Just had the same issuebut I solved it with the following code:

`
    act(async () => {
      .....
      wrapper.find('form').simulate('submit');
      expect().toHaveBeenCalledTimes(1);
    });
`
When the expect is after the act()-part it doesn't work because of a timing issue.

[2019-11-19 09:10] bluebill1049 commented on #532
Thanks @mschlebusch !

[2019-11-19 09:10] #532 closed

[2019-11-19 09:28] #531 closed

[2019-11-19 09:56] mschlebusch commented on #532
Sorry this solution didn't work. Had some confusing issues locally.

[2019-11-19 09:57] bluebill1049 commented on #532
what's the confusing issue? @mschlebusch

[2019-11-19 09:57] bluebill1049 commented on #532
I will recommend you guys to use test-library with hooks. That's what we using in this lib.

[2019-11-19 09:59] bluebill1049 commented on #532
post your question here: https://spectrum.chat/react-hook-form?tab=posts our community can help out too.

[2019-11-19 12:13] yi-tuan opened #536 "Some definitions are not exported"
My project needs definitions like `ValidationOptions` 、`FieldError` and so on, but they are not exported

[2019-11-19 16:58] julian-linux commented on #532
I have a solution.
I had to change to `react-testing-library` for this. Enzyme does not work as expected.

This is an idea of my form.... and i added some props for `react-testing-library`
[code]
And this is an idea of my new test
[code]

Tnx for the ideas guys

[2019-11-19 17:13] bopfer commented on #532
There is generally no reason to use `act` with react-testing-library.  It already wraps an act around the necessary functions, like `fireEvent`.

I do think switching to react-testing-library is a good idea though.  It's much nicer for testing react apps.

[2019-11-19 17:43] julian-linux commented on #532
if i not put `act`, it will show
[code]

[2019-11-19 18:13] babramczyk commented on #515
I've actually ran into a use case that pretty well justifies my original suggestion.

If you want to check if there's _any_ errors for a particular model, that's not possible with the current implementation.

e.g.
[code]

Currently, to check if there's any errors for `accounts[0]`, you have to do this `accounts[0].name || accounts[0].dob || accounts[0].phoneNumber` instead of `accounts[0]`.

[2019-11-19 19:16] tjatwood commented on #302
I'm still seeing this issue even after upgrading to 3.28.1. Is there anything else that's needed besides just calling `reset()` on on the form?

[2019-11-19 19:32] tjatwood commented on #302
Actually, the issue was that I was calling `reset()` inside the submit handler. Including a `setTimeout()` around the call to `reset()` fixed the issue.

[2019-11-19 20:07] bluebill1049 commented on #515
why not just `errors['accounts[0].name']`?

[2019-11-19 20:09] bluebill1049 commented on #515
ok, i see, we have to live with this for a while until we move on to the next major version.

[2019-11-19 20:10] bluebill1049 commented on #302
@tjatwood can you supply a codesandbox for this issue?

[2019-11-19 20:17] bluebill1049 commented on #515
in the meantime, you can easily build a little utility function

`containError('name')` do your forEach to check the error inside

[2019-11-19 20:30] #535 closed

[2019-11-19 20:35] bluebill1049 commented on #536
This probably one of the mistakes that I did during the API design. I should have exported everything out instead make life easier with useForm... (import useForm from '...') I am planning for the next major change to export everything.

instead of this:

[code]

[code]

well, this is going to be a breaking change, unless you have a better solution for now. otherwise, we have to live with this for

[2019-11-19 21:43] jgb-solutions opened #537 "Support for file input"
Do you guys already have, or do have plans to support file inputs? I'm working on a form that uploads one or more files and integrating them with this package is a pain in the neck. Adding support for custom file input would be great. Anyway that's just a suggestion.

[2019-11-19 21:53] bluebill1049 commented on #537
Pretty sure we do. I would recommend you join our spectrum channel for general questions. 🤟🏻

[2019-11-19 21:54] tjatwood commented on #302
Here you go https://codesandbox.io/s/suspicious-cori-fd354. I was able to narrow it down to only happening when I use Material UI components. I don't know if that's something you really want to support though.

[2019-11-19 22:17] jgb-solutions commented on #537
I'm joining now. thanks

[2019-11-19 23:15] bluebill1049 commented on #537
sounds good! thanks :) @jgb-solutions

[2019-11-19 23:15] #537 closed

[2019-11-19 23:50] bluebill1049 commented on #302
thanks @tjatwood for the codesandbox :) for MUI related issue, the author is already considering to have better support for react-hook-form. So hopefully that will happen 👍

[2019-11-20 05:40] bluebill1049 commented on #536
hey @yi-tuan I am closing this issue, for now, we will address this in v4, otherwise, let me know if you have any alternative solution for the current version.

[2019-11-20 05:40] #536 closed

[2019-11-20 08:26] gbreux opened #539 "onChange on multiple checkbox doesn't work properly"
**Describe the bug**
When you use onChange on a form to get the value of the new multiple checkbox feature, it doesn't return the proper value and doesn't trigger the checkbox accordingly, while onSubmit works fine.

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-basic-5ht7n?fontsize=14&hidenavigation=1&theme=dark

**Expected behavior**
onChange should behave the same way as onSubmi

[2019-11-20 08:47] bluebill1049 commented on #539
[code]

can you use `watch` API instead? it's working as expected. curious to know why you using onChange on form?

[2019-11-20 09:27] gbreux commented on #539
Thanks for you fast reply!

How would you, however, trigger an action based on the `watch` change that will impact the props of the component? The object comming from `watch` is recreated at every render and will have a different pointer so the `useEffect` will trigger an infinite loop 🤔

I use the onChange to autosave the changes, and it work pretty well with react-hook-form until this multiple c

[2019-11-20 09:29] bluebill1049 commented on #539
[code]

what about above?

[2019-11-20 09:36] gbreux commented on #539
That what I was saying, if in the `useEffect`, you change the props of the component (like you do using the context API, it will trigger an infinite loop because `values` will have a different pointer at every render

[2019-11-20 09:41] bluebill1049 commented on #539
[code]

[2019-11-20 09:45] gbreux commented on #539
Oh! That's a pretty good solution! Thank you very much!

[2019-11-20 09:46] #539 closed

[2019-11-20 09:47] bluebill1049 commented on #539
👍 the reason why it's not working due to `e.preventDefault()` in `handleSubmit` :) btw if you find this lib useful, please consider supporting this lib by leaving a start too. thanks 🙏

[2019-11-20 10:07] bluebill1049 commented on #501
going to close this issue now, you guys can keep upvote this issue if you think it's necessary.

[2019-11-20 10:07] #501 closed

[2019-11-20 13:53] MunifTanjim opened #541 "`name` with nested field notation consistency"
**Is your feature request related to a problem? Please describe.**

If `name` prop is `key.abc`, it sets `{ key: { abc: '' } }`.
If `name` prop is `key.123`, it creates a large array with `123` empty elements and sets the value on `123` index.

So if the nested field's key is a huge number, it ends up creating a huge array.

**Describe the solution you'd like**

Consistent behavior:

`key.abc` wil

[2019-11-20 13:55] babramczyk commented on #532
I'm also getting the error above.

My guess at this point is that, since field validation in react-form-hook is `async`, that's what causing the hanging DOM changes.

And since the `act` that RTL wraps events is `act(() => { ... })` instead of `act(async () => { ... })`, it doesn't handle this case..? Just a guess though.

[2019-11-20 17:58] girards opened #542 "SetValue is not fully typesafe"
When using the `setValue` with the `useForm<T>` we realised that the first parameter of `setValue()` is not typesafe. it has been change to have the following typing :

[code]

the `| string` makes the following code not break where it actually should

[code]
_Here, `foo` is not a property of `InviteMemberFormProps` therefore I should not be able to use it as a `setValue()` parameter_

By removing

[2019-11-20 21:01] bluebill1049 commented on #542
thanks, @girards for report this issue. the reason why there is a type for `string`. it's hard to predict type for `object | array` inputs. Feel free to send a PR or provide your suggestion to solve this problem tho, which I do want to address this.

[2019-11-20 21:03] bluebill1049 commented on #541
@MunifTanjim maybe we can avoid start with a number? I am happy to drop a note about this on the website.

[2019-11-20 21:04] bluebill1049 commented on #532
@babramczyk you are right, it's because of some of the validation/internal code can be `async`.

[2019-11-21 04:23] MunifTanjim commented on #541
I'm using this to mark items as selected. Each item has a checkbox, selecting it sets `selected.ITEM_ID` to `true`. But the `ITEM_ID`s are very large integers. So, I don't feel comfortable with `react-hook-form` creating a large array for that.

The workaround I'm using is by adding a minus in front of the `ITEM_ID`. So setting `selected.-999` sets the key (`-999`) to the object (`selected`). And

[2019-11-21 05:08] bluebill1049 commented on #541
thank you @MunifTanjim very much for your kind words! my pleasure to give back to the community :) dame I will give another try on the input name, last time almost killed me with the regex. Hopefully I can get it to work, otherwise, we may have to leave with the hack for now.

[2019-11-21 06:29] bluebill1049 commented on #541
I tried again, it's too tricky to get it right and it make thing much easier with just detect number as an array... let's keep as what we got, for now, maybe someone can help on this or one day I can

[2019-11-21 06:29] #541 closed

[2019-11-21 12:32] adamscybot opened #545 "Move away from MutationObserver"
**Is your feature request related to a problem? Please describe.**
MutationObserver is outside of the React DOM removal process and so it feels weird. It's not causing a problem apart from possibly browser support issues and the perf impact of using it.

**Describe the solution you'd like**
In https://github.com/react-hook-form/react-hook-form/issues/26 @bluebill1049 says he needs mutation observe

[2019-11-21 12:41] sagar10k opened #546 "why entire component rerenders after error message is displayed?"
hey there, I have a doubt regarding the error method that we use to display error message, my question is when the error message is displayed on the form after that does it render the entire component again or not because in my case i have form component which get renders again when error message is displayed after submit button is clicked (ideally it should not happen it should just display the m

[2019-11-21 13:57] babramczyk commented on #532
Out of curiosity, why are validations asynchronous?

[2019-11-21 14:43] krnlde commented on #532
Because they can be expensive (time-consuming), especially when you have backend validation involved.

[2019-11-21 15:09] MatiasCiccone opened #547 "Reset forces all fields to be changed"
**Describe the bug**
When using `{mode: 'onChange'}` with validations, `reset()` sets `isValid` as `false` but now it enforces all the fields to be changed to set `isValid` as true

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sandbox below
2. Notice that `isValid` is `true`
3. Click on `RESET` button (now `isValid` is `false`)
4. Change just one input value
5. Notice that `isVal

[2019-11-21 18:16] hbarcelos commented on #318
I'd like to +1 this.

I don't think 2 helper functions with 1 or 2 lines each add significant overhead in terms of bundle size.

I just discovered this library and so far I think it is awesome, however, I do not think it is reasonable to ask users to include something like `lodash` for very simple functionality that is basically the core of the lib.

I've implemented helpers like this:

[code]

Pr

[2019-11-21 19:40] bluebill1049 commented on #545
thanks, @adamscybot for your suggestion. I think for now we will stay with MutationObserver. Let me know if you have a better suggestion, we can consider to factor that in for the next major version.

[2019-11-21 19:45] bluebill1049 commented on #546
that's the react render life cycle. react hook form need to trigger re-render in order to display an updated error message. same as useState or setState.

[2019-11-21 19:45] #546 closed

[2019-11-21 19:46] bluebill1049 commented on #542
going to close this issue for now until we or someone else figure out a better solution for this.

[2019-11-21 19:46] #542 closed

[2019-11-21 19:49] bluebill1049 opened #548 "SetValue should respect mode/revalidateMode"
**Describe the bug**
SetValue should respect mode/revalidate mode, so user don't have to manually set the trigger validation argument

**Expected behavior**
smarter setValue for error correction and display

**Additional context**
This will work well with the new react-hook-form-input component to support MUI and react-select.

[2019-11-21 19:55] bluebill1049 commented on #547
Hey @MatiasCiccone isValid is still working. however we using `proxy` for the `formState` object.

if you retrieve individual form state as below. it should work for it.

`console.log(formState.isValid)`

[2019-11-21 20:24] #548 closed

[2019-11-21 20:36] bluebill1049 commented on #545
hey, @adamscybot that's a pretty good idea! PR, please! curious when you should trigger the ref null check.

[2019-11-21 20:47] bluebill1049 commented on #545
for custom register like react native, it will be null tho :( which register during `useEffect`

[2019-11-21 21:51] bluebill1049 commented on #545
Yeah I think we can leave what we have for now...

[2019-11-21 21:51] #545 closed

[2019-11-21 21:51] bluebill1049 commented on #545
Thanks for ur suggestion and inputs tho

[2019-11-22 09:50] estshy commented on #501
@giovanniantonaccio If I understood your issue correctly then I think it was facing similar problem, the think which I did to solve it was as follow

components/form/validationSchemaContext.js
[code]

components/form/index.js
[code]

components/input/index.js
[code]

[2019-11-22 10:16] dijkstra007 commented on #548
@bluebill1049 Is it also related with react-datepicker? my revalidateMode for this field doesn't work.

[2019-11-22 10:30] sagar10k opened #549 "how to use error method for input type of file in edit form?"
Hey there, I have a problem where i have created a input field with type file and i have registered it into hooks now the problem is the form is an edit form so initially i have to display the previous selected image name on form so user has an option if he wants to change the image or not and when user don't want to change the image and click submit. the error method is run and error is shown as

[2019-11-22 10:33] bluebill1049 commented on #549
can you please supply a codesandbox? and prefer asking questions in the spectrum channel please.

[2019-11-22 10:36] bluebill1049 commented on #548
hey @dijkstra007 `revalidateMode` is not going to work with controlled component with react-datepicker. but you can leverage with `formState` and `setValue`

`setValue('name', 'value', formState.isSubmitted)`

also i am making a wrapper component for controlled component. maybe you will find it useful too :

https://github.com/react-hook-form/react-hook-form-input

[2019-11-22 10:38] bluebill1049 commented on #549
i am going to close it here, and post your quesiton in here. https://spectrum.chat/react-hook-form/general/not-my-question~ae3ceaf3-33e6-45de-b326-d9f2e3fd825e
you can upload your codesandbox here.

[2019-11-22 10:38] #549 closed

[2019-11-22 11:13] krnlde commented on #547
Does this mean if you destructure the formState it won't work as expected?
[code]

Because that's what I'm doing all the time.

[2019-11-22 11:14] bluebill1049 commented on #547
that's fine @krnlde :)

[2019-11-22 11:14] bluebill1049 commented on #547
his example was pretty much console.log(formState)

[2019-11-22 13:13] MatiasCiccone commented on #547
@bluebill1049 please take a look again to the sandbox I updated it with your suggestions. And `isValid` is not `true` until I execute `triggerValidation` or I change all the inputs.
https://codesandbox.io/s/react-hook-form-reset-forces-all-fields-to-be-changed-p9q8v

[2019-11-22 13:46] krnlde commented on #547
I'm pretty sure I have the same issue. Thanks for the codesandbox that isolates this problem.

[2019-11-22 18:52] sinnlosername commented on #318
I agree with this

[2019-11-22 20:41] bluebill1049 commented on #547
thanks @MatiasCiccone i didn't type or interactive with anything looks like the output is correct. do i miss anything here?
<img width="288" alt="Screen Shot 2019-11-23 at 7 40 17 am" src="https://user-images.githubusercontent.com/10513364/69458891-8ab39f00-0dc4-11ea-9d2c-650e370d1f7b.png">

[2019-11-22 20:42] bluebill1049 commented on #547
oh! it's the reset button. sorry i miss that the whole time. i will take a look at this

[2019-11-22 20:58] hbarcelos commented on #318
@bluebill1049 I can work on a PR for this during the weekend.

[2019-11-22 21:11] bluebill1049 commented on #318
hey, @hbarcelos sorry for the late reply (too many things in my hands at the moment 🤘)  thanks for your detailed feedback. I didn't force everyone to install `Lodash` (definitely not my intention only if your project already includes it) :) in fact, I wrote a small section for Error Message:

https://react-hook-form.com/advanced-usage#ErrorMessage

recently there is a new ES feature release which

[2019-11-22 21:55] #547 closed

[2019-11-22 22:08] krnlde commented on #547
You are awesome :)

[2019-11-22 22:12] bluebill1049 commented on #547
thanks @krnlde you too :) thanks for verifying the issue

[2019-11-22 23:11] MatiasCiccone commented on #547
@bluebill1049 @krnlde thanks to both. I really like this library that's why I'm reporting these issues

[2019-11-22 23:14] bluebill1049 commented on #547
thanks @MatiasCiccone 👍 keep reporting those issues we can make this lib better and better

[2019-11-23 00:28] miguel-lattuada opened #553 "Schema Errors cleaned after manually triggering setValue(name, value, true) for a given field"
**Describe the bug**
Schema Errors are cleaned when you manually set a value with setValue and trigger validation.
This will return an empty object, or if the value is still invalid just the object with that value.
https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L312

**To Reproduce**
Steps to reproduce the behavior:
1. Configure useForm to use schema validation
2. Tr

[2019-11-23 02:30] bluebill1049 commented on #553
thanks for the detailed issue report @miguel-lattuada :) i will take a look at it.

[2019-11-23 05:44] #553 closed

[2019-11-23 15:15] GProst opened #555 "Problem watching complex custom fields"
I'm trying to implement a single source of truth via react-hook-form for my dynamic form.
Let's say there is a dynamic array of objects (`animals`) with props `name` and `type`, so the fields will have the following names: `animals[index].name` and `animals[index].type`. And `type` is a custom field.
I watch all the animals using `watch('animals')`, animals can be added and removed dynamically and

[2019-11-23 16:09] GProst commented on #555
I think the problem appears when there are several field types involved (custom and not-custom). I.e. if `animals[0].type` is custom and `animals[0].name` is not.

Here is a Sandbox example:
https://codesandbox.io/s/react-hook-form-get-started-43dde
Uncomment `useEffect` and try to update text input, it will crash.

[2019-11-23 16:26] GProst commented on #555
Example with not triggered re-render:
https://codesandbox.io/s/react-hook-form-get-started-6r6x8

[2019-11-23 17:46] GProst commented on #555
I believe the issue is in the `getPath` checks ([this line](https://github.com/react-hook-form/react-hook-form/blob/master/src/utils/getPath.ts#L19) and [this line](https://github.com/react-hook-form/react-hook-form/blob/master/src/utils/getPath.ts#L28))
I think it should be `!isObject` instead, otherwise if the value is a primitive other than string it will throw an error.

[2019-11-23 21:43] bluebill1049 commented on #555
hey @GProst thanks for the detailed issue report and diagnose! Do you want to submit a PR since you figure the solution (credit goes to you) 👍. i can help to test as well.

[2019-11-23 21:45] GProst commented on #555
@bluebill1049 yep, will do!
But probably tomorrow morning already 👍

[2019-11-23 21:52] bluebill1049 commented on #555
no worries :) whenever you have some free time 👍

[2019-11-24 01:23] ahce opened #557 "Controller component doesn't work on version >= 3.28.0"
**Describe the bug**
Works fine on version 3.27.0

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-bug-ben8i

**Expected behavior**
3.27.0 behavior

[2019-11-24 02:50] bluebill1049 commented on #557
This is correct behavior, 3.27.0 has a bug that triggers re-render when not required. I would recommend use this component for controlled component: https://github.com/react-hook-form/react-hook-form-input

[2019-11-24 02:52] bluebill1049 commented on #557
you should have use `watch()` if you want to subscribe to the input'value too.

[2019-11-24 03:00] ahce commented on #557
I use this behavior for material-ui-pickers, as indicated in the [documentation](https://react-hook-form.com/api/#register).

What is the best solution in 3.28.x?

[2019-11-24 03:03] bluebill1049 commented on #557
take a look this wrapper component, you will find it much easier to work with react-hook-form while still give you app great performance: https://github.com/react-hook-form/react-hook-form-input.

[code]

[2019-11-24 03:04] bluebill1049 commented on #557
live demo here: https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s

[2019-11-24 03:10] bluebill1049 commented on #557
i am updating the docs as we speak with this new component.

[2019-11-24 03:12] ahce commented on #557
Great!
Thank you very much!

[2019-11-24 03:16] bluebill1049 commented on #557
you are welcome :) ask you a favor if you find this lib useful, please consider to leave a star to support us too (no pressure if you don't want to)

[2019-11-24 20:37] bluebill1049 commented on #557
just use `watch`

[code]

i think it's important to understand the difference between `watch` and `getValues()`

watch subscribe to the input and watch each input
getValues doens't trigger re-render and only return the current form values

[2019-11-24 21:28] waynebrantley opened #559 "React-Widget DateTimePicker errors"
I cannot seem to get DateTimePicker from React-Widgets to work correctly.

If you open this codesandbox, you will see there are console errors.
https://codesandbox.io/s/react-hook-form-hookforminput-xfrup

The errors appear to be about the component expecting the 'value' to be a javascript Date.
Using Redux-Form, we have something like this:

``value={!input.value ? null : newDate(input.value)}
If

[2019-11-24 23:43] hbarcelos commented on #318
I don't think adding a HOC would be the right approach here. HOCs are exactly one of the things that hooks made deprecated.

In case such helper methods cannot be added to this library, I'll probably define a custom hook like this and use it:

[code]

[2019-11-24 23:46] bluebill1049 commented on #318
What do you mean HOC? I thought the idea was to just to create a component. (similar to https://github.com/react-hook-form/react-hook-form-input)

[2019-11-25 00:03] hbarcelos commented on #318
This is a HOC ([Higher Order Component](https://reactjs.org/docs/higher-order-components.html))!!!

A Higher Order Component is a Component that receives other components as a parameter and/or returns a new one.

That's exactly what you do here:
[code]

In that case, it actually kind of makes sense using a hooked HOC, it's actually pretty neat (:

However, I can't see how that could apply to the u

[2019-11-25 00:33] bluebill1049 commented on #318
The error message component doesn't have to be a HOC.

That's in my head `<RHFError errors={errors} name={name} />` i will create the repo now.

[2019-11-25 00:42] hbarcelos commented on #318
[code]
The code above **IS** a HOC because it receives a component as a prop and returns a new one.

[2019-11-25 01:46] #555 closed

[2019-11-25 01:54] ahce commented on #557
Awesome thanks!

[2019-11-25 07:18] ajay-dev-j opened #561 "Set message to pattern"
**I always have a problem to set the message in the pattern validation. So I will move to validate often**
Validation using pattern works like a charm. But setting the message for the same is not available for me. I especially using UI library reactstrap.

**Set msg like validate for pattern would be great**
I like to add my code snippet to get more details of what exactly am facing.

useEffect(()