[2020-05-20 07:50] bluebill1049 commented on #1659
here you go:

https://codesandbox.io/s/react-hook-form-register-with-typescript-mh464?file=/src/index.tsx

[2020-05-20 08:32] astj commented on #1659
Thank you for very quick response!

Yes the suggested change makes typecheck pass, but actually `ref` callback will be invoked both with Element and `null`. (with Element on mount, with `null` on unmount). So the callback function should accept both `Element` and `null` as the argument `e` . (And in some cases, someone might want to include some cleanup code in that `ref` callback.)

Therefore I d

[2020-05-20 08:58] bluebill1049 commented on #1659
@kotarella1110 do you have any object change the following:

[code]

[2020-05-20 09:08] bluebill1049 commented on #1659
actually no, we do need the first argument to be not `null`. That's where we getting the input `name`, so yes `e => { register({ ... })(e) }` is valid alternative usage. I am going to close this issue.

[2020-05-20 09:08] #1659 closed

[2020-05-20 09:13] astj commented on #1659
Understand. Thank you for kind answer!

[2020-05-20 16:53] Jsramosra opened #1662 "How to reference errors when i'm programatically are rendering components"
I got a code like this
[code]

That renders inputs depending of the data that i'm recieving from props. and im using nombreVariable as the input name, but when i'm referencing the name of the input to validate errors i'm not getting anything at all, the register is working.

[code]

I'm correctly doing the reference of the errors or there is another way to achieve this?

[2020-05-21 00:38] bluebill1049 commented on #1662
sounds like you are doing `useFieldArray`? have you looked at that.

[2020-05-21 00:38] bluebill1049 commented on #1662
https://react-hook-form.com/api#useFieldArray

[2020-05-21 00:39] kotarella1110 commented on #1659
@bluebill1049 no objection! we should fix this.

[2020-05-21 00:41] bluebill1049 commented on #1659
actually `register(null, {})` will do nothing at the function level, but type level we can accept that @kotarella1110 any thoughts?

[2020-05-21 00:51] kotarella1110 commented on #1659
yes. it will don nothing. we should accept `null` for type.
If it is `null`, it should be unregister, but since it is unregistered by mutationWatcher, I think that we don't need to do nothing.

[2020-05-21 00:52] Jsramosra commented on #1662
No, I haven't, let me check.
I see. There's one thing that I don't get at all, if the data I'm iterating is on props, how do I make the `useFieldArray` Fields reference my props array, and besides the change in the `ref={register()}` I'll still use the errors from the `useForm()` by the reference of control?

[2020-05-21 00:55] bluebill1049 commented on #1659
sounds good to me @kotarella1110.

[2020-05-21 00:55] bluebill1049 commented on #1662
for updated the entire field array, you can use `reset` API.

[2020-05-21 01:02] Jsramosra commented on #1662
No, no, I didn't mean that hahaha.
I meant that I saw that `useFieldArray` has a property `Fields` that's is the one in the example that is doing the map function, if the data I need to iterate is the one that I received from props, is there a way to use my data.

Maybe I don't get how that `Fields` property works.

[2020-05-21 01:13] Jsramosra commented on #1662
Forget what I just said, I got it now.
I don't think that might work for my case, from my server request I'm bringing to my data to the component that is the one that I'm iterating and therefore validating the type of the input in the first render.

I controlled some inputs like `select` that material-ui doesn't provide support for the `inputRef` property. And in the `IterateFormData` as a compone

[2020-05-21 01:23] bluebill1049 commented on #1662
use Controller. https://react-hook-form.com/api#Controller

[2020-05-21 01:25] Jsramosra commented on #1662
Yup, that's what I did with that components

[2020-05-21 01:26] bluebill1049 commented on #1662
Do you have a simple CSB i can take a look? keep it simple and don't just dumb the entire code.

[2020-05-21 01:36] Jsramosra commented on #1662
[https://codesandbox.io/s/friendly-lake-ukdeh](url)  here

[2020-05-21 01:38] bluebill1049 commented on #1662
wrong link.

[2020-05-21 01:40] Jsramosra commented on #1662
Try again https://codesandbox.io/s/friendly-lake-ukdeh?file=/src/App.js

[2020-05-21 02:11] bluebill1049 commented on #1662
again it's broken CSB.

[2020-05-21 02:40] Jsramosra commented on #1662
This will do, sorry.
https://codesandbox.io/s/friendly-lake-ukdeh?file=/src/App.js

[2020-05-21 03:10] bluebill1049 commented on #1662
i see what you try to do here now, you want to build a generator for a form base on a config?

[2020-05-21 03:11] Jsramosra commented on #1662
Yes, kinda, the data is my "configuration" to build the form.

[2020-05-21 03:13] bluebill1049 commented on #1662
you want to take a look at this repo? https://github.com/vtex/react-hook-form-jsonschema

[2020-05-21 03:27] Jsramosra commented on #1662
Yes, i think it might do the work, thank you.
Is there a way to validate required of the inputs when onsubmit like when we do it with useForm()?

[2020-05-21 03:35] bluebill1049 commented on #1662
i don't get the question.

[2020-05-21 03:37] Jsramosra commented on #1662
By validate i mean like `ref={register({required:true})`  and verify if is there any `errors` on some input.

[2020-05-21 03:37] mitchconquer opened #1664 "Masked input does not work when using watch from useForm hook"
**Describe the bug**
When using the `watch` method from the `useForm` hook, masked inputs no longer seem to function.

**To Reproduce**
Please see this [code sandbox](https://codesandbox.io/s/empty-tree-cfl8t?file=/src/App.js) for an example.

Try typing in the input in the preview and the masked input works as expected.

1. Start from the [Custom Masked Input](https://codesandbox.io/s/trusting-ag

[2020-05-21 03:47] bluebill1049 commented on #1662
`ref={register({required:true})` only check if the field is empty. it related to `errors` object only after the input failed validation.

[2020-05-21 03:50] bluebill1049 commented on #1664
Thanks for the detailed issue report. I would use Controller for masking input if you want to watch its value.

Take a look at this CSB: https://codesandbox.io/s/react-hook-form-controller-pghi8?file=/src/index.js

[2020-05-21 04:11] mitchconquer commented on #1664
Thanks I'll give it a try! 🙏

[2020-05-21 06:51] alx-ppv commented on #127
@bluebill1049 Is it possible to clean the file input?
First I tried setting it to an empty FileList like this:
`setValue('fileList', new DataTransfer().files);`
But the DataTransfer constructor has limited browser support.

AFAIK you can reset the input by giving it an empty string as a value. But when I pass empty string, the library sets it to the **ref.files** instead of **ref.value**
Code from

[2020-05-21 06:53] bluebill1049 commented on #127
can you try this:
`setValue('fileList', '')`

[2020-05-21 06:54] daveteu commented on #1550
In the above solution, the valueName returns editorState is an object while the value is in editorState.getCurrentContent()

How do you get the value?

With the current submit solution, the Controller value "draft" does not get sent to the server in the submit handler.

draft is undefined.

[2020-05-21 06:58] alx-ppv commented on #127
Thank you for the quick response.
I did and it crashes with error
[code]
It shoud probably set the value property insead of the files property.

[2020-05-21 07:00] bluebill1049 commented on #127
which version are you on? it should reset the input with an empty string. can you supply a CSB with this too?

[2020-05-21 07:15] alx-ppv commented on #127
Oh, my bad, I was with an older version: 5.1.3.
I updated to 5.7.2 and it works like a charm.
Thank you again for the quick response!

[2020-05-21 12:54] rvision commented on #1619
@bluebill1049

I've had some time and created a codesandbox example. It took me a while because I had to be sure what actions to execute to replicate this:

https://codesandbox.io/s/react-hook-form-usefieldarray-cfcfc?file=/src/index.js

Validation rules are (yup is used):
- at least 1 job added
- no jobs without title
- no jobs with same name

Steps to reproduce:
- delete all 3 default jobs
- cli

[2020-05-21 22:52] #1662 closed

[2020-05-22 02:44] bluebill1049 commented on #1619
Thanks for spending your time with this CSB @rvision 🙏

i can see the alert 'error: Cannot read property 'call' of undefined'.

[2020-05-22 02:44] bluebill1049 commented on #1619
I will take a closer look on this one.

[2020-05-22 03:09] bluebill1049 commented on #1619
Ok, why is React Select not using Controller?

[2020-05-22 03:29] bluebill1049 commented on #1619
ok I found out the problem, because errors where suppose to be an array, while yup is return a single node.

<img width="668" alt="Screen Shot 2020-05-22 at 1 28 08 pm" src="https://user-images.githubusercontent.com/10513364/82628406-18672e80-9c30-11ea-8404-39e7e18c1597.png">

I think i will do a check to prevent the error from throwing.

[2020-05-22 04:21] bluebill1049 commented on #1619
updated: https://codesandbox.io/s/react-hook-form-usefieldarray-ug8qg?file=/src/src/useFieldArray.ts

[2020-05-22 09:12] #1664 closed

[2020-05-22 09:28] rvision commented on #1619
Now it throws "value.filter is not a function" -  in order to reproduce it, try something like I've described previously.

[2020-05-22 09:31] rvision commented on #1619
Now I am getting error in my project:

Uncaught TypeError: object null is not iterable (cannot read property Symbol(Symbol.iterator))
    at __read (react-hook-form.ie11.js:2739)
    at __spread (react-hook-form.ie11.js:2757)
    at getDefaultValues (react-hook-form.ie11.js:5518)
    at useFieldArray (react-hook-form.ie11.js:5521)
    at JobTitleScheduleColorForm (JobTitleScheduleColorForm.jsx:85)

[2020-05-22 09:32] bluebill1049 commented on #1619
@rvision i did the steps as you described, there is no error anymore. the error is due to your Yup schema is return errors in `object` instead of `array`.

[2020-05-22 09:32] bluebill1049 commented on #1619
can you make sure do a hard refresh?

[2020-05-22 09:34] rvision commented on #1619
I've just reproduced it in incognito window, please try as I've described.

[2020-05-22 09:40] bluebill1049 commented on #1619
![ezgif-6-82438cd54dee](https://user-images.githubusercontent.com/10513364/82654448-1a4ae500-9c64-11ea-9596-cd2ab9e89a01.gif)

[2020-05-22 09:42] rvision commented on #1619
@bluebill1049

You forgot to click on Submit when creating duplicate names (or no name). After that try to click on delete and it will throw error.

[2020-05-22 09:49] bluebill1049 commented on #1619
Thanks, i will take a look again, but the issue is due to error message returned as `object`, instead of `array` for array field, however, i do understand the rationale behind. will come up with a solution for this.

[2020-05-22 09:54] rvision commented on #1619
Aha, you mean custom validation (yup.addMethod(yup.array, 'uniqueBy') should return array?
Then it's error on my end, will have to see how to return this error.

Thanks a lot!

[2020-05-22 09:55] bluebill1049 commented on #1619
Nah @rvision still we should get it working for non-array errors anyhow. I will solve the problem for you, so you don't have to change.

[2020-05-22 10:00] rvision commented on #1619
btw, yupResolver doesn't work on my end - no validation is triggered. With validationSchema set it works.

[2020-05-22 10:02] bluebill1049 commented on #1619
`yupResolver` is V6. I am just testing out the new version.

[2020-05-22 11:33] bluebill1049 commented on #1619
make sure you double check your yup schema as well, and take a look my update codesandbox above.

[2020-05-22 11:42] #1619 closed

[2020-05-22 16:16] xiaoyu-tamu opened #1674 "[Feature Request] v6 It would be nice to use resolver and register validation rule together."
**Is your feature request related to a problem? Please describe.**

It would be nice to use resolver and register validation rule together.

My use case will be use `resolver` to validate array field is not empty and do async validation, and use `register rules` to validate required, min, max etc.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

Currently

[2020-05-22 17:22] chrisrobbins commented on #476
@bluebill1049 I have a special case where the index won't work. My data structure:

`[ section: string, data: [] ]`

Here I map through the sections, then map through the data and create a checkbox for each object in `data`. This is problematic because the objects in each section will repeat indices. I found a workaround by using an `ID` from the object, but it delivers over a hundred empty `{}` i

[2020-05-22 19:23] mradenovic opened #1675 "MUI Checkbox and Switch within Controller don't work as expected without default values."
**Describe the bug**
If a default value is not provided for MUI Checkbox or Switch, the component will return empty string as value on submit.

**To Reproduce**
1. Go to [sandbox example](https://codesandbox.io/s/react-hook-form-controller-d76q8)
2. Click on `Submit`
[code]
3. Check the checkbox and the switch and click on `Submit` again.
[code]
4. Uncoment `defaultValues` (lines 25-27).
[code]
5.

[2020-05-22 19:58] erickbelfy opened #1676 "Is Valid is not turning to false if you settled an error imperatively"
**Describe the bug**

isValid attribute is not changing if you set an error imperatively if you previosly set a defaultSchema using yup.

Scenario:
Created a form instance using `useForm` hook, following the requirements of this particular edge case:
* first name is required
* if a question is provided then an answer has to be provided
* if an answer is provided then a question has to be provided

[2020-05-22 22:25] bluebill1049 commented on #1676
Thanks for the bug report. This will be fixed as part of V6 release.

[2020-05-22 22:26] bluebill1049 commented on #1674
Thanks @xiaoyu-tamu This was been considered and investigated, but it difficult to implement and decided to keep as it is.

[2020-05-22 22:26] #1674 closed

[2020-05-22 22:31] bluebill1049 commented on #1675
This is expected, if no defaultValue is provided, Controller will return `string/boolean` depend on the input type.

[2020-05-22 22:31] #1675 closed

[2020-05-22 22:35] bluebill1049 commented on #476
can you provide a simple codesandbox? @chrisrobbins

[2020-05-22 23:03] mradenovic commented on #1675
@bluebill1049 I appreciate the quick response. I might have not explained this well. The input type of the component in question is a checkbox. However, both `Checkbox` and `Switch` will return the empty string `""`, no matter what is chosen.

I would expect the Controller to return to return a string `"true"` or `"false"` respectively.

[code]

[2020-05-22 23:07] bluebill1049 commented on #1675
oh I see, you will need to provide a defaultValue as `boolean`, otherwise Controller wouldn't know this is a checkbox or input.

[2020-05-22 23:08] bluebill1049 commented on #1675
we detect if this is a checkbox by the initial value.

[2020-05-22 23:10] mradenovic commented on #1675
Would it be possible/reasonable to detect if it is a checkbox by type passed to it? I see in examples that type is passed to `Controller`.

[2020-05-22 23:17] bluebill1049 commented on #1675
no, that's the thing. we can't guarantee by type, some of the checkbox (non MIUI) return string...

[2020-05-22 23:59] bluebill1049 commented on #1676
I think I see the problem now, I am afraid this is a bug but not a bug with your use-case. lol.

I am still going to patch it anyhow.

The reason is that you are using schema, so the validation source of truth is there and your validation mode is `onChange`. so this is what's going to happen:

1. type some text
2. setError
3. isValid false
4. onChange mode kick in
5. validate against the schema
6.

[2020-05-23 00:18] #1676 closed

[2020-05-23 01:51] bluebill1049 commented on #1580
I think we had a discussion with @kotarella1110, we will leave as it is due to DX with usage for autocompletion.

we still want to support

[code]

@kotarella1110 feel free to add your concerns or reasons as well, thanks.

[2020-05-23 03:18] chrisrobbins commented on #476
Sure!
https://codesandbox.io/s/react-hook-form-checkbox-arrays-80z3q

[2020-05-23 03:24] Motoxpro commented on #872
Just wanted to update this issue with an example of yup Validation https://codesandbox.io/s/react-hook-form-usefieldarray-c82kl

[2020-05-23 03:30] bluebill1049 commented on #476
I see your problem with empty array fields, unfortunately, that's how we organize data with array-like syntax, you probably have to use `filter(Boolean)`

[2020-05-23 04:18] stramel commented on #1580
But that's the issue is the DX isn't good the way it currently stands.

[2020-05-23 04:59] Jsramosra commented on #1662
I solve it at the end by handling the errors as an array, so inside my loop where i create my fields i just reference them by errors[inputName], and a MUI native select do the work pretty well.

[2020-05-23 05:58] bluebill1049 commented on #1662
awesome @Jsramosra please share some code snippet if you can, this will help others.

[2020-05-23 06:30] Jsramosra commented on #1662
https://codesandbox.io/s/react-hook-form-mui-iterate-json-properties-jm0zi?file=/src/App.js
This is a little code example, hope i get into the point c:

[2020-05-23 11:10] erickbelfy commented on #1676
This edge case happened because in some scenarios yup doens't have support for cyclic dependencies, meaning that in a scenario where one fields relies on the other field, Yup raises an error hence i am not able to validate the form properly, so that's why i had to use setError. I undersrtand that the validationSchema is the source of truth, i'd love to not use setError at alll, but in a scenario l

[2020-05-23 11:13] bluebill1049 commented on #1676
For dependant inputs validation, I would use `triggerValidation` instead of `setError`.

[2020-05-23 11:18] erickbelfy commented on #1676
I will take a look at `triggerValidation` api, thanks for the super fast response! <3

[2020-05-23 11:22] erickbelfy commented on #1676
triggerValidation

in a given yup schema:

[code]

i cant trigger a validation of a field that does't subscribe an error, correct? i had to put the question not required because yup, as far as i can tell, doest support cyclic dependencies, so i have to add that optional error myself, in a scenario where `question` is require *only* when `answer` has a value and vice versa

[2020-05-23 11:48] erickbelfy commented on #1676
But you're right, i guess that can handle some edge cases using validationResolver instead of validationSchema, i will try to migrate it and see how it works

[2020-05-23 11:52] bluebill1049 commented on #1676
React Hook Form's `formstate` isValid is driven by schema against form `data` (when not using the build-in validation). So `setError` is not going to be the solution, and we can't make it work against validation schema result, because it will conflict the source of the truth.

Since schema validation `isValid` is going to drive by schema result (or kind has to), at the same time I see your concern

[2020-05-23 12:28] jizusun opened #1680 "Support React Fast Refresh"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-23 12:33] bluebill1049 commented on #1680
https://www.youtube.com/watch?v=ZG3xZP0SXYs This youtuber is already using RHF with fast refresh.

[2020-05-23 12:33] #1680 closed

[2020-05-23 23:26] smably opened #1683 "watch() doesn't work with React Fast Refresh"
**Describe the bug**
`watch()` stops updating after React Fast Refresh page updates. This is particularly noticeable on Next.js projects, which have React Fast Refresh built in since version 9.4.

**To Reproduce**
1. Clone this repo: https://github.com/smably/rhf-fast-refresh-bug
2. Run `yarn && yarn dev`.
3. Type in the text field, notice that the watched value changes below the text input.
4. Ma

[2020-05-24 01:13] dandv commented on #230
Would help to update [the original comment](https://github.com/react-hook-form/react-hook-form/issues/230#issuecomment-522764265) linking to the FAQ, because I clicked on that one too :)

[2020-05-24 01:20] #1683 closed

[2020-05-24 04:22] zhahaoyu opened #1688 "Async validation race condition"
**Describe the bug**
When there is a long-run async validation at the end of the validation chain, there could be a race condition.

For example - `<Input ref=(register({ required: true, validate: async v => API.validate(v) }) />`

If the initial input value passes `required` check, and is going through `validate`, assume it would take a while but eventually pass. The user then removes input, the

[2020-05-24 05:33] bluebill1049 commented on #1688
That's expected behavior and not a bug for this lib to resolve.

[2020-05-24 05:33] #1688 closed

[2020-05-24 13:43] thehappycoder commented on #973
I've encountered the same issue. react-hook-form is great but, unfortunately, doesn't work well in this scenario (in both controlled and uncontrolled modes). In my case, I need to keep errors state.

[2020-05-24 14:18] kayuapi commented on #1408
Encountered problem with deleting the fields. Steps to reproduce:
1. click on append and fill in the name input
2. click on append to generate a new name input but this time not filling it in
3. delete the empty name input generated in step 2
4. delete the name input in step 1

get the following error:
TypeError
data.slice is not a function

[2020-05-24 16:57] gauravkrp opened #1691 "Yup with RHF validating optional fields even when empty."
**Describe the bug**
I'm using RHF and Yup schema.
I've a form where I've few optional fields (not required).
Optional Fields should not be validated when empty and **should be validated only when not empty**.
`
const yupSchema = Yup.object().shape({
    firstName: Yup.string()
      .required('Please provide your first name!')
      .min(3, 'Is that a real name?')
      .max(35, 'Your name seems

[2020-05-24 18:51] joejordan opened #1692 "Set validation mode on a per-element basis"
**Is your feature request related to a problem? Please describe.**
When filling the last field in a form with mode setting 'onBlur', my "Submit" button is disabled until I tab out of the form, so the element after the "Submit" button is selected, and then immediately after the Submit button is enabled, so the user has to shift-tab+enter or click to save the form.

**Describe the solution you'd lik

[2020-05-24 22:49] bluebill1049 commented on #1692
you can use `trigger` with `onChange` at the last item.

[2020-05-24 22:52] bluebill1049 commented on #1691
This is a schema related question, we don't have any magic rather let yup validate the data. please test your schema with unit test and see if anything is wrong. by default RHF will supply an empty string for each input just like native inputs.

[2020-05-24 22:56] bluebill1049 commented on #1408
@kabriel use an officially and updated CSB from the doc. https://react-hook-form.com/api#Controller

[2020-05-24 23:31] dandv commented on #397
@keemor: thanks for the example. Surprisingly complicated :( I was hoping that the RadioGroup would provide a value to RHF onSubmit's data, but no, you must call `useForm().setValue` from each radio button's onChange. Is there really no simpler way in 2020 to have the value of a radio button be gathered along with other form elements into one `data` object, the way `TextField`s allow?

[2020-05-24 23:33] bluebill1049 commented on #397
Take a look at this example: https://codesandbox.io/s/react-hook-form-controller-079xx @dandv

[2020-05-25 00:58] kayuapi commented on #1408
It works! Thanks!

[2020-05-25 02:31] bluebill1049 commented on #973
@thehappycoder can you provide more context and potential examples for me to take a look? React hook form embrace native HTML forms, I am pretty sure there will be a solution for this as we can build anything with native form and vanilla JS.

[2020-05-25 02:51] dandv commented on #397
Thanks @bluebill1049, that example is much simpler and a comprehensive Material UI example with all the controls. I wish I had found it at https://github.com/react-hook-form/react-hook-form/tree/master/examples, would've saved me a few hours :)

[2020-05-25 05:27] joejordan commented on #1692
Thanks for the tip @bluebill1049 that worked.

[2020-05-25 05:27] #1692 closed

[2020-05-25 08:44] gauravkrp commented on #1691
Ya Bill, I ran unit test with my schema and it returned false. Though I still wonder how Formik handled this special case of optional validation. And for the same example, I've put a codesandbox with formik -  https://codesandbox.io/s/fervent-voice-fevr6?file=/src/App.js

[2020-05-25 08:47] bluebill1049 commented on #1691
That's not going to be my expert area.

[2020-05-25 08:47] #1691 closed

[2020-05-25 08:49] bluebill1049 commented on #1691
However, I do suspect because they may return `undefined/null` for an empty field.

[2020-05-25 09:21] gauravkrp commented on #1691
@bluebill1049 Please raise this as a feature request for RHF also.
Optional Fields should not be validated when empty.

[2020-05-25 09:49] dandv commented on #438
@cargallo: What do you mean by "This code is actually running ok", does it supply the date into `data.startDate` in the form's `onSubmit` handler? I've tested it and it's actually an "Invalid date format", which is visible if you remove the `helperText`. Also, clearing the value like that (`value={() => { }}`) means the field remains empty after you select a value.

@JuanmaMenendez: I don't think

[2020-05-25 09:51] bluebill1049 commented on #1691
This is as expected behavior and we have follow HTML standard for default input value since V1 till today. There is no plan to move away from this.

**Potential Solutions:**

1. adjust your schema to evaluate the empty string.
2. use `Controller` to parse input value: https://github.com/react-hook-form/react-hook-form/blob/master/examples/parseFormatInputValues.tsx

[2020-05-25 09:55] gauravkrp commented on #1691
Yes @bluebill1049  Definitely I will adjust my schema for extra validations for empty fields as I am not going back to Formik. RHF is faster, smaller and does very less re-rendering.

[2020-05-25 10:00] bluebill1049 commented on #1691
Thanks for understanding. ❤️

Everything moves and changes, HTML standard remain the same. I think by doing so, we are setting us in the long run. Make sure to check out `Controller` (if you haven't): https://react-hook-form.com/api#Controller This will help you from working with external controlled input and parse input's value type.

[2020-05-25 12:46] rvision commented on #1619
@bluebill1049  I've checked, schema is ok. All examples for yup's addMethod I've found online do return true/false only, no arrays or something like that.

How can I use updated code for react-hook-form that you fixed for this issue?

Thanks

[2020-05-25 12:47] bluebill1049 commented on #1619
@rvision we are planning to release V6 this week. this will be part of it.

[2020-05-25 13:35] michal-samluk opened #1700 "validationContext is not working for validation schema"
Here's the codesanbox:
https://codesandbox.io/s/react-hook-form-validationschema-zmifd?file=/src/index.js

It seems that `5.7.2` version should support it, but it does not work. https://github.com/react-hook-form/react-hook-form/blob/v5.7.2/src/logic/validateWithSchema.ts#L79

[2020-05-25 13:42] cargallo commented on #438
@dandv my comment was at 6 of January. Surely the things has changed now. But looking at your example, I think that you are misleading the purpose of Controller of RHF, you shouldn't need to set onchange and value and let the controller handled them. The problem with MUI DateTimePicker is that in typescript it has the value and onChange properties mandatory so you must specify them. In the version

[2020-05-25 15:43] visualcookie opened #1701 "`type="email"` field triggers browser validation, instead of library validation"
**Describe the bug**
I experienced an issue with HTML5 types on `<input />` fields, especially `type="email"` is a boomer there, as it triggers the native browser validation message instead of the custom validation set in the `register()`.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-validation-issues-5num5?file=/src/index.js

*(Enter something, that is not an email to

[2020-05-25 15:50] iDuuck commented on #1701
As far as I know, there is no possibility to hinder the browser, but with `novalidate` (or the equivalent `noValidate` for React elements).

[2020-05-25 15:52] LoicHa opened #1702 "insert method of useFieldArray does not behave as expected"
**Describe the bug**

I need to clone a line , so i used the insert method with a dynamic index
When i use this button with no change made on the inputs , the insert works perfectly
However when I edit any input and use this button , the new line does not reflect the good values

I made a codesandbox to reproduce it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io

[2020-05-25 15:58] iDuuck commented on #1700
You didn't fill out the bug reporting template, however, here is a working CodeSandbox:

https://codesandbox.io/s/react-hook-form-validationschema-7h0m2?file=/src/index.js

The declaration of the context shouldn't include the dollar (`$`) sign. It should be a simple object, which can then be conceived by the `when` method of `yup`. [See an example of this here](https://github.com/jquense/yup#mixed

[2020-05-25 16:07] michal-samluk commented on #1700
Thank you :)

[2020-05-25 16:07] #1700 closed

[2020-05-25 20:22] vatosarmat opened #1703 "errors object typing for File input seems to be invalid"
**Describe the bug**
file input error type is not `FieldError` but `NestDataObject<File, FieldError>` so it is impossible to get `message` property
`Property 'message' does not exist on type 'NestDataObject<File, FieldError>'`

**To Reproduce**
Create a form with a file input, pass values type as generic to `useForm`, see error

**Codesandbox link (Required)**
https://codesandbox.io/s/quizzical-ba

[2020-05-25 21:03] Cow258 commented on #949
What is the solution before this new feature released?
How do I focus the input manually when `ref` is used by `register`?

[2020-05-25 21:06] dandv commented on #438
I'd be very happy to find a simpler way get the date from the picker. I think the whole setup is way too complicated vs. the conceptual modeling of what I really want, form with a date picker that gets the picker's final value. I really don't care about controlled vs. uncontrolled components, `register()`, refs etc. I just want `form.datetime = [...let the user pick a date...]`.

[2020-05-25 21:41] cargallo commented on #438
@dandv All of us wish the life of a developer as simpler as that!

[2020-05-25 21:49] FernandoFigueroa opened #1704 "Form state dirty does stays true when cancelling the selection of a file"
**Describe the bug**

On an input type file, when cancelling the selection, the value of the registered fields goes from blank|null|undefined to a FileList with length 0, since we can't initialize something with a FileList, i guess that means that like the new value is different from the initial one, the field remain dirty.

I tried to workaround by using dirtyFields, checking that if the field wa

[2020-05-25 22:05] dandv commented on #438
@cargallo: it used to be! Have a look at how trivial is to get form data, including a datetime, with Webix:

https://snippet.webix.com/p2vll1xf

But nah, we developers hadddd to go after React, hooks, MUI, and all the fancy modern stuff just because.

[2020-05-25 22:45] bluebill1049 commented on #1701
Thanks, @iDuuck that's correct.

[2020-05-25 22:45] #1701 closed

[2020-05-25 22:53] bluebill1049 commented on #949
you can always get the `ref` object and call focus.
[code]

[2020-05-25 23:00] Cow258 commented on #949
Like this? 👀
[code]

[2020-05-25 23:08] bluebill1049 commented on #949
yes @Cow258

[2020-05-25 23:12] bluebill1049 commented on #1702
you want to use `getValues()` instead of `item`.

[2020-05-25 23:52] bluebill1049 commented on #1703
I think it's FileList that we return:

https://codesandbox.io/s/elated-neumann-yfsro?file=/src/App.tsx

FYI: @kotarella1110

[2020-05-25 23:53] #1703 closed

[2020-05-25 23:55] #1702 closed

[2020-05-26 01:13] bluebill1049 commented on #1580
I think the problem is around typed props like `value` and `onChange` will required users to declare them again which is not greater DX.

[2020-05-26 01:13] bluebill1049 commented on #438
Thanks, @cargallo for your explanation.

Hey @dandv, Thanks for your feedback, but I think you have some misunderstanding with Controller, and having comparison with something like webwix is irrelevant here as well.

Take a look at my example below:

https://codesandbox.io/s/mui-v4-datetimepicker-with-rhf-7xgus?file=/index.tsx

`Controller` is made to control an isolated input component not your e

[2020-05-26 03:15] bluebill1049 commented on #1704
thanks @FernandoFigueroa looks like this bug is resolved in V6: https://codesandbox.io/s/react-hook-form-useform-template-ovlim?file=/src/index.js

we will release it this week.

[2020-05-26 05:11] vatosarmat commented on #1703
Thanks for reply and sorry for my unawareness about `FileList`

I would like to crop avatar before actual upload. But `FileList` is immutable, so I can not replace original file with cropped one in `validate`. Then how can I do that?
https://codesandbox.io/s/quizzical-bartik-obls5?file=/src/App.tsx

[2020-05-26 05:14] bluebill1049 commented on #1703
Interesting one, why do you want to crop inside validate function?

[2020-05-26 05:36] vatosarmat commented on #1703
In `validate` I also validate that file is actually an image and that it has acceptable size.
There is no `transform` option in `register`, so I guess values transformations assumed to be done in `onChange` and `validate`

[2020-05-26 05:39] bluebill1049 commented on #1703
I am not sure how to manipulate FIleList (not expert on that), maybe ask a question at StackOverflow?

[2020-05-26 06:08] bluebill1049 commented on #1704
I did investigate this issue, looks like it will be easier in the application level, than in the lib. It's hard to compare the diff with `FileList`, because defaultValue will be always different from what user has changed.

so here is my suggestion/solution.

[code]

I haven't got time to test it, but let me know if this works for you.

[2020-05-26 08:18] vatosarmat commented on #1703
Well, I think there is nothing to expert in, `FileList` is  just immutable by design :slightly_smiling_face:
I've managed to achieve my goals using `register({type:'custom'})` But I encountered another issue:  `reset`, which I use to reset text field values, also deletes values of custom registered fields. Isn't it a bug? I guessed it should ignore them or use initial default value, passed to `use

[2020-05-26 08:20] bluebill1049 commented on #1703
can you provide steps to reproduce?

[2020-05-26 08:29] vatosarmat commented on #1703
Codesandbox -  https://codesandbox.io/s/quizzical-bartik-obls5?file=/src/App.tsx
Custom registered input set to {file: null} in useForm defaultValue
Click reset - {file:null} disappears from getValues()

[2020-05-26 08:59] bluebill1049 commented on #1703
That's expected, it's resetting the entire form with `value` that you provided instead of merging with form values.

[2020-05-26 09:21] CBurrows87 commented on #598
Just for some clarity for myself with using React bootstrap with RHF

` <Form.Control
                as="select"
                name={"Title"}
                ref={register({ required: true })}

                <option value="Mr">Mr</option>
                <option value="Miss">Miss</option>
                <option value="Mrs">Mrs</option>
              </Form.Control>`
Will this work as RHF int

[2020-05-26 09:34] bluebill1049 commented on #598
if that works: yes correct usage which means Form.Control expose ref correctly. otherwise at `useEffect` or using `Controller`

[2020-05-26 12:04] AjithkumarJM commented on #778
Hey, I need this same case to work out in controller,
so I have a start date and end date fields.

Depends on the start date, the end date should be validated.
The start date should be greater than the end date this is the case!

It works fine when I initially fill the start date and end date.
but the validation is not triggering when I again change the start date less than the end date.

[2020-05-26 12:06] bluebill1049 commented on #778
can you share a simple codesandbox @AjithkumarJM ?

[2020-05-26 14:15] cargallo commented on #438
With the purpose of adding context to this topic, it seems that the MUI Pickers creators are infatuated with keeping onchanged and value required without any reasonable explanation.

https://github.com/mui-org/material-ui-pickers/issues/1575

[2020-05-26 17:12] FernandoFigueroa commented on #1704
Thanks @bluebill1049, i think your suggestion is did not do the trick:

https://codesandbox.io/s/react-hook-form-useform-template-irk0o?file=/src/index.js

I agree that at application level is easier, actually, the solution shown on my first comment works well, however, i think we first need to determine if the form is actually dirty or not by definition.

If it is, then we definitely need to come

[2020-05-26 22:49] bluebill1049 commented on #1704
Take a look this CSB: https://codesandbox.io/s/react-hook-form-useform-template-l9666?file=/src/index.js

this was what i suggested above.

[2020-05-27 03:17] kotarella1110 commented on #1580
@stramel Can you create this PR? I think we can discuss it after figuring out how this will be fixed.

[2020-05-27 03:58] bluebill1049 commented on #1580
Can you share some examples?

[2020-05-27 04:07] bluebill1049 commented on #1580
here is the reference https://github.com/ReactTraining/react-router/blob/dev/docs/advanced-guides/migrating-5-to-6.md#advantages-of-route-element

FYI @kotarella1110

[2020-05-27 04:52] stramel commented on #1580
I will try to add more information tomorrow after my release.

[2020-05-27 06:41] rpmonteiro opened #1709 "How to properly manage conditional fields?"
Hi Bill, fantastic job on this library and maintaining and closing issues like a champion. I absolutely love using it, and recommend it to pretty much everyone!

I'm not sure if this is a bug, or if I'm the bug (most likely lol), but I can't seem to manage conditional fields in a way that's predictable and doesn't make me tear my hair out.

I'm very sorry if I'm the one being a complete doofus. Yo

[2020-05-27 06:42] bluebill1049 commented on #1709
oh my god, I just shared a message on twitter today. Is this the problem that you having?

https://twitter.com/bluebill1049/status/1265505918852173824

[2020-05-27 06:45] rpmonteiro commented on #1709
Yes, very close to it. I've tried that approach, managing the register myself, but with more than 2 or 3 fields, it becomes crazy verbose, specially if you want to have the same behaviour as others, and manage blur/focus states, and validation seems to not be predictable...

[2020-05-27 06:48] bluebill1049 commented on #1709
do you have a `codesandbox` that I can have a play with?

1. custom register (not working for you)
2. toggle visibility
3. wrapper Controller around your toggled inputs

[2020-05-27 06:51] rpmonteiro commented on #1709
I'll prepare one asap

[2020-05-27 08:21] dandv commented on #438
Thanks for the advice. I've updated the [RHF + MUI DateTimePicker](https://codesandbox.io/s/mui-v4-datetimepicker-with-rhf-jqv1c?file=/index.tsx) to control the component as @bluebill1049 advised, and to use validation `rules` instead of the MUI Picker onError handler. Further feedback appreciated :)

[2020-05-27 08:38] bluebill1049 commented on #438
This looks great! much cleaner, less code, validation, and good focus manage.
@dandv at the time time, I think I should improve the doc to avoid confusion around `Controller` usage as well.

[2020-05-27 09:15] kotarella1110 commented on #1580
@bluebill1049 @stramel I like render props.
`as`/`onChange`/`onBlur`/`onChangeName`/`onBlurName`/`valueName` props are unnecessary and more simple.
I tried to implement this.

[code]

[code]

[CodeSandbox](https://codesandbox.io/s/react-hook-form-issue-1580-59soi)

 What do you think?

[2020-05-27 09:30] bluebill1049 commented on #1580
I quite like this, this make API a lot simpler as well...

[2020-05-27 09:31] bluebill1049 commented on #1580
a counterexample:

[code]

completely skip the render props.

[2020-05-27 10:34] bluebill1049 commented on #1580
hmmm...
`<Controller name="test" control={control} render={(props) => <TextFields {..props} />} />`
vs
`<Controller name="test" control={control} as={<TextFields />} />`

[2020-05-27 10:47] bluebill1049 commented on #1580
Take a look at my PR @kotarella1110 @stramel let me know what do you think?

[2020-05-27 17:00] FernandoFigueroa commented on #1704
Ok, that worked, thanks!

That's way better than my solution, since i'm not modifying dirtyFields or any other computed stuff.

Should we add a note somewhere about this? or maybe work on a solution that works for file inputs and basically remove the need of manually re-setting the value?

If you think some change or note is needed, i can work on it if you point me in to the direction we'll follow

[2020-05-27 18:35] stramel opened #1713 "V6: Message type requires a cast to string when used on a string only field."
**Describe the bug**
This is more of an annoyance with the typing. This requires all props that you feed `errors.fieldName?.message` into to support both `string` and `ReactElement` or always require a cast to the correct typing.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-useform-template-s2687?file=/src/index.tsx

**Expected behavior**
Not to have to cast every usag

[2020-05-27 22:09] TimNZ opened #1715 "useEffect handler for [errors] only called on initial render"
**Describe the bug**
I expect useEffect(() => {}, [errors]) to be called on change of errors content.
It is only called on initial render.

**To Reproduce**

https://codesandbox.io/s/react-hook-form-errors-uzpb5?file=/src/index.js
If I remove [errors] scope on useEffect, it is called on each re-render as expected.
Does the errors object need to be updated differently?

![image](https://user-images

[2020-05-27 22:13] gendronb commented on #612
Is the third argument to setError (ref) implemented? And documented somewhere?

[2020-05-27 22:23] TimNZ commented on #1715
Sorry forgot to save my changes on the Codesandbox fork with the console.log

[2020-05-27 22:31] bluebill1049 commented on #612
We don't have a third argument as ref.

[2020-05-27 22:39] bluebill1049 commented on #1715
Just tested your CSB, it's working, right?

[2020-05-27 22:40] TimNZ commented on #1715
The CSB code runs - show the Console and you'll see the lack of useEffect console.log as per the screenshot.

[2020-05-27 22:43] bluebill1049 commented on #1715
I can see the console log is updating when errors changing. (if that's what you refer to)

<img width="554" alt="Screen Shot 2020-05-28 at 8 42 33 am" src="https://user-images.githubusercontent.com/10513364/83079442-3533b400-a0bf-11ea-9a08-cf1fede0a761.png">

[2020-05-27 22:44] bluebill1049 commented on #1715
I see what you mean now. we are memorizing the `errors` object. hmmm, maybe it's not a good idea to memorize it, what's your usage like?

[2020-05-27 22:47] TimNZ commented on #1715
I know this is not an efficient implementation as I re-render the entire form each time errors changes, but this is the code to test against - error for each item should be shown/hidden as appropriate.

[code]

[2020-05-27 22:48] TimNZ commented on #1715
I have a renderItem function as I may support nested items

[2020-05-27 22:48] stramel commented on #1580
So Bill posted the link I shared with him using the example of `react-router` v6 and their reasoning behind switching to an element based api instead of component.

I think we can offer a single prop `as`/`render`/`element` to handle the use-cases. Offering multiple props will just cause confusion.

For that single prop, we should be able to support render props or an element.

[code]

We then don

[2020-05-27 22:53] bluebill1049 commented on #1715
can you give more detail and context why errors are involved?

[2020-05-27 22:54] TimNZ commented on #1715
Example usage of FastForm:

[code]

[2020-05-27 22:55] bluebill1049 commented on #1580
I like the suggestion above, so we don't lose the flexibility.

[2020-05-27 22:56] bluebill1049 commented on #1715
I don't see `errors`?

[2020-05-27 22:57] bluebill1049 commented on #1715
what's FastForm?

[2020-05-27 23:01] TimNZ commented on #1715
FastForm is the first code snippet - it's the react function using react-hook-form.

The 2nd code snippet is an example consuming the FastForm component.

It's no more complicated than that.

[2020-05-27 23:22] bluebill1049 commented on #1715
shouldn't it be done like this:

[code]

[2020-05-27 23:53] TimNZ commented on #1715
Damn it - that's what I had originally, and it wasn't working, and now it does 😀 .

Most prob lost track of code changes, especially when I fixed 'mode = onChange' prop setting, likely after I was experimenting with useEffect.
Thanks.

Though I still think we need a way to trigger a func when errors change i.e. useEffect,
or a event handler func passed to useForm().

[2020-05-27 23:56] TimNZ commented on #1715
Ok I'll just close this now, this code works.
Thanks for getting me here.

[code]

[2020-05-27 23:56] #1715 closed

[2020-05-27 23:57] bluebill1049 commented on #1715
hey, @TimNZ thanks for your feedback, I think for `errors` object it's better to treat it at the render phase, rather after `useEffect`, I will keep an eye on this one if users encounter a similar issue.

[2020-05-27 23:58] bluebill1049 commented on #1713
@stramel do you have a solution in mind?

[2020-05-28 00:01] bluebill1049 commented on #1704
so it's still not working for your use case? may i have some more detail?

I don't think we have an easy solution for this since FileList is an immutable object, which means it's impossible to set a `defaultValue` which match the user when not select a file. However, we can introduce logic inside the logic to encounter this issue, but it's a lot extra check which probably much easier to do at appl

[2020-05-28 01:13] stramel commented on #1713
I don't have a solution in mind. I will try to think of some solutions

[2020-05-28 03:54] raulfelix opened #1718 "Error in dynamic radio group options + calling setValue"
**Describe the bug**
I have a radio group. The number of options are dynamic based on conditions. In my code, after alternating between options twice I get an error when trying to use `setValue`. In the code sandbox this will happen after 7 alternations.
I noticed the error does not occur if I do not use `setValue` and it appears the `field.options` keep growing in size with each change.

**To Rep

[2020-05-28 09:16] uncvrd opened #1719 "Material UI Autocomplete with React Hook Controller Component cannot select item on first click"
**Describe the bug**
I am having some issues selecting items from a dropdown when using Material UI's `Autocomplete` component with RHF's `Controller` component.

The issue I have is when I click on the input to select an item from the dropdown, the first attempt doesn't fill the input with the text I've selected, but the next time I try selecting an option, it works.

Something in the `Controller

[2020-05-28 09:25] bluebill1049 commented on #1719
please take a look at this example: https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-05-28 09:30] uncvrd commented on #1719
@bluebill1049 thanks :) ok so I missed the fact that I needed to add `onChange={([, data]) => data}` on the `Controller`. I'll delve in to the source code a bit to see why adding that fixes things.

[2020-05-28 09:30] #1719 closed

[2020-05-28 09:49] bdrobinson commented on #1713
[The docs for `errors`](https://react-hook-form.com/api#errors) state that it's always a string rather than `string | React.ReactElement`. Which is correct – the docs or the typings? A simple `string` sounds like the correct API to me.

I can see two potential fixes. Either to change https://github.com/react-hook-form/react-hook-form/blob/a5709440eb2e6a908110aea9ed473772ded5686a/src/types/form.ts#

[2020-05-28 10:03] bluebill1049 commented on #1719
no worries @uncvrd we are planning to introduce `render props` for Controller, so things will be more obvious and clearer.

[2020-05-28 13:31] kotarella1110 commented on #1713
document is incorrect.
I supported React.ReactElement as well as string in this PR (https://github.com/react-hook-form/react-hook-form/pull/1275).

[2020-05-28 14:48] rpmonteiro commented on #1709
Ok, I gave it another shot:
https://codesandbox.io/s/react-hook-form-useform-template-fd2zy?file=/src/index.tsx

[2020-05-28 14:48] etc-tiago opened #1721 "Set watch in userForm() options"
**Is your feature request related to a problem? Please describe.**
I see `watch` as an option that could be triggered as `useForm({watch: ['name'])`.

**Describe the solution you'd like**
Add the option to the types and start the option after building useForm().

**Describe alternatives you've considered**
The returned option `watch` could be kept as well, if it is possible of using it dynamically

[2020-05-28 16:11] FernandoFigueroa commented on #1704
I think is does not work for me yet because i think i don't have the same library version, and because we are using some validation for the file type, also is a big component and i don't have the capacity at the moment to refactor, so that'll be in a while.

So, what do you think of adding something on the docs about this issue? like a caveat or something that help people implement the specific ca

[2020-05-28 21:54] bluebill1049 commented on #1721
useWatch is coming on V6 which allow you to watch in component level, i don't think we have plan to introduce as what you suggested above. thanks tho.

[2020-05-28 21:54] #1721 closed

[2020-05-28 21:54] bluebill1049 commented on #1704
will add this into a FAQ question. 👍

[2020-05-28 22:53] PwnMonkey13 opened #1724 "Watch registered fields in nested form components doesn't work as expected"
**Describe the bug**
I'm building a huge form and for the sake of clarity i'm splitting it in many nested components wherein `watch` function doesn't get my fields as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://codesandbox.io/s/modest-boyd-bqrqx](https://codesandbox.io/s/modest-boyd-bqrqx?file=/src/App.js)
2. Type `foo` and `bar` like placeholders tell you, submit

[2020-05-28 22:58] bluebill1049 commented on #1724
https://codesandbox.io/s/xenodochial-brook-cj6x7?file=/src/App.js

make sure you place your sub-component outside of the root component, otherwise each re-render it will create a new component.

[2020-05-28 23:18] PwnMonkey13 commented on #1724
Indeed.
it was more a react question btw
thanks for your reactivity :)

[2020-05-28 23:18] #1724 closed

[2020-05-29 00:57] bluebill1049 commented on #1709
Thanks for the CSB I will take a look at it.

[2020-05-29 02:21] Eviwang commented on #851
I want to keep it that way.because the code looks more straightforward. https://codesandbox.io/s/react-hook-form-basic-validation-u3u0t
[code]

Are there any other solutions?

[2020-05-29 02:23] bluebill1049 commented on #851
@Eviwang use `validate` should solve this issue.

[2020-05-29 02:33] JeromeDeLeon commented on #1709
Chiming in, @rpmonteiro I inspected the csb you provided and you used `reset` with only partial values and because of that only those values that you provided will be injected as values of RHF.

[code]

[2020-05-29 02:35] bluebill1049 commented on #1709
I did a quick look as well, I will try to build something similar, I think the model pop up should be a completely separate form and store your result in a state lib.

[2020-05-29 02:40] JeromeDeLeon commented on #1709
I saw that too that the AppComponent can be componetize with smaller components to avoid that kind of problem :smile:

[2020-05-29 02:45] Eviwang commented on #851
Thank you for the response.

validate has closure problems:
https://codesandbox.io/s/react-hook-form-basic-validation-in3zl?file=/src/index.js

[2020-05-29 02:49] bluebill1049 commented on #851
This is a different CSB now. this is the case where you want to `unregister` at `useEffect`.

1. if drive-by state then just use `unregsiter` at useEffect
2. if drive-by user input, you can use validate combined with `getValues()`

the reason why we cache rules because otherwise, users will have to cache or memo the rules object, without will lead to register controller each render which is not wh

[2020-05-29 03:54] bluebill1049 commented on #1709
@rpmonteiro take a look my example: https://codesandbox.io/s/cocky-stallman-c7n0r let me know your thoughts.

[2020-05-29 04:09] keiya01 opened #1725 "Why do I re-render twice when execute handleSubmit"
**Describe the bug**
When I executed handleSubmit function that was returned from useForm hook, re-render was run twice. re-render was executed before and after the callback was executed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-useform-template-rl7ln?file=/src/index.js
2. Click on 'Submit' button.
3. Look at the 'render' that is output t

[2020-05-29 04:17] bluebill1049 commented on #1725
The first re-render is to clean errors on the page (we could do a check for empty error, but I think the benefit is little) if they are been corrected before going the `handelSubmit` callback.

[2020-05-29 04:32] keiya01 commented on #1725
I understood. Thank you for teaching me so kindly.

[2020-05-29 04:32] #1725 closed

[2020-05-29 04:32] bluebill1049 commented on #1725
Pleasure! hope you find this lib useful 🙏

[2020-05-29 04:49] donaldpipowitch opened #1726 "NestedValue not respected in errors v6 rc"
**Describe the bug**
If I use `NestedValue` it isn't correctly represented in errors.

**To Reproduce**
See type error in line 41 in the Codesandbox link.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-typescript-hzrjh?file=/src/index.tsx

**Expected behavior**
No type error.

**Screenshots**
![image](https://user-images.githubusercontent.com/1152805/83222378-7b991980-a1

[2020-05-29 04:53] bluebill1049 commented on #1726
Thanks for the issue @donaldpipowitch
https://codesandbox.io/s/react-hook-form-typescript-xjfhd
once the doc is out, I think it will make more sense, NestedValue is made for a single input which returns object/array data. FYI: @kotarella1110

will do.

[2020-05-29 06:08] bemulima commented on #633
I don't understand why defaultVaules not working when input radio value number and set default value as integer? It working only when number as string.  is it normal?

[2020-05-29 06:11] bluebill1049 commented on #633
@bemulima that's expected. 2 === '2' this is not going to set the input to be checked.

[2020-05-29 06:28] #1718 closed

[2020-05-29 07:08] lalittolani opened #1729 "React-Bootstrap File Input with React-Hook-Form"
I am using React-Bootstrap file input with react hook form.
 <Form className="p-1" onSubmit={handleSubmit(onSubmit)}>
 <Form.Group as={Row}>
                <Form.Label column sm={3}>
                  PO Attachment File
                </Form.Label>
 <Form.File
                    id="custom-file-translate-html"
                    label="Upload A File"
                    data-browse="Browse Att

[2020-05-29 07:11] bluebill1049 commented on #1729
why post twice?

[2020-05-29 07:11] #1729 closed

[2020-05-29 08:31] gaozhidf commented on #1005
[code]

[2020-05-29 08:36] marensas commented on #1576
![image](https://user-images.githubusercontent.com/18376464/83239024-e873da00-a19f-11ea-8b9f-12d3e4036d60.png)

@bluebill1049  The second example is using unregister() method, which is not the case in my situatino. I need to have it registered in the form + I don't need a required rule, because requiredMode changed to false. How can I avoid caching in this situation?

[2020-05-29 08:37] bemulima commented on #633
Ok. But I thik it's not comfortable for work because every time before to set defaultValues I must to parse integer to string number.

[2020-05-29 08:46] bluebill1049 commented on #1576
`requiredMode` a state or an input on the page.

1.  `requiredMode` is a local state, use unregister in `useEffect`
2.  if it's an input, use `getValues()`

[2020-05-29 08:47] bluebill1049 commented on #633
why so, I need more context.

[2020-05-29 08:49] rpmonteiro commented on #1709
Awesome. Great tips guys! Thanks so much :)

[2020-05-29 08:49] #1709 closed

[2020-05-29 08:51] bluebill1049 commented on #1709
@rpmonteiro feel free to ask questions next time. we are glad that we can help.

[2020-05-29 08:52] rpmonteiro commented on #1709
And that's why this library is already the best form library, and soon it'll be the most used... keep it up, Bill!

[2020-05-29 10:49] MrBlue9 commented on #459
@TheMoonDawg Do you have a short snippet how you implemented the custom checkbox component in the form? If I try to use this component I get "undefined" as value for all checkboxes on submit :-(

[2020-05-29 10:49] AlexeyMatskevich commented on #1292
In order to use the form you just need not to intercept the event on the form
Instead, intercept the event on the submit button.
Unfortunately this will not work when clicked Enter in fields.
[code]

[2020-05-29 18:05] mcabrams commented on #458
Any recommendations on how to effectively achieve the result @babramczyk is seeking - even if the implementation requires a work-around right now?

[2020-05-30 01:04] ertw opened #1734 "Add type safety to handleSubmit data object"
**Is your feature request related to a problem? Please describe.**

In Typescript when I type my `useForm()` function with a `key: value` of `myNumVal: 42`, the data object that the `handleSubmit()` callback receives is typed the same way, with a number. However, this object actually has a type of `key: string`.

**Describe the solution you'd like**

I'd like the type system to tell me that I am p

[2020-05-30 01:08] bluebill1049 commented on #1734
This is coming for the next major version of V6. @kotarella1110 👍

[2020-05-30 08:20] bluebill1049 commented on #1734
https://github.com/react-hook-form/react-hook-form/blob/master/src/types/index.ts

`SubmitHandler` take a look this type.

[2020-05-30 12:10] #1734 closed

[2020-05-30 17:31] hulivets commented on #497
![Screenshot from 2020-05-30 20-30-21](https://user-images.githubusercontent.com/48622868/83335291-7d67f780-a2b4-11ea-90ac-db7024fb7807.png)

[2020-05-30 17:46] hulivets commented on #380
![Screenshot from 2020-05-30 20-30-21](https://user-images.githubusercontent.com/48622868/83335607-b30de000-a2b6-11ea-8821-284287cd64e6.png)

[2020-05-31 09:09] paambaati opened #1744 "Form inputs get cleared on validation inside a Chakra-UI modal"
**Describe the bug**
When using a Chakra-UI [`<Form>`](https://chakra-ui.com/formcontrol) component inside a [`<Modal>`](https://chakra-ui.com/modal), and with RHF for validations, all inputs get cleared and the validation message is shown on the wrong field on form submit.

**To Reproduce**

See https://codesandbox.io/s/stupefied-poitras-11y82?file=/src/App.js - and its fullscreen version - https

[2020-05-31 09:28] bluebill1049 commented on #1744
Take a look this issue: https://github.com/react-hook-form/react-hook-form/issues/1709#issuecomment-635856741
there is a codesandbox there as well.

[2020-05-31 10:19] paambaati commented on #1744
@bluebill1049 I'm not sure which part of that example I should use. Are you recommending using `setValue()` on the modal inputs' `onChange`?

[2020-05-31 10:21] bluebill1049 commented on #1744
https://github.com/react-hook-form/react-hook-form/issues/1709#issuecomment-635743029

[2020-05-31 10:23] paambaati commented on #1744
@bluebill1049 Thanks, I am looking at that specific CSB, but I'm finding it hard to understand where the solution lies.

If you mean the Modal should have its own form, then in my case, it already does. I don't see much else of a difference in terms of what that and my examples are doing.

[2020-05-31 10:40] bluebill1049 commented on #1744
Your codesandbox has only had a text: 'test'. The problem is when form sit in a modal, you need to save the form values before close the modal, as inputs get unmount will result `unregister` your inputs, same as native form inputs' behavior.

[2020-05-31 10:57] paambaati commented on #1744
@bluebill1049 Right, although my issue happens before I close the modal. If you run the linked app (https://11y82.csb.app/), you'll notice that the modal, on submit (it doesn't close/unmount at all), exhibits this behavior.

I'll list down the steps to clearly see the issue —

1. Open modal by clicking on 'Open' button.
2. Don't enter any inputs, and click modal's Submit button.
3. Notice validati

[2020-05-31 11:05] bluebill1049 commented on #1744
Can you do a version without the `.map`? i am not sure this is an issue with RHF, but i am happy to help and investigate the root cause.

[2020-05-31 11:14] paambaati commented on #1744
@bluebill1049 Thanks a lot for helping!

I built one without a `.map()`, and it has the same issues — https://mnskb.csb.app/ (source at https://codesandbox.io/s/jolly-albattani-mnskb?file=/src/App.js)

[2020-05-31 11:31] bluebill1049 commented on #1744
Try one without `isInvalid={Boolean(errors?.inputs?.[0])}`, worth to raise a question at `Chakra-UI` is it the component gets completely a remount when that flag changes.

[2020-05-31 11:36] paambaati commented on #1744
@bluebill1049 You were right! Removing the `isInvalid` prop on `<FormControl>` fixes the issue; but now I'm stuck with no validation messages.

[2020-05-31 11:39] paambaati commented on #1744
@bluebill1049 Do you have any ideas around how to solve this? Is preventing a remount the only solution, or is there something I can do with state/context to fix this from outside the library?

[2020-05-31 11:49] bluebill1049 commented on #1744
I don't have control over how they render an input, you may have to check at their repo for a solution.

[2020-05-31 12:22] #1744 closed

[2020-05-31 12:58] vgribdev commented on #660
Hi thanks for you awesome library, is there a way to get the correct data at least onSubmit?

[2020-05-31 13:03] bluebill1049 commented on #660
What do you mean? I need more context and perhaps a codesandbox?

[2020-05-31 14:23] vgribdev commented on #660
[CodeSandbox](https://codesandbox.io/s/infallible-hill-8cw17?file=/src/App.tsx)
Steps to reproduce:

1. Add two inputs.
2. write something in input1 and something else in input 2.
3. remove input 1
4. submit

You should see that the content of input 2 is duplicated
changing ref={register({ maxLength: 50 })} with ref={register} seems to fix the problem

[2020-05-31 22:55] bluebill1049 commented on #660
please take  look at `useFieldArray`

[2020-05-31 23:19] vgribdev commented on #660
it works fine with useFieldArray thanks.

[2020-05-31 23:47] MirzaMBaig commented on #127
Hi
Im having the same problem when I use MS fluentui.
When I use RHF for file upload it returns file path rather than the actual file object.
here is the repo - https://github.com/MirzaMBaig/react-hook-form-file-input.
Can you please let me know if I'm doing something wrong.

Thanks
mb

[2020-06-01 01:36] #1580 closed

[2020-06-01 02:43] #1726 closed

[2020-06-01 10:20] joaoeudes7 opened #1749 "Rules of Controller does not react to changes"
First, the lib is very cool!! Thanks!

My problem is in set the rule in Controller:
[code]
The property rules of Controller does not not react to `needRegister`

**Codesandbox link (Required)**
- [Controller](https://codesandbox.io/s/react-hook-form-controller-template-08og8?file=/src/index.js) Template

**Expected behavior**
React to changes in rules

**Desktop (please complete the following info

[2020-06-01 11:03] bluebill1049 commented on #1749
we cache the rules object inside the controller, hence the validation rules is not changing.

- use `validate` function combined `getValues()`
- `unregister` that input, so input gets re-registered with updated `rules`.

[2020-06-01 16:57] ccnokes opened #1751 "Leverage ValidityState API for validation messages"
**Is your feature request related to a problem? Please describe.**
If I have an input type field like `number`, I don't have an easy way to show a validation error related to it.

Using this sandbox: https://codesandbox.io/s/thirsty-violet-x4pyt?file=/src/app.tsx. Run these steps:

1. Input `1..1.1` (or something invalid) in the number field
2. Submit the form
3. The ErrorMessage displays `This fi

[2020-06-01 20:50] arikimolloy opened #1752 "Unexpected reset behavior"
**Describe the bug**
When providing defaultValues to useForm and calling reset with an undefined field, the field does not get rendered and does not receive the undefined value, so does not change value.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the "Reset with new values" button in the sandbox
2. Notice how reset is called with no middleInitial field, and the field does not chan

[2020-06-01 22:01] m3fawner opened #1753 "Return ref for programmatic `register` call"
**Is your feature request related to a problem? Please describe.**
We are attempting to programmatically focus an input using a hook. In order to do this, we need the React ref of the underlying `input` to call focus on it. Since programmatically calling `register()` doesn't return anything, we end up needing to wrap the parent element in a div and assign a ref, then use a query selector to get th

[2020-06-01 23:01] bluebill1049 commented on #1751
thanks @ccnokes. Thanks for the suggestion. I did actually working on native form validation (browse level) from v3.

1. during v3 the usage is low: https://react-hook-form.com/api#Browserbuiltinvalidation
2. mixed with validation with build-in and browser is confusing
3. this will lead to inconsistent API between RN and Web.

hence I have decided to stick with build-in validation or schema.

**so

[2020-06-01 23:08] bluebill1049 commented on #1752
This is expected behavior for `Controller`, please give the input a value eg: '' instead of `undefined.` for native input, we are invoking `.reset()` which will clear the entire form. however, with the controller, you will need to supply a value for the controller. the similar idea we need to have a `defaultValue` for the Controller.

[2020-06-01 23:09] bluebill1049 commented on #1753
Take a look this section: https://react-hook-form.com/faqs#Howtosharerefusage i think this is what you after.

[2020-06-02 00:07] m3fawner commented on #1753
Oh good gravy, right there in the docs. Sorry to have missed that.

Refactored the focus hook to take in the input ref worked like a charm.

Thanks for the quick response and direction! Appreciate it @bluebill1049

[2020-06-02 00:07] #1753 closed

[2020-06-02 00:16] bluebill1049 commented on #1753
no worries @m3fawner 👍

[2020-06-02 00:22] kotarella1110 commented on #1734
@ertw You can use generics in v6.

[code]

[2020-06-02 02:56] acfasj commented on #1749
what if the `validate` function in the Controller rules need to use props?

[2020-06-02 02:59] kotarella1110 commented on #1749
@bluebill1049 Controlled Input and Uncntrolled Input are inconsistent. Shouldn't this be fixed?

https://codesandbox.io/s/react-hook-form-controller-template-oolpt

[2020-06-02 03:09] bluebill1049 commented on #1749
You mean `unregister` at `useEffect`?

[2020-06-02 03:09] bluebill1049 commented on #1749
happy to see a simple solution for this. 🙏

[2020-06-02 03:16] kotarella1110 commented on #1749
@bluebill1049 I think should be fix the line below. we should custom compare deps (rulesRef).

https://github.com/react-hook-form/react-hook-form/blob/v5.7.2/src/controller.tsx#L110

[2020-06-02 03:22] bluebill1049 commented on #1749
yea, hopefully not going to introduce too much code for this change. I did have a note on the documentation on this too that we cache the rules.

We do have `compareObject` method, but then you will need deep compare with validating function which is not going to be pretty and light weight compare.

[2020-06-02 03:25] kotarella1110 commented on #1749
You're right. This may not be light weight compare.

[2020-06-02 03:28] bluebill1049 commented on #1749
I think we should take this as a tradeoff and documented the solution and attach that under the rules section.

- external state: leverage`unregister`.
- local input state: use `validate` function with `getValues()` to read other inputs' value .

[2020-06-02 04:33] acfasj commented on #1749
yes, here is the code in my project:
[code]
I have to do some explanations why I have add a useEffect here, bacause it looks werid in the “business logic” code.   (I event dont really understand why unregister it can make it work, because unregister trigger something in RHF so it re-registered again ?)

and another common case is, form validation, offen need some “context” information, that I have

[2020-06-02 05:05] bluebill1049 commented on #1749
Thanks for your feedback. have a read on the note above first to understand the rationale behind: https://github.com/react-hook-form/react-hook-form/issues/1749#issuecomment-637248515

Because rules are cached, so once it's `unregistred`, it will get `registered` at the render with updated `rules`.

if it's coming down as props, then same use case with `unregister`, if it's trigger by user input,

[2020-06-02 05:19] bluebill1049 commented on #1749
**Summarise**

We have the following options:

1. `register` on each render without cache rules
con: perf and why you do not change rules, it's an overkill
prop: work when you change rules

2. let users cache their own `rules`
[code]
con: not great DX
prop: works and good perf

3. cache the `rules`
above is the solution and cons & props

[2020-06-02 06:09] donaldpipowitch commented on #1726
Thank you for the quick help!

[2020-06-02 06:17] bluebill1049 commented on #1726
np :)

[2020-06-02 07:21] bluebill1049 commented on #1749
@joaoeudes7 @acfasj here is a codesandbox: https://codesandbox.io/s/controller-rules-8pd7z?file=/src/App.tsx let me know if this makes sense.

[2020-06-02 07:24] bluebill1049 commented on #1749
Sorry deleted previous message...

I think i found an easier solution: you can update the rules by invoking `register` again.

https://codesandbox.io/s/controller-rules-8pd7z?file=/src/App.tsx

let me know if this helps.

[2020-06-02 10:07] bluebill1049 commented on #1749
I have updated the doc and will push it alone with V6: https://github.com/react-hook-form/react-hook-form-website/pull/252/commits/39663da56f44828ddaa8ecf3a277e9f28725d46a

[2020-06-02 11:24] #1704 closed

[2020-06-02 11:24] bluebill1049 commented on #1704
This will be released as part of V6 documentation.

[2020-06-02 11:26] olddustysocksunderthecouch commented on #302
I'm using the MUI Text Field component and found that it was showing the placeholder together with the value that I had set using `reset({ someValue: 'value'})` in a useEffect hook. I found that adding the InputLabelProps solved the issue
[code]

[2020-06-02 11:28] bluebill1049 commented on #302
Take a look this codesandbox: https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-06-02 11:43] olddustysocksunderthecouch commented on #302
@bluebill1049 I'm not sure if that would work for me. In my case, I fetch data asynchronously which might only return after the page has already loaded. So I have a useEffect which runs `reset` with the values from the async call. Without `InputLabelProps={{ shrink: getValues('someValue') }}` the input doesn't know that it's dirty and shows both the placeholder and the value.

I'm not sure how I w

[2020-06-02 11:54] bluebill1049 commented on #302
Look this is your original question:

there is a reset button at the bottom of that codesandbox.

[2020-06-02 13:06] SachaMPS opened #1755 "Conditional Radio Options and defaultValues cause an error"
This bug seemed to be very similar to this one which has already been fixed:
https://github.com/react-hook-form/react-hook-form/issues/1274

One major difference: The error is triggered if we have a defaultValue for the conditional radio option!
Example: https://codesandbox.io/s/reverent-thunder-tjlk6?file=/src/index.js

As soon as you remove the defaultValues the error seems to be gone.

[2020-06-02 13:14] arikimolloy commented on #1752
Thanks for the reply. Okay it looks like I can set them to `null` as well and reset works properly. Are there any consequences for passing fields in defaultValues which don't have corresponding inputs? I am dynamically generating fields and at the time of invoking `useForm` I have no way of knowing which fields will get generated.

So would passing this to defaultValues
`{ firstName: 'John', middl

[2020-06-02 14:17] kayuapi opened #1756 "you will need to use `defaultValue` for input for `useFieldArray`. especially when you delete, shuffle and swap inputs."
you will need to use `defaultValue` for input for `useFieldArray`. especially when you delete, shuffle and swap inputs.

_Originally posted by @bluebill1049 in https://github.com/react-hook-form/react-hook-form/issues/1529#issuecomment-621081543_

Hi, with regards to this, is there a way so that I can use reset method returned from useForm hook to change the fields returned from useFieldArray hook

[2020-06-02 15:08] ccnokes commented on #1751
Thanks for listening @bluebill1049 -- I understand 👍. Closing this issue.

[2020-06-02 15:08] #1751 closed

[2020-06-02 15:09] h0jeZvgoxFepBQ2C commented on #1489
You are right, but it would be cool if you could show a nicer error message!

[2020-06-02 16:03] SachaMPS commented on #1755
Seems to be fixed in 6.0.0 RC2

[2020-06-02 16:03] #1755 closed

[2020-06-02 17:24] Prathapkarumanchi opened #1758 "Function components cannot be given refs"
**Describe the bug**

I tried to use the example provided in Doc's and I see the following error message.
Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

**Codesandbox link (Required)**
https://e3fml.csb.app/

**Used Example **
Example code provided after Video Tutorial.

[2020-06-02 20:09] man-trifork commented on #665
@bluebill1049 This is still relevant with the latest stable version. What can we do to workaround?

https://codesandbox.io/s/material-demo-wnmog?file=/demo.js

Thanks in advance!

[2020-06-02 20:12] man-trifork commented on #477
@bluebill1049 This is still relevant with the latest stable version. What can we do to workaround?

https://codesandbox.io/s/material-demo-wnmog?file=/demo.js

Thanks in advance!

[2020-06-02 22:23] #1756 closed

[2020-06-02 22:45] bluebill1049 commented on #477
@man-trifork please use Controller: https://react-hook-form.com/api#Controller

https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-06-03 00:01] bluebill1049 commented on #1752
You will have to generate those input into a `hidden` input, otherwise, data will be lost. it's important to think of native form while building with RHF.

That's correct. It's either.

[2020-06-03 03:48] bluebill1049 commented on #1713
Do we still have problem with this issue if we already support `string` & `ReactElement`?

[2020-06-03 04:58] bluebill1049 commented on #1749
closing this issue, documentation will be released as part of V6 update.

[2020-06-03 06:04] man-trifork commented on #477
@bluebill1049 Unfortunately it doesn't work either:

https://codesandbox.io/s/material-demo-wnmog?file=/demo.js

Do I miss something?

[2020-06-03 06:40] bluebill1049 commented on #477
@man-trifork please take a look my reply above with that Codesandbox.

[2020-06-03 08:19] JReinhold opened #1761 "Support warnings instead of just errors in validation"
**Is your feature request related to a problem? Please describe.**

I have a complex form, where the user is allowed to enter and submit input, that is not in the desired shape. A simple example, is that the user can enter a date range with a start and end date (two separate input fields). The user is allowed to submit and save the date range with only one of the dates present (start OR end), but

[2020-06-03 08:54] bluebill1049 commented on #1761
Thanks for your feature request, unfortunately, i don't think we will implement this feature right now, and don't have a plan for it too. I am going to close this feature and leave it as waiting for upvotes.

[2020-06-03 08:54] #1761 closed

[2020-06-03 09:58] joaoeudes7 commented on #1749
Thanks :smile:

[2020-06-03 10:03] bluebill1049 commented on #1758
what's the issue?

[2020-06-03 10:08] #1758 closed

[2020-06-03 12:14] ArvindNikam76 commented on #92
disabled={Object.keys(errors).length >0  || formState.dirtyFields.size < 5}

[2020-06-03 13:17] pedroguia commented on #1749
I have a similar problem to op, "required" rule must be dynamic and on top of that i need to use setValue() on the field that was re-registered.

Your last solution solves the required problemas but stops me from changing the value, i guess it changes but it is not visible on the textfield:
https://codesandbox.io/s/controller-rules-npe18?file=/src/App.tsx

Any ideia?

[2020-06-03 14:53] Benjpoirier opened #1765 "Move from useFieldArray reset my nested fields."
**Describe the bug**
Hi,

First of all, sorry if there are some points not quite understandable, i’m not English, so I will do my best.

I’m currently working on a form with 2 levels of dynamic nested fields.
I handle the first one with `useFormField` which gives me good behavior.
The problem is on the second level of nested fields when I try to move down using move or swap function the nested fie

[2020-06-03 15:31] mush159 opened #1766 "Error focus passed to wrong input when using register & Controller onFocus prop"
**Describe the bug**
I love being able to autoFocus on inputs wrapped by Controller but I've noticed when its used on a form that contains components that use a mix of `register` and `Controller` it prioritises the autofocus to the inputs that use `register`.

I figure this is due to inputs using `register` being registered with the form before `Controller` components and when iterating over the f

[2020-06-03 16:34] BMariscal opened #1767 "Validate Email Top-Level Domains"
The email validation doesn't currently validate top-level domains. For instance, entering `hello@mail.commmmmmmmmmm`, in the `Email` field does not raise an error.

![](https://i.ibb.co/yVYcFcP/react-hook-form.png)

**Describe the solution you'd like**

During email validation, check [top-level domains](https://www.npmjs.com/package/tlds).
https://github.com/react-hook-form/react-hook-form/blob/8a

[2020-06-03 18:51] h0jeZvgoxFepBQ2C commented on #127
For me its also not working somehow.. I only get an empty hash like ```{"0" => {}}````

[code]

Also with 5.7.2

[2020-06-03 19:50] h0jeZvgoxFepBQ2C commented on #274
@harish-bisht Did you found a solution on how to make it work with normal form data combined and react-hook-form?

[2020-06-03 22:23] #1752 closed

[2020-06-03 22:31] bluebill1049 commented on #1749
why so complicated?

[code]

u r doing both controlled and uncontrolled, choose one.

[2020-06-03 22:39] bluebill1049 commented on #1766
Yes, you are absolutely correct on how focus takes the order, and your solution sounds about right as well. right now, I don't think there is another way as we follow the order of input get registered, because Controller wrapper the input and register after useEffect, so it will be after native ref register. I don't think we will introduce another API to get the order right for now, as it will com

[2020-06-03 22:40] #1766 closed

[2020-06-03 22:41] bluebill1049 commented on #1767
The example was for demo and hence I keep the regex as simple as possible. you can find a more robust version here: https://emailregex.com/

[2020-06-03 22:41] #1767 closed

[2020-06-03 22:55] bluebill1049 commented on #1765
hey @Benjpoirier your English is fine. :)

this is expected behavior, each `useFieldArray` hold it's own reference and inputs, so when you move the children will get potentially gets unmounted. I will give it a try myself and see if it's capable. worse case you will have to implement this yourself.

[2020-06-03 23:26] pedroguia commented on #1749
I changed the previous code as much as i could to simulate my real problem.
Can you take a look? https://codesandbox.io/s/controller-rules-npe18?file=/src/App.tsx

As you can see, required erros appear even though the fields are not required in that moment.
Thats why i thought on re-registering both hour fields whenever the switched are toggled.
Thanks.

[2020-06-03 23:30] bluebill1049 commented on #1749
Taking a quick glance looks like the wrong usage, why are you set values in there

[code]

personally I would build an entire component that includes all those fields and wrap with the controller. when you using controller and then manually use setValue it raise concern to me right away.

[2020-06-03 23:31] bluebill1049 commented on #1749
is this codesandbox works for you? https://codesandbox.io/s/controller-rules-8pd7z?file=/src/App.tsx @pedroguia if so, maybe try to follow the same pattern.

[2020-06-03 23:35] pedroguia commented on #1749
Cant build a component that includes all of these fields because they are already in different bigger components inside my project.

I've already tried that approach and coudnt make it work, bu ill try again.
Using controller and setValue together as work as expected for the entire form, except for this little problem.

[2020-06-03 23:38] bluebill1049 commented on #1749
ok, I will take a look closer during lunch time.

[2020-06-04 00:13] bluebill1049 commented on #1765
looks like it's working: https://codesandbox.io/s/react-hook-form-usefieldarray-template-88bnd?file=/src/index.js

[2020-06-04 00:14] bluebill1049 opened #1770 "Controller rules reset"
_| create a new issue, so we don't notify and annoy others._

I changed the previous code as much as i could to simulate my real problem.
Can you take a look? https://codesandbox.io/s/controller-rules-npe18?file=/src/App.tsx

As you can see, required erros appear even though the fields are not required in that moment.
Thats why i thought on re-registering both hour fields whenever the switched are

[2020-06-04 00:14] #1749 closed

[2020-06-04 00:16] kotarella1110 commented on #1713
We still have this problem.
I think there is no solution for this issue.

We need to use cast or typeguard.

[code]

[TypeScript Playground](https://www.typescriptlang.org/play/#code/CYUwxgNghgTiAEEQBd4CMBc8DOyYEsA7Ac3gB95CBXAWzRBgG4AoJVKLXAklqeAXnQsA9MPhgouZn0Fp4knHiLERY5AE8ADiGJVYwaQPgbtAewBm6Af0EByLstvwA-Fay3bjIA)

[2020-06-04 00:46] bluebill1049 commented on #1770
just like I suggested on the previous issue: just register the updated rules

https://codesandbox.io/s/controller-rules-mxxwg?file=/src/App.tsx:0-2919

[code]

[2020-06-04 00:46] #1770 closed

[2020-06-04 01:14] bluebill1049 commented on #1713
hey @stramel, do you have any solution in mind?

[2020-06-04 07:09] Benjpoirier commented on #1765
thx for this working example,

My version was up to date on my app, so I dug into my problem, and, in fact, I was displaying the nested fields with a condition based on a watch. `watch(`(${props.name}[${index}].type`)`
https://codesandbox.io/s/react-hook-form-usefieldarray-template-xm6c6

I think `watch` lost the reference on unmount, but how can I handle this kind of behavior properly?

[2020-06-04 07:13] bluebill1049 commented on #1765
can you try to watch before the `render`?

[2020-06-04 07:25] Benjpoirier commented on #1765
I watch with the index on the map, what do you mean before the render? I try outside the return with a static number as an index and I try before map return. This is what you meant?

[2020-06-04 07:43] bluebill1049 commented on #1765
watch the entire Field Array. The index is probably not reliable with your use case.

[2020-06-04 07:54] Benjpoirier commented on #1765
it seems not working and cause a render in each letter.

[2020-06-04 08:03] bluebill1049 commented on #1765
ok, since this is completely different issue, can you please put down the steps to reproduce the problem? I am confused and my answer is off track as well.

[2020-06-04 08:17] bluebill1049 commented on #1765
going to close this issue, and let's create a separate issue, with steps to reproduce (what you reported above).

[2020-06-04 08:17] #1765 closed

[2020-06-04 08:46] Benjpoirier opened #1773 "Nested fields have been reseted when using "move" from "useFieldArray" on conditionnal render based on "watch""
**Describe the real bug**
[To follow up this issue](https://github.com/react-hook-form/react-hook-form/issues/1765)

So the unexpected behavior:

In the example below, I have a form with 2 levels of "FieldArray".
There is a checkbox to allow us to add more text fields. (so the render of this component is conditional with the value of this checkbox using a "watch")
In case I have more than 2 items

[2020-06-04 09:28] bluebill1049 commented on #1773
Thanks for clarifying the issue. Because react hook form rely on inputs for storing the state, toggling the value with `watch` in `useFieldArray` does making thing harder. May I suggest to toggle the visibility instead of unmounting the inputs.

[2020-06-04 10:00] Benjpoirier commented on #1773
this is ofter the simplest solution who is the best! Thx for the suggestion 👍

[2020-06-04 10:01] #1773 closed

[2020-06-04 10:21] pedroguia commented on #1770
Well, that solves the required problem but creates another one. If you toggle the "all day" switch after re registering, the values dont change anymore, they only change before registering.

Thanks anyway for your help.

[2020-06-04 11:06] bluebill1049 commented on #1770
what do you mean all day and values don't change anymore?

[2020-06-04 11:07] bluebill1049 commented on #1770
isn't that defined by your code `disabled={areHoursDisabled}`?

[2020-06-04 11:38] joaoeudes7 commented on #1749
Ops! Validate do not work with values of useState, and  `defaultValues()` dot not set values of `getValues()` :/

[2020-06-04 11:48] bluebill1049 commented on #1749
do you have a codesandbox for this?

[2020-06-04 11:52] pedroguia commented on #1770
I mean toggling "allDay" should always set startHour to 00 and endHour to 23:59, even after setting periodic to true.
After registering startHour and endHour, like you did, toggling "allDay" does not update startHour and endHour anymore.

Maybe what im trying to do is just impossible.

[2020-06-04 11:56] bluebill1049 commented on #1770
from my end is working as expected, i don't think those input support 24hrs, as you can see its set to be 11:59 PM.

[2020-06-04 12:01] pedroguia commented on #1770
Can you please try:

1 -> refresh page -> toggle allday to true -> hours change? they should change.
2 ->refresh page -> toggle periodic to true -> toggle allday to true -> hours change? they should change, but they dont.

Thats what i mean, after setting periodic to true and registering startHour and endHour, they will never again change when you toggle allDay.

[2020-06-04 12:05] bluebill1049 commented on #1770
what about this?

[code]

[2020-06-04 12:08] MrBlue9 opened #1777 "Setting defaultValue to null on DatePicker wrapped by Controller turns "isValid" to false"
**Describe the bug**
Using "defaultValue" = null on a DateField wrapped in Controller turns "isValid" in formState to "false".

**To Reproduce**
1. Open attached CodeSandbox
2. Submit button is disabled because "isValid" is false
3. Change `defaultValue={null}` on second Field to `defaultValue={new Date()}` and Submit button is not disabled anymore when loading form again

**Codesandbox link (Requ

[2020-06-04 12:10] bluebill1049 commented on #1777
Please fix your CSB.

[2020-06-04 12:11] pedroguia commented on #1770
If you toggle allDay you get a validation error, if you toggle periodic you get required errors.
I'll just remove required from starHour and endHour and proceed.

The thing is, if in the future i need dynamic required inputs i guess i'll this same error.

[2020-06-04 12:12] bluebill1049 commented on #1770
do you mean what I purposed above with `validate`?

[2020-06-04 12:14] bluebill1049 commented on #1770
also, you have considered schema validation as well.

[2020-06-04 12:14] bluebill1049 commented on #1770
anyway i am tired and done for the day, will take a look again.

[2020-06-04 12:14] pedroguia commented on #1770
I tried what you purposed and was still getting errors, but now im not, idk if you changed something but i guess its working. i'll let some more.

[2020-06-04 12:17] MrBlue9 commented on #1777
Sorry for that, didn't get any errors when initially creating it.
Does it work for you now?

[2020-06-04 20:49] dandv opened #1781 "Skip validations if a field is not required"
**Is your feature request related to a problem? Please describe.**
I have registered an optional text field with several validators. I think the validators should not run if the field is empty, because it's optional, and an empty optional field is by definition valid.

[The sandbox](https://codesandbox.io/s/react-hook-form-required-false-should-bypass-validate-u88tm?file=/src/index.js) illustrates

[2020-06-04 22:52] bluebill1049 commented on #1781
hey @dandv why not write that logic inside `validate` function, probably not a lot easier that way?

[2020-06-04 23:28] bluebill1049 commented on #1777
What's the issue here? looks correct behavior for me.

[2020-06-05 00:40] bluebill1049 commented on #1713
if this is something we can't fix, I will include that in the FAQ section.

[2020-06-05 04:19] Sleepful opened #1782 "Mention in the docs that you can't pass any prop to the "as" component in a Controller with the same name as the props the controller may have"
Mention in the docs that you can't pass any prop to the "as" component in a Controller with the same name as the props the controller may have

Somewhere in the Get Started it mentions that props for "as" component get overridden if they have the same name as Controller props, however this is not mentioned in the API:
https://react-hook-form.com/api#Controller
*Furthermore*, it does not mention th

[2020-06-05 04:28] #1782 closed

[2020-06-05 04:42] dandv commented on #1781
The reason not to check for `''` in every validator is that it's repetitive and inelegant. Currently I do have this in my code and it doesn't look that nice :)

[code]

It would also be faster if RHF skipped calling each validator for optional fields that are empty.

[2020-06-05 04:48] bluebill1049 commented on #1781
what about the following:

[code]

[2020-06-05 05:45] MrBlue9 commented on #1777
Should "isValid" not be true and the form therefore submittable because the field "date of birth" is not required?

[2020-06-05 05:49] MrBlue9 commented on #1777
Oh, now I see it! My ternary operators for both validations on that field are messed up! I got it working now! Thank you!

[2020-06-05 05:49] #1777 closed

[2020-06-05 09:00] dandv commented on #1781
Yes, that's pretty much what I wrote in [my comment](https://github.com/react-hook-form/react-hook-form/issues/1781#issuecomment-639254914), sorry for the syntax errors, edited now.

The problems remain, repetitive unnecessary ugly code.

Semantically, if a field is empty, what is the point of running validators? What content can they validate?

[2020-06-05 09:13] bluebill1049 commented on #1781
I disagree, `required: false` is by default, it should treat differently when it's been specified to be `false`.

[2020-06-05 09:20] dandv commented on #1781
I'm not sure I understand... what should be treated differently and how, if `require` is omitted, vs. if `require` is explicitly set to `false`?

As far as I currently understand (but I'm new to RHF so I might be missing something), here are all 6 combinations of a field (empty vs. non-empty) and `required` (true, false, undefined):

* field empty
  * (1) required: true -> error already, no need t

[2020-06-05 09:20] Spaideri opened #1784 "Validation does not trigger until submit is invoked"
**Describe the bug**
Automatic validation starts to trigger only after submit is invoked.

Typing text to input fields does not update the errors object or formState.isValid property until I have tried to submit.

After clicking and trying to invoke submit all changes to input values are validated in real time. Seems like something is blocking the execution until submit.

I have used the exact Get

[2020-06-05 09:22] bluebill1049 commented on #1781
make no difference, you shouldn't need to specify `required: false`.

[2020-06-05 09:23] bluebill1049 commented on #1781
by the way, I am more than happy to discuss this, by default `required: false`.

[code]

[2020-06-05 09:24] bluebill1049 commented on #1784
can you please follow the temple by supply a codesandbox?

[2020-06-05 09:32] Spaideri commented on #1784
https://codesandbox.io/s/heuristic-hodgkin-tx37h?file=/src/App.js

[2020-06-05 09:32] dandv commented on #1781
There seems to be some communication problem here... One hand you said

When I asked *how* it should be treated differently and what "it" is, the reply was

??? It's late here, I'll go sleep and read the whole thread in the morning :)

[2020-06-05 09:33] bluebill1049 commented on #1784
`mode` : https://react-hook-form.com/api

[2020-06-05 09:38] Spaideri commented on #1784
Duh, solved. Thank you.

I got confused with the
[code]

[2020-06-05 09:38] #1784 closed

[2020-06-05 09:40] bluebill1049 commented on #1781
have a good night.

**Summarise:**

you don't need `{required: false}`, because it doesn't make any difference when you did not specify `required`.

`<input ref={register} /> === <input ref={register({ required: false })} />`

I understand that you want to skip validation with `required: false`, however, that's not the currently expected behavior and we are not going to change that.

[2020-06-05 09:42] bluebill1049 commented on #1784
all good! a simple one 👍

[2020-06-05 12:58] bluebill1049 commented on #1713
I guess the only solution is to strictly only allow `string` 🤔 @kotarella1110 @stramel

[2020-06-05 14:17] zeyuri opened #1786 "Custom Masked Input Example Not working"
The custom masked input example is not working

Steps to reproduce the behavior:
1. Go to [this ](https://github.com/react-hook-form/react-hook-form/blob/master/examples/customMaskedInput.tsx) example.
2. Copy and paste it anywhere and run it
3. You will se the error "react-input-mask: children must be a function"

[CodeSandBox](https://codesandbox.io/s/stoic-taussig-meyb8?file=/src/App.js)

[2020-06-05 14:23] jonhaddow opened #1787 "FieldArray remove last item doesn't change the formState.dirty when using FormContext"
**Describe the bug**
When removing the last field array item, I would expect the form state to be `dirty`, but this doesn't happen when the form is setup with the FormContext.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the Sandbox link posted below
2. Try the first app (<App1 />) which is setup as FormContext. When you click "remove" the `dirty` property is unchanged.
3. Try the

[2020-06-05 14:50] LoicHa commented on #1773
I had the same issue with a modal box that handled useFieldArray fields.
I had to move the fields on a div that is not unmounted. Works fine now.

[2020-06-05 20:48] dandv commented on #1781
Hi @bluebill1049, I've completely rewritten my proposal, clarifying the logical reasoning behind it. Please take another look? Also, if someone else might want to take a look in case I wasn't clear and another perspective would help, or maybe they can find a counter-example - @JeromeDeLeon , @kotarella1110? Thanks everyone for your time.

[2020-06-05 23:16] bluebill1049 commented on #1781
Thanks for updating @dandv the description. I will vote for no change for now.

[2020-06-05 23:18] bluebill1049 commented on #1773
Thanks @LoicHa I am going to update the doc to include this. In fact, here is a useful codesandbox: https://codesandbox.io/s/react-hook-form-conditional-inputs-c7n0r

[2020-06-05 23:48] bluebill1049 commented on #1786
That's a version problem with `react-input-mask`: https://codesandbox.io/s/trusting-agnesi-rdi5m?file=/src/App.js

if you having issues, take a look at controller version at the examples folder.

[2020-06-05 23:48] #1786 closed

[2020-06-06 01:17] #1787 closed

[2020-06-06 13:32] GTOsss opened #1794 "Initial state for field array"
I implemented the wizard form in 2 steps.
At the first step, sections are created.
In the second step, sub sections are added to these sections.

I tried to combine the state of the first page and the second and got a lot of problems:

1. after submitting the 2nd page, incorrect data is added to the shared state (the section name and id are lost).
2. when deleting the first element on page 1, the

[2020-06-06 18:51] chrishj59 opened #1797 "Form level Validation pre-submit in addition to field level validation"
When validating a form it is often necessary to validate the individual fields but in addition, it is often necessary to validate fields in relation to each other.
For example, when creating a user account it is necessary to validate both the password and repeat passwords are entered and match complexity. This is handled well using the register validation methods.

When each field has been entered

[2020-06-06 21:38] Slapbox commented on #316
The docs would benefit from just showing a `textarea` used somewhere. In the docs I looked at, I didn't see that so I Googled to see if there was any special configuration needed and it brought me here.

Pretty low priority though.

[2020-06-06 22:56] #1797 closed

[2020-06-06 23:07] bluebill1049 commented on #1794
1. not very clear on the problem and steps to reproduce
2. took a quick look, are you store the submitted data in your local/global state? when you toggle the form, all inputs get unregistered and data will be lost. react hook form embrace native form, just like how you build your form in vanilla JS and state live inside your inputs.

[2020-06-07 00:05] GTOsss commented on #1794
In the example I gave, how do I link the data on the first page to the data on the second page?

[2020-06-07 00:09] bluebill1049 commented on #1794
You can host your data in a local/global state as I suggested above. you can watch this quick tutorial as well: https://www.youtube.com/watch?v=CeAkxVwsyMU

[2020-06-07 00:12] GTOsss commented on #1794
Yes, I do. But there is a problem when trying to pass initial values to the second page. This is exactly what I do in my codSanbox example.

[2020-06-07 00:15] GTOsss commented on #1794
The example in the video is clear and simple.

But in my example, there is a dependency between 2 pages.

[2020-06-07 00:18] bluebill1049 commented on #1794
I don't see difference tho, you can host your data in a global store which connected two pages and if your initial data come async you can use `reset()` at `useEffect`.

[2020-06-07 00:21] GTOsss commented on #1794
The difference is that when the object has unrelated data. We can easily margim of using:
[code]
But if you look closely at what is happening in the example, you will understand that not everything is so simple.

[2020-06-07 00:27] bluebill1049 commented on #1794
I understand everything is not simple and what's why I build this lib to make the thing easier, so back to the square one: what's the issue with the API which lead to your problem? I don't have time to analyze each users' implementation, as I suggested above what are the steps to reproduce the problem.

[2020-06-07 00:27] #1794 closed

[2020-06-07 21:40] chrishoermann opened #1808 "useFieldArray clears input values when element is removed"
**Describe the bug**
I use useFieldArray to render a set of inputs that are based on a "map-object".
This object describes how the inputs should be layouted, which inputs should be rendered, which of them are required and so on:

[code]
My FieldArray component renders the inputs for each Element based on this map ...

[code]

... and returns either CustomInput or CustomFreeSolo:

[code]

Now when

[2020-06-08 00:44] bluebill1049 commented on #1808
hey @chrishoermann thanks for the very detailed issue report.

After an item gets deleted, it's expected to remove the value. Curious why would a field still retain its value after deletion?

[2020-06-08 03:57] donovanly opened #1810 "useFieldArray not storing to form correct"
**Describe the bug**
When using useArrayForm to create entries within useForm, the newly created array fields are not stored correctly, instead of being stored within an array, each new variable is stored independently from each other.

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/react-hook-form-usefieldarray-p3k2l
I've added Dev tools to the original CSB provided ht

[2020-06-08 07:21] chrishoermann commented on #1808
Hey @bluebill1049,

I think my explanation of the problem wasn't that well-worded :) :

When e.g. element one in my condesandbox example is removed all the values of the remaining elements (two, three , four) are cleared or reset to the default values provided by useForm.

expected behaviour: the values of elements two, three and four should be untouched after removal like in your codesandbox exam

[2020-06-08 07:32] bluebill1049 commented on #1808
Did you pass input value into each input/controller's defaultValue?

`{fields.map(item => <input defaultValue={item.value} />)}`

[2020-06-08 07:35] bluebill1049 commented on #1810
That's expected behavior for the current version. Next major version we will change to nested object data type by default. if you want to have nested input date `watch({ nest: true })`

[2020-06-08 08:13] Reggino opened #1812 "Website is down"
**Describe the bug**
https://react-hook-form.com/ doesn't show the proper pages

**To Reproduce**
Open https://react-hook-form.com/

**Expected behavior**
A working website :-)

[2020-06-08 08:15] bluebill1049 commented on #1812
Thanks @Reggino it's working now, probably is back now.

[2020-06-08 08:24] Reggino commented on #1812
Thanks!

[2020-06-08 08:24] #1812 closed

[2020-06-08 08:52] zszep opened #1813 "Material UI Select throwing error"
When wrapping the Select Component with Controller I get this error (The NativeSelect Component from MUI works as expected.):
[code]
My sample code is:
[code]

[2020-06-08 09:09] bluebill1049 commented on #1813
you are missing `defaultValue` or `defaultValues` at `useForm `

[2020-06-08 09:26] chrishoermann commented on #1808
I got a temporary fix by using the field.id as key in the `Grid item` too or by removing the key property from the `Grid item`.

The problem with that "solution" is, that react complains about using the same id multiple times or that a unique key prop is missing.

Do you have any workaround in mind?

[2020-06-08 09:34] acfasj commented on #1749
if anyone's situation is simply depend on a prop,  and it change only once,  maybe  use `key` prop to force `Controller` recreate the component helps
[code]

[2020-06-08 09:39] bluebill1049 commented on #1749
@acfasj we are fixing this next release.

[2020-06-08 09:40] bluebill1049 commented on #1808
what about try to create a new Component and use `Memo`?

[2020-06-08 09:49] chrishoermann commented on #1808
You mean something like in your Smart Form Component example?
https://react-hook-form.com/advanced-usage#SmartFormComponent

I'll give it a try later today.

[2020-06-08 09:52] bluebill1049 commented on #1808
I mean convert your second `.map` into a functional component instead of multiple maps, but I am not sure how Grid component re-render item inside.

[2020-06-08 09:53] chrishoermann commented on #1808
OK, thanks I'll try it out

[2020-06-08 10:20] chrishoermann commented on #1808
Sometimes the solution is very simple:

I used the index of the last `.map` method as key for my `Grid item` and now everything works fine:

[code]

Updated Sandbox: https://codesandbox.io/s/react-hook-form-fieldarray-bug-53279?file=/src/FieldArray.js

[2020-06-08 10:20] #1808 closed

[2020-06-08 10:21] zszep commented on #1813
Yes. This solves the problem. Maybe this should be documented as it is not very intuitive. NativeSelect does not need the defaultValue parameter and all the samples I could find use NativeSelect.

[2020-06-08 10:21] #1813 closed

[2020-06-08 10:23] Yama-Tomo commented on #1362
@bluebill1049
I'm facing a similar problem.
I think it's unsafe to implement in typescript if the argument passed to `handleSubmit` is not included keys.

codesandbox: https://codesandbox.io/s/react-hook-form-usefieldarray-wjzx3
This code causes a runtime error if you click the send button when `friends` is empty.
(Unfortunately, the compiler does not output errors)

I think the property types in

[2020-06-08 10:26] bluebill1049 commented on #1813
<img width="900" alt="Screen Shot 2020-06-08 at 8 26 20 pm" src="https://user-images.githubusercontent.com/10513364/84020547-54d3b200-a9c6-11ea-8b8c-7cfb08548734.png">

[2020-06-08 10:32] bluebill1049 commented on #1713
keep things transparent here, we have the following options

1) string only avoid TS issue
2) still support string/jsx and leave note in the FAQ

@kotarella1110 is investigating a solution for both string and JSX, if there is no solution we will cast a vote to decide.

[2020-06-08 11:14] bluebill1049 commented on #1362
@Yama-Tomo V6 is coming this week: https://react-hook-form-website-git-v6.bluebill1049.now.sh/ts#SubmitHandler This should help.

[2020-06-08 12:01] BananaWanted commented on #676
Hi @edouardb could you kindly let me know what is the workaround you've used?

I'm currently facing a similar situation. My app relies on some 3rd party APIs that I don't have any control of, requires dot fields like this:
[code]

It would save me a lot of time mapping values around if by any chance something like `<input name="'a.b'[0].c" />` can work.

[2020-06-08 12:39] jonhaddow opened #1815 "Form is not considered "dirty" when removing the last item in a nested array."
**Describe the bug**
When using a nested array (`prop.nestedProp`), the form state is not updated when the last item is removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Codesandbox lint
2. The first demo is a non-nested field array. Removing updates state.
3. The second demo is a nested field array. Removing *doesn't* updates state.

**Codesandbox link (Required)**
https://code

[2020-06-08 12:42] bluebill1049 commented on #1815
This should have been resolved in the latest `6.0.0-rc.3`, can you try the latest `RC` version and let me know if that solves the problem.

[2020-06-08 12:45] bluebill1049 opened #1816 "useFieldArray Controller method cache 6.0.0-rc.3"
**Describe the bug**
https://spectrum.chat/react-hook-form/help/another-problem-with-usefieldarray-swap-and-controller~0a9dfaad-1b0b-49d7-84e6-0164fe35950d

[2020-06-08 12:46] jonhaddow commented on #1815
That doesn't seem to have solved the issue. I've updated the code sandbox with the latest.

[2020-06-08 12:51] #1810 closed

[2020-06-08 14:49] donovanly commented on #1810
Great thanks for clarifying, this solves my problem! That specific flag wasn't obvious to me 😢

[2020-06-08 16:27] droruri opened #1819 "Enable Validation on Initilization"
**Is your feature request related to a problem? Please describe.**
The problem is repeating code.
If I would like to build many forms which will run validation on fields when the component is initializing, I will have to write the command "triggerValidation" under useEffect in each form separately.

**Describe the solution you'd like**
A form mode which will run validations on initilization and on

[2020-06-08 22:03] bluebill1049 commented on #1810
next version we are fixing this :)

[2020-06-08 22:22] bluebill1049 commented on #1819
Thanks for the feature request. I don't think there is anything wrong with `trigger`, but i will leave this to the community to decide.

[2020-06-08 22:22] #1819 closed

[2020-06-08 22:23] #1816 closed

[2020-06-08 22:49] ItsWendell opened #1821 "Server Side Rendering & Controllers: useLayoutEffect should only be used in components that render exclusively on the client. & Missing Types [^6.0.0-rc.3]"
**Describe the bug**
Using version _6.0.0-rc.3_ together with NextJS 9.4.4, I'm experiencing the following warning in my terminal in development mode regarding useLayoutEffect:

_Related PR where this was introduced: https://github.com/react-hook-form/react-hook-form/pull/1789_

**To Reproduce**
Steps to reproduce the behavior:
1. Use NextJS for server-side rendering.
1. Use an 'advanced' controll

[2020-06-08 22:52] bluebill1049 commented on #1821
thanks for the issue report!

[2020-06-08 22:57] #1821 closed

[2020-06-08 23:26] bluebill1049 commented on #1815
Thanks for picking up this bug:

https://codesandbox.io/s/react-hook-form-usefieldarray-gxzc5?file=/src/src/useFieldArray.ts

[2020-06-09 00:19] Yama-Tomo commented on #1362
Thank you for response.

I think if you use array fields, it's a pain to use `SubmitHandler` every time since they are of a different type than `FormValues`.
Also It's not safe to say that it's up to the developer to use `SubmitHandler` or not.

For example, change the array type property of the data argument of `SubmitHandlers` to nullable using conditional type. etc...
Do you plan to support it

[2020-06-09 00:47] bluebill1049 commented on #1362
@Yama-Tomo can you give more detail on this one above?

CC: @kotarella1110

[2020-06-09 01:35] martin-sean commented on #681
@kylenguyen1014 Do you have an example of how you got useFieldArray and Autocomplete to work together? I'm trying to use validation to stop a freesolo multiple Autocomplete from adding certain values.

[2020-06-09 01:39] bluebill1049 commented on #681
@marsinearth for autocomplete: take a look there: https://codesandbox.io/s/react-hook-form-controller-079xx
@kylenguyen1014 you mean array of array: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-x7btr

[2020-06-09 02:27] #1815 closed

[2020-06-09 03:07] Yama-Tomo commented on #1362
@bluebill1049 Create a utility type that makes  only array nullable like this.

[code]

usage

[code]

Wrap to `UnpackNestedValue<TFieldValues>` with NullableArrayProperties.

https://github.com/react-hook-form/react-hook-form/blob/a5709440eb2e6a908110aea9ed473772ded5686a/src/types/form.ts#L51

　
Create a PR if needed 👍

[2020-06-09 03:09] bluebill1049 commented on #1362
@Yama-Tomo please create a PR and let @kotarella1110 review. thanks

[2020-06-09 03:57] jonhaddow commented on #1815
Nice one! Thanks for the quick response and fix 👍

[2020-06-09 04:16] bluebill1049 commented on #1815
Thanks for reporting those issues too. appreciated.

[2020-06-09 05:13] droruri commented on #1819
So, that's the reccommend way to trigger validation on component initilization?

[2020-06-09 07:36] kotarella1110 commented on #1362
If you want to use useFieldArray to empty `defaultValues`, you can work around this issue by making the FormValue property optional:

[code]

[Codesandbox](https://codesandbox.io/s/react-hook-form-usefieldarray-7ci05)

[2020-06-09 11:50] bluebill1049 commented on #1781
closing this feature request and added to pending.

[2020-06-09 11:50] #1781 closed

[2020-06-09 17:58] m3fawner commented on #1808
@bluebill1049

We encountered a case in which we dynamically replace the array backing the `useFieldArray` via a `reset`. We're able to reinitialize the values by using defaultValue (conveniently enough found today!).

Is it expected that a `reset` does not re-establish the new values? If not, I can create a new ticket.

[2020-06-09 19:00] dandv commented on #1781
I'm curious about the reasons.

But if it's just a matter of style / personal preference, no problem, you da boss @bluebill1049 ! Thanks again for all the work on the library.

[2020-06-09 22:45] bluebill1049 commented on #1781
I didn't like it when required = false does something different and have dependency between validation logic.

I am monitoring all the feature requests, if many people want this feature, we will implement it.
you can take a look at the list here: https://github.com/react-hook-form/react-hook-form/projects/1 definitely not killing your idea here.

[2020-06-09 22:46] bluebill1049 commented on #1808
can you share a codesandbox? steps to reproduce and expected behavior.

[2020-06-09 23:37] m3fawner commented on #1808
I was attempting to, but it *just kept working as expected*.

Put a lot more effort into my code to try and isolate the problem. After
reading and re-reading the docs, I *think* the problem was caused by not
setting a default value onto our inputs.

It was hard to track down because the `fields

On Tue, Jun 9, 2020 at 3:46 PM Bill <notifications@github.com> wrote:

--
------------------------
Evan

[2020-06-09 23:40] bluebill1049 commented on #1808
I see, sorry about the confusion. `useFieldArray` is uncontrolled as well (which doesn't trigger re-render while users' typing), so `defaultValue` needs to supply to set the default value of those uncontrolled inputs.

[2020-06-10 03:46] bluebill1049 commented on #1713
here is the vote on Twitter: https://twitter.com/HookForm/status/1270492651905626112

[2020-06-10 07:25] mike-jewell opened #1829 "Expose a comparer function for setValue -> setDirty to deep compare arrays or objects"
**Is your feature request related to a problem? Please describe.**
I am trying to migrate from Formik over to react-hook-form.  I have a checkbox list control which takes an array of { id: string, name: string } and apply it to the control.  I then use onChange on the Checkbox control to setValue on the form.  The problem I have is that I need to splice the value to force a rerender as if I change

[2020-06-10 08:20] ajaybeniwal opened #1830 "Boolean RadioGroup defaults does not work"
**Describe the bug**
I have created a component to get the boolean values  instead of stings which work without any issue but defaultValues does not work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Codesandbox link (Required)**
https://codesandbox.io/s/tender-lalande-ffjtb

- [useForm](https://codesandbox.io/s/react-

[2020-06-10 08:26] bluebill1049 commented on #1830
You have supplied boolean, so it's checked instead of value:
https://codesandbox.io/s/focused-allen-xr34z?file=/src/App.js

[2020-06-10 08:26] #1830 closed

[2020-06-10 08:30] bluebill1049 commented on #1829
Thanks for the feature request. I don't think we will implement this feature at this stage.

I would recommend doing an object compare aginst your default value.

`getValues()` compare with `defaultValues` during onChange.

[2020-06-10 08:34] mike-jewell commented on #1829
How can I effect the form state using this?

[2020-06-10 08:36] bluebill1049 commented on #1829
you can consider changing your custom component to `useFieldArray` so each input is tracked.

[2020-06-10 08:37] mike-jewell commented on #1829
Thanks for getting back to me so quick. I’ll have a read and see if I can apply that. Thanks again

[2020-06-10 08:38] bluebill1049 commented on #1829
actually you can do the same with `useForm`,  why not break it into separate inputs?

[2020-06-10 08:38] bluebill1049 commented on #1829
so it's easier to compare the input value as well, instead compare the object "deep compare:".

[2020-06-10 08:39] bluebill1049 commented on #1829
eg:
[code]

is much easier to track `dirty` than a nested object.

[2020-06-10 08:43] mike-jewell commented on #1829
The problem I have is that my app creates dynamic forms from templates. The models can be complex and can be arrays of models. Changing the models and state need to be changed throughout so the deep compare on nested objects works for us. Converting all of them to x[0].y[0].z will be tough

[2020-06-10 08:46] sajithneyo opened #1831 "Using 'touched' does not trigger the validation at first submit"
**Describe the bug**
Using 'touched' in combination with errors won't trigger validation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Codesandbox link
2. Switch to console
3. Add a character to the input field
4. Press submit (1st submit will show an empty error object)
5. Press submit again (2nd submit will show the validation error)

**Codesandbox link (Required)**
https://codesan

[2020-06-10 08:46] bluebill1049 commented on #1829
I see, take a look at useFieldArray to see if a valid option, otherwise you will have to do some manual work to maintain that dirty flag.

[2020-06-10 09:05] bluebill1049 commented on #1831
[code]

This component you had inside gets mount and unmount each time. consider to move it outside the root component.

[2020-06-10 09:16] s97712 commented on #1042
Consider support custom compare function? such as below usage:
[code]

[2020-06-10 09:25] bluebill1049 commented on #1042
thanks @s97712 you should use `reset()` instead for `defaultValues`, `defaultValues` get cached in the first render.

[2020-06-10 10:19] sajithneyo commented on #1831
@bluebill1049 When I move the function bellow the button,
[code]
it works. Even the current way works if I remove the `touched`. So why this strange behavior when using `touched `?

[2020-06-10 10:19] mike-jewell commented on #1829
I've had success modifying the state using useFieldArray, so thanks for the help.  Awesome library!

[2020-06-10 10:20] bluebill1049 commented on #1831
nope, it shouldn't work.  like I state above, you should move your inner component to its own component and pass down props.

[2020-06-10 10:21] bluebill1049 commented on #1829
awesome to hear @mike-jewell 👍

[2020-06-10 10:25] sajithneyo commented on #1831
@bluebill1049 I tried and it works like that! Btw i tried moving to a separate components and it does not work!

[2020-06-10 10:39] bluebill1049 commented on #1831
https://codesandbox.io/s/react-hook-form-error-r3dj0?file=/src/index.js

[2020-06-10 10:39] #1831 closed

[2020-06-10 13:53] lburgess opened #1834 "useFieldArray: validation not triggered when removing a field"
**Describe the bug**
Given I have a field which contains invalid data
And all other fields contain valid data
When I remove the field with invalid data
Then the formState should be valid (formState.isValid === true)

However, formState.isValid remains false

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-template-2ibm3?file=/src/in

[2020-06-10 13:56] xiaoyu-tamu opened #1835 "Some types become private in v6.rc3?"
![image](https://user-images.githubusercontent.com/33362998/84276577-19d19b80-aaf8-11ea-8156-0cb86e18df14.png)

All these types are quite useful

[2020-06-10 14:24] kacluk123 opened #1836 "Values disappear after route change"
So I have this component

[code]

And the problem is - for example if I fill step1 and go to step2 and after that when i'm back to step1 all the values are gone. Why form act like this? Forms objects are on top level so why values ​​disappear after route change? I saw the example of steps like form in docs but in dosen't  satisfy me, because it requires from user to click on button for the values

[2020-06-10 22:46] #1835 closed

[2020-06-10 22:51] bluebill1049 commented on #1836
It's not about you :)

First of all, this is expected behavior for native forms, a form get unmounted and data will be removed. RHF store data inside input state. We embrace native input behavior.

however next version we will give users the option: https://twitter.com/bluebill1049/status/1270684496526893056

[2020-06-10 22:51] #1836 closed

[2020-06-10 22:52] bluebill1049 commented on #1836
here is a good resource on building a persist multiple steps form: https://www.youtube.com/watch?v=CeAkxVwsyMU

[2020-06-10 22:56] bluebill1049 commented on #1834
can you use the latest version? The bug could have already been resolved. In fact, try 6.0.0-rc.3

[2020-06-11 00:39] bluebill1049 commented on #1713
<img width="591" alt="Screen Shot 2020-06-11 at 10 39 15 am" src="https://user-images.githubusercontent.com/10513364/84332253-ce8abc00-abcf-11ea-852a-ba2be156c746.png">

The result indicates people prefer type-safe (TS developers) but there are still quite a lot of users who rely on JSX.

[2020-06-11 00:43] lburgess commented on #1834
Thanks for the quick response Bill.
The issue appears to exist in 6.0.0-rc.3 also.

[2020-06-11 00:43] bluebill1049 commented on #1834
Thanks @lburgess i will take a look at it.

[2020-06-11 00:50] dandv opened #1837 "Extra `type` property on MUI checkbox Controller demo?"
I've copied the Checkbox example from https://codesandbox.io/s/react-hook-form-controller-079xx?file=/src/index.js:1718-1748 locally, upgraded to v6.0.0-rc3, and for the `type="checkbox"` prop I get a TypeScript error that

[2020-06-11 00:57] bluebill1049 commented on #1834
Take a look this one: https://codesandbox.io/s/react-hook-form-usefieldarray-template-pbtc2

The problem is you are using `[firstName]` for object you should stick with `.` syntax so RHF can identify the input easier.

[2020-06-11 00:59] bluebill1049 commented on #1837
do you have that codesandbox with that issue?

[2020-06-11 01:09] JerryGoyal opened #1838 "allow useContext instead of little-state-machine in multistep wizard form"
I'm new to this library and looking forward to implement multistep wizard form.  I was going through https://react-hook-form.com/advanced-usage#WizardFormFunnel and noticed the dependency of little-state-machine, and, now I have to understand one more library :(

Since react has made it easier to use [useContext()](https://reactjs.org/docs/hooks-reference.html#usecontext) after hooks and also reco

[2020-06-11 01:13] bluebill1049 commented on #1838
you can absolutely use `useContext()`. `little-state-machine` is an abstraction and make thing easier for you, but i would recommend you do the useContext and learn from it.

[2020-06-11 01:24] dandv commented on #1837
No, I copied locally the MUI Checkbox code from your sandbox linked above. This is the error I'm getting:

![image](https://user-images.githubusercontent.com/33569/84334569-87f17f00-ab47-11ea-95d9-75cf3f2e3d93.png)

[code]

[2020-06-11 01:24] JerryGoyal commented on #1838
oh thanks for the info.. I'll try to implement with useContext(). I hope this shouldn't be complicated.

[2020-06-11 01:26] #1838 closed

[2020-06-11 01:28] bluebill1049 commented on #1837
thanks @dandv we have a sperate codesandbox for V6. I will do a version with TS as well. This codesandbox will stay for v5 users.

[2020-06-11 01:35] lburgess commented on #1834
Much appreciated - good to know.

It does (IMO) break with long established convention... but agree that it introduces unnecessary complexity when there is a practical approach which already works and given it is all handled by Javascript can do so without any real ramifications.

Thanks again for your help (and for react-hook-form in general for that matter - it is a joy to work with).

[2020-06-11 01:39] bluebill1049 commented on #1834
Awesome to hear @lburgess 🙏 Thanks for your understanding as well.

[2020-06-11 01:39] #1834 closed

[2020-06-11 02:25] bluebill1049 commented on #1713
The proposal is:

- TS users: strict string (TS users will have to stick with `string`)
- JS users: string / JSX (logic remain in the code to support JSX)

[2020-06-11 03:37] bluebill1049 commented on #1837
updated for TS: https://codesandbox.io/s/react-hook-form-v6-controller-ts-4dpm9

will be including that in the final v6 doc.

[2020-06-11 03:37] #1837 closed

[2020-06-11 04:06] Taymindis opened #1839 "Why reupdate the root component when register watch in child component"
The root component reupdate when using watch in child component.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/react-hook-form-set-inputselect-value-1b7pt?file=/src/index.js'
2. Click on 'set all values'
3. Scroll down to 'Console log'
4. Log reupdate from root

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-set-inputselect-value-1b

[2020-06-11 04:10] bluebill1049 commented on #1839
This is expected behavior for `watch`, next version will have `useWatch` hook and you can isolate the watch.

[2020-06-11 04:42] stramel commented on #1713
Do we need to leave the logic in the code? or can we just treat the value as the message if it isn't `=== true`? Both string and react element should be fine to just pass through.

[2020-06-11 04:47] bluebill1049 commented on #1713
Agree, sorry that was what I meant. we just remove the JSX from type definition and return anything other than boolean.

[2020-06-11 05:05] bluebill1049 commented on #1713
Maybe we should reconsider remove `ErrorMessage` as well because `ErrorMessage` supports JSX and it's confusing. honestly with optional chaining ErrorMessage is so easy to deal with just raw JS.

[2020-06-11 05:08] stramel opened #1840 "V6: Remove `ErrorMessage` Component"
I'm proposing that we drop the `ErrorMessage` component.

The basis of the component is to grab the error message of a specific field and present that in a certain way normally using `as` or `render`.

[code]

The `as` or `render` props are essentially just wrapping a message (string/element). Wrapping a string/element in React is pretty trivial. So if we pull this out of the `ErrorMessage` compon

[2020-06-11 05:09] bluebill1049 commented on #1713
above sync with https://github.com/react-hook-form/react-hook-form/issues/1840

[2020-06-11 06:02] xiaoyu-tamu opened #1841 "Controller not re-validate since v6.rc2"
**Describe the bug**
The Controller not respect reValidateMode since v6 rc-2

**To Reproduce**

1. Go to https://codesandbox.io/s/react-hook-form-register-with-error-messages-rdgjw?file=/src/index.js
2. Click on submit

with Controller ( Bug )

3. type some chars in First Name
4. The Error "this is a required" still visible

with Register ( Correct behavior )

3. type some chars in Last Name
4. Th

[2020-06-11 06:13] bluebill1049 commented on #1841
Thanks for the report. This is already fixed will be resolve on rc.4: https://codesandbox.io/s/react-hook-form-register-with-error-messages-tur5s?file=/src/index.js

[2020-06-11 06:30] bluebill1049 commented on #1840
I think i have to agree with this, we had a poll on this as well, but now I look at it, it does make sense to move out the core. If users is rely on ErrorMessage, they can still use @hookform/error-messge component. Sorry @kotarella1110 i wasted your effort on removing it out... :(

[2020-06-11 06:33] AndrewAllison commented on #892
Hi @bluebill1049, Sorry to be a pain but has this regressed in newer versions? (i'm using v 5.7.2) I've followed all of the advise in this thread but still can't get things working.  I still lose all of the elements in the array when I remove one. The fields array is ok with the correct items but the `getValues()` returns no `children[]` values.

I've checked the code sandbox that was mentioned ea

[2020-06-11 06:36] bluebill1049 commented on #892
make sure you have defaultValue for your input. 👍 let me know if that solves the problem. This should resolve the problem.

[2020-06-11 07:15] eyalw commented on #1450
This is still happening for field arrays that are not binded:
Example:
https://codesandbox.io/s/loving-goldberg-ev7ig

[2020-06-11 07:39] bluebill1049 commented on #1450
That's expected behavior. we don't support custom register with useFieldArray.

[2020-06-11 07:43] eyalw commented on #1450
@bluebill1049  but look closely, I'm not using the Controller. I commented it out.
I'm using nothing. just rendering the array, with simple text in DOM instead of a field.
This is a scenario that I have in my app. And the app crashes on delete.

[2020-06-11 07:52] bluebill1049 commented on #1450
Like I mentioned above we don't support custom register (virtual input) for useFieldArray. you should consider use the input type hidden.

[2020-06-11 08:03] kotarella1110 commented on #1840
@bluebill1049 Don't mind 👍
I also agree to remove this.
I will do this if necessary.

[2020-06-11 08:10] bluebill1049 commented on #1840
awesome! thanks for understanding @kotarella1110 we will move this component to error-message and publish under @hookform/error-message

[2020-06-11 08:12] mike-jewell commented on #1829
Hi again.  I have been trying to get this working with useFieldArray and have had some success.  However I wanted to check if this is the correct way to do it?

https://codesandbox.io/s/dazzling-lalande-yx5mt?file=/index.js

The form data is modifying and submitting correctly, but the problem is that the dirty state isn't correct.

1. If you edit the text box dirty is true.
1. If you check the che

[2020-06-11 08:32] mike-jewell commented on #1829
Hi again. I have been trying to get this working with useFieldArray and have had some success. However I wanted to check if this is the correct way to do it?

https://codesandbox.io/s/dazzling-lalande-yx5mt?file=/index.js

The form data is modifying and submitting correctly, but the problem is that the dirty state isn't correct.

    If you edit the text box dirty is true.
    If you check the che

[2020-06-11 08:55] #1841 closed

[2020-06-11 08:55] bluebill1049 commented on #1841
will publish rc.4 this weekend. 👍

[2020-06-11 08:56] bluebill1049 commented on #1839
going to close this issue, feel free to follow up with questions. you can start to try out `useWatch` with 6.0.0-rc.3

[2020-06-11 08:56] #1839 closed

[2020-06-11 09:21] bluebill1049 opened #1843 "Bug with dirty combined with useForm and useFieldArray"
Hi again. I have been trying to get this working with useFieldArray and have had some success. However I wanted to check if this is the correct way to do it?

https://codesandbox.io/s/dazzling-lalande-yx5mt?file=/index.js

The form data is modifying and submitting correctly, but the problem is that the dirty state isn't correct.

    If you edit the text box dirty is true.
    If you check the che

[2020-06-11 09:21] bluebill1049 commented on #1829
Thanks this is a bug.

[2020-06-11 09:21] #1829 closed

[2020-06-11 09:50] Taymindis opened #1845 "Version 6.0.0 rc-3 Getting Error render is not a function when using FormContext"
**Describe the bug**
This test happened on version 6.0.0 rc-3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/react-hook-form-set-inputselect-value-1b7pt?file=/src/index.js'
2. Error page

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-set-inputselect-value-1b7pt?file=/src/index.js

[2020-06-11 09:52] bluebill1049 commented on #1845
Thanks for the testing 👍 `FormProvider` now :) try to follow the standard.

[2020-06-11 10:03] Taymindis commented on #1845
It works now. Thanks!

[2020-06-11 10:03] #1845 closed

[2020-06-11 10:31] AndrewAllison commented on #892
Thanks for the reply I had done. What I think is the issue though is using the Material UI TextField input.  After forking and running the tests / app local it looked like everything should work.  I removed all the material UI elements and just did it with raw inputs and it seems to have worked fine with them.

I had set the `inputRef` on the TextField component and the data was updating correctly

[2020-06-11 11:03] bluebill1049 commented on #892
make sure you are using Controller for MUI component/external controlled components.

[2020-06-11 12:28] #1843 closed

[2020-06-11 13:19] JeromeDeLeon commented on #1840
I must say I agree with your statement and that its beneficial to the lib. Still great job for @kotarella1110 for starting it out and for the head start to create its own under suggestion of @bluebill1049 👍👍👍

[2020-06-11 14:07] berrybell opened #1847 "React-Select with custom onChange value does not show selected"
**Describe the bug**
React-Select changes the value but does not show selected option when providing custom onChange return value that I would prefer.

**To Reproduce**
In codesandbox, select any value for both select controls and submit form. The results will be printed to console. The first control will show the selected option, but the second will not although from the console print we can see

[2020-06-11 14:43] simonleclerc opened #1848 "Error `data.slice is not a function`"
**Describe the bug**
When using an array field with the `useFieldArray` hook and the `remove` method combined with a specific error object (coming from validationResolver in the example) we have a `data.slice is not a function ` error in the `removeAt` function of the lib.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-fieldsarray-yup-validatio

[2020-06-11 14:52] kvskranthikumar opened #1849 "Errors object is empty when submit the form using DataPicker control"
I am integrating the DatePicker control inside the forms and observed that when I submit the form the errors object is empty.

When I edit the DatePicker control with wrong data it shows the error -

![image](https://user-images.githubusercontent.com/12032164/84400840-2e10b800-ac20-11ea-8e91-82fbed2320b1.png)

As soon as I submit the form the error is gone and errors object is empty -

![image](ht

[2020-06-11 15:39] Taymindis opened #1851 "V6: useWatch not working for setValue as object"
**Describe the bug**
I am trying to get the result as JSON object and setValue to the label while using `useWatch`, but it's not working, if i change to watch as it is working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/react-hook-form-set-inputselect-value-21zkn?file=/src/index.js'
2. Click on 'set All Values'
3. only watch label changed value, useWatch

[2020-06-11 21:19] nativ3-io commented on #127
The result data upon submission is in json, this wont work with axios or similar. When submitting, it should use new FormData()

`let formData = new FormData();`

then use

`formData.append('file_field', data['file_field'][0]);`

or loop append to convert json to FormData.

I wish there's a parameter to convert data, so we dont have to do this.

[2020-06-11 21:40] safonovklim commented on #1749
I also have this problem due to recent upgrade from 5.3.x to 5.7.x

Is it possible to add flag `rulesCache={false}` to  <Controller />?

Rules works fine without <Controller/>: https://codesandbox.io/s/react-hook-form-custom-validation-simple-92crr

Rules works different with <Controller/>: https://codesandbox.io/s/react-hook-form-custom-validation-with-controller-5rdli

[2020-06-11 21:59] h0jeZvgoxFepBQ2C commented on #127
Is there a way that i can query react-hook-form so it generates fuch a form-data object?
Would be cool if you don't have to do it by yourself

Maybe extend the ```onSubmit``` signature, so that the first parameter is data as object and a new second parameter with the same data, but already converted to a FormData-object?

[2020-06-11 22:31] mxshrestha opened #1854 "onChange does not get triggered for form fields that are watched"
**Describe the bug**
onChange event listener of form fields is not called when the form field is watched.

**To Reproduce**
Steps To reproduce:
1. Create a form with an input field with value attribute specified and onChange event handler registered
2. watch the input field
3. Change the value of the input field in the form
Bug:
onChange event listener is not called.

**Codesandbox link (Required)

[2020-06-11 22:48] bluebill1049 commented on #1848
In the doc, we mentioned that we don't support custom register for FieldArray.
<img width="995" alt="Screen Shot 2020-06-12 at 8 48 23 am" src="https://user-images.githubusercontent.com/10513364/84446714-7d3f0300-ac89-11ea-9f64-81c99bbdee5c.png">

[2020-06-11 22:48] #1848 closed

[2020-06-11 22:51] bluebill1049 commented on #1854
you are mixing controlled with `register`. please read the doc and have correct usage.

[2020-06-11 22:51] #1854 closed

[2020-06-11 22:56] bluebill1049 commented on #1749
we are fixing the in v6, no extra props required.

[2020-06-11 23:05] caiorios opened #1855 "Edge case involving async form initialization with react-select"
**Describe the bug**
So I have this edge case when I first built form involving async load of data. Basically I need to load 2 this, the data form for edit, and the options of a select. However, in my data form I only have the id/value for initialize the select. In addiction, for better UX, I don't want to put conditions for load my component while those data are initializing. Instead of that, I p

[2020-06-11 23:07] bluebill1049 commented on #1855
Can you share a codesandbox for this behavior? also why you need to run `getValues()`

[2020-06-11 23:09] bluebill1049 commented on #1847
You will need to return value, that react-select is expected.

[2020-06-11 23:26] caiorios commented on #1855
I edited the codesandbox with the code I remembered to use. but I was not able to reproduce the behaviour. The good news is it stopped to infinite loop. Any ideas?

[2020-06-11 23:31] caiorios commented on #1855
In my form I have other fields. Correct me if I am wrong, but I believe if I don't use `getValues()`, the other fields will be cleared.

[2020-06-11 23:33] bluebill1049 commented on #1855
`getValues()` is a "dumb" function to read what's in the form. `watch()` is the "smart" function to subscribe for the form changes. hope this clear thing up a bit.

[2020-06-11 23:42] mxshrestha commented on #1854
Thanks @bluebill1049 . That makes sense.

[2020-06-12 00:20] bluebill1049 commented on #1851
I see the problem because you are using setValue with a nested object. `useWatch` is based on input `name` and that's why it's not recognizing it, I don't think we will support use case for the nested object with `useWatch`.  I will drop a note under the doc for this.

alternative solution:

`setValue('aaa.bb', 'xxx')` will invoke `useWatch`

[2020-06-12 00:42] bluebill1049 commented on #1851
nvm took a closer look, we can actually fix this. i will do that tonight.

[2020-06-12 00:56] Taymindis commented on #1851
Great Bill :)

If not, i will be struggling converting my resp object to json path array :(

Great you can fixed it.

Thanks!

[2020-06-12 00:58] caiorios commented on #1855
Thanks for clarifying this to me. Sometimes is difficult to decide which one to use.

So, for this case in specific, the correct approach is to use `useEffect` + `reset()` + `watch()`?

[2020-06-12 01:00] bluebill1049 commented on #1855
for your use case should be just: `useEffect + reset()`

I would recommend you read the doc again, as there are examples which may help you understand better.

[2020-06-12 01:15] bluebill1049 commented on #1849
Your usage is incorrect with those internal `setError` within Controller, i would recommend you have a read over the Controller section in the doc and take a look at the codesandbox example there as well.

[2020-06-12 02:44] #1851 closed

[2020-06-12 06:03] #1713 closed

[2020-06-12 06:43] Taymindis commented on #1851
Hi Bills,

I have clone the master branch and tested locally, the issue seemed still existed.

[2020-06-12 07:10] bluebill1049 commented on #1851
looks like the fix is only made for :
[code]

so for `setValue` you will have to convert `pathname`, `watch()` is working as expected because it triggers a re-render and running through the function.

[2020-06-12 07:50] #1840 closed

[2020-06-12 08:33] Taymindis commented on #1851
Noted. I will implement in this way, assuming the end child is 2 level only.

[code]

[2020-06-12 08:54] vvo commented on #1683
Just want to say: I had issues in Next.js v9.4 too with `dirty` no more updating when JS would be updated in editor. With 55fd8ba872ac3fba44f2d1ffa03024732a1bfb77 and `@next` tag this is now working well, thanks 👍

[2020-06-12 09:13] kvskranthikumar commented on #1849
_"Your usage is incorrect with those internal setError within Controller"_
Please can you explain this a bit more?

I have read the documentation and I have seen the example you have shared, but that didn't help on how the errors will show for validation on the DataPickers control I mentioned in the example.

The document on the setError says that on an event we can add errors -
https://react-hook

[2020-06-12 09:16] bluebill1049 commented on #1849
please start from here: https://react-hook-form.com/get-started

start with building a simple form and understand how errors get triggered.

you shouldn't need to use `setError` at all for your usage. `error` should appear by user's action.

`setError` API is made when the user fetches an API endpoint and lead to manually set an Error.

[2020-06-12 09:40] kvskranthikumar commented on #1849
I have read the get-started guide that's the reason I created a sample/example :)

All the examples I see in the documentation talk about validation on required/min/max but I want to set a custom error like "Date Is Invalid" on an action for a validation scenario. Is this not supported?

In my example, I am manually setting the error, so what is the issue in that. Why the "errors" object has the d

[2020-06-12 09:54] kvskranthikumar commented on #1849
I took the example from the documentation -

https://codesandbox.io/s/react-hook-form-set-error-clear-error-rd7cj?file=/src/index.js

In this example also I can see that when a user edits the form we can see the error -

![image](https://user-images.githubusercontent.com/12032164/84490051-3d474280-acc0-11ea-9aa6-5363c2dc9625.png)

But when I submit the form, errors are lost.

![image](https://user

[2020-06-12 11:15] #1849 closed

[2020-06-12 11:16] bluebill1049 commented on #1849
https://codesandbox.io/s/kw7z2q2n15

[2020-06-12 11:58] bluebill1049 commented on #1855
In case, I miss understood you this morning. Is this what you after? https://codesandbox.io/s/condescending-einstein-ns7y0?file=/src/App.tsx

[2020-06-12 12:18] aslupik opened #1859 "getValues("nested") returns default value rather than up-to-date value"
**Describe the bug**
`getValues("nested")` returns the value passed in `defaultValues` rather than the current value.
Workaround: use `getValues({nest:true})["nested"]` instead.

e.g. if your structure is
[code]

`getValues("time")` returns the initial value of time.hour and time.minute, not the current.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hoo

[2020-06-12 12:25] bluebill1049 commented on #1859
This expected behavior.

[code]

[2020-06-12 12:25] #1859 closed

[2020-06-12 12:29] aslupik commented on #1859
I must say that this was surprising behavior to me and caused me quite a few hours of investigating before realizing what was going on. I would not have expected `getValues` to return stale values in any scenario.

Could you provide a rationale as to why `getValues("time")` would return stale values for nested fields?

[2020-06-12 12:37] bluebill1049 commented on #1859
because there is no input named as `time`, it's not a lodash `get`.

[2020-06-12 12:37] caiorios commented on #1855
As you suggested, after some reading and testing now I understand why I don't need `getValues()`/`watch()`. `reset()` works like I want it does, resetting just what I pass to it.

And I managed to make this work just using what you said. I edited the codesandbox with the solution. The only minor problem is that `reset()` runs twice in form initialization.

Thank you for the support @bluebill1049!

[2020-06-12 12:39] bluebill1049 commented on #1855
aha great! I am glad it's working. Music to my ears. My pleasure too.

[2020-06-12 12:43] bluebill1049 commented on #1855
can you append some logic to prevent this from happening?

[2020-06-12 12:47] aslupik commented on #1859
I see, at least that tells me when to get the entire state rather than rely on `getValues`. We have some pretty generic components that were getting the current value of fields as `getValues(path)`, but some of them had this issue and some didn't (depending on whether there were nested values or not). We'll just have to use the workaround instead since that works every time.

I think there's an ar

[2020-06-12 12:48] caiorios commented on #1855
I tried using `useRef` as a flag, but had no success. I will have to spend more time on this. Any ideas?

[2020-06-12 12:49] kvskranthikumar commented on #1849
How to show custom errors other than the required/max/min, which are still shown when we click on submit.
Please point to a sample where we have custom errors for validations like the example below -

https://codesandbox.io/s/react-hook-form-set-error-clear-error-rd7cj?file=/src/index.js

[2020-06-12 12:54] bluebill1049 commented on #1855
i only see one console log in your codesandbox. (so it's working?)

[2020-06-12 12:54] bluebill1049 commented on #1849
<img width="968" alt="Screen Shot 2020-06-12 at 10 54 42 pm" src="https://user-images.githubusercontent.com/10513364/84504690-b5812880-acff-11ea-8e08-67b12347dab3.png">

[2020-06-12 14:59] partyka1 opened #1860 "onChange not firing on controlled input with failed validation"
**Describe the bug**
Controlled inputs after failed validation don't fire onChange event.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-controlled-input-failed-validation-bug-zg0vz?file=/src/index.js (this is modified version to showcase an error of an example from your docs)
2. Fill input "Last Name"
3. Click Enter
4. Focus on "Last Name" inp

[2020-06-12 16:23] caiorios commented on #1855
For me when I first load the page of codesandbox it outputs twice. But when I edit something and save (hot reload), it outputs once.

[2020-06-12 16:30] RRigueira commented on #1860
+1 Having the same issue here.

[2020-06-12 17:22] caiorios commented on #1855
I applied the solution on my project and the reset only occours once. So I think it is some issue with codesandbox.

I am closing the issue.

[2020-06-12 18:28] caiorios commented on #1855
After write a bit more complex case, I am reopening the issue. Some things sounds weird to me.

1. Even with this complex case, using pure check (without lodash), things worked fine.
2. However, after put lodash at work, I could reproduce the issue. With two combo boxes using the `useEffect` + `reset()` logic, one of them didn't reset with the value.
3. At this point, if I comment one of the combo

[2020-06-12 22:06] bluebill1049 commented on #1860
why are we mixing controlled with uncontrolled? Please read the doc on the get started page.

- `<input ref={register} name="test" />` this is all you need for RHF
- if you need to work with controlled inputs.
  1. use `Contoller`: https://react-hook-form.com/api#Controller
  2. custom register at useEffect and update value with `setValue`

[2020-06-12 22:09] bluebill1049 commented on #1855
Do you have an isolated/simple CSB for this?

[2020-06-12 22:15] #1847 closed

[2020-06-12 22:44] partyka1 commented on #1860
this is a use case for one of more complicated form in my app where I keep current state of inputs in MobX store, but want to have validation/submit flow processed by RHF, to be consistent with rest of the system, where forms are simpler and are handled by `Controller`

[2020-06-12 23:17] caiorios commented on #1855
I edited the original one.

https://codesandbox.io/s/react-hook-form-controller-template-zp6sc?file=/src/index.js:1677-1693

[2020-06-12 23:33] bluebill1049 commented on #1860
then you should stick with `custom register`.

[2020-06-12 23:35] bluebill1049 commented on #1855
could you please create a separate codesandbox just for this issue? easier for me.

[2020-06-12 23:36] bluebill1049 commented on #1860
or <input onChange={update to you store} ref={register} name="test" />

[2020-06-12 23:47] partyka1 commented on #1860
That's how I'm doing, and that's how its done in the codesandbox I've(react state is used instead of MobX for demo purpose, but logic is the same). I've recorded video of the bug: first I input `luo`, submit, click cmd+a, backspace and text is not deleted, I try to write `luo` again but what I get is `luouo`
![RHF-error](https://user-images.githubusercontent.com/19314216/84554292-17955a00-ad0f-11e

[2020-06-13 00:13] bluebill1049 commented on #1860
`<input onChange={update to you store} ref={register} name="test" />`

please pay attention to above code snippet, it's uncontrolled.

<img width="440" alt="Screen Shot 2020-06-13 at 10 12 53 am" src="https://user-images.githubusercontent.com/10513364/84555096-73d39a80-ad5e-11ea-8674-604ee0c76f74.png">

[2020-06-13 00:15] bluebill1049 commented on #1860
Take a look at my CSB: https://codesandbox.io/s/react-hook-form-controlled-input-failed-validation-bug-7ivnr?file=/src/index.js see if this make more sense.

[2020-06-13 05:32] partyka1 commented on #1860
Thanks,
read docs again, checked your demo and verified with my code, and it seems to be working. Docs don't make it clear that the place where you call `register` is tightly intertwined with controlled vs uncontrolled scenarios(I was sure just by supplying `value` and `onChange` it is considered controlled, as my custom controls where forwarding refs anyway). In my case moving `register` from `re

[2020-06-13 06:01] bluebill1049 commented on #1860
Thanks for your feedback. I am happy to see PR against those changes towards the doc. make sure you check out `v6` branch. Thanks. again your feedback is noted and appreciated.

[2020-06-13 06:01] #1860 closed

[2020-06-13 07:14] s-mahdi commented on #1620
**LAZY METHOD**
There is a little trick to do so.
I've done this by passing the value to an `Object` and get the `value` in `handleSubmit` function.
here is an example:
[code]

[2020-06-13 20:17] omerman opened #1863 "Accessing validationSchema variable via the form instance"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I can't access the validation schema Im supplying when inside a component, using the form instance.

**Describe the solution you'd like**
I think the schema variable should be on the instance.

**Describe alternatives you've considered**
If not on the instance, maybe a possible context for it.

**Addition

[2020-06-13 20:38] liederivative commented on #230
In order to work with typescript you just need to include null ( useRef<HTMLInputElement | null> ) so the type will be mutable.
Here's the deeper [explanation](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/31065#issuecomment-446425911)

[2020-06-13 21:00] hatchli commented on #1749
This is exactly my issue as well. Values of useState are not respected by Validate. Will this be what is addressed in v6 @bluebill1049?

[2020-06-13 23:24] bluebill1049 commented on #1749
Yes, correct. right now you have to follow what i did above for a work around.

[2020-06-13 23:31] bluebill1049 commented on #1863
hey @omerman you should check out `validationResolver` if you need to have context, in fact in v6 which is going to release soon we are going forward with `resolver`.

[2020-06-14 09:55] Muneem opened #1865 "trigger validation is not scrolling to the error"
**Describe the bug**
triggerValidation is not scrolling to the error. If there is an error and we do trigger validation then an error is shown but it should be scrolled to that error

**To Reproduce**
https://codesandbox.io/s/react-hook-form-errors-j0695?file=/src/index.js
1) click on the button
2) Scroll to top it will show error

**Expected behavior**
It should scroll to error just as it is doin

[2020-06-14 10:00] bluebill1049 commented on #1865
we only focus on an error at submitting. This is not the expected behavior. we didn't document such behavior as well.

[2020-06-14 10:03] Muneem commented on #1865
can we add that scrolling feature? Because i think so it should be added as there are many cases where user have to trigger validation and scroll should be there

[2020-06-14 10:18] bluebill1049 commented on #1865
Don't think so, `trigger` is for trigger validation only. Focus on an error input should only occur at submission.

[2020-06-14 11:50] bluebill1049 commented on #1865
going to close this issue now as we don't have a plan to support this feature. thanks for reporting tho.

[2020-06-14 11:50] #1865 closed

[2020-06-14 12:26] hatchli commented on #1749
[This?](https://codesandbox.io/s/controller-rules-8pd7z?file=/src/App.tsx) Okay, thanks @bluebill1049 ! I have the luxury of waiting for the release, so I'll do that for now!

[2020-06-14 12:30] bluebill1049 commented on #1749
@hatchli this release: https://github.com/react-hook-form/react-hook-form/releases/tag/v6.0.0-rc.3

[2020-06-14 12:31] bluebill1049 commented on #1749
we will have another RC version before the final release of v6. (make sure the quality is good)

[2020-06-14 15:37] caiorios commented on #1855
I created a simpler separated codesandbox, without lodash. I don't know If this is what you need. Sorry if I misunderstood what you mean.

https://codesandbox.io/s/react-hook-form-controller-template-j3mu6?file=/src/index.js

[2020-06-14 15:46] caiorios commented on #1855
By the way, I could not reproduce this case with things working without lodash. I am very confused right now.

[2020-06-15 00:05] bluebill1049 commented on #1855
I would recommend producing a codesandobx isolate the problem without any other dependency. without using real query just a simple dumb component with setTimeout. see if you can reproduce the problem.

[2020-06-15 05:08] haripriyaaganesan commented on #1001
How can I insert Recaptcha logo woth checkbox (I'm not a robot) instead of `<Button onClick={clickHandler}>
      Please validate you are a human.
    </Button>`

[2020-06-15 05:09] bluebill1049 commented on #1001
can you please provide more context?

[2020-06-15 06:27] MichaelCheglow opened #1868 "Conditional unregister of fields inside useFieldArray"
**Describe the bug**
Conditional field rendering inside of useFieldArray works unexpectedly. When a field is disappeared from the page its value inside result form object and its validations don't diappear. Other words if field inside useArrayField disapper after a user interaction form will still save the value and validations of disappeared field.

**To Reproduce**
Steps to reproduce the behavio

[2020-06-15 06:43] bluebill1049 commented on #1868
Don't think we are supporting custom register / conditional re-render at the stage, I will get the doc updated. you will have to use css `display` combined with `validate` function.

[2020-06-15 07:12] bluebill1049 commented on #1868
https://github.com/react-hook-form/website/pull/252/commits/552302f676a07e134caac3d3425d5c015528ed3d

[2020-06-15 07:12] #1868 closed

[2020-06-15 10:53] cmnstmntmn opened #1870 "useFieldArray, fields array can't have default data."
I have two components as part of a form

1. a parent component that is fetching some sort of data
2. and a child component that fetching some other data

here's an example
https://codesandbox.io/s/react-hook-form-usefieldarray-template-4k4ti?file=/src/index.js:0-1554

the think is these comps are async, so i can't have default values all at once.

[2020-06-15 10:59] bluebill1049 commented on #1870
you will have to use `reset` at `useEffect`

[2020-06-15 11:20] cmnstmntmn commented on #1870
@bluebill1049 hmm, i don't think i'm following you ..
i added `reset` https://codesandbox.io/s/react-hook-form-usefieldarray-template-4k4ti?file=/src/index.js

is reseting the form, but the fields still not appear.

[2020-06-15 12:12] caiorios commented on #1855
I think I have a more tangible problem. I created a CSB using only react-hook-form, making the requests with pure promises and `setTimeout()`. I could find the problem when I set the exactly same value to milliseconds of the user's request.

https://codesandbox.io/s/react-hook-form-controller-template-sgiwj?file=/src/index.js

I inserted comments at the lines where it sounded weird to me. Even lag

[2020-06-15 12:15] bluebill1049 commented on #1855
i would like to help but your codesandbox is 186 lines... can you please create a small CSB to isolate the problem?

[2020-06-15 12:31] bluebill1049 commented on #1870
i mean `reset` with values. just like how `reset(values)` update all the default values.

[2020-06-15 12:32] bluebill1049 commented on #1870
https://react-hook-form.com/api#reset

[2020-06-15 12:37] caiorios commented on #1855
https://codesandbox.io/s/react-hook-form-controller-template-sgiwj?file=/src/index.js

I reduced it to 106:

https://codesandbox.io/s/react-hook-form-controller-template-sgiwj?file=/src/index.js

[2020-06-15 12:40] bluebill1049 commented on #1855
i will take a look tmr. just to be clear, to reproduce the issue just change the timer to a greater number?

[code]

[2020-06-15 12:43] caiorios commented on #1855
For me, with this value of 2000 milliseconds the first select didn't load. If the second select is commented, the first one always load.

[2020-06-15 17:04] StevenHarlow opened #1873 "Form validating and attempting submit on any button press, not just of type="submit""
**Describe the bug**
When I click on a `<button>` from within the form tags it validates the inputs and attempts submit even if the type is not "submit" and the mode is set to default (or explicitly set) to 'onSubmit'

**To Reproduce**
Steps to reproduce the behavior:
Build a form with an extra `<button>` inside the form, without setting the type

**Expected behavior**
The form to not submit on a

[2020-06-15 19:43] omerman commented on #1863
Ok cool I'll check it out thank you!

[2020-06-15 19:43] #1863 closed

[2020-06-15 22:24] bluebill1049 commented on #1873
That's HTML standard and not related to this lib.

[2020-06-15 22:24] #1873 closed

[2020-06-15 23:53] bluebill1049 commented on #1855
That's a race condition issue, also why reset is at the component level instead of root level?
[code]

[2020-06-16 02:24] Ale-cc opened #1875 "Error: Invalid hook call when using mobx"
**Describe the bug**
My project is using mobx,  So i   import react-hook-form ，but failed。
[code]
![image](https://user-images.githubusercontent.com/18302674/84724266-513dbd80-afba-11ea-95a6-b75666b7b03a.png)

**To Reproduce**
[code]
Then I check the version of React,That is ok,
`    "react": "^16.13.1",
    "react-dom": "^16.13.1",`

So ，I feel confused. Is that confilct with mobx?

[2020-06-16 02:26] bluebill1049 commented on #1875
Please follow our template, create a codesandbox with this issue so it's reproducible.

[2020-06-16 03:24] bluebill1049 commented on #1870
https://codesandbox.io/s/react-hook-form-usefieldarray-template-mxmuw

[2020-06-16 03:24] #1870 closed

[2020-06-16 11:48] caiorios commented on #1855
I kept it at component level just for better reuse of the code across my app.

I tried using `getValues()` and it didn't work to me. At the end the solution I tried to achieve seems not to be the usual way to use the library. I think I will try a different approach.

Thank you for your support and patience @bluebill1049!

[2020-06-16 11:59] bluebill1049 commented on #1855
no worries, I think the set up is wrong. the moment you set state both input will get re-render and trigger `reset`, you should isolate and only re-render one at time depend on your selection not always run them together.

[2020-06-16 12:42] gempain commented on #1868
@bluebill1049 can this be made a feature request ?

[2020-06-16 12:49] bluebill1049 commented on #1868
I don't think this will be a simple task, but happy to raise this as a feature request with waiting for the upvote.

[2020-06-16 12:56] caiorios commented on #1855
I think in my real project I do this way. Only my individual select components loads it's own data. I am right now doing a refactor in my code. When I do a `console.log` at the `useEffect` code, only one execution is made. Follow below the output:

FormControlSelectStatus:
[code]

FormControlSelectSeller:
[code]

FormControlSelectClient:
[code]

[2020-06-16 13:03] caiorios commented on #1855
I think in my real project I do this way. Only my individual select components loads it's own data. I am right now doing a refactor in my code. When I do a `console.log` at the` useEffect` code, only one execution is made. As you said before, due to the fact `getValues ​​()` be "dumb", it doesn't get the last value updated by `reset ()` in other places. With this, if I have `defaultValue` defined

[2020-06-16 13:06] bluebill1049 commented on #1855
hmmm getValues() should return what's been registerd `value` tho.

[2020-06-16 13:51] 2DSharp opened #1881 "calling setError() on submit shows error, but is reset as element loses focus"
**Describe the bug**
As I was trying to set server-side errors using `setError`, I tried setting it from `onSubmit`, however
it works as expected in v4.0.0 (https://codesandbox.io/s/o7rxyym3q5?file=/src/index.js:429-850), but in the latest 5.7.2 version, the error is lost as soon as the element loses focus.

I am having to revert to 4.0.0 for getting proper error persistence behavior.

**To Reprod

[2020-06-16 19:24] cmnstmntmn commented on #1512
i'm having the same needs for the `isValid` to be false at start, but i found out that i can use `dirty `bool as an extra condition to achieve what i needed.

[2020-06-16 21:29] cmnstmntmn commented on #1870
@bluebill1049 right, but is there a way to reset only those fields not the entire state.
in you example `location` field is reseted

[2020-06-16 22:24] bluebill1049 commented on #1870
combine with getValues()

[2020-06-16 22:26] alexbakerdev opened #1888 "v6 useWatch nested fields feature suggestions / queries / request"
**Is your feature request related to a problem? Please describe.**
I've been using `useWatch`in a relatively complex form for the last week involving previewing combinations of values, and subsequent dropdown options based on previous inputs. Some of the values in the form are nested objects that are dynamically added and removed.

Here are a few situations that have caught me out:

1. useWatch do

[2020-06-16 22:35] bluebill1049 commented on #1881
`setError` does not persist error by design, `error` should always against validation `rules`. the method `setError` was made for set error manually in the `handleSubmit`.  if we make setError persist, then user will have to manually remove error during submit, which is not ideal.

eg
[code]

which error should persist? it's conflicting and confusing.

**conclusion**  setError is what we documenta

[2020-06-16 22:35] #1881 closed

[2020-06-16 22:48] bluebill1049 commented on #1888
Thanks @alexbakerdev i will take a look at those feedbacks. 👍

[2020-06-16 23:10] #1875 closed

[2020-06-16 23:38] bluebill1049 commented on #1888
I will address one point at a time, so be patient, please :)

- useWatch doesn't get the initial value from the form, it just returns the user-defined defaultValue, even if there is a defined value in the form

`watch` or `useWatch` share the same functionality, which renders happens after the function invoke, and RHF is based on uncontrolled input, so reading input value is trigger before the ren

[2020-06-16 23:53] bluebill1049 commented on #1888
2️⃣ changing the name value passed to useWatch doesn't change what the watcher watches. ie

happy to see a PR if you have time :) we can release this post V6 as well.

[2020-06-16 23:56] bluebill1049 commented on #1888
3️⃣ registering and unregistering of nested paths doesn't trigger updates on watches of their ancestors.

Can you give more detail on this? Ideally, we don't want to return undefined for input which is also associated with point 4.
In fact, we have a new feature: `shouldUnregister` which behave like Controlled input and input will not get `unregister` after unmount.

[2020-06-16 23:57] bluebill1049 commented on #1888
4️⃣ setting values to undefined doesn't tigger a watcher

I don't think we should set `value` to undefined in the first place, as you know RHF tries to align with native input so it's better to stay away with `undefined` also it's a consistent behave across the lib.

[2020-06-17 00:20] bluebill1049 commented on #1855
your problem in native select:
https://codesandbox.io/s/recursing-fast-on3wm?file=/src/App.tsx:490-500

here is a fix (hack): the problem because your data set is in `object/array` which `useEffect` will have outdated value (when not included in the dep) and `Object.is` at useEffect is simply not going to work for the data compare part.

https://codesandbox.io/s/recursing-fast-on3wm?file=/src/App.

[2020-06-17 00:20] #1855 closed

[2020-06-17 00:21] bluebill1049 commented on #1855
you can look around for deep compare useEffect which may work out for you :)

[2020-06-17 06:54] YuZaiShui commented on #1749
<pre>unregister input at useEffect and let Controller re-register itself with updated rules.</pre>
I have a question, does that mean I don't have to re-register manually, the Controller will re-register automatically. And in my opinion, re-register is a hack way of writing that does break the existing internal state of a control, such as dirty, touch, etc

[2020-06-17 06:55] bluebill1049 commented on #1749
V6 will update `rules` each render.

[2020-06-17 09:46] vineethvijayan opened #1892 "Validation skips a keyboard entry"
**Describe the bug**
I have an input
`<input
                  type="text"
                  className="form-control"
                  id="points"
                  name="points"
                  placeholder='Points'
                  autoComplete="off"
                  onChange={(e) => setPointValue(e.target.value)}
                  value={pointValue}
                  ref={register({ require

[2020-06-17 09:49] bluebill1049 commented on #1892
Please read the doc, you are mixing controlled with uncontrolled (native) input

[code]

[2020-06-17 09:49] #1892 closed

[2020-06-17 09:50] vineethvijayan commented on #1892
I use the same form for adding the editing, so when I edit the form I want the value to be set.

[2020-06-17 09:55] vineethvijayan commented on #1892
@bluebill1049 there is a prop defaultValue that solves my issue, Thanks for the quick response.

[2020-06-17 09:57] bluebill1049 commented on #1892
That's it! please spend sometimes in the doc. there is a lot of useful information. eg: you can use `useForm({ defaultVlaues: xxx })` as well

[2020-06-17 10:56] vineethvijayan commented on #1892
This poses a different issue I do have a dropdown and onChange I need to set the input value of the input text field. This used to work because I was using the state. Now since I am setting the default value this never changes on onChange of the dropdown (Once I do an initial edit on the text field)

[2020-06-17 11:14] 2DSharp commented on #1881
That's fair, but I don't really understand the point of losing the error message as soon as the field loses focus, even though it's violating only the server validation. Care to explain why that can't be solved? @bluebill1049

[2020-06-17 11:16] 2DSharp commented on #1881
Also can you show an example how the server side errors should be shown otherwise?

[2020-06-17 11:24] bluebill1049 commented on #1881
because you are setError on an existing `field` and the reValidate mode will kick in and try to validate the input again, which leads to no error, and hence `error` is removed. I will do the following

`setError('serverError', 'xxxx')`  so it's not associated to any of the field.

[2020-06-17 11:27] bluebill1049 commented on #1881
options 2, you can add the server validation into the field and combined with `formState` `submitted` and validate against your API.

[2020-06-17 11:57] arpit016 commented on #398
hey @bluebill1049 any idea how can I add yup validation to dynamic forms as the name field will be generated during run time?

[2020-06-17 12:05] bluebill1049 commented on #398
Do you mean `useFieldArray`?

[2020-06-17 12:12] arpit016 commented on #398
yes basically in this example [https://codesandbox.io/s/6j1760jkjk](https://codesandbox.io/s/6j1760jkjk) i am struggling how i can use Yup validation to validate the fields as required

[2020-06-17 12:54] caiorios commented on #1855
For me the two links open the same code. Besides, I don't see how equivalent this example is with my problem. In my case I have to initialize the form for edition, using async data coming from the back-end. So, basicly in my case I have 1 (data of form)  + N (options of selects) async requests that I have to put together once everything is ready.

[2020-06-17 12:59] bluebill1049 commented on #1855
oops miss the link:
https://codesandbox.io/s/weathered-fog-m26pd?file=/src/App.tsx

after:
https://codesandbox.io/s/recursing-fast-on3wm?file=/src/App.tsx

[2020-06-17 13:19] caiorios commented on #1855
Now I see the difference =)

I am trying to get your mindset on this. I don't realize how to put this solution to work in my problem. RHF do anything similar to this example behind the scenes when using `getValues ​​()`?

As I said, I think my problem is a little more complex, because it involves one more "variable" to the load of the form.

[2020-06-17 13:24] bluebill1049 commented on #1855
The fundamentals remain the same. Try to read my comments again, it's a React related problem, instead of RHF (not try to push around responsibility). Try to compare the two CSB and see the diff.

[2020-06-17 13:38] arpit016 commented on #398
@bluebill1049 I was able to add the validation in the Add Friends List example below is the codesandbox link: Do yo have any better suggestion that can be improved?

[My Implementation](https://codesandbox.io/s/react-hook-form-array-fields-lkgpv?file=/src/index.js)

[Original Implementation](https://codesandbox.io/s/6j1760jkjk)

[2020-06-17 14:22] h0jeZvgoxFepBQ2C commented on #859
Please don't deprecate IE 11, there are still many companies left where people are using IE 11 due to fixed system configurations.

[2020-06-17 14:49] h0jeZvgoxFepBQ2C opened #1893 "IE 11 SCRIPT1002: Syntax error"
**Describe the bug**
IE 11 can't use arrow functions, I get the error: IE 11 ```SCRIPT1002: Syntax error```

It looks like it's happening here: https://github.com/react-hook-form/react-hook-form/blob/master/src/utils/isNullOrUndefined.ts

![Bildschirmfoto 2020-06-17 um 16 44 52](https://user-images.githubusercontent.com/10075/84912678-f5f2f480-b0b9-11ea-9ffe-3276dad03584.png)

**To Reproduce**
I'm

[2020-06-17 15:11] h0jeZvgoxFepBQ2C commented on #1893
Whoops, problem was that I was importing like this:

[code]

whereas it should be:

[code]

works now!

[2020-06-17 15:11] #1893 closed

[2020-06-17 15:55] natac13 commented on #1517
Hey I was able to get almost the result I was looking for with @4ortytwo solution. Everything is working except for the `reset()`. I am using this field on a form that can edited or not and when cancelling the edit I want to reset back to the original value. Which happens just not visually.

The only way I can get this working is to stop using Material ui Checkbox and use a basic `<input type="che

[2020-06-17 16:42] SDP190 commented on #769
@stephenfjohnson I have same issue, when field bound to input has a numeric value, I get this error: "Invalid prop `value` of type `number` supplied to `TextInput`, expected `string`"

[2020-06-17 19:09] 4ortytwo commented on #1517
@natac13 , your `checked` state depends on the `checkedValues` array and it wasn't getting updated when you reset the form.

I added this:
[code]

and called it here
[code]

See the codesandbox, it is working there: https://codesandbox.io/s/material-demo-0bwsi?file=/demo.js

[2020-06-17 19:10] Alain00 opened #1895 "Field value gets removed on validation"
**Describe the bug**
When the form is submited after the validation the values gets removed one by one on each submit

**To Reproduce**
Steps to reproduce the behavior:
1. Fill the form with any values
2. Click on "Agregar"

**Codesandbox link (Required)**
https://snack.expo.io/0DmQB!XIO

**Expected behavior**
The validation process have finish with or errors or successfully, any way, the values m

[2020-06-17 19:16] natac13 commented on #1517
That works! Thanks @4ortytwo. However I would have to move the `setCheckedValues` function out of my custom field component to the form component, then pass in the state and state update function. This then causes the form component to re-render!! :scream: If I lose Material ui and use the example found [here](https://github.com/react-hook-form/react-hook-form/blob/a9ac99dadd126da1dfe2fee27e78a99c

[2020-06-17 22:17] alexbakerdev commented on #1888
Hey, thanks for getting back to me so quickly. I've tried to hack together a super conceited demo that demonstrates points 1️⃣ , 3️⃣, 4️⃣

[using rc4](https://codesandbox.io/s/rhf-watch-examples-v6rc4-zjksd)
[using my fork of rhf](https://codesandbox.io/s/rhf-watch-examples-xanderite-fork-decqy?file=/src/App.tsx)

These are identical other than using different versions of RHF, I realise that the e

[2020-06-17 22:24] alexbakerdev commented on #1888
1️⃣ I guess this makes sense, however it seems like in the example above there is some unexpected behaviour caused by this, there's no way for the preview components to show the fields that have been registered because of that render. Although I may be misunderstanding how to provide the default value to the watch?

Perhaps the behaviour in my fork can be invoked with an optional parameter? or may

[2020-06-17 22:34] alexbakerdev commented on #1888
3️⃣ In the demo you can register and unregister a nested field dynamically. In my fork the watches of the ancestor 'colors' and the whole state are triggered by this change*.

_*(I've actually just noticed that my unregister watch changes don't work in the demo's case, but I don't think it would be hard to add this to RHF)_

[2020-06-17 22:39] alexbakerdev commented on #1888
4️⃣ Whilst it makes total sense about avoiding undefined with native inputs, it sort of seems like the only way to deal with values that are objects, either dynamic nested values or more complex values (such as an object).

I also understand not wanting to handle the latter case, however I've found the ability to use objects as values convenient.

[2020-06-17 22:44] alexbakerdev commented on #1888
One other consideration with 1️⃣  and 2️⃣  if the useWatch parameter changes, should it return the new value immediately? because if it doesn't then that seems like unexepected behaviour, but if it does its consistent with the first invocation of the hook. Again makes me think the solution might be another similar hook?

[2020-06-17 22:45] bluebill1049 commented on #398
hey @arpit016 i think you missing this hook: https://react-hook-form.com/api#useFieldArray

[2020-06-17 22:52] bluebill1049 commented on #859
This will be planned and announced before we make a decision. It won't be an overnight or weekend job. It will involve with the community voice.

[2020-06-17 22:57] bluebill1049 commented on #1895
![Uploading Screen Shot 2020-06-18 at 8.57.34 am.png…]()

[2020-06-17 22:58] bluebill1049 commented on #1895
<img width="306" alt="Screen Shot 2020-06-18 at 8 58 02 am" src="https://user-images.githubusercontent.com/10513364/84958982-d1daf600-b141-11ea-8701-5033fe21b579.png">

[2020-06-17 23:00] bluebill1049 commented on #1517
V6 will make this exp easier, with render props (Controller).

[2020-06-17 23:09] stephenfjohnson commented on #769
@SDP190 I haven't resolved it yet but i do think it is tied to https://reactnative.dev/docs/textinput#defaultvalue only accepting a type of string.

[2020-06-17 23:52] atwalg2 opened #1897 "Request for typing on Controller name field"
**Is your feature request related to a problem? Please describe.**

This can likely be labeled an enhancement
Use Case: React Native using Typescript

Currently there is no nice way of ensuring the name properties in the form controller match the Form interface. I've used something like this previously on another form library (my own), and thought that it would be a nice addition to this library.

[2020-06-17 23:59] bluebill1049 commented on #1897
It's working in progress: https://github.com/react-hook-form/typed-field

[2020-06-18 00:14] #1897 closed

[2020-06-18 00:19] bluebill1049 commented on #1888
The workaround is to provide `defaultValues` at useForm instead of inline `defaultValue`.

[2020-06-18 00:21] bluebill1049 commented on #1888
I guess this should apply to `watch` API as well, I believe we don't have that behavior for `watch` as well, Yes, if we can make it both work with `watch` and `useWatch` (without introducing too much logic and code, I do care about lib size quite a lot).

[2020-06-18 00:23] bluebill1049 commented on #1888
it's a tradeoff the lib has to absorb. Can you work with `{}` with `object` at least it's empty and not empty?

[2020-06-18 00:24] bluebill1049 commented on #1888
Would you be able to send a PR with this?

[2020-06-18 00:25] bluebill1049 commented on #1888
again this should be aligned with `watch` API, if we can make this work without too much logic or code <3.

[2020-06-18 01:02] Alain00 commented on #1895
Yes, but why it says that is required if the value is there?
if u log form.getValues on every re render you can see that the values are getting setted, but in the moment i call form.handleSubmit these values gets removed one by one and the validation fail.

[2020-06-18 01:04] bluebill1049 commented on #1895
// <TextInput ref={ref} {...props} />
i don't think TextInput expose `ref` with its value

Take a look this section: https://react-hook-form.com/get-started#ReactNative

[2020-06-18 01:25] Alain00 commented on #1895
I'm not trying to assing a ref, i just call the register method inside a ref function, i've test it like in https://react-hook-form.com/get-started#ReactNative for custom register

[code]

and got exactly the same result, when the form is submited the values gets removed, i've not tested yet with controller component

[2020-06-18 01:26] bluebill1049 commented on #1895
ok if you using custom register, then you need to update the value right? `setValue` https://react-hook-form.com/api#setValue

[2020-06-18 01:34] Alain00 commented on #1895
I'm updating the value, this is the code:
[code]
Is in the file MyForm.js where all the MyInput components gets rebuilded with all the props needed to work with the form

[2020-06-18 03:39] tafelito commented on #73
@bluebill1049 is it possible to access a nested field from an object with a dynamic key

If I have

[code]

because just by using dsndknskdnsd.name in the name does not seem to work, and neither the watch

[2020-06-18 05:02] bluebill1049 commented on #73
watch('fields') should work.

[2020-06-18 06:50] alvinthen commented on #633
On this, if Controller is indeed easier, would you mind changing the text on `defaultValues` doc?

Instead of `React Native: Custom register or using Controller`, please just suggest to use Controller. And hiding the info behind a button doesn't help too. Not sure what was the initial motive, shouldn't RHF encourage just using the Controller?

I love this package and grateful for the work done, bu

[2020-06-18 07:05] bluebill1049 commented on #633
Thanks for your feedback. For custom register, you can still make it work with `watch()` which is basically controlled input, but happy to remove that. There is an example here: https://react-hook-form.com/api#reset

[2020-06-18 08:36] Atralbus opened #1901 "onBlur is not triggered on controlled input field"
**Describe the bug**
`onBlur` function is not being called inside the field wrapped with Controller.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-controller-onblur-not-called-6qmzu
2. Type something on the input field.
3. Click outside to trigger `onBlur`.
4. No log in the console.

**Codesandbox link**
[![Edit React Hook Form - Controller on

[2020-06-18 08:46] bluebill1049 commented on #1901
https://codesandbox.io/s/react-hook-form-controller-onblur-not-called-3wk9y?file=/src/index.js

[2020-06-18 09:04] Atralbus commented on #1901
I didn't put it in the example but I want to trigger `onChange` inside the `onBlur`. In original `Creatable` component, new values only appended if the user presses <kbd>Enter</kbd>, I also want to be able to append the value when `onBlur` is triggered.

[code]

I was doing it by calling the `onChange` method passed by `Controller` inside a custom component. How can we achieve the same behaviour i

[2020-06-18 09:06] bluebill1049 commented on #1901
you will need to wait for v6 which has render props. you can try it out with `v6.0.0-rc4`

[code]

[2020-06-18 10:42] omerman opened #1905 "Add ability to watch form values without re-rendering, supplying with callback for changes."
**Is your feature request related to a problem? Please describe.**
Currently there is a watch method that triggers a re-render once values change,
but sometimes I dont need a re-render, I just want to do something with the watched values,
like save them to the server or something like that.

**Describe the solution you'd like**

I think there should be an additional functionality to the good old w

[2020-06-18 10:47] bluebill1049 commented on #1905
`useWatch` is coming for v6 :)

[2020-06-18 11:22] omerman commented on #1905
@bluebill1049 And can I pass useWatch a callback, meaning only the callback will be fired and no re-renders will occour?

[2020-06-18 11:25] bluebill1049 commented on #1905
short answer no, it's not a callback. it's a custom hook that you can subscribe to input changes at child level without re-render at root/form.

`const data = useWatch({ name: 'fieldName', control })`

[2020-06-18 11:31] omerman commented on #1905
But what I'm saying is that sometime I want to do it in the root level, and avoid re-renders.

Take this case for example.
In this example I will have to re-render the component because I want to simple execute an update
method (saveInServer)
[code]

Im suggesting this:
[code]

[2020-06-18 11:35] bluebill1049 commented on #1905
Thanks for your suggestion. I hear your point, but we are not going that direction for now.

[2020-06-18 11:36] bluebill1049 commented on #1905
one altnerative in my head, which may help:

`<form onChange={() => saveYourStore(getValues())}></form>`

[2020-06-18 11:40] omerman commented on #1905
Ok I understand :)

Currently this is what I'm doing(for everyone else wanting this kind of behavior):

[code]

[code]

[2020-06-18 11:40] #1905 closed

[2020-06-18 11:44] bluebill1049 commented on #1905
Thanks for sharing the solution. 🙏

[2020-06-18 12:05] tafelito commented on #73
That works but then you gett all fields not just 1

What about the name of the input?

[2020-06-18 13:38] kyriiherman opened #1908 "Inconsistent behavior of setError"
**Describe the bug**
Calling `setError` fn on submit cause doesn't work correctly.
https://codesandbox.io/s/react-hook-form-set-error-clear-error-qdio6?file=/src/index.js

To reproduce the bug:
1. Go to https://codesandbox.io/s/react-hook-form-set-error-clear-error-qdio6?file=/src/index.js
2. Click on `Submit` button.
3. Enter 2+ chars in the `username` input field.
Error disappeared.
4. Enter 2+

[2020-06-18 14:01] tafelito opened #1909 "accessing fieldsArray from formContext in multiple places"
**Describe the bug**
I have a form that is divided in 2 sections

The 1 part has a few inputs. The second part is a dynamic form, where I can add or remove fields

The dynamic part is also divided in a few sections and the problem is that there are a few inputs that I need to show in both sections, and both sections can update the same field. This only works when using a Controller but not with th

[2020-06-18 17:20] atwalg2 opened #1910 "<Controller> doesn't inherit children types from "as" prop"
**Describe the bug**
Improper typing on Controller.tsx cause red line when you pass it children the wrapped component relies on.

**To Reproduce**
Steps to reproduce the behavior:
Add children to <Controller>
when as={Picker} requires children to work correctly

**Codesandbox link (Required)**
React native doesn't work in Codesandbox??
[code]

**Expected behavior**
Children should be cast as any o

[2020-06-18 17:29] atwalg2 commented on #1910
It seems the Picker component doesn't have children in it's typings.

Maybe the controller component should default to any if no typing exists for children?

[2020-06-18 18:32] challme28 commented on #497
Off all the answers here @JuanmaMenendez's answer was what worked for me. [Option 3](https://react-hook-form.com/get-started#WorkwithUIlibrary) didn't work for me because I need the `required` option. But now that I look at the first answer the `required` option was not another property next to `name`, it was another param to the `register()` function.

[2020-06-18 21:14] Alain00 commented on #1895
Please reopen the issue

[2020-06-18 21:29] #1901 closed

[2020-06-18 21:45] bluebill1049 commented on #1895
can you follow what's in the doc example tho? i am confused with the issue here.

[2020-06-18 21:48] bluebill1049 commented on #1895
perhaps have a read this article as well, which maybe helpful: https://elazizi.com/forms-in-react-native-the-right-way

[2020-06-18 21:55] bluebill1049 commented on #1910
This is getting resolved by V6's render props.

`<Controller render={props => ...} />`

[2020-06-18 21:55] #1910 closed

[2020-06-18 22:26] Alain00 commented on #1895
I'd know what i've missing, maybe its not a problem with the lib, but the snack in the article have the same issue, check here https://snack.expo.io/@yjose/form-in-react-native,-the-right-way!-

[2020-06-18 22:31] bluebill1049 commented on #1895
what's the problem? that's my missing part. This is your title: Field value gets removed on validation? so field value get removed each submit?

[2020-06-18 22:41] Alain00 commented on #1895
Yes, imagine this are the form values:
[code]
after the first call to `handleSubmit` the form values are:
[code]
after the second call to `handleSubmit`:
[code]
And so on

[2020-06-18 22:54] bluebill1049 commented on #1895
<img width="1429" alt="Screen Shot 2020-06-19 at 8 53 27 am" src="https://user-images.githubusercontent.com/10513364/85079542-690b8080-b20a-11ea-8667-9725500cfcd9.png">

This is a V6 expo snack i can't reproduce the problem: https://snack.expo.io/@bluebill1049/react-hook-form-v6

[2020-06-18 23:42] bluebill1049 commented on #1881
we all addressing this issue: https://github.com/react-hook-form/react-hook-form/pull/1907 let me know your thoughts.

[2020-06-19 00:22] bluebill1049 commented on #1909
We don't support this type of usage. why not create a separate `useFieldArray` or pass down the entire `fields` and all associated emthods.

[2020-06-19 01:23] bluebill1049 commented on #1895
wait, I think know the reason why! if you using the custom register, please register at `useEffect()`

[2020-06-19 01:26] Alain00 commented on #1895
The example in the docs works fine. Maybe it just happens by passing the useForm variables to another component and using it deeply, perhaps something with the rerender

[2020-06-19 01:27] Alain00 commented on #1895
yes i've already tested that, and no luck

[2020-06-19 01:28] bluebill1049 commented on #1895
ok that's really strange, can you try this version `v6.0.0-rc.4`

[2020-06-19 03:10] Alain00 commented on #1895
same result with the version `v6.0.0-rc.4`, i'm using now the `Controller` component and works like a charm

[2020-06-19 03:18] #1895 closed

[2020-06-19 06:37] #1908 closed

[2020-06-19 06:59] jonsaich opened #1914 "Default value not being set for async select options"
**Describe the bug**
Imagine this is an edit form and we're loading data from a server. I'm struggling to set the selected select option when the options are looped through and then added to the select.

**To Reproduce**
Look at the select - it doesn't have the default value.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-useform-template-qy0s4

**Expected behavior**
**T

[2020-06-19 07:02] bluebill1049 commented on #1914
use `reset()` API.

<img width="980" alt="Screen Shot 2020-06-19 at 5 01 50 pm" src="https://user-images.githubusercontent.com/10513364/85105868-937f2d00-b24e-11ea-8bdd-23ed9d1ba4ab.png">

[2020-06-19 07:02] #1914 closed

[2020-06-19 07:58] sanderwapstra opened #1916 "IE11 crashes on useDebounceCallback"
**Describe the bug**
I'm importing `react-hook-form` as `import { Controller, useForm } from 'react-hook-form/dist/react-hook-form.ie11';` but it still crashes on a arrow function in Internet Explorer 11. Are these helper functions not transpiled or am I doing something wrong? Thanks!

**Screenshots**
<img width="1329" alt="Screenshot 2020-06-19 at 09 53 51" src="https://user-images.githubusercont

[2020-06-19 08:13] bluebill1049 commented on #1916
hey @sanderwapstra that's not our source code :(

[2020-06-19 08:38] #1916 closed

[2020-06-19 09:14] rakanabdullah opened #1917 "set initial vaules from pops to from and update vaules (Question)"
hi

 thank you for this good  Library

I used in react native

i have data come from props and i set defaultValues for it :

const { getValues, setValue, handleSubmit, errors, register } = useForm(
        {
            defaultValues: {
                Schedule_Library_Name: props.Schedule_Library_Name ,//="testname"

            }
        }
    );

is work fine ones i want to update value
the val

[2020-06-19 10:39] bluebill1049 commented on #1917
I think you want to use `reset` at `useEffect`

https://react-hook-form.com/api#reset

[2020-06-19 12:50] hugomassing opened #1919 "Form state not valid when component is mounted"
**Describe the bug**
Hello, thanks for your awesome library, I love it!

I have a little bug when un-mounting and mounting components with `Controller`. When mounting a component, validation is triggered but it's not updating the `formState`.

**To Reproduce**
To reproduce you can click `tab 2` and then click `tab 1` again, `formState.isValid` is `false` when it was true just before.

**Codesandbo

[2020-06-19 12:59] tafelito commented on #1909
I cant' create a separate useFieldArray because some fields are shared btw the 2 forms.

Passing the fields as properties doesn't seem to work either, because you still have to register the input and access it in the inner form and that does work

I updated the example

[2020-06-19 15:57] reverie opened #1922 "watch()[fieldName] !== watch(fieldName)"
**Describe the bug**
The documentation at https://react-hook-form.com/api#watch states that `watch()[fieldName]` and `watch(fieldName)` are equivalent.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new form of type `{foo?: string}` with a `defaultValues` of `{foo: '1'}`
2. Use a controlled react-number-format input with name "foo".
3. Delete default value from the input
4. `watch(

[2020-06-19 17:39] rakanabdullah commented on #1917
i try it but not work for my did you have an example in sandbox ?

[2020-06-19 20:13] olup commented on #615
Just to add to the discussion here : I would love to get value as number when I have complex types (with typescript) that include numbers, passed as my form values types. Thing is, I need to duplicate all my interfaces that contain number so that they can get a string - just for the for part. It's a bit annoying.

[2020-06-19 22:44] #1917 closed

[2020-06-19 22:59] bluebill1049 commented on #615
hey @olup understanding your concern. Take a look at this example: https://github.com/react-hook-form/react-hook-form/blob/master/examples/parseFormatInputValues.tsx

[2020-06-19 23:10] bluebill1049 commented on #1922
can you please provide a codesandbox?

[2020-06-19 23:12] bluebill1049 commented on #1919
I think the simplest solution here just toggles the visibility of those inputs. Is that a valid solution?

[2020-06-19 23:36] bluebill1049 commented on #1909
So you want to create duplicated `FieldArray` with exactly the same fields (name)? I am afraid this is not going to work because name needs to be unique in RHF. I couldn't think of a good solution in my head to fulfill your use case.

[2020-06-20 03:16] reverie commented on #1922
Sure. I used an `input` for convenience, which means we get an extraneous error about switching from controlled to uncontrolled, but note that some controlled components do accept `undefined` as a `value`.

https://codesandbox.io/s/react-hook-form-useform-template-tw7y8?file=/src/index.js

Delete the text in the input, observe console.log output: 123, undefined. Whereas the docs say that these val

[2020-06-20 05:28] bluebill1049 commented on #1922
hey @AndrewSouthpaw thanks for the codesandbox.

[code]

FYI: `Controller` doesn't allow `defaultValue` to be undefined, it's a required `prop`.

[2020-06-20 05:39] reverie commented on #1922
It is listed as non-required in the documentation and typings.

[2020-06-20 05:43] bluebill1049 commented on #1922
<img width="925" alt="Screen Shot 2020-06-20 at 3 42 10 pm" src="https://user-images.githubusercontent.com/10513364/85193518-9d676580-b30c-11ea-89cc-de43f0b04a8d.png">

Because it's either supply as inline `defaultValue` or at the `useForm` level which is `defaultValues`.

[2020-06-20 05:43] bluebill1049 commented on #1922
Feel free to improve the doc if the wording is not precise (it's open-source as well).

[2020-06-20 05:57] reverie commented on #1922
Ah, yeah, that’s clear in the docs. Note that the codesandbox does pass defaultValues to useForm.

[2020-06-20 06:01] bluebill1049 commented on #1922
Yes, that's why I was asking about this `undefined` return.

`return e[0].target.value || undefined; // why this is added?`

once default value is set, the rest of the logic is basically React.useState.

https://github.com/react-hook-form/react-hook-form/blob/master/src/controller.tsx#L57

[2020-06-20 07:40] hugomassing commented on #1919
@bluebill1049 I think `triggerValidation` could work! Thanks

[2020-06-20 10:38] jovana opened #1927 "touched not set on using reset() or setValue()"
**Describe the bug**
Loading data from API (async) an put it in the reset() function it does not set the fields to touched.
Also using setValue() (instead or together) does give the desired result.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/fblif
2. After 1 second the value is loaded.
3. touched object is not changed.
4. If click on the field touched has b

[2020-06-20 11:08] bluebill1049 commented on #1927
Hi there, I think you have misunderstood `touched` means _it means the input has been blurred_. With reset() you are not touched any of the inputs.

[2020-06-20 11:16] jovana commented on #1927
Hey Bill,

Thx for your answer.
Okay sounds reasonable for the reset() function.

But the documentation about setValue() stated clearly: ‘...touched is updated’

https://react-hook-form.com/api#setValue

In my case I need to lift the labels up if data has entered the form. I looking for a way to do this the moment data has loaded from api.

Jo

[2020-06-20 11:24] bluebill1049 commented on #1927
wow, that's a huge mistake! I will fix that ASAP. thanks

[2020-06-20 11:24] bluebill1049 commented on #1927
what do you mean lift the label up?

[2020-06-20 11:26] bluebill1049 commented on #1927
FYI: The doc has been patched.

[2020-06-20 11:33] jovana commented on #1927
This is a design choice. The moment you enter something the lable goes out of the way:
<img width="504" alt="Schermafbeelding 2020-06-20 om 13 31 36" src="https://user-images.githubusercontent.com/645456/85200798-8c155d80-b2fa-11ea-8d72-db91450e2725.png">
<img width="514" alt="Schermafbeelding 2020-06-20 om 13 31 25" src="https://user-images.githubusercontent.com/645456/85200799-8d468a80-b2fa-11ea

[2020-06-20 11:34] jovana commented on #1927
Okay, but is there a method to have the touched properties changed programmatically?

[2020-06-20 11:35] bluebill1049 commented on #1927
That looks like MUI, but why is it have to do with `touched`? the label should go up as long as there is a value in the text input.

[2020-06-20 11:35] bluebill1049 commented on #1927
i think you may want to wrap your custom input with `Controller`.

[2020-06-20 11:36] bluebill1049 commented on #1927
Take a look at this CSB for reference: https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-06-20 12:50] sanderwapstra commented on #1916
Hi @bluebill1049, sorry for taking your time! Was time for weekend I guess 😅

[2020-06-20 14:52] tafelito commented on #1909
I don't exactly need a duplicated `FieldArray` but I do want 2 fields with the same name but that's not the only issue I have. So here's the schema of my data

[code]

The first part of the data is shown in a main Form, and the dynamic part is in an inner form where I have all the fields. The fields are dynamic, so you can add or remove, and same with the rows.
The label of the fields is the one I

[2020-06-21 01:05] bluebill1049 commented on #1909
Like I suggested above the same name is not going to work, unfortunately.

[2020-06-21 01:05] bluebill1049 commented on #1909
If two `useFieldArray` both point to the same input data, it's not going to work. `name` is unique in RHF.

[2020-06-21 03:16] bluebill1049 commented on #1909
Hmmm.. unless two `useForm` instance, then you can have duplicated name.

[2020-06-21 03:22] tafelito commented on #1909
OK the 2 fields I can solve it in a different way, by either update manually with setValue in onChange or o Blur.
What about accessing the fields by the path? I couldn't find a way to do that either, I had to handle it manually too

[2020-06-21 03:23] bluebill1049 commented on #1909
can you expand on this one?

[2020-06-21 06:42] jovana commented on #1927
Okay cool!
Thx for you advise. I have solved my case now not using touched property.

Jo

[2020-06-21 06:44] #1927 closed

[2020-06-21 17:43] alexbakerdev commented on #1888
Hey, ok, so sorry for the delay! (Also thanks again for your responses.)

I'm struggling to solve this problem using default value. If I provide a default value on first render of the form the fourth color is defined when it isn't toggled on. If I change the default value when [toggling the fourth color](https://codesandbox.io/s/rhf-initial-value-logic-ry5x1?file=/src/App.tsx) it doesn't seem to u

[2020-06-21 17:45] alexbakerdev commented on #1888
I agree this does sound like a good trade off, and I will do this in the future.

[2020-06-21 17:46] tafelito commented on #1909
@bluebill1049 I thought that by using a deep nested name like `dynamic.fields.field-1.label` wasn't updating the correct values when having such a dynamic form, or when using a nested form through context. It doesn't seem to be the case anymore, but i will keep an eye o this since at some point it appeared that that wasn't working