[2019-08-03 17:37] stramel commented on #177
I don't believe the `key` prop is the issue here. I'm able to reproduce it with the codesandbox provided. I'm going to see if I can figure out what is going on

[2019-08-03 22:16] bluebill1049 commented on #177
@ASHFAQPATWARI thanks for the clarification on the key usage.

Thanks @stramel I will investigate it bit deeper, it related to `ref` getting outdated or switched due to `key` change. I suspect its a React or like you said how material UI handle `ref`. I will let you guys know after my further investigation.

[2019-08-03 23:55] bluebill1049 commented on #177
It is not `material-UI` lead to this issue, and not caused by this lib manipulate `ref`.

I have removed `key` from your example and the style still works fine for me, I am not clear why `key` is needed to recalculated style. Keys in React are utilized to identify specific Virtual DOM Elements that have changed. Would be helpful to point me to the docs for the usage. but by changing the `key` defi

[2019-08-04 00:29] stramel commented on #177
@bluebill1049 When you remove the `key` the input border doesn't update to the width of the label when the language changes. I'm not sure if there is a better way to handle it though. Also, I can't find anything on the documentation stating that `key` is how to handle it. @ASHFAQPATWARI Can you point us to that documentation?

[2019-08-04 01:31] bluebill1049 commented on #177
@stramel it seems very strange to change a key on a component. This is the first time that I have seen such a usage, maybe I miss the big picture here (material-ui). I only had to use `key` for `children` (during `map`). I am pretty sure this is the reason which confused the react to believe it's a different component and hence `ref` got removed (while the second render secured the ref again) Yea

[2019-08-05 00:37] iankhor opened #183 "Testing with Jest + Enzyme - unable to trigger validation with onBlur event"
Hi all,

thanks for creating this library and i enjoy the simplicity of it.

I am trying to test my forms using `Jest + Enzyme` but i am unable to trigger a validation error.

It is working from the UI for me but i am just unable to get the test to pass. It would be great if someone could point out what i am missing or did incorrectly.

**My component :**
[code]

**My specs**
[code]

PS: Jest also

[2019-08-05 01:22] bluebill1049 commented on #183
Hi @iankhor

Thanks for the kind words ❤️

What you try to test out here is the `error` message should be displayed when `errors` props contain specific `error`. it would make more sense just test on the props IMOH.

By simulates 'blur' you are almost testing out `react-hook-form`. I think `enzyme` simulate 'onBlur` in react. If you have to test out 'blur', I would give 'react-testing-library` a t

[2019-08-05 02:46] kaleabmelkie opened #184 "Add .getProps() to useForm"
**Is your feature request related to a problem? Please describe.**
I want easy access to the `defaultValues` I've passed in `useForm`'s props

**Describe the solution you'd like**
A new `.getProps()` method:
[code]

[2019-08-05 02:56] bluebill1049 commented on #184
Hi @kaleabmelkie

Could you just hoist your default values to the top?

[code]

[2019-08-05 02:59] kaleabmelkie commented on #184
Yes, I have considered doing that. I just thought it would be cleaner to have something like .getProps, esp. in typescript projects.

Generally, I would have to do something like this in a .tsx file:

[2019-08-05 03:01] kaleabmelkie commented on #184
I took the liberty to submit a pull request for this (#185) ... I hope it's okay.

[2019-08-05 03:05] bluebill1049 commented on #184
Thanks for the PR. I tempt to reduce more methods if I can in order to keep the API list small. I don't see much value on this `getProps()` method at this stage. but let's get the other two core contributors' thoughts as well @barrymay @stramel : what do you guys think of this feature?

[2019-08-05 03:16] kaleabmelkie commented on #184
I would like to mention one more advantage for this design: It allows access to the default options in some scenarios:

Example:

[code]

Instead, it could be:
[code]

[2019-08-05 04:17] stramel commented on #184
@bluebill1049 I think I'm against this change. It expands the public API surface, bundlesize, and code that we have to maintain to handle something that is relatively arbitrary without this change. The only thing that I see being useful of that config object would be the `defaultValues`.

[code]

[2019-08-05 04:40] bluebill1049 commented on #184
That was what I thought as well. 👍

[2019-08-05 07:32] #184 closed

[2019-08-05 09:45] Nickman87 opened #186 "Unmounting and re-mounting existing fields gives weird issues"
**Describe the bug**
I'm making a wizard type input flow and thus I'm mounting and unmounting input fields whenever I need them.
In this flow I'm using a mix of manual inputs and actual registered components. De manual input is stable and works as expected. The registered one however does not.

1. When re-mounting it, it forgets it's previously set value
2. In my actual implementation, my watch of

[2019-08-05 10:29] bluebill1049 commented on #186
This is actually the expected behavior:

1. for registered input with ref, when input unmount. The input will get automatically `unregistered` hence value is lost
2. for custom registered input without ref, when input unmount. you will have to manually `unregister` yourself to during `useEffect` ( i will update that in the documentation)

- Solution:
1. To achieve your Wizzard form. I would recomm

[2019-08-05 10:46] Nickman87 commented on #186
That seems a bit extreme for a simple usecase not? I mean, a simple boolean inside react-hook-form that switched between remembering and forgetting would be enough to make this work I think?

[2019-08-05 10:51] bluebill1049 commented on #186
your example unmounts a component, it shouldn't remember the state.

[2019-08-05 10:52] bluebill1049 commented on #186
as long as you do not unmount the input, then the state will remain. Just like a normal input component.

[2019-08-05 10:56] bluebill1049 commented on #186
https://codesandbox.io/s/react-hook-form-unmounting-fields-0tvoe

[2019-08-05 11:00] Nickman87 commented on #186
So you would suggest keeping the components mounted and just toggle their visibility.
That way hook-form can still manage the state and do the validations.
I'll think about a bit and see what would work best for me.

Thanks you for your time!

[2019-08-05 11:00] #186 closed

[2019-08-06 06:53] ASHFAQPATWARI commented on #177
@bluebill1049 Using key prop is a workaround suggested by Material-ui Team here: https://github.com/mui-org/material-ui/issues/15142#issuecomment-478583219

[2019-08-06 07:07] bluebill1049 commented on #177
It's a workaround, and I agree with ith that. Is there any way you could toggle the UI with state pass down instead of changing the `key`?

[2019-08-06 08:42] ASHFAQPATWARI commented on #177
Without changing the `key`, the inline styles are not being recalculated. I am already toggling the UI by changing the context value.

[2019-08-06 09:27] bluebill1049 commented on #177
That's unfortunate. I have to say this is such an edge case. There is nothing I can do about this issue at this lib level (i have already spent many hrs on this) because of React is confused when u switch the `key` and lead `ref` to be `undefined` which is not standard anyway. the only solution I can think about it is custom register, which means not involved with `ref`

[code]

https://react-hook

[2019-08-06 10:20] KevinKelbie opened #187 "Ability to register custom components"
**Is your feature request related to a problem? Please describe.**
I'm trying to register a custom dropdown component ([react-dropdown](https://www.npmjs.com/package/react-dropdown)). It doesn't seem to work, please add an ability to register custom components like this.

**Describe the solution you'd like**

I don't know what the exact API would look like but here is what I would like to do

[2019-08-06 10:29] arpecop opened #188 "react native support?"
react native support?

[2019-08-06 10:36] bluebill1049 commented on #188
I haven't got a chance to look into native just yet, but it's on the road map.

[2019-08-06 10:41] bluebill1049 commented on #187
we do support custom `register`

[code]

https://react-hook-form.com/get-started

section: working with UI component

[2019-08-06 11:07] KevinKelbie commented on #187
very cool, thanks for the speedy reply!

[2019-08-06 11:07] #187 closed

[2019-08-06 11:50] KevinKelbie opened #189 "How to get checkbox checked status not value?"
It seems like when using checkboxes it defaults to giving you the `e.target.value` rather than `e.target.checked`. How can I get the checked status rather than the value?

Thanks in advance.

[2019-08-06 11:58] bluebill1049 commented on #189
Hmmm, I have encountered this issue three times now.

The difficulty that I am having right now is if you defined a value for checkbox, should you get its `value` or `checked`? if you want only `checked` then what about the user who wants the `value`?

hence I decide to have the following code (in the lib):

`if (isCheckBox(type)) return checked ? value || checked : false;`

if checked you will al

[2019-08-06 12:12] KevinKelbie commented on #189
I noticed I was getting either `on` or `false` which I thought was an issue on my end but it sounds like its excepted behavior based on what you said. I want it to return `true` and `false` but the problem is that if you define the value to be true in the html its a string not a boolean which is mildly inconvenient.

Is there a way to specify in the `register` something like:

    register({checkb

[2019-08-06 12:19] bluebill1049 commented on #189
what about do this `!!value` if all you want is true or false

[2019-08-06 12:27] KevinKelbie commented on #189
I could but that would require doing that for all my checkboxes in the `onSubmit` callback which doesn't seem like the right place to do it. In the meantime I'll do that but I suggest coming up with some way to specify what you want in the `register`.

[2019-08-06 15:17] stramel opened #190 "[SPIKE] Possibly simplify the API using form elements api"
**Is your feature request related to a problem? Please describe.**
More of a research task into using the HTMLFormElement.elements API to handle the references. https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/elements

**Describe the solution you'd like**
We might be able to simplify by requiring a `ref` only to the `form` element. And adding additional `ref`s only where necessary

[2019-08-06 21:10] bluebill1049 commented on #190
oh yea, definitely will be looking into that

[2019-08-06 21:37] bluebill1049 commented on #189
i think i have found the solution:

3.21.8-beta.1

please help test above beta version

[2019-08-06 21:43] bluebill1049 commented on #190
we can auto collect any native input values from the form which have basic native validation.

[code]

[2019-08-06 21:44] stramel opened #191 "Integrate with Pika CI for PRs"
**Is your feature request related to a problem? Please describe.**
The ability to test package changes without the need to publish them.

**Describe the solution you'd like**
Pika CI enables this for all PRs. https://www.pika.dev/cicd

[2019-08-06 21:45] bluebill1049 commented on #191
wow

[2019-08-06 23:42] bluebill1049 commented on #191
installed need to read more about it. thanks for the suggestion :)

[2019-08-06 23:56] bluebill1049 commented on #183
just a quick follow up how did you with this issue?

[2019-08-06 23:57] bluebill1049 commented on #188
going to close this issue for now, we will come back to native once web is solid.

[2019-08-06 23:57] #188 closed

[2019-08-07 00:38] barrymay commented on #190
I was thinking of the same thing, since custom form components are important.  Maybe having a special linking reference in the custom component can just tie it in into the main form?

[2019-08-07 07:38] crabkiller opened #192 "Arrow function in /dist folder"
I found some arrow functions in `/dist` folder, I think maybe it should be transformed to ES5's general function?

[2019-08-07 08:46] KevinKelbie commented on #189
Just installed it. Seems to be working for me.

I also noticed another potential bug but I'm not sure. Is it expected behavior for nothing to be returned in the `handleSubmit` when using an checkbox input and `ref={register()}`? It only returns the result if you use `register` or `register({})` (with the object)

[2019-08-07 08:47] Nickman87 opened #193 "Fields are not correctly monitored inside iFrames"
**Describe the bug**
When loading my forms inside an iFrame (with a react portal!), my watches suddenly stopped working.
Tracing the code I ended up in the mutation observer that is used to see if a field is unmounted.
This method tries to check the entire tree to see if we end up in the current window, but the node tree stops at the iFrame level.

**To Reproduce**
I made a simple setup here to il

[2019-08-07 09:32] bluebill1049 commented on #189
that's not a bug `ref` takes a callback, going to publish the version and close this issue.

[2019-08-07 09:32] #189 closed

[2019-08-07 09:38] bluebill1049 commented on #192
If you need to support old browsers, you can use a version with `ie11` tagged.

[2019-08-07 09:42] bluebill1049 commented on #192
eg: `3.21.4-ie11`

[2019-08-07 09:42] #192 closed

[2019-08-07 09:42] bluebill1049 commented on #183
going to close this issue, feel free to reopen.

[2019-08-07 09:42] #183 closed

[2019-08-07 09:43] bluebill1049 commented on #192
check the FAQ section at https://react-hook-form.com/faq

I will update website at the FAQ as well with ie taged release

[2019-08-07 09:46] bluebill1049 commented on #193
if you want to react hook form to work with external `iframe`, please use custom `register` instead `register` with ref.
[code]

[2019-08-07 09:47] bluebill1049 commented on #191
going to close this issue, it's installed

[2019-08-07 09:47] #191 closed

[2019-08-07 09:59] Nickman87 commented on #193
A component should not know where it is mounted...
This means every single component should be manually registered, all the time, just in case it might be mounted into an iFrame?

[2019-08-07 10:03] bluebill1049 commented on #193
why does every input need to live in an iframe? it's your use case...

I only offer a solution if you need to do that in an iframe.

[2019-08-07 10:30] bluebill1049 commented on #192
latest react-hook-form@3.21.9-ie11

[2019-08-07 11:57] Nickman87 commented on #193
They don't that's the point :D.
Sometimes they are inside an iFrame, and other times they are not.

You could just change the isDetached method to check if the element you have is a document type and it would work just fine?
![image](https://user-images.githubusercontent.com/870416/62620841-9d3fc080-b91a-11e9-9243-f337258e2878.png)
Or something like this.

[2019-08-07 12:03] bluebill1049 commented on #193
can you send a PR on this issue? I and the core contributors can take a look at this.

[2019-08-07 12:12] Nickman87 commented on #193
Sure, I'll do some testing to see if it is stable and get back to you!

[2019-08-07 19:13] stramel commented on #191
Looks like it is working! Thanks for installing it!

Side Note: Looks like CodeSandbox is having an issue with the URL installs right now. Locally, I had no issues. I already contacted the owners about it. https://twitter.com/stramel89/status/1159161464277667841

[2019-08-07 19:27] Nickman87 opened #195 "Field watch not registering correctly when blurring without typing"
**Describe the bug**
I have a form with multiple fields (important!) where at least one field is filled in.
Another field is empty and when I focus this field, and then defocus it (causing the onBlur to trigger, marking the field as touched), my watch will no longer correctly register.

**To Reproduce**
https://codesandbox.io/s/react-hook-form-watch-after-empty-defocus-wydwj

The first field `igno

[2019-08-07 22:05] bluebill1049 commented on #195
thanks for the detailed issue report  i will looking into it.

[2019-08-08 04:14] bluebill1049 commented on #195
fix and patched https://github.com/bluebill1049/react-hook-form/releases/tag/v3.21.10

thanks!

[2019-08-08 04:15] bluebill1049 commented on #195
close the issue when you verify 🙏

[2019-08-08 09:27] gmpetrov opened #198 "watch not triggered on change"
Hi @bluebill1049,

First thanks a lot for this great library !

I'm trying to get all form values on change the watch function is not triggered as expected.

[Here](https://codesandbox.io/s/react-hook-form-watch-rs221) is a demo using v3.21.10
I think it should logs on every input's changes.

Note that it works well when using v3.18.14

[2019-08-08 09:33] bluebill1049 commented on #198
Thanks 👍 fixing

[2019-08-08 09:40] bluebill1049 commented on #198
Thanks for reporting. fixed v3.21.11, once I have more automation test. This should happen less often.

[2019-08-08 09:41] bluebill1049 commented on #198
https://github.com/bluebill1049/react-hook-form/releases/tag/v3.21.11

[2019-08-08 09:44] gmpetrov commented on #198
Wow you are fast ⚡️👍 thx !!

[2019-08-08 09:44] bluebill1049 commented on #198
pleasure! thanks for reporting. ❤️

[2019-08-08 11:08] leapful commented on #177
@bluebill1049 I have the same issue while using Material-UI with react-form-hook. After debugging, I found that the issue is a side effect from method findRemovedFieldAndRemoveListener().

For example, in sample codesandbox of @ASHFAQPATWARI, when switching language, Login component will be re-rendered and method registerIntoFieldRef will be triggered too.'

https://github.com/bluebill1049/react-h

[2019-08-08 11:11] bluebill1049 commented on #177
wow thanks, @leapful for the detailed investigation! I would love to get this working as well. but a toggling individual element with the key is definitely not standard (edge case). I will be looking into this issue see if I can work it out. Feel free to send a PR if you work out a solution too. much appreciated your investigation.

[2019-08-08 11:55] ASHFAQPATWARI commented on #177
@leapful Thats some really inspiring investigation.

[2019-08-08 12:14] #198 closed

[2019-08-08 12:24] bluebill1049 commented on #177
Ok here is a solution for "hacking" `key` value with `material-ui`

**Problem**: (thanks @leapful based on your investigation)

- toggle `key` value on the same component
- confused React to remove the existing Element and then insert a new one (due to tree diffing [virtual DOM])
- confused React hook form because the name is the same however the actual dom is removed.
- when the element gets remo

[2019-08-08 13:47] leapful commented on #177
@bluebill1049 Nice trick to update ref :+1: Actually, we can just use "lang" of Login component props as dependency for useEffect.

[code]

[2019-08-08 21:26] bluebill1049 commented on #177
i think we can close this issue now @ASHFAQPATWARI hope material UI will sort this bug out soon, so we dont have to do this trick

[2019-08-09 07:01] bluebill1049 commented on #195
happy to close this one?

[2019-08-09 07:51] Nickman87 commented on #195
@bluebill1049 I have not had the chance to test out the fix yet. When I do I will come back and close the issue :). I will try to check it out tonight.

[2019-08-09 10:23] crabkiller opened #199 "Cleanup errors when component is being destroyed"
https://codesandbox.io/s/react-hook-form-basic-qgeyx

My page contains a `Tab` which would trigger different components being rendered. When previous `Tab` trigger a validation and has some errors, now I switch to the another `Tab` my `errors` which is received from `useForm` remains the previous errors, so my validation can't be valid. I think the previous errors should be cleanup.

[2019-08-09 10:26] bluebill1049 commented on #199
Why not use `clearError` when you switch the tab? you can now call without argument and clear all errors `clearError()`

[2019-08-09 10:31] crabkiller commented on #199
I will try this. Thank you. On the other hand, maybe `react-hook-form` should clear the corresponding errors when some component is destroyed?

[2019-08-09 10:48] bluebill1049 commented on #199
I agree, will patch that behavior.

[2019-08-09 15:33] Nickman87 commented on #195
It seems to be working now, thanks!

[2019-08-09 15:33] #195 closed

[2019-08-10 00:54] bluebill1049 commented on #193
I am testing the new change today, can you check as well?

`3.21.12-beta.1`

[2019-08-10 01:32] leapful commented on #144
@stramel For dynamic form array, I usually use an array of form control object as state to hold input value. When removing an input, we just need to remove the form control object at target index and then perform a re-rendering the rest form control object in array.

For example, in your codesandbox sample:
[code]

Working sample:
https://codesandbox.io/s/react-hook-form-array-fields-24s7p

It's s

[2019-08-10 01:34] bluebill1049 commented on #144
curious to know the detail of this one @leapful

[2019-08-10 01:43] bluebill1049 commented on #193
tested and verified on my end.

[2019-08-10 01:52] leapful commented on #144
@bluebill1049 When using suggested value form last input of browser, it will trigger event listener of "input" event that is registed in

https://github.com/bluebill1049/react-hook-form/blob/a9409ef0787b263d227ac004d5259feb80ef38dd/src/logic/attachEventListeners.ts#L16

The listener performs validateAndStateUpdate() callback in
https://github.com/bluebill1049/react-hook-form/blob/41374ccf58116a2f4

[2019-08-10 02:18] bluebill1049 opened #201 "When using suggested value form last input of browser, it will trigger event listener of "input" event that is registed in"
@bluebill1049 When using suggested value form last input of browser, it will trigger event listener of "input" event that is registed in

https://github.com/bluebill1049/react-hook-form/blob/a9409ef0787b263d227ac004d5259feb80ef38dd/src/logic/attachEventListeners.ts#L16

The listener performs validateAndStateUpdate() callback in
https://github.com/bluebill1049/react-hook-form/blob/41374ccf58116a2f4

[2019-08-10 02:18] bluebill1049 commented on #144
thanks @leapful I will followup that issue.

[2019-08-10 02:32] bluebill1049 commented on #144
can you provide a codesandbox for this issue? @leapful

[2019-08-10 05:19] bluebill1049 commented on #199
try this beta version: `3.21.12-beta.1` should resolve this issue. Let me know how it goes.

[2019-08-10 05:23] bluebill1049 commented on #177
i am closing this issue, feel free to re-open for more questions.

[2019-08-10 05:23] #177 closed

[2019-08-10 05:24] bluebill1049 commented on #144
i am closing this issue, feel free to re-open if anyone has better suggestion or solution.

[2019-08-10 05:24] #144 closed

[2019-08-10 07:27] Nickman87 commented on #193
I can test it tonight

On Sat, 10 Aug 2019, 03:43 Bill, <notifications@github.com> wrote:

[2019-08-10 16:42] Hrommi opened #203 "Disable/enable submit button"
Hi.

I need disable submit button after form sending and enable button after user change value any inputs. I try use `isSubmitted`, but I don't now how reset this value.

Sorry for my English.

[2019-08-10 21:23] bluebill1049 commented on #203
hi @Hrommi reset the value? Do you mean the form values? https://react-hook-form.com/api#reset

[2019-08-10 22:36] bluebill1049 commented on #203
or you mean `isSubmitted` value?

[2019-08-10 22:38] bluebill1049 commented on #121
Going to close this issue now, we can revisit this later on :)

[2019-08-10 22:38] #121 closed

[2019-08-11 02:24] github0013 opened #204 "Using useReducer will have `errors` as an empty object."
**Describe the bug**
`errors` is empty if it's coming from `useReducer`

**To Reproduce**
https://codesandbox.io/s/my-app-wuloq

**Expected behavior**
`errors` before `useReducer` seems to have correct properties.  I am expecting to have the same values in errors coming from `state`.

[code]

[2019-08-11 02:42] bluebill1049 commented on #204
Are you try to do global state management with form data?
can I recommend you try out `little-state-machine`?

https://github.com/bluebill1049/little-state-machine

Demo: https://codesandbox.io/s/lrz5wloklm

[2019-08-11 02:44] bluebill1049 commented on #204
This is a React question with useReducer.
when you run reduce, errors will always be on the initial render. if you want to update errors. you should run action to update it. but I will still recommend little state machine, you will find it much easier.

[2019-08-11 03:51] github0013 commented on #204
Is it `useReducer` limitation?

[code]

I am still trying to figure out why the second arg `initialArg` has different values when it comes out of `state`.

I see other state values except `errors` are working as expected in the codesandbox example.

[code]

[2019-08-11 05:01] github0013 commented on #204
or ...

### FormContext
https://react-hook-form.com/api/#FormContext

is more like what I need... (just found it)

[2019-08-11 05:01] #204 closed

[2019-08-11 05:59] leapful commented on #201
@bluebill1049

Here is the codesandbox sample:
https://codesandbox.io/s/react-hook-form-input-event-d47lq

Steps to re-produce:
1. Enter text value for first input then click "Submit".
2. Refresh page and click on first input to select suggestion in the previous input text value in step 1.
3. Selected value is being cleared.

Root cause: When rendering form array, a form control object is used for

[2019-08-11 06:07] bluebill1049 commented on #201
thanks for the detailed issue report @leapful looking now

[2019-08-11 06:16] bluebill1049 commented on #201
Funny thing, it works for me...

1. submit a form
2. type the same word and click the autocomplete value
3. click on the autocomplete and value gets filled.

I think I may miss the step or something? I am on mac chrome.

[2019-08-11 07:10] Hrommi commented on #203
@bluebill1049 look this solution: https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-95rt3

I add

`const [isSubmitted, setIsSubmitted] = useState(false);`

and

`
useEffect(() => {
  setIsSubmitted(false);
}, [watch("First name"), watch("Last name")]);
`

It's ok?

`reset` clears all fields, but I do not need to do this.

[2019-08-11 07:26] leapful commented on #201
@bluebill1049 It's only being cleared at the first selecting value. May be you can try to refresh the page then click on the input again ? I can re-produce it with Google Chrome on Ubuntu and macOS.

[2019-08-11 07:54] bluebill1049 commented on #203
your solution is fine :)

FYI: you can pass an argument for `reset` too
[code]

[2019-08-11 07:57] bluebill1049 commented on #201
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/10513364/62831375-727aa280-bc61-11e9-99b1-9240a066b63f.gif)

[2019-08-11 07:58] Hrommi commented on #203
Thanks.

I don't now how call `reset` after change input with the correct value.

[2019-08-11 07:58] bluebill1049 commented on #201
weird... maybe I am not reproducing the right way.

[2019-08-11 07:59] bluebill1049 commented on #203
kk 👍

[2019-08-11 08:00] #203 closed

[2019-08-11 08:44] leapful commented on #201
@bluebill1049 I think I found the reason, you're using codesandbox sample that already apply the fix :D.

The sample with error is the other link:
https://codesandbox.io/s/react-hook-form-input-event-d47lq

[2019-08-11 09:12] bluebill1049 commented on #201
ha!

[2019-08-11 09:12] bluebill1049 commented on #201
now i can see the issue, hehe

[2019-08-11 09:17] bluebill1049 commented on #201
so it's input event trigger re-render... will see if can find a solution. if you have some idea, feel free to submit a PR @leapful 🙏

[2019-08-11 09:25] bluebill1049 commented on #201
it's potential due to `onChange` vs `input` event, if you change `mode` to `onChange` and remove `onChange` that may solve the problem.

[2019-08-11 14:29] JeromeDeLeon opened #205 "Get the values with the right data type"
**Is your feature request related to a problem? Please describe.**
I find it troublesome to convert form values to the right data type.

**Describe the solution you'd like**
It would be better if it will be converted based on the type of the input or maybe the validationSchema (Yup) because I tried using `transform()` in Yup but seems not working. If we set the data type to date then the return va

[2019-08-11 14:44] JeromeDeLeon commented on #26
Thanks for this awesome library 😁! I just converted one of my forms from formik because it uses an array of inputs then calculate the sum and it causes a lag whenever it reaches more than 10 rows because it keeps re-rendering for every keystroke. I tried using debounce just to ease the pain of my form 🤣. When I switched to this, I didn't have that problem anymore. Thanks 😄

[2019-08-11 17:34] JeromeDeLeon opened #206 "array field is not working properly"
**Describe the bug**
I played around the example of array field provided in this repo.
* I tried to set a defaultValues but it didn't seem to work properly.
* `getValues({ nest: true })` did not also work. I don't know if `{ "people[0].firstName" :"" }` is the corrent outcome instead of `{ people: [ { firstName: "" } ] }`

[Here's the codesandbox](https://codesandbox.io/embed/react-hook-form-set-i

[2019-08-11 20:59] bluebill1049 commented on #26
thank you @JeromeDeLeon and most welcome ❤️ going to follow up those issues that you reported.

[2019-08-11 21:13] bluebill1049 commented on #206
can you try the latest version? i think the example is using an old beta one.

[2019-08-11 21:18] bluebill1049 commented on #205
can you try the latest version on this as well?

[2019-08-11 21:45] github0013 commented on #204
I noticed I didn't explain what I was seeing.   I was trying to show an error message and came across this problem.

https://codesandbox.io/s/my-app-wuloq
Please first submit without entering anything.   It then usually shows and an error message like below.

[code]

But this actually doesn't show anything because `errors` coming from the state is empty object for some reasons.

[2019-08-11 23:00] bluebill1049 commented on #204
I haven’t looked at ur codesandbox, but I have a feeling u didn’t update ur reducer with action which contains error.

[2019-08-11 23:34] github0013 commented on #204
Oh, right, the initial will stay as is `until` it's updated.

[2019-08-12 01:57] JeromeDeLeon commented on #205
Here is the [codesandbox](https://codesandbox.io/s/react-hook-form-set-inputselect-value-4b41g?fontsize=14). I updated it on the latest one but still seems not to work. I specified the type of input to be a number but when I submitted the form, the age returned a string.

[2019-08-12 01:58] JeromeDeLeon commented on #206
Thanks 😄

[2019-08-12 01:58] #206 closed

[2019-08-12 02:10] bluebill1049 commented on #205
@JeromeDeLeon I see, I think this one requires a bit of discussion. because native HTML input element actually always return `string` probably except `checkbox`. It's almost a misconception that input will actually return `number`.

[2019-08-12 02:21] JeromeDeLeon commented on #205
yeah, but only do the parsing when using `getValues()` or `handleSubmit()` or else there would be a lot of changes if you parse it all the time.

[2019-08-12 02:24] JeromeDeLeon commented on #205
since you are using ref, [HTMLInputElement](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement) already provided a solution using `valueAsNumber` and `valueAsDate`.

[2019-08-12 02:45] bluebill1049 commented on #205
oh cool! i didn't know `valueAsNumber` will take a look into it 👍

[2019-08-12 02:55] JeromeDeLeon commented on #205
Hope it would be implemented. 😃 Thanks!

[2019-08-12 02:58] bluebill1049 commented on #205
I guess I can refer to the input` type` to determine `value` return.

eg

[code]

[2019-08-12 03:17] JeromeDeLeon commented on #205
Yes, looks good to me.

[2019-08-12 03:31] JeromeDeLeon commented on #205
For setting a value of `date` type, we can now rely on using `getById("bday").valueAsDate = new Date()` instead of using `YYYY-MM-DD` default format when using `getById("bday").value`.

So in the `else` statement of your `setFieldValue`, we can add another checking named `isDateInput()`

[2019-08-12 03:43] bluebill1049 commented on #205
Sounds good to me, I will sort out one at the time. Probably get u to test as well 👌🏻

[2019-08-12 03:52] JeromeDeLeon commented on #205
Thanks. btw, I tried to empty string to `valueAsNumber` but turns out that it will be converted to number which resulted to 0 as empty value, so for setting value of number, `value` is enough 😄 .

[2019-08-12 07:07] 5123095 commented on #206
why array field defaultValues and submited value are not reciprocal?
[Here's the codesandbox](https://codesandbox.io/s/react-hook-form-defaultvalues-i011v)

[2019-08-12 07:30] bluebill1049 commented on #206
what do you mean @5123095?

`isDeveloper: ["b"]` is this one you mean?

[2019-08-12 07:34] 5123095 commented on #206
yes, \<input value="b" />  is not checked by default

[2019-08-12 07:35] bluebill1049 commented on #206
@5123095 `isDeveloper: [false, "b"]` you checked the first one

[2019-08-12 08:00] 5123095 commented on #206
default values from api not contain all values of options, i don't even know options length，what should i do in this case

[2019-08-12 08:01] bluebill1049 commented on #206
Use input name, developer[1]

[2019-08-12 08:04] 5123095 commented on #206
OK， Thank you very much

[2019-08-12 08:06] bluebill1049 commented on #206
Pleasure :)

[2019-08-12 08:34] Nickman87 commented on #193
Seems to solve my issue 👍

[2019-08-12 08:39] JeromeDeLeon opened #207 "How to validate array of objects with Yup"
**Describe the bug**
I tried creating a schema then injected it in `validationSchema` but when I submitted the form, the error shows that the array is required and that's because I inserted as `Yup.array().of().required()` so I removed it but then the form submitted successfully even though I set the `firstName` field as required and set a empty value.
[Codesandbox](https://codesandbox.io/embed/re

[2019-08-12 08:56] bluebill1049 commented on #193
going to publish the patch now thanks for confirming.

[2019-08-12 08:58] bluebill1049 commented on #193
https://github.com/react-hook-form/react-hook-form/releases/tag/v3.21.12 close this issue when ready

[2019-08-12 09:04] JeromeDeLeon commented on #207
I replicate the code for validating schema and it was showing the expected output but when I injected it in the library and submitted the form, it shows the outer validation.

[2019-08-12 09:21] bluebill1049 commented on #207
thanks should be a simple patch.

[2019-08-12 09:28] bluebill1049 commented on #207
can you test out this beta version? `3.21.13-beta.1`

[2019-08-12 09:38] JeromeDeLeon commented on #207
Thanks 😃 It's working now.

[2019-08-12 10:26] bluebill1049 commented on #207
thanks for report this issue, close ticket when ready :)

[2019-08-12 10:40] #201 closed

[2019-08-12 10:41] bluebill1049 commented on #199
This has been patched in the latest release.

[2019-08-12 10:43] #207 closed

[2019-08-12 11:19] Nickman87 opened #208 "Error while removing manual element"
**Describe the bug**
I have a scenario where I manually register a component (see example: https://codesandbox.io/s/react-hook-form-watch-after-empty-defocus-ukknu) but when my app moves to a different view, it tries to unregister and throws an error because the fieldsRef mapping is empty at that time.

`removeEventListenerAndRef` is called from `unregister` with `undefined` as the `field` paramet

[2019-08-12 11:26] bluebill1049 commented on #208
yea, i will take a look at thtat.

[2019-08-12 11:48] bluebill1049 commented on #208
do you have a screenshot of the error?

[2019-08-12 11:50] bluebill1049 commented on #208
you mind trying this beta `3.21.15-beta.1` see if you can still reproduce the error? and screenshot, please

[2019-08-12 11:52] bluebill1049 commented on #208
need a way to reproduce this issue

[2019-08-12 11:53] bluebill1049 commented on #208
join https://spectrum.chat/react-hook-form?tab=posts if you can have a chat on this issue

[2019-08-12 11:57] Nickman87 commented on #208
![image](https://user-images.githubusercontent.com/870416/62863418-08b5d380-bd09-11e9-93d3-8ca08c08f29a.png)

![image](https://user-images.githubusercontent.com/870416/62863426-0e131e00-bd09-11e9-9429-d7071436dc88.png)

![image](https://user-images.githubusercontent.com/870416/62863438-153a2c00-bd09-11e9-9fca-eee38dbd0f6f.png)

Hope these help :).

[2019-08-12 12:00] bluebill1049 commented on #208
`react-hook-form@3.21.15-beta.2` I have made a check before `unregister` can you try this beta? and let me know if it fix the issue.

[2019-08-12 12:02] bluebill1049 commented on #205
I found `valueAsNumber` is tricky because empty input result as `isNaN`

[2019-08-12 12:32] bluebill1049 commented on #208
https://github.com/react-hook-form/react-hook-form/releases/tag/v3.21.15

[2019-08-12 12:32] bluebill1049 commented on #208
patched and released

[2019-08-12 12:55] JeromeDeLeon commented on #205
yes that's expected since we're returning a number so I think under the hood, the browser tries to parseFloat the string and parsing empty string will result to `NaN`.

[code]

something like that or maybe change empty string to 0?

[2019-08-12 12:57] JeromeDeLeon commented on #205
there's one more solution to this I think if you don't mind.

let `validationSchema` handle it so it would allow us to use `transform` method.

[2019-08-12 23:34] bluebill1049 commented on #205
We can't set `''` to `0`, if you store in the global state and refresh the page and the input will be `<input value="0" />` instead of `<input value="" />`

[2019-08-12 23:36] bluebill1049 commented on #205
That sounds good for schemaValidation.

I will still be working on the `valueAsNumber` and `valueAsDate` for non schema validation, hope i can find a good solution.

[2019-08-13 00:26] bluebill1049 commented on #205
@JeromeDeLeon you want to provide an example for `validationSchema` with `transform` i would like to have that in the documentation website. maybe will be helpful for others :)

[2019-08-13 00:27] bluebill1049 commented on #199
please close this issue once you verify.

[2019-08-13 00:27] #193 closed

[2019-08-13 03:17] JeromeDeLeon commented on #205
that would not be possible in the current state of the library because your returning an empty object `{ }` instead of a result from the validation using Yup

[2019-08-13 03:24] bluebill1049 commented on #205
Oh i see.

[2019-08-13 03:26] JeromeDeLeon commented on #205
[Codesandbox](https://codesandbox.io/embed/react-hook-form-set-inputselect-value-4b41g)

[2019-08-13 03:29] bluebill1049 commented on #205
think I can work towards that. @JeromeDeLeon

will add that to my todo.

[2019-08-13 03:30] bluebill1049 commented on #205
you want to raise another issue for this, so we can track this later.

[2019-08-13 03:31] JeromeDeLeon commented on #205
Sorry, I'm don't have any experience when it comes to PR stuff, so I, instead just review your code.

[2019-08-13 03:38] bluebill1049 commented on #205
all good @JeromeDeLeon i will come back to that, i will sort out `valueAs` first

[2019-08-13 03:54] stramel commented on #190
Hmmm, yeah, seems like it really falls apart on stuff like react-select. I'm not sure it is feasible with some of these custom controls.

[2019-08-13 03:56] bluebill1049 commented on #190
yea @stramel that was my only concern :)

[2019-08-13 03:58] stramel commented on #190
I'm going to close this for now then. Thanks for taking a look!

[2019-08-13 03:58] #190 closed

[2019-08-13 03:59] stramel commented on #167
Relates to #26

[2019-08-13 04:06] bluebill1049 commented on #167
yea I am going to working on that :) this one is on my todo list first https://github.com/react-hook-form/react-hook-form/issues/205

[2019-08-13 04:10] stramel commented on #167
No worries! Just going through the issues. Wish I had time to write these right now.

[2019-08-13 04:14] #199 closed

[2019-08-13 04:40] bluebill1049 commented on #205
This is what I am doing with number:

[code]

so it could be either `number | string`. if you place 0 in the input it will return `NaN`.

To be honest I almost prefer it's always `string`. @stramel @barrymay what you guys thoughts?

I had a look `valueAsDate` as well.

[2019-08-13 04:54] stramel commented on #205
Hmmm that's tricky, what if we just give the ability to pass the parser? Default it to `value`, allowing opt-in to `valueAsNumber` or `valueAsDate`?

I say it's tricky because of `type="time"` could use all 3.

[2019-08-13 05:02] JeromeDeLeon commented on #205
I didn't thought about the other time so I just said that only parse Date and Number type 😆 and the rest is just String

[2019-08-13 11:29] bluebill1049 commented on #205
hey @JeromeDeLeon can you please test out 3.21.16-beta.1  with yup transform?

[2019-08-13 11:52] bluebill1049 commented on #208
@Nickman87 you happy to close this one? or you still have concern or issue?

[2019-08-13 12:49] bluebill1049 commented on #205
# NPM
npm install https://github.pika.dev/react-hook-form/react-hook-form/pr/209

# Yarn
yarn add https://github.pika.dev/react-hook-form/react-hook-form/pr/209

[2019-08-13 13:26] JeromeDeLeon commented on #205
It works just fine. You just forgot to remove the `console.log("ahahah")` and `console.log('fieldErrors', fieldErrors);` that laughs at you every time you submit the form 😆

[2019-08-13 17:36] elswenson opened #210 "Build 3.21.9-ie11 contains arrow functions"
**Describe the bug**
The latest -ie11 targeted build (3.21.9-ie11) contains arrow functions (It looks like a normal deploy? it doesn't look anything like the generated code in 3.21.4-ie11).

**To Reproduce**
Steps to reproduce the behavior:
1. Install `react-hook-form@3.21.9-ie11` using a node package manager (npm, yarn, etc)
2. Navigate to `node_modules/react-hook-form/dist/react-hook-form.js`

*

[2019-08-13 18:08] stramel commented on #210
@bluebill1049 I think we could improve the build process to build both the ie11 and modern build so we don't have to worry about this happening.

[2019-08-13 21:12] bluebill1049 commented on #210
@stramel curious on how can we do that?

[2019-08-13 21:24] Nickman87 commented on #208
Seems to be working fine for me 👍

[2019-08-13 21:24] #208 closed

[2019-08-13 23:51] bluebill1049 commented on #205
https://github.com/react-hook-form/react-hook-form/releases/tag/3.21.16 published let's close this issue for now. until we figure out a good solution for standard validation.

I still not sold with `register({ as })`, and don't have a good solution in my head just yet.

[2019-08-13 23:59] bluebill1049 commented on #210
i will publish again with the latest (ie version)

[2019-08-14 00:15] bluebill1049 commented on #210
`react-hook-form@3.21.16-ie11` @elswenson

[2019-08-14 02:49] JeromeDeLeon commented on #205
Yes, using `validationSchema` will do. Just suggested it because the old version didn't maximize the use of Yup so yeah for now, we can close this. Thanks 😁

[2019-08-14 02:49] #205 closed

[2019-08-14 03:08] bluebill1049 commented on #205
thanks @JeromeDeLeon I will keep in my todo list to improve non-yup usage.

[2019-08-14 04:09] #210 closed

[2019-08-14 05:11] elswenson commented on #210
Thank you!

[2019-08-14 06:05] bluebill1049 commented on #210
@elswenson please consider to support this repo by staring ⭐️ thank you in advance.

[2019-08-14 19:16] stramel opened #211 "[REQ] Ability to return form and field level errors from submission"
**Is your feature request related to a problem? Please describe.**
This is a feature request for being able to pass the form errors from a submission.

**Describe the solution you'd like**
I would like to see the callback passed to `handleSubmit` be able to handle being returned an object of errors that could be merged into the existing `errors` object. Including a special case for an overall form

[2019-08-14 21:54] dfmartin opened #212 "Question: FormContext Types"
I am new to react-hook-form.  Doing an evaluation.

I notice that `useForm` takes a generic parameter to shape various aspects such as `errors`.  Makes it possible to do:
[code]

Was hoping to use the `useFormContext` so that the form can work across child components.  However, I am unable to provide a type to `useFormContext`.

Am I missing something?  Is this something that will be coming?  Is i

[2019-08-14 22:17] bluebill1049 commented on #211
@stramel can you give some code example? I am not very clear in term os requirement 🤔

[2019-08-14 22:27] stramel commented on #212
@dfmartin We are working to improve the typings. I will see what I can do to improve this in the short-term.

[2019-08-14 22:40] bluebill1049 commented on #212
I was about to reply haha, @stramel you beat me again.

[2019-08-14 22:42] bluebill1049 commented on #212
@dfmartin I would recommend using FormContext over props pass down, it can get a bit messy. However, if it's just one level then it's probably fine. but deep nested I would recommend to use FormContext.

[2019-08-14 22:42] stramel commented on #211
@bluebill1049 Here is some rough pseudo code.

[code]

Where the error response from the login call, would display in the `errors` object with the associated input name.

As for the form-level error, it would be similar but instead of an input name as the key in the object it would use something like `const FORM_ERROR = ''` and would be able to use it like...

[code]

[2019-08-14 22:43] bluebill1049 commented on #211
can you use `setError`?

[2019-08-14 22:48] stramel commented on #211
@bluebill1049 I think `setError` would work for the form-level error. Although, I like the DX of being able to return the object from the submission callback. Especially since in my case the submit function is coming from outside the function with the form.

[2019-08-14 22:56] bluebill1049 commented on #211
sure i can take a look at that

[2019-08-14 23:04] stramel commented on #212
I will have an update tonight. 👍

[2019-08-14 23:10] bluebill1049 commented on #211
@stramel basically, anything return from the `handleSubmit` will merge with errors? (am I on the right track?)

[2019-08-14 23:27] stramel commented on #211
That's what I was thinking. If we want, it could be limited to registered fields.

[2019-08-15 05:05] bluebill1049 commented on #211
https://github.com/react-hook-form/react-hook-form/releases/tag/v3.21.17

[2019-08-15 05:10] stramel commented on #211
Shoot forgot to mention that I didn't test how this worked with nested naming

[2019-08-15 05:13] bluebill1049 commented on #211
I think it's fine, it will just extend, right?

[2019-08-15 05:14] bluebill1049 commented on #211
if not i will patch it again, it's not been documented just yet. :) hidden api

[2019-08-15 05:27] stramel commented on #211
Is the errors object nested or flat?

[2019-08-15 06:01] JeromeDeLeon commented on #211
In my use case,
[code]

[2019-08-15 06:12] bluebill1049 commented on #211
@JeromeDeLeon you reckon return errors will make your life bit easier?

[2019-08-15 06:29] JeromeDeLeon commented on #211
I don't think so. I don't have any use case for it that want me to use the **return errors** feature cuz like I said, I came from `formik` that didn't have that. Maybe for others 👍

[2019-08-15 06:30] stramel commented on #211
Hmm, I suppose I could build this out as a helper in my apps.

[code]

Just seems like it would be easier to have in the lib and a nice DX win.

@JeromeDeLeon What other setters are you passing? Would it be easier to remove the wrapping function and just return an error object?

[2019-08-15 06:34] bluebill1049 commented on #211
what's your thoughts on this @barrymay ?

[2019-08-15 06:35] JeromeDeLeon commented on #211
@stramel, `setStatus` in `const [status, setStatus] = useState({ });` for other things I want to do in my form like successfully detecting if It successfully submitted or not.

[2019-08-15 06:39] stramel commented on #211
@bluebill1049 WDYT about using this to ensure the same error object? instead of just spreading the errors?

[code]

[2019-08-15 06:42] bluebill1049 commented on #211
@stramel Yeah it's nice, what you had above. what if you want a completely different error just for server-side? with merge, I can have a serverside error, not the field level.

[2019-08-15 06:49] stramel commented on #211
Hmm I'm not sure it will be as obvious to some developers that they will need to return

[code]

Maybe we could just set the type differently manually? `setError(name, error, 'submissionError')`

[2019-08-15 06:53] bluebill1049 commented on #211
oh you are right about that! going to fix that! thanks

[2019-08-15 07:06] bluebill1049 commented on #211
[code]
what abou this?

[2019-08-15 07:19] stramel commented on #211
Not sure how important it is but we are still losing `ref` and `isManual`? But also, is it okay that we are moving error building out of the `setError` function?

[2019-08-15 07:19] testarossaaaaa commented on #211
This is a great library, but a little criticism, the more Wishlist is implemented, the more difficult it is to maintain and develop the library, I paid attention to the number of bug fixes for the whole time. Also, in my case, errors are returned in a different format, it depends on the server, and it is easier for me to call SetError than to convert to a different format, in general, a very narro

[2019-08-15 07:20] bluebill1049 commented on #211
` is it okay that we are moving error building out of the setError function?` what u mean?

[2019-08-15 07:23] bluebill1049 commented on #211
@testarossaaaaa very good point!

[2019-08-15 07:26] bluebill1049 commented on #211
@stramel maybe we just stick with `setError` for now?

[2019-08-15 07:35] stramel commented on #211
@bluebill1049 You can revert that code for now and we can continue the discussion.

[2019-08-15 07:47] bluebill1049 commented on #211
Thanks for understanding @stramel

[2019-08-15 13:38] KevinKelbie opened #219 "Feature: Group related inputs"
My form is of an unknown length because inputs get added when user has more things to add. I would like to be able to group these inputs so that when the `onSubmit` function is called it returns an array.

Example:

     <Form onSubmit(handleSubmit(onSubmit))>
      <List name="people"> // New component
         <ListItem> // New Component
                First Name: <input type="text" name="first

[2019-08-15 13:48] KevinKelbie commented on #219
Never mind I found it in the docs https://react-hook-form.com/api#register

[2019-08-15 13:48] #219 closed

[2019-08-15 14:18] minhaferzz opened #220 "MUI TextField Label Doesn't Shrink on setValue"
**Describe the bug**
When doing a setValue for a Material-UI textfield, the label doesn't shrink as expected.

**To Reproduce**
https://codesandbox.io/s/react-hook-form-mui-textfield-3czpw

**Expected behavior**
Label to shrink when data is being set.

**Additional context**
Not at all sure if this is a react-hook-form problem or a Material-UI problem, but this started with Material-UI version 4.2

[2019-08-15 14:28] stramel commented on #220
I don't believe this is an issue with `react-hook-form` especially since it worked in previous versions. I'm assuming they modified the internal wiring of events.

I'm not sure if your codesandbox is an example of what you are trying to do or just demonstrating the issue. However, if you are just trying to set an initial value, you can use the `defaultValue` prop on the `TextField`.

I will try to

[2019-08-15 14:31] minhaferzz commented on #220
@stramel In my use case, I'm getting values from the backend and setting the value after receiving it.

[2019-08-15 16:17] juanhenriquez opened #221 "watch not using the defaultValues of the useForm"
The `watch` method is not using the `defaultValues` specified in the `useForm` when it is called.
When you start to edit some of the registered fields, just then is when the `watch` starts to show some values, but if you don't edit an input/field, in the first render of the component the` watch` won't show anything.

[code]

Heres is a live example of the issue in codesandbox: https://codesandbox.

[2019-08-15 16:34] stramel commented on #220
It does appear they made some changes but i'm unsure how they would prevent that from working. https://github.com/mui-org/material-ui/compare/v4.2.0...v4.2.1#diff-1f94c95b4e8094138b96211b29be700e

[2019-08-15 20:47] tombertrand opened #222 "`getValues` returns an empty object when `defaultValues` is defined"
**Describe the bug**
As the title describes.
On the second component render, every information gets populated properly from `getValues`.

**To Reproduce**
https://codesandbox.io/s/react-hook-form-form-context-ok4x6
From the url above looking at the console shows an empty object on the initial render.

**Expected behavior**
the form values are returned on the initial render.

To explain a bit of co

[2019-08-15 21:07] bluebill1049 commented on #219
ha all good, nice!

[2019-08-15 21:37] bluebill1049 commented on #222
thanks for the detailed issue report. i am looking into it :)

[2019-08-15 21:38] bluebill1049 commented on #221
Thanks for the codesandbox makes my life much easier, I am looking into the issue :)

[2019-08-15 21:51] bluebill1049 commented on #222
please help on verify the fix 3.21.19-beta.1

[2019-08-15 21:51] bluebill1049 commented on #221
please help on verify the fix 3.21.19-beta.1

[2019-08-15 22:43] tombertrand opened #224 "checkboxes names using dot `.` notation and numbers to be returned as an object in the onSubmit callback"
**Is your feature request related to a problem? Please describe.**
I'm trying to organize the return of the `onSubmit` callback from checkbox input and facing some issue.

shown there: https://codesandbox.io/s/react-hook-form-form-context-53gv0

<input type="checkbox" name="hey.1" ref={register} checked />
<input type="checkbox" name="hey.2" ref={register} checked />
<input type="checkbox" name="h

[2019-08-15 22:48] tombertrand commented on #222
The fix works 👍 awesome lib btw!

[2019-08-15 22:50] bluebill1049 commented on #222
Thank you 🙏🏻 I will release this patch soon

[2019-08-15 22:51] bluebill1049 commented on #224
Kk will take a look at that. What’s the result u getting?

[2019-08-15 22:55] tombertrand commented on #224
Perhaps those screenshots can help understanding

![image](https://user-images.githubusercontent.com/19352322/63132139-162fbf80-bf8e-11e9-8601-580c55c0a916.png)

![image](https://user-images.githubusercontent.com/19352322/63132200-45dec780-bf8e-11e9-935f-459a52cf5d4c.png)

[2019-08-15 22:56] stramel commented on #224
@tombertrand I think the parser is getting confused by the number key. If you change the first number key to a string value `hey.'1'` it will return the object you are expecting.

[code]

although, that might not exactly work if you are looking up by a number.

[2019-08-15 22:58] tombertrand commented on #224
@stramel your solution just worked! thanks that will be a lot less code to transform to get those IDs back 👍

[2019-08-16 01:02] juanhenriquez commented on #221
Yes, it works @bluebill1049 ! Thanks for looking into this so fast  🚀

[2019-08-16 01:14] juanhenriquez commented on #221
Hey, just one more comment (I don't know if I should do it here)! I don't know if it is intended as it is or if it is a bug, but if you go to the same codesandbox example I've shared and you click on the checkbox in order to display the other hidden input of the form, you will notice that the `watch` will not include the value of the input that has just appeared when you clicked the checkbox.

So,

[2019-08-16 01:39] bluebill1049 commented on #222
released please close this issue when you happy :)

[2019-08-16 02:29] bluebill1049 commented on #221
That's the correct behavior, the input has been removed from the tree and hence the reference gets removed too (so does the value)

[2019-08-16 02:33] bluebill1049 commented on #224
yea. I think number key is the one confused the parse. 🙏 (probably not worth for me to scratch my head around to get the parsing fixed for this use case) 😅

[2019-08-16 02:37] juanhenriquez commented on #221
Yes, but I'm meant when the inputs is shown (The input is in the tree), the `watch` is not showing the value of the input. I have to focus on the input or edit it so the `watch` can know the input is there. Sorry if I didn't explained myself right 😅

[2019-08-16 02:55] bluebill1049 commented on #221
oh, I see haha 😄 I can see why this is happening too.

It's the execution order.

when you call `watch()`; the element is not yet removed from `render` so data returned.

[2019-08-16 03:11] #212 closed

[2019-08-16 13:33] tombertrand commented on #224
yep, can close for now unless more people asks for it. ATM, it doesn't give quite the expected structure using `item.'1'`but there are ways to navigate around and reconstruct an object in the `onSubmit`.

[2019-08-16 13:46] #222 closed

[2019-08-16 14:55] oliviertassinari commented on #220
Could the problem come from https://github.com/mui-org/material-ui/pull/16526?

[2019-08-16 15:00] stramel commented on #220
Just for referene, MUI related upstream issue https://github.com/mui-org/material-ui/issues/17018

[2019-08-16 15:02] stramel commented on #220
@oliviertassinari That's basically the only InputBase code changes that I noticed. I would assume it has to be within that. Maybe the `checkDirty` removal?

[2019-08-16 15:26] oliviertassinari commented on #220
Very possible, I don't really understand how this plugin work in the first place. The only way I can picture it work is by bypassing React, using the DOM input element directly.

Ideally, I wish we had a failing test case we can work with.

[2019-08-16 15:31] stramel commented on #220
@oliviertassinari Correct. basically, we use the DOM input ref to attach event listeners directly. I will see if I can write a failing test for your UI lib.

[2019-08-16 15:40] oliviertassinari commented on #220
Thanks, for instance, you could try to add the check dirty logic back. If it fixes the integration. You could then try to add one of the test cases we have removed, see if it fails without the check dirty logic. Does it make sense?

[2019-08-16 15:41] stramel commented on #220
Yes, thank you for providing some direction.

[2019-08-16 16:56] stramel commented on #220
@oliviertassinari It does fix it when I re-add the `checkDirty` back in for the uncontrolled inputs. I will open a PR with a failing test and then add a fix.

[2019-08-16 17:35] oliviertassinari commented on #220
Sounds great!

[2019-08-16 22:16] stramel commented on #220
Fix submitted upstream 👍

[2019-08-16 23:39] bluebill1049 commented on #224
thanks @tombertrand 🙏

[2019-08-16 23:39] #224 closed

[2019-08-16 23:42] bluebill1049 commented on #220
Thanks @oliviertassinari and @stramel for addressing this issue ❤️

[2019-08-17 17:21] GProst opened #226 "setError doesn't prevent form submission if set outside of onChange handler"
When I try to set an error via setError API outside of onChange handler (in onBlur for example) it sets the error and the formState.isValid equals to `false`. However, it doesn't prevent form submission.

Is that by design?

Here is a [codesandbox](https://codesandbox.io/s/react-hook-form-set-error-clear-error-xk57y)

Expected behavior:
When submit button is clicked `handleSubmit` isn't called and

[2019-08-17 17:38] GProst commented on #226
Also tried to pass input ref (and input element) as the 4th argument to setError, didn't help

[2019-08-17 18:06] GProst commented on #226
Was able to workaround that issue by switching to `onBlur` mode and using validation rules to `register` instead of using `setError`. But still, feels like `setError` should have worked similarly

[2019-08-17 23:05] bluebill1049 commented on #226
looks like this the correct behavior.  here is the reason:

you have set an error during `useEffect`
[code]

however, your input validation rule is saying a different story:

[code]

which is only required.

During submission, react hook form will validate your validation rule in `register/schema`, and then validation rule meet and pass.

which you should have done is put the validation inside of

[2019-08-18 15:25] muhawebmaster opened #227 "How to make validation to confirm password ()"
**How to make validation to mutch checking 2 fields ?**

Method below work, but register: required and minLength works only onBlur..

[code]
required autoFocus/>

Without mutch checking register: required and minLength work good.

`<input type="text" name="newPassword" ref={register({ required: true, minLength: 8})} placeholder="Новый пароль" required/>
`

In ( required: validate: (value) => value

[2019-08-18 16:56] GProst commented on #226
@bluebill1049 this does make sense to me indeed.
However, I faced with one inconvenience...
I want to achieve the following UX:
1. The input doesn't show an error until `blur` event (`mode: 'onBlur'` solves it)
2. After an error is shown input gets validated on `change` event so that it hides an error as soon as the validation passes (similarly to what happens with `mode: 'onSubmit'`)

But looks l

[2019-08-18 21:30] bluebill1049 commented on #226
yeah, agree not easily at the moment.

[2019-08-18 21:40] bluebill1049 commented on #227
[code]

[2019-08-18 21:40] bluebill1049 commented on #220
@minhaferzz you happy to close this issue?

[2019-08-18 21:56] minhaferzz commented on #220
Thanks everyone!

[2019-08-19 08:04] muhawebmaster commented on #227
I made const password = watch('password') and use password .. :)  watch('password') work perfect, Thanx! ))

[2019-08-19 08:18] bluebill1049 commented on #227
Great!

[2019-08-19 08:19] bluebill1049 commented on #227
If u find this lib useful, Please kindly leave a star to support this repo ⭐️

[2019-08-19 08:39] bluebill1049 commented on #227
close the issue when you ready too :) thanks

[2019-08-19 10:10] #227 closed

[2019-08-19 15:42] #226 closed

[2019-08-19 16:41] jcze91 opened #230 "Focus an input"
Hello,
I want to focus via a button click an input looking like this :
<Input   ref={register({ ... )}   name='name'    />

Usually, I call something like : input.current.focus() with input as a ref passed to the input.
But with the 'register({...}' taking place of my "usual" ref I don't known how to come with.

Thank you for your help

[2019-08-19 17:06] tombertrand opened #231 "Enhancement request: `formState.dirty`"
**Is your feature request related to a problem? Please describe.**
All of our forms will be listening to the `formState.dirty` value to show a disabled/enabled save button. The issue I'm currently having is for example I focus an input and blur, the form will be set to `dirty` while the value haven't changed. The same behaviour happens if my default value was "hi" then I set it to "hey" and change

[2019-08-19 21:38] bluebill1049 commented on #230
Hi,

I have that in the FAQ

https://react-hook-form.com/faq

go to `How to share ref usage?`

[2019-08-20 00:33] bluebill1049 commented on #221
going to close this issue, unless you have more questions

[2019-08-20 00:33] #221 closed

[2019-08-20 00:33] bluebill1049 commented on #231
I will take a look at this.

[2019-08-20 03:18] bluebill1049 commented on #211
@stramel you happy to close this one for now?

[2019-08-20 04:14] stramel commented on #211
I'm not sold on closing this yet. While I agree that if we implement every single feature, it will become hard to maintain and add bloat. I hardly think that a few lines of code can be considered bloat especially for the use the usefulness of the feature.

[2019-08-20 04:21] bluebill1049 commented on #211
Yea no worries @stramel I don't think it's amount line of code we added in. It's more like we introduce a feature, which is not so easy to document it down. what if we want the function to return something else, not just errors, and why function return would be combined with errors object. it doesn't feel natural to me when I was doing it, but again I do see its value. Just the implementation need

[2019-08-20 08:52] jcze91 commented on #230
Thank you !

[2019-08-20 08:52] #230 closed

[2019-08-20 09:25] bluebill1049 commented on #230
please support this lib by leaving a star. thanks in advance 🙏

[2019-08-20 09:30] oliviertassinari commented on #220
The issue is not solved yet.

[2019-08-20 09:32] bluebill1049 commented on #220
@oliviertassinari what's the remaining issue? I thought @stramel already submitted a PR for this issue.

[2019-08-20 09:47] oliviertassinari commented on #220
The latest comment by @eps1lon suggest that the best solution might be applied here.

[2019-08-20 09:55] bluebill1049 commented on #220
@oliviertassinari sure can I have bit more detail in terms the fix?

[2019-08-20 11:01] sidonaldson opened #239 "Validating Zero"
## Required validation triggers if my select returns number 0.

Setting custom validation rules don't trigger when using setValue if I pass it number 0

[code]

This triggers if `setValue('myProp', 0, true);`

Additionally

[code]

 The validate function isn't even called if I use `setValue('myProp', 0, true);`

I would expect the validate function to run every time there is an update.
Also, how s

[2019-08-20 11:11] bluebill1049 commented on #239
Thanks for the detailed issue report.

For your use case, I would recommend using validate without `required`.

I followed standard HTML validation for required where the input value is a string.

`<input name="test" value="0" />`

but we can make this work with `validate`

[code]

[2019-08-20 12:32] bluebill1049 commented on #231
not finalized just yet, but would like to test out the beta: `3.22.1-beta.1`

I am still testing and writing more tests. let me know if you find issues, that would help me deliver this feature quicker :)

[2019-08-20 12:47] tombertrand commented on #231
🦅On it!

[2019-08-20 13:09] tombertrand commented on #231
perhaps an error on my part, but after updating to the latest version I'm getting new TS errors, do I have to define a data schema? 🤔

![image](https://user-images.githubusercontent.com/19352322/63349458-75dcf080-c329-11e9-824b-177853773bfd.png)

[2019-08-20 13:28] tombertrand commented on #231
Tested with input, select & checkboxes, works as expected 🎉

[2019-08-20 14:26] tombertrand commented on #231
oh, perhaps we have forgot to reset dirty to` false` after the form is submitted?

[2019-08-20 17:47] stramel opened #240 "Fix release 3.22.0"
**Describe the bug**
Seems there is a problem with the build. I think reverting the `exports: 'named'` should fix it.

[2019-08-20 21:00] bluebill1049 commented on #231
@tombertrand will do! thanks.  @stramel look the type improve! great work mate

[2019-08-20 21:01] bluebill1049 commented on #240
what's the issue?

[2019-08-20 21:05] bluebill1049 commented on #239
let me double-check the website and let you know, would love to see you in the contribution list! :)

[2019-08-20 21:34] stramel commented on #239
Sorry 😅 don't know how that happened

[2019-08-20 21:43] bluebill1049 commented on #239
hahah

[2019-08-20 21:44] bluebill1049 commented on #240
release a fix now

[2019-08-20 21:46] bluebill1049 commented on #240
my bad i didn't check carefully before the release. i was testing an example and it was point to a local version of react hook form...

[2019-08-20 22:16] stramel commented on #240
Sorry, it wasn't running in cjs environments from what I could tell. Will test the latest version now

[2019-08-20 22:18] stramel commented on #240
Looks like 3.22.1 fixes it. Sorry for that! I should have verified it myself. Perhaps we can work on adding some automated checks for build verification?

[2019-08-20 22:18] #240 closed

[2019-08-20 22:53] bluebill1049 commented on #240
Yea I will look into that. no worries all good

[2019-08-20 23:45] bluebill1049 commented on #231
@tombertrand after submit if data still remain in the form, then the form should still consider as `dirty`. However, running reset should set `dirty` to `false`. FYI I am working on it, should be able to release this week :)

[2019-08-21 04:42] bluebill1049 commented on #231
looks like u just have to call `reset` after submit.

[2019-08-21 09:47] bluebill1049 commented on #231
it's merged, once @stramel finishes improve typing. I will release this patch :)

[2019-08-21 12:31] flycj opened #242 "使用material ui TextField select 无法获取数据"
**Describe the bug**
请看这个链接
https://codesandbox.io/s/react-hook-form-custom-input-m1br1
在使用嵌套组件时， 提交后没有获取到数据
并且 在控制台 提示：Missing field name: [object Object]
我不知道怎么解决这个问题
可能抽空看下吗，感谢🙏

[2019-08-21 12:49] bluebill1049 commented on #242
https://codesandbox.io/s/react-hook-form-custom-input-45q3o

看一下我修改的代码， 问题出在 `inputRef`
take a look at my updated code, the problem is the `inputRef`

[2019-08-21 12:54] bluebill1049 commented on #242
wait let me update the codesandbox

[2019-08-21 12:54] bluebill1049 commented on #242
ready now

[2019-08-21 13:00] bluebill1049 commented on #242
hmmm after change province, city is not working... i will take a look into why.

[2019-08-21 13:06] bluebill1049 commented on #242
its working you have an outdated version of react hook form.

[2019-08-21 13:45] flycj commented on #242
不好意思啊，回复晚了，我刚才在我的开发环境中使用你的方式，但是遇到了另外一个问题
https://codesandbox.io/s/react-hook-form-custom-input-m1br1
你可以点击这个链接
当点击开始“提交按钮”时 ，表单显示， 再次点击按钮时 标签隐藏，此时
[code]
这个inputRef函数中会因为 e 为 null 而报错

[2019-08-21 14:15] flycj commented on #242
不好意思哦， 又遇到一个问题
当<input name="name=[]" ref={register} /> name 是多个input 标签时
此时提交数据 为{"telephone":{"":"123"},"name":{"":"234"}}
具体情况见链接
https://codesandbox.io/s/react-hook-form-custom-input-m1br1
但是我觉得正确的数据格式应是 {"telephone":["123","12"],"name":["123","23"]} 才对

[2019-08-21 15:24] flycj opened #243 "<input name="name[]" ref={register} /> 数据不正确"
**Describe the bug**
当<input name="name[]" ref={register} /> name 为这个形式时，浏览器默认在表单提交时是一个数组形式的数据.
但是当前提交表单显示的数据 为{"telephone":{"":"123"},"name":{"":"234"}}
具体情况见链接
https://codesandbox.io/s/react-hook-form-custom-input-m1br1

[2019-08-21 15:24] #242 closed

[2019-08-21 15:31] stramel commented on #243
@flycj You need to specify an index in the array, like this.

[code]

[2019-08-21 15:34] flycj commented on #243
Thank you very much.
I will try this way right away.

[2019-08-21 15:38] flycj commented on #243
This way is really effective
I will close this issue
I wish you a happy life 🙏

[2019-08-21 15:38] #243 closed

[2019-08-21 16:26] yansusanto opened #244 "Example of form submission to Netlify"
I'm struggling to make the form submit to Netlify. Is there an example of how it is done?

[2019-08-21 16:31] oliviertassinari commented on #220
The concern is expresse in https://github.com/mui-org/material-ui/issues/17018#issuecomment-522869193

[2019-08-21 18:00] tombertrand commented on #231
I'm facing a couple issues with `reset` after submitting. So I'm doing:

[code]

`reset(getValues());` does set every values but the ones containing `'`

[code]

If I do `setValue("item.'1'", true);` after the reset, it sets the value correctly... 🤔

[2019-08-21 21:22] bluebill1049 commented on #242
哦 没问题 我会看的。 到时候回答你 昨天晚了去睡觉了。

[2019-08-21 21:51] bluebill1049 commented on #244
can you give a bit more detail and code example?

[2019-08-21 22:03] bluebill1049 commented on #239
I am going to close this issue for now, i will let you know what to update on documentation later on if you still interested :) 👍

[2019-08-21 22:03] #239 closed

[2019-08-21 22:05] bluebill1049 commented on #231
I can look into reset problem.

[2019-08-21 23:07] Haqverdi opened #245 "Register not work with antd design inputs"
**Describe the bug**
Register function not working with antd design inputs, i tried all ways with ref, but not working.

[2019-08-21 23:11] bluebill1049 commented on #245
you have a codesandbox? i may add an example to the website soon

[2019-08-22 00:32] yansusanto commented on #244
Thanks for the response. Here's my contact.js

[code]

[2019-08-22 00:33] bluebill1049 commented on #244
@yansusanto you want to join in for a chat? https://spectrum.chat/react-hook-form because looks like it's not the library issue here.

[2019-08-22 00:33] bluebill1049 commented on #244
I guess the whole form validation and submit works fine.

[2019-08-22 00:35] bluebill1049 commented on #242
哪一个问题？

[2019-08-22 00:36] yansusanto commented on #244
Yes, the validation works. Just that I couldn't find any real example of how it POST the data. Sure I will be at the other side.

[2019-08-22 00:42] flycj commented on #242
https://codesandbox.io/s/react-hook-form-custom-input-m1br1
你可以点击这个链接，我已经把问题还原了。点击两次 “提交按钮”  可发现问题

[2019-08-22 00:44] bluebill1049 commented on #242
看来是node 被删除的问题

if（e.node）？

[2019-08-22 02:13] #244 closed

[2019-08-22 02:16] flycj commented on #242
是因为 e === null 导致的。 但是在你发的链接中
https://codesandbox.io/s/react-hook-form-custom-input-2uizv
没有出现e === null 的情况。

[2019-08-22 02:28] bluebill1049 commented on #231
do you have a codesandbox with above issue?

[2019-08-22 02:43] bluebill1049 commented on #231
can you try this beta version? react-hook-form@3.22.2-beta.1 see if it solve your problem.

[2019-08-22 07:22] Haqverdi commented on #245
Yes, i am adding link https://codesandbox.io/s/zen-dan-6zmyw
I just wanted to clarify one point, auto registration and validation does not work, you can only do manual methods, for example:
`  const { register, watch, setValue } = useForm();

  const watchAll = watch();

  console.log(watchAll);

  // only working variant
  const onChange = e => setValue("form3", e.target.value);

  React.useEffec

[2019-08-22 07:30] bluebill1049 commented on #245
what do you mean? I am very confused here. The link you shared has no ant design input.

[2019-08-22 07:40] Haqverdi commented on #245
![image](https://user-images.githubusercontent.com/24776121/63495820-a65f8e80-c4d1-11e9-917f-594eda9cafe8.png)

[2019-08-22 07:41] bluebill1049 commented on #245
thanks, i am looking at it now

[2019-08-22 07:46] bluebill1049 commented on #245
https://codesandbox.io/s/black-grass-yh9ph

looks like `watch` is not working with antd, I will raise a bug there see what's the reason for that.

[2019-08-22 07:48] Haqverdi commented on #245
i will check, thanks for great library

[2019-08-22 07:53] bluebill1049 commented on #245
i have raised an issue there: https://github.com/ant-design/ant-design/issues/18411

[2019-08-22 08:00] Haqverdi commented on #245
thanks for reply

[2019-08-22 11:54] bluebill1049 commented on #245
by the way, i found a workaround for now: https://codesandbox.io/s/elastic-ptolemy-cr5xz

when you using `watch` in antd, you always need to set a `value`

[2019-08-22 12:12] Haqverdi commented on #245
i am tried it before, but in form edit mode it is problematic to set initial values and handle errors problematic too, when setValue error not cleared automatic
from one of components:
[code]

[2019-08-22 12:14] bluebill1049 commented on #245
try `setValue(name, value, true);`

[2019-08-22 12:20] Haqverdi commented on #245
additionally possible to implement the method for set complex values, example: object from api, maybe `setValue''S''`?)

[2019-08-22 12:21] Haqverdi commented on #245
i will try, thanks)

[2019-08-22 12:24] Haqverdi commented on #245
and impossible to set initial value, on manually register?

[2019-08-22 12:30] bluebill1049 commented on #245
you can't use `defaultValue` on the input?

for `regsitered` input, you can use the hook to initialised the default value. however, you are doing custom register, so probably not the case.
[code]

[2019-08-22 12:58] Haqverdi commented on #245
this case difficult to implement when using same form for add and for edit, with add no problem, but when to try set values only after they arrived from api

[2019-08-22 13:03] bluebill1049 commented on #245
agree, if you had `ref` registered then `setValue` is the right api for the job.

[2019-08-22 13:12] bluebill1049 commented on #245
have the input `ref` registered will make things much easier by using this library

[2019-08-22 13:38] Haqverdi commented on #245
yes when ref available and not wait data from api this library is great, thanks for your work

[2019-08-22 14:09] tombertrand commented on #231
that latest release did fix the issue with keys containing `'` 👍

so I ended up doing
[code]

[2019-08-22 21:40] bluebill1049 commented on #231
I will release this patch soon.

[2019-08-22 21:49] bluebill1049 commented on #245
https://codesandbox.io/s/reverent-tdd-ztpd6

check out this example, the settimeout bit is like server request

[2019-08-23 12:03] Haqverdi commented on #245
great idea, I will check, thanks a lot

[2019-08-23 12:34] bostrom opened #248 "Custom validations on multi select not getting Array"
I'm trying to validate a "select multiple" input using a custom validation in the register callback like so

[code]

However, the `value` passed to the validator function is always a String, the value of which is the topmost selected `option`.

Codesandbox available here https://codesandbox.io/embed/react-hook-form-1m47u

Is this a bug, or am I doing something wrong?

[2019-08-23 12:42] bluebill1049 commented on #248
Thanks for the detailed issue report, verified and it's a bug. I will patch it soon.

[2019-08-23 20:24] #231 closed

[2019-08-23 23:33] bluebill1049 commented on #231
@tombertrand I will update you here once we release the patch, we are blocked by one of the type improvement, once that's sorted we will let it out :)

[2019-08-23 23:39] bluebill1049 commented on #220
@minhaferzz sorry looks like the change are not been merged (https://github.com/mui-org/material-ui/pull/17025) :( hopefully, react hook form gets more popular, so MUI will consider to re-evaluating. I wish I could do something about it but unfortunately, it's a little bit out of my hand at this state. :(

[2019-08-24 02:02] bluebill1049 commented on #248
Thanks. this have been fixed: https://codesandbox.io/s/react-hook-form-qefbn

here is the beta version: 3.22.2-beta.7

[2019-08-24 02:06] bluebill1049 commented on #248
This patch should be released soon :) if there is no other issue found

[2019-08-24 04:31] dkusano opened #251 "watch() called with an array returns the defaultValues for falsy values"
When `watch()` is called with an array of field names, it returns the defaultValues for fields their values are empty string or `false`. It should returns empty values, not default values.

This behavior doesn't occurs when `watch()` is called with single field name or no arguments.

Here is an example code.
https://codesandbox.io/s/react-hook-form-watch-defaultvalues-ucp22

[2019-08-24 04:37] bluebill1049 commented on #251
This is the expected behavior.

The example you share they have the same output.

[code]

[2019-08-24 04:42] dkusano commented on #251
I'm sorry I didn't make it clear enough.

In the example, when you input empty string and checkbox off, `watch(["name", "agree"])` and `watch()` behave different.

[code]

[2019-08-24 05:58] bluebill1049 commented on #251
thanks, I have patched the bug: you can test out in this beta version: `react-hook-form@3.22.2-beta.8`

[2019-08-24 06:23] dkusano commented on #251
`react-hook-form@3.22.2-beta.8` works fine in my project. Thank you!

[2019-08-24 07:29] bluebill1049 commented on #251
Thanks we will release the patch soon.

[2019-08-25 13:08] bluebill1049 commented on #220
Since MUI is probably not going to support RHF for now, one of the options that I could think of is to use the custom register. Basically, register during `useEffect` without the `ref`.

[2019-08-25 13:49] jwthanh commented on #220
[code]
using `inputRef={register}` will resolve

[2019-08-25 21:27] dvluna opened #256 "Calling setValue on array fields causes inconsistencies in data"
**Describe the bug**
Whenever setValue is called using an array field there seem to be inconsistencies between the data returned via watch and getValues.  I have tried patch 3.22.1-beta8 and that does seem to resolve some inconsistencies but introduces other other issues such as values not being prefilled into inputs.

**To Reproduce**
I've setup a sandbox and hopefully that will clarify some of t

[2019-08-25 22:22] bluebill1049 commented on #256
can you update the codesandbox?

`ref={register({ name })}`

you shouldn't do register with {name}, should just be `regsiter`

[2019-08-25 22:24] dvluna commented on #256
I just updated the sandbox.  {name} has been removed.

[2019-08-25 22:24] bluebill1049 commented on #256
<p>friends getValues: {JSON.stringify(getValues())}</p>

also in the print out, you use getValues without attribute

[2019-08-25 22:25] bluebill1049 commented on #256
you may need to update the logic as well, for add and remove items. gotta go to work now but i will take a look once your example is updated.

[2019-08-26 06:45] bluebill1049 commented on #256
How did you go with it? I have a deployed the latest beta version `3.22.2-beta9`

[2019-08-26 06:47] bluebill1049 commented on #220
thanks, @jwthanh, it's a problem with `setValue` currently MUI doesn't support changing the value via input `ref`. so if you are not using `setValue` you should be fine with what you supplied.

[2019-08-26 07:25] dvluna commented on #256
I couldn't get  things to work correctly with the initial sandbox I setup.  I created a separate sandbox using  using 3.22.2-beta9 + useState + useEffect to see if I can get things behavior to work correctly, but no dice.  I continue to have issue with the default values being set when adding or removing array items.  I think it's only supposed to use defaultValues on the first render based on the

[2019-08-26 07:29] bluebill1049 commented on #256
maybe you shouldn't use defaultValues as the `counter`. Default value is not going to change.

[2019-08-26 07:30] bluebill1049 commented on #256
I think the problem here is your try to combine `result` with `defaultValue`. keep them separate things maybe easier.

[2019-08-26 07:31] bluebill1049 commented on #256
One of my example: https://github.com/react-hook-form/react-hook-form/blob/master/examples/arrayFields.tsx i am not sure how much it would help tho.

[2019-08-26 08:20] bostrom commented on #248
Wow, that was fast! 💪

Thanks!

[2019-08-26 08:23] bluebill1049 commented on #248
Thanks releasing tonight 🤗

[2019-08-26 09:32] bluebill1049 commented on #251
the patch has been released, please close this issue if works fine :)

[2019-08-26 09:32] bluebill1049 commented on #248
the patch has been released, please close this issue if works fine :)

[2019-08-26 16:29] aequasi opened #258 "Allow Multiple `pattern`'s for `register`"
**Is your feature request related to a problem? Please describe.**

Some fields can have multiple regex requirements. It would be very handy to be able to specify multiple patterns (and messages) that a field requires.

**Describe the solution you'd like**

You should be able to specify multiple patterns:

[code]

**Describe alternatives you've considered**

The only alternative to this is to forg

[2019-08-26 16:49] sktt opened #259 "formState.isValid flips to true when one field is optional"
**Describe the bug**
using mode: "onBlur" or "onChange", and one validated and one optional field, isValid flips to true as the first field successfully validates.

**To Reproduce**
1. go to https://codesandbox.io/s/lingering-sky-ycyb9
2. select the optional input
3. select the required input
4. observe formState.valid change!

**Expected behavior**
formState should not change

[2019-08-26 21:21] sktt commented on #259
here's the repro, switch between the two inputs and see how it turns valid

https://codesandbox.io/s/lingering-sky-ycyb9

[2019-08-26 22:04] sktt commented on #259
I'm pretty sure the issue comes from the check here https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L737

In this case we have 1 valid field (the optional one) and 1 validated field.

Btw, why is everything wrapped in useRef? :smile:

[2019-08-26 22:12] bluebill1049 commented on #258
@stramel we do allow multiple error message with validate.

[code]

@aequasi thanks for raising this issue, one of the primary goals is to stay close as HTML standard, basically how a pattern works in constraint API in HTML form. so for now, I think can use validate for such instance. :)

[2019-08-26 23:24] sktt commented on #259
actually i think the problem lies here, the test passes when validation options are passed in the second argument. But i'm not sure if that's legacy api since it's not demonstrated in docs afaik.

https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L536-L540

[2019-08-26 23:36] bluebill1049 commented on #259
thanks for the PR! ❤️ I will take a look into this, if you figure out the fix please send a PR too 😄

[2019-08-26 23:39] bluebill1049 commented on #259
oops, you are right, it was supposed to be the second argument.

[2019-08-26 23:46] sktt commented on #259
aahh so using it as second argument makes the test pass but breakes some other ones that look like this
![image](https://user-images.githubusercontent.com/1434608/63730658-8121a600-c86c-11e9-9cb9-92162bd91cf9.png)

[2019-08-26 23:48] bluebill1049 commented on #259
ha that's our bad on testing, let me fix this `inValid` issue first 😍

[2019-08-27 00:15] bluebill1049 commented on #259
@sktt please help on testing :) `react-hook-form@3.22.3-beta.1`

[2019-08-27 00:21] sktt commented on #259
Testing, Seems to fix my original issue!

Now I see that isValid will not be true unless all fields also are touched! I'm not sure if its a bug though. Saw this because I have a dropdown which has the first value selected by default.

[2019-08-27 00:22] sktt commented on #259
This one can be closed though! Thanks @bluebill1049 :)

[2019-08-27 00:28] bluebill1049 commented on #259
Do you have a codesandbox for this? let's fix it properly for you :) happy to look into it and we do a release with all the fix tonight

[2019-08-27 00:36] sktt commented on #259
here you go, should we make another issue?
https://codesandbox.io/s/cool-knuth-osvb3

[2019-08-27 00:43] bluebill1049 commented on #259
oh, I see the problem, let's raise a separate issue for this. I can look into that as well.

[2019-08-27 00:44] bluebill1049 commented on #259
I will merge the current PR for this issue.

[2019-08-27 00:44] #259 closed

[2019-08-27 00:46] bluebill1049 opened #264 "isValid value with defaultValue `select`"
here you go, should we make another issue?
https://codesandbox.io/s/cool-knuth-osvb3

This could be a new feature i guess, to let the initial value be the first of the select. but it's also a quite common pattern to let the first element be a placeholder so this one might not be straight forward.

_Originally posted by @sktt in https://github.com/react-hook-form/react-hook-form/issues/259#issuecom

[2019-08-27 01:56] sktt opened #265 "per input validation mode"
**Is your feature request related to a problem? Please describe.**
I want to trigger validation onChange to update isValid when checking checkbox or selecting a value in dropdown. But in general, ie text inputs I only want to validate onBlur, which is the normal case that i've provide to `useForm`.

**Describe the solution you'd like**
I imagine some kind of interface where we do `register({mode:

[2019-08-27 02:07] bluebill1049 commented on #265
hey @sktt I did consider about such API before, but I didn't go for it. It does introduce more complicity to the code base and API. I would recommend using `onBlur` with `setValue('name', 'value', true)`

[2019-08-27 06:30] sjsakib opened #266 "Errors doesn't clear on change while using `onBlur` mode"
**Describe the bug**
I'm not sure if this is a bug. But while using `onBlur` mode, errors don't clear when a field is changed like they do while using `onSubmit` mode.

**To Reproduce**
[Here](https://codesandbox.io/s/peaceful-framework-rphl3?fontsize=14) is a recreation.

**Expected behavior**
I expect the errors to be cleared when the corresponding field changes.

[2019-08-27 06:50] bluebill1049 commented on #266
when you using `onBlur` mode, errors get re-evaluated `onBlur` as well at this stage. we may look into introducing `reValidateMode` later on.

[2019-08-27 06:54] bluebill1049 commented on #266
current work around will be use `setValue(name, value, true)` true `onChange` will trigger validation

[2019-08-27 08:04] rpmonteiro opened #267 "form field value as a plain object?"
At the moment, if you want to keep a plain object as a value in the form, you have to serialize/deserialize it all the time:
[code]

Are there any plans to support just having a plain object as some field values?

An example use-case would be a custom auto-complete component where the user selects some value from a dropdown, but we need to persist the entire object as the value for that field.

Th

[2019-08-27 10:04] bluebill1049 commented on #264
@sktt FYI here

[2019-08-27 10:19] bluebill1049 commented on #267
Thanks :) you can't do `setValue('test', { data: 'test' })` ?

[2019-08-27 10:23] rpmonteiro commented on #267
No, it doesn't seem like it. I haven't investigated further, but it seems react-hook-form does a toString() on the value, because I get it back as "[object object]"

[2019-08-27 10:43] bluebill1049 commented on #267
oh ok, I will take a look at it. see if it will be an easy fix.

[2019-08-27 10:43] bluebill1049 commented on #267
what about his `setValue('test', { value : {test: 'test'}} `?

[2019-08-27 11:45] bluebill1049 commented on #264
please test this beta version with the PR: react-hook-form@3.22.3-beta.3

[2019-08-27 13:01] #251 closed

[2019-08-27 13:01] #248 closed

[2019-08-27 13:02] #258 closed

[2019-08-27 13:03] bluebill1049 commented on #245
going to close this for now, unless you have other questions :)

[2019-08-27 13:03] #245 closed

[2019-08-27 21:45] bluebill1049 commented on #258
@jlison yea we did discuss this feature, but it has its pro and cons (from lib perspective). for now, I will add this to the backlog and if more devs request it, then we will find a good solution for this.

[2019-08-28 01:22] bluebill1049 commented on #267
it works for my example https://codesandbox.io/s/exciting-bush-q1qfo

you want to check it out?

[2019-08-28 03:49] bluebill1049 commented on #256
thanks @bopfer for your suggestion. @dvluna if his answer solves your problem. let's close this issue?

[2019-08-28 04:04] bluebill1049 commented on #220
I am going to close this issue for now. feel free to add more questions in here. hopefully one day this lib gets more popular, MUI will consider supporting :)

[2019-08-28 04:04] #220 closed

[2019-08-28 05:07] bluebill1049 commented on #256
thanks for staring @dvluna it means a lot :)

[2019-08-28 05:46] #264 closed

[2019-08-28 05:46] bluebill1049 commented on #264
published :)

[2019-08-28 07:28] bluebill1049 commented on #167
@stramel it's actually difficult to write test with `jest-react-profiler` :( because useForm trigger re-render external. I tried a couple examples without luck, you want to take a quite a look and see what you can get out of it and then I can continue the work.

[2019-08-28 10:15] Tymek commented on #266
PR welcome?

[2019-08-28 10:23] bluebill1049 commented on #266
@Tymek PR definitely welcome. can you share some of the insight into how you going to implement it?

Some of my thoughts, at the moment `onSubmit` revalidate `onChange` and `onBlur` revalidate `onBlur`.

I was thinking to have `reValidateMode` to overwrite default behavior, so you can change `onSubmit` reValidate to `onBlur`, and `onBlur` revalidate to `onChange`

example:
[code]

[2019-08-28 10:47] bluebill1049 commented on #265
hey @sktt , per input validation mode should occur at `onChange` `onBlur` level, I am going to close this issue for now for the sake of keeping API simple :) feel free to reopen or leave comments if you still have a concern or better suggestion/solution.

[2019-08-28 10:47] #265 closed

[2019-08-28 11:24] bluebill1049 commented on #266
hmmm... thinking over this issue at the shower, I think it's not a good idea with `reValidateMode`. because if you set to `onChange` and some field you would like to `onBlur` then it can't be overwritten. I think it's easier to leverage `onChange` and `onBlur`, and I can provide an example of how to trigger validation `onChange` for `blur` mode.

eg:
[code]

you can easily turn `onChange` function

[2019-08-28 12:37] Tymek commented on #266
Is it possible to do this with `mode`? If `mode = "onChange"` can one of the inputs validate only `onSubmit`? For uncontrolled input `onChange={event => event.preventDefault()}` is too late.

[2019-08-28 12:44] bluebill1049 commented on #266
valid point @Tymek for that case, you probably have to do validation on submit level for that particular field.

[code]

[2019-08-28 13:10] famadori opened #271 "Don´t work with antd?"
I tried to use with input antd ui, but i received a message "Missing name". I beleave its a problem with antd but i prefere ask with you if you have any solution.

[2019-08-28 14:49] Tymek commented on #266
Adding validation events is OK, but changing/overriding validation event might be a bad pattern. In my work as codebase grows I'd probably end up with many events that are created and cancelled in unpredictable way. Also, `mode`s are not mutually exclusive.

Is something like this use case possible? Validation/revalidation events created in `useForm` cannot be prevented, but are optional.

[code]

[2019-08-28 15:36] opeah opened #272 "defaultValues from Redux"
Hi,

Again thanks for the great library 👍

I have an issue/question with defaultValues : I would like to fill my fields with async fetch.

Steps :

1. Async request
2. Store data into redux's store
3. Get props 'profile' from store
4. Input is empty => it's ok
4. Use profile.email into component
5. Set defaultValues in useForm hooks => does not work
6. Input is still empty

I try with defaultValue

[2019-08-28 15:46] Tymek commented on #271
@famadori `antd` has it's own form management and validation library. It doesn't forward `ref`s for [some weird reason :disappointed: ](https://github.com/ant-design/ant-design/issues/6970#issuecomment-318041995)

You can still fake it with `className`. [POC? codesandbox.io/embed/dazzling-darkness-lj1z9](https://codesandbox.io/embed/dazzling-darkness-lj1z9) . Remember it's a hack and will require

[2019-08-28 16:05] Tymek commented on #272
[guessing]
When you don't have direct control over `input.value`, `defaultValues` only work for initial render.
Try setting value when prop changes. Something like:
[code]

Pasting code as text can speed up debugging :)

[2019-08-28 18:47] opeah commented on #272
Thanks @Tymek it works!

[2019-08-28 21:26] bluebill1049 commented on #266
@barrymay @Tymek thanks guys, what about we make `revalidate` to `onChange` (any mode)?

[2019-08-28 21:29] bluebill1049 commented on #272
Thanks @Tymek :)

[2019-08-28 21:29] #272 closed

[2019-08-28 22:57] bluebill1049 commented on #272
@opeah by the way. you can use `reset` api to populate the entire form as well.
[code]

[2019-08-29 02:41] barrymay commented on #266
Yeah I think that would work

[2019-08-29 02:41] bluebill1049 commented on #266
let's go with that 🙏

[2019-08-29 02:41] barrymay commented on #266
to be clear that would still **avoid** validating prior to the first submit if it's onSubmit?

[2019-08-29 02:44] bluebill1049 commented on #266
correct @barrymay, only for **reValidate** :)

[2019-08-29 04:04] bluebill1049 commented on #266
@Tymek FYI https://github.com/react-hook-form/react-hook-form/pull/273

[2019-08-29 06:27] harish-bisht opened #274 "Form with file upload not working"
Form with file upload not working. I tried this work around,
useEffect({
  register({ name: 'file' }, { required: true }) // still have validation for required
}, [register])

const handleChange = (e) => {
  setValue('file', e.target.files[0]); // you get all the files object here
}

<input name="file" onChange={handleChange} />

Can anyone provide working example?

[2019-08-29 06:30] bluebill1049 commented on #274
what exactly you try to achieve here?

[2019-08-29 07:10] harish-bisht commented on #274
I wanted to submit a form with text fields data and file data using single submit handler

[2019-08-29 07:17] bluebill1049 commented on #274
what information you wan to sore with the file?

[2019-08-29 07:28] harish-bisht commented on #274
Information like name, description etc.

[2019-08-29 07:37] bluebill1049 commented on #274
oh ok you have a codesandbox i can have a play?

[2019-08-29 07:49] harish-bisht commented on #274
Sorry! I do have account there. When I submit data image parameter is displayed as image:{} in console. It is not posting File Object.

[2019-08-29 07:50] bluebill1049 commented on #274
share that codesandbox, i can have a look for you :)

[2019-08-29 08:40] ParmentierChristophe commented on #274
I had the same problem, I solved it by adding :

`    e.persist();
`

in your function

[code]

[2019-08-29 08:56] harish-bisht commented on #274
While debugging I find out that axios.post() is removing file object from data and making it image:{}

[2019-08-30 03:51] #266 closed

[2019-08-30 04:10] bluebill1049 commented on #266
This will be released soon for a minor update

[2019-08-30 04:13] bluebill1049 commented on #267
how did you go @rpmonteiro ?

[2019-08-30 08:46] bluebill1049 commented on #267
going to close this issue, feel free to reopen if you have more questions or issue is not resolved.

[2019-08-30 08:46] #267 closed

[2019-08-30 08:47] bluebill1049 commented on #274
I guess it's not an issue for React Hook Form, I am closing this issue, but feel free to ask questions here I will see what I can help with

[2019-08-30 08:47] #274 closed

[2019-08-30 08:48] bluebill1049 commented on #271
How did you go @famadori ?

[2019-08-31 19:08] famadori commented on #271
I have a simple form, so i use only this
<input className="ant-input" ref={register({ required: true })}>

I hope antd adds support for ref.

Good look

[2019-08-31 23:43] #271 closed

[2019-09-01 01:02] BorisTB opened #280 "Get form values without register"
**Is your feature request related to a problem? Please describe.**
It wasn't really obvious in doc that I must use `register` on every input to get its value on submit. This lib is really great (and your documentation page is beautiful) but I actually don't need any other functionality, just to handle submit and process input values.
// Ok, I just noticed "Get started" page and there it's super ob

[2019-09-01 01:35] bluebill1049 commented on #280
Hi @BorisTB, thanks for your kind words :) Yes, good suggestion. This was one of the features also suggested by @stramel. However, there is some flaw around this feature, this is not going to work smoothly with some of the custom components which have been created by the community, such as `react-select`. it's hard to assume what to grab within the form tag. hope this makes sense :)

[2019-09-01 13:26] sergii-vorobei opened #283 "Is it possible to validate fields only on `blur` and `submit` and not `change` events?"
**Is your feature request related to a problem? Please describe.**
I need to validate fields only on `blur` and `submit` events. Even when I choose `mode = onBlur`, still it validates the field both on `change` and `blur` events. The validation in `change` event is no needed for me. As far as I understand, `mode = onBlur` should validate only on `blur`. Am I right?

**Describe the solution you'd l

[2019-09-01 16:44] rpmonteiro commented on #267
Sorry, I couldn't come to the PC for the past few days. Everything is working fine, thank you!
It was a silly oversight on my code that was causing that weird behaviour.

Thank you very much for your help! 👍

[2019-09-01 21:39] bluebill1049 commented on #267
no worries :)

[2019-09-01 21:41] bluebill1049 commented on #283
hmmm, we recently made the change on that to introduce `onChange` for `onblur` with revalidate.  maybe we need a setting for that. FYI @stramel what about `reValidateMode`?

[2019-09-01 21:42] beepsoft opened #284 "Unable to setValue on hidden type inputs"
Hi,

**Describe the bug**
I use react-hook-form 3.23.0. I am not to be able to use setValue on type="hidden" input fields, while setValue works OK on default input fields.

**To Reproduce**
I have this simple component using semantic-ui-react.
[code]
**Expected behavior**
I want to use Semantic UI's Radio component visualized as a toggle. I would like to store the value of the toggle in a backing

[2019-09-01 21:45] bluebill1049 commented on #284
Thanks for the detailed issue report. hmmm, that's strange. it should just work. Are you happy to provide a codesandbox, I will take a look this when I am in the office :)

[2019-09-01 21:47] bluebill1049 commented on #280
hey @BorisTB, just a quick follow up, is the above comment make sense before I close this issue?

[2019-09-01 22:11] beepsoft commented on #284
Sure thing! :-) There you are:

https://codesandbox.io/embed/strange-margulis-p5geb?fontsize=14

So, you will have the same form components twice: once with a hidden and once with a text field as the backing field. Switch the toggle, press submit and see the console for the JSON generated by react-hook-forms.

Thank you very much for your effort!

[2019-09-02 00:17] bluebill1049 commented on #284
thanks for the codesandbox :) really helpful i will look into this issue.

[2019-09-02 00:59] bluebill1049 commented on #284
looks like is the `defaultValue` which causing this issue:

https://codesandbox.io/s/infallible-frost-kclhg

[2019-09-02 01:38] barrymay commented on #283
@sergii-vorobei if you have an error, do you not want that error to clear until a blur as well?

[2019-09-02 05:29] beepsoft commented on #284
Oh, thanks! I was not aware of the watch() function. So, what is the actual rule for using watch()? Should it always be used in defaultValue?

[2019-09-02 05:34] bluebill1049 commented on #284
https://react-hook-form.com/api#watch

you can watch any `registered` inputs, if you have defined `defaultValues` in useForm, then it will just flow through.

eg:
[code]

[2019-09-02 05:34] bluebill1049 commented on #284
but this issue was weird, probably only to do with defaultValue with hidden input in React.

[2019-09-02 08:38] sergii-vorobei commented on #283
@barrymay What I want is that error clears/disappears on `change` and input is revalidated only on `submit` and `blur` event. As far as I see it, just skip field validation on `change` event.

I was able to achieve something similar with `onChange={(e) => clearError('email')}` but it seems to be ugly and causes issues with async validation.

[2019-09-02 09:04] BorisTB commented on #280
Absolutely, thank you for explanation, I understand that there would be tons of bug reports even if you'd warn people they have to use register with custom components.

[2019-09-02 09:31] YM-KA opened #285 "Unable to reset form - still dirty"
The form is still dirty after submitting the form and then performing reset().
Form validation is then performed instantly on field change - not after submit.

**To Reproduce**
Steps to reproduce the behavior:
1. Fill out SignupForm with an already registered email address (see code below)
2. The form does _not_ validate field input before submit
3. onSubmit() dispatches an action that calls fireb

[2019-09-02 09:56] bluebill1049 commented on #280
Cool going to close this issue for now :)

[2019-09-02 09:56] #280 closed

[2019-09-02 11:34] rpmonteiro opened #286 "validate manually registered field?"
Let's say I have a custom component, and I register it manually from the parent (without using the ref callback).

The `validateFunction` doesn't destructure the `validate` function properly (the one that we manually register the field with).
**Consequence:** validation doesn't happen for that manually registered field

![image](https://user-images.githubusercontent.com/7824615/64111899-14377000-c

[2019-09-02 11:49] barrymay commented on #283
So is the reason for this ask because you're making an external/expensive call on each validation?

[2019-09-02 12:52] bluebill1049 commented on #285
any chance to provide a codesandbox for the issue?

[2019-09-02 12:57] bluebill1049 commented on #286
hi @rpmonteiro, thanks for the codesandbox :) that helps a lot

the problem is how you used register:

https://react-hook-form.com/api#register

it's the second argument.

[code]

[2019-09-02 13:00] YM-KA commented on #285
I tried, but the sandbox gave me other problems. I will give it another go and send you the link.

[2019-09-02 13:16] rpmonteiro commented on #286
ahhhhhh... fantastic!! It now works.

Thanks again, Bill!

[2019-09-02 13:16] #286 closed

[2019-09-02 13:44] bluebill1049 commented on #286
all good :)

[2019-09-02 13:57] YM-KA commented on #285
Hi @bluebill1049 thanky ou for the reply!
I have made a sandbox example that imitates the behaviour as close as I can. :)
https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-5v5jr

I am not fluent in promises, maybe the reject() from the Fgirebase API is the problem?
I hope you might be able to point it out to me, if that is the case.

Many thanks! /K

[2019-09-02 14:38] sergii-vorobei commented on #283
Yes, this too. But the main reason is that I want to display the error only when field looses focus and during the submit event. Not during the time when the user is entering something in the field.

[2019-09-02 16:28] YM-KA commented on #285
Hi @bluebill1049 ! I managed to remedy the problem. It was not related to react-hook-form.
I simply called the firebase.auth() in a wrong way.

My revised - working - code:
[code]

Many thanks for taking your time to respond!

[2019-09-02 16:28] #285 closed

[2019-09-02 16:34] barrymay commented on #283
last question, prior to recent releases, was this a problem?

[2019-09-02 22:01] bluebill1049 commented on #285
Nice! Not a problem at all :) feel free to raise other issues if u encounter any :)

[2019-09-02 22:08] bluebill1049 commented on #283
@sergii-vorobei can you try version 3.22.3? see if that version solves your problem.

[2019-09-03 00:44] bluebill1049 commented on #284
going to close this issue for now :) feel free to reopen if you have other questions

[2019-09-03 00:44] #284 closed

[2019-09-03 10:07] sktt opened #288 "[website] form builder, input type select dropdown not updating"
**Describe the bug**
The dropdown doesnt seem to respond to changes.

**To Reproduce**
1. go to form builder on the website
2. select som type different from "Text"
3. Text remains selected

**Expected behavior**
Update input type after select

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1434608/64164322-4ce94f00-c

[2019-09-03 10:09] bluebill1049 commented on #288
oops i will fix that :) thanks for picking that up

[2019-09-03 10:14] bluebill1049 commented on #288
fixed :) deploying

[2019-09-03 12:46] markplindsay commented on #230
@bluebill1049, I love this library, thank you for it (I've already starred it).

The approach in the FAQ doesn't work in TypeScript since `ref.current` is read-only. This is how I solved the problem:

[code]

I'm sure there is a better/cleaner way than using `useEffect`, but it works for me! I hope this helps anyone who views this issue and uses TypeScript.

[2019-09-03 13:03] bluebill1049 commented on #230
@markplindsay nice one :) and thanks very much for staring 🙏

curious to know why it's not working under FAQ
[code]

`firstNameRef` is under `useRef`.

let me know if that's not correct, i can always correct them :)

[2019-09-03 13:28] markplindsay commented on #230
It's a TypeScript error that appears in the `firstNameRef.current = e` line, with `current` highlighted:

[code]

This is what it looks like in vim (my code):

![Screen Shot 2019-09-03 at 5 24 18 PM](https://user-images.githubusercontent.com/1211543/64177103-d282f400-ce6f-11e9-86c5-4d6e9d3439c3.png)

`ref` is a [`RefObject` interface](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/1c92cef

[2019-09-03 15:56] sktt commented on #288
Works over here! cheers

[2019-09-03 15:56] #288 closed

[2019-09-03 16:01] sktt commented on #283
Ah! I didn't know we revalidate onChange  in onBlur mode when there's an error. i've implemented exactly the same manually. How does this work in 3.22.3?

[2019-09-03 21:55] bluebill1049 commented on #230
That’s really strange. That’s react API with ‘useRef’. You meant to assign value to it. https://reactjs.org/docs/hooks-reference.html#useref I will double check on this. Thanks will let u know 🤙🏻👌🏻

[2019-09-03 21:57] bluebill1049 commented on #283
@sktt previous version is onBlur For both :)

[2019-09-04 00:04] bluebill1049 commented on #230
[code]

@markplindsay this is the working version for Typescript :)

[2019-09-04 00:38] bluebill1049 commented on #283
@sergii-vorobei can you confirm if `version 3.22.3` works for you? then I can discuss with @barrymay @stramel in terms of the enhancement.

[2019-09-04 02:51] barrymay commented on #283
I think I'm getting the problem - the introduction of on change to his is allowing the validator to be called twice immediate, which could lead to perf problems:

I created a Pen to show this:
https://codepen.io/barrymay/pen/WNeXrMv?&editable=true#anon-signup

I'm not quite sure the best way to solve this and https://github.com/react-hook-form/react-hook-form/issues/266#issuecomment-526448226, but

[2019-09-04 03:54] bluebill1049 commented on #283
thanks, @barrymay I made a PR for this https://github.com/react-hook-form/react-hook-form/pull/290
this will improve the performance for this lib :)

[2019-09-04 07:19] olup opened #291 "Optionally trigger onChange event when setting value through ref"
I read a couple of this repo issue but I can't quite find my use case - I can't quite know if I am asking a stupid question or if it's a feature that doesn't exists.

I have a special input that has some cosmetic changes depending on the value : it's a material-ui-like input with schrinking placeholder. the ref is forwarded to the real input inside.

The input can be controlled or not, but even wh

[2019-09-04 07:34] bluebill1049 commented on #291
Any chance you can supply a codesandbox for the issue?

[2019-09-04 07:40] olup commented on #291
It's going to be difficult. I'll try later on today.

However it boils down to how can the state of my functional component (`MaterialInput`) track the value of it's internal (real) input when the `form-hook` lib is updating it's value throught REF.

This is as much a React general interrogation than one for this libraey.

React answer would be : trigger manually the `onChange` event every time yo

[2019-09-04 07:49] bluebill1049 commented on #291
React hook form focus on uncontrolled component as you would probably know. But if u need to trigger setState is also possible via ‘watch’

Your component can have a prop like value=“watch(‘value’)”

[2019-09-04 07:50] bluebill1049 commented on #291
I am on a bus sorry reply with code is difficult :( hope my above answer make sense

[2019-09-04 07:53] olup commented on #291
It's perfect, and I understand very well your answer. In the case you mention, should I then not `register()` the input's ref, but use `onChange` with `setValue()` ?

[2019-09-04 08:00] bluebill1049 commented on #291
@olup I couldn’t see ur code, but I think u most likely need a custom ‘register’ with validation rules and using setValue. Note u can even trigger validation with set value as well by pass third argument as true. :p

[2019-09-04 08:03] bluebill1049 commented on #291
Oh u still need register your input but probably don’t need the ref

U can do that during useEffect :)

[2019-09-04 08:12] olup commented on #291
That's what I thought. However performance seems too bad that way. I am trying to set the initial input differently or to listen to value change on the html input by registering to an event.

[2019-09-04 08:17] bluebill1049 commented on #291
What do u mean performance is bad? Do u mean it’s becoming a controlled component?

[2019-09-04 08:21] olup commented on #291
Yes, it is becoming a controlled element, but that's the goal. But in my case the controlled element is not performing that well. Quick type is okay but keeping key down lags a lot. So, as I just need this feature to pre-populate the form for now, I am trying to use an `initialValue` implementation. However, I am still daydreaming about a clean implementation, just registering the form and passing

[2019-09-04 08:28] bluebill1049 commented on #291
again it's hard to judge without seeing your code :) but I think idealy you just want an initial value (doing your animation) then let react hook form to collect the value for submit

[2019-09-04 08:37] olup commented on #291
Ideally, the library would have an option to trigger the `change` or `input` event when it manipulates the input - what do you think ?

[2019-09-04 08:38] bluebill1049 commented on #291
I don't think that is a good idea.

[2019-09-04 08:39] bluebill1049 commented on #291
but I am curious to know the reason behind.

[2019-09-04 08:47] olup commented on #291
I was just thinking of those cases when you indeed have some logic that needs to know about the input being changed. But actually it can be achieved equally by using `watch` and `setValue`, and it makes it clearer so my proposition is probably not a good idea.

[2019-09-04 08:47] #291 closed

[2019-09-04 09:28] bluebill1049 commented on #291
thanks for understanding @olup One of my primary goals is DX, I don't want to introduce complicated API to us, but I am glad you understand :) happy coding

[2019-09-04 18:06] manuelnas opened #293 "Add message to register({ validate: ... })"
**Is your feature request related to a problem? Please describe.**
I currently can't set a message when validating the value using the `validate` method.

**Describe the solution you'd like**
Be able to add a `message` to `validate` like I can do with `minLength` for example.

I have tried different methods, but couldn't get this message to show up in the errors object.

Example:
When the `minLeng

[2019-09-04 18:16] #293 closed

[2019-09-04 18:17] stramel commented on #293
`validate` doesn't take an object. If you want it to supply a custom message, you can just return a message from the function.

[code]

[2019-09-05 15:22] michal-samluk opened #295 "onBlur mode does not work until `triggerValidation` is called"
I am registering a bunch of fields using: `register({ required: true })`. After filling in all the fields, `formState.isValid` returns false. I am using `mode: 'onBlur'`
I added a button to manually trigger: `triggerValidation()`.

After it was called once, then blur works perfectly. If I clear one of the fields I am getting `isValid = false`. When I fill fields again it becomes `isValid = true`.

[2019-09-05 21:11] bluebill1049 commented on #295
I think i know the reason why:

can you try to use `setValue("select", event.target.value, true);` i need to trigger validation in order for react hook form to register isValid. The reason is that you are using custom `regsiter`. The ref is not binding into the registration.

test it and let me know if that fix the issue.

[2019-09-05 23:30] bluebill1049 commented on #283
going to close this issue for now. I think the performance issue has been addressed. in terms of revalidating mode until more people request for such feature then we will consider to add it in. Simple API is always the way to go :)

[2019-09-05 23:30] #283 closed

[2019-09-06 03:35] bluebill1049 commented on #167
instead of jest-react-profiler, I have used automation to capture the re-render counts. you can run

`yarn start:app` and `yarn cypress:open` to see the number re-render to be matched.

[2019-09-06 03:35] #167 closed

[2019-09-06 07:40] ManAnRuck opened #296 "[TypeScript] Export useForm return types"
**Is your feature request related to a problem? Please describe.**
Passing for example the register function from useForm to a child component with typescript isn't easy without exported register type

**Describe the solution you'd like**
i want to pass some return values (for example watch, setValue, register, …) to a child component.
But currently i can't access the watch type to add this as typ

[2019-09-06 07:47] michal-samluk commented on #295
Thank you, that works fine :)

[2019-09-06 07:47] #295 closed

[2019-09-06 17:02] ManAnRuck commented on #296
@bluebill1049 do you have an idea/hint to solve it? I wanted to create a PR but I really have no idea how it could work with nested functions 🙈

[2019-09-06 21:36] bluebill1049 commented on #296
what do you mean nested function? 🤔

[2019-09-07 12:12] beepsoft opened #297 "setValue()'s first parameter is always of type 'never' in Typescript"
**Describe the bug**
I try to use react-hook-form in Typescript. The IDE (IntelliJ in my case but also the Typescript compiler) complains that

```Argument of type "..." is not assignable to parameter of type never```

**To Reproduce**

Here's a simple codesandbox project. Open it in the Editor, wait a bit and you will see that in line index.tsx:8 "someField" will be marked red and mouse over will

[2019-09-07 17:04] heitoralthmann commented on #114
Hi guys!
I am also facing a scenario where I'd like _handleSubmit_ to skip validation.
Having two visible form fields, my _handleSubmit_ callback is supposed to hide one of them based on a custom condition. Being both fields marked as required, my _handleSubmit_ callback won't even get fired, given any of them is empty.

It'd be very interesting to have the ability to toggleValidation on _handleSu

[2019-09-07 17:45] stramel commented on #297
@beepsoft 	Your codesandbox is giving errors about crossorigin errors. However, if you pass the generic to `useForm` it should not give you any errors. In your case, `useForm<{ someField: string }>()` should get rid of the error. It shouldn't require the generic so I can look into that if you can provide a codesandbox that doesn't trigger cors errors.

[2019-09-07 17:47] stramel commented on #296
@ManAnRuck 	Can you provide a codesandbox? You might be able to do something like this as a workaround for now, `Pick<ReturnType<typeof useForm>, 'register'>`.

[2019-09-07 22:20] bluebill1049 commented on #114
@heitoralthmann is `validationFields` going to help you with this?

[2019-09-08 07:24] beepsoft commented on #297
Thanks @stramel! I know the example itself doesn't run but I just wanted to demonstrate the editing/IDE problem.

[2019-09-08 07:25] bluebill1049 commented on #297
@stramel is there any way we can improve on it?

[2019-09-08 08:29] ManAnRuck commented on #296
<img width="582" alt="Bildschirmfoto 2019-09-08 um 09 36 28" src="https://user-images.githubusercontent.com/2183135/64485098-31ec5580-d21c-11e9-8d66-e702b35ae056.png">
@stramel thanks, but I have some errors with this workaround.
I currently not so familiar with CodeSandbox but I try to prepare this 😅
https://codesandbox.io/s/react-hook-form-get-form-values-fxufd?fontsize=14

@bluebill1049 I mean

[2019-09-08 13:24] lnmunhoz opened #298 "formState.isValid is not being updated when fields are registered in useEffect"
**Describe the bug**
The `formState.isValid` property doesn't update when using `useEffect` to `register` the fields.

**To Reproduce**
The codesandbox below shows the behaviour.
https://codesandbox.io/embed/bug-react-hook-form-formstateisvalid-wont-change-if-fields-are-registered-on-useeffect-segvo

**Expected behavior**
The formState.isValid should change accordingly.

**Additional context**
I j

[2019-09-08 20:44] bluebill1049 commented on #298
hey, because you are using custom `register` and `ref` is not attached during the registration. https://react-hook-form.com/api#setValue during setValue, you should trigger validation.

setValue('name', 'value', true) // third argument will trigger validation.

[2019-09-08 21:29] stramel commented on #296
@ManAnRuck 	You're providing an object to your typing.

You would want to do something like this,
`type ChildInputProps = Pick<ReturnType<typeof useForm>, "register">;`
or
`interface ChildInputProps extends Pick<ReturnType<typeof useForm>, "register"> {}`

[2019-09-08 21:33] stramel commented on #297
@bluebill1049 Yeah, we _shouldn't_ require passing a generic. I think if I improve the typing to where the key extends string it should be fine. Will look into it.

[2019-09-09 00:06] silenceM opened #301 "when I have a request api in useEffect after api response the form will reset all form content"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
when I have a request api in useEffect after api response the form will auto reset all form content(I haven't use reset method)

**Expected behavior**
the form not auto reset form content

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop

[2019-09-09 00:07] stramel commented on #301
@silenceM 	Can you provide a codesandbox or some code that we can look at to explore the issue. There is no reason that the form should reset based on an async call in a `useEffect`

[2019-09-09 05:16] iamchanii opened #302 "How to reset dirty or reinitialize form? dirty never false after call reset()"
**Describe the bug**
Dirty is not reset after call reset().

**To Reproduce**
Here is codesandbox for reproduce: https://codesandbox.io/embed/smoosh-shape-fuy5e

1. There is `SampleForm` component to receive `user` and `onSubmit` props. it use `useEffect()` hook(line 15 ~ 18) for reset form when `props.user` is updated. but currently, I commented `reset(user)`(line 17) for reproduce.
2. change som

[2019-09-09 05:31] bluebill1049 commented on #302
Thanks @iamchanii will take a look this issue soon :)

[2019-09-09 05:54] bluebill1049 commented on #302
want to test out this patched beta version: `react-hook-form@3.23.5-beta.1`?

[2019-09-09 06:06] bluebill1049 commented on #302
working on my end, if you can verify. we can release this fix soon :) ❤️

[2019-09-09 06:08] iamchanii commented on #302
omg, blazing fast! I will check out your works!

[2019-09-09 06:15] iamchanii commented on #302
Good! I tested on codesandbox, and my production! thanks to your works! ⚡️I have to close issue!

![2019-09-09 14-10-15 2019-09-09 14_11_13](https://user-images.githubusercontent.com/26643843/64506991-69d6c400-d314-11e9-9da2-397bf198f598.gif)

[2019-09-09 06:15] #302 closed

[2019-09-09 06:17] bluebill1049 commented on #302
I will publish this patch :) happy coding ❤️

[2019-09-09 07:06] ManAnRuck commented on #296
thanks @stramel
I tried both your examples, but both return me
[code]
<img width="767" alt="Bildschirmfoto 2019-09-09 um 08 59 39" src="https://user-images.githubusercontent.com/2183135/64509899-0a12f580-d2e1-11e9-8966-16b19365100e.png">

I'm not sure if I can use the FormContext for my case. I want do prepare ant.design inputs to work in multiple forms. (ref doesn't work with antd)

[2019-09-09 12:10] lnmunhoz commented on #298
Oh all right! I didn't see that. Makes sense.

In my opinion this validate should be `true` by default, being false is so counterintuitive.
I will give it a try. Thank you!

[2019-09-09 12:10] #298 closed

[2019-09-11 03:02] bluebill1049 commented on #301
Feel free to reopen once u have more information around issue :)

[2019-09-11 03:02] #301 closed

[2019-09-11 03:02] bluebill1049 commented on #297
I have a PR on my way, it probably will solve this issue

[2019-09-11 11:25] alexeenko-frontend opened #304 "Different checking for onBlur and onSubmit"
Is there possible to required check and field type check (email, phone, etc) will works when onSubmit event, and when onBlur event do only field type?

[2019-09-11 11:39] bluebill1049 commented on #304
can you explain your question with a bit more detail? possible with codesandbox example?

[2019-09-11 12:11] alexeenko-frontend commented on #304
I can show schematically
![joxi_screenshot_1568203379728](https://user-images.githubusercontent.com/44862907/64696201-7c810280-d4a6-11e9-9a9a-33734ad3166d.png)

[2019-09-11 12:19] bluebill1049 commented on #304
isn't there is a `formState` `isValid`?

[2019-09-11 12:28] alexeenko-frontend commented on #304
At the event onBlur, the field will be valid if it matches the rule (only letters).
And on the event onSubmit, the field will be valid if it matches the rule and required.

[2019-09-11 12:36] bluebill1049 commented on #304
I am sorry, i don't think i understand what you after here... as much as i would like to help.

[2019-09-11 18:24] warrenmcquinn opened #305 "Overriding DefaultValues if form is dirty"
**Describe the bug**
When using `register` to provide DefaultValues to an input, it's possible that the input component will be removed from the virtual DOM and eventually re-added. Upon re-rendering, `register` will initialize the input as the DefaultValue, even if the form state has been changed (dirty)

**Expected behavior**
`register` could be able to use the most recent form state, instead of

[2019-09-11 22:34] bluebill1049 commented on #305
what do you mean to register with defaultValue? Like the example below?

`<input name="test" defaultValue="xxx" ref={regsiter} />`?

No, the state remain the same with re-render.

[2019-09-11 22:34] #304 closed

[2019-09-11 23:14] bluebill1049 commented on #297
can you test `3.23.6-beta.3` see if it resolve your issue @beepsoft

[2019-09-12 05:10] beepsoft commented on #297
`3.23.6-beta.3` solves the `never` problem, but now for this:

[code]

I got this  error
[code]

[2019-09-12 05:11] bluebill1049 commented on #297
thanks @beepsoft  which line was of code is causing this issue?

[2019-09-12 05:16] beepsoft commented on #297
The `defaultValue` is marked with red in my IDE. And it is the same no matter if I use `undefined` or  `""` after the `?`.

[2019-09-12 05:18] bluebill1049 commented on #297
@beepsoft what about remove the `watch` and just place 'start' maybe the return type for `watch`

[2019-09-12 05:26] beepsoft commented on #297
@bluebill1049 Well, you know, I had to use it because of this other issue: #284 ;)

[2019-09-12 05:33] bluebill1049 commented on #297
yea, I want to make sure its the return type of watch cause the issue.

[2019-09-12 05:39] beepsoft commented on #297
I see, it is definitely the `watch()` without that there's no TS error.

[2019-09-12 05:40] bluebill1049 commented on #297
cool will sort it out thanks

[2019-09-12 05:55] bluebill1049 commented on #297
strange, I tested myself there isn't any error:
<img width="711" alt="Screen Shot 2019-09-12 at 3 54 35 pm" src="https://user-images.githubusercontent.com/10513364/64757489-a9e8b180-d575-11e9-9b5d-30290738f4a9.png">

[2019-09-12 06:05] bluebill1049 commented on #297
@beepsoft

const { register, watch } = useForm<{
      start: string
}>();

if you give start type as string or a type should solve your problem.

[2019-09-12 06:07] bluebill1049 commented on #297
<img width="718" alt="Screen Shot 2019-09-12 at 4 06 34 pm" src="https://user-images.githubusercontent.com/10513364/64758216-58412680-d577-11e9-8724-3c3fb5b627cb.png">

[2019-09-12 06:23] beepsoft commented on #297
I still have the error, but maybe I'm doing something wrong. Can you please give me the codesandbox for the above example?

[2019-09-12 06:25] bluebill1049 commented on #297
nvm it's my fault, I did adjust the return type by remove `void` next patch should solve your problem.

[code]

[2019-09-12 06:50] bluebill1049 commented on #297
I have published `v3.23.6`, this should be a good patch for you.

[2019-09-12 14:30] stramel opened #307 "🤝 Need help? Visit our Spectrum community."
If you have a general question about React Hook Form we encourage you to post on our [Spectrum community](https://spectrum.chat/react-hook-form) instead of this issue tracker. The maintainers and other community members can provide help and answer your questions there:

If you're looking for general information on using React, the React docs have a list of resources: [reactjs.org/community/support

[2019-09-13 12:33] bluebill1049 opened #309 "📢 Is your company/business using React Hook Form?"
Hi guys,

Let me know if your company/business is using React Hook Form in production. I would like to set up a section under the Website to showcase the usage of React Hook Form. Name and logo of your company is all I need.

Thanks ❤️

[2019-09-14 05:10] bluebill1049 commented on #296
hmmm looks like I couldn't sort this one out as well :( @stramel you able to give more suggestions?

[2019-09-15 15:02] beepsoft commented on #297
I just tried with v3.23.7 and I still get this for the `defaultValue={watch(...`:

[code]

[2019-09-15 15:03] beepsoft commented on #297
But using useForm with properly defined type is really a good idea and I use it now like that and in that case it works perfectly.

[2019-09-15 21:45] bluebill1049 commented on #297
cool glad it works now 🙏

[2019-09-15 21:45] #297 closed

[2019-09-16 11:30] The-Code-Monkey commented on #73
How would we make this dynamic in the terms of similarly how reduxform and other libraries have their fieldarray that lets the user dynamically add another index to the array.

[2019-09-16 11:33] bluebill1049 commented on #73
@The-Code-Monkey check out the example folder for array fields. i think it's much simpler than react-form IMHO

[2019-09-16 22:48] b-wils opened #312 "Use a Real MutationObserver Shim when Testing"
When attempting to use this library with `@testing-library/react` I was having issues where calling a useState update in my submit callback was not being seen by the test runner. I used the information in https://github.com/react-hook-form/react-hook-form/issues/260 to get started. I could still log the updates in the component so it didn't seem to be a component problem.

I ended up adding https:

[2019-09-16 23:02] bluebill1049 commented on #312
Thanks heaps @b-wils for this info. I shall update my unit tests as well. I should include this information under website.

[2019-09-16 23:58] bluebill1049 commented on #312
I have updated the lib itself, will update the website to include this information tonight.

[2019-09-17 02:14] bluebill1049 commented on #312
I am closing this issue, the lib itself have been updated and website is updated as well under FAQ. thanks

[2019-09-17 07:03] #309 closed

[2019-09-17 08:33] The-Code-Monkey opened #313 "Remove Dirty Prop"
I would like to be able to disable the dirty prop as it is causing unnecessary re renders of components, this is happening when the dirty prop is toggling, I would like to be able to override this by passing a prop of dirtyDisable to useForm which will make the dirty prop either always true or just remove it from the useForm return all together.

[2019-09-17 08:50] bluebill1049 commented on #313
What’s the problem is causing you? Just extras render?

[2019-09-17 08:56] The-Code-Monkey commented on #313
the problem i am having is the fact that i have "field arrays" inside "field arrays" to be able to create a table that allows the user to choose different blocks similar to the wordpress editor but with more control for us to stop users being able to destroy the design, the issue is whenever i type in one of the fields anywhere there could be upwards of 50 fields inside of one array which is causi

[2019-09-17 08:58] The-Code-Monkey commented on #313
It also seems to be re-rendering all when one field gets added to the touched array too, why does this cause all to re-render.

[2019-09-17 09:06] The-Code-Monkey commented on #313
https://codesandbox.io/s/react-hook-form-basic-ok63f Here is a code sandbox of what i'm trying to do and what is happening might make more sense if i show it.

[2019-09-17 09:14] bluebill1049 commented on #313
1. if each render takes 10secs there is some fundamental issue with ur page or component performance. save form state re-render probably not going to solve your problem.
2. it's nor dirty `formstate` but `touched` attribute
3. react hook form already provide devs with great performance out the box due to the nature of uncontrolled component (while user type is not re-rendering the component)

so I

[2019-09-17 09:21] The-Code-Monkey commented on #313
It is re-rendering on dirty change because if you type in a field then clear the field when dirty goes back to false it re-renders, also why is it re-rendering when it gets touched there shouldn't be a reason for it to re-render if it doesn't need to when changing the field any time after that. I will attempt to get this into a video sometime today as i should be working on the project that this h

[2019-09-17 09:38] bluebill1049 commented on #313
`dirty` indicated when the form is in the original shape or not. it's trigger re-rendering because people who use `formState` will need to update UI accordingly. `touched` may not be useful in your app but it's widely used in form building.

yea, let's keep this issue open for a while, see if other users having the same issue, also video doesn't really help much, having working code in codesandbox

[2019-09-17 09:46] The-Code-Monkey commented on #313
I really love what you have done with the project though it is much quicker and lighter than the other form modules out there.

[2019-09-17 09:49] bluebill1049 commented on #313
thanks :) glad I can contribute my 2cents to the react open-source community

[2019-09-17 10:29] The-Code-Monkey commented on #313
I know you said a video wouldn't help much but i can show you this is just being caused by the touched being updated within the form some reason causing every field to be updated.

![Sep-17-2019 11-27-48](https://user-images.githubusercontent.com/31218527/65034122-4b894d80-d93e-11e9-81fe-99410289d2cd.gif)

as you can see i added a rerender with the field name to each thing and that is how many i g

[2019-09-17 10:30] bluebill1049 commented on #313
This looks really strange, you only have one field on the screen tho

[2019-09-17 10:31] The-Code-Monkey commented on #313
Yeah in theory everything is inside of one giant array that way we can control it much easier and allow users to be able to add a new block to the page, unless there is a better way apart from having one giant array?

[2019-09-17 10:33] The-Code-Monkey commented on #313
each object in the array has a type of what component it is which resides within the component as a switch so we can render what is needed. all we need to do to add a new block is push into the array a new element at whatever index we want with a type and it will render.

[2019-09-17 10:34] bluebill1049 commented on #313
also, each time you type should only trigger one re-render as well, why this is re-render everywhere?

[2019-09-17 10:36] bluebill1049 commented on #313
Would be much useful if you can set up a codesandbox and show how you set up the app/form?

[2019-09-17 10:37] The-Code-Monkey commented on #313
yeah ill see if i can get this into a code sandbox for you there is alot of code within this.

[2019-09-17 10:38] bluebill1049 commented on #313
yea sure you don't have to get everything over, just a setup so i can reproduce the issue

[2019-09-17 10:40] The-Code-Monkey commented on #313
ill have a go gimme about an hour and a half ill do it on my lunch break.

[2019-09-17 10:44] bluebill1049 commented on #313
no rush at all @The-Code-Monkey we will leave this issue open until we work something out

[2019-09-17 12:21] The-Code-Monkey commented on #313
Hi @bluebill1049 i have had a go it doesn't look exactly like the version i showed before as the styles are off but the content that renders is. if you edit at the section in the image and look at the console youll see the re renders,

![image](https://user-images.githubusercontent.com/31218527/65041129-ea697600-d94d-11e9-9de2-19990e2211c3.png)

https://codesandbox.io/s/react-hook-form-form-contex

[2019-09-17 12:21] The-Code-Monkey commented on #313
sorry the code isn't formatted the best

[2019-09-17 12:41] bluebill1049 commented on #313
no worries at all, i will take a look tmr bedtime here :) but i will see what we can work out 👍

[2019-09-17 12:41] The-Code-Monkey commented on #313
yeah no worries. good night

[2019-09-17 14:25] marracheco commented on #305
@warrenmcquinn I ran into this problem in a multipart/wizard-type form where registered fields were being mounted and unmounted. I ended up registering the fields in the main form component via `useEffect`. That way the registration of the fields aren't tied to the fields themselves and are still accessible through the form context.

[2019-09-17 14:32] b-wils commented on #312
Thanks for the quick response and update! You could probably move the Shim to a global jest setup  like in the other thread. I've got it in my test case because I'm using Create React App which has limited support for global jest configuration.

[2019-09-17 14:47] stramel commented on #312
@b-wils It is in a global jest setup file,
https://github.com/react-hook-form/react-hook-form/blob/6d908eeb81cc551fd7d2f3aa1901cfd9197e1199/setup.ts#L1

[2019-09-17 14:54] b-wils commented on #312
@stramel Nice! I was looking at the FAQ which uses the individual test hook. It would be worth mentioning it there as well.

https://react-hook-form.com/faq/

[2019-09-17 20:39] AlexFrazer opened #314 "`watch` on nested fields should unfold into an object."
**Is your feature request related to a problem? Please describe.**
I am using `useForm`, which gives me `watch`. I have a field which represents a nested value.

[code]

When I submit, it serialized as follows:
[code]

However, when I use `watch`, it gives a different result

[code]
The result of the console.log is like this:
[code]

**Describe the solution you'd like**
Ideally, I would want the a

[2019-09-17 21:24] bluebill1049 commented on #312
@b-wils i will do that.

[2019-09-17 21:38] bluebill1049 commented on #314
hey @AlexFrazer you can use watch('colors')

[2019-09-18 03:24] bluebill1049 commented on #313
I had a look at the codesandbox, I think i can spot couple issues:

1. you have a lot of forms and you hoist the <FormContext /> at the root, which means any state change or update will re-render within the FormContext.
2. Some of the children are missing keys

My recommendation:
1. use `useForm` on each form and collect data use a state management lib such `redux` or https://github.com/bluebill10

[2019-09-18 03:49] bluebill1049 commented on #313
I think the root cause of this issue is that you are trying to use react hook form as a form lib and state management library, which it should only do form.

[2019-09-18 03:56] chungweileong94 opened #315 "Radio Input + React Router = TypeError: Illegal invocation"
**Describe the bug**
I'm trying to use radio inputs in my form, so when I click submit, I will then use React Router to navigate to a route. However, it keeps throw me an error `TypeError: Illegal invocation` during the navigation.
After some investigation, the problem is basically caused by the radio input, which when it trying to remove the listeners.

**To Reproduce**
1. Add radio inputs in the

[2019-09-18 03:58] bluebill1049 commented on #315
Can u share ur code in a codesandbox?

[2019-09-18 04:17] chungweileong94 commented on #315
@bluebill1049 Sure, here the simple [example](https://codesandbox.io/s/green-surf-vjibs?fontsize=14).

[2019-09-18 04:40] chungweileong94 commented on #315
@bluebill1049 I tried to downgrade the to version 3.23.7, and problem solved. I guess the 3.23.8 break something.

[2019-09-18 05:09] bluebill1049 commented on #315
thanks @chungweileong94 i will take a look

[2019-09-18 06:13] bluebill1049 commented on #315
i have patched issue ❤️ thanks for reporting.

[2019-09-18 06:14] bluebill1049 commented on #315
if you find it useful please leave a ⭐️ too thanks :)

[2019-09-18 06:14] #315 closed

[2019-09-18 07:15] The-Code-Monkey commented on #313
Ok i sorta understand the fact that all this does is get the values from the actual field rather than storing it in redux like other forms do, But in terms of re-render again it still only does it when touched gets updated. So what you are suggesting is to wrap stuff around the form context that will handle the state?

[2019-09-18 07:23] The-Code-Monkey commented on #313
Also just to answer your other questions / recommendations, In the full project we are using redux for state management, and there is only one form on the page using the formContext wrapper at the top level.

[2019-09-18 07:30] bluebill1049 commented on #313
@The-Code-Monkey so my suggestion will be: you should build forms in React like how you write HTML forms.

you write a form and collect the data and submit to redux/store. That way you isolating the state update and form rendering and give good performance for your page as well. The problem here is not forming state getting updated, it's each state change you are re-rendering the entire app.

hope

[2019-09-18 07:35] bluebill1049 commented on #305
@marracheco this is how we building wizzard form at work
[code]

Each page renders itself and during submission, it will update the data in the store.

[2019-09-18 07:38] The-Code-Monkey commented on #313
So onChange of X field call a redux action or state action that will store the field value? this would improve performance?

[2019-09-18 07:42] bluebill1049 commented on #313
@The-Code-Monkey remove FormContext from the root and having useForm at your Form level and collecting data per form not the entire page of field. isolate state update per form.

[2019-09-18 08:00] The-Code-Monkey commented on #313
We aren't submitting the form at the point where its slow though its only slow when you change an input for the first time. so adding it to redux on submit isn't gonna do anything. because on submit its going to go straight to an api.

[2019-09-18 08:14] bluebill1049 commented on #313
I meant store the field data in redux, and remove form context and using useform on each form group. So state update is isolated to per component. Redux is only storing the data.

[2019-09-18 08:16] The-Code-Monkey commented on #313
oh so update the local state of the component onChange of the field that it is in ill have a go with that see if that changes anything

[2019-09-18 08:19] bluebill1049 commented on #313
Yes keep your state update local. Don’t render the entire app. Use useform on each form component 🤙🏻

[2019-09-18 08:22] The-Code-Monkey commented on #313
So on that codesandbox I sent I would do const form = useForm() then do whatever i needed to do to update state and all that stuff lemme have a go and ill see what i can find. i will still need to do the ref={register} stuff

[2019-09-18 08:32] The-Code-Monkey commented on #313
i have simplified the form to two text boxes using what you said and now when i submit the form the object it returns is blank. https://codesandbox.io/s/react-hook-form-form-context-gpphf i have updated the codesandbox so it looks like this now.

[2019-09-18 08:34] bluebill1049 commented on #313
Let me have a look tonight. By the way not each input, a group of input. The screenshoot u shared where a block of inputs. This is where u want to use useform

[2019-09-18 08:35] bluebill1049 commented on #313
Nah not stupid at all. We are learning and make mistakes ❤️👍🏻

[2019-09-18 08:36] The-Code-Monkey commented on #313
Oh ok that makes more sense i will take a look at it within our built cms as its much easier to code in my ide than sandbox. But that makes a lot of sense now. I'll leave this open for now.

Thanks for being so understanding.

[2019-09-18 08:56] The-Code-Monkey commented on #313
So what you're saying is make each block its own little form in theory and then that will update the master form that is stored in redux?

[2019-09-18 09:22] bluebill1049 commented on #313
Yea! That’s right. Redux is your data store. ❤️

[2019-09-18 09:30] The-Code-Monkey commented on #313
And i have to pass that form down to the children if i want to use the register on it?

[2019-09-18 09:33] The-Code-Monkey commented on #313
Also how would you suggest to submit the form which wraps each block without having the user click a button as obviously we can't do it on change would you suggest doing it on blur?

[2019-09-18 09:45] bluebill1049 commented on #313
Pass down or use form context, now form context is not at root of ur app. It’s fine and u can do onBlur and use getValues and submit data to redux

[2019-09-18 09:54] The-Code-Monkey commented on #313
ah ok that makes sense.

[2019-09-18 09:57] kammasuresh opened #316 "text area example"
Hi Is there any text area example ?

[2019-09-18 10:07] The-Code-Monkey commented on #313
Just out of curiosity is there a reason why the form re-renders each time you type in a field the first time. Is this not something we could wipe out completely

[2019-09-18 10:18] bluebill1049 commented on #316
<textarea ref={register} /> it's the same @kammasuresh

[2019-09-18 10:20] bluebill1049 commented on #313
it's for `formState` touched, any form is touched. I think react hook form's performance is great compare with other lib, at this state i dont plan to omit out formstate, because a lot of users need touchedFields to be updated and isDirty flag.

[2019-09-18 10:39] The-Code-Monkey commented on #313
Fair enough that makes sense, or is there another option of doing a function called useFormState which is imported the same way useFormContext is?

[2019-09-18 10:44] bluebill1049 commented on #313
No we don’t have such an api. That makes api more complicated, my focus is on DX and performance.

[2019-09-18 10:46] The-Code-Monkey commented on #313
Ok no worries was just an idea of something that could come later down the line, in maybe a future update.

[2019-09-18 10:48] The-Code-Monkey commented on #313
Thanks for your help, i think we can happily close this now and say we found the solution in combining it with redux rather than attempting to make the form handle it, The idea of little mini forms wrapper each block container is a much more elegant idea.

[2019-09-18 10:48] bluebill1049 commented on #313
Sure thanks for the suggestion.

[2019-09-18 10:49] #313 closed

[2019-09-18 10:50] The-Code-Monkey commented on #313
I would be happy to help maintain the project and support via github issues, i feel like i understand the logic much much more during our little chat.

[2019-09-18 10:53] bluebill1049 commented on #313
That would be awesome @The-Code-Monkey ❤️👌🏻If u find it useful plz star the project and share among your community and friends 👍🏻

[2019-09-18 10:53] The-Code-Monkey commented on #313
Well the company i work for is going to be using it from now on so i will star it.

[2019-09-18 10:57] bluebill1049 commented on #313
Great to hear 👂 thanks for staring

[2019-09-18 11:17] bluebill1049 commented on #313
by the way, you can find help in here as well: https://spectrum.chat/react-hook-form or help others with the similar issue too 👍

[2019-09-18 13:55] The-Code-Monkey commented on #316
I feel like this issue can be closed as it was more of help than a bug?

[2019-09-18 15:44] kammasuresh commented on #316
Plz close this

On Wed, 18 Sep 2019, 2:55 pm The-Code-Monkey, <notifications@github.com>
wrote:

[2019-09-18 15:45] kammasuresh commented on #316
Plz close it

On Wed, 18 Sep 2019, 2:55 pm The-Code-Monkey, <notifications@github.com>
wrote:

[2019-09-18 17:07] dpgalloway commented on #256
I know this is closed, but I was facing a similar issue when using react-select. Using setValue for react-select for a multi-select (where value is stored as an array), watch() was not triggering when the setValue value was an array. I finally got it to work by just adding true as the third argument in setValue (for shouldValidate?). So for the react-select onChange, I use: `setValue(inputName, se

[2019-09-18 20:21] sinnlosername opened #318 "Helper methods for errors object"
**Is your feature request related to a problem? Please describe.**
Many component libraries have a property on their fields which decide whether is is invalid or not. For example, in the case of material ui this is the "error" property. It's a boolean, so you always need a != null there, as errors.fieldName is an object, not a boolean.

Also when writing the error message somewhere you'll always h

[2019-09-18 21:16] andrewlsimplisafe opened #319 "setValue() does not trigger a update to the watch when used in useFormContext"
**Describe the bug**
A clear and concise description of what the bug is.
I am currently trying to listen to changes watch and in the scenario where I use the `useFormContext()` hook, the watch doesn't update onChange. Avoiding the use of refs given I am currently hooked in materialUI

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a function component with a useForm hook '
2. render a

[2019-09-18 21:21] milesrichardson commented on #40
FYI, the above solution did not work for me because `debounce()` will not automatically return the value of its async callee. This is the approach I took:

[code]

[2019-09-18 21:34] #316 closed

[2019-09-18 21:39] bluebill1049 commented on #40
@michaelbirchler you sure this is not going to work? i think i miss the duration as second argument
[code]

[2019-09-18 21:45] bluebill1049 commented on #256
can you share a codesandbox for this issue?

[2019-09-18 21:46] bluebill1049 commented on #305
going to close this issue for now, if you have more questions feel free to reopen. i will probably do a wizard form example soon.

[2019-09-18 21:46] #305 closed

[2019-09-18 21:47] bluebill1049 commented on #318
you don't have to do null check? why not just `errors.test`

[2019-09-18 21:50] bluebill1049 commented on #318
Thanks for the suggestion. ❤️  I would like to add such a helper but at the same time, it increases the bundle size of this lib, I personally care a lot about the size of the package. I believe this also can be achieved easily with lodash get or even write a utility function at your own project. let me know what do you think?

[2019-09-18 21:52] milesrichardson commented on #40
That will work, yeah, because you are setting the value of `this.albums` (outside the scope of the callback) from within the callback. But if the callback simply returned a boolean, it would not work.

i.e., this did not work for me:

[code]

I needed to wrap `debounce` with a Promise because `debounce` does not return a promise that resolves with the value of the function it's wrapping.

[2019-09-18 21:54] bluebill1049 commented on #319
Yea codesandbox would be help on looking into this issue.

[2019-09-18 21:56] bluebill1049 commented on #40
@milesrichardson cool thanks for the quick response and info 👍

[2019-09-18 22:31] dpgalloway commented on #256
@bluebill1049 https://codesandbox.io/s/react-hook-form-array-watch-issues-bm7qt

On the "not working" input, after you select once, no further changes will be watched. The only difference to get it working correctly is adding the "true" for shouldValidate in the setValue function.

One weird thing I did notice is that this only seems to happen when the select inputs are child components and setVal

[2019-09-18 22:58] bluebill1049 opened #320 "rseset not triggering re-rendering"
@bluebill1049 https://codesandbox.io/s/react-hook-form-array-watch-issues-bm7qt

On the "not working" input, after you select once, no further changes will be watched. The only difference to get it working correctly is adding the "true" for shouldValidate in the setValue function.

One weird thing I did notice is that this only seems to happen when the select inputs are child components and setVal

[2019-09-18 23:00] bluebill1049 commented on #256
thanks a lot @dpgalloway I have raised an issue, let's track it there: https://github.com/react-hook-form/react-hook-form/issues/320

should be able to patch this issue quickly.

[2019-09-18 23:01] dpgalloway commented on #256
Thank you! And great work on this library, I've been enjoying it!

[2019-09-18 23:05] bluebill1049 commented on #256
thank you! so glad to hear that @dpgalloway

[2019-09-18 23:13] bluebill1049 commented on #320
i have patched with react-hook-form@3.23.10-beta.5 will be released in the next patch.

[2019-09-18 23:14] bluebill1049 commented on #256
@dpgalloway react-hook-form@3.23.10-beta.5 patched will be release in the next patch

[2019-09-19 00:35] bopfer commented on #318
I am using Material UI + TypeScript + react-hook-form and I do this:

`error={!!errors.fieldName} helperText={<FieldError error={errors.fieldName} />}`

The `!!` makes it a boolean, which is required in MUI's types.  Then the component for `helperText` gives me one place to handle the rendering for all form fields.  In there I can check to see if there is a message to show.  If there is no error m

[2019-09-19 00:36] bluebill1049 commented on #318
awsome! thanks @bopfer

[2019-09-19 00:37] bluebill1049 commented on #319
there is a PR for this issue https://github.com/react-hook-form/react-hook-form/pull/321 will patch soon, thanks for reporting

[2019-09-19 01:04] andrewlsimplisafe commented on #319
Ahh awesome! Thanks for the quick response. I managed to build out a quick demo of the issue.

https://codesandbox.io/s/react-hook-form-setvalue-with-controlled-input-bug-fgeik

[2019-09-19 01:09] bluebill1049 commented on #319
haha thanks mate ~

[2019-09-19 01:11] bluebill1049 commented on #319
this is the beta version: react-hook-form@3.23.10-beta.5

[2019-09-19 05:47] bluebill1049 commented on #314
i am closing this issue, feel free to ask a question if this above solution is not working for you.

[2019-09-19 05:47] #314 closed

[2019-09-19 15:46] sinnlosername commented on #318
I think if people use your library in bigger projects then they'll actually end up having a lower total file size with a helper, because the overhead of the suggested way (`errors.fieldName && errors.fieldName.message`) will probably be larger than such a simple helper.

However, it depends on where you put the line between usability and file size.

@bopfer Could you share the source of your Field

[2019-09-19 15:47] dpgalloway commented on #320
I'm having another issue that seems to be related, but might have been fixed with this patch. When I call the reset function, it does not trigger the watch or re-render. I can create a sandbox, or I can wait to try out this new patch to see if it's already resolved.

[2019-09-19 17:04] bopfer commented on #318
Here's my `FieldError` component.

The main thing it does for me right now is convert validation errors, which are camelCase, into user friendly errors.  Long story but this is due to how i18n works in my app.  The general idea is that it does whatever processing and styling is needed for the error before displaying it.

[code]

[2019-09-19 18:58] marracheco commented on #305
@bluebill1049 I appreciate your response and the wizard sample. My needs are a little more complex, but I still really like your approach.

As far as the wizard example, I'd love to help out.

[2019-09-19 19:46] AlexFrazer opened #322 "`reset` does not update watched values"
**Describe the bug**
Using `reset` from the default export does not cause the watched values to update.

**To Reproduce**
Steps to reproduce the behavior:
Take the following example:
[code]

I then create a custom `ReactSelect` using the same basic items

[code]

When I click the reset button, it doesn't cause the watched values to update

**Expected behavior**
I expect `watch` to re-run with an e

[2019-09-19 20:35] bluebill1049 commented on #305
@marracheco would you like to send a PR for your Wizzard example? we can have it under example folder. (keep it simple so devs can pick up the idea)

[2019-09-19 20:37] bluebill1049 commented on #320
@dpgalloway it could be related if you can reproduce a codesandbox would help a lot

[2019-09-19 20:43] bluebill1049 commented on #318
Did you try with lodash? you can do this in oneline with lodash `get(errors, 'name', false)`

[2019-09-19 20:45] bluebill1049 commented on #322
can you create a codesandbox for your issue? that would help a lot. thanks

[2019-09-19 21:01] AlexFrazer commented on #322
I had an existing codesandbox, might be overkill, but it should be easy to mess around with

https://codesandbox.io/s/formik-filters-byep9

[2019-09-19 21:04] bluebill1049 commented on #322
I was hoping a codesandbox related to this issue :)

[2019-09-19 21:15] dpgalloway commented on #320
@bluebill1049 Here you go: https://codesandbox.io/s/react-hook-form-reset-issues-otejk

When you call the reset function, the watch values stay the same, and are only updated after you change a selection on the form.

[2019-09-19 21:22] bluebill1049 commented on #320
Sweet thanks a lot for the codesandbox I will investigate

[2019-09-19 21:36] bluebill1049 commented on #320
it's actually working @dpgalloway try to call watch outside of `render`, you should get the correct result. but during `render` it's not render the correct value seems like a React bug?

[2019-09-19 21:39] dpgalloway commented on #320
I just updated to set values outside of the return statement and the behavior is the same for me. Check the sandbox and let me know if you see the same or if I'm missing something

[2019-09-19 21:39] bluebill1049 commented on #320
@dpgalloway yea try to console log the output, you will see the result is actually correct

[2019-09-19 21:41] dpgalloway commented on #320
Ah yeah that's weird behavior. I'm displaying the selected values beside the form in my app so that makes sense why it's a bug for me. I noticed that if I run a `setValue` statement right after the reset, it re-renders correctly. I need to do so anyways for my react-select inputs, so it's not a critical bug for me, but good to be aware of.

[2019-09-19 21:44] bluebill1049 commented on #320
@dpgalloway i think i have found a solution, will release another beta. we can release this patch with al the fix

[2019-09-19 21:48] bluebill1049 commented on #320
`react-hook-form@3.23.10-beta.7`

[2019-09-19 21:48] bluebill1049 commented on #320
fixed @dpgalloway

[2019-09-19 21:49] bluebill1049 commented on #322
`react-hook-form@3.23.10-beta.7` can you test out this beta version.

[2019-09-19 21:59] dpgalloway commented on #320
Thanks!

[2019-09-19 23:41] AlexFrazer commented on #322
That appears to have done it exactly as expected

![image](https://user-images.githubusercontent.com/1350392/65288622-52f65580-dafc-11e9-911b-dc3b5cfd1c2e.png)

[2019-09-19 23:45] bluebill1049 commented on #322
lovely @AlexFrazer i will release this patch with other fixes tonight

[2019-09-19 23:55] bluebill1049 commented on #322
https://github.com/react-hook-form/react-hook-form/releases/tag/v3.23.10

[2019-09-19 23:55] #322 closed

[2019-09-19 23:55] bluebill1049 commented on #320
https://github.com/react-hook-form/react-hook-form/releases/tag/v3.23.10

closing this issue, just published the fix

[2019-09-19 23:55] #320 closed

[2019-09-19 23:56] bluebill1049 commented on #319
https://github.com/react-hook-form/react-hook-form/releases/tag/v3.23.10
published the fix thanks :)

[2019-09-19 23:56] #319 closed

[2019-09-19 23:57] bluebill1049 commented on #322
please consider star the repo to support if you find it useful too (no pressure) 🙏

[2019-09-20 15:29] sinnlosername commented on #318
I don't wanna pack lodash into my project, it contains like a billion functions I don't need.

Hm k.

[2019-09-20 15:34] stramel commented on #318
If you are doing proper tree-shaking you should be able to drop out any functions you aren't using.

[2019-09-20 17:02] stramel opened #323 "[REQ] Allow manually registered inputs to easily be reset"
**Is your feature request related to a problem? Please describe.**
Right now, it is difficult and very hacky to get a a manually registered field to reset.

**Describe the solution you'd like**
Allow some kind of reset to be passed in on the register function

**Describe alternatives you've considered**
Currently, I'm tying into the code by mocking `closest`.

[code]

/cc @bluebill1049 @barrymay

[2019-09-20 20:01] stramel opened #324 "useFormContext is triggering updates in useEffect"
**Describe the bug**
When using methods coming from `useFormContext` with `useEffect`, it is causing updates.

**To Reproduce**
Console will log hit on each update
https://codesandbox.io/embed/react-hook-form-form-context-ki90u

**Expected behavior**
Should not trigger a re-render

I believe that it is just the accumulation of the props causing a new value each time.

[2019-09-20 21:18] bluebill1049 commented on #318
@sinnlosername FYI https://stackoverflow.com/questions/35250500/correct-way-to-import-lodash/35251059#35251059

[2019-09-20 21:39] stramel commented on #127
@bluebill1049 I ran into this today when I decided to play around with auto registering the input using ref. I don't think it would be too hard to say `if (type === 'file') { return ref.files }` instead of using `value`.

I _think_ at a quick glance we could easily improve this DX.

[2019-09-20 21:43] bluebill1049 commented on #127
@stramel yes, is there any chance people will assume they will get the value?

[2019-09-20 21:46] stramel commented on #127
@bluebill1049 I **highly** doubt it. The value is essentially worthless.

![image](https://user-images.githubusercontent.com/855184/65360595-2149c100-dbc6-11e9-8ccc-eef11a08f97e.png)

[2019-09-20 21:47] bluebill1049 commented on #127
@stramel good point

[2019-09-20 21:50] #307 closed

[2019-09-20 22:03] bluebill1049 commented on #324
@stramel the problem is because of this line:

`onChange={e => setValue(e.currentTarget.value)}`

[2019-09-20 22:07] stramel commented on #324
@bluebill1049 This is just something I threw together to demonstrate the point. You can drop that entire prop and it still happens on the other input.

[2019-09-20 22:12] bluebill1049 commented on #323
[code]

[2019-09-20 22:13] stramel commented on #324
Also, since the `useEffect` is specifying the dependencies. Updates to anything other than those dependencies should NOT trigger the update inside the `useEffect`. It currently is.

[2019-09-20 22:15] stramel commented on #323
@bluebill1049 Would that allow the value to fallback to a defaultValue?

In this case, I was wanting it to reset back to an array.

[2019-09-20 22:17] bluebill1049 commented on #324
I think FormContext API may need a redesign, the current pattern does have a performance issue because when u calling setValue it will trigger re-render which is at the root level.

<FormContext /> should have `useForm` baked inside.

[2019-09-20 22:19] bluebill1049 commented on #323
@stramel, in that case. it's better to supply reset(values)

[2019-09-20 22:24] stramel commented on #323
Hmmm, I think that might be good enough. We can revisit that if there is more interest.

[2019-09-20 22:24] #323 closed

[2019-09-20 22:25] bluebill1049 commented on #323
or we can do a lookup in the default value or '' @stramel

[2019-09-20 22:27] bluebill1049 commented on #323
or we stay the same use `reset(values)`

[2019-09-20 22:27] stramel commented on #323
@bluebill1049 using `reset({ icon: [] })` works for me.

[2019-09-20 22:29] bluebill1049 commented on #324
ok @stramel what about this? i think this issue can be resolved by React.memo, but probably need good documentation to help. i think the api is simple and nice, it's the trigger re-render which sucks. let me put a codesandbox to show you what i mean

[2019-09-20 22:39] bluebill1049 commented on #324
@stramel i think this will help
[code]

[2019-09-20 22:40] bluebill1049 commented on #324
going to release a beta version for it

[2019-09-20 22:41] bluebill1049 commented on #324
`3.23.11-beta.1`

[2019-09-20 22:43] bluebill1049 commented on #324
nice~ I tested looks like it's working for me

[2019-09-20 22:43] bluebill1049 commented on #324
let me know on your end, we can release this quick patch

[2019-09-20 23:34] bluebill1049 commented on #127
patched on `3.23.11-beta.1`

[2019-09-20 23:54] bluebill1049 commented on #211
@stramel are we going to keep this issue open?

[2019-09-21 01:08] #26 closed

[2019-09-22 01:10] barrymay commented on #323
agreed - at least there's a way to do it - I'd also prefer that reset go back to default values, but this is fine

[2019-09-23 02:09] bluebill1049 commented on #127
Patched with latest version

[2019-09-23 02:09] #127 closed

[2019-09-23 02:10] bluebill1049 commented on #324
Should have been fixed in the latest patch

[2019-09-23 02:10] #324 closed

[2019-09-23 04:58] dohomi opened #326 "3.23.11 does not work with useFormContext hook"
**Describe the bug**
After update from 3.23.10 => 3.23.11 validation is not being triggered any longer

3.23.10
https://codesandbox.io/s/react-hook-form-get-form-values-g7bkl

3.23.11
https://codesandbox.io/s/react-hook-form-get-form-values-94pxe

I am not sure what changed internally or if my approach of using the plugin was not correct.

[2019-09-23 05:03] bluebill1049 commented on #326
thanks @dohomi i am taking a look this issue.

[2019-09-23 05:15] bluebill1049 commented on #326
patching it now. issue found.

[2019-09-23 05:18] bluebill1049 commented on #326
https://github.com/react-hook-form/react-hook-form/releases/tag/v3.23.12
patched, thanks for report the issue 🙏 (sorry breaking your app too)

[2019-09-23 05:20] dohomi commented on #326
No worries 👍
Is the approach something how you would solve hooking into material-ui? If yes feel free to steal the two components for your example page.

[2019-09-23 05:26] bluebill1049 commented on #326
I will :) 👍

[2019-09-23 05:33] #326 closed

[2019-09-23 06:07] bluebill1049 commented on #318
I am going to close this issue for now, feel free to reopen if my above answer doesn't help your issue or having more questions.

[2019-09-23 06:07] #318 closed

[2019-09-23 09:05] andrewjrhill opened #327 ""Miss ref" when attempting to register a Material UI Checkbox component."
**Describe the bug**
After following the instructions under the "Work with UI library" section of the docs, I was unable to get my Material UI form fully registered with react-hook-form **due to MUI checkboxes**.

When attempting to register an MUI checkbox control with `inputRef={register}`; I get a warning in the console `Miss ref` on the checkbox input and the checkbox value does not appear in

[2019-09-23 11:48] bluebill1049 commented on #327
hi @andrewjrhill,

name is required, please find more information in the doc: https://react-hook-form.com/api#register

<img width="971" alt="Screen Shot 2019-09-23 at 9 47 18 pm" src="https://user-images.githubusercontent.com/10513364/65423189-c88b5a00-de4b-11e9-8f98-3324f2b92d22.png">

[2019-09-23 11:48] #327 closed

[2019-09-23 11:49] bluebill1049 commented on #327
i will improve the error messsage in the next release

to `Miss ref name:`

[2019-09-23 12:09] andrewjrhill commented on #327
@bluebill1049 - thanks for your help.

[2019-09-23 12:43] wouterds opened #328 "Property 'current' is missing in type '(ref: ElementLike | null)"
Hi, first of all, this lib looks awesome!

Now, what I'm trying to do is use custom styled components (Form, Input, ..) with TypeScript and this lib but I keep running in issues regarding typings of ref. I've tried a couple of things now and this seems most correct, however, TS still complains about the return value of `register` vs the types of the `ref` prop.

I have this basic form with an `ema

[2019-09-23 13:03] bluebill1049 commented on #328
what about

`const { register, handleSubmit } = useForm<{
  email: string,
  password: string,
}>();`

[2019-09-23 13:48] stramel commented on #324
@bluebill1049 Sorry, I didn't have a chance to look at this over the weekend. I'm unsure about using the hook `useMemo` in that way. If it works, we can keep it until we can come up with a better way to resolve it.

[2019-09-23 13:50] stramel commented on #127
Thanks @bluebill1049! I will be playing around with this today.

[2019-09-23 13:51] stramel commented on #211
@bluebill1049 I would like to see someway of easily merging errors into the fields. Maybe it's just a helper that we can export?

[2019-09-23 14:33] stramel commented on #127
There is still some stuff missing from providing first-class support for file inputs but this works for just a basic file input.

[2019-09-23 15:06] wouterds commented on #328
I'm sorry, I don't see how that helps? The TS error remains / is still present.

![Screenshot 2019-09-23 at 17 05 37](https://user-images.githubusercontent.com/1210628/65437617-6b2fe280-de24-11e9-9578-69e3486e4812.jpg)

[2019-09-23 18:33] wouterds commented on #328
I'm sorry I don't understand, but it solve the issue.

I added a repo to demo & reproduce the issue: https://github.com/wouterds/ts-react-hook-form.

[2019-09-23 19:06] wouterds commented on #328
I created a repo to demo & reproduce the issue: https://github.com/wouterds/ts-react-hook-form.

[2019-09-23 19:26] stramel commented on #328
@wouterds Is there a reason, you are using a prop called `forwardRef` instead of using the `React.forwardRef` function?

[code]

[2019-09-23 19:47] wouterds commented on #328
Inexperience with using refs! Thanks man, that helped me!

I ended up with the following which works & removes all my TS warnings / errors in my personal project. Same as what you gave me but written differently since that got rid of **`Component definition is missing display name eslint(react/display-name).`**

[code]

[2019-09-23 19:47] #328 closed

[2019-09-23 20:08] stramel commented on #328
Personally, I would go with

[code]

Which should fix your displayName linting error

[2019-09-23 21:18] bluebill1049 commented on #127
@stramel let me know what's the missing piece

[2019-09-23 21:40] bluebill1049 commented on #211
which method do you think we should export?

[2019-09-24 06:36] iamchanii opened #330 "[Validation] required validate message is not appear with yup schema"
**Describe the bug**
Required message is not appear with yup schema validation. only display 'Invalid email'. I made yup schema what checks 2 validation, required and valid(w/ regex test)

**To Reproduce**
Codesandbox: https://codesandbox.io/s/react-hook-form-required-not-appear-reproduce-losds
1. submit form without fill the email field
2. expect to display required message but invalid email is a

[2019-09-24 06:39] iamchanii commented on #330
Take a minute, I test below schema in codesandbox:
[code]

then, required message is appear. umm...
![image](https://user-images.githubusercontent.com/26643843/65487280-84e32f80-dee1-11e9-8b1b-316fc5232ad3.png)

[2019-09-24 06:43] iamchanii commented on #330
I think it's related with yup schema. I'm just close this issue. sorry, never mind.

[2019-09-24 06:43] bluebill1049 commented on #330
no worries at all :)

[2019-09-24 07:32] iamchanii commented on #330
This is my conclusion: if email is empty, yup validate result contains `.required()` and `.test()` the issue I have drawn up is entirely related to it. check out below:

![image](https://user-images.githubusercontent.com/26643843/65489820-e8bc2700-dee6-11e9-8a5f-ecb011ef3400.png)

this is result of `console.log()` in `parseErrorSchema()` of `validateWithSchema.ts`. in reduce, does not check if `pr

[2019-09-24 07:37] bluebill1049 commented on #330
I don't think this is an issue with this lib :(

[2019-09-24 07:37] bluebill1049 commented on #330
can you post this in Yup?

[2019-09-24 07:42] iamchanii commented on #330
yep, I will.

[2019-09-24 08:02] iamchanii commented on #330
So, that result is absolutely intended. because, yup runs all validate in parallels like `Promise.all()`. of course, there is a feature request related it, but it is not included in their priority list.

Ref:
https://github.com/jquense/yup/issues/499#issuecomment-473111368
https://github.com/jquense/yup/issues/602#issuecomment-526154782

according to yup#499's comment, I have to set `abortEarly` t

[2019-09-24 08:21] iamchanii commented on #330
currently, yup runs all validate in parallels and this lib overwrites errors in `parseErrorSchema()` function. I can create PR of that, but I think it will be a side effect at a high probability. If anyone who is had same issue, you can reopen this and comment.

[2019-09-24 08:24] bluebill1049 commented on #330
Sounds good to me :) let’s keep an eye on it if others having similar issue

[2019-09-24 16:05] eugenenelou opened #331 "React warning in tests that a form is updated outside act despite being wrapped in act"
**Describe the bug**

React display a warning in test that updates need to be wrapped in *act* despite using *act*.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use the *FormContext*
2. Use *defaultValues*
3. Use an input *with validation*
4. be in mode *onBlur* or *onChange*

Without any of these things the warning disappears

example test:
[code]

**Expected behavior**
When rend

[2019-09-24 19:03] dgonz64 commented on #331
I'm not sure if it suits your needs, but I got success by turning the test async and making the act call async too, awaiting for it. I use it to test submits:

[code]

[2019-09-24 23:56] bluebill1049 commented on #330
@iamchanii really appreciate your blog post on react-hook-form 🙏 감사

[2019-09-25 10:54] bravo-kernel opened #332 "Question: how to access refs inside component function?"
Hi mr. @bluebill1049, love your form and everything works fine, amazing job 💯.

However, there is one thing I cannot solve. Probably caused by me being new to React and missing something simple so I hope you don't mind me asking for help here. Basically... I am wondering how to access the form refs so I can do things like resetting classes etc.

My first sandbox can be found here, hope it explains

[2019-09-25 11:00] bluebill1049 commented on #332
hey @bravo-kernel thanks for your kind words :) https://reactjs.org/docs/forwarding-refs.html i think this will help you.

[2019-09-25 11:07] bluebill1049 commented on #332
by the way, if you just want to display a classname when the form is reset or in a initial state, you can use `formState` `isDirty` state https://react-hook-form.com/api#formState

[2019-09-25 11:08] bluebill1049 commented on #332
actually you can just use `isValid` state in `formState`

[2019-09-25 12:15] bravo-kernel commented on #332
Thank you for the quick reply. I must be really tired because I just can't see the solution. Testing and reading through all the issues, ref-documentation and examples must have worn me out ;)

I also think my original question was not formulated incorrectly... I would like to remove those classes on form reset.

Anyway, I am certain that I am just missing some simple solution here because this ca

[2019-09-25 12:25] bluebill1049 commented on #332
hahaha the solution is so simple... reset() I think you are tired, take a break and then try to go through the doc: https://react-hook-form.com/api#reset cause I have spend quite lot effort to documented down everything. It will make you react hook form master :)

[2019-09-25 12:28] bluebill1049 commented on #332
also, you can join this community: https://spectrum.chat/react-hook-form?tab=posts if I am not online, someone else in the community will help you out too :)

[2019-09-25 12:40] bravo-kernel commented on #332
Thanks, I will go online to not bother you too much here (once I wake up again some day, haha). It's funny though.. I'm already using `reset()` on L10 and it works great for the values, I just wonder why it does not get picked up by the conditional class L22. 🙄

[2019-09-25 12:42] bluebill1049 commented on #332
`reset` from the custom hook :)

[2019-09-25 19:45] bravo-kernel commented on #332
@bluebill1049 ok, I feel no shame, it was indeed as simple as that. This does the job.

[code]

Don't know why I was using `event.target.reset()` but probably an incorrect copy. Solution spoon fed by friendly Spectrum user btw. Hopefully this might help someone in the future. ❤️

[2019-09-25 19:45] #332 closed

[2019-09-25 21:56] marracheco opened #333 "validationFields: not recognizing value when registered via useEffect"
**Description**

I was trying to use `validationFields` in my project and it wasn't working at all. So I started looking at the example in the API and updating its structure to match mine.

**The issue is** that when fields are registered via `useEffect`, the field's value isn't recognized as valid and the field is still populated in the errors object.

**To Reproduce**
Steps to reproduce the beha

[2019-09-25 22:37] bluebill1049 commented on #332
awesome!

[2019-09-25 22:40] bluebill1049 commented on #331
hey @eugenenelou is the above answer solve your question?

[2019-09-25 22:42] bluebill1049 commented on #333
What do you mean not working at all, can you give an codesandbox?

[2019-09-25 22:45] bluebill1049 commented on #333
your example is not complete. when you are using custom register, you need to setValue https://react-hook-form.com/api#setValue

[2019-09-25 22:46] bluebill1049 commented on #333
<img width="524" alt="Screen Shot 2019-09-26 at 8 46 03 am" src="https://user-images.githubusercontent.com/10513364/65645255-16fe4b80-e03a-11e9-9a42-962452b2f644.png">
this is your code in the codesandbox

[2019-09-26 02:23] vektah opened #334 "setValue has no way to bypass dirtying the form"
**Is your feature request related to a problem? Please describe.**
When using custom components like ReactSelect it is required to be able to push the initial value of the control into form state without dirtying the form.

**Describe the solution you'd like**
Something along the lines of https://github.com/react-hook-form/react-hook-form/commit/9c50dd9567d3866bfb483bfde507230a415be792 would be fi

[2019-09-26 02:38] bluebill1049 commented on #334
Third argument is optional.

also, I am not clear on your questions

[2019-09-26 03:24] bluebill1049 commented on #334
you should set the initial value at react-select, it's a controlled component.

curious to know what's the use case when setValue shouldn't dirty the form?

[2019-09-26 09:03] andrewjrhill commented on #130
Oh man I just spent the better part of a day trying to figure this out. So glad this was posted here.

[2019-09-26 09:10] eugenenelou commented on #331
Yes thank you. I also had to update to react 16.9 for the async act.

[2019-09-26 09:10] #331 closed

[2019-09-26 13:22] #333 closed

[2019-09-26 13:23] marracheco commented on #333
Not valid issue

[2019-09-26 14:21] lemcii commented on #296
I'm currently doing similar, but using `useFormContext` instead, to get access to `register`

[2019-09-27 03:57] bluebill1049 commented on #334
I don't see much need of changing `setValue` API for now, feel free to re-open, if you can provide a valid use case :) closing for now

[2019-09-27 03:57] #334 closed

[2019-09-27 03:57] bluebill1049 commented on #296
@ManAnRuck hope @lemcii 's answer helps you abit :)

[2019-09-27 14:03] stramel commented on #296
@ManAnRuck or @lemcii can you provide a way to reproduce getting `any`? When I tried what I suggested, it properly resolved to the function typing.

[2019-09-27 18:12] tknickman opened #335 "FormContext setError and clearError useEffect cause infinite renders"
## Description
Using `setError`, and `clearError` from `useFormContext` in the dependency array of a `useEffect` hooks causes components to infinitely re-render.

I discovered this because we have the [react-hooks/exhaustive-deps](https://www.npmjs.com/package/eslint-plugin-react-hooks) eslint rule enabled in our codebase, so anything external to the effect MUST be included in the dependency array

[2019-09-27 20:20] bluebill1049 commented on #335
thanks for reporting issue, i will take a look at it

[2019-09-27 20:49] tknickman commented on #335
Thanks!

I also noticed your automation tests are disabling this eslint rule as well:
https://github.com/react-hook-form/react-hook-form/blob/master/app/src/setError.tsx#L15

😄

[2019-09-27 21:05] bluebill1049 commented on #335
lol @tknickman I was lazy there :) will reenable them I tested all `useform` methods in the `useEffect`. This context one did test as well, try to find the root cause. feel free to submit a PR to re-enable those :)

[2019-09-27 21:11] bluebill1049 commented on #335
strange i couldn't reproduce locally with my example, but yours does cause the issue...

[2019-09-27 21:36] bluebill1049 commented on #335
try this beta: 3.23.13-beta.1

[2019-09-27 22:09] bluebill1049 commented on #335
`3.23.13-beta.1` i have tested and it's working

[2019-09-27 22:18] bluebill1049 commented on #335
can you verify this doesn't break your app?

[2019-09-28 15:54] tknickman commented on #335
Boom, that works great. Thanks a ton @bluebill1049!

Updated the sandbox with the beta here and all is well: https://codesandbox.io/embed/react-hook-form-form-context-bug-8nn6w

I'll close this issue, and I'll keep using the beta for now and report back if I find anything weird.

Thanks again!

[2019-09-28 15:54] #335 closed

[2019-09-28 22:46] bluebill1049 commented on #335
@tknickman thanks heaps buddy, i will release this patch soon as well :)

[2019-09-29 13:16] bluebill1049 commented on #296
going to close this as we have some suggestion from above, feel free to re-open if those r not helpful.

[2019-09-29 13:16] #296 closed

[2019-09-30 05:23] dpw1 opened #337 "Unable to use React Hook Form with Material UI's TextField: "Miss name on ref""
**Describe the bug**
React Hook Form won't work with Material UI's `TextField`'. Once the form is submit the data is not captured.

**To Reproduce**
Steps to reproduce the behavior:
1. Add TextField from Material UI to your project;
2. Add name & ref;
3. Try to submit data.

[Live CodeSandbox example here](https://codesandbox.io/s/react-hook-form-get-started-znn11).

**Expected behavior**
It shoul

[2019-09-30 05:42] bluebill1049 commented on #337
for material ui is `inputRef={register({ required: true })}`

[2019-09-30 09:54] devaublanc opened #338 "Can't find variable: HTMLElement crash react-native"
**Describe the bug**
In react native I got a crash when TextInput change. Because `HTMLElement` does not exists in a React native context. https://github.com/react-hook-form/react-hook-form/blob/886cb3664b3d7bd9ecf79b1de3940a1e9ac14db1/src/useForm.ts#L115
CF PR => https://github.com/react-hook-form/react-hook-form/pull/317

**To Reproduce**
Steps to reproduce the behavior:
Try to change the value

[2019-09-30 09:59] bluebill1049 commented on #338
thanks @devaublanc i will patch that, feel free to spend a PR too

[2019-09-30 10:07] #337 closed

[2019-09-30 10:07] bluebill1049 commented on #337
feel free to re-open if this does not solve your issue :)

[2019-09-30 10:55] #338 closed

[2019-09-30 12:31] bluebill1049 commented on #211
hey @stramel going to close this issue (it's been awhile) now until we have a proper plan and solution for this :)

[2019-09-30 12:31] #211 closed

[2019-09-30 16:35] dpw1 commented on #337
Splendid! Thank you very much for your help and quick reply as always. :)

[2019-09-30 16:36] nobleach opened #342 "State set via useState does not update in custom validation function."
**Describe the bug**
When registering a custom validator that uses local component state, only the initial values are respected when that function is called. Validation mode is set to 'onBlur'. Bluring the field does cause the custom validator to run, but the values do not reflect the actual component state.

**To Reproduce**
See this codesandbox: https://codesandbox.io/s/stoic-sun-lm3sg with the

[2019-09-30 21:45] bluebill1049 commented on #342
hey @nobleach

just took a quick look on this example, curious on this part
[code]

[2019-09-30 22:14] nobleach commented on #342
In the real implementation, I'm also checking a "confirm password" input. I'm checking that the above criteria are true as the user types. I call the function in question `onBlur`. I certainly can re-work this to follow best practices however. Oddly though, when I remove react-hook-form, and just use plain React hooks with `onChange` and `onUpdate`, the state updates correctly. Could this be a pro

[2019-09-30 22:18] bluebill1049 commented on #342
I will take a close look when I am on my computer :)👍🏻

[2019-09-30 22:21] nobleach commented on #342
Thank you!

[2019-09-30 23:41] bluebill1049 commented on #342
This works for me: https://codesandbox.io/s/elegant-einstein-gvc7u

btw you set the mode to be `onBlur` so validation is trigger on `onBlur`

[2019-09-30 23:51] nobleach commented on #342
Yes, the `onChange` was only for updating things like `Has at least 1 capital letter`, `Has at least 1 number` as the user types. If all those criteria are met, when I leave the component (probably to click the submit button) react-hook-form's validation should take over and either allow or disallow submitting the form. I see what you're doing by using the value inside the `validatePassword` funct

[2019-09-30 23:54] bluebill1049 commented on #342
not at all @nobleach for your use case, I used to have a PR for support multiple errors

https://github.com/react-hook-form/react-hook-form/pull/311

but got closed, it probably would be useful for multiple errors returns like your use case

[2019-09-30 23:55] bluebill1049 commented on #342
maybe I should relook at that PR and see if it's useful to others

[2019-09-30 23:55] bluebill1049 commented on #342
BTW, i am still looking at your example and try to work out a good solution

[2019-10-01 00:00] nobleach commented on #342
While I certainly appreciate you looking, don't feel like you have to solve my problem. I was just concerned that the problem had to do with registering a ref.

This example works when not registering a ref via `register()`. https://codesandbox.io/s/stoic-sun-lm3sg (it's not using react-hook-form at all though)

[2019-10-01 00:01] bluebill1049 commented on #342
hahaha it's my pleasure to help you out here, because someone else may have the same proble. so no worries at all :)

hey, i have this idea:
[code]

[2019-10-01 00:03] nobleach commented on #342
Yeah, I'll play with that this evening. Thanks again for all the help.

[2019-10-01 00:03] #342 closed

[2019-10-01 00:06] bluebill1049 commented on #342
no worries :) if you still having issues, you can ask in here too https://spectrum.chat/react-hook-form

[2019-10-01 00:08] nobleach commented on #342
Perfect!

[2019-10-02 03:29] catamphetamine commented on #56
My fix for the IE 11 bug:

Webpack config

[code]

[2019-10-02 03:31] bluebill1049 commented on #56
thanks for sharing @catamphetamine

we do export ie11 compatible version now

`import useForm from 'react-hook-form/dist/react-hook-form.ie11'`

[2019-10-02 10:46] galihlprakoso opened #343 "React Hook Form doesnt work on React Native when using validationSchema."
**Description of the bug**
The React Hook form doesnt work when i use validation schema on React Native. It Shows a warning :
`Possible Undhandled Promise Rejection (id: 3):
TypeError: undefined is not an object (evaluating 'error.inner.length')
`

and the validation doesnt work.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement the react native example in the : https://react-hook-fo

[2019-10-02 11:37] bluebill1049 commented on #343
can you share the code?

[2019-10-02 11:40] galihlprakoso commented on #343
**ValidationSchemas.js**
`
import * as yup from 'yup';
import { alphanumeric } from './Regex';

const AccountSettingSchema = yup.object().shape({
  username: yup.string().min(6).max(24).matches(alphanumeric).required(),
  facebook: yup.string().url().required(),
  instagram: yup.string().url().required(),
  youtube: yup.string().url().required(),
  twitter: yup.string().url().required()
})

export

[2019-10-02 11:58] bluebill1049 commented on #343
thanks i will take a look at this 👍

[2019-10-02 11:58] galihlprakoso commented on #343
thanks my bro. your lib is awesome btw! love it!

[2019-10-02 12:00] bluebill1049 commented on #343
no worries buddy 👍 so glad to hear that

[2019-10-02 12:38] bluebill1049 commented on #343
[code]
tested and works for me, try to remove alphanumeric and see if work with your example

[2019-10-02 13:01] galihlprakoso commented on #343
okay thankss

[2019-10-02 13:04] galihlprakoso commented on #343
mmm.. it works.. but i need to validate with regex.. how to do it? @bluebill1049

[2019-10-02 21:17] bluebill1049 commented on #343
can you post this question in `Yup`?

[2019-10-03 16:14] Dinhh1 opened #344 "submitFocusError does not work when using yup Validation Schema."
**Bug Description**
When using yup schema validation, the submitFocusError does not focus the first error.

**To Reproduce**
Steps to reproduce the behavior:
1. configure a yup schema
2. use schema in useForm
3. Try to submit
4. It does not focus error

Here's two example code sandbox taken from the sample github page.
[Example without using validation schema](https://codesandbox.io/s/w7p3km6nyw)

[2019-10-03 17:44] opeah opened #345 "Watch + formState dirty"
I have an issue when I use watch + formState.
As you can see on the screenshot, I have 2 fields with values but dirty is false.

When I update 'assignee' or 'status' field that are not controlled by 'watch', dirty goes to true.

Keep up the good job!

![Screenshot 2019-10-03 at 19 39 54](https://user-images.githubusercontent.com/31569566/66150500-9c26c900-e615-11e9-9a0c-e19936ae07c4.png)

<img wid

[2019-10-03 20:33] bluebill1049 commented on #343
i did a quick googling for you, hope this helps :) https://stackoverflow.com/questions/52483260/validate-phone-number-with-yup

going to close this for now, feel free to ask more question or re-open 👍

[2019-10-03 20:33] #343 closed

[2019-10-03 20:34] bluebill1049 commented on #345
thanks @opeah 👍 any chance you can create a codesandbox for this issue?

[2019-10-03 21:11] bluebill1049 commented on #345
by the way, dirty is not controlled by the watch. it's the entire form.

[2019-10-03 22:53] ecwyne commented on #56
@bluebill1049 Thank you so much for the separate ie11 build!

However, TS typings aren't working for me. How should I obtain TS typings for the ie11 build?

[2019-10-03 22:56] ecwyne commented on #56
This has seemed to work in the meantime

[code]

[2019-10-04 07:49] opeah commented on #345
@bluebill1049 of course https://codesandbox.io/s/cocky-bush-g87tx?fontsize=14

[2019-10-04 07:57] opeah commented on #345
As you can see, when I change the first two fields that are controlled by 'watch', formState.dirty does not update. With the last field, it works.

[2019-10-04 10:40] bluebill1049 commented on #345
nah you are right, i will investigate on this issue :)

[2019-10-04 11:19] bluebill1049 commented on #344
This is should be resolved by this beta: react-hook-form@3.23.18-beta.1

[2019-10-04 11:49] bluebill1049 commented on #345
patch on beta: react-hook-form@3.23.18-beta.2

let me know if that fixes your issue 👍

[2019-10-04 11:59] opeah commented on #345
It works! thanks for the quick fix

[2019-10-04 12:09] bluebill1049 commented on #345
going to close this issue and release it in the next patch :)

[2019-10-04 12:09] #345 closed

[2019-10-04 14:21] Nisfan opened #348 "Controlled Input: need to press backspace two times to delete last remaining character"
**Describe the bug**
In controlled Input, need to press backspace two times to delete last remaining character

**To Reproduce**
Steps to reproduce the behavior:
1. enter some text into text input
2. delete the character one by one (backspace)
3. You have to press backspace two times to delete the last character

https://codesandbox.io/s/react-hook-form-controlled-input-bug-vxxig

[2019-10-04 15:07] Dinhh1 commented on #344
That was quick! Thanks a lot.

[2019-10-04 22:21] bluebill1049 commented on #348
hey @Nisfan,

please remove value and use defaultValue instead

https://react-hook-form.com/faq

Why is first keystroke is not working?

[2019-10-04 22:43] #344 closed

[2019-10-05 12:06] Nisfan commented on #348
I don't think default value will solve the problem, In codesandbox demo, if I want to set custom value like formatting number, How can I do that?

Hmm, I didn't notice

[2019-10-05 12:10] bluebill1049 commented on #348
you can do native HTML stuff like below :)

`onChange={e => e.target.value = maskInput(e.target.value);}`

`maskInput` will be your own function to transform the input.

[2019-10-05 12:11] bluebill1049 commented on #348
This is one of the example: https://codesandbox.io/s/387z7njwzp

[2019-10-05 20:08] BrunoQuaresma opened #349 "[Feature Request] Field Focus"
A simple way to focus a field.

[code]

[2019-10-05 22:36] bluebill1049 commented on #349
hey @BrunoQuaresma that's a pretty good idea 👍 i will look into it.

[2019-10-06 09:32] yeyep opened #351 "Help: Typescript errors support for field arrays"
**Describe the bug**
I have a form in which I dynamically create field arrays (as in the examples).
Therefore I have the following Typescript interface:

[code]

I want to display validation errors for the dynamically generated fields and that's the problem. The field arrays are handled differently in the errors than in for example getValues({ nested: true }).
Instead of using my Typescript interf

[2019-10-06 09:53] bluebill1049 commented on #351
can you put together a codesandbox for this issue?

[2019-10-06 09:59] bluebill1049 commented on #348
i am closing this issue :) feel free to re-open or asking more questions here.

[2019-10-06 09:59] #348 closed

[2019-10-06 10:17] yeyep commented on #351
Hi @bluebill1049,

sure :)
https://codesandbox.io/s/recursing-chatterjee-ekgsy

The Sandbox isn't working because I included two ways how I would get the errors. But none works...

I enabled `"strict": true` in the tsconfig settings.

[2019-10-06 10:35] bluebill1049 commented on #351
hey @stramel can you please assist on this one or give recommendations? thanks

[2019-10-06 13:18] BrunoQuaresma commented on #349
@bluebill1049 when I open a modal and I want to focus an input. Since the modal is just replacing `.open` and `.close` class names, the default HTML API does not work.

[2019-10-06 13:22] bluebill1049 commented on #349
I think you can use HTML API, with focus

https://react-hook-form.com/faq/ How to share ref usage?

you just need to use `useRef()` with React  and use `.focus()`

[2019-10-06 13:35] BrunoQuaresma commented on #349
Yes, I can. I just suggested it to have a syntactic sugar.

[2019-10-06 13:38] bluebill1049 commented on #349
oh cool! thanks for understanding. I guess the main reason is that I want to keep the API small and simple. every time when I am getting request or thinking about add API, I will battle again simplicity and utility. I think for this instance I will go with keep API simple, since doing useRef is not too tricky with React. 🙏

[2019-10-06 13:43] BrunoQuaresma commented on #349
Sure! Thanks.

[2019-10-06 13:43] #349 closed

[2019-10-07 09:18] sjsakib opened #352 "Problem using with react-native and Typescript"
**Describe the bug**

I'm trying to use with react-native and typescript. I have a simple one field form like this:
[code]
This code works. But when I typecheck the code, I get two errors.

First:
[code]
I guess I can solve this by just putting the register call outside the jsx, i.e not passing anything as `ref` to the `Input` element. Would that be the best approach?

 Second:
[code]
This is beca

[2019-10-07 09:21] bluebill1049 commented on #352
you want to try use `useEffect` to register input instead?
[code]

[2019-10-07 09:23] sjsakib commented on #352
Oh! Thanks. That's better.

What about the second error?

[2019-10-07 09:39] bluebill1049 commented on #352
can you try this for now?

`onPress={() => handleSubmit(onSubmit)}`

[2019-10-07 09:45] bluebill1049 commented on #352
I am thinking about turning that `e` into `any`

[code]

any thoughts @barrymay @stramel

[2019-10-07 09:50] bluebill1049 commented on #352
@sjsakib where to import `GestureResponderEvent`?

[2019-10-07 09:56] bluebill1049 commented on #352
never mind looks as I can import from `react-native` will try that

[2019-10-07 09:56] sjsakib commented on #352
`@types/react-native` should have that too.

[2019-10-07 10:02] bluebill1049 commented on #352
can you try this beta? react-hook-form@3.23.19-beta.1

[2019-10-07 10:29] sjsakib commented on #352
The error is still there

[2019-10-07 10:33] sjsakib commented on #352
I think you are blaming a wrong part of the code here. From the error it looks liek the function returned from `handleSubmit(onSubmit)` should accept a `GestureResponderEvent` as the first argument.

[2019-10-07 10:39] bluebill1049 commented on #352
thanks for testing, try this beta react-hook-form@3.23.19-beta.2

[2019-10-07 12:29] nshaikhinurov opened #354 "[Question] How to disable native HTML 5 validation"
I'm passing a `{nativeValidation: false}` option to the `useFormContext` hook although it is documented as a default value. However, even when I use custom `validate` function as an option to the `register` method of an email input type I can see unneeded native Chrome bubble with yellow exclamation mark. How can I get rid of it? The `type="email"` attribute of an input is convenient for determini

[2019-10-07 14:53] danihazler commented on #354
<form onSubmit={handleSubmit(onSubmit)} noValidate>

use noValidate

[2019-10-07 15:21] sjsakib commented on #352
The error is gone!

[2019-10-07 20:52] bluebill1049 commented on #354
thanks @danihazler or you can pass `type="text"` and write a `regex` yourself :)

[2019-10-07 20:57] #352 closed

[2019-10-07 20:58] bluebill1049 commented on #352
thanks will publish in the next release

[2019-10-08 04:29] nshaikhinurov commented on #354
Thank you @danihazler! `noValidate` attribute does exactly what I wanted.

[2019-10-08 04:29] #354 closed

[2019-10-08 10:17] daemswibowo opened #355 "Webpack dev You may need an appropriate loader to handle this file type"
**Describe the bug**
I got this error after importing react hook form

[code]

**To Reproduce**
Steps to reproduce the behavior:
first i install react hook form
[code]
then i import it into my component
[code]
when i save i got this error message
[code]

My `MerchantForm.js` code
[code]

[2019-10-08 10:24] bluebill1049 commented on #355
I am not sure this is an issue related to this library, but maybe try

`import useForm from 'react-hook-form/dist/react-hook-form.ie11'`

[2019-10-08 15:34] carlesba opened #356 "formState.dirty not being updated after field's value changes with @testing-library/react"
**Describe the bug**

react-hook-form does not update formState parameters when fields get updated inside testing-library tests.

**To Reproduce**

You can reproduce it with the following code:

[code]
[code]

**Expected behavior**
When submitting, formState.dirty should be true as we've changed the input value.

**Desktop (please complete the following information):**
 - @testing-library/react@9.

[2019-10-08 18:23] stramel commented on #351
@bluebill1049 We just need to union it with a string. Change

https://github.com/react-hook-form/react-hook-form/blob/75d213c4fb6e686aad6befab8d9d917cd25ffd62/src/types.ts#L100

to

`Record<keyof Data | string, FieldError>`

[2019-10-09 01:52] batjaa opened #359 "Multi select is not taking default values"
A multi select doesn't seem to be accepting default/selected values.

https://codesandbox.io/embed/react-hook-form-g6hp6