[2020-03-28 03:59] h-sakano commented on #1290
I found the same problem as `append` occurred in `prepend`, `insert` and `reset`.

[2020-03-28 06:57] #1289 closed

[2020-03-28 08:26] youngje4284 opened #1291 "I want to not mapping name form value. when getValues() or onSubmit."
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**

I get data from server and i mapping use reset.
my project server data include 'fromServerId' key, this key required for array data fix.
so i want to included fromServerId key value when onSubmit event.
but getValues() and onSubmit values not paramter not include fromSer

[2020-03-28 08:46] ziishaned commented on #1286
@bluebill1049 can you please explain what do you mean by that because I am still getting the same error in your Codesandbox link

[2020-03-28 08:50] bluebill1049 commented on #1291
use hidden input.

[2020-03-28 08:50] bluebill1049 commented on #1286
shit i didn't save...

[2020-03-28 08:51] bluebill1049 commented on #1286
https://codesandbox.io/s/small-grass-1p798

[2020-03-28 09:30] youngje4284 commented on #1291
ok.  then if you have plan make to this requirement in future?

[2020-03-28 09:36] bluebill1049 commented on #1291
no, i don't think so. it's a HTML form standard that when you submit a form should only contains what's in the inputs. I understand controlled input allow you to do so without an actual input, but with RHF i prefer to stay closer with HTML standard for form.

[2020-03-28 10:02] #1291 closed

[2020-03-28 11:16] EliranGooner opened #1292 "How do I perform a POST request only when form is validated?"
I want to create a contact form using FlexyForm in my Gatsby project in order to send the info by email. The setup for it is very simple and you just need to add to a normal ```form``` HTML tag - ``` method="post" action="https://www.flexyform.com/f/flexyformkey" ```

So I had a form like this that was functioning and then I wanted to add form validation so I used react-hook-form and the validatio

[2020-03-28 11:25] bluebill1049 commented on #1290
here is the fix preview: https://codesandbox.io/s/react-hook-form-usefieldarray-rwwji

[2020-03-28 11:26] bluebill1049 commented on #1290
The incoming PR will fix this bug and also allow you watch individual field array item instead of whole.

[2020-03-28 11:30] bluebill1049 commented on #1292
Welcome to React.

I haven't got much time to looking into your example. i think this is what you after

[code]

[2020-03-28 11:49] h-sakano commented on #1290
Excellent!!
It seems to be working very well.

[2020-03-28 12:20] bluebill1049 commented on #1290
Thank you for testing! 👨🏻‍💻

[2020-03-28 12:37] EliranGooner commented on #1292
@bluebill1049

Thank you for the quick response but I do I have a few questions about your suggestion.
1. Isn't the onSubmit function supposed to receive data parameter (the input) to send inside the body to FlexyForm?
2. What is the ```url ``` variable you referenced in the beginning of the ```fetch```?  Isn't it supposed to be the url  you wrote in the ```Content-type``` header?
3. Why do I need

[2020-03-28 12:56] bluebill1049 commented on #1292
I am going to close this issue because there are mostly generic questions for javascript fetch. You can read more about fetch in this doc: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API

1. once form is valid you will get data from handleSubmit and then you can send them off to your API end point
2 - 3. read the fetch doc

[2020-03-28 12:56] #1292 closed

[2020-03-28 13:02] #1290 closed

[2020-03-28 14:45] EliranGooner commented on #1292
I read the docs and still can't find a way to stop CORS to throw an error

[2020-03-28 14:56] devme1 commented on #1286
@bluebill1049 correct me if I am wrong `FieldErrors` is a generic interface that accepts the interface of an object. By this, you will be able to access the `message` key on all the passed object items interface.

[2020-03-28 15:05] devme1 commented on #1286
@bluebill1049 can you please tell me what will be the type of `userErrors` variable

[code]

[2020-03-28 22:01] gangstaJS opened #1294 "reValidation does not work for not ref usage"
**Describe the bug**
`reValidation` does not work for not ref usage

**Codesandbox link (Required)**
https://codesandbox.io/s/quirky-cookies-k9kse

[2020-03-28 22:24] bluebill1049 commented on #1294
that's expected behavior. you should register your input or using Controller.

[2020-03-28 22:24] #1294 closed

[2020-03-29 12:12] bodokaiser opened #1297 "add support to parse a list from a `textarea`"
**Is your feature request related to a problem? Please describe.**

I want to upload a list of e.g. emails. I don't want to [`useFieldArray`][1] because it does not allow for copy-and-paste.

**Describe the solution you'd like**

According to https://github.com/jquense/yup/issues/564, one can use `Yup.transform` to cast between types, e.g.

[code]

So one could move the parsing into a `yup` transf

[2020-03-29 12:20] bluebill1049 commented on #1297
what's this feature have to do with this form validation lib?

[2020-03-29 12:24] bodokaiser commented on #1297
Do you understand the user problem behind the issue (upload of multiple items over a `<textarea>`)?
How would you solve this problem? Do you have an example?

I know several parsing libraries, e.g. [papaparse][2] but I don't see how they would integrate into the usual `react-hook-form` workflow. Of course, one always could move such logic into `onSubmit`.

[2]: https://www.papaparse.com

[2020-03-29 12:30] bluebill1049 commented on #1297
I don't, not with what you have provided above. I am not a mind reader just yet. Why your questions sounds like it's my problem to solve? I am happy to offer my help as I have already built a package for everyone for building forms...

Good, then I think it's a good idea to do you parsing inside submit or onChagne.

[2020-03-29 12:35] bodokaiser commented on #1297
`react-hook-form` already elegantly [supports masked inputs](https://github.com/react-hook-form/react-hook-form/blob/master/examples/customMaskedInput.tsx).

I would love to see `react-hook-form` support a value life cycle. See, for example, [redux-form][3].

If you didn't consider a value lifecycle feature so far for `react-hook-form`, maybe because its implementation is difficult or it solves pr

[2020-03-29 12:38] bluebill1049 commented on #1297
thanks @bodokaiser this is a much better context for me. I will take a look and let you know.

[2020-03-29 12:49] bluebill1049 commented on #1297
Redux form value life cycle is pretty cool, however that's also one of the reasons why its package size getting close to `27kb`. I think it's trying to do too many things in a lib (my personal opinion). I don't think we will implement a similar feature. However, I do see your concerns that you probably want to parse/fomat/normolize you input, so instead have you consider using `Controller` and ret

[2020-03-29 17:02] bodokaiser commented on #1297
I agree 100% with you!

I created a [codesandbox][1
[1]: https://codesandbox.io/s/react-hook-form-custom-input-3vicw

[2020-03-29 21:43] azizur commented on #1150
@bluebill1049, Thank you so much for this great package. Finding this absolutely essential to my current project.

I just started to use this package and still learning how to make most of this package. I got a quick question about your [comment](https://github.com/react-hook-form/react-hook-form/issues/1150#issuecomment-594853715).

Is there a particular reason the `defaultValues` is not read on

[2020-03-29 21:53] bluebill1049 commented on #1150
I do agree `reset({ defaultValues })` is counter intuitive, here is the reason why and when you should use it.

`defaultValue` works well when your data is ready on the initial render, however sometimes defaultValue may come from API or delay, and that's when you should use `reset`, i understand it would be better to use an API to called `setValues`, but i didn't want to grow the amount API that u

[2020-03-29 21:56] FatehAK opened #1298 "Possibility of triggering validation for all fields at once"
Is it possible to trigger validation for fields at once? Currently, I have to pass each field I want to validate to triggerValidate(''). Is it possible to trigger validation programmatically for the all fields without using the form element?

[2020-03-29 21:57] bluebill1049 commented on #1298
I will update the doc: https://react-hook-form.com/api#triggerValidation

try that triggerValidate()

[2020-03-29 22:02] bluebill1049 commented on #1297
Thanks for the CSB i will take a look.

[2020-03-29 22:18] bluebill1049 commented on #1298
updated.

[2020-03-29 22:18] #1298 closed

[2020-03-29 22:20] bluebill1049 commented on #1297
try this: https://codesandbox.io/s/react-hook-form-custom-input-zvxmr

I had to propagate `arguments` through the Controller, `[...arguments]` and hence they are `array`, we can probably improve that in the long turn and convert it back to `Object`.

[2020-03-30 00:39] JuanmaMenendez commented on #1237
**UPDATE**

Now, It is possible to autofocus the Controller wrapped component on error.

See:

https://github.com/react-hook-form/react-hook-form/pull/1296
https://codesandbox.io/s/react-hook-form-controller-test-out-ref-7imfk

PS: Be sure to update your RHF version

[2020-03-30 01:37] shoko-eguchi commented on #1199
@kotarella1110 @bluebill1049
could be run without using setTimeout.
Thank you very much.

[2020-03-30 04:15] bluebill1049 commented on #1286
@kotarella1110 you want to help on this one?

[2020-03-30 04:23] kotarella1110 commented on #1286
@bluebill1049 I'll look into this 👍

[2020-03-30 05:06] kotarella1110 commented on #1286
@ziishaned This isn't a bug. You should define the type as follows:

[code]

[2020-03-30 05:45] bodokaiser commented on #1297
Thank you!

I updated `parseValue` in the [codesandbox][1] and noticed that:

1. If you `submit` the form with the default value, `parseValue` is not executed.
2. If you trigger an `onChange` event inside `<textarea>`, the values changes to `react@hook-form.com,info@example.com`. I guess you use somewhere `value.join(",")` inside `react-hook-form` to convert array values back to strings.

[1]: htt

[2020-03-30 05:51] bluebill1049 commented on #1297
✅probably need to get default value to the right format

we actually don't do anything, i will take a look your CSB.

[2020-03-30 05:53] bluebill1049 commented on #1297
Is this what we expected for submit data?

<img width="595" alt="Screen Shot 2020-03-30 at 4 52 39 pm" src="https://user-images.githubusercontent.com/10513364/77879780-e75d2400-72a6-11ea-9d7b-4396116e5426.png">

[2020-03-30 07:18] FatehAK commented on #1298
Cool. Thanks

[2020-03-30 08:39] pmg1989 opened #1299 "the display order of the error messages is wrong"
**Is your feature request related to a problem? Please describe.**
Can you provide an array of errors to make it easier to display error messages in Toast or dialog mode? When I use dialog to display, if there are multiple inputs and I trigger one of them, the display order of the error messages is wrong

**Describe the solution you'd like**
`const { errors } = useForm<FormFields>()`
`alert(errors

[2020-03-30 08:52] bluebill1049 commented on #1299
follow our template and provide a codesandbox plz

[2020-03-30 09:22] bodokaiser commented on #1297
Yes, exactly 🥳. What did you change?

[2020-03-30 09:29] bluebill1049 commented on #1297
lol that's your example... don't use alert

[2020-03-30 09:42] bodokaiser commented on #1297
Yep, I updated the [codesandbox].

I cannot replicate this. Every time I press enter it inserts a comma in the text field.

I believe at some point there has to be a conversion from an `Array` to a string via `.join(",")`. Let me check if I find something in the source code of `react-hook-form`.

[1]: https://codesandbox.io/s/react-hook-form-custom-input-4ocps

[2020-03-30 09:50] bodokaiser commented on #1297
I believe an `isArray(value)` is responsible, e.g. [here](https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L456).

So in theory, one needs to distinguish between the two cases:

1. Multiple input elements with `name="attr[0]"` (current behaviour)
2. Single input element

That said, this might involve too many changes for a very specific use case.

[2020-03-30 10:09] bluebill1049 commented on #1297
hmmm, I don't think what you have pointed out has to do with this output. let me try it out.

[2020-03-30 10:20] bluebill1049 commented on #1297
that's actually correct behavior for Textarea. Try with simple controlled component you will get that.

[2020-03-30 10:31] johncalvinroberts opened #1300 "Some `watch` usage broken by change introduced in #1034"
**Describe the question?**
Hi, Bill! Not sure if I should label this as a question or a bug...near impossible for us to reproduce the issue in a codesandbox, so labelling as question.

We're migrating to latest `react-hook-form` from a v3.x version, and some of our usage of `watch` has been broken by latest changes in latest.

We've narrowed it down to 1205cd372699db4cb2237b9082be5d5235bd2c21 as t

[2020-03-30 10:32] bluebill1049 commented on #1297
here is an example: https://codesandbox.io/s/react-hook-form-custom-input-9qc9g i think if you can get `ParseTextarea` component working as expected then it will all work for you

[2020-03-30 10:41] bluebill1049 commented on #1300
hey, @jasondibenedetto that's all good ❤️and thanks for doing the investigating over the codebase. However, it would be pretty hard for me to debug this without a reproducible CSB, (not try to avoid the problem) which I am pretty sure there is some change should get things running smoothly again. Hopefully, if you can provide a CSB for to continue with the investigation.

[2020-03-30 10:42] bluebill1049 commented on #1300
what's your `watch` usage like? and what are you watching?

[2020-03-30 10:43] bluebill1049 commented on #1286
I think we can close this one. feel free to follow up with more questions.

[2020-03-30 10:43] #1286 closed

[2020-03-30 10:53] johncalvinroberts commented on #1300
I don't even know how to begin describing our `watch` usage, other than "heavily". I'll close this for now, kind of unfair without CSB. If I can reproduce w/ CSB I'll reopen.

Thanks again for your quick response and hard work @bluebill1049

[2020-03-30 10:53] #1300 closed

[2020-03-30 10:54] bodokaiser commented on #1297
Great man! I changed one last part on the formatting side that removes the commas. In addition, I added a `yup` validation schema:

https://codesandbox.io/s/react-hook-form-custom-input-q1elq

Do you think we can add this to the `examples`? If you like I could prepare a PR.

[2020-03-30 10:55] bluebill1049 commented on #1300
@johncalvinroberts keep me updated with this issue. just so you know, you got my support on this. if something is not working expected, I will jump in and fix it ASAP.

cheers
bill

[2020-03-30 10:59] bluebill1049 commented on #1297
wow! this works like a charm! 👏Yeah, let's get this boy into the example folder.

What would be a good name for this example for use-case?

Small suggestion: I would remove yup validation for in your CSB and stay focus on the solution.

[2020-03-30 11:00] bluebill1049 commented on #1297
I guess this is for value parsing right?

[2020-03-30 11:01] bluebill1049 commented on #1297
Hows> Parse input value?

[2020-03-30 11:07] bodokaiser commented on #1297
What about "parse and format input value" or "value lifecycle" (a la redux-form)?

I got the validation working in the [codesandbox](https://codesandbox.io/s/react-hook-form-custom-input-q1elq).
Because it's not 100% obvious (at least for me) that one can use `yup.array()` in this case and that one has to format `errors.emails`, I would prefer to include `yup`. That said it's your call. Maybe it's

[2020-03-30 11:09] bluebill1049 commented on #1297
Parse and format input value - sounds great!

Thanks, @bodokaiser I think if the user wants to check out validation, then they can check out the validation example. in my eyes, it's better to stay focused and minimum. 👍

[2020-03-30 11:10] bodokaiser commented on #1297
Thank you too very much and stay safe!

[2020-03-30 11:11] bluebill1049 commented on #1297
you too mate :)

[2020-03-30 11:40] rasgo-cc opened #1301 "getValues() with dot notation not being expanded"
**Describe the bug**
Calling getValues() doesn't retrieve an object with expandend objecs (and arrays?) if dot notation is used on `name`. Maybe this is the intended behaviour and Im missing something?

**To Reproduce**

Check the codesandbox link bellow (fork from example), enter some random numbers and press submit. Check the console log.

**Codesandbox link (Required)**
https://codesandbox.io/s

[2020-03-30 11:43] rasgo-cc commented on #1301
My bad. Answer in the documentation. `getValues({ nest: true })` should be used.

[2020-03-30 11:43] #1301 closed

[2020-03-30 14:36] Nickman87 opened #1302 "validationResolver is refreshed when changed"
**Describe the bug**
I have a validation schema, that is dependent on data that is loading. So I initialise the hookForm as soon as I can, but after a while, the validation schema changes (this could also be because of some user input for example, but is automatic in my case.

I had the same issue when using the old (deprecated) validationSchema and thought it might have been solved if I switched

[2020-03-30 15:20] MatheusLuiz2000 opened #1303 "how to not allow the user to enter any special characters in input"
Hey Guys,

I using React Hook Form in the version 5.1.1 and i have some problem. In the documentation, i didn't found any solution for that. I need do not register in the input values if the value typed by the user in is special character.

So, my input only accepts numbers(type="password") and if the user typed some another character like "AMNCS" or "@$@$!", the input not shows the values and not

[2020-03-30 15:24] Nickman87 commented on #1302
It also seems to just _not work_ at all some times... In the same sanbox, sometimes I get no error when I press submit, even though it should always produce an error.

[2020-03-30 17:09] afzalsayed96 commented on #615
Why not directly use the type attribute of the input element if it is explicitly specified by the user? Seems a lot intuitive and harmless IMO.

I have something very simple like below eg. and introducing a wrapper seems unnecessary and diverging from the neat philosophy of the library.

[code]

[2020-03-30 20:28] IronSean commented on #1229
I'm still seeing behaviour like this where the fields inside my array are being edited, appear as touched on the form state, but the form state is not going dirty

[2020-03-30 22:02] bluebill1049 commented on #1302
That's expected @Nickman87, we cache validation schema and resolver. if you want to change resolver you can toggle the logic in same the function.

[2020-03-30 22:03] bluebill1049 commented on #1303
This is what you after: https://github.com/sanniassin/react-input-mask not RHF

[2020-03-30 22:23] bluebill1049 commented on #615
@afzalsayed96 I disagree with above. Did you ever consider with `valueAsNumber` will return `null`? Personally i prefer to keep it as consistent as `string`, which is what the form natively return. If you want to return input as `number`, you can use `Controller` to specifically return `number`, other than that i don't think this lib should do any logic to convert `string` to `number`, `number` to

[2020-03-30 22:24] bluebill1049 commented on #1229
@IronSean can you supply a CSB for me to investigate?

[2020-03-30 22:31] wrporter commented on #1121
@xiaoyu-tamu @bluebill1049 I'm sorry, the documentation alone is not completely helpful for this case. I cannot seem to come up with a case that works properly with React Hook Form in the Codesandbox I provided.

[2020-03-30 22:35] bluebill1049 commented on #1121
@wrporter to be honest, it couldn't be clearer IMO, but feel free to improve the doc as it's open sourced as well.

Some good news for you, next update will support Controller as well. https://twitter.com/bluebill1049/status/1244429306639441924

[2020-03-30 22:36] wrporter commented on #1121
@bluebill1049 Ah, so this just is not supported at all with the `Controller` or "controlled" components at the moment? That would be useful to put in the docs, but if it's coming out, maybe that does not need to be added at all. Glad to see progress there!

[2020-03-30 22:39] bluebill1049 commented on #1121
That's not precise as well, because you can do it yourself at useEffect as long as you get to hold of the errors and ref (controlled input).

[code]

anyway, let's looking forward for the next update.

[2020-03-30 22:49] bluebill1049 commented on #1303
here is an example with cleave.js https://codesandbox.io/s/react-hook-form-date-field-y7xp2?from-embed

[2020-03-30 22:49] #1303 closed

[2020-03-30 22:49] #1299 closed

[2020-03-30 22:59] ziishaned commented on #1286
@kotarella1110 I think it would be better to handle `undefined` inside `react-hook-form` typing

[2020-03-31 00:08] kotarella1110 commented on #1286
@ziishaned `FieldErrors` is a type of [`errors`](https://react-hook-form.com/api/#errors) object.
The keys in the `errors` object would be `undefined`, but the `errors` object itself cannot be `undefined`.
If form is no error, the `errors` object will be `{}`.

[2020-03-31 00:35] pmowrer opened #1304 "Pattern validation not working like in HTML forms"
**Describe the bug**
According to the docs, this library aims to "[align] with the existing HTML standard for form validation." Given this, I expected the library's `pattern` validation to work the same as regular HTML validation, but unless I'm missing something (in which case forgive me), it doesn't appear to be the case.

**To Reproduce**
1. `register` an input and pass `pattern: /\w+/` as the

[2020-03-31 01:05] bluebill1049 commented on #1304
Thanks @pmowrer for the issue report.

It's by design, we are not only support HTML inputs. The lib supports external controlled component, React Native and etc.

<img width="252" alt="Screen Shot 2020-03-31 at 12 03 20 pm" src="https://user-images.githubusercontent.com/10513364/77976073-a36e2b80-7347-11ea-912d-780bf781c52a.png">

we are using regex with `test` API in the lib, for proper regex, yo

[2020-03-31 01:27] b-bunhak opened #1305 "option for defaultValues at form to override defaultValue at field"
It would be very useful for me if it was possible to use the defaultValue from the field but also be able to override this value when data comes in from the api and passed into the form hook. This used to be how the Controller worked in an earlier version but as of the latest version that no longer is the case.

[2020-03-31 01:29] bluebill1049 commented on #1305
take a look this: https://react-hook-form.com/api#reset

[2020-03-31 01:36] b-bunhak commented on #1305
thanks for answering so quickly. I know about the reset. It's a bit complicated for me to explain what i'm trying to do but i will try. I want to be able to pass in a defaultValue at the field value and also be able to use the reset api. If I pass in a defaultValue to the field, when i reset even if i pass in a new value it get reset to the field defaultValue.

[2020-03-31 01:37] b-bunhak commented on #1305
I would like to have an inline defaultValue and also be able to reset to a new value with the reset api.

[2020-03-31 02:04] pmowrer commented on #1304
Sorry to say I'm still confused. When you say "our constraint based validation API", I'm supposed to take away that this is a custom validation API and I shouldn't expect things to work like in HTML? But you also use the term "HTML standard" and say that library "[aligns] with the existing HTML standard for form validation" (as quoted above). The list of built-in validators is the exact same as th

[2020-03-31 02:06] bluebill1049 commented on #1304
again... another aggressive people in the community.
I guess you are right :) There is no point, you can stop using the lib it's as simple as that.

[2020-03-31 02:06] #1304 closed

[2020-03-31 02:11] bluebill1049 commented on #1305
Is this work for you?

[code]

[2020-03-31 02:33] b-bunhak commented on #1305
I made a sandbox to try to explain.
https://codesandbox.io/s/recursing-bose-e95oq
Regular ref with defaultValue resets with new value but controller with defaultValue does not. I need to set to set a defaultValue on the controller and the later be able to reset it to a new value. In the docs it says that the inline defaultValue overwrites the form defaultValues but it would be very helpful to me i

[2020-03-31 02:47] bluebill1049 commented on #1305
https://codesandbox.io/s/red-snowflake-f0udg

[2020-03-31 03:03] b-bunhak commented on #1305
I made reusable form components. These components are used in some forms that start empty and also in other forms that start with values. Since all fields need an initial values in order to not get the uncontrolled component error I set the defaultValue as "", false, or null depending on the type of component on these reusable components. This is useful so I don't have to repeat having to set all

[2020-03-31 03:05] bluebill1049 commented on #1305
you can give default value as empty right?

[2020-03-31 03:14] b-bunhak commented on #1305
Yes this works but it's what i'm trying to avoid. Using it this way I am forced to write out every field and the empty value for every form, I have a lot of forms :/. If I am able to set the defaultValue on the controller as empty and overwrite that value with the reset api later then I don't need to write out everything all the time and can use my reusable components.

[2020-03-31 03:16] bluebill1049 commented on #1305
last option is probably using `setValue`, if that's working for you, then i don't think there is an alternative for this lib.

[2020-03-31 03:35] b-bunhak commented on #1305
I think it's possible or me to hack something together with setValue but it's a bit messy, i'm still testing it. Thanks

[2020-03-31 03:36] b-bunhak commented on #1305
Would you be open to adding an option to controller component for what i am trying to do? I can write it if you are open to the idea.

[2020-03-31 03:36] bluebill1049 commented on #1305
Thanks, but for now i don't think we want to introduce more complexity the API.

[2020-03-31 03:49] b-bunhak commented on #1305
Well, you have broken my heart bill. Thanks for the lib. I really like it. 4.9.7 is the last version that works the way I need it will stay there :/

[2020-03-31 03:57] bluebill1049 commented on #1305
@b-bunhak you are saying version 4.9.7 is working as what you expected? can you show me a CSB? in case i am missing something here.

[2020-03-31 05:00] b-bunhak commented on #1305
Okay I made a sandbox to try and show my use case, it's a but messy but hopefully you understand.
This is on version 4.9.7 working how i need it to
https://codesandbox.io/s/charming-herschel-8i8tm

This is on latest version not working for me
https://codesandbox.io/s/vigilant-cray-nqgjy

On the 4.9.7 version you can see that it loads the initial values in the form but in the latest it does not.

[2020-03-31 05:04] b-bunhak commented on #1305
I was reading the library source and this commit 1d201d2ed066350a6f186ff7358441213c95d48c was when it stopped working the way I would like it to. It seems like it was an intentional choice by you guys but it would be incredible for me if there was an option to have same functionality as 4.9.7 in the newest version.

[2020-03-31 05:13] bluebill1049 commented on #1305
that fix was a bug fix. i added the following code into your example, it's working again.

[code]

[2020-03-31 05:32] b-bunhak commented on #1305
The problem with setValue is that it is difficult to use with many fields at once and also the docs say it sets touched and dirty to true, I was looking for a proper reset. The only way to get what I need to work is by having an option to turn that "fix" off, letting the form default overwrite the inline default. Other than that from what I've seen there is no other way to do what I want. Thats ok

[2020-03-31 05:46] bluebill1049 commented on #1305
I will take another look before closing this issue. hopefully i can find a solution. if not then i will close this. at least give it a try.

[2020-03-31 05:54] b-bunhak commented on #1305
Alright, I will try making my app work with setValue in the meantime. Thank you very much.

[2020-03-31 06:06] bluebill1049 commented on #1305
just a thought:

any chance to remove `defaultValue=""` and always compose a `defaultValues` for your form?

[2020-03-31 06:23] afzalsayed96 commented on #615
Thanks @bluebill1049
That seems fair. Could you explain how to use `Controller` with uncontrolled `input` element?

[2020-03-31 06:43] Nickman87 commented on #1302
Ok, I can manage that with the resolver solution.
I noticed that in my sandbox, when you do a full page reload, the validation does not work, only after doing an internal refresh (in the sandbox browser page). That does not seem like a correct flow?

[2020-03-31 08:48] bluebill1049 commented on #615
@afzalsayed96 here is an example: https://codesandbox.io/s/awesome-hopper-bqr84

[2020-03-31 09:16] afzalsayed96 commented on #615
Thanks a lot!

[2020-03-31 09:22] bluebill1049 commented on #1302
Yes, sure feel free to provide your suggestion or send a PR as well.

i notice in your example you are doing a curry, i think you want to send data via `validationContext`.

similar question here as well: https://spectrum.chat/react-hook-form/help/useformcontext-and-errors~41a32449-970d-4094-82e2-e4d2564fc64e

[2020-03-31 13:16] arojunior opened #1306 "latest tag is missing in npm registry"
**Describe the bug**
The tag `latest` is missing in releases list / npm registry

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install react-hook-form`

**Screenshots**
`npm ERR! 404  'react-hook-form@latest' is not in the npm registry.`

I had to use `npm install react-hook-form@5.2.0` to install the latest version.

[2020-03-31 14:00] vensauro commented on #1305
You can set default initial value at component level:
[code]

[2020-03-31 14:06] vensauro commented on #1305
Or use a function that transform a object(key: value) to a array with the type of the `setValue`:
setValue type:
[code]
Example:
[code]
toEntriesObjects function:
[code]

but the best way to do that is with: https://github.com/react-hook-form/react-hook-form/issues/1305#issuecomment-606419950 + https://github.com/react-hook-form/react-hook-form/issues/1305#issuecomment-606645853

[2020-03-31 14:09] subvertallchris commented on #23
I'm finding that `onBlur` with Yup doesn't work until you submit the form once. You can see it in the codesandbox in @bluebill1049's comment above. Is this expected?

[2020-03-31 14:44] b-bunhak commented on #1305
@vensauro Yes! This works, exactly what I need. It seems obvious now that you said it but I don't think I would have thought of it. Thank you very much! Helped me a lot.

[2020-03-31 14:44] #1305 closed

[2020-03-31 15:00] b-bunhak commented on #1305
also thanks @bluebill1049 for spending time helping me out and of course for the lib

[2020-03-31 15:03] MatheusLuiz2000 opened #1307 "Help with defaultValue and Call API using useEffect"
Hey guys!! I am back and i sorry to make a lot of questions here but i am new using react-hook-form and react so.

I'm doing a API call and receving the results correctly but when i pass the values to my Component, the defaultValue is not set correctly but with i write a console.log in props.defaultValue, i recive the value correctly!

This is my code.

Here I make a call API and return the values

[2020-03-31 15:25] s97712 commented on #1090
@bluebill1049 @xiaoyu-tamu
Consider the following usage?

[code]

[2020-03-31 15:53] s97712 opened #1308 "getValues with defaultValues problem"
[code]
It should print ` {kind: "Tcp"}`, but actual print `{}`

[2020-03-31 16:08] #1308 closed

[2020-03-31 19:03] StarpTech opened #1309 "Reset with defaults does not behave like setValue when working with array fields"
**Describe the bug**
Calling `reset({ foo: ['bar'] })` won't update the array field with `'bar'` but clear the field.

1. Click 3 times on `Add Control`
2. Click on `Reset with defaults`
3. Fields are not updated!

**To Reproduce**

https://codesandbox.io/s/react-hook-form-watch-gmm6v

[2020-03-31 19:28] StarpTech opened #1310 "Can't prefill (setValue) values for conditional fields"
**Describe the bug**

1. Click on `Add control`
2. Click on `Reset with defaults`
3. The text input is filled with `a`
4. Click two times on `Add control`
5. The new text input fields are still empty.

**Expectation**

I expect that the values are stored even when the controls don't exist in order to restore the form state when conditional fields are added. This would be consistent with the behavi

[2020-03-31 20:34] StarpTech opened #1311 "Can't infer the exact control when working with errors on array fields"
**Describe the bug**

This is an example of the error of an array field. How should I conclude to a specific control? Using the index would be very hard.

[code]

**Expectation**

I expect that error looks like this:

[code]

**To Reproduce**

1. Click two times on `Add control`
2. Submit Form
3. See console output

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-watch-4hh

[2020-03-31 21:16] havengoer opened #1312 "Add an active field in formState"
**Is your feature request related to a problem? Please describe.**
I'm in the process of rewriting our various Redux Forms to React Hooks Form, which has been a painless experience so far (props to the team!).

The issue I've come across with is the lack of `active` state for the fields. `formState` provides a lot of context, and the methods `onBlur` and `onFocus` has been enabled me to continue w

[2020-03-31 21:49] bluebill1049 commented on #1306
Thanks for the issue report. looks like everything is working as expected here. which version of npm do you have?

<img width="653" alt="Screen Shot 2020-04-01 at 8 48 55 am" src="https://user-images.githubusercontent.com/10513364/78078299-a45d9680-73f5-11ea-8802-a2f64d9a3d2d.png">

<img width="773" alt="Screen Shot 2020-04-01 at 8 48 24 am" src="https://user-images.githubusercontent.com/10513364/

[2020-03-31 21:50] bluebill1049 commented on #23
@subvertallchris which comment & can you post the link of the CSB?

[2020-03-31 21:53] bluebill1049 commented on #1305
Thanks @b-bunhak I do as much as i can here :) thanks @vensauro for saving the day! <3

[2020-03-31 22:04] bluebill1049 commented on #1312
hey @havengoer thanks for the feature request. I think we can track this pretty easy with `onFocus` on each fields for now. I will attach a waiting for votes for this feature too.

[2020-03-31 22:10] bluebill1049 commented on #1090
@s97712 thanks :) you can pretty much do that in Controller

`<Controller name="test" onChange={e => parseInt(e.target.value, 10)} />`

[2020-03-31 22:28] bluebill1049 commented on #1310
thanks for the issue report.

- setValue: only can set value which have been registered
- you may want to consider to use field array

[2020-03-31 22:31] bluebill1049 commented on #1311
Thanks @StarpTech for the issue report, we don't have any plan to change our errors object shape for now. thanks for your suggestion tho.

[2020-03-31 22:31] #1311 closed

[2020-03-31 22:37] #1306 closed

[2020-03-31 22:45] StarpTech commented on #1311
How do you deal with that?

[2020-03-31 22:48] bluebill1049 commented on #1307
hey @MatheusLuiz2000 any change to provide a simple codesandbox? I haven't read everything above just, but a simple codesandbox will help me to provide a solution for you.

[2020-03-31 22:50] bluebill1049 commented on #1311
@StarpTech in the original release, i had flat error object, i love it, but a lot of people complained about the type support, and hence why moved to v4 with the nested object shape to have better support for TS.

Flat one
`errors['test[0]']`

Now:
`errors.test[0]`

[2020-03-31 22:51] bluebill1049 commented on #1310
I think you what you after is a way to append, remove and reset items dynamically. feel free to correct me if i am wrong :) that's why i was thinking field array probably will be a better fit for your use case:

https://react-hook-form.com/api#useFieldArray

[2020-03-31 23:01] StarpTech commented on #1311
The solution is fine when you track the identity of each control in a single place but as soon as you deal with many losely coupled components it becomes very hard to maintain because the component don't know its own index.

[2020-03-31 23:07] StarpTech commented on #1310
Thanks, I will check it.

[2020-03-31 23:12] StarpTech commented on #1311
Is there a chance to add another field to the error object to indentify the field from point of view of the control ? e.g

[code]

[2020-03-31 23:24] bluebill1049 commented on #1311
sorry @StarpTech it's not in the current scope.

[2020-03-31 23:26] MatheusLuiz2000 commented on #1307
Hey bill! Thanks for help!

Here is https://codesandbox.io/embed/sparkling-framework-ldq76?fontsize=14&hidenavigation=1&theme=dark

You can look that i am setting a defaultvalue and when i submit the form, the validation understand that the input don't have the value that shows in input... can you help me?

[2020-03-31 23:27] bluebill1049 commented on #1305
Thanks @b-bunhak for your sponsorship. I really appreciated that, and totally didn't expect that as well. I know you have set it to private and i can't reach you via an email. so i will write the message here and delete it. Thank you very much for your support and kindness. ❤️

[2020-03-31 23:28] bluebill1049 commented on #1307
no worries @MatheusLuiz2000 i will take a look for you during my lunch break.

[2020-04-01 04:00] bluebill1049 commented on #1307
oops mistake...

if your data is coming async, you can use `reset({ defaultValues })`.

[2020-04-01 04:05] bluebill1049 commented on #1307
Take a look this example: https://codesandbox.io/s/vigorous-shannon-hwngn

[2020-04-01 05:42] yec opened #1313 "is there a way to set specific fields to revalidate onSubmit while other revalidate onChange?"
is there a way to set specific fields to revalidate onSubmit while other revalidate onChange?

[2020-04-01 05:47] bluebill1049 commented on #1313
not a very clear question....

is this what you after? https://react-hook-form.com/api#triggerValidation

[2020-04-01 05:56] yec commented on #1313
almost the inverse of that. i want to pause onChange validation on some fields until whole form is submitted. i don't want the whole form to be revalidate onSubmit

[2020-04-01 06:22] bluebill1049 commented on #1313
then you should write logic in side your `validate` function

[2020-04-01 06:40] s97712 commented on #1090
thanks :) The `Controller` is not very convenient, I hope there is a simpler and more convenient way

[2020-04-01 06:53] yec commented on #1313
thanks. how can the validate function know if it was triggered by onSubmit or onChange?

[2020-04-01 06:55] bluebill1049 commented on #1313
This is very specific case, i guess you can use isSubmitted, or have a state update when user click on the submit button.

[2020-04-01 07:01] yec commented on #1313
anyway i did this for now. will force the form to be reValidateMode onSubmit

[code]

[2020-04-01 07:08] bluebill1049 commented on #1313
cool glad you worked it out youself.

[2020-04-01 07:08] #1313 closed

[2020-04-01 07:26] yec commented on #1313
found another solution using submitCount, its much better.

[2020-04-01 07:44] bluebill1049 commented on #1313
oh awesome! i forgot about that...

[2020-04-01 08:28] eimerreis opened #1314 "FieldArray add does not populate initial values"
**Describe the bug**
I tried to create a table, where it's possible to add a new row, using the `useFieldArray` hook. For values coming into my component via props, this works fine.
Unfortunately, when I try to use the `append` method, and pass in a new object with some default values, the app breaks, because it seems like the object that I just passed to the `append` method is `undefined`.

I'm j

[2020-04-01 08:30] bluebill1049 commented on #1314
Thanks for the detailed issue report @eimerreis any chance you can provide a smaller and simpler codesandbox just to reveal the issue?

[2020-04-01 08:33] bluebill1049 commented on #1288
here is an updated version: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-x7btr

[2020-04-01 08:58] eimerreis commented on #1314
Wow! I'm buzzed you replied within 3 minutes 🚀 💪 .
I removed unnecessary stuff from the codesandbox. https://codesandbox.io/s/react-hook-form-issue-ltcgr

[2020-04-01 09:03] bluebill1049 commented on #1314
sweet. thanks i am working on a fix for the lib, i will take a look at your code soon. ❤️

[2020-04-01 09:05] StarpTech commented on #1310
Hi @bluebill1049 `useFieldArray` works great :+1: thank you. One hint: According to the docs the option `control` is optional but it was required otherwise I will get an exception.

[2020-04-01 09:06] bluebill1049 commented on #1310
if you are using FormContext, then it's optional. 👍

[2020-04-01 09:08] StarpTech commented on #1310
That's confusing :smile: because `optional` is on the line of the parameter.

[2020-04-01 09:09] #1310 closed

[2020-04-01 09:09] bluebill1049 commented on #1310
`control, // control props comes from useForm (optional: if you are using FormContext)`

feel free to submit a PR to adjust that.

[2020-04-01 09:09] eimerreis commented on #390
For anyone else having problems with that:
In my case, i tried to bind an instance of  `Date` to an HTML Input with type date. Unfortunately, HTML Date pickers expect a string value.

Moving from
[code]

to
[code]

solved the problem for me

[2020-04-01 09:29] #1288 closed

[2020-04-01 09:31] bluebill1049 commented on #1314
Is this what you after? https://codesandbox.io/s/react-hook-form-issue-c234n

[2020-04-01 09:33] bluebill1049 commented on #1314
you can change the keyName by the way: https://react-hook-form.com/api#useFieldArray

[2020-04-01 10:08] eimerreis commented on #1314
I will adapt my app's code. Seems like this is what I looked for.

Will give you feedback once I put this into my code

[2020-04-01 10:09] bluebill1049 commented on #1314
no worries :) let me know. how did you go.

[2020-04-01 11:05] eimerreis commented on #1314
Works as you suggested! 👍

Remove also didn't work properly but we managed to fix this by having a look at #1208

[2020-04-01 11:05] #1314 closed

[2020-04-01 12:15] MatheusLuiz2000 commented on #1307
Omg Bill! You are amazing man, i spend all my time yesterday in this, thank you soo much!

[2020-04-01 12:18] bluebill1049 commented on #1307
That's all good @MatheusLuiz2000 👍  next time when you stuck for long, feel free to send a question on Spectrum.

[2020-04-01 12:18] subvertallchris commented on #23
You can use this https://codesandbox.io/s/react-hook-form-validationschema-vk3s4. It's the CSB from your very last comment before now with `reValidateMode: 'onBlur'`. You'll see that it doesn't run validations at all until you submit the form but then it runs correctly.

[2020-04-01 12:20] bluebill1049 commented on #23
@subvertallchris i am going to sleep now, can you make sure use the latest version? in case that's the fix.

[2020-04-01 12:24] subvertallchris commented on #23
Updated it to use the current version, which I'm also running locally -- no change. Thanks for quick reply and all your work on this library, it's excellent!

[2020-04-01 13:37] ignapas commented on #318
Hello! In my case, I am using your package (which I find awesome) to model generate complex form with nested inputs (objects and arrays).
While generating the form, I construct the jsonPath of every node as I go deeper into the model, and use it as the name. It was very convenient to access the validation errors just by their field's name or jsonPath.
Now the ``ErrorMessage`` component successfull

[2020-04-01 13:57] opeah opened #1316 "Reset multiple input file does not work as excepted"
Hi @bluebill1049

**Describe the bug**
Got a strange behavior when I have 2 or more file inputs and I want to reset one of these.
When I hit "reset" all file inputs are reseted.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 file inputs
2. Reset one of these with reset function
3. All file inputs are reseted

**Codesandbox link (Required)**
https://codesandbox.io/s/icy-darkn

[2020-04-01 20:02] TiagoSousa26 opened #1317 "Changing element and keeping the name don't get submitted"
**Describe the bug**
Changing the type of the element and keeping the `name` doesn't show on the submitted values.
I have a field that depends on a condition to be an `input` or a `select` but it still has the same `name` it's only a different type. If I submit after changing the type of the element it's doesn't show on the submitted values.
Probably this is happening because it gets a different `

[2020-04-01 21:00] bluebill1049 commented on #318
@ignapas i love flat error object... but he community wants Type support... sad :( gotta follow the community's needs.

[2020-04-01 21:05] bluebill1049 commented on #1317
have a read this FAQ: https://react-hook-form.com/faqs#Whyisdefaultvaluenotchangingcorrectlywithternaryoperator this will help.

[2020-04-01 21:32] bluebill1049 commented on #1098
if you are reading this issue, if you are working with drag and drop/ virtual scroll. i will recommend not to register the input ref, rather register inputs at `useEffect` and update value with `setValue`.

here is an example and guide: https://react-hook-form.com/advanced-usage#Workingwithvirtualizedlist

[2020-04-01 21:33] bluebill1049 commented on #1312
here is relevant feature request: https://github.com/react-hook-form/react-hook-form/issues/808 i think both user have redux-form background.

[2020-04-01 22:22] havengoer commented on #1312
And thanks for the prompt response as well, @bluebill1049. And you're right, `onFocus` paired on `onBlurred` is enough to solve my issues and become a work-around for Redux's active state fields.

[2020-04-01 22:22] #1312 closed

[2020-04-01 22:24] bluebill1049 commented on #1312
thanks @havengoer for the update 👍

[2020-04-01 22:27] bluebill1049 commented on #23
@subvertallchris that's correct behaviour for reValidateMode: "onBlur". you want to change your mode to "onBlur"

[2020-04-01 22:44] subvertallchris commented on #23
😮!

I saw `reValidationMode` and assumed from the lack of plain `validationMode` that it handled 100% of the operation. Thanks for the clarification!

[2020-04-01 22:50] brayanL commented on #1005
@bluebill1049 maybe you can provide an example more specific please, I have the same problem. I don't know if I have to remove the form tag too..!

[2020-04-01 22:51] bluebill1049 commented on #23
all good, sorry for the late reply. i was tired last night and went to bed.

[2020-04-01 22:53] bluebill1049 commented on #1005
@brayanL can you produce a simple codesandbox for me to take a look?

[2020-04-01 22:57] subvertallchris commented on #23
Oh man, nothing to apologize for! My day is just starting as yours is ending. This was a great turnaround time. FYI I've already got your library in production and it's going to be part of every form in the project, it's providing a great value already. Thank you for all your hard work.

[2020-04-01 23:21] bluebill1049 commented on #1316
This is a tricky one. I would recommend not using `reset()` with input files.

We are using native form HTML `reset` inside the hook, the moment its get invoked all input file reference will get removed.

i would recommend the following:

1. to use `setValue` to reset other fields.
2. deep clone what's `getValues()` returns (i haven't tried that)

[2020-04-02 00:10] bluebill1049 commented on #1302
just a quick follow up here, how did you go with the issue?

[2020-04-02 00:10] #1307 closed

[2020-04-02 00:11] bluebill1049 commented on #1222
Going to close this issue now, but add it to my back log. This will be worked in the next couple weeks.

[2020-04-02 00:11] #1222 closed

[2020-04-02 00:12] bluebill1049 commented on #1309
Going to close this issue now, feel free to follow up with more questions.

[2020-04-02 00:12] #1309 closed

[2020-04-02 02:37] ccnokes commented on #721
(Sorry to weigh in on an old issue but I just ran into this)

I guess the way this behaves now makes sense because that's how React handles it with `input` and `defaultValue`. See https://codesandbox.io/s/async-defaultvalue-uv9no. If you set `defaultValue` to some string to start with, then change it later, it does not update the value of the input. If it's null, then it will. Considering that's h

[2020-04-02 02:41] bluebill1049 commented on #721
or @ccnokes `setValue` https://react-hook-form.com/api#setValue

[2020-04-02 02:42] bluebill1049 commented on #721
by the way the new reset function allow you to omit reset formState include errors

[2020-04-02 06:00] brayanL commented on #1005
I fixed the problem I had to remove onSubmit of form tag and add it on onClick button :)

[2020-04-02 06:12] bluebill1049 commented on #1005
awesome! @brayanL

[2020-04-02 09:04] Nickman87 commented on #1302
@bluebill1049 Thanks for the feedback, I have not yet had a chance to revisit my code to implement a workaround.
I will probably get around to doing this by the end of the week and will post back here!

[2020-04-02 09:06] bluebill1049 commented on #1302
awesome @Nickman87 looking forward for your feedback :)

[2020-04-02 09:14] evgeniy-dainovich commented on #1085
Just a short reminder for someone who find the same error.
I haven't added `Controller` as in this issue said, I use `Input` from `reactstrap` directly. But after reviewing a lot of issues I eventually checked that my attribute `name` was with extra dot in it.
[code]
Thanks to the authors for a great repo! :1st_place_medal: :rocket:

[2020-04-02 09:19] bluebill1049 commented on #1085
my pleasure @evgeniy-dainovich we have an improvement coming this weekend for `useFieldArray` as well.

[2020-04-02 09:21] bluebill1049 commented on #1085
you may want to install the dev tool as well: https://react-hook-form.com/dev-tools you can see what are the fields got registered next time.

[2020-04-02 10:03] TiagoSousa26 commented on #1317
I did another sandbox with that example https://codesandbox.io/s/react-hook-form-faq-toggle-fields-ingvf
Now it gets the default value but doesn't get submitted. The only way is to give him a different `name` but it's the only way or I am missing something?
I also updated the first example to have keys and have the same behaviour.

[2020-04-02 10:09] bluebill1049 commented on #1317
@TiagoSousa26 oh sorry i think i miss looked at your question. If you want the same name, then you will have to invoke `unregister` yourself (before the toggle).

[2020-04-02 10:38] bluebill1049 commented on #1297
I am going to close this issue, feel free to send a PR whenever you are ready. thanks a lot.

[2020-04-02 10:38] #1297 closed

[2020-04-02 14:40] raunofreiberg opened #1319 "Validation errors don't appear"
**Describe the bug**
Validation errors don't appear when typing into the field. This is the minimal example provided in the README. I was hoping that validation would be possible when filling in the form, not only when submitting?

**Codesandbox link (Required)**
https://codesandbox.io/s/infallible-ritchie-q8ty0

**Expected behavior**
Validation errors should appear.

[2020-04-02 14:52] raunofreiberg commented on #1319
Okay. I found that `mode` is what I'm looking for: https://react-hook-form.com/api#useForm

Although, as a first time user of this library, I found it quite misleading when the Form Builder example had `onChange` validation, whereas by default `useForm` provides `onSubmit` validation 🙂

[2020-04-02 14:57] raunofreiberg commented on #1319
Also, with `mode: onChange`, is it possible to have validation errors appear when the user touches the field and blurs (would want to show that it is required)?

[2020-04-02 15:43] neopostmodern opened #1320 "Can't watch nested fields when objects are returned from component inside Controller"
**Describe the bug**
When a component inside a `Controller` returns an object to `onChange` the data gets stored correctly, but the properties of this object can't be watched.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kv7cv.csb.app/
2. Edit the field named "native" and observe how it updates when it's watched
3. Edit the field named "nested"
4. If watching a property of '

[2020-04-02 15:48] wrporter opened #1321 "Provide more granular control of when validation gets triggered"
**Is your feature request related to a problem? Please describe.**
There are currently 3 `mode`s for triggering validation on a form: `onSubmit`, `onBlur`, and `onChange`. It is a common best practice in UX to perform validation onChange with a debounce period (something like 400 milliseconds) as well as onBlur, therefore providing the user with timely feedback. This is currently not possible with

[2020-04-02 16:32] ilovett opened #1323 "github issue template can include links to CSB boilerplate / templates"
**Is your feature request related to a problem? Please describe.**
When creating an issue, would be nice to make it easier to describe the issue with a codesandbox link directly in the template.

**Describe the solution you'd like**
Add a link to a basic CSB form with all boilerplate setup, or perhaps a link to a list of different boilerplate templates to choose from EG: controlled vs. uncontrolle

[2020-04-02 17:55] Nikoms opened #1324 "Is it possible to remove the "keyName" on submit ?"
Hello,

I'm using GraphQL to post the form and I'm using `useFieldArray`. The problem is that GraphQL is strict when posting data and it checks for the schema of the data. I don't need/want the "id" for each item on submit

Do you know a way to remove them "built-in" ? Of course I can remove the id field "later", but It's not the best idea for me :)

Thank you!

[2020-04-02 19:14] gzdunek opened #1325 "In validateCriteriaMode: "all" and mode: "onChange" errors do not refresh correctly"
**Describe the bug**
In validateCriteriaMode: "all" and mode: "onChange" errors do not refresh correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-errormessage-multiple-error-messages-3651q
2. Click on on input field in browser
3. Type "1234g" into input
4. Only "This input exceed maxLength" error is visible.
5. Click on Submit button.
6.

[2020-04-02 19:34] TiagoSousa26 commented on #1317
It worked thanks.

[2020-04-02 19:34] #1317 closed

[2020-04-02 21:05] Nikoms commented on #1324
My bad :)

[2020-04-02 21:05] #1324 closed

[2020-04-02 21:10] bluebill1049 commented on #1323
Awesome idea!

[2020-04-02 21:19] bluebill1049 commented on #1319
Please take a look the form state: https://react-hook-form.com/api#formState

[2020-04-02 21:19] #1319 closed

[2020-04-02 21:27] bluebill1049 commented on #1320
`watch` can only subscribe to the input which is registered. The component inside your controller is not `reigstered`. That's why it's not working. We don't support and simply can't make it work for such usage.

[2020-04-02 21:28] bluebill1049 commented on #1321
Do you have a reference for that?

At the stage, we are not looking for a change for `mode`.

[2020-04-02 22:17] ErikAGriffin commented on #1146
Hi I am experiencing this same behavior: the sandbox linked is always logging `{}`, dirtyFields never gets populated

[2020-04-02 22:23] bluebill1049 commented on #1146
@ErikAGriffin please provide a codesandbox.

[2020-04-02 22:44] bluebill1049 commented on #1325
There is no issue around this one.
try `123g`

- maxLength is 3
- and pattern is number only.

[2020-04-02 22:50] bluebill1049 commented on #1325
sorry for the back and forwards. issue confirmed.

[2020-04-02 23:02] bluebill1049 commented on #1325
fixed: https://codesandbox.io/s/react-hook-form-errormessage-multiple-error-messages-0e909

[2020-04-03 01:16] #1325 closed

[2020-04-03 09:30] bluebill1049 commented on #1316
Thanks for understanding @opeah and raise the issue. closing this issue now.

[2020-04-03 09:30] #1316 closed

[2020-04-03 10:33] neopostmodern commented on #1320
Okay – that's of course bad for me, but understandable. Are you aware of any good workarounds for this (besides simply watching the parent object)?

[2020-04-03 10:42] bluebill1049 commented on #1320
consider build a custom controlled component (which contains your nested inputs) and wrapped with Controller.

`<Controller as={CustomComponent} name="test" />`

`CustomComponent` will return a nested object as return data.

[2020-04-03 10:43] #1320 closed

[2020-04-03 10:53] neopostmodern commented on #1320
Sure, that's what I've been doing (and getting and submitting the data works completely find) – the question is how to efficiently (without unnecessaries re-render because an unrelated property changed) watch properties of the nested component.
E.g. say the `CustomComponent` you define above returns an object with an ID field and then also dozens of other properties, some of which are maybe arrays

[2020-04-03 10:58] bluebill1049 commented on #1320
thanks for understanding. let's continue the discussion here or perhaps send a question at spectrum.
Controller will isolate re-render within, so I don't think you have to worry about your root/form gets re-rendered. Ideally, you should have each input registered separately, but I understand this must be your requirement. The idea is basically to build your component like react-select, and let the

[2020-04-03 11:03] #1323 closed

[2020-04-03 11:56] sanohin opened #1331 "Controlled input passed as a render fn is blurred if it's watched"
**Describe the bug**
If you use Controller and pass a render function to `as` property, and `watch` for this field, the input will be blurred while typing.

**To Reproduce**
Steps to reproduce the behavior:
1. Focus first field
2. Type a char
3. Observe the input is blurred

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-get-started-tj2cs

**Expected behavior**
Expected t

[2020-04-03 12:13] bluebill1049 commented on #1331
Thanks for the issue report. We don't support such usage as render props at the moment.

[2020-04-03 12:36] sanohin opened #1332 "Watch does not return default value"
**Describe the bug**
`watch` function does not return the default value passed to a component.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component with some default value
2. Watch the field
3. Observe that default value is not returned (component is not updated)

**Codesandbox link (Required)**
I forked an example from here https://react-hook-form.com/advanced-usage#Conditiona

[2020-04-03 12:39] bluebill1049 commented on #1332
thanks for the issue report. but please read the doc https://react-hook-form.com/api#watch
the first two dot points.

[2020-04-03 12:39] #1331 closed

[2020-04-03 12:40] #1332 closed

[2020-04-03 12:58] rajashekar63 opened #1333 "reset not working when form contains only checkbox and radio"
**Describe the bug**
Reset not working when form contains only inputs checkbox and radio

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/react-hook-form-reset-form-61crk?from-embed'
2. Update radio and checkbox values
3. Scroll down and click on  'Custom Reset Field Values & Errors'
4. Values are not reset

**Codesandbox link (Required)**
https://codesandbox.i

[2020-04-03 13:47] ErikAGriffin commented on #1146
The one linked at the top of this thread is producing this behavior for me.

https://github.com/bluebill1049

[2020-04-03 14:40] frank7huysen commented on #1146
[Sandbox](https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-2esrm)

I also found something interesting(I guess). When I try to access formState.dirtyFields in the onSubmit it returns an empty array.  See _scenario 1._

[code]

However when I put a log statement in my Functional Component which logs dirtyFields during render then it works. See _Scenario 2_.

### Scenario 1:

[2020-04-03 15:39] ErikAGriffin commented on #1146
@frank7huysen what exactly are you replacing the `console.log("test");` to get it to work in the sandbox you linked?

[2020-04-03 15:47] opeah commented on #1316
Thans @bluebill1049, will try this and keep you update.

[2020-04-03 16:16] frank7huysen commented on #1146
change
`console.log('test')`
to
`console.log("render: ", [...formState.dirtyFields.values()]);`

[2020-04-03 18:56] ilovett opened #1334 "nested field array `remove` at index out of sync"
**Describe the bug**

`remove(lastIndex)` doesnt seem to remove the expected field created with `useFieldArray` -- not sure if its due to examples nested array.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-template-7iwer
2. In set 0, click append twice
3. Edit set at index 1
4. Click "Remove @ 2"
5. Observe index 1 removed

**Co

[2020-04-03 19:24] ErikAGriffin opened #1335 "mode: 'onBlur' does not trigger validation for required radio inputs"
**Describe the bug**
When using the 'onBlur' mode for the form, the formState does not become valid until all fields have been blurred and without errors.  Radio inputs are not triggering validation when they are blurred or selected, unless 'onChange' mode is used which is altogether different.

Now, this would not always be a problem because a required radio input is clear in that if it is not se

[2020-04-03 22:23] bluebill1049 commented on #1146
Yes it's due to Proxy: https://react-hook-form.com/api#formState

also `dirtyFields` is a `Set`

<img width="941" alt="Screen Shot 2020-04-04 at 9 23 01 am" src="https://user-images.githubusercontent.com/10513364/78409642-e71da980-7655-11ea-88fe-f02ae6c9cf4d.png">

[2020-04-03 22:34] bluebill1049 commented on #1335
hey @ErikAGriffin that's expected behavior. you have to click and blur to trigger the validation.

[2020-04-03 22:37] ErikAGriffin commented on #1335
That would be fine, then one would only have to add the onClick handler to radio elements that appear last in a form.

However clicking then blurring still does not trigger the validation. See the attached Sandbox @bluebill1049

[2020-04-03 22:38] bluebill1049 commented on #1335
Oh! really? i will take a look

[2020-04-03 22:39] bluebill1049 commented on #1335
works for me, which browser are you on?

[2020-04-03 22:40] bluebill1049 commented on #1334
hey @ilovett I think there is a fix coming for this already. Take a look this CSB:
https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-x7btr

[2020-04-03 22:52] #1321 closed

[2020-04-03 23:06] jonwaldstein opened #1336 "the watch method and values from useFieldArray are out of sync"
**Describe the bug**
The `watch` method does not recognize the updates from `useFieldArray`.  In the codesandbox i am console logging all watched values out.  Any changes from the form field values should be reflected in that watch method, including the modified values in `useFieldArray` but in this case the values are not accurate.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the c

[2020-04-03 23:17] bluebill1049 commented on #1336
Try watch that array field : watch('test')

[2020-04-03 23:51] bluebill1049 commented on #1336
thanks for report this issue: https://codesandbox.io/s/issue-usefieldarray-watch-broken-m5x4h patch is coming.

[2020-04-04 00:26] ErikAGriffin commented on #1335
Hmm apologies now works for me too.. but wasn't doing so in development.  I can look to see what's different between my environment and the sandbox I created

[2020-04-04 00:26] #1335 closed

[2020-04-04 01:36] JasonTheAdams commented on #1336
@bluebill1049 Amazing turn around time! Did you happen to notice, though, that if you remove _all_ of the instances it snaps back to the initial values instead of an empty array?

[2020-04-04 01:38] bluebill1049 commented on #1336
Yea, that's expected behaviour for `watch`. I think see your concern tho. you may need to use formState like touched/dirty to counter with this issue.

[2020-04-04 02:17] JasonTheAdams commented on #1336
Hmm... I can see how we'd check to see if the field is/dirty touched to know if it's been modified, but I'm not sure how that would help. If the field has been dirty but is back to its default state, we can't assume that means it's empty. Would you mind elaborating a bit more on your idea?

[2020-04-04 02:19] JasonTheAdams commented on #1336
In my mind there's a fundamental difference between the initial state of a field and its watched state. I would think that watch only returns the default value until the field is dirty, at which point it returns whatever its actual state is. In what scenario would it make sense for a field to appear default in a dirty state?

[2020-04-04 02:26] bluebill1049 commented on #1336
yea @JasonTheAdams, i agree with your statement above. The reason behind such behaviour is so when user invoke `watch` the first time will not return `undefined` since none of the inputs have been registered.

Let me do some investigation, see if we can improve this behaviour, worse case i will add a description in the doc and provide alternative solution with formState.

[2020-04-04 02:30] JasonTheAdams commented on #1336
Awesome! Thank you!

[2020-04-04 11:22] dariusz-acai commented on #1163
Putting `defaultValues` object like below is not solving the problem.
Still, nested array fields are not populated with new values when `reset` method invoked.

[code]

Question objects looks as follow:
[code]

[2020-04-04 11:30] bluebill1049 commented on #1163
@dariusz-acai please provide a simple codesandbox around this potentail issue.

[2020-04-04 11:35] dariusz-acai commented on #1163
Code example: https://codesandbox.io/embed/field-array-not-loading-values-from-reset-2obup?fontsize=14&hidenavigation=1&theme=dark

[2020-04-04 11:44] bluebill1049 commented on #1163
That's exactly what i said above, it's missing defaultValue: https://codesandbox.io/s/field-array-not-loading-values-from-reset-ghqce

[2020-04-04 12:14] dariusz-acai commented on #1163
Thank you for quick answer - right - it works, didn't get that we were talking about '`defaultValue`' in input field (focusing on `defaultValue` in `useFrom()`). Yet, I still having problem with my code and Material UI TextField component -  trying to reproduce - I will post it today.

[2020-04-04 12:29] bluebill1049 commented on #1163
@dariusz-acai for questions please post at spectrum.

[2020-04-04 18:45] ahmdtalat opened #1340 "keystroke lagging"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**After submitting the form, trying to resolve the issues, the first keystroke is not responding.**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a form.
2. Click Submit with empty fields.
3. when you enter a value, the first keystroke on a keyboard does not take action.
4. See error

[2020-04-04 20:39] ilovett commented on #1334
@bluebill1049 I took that CSB and switched to hardcoded by removing use of `FieldArray`, defining `name` in parent but still using `NestedFieldArray` with useFieldArray:

https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-dedmh

But I am unable to reproduce!  So it must be a bug in my CSB.

[2020-04-04 22:09] bluebill1049 commented on #1340
https://react-hook-form.com/faqs#Whyisfirstkeystrokeisnotworking

[2020-04-04 22:09] #1340 closed

[2020-04-04 22:11] bluebill1049 commented on #1334
aha because my CSB have the latest code. all good i will release the update today 🥂

[2020-04-04 22:11] #1334 closed

[2020-04-04 23:14] #1333 closed

[2020-04-05 00:10] threehams opened #1341 "Lint task isn't checking `.tsx` files, and `controller.tsx` has exhaustive-deps issues."
**Describe the bug**
The `lint:check` task in package.json is missing the .tsx extension. Because of this, there are unreported errors in controller.tsx for the exhaustive-deps rule.

The fixes are simple enough, but I don't feel confident making the changes necessary, as I don't know if the library (or some users) are relying on some of the current behavior. Dependencies can be stale in productio

[2020-04-05 00:21] bluebill1049 commented on #1341
good one! thanks @threehams i will fix this one today.

[2020-04-05 00:30] bluebill1049 commented on #1341
There will be no breaking change for the fix.

[2020-04-05 04:31] bluebill1049 commented on #1302
going to close this issue for now. feel free to follow this up tho.

[2020-04-05 05:09] #1341 closed

[2020-04-05 10:51] Nickman87 commented on #1302
I solved the issue and my validations are now working perfectly.
Using a ref inside my resolver creation I got the effect that I wanted:

[code]

At first I thought I could use the resolverContext to pass in my schema, but this property is also cached apparently :).

[2020-04-05 10:57] bluebill1049 commented on #1302
hmmm good point @Nickman87 thanks for the update. let me take a look why i am caching the context.

[2020-04-05 11:02] bluebill1049 commented on #1302
oh i see, why i did that... if i am not caching that variable, then the user will need to provide a memorised version of it which is annoying in terms of DX. however it should worked with validationContext when you are changing them with each render. do you have a CSB to demonstrate the issue?

[2020-04-05 11:48] Nickman87 commented on #1302
The ref never gets updated, so it will not pass on the new context value?
https://github.com/react-hook-form/react-hook-form/blob/96468de91c73dd8b562d6f81e0501d26d468e896/src/useForm.ts#L108

Here is a sandbox: https://codesandbox.io/s/react-hook-form-validationresolver-ke2fo

It should print out "It works" after about 2 seconds when you press the submit button.
I understand the reasoning of cachi

[2020-04-05 12:02] bluebill1049 commented on #1302
thanks, @Nickman87 agree with above, I will investigate for a better solution.

[2020-04-05 12:08] Nickman87 commented on #1302
Keep up the awesomeness in the the library! :)

[2020-04-05 12:19] jgullstr opened #1344 "Unified structure for fieldArray items"
**Is your feature request related to a problem? Please describe.**
Currently, field array items have different structures depending on value type. In appendId(), the generated key is added as a property to the actual value if it is an object, otherwise a new object with separate properties for value and key is used. The first method causes conflicts if the key already exists in the original value,

[2020-04-05 12:21] bluebill1049 commented on #1302
thanks @Nickman87 find the fix. will create a PR for it.

[2020-04-05 12:21] bluebill1049 commented on #1302
https://codesandbox.io/s/react-hook-form-validationresolver-kr991

[2020-04-05 12:28] bluebill1049 commented on #1344
thanks @jgullstr can you provide some code example?

[2020-04-05 12:42] #1302 closed

[2020-04-05 13:31] jgullstr commented on #1344
@bluebill1049 Thanks for your quick reply, hopefully this makes clear what I'm thinking:

#### Current implementation, array of objects.
[code]
#### Current implementation, array of inputs.
[code]

#### What I would prefer, array of objects.
[code]

[2020-04-05 19:25] dominikzogg opened #1348 "useFieldArray: TypeError: data.slice is not a function"
**Describe the bug**
 All multiple elements (useFieldArray) and remove them, the first work, but the second click leads to the following error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form with useFieldArray
2. append({})
3. append({})
4. remove(1)
5. remove(0)

https://codesandbox.io/s/react-hook-form-usefieldarray-1qmyt
https://github.com/chubbyphp/petstore

[2020-04-05 21:32] bluebill1049 commented on #1348
<img width="726" alt="Screen Shot 2020-04-06 at 7 32 22 am" src="https://user-images.githubusercontent.com/10513364/78510490-c893eb80-77d8-11ea-9ec6-bbeb96547552.png">

follow the temple plz.

[2020-04-05 21:53] bluebill1049 commented on #1344
Thanks. make sense now. will take consideration of the next major version. 👍

[2020-04-05 21:53] #1344 closed

[2020-04-06 05:27] dominikzogg commented on #1348
done, works in the sandbox, the same form...

[2020-04-06 05:29] bluebill1049 commented on #1348
hey @dominikzogg thanks for the update. are you using the same version?

[2020-04-06 05:33] dominikzogg commented on #1348
@bluebill1049 now its also failing, good catch

[2020-04-06 05:34] bluebill1049 commented on #1348
so which one is working and failing?

[2020-04-06 05:35] bluebill1049 commented on #1348
https://react-hook-form.com/api#useFieldArray

i think it's due to this:

`register={register()}`

[2020-04-06 05:41] dominikzogg commented on #1348
the one with the original dependencies (documentation) worked, the one with my (more up2date) onces, does not

[2020-04-06 05:44] dominikzogg commented on #1348
thats the issue, any idea, why this worked in the older version?

[2020-04-06 05:44] #1348 closed

[2020-04-06 05:52] bluebill1049 commented on #1348
It's safer this way, the order version we doing a comparison inside.

[2020-04-06 08:38] ArtemAstakhov opened #1349 "triggerValidation bug"
**Describe the bug**
triggerValidation method doesn't validate fields if payload is undefined

**To Reproduce**
1. reset invalid fields with new valid values
2. triggerValidation

https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-9kk6p

**Expected behavior**
triggerValidation() validates fields as triggerValidation([...propertiesArray])

**Desktop (please complete the foll

[2020-04-06 08:44] bluebill1049 commented on #1349
your inputs haven't even hit render with register

https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-e69s3

[2020-04-06 08:56] #1349 closed

[2020-04-06 09:21] ArtemAstakhov commented on #1349
@bluebill1049 oh, I got it. How would you recommend to wait for all fields register to do this trick with reset and validate dynamic data?  Except setTimeout

[2020-04-06 09:32] bluebill1049 commented on #1349
you can use setValue instead: https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-e69s3

[2020-04-06 11:32] gamegee opened #1350 "What is the best practice to update internal logic of controlled component ?"
**What is the best practice to update internal logic of controlled component ?**

I would like to update some internal component logic based on the "controlled" value.

I can get this value using `getValues` from `control`, but of course the component is no re-rendered on control changes. I would like to know what is the best practices to add such internal logic with `react-hook-form`

Is there a

[2020-04-06 11:51] bluebill1049 commented on #1350
I would build a component to host those internal logic within and let the `Controller` to collect the data.

https://react-hook-form.com/api#Controller

[2020-04-06 15:36] MatheusLuiz2000 opened #1352 "My onChange using react hook form and Cleavee returns [SyntheticEvent]"
Hey!!

I trying to recive the value of input with the onChange but always return with a SyntheticEvent, i am using the control (React Hook Form).

here is my SandBox to check the error...

Thanks for help!! <3

https://codesandbox.io/s/hardcore-tu-6x9t5?from-embed

[2020-04-06 15:39] anthonyferreol commented on #987
Still not working for array of strings like so :

[code]

[2020-04-06 15:44] wrporter commented on #1321
@bluebill1049 Here below a few resources. Based on research, it is best to have a combination of validation triggers:

1. When the form is submitted (`onSubmit`).
2. When the user leaves a field (`onBlur`).
3. A delay after the user has stopped typing (`onChange` with a delay -- research shows that good delays range between 400 milliseconds to 1 second).

From [UX Planet](https://uxplanet.org/desi

[2020-04-06 17:43] jonwaldstein commented on #1336
@bluebill1049 This issue still persists in v5.3.1

I'm not sure what happened because you had the issue fixed in your patch.

Here is the codesandbox:
https://codesandbox.io/s/issue-usefieldarray-watch-broken-v531-bwovf

1. add append
2. notice nothing gets added to the array
3. click delete
4. notice `justWatchedValue` is undefined & `allWatchedValue` is not right either
5. append again and we're

[2020-04-06 21:23] #1350 closed

[2020-04-06 21:24] bluebill1049 commented on #1352
take a look this thread: https://spectrum.chat/react-hook-form/help/cant-get-rhf-to-work-with-material-ui-ans-cleave-js~df5e60fa-b008-48c4-89eb-0e75e23a932a

[2020-04-06 21:25] #1352 closed

[2020-04-06 21:36] bluebill1049 commented on #987
FYI @kotarella1110 above.

[2020-04-06 21:37] bluebill1049 commented on #1321
That's some really useful information. I will take a read on it and consider the change. thanks.

[2020-04-06 21:39] bluebill1049 commented on #1336
strangle... I will take a look at it.

[2020-04-06 21:45] JasonTheAdams commented on #1336
Much appreciated! `useFieldArray` is our last roadblock to refactor fully into RHF from Final Form. Everything else is working great! 🙌

[2020-04-06 21:46] bluebill1049 opened #1354 "Any way to opt-out from persistent validation state that was triggered manually?"
**Describe the bug**
The validation triggered manually with the triggerValidation function is persisted even after typing on the input fields and the validation "should already have passed". This behavior is different from the validation triggered automatically before handleSubmit.

Original post:
https://spectrum.chat/react-hook-form/help/any-way-to-opt-out-from-persistent-validation-state-that-w

[2020-04-06 22:10] bluebill1049 commented on #1336
I found the issue: reason behind

1. release a version
2. found out some of the automation were skipped (only)
3. turn them back on, many things failed due to the commit
4. revert the code change.

automation saved my a** last weekend... also this fix should be correct now. I may have to release a beta version for you guys to unblock you. I am bit hesitated to release stuff during the weekdays (du

[2020-04-06 22:14] bluebill1049 commented on #1354
i will reply my answer in specturm :) found out the reason why.

[2020-04-06 22:14] #1354 closed

[2020-04-06 22:17] JasonTheAdams commented on #1336
Hahah! The dark side of automation. 😆

I'd be fine with a beta since it's specifically for this issue (which we greatly appreciate). We can then immediately report back on this and hopefully bump up to the next stable release next week.

[2020-04-06 22:21] bluebill1049 commented on #1336
thanks for understanding @JasonTheAdams 🙏

[2020-04-06 22:30] JasonTheAdams commented on #1336
So just to make sure we're on the same page, @bluebill1049, we should expect to see a [beta release](https://github.com/react-hook-form/react-hook-form/releases) some point soon?

[2020-04-06 22:31] bluebill1049 commented on #1336
I will release a beta once the build pass.

[2020-04-06 22:32] bluebill1049 commented on #1336
Oh and after my breakfast 🤣

[2020-04-06 22:37] JasonTheAdams commented on #1336
Perfect! 🍳 🍞 🧀

[2020-04-06 22:50] bluebill1049 commented on #1336
here you go: `5.3.2-beta.1`

[2020-04-06 22:58] JasonTheAdams commented on #1336
Much appreciated!

[2020-04-07 00:54] kotarella1110 commented on #987
@anthonyferreol If the value of input is a premitive array such as `string[]`, you must use `any` or `any []`.

[code]

[2020-04-07 09:24] Simply1993 opened #1357 "Get current input name with focus"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when can't get current input name with focus :)

**Describe the solution you'd like**
I'll be happy if you can add input name with current focus in formState. It help us for paste copied text in needed input field.

[2020-04-07 09:28] Simply1993 commented on #1357
Or if I have way for get current input name with focus now, then can you tell me pls about it.

[2020-04-07 09:39] bluebill1049 commented on #1357
you can vote thumb up on this issue if that's what you after as well.

https://github.com/react-hook-form/react-hook-form/issues/1312

[2020-04-07 09:48] Simply1993 commented on #1357
Ops, thanks you.
Sure, I vote for it.

[2020-04-07 10:09] #1357 closed

[2020-04-07 10:44] deebov opened #1358 "Yup conditional fields, useFieldArray is not updating"
**Describe the bug**
I have a couple of issues.
1. useFieldArray is not working well with yup.
I have a yup schema like this:

[code]
( Array of string that's 3 charaacters minimum )
If you debug the error you can see that errors of this field does not update well. Most of the time it gets updated after submitting the form

2. You need to type in several times  to update the value of Chakra UI Num

[2020-04-07 10:48] bluebill1049 commented on #1358
can you please break the codesandbox into seperate issue? it's easier for me identify the problem.

[2020-04-07 10:50] bluebill1049 commented on #1358
2. You need to type in several times to update the value of Chakra UI NumberInputField
If you scroll down a little there're two number inputs.

could be due to this: https://react-hook-form.com/faqs#Whyisfirstkeystrokeisnotworking

[2020-04-07 10:51] bluebill1049 commented on #1358
In terms of Yup validation, we don't do anything special rather than just handle the data to Yup for validation. i will double check the validation schema.

[2020-04-07 10:52] deebov commented on #1358
noted. doing it right now

[2020-04-07 10:52] bluebill1049 commented on #1358
thanks a lot 👍

[2020-04-07 10:57] deebov commented on #1358
for the first issue https://codesandbox.io/s/vigorous-mendel-ksxtn?file=/src/App.tsx

[2020-04-07 11:03] bluebill1049 commented on #1358
the submit date looks valid, can you get the data and valid against your schema.

[2020-04-07 11:07] deebov commented on #1358
for the second issue https://codesandbox.io/s/silly-shockley-nbrs0?file=/src/App.tsx

here, type once then focus out then focus in and try to type in

[2020-04-07 11:09] deebov commented on #1358
![image](https://user-images.githubusercontent.com/28673719/78662539-03d20f80-78ea-11ea-83cd-dd4b301aef23.png)

name string must be 3 chars minimum. so in this case it still shows it as invalid

[2020-04-07 11:09] bluebill1049 commented on #1358
I don't think this is a problem around RHF, but you can use Controller to solve this problem. https://react-hook-form.com/api#Controller

[2020-04-07 11:12] deebov commented on #1358
for the third issue https://codesandbox.io/s/adoring-haibt-uoojm?file=/src/schema.tsx

[2020-04-07 11:14] bluebill1049 commented on #1358
can you remove those extra code please?

[2020-04-07 11:15] deebov commented on #1358
sorry, what exactly do you mean ? i think there's no extra code

[2020-04-07 11:20] bluebill1049 opened #1359 "Schema validation array error unset not working as expected."
![image](https://user-images.githubusercontent.com/28673719/78662539-03d20f80-78ea-11ea-83cd-dd4b301aef23.png)

name string must be 3 chars minimum. so in this case it still shows it as invalid

_Originally posted by @deebov in https://github.com/react-hook-form/react-hook-form/issues/1358#issuecomment-610324868_

[2020-04-07 11:24] bluebill1049 commented on #1358
what i meant: https://codesandbox.io/s/delicate-https-on2v8?file=/src/App.tsx:905-925

[2020-04-07 11:26] bluebill1049 commented on #1358
issue 3: is somewhere around your schema: https://codesandbox.io/s/delicate-https-on2v8?file=/src/App.tsx

[2020-04-07 11:27] bluebill1049 commented on #1358
I will create an seperate issue on issue 1, will looking into and fix accordingly.

[2020-04-07 11:28] deebov commented on #1358
thank you very much

[2020-04-07 11:28] bluebill1049 commented on #1359
issue CSB: https://codesandbox.io/s/vigorous-mendel-ksxtn?file=/src/App.tsx

[2020-04-07 11:51] bluebill1049 commented on #1358
thanks a lot @deebov for raising this bug: https://github.com/react-hook-form/react-hook-form/issues/1359

[2020-04-07 11:52] bluebill1049 commented on #1358
let me know how did you go with the

- Schema problem.
- Controller -> for number input

[2020-04-07 11:54] deebov commented on #1358
if solved the schema problem by adding `$` prefix like this:
[code]

[2020-04-07 12:00] #1359 closed

[2020-04-07 12:01] bluebill1049 commented on #1358
here is the updated version for issue1: https://codesandbox.io/s/recursing-beaver-f64qt will release in the next patch.

[2020-04-07 12:02] bluebill1049 commented on #1358
for issue 2: i think you may want to raise an issue at chakra-ui, or consider use Controller.

[2020-04-07 12:11] deebov commented on #1358
thank you. when do you plan to release it ?

[2020-04-07 12:18] bluebill1049 commented on #1358
release happen over the weekend, cause i can't do much doing the weekday (have work to do) if you are in a hurry, i can always release a beta version for you

[2020-04-07 12:26] #1358 closed

[2020-04-07 12:32] MatheusLuiz2000 commented on #1352
Bill, i'am sorry but i didn't understand how can this thread can help my problem, because the solution of the this problem is use Controller of React-Hook-Form, but in the example of CodeSandBox, i already using and the onChange returns "Synthetic Event"... Can you have some example with Controller and onChange that not return error of Synthetic Event?

[2020-04-07 12:34] deebov commented on #1358
ah no. it's fine. we can wait until the weekend. thank you

[2020-04-07 12:43] bluebill1049 commented on #1352
Yeah, you should use `Controller`

[2020-04-07 12:45] MatheusLuiz2000 commented on #1352
But bill, in my example i am using Controller, you can see here

https://codesandbox.io/s/hardcore-tu-6x9t5?from-embed.

In the file InputController, you can see that i am using Controller with a custom Input but the onChange don't works..

[2020-04-07 12:47] bluebill1049 commented on #1352
That's not a Controller.

[code]

This is: https://react-hook-form.com/api#Controller

[2020-04-07 12:50] jonwaldstein commented on #1336
Thank you for helping us with this @bluebill1049 !

After testing out the beta version It seems we're 90% there but unfortunately some more issues arise.  I'll explain what's happening and maybe you can help answer some questions.

###  1.  remove() deletes array key from watched values before returning correct values

The original issue here is technically fixed (watch method and values form useF

[2020-04-07 12:50] MatheusLuiz2000 commented on #1352
But bill, i am using like a component, i remember that i show you how i did that in another issue that i have.. In the link of CodeSandBox is in the file "InputComponent.js"

[code]

[2020-04-07 12:54] bluebill1049 commented on #1352
can you update your codesandbox to use Controller first and we can go from there? what you had above in the code is on the right track.

[2020-04-07 13:00] bluebill1049 commented on #1336
Thanks for the detailed report:

1. remove() deletes array key from watched values before returning correct values

RHF is uncontrolled (normal form should be) even with `useFieldArray`, because of that If you are watch the entire Field Array, you are basically treat it as controlled. so we will need to send an extra re-render to update e the watch returned value, this is expected.

2. formState i

[2020-04-07 13:03] MatheusLuiz2000 commented on #1352
I update the code to Controller App.js and return the same synthethic event error.

Here the link:

https://codesandbox.io/s/angry-bash-n2xuw?file=/src/App.js

Thanks so much for the attention

[2020-04-07 13:07] bluebill1049 commented on #1352
actually check out this one: https://codesandbox.io/s/morning-sunset-8n3sx

[2020-04-07 13:25] jonwaldstein commented on #1336
Thanks for the reply!

1. okay I understand, but i'm confused on why the entire array key disappears when removing an item from the array because this doesn't happen when you append. also those values are stored in default values so re-render shouldn't affect the array key at all. It seems like there is an issue with the `remove()` method.

2.  https://codesandbox.io/s/issue-usefieldarray-watch-br

[2020-04-07 13:29] bluebill1049 commented on #1336
Let's take a look 1, 2 tmr.

[2020-04-07 13:53] MatheusLuiz2000 commented on #1352
AAAAAH, thanks a lot! It's work! I pass in the Cleave Component this code:

[code]

And works! But with 1 specfic problem! When i pass onChangename={name of input} and onChange, the Controller don't pick the news values, always continue the default

[2020-04-07 14:27] svenlombaert commented on #334
@bluebill1049 I came across this exact use case, and I can provide an example!

I have a form with a date and price field.
When a user changes the date, we fetch the latest price, to prefill the price field, so I call setValue to set that price. We want to keep doing this, until the user **actually** touched the price field and filled it in himself. Would be nice to have a way to bypass dirtying w

[2020-04-07 16:04] neopostmodern opened #1362 "`useArrayForm` should (allow to) return empty array as value"
**Is your feature request related to a problem? Please describe.**
I have a lot of array fields in my form which are allowed to be empty (0 items). But the backend expects them to be empty arrays (`[]`), while RHF removes the field if it has 0 items.

**Describe the solution you'd like**
Ideally the usage of `useArrayField` would always and automatically set the field to `[]` when empty. If this i

[2020-04-07 16:55] aress31 opened #1363 "isSubmitting does not update <Button loading={formState.isSubmitting}>"
**Describe the bug**
I have an issue with `formState.isSubmitting`.

I am using `controlled` fields and a `<Button>` component from the `react-native-elements` library that accepts a `loading` propriety to automatically change the style of the `<Button>` with a loading spinner.

However, although the value of `formState.isSubmitting` seems to be set to `true` when calling `handleSubmit` (I have tr

[2020-04-07 18:00] alakarastrin commented on #1221
we need to add some functionality to be able to reset formState values, that would be awesome!
I currently have a case where I setValue in the form after getting it from API when I change one of the inputs according to url. I rely upon dirty to check if the form has been touched by the user, but because of setValue it's dirty.
Trying to figure out the work around. Unfortunately, reset doesn't get

[2020-04-07 18:25] slykar opened #1364 "Not working with @material-ui/pickers again"
I took an example from #373. It's not working with Material UI anymore.

Original example: https://codesandbox.io/s/vigorous-jones-pyee5
New react-hook-form version: https://codesandbox.io/s/exciting-lichterman-urx6g

The values are not updating for some reason.

[2020-04-07 21:51] JasonTheAdams commented on #1336
Hi @bluebill1049!

Just wanted to chime in and make our use-case completely clear so you're not throwing darts in a dark room.

Our team is coming to the end of building a platform which has Campaigns which map to various web pages. We have a live-preview builder where the user can change settings for their Campaign and watch the affects live. To do this we are watching for values to change in the

[2020-04-07 22:09] bluebill1049 commented on #334
use reset and omitStateReset update https://react-hook-form.com/api#reset

[2020-04-07 22:12] bluebill1049 commented on #1363
`const { handleSubmit, errors, control, formState: { isSubmitting } } = useForm();`

https://react-hook-form.com/api#formState

I think you miss the Proxy part which is in the doc.

[2020-04-07 22:13] bluebill1049 commented on #1221
https://react-hook-form.com/api#reset OmitResetState

[2020-04-07 22:15] bluebill1049 commented on #1364
check your version. It's a major version upgrade from 3 -> 5. take a look Controller onChagne.

https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-04-07 22:18] bluebill1049 commented on #1336
Thanks @JasonTheAdams for the detailed explanation.

[2020-04-07 22:20] bluebill1049 commented on #1362
what about do a `useEffect` and `append` an empty filed.

[2020-04-07 23:00] aress31 commented on #1363
@bluebill1049 thanks for your answer, indeed the documentation states that `Proxy` needs to get invoked or read before render to enable state update.

However, I am not sure how to use `Proxy` together with `react hook form`. Could you be kind enough to provide a working code snippet? And maybe adding it to the official documentation would help other people too.

[2020-04-07 23:01] bluebill1049 commented on #1336
2: `dirtyFields` is working as expected
<img width="1680" alt="Screen Shot 2020-04-08 at 9 00 51 am" src="https://user-images.githubusercontent.com/10513364/78727277-8e148500-7977-11ea-8462-d1ac5d114283.png">

[2020-04-07 23:02] bluebill1049 commented on #1336
`useFieldArray` touched formState is not refreshing the form

[2020-04-07 23:02] bluebill1049 opened #1365 "`useFieldArray` touched formState is not refreshing the form"
`useFieldArray` touched formState is not refreshing the form

_Originally posted by @bluebill1049 in https://github.com/react-hook-form/react-hook-form/issues/1336#issuecomment-610661708_

https://codesandbox.io/s/issue-usefieldarray-watch-broken-v532-beta1-o5u4v?file=/src/App.js

[2020-04-07 23:03] #1365 closed

[2020-04-07 23:06] bluebill1049 commented on #1336
Issue 2 is working at my end, maybe i miss the step to reproduce. let me know how did you produce the issue.

Issue 1: needs more time to investigate, will spend sometimes today over the lunch break or tonight.

[2020-04-07 23:07] bluebill1049 commented on #1363
just read the value before the render, so RHF detects that you are reading those state and hence triggering re-render. the goal was try to avoid unnecessary calculation and re-render.

eg

`const { handleSubmit, errors, control, formState: { isSubmitting } } = useForm();`

instead of doing inside the `render`.

[2020-04-07 23:11] aress31 commented on #1363
@bluebill1049 so I basically need to wrap `const { handleSubmit, errors, control, formState: { isSubmitting } } = useForm();` within a `useEffect()`. Again could you be kind enough to provide a minimal working code? :)

[2020-04-07 23:13] bluebill1049 commented on #1363
not really with useEffect:

[code]

[2020-04-07 23:15] bluebill1049 commented on #1336
I can successfully reproduce issue 1: creating a seperate issue for this.

[2020-04-07 23:16] bluebill1049 commented on #1336
useFieldArray with remove action return empty array

codesandbox:
https://codesandbox.io/s/issue-usefieldarray-watch-broken-v532-beta1-bwovf?file=/src/App.js

**steps:**

1. click on remove
2. inspect console

[2020-04-07 23:16] bluebill1049 opened #1366 "useFieldArray with remove action lead to watch return empty array on initial render"
useFieldArray with remove action return empty array

codesandbox:
https://codesandbox.io/s/issue-usefieldarray-watch-broken-v532-beta1-bwovf?file=/src/App.js

**steps:**

1. click on remove
2. inspect console

_Originally posted by @bluebill1049 in https://github.com/react-hook-form/react-hook-form/issues/1336#issuecomment-610665697_

[2020-04-07 23:23] aress31 commented on #1363
It is still not updating my `<Button>` component, I added this function to validate that `isSubmitting` is effectively set to `true` on a submit action:

[code]

and this is the console output:
[code]
So the issue here I guess it is that the component does not get `rerendered` since, as far as I understand, RHF has been implemented in a way to avoid unnecessary rerenders, is there any workaround t

[2020-04-07 23:25] bluebill1049 commented on #1363
https://codesandbox.io/s/react-hook-form-useform-template-5e6tz?file=/src/index.js

[2020-04-08 00:11] mixail-novikov commented on #1363
@aress31 are you sure return Promise from onSubmit function? Or maybe API request is too fast, and you didn't notice the loading indicator? Try this snippet for a test.

[code]

[2020-04-08 00:13] jonwaldstein commented on #1336
Thanks for the fast response @bluebill1049 you rock!

Re: Issue 2. I was thinking formState touched & dirtyFields would change if you interact with the field array - maybe that's not the case?

[2020-04-08 01:07] jth0024 opened #1367 "When setting type=email, browser validation takes precedence (Google Chrome)"
**Describe the bug**
Input does not behave correctly when setting type='email'. It works with type='text', which is what you have in your examples.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a form with an email field
[code]
2. Type "dfsdf" to the input using Google Chrome
3. Submit the form

**Codesandbox link (Required)**
https://codesandbox.io/s/angry-paper-q94u5?file=/src/Ap

[2020-04-08 01:33] JeromeDeLeon commented on #1367
You could specify `noValidate` or `formnovalidate` to prevent default validation of the form.

[code]

[2020-04-08 01:37] bluebill1049 commented on #1367
can you point me to the doc? https://codesandbox.io/s/keen-mccarthy-4pqn6?file=/src/App.js

i will fix it or @JeromeDeLeon can as well :)

[2020-04-08 01:38] JeromeDeLeon commented on #1367
Will do :smile:

[2020-04-08 01:47] bluebill1049 commented on #1367
We can probably add an example in the examples folder:

something like: `Disable native validation`

[2020-04-08 02:17] #1367 closed

[2020-04-08 02:18] bluebill1049 commented on #1336
No worries @jonwaldstein

Issues 2: i used your code example and it's working for me, take a look the screenshots as well.

[2020-04-08 02:21] sgobotta commented on #1363
Hi, I I've just ran into `react-hook-form` while looking for form libraries for my react-native application. Just like @aress31 I couldn't make the submit function work, probably because we're not even using a `<form>` element, though the `Controller` usage and form validation seems to be working fine, I'm pretty satisfied with it. Regarding the `handleSubmit` thing, I've tried a few workarounds b

[2020-04-08 02:32] JeromeDeLeon commented on #1363
Chiming in, using the suggestion @mixail-novikov works and that you made a mistake by passing `false` to `disabled` prop instead of `formState.isSubmitting`

[code]

I also tried the expo you provided @sgobotta and managed to get it worked with above solution.

[2020-04-08 02:36] JeromeDeLeon commented on #1363
[code]

[2020-04-08 03:01] sgobotta commented on #1363
The code you shared does make sense, really, and I've used it in the example. But still, for some reason I can't get the timeout hooked during the submit action in the expo snack :grimacing:

[2020-04-08 05:03] deebov opened #1369 "react-select in useFieldArray first element gets cleared"
**Describe the bug**
if you remove any element below the first element then the first element gets cleared

**To Reproduce**
1. append a couple of select elements
2. remove any element below the first select input

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-controller-hgu15?file=/src/index.js

[2020-04-08 05:05] bluebill1049 commented on #1369
I think you are missing default value.

[2020-04-08 05:11] deebov commented on #1369
`defaultValues: { natureOfBusiness: [""] }`

[2020-04-08 05:15] deebov commented on #1369
but it's really odd. `defaultInputValue` set the default value. but I don;t want the first element get back to the default value when an element is removed

[2020-04-08 05:21] bluebill1049 commented on #1369
you can try it out here with Controller: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv

[2020-04-08 05:36] deebov commented on #1369
sorry, I think everything is clear in this CSB https://codesandbox.io/s/react-hook-form-controller-hgu15?file=/src/index.js
I am using Controller, with default value, with useFieldArray, no extra code

[2020-04-08 05:39] deebov commented on #1369
i noticed that react-relect returns an object instead of a value

[2020-04-08 05:50] bluebill1049 commented on #1369
ha no worries, i am in a middle of work. otherwise probably can spot the issue for you.

[2020-04-08 06:33] #1369 closed

[2020-04-08 07:08] bluebill1049 commented on #1363
@sgobotta here you go: https://snack.expo.io/@bluebill1049/react-hook-form-snack

[2020-04-08 07:16] #1366 closed

[2020-04-08 07:17] #1364 closed

[2020-04-08 07:36] bluebill1049 commented on #1363
Closing this issue as i have provided both CSB and Expo snack examples. feel free to follow up with more questions.

[2020-04-08 07:36] #1363 closed

[2020-04-08 08:27] neopostmodern commented on #1362
Do you mean like this? https://codesandbox.io/s/react-hook-form-usefieldarray-16y5u?file=/src/index.tsx:567-602
If yes, than it's not really suitable since it will show an empty input and then validation will fail on it. (Or put differently `[] != [{}]`)

[2020-04-08 08:36] bluebill1049 commented on #1362
if that's not working out, then you probably have to do that on handleSubmit with a map function.

[2020-04-08 09:07] neopostmodern commented on #1362
Okay, that's unfortunate. Is there any way to get a list of registered `useFieldArray`s so I dynamically iterate over it in the `handleSubmit`?

[2020-04-08 09:13] bluebill1049 commented on #1362
react hook form embrace uncontrolled input, and form state live inside inputs and that's why we have the ability to improve your form performance without re-render the entire form. At the same time, the form data's source of truth lives in the inputs as well. i believe this is consistent and correct behaviour for this lib.

[2020-04-08 09:32] #1362 closed

[2020-04-08 09:50] aress31 commented on #1363
@bluebill1049, @mixail-novikov and @JeromeDeLeon thanks for your help, indeed the API fetch was just way to fast to appear on the screen but with the timer example I could see that the code is working as it should.

[2020-04-08 09:57] bluebill1049 commented on #1363
awesome, glad it's working now.

[2020-04-08 12:15] lukevella opened #1371 "Type definition for watch method should support returning non-string values"
**Is your feature request related to a problem? Please describe.**
Current type definition for watch is:

[code]

However limiting `defaultValue` to just `string` results in false positive ts errors. For example if working with a checkbox, I would want to do:

[code]

**Describe the solution you'd like**
I propose changing this to:

[code]

Reasons:
* Allows us to pass non-string values as `defaul

[2020-04-08 12:26] bluebill1049 commented on #1371
Thanks @lukevella for the awesome suggestion. I think we running into this problem before, because `watch` do support nest object and make types pretty hard to do:

eg:

`watch('test.firstName')`

but i agree `defaultValue` shouldn't be just `string`.

[2020-04-08 13:40] jonwaldstein commented on #1336
@bluebill1049
Re: Issue 2

Okay I see that when you click or type into any items in the field array it will trigger touched/dirtyFields and add the array items individually to the dirtyFields set.  Although `formState.dirty` will become true if you use any of the field array buttons without clicking or typing into the inputs (this is what I was expecting with dirtyFields too).

When a user clicks

[2020-04-08 14:11] svenlombaert commented on #334
That seems to work, but the watchedFiels then all return undefined?

[2020-04-08 18:48] ErikAGriffin commented on #1146
@bluebill1049 Perhaps adding an example read and/or invocation to the documentation there to make that more clear?  I'm not exactly sure what "invoking" a Proxy would mean

[2020-04-08 22:16] bluebill1049 commented on #334
@svenlombaert can you provide a CSB?

[2020-04-08 22:19] bluebill1049 commented on #1146
I agree! @ErikAGriffin want to contribute to the doc?

[2020-04-08 23:14] bluebill1049 commented on #1336
- `touched`: i believe is corrected behaviour, this should only set to true when user blue the input
- `dirtyFields`: I am not 100% sold on the idea.

Do you have any good reference to back that behaviour?

[2020-04-08 23:37] jonwaldstein commented on #1336
RE: `dirtyFields`

Okay I don't want to get too off track with this because it's not the main issue and I know you're working hard on fixes, but I would like you to think about the relationship between `formState.dirty` and `formState.dirtyFields` with me.

If `formState.dirty` becomes true shouldn't `formState.dirtyFields` show you _what_ is dirty?

This relationship can be summed up by asking tw

[2020-04-08 23:40] bluebill1049 commented on #1336
That's a valid point for dirtyFields. 🤔I think you are right here, will fix this behaviour.

[2020-04-09 00:40] brayanL commented on #1366
is there a solution?

[2020-04-09 00:42] bluebill1049 commented on #1366
@brayanL this is already patched, will be in the next release

[2020-04-09 01:08] bluebill1049 commented on #1336
Touched fields not getting updated when user append/prepend item

Okay I don't want to get too off track with this because it's not the main issue and I know you're working hard on fixes, but I would like you to think about the relationship between formState.dirty and formState.dirtyFields with me.

If formState.dirty becomes true shouldn't formState.dirtyFields show you what is dirty?

This relat

[2020-04-09 01:08] bluebill1049 opened #1372 "Touched fields not getting updated when user append/prepend item"
Touched fields not getting updated when user append/prepend item

Okay I don't want to get too off track with this because it's not the main issue and I know you're working hard on fixes, but I would like you to think about the relationship between formState.dirty and formState.dirtyFields with me.

If formState.dirty becomes true shouldn't formState.dirtyFields show you what is dirty?

This relat

[2020-04-09 01:09] bluebill1049 commented on #1336
closing this issue, all issues have been distributed into seperate issue tickets to track and fix.

[2020-04-09 01:21] thefilmmaking commented on #42
@bluebill1049 first off, amazing lib, thank you for creating and maintaining this 🙏. Was wondering, on this topic, how do you feel about transforming the data in the onSubmit? Because I've been using this technique in many components now, especially for one or two fields to avoid full validation (via Yup) for the sake of simplicity. Example below. Let me know your thoughts, if any. Thanks again. 🙏

[2020-04-09 01:23] bluebill1049 commented on #42
@thefilmmaking try this one: https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-52dvm

[2020-04-09 01:29] jonwaldstein commented on #1336
Thanks @bluebill1049 🙌

[2020-04-09 09:11] hieusmiths opened #1374 "do should make setValue trigger validation."
**Is your feature request related to a problem? Please describe.**
1. Make form with validateSchema.
2. Manip form then submit form and errors appear.
3. Make data and setValue.
4. setValue success but error not hidden.
5. Click submit button and all thing as well

Thank you read my issue.

[2020-04-09 09:20] bluebill1049 commented on #1374
Please follow the template to have a codeSandBox.

[2020-04-09 09:21] bluebill1049 commented on #1372
WIP: https://codesandbox.io/s/issue-dirtyfields-v532-beta1-vj3jb

[2020-04-09 10:13] svenlombaert commented on #334
@bluebill1049 Sure! I found out it only happens when I provide the omitState object, I do that, because I want to keep the dirty and dirtyFields state.

https://codesandbox.io/s/react-hook-form-custom-reset-ucff4?file=/src/App.js
(My bug is reacty-native, so that's why I made the inputs controlled)

To reproduce:
1.   fill in name and last name
2.  press 'reset with omitState'
3. values are undefi

[2020-04-09 10:22] susisu opened #1375 "Resetting form while field array is hidden shows strange behavior"
**Describe the bug**
When resetting a form while field array is hidden, the fields are not reset correctly and have wrong values.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the codesandbox below
2. Click `Show form` button
3. Click `Hide form` button
4. Click `Reset` button
5. Click `Show form` button again

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-u

[2020-04-09 10:32] bluebill1049 opened #1376 "issue with default value when reset with custom register"
@bluebill1049 Sure! I found out it only happens when I provide the omitState object, I do that, because I want to keep the dirty and dirtyFields state.

https://codesandbox.io/s/react-hook-form-custom-reset-ucff4?file=/src/App.js
(My bug is reacty-native, so that's why I made the inputs controlled)

To reproduce:
1.   fill in name and last name
2.  press 'reset with omitState'
3. values are undefi

[2020-04-09 11:59] raphaelnoguier opened #1378 "Is it possible to disable enter key press to submit the form ?"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a form without submit button
2. Type enter
3. If you don't have a submit button there is an error

Do we have an option to disable this, because i handle my submit by another button not on the <form> ?

Thanks :)

[2020-04-09 12:17] bluebill1049 commented on #1378
try: formState: isValid and set your form mode to `onChange`

[2020-04-09 12:17] #1378 closed

[2020-04-09 12:22] peterrattew commented on #63
If you want help with an issue then you need to put in the time and setup an example that demonstrates it. This is an open source project and the people on here don't owe you anything.

[2020-04-09 12:24] raphaelnoguier commented on #1378
Even with the onChange method i still get this error when pressing enter :

`Uncaught TypeError: Cannot read property 'type' of undefined
  at HTMLFormElement.formKeydownListener `

[2020-04-09 12:33] bluebill1049 commented on #1378
reproduce in a codesandbox we can go from there.

[2020-04-09 12:35] bluebill1049 commented on #63
Thank you @peterrattew 🙏 i hope more people like yourself who is willing to help each others. 🙇

[2020-04-09 12:44] raphaelnoguier commented on #1378
Here you go : https://codesandbox.io/s/youthful-greider-69jp4
 To see the error open the browser devtools and type enter on the form :)

[2020-04-09 12:47] bluebill1049 commented on #1378
where is the formState and mode 'onChange'? your demo works as well. please spend sometimes in here: https://react-hook-form.com/api i have put down a lot of my time for documentation.

[2020-04-09 12:48] bluebill1049 commented on #1378
<img width="724" alt="Screen Shot 2020-04-09 at 10 47 53 pm" src="https://user-images.githubusercontent.com/10513364/78896683-2fa0f100-7ab4-11ea-8978-a14267130e60.png">

there is no error.

[2020-04-09 12:48] raphaelnoguier commented on #1378
Check the browser console not the CSB console you'll get the error

[2020-04-09 12:50] raphaelnoguier commented on #1378
This is the error :
<img width="854" alt="Capture d’écran 2020-04-09 à 14 50 47" src="https://user-images.githubusercontent.com/22751073/78896847-81745780-7a71-11ea-80fb-8a1528e9355d.png">

[2020-04-09 12:55] bluebill1049 commented on #1378
please take a look the error message: this is not error message from `react-hook-form`.

[2020-04-09 12:58] raphaelnoguier commented on #1378
Wow, i just realise that this come from the Chrome plugin Lastpass, i'm really ... Thanks anyway !

[2020-04-09 13:00] bluebill1049 commented on #1378
no worries.

[2020-04-09 15:07] ErikAGriffin commented on #1146
@bluebill1049 I would like to, however I still don't understand how to invoke the proxy to get the data to show up properly. In that sandbox dirtyFields is still showing up as an empty object for me `{}`

If you post a quick example here I can edit the docs

[2020-04-09 16:24] punisher97 opened #1379 "Enable Proxy check with React Native"
I have register screen with 7 TextInput, when call register function the validationResolver its triggered before mounted components and produce two initial renders, i use yup validation and fixed it, verifying its Screen was mounted;

The bug its fixed add isMounted mutable ref, but because happen this? what its the best solution?

[code]
System:
    OS: Windows 10 10.0.18363
    CPU: (4) x64 Inte

[2020-04-09 17:06] keemor commented on #397
For any one who came here wondering how to integrate MUI RadioGroup with hook-form here is an example of handling controlled MUI RadioGroup component with react-hook-form

https://codesandbox.io/s/handling-controlled-mui-component-with-react-hook-form-run4z

[2020-04-09 17:40] s97712 opened #1380 "Consider support throttle for reduce ajax request"
when `mode` is  `onChange` and use ajax validator, each character input will trigger ajax request, whether to consider implementing throttle to reduce the request?

[2020-04-09 19:46] Petka17 opened #1381 "`getValues` function doesn't return new values after updating a field for the second time"
**Describe the bug**
`getValues` function doesn't return new values after updating a field for the second time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/wizardly-dew-fzwvj
2. Enter "abc" string into the second field and click outside of this field
3. Data in the object from `getValues` will show the updated value ("abc")
4. Enter "abcde" string into the

[2020-04-09 20:50] JoshuaKGoldberg opened #1382 "Document and support Enzyme testing (preferably without .getDOMNode())"
**Describe the bug**
Hi, thanks so much for this great library! 💐

There are a few issues (#183, #532, #585) and Spectrum chats ([link with resolution](https://spectrum.chat/react-hook-form/help/rhf-and-setting-values-on-a-select-in-a-test~5b9b1c29-aa01-443d-9e68-3e3e7533d86f), [link](https://spectrum.chat/react-hook-form/help/enzyme-testing-examples~ead11135-424c-4b2b-aa39-ce533052751b)) that men

[2020-04-09 22:26] bluebill1049 commented on #1146
will do @ErikAGriffin which sandbox having the issue?

[2020-04-09 22:40] bluebill1049 commented on #1381
I haven't looked at it close, but i think you are after watch() instead of getValues()

[2020-04-09 22:40] bluebill1049 commented on #1380
i think you can do at validate level. Good suggestion tho.

[2020-04-09 22:41] bluebill1049 commented on #1380
we won't action on it for now, but leave it to the project board.

[2020-04-09 22:41] #1380 closed

[2020-04-09 22:42] bluebill1049 commented on #397
Thanks for your the example @keemor

[2020-04-10 02:25] hieusmiths commented on #1374
I fixed it by your register thank you.

Can you helpe me problem.
Now i'm make form and i deciced sparator n form.
So i must onClick parent and use React forward ref to access children component method like below:

useImperativeHandle(ref, () => {
	return {
		onSubmit: () => handleSubmit(onSubmit)()
	}
});
It return promise, okey then i use async await but it return undefined and onSubmit func i r

[2020-04-10 05:34] bluebill1049 commented on #1374
you can use context to hoist handleSubmit method.

handleSubmit()()

[2020-04-10 05:34] #1374 closed

[2020-04-10 05:36] bluebill1049 commented on #1382
hey @JoshuaKGoldberg thanks for the issue report. i haven't use enzyme for a quite a long time, i will attach a help needed tag. hopefully someone can help out.

[2020-04-10 05:48] Petka17 commented on #1381
Thank you for the quick response.
I need to receive updated value only on blur event (after a user finished typing), that's why I don't use `watch()` which triggers rerendering on each keystroke.

[2020-04-10 06:05] bluebill1049 commented on #1381
`getValues()` doesn't trigger re-render, it only reads what's on the form, if you need to read what's on the form then you should attach onBlur event on your inputs.

[2020-04-10 06:39] hieusmiths commented on #1374
I make form have about 50 <-> 70 field so i devide 4 form then group it into main comtainer.

hmm, maybe i must use redux or use contextAPI.
Thank you a lot. Bluebill.

[2020-04-10 06:41] bluebill1049 commented on #1374
you can use react context API, you don't even need redux.

[2020-04-10 06:48] hieusmiths commented on #1374
Yes, i decice use React context Clean every thing.
You are sflash :)

[2020-04-10 07:15] #1376 closed

[2020-04-10 07:17] bluebill1049 commented on #1379
take a look this example: https://codesandbox.io/s/react-hook-form-validationresolver-b3phr

reproduce in a CSB then we can take a look.

[2020-04-10 10:29] #1375 closed

[2020-04-10 11:34] nitaicharan93 commented on #129
const validate = () => {
    let arr = checkBoxes.filter((el, index) => !!watch(`elements[${index}]`) === true);
    return arr.length > 0 ? true : "message";
  };

[2020-04-10 11:53] bluebill1049 commented on #129
@nitaicharan93 i think you can use getValues instead of watch

[2020-04-10 12:30] ahmadkam2 opened #1386 "react hook form FormControlLabel problem in conditional rendering"
Im using watch to conditional rendering some checkbox items in my form.
items condional rendering works correctly, But form submitting data not have
new showing items.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot from 2020-04-10 16-56-42](https://user-images.githubusercontent.com/53652173/78990733-73dfd000-7b4c-11ea-8bad-47fdfb3fa0a6.png)
 when watchA

[2020-04-10 12:32] bluebill1049 commented on #1386
where r the keys?

https://react-hook-form.com/faqs#Whyisdefaultvaluenotchangingcorrectlywithternaryoperator

[2020-04-10 12:55] ahmadkam2 commented on #1386
Thank you @bluebill1049
I added key like this in my code
![image](https://user-images.githubusercontent.com/53652173/78992039-a0491b80-7b4f-11ea-91b3-6d15864f3f50.png)

But in submit data in first state i got correct data but, in changing options
I dont get correct data.
I mean that data contains some items values and dont containe all showing items values.
In my options array, I have some options

[2020-04-10 13:13] bluebill1049 commented on #1386
can you make a simple codesandbox for this issue?  key should be on the col, you should even get a react warning without `key`.

[2020-04-10 13:14] ahmadkam2 commented on #1386
I fixed the issue by removing <Col> element in my code.
But, how can i use Col element in my code?

[2020-04-10 13:14] bluebill1049 commented on #1386
put the key on the Col

[2020-04-10 13:17] ahmadkam2 commented on #1386
Thank you @bluebill1049

[2020-04-10 13:17] #1386 closed

[2020-04-10 15:14] ErikAGriffin commented on #1146
So one thing that's happening is wrapping `formState.dirtyFields` in a `JSON.stringify` call outputs an empty object, even when it's working otherwise.

Here is an example where `formState.dirtyFields` is always returning an empty set for me.  It gets logged to the console when the Email field is blurred or the form is submitted.  So I'm not "invoking or reading it before render", which I'm not su

[2020-04-10 15:57] StarpTech opened #1387 "How is order preserved when using multiple validators?"
When I use multiple validators how is the order preserved? I don't want to request the API when the error can be caught earlier. This works but I'm not sure if it is reliable.

[code]
I need it in the order as defined.

[2020-04-10 18:58] majweb opened #1388 "Add class when error is gone"
How add class maybe pass when error is gone. how validate image?

[2020-04-10 19:40] punisher97 commented on #1379
Please check this snack with iOS or Android, i dont know if register or validationTrigger:

https://snack.expo.io/@msvargas97/react-native-hook-form

[2020-04-10 21:45] bluebill1049 commented on #1388
className={errors.test ? 'errorClass' : ''}

[2020-04-10 21:45] #1388 closed

[2020-04-10 21:45] bluebill1049 commented on #1379
oh that only happens on expo, I saw this before. can you double-check on your device?

[2020-04-10 21:49] bluebill1049 commented on #1387
we don't support this at the moment and there is a ticket on the project already.  for such behaviour you can use

[code]

[2020-04-10 21:49] #1387 closed

[2020-04-10 21:52] bluebill1049 commented on #1146
@ErikAGriffin https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-4099d?file=/src/index.js
<img width="1108" alt="Screen Shot 2020-04-11 at 7 52 05 am" src="https://user-images.githubusercontent.com/10513364/79025522-5e5cbb80-7bc9-11ea-899e-82079196cc92.png">

[2020-04-10 21:55] StarpTech commented on #1387
I don't understand your example. I'm talking about different predefined validators + custom validators. Could you also reference the issue before closing my request?

[2020-04-10 22:09] punisher97 commented on #1379
In my project, i use react-native-cli, and yes, i testing with iOS device 13.3.1

[2020-04-10 22:10] bluebill1049 commented on #1387
<img width="390" alt="Screen Shot 2020-04-11 at 8 09 02 am" src="https://user-images.githubusercontent.com/10513364/79026323-bac0da80-7bcb-11ea-8115-ddce747a0315.png">

Yes, that's what i meant we don't support pre-defined validators order. I have added a waiting for upvote, if i see a lot of people want for this feature then will reopen and investigate for solution.

[2020-04-10 22:16] StarpTech commented on #1387
I described it as a bug not a feature. In my opinion the use case is very common. The fix could be very easy e.g by using an array structure or a sort key.

[2020-04-10 22:18] bluebill1049 commented on #1387
1. you didn't follow the issue template as bug or feature request. i can't play read the mind in here.
2. you can easily say each feature is easy is to implement and it takes time for someone to work on.

[2020-04-10 22:23] bluebill1049 commented on #1379
<img width="1680" alt="Screen Shot 2020-04-11 at 8 22 33 am" src="https://user-images.githubusercontent.com/10513364/79026917-9f56cf00-7bcd-11ea-90b0-6db0cb269f53.png">

Take a look the screenshot, expo snack render twice at App level.

[2020-04-10 22:29] bluebill1049 commented on #1146
I think i need to find a better term to describe the invoke, people probably gets confused.

`const { dirty } = formState; // read the individual state `

instead of

`return <div>{formState.dirty}</div>`

[2020-04-10 22:31] StarpTech commented on #1387
If you don't understand it then say it so I will explain. The issue description and example are straight to the point and a reproduction is hard.

I said it is easy because I thought about it a while and it's all about using an ordered data structure.

I like that approach but I have a concrete issue, objects property order can't be guaranteed across js engines \ serialization. Therefore I can't e

[2020-04-10 22:35] StarpTech commented on #1387
At least for browser with Es2015 it should be no problem:

If you generate your forms dynamically e.g by serialization process you should take care of it.

[2020-04-10 22:38] bluebill1049 commented on #1387
There is a reason why we set up template so we can read and understand quickly, we don't have time to ask each one of you what's this and that, our time is as precious as yours. by following the rule/template, you can help us and yourself.

React Hook Form's Github issue is not a product support line, this repo is maintained and built by someone who is passionate about contribution to the whole co

[2020-04-10 22:59] bluebill1049 commented on #1371
hey @kotarella1110 i guess for now we wouldn't have a good solution to type this right?

eg:
`watch('yourDetails.firstName')`

[2020-04-10 23:31] punisher97 commented on #1379
If that is what I mean, it is not because of expo, it is because of the validationResolver, if you disable it it renders once, the same happens on the real device, sorry if I did not make myself understood, sorry for my English, if you look at the useYupValidationResolver, there are a few comments to prevent the app from rendering twice

[2020-04-10 23:51] bluebill1049 commented on #1379
That's all good @punisher97 take a look this example: where i follow the standard approach:

https://snack.expo.io/@bluebill1049/react-native-hook-form

[2020-04-10 23:52] bluebill1049 commented on #1379
In the meantime, i will take a look at the codebase see if anything is suspicious as well.

[2020-04-10 23:59] punisher97 commented on #1379
Yes, your snack is correct, now imagine when you have to render a form many TextInputs, if there is anything that can help you, let me know, thanks for answering, I thought it was something that only happened to me :),

[2020-04-11 00:03] bluebill1049 commented on #1379
what do you mean? the validation resolver is a callback gets run during validation and return values and errors. it shouldn't matter.

i am still looking at your snack and try to understand what's trigger that extra re-render.

[2020-04-11 00:06] kiily commented on #490
Ionic components are written in Stencil.js and aside from calling a method exposed on the component, which is always async (see [@Method](https://stenciljs.com/docs/methods)), I am not sure that web components can expose the `innerInputRef` directly like other React-libraries such as MaterialUI.

Thanks for the nice fix @tml123, it made perfect sense to me immediately and it works well :+1:

[2020-04-11 00:07] bluebill1049 commented on #1379
by the way your resolver actually return an error
<img width="766" alt="Screen Shot 2020-04-11 at 10 07 19 am" src="https://user-images.githubusercontent.com/10513364/79030428-3e82c300-7bdc-11ea-8394-660a33cd2aa4.png">

[2020-04-11 00:10] punisher97 commented on #1379
Yes, but because validationResolver its triggering before mount? its normal?

[2020-04-11 00:11] bluebill1049 commented on #1379
that's not normal, it should only do that if you are reading formState isValid.

[2020-04-11 00:14] bluebill1049 commented on #1379
oh make sense now. yes in React Native, the function will be evaluated due to Proxy. Sorry take a while to remember that, so if you return an error right away, it will trigger re-render.

There is no Proxy in React Native unlike Web, so we will have to evaluate form validate or not during initial run.

[2020-04-11 00:15] bluebill1049 commented on #490
@kiily i think Controller probably going to solve the problem as well: https://react-hook-form.com/api#Controller

[2020-04-11 00:16] bluebill1049 commented on #1379
I will update the doc about formState, in React Native you can't omit not reading formState such as `isValid`. That's why the initial validation kicks in.

[2020-04-11 00:16] punisher97 commented on #1379
Oh ok!, my solution to check isMounted thats right for now, thanks

[2020-04-11 00:18] bluebill1049 commented on #1379
Thanks for raising the issue @punisher97 sorry for the doc is not reflect this as well. Going to update it now.

[2020-04-11 00:18] kiily commented on #490
I tried using it in my React TS app and was getting a shady TypeError, probably related to a mismatch in @types/react versions, I will continue investigating that and will update back

[2020-04-11 00:20] punisher97 commented on #1379
thanks for answering and your time

[2020-04-11 00:34] bluebill1049 commented on #1379
Updated on the doc under formState section:

[2020-04-11 00:57] bluebill1049 commented on #1371
what i can fix is default value not only support `string` tho.

[2020-04-11 00:57] #1381 closed

[2020-04-11 02:03] kotarella1110 commented on #1371
I will look into this later!

[2020-04-11 02:04] bluebill1049 commented on #1371
oh cool thanks @kotarella1110 🙏

[2020-04-11 04:05] #1372 closed

[2020-04-11 04:08] bluebill1049 commented on #1146
i will upload an example today under the doc.

[2020-04-11 04:22] bluebill1049 commented on #1146
<img width="1030" alt="Screen Shot 2020-04-11 at 2 21 54 pm" src="https://user-images.githubusercontent.com/10513364/79035232-d04ff780-7bff-11ea-8698-8227157cc3a0.png">

updated :)

[2020-04-11 04:22] #1146 closed

[2020-04-11 05:01] asciant commented on #566
For those who come across this issue like I did, and found it didn't quite address the question. You can submit a form programatically by passing a ref to the `form` DOM element and then dispatching a _cancelable_ event:

[code]

This will trigger the `onSubmit` handler via the RHF `handleSubmit` method.

[2020-04-11 09:12] StarpTech commented on #1387
Instead of wasting so much energy why you don't ask what you need to fully understand the issue? I'm 100% aware that this is opensource. I provide my help to fix this issue. You are not alone.

[2020-04-11 09:19] bluebill1049 commented on #1387
I understand this is a feature request from the moment the issue was open, because i already have a ticket in my backlog. This is not a bug, because it's been implemented this way.

awesome. we are on the same boat then.

because in the lib, it's map through the validate object:

`for (const [key, validateFunction] of Object.entries(validate)) {`

To conclude:

This feature will be implemented and

[2020-04-11 09:23] StarpTech commented on #1387
Wouldn't it help to outline an RFC here? What's your solution? Perhaps we can align us here and give everybody the power to work on it.

for (const [key, validateFunction] of Object.entries(validate)) {

This has the same issue. When iterating through an object the order is not guaranteed. As a developer, I would like to define that order explicitly.

[2020-04-11 09:25] StarpTech commented on #1387
Something like this

[code]

[2020-04-11 09:27] bluebill1049 commented on #1387
pretty sure the order is guaranteed:

<img width="570" alt="Screen Shot 2020-04-11 at 7 27 07 pm" src="https://user-images.githubusercontent.com/10513364/79040235-7e709700-7c2a-11ea-9818-c77078f87cfe.png">

[2020-04-11 09:31] StarpTech commented on #1387
Try this only to name an odd example:

[code]

But the biggest point is if you generate that structure by an external system like API. The serialization process will never guarantee an order.

[2020-04-11 09:34] StarpTech commented on #1387
Here https://www.stefanjudis.com/today-i-learned/property-order-is-predictable-in-javascript-objects-since-es2015/ this is a good article. It outlines that IE11 is not supported.

[2020-04-11 09:34] bluebill1049 commented on #1387
You have a good point there, but our input name doesn't contain numbers (string only). This is probably a edge case for this lib.

[2020-04-11 09:34] StarpTech commented on #1387
Here https://www.stefanjudis.com/today-i-learned/property-order-is-predictable-in-javascript-objects-since-es2015/ this is a good article. It outlines that IE11 is not supported.

[2020-04-11 09:36] bluebill1049 commented on #1387
Yea that's the article that i read as well.

[2020-04-11 09:36] bluebill1049 commented on #1387
What's your strategy for dealing this?

[2020-04-11 09:37] StarpTech commented on #1387
Supporting additionally an array-like data structure.

[2020-04-11 09:38] bluebill1049 commented on #1387
Ok, thanks noted.

[2020-04-11 10:36] susisu commented on #1375
Wow, I checked out 5.4.0 beta and the issue is fixed.
Thank you!

[2020-04-11 10:40] bluebill1049 commented on #1375
wow you are speedy, i just released a beta version... ! thank you for testing.

[2020-04-11 11:25] lukevella commented on #1371
Perhaps you can consider adding a new override:

[code]

Usage:

[code]

The idea here is that we need a way to distinguish between a path and a field name.

I appreciate that this is a breaking change. So alternatively this can be switched so that it doesn't break existing code.

[code]

[2020-04-11 11:31] bluebill1049 commented on #1371
Thanks a lot for your suggestion and contribution @lukevella 🙏 hopefully we don't have to introduce a breaking change (if we can avoid).

[2020-04-11 14:34] ahmadkam2 opened #1392 "How can I use Dropzone-uploader in react hook form"
I wan to use Dropzone-uploader library in my form.
Can anyone help me to do this?

library link is:
https://www.npmjs.com/package/react-dropzone-uploader

Thank you

[2020-04-11 23:07] bluebill1049 commented on #1392
using Controller or customer register, for general questions please post at our spectrum channel.

[2020-04-11 23:07] #1392 closed

[2020-04-12 03:54] bravedongdong opened #1394 "useFieldArray remove operation cause a crash"
**Describe the bug**
In deep ArrayFields, removing an index will cause an unexpected error, fieldsRef.current points the upper scope

**To Reproduce**
Steps to reproduce the behavior:
1. to examples: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-x7btr
2. change defaultValues
[code]
3. delete test[1]
4. delete test[1].nestedArray[1]

**Codesandbox link (Required)**
https://co

[2020-04-12 04:01] bluebill1049 commented on #1394
[code]

where is test[1] && delete test[1].nestedArray[1]?

[2020-04-12 04:12] bravedongdong commented on #1394
it means DOM operation, see the sandbox when step2 has been saved

[2020-04-12 04:13] bluebill1049 commented on #1394
sorry deleted my message, testing now.

[2020-04-12 04:14] bluebill1049 commented on #1394
thanks, reproduced the issue.

[2020-04-12 04:48] bluebill1049 commented on #1394
patched will be go into the next release.

[2020-04-12 04:53] #1394 closed

[2020-04-12 13:08] flycj commented on #1265
I also encountered this problem, how do you solve it? @hieusmiths

[2020-04-12 13:18] gsouf commented on #648
hi @bluebill1049  could you please elaborate on using custom register?

[2020-04-12 13:31] bluebill1049 commented on #648
hey @gsouf take a look this section: https://react-hook-form.com/api#Controller
and this example: https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-04-12 13:52] gsouf commented on #648
That we helpful, thank you.

How does the Controller works exactly? Does it set the "value" property to the element passed in `as`?

I'm having some warnings saying some components are switching from controlled to uncontrolled. Would prefer to get rid of those warnings if possible.

[2020-04-12 14:19] bluebill1049 commented on #648
@gsouf please read through the doc, you will find your answers there.

[2020-04-12 14:24] gsouf commented on #648
@bluebill1049 nothing I could find, but not a big deal. The issue was because of my storybook. All good.

[2020-04-12 15:10] val-o opened #1398 "Infinite re-renders in Controller [5.4.0]"
**Describe the bug**
Using a Controller component leads to infinite re-renders on server side, I suspect due to setState in render, can be found here:
https://github.com/react-hook-form/react-hook-form/blob/5097cbe4bf6fb6d61563e7e756acbcf9218e5e4f/src/controller.tsx#L131

Code:
[code]

[2020-04-12 22:42] bluebill1049 commented on #1398
oops, i will investigate this one and fix it soon.

[2020-04-12 22:51] bluebill1049 commented on #1398
hey @val-o do you have a CSB for this issue? so i can verify the fix.

[2020-04-12 22:52] bluebill1049 commented on #1398
What's RifmWrap?

[2020-04-12 22:53] bluebill1049 commented on #1398
`if (!fieldsRef.current[name]) {`

This should prevent the re-render tho 🤔

[2020-04-12 23:58] #1371 closed

[2020-04-13 03:06] asciant commented on #1398
Can confirm this started happening as soon as I updated to 5.4.0 in NextJS.

I don't use RifmWrap either.

Will try create a CSB.

[2020-04-13 03:20] bluebill1049 commented on #1398
Thanks a lot, @asciant will sort out as soon as I can grab a CSB.

[2020-04-13 03:20] bluebill1049 commented on #1398
Oh i get it now. is it SSR?

[2020-04-13 03:21] bluebill1049 commented on #1398
that's why automation didn't pick it up.

[2020-04-13 03:21] asciant commented on #1398
Yes it appears to be on the server render, as in NextJS you can follow the stack trace down the the _document.js file (only used on SSR).

[2020-04-13 03:24] bluebill1049 commented on #1398
cool i will wrap the logic inside `useEffect`. patch is coming.

[2020-04-13 03:26] bluebill1049 commented on #1398
can you test this beta: 5.4.1-beta.1?

[2020-04-13 03:29] asciant commented on #1398
The issue is resolved in `5.4.1-beta.1` in my application.

[2020-04-13 03:29] bluebill1049 commented on #1398
cool publishing now. thanks a lot @asciant

[2020-04-13 03:30] bluebill1049 commented on #1398
waiting for the build to pass...

[2020-04-13 03:45] #1398 closed

[2020-04-13 04:06] KVtofan opened #1401 "Custom form shape"
Hello,
is it possible to register a custom form shape?

for the current moment, if I register input with name="custom.first" in the form on submit I'll receive the { ..., custom: { first: 'value' } }

Question: Is it possible to create the next shape: array of objects with { name: 'input name', value: 'input value' }

I need a way to register some inputs like this to achieve in the final form the

[2020-04-13 04:35] bluebill1049 commented on #1401
hey, sorry we don't support such usage. you have to register input and set it values during input change or manually invoke `setValue`

[2020-04-13 04:35] #1401 closed

[2020-04-13 11:27] deebov opened #1402 "input does not get cleared on unmount in field array"
**Describe the bug**
I have a conditional input. and its value doesn't get cleared when the input is removed from the components tree

**To Reproduce**

1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-zypxe?file=/src/index.js
2. Click on Submit and open the console
3. Uncheck the checkbox and click on Submit
4. Take a look at the console

**Codesandbox link (Required)**
https://cod

[2020-04-13 11:45] majweb commented on #1388
When success validation?

[2020-04-13 11:56] bluebill1049 commented on #1402
you have to use `clearError` API for this to work at the moment.

[2020-04-13 12:11] bluebill1049 commented on #1402
I did a closer look at this issue, sorry to info that we are not going to support such usage as in fact, the latest version won't even work with your code at all.

https://github.com/react-hook-form/react-hook-form/issues/1402

here is an alternative solution: https://codesandbox.io/s/react-hook-form-usefieldarray-9tn39?file=/src/index.js

[2020-04-13 12:11] #1402 closed

[2020-04-13 13:32] paambaati opened #1403 "Expose Controller rules as types"
**Is your feature request related to a problem? Please describe.**
I'm building a lot of custom components that heavily use `<Controller>`, and I often times have to expose `rules` as a prop on the component. Since `Controller.rules` isn't exposed as a `Type`, I end up having to duplicate them. It would be lovely if `rules` is also exported a a type.

**Describe the solution you'd like**
Export ne

[2020-04-13 13:36] BrianMwas commented on #874
Why am I getting a Missing name @
here's my code
`<Form.Field required>
                        <label>Username</label>
                        <Input
                        placeholder='Username'
                        name='username'
                        width={8}
                        value={state.username}
                        onChange={onChange}
                        ref={

[2020-04-13 13:37] BrianMwas commented on #874
Am using semantic ui react

[2020-04-13 13:37] bluebill1049 commented on #1403
is this what you after?

https://github.com/react-hook-form/react-hook-form/blob/master/src/types.ts#L124

[2020-04-13 13:39] bluebill1049 commented on #874
@BrianMwas semantic ui react probably not expose ref correctly or at all. you may want to use Controller for it.

[2020-04-13 13:41] paambaati commented on #1403
Yep, that’s the one. Thanks, must’ve missed it.

[2020-04-13 13:41] #1403 closed

[2020-04-13 13:50] BrianMwas commented on #874
Ooh okay let me try

[2020-04-13 19:49] kiily commented on #490
Moved my setup to `yarn` and everything works perfectly, I suspect some mismatch in versioning of `@types/react` that npm was having trouble with.

Thanks a lot for the awesome library 👍

[2020-04-13 20:46] ahmad-medhat opened #1404 "fields from useFieldArray not updated after calling reset"
**Describe the bug**
When using reset after an async request in case I have an array from (useFieldArray), the array is not getting populated.

**To Reproduce**
Steps to reproduce the behavior:
1. Waiting for timeout to finish
2. The list is not getting updated after calling reset

**Codesandbox link (Required)**
https://codesandbox.io/s/gifted-allen-o6utk?file=/src/App.js

**Expected behavior**
A

[2020-04-13 20:56] jonwaldstein commented on #1336
@bluebill1049 unfortunately have to re-open this issue along with something going on with `reset()`:

Please visit the codesandbox below:

https://codesandbox.io/s/issue-rhf-values-v541-f7ye2?file=/src/App.js

1. Open console
2. click delete
3. notice the field array key is missing (console logging twice) before showing correct value
![Screen Shot 2020-04-13 at 4 48 05 PM](https://user-images.gith

[2020-04-13 22:13] bluebill1049 commented on #490
awesome. good to hear :) @kiily

[2020-04-13 22:14] bluebill1049 commented on #1336
looks like someone else reported this issue as well.

[2020-04-13 22:15] bluebill1049 commented on #1336
let's track it there: https://github.com/react-hook-form/react-hook-form/issues/1404 cause it's more specific.

[2020-04-13 22:15] #1336 closed

[2020-04-13 22:15] bluebill1049 commented on #1404
@bluebill1049 unfortunately have to re-open this issue along with something going on with `reset()`:

Please visit the codesandbox below:

https://codesandbox.io/s/issue-rhf-values-v541-f7ye2?file=/src/App.js

1. Open console
2. click delete
3. notice the field array key is missing (console logging twice) before showing correct value
![Screen Shot 2020-04-13 at 4 48 05 PM](https://user-images.gith

[2020-04-13 22:17] bluebill1049 commented on #1336
Thanks a lot for the detailed issue report as well.

[2020-04-13 22:40] bluebill1049 commented on #1404
@ahmad-medhat please take a look the following, let me know if fix the issue
https://codesandbox.io/s/quizzical-grass-dfgng?file=/src/src/useFieldArray.ts:0-13528

hey @jonwaldstein can you take a look this quick fix as well? i haven't got enough time to verify the fix, i will take a look again during lunch break or tonight.
https://codesandbox.io/s/issue-rhf-values-v541-p023z?file=/src/App.js

[2020-04-14 00:05] jonwaldstein commented on #1404
Hey @bluebill1049 Thanks for jumping in!

I just tested the [link](https://codesandbox.io/s/issue-rhf-values-v541-p023z?file=/src/App.js) you shared, but unfortunately the problems still persist 😢

[2020-04-14 00:06] bluebill1049 commented on #1404
thanks @jonwaldstein i will follow your steps above later on.

[2020-04-14 00:29] bluebill1049 commented on #1404
@jonwaldstein this should fix it: https://codesandbox.io/s/issue-rhf-values-v541-p023z?file=/src/src/useFieldArray.ts

[2020-04-14 00:35] bluebill1049 commented on #1404
If everything works, i will add some tests tonight to lock those behaviors, so it doesn't break again.

[2020-04-14 01:07] punisher97 commented on #1379
@bluebill1049 Hi, i testing with this polyfill to use Proxy, [es6-proxy-polyfill](https://www.npmjs.com/package/es6-proxy-polyfill) and working fine in react native, do you could add this polyfill?

[code]

[code]

[2020-04-14 01:09] bluebill1049 commented on #1379
hey @punisher97 hmmm maybe I should include that in the doc :) I didn't want to include the polyfill because it will have an impact on the lib's bundle size. If you have time, feel free to send a PR on the website to info RN users' can import Proxy polyfill to get better Perf.

[2020-04-14 01:10] jonwaldstein commented on #1404
@bluebill1049, Okay that fixed the first issue (deleting field array in watch). Awesome!

There is still an issue with `reset(values)` - it seems to cause an error when you delete an item from the field array and then submit the form.

![Screen Shot 2020-04-13 at 9 08 49 PM](https://user-images.githubusercontent.com/10138447/79175214-1907dc00-7dcb-11ea-93f6-43de44b643f1.png)

[2020-04-14 01:11] bluebill1049 commented on #1404
thanks @jonwaldstein can you list the steps? i will take a look.

[2020-04-14 01:17] Shahzad6077 opened #1406 "I have tried to use Input field with type="file" but it's not working"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Codesandbox link (Required)**
Include a codesandox will help us to investigate the issue quicker.

- [useForm](https://codesandbox.io/s/react-hook

[2020-04-14 01:19] bluebill1049 commented on #1406
follow the template and provide more details.

[2020-04-14 01:19] #1406 closed

[2020-04-14 01:19] jonwaldstein commented on #1404
Sure!

https://codesandbox.io/s/issue-rhf-values-v541-p023z?file=/src/src/useFieldArray.ts

**Steps for [Error](https://github.com/react-hook-form/react-hook-form/issues/1404#issuecomment-613171755)**
1. click delete
2. click submit
3. see error

**Steps for other weird behavior**
1. Click append
2. Click submit
3. notice in console `allWatchedValues` is showing default values first before showing

[2020-04-14 01:33] punisher97 commented on #1379
Ah understand, but I think it is better if you create an option to enable the proxy and pass createFactoryProxy or something similar?

[2020-04-14 01:39] bluebill1049 commented on #1379
I think it's a lot easier just import the polyfill at app level.

[2020-04-14 01:41] punisher97 commented on #1379
If you are right!, i share my polyfill with you and create a PR to add this in react-native its very useful

[2020-04-14 02:13] bluebill1049 commented on #1404
Notice 3 is due to

[code]

in side react hook form we do invoke native HTML reset, which leads the form to be empty value and hence defaultValues gets print out from `watch()`;

[2020-04-14 02:33] punisher97 commented on #1379
Hey @bluebill1049 I add this polyfill

[code]

However i need change this line in source code: https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L120

with this:
[code]

[2020-04-14 02:36] bluebill1049 commented on #1379
What about the following? less code (if it works)

`const isProxyEnabled = (isWeb && 'Proxy' in window) || (!isWeb && Proxy);`

[2020-04-14 02:39] punisher97 commented on #1379
mmm i think add navigator, because Nodejs have proxy(last versions) and with SSR this is good idea?

[2020-04-14 02:41] bluebill1049 commented on #1379
good thoughts, I think should be fine. we don't capture formState in SSR

[2020-04-14 02:46] punisher97 commented on #1379
Thanks, sorry i dont have time to review website and add this polyfill :(, however need modify source code to change isProxyEnabled, maybe you add this in next version?

[2020-04-14 02:55] bluebill1049 commented on #1379
no worries @punisher97 i will take care the docs, you can submit a PR around this 🙏 thanks

[2020-04-14 02:59] punisher97 commented on #1379
@bluebill1049 the last thing and my last suggestion, in react-native check in ValidationResolver if mounted, because, in strangly case, this its triggered and freeze the app if have many fields or heavy validationSchema.

[code]

[2020-04-14 03:01] bluebill1049 commented on #1379
it shouldn't freeze once you have proxy setup, because isValid form state will no longer will be checked when inputs mounted (if you are not reading them).

[2020-04-14 03:08] punisher97 commented on #1379
yes, sorry maybe the app not refresh when i testing with polyfill, but i testing polyfill now, and working perfectly

[2020-04-14 03:15] bluebill1049 commented on #1379
awesome, looking forward to your PR, we can roll this out in the next release.

[2020-04-14 05:03] #1379 closed

[2020-04-14 06:08] ahmad-medhat commented on #1404
Hello @bluebill1049
Thank you for your time to solve the problem.

The [link ](https://codesandbox.io/s/quizzical-grass-dfgng?file=/src/src/useFieldArray.ts:0-13528)you shared is working regarding populating and re-rendering the fields!

But there is still a small issue.

**Bug**
After using reset, the fields are rendered but without the correct content.

Codesandbox link (Required)
https://codesa

[2020-04-14 06:15] bluebill1049 commented on #1404
Thanks @ahmad-medhat you are missing `defaultValue`

[2020-04-14 06:19] ahmad-medhat commented on #1404
Thanks @bluebill1049. It is all good now ☺️

[2020-04-14 07:48] #1404 closed

[2020-04-14 07:49] bluebill1049 commented on #1404
I am releasing a version patch the issue now.

[2020-04-14 08:17] stanislav-bilanenko opened #1408 "Nested Array Fields still work incorrectly when removing items"
**Describe the bug**
I'm creating nested array fields using `useFieldArray` and `Controller`. I'm trying to add few top-level items, then nested-level items. And then to remove some of them. Some of values are reset to defaults. So seems like it works incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to provided CSB example
2. Click on append, fill name input
3. Click on append

[2020-04-14 08:49] bluebill1049 commented on #1408
can you take a look at this example: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-x7btr?file=/src/index.js? I couldn't reproduce the issue, I will take a look at your example after dinner.

[2020-04-14 09:07] stanislav-bilanenko commented on #1408
@bluebill1049 Your example works correctly, but it doesn't use `Controller`. Please consider using it during reproducing.

[2020-04-14 09:18] bluebill1049 commented on #1408
Thanks @stanislav-bilanenko you are right, it's due to Controller.

https://codesandbox.io/s/frosty-williams-h8cy4?file=/src/src/controller.tsx

[2020-04-14 10:10] #1408 closed

[2020-04-14 11:19] hieusmiths opened #1410 "How to show toat notif to user when onSubmit not valid."
Step 1: Enter form
Step 2: User click and me run onSubmit.
Step 3: Form error and i want show toat.

I think handle by ref  call function look like:

handleMiddlewar () => {
if ( isValid || ....) show;
buttonRef.current.click():
}
Must it not possble, cause is we will met many other case .

Thank reply me.

[2020-04-14 12:15] stanislav-bilanenko commented on #1408
Thank you! 🙂👍Gonna test

[2020-04-14 13:01] adithep opened #1411 "Remove Field Array on Control Input Causes value to disappear."
**Describe the bug**
Using field array, with Controller. By removing an index, causing value of all index above it to disappear.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Add'
2. Enter value '1'
3. Click on 'Add'
4. Enter value '2'
5. Click on 'Add'
6. Enter value '3'
7. Click on 'Remove', next to value '2'
8. See the value '1' disappear, and only '3' remains.

**Codesandbox

[2020-04-14 13:05] bluebill1049 commented on #1411
Thanks for reporting : ) we have an issue for it already: https://github.com/react-hook-form/react-hook-form/issues/1408

[2020-04-14 14:41] majweb opened #1413 "How validate image"
Tell me how validate file by mimetypes or size?

[2020-04-14 14:51] pwelter34 opened #1414 "support type conversion"
**Is your feature request related to a problem? Please describe.**

This library is very useful so far.  However, I keep running into issues with values being in the wrong type, everything is a string.  My backend API expects the json to be formatted for the correct type, ie numbers without quotes, booleans as true/false.  Yup has some support for conversion, but it doesn't deal with empty strings

[2020-04-14 15:23] majweb opened #1415 "When submit success"
How disabled input type submit when submitting form and show message after submitted

[2020-04-14 16:18] aslupik opened #1416 "No error on parent object"
**Describe the bug**
If you have a validation rule on a parent object, the error is not available via `useForm` until you submit the form.

**To Reproduce**

- Type a string in the first field
- Type a longer string in the second field
- Click outside the field

**Expected behavior:**
`useForm` updates `errors` with the parent error. We see an error in the form that should say "user rule is not me

[2020-04-14 18:40] FatehAK opened #1417 "Lazily supply initial value and trigger a rerender"
Is it possible to lazily supply initial values (ajax call) and trigger a rerender?. I can only see a way to supply default values.

[2020-04-14 19:27] FatehAK commented on #912
Hi @bluebill1049 facing the same issue here watching a single field (an isolated child component) seems to trigger a rerender of the parent component and any other watched child components

[2020-04-14 21:48] bluebill1049 commented on #1411
actually is' due to defaultValue=""

[2020-04-14 21:48] #1411 closed

[2020-04-14 21:48] bluebill1049 commented on #1411
not relevant to the other issue.

[2020-04-14 21:55] bluebill1049 commented on #1413
try `validate` method and provide a codesandbox if you find an issue with.

[2020-04-14 21:55] #1413 closed

[2020-04-14 22:15] bluebill1049 commented on #1414
Take a look this example: https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc?file=/src/index.tsx

https://github.com/react-hook-form/react-hook-form/tree/master/examples

[2020-04-14 22:16] bluebill1049 commented on #1414
Thanks for your suggestion, at the moment we don't have plan to change register syntax and you can use Controller to parse value.

[2020-04-14 22:19] bluebill1049 commented on #1415
https://react-hook-form.com/api#formState

[2020-04-14 22:19] #1415 closed

[2020-04-14 22:20] bluebill1049 commented on #1417
yes, you can. https://react-hook-form.com/api#reset

[2020-04-14 22:20] #1417 closed

[2020-04-14 22:23] bluebill1049 commented on #1416
This is by design, validation only triggers by a field at a time, if you want the other field to show an error, you can use `triggerValidaiton`.

[2020-04-14 22:34] #1414 closed

[2020-04-14 22:35] bluebill1049 commented on #1410
I will reopen once you can provide some more details about this question above.

[2020-04-14 22:35] #1410 closed

[2020-04-14 23:27] Vandell63 opened #1418 "Need to have setTouched methods"
**Is your feature request related to a problem? Please describe.**
I need to set touched to any field i want in context of custom register, i can't update the touch prop.
I saw some post on it. But in my case i would like to show an error message only when user touch at least one time the field.

**Describe the solution you'd like**
Maybe create a method like `setTouched` to update the form state

[2020-04-14 23:28] bluebill1049 commented on #1418
use `setValue`

[2020-04-14 23:31] Vandell63 commented on #1418
Oh wait. You are super fast. Thx :) . I use it on line 72 is it the wrong way ?

[2020-04-14 23:33] bluebill1049 commented on #1418
https://react-hook-form.com/api#formState formState is wrapped with Proxy, so you need to read them before render.

[2020-04-14 23:39] Vandell63 commented on #1418
Ok i did it now in code. But it keep the same issue when 'onBlur' from the input 'lastName' don't trigger the new touch state for 'lastName' to `true`. Sry if i misunderstood something here

[2020-04-15 00:12] bluebill1049 commented on #1418
hey @Vandell63 no worries, why don't you use `Controller` and let it do it for you?

[2020-04-15 01:16] hieusmiths commented on #1410
I updated demonstrate with code-sandbox. Thank you

[2020-04-15 01:21] bluebill1049 commented on #1410
oh @hieusmiths you can do this
[code]

[2020-04-15 01:26] #1418 closed

[2020-04-15 01:28] hieusmiths commented on #1410
Wow so good, yesterday i check and saw errors change when user manip.
How to you can prevent re-render when errors change.

[2020-04-15 01:29] bluebill1049 commented on #1410
you will have to keep a state if the pop up is already there then.

[2020-04-15 01:32] hieusmiths commented on #1410
did you using mutable for errors when user change and using immuable for errors when submit ?

[2020-04-15 01:49] bluebill1049 commented on #1410
mutable errors.

[2020-04-15 02:04] hieusmiths commented on #1410
:V like me think 💯

[2020-04-15 08:15] majweb opened #1419 "validate image multi check"
Hello
Worked me validate image with validate but two checks not work.
Where I must return where?
https://pastebin.com/DmAqhqzV

[2020-04-15 08:20] bluebill1049 commented on #1419
provide a codesandbox and follow the issue template plz, i will check your validate function.

[2020-04-15 08:20] #1419 closed

[2020-04-15 08:47] majweb opened #1420 "Formstate isSubmittingnot work"
Why not work?

const { register, handleSubmit, errors, formState } = useForm();
const { isSubmitting, isSubmitted } = formState;

{isSubmitting ? "loading..." : "Update"}

[2020-04-15 08:49] bluebill1049 commented on #1420
provide a codesandbox to reproduce this problem.

[2020-04-15 08:49] #1420 closed

[2020-04-15 09:51] neopostmodern opened #1421 "Typings for `errors` and `validationResolver` are very restrictive"
**Is your feature request related to a problem? Please describe.**
Both `errors` and `validationResolver` make strong assumptions about the format of the errors (when using TypeScript, of course).
The project page says it supports a variety of validation libraries (none of which I use) or custom validation. I partially rely on `ajv` and partially write my own validation. In both cases I use comple

[2020-04-15 09:59] bluebill1049 commented on #1421
can you provide an example in a codesandbox? FYI @kotarella1110

[2020-04-15 11:34] haidi20 commented on #77
it's work dud.. thx..

[2020-04-15 11:34] haidi20 commented on #77
it's work dud.. thx..

[2020-04-15 13:18] robmarshall opened #1422 "Deferring Script / Chunking"
As this package is wrapped completely around the form component that I am building, is there any way to split the JS script away from the component and defer its loading until after page render?

I am trying to reduce my page load as much as possible, and the JS behind the form is not critical for page load.

Any thoughts?

[2020-04-15 13:23] bluebill1049 commented on #1422
can you provide a bit more context? if your page doesn't contain `react-hook-form`, it should get code-split.

[2020-04-15 13:27] robmarshall commented on #1422
This may be more of a Webpack thing, now I think about it.

As an example, I have a homepage and the very first element on it is the form. I want the HTML of the form to load - this has been managed via SSR. But I want the react-hook-form code to be split and deferred. Rather than being seen as essential and loading immediately.

[2020-04-15 13:34] majweb opened #1423 "When submitting - code"
How works isSubmitting??

https://codesandbox.io/s/react-hook-form-password-match-check-standard-validation-jvhum?file=/index.js

[2020-04-15 13:49] bluebill1049 commented on #1423
where is handleSubmit? https://react-hook-form.com/api#handleSubmit

[2020-04-15 13:50] bluebill1049 commented on #1422
yea, i think you want to post this question at Webpack.

[2020-04-15 14:15] asaturov-b opened #1424 "Wrong cursor position after trimming email field"
**Describe the bug**
Using input[type=email] with Controller causes wrong cursor position after trim.
Fields created with input[type=email] and ref has no same problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a field using Controller and input[type=email].
2. Enter one or more spaces in the empty field.
3. Enter any other non-space character.
4. Now field value is trimmed, but

[2020-04-15 14:46] aslupik commented on #1416
I see, so I can use `triggerValidation` passing in the field name of the parent and that will trigger validation at that specific level. That seems to work, thank you very much.

[2020-04-15 14:46] #1416 closed

[2020-04-15 16:21] majweb commented on #1423
ok updated
https://codesandbox.io/s/react-hook-form-password-match-check-standard-validation-9k59p

[2020-04-15 17:39] martdavidson opened #1425 "Documentation Versioning"
Unless I'm missing something, the documentation isn't versioned with releases of this package.

Check out https://www.apollographql.com/docs/react/ for an example, there is a dropdown in the top left to choose what API version you want documentation on.

Staying updated to the latest version isn't always feasible when deploying a minor feature or what have you.

[2020-04-15 20:28] martdavidson commented on #888
Doesn't seem to do the trick for me @bluebill1049

[code]

`specialCharacters` is synchronous. Let's say there is **not** already a user named Bill in the database. If I quickly type `Bill$`, I'll see the `specialCharacters` error message, but 400 ms later the `unique` validator resolves (it's an async request, debounce returns a promise), and because `Bill` is an available username, the `specialC

[2020-04-15 20:58] nullwriter commented on #348
This happens to me. Whenever I get an error, and I try to delete the input, the first try only removes the error message, then the second try removes the character I'm trying to actually delete.

Anyone fixed this?

[2020-04-15 21:14] martdavidson commented on #888
@bluebill1049 Can you take another look at this?

The _synchronous_ validation returns false, and an error is shown. Then  _asynchronous_ validation resolves and returns true. The error state is now cleared.

Your codesandbox example doesn't have a synchronous validator. Something like:

[code]

`unique` will _always_ resolve after `specialCharacters`, so it doesn't matter what the result of `spec

[2020-04-15 21:42] martdavidson opened #1427 "Adding an async validator delays synchronous validators from clearing error state"
**Describe the bug**
Registering a single async validator makes synchronous errors clear only _after_ the async validator resolves.

**To Reproduce**

`mode` is `onChange`.

[code]

`minLength` will trigger as soon as you start typing, and show the error synchronously. Once you type past 4 characters, I'd expect the error message to disappear immediately, but it only disappears once `unique` resol

[2020-04-15 22:14] bluebill1049 commented on #1423
![Uploading Screen Shot 2020-04-16 at 8.14.14 am.png…]()

[2020-04-15 22:14] #1423 closed

[2020-04-15 22:17] bluebill1049 commented on #1424
i don't see any `trim` code?

[2020-04-15 22:21] bluebill1049 commented on #1425
At the moment, you will have to check the release note, which contains what's been changing and update. At the moment, i am the only person main the docs, i don't think i will have the capacity to introduce versioning of the doc, but thanks for the suggestion.

No, i am here to support and help.

[2020-04-15 22:23] bluebill1049 commented on #348
Take a look here: https://react-hook-form.com/faqs#Whyisfirstkeystrokeisnotworking @nullwriter i think it's due to controller changed to uncontrolled or vice versa.

[2020-04-15 22:27] bluebill1049 commented on #1427
That depends on your validation mode, and you can combine something like touched to avoid the error gets appeared right away.

have you considered moving all the validation into the validate function?

[2020-04-15 22:54] martdavidson commented on #1427
Hey Bill, yes, I did consider moving everything into validate, I'll try that.

The issue here wasn't that the error appears right away, it's that it doesn't disappear until all validators have resolved.

[2020-04-15 23:11] bluebill1049 commented on #1427
This is expected behavior, otherwise, the user will see an error appear, disappear and reappear.

[2020-04-16 00:36] #1422 closed

[2020-04-16 00:51] Nvveen commented on #1421
I am having similar problems while using fp-ts and io-ts.
https://codesandbox.io/s/react-x1vly?file=/src/App.tsx

[2020-04-16 04:16] bluebill1049 commented on #1421
I am assigning this issue to @kotarella1110 please take a look whenever you got a chance 🙏

[2020-04-16 06:24] kotarella1110 commented on #1421
@bluebill1049 I will look into this later 👍

[2020-04-16 07:50] asaturov-b commented on #1424
Maybe the problem is not in trim.
I've just noticed that when you enter some spaces in beginning of empty field (like i've described above), control.setValue function is not firing. It's called only when you enter non-space character.
Maybe there is some problem in onChange handler?

[2020-04-16 07:59] ahmadkam2 opened #1428 "How to reset specific field in form"
How can I reset specific field in my form without affecting other items?

[2020-04-16 08:02] wrakky commented on #1421
I've just run into a similar issue trying to type my form with a [Material-UI Multiple Select](https://material-ui.com/components/selects/#multiple-select) field

Brief example and full codesandbox is below:
[code]
https://codesandbox.io/s/focused-napier-hiwvc?file=/src/App.tsx

The `errors` typing seems to assume any array values are always multiple fields whereas in my case it's a single field w

[2020-04-16 08:20] deebov commented on #1408
hey i am getting the same issue. i am using version `5.4.2`. when do you plan to release the fix ?

[2020-04-16 08:21] bluebill1049 commented on #1408
@deebov This weekend will do.

[2020-04-16 08:22] bluebill1049 commented on #1428
`setValue`

[2020-04-16 08:22] #1428 closed

[2020-04-16 08:42] bluebill1049 commented on #1424
that's not even the correct usage.

[2020-04-16 08:43] bluebill1049 commented on #1424
can you have a read here: https://react-hook-form.com/api#Controller?

why are you `merge` control with `setValue`?

[2020-04-16 09:23] #1424 closed

[2020-04-16 11:50] #1427 closed

[2020-04-16 12:11] levrik commented on #1421
I'm also currently hitting the issue mentioned by @wrakky.
This really needs a fix!

[2020-04-16 13:19] kotarella1110 commented on #1421
Unfortunately, It is no way in TypeScript to recognize that it is any array value.
Because we supported nest object since v4 as follows:

[code]

If expected the field name to be `nested.object` and the field value to be `{ key: string }`, TypeScript would not be able to recognize `{ key: string }` as the field value.
We have a headache on this...
If TypeScript solves this issue https://github.com

[2020-04-16 13:45] martdavidson commented on #1427
If that's expected, then that's fine, but it seems like a bad user experience to not get feedback on the synchronous validation right away. If I type more than 4 characters, I have to wait until the unique username check resolves before the minLength error goes away, which doesn't really feel good.

[2020-04-16 13:47] mfal opened #1430 "With "revalidation on change", validation is not triggered, if field becomes valid and then invalid"
**Describe the bug**
Given revalidation mode is set to "onChange" and your text field is in an invalid state. Now when you correct your input, the shown validation error disappears. Now when you go on changing your input and make it invalid again, the validation is not triggered and no validation error is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/

[2020-04-16 16:21] sakalx opened #1431 "Can it handle huge form"
We have form with **100+** different fields `[text, checkbox, select, etc...]`

is there can be some issues to handle all these fields with `one hook` ?

or it will better create a `several hooks` and use `triggerValidation` and `getValues` to collect data for submitting.

Thanks!

[2020-04-16 17:34] mihaisavezi opened #1432 "reset option dirtyFields set to true, still resets values from the dirtyFields"
**Describe the bug**
reset called with ({}, {dirtyFields: true}) still resets all dirty fields. Documentation says otherwise

https://github.com/react-hook-form/react-hook-form-website/blob/bbc89a70581310a8486850091b95061aadadd9ff/src/components/codeExamples/resetCode.ts#L23

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sandbox
2. Fill in fields
3. Trigger custom reset
4. Dirty fiel

[2020-04-16 17:37] azemetre opened #1433 "MUI Checkbox data is not appearing when firing the handleSubmit function"
**Describe the question?**

Using RHF `<Controller />` I am able to use 3rd party MUI components in my login form, however the `<Checkbox />` data is not appearing when the handleSubmit function is fired.

I don't believe I am adding or changing the boolean values for the checkbox. Kinda lost at what I should be doing in the `<Controller />` for the checkbox.

**To Reproduce**
Steps to reproduce t

[2020-04-16 17:48] mihaisavezi commented on #1432
Update: I think needs to be used in conjunction with ```dirty: true``` to actually work

[2020-04-16 19:17] azemetre commented on #1433
Was able to resolve my issue by not using `<FormControlLabel />` from MUI and use a native html label instead. Only have the RHF `<Controller />` wrapping the MUI `<Checkbox />` now and everything is working as expected.

Still curious if it's possible to use nested controls or if it's recommended to not attempt this.

[2020-04-16 20:06] ekawatani opened #1434 "Some internal states of a form are not cleared even after calling `reset`"
**Describe the bug**
Originally reported at Spectrum [here](https://spectrum.chat/react-hook-form/help/clearing-the-internal-states-of-a-form-after-submitting~e2a4c88e-7704-4363-a4eb-45442170bb11).

Before submitting a form, the input fields are validated on submit. This works as expected, but after submitting a form, focusing on any input fields of the same form trigger validations automatically

[2020-04-16 22:12] bluebill1049 commented on #1427
Personally i disagree with the statement above, but if that's the behavior that your app expected, you can always leave that async one outside of register and attach a onChange to `triggerValidation`, which means you still get instant feedback and there will be another async validation coming later on.

[2020-04-16 22:14] bluebill1049 commented on #1431
One custom hook will do, one of the reasons I did this hook is so it can handle large form, or perhaps even 1000+ fields https://react-hook-form.com/advanced-usage#Workingwithvirtualizedlist

[2020-04-16 22:14] #1431 closed

[2020-04-16 22:17] bluebill1049 commented on #1433
can you take a look this example in the doc?
https://react-hook-form.com/api#Controller
https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-04-17 01:00] bluebill1049 commented on #1430
ok this one is actually valid, because it's only triggering validation onBlur, and correct them onChange.

-> onBlur (error)
-> onChange (clear error) doesn't trigger error to appear.
-> (only) onBlur will trigger error

[2020-04-17 07:15] ahrnee opened #1437 "Dirty FormsState gets 'forgotten' when using Observable"
**Describe the bug**
The `dirty` state of a form is not successfully retrieved when formState is accessed in an observable subscription handler (unlike the `dirtyFields` value, which seems correct). An example is provided below.

**To Reproduce**
Steps to reproduce the behavior:
1. Change text in the single text field
2. View on screen information for 'Dirty' and 'Dirty Fields' and observe values

[2020-04-17 07:51] #1432 closed

[2020-04-17 07:55] bluebill1049 commented on #1437
Thanks for the detailed issue report and description, this really helps a lot for us. 🙏

[2020-04-17 08:07] bluebill1049 commented on #1421
Follow up on this issue, we going to update the doc to include more TS examples and have a section under the Advance page to state some of the limitations and reasons behind.

[2020-04-17 08:21] neopostmodern commented on #1421
Thanks for the consideration. As far as I understood this, it still does not solve the usage of flat error objects, such as the above mentioned example of `{ cases[0].caseData.profileInformation.age": "should be a number" }` (or `{ cases[0].caseData.profileInformation.age": { message: "should be a number" } }` if that makes a difference).
I think there will always be cases where the error type sim

[2020-04-17 08:44] bluebill1049 commented on #1437
I think the problem it's due to `useEffect` missing dep and callback without `useCallback` as well. More of JS closure problem.

https://codesandbox.io/s/react-hook-form-external-click-handling-example-with-rxjs-y6ycg?file=/src/index.js

[2020-04-17 09:04] bluebill1049 commented on #1421
That's a good point, which I agree that there are cases that form `values` that don't represent form `errors`.

However, there is a cost with this approach that separates them as well, which means you will need to declare both `form` and `error` types. Ideally, form values should always associated with errors, by separating form value and error, it also repetition and disjoint type system for this

[2020-04-17 09:38] neopostmodern commented on #1421
I'm not sure if this is implementable with the current typings, but I'd assume that it should be possible to add a third, optional type to `useForm`?

Currently it's `useForm<FormDataType, ValidationContextType = void>` and the error shape is deduced from from the `FormDataType` with a mechanism I'd for simplicity dub `FancyAutoGeneration`. I'd propose amending it to `useForm<FormDataType, Validat

[2020-04-17 11:12] Codyooo opened #1439 "react state inside validate function did not update"
**Describe the bug**
I want to validate  a field based on a state value,
but the state value is not update inside validate function.
**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-useform-template-n0juy?file=/src/index.js

**Expected behavior**
state inside validate function change as the state change

[2020-04-17 11:57] ahrnee commented on #1437
I think I have [solved](https://codesandbox.io/s/react-hook-form-external-click-handling-example-with-rxjs-with-useref-mkmb1?file=/src/index.js) this issue - and it was with my code.

@bluebill1049 - thanks for your reply and code example. While this solved the original problem, it created another: a new subscription was created to the observable every single time the component updated (just click

[2020-04-17 11:58] #1437 closed

[2020-04-17 17:19] claudioquaglia opened #1440 "Control and React Select with multi value"
**Describe the bug**
When the Control component wraps the `react-select` component with `isMulti` prop seems that value will not be set to the form. When submit the form the field is undefined. And error validations rules seems be ignored.

**To Reproduce**
Steps to reproduce the behaviour:
1. Select more than one option from select
2. click submit
3. Look at the console

**Codesandbox link (Requi

[2020-04-17 17:30] bluebill1049 commented on #1440
incorrect usage: `onChange={([selected]) => onHandleChange(selected)}`

you are meant to return the data from `onChange`

https://react-hook-form.com/api#Controller

[2020-04-17 17:35] leonidez opened #1441 "useForm.ts - process is not defined"
**Describe the bug**

I am toggling the rendering of a form based on a state value in a wrapper component like this:

[code]

When the Form unmounts I get an error `process is not defined` in my console and my `FormSuccess` component does not render correctly because of it. I've traced the reference to process back to this line: https://github.com/react-hook-form/react-hook-form/blob/master/src/us

[2020-04-17 17:37] bluebill1049 commented on #1439
This is due to JS closure and there are couple ways to tackle this:

1. unregister when the value changes

[code]

2. store that variable in a reference with `useRef`

[2020-04-17 17:38] bluebill1049 commented on #1441
This was made for not reset field during hot reload. Do you have a reproducible example?

[2020-04-17 17:51] leonidez commented on #1441
Thank you for the quick reply!

I don't have a reproducible version right now, but I can tell you that the build process for the app I'm working on is nonstandard. We're installed react-hook-form in our app via npm and we're creating a bundle by referring to this specific file:

node_modules/react-hook-form/dist/react-hook-form.umd.js

That's how i'm able to access your lib on the frontend.

I'm n

[2020-04-17 17:57] claudioquaglia commented on #1440
my fault I've missed the return data... thank's for your help.

[2020-04-17 17:57] #1440 closed

[2020-04-17 21:37] lacykerel commented on #1242
I'm trying this approach and I seem to can't get the value to show up from the datepicker

`          <Controller
                          as={
                            <DatePicker
                              className="form-control"
                              minDate={new Date()}
                              endDate={endDate}
                              selectsStart

[2020-04-17 23:11] Banou26 opened #1442 "Feature request: Indeterminate checkbox value"
**Is your feature request related to a problem? Please describe.**
Would it be possible to support the checkbox indeterminate value ?
I tried making a 3 state checkbox, false, true, indeterminate.
But i'm having troubles using it with React hook form.

**Describe the solution you'd like**
If a checkbox has the `indeterminate`  prop set to true, set the React hook form value to 'indeterminate'

[2020-04-17 23:57] bluebill1049 commented on #1242
@lacykerel Take a look at the doc: https://react-hook-form.com/api#Controller there is a link for example.

[2020-04-17 23:57] bluebill1049 commented on #1442
you can build a controller component and wrapped with Controller.

[2020-04-18 01:53] bluebill1049 commented on #1434
aha i see the reason why because after the form is submitted, the form state `isSubmitted` stay still and hence form validation still respect that the form is been submitted. I think this behavior is correct and no change should be made, invoke reset() after the form is submitted should resolve the problem. Let me know if this make sense, I will include this information in the `formState` doc.

[2020-04-18 02:26] bluebill1049 commented on #1421
After discussion with @kotarella1110 (our TS custodian) we both agree to introduce another generic (third) for `error` type is not trivial and also not intuitive to new/existing users as well. We probably will have to use `any` for situation when form value is not having a 1 to 1 relationship with error. However, if you have a strong opinion about this third generic, we are open to PR as well, and

[2020-04-18 05:33] Codyooo commented on #1439
感谢，useRef解决了我的问题

[2020-04-18 05:33] #1439 closed

[2020-04-18 05:37] bluebill1049 commented on #1439
不客气🙏

[2020-04-18 05:47] cliffordp opened #1443 "register() required/validate{} do not work for controlled inputs (e.g. React Select)"
**Describe the bug**
If I give React Select 3 options and the _value_ of 2 of the 3 would fail validation (getting the selected option's `value` prop), the form validation should fail.

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-controller-uopfc?file=/src/index.js

**Expected behavior**
A clear and concise description of what you expected to happen.

**Video**
3:30 video demonst

[2020-04-18 06:28] bluebill1049 commented on #1443
incorrect usage: you are combining `Controller` with `register`

https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-04-18 06:39] h-sakano commented on #1433
`Controller` should be placed at `control` property of `FormControlLabel` component like below code.

[code]

[2020-04-18 07:05] h-sakano commented on #1433
I wrote an example in Codesandbox:

https://codesandbox.io/s/modest-voice-f1ubn

[2020-04-18 07:13] bluebill1049 commented on #1433
amazing! thank you @h-sakano

[2020-04-18 07:14] bluebill1049 commented on #1433
we can safely close this one with @h-sakano 's help! thank you!

[2020-04-18 07:14] #1433 closed

[2020-04-18 07:26] bluebill1049 commented on #1434
<img width="909" alt="Screen Shot 2020-04-18 at 5 26 15 pm" src="https://user-images.githubusercontent.com/10513364/79631058-ba12e000-8199-11ea-9c77-608c616fdaf1.png">

The website will be updated will the above information.

[2020-04-18 07:55] bluebill1049 commented on #1441
take a look at this beta: react-hook-form@5.4.3-beta.1 let me know if this fix your problem.

[2020-04-18 14:58] ekawatani commented on #1434
@bluebill1049

Hmm, it doesn't work even if I call reset after submitting the form as I mentioned originally at Spectrum. If that resets, then I'm fine with it, of course. If you try it in the CodeSandbox I pasted in the Spectrum chat, it still triggers validations.

[2020-04-18 15:19] shubharaj opened #1445 "Can we use this efficiently with react native apps? How do we use pattern validation with useEffects() ? The pattern validation is not working with react native hooks useEffects()"

[2020-04-18 15:28] Banou26 commented on #1442
Any way for me not to have to hack up your `get` util to be able to get the default value from the control state ?

That's my current status on managing to use React hook form with a simple to use checkbox component that handles indeterminate state.

[code]

Usage is something like this, you have to pass it `control` instead of `ref`

[code]

[2020-04-18 15:53] cliffordp commented on #1443
Oh my! I thought coding at 1am was supposed to make me better? lol

btw, the sandbox link was wrong.
This is the relevant (and now working) one:
https://codesandbox.io/s/react-hook-form-react-select-controller-with-custom-validation-59dud?file=/src/index.js

[2020-04-18 15:53] #1443 closed

[2020-04-18 17:16] Banou26 commented on #1442
Also, i ended up using the `null` value for the indeterminate state, but now, because `Controller` probably sets values under the hood, it throw
[code]

It's not really clear why would the Controller even set the `value` prop for an input of type checkbox.
Is there a way to prevent that ?
Right now i'm using the `valueName` option as workaround but it's not really clean.

[code]

[2020-04-18 22:18] bluebill1049 commented on #1434
thanks @ekawatani i see the problem now.

[2020-04-18 22:22] bluebill1049 commented on #1434
https://codesandbox.io/s/react-hook-form-errors-zck8b?file=/src/index.js

[2020-04-18 22:36] bluebill1049 commented on #1434
or using useEffect to check errors is empty and isSubmitted count > 0, then invoke reset()

[2020-04-18 22:44] bluebill1049 commented on #1445
Yes take a look the doc with Controller.

[2020-04-18 22:44] #1445 closed

[2020-04-18 22:44] bluebill1049 commented on #1443
aha no worries at all mate, did you get it working?

[2020-04-18 22:47] bluebill1049 commented on #1442
That looks complicated. what about this approach?

[code]

[2020-04-19 00:07] bluebill1049 commented on #1421
hey, @stramel can we please get your take on this one as well?

[2020-04-19 00:44] cliffordp commented on #1443
all good. ty again!

[2020-04-19 04:52] BetaGo opened #1446 "[typescript]type error, when set `control` props to `Controller` component;"
**Describe the bug**
in the latest version; use with typescript, if declare form data type use `interface`,  will get a type error, when set `control` props to `Controller` component;

**To Reproduce**
see the example in Codesandbox as line 25

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-useform-template-nsmib

**Expected behavior**
no type error

[2020-04-19 04:59] bluebill1049 commented on #1446
Thanks, @BetaGo. @kotarella1110 you want to take a look at this one?

[2020-04-19 05:02] bluebill1049 commented on #1446
looks like its due to the `getValues()` type improvement.

[2020-04-19 05:27] bluebill1049 commented on #1446
worth to mention when I switched to `type` instead of `interface` and it's working.

[2020-04-19 05:52] #1430 closed

[2020-04-19 08:06] kotarella1110 commented on #1446
I will look into this from now on.

[2020-04-19 08:09] bluebill1049 commented on #1446
Thanks, @kotarella1110 (no rush) I changed to `type` and it's working...

[2020-04-19 10:56] Bharateshwar commented on #1348
Hi, I'm facing the same issue , data.splice is not a function.
I'm using material ui's TetField with useFiledArray ... so I had to use control from useForm(). ... so as per my knowledge there's no way to pass register() ... help please?

[2020-04-19 10:57] bluebill1049 commented on #1348
are you using Controller @Bharateshwar ?

[2020-04-19 10:58] #1446 closed

[2020-04-19 10:59] Bharateshwar commented on #1348
Yes I am

[2020-04-19 11:03] bluebill1049 commented on #1348
share a codesandbox with your problem and keep it simple.

[2020-04-19 11:05] Bharateshwar commented on #1348
can u have a look at this .. and tell me if there's a problem in this?
`{fields.map((locationInput, index) => {

                return (<Controller as={TextField} control={control} name={`ServiceProviderAddress[${index}]`} key={locationInput.id}

                    InputProps={{
                        endAdornment: <InputAdornment position="end">
                            <IconButton onClick=

[2020-04-19 11:16] bluebill1049 commented on #1348
What's this InputProps? looks fine to me except without `defaultValue`.

[2020-04-19 11:36] Bharateshwar opened #1450 "useFieldArray: TypeError: data.slice is not a function or its return value is not iterable"
useFieldArray's remove method throws TypeError: data.slice is not a function error.
I am using material-ui's textfield with Controller.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '**https://codesandbox.io/s/eager-williams-npt2q**'
2. Click on '**"Delete Textfield" on the output tab**'
3. **See error**

**Additional context**
I found many other similar issues but none mentioned usi

[2020-04-19 11:37] Bharateshwar commented on #1348
InputProps .. just a kinda prop that comes with TextField from material-ui .. and even with defaultvalue the error is there ...

I've created a new issue .. #1450 please have a look at the sandbox over there

[2020-04-19 11:56] bluebill1049 commented on #1450
Try to follow this example with Controller: https://codesandbox.io/s/react-hook-form-usefieldarray-wqyji?file=/src/index.js:995-1027

i have made yours worked as well, but it's better for you to learn and see the diff.

[2020-04-19 11:56] #1450 closed

[2020-04-19 11:57] bluebill1049 commented on #1450
hint: append API

Type:
[code]

[2020-04-19 12:28] ekawatani commented on #1434
Ah! I see the issue. So, the `reset` function resets the form states as well. I didn't realize that properly, but it's actually in the documentation. Thanks, I think this issue can be closed.

[2020-04-19 12:28] #1434 closed

[2020-04-19 12:33] saeedPadyab opened #1451 "using reset as dependency of useEffect"
I have created a fully dynamic form that i had to use useFormContext to handle components. one of the components is react-select which it is customized and the question here is that after resetting the form by reset(), i need to clear the selected items of select input.
I need to know how the components can understand user has clicked reset() ?

i need something like this :
[code]

[2020-04-19 12:38] bluebill1049 commented on #1434
thanks for reporting this issue @ekawatani 👍

[2020-04-19 12:39] fakhrad commented on #1451
Same issue here! please help

[2020-04-19 12:39] bluebill1049 commented on #1451
can you create a codesandbox?

[2020-04-19 12:53] Bharateshwar commented on #1450
hi @bluebill1049  ... i tried but I'm unable to find out what is wrong :(

[2020-04-19 12:58] bluebill1049 commented on #1450
here is a working version for you: https://codesandbox.io/s/fervent-moon-ewy1i?file=/src/App.js

append need to be supplied with an object or an array of objects, it wouldn't work with empty.

[2020-04-19 13:04] Banou26 commented on #1442
Sorry, i didn't really explain in details what i wanted to do.

I basically needed a checkbox that looped through states like this: false -> true -> indeterminate -> false

So what you suggested wouldn't work, plus, you can't set  `null` to the `value` property of a JSX input without getting a warning from react.

I managed to do what i wanted in the end, getting a pretty nice API out of it, but t

[2020-04-19 13:16] bluebill1049 commented on #1442
oh cool. as long as it works 👍

[2020-04-19 13:19] Bharateshwar commented on #1450
thanks @bluebill1049  ...thanks a lot for your help. I even had a silly spelling mistake in my variables ..

Solved it... thanks

[2020-04-19 13:22] #1442 closed

[2020-04-19 14:22] bogdansoare opened #1452 "Check if form has been submitted successfully"
Currently `isSubmitted` is set to true, even though because of validation the `onSubmit` handler hasn't been triggered which is kind of confusing.

Both formik and final-form set `isSubmitted` to true only after the `onSubmit` handler has successfully ran

[2020-04-19 23:09] bluebill1049 commented on #1452
Do you have any good reference include submitted should only be successful submission?

[2020-04-20 02:32] lacykerel commented on #1242
This helped! Thanks!

[2020-04-20 05:33] deebov opened #1453 "[Controller] isNotFieldArray is not updated properly"
**Describe the bug**
I've been getting weird issues because of this bug. I opened an [issue](https://github.com/react-hook-form/react-hook-form/issues/1369) but it didn't get resolved so I decided to get my hands dirty 😅
Controller uses `useMemo` to calculate `isNotFieldArray`. But since the `useMemo` receives a ref as a dependency that does not guarantee that the functions inside `useMemo` will b

[2020-04-20 05:41] bluebill1049 commented on #1453
oh, cool @deebov thanks for the investigation. would like you like to send a PR if you have a solution?

[2020-04-20 05:49] deebov commented on #1453
sure!

[2020-04-20 06:00] bluebill1049 commented on #1453
thanks a lot @deebov if you are having issues, I will be your fallback so no stress about it.

[2020-04-20 06:36] deebov commented on #1453
@bluebill1049 would you give a little explanation about this part of the code https://github.com/react-hook-form/react-hook-form/blob/4c865d35465b2d8f4e855c5285c4bc25ae2fe45c/src/controller.tsx#L118

![image](https://user-images.githubusercontent.com/28673719/79720826-bfd40700-82fa-11ea-9d95-205d596aa8e0.png)

`registerField` gets called twice on component mount. but basically, [this useEffect blo

[2020-04-20 06:37] bluebill1049 commented on #1453
SSR :(

[2020-04-20 06:38] bluebill1049 commented on #1453
you are right!

[2020-04-20 07:13] deebov commented on #1453
one more thing, why we don't unregister a controller if it is in fieldArray ?
![image](https://user-images.githubusercontent.com/28673719/79724034-4a6b3500-8300-11ea-8654-559fe47b7004.png)

[2020-04-20 07:18] bluebill1049 commented on #1453
because it's been taking care inside `useFieldArray` when delete, insert and shuffle the array.

[2020-04-20 07:18] deebov commented on #1453
i have a case where a controller is a required field in fieldArray. when you remove a field of fieldArray that required controller does not get removed from the `fields` array which prevents form submission

[2020-04-20 07:20] deebov commented on #1453
but when I disabled  `if(isNotFieldArray)` the issue disappeared

[2020-04-20 07:21] bluebill1049 commented on #1453
right... let's submit it a PR see if automation cries about it.

[2020-04-20 07:29] bluebill1049 commented on #1453
i am testing it now by running the automation locally.

[2020-04-20 07:29] deebov commented on #1453
yeah. i am preparing the PR

[2020-04-20 07:31] bluebill1049 commented on #1451
will re-open once more context and codesandbox is supplied.

[2020-04-20 07:31] #1451 closed

[2020-04-20 10:35] neopostmodern commented on #1421
I unfortunately don't have the time to create a PR right now (I guess understanding all the effort you have put into your typing so far would be non-trivial), but will try to do so in the near future.
As per `any` – would you switch the default error type to `any`, or leave it as is and force users who use a different error type to use `any` to bypass the restrictions?

[2020-04-20 10:57] deebov commented on #1453
hey @bluebill1049 I had some troubles with the automation. I got two errors from the `useFieldArray` test case

[2020-04-20 11:01] bluebill1049 commented on #1453
No worries I can take over and look at it @deebov 🙏

[2020-04-20 11:01] bluebill1049 commented on #1453
i will commit on your branch :)

[2020-04-20 11:03] deebov commented on #1453
thank you )

[2020-04-20 11:05] bluebill1049 commented on #1453
I guess i can test out in your codesandbox above right? @deebov

[2020-04-20 11:07] deebov commented on #1453
yeah

[2020-04-20 11:12] bluebill1049 commented on #1453
aha, this is not a bug lol, you can add a default value it should fix it. https://codesandbox.io/s/react-hook-form-controller-2xyig?file=/src/index.js i will still merge your PR tho, there are some improvement there.

[2020-04-20 11:14] nigelthinksprint commented on #1247
I cannot express how useful those examples are for controlled MUI examples especially the slider.

[2020-04-20 11:16] bluebill1049 commented on #1247
Glad it helped! @nigelthinksprint feel free to suggest others or add more if you can :)

[2020-04-20 11:21] deebov commented on #1453
Yes this is what I am talking about 😂

[2020-04-20 11:31] deebov commented on #1453
I want to prevent the first input value from getting reset to the default value when I remove sibling inputs

[2020-04-20 11:33] bluebill1049 commented on #1453
I don't see what's happening in my codesandbox above. nothing gets reset.

[2020-04-20 11:36] deebov commented on #1453
ohh, I see. so you set default value to `field` `defaultValue={field}` I didn't know about this

[2020-04-20 11:49] bluebill1049 commented on #1453
I will update the doc to emphasize this.

[2020-04-20 11:54] deebov commented on #1453
thanks )

[2020-04-20 11:55] bluebill1049 commented on #1453
Thank you for your contribution @deebov

[2020-04-20 11:57] bluebill1049 commented on #1453
`<p>
              make sure to set <code>defaultValue</code> when you want to set default value, remove
              or reset with inputs.
            </p>`

hows this sounds?

[2020-04-20 12:01] nigelthinksprint commented on #1247
https://codesandbox.io/s/react-hook-form-controller-ue527 added multiple select. Quite obvious but missing :)

[2020-04-20 12:04] bluebill1049 commented on #1247
Thanks @nigelthinksprint 👍

[2020-04-20 12:12] deebov commented on #1453
i think we need to make it clear that the default value should be `field` element of `fieldArray`
`<p> make sure to set <code>defaultValue</code> to <code>field</code> of <code>fields</code> when you want to set default value, remove or reset with inputs. </p>`
or
`<p> make sure to set <code>defaultValue</code> to <code>fields[index]</code> when you want to set default value, remove or reset with

[2020-04-20 12:18] bluebill1049 commented on #1453
updated doc and codesandbox example :)

[2020-04-20 12:18] #1453 closed

[2020-04-20 19:54] c0d3x opened #1455 "Submitting a form twice to get fields."
When I submit my form I have to push submit button two times to get the values.
Is this because I show hide fields with the index of the parent?
Do I need to re-render the form in some way when I show the input fields?

Here is a code-sandbox of the problem, select a radio button then hit submit.
It works at random every second time or so:

https://codesandbox.io/s/react-hook-form-radio-array-with

[2020-04-20 21:04] chead2344 opened #1456 "Values being cleared for Controller when using useFieldArray and calling remove inside useEffect"
**Describe the bug**
Firstly, thanks so much for your work on this library, It's awesome!

I have a form that calls `remove` from `useFieldArray` when certain conditions are met. This happens by watching the array values and calling `remove` within a `useEffect` hook when said conditions are met. However, when doing so, the value in the first field is cleared.

**To Reproduce**
Steps to reproduce

[2020-04-20 22:19] bluebill1049 commented on #1455
Try to give those fields with unique names: https://react-hook-form.com/faqs#Whyisdefaultvaluenotchangingcorrectlywithternaryoperator

[2020-04-20 22:21] bluebill1049 commented on #1456
missing defaultValue: https://codesandbox.io/s/lucid-thunder-nzltw?file=/src/App.js

[2020-04-20 22:21] #1456 closed

[2020-04-20 23:43] gfpacheco commented on #1203
This is still an issue on React Native, should the solution work on native as well?

[2020-04-21 01:52] victorouse commented on #1445
Just thought I'd drop in @shubharaj because I recently migrated our forms from registering our form components in `useEffect` to using `Controller`, we wrap `TextInput` and add some validation triggers since `mode` wasn't supported (reading the docs again, looks like it could be now). Are some of these triggers/checks unnecessary now @bluebill1049?

[code]

[2020-04-21 01:55] bluebill1049 commented on #1445
I think some of the props inside your inner component is unnecessary. because Controller will take care of the validation.

[2020-04-21 02:48] zenzjtech commented on #1210
Hello,
The code sandbox example is not working now, isn't it?

[2020-04-21 02:59] bluebill1049 commented on #1210
@zenzjtech take a look this one instead: https://github.com/react-hook-form/react-hook-form/issues/1247

[2020-04-21 03:43] kotarella1110 commented on #1421
@neopostmodern If the suggested `FormValue` is created, do you think this problem is solved?

[2020-04-21 06:03] manualva7 opened #1457 "Validate Material UI Autocomplete"
This is my current Autocomplete field:

[code]

inputProps is already defined there. if I spread props.inputProps after params.inputProps, my props.inputProps will overwrite the ref property already defined inside params and this will break the field. Any suggestions?

[2020-04-21 06:07] bluebill1049 commented on #1457
provide a codesandbox plz and follow our template for a question.

[2020-04-21 06:10] manualva7 commented on #1457
This is Material UI with labs installed. I can't just "create a sandbox". Is there a way I can register a field bypassing inputprops? Maybe just using store?

[2020-04-21 06:52] #1452 closed

[2020-04-21 06:53] manualva7 commented on #1457
https://codesandbox.io/s/affectionate-cori-6ov9d?file=/src/AutoCompleteField.js

[2020-04-21 06:57] manualva7 commented on #1457
Sorry guys I don't know how to use sandbox. https://codesandbox.io/s/affectionate-cori-6ov9d?file=/src/AutoCompleteField.js

[2020-04-21 06:57] bluebill1049 commented on #1455
Take a look at this version: https://codesandbox.io/s/react-hook-form-radio-array-with-inputs-y1dsc?file=/src/index.js

[2020-04-21 07:03] bluebill1049 commented on #1457
Take a look at this example: https://codesandbox.io/s/react-hook-form-controller-079xx?file=/src/MuiAutoComplete.js by using Controller.

Then you can just add prop: rules as required.

https://react-hook-form.com/api#Controller

[2020-04-21 07:21] #1455 closed

[2020-04-21 07:42] bluebill1049 commented on #1382
hmm, it's been 11 days and look like not many people using enzyme these days, I am going to close this issue and leave this help wanted tag there. hopefully, someone can answer this issue.

[2020-04-21 07:54] manualva7 commented on #1457
That doesn't seem to work

[2020-04-21 08:12] bluebill1049 commented on #1457
here is a working version: https://codesandbox.io/s/react-hook-form-controller-2c52i?file=/src/MuiAutoComplete.js:799-806

[2020-04-21 08:13] #1457 closed

[2020-04-21 08:49] h-sakano opened #1459 "validationResolver and validationSchema cannot transform field values"
**Describe the bug**
`validationResolver` and `validationSchema` cannot transform field values with react-hook-form@5.5.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-validationresolver-and-validationschema-cannot-transform-form-values-gdk3q
2. Click on submit button.
3. `console.log(data)` outputs `{ LastName: "LastName" }` up to version 5.

[2020-04-21 09:01] bluebill1049 commented on #1459
you are right! @h-sakano want to spend PR?

[2020-04-21 09:02] bluebill1049 commented on #1459
i think we can change to

[code]

[2020-04-21 09:06] h-sakano commented on #1459
Thank you @bluebill1049!
I will try now!

[2020-04-21 09:37] zenzjtech commented on #1210
Hi I've checked out the issue you mentioned.
I'm struggling with [react-number-format](https://www.npmjs.com/package/react-number-format). Could you please add an example with it also?