[2021-11-11 06:02] #7023 closed

[2021-11-11 09:58] Pavinati commented on #7002
Maybe i didn't express myself clearly, I was not searching for a single field check but a more generic "was the whole form validated at least once?".
I don't care about the result of the validation at this stage, I'll use the `error` object field by field to check if there were errors

[2021-11-11 10:13] HelenMariia commented on #4499
Hello! Why can't I just use `useFieldArray` as at the simple example from docs:
[code]
  The value which I pass to the `name` is not assignable to type 'never'. Did I miss something important ?
  My version is: 7.19.1

[2021-11-11 10:14] TheMeteoRain opened #7030 "issue: types are broken for errors object when using arrays or objects"
### Version Number

7.19.4

### Codesandbox/Expo snack

https://codesandbox.io/s/green-sun-bkkkl?file=/src/App.tsx

### Steps to reproduce

1. Go to https://codesandbox.io/s/green-sun-bkkkl?file=/src/App.tsx
2. Try to use intellisense for error object. line: 19
3. Next you can press submit and look at console.log
4. The underlying object is still the same old error type with message, type, etc.

T

[2021-11-11 10:14] bluebill1049 commented on #7002
"was the whole form validated at least once?"

is that a field level or form level? if form level: at the moment `isSubmitted` does that to check if a form is submitted with or without error.

[2021-11-11 10:23] bluebill1049 commented on #7030
We have to make a tradeoff on the type check here, it is almost difficult/impossible for hook form to type check if it's a single input that has a value of array, or array of inputs. That is why we had `NestedValue` for input with array/object value.

`7.14.2` certainly has other issues, which is why we have improved  overtime so it covers more generic use cases.

[2021-11-11 10:26] Pavinati commented on #7002
Thinking about it, I think I was stuck in a anti-pattern.
I shouldn't expect a whole form check when mode is not "onSumbit".
When using "onChange" or "onTouched" I should stick with field by field checks.

[2021-11-11 10:29] TheMeteoRain commented on #7030
I see, so if I just use NestedValue to wrap my object and array types I'm in good again.
Just tested it, seems like it. If this is intented, you can just close this as resolved.

[2021-11-11 10:29] bluebill1049 commented on #7002
That's right. `onChange` or `onTouched` sounds better for your validation strategy.

[2021-11-11 10:30] bluebill1049 commented on #7030
It's a tradeoff we have to make to support `UnionLIke` and `DeepMap`, the old version works because it only support `DeepPartial`.

[2021-11-11 10:31] TheMeteoRain commented on #7030
Though it makes me think why it's not done automatically under the hood, or is that kinda hard?

[2021-11-11 10:37] smashercosmo commented on #7023
Awesome, thx

[2021-11-11 10:57] bluebill1049 commented on #7030
I don't think it's possible to predict (without runtime): if it's a single input that has a value of array, or array of inputs. if you have better idea, feel free to submit a PR. 👍

[2021-11-11 11:00] TheMeteoRain commented on #7030
Nice to know I can at least handle this situation with current tools. Maybe I will take look at the types, if something can be done, but otherwise thank you for your time ❤️

[2021-11-11 11:00] #7030 closed

[2021-11-11 11:09] vanyadymousky commented on #6999
@bluebill1049 Bill, I'm afraid that's the case - I'm using @apollo/client, and it looks like .replace(dataFromApollo) prevents **set** hook form method from setting default objects into array, that's marked not extensible by apollo. Looks like I need to deep copy such arrays when calling replace.
Thanks for help digging this out. Guess issue may be closed.

[2021-11-11 11:20] vanyadymousky commented on #6999
Wait... Array cannot be marked as not extensible...

[2021-11-11 11:29] vanyadymousky commented on #6999
https://codesandbox.io/s/purple-fire-89jp1 - I'm able to reproduce, but the issue is floating:
When I suddenly change index in "levels.0.deeperFields.4.id" (e.g. from 4 to 31) - I see crashing with 'object is not extensible' error, but it happens from time to time

[2021-11-11 12:49] Moshyfawn opened #7031 "issue: fast refresh Form Error Doesn't Appear After Submitting Invalid Form Values"
### Version Number

7.19.4

### Codesandbox/Expo snack

https://codesandbox.io/s/rhf-validation-error-issue-xvfmj

### Steps to reproduce

1. Go to [rhf-validation-error-issue codesandbox](https://codesandbox.io/s/rhf-validation-error-issue-xvfmj)
2. Click on submit button
3. Don't see email field error message due to empty field validation error underneath the email input

or

1. Go to [rhf-valid

[2021-11-11 13:44] giovannipiller opened #7032 "issue: useController – using field.onBlur() to validate the input can provide an older value to the validate function"
### Version Number

7.19.4

### Codesandbox/Expo snack

https://codesandbox.io/s/tender-frost-3d00y?file=/src/App.tsx

### Steps to reproduce

1. Go to [codesandbox](https://codesandbox.io/s/tender-frost-3d00y?file=/src/App.tsx)
2. Open the console
3. Click "CLICK HERE"
4. validation will run with "starting value" (which is the defaultValue)
5. Click again "CLICK HERE"
6. validation will finally r

[2021-11-11 14:32] Moshyfawn commented on #7031
It looks like the first version of RHF where the expected behavior breaks for me is `7.19.0`.

[2021-11-11 15:49] t0x1c123 commented on #6999
Same issue here. I have classic usage of useFieldArray. When I unmount the container (I have form wizard) i got same app crash...

[2021-11-11 16:16] cuddlecake commented on #7031
It seems to work just fine for me on initial render.

If I make a change to the code, and the page hot reloads, then there seem to be no more re-renders on submit after the initial re-render.

[2021-11-11 17:59] ioanungurean commented on #5054
I would like to expand further on this issue:

What should happen when the 'names' field is dynamic?

I'm failing to make it work as it supposed to: https://codesandbox.io/s/youthful-mestorf-v0zzo?file=/src/App.tsx:0-934

Can someone point me in the right direction?

[2021-11-11 18:46] Moshyfawn commented on #7031
Yeah, you're right. I couldn't consistently reproduce the issue ones I've re-opend the sandbox. I get it every time In my project on a local machine, since it reloads a couple of times after the initial build, so I couldn't tell.

[2021-11-11 20:53] vanyadymousky commented on #6999
So the answer is to call replace() with **cloned** (or something) array object ensuring there's no **preventExtensions object** inside. Otherwise hook form is unable to do it's job for safely and effectively managing field array data.

[2021-11-11 21:57] bluebill1049 commented on #6999
It's due to `immutable object`, clone the object during replacement is the way to resolve this issue. I am going to close this issue as this is expected usage when working with immutable data.

[2021-11-11 21:57] #6999 closed

[2021-11-11 22:03] bluebill1049 commented on #7032
`onBlur` does not update field/input value, you can switch the order of onChange to last to solve this issue.

[code]

[2021-11-12 01:32] #7031 closed

[2021-11-12 07:46] t0x1c123 commented on #6999
Well I don't use replace. I just have defaultData initialized in form then I jsust add some items. After that I submit form and redirect somwhere else and boom I got error.

[2021-11-12 08:37] bluebill1049 commented on #6999
provide a codesandbox @t0x1c123

[2021-11-12 09:11] t0x1c123 commented on #6999
Ok so I manage to fix it. It would be complicated to provice codesandbox but my usage was pretty simple fetch data via react query add them as default. Then I pushed new route and it crashed. I manage to fix it by adding replace like this.

  useEffect(() => {
    replace([...fields]);
  }, [fields]);

[2021-11-12 09:14] vanyadymousky commented on #6999
@t0x1c123 "was pretty simple fetch data via react query add them as default" - Add cloned data as default:
[code]

[2021-11-12 09:16] giovannipiller commented on #7032
Hi @bluebill1049, thanks for checking this out.

I tried doing that, with similar results:
https://codesandbox.io/s/dry-tree-nol8q?file=/src/App.tsx

Note that In these example, the form is set to `mode: "onBlur"`, so I'd guess that performing the `onBlur` before the `onChange` would lead to a validation being run with outdated value.
You can reproduce the correct behaviour by interacting with the

[2021-11-12 09:55] bluebill1049 commented on #7032
hi @giovannipiller instead of focusing on `onBlur/onChange` API which has behavior influence, maybe we can use `setValue` instead?

`setValue('user.name', "updated value", { shouldValidate: true });`

[2021-11-12 10:00] dvandervlag commented on #6949
Just wanted to get back to you, it works as expected, thank you so much @bluebill1049 !!

[2021-11-12 10:03] bluebill1049 commented on #6949
amazing! awesome to hear.

[2021-11-12 11:57] giovannipiller commented on #7032
Sure, I can use `setValue` in this example.
However, assuming this is the correct behaviour for `onBlur/onChange`, I think this should be considered a breaking change which was probably unnoticed.

I get it that `setValue` is the best way to programmatically.... set a value (😄) and trigger validation, but it used to work the other way as well.
I can for sure update all my affected components to us

[2021-11-12 12:05] bluebill1049 commented on #7032
This is the change that I can trace down: https://github.com/react-hook-form/react-hook-form/pull/6481 which i think it's valid case for the bug fix, let me know if you think otherwise or we can have better strategy to fix it without having the issue above.

[2021-11-12 14:42] cornedor opened #7040 "issue: Type of errors is not usable when TFieldValues receives a generic type"
### Version Number

7.19.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-errors-type-xxp63

### Steps to reproduce

1. Look at line 42, firstname is read from the errors object.
2. Look at line 50, name can only be "firstname" or "lastname" as expected.
3. Look at line 23, while name can only be firstname or lastname (which are valid properties on this errors object) a type

[2021-11-12 16:29] giovannipiller commented on #7032
I just noticed that my issue is pretty much the same as #7007.
Not sure what can be done to solve both this scenario and #6481.

I'll try to investigate a bit more, but it might take me a few days.

[2021-11-13 15:23] rajivchaulagain commented on #274
I think this is a common problem for any react developer using react-hooks-form. I am a beginners and along with me my friends are facing same problems for uploading single as well as multiple files. I think the above dicussion are for advanced and intermediate programmers.As a Beginner I want a simple solution if anyone can provide I could be very Thankful to you all.

[2021-11-13 16:02] h0jeZvgoxFepBQ2C commented on #274
We ended up using this: https://github.com/therealparmesh/object-to-formdata - take care, it will convert your booleans from true to "1" etc, which broke many things in our system unintentionally.. But you get nice file objects back at least :)

[2021-11-14 01:22] PraveenPeri opened #7048 "issue: handleSubmit() returns all the fields from defaultValues even though not registered"
### Version Number

7.19.1

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-v7-controller-forked-o29mm

### Steps to reproduce

1. Go to the attached sandbox
2. Notice the "_unregisteredField" in the defaultValues JSON that's not rendered in the form
3. Click on 'Submit' button to display submitted data and notice that it contains the '_unregisteredField' though we did not exp

[2021-11-14 02:37] bluebill1049 commented on #7048
![Screen Shot 2021-11-14 at 1 36 45 pm](https://user-images.githubusercontent.com/10513364/141665225-04d02f39-7168-4cd9-9a69-88524a1ab3c7.png)

[2021-11-14 02:37] #7048 closed

[2021-11-14 02:43] bluebill1049 commented on #5744
thanks, @davbrito thinking about this, would it be easier to host a local state (i guess if you are using `useController` hook).

[2021-11-14 02:44] PraveenPeri commented on #7048
Why don't see that point here in the documentation?
https://react-hook-form.com/api/useform

[2021-11-14 02:46] bluebill1049 commented on #7048
so input get unmount will remove just like shouldUnregister: true, will update the wording.

[2021-11-14 02:47] PraveenPeri commented on #7048
Thanks for the response! Appreciate the help. I see your update in the documentation too :).
Just a side note, I love react-hook-form. Cheers!

[2021-11-14 02:50] bluebill1049 commented on #7048
no worries @PraveenPeri more references in case others see this issue.

## shouldUnregister: false (default)

`defaultValues` will be your form's `formValues` and then user action will update the `formValues`, so it's a store for hosting the input values.

## shouldUnregister: true

input value will stay within each field, so when the field unmount then the input value will be removed (the behavio

[2021-11-14 07:37] nspaeth opened #7049 "The `useController` example code has an error and differs between JavaScript and TypeScript"
### Version Number

latest website

### Codesandbox/Expo snack

none

### Steps to reproduce

1. Go to [the useController documentation.](https://react-hook-form.com/api/usecontroller)
2. Observe that line 7 is defining `name` as a const, even though name is already defined in this scope.
3. Click `TS` to see the Typescript version. Observe that the TypeScript version of the code is a completely d

[2021-11-14 15:53] orszaczky opened #7050 "issue: useFieldArray append: TypeError: Cannot read properties of undefined (reading 'startsWith')"
### Version Number

7.19.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-usefieldarray-forked-lvj9d?file=/src/index.js

### Steps to reproduce

1. Open attached codesandbox link
2. Click on 'Append'
3. See error:
TypeError
Cannot read properties of undefined (reading 'startsWith')

Uncaught TypeError: Cannot read properties of undefined (reading 'startsWith')
    at useFiel

[2021-11-14 15:55] orszaczky commented on #7050
Also getting this warning in the console (see in codesandbox):

Warning: Unexpected ref object provided for input. Use either a ref-setter function or React.createRef().
    in input (at src/index.js:44)
    in li (at src/index.js:43)
    in ul (at src/index.js:40)
    in form (at src/index.js:36)
    in App (at src/index.js:124)

[2021-11-14 19:51] rodrigofuentes commented on #7050
This looks to be because you didn't pass the required string to the register function.

[code]

Once you pass that in , should work as intended.

[2021-11-14 21:57] bluebill1049 commented on #7050
Thanks @rodrigofuentes ❤️

[2021-11-14 21:58] #7050 closed

[2021-11-15 08:15] orszaczky commented on #7050
Thanks guys, indeed, I found an older codesandbox example floating around, using the old syntax (https://codesandbox.io/s/vy8fv?file=/src/index.js). Updating the syntax fixed the issue. 🙏

[2021-11-15 08:32] FlorianBurgevin commented on #7027
Thanks I will follow the mentionned issue.

[2021-11-15 14:51] trumbitta commented on #6830
@bluebill1049 Hi 👋 and thanks for all the astounding work <3

I have this same bug. I found this issue after hours of debugging on my side, when I was finally sure the issue was `Controller` in the `FieldArray`.

v7.17.5 fixes it, but there must be a regression somewhere after that because with v7.19.5 I have the bug again.

[2021-11-15 15:13] andrei9669 opened #7054 "issue: useFieldArray keyName doesn't accept anything but 'id'"
### Version Number

7.4.1

### Codesandbox/Expo snack

https://codesandbox.io/s/kind-faraday-3phd1?file=/src/App.tsx

### Steps to reproduce

1. Go to App.tsx
2. See error: Type '"iddd"' is not assignable to type '"id" | undefined'

### Expected behaviour

no type error

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### Code of Conduct

-

[2021-11-15 21:44] bluebill1049 commented on #6830
hi @trumbitta can you share a codesandbox for this issue?

[2021-11-15 21:45] bluebill1049 commented on #7040
thanks for the issue report, both I and @kotarella1110 have looked at this issue for some time, looks like this is a limitation of the type check. for work around use as string.

`const fieldError = errors[name as string];`

[2021-11-15 21:45] #7040 closed

[2021-11-15 21:47] bluebill1049 commented on #7054
you don't need to assign the generic:

[code]

[2021-11-15 21:47] #7054 closed

[2021-11-16 05:45] twhoff opened #7055 "issue: can't retrieve value for function component which can't have ref assigned since 7.14.1"
### Version Number

7.14.1

### Codesandbox/Expo snack

-

### Steps to reproduce

In the previous version (7.14.0) we were able to get the value of form components from our internal component library (function components wrapped with React.forwardRef() which eventually passes to a regular `<input ref={ref} />`).

Our component looks something like:
[code]

This component has always caused the fol

[2021-11-16 05:54] bluebill1049 commented on #7055
https://github.com/react-hook-form/react-hook-form/issues/2848

[2021-11-16 05:54] #7055 closed

[2021-11-16 06:07] twhoff commented on #7055
Hi Bill, sorry, I'm not able to follow the template on this one, it's difficult to describe, the use case is probably an edge case, but it's caused because we have an internal component library which uses function components, and there is a regression in the react-hook-form source code.

I've put a lot of effort digging into the versions to locate exactly where I believe the regression is to minim

[2021-11-16 06:24] bluebill1049 commented on #7055
can you provide a codesandbox to reproduce this issue?

if your input is forward the `ref` /uncontrolled component then you should use Controller, as it needs to be wrapped with state update.

https://react-hook-form.com/get-started#Integratinganexistingform

for uncontrolled input, should always forward the ref, so hook form can update value and focus on the input.

[2021-11-16 06:38] twhoff commented on #7055
Hi Bill, thank you for your comment, I've created a codesandbox and linked in the issue above - can you please take a look?

The pattern the StyleGuide uses is NamedInput implements NamedInputWithRef implements TextInput implements input - it seems totally weird to me, but you can see in the console the Warning and that the value comes back as `undefined`.

The reason I've raised this issue though

[2021-11-16 06:41] twhoff commented on #7055
If you change the version number for react-hook-form in codesandbox and try the example you will see what I mean

[2021-11-16 07:00] bluebill1049 commented on #7055
thanks for the updated codesandbox. You will need to forward the ref, otherwise, it's going to other unexpected issues. the latest version is the expected behavior.

[2021-11-16 07:01] twhoff commented on #7055
Any ideas why it worked in the previous version though (7.14.0)?

[2021-11-16 07:05] andrei9669 commented on #7054
ooh, so the field types come from control? That's neat.

okay, but what if I'm using FormProvider? and context is so to say automatic there. then I don't have to set the control but I also don't get the type safety without setting the generic.

[2021-11-16 07:22] bluebill1049 commented on #7055
It worked due to a bug and incorrect usage, for uncontrolled input, input reference is required. there is no way for react hook form to update/reset or focus input without the ref. I would adjust your input component or use Controller instead.

[2021-11-16 08:13] yaeSakuras commented on #6830
I have same question。
I use  useFieldArray and Controller with v7.19.5 I have the bug again.

![image](https://user-images.githubusercontent.com/7360502/141946364-26b2446a-c09c-465f-a6a4-c995bdccc8bc.png)

[2021-11-16 08:23] bluebill1049 commented on #6830
I can confirm one thing, there is no memory leak here. This warning indicates state update is happening in unmounted inputs.

- this issue related to strict mode
- this issue is related to subscribing at render instead of useEffect, reason for this behavior is so we can kick in the subscription early, if this is an issue, happy to revert such behaviors so we don't see this warning.

[2021-11-16 08:30] trumbitta commented on #6830
If I get to vote, my vote goes to revert it :)

Reasoning:

- I always use strict mode whenever there's one available anywhere
- I'd rather not have to periodically explain what that warning is to the rest of the team :D

[2021-11-16 08:37] bluebill1049 commented on #6830
Thanks @trumbitta the only downside is if the user writes code like such:

[code]

`useWatch` will not report, which I am fine with that and document as a limitation.

[2021-11-16 09:06] bluebill1049 commented on #6830
will be released in the next minor, you shouldn't have to worry about this warning for your product. 👍

[2021-11-16 09:06] #6830 closed

[2021-11-16 12:28] FloforPresident opened #7059 "issue: Controller field spread operator not working for focus on error"
### Version Number

7.16.2

### Codesandbox/Expo snack

https://codesandbox.io/s/ref-width-spread-operator-cs2vl?file=/src/App.tsx

### Steps to reproduce

1. Go to Sandbox link
2. Type a value smaller than 9 and Submit
3. The error textfield will not be focused
4. Comment out spread operator in line 23 and comment in line 24-27
5. The textfield will be focused this way

### Expected behaviour

Te

[2021-11-16 12:32] bluebill1049 commented on #7059
not really much we can do, when different external component forward `ref` with different names, react hook form only refer to the name `ref`

[2021-11-16 12:32] #7059 closed

[2021-11-16 15:49] AnnaVih commented on #3837
would that mean dot notation does not work in IE11 + V7? I am having trouble getting form data properties as an object.

[2021-11-16 17:25] mirshko commented on #1616
Does anyone have a simple downshift react-hook-form example that uses the https://github.com/downshift-js/downshift/tree/master/src/hooks/useCombobox api?

[2021-11-16 18:58] cpitt opened #7064 "issue: reset(undefined, { keepValues: true, keepDefaultValues: false}) is not resetting defaultValues to current values"
### Version Number

v7.19.5

### Codesandbox/Expo snack

https://codesandbox.io/s/reset-default-values-bug-imnc1?file=/src/App.js

### Steps to reproduce

In code sandbox

1. Modify input field by typing into it
1. Click 'reset keep values' button
1. Observe defaultValues are not updated

### Expected behaviour

defaults should match current form values

### What browsers are you seeing the proble

[2021-11-16 21:56] simplenotezy commented on #5246
I have the same issue - it works with with setValues, but not with prepend.

          append({ name: 'append' }); // does not work
          setValue('memberships', [ // works
            ...(getValues().memberships || []),
            {
              name: 'append',
            },
          ]);

[2021-11-16 21:57] aardvarkk opened #7065 "issue: Getting new "Warning: Can't perform a React state update on an unmounted component." since version 7.19.0"
### Version Number

7.19.0 -> 7.19.5

### Codesandbox/Expo snack

https://codesandbox.io/s/lingering-silence-u8vp1?file=/src/App.tsx

### Steps to reproduce

1. Click into the empty form field.
2. Click out of the empty form field.
3. See the error show up in the console.

I have a conditional render happening that only shows my form once a prop from a parent context evaluates to true. That parent

[2021-11-16 22:06] bluebill1049 commented on #7065
Thanks that's been patched will release in the next minor update

[2021-11-16 22:06] #7065 closed

[2021-11-16 22:07] bluebill1049 commented on #7064
is this what you after?

[code]

[2021-11-16 22:08] bluebill1049 commented on #5246
can you provide a codesandobx @simplenotezy ?

[2021-11-16 23:22] simplenotezy commented on #222
@bluebill1049 Is this still the case?

[2021-11-16 23:30] cpitt commented on #7064
Ok I guess I had an incorrect assumption.

I incorrectly assumed the following were equivalent

[code]

[code]

It seems like keepValues has no effect on defaultValues

[2021-11-17 00:49] bluebill1049 commented on #7064
yes `keepValues` only keep values on the UI.

[2021-11-17 00:52] nandorojo commented on #2994
Just wanted to check in here. I'm back to re-evaluating using react-hook-form, so I wanted to see if there are any links/changes I should take a look at. Should I just reference the docs and RFCs? Is `shouldUnregister: false` sufficient for the aforementioned use case? Thank you!

[2021-11-17 00:57] bluebill1049 commented on #2994
hey @nandorojo

`shouldUnregister: false` is the default option now
https://codesandbox.io/s/react-hook-form-defaultvalues-v6-forked-s7lmf?file=/src/index.js

[2021-11-17 01:01] nandorojo commented on #2994
Awesome. I've been reading through the v7 RFC. It looks really great. Excited to try this out again.

[2021-11-17 01:12] cpitt commented on #7064
Thanks makes sense

[2021-11-17 01:12] #7064 closed

[2021-11-17 04:58] yaeSakuras commented on #4259
Remove is not working with nested field arrays on 7.19.5

[2021-11-17 10:59] ferrybrouwer opened #7066 "issue:incorrect validation on ipad/iphone"
### Version Number

7.19.5

### Codesandbox/Expo snack

https://codesandbox.io/s/nifty-cerf-bjev5?file=/src/App.jsx

### Steps to reproduce

### Just in chrome (no simulation):

1. Go to https://bjev5.csb.app/
2. Select an item from the dropdown (react-select)
3. click the submit button
3. clear the item from dropdown by pressing X in the dropdown
4. inspect there's an error message "can not be em

[2021-11-17 11:24] #7066 closed

[2021-11-17 11:44] bluebill1049 commented on #7032
hey, @giovannipiller just a quick follow up, any update on this issue 🙏

[2021-11-17 13:18] giovannipiller commented on #7032
Hi @bluebill1049, nothing tangible really. Closing this issue for the time being.

[2021-11-17 17:08] zakaoai opened #7068 "issue: useEffect Trigger + watch"
### Version Number

7.19.4 -> 7.19.5

### Codesandbox/Expo snack

https://codesandbox.io/s/sparkling-night-i206b

### Steps to reproduce

1 Select a button
2 enter numbers in the new field
3 See that no error message or render has been triggered

4 change version to 7.19.3 of RHF
5 Redo 1 and 2
6 See that error message appear and if you type a correct value a new field appear

### Expected behavio

[2021-11-17 22:30] bluebill1049 commented on #7068
- wouldn't use watch/useWatch value as `useEffect` dep
- no longer shallow clone the watch result with object, as it mutate immutable objects: issue: https://github.com/react-hook-form/react-hook-form/issues/7013

[2021-11-17 22:57] ansgarsteinkamp commented on #6009
Unfortunately, my solution with watch() and useEffect is very slow with lots of re-rendering. So, there doesn't seem to be a reasonable way to handle Dependent Fields with React-Hook-Form. Or at least no solution I am able to understand. Thinking about switching to Formik. :(

[2021-11-18 11:35] ubyontestproject opened #7075 "useFieldArray + Controller remove not working properly"
### Version Number

V7

### Codesandbox/Expo snack

https://codesandbox.io/s/usefieldarray-virtual-input-forked-wc66h

### Steps to reproduce

1. Go to 'https://codesandbox.io/s/usefieldarray-virtual-input-forked-wc66h'
2. Click on 'appned' button
3. Click on 'appned' button
4. Click on 'appned' button
5. Click on 'appned' button
6. Click on Delete of index 0 or 1
7.  It will remove the last item/

[2021-11-18 11:40] #7075 closed

[2021-11-18 12:00] osdiab commented on #7068
at my company we're trying to retrigger validations when certain fields change, which we thought we should do in a `useEffect()`, though it sounds like with this limitation the recommendation would be to actually just do the deep comparison directly in the render function - is this what you'd recommend?

[code]

[2021-11-18 12:02] bluebill1049 commented on #7068
@osdiab that's correct, or you can use this hook as well https://github.com/kentcdodds/use-deep-compare-effect made by kent.

[2021-11-18 13:04] LeeonardoVargas commented on #3928
This solved my problem: `append(..., { shouldFocus: false })`

[2021-11-18 14:49] spoeken commented on #7068
Hey. Can you guys please help me out here? I've been trying all day to get this working.
https://codesandbox.io/s/react-hook-form-auto-save-xgulp?file=/src/AutoSave.tsx

Since useEffect no longer works for this I tried to use the `use-deep-compare-effect` package, but nothing happens.

[2021-11-18 14:57] osdiab commented on #7068
@spoeken you need to just not use `useEffect()` at all - put the save call directly in the render function, or if you don't want to do it for rerenders caused by other things, make a separate hook like the example i wrote above, where you once again do it directly in the hook body rather than in a `useEffect()` hook.

Since `useWatch()` still triggers rerenders when the data changes, it'll save on

[2021-11-18 15:44] spoeken commented on #7068
Thanks a lot @osdiab 💯 I get it now

[2021-11-18 19:01] sincraianul commented on #7068
@spoeken `use-deep-compare-effect` will not work because it doesn't do a deep clone of the object, so you get stuck with the same object as ref.

I've modified the hook to basically do just that and it's a drop-in replacement for your existing code that relies on `useEffect`:

[code]

[2021-11-18 22:11] bluebill1049 commented on #7068
@osdiab sounds like a good idea, would you like to send a feature request.

[2021-11-19 00:48] bluebill1049 commented on #7032
found solution: https://codesandbox.io/s/great-tdd-lbzzr?file=/src/App.tsx:463-553

[2021-11-19 00:56] #7032 closed

[2021-11-19 02:21] yaeSakuras opened #7079 "issue: useFieldArray use remove API in setTimeout has bug"
### Version Number

7.19.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-usefieldarray-forked-c988f?file=/src/index.js:902-908

### Steps to reproduce

1. Go to '...'
2. Click on ' append  add two  item'
3. next -> Click on  'last item' twice
4. then Click on ' append item'

### Expected behaviour

I want remove API work correct in setTimeout

### What browsers are you seei

[2021-11-19 02:21] yaeSakuras commented on #7079
![image](https://user-images.githubusercontent.com/7360502/142553881-d7201ddc-bd55-4193-ae3c-78e9839fc17e.png)

[2021-11-19 02:22] yaeSakuras commented on #7079
![image](https://user-images.githubusercontent.com/7360502/142553931-f8f59bce-6e7a-4b04-bf01-30d655de634d.png)

[2021-11-19 06:04] bluebill1049 commented on #7068
https://react-hook-form.com/api/usewatch

![Screen Shot 2021-11-19 at 5 04 46 pm](https://user-images.githubusercontent.com/10513364/142573443-0e45abe0-dd66-40af-9eec-d55aad50ff05.png)

going to close this issue as its expected result.

[2021-11-19 06:04] #7068 closed

[2021-11-19 06:29] #7079 closed

[2021-11-19 09:07] giovannipiller commented on #7032
thank you @bluebill1049 for taking a second look at this,
tested on some of my older code and everything seems to be working as expected!

[2021-11-19 12:46] JohannesKlauss opened #7088 "issue: react hook form breaks blitz.js/next.js build since 7.20"
### Version Number

7.20.1

### Codesandbox/Expo snack

https://github.com/JohannesKlauss/blitzjs-rhf-build-error

### Steps to reproduce

1. Check out the repo mentioned above
2. Run `yarn install`
3. Run `yarn run build`
4. See error

### Expected behaviour

The build completes without error.

I guess this is related to this commit: https://github.com/react-hook-form/react-hook-form/commit/461c7

[2021-11-19 12:59] huantrinh1802 commented on #7088
Same problem. Confirmed it works if I go to node_modules/react-hook-form/package.json and change type: "module" to type: "commonjs"

[2021-11-19 13:26] slbls commented on #7088
This occurs when using Next.js as well.

[2021-11-19 13:44] nfroidure commented on #7088
Same here, this commit should have been done in a major version : https://github.com/react-hook-form/react-hook-form/commit/461c7db172f34e28c2439f64b23dfd173191a58d#

[2021-11-19 13:45] gauravverma029 commented on #7088
This occurs when using Next.js as well.

Same issue for me it break whole application

[2021-11-19 14:55] JohannesKlauss commented on #7088
Please refrain from "same here" comments. This creates a lot of noise with no new information.

[2021-11-19 15:26] zakaoai opened #7090 "issue: watch deep input by their parent name"
### Version Number

since 7.19.4

### Codesandbox/Expo snack

https://codesandbox.io/s/sweet-cohen-gwsp6

### Steps to reproduce

1 Type in field and see that log and show result are not equal to the input value

### Expected behaviour

Expect that useWatch in render with parent name ("field" in sandbox) refresh at each input update of this parent

### What browsers are you seeing the problem on?

[2021-11-19 16:25] kuhlaid opened #7091 "issue: Email pattern in quotes not working and email type not picking up invalid email"
### Version Number

7.19.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-pattern-validator-bug-forked-m873h?file=/src/App.js

### Steps to reproduce

Using an email pattern wrapped in quotes does not work (I'm assuming since '\\' needs to be escaped to be valid JSON syntax). See below for example input field pattern:
[code]
The reason this is an issue is I am dynamically bu

[2021-11-19 16:39] GitPSj commented on #7088
Also ran in this problem with 7.3.9. An also after updating to 7.20.1. The 7.19.5 version also doesn't seem to work. Not sure where the problem lies here. There hasn't been a next.js update on our package.json for some time either

[2021-11-19 18:59] loganvolkers opened #7094 "JSON Pointer support (Feature Request)"
**Is your feature request related to a problem? Please describe.**

It is impossible to edit objects with dots in their field names:

[code]

1. There are a number of noted bugs and incompatibilities noted due to using dot notation for fields that may contain dots.
2. Dot notation is an incomplete standard for describing possible object structures
3. [JSON Pointer](https://datatracker.ietf.org/doc

[2021-11-19 22:04] kuhlaid commented on #7091
I worked on a solution to this today and will submit a PR. It isn't ideal but it should be a starting point.

[2021-11-19 22:23] bluebill1049 commented on #7094
thanks for the feature request. interesting one as well.

[2021-11-19 22:24] #7094 closed

[2021-11-19 22:25] bluebill1049 commented on #7091
the regex pattern needs a regex, we do not support `string`.
<img width="965" alt="Screen Shot 2021-11-20 at 9 25 28 am" src="https://user-images.githubusercontent.com/10513364/142699159-6d54e2d7-0185-4d4c-afcc-a0281f6bc80a.png">

[2021-11-19 22:25] #7091 closed

[2021-11-19 22:31] bluebill1049 commented on #7090
@zakaoai there is no generic been supplied either with `defaultValues` in your example.

`const { register, handleSubmit, control } = useForm();`

[2021-11-19 22:34] bluebill1049 commented on #7088
I was hoping this would fix nextJS 12 (12.0.4), which was fixed with the latest version https://github.com/react-hook-form/resolvers/issues/271#issuecomment-973734926 This really give me trouble as to how to tackle this problem. if anyone has a better idea, feel free to support with a concrete solution and fix it. I will revert the type module in package.json for now.

[2021-11-19 22:47] zakaoai commented on #7090
I update the sandbox with a defaultValues dont seem to get better. Since "react-hook-form": "7.19.4" when I type more than 1 character the render dont update and the log more than 2 and you don't get the updated value either.

[2021-11-19 22:53] bluebill1049 commented on #7090
oh i got it, i was confused with type when i saw the keyword `deep`... too much typescript hahah

[2021-11-19 22:57] zakaoai commented on #7090
So when I watch the entire form the render update at each input but when I try to get my field with the group "field" that I made, useWatch seem to loose the value.

[2021-11-19 23:04] #7088 closed

[2021-11-20 00:30] #7090 closed

[2021-11-20 10:39] GoldenAgeMike commented on #476
That helped alot with the time I have . This works perfectly.

[2021-11-20 11:34] bluebill1049 commented on #476
thanks, @jjenzz for sharing the solution:

here are my 2cents on how to use checkboxes with uncontrolled and controlled components:

https://codesandbox.io/s/dark-voice-99ld4?file=/src/App.js

[code]

both examples will be included in the doc within the code section under `register` and `useController`.

[2021-11-21 03:31] mmgil commented on #5838
If the control is from userFormContext() this patch does not work.

[2021-11-22 12:39] miika-kv opened #7109 "issue: Populating form with reset and keepDefaultValues as true breaks fieldarray actions"
### Version Number

7.20.2

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-usefieldarray-forked-fxzgz?file=/src/index.js

### Steps to reproduce

1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-forked-fxzgz?file=/src/index.js
2. Click 'Load items'
3. Click 'append' or 'delete'
4. See error

### Expected behaviour

FieldArray actions (append, delete etc.) shoul

[2021-11-22 15:56] milo- commented on #6978
@bluebill1049 I've also just run into this, when calling reset and setFocus in a useEffect. Repro here: https://codesandbox.io/s/reverent-merkle-ke0n3

[2021-11-22 17:34] alexandrzavalii opened #7112 "Control two inputs with one register function"
I have two inputs which represent the same value

[code]
I need a way to control them with single register, for performance reasons.

I tried here with a hack to set value to the input type number when the range is changing, but I am struggling to make the vice-verse connection.

https://codesandbox.io/s/hopeful-ptolemy-nqfgr?file=/src/App.js

Is this something that was considered before?

[2021-11-22 20:05] Ansalibrahim commented on #3876
This is still an issue. Should I have to file another issue with the template or can we re-open this?

[2021-11-22 21:54] Navaneethkrish opened #7113 "issue: Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: /app/node_modules/react-hook-form/dist/index.cjs.js"
### Version Number

7.20.2

### Codesandbox/Expo snack

https://www.npmjs.com/package/react-hook-form

### Steps to reproduce

Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: /app/node_modules/react-hook-form/dist/index.cjs.js
require() of ES modules is not supported.
require() of /app/node_modules/react-hook-form/dist/index.cjs.js from /app/.next/server/pages/user/sign-in/symbol.js is

[2021-11-22 22:22] #7113 closed

[2021-11-22 22:23] bluebill1049 commented on #7113
https://github.com/react-hook-form/resolvers/issues/271

[2021-11-22 22:23] #7112 closed

[2021-11-22 22:27] bluebill1049 commented on #7113
looks like this is not related to resolver, provide a codesandbox or reproduceable repo.

[2021-11-23 00:50] mrlubos opened #7115 "issue: Upgrading from 7.19.5 breaks watch API with useFieldsArray"
### Version Number

7.20.2

### Codesandbox/Expo snack

N/A

### Steps to reproduce

Sorry for missing repro link, I may try to dig into it later. I have a fields array containing selectable objects. Prior to 7.20.0, selecting a field would trigger re-render when using the `watch()` API. This stopped happening after 7.20.0.

### Expected behaviour

watch() re-renders when field array changes

###

[2021-11-23 00:54] bluebill1049 commented on #7115
can you try the latest patch?

[2021-11-23 00:59] mrlubos commented on #7115
@bluebill1049 Thanks for the quick reply! I am positive I was on 7.20.2, but I can have another go later. I tried to put together a simple example, but couldn't reproduce it quickly, so it might be something more intricate

[2021-11-23 05:28] vikas990 opened #7116 "issue: Default Values are not showing in on Custom Components."
### Version Number

7.20.2

### Codesandbox/Expo snack

https://codesandbox.io/s/summer-hooks-qtx7r

### Steps to reproduce

please check the code sandbox.

### Expected behaviour

it should show the default values on the custom fields but are not showing.

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow

[2021-11-23 05:41] #7116 closed

[2021-11-23 07:03] #7109 closed

[2021-11-23 10:34] mydesweb opened #7121 "issue: deal with setValue and shouldDirty"
### Version Number

7

### Codesandbox/Expo snack

https://snack.expo.dev/

### Steps to reproduce

The default value of my field is undefined declared with `useForm({defaultValues: {fieldName: undefined})` and later I use `setValue('fieldName', newValue, {shouldDirty: true})` to change the value of the field, all good but if I delete the field value by calling again `setValue('fieldName', undefin

[2021-11-23 10:37] bluebill1049 commented on #7121
we don't support undefined in the `defaultValues`

https://react-hook-form.com/api/useform

![Screen Shot 2021-11-23 at 9 36 57 pm](https://user-images.githubusercontent.com/10513364/143009281-947cf591-5c47-4e6f-8703-769be7b742e9.png)

[2021-11-23 10:37] #7121 closed

[2021-11-23 10:39] bluebill1049 commented on #7121
just to add more context on the above, `undefined` is reserved for diffing between inline `defaultValue` and useForm `defaultValues`.

eg

[code]

[2021-11-23 10:44] mydesweb commented on #7121
@bluebill1049 I understand, but  how to remove dirty flag from a certain field if it's value is the same as initial / default value after few changes?

For example if we deal with a Date field, and the same date is finally set. I have to manually check if it is the same date by comparing the year, month and day.. the date1 === date2 comparison will not work since are different objects.

[2021-11-23 10:50] bluebill1049 commented on #7121
not 100% sure what do you mean above, you want to provide a codesandbox?

we do a compare comparison with date objects inside with `getTime()`.

[2021-11-23 10:57] mydesweb commented on #7121
Ah, if you are using getTime() for date comparison this is perfect.
I was thinking I have to manually check two dates and set shouldDirty accordingly.
Thank you for this great library.

[2021-11-23 11:14] bluebill1049 commented on #7121
no worries @mydesweb thanks for understanding 👍

[2021-11-23 16:14] enheit commented on #3992
I can't find a solution how to use react-hook-form v7+ with material-ui (react).

Could you provide me a link with a description of how to use group of checkboxes?

I expect to have array of strings (e.g. `['value1`, `value2`, `value3`] whenever I check a checkbox.

[2021-11-23 17:11] abhisekp-impeller commented on #72
https://react-hook-form.com/api/useform/setvalue

Doesn't work with Form Context as per the Codesanbox

[2021-11-23 17:32] enheit commented on #476
I created a [codesandbox example](https://codesandbox.io/s/gallant-colden-o05ez?file=/src/App.tsx) that shows how to use multiple checkboxes with react-hook-form + react material ui. Hope it will be helpful for somebody.

[2021-11-23 21:42] Sti2nd opened #7127 "issue: Problems with getting zod to work with react-hook-form"
### Version Number

7.20.2

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-zod-resolver-ts-example-forked-w72vp

### Steps to reproduce

1. Go to the Codesandbox
2. Fill out numbers in both fields and click on submit

### Expected behaviour

The form data should be console logged, but isn't.

### What browsers are you seeing the problem on?

Firefox, Chrome

### Relevant log

[2021-11-23 21:42] meshackjr commented on #1077
@bluebill1049 You can use trigger api to manually validate each time there is a change on the ckeditor;

[code]

[2021-11-23 21:47] #7127 closed

[2021-11-23 21:51] bluebill1049 commented on #476
awesome thanks for sharing. Here is an native one: https://codesandbox.io/s/usecontroller-checkboxes-99ld4

in the doc as well: https://react-hook-form.com/api/usecontroller

[2021-11-23 22:16] kezzakyle opened #7129 "React-hook-form and polyfill.io causing page to crash Z.current.unMount is not iterable."
### Version Number

7 -> Issue started from version 6.8.4 and up

### Codesandbox/Expo snack

Empty

### Steps to reproduce

On IE11 you can go to [polyfill.io](https://polyfill.io/v3/) and download the minified code. **Or** simply paste this into IE11 https://polyfill.io/v3/polyfill.min.js and you will get the required code.

Create a React project (not in codebox/codepen a real project) and crea

[2021-11-23 22:57] bluebill1049 commented on #7129
no longer support IE 11.

[2021-11-23 22:57] #7129 closed

[2021-11-23 23:03] kezzakyle commented on #7129
I understand that. This is an issue in all browsers if a polyfill is present on a page.
Which I guess since react-hook-form does not support IE11 post v6.8.4 (or whenever) we cannot use it at all due to conflicts with polyfill in any browser the user uses. But I guess if the App doesn't support IE11 we would have no need for a polyfill. Fair point.

Quick solution if anyone else comes across this

[2021-11-24 11:06] mfferreira commented on #7115
@mrlubos I'm also having issues with `useFieldsArray` on the latest versions, but more specifically:
When mutation the array, all the elements of the array loose their ID, which I assume is the cause of the re-render.

Can you check if that's the case for you as well?

[2021-11-24 12:56] Mimameid opened #7136 "issue: Validation on nested fieldArrays is not consistent"
### Version Number

7.20.2

### Codesandbox/Expo snack

https://codesandbox.io/s/suspicious-kirch-v2dy3?file=/src/schemas.js

### Steps to reproduce

1. Open the provided codesandbox
2. Turn on the switch on the right side. A `TextField` with the value "Ace" will be generated. Remove one character and you will see an error.
3. In the opened `schemas.js` file, scroll down until you find commented o

[2021-11-24 15:11] zirkelc opened #7137 "issue: useFieldArray - old values appear after remove() and append()"
### Version Number

7.20.2

### Codesandbox/Expo snack

https://codesandbox.io/s/usefieldarray-lbul1?file=/src/App.tsx

### Steps to reproduce

I'm using RHF useFieldAray and display the fields in Material-UI DataGrid. The initial values are being set via reset(). Then I remove all rows from the DataGrid with remove() and then append() a new empty row. Then, I double-click into the first cell to t

[2021-11-24 15:41] ryanmk54 opened #7138 "Add select method to useForm"
**Is your feature request related to a problem? Please describe.**
I would like to be able to select all the text in a field when focusing.

In the form I have created, I advance to the next field when the user presses tab or enter if the form is valid. I use setFocus to handle enter, to prevent advancing if the field is invalid, and the next field may be based on certain conditions. I would like

[2021-11-24 17:03] mrlubos commented on #7115
Hi @mfferreira, I tried checking and my `useFieldsArray()` doesn't lose IDs. However, I learned that I can use `keyName` to specify a different key which might come handy (?) Thank you!

[2021-11-24 17:19] hoaiphong99 commented on #566
thank you <3

[2021-11-24 18:01] abFx opened #7139 "issue: useFieldArray - is deleting id property on mutation"
### Version Number

7.20.2

### Codesandbox/Expo snack

https://codesandbox.io/s/usefieldarray-forked-nl6c0?file=/src/App.tsx

### Steps to reproduce

We upgraded recently to latest version and some validations started to show us the issue. When adding or modifying an item using useFieldArray, the id property gets deleted.

1. Open Sandbox
2. Click 'Add'
3. Inspect window to show console log
4. Lo

[2021-11-24 19:01] alextenb commented on #1418
Perhaps the trigger() method could accept an argument to setTouched? This is important to me, as sometimes we populate our form with data supplied from other sources, and I would like to alert users that they need to fix the data before they can submit it to our system.

[2021-11-24 22:12] #7138 closed

[2021-11-24 22:16] bluebill1049 commented on #7136
react hook form is focused on field-level validation, for parent node level validation with the schema you will have to use `trigger`.

[2021-11-24 22:16] #7136 closed

[2021-11-24 22:18] bluebill1049 commented on #7139
<img width="964" alt="Screen Shot 2021-11-25 at 9 18 12 am" src="https://user-images.githubusercontent.com/10513364/143319791-aa894055-33be-4f25-85d9-8c8aeaab6d4a.png">

[2021-11-24 22:18] #7139 closed

[2021-11-24 22:21] bluebill1049 commented on #7137
we don't support the following usage:

[code]

please refer to the doc for proper usage:

https://react-hook-form.com/api/usefieldarray

[2021-11-24 22:21] #7137 closed

[2021-11-24 22:21] bluebill1049 commented on #7115
If you could supply simple and reproducible codesandbox, I am happy to take a look at it.

[2021-11-24 22:45] Mimameid commented on #7136
Ehm, did you even read what I wrote or look into the provided example? I am mentioning that trigger apparently doesn't work.

[2021-11-24 23:26] bluebill1049 commented on #7136
This is not a product support hot line, you better change your tone of voice. I did look at your example and read, I may miss things because I am a human.

[2021-11-24 23:37] Mimameid commented on #7136
My apologies didn't want to be rude. I neither assumed that this is a support hot line, nor that you aren't human.

I just wanted to issue a bug report to the best of my knowledge. Read through a lot. Spend a lot of time into investigating this and decided that the maintainers should know and the bug should be fixed .

I must admit, seeing an unrelated comment and the issue getting closed right af

[2021-11-24 23:38] bluebill1049 commented on #7136
I have deleted my previous message... so let's focus on the problem.

https://codesandbox.io/s/jolly-knuth-0qeu1?file=/src/App.js can you debug the
[code]

first, can you debug the validation schema above?

[2021-11-25 00:01] Mimameid commented on #7136
Validation output shows the error of the parent object. But the issues mentioned in the report maintain:

1. `trigger` doesn't have any effect at all
2. field level validation isn't registered when there is a parent level error

[2021-11-25 00:06] bluebill1049 commented on #7136
https://codesandbox.io/s/jolly-knuth-0qeu1?file=/src/App.js

there are no errors from your schema by `trigger` the `nestedObject` can you look into your schema? and also the codesandbox which i provided which have some debug code

like I mentioned above, react hook form is focused on field level, it doesn't aware of parent level error. This is expected behavior.

[2021-11-25 00:21] Mimameid commented on #7136
I should make myself more clear. If I'm not getting something wrong, it is as follow:

I tested your codesandbox. There is indeed an error. If you remove one Character from "Ace". But, this error is not triggered by "trigger". You can remove the line  ` trigger("nestedObject");` and it is still the same. No difference.

I understand, but I meant something else. If you remove the `test` function ("

[2021-11-25 00:31] Mimameid commented on #7136
Here are images to explain further what I mean.

Here is the example with `trigger`. Validation output shows error, when input field has less than 3 characters "Ac":
![image](https://user-images.githubusercontent.com/18268210/143328829-bc54f36d-4fa9-417e-abc8-5469a23f8ea0.png)

Now, let's look what happens if we remove trigger:
![image](https://user-images.githubusercontent.com/18268210/143329315-

[2021-11-25 00:52] bluebill1049 commented on #7136
I have updated the doc to make this behavior more clearly and why:

![Screen Shot 2021-11-25 at 11 50 16 am](https://user-images.githubusercontent.com/10513364/143332288-d4cc0cb7-655d-4324-96c3-a8e4e520835e.png)

It's always better/precious to trigger for group/parent level error, at the end of the day, react hook form is focused on field level when the user interacts with a single input at a time

[2021-11-25 00:57] Mimameid commented on #7136
What about field level error not triggering, when there is a parent level error? Is this, how it is supposed to work? If so, do you have an idea, how I could get both errors?

[2021-11-25 01:06] bluebill1049 commented on #7136
That's a problem to solve at your schema level right?

react hook form will read the errors object returned by your schema, if it's a field level that matches with your input then it will update `formState` and render the error. If you mix up with form level and field level, things are going to get difficult. which I assume it's the case here. you want to report field level and also be aware of fo

[2021-11-25 01:08] bluebill1049 commented on #7136
the other really important aspect is group error vs index error

`const errors = {}`

vs

`const errors = []`

see the conflict here, that's the nature of field array errors as well, you need to pick either index level or group level.

[2021-11-25 01:12] Mimameid commented on #7136
So there is no way of getting both errors at the same time?

I don't quite understand what you `trigger` does here. From what I tested and seen in the pictures about, it has essentially no functionality in this context.

[2021-11-25 01:18] bluebill1049 commented on #7136
not possible, read this part: https://github.com/react-hook-form/react-hook-form/issues/7136#issuecomment-978687491

you can't have a root and index errors at the same time.

[2021-11-25 01:19] Mimameid commented on #7136
I understand. Would it make sense to add this "feature"?

[2021-11-25 01:22] bluebill1049 commented on #7136
I have no idea how to get around such an issue unless someone can purpose a solution to cate both index and object. I am more than happy to move that into the feature backlog if that's the case.

[2021-11-25 01:25] Mimameid commented on #7136
I don't know much about the code to have a take on this.

I'm wondering though, how this is not working. From what I understand, the validation is running on every level anyway (if you debug the test functions, you see that they are running). Why can't the errors be registered?

[2021-11-25 06:52] dnquang1996vn commented on #7139
Hi @bluebill1049 , Can I keep id as keyName and still keep the key id after append().
Your solution works but it's a bit inconvenience

[2021-11-25 09:24] mfferreira commented on #7139
@dnquang1996vn To be clear, is it the case that the dataset passed to the form cannot contain `id`?

If it can, how can we keep using it as the form keyname (default) and still keep it in when mutating the array?

[2021-11-25 09:38] mfferreira commented on #7115
Picking another key with `keyName` doesn't really solve the problem for me, because my dataset uses `id`.

An example can be found here: https://github.com/react-hook-form/react-hook-form/issues/7139#issuecomment-979011870

[2021-11-25 09:47] bluebill1049 commented on #7115
why can't you just register another input with `id`?

https://codesandbox.io/s/react-hook-form-usefieldarray-forked-7dpxe?file=/src/index.js

[2021-11-25 09:47] bluebill1049 commented on #7139
https://github.com/react-hook-form/react-hook-form/issues/7115#issuecomment-979039537

[2021-11-25 10:06] zirkelc commented on #7137
Could you please explain briefly what is wrong with this usage?

[2021-11-25 10:31] mfferreira commented on #7115
The issue is not registering it. The issue is the `id` properties in the dataset get wiped out. This was not happening in previous versions.

[2021-11-25 10:48] bluebill1049 commented on #7115
if you didn't change the `keyName` then it's the expected behavior, the previous version had unexpected behavior.

[2021-11-25 10:59] mfferreira commented on #7115
Is this the warning note about that?
![Screenshot 2021-11-25 at 11 56 19](https://user-images.githubusercontent.com/882713/143428952-a52a2803-ccfb-493d-8d85-5b635c5c0891.png)

If so, wouldn't it be better to use something less generic and common as `id`? Something like `rhf_id` or something...
I feel like 99% of datasets will have `id` as their default unique key, and thus will have the same issue

[2021-11-25 11:02] bluebill1049 commented on #7115
This is something to be addressed in the next major (breaking change) version.

[2021-11-25 11:02] bluebill1049 commented on #7115
@mrlubos any update on reproducing this issue?

[2021-11-25 18:43] swapnilrohom opened #7149 "issue: setValue with {shouldDirty: true} option is not setting field in dirtyFields array if Value is Number Object"
### Version Number

7.16.1

### Codesandbox/Expo snack

https://codesandbox.io/s/upbeat-cohen-vxdx0?file=/src/App.tsx

### Steps to reproduce

1. Go to Sandbox Link
2. Try changing/adding input field data
3. See `dirtyFields` are still undefined

NOTE: Value is `Number` Object

### Expected behaviour

`dirtyFields` should be true after updating input

I made some investigation and found that `deep

[2021-11-25 22:19] bluebill1049 commented on #7149
that's for raising an issue and even providing a csb.

[2021-11-25 22:23] #7149 closed

[2021-11-26 05:01] HeyiMaster commented on #6121
The problem is in src/utils/set.ts，when the form data is stored in the immer store，the `object: FieldValues` is not expandable，so the original object should not be manipulated directly. I'll submit a PR later. Please check and merge it after passing.😄

[2021-11-26 15:20] mrlubos commented on #7115
Hi @bluebill1049, not yet! Taking a few days off so won't be working on the code for a while. Are there any upcoming changes that would affect the watch API and hopefully resolve my issue?

[2021-11-26 19:05] vidit-sh commented on #6830
can confirm the warning is still not fixed in v7.20.4 but was ok in v7.17.5 as mentioned by @trumbitta

[2021-11-26 22:53] bluebill1049 commented on #7115
Thanks for the update, no rush at all. no change on `watch/useWatch` API.

[2021-11-27 23:44] bluebill1049 commented on #7115
I have improved the doc with what you suggested above @codelover2k please feel free to send us a PR next time.

[2021-11-28 17:08] Redskinsjo commented on #2472
I have same error for defaultValues not returned by watch() on first render

[2021-11-28 23:25] joaovbibiano commented on #2778
How can I show the proper ErrorMessage? When I add a new "line" the touched is already true

I have an example here https://codesandbox.io/s/restless-currying-4wh6h?file=/src/App.tsx

[2021-11-29 10:38] yaeSakuras opened #7165 "issue: useFieldArray use remove API and next use append API old value cover new value"
### Version Number

7.20.4

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-usefieldarray-forked-f8vg2?file=/src/index.js

### Steps to reproduce

1. Click 'Delete' remove one item
3. next Click 'Append' add one item
4. See bug old value 'Luo3' cover add new item value ''

### Expected behaviour

Expect add item value exactly

### What browsers are you seeing the problem on?

[2021-11-29 10:39] yaeSakuras commented on #7165
![image](https://user-images.githubusercontent.com/7360502/143853233-b6acd302-703b-4a07-8957-6f85aa6c0efb.png)

click remove

![image](https://user-images.githubusercontent.com/7360502/143853277-2da364a4-f535-4cf3-9919-af576eb960c4.png)

click append

![image](https://user-images.githubusercontent.com/7360502/143853335-2d632d20-a53d-4cfb-8ba6-56df9a16d3dc.png)

[2021-11-29 10:40] yaeSakuras commented on #7165
old value ‘Luo3’

[2021-11-29 10:45] bluebill1049 commented on #7165
append data is required, not partial.

[code]

[2021-11-29 12:58] pbelzek-cq opened #7166 "issue: Custom resolver's types definitions doesn't accept empty object for `errors` key value."
### Version Number

7.20.4

### Codesandbox/Expo snack

https://codesandbox.io/s/happy-einstein-y639h?file=/src/App.tsx

### Steps to reproduce

Just look at TS error in `superstructResolver` function in `App.tsx`

### Expected behaviour

According to documentation [here](https://react-hook-form.com/api/useform#validationResolver), custom resolvers should return
[code]
as default value. The proble

[2021-11-29 22:01] #7165 closed

[2021-11-29 22:03] #7166 closed

[2021-11-29 23:26] zyl-edison opened #7171 "issue: clearErrors set / hardcode the formState isValid to true"
### Version Number

7.20.4

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-v7-clearerrors-forked-6o2wb?file=/src/index.jsx

### Steps to reproduce

From the clear errors documentation, it states `This function will not update formState (set isValid to true). It only clear errors`.

1. Go to clear errors documenation https://react-hook-form.com/api/useform/clearerrors
2. Click

[2021-11-30 00:07] pwharff opened #7172 "issue: useFieldArray defaultValues not populating form"
### Version Number

7.15.3

### Codesandbox/Expo snack

https://stackblitz.com/edit/react-hook-form-7-dynamic-form-example-nidvxr?file=App.jsx

### Steps to reproduce

1. Open the code sandbox
2. See `Full name` default value of `Joe Schmoe` not populated

When using `useFieldArray` and `defaultValues`, no values are populated in the form:

[code]

See stack blitz example.

### Expected behaviour

[2021-11-30 00:09] bluebill1049 commented on #7171
That was what I meant in this documentation (it will set to true), but think twice, I think `clearErrors` should affect isValid `formState`. It's a hard topic... as there is no clear standard out there.

[2021-11-30 00:11] bluebill1049 commented on #7171
let me dig out the commit against the original issue as well.

[2021-11-30 00:16] bluebill1049 commented on #7172
can we provide a reasonable example for me to look into instead of dumping a partial project here? here is a template you can fork and use: https://codesandbox.io/s/react-hook-form-usefieldarray-ssugn

[2021-11-30 00:16] #7172 closed

[2021-11-30 00:20] bluebill1049 opened #7174 "`handleSubmit` is no longer triggered when deleting an array item with a validation error"
### Discussed in https://github.com/react-hook-form/react-hook-form/discussions/7170

<div type='discussions-op-text'>

<sup>Originally posted by **nino-cast** November 30, 2021</sup>
## Description

### not working

1. Add input item
2. input invalid value
3. remove input item
4. try submit, but not working

### working

1. Add input item
2. input valid value
3. remove input item
4. try submit, b

[2021-11-30 01:20] #7174 closed

[2021-11-30 11:02] thaingu opened #7178 "issue: Unmounted fields are not validated when submitted"
### Version Number

7.20.4

### Codesandbox/Expo snack

https://codesandbox.io/s/usefieldarray-unmounted-fields-not-being-validated-ho6sr?file=/src/App.tsx

### Steps to reproduce

1. Open Sandbox
2. Click on one of the checkboxes to show hidden field
3. Click on 'Submit'
4. Open the console to see that submission failed with `errors` indicating the required field
5. Click on the checkbox again to

[2021-11-30 11:09] bluebill1049 commented on #7178
That's expected behaviour we don't validate unmounted inputs.

[2021-11-30 12:03] thaingu commented on #7178
Thanks for the quick response!
Is there a way to modify the data being sent into the built-in validation or is custom validation the best option here?

[2021-11-30 12:05] bluebill1049 commented on #7178
Not at the moment with built-in validation, you can consider using schema validation which is validated at the form level.

[2021-11-30 12:42] thaingu commented on #7178
Looks like schema validation is the way to go, thank you for your time :)

[2021-11-30 12:42] #7178 closed

[2021-11-30 17:45] NootuNootu opened #7184 "issue: Validation not working with useController and valueAsNumber"
### Version Number

7.20.5

### Codesandbox/Expo snack

https://codesandbox.io/s/fast-wood-e0x3m?file=/src/App.js

### Steps to reproduce

1. Go to https://codesandbox.io/s/fast-wood-e0x3m?file=/src/App.js
2. Select the valid value from the dropdown
3. Click submit
4. Form is invalid

### Expected behaviour

Form should pass validation and be submitted

**Notes**:
Changing the dropdown to not use

[2021-11-30 18:05] simplenotezy commented on #127
@bluebill1049 would you have time at some point to update examples with File upload? I've been knocking my head against the wall, trying to get it working properly.

[2021-11-30 22:02] bluebill1049 commented on #7184
https://react-hook-form.com/api/usecontroller

[2021-11-30 22:36] NootuNootu commented on #7184
Oops, thanks

[2021-11-30 22:44] bluebill1049 commented on #7184
all good @NootuNootu for value transform it's better to do at the useState level, as you are already controlling the component internal state.

[2021-11-30 23:49] Joe312341 commented on #6726
So currently the only way to handle partial forms (forms that get used within multiple or forms) is to make all the attributes which are not part of the partial form optional?

[2021-12-01 01:08] bluebill1049 commented on #7171
any update on this before i am closing it as expected behaviour.

[2021-12-01 01:23] Seijinx commented on #6830
Can confirm the same happens in `7.20.5`. Have to still keep using `7.17.5` to prevent this.

@bluebill1049 Do you think it should be reopened ?

[2021-12-01 01:26] bluebill1049 commented on #6830
can we provide a codesandbox for the issue?

[2021-12-01 03:34] Seijinx commented on #6830
Sadly I cannot make a codesandbox with Next 11 at this time (broken build for now on codesandbox).

I just found a workaround for the latest `7.20.5` in my case. Since I'm using `FormProvider` I can replace `useController`/`Controller` by `useWatch` and the `field.onChange` by `setValue`.

No console warning anymore with this workaround

![image](https://user-images.githubusercontent.com/16969395/

[2021-12-01 05:15] #7171 closed

[2021-12-01 07:34] dbousamra commented on #1212
@bluebill1049 This appears fixed in my codebase with 7.20.5. I haven't dug into it, but previously I was unable to have two inputs on the screen with same name. Now it appears to work flawlessly.

[2021-12-01 09:13] SunShinewyf commented on #612
you can pass the "shouldFocusError" to the form, and then pass the ref to the "input" or "textArea", if the formItem has error, it will be focused, it works to me
![image](https://user-images.githubusercontent.com/11244400/144205686-a5314fd1-53a5-4389-9c13-6ce505108b7a.png)

[2021-12-01 10:37] kyunghwa5 commented on #3859
The issue is still there. I'm using version 7.20.4. It only partially generates the id, not all of them in my case. I've tried also giving a different keyName but didn't work.

[2021-12-01 10:57] sibiraj-sr commented on #6857
This seems to be working fine with original expectations with latest version version without any changes.

[2021-12-01 15:26] Mastard69 commented on #5054
I kinda have the same issue with useFieldArray.
The name I have to provide is a dynamic path, like :
``const { fields } = useFieldArray({
    name: `pages.${pageIdx}.lines`,
  })``
Problem is that the 'item' object in the fields.map(...) is of type Record<'id', string>, so I cannot access properties of my item (admiting that my Line object has properties obviously)

I tried :
``useFieldArray<Book,

[2021-12-01 16:55] Liooo opened #7195 "issue: form behaves like `{mode: 'onChange'}` after calling handleSubmit"
### Version Number

7.20.5

### Codesandbox/Expo snack

https://codesandbox.io/s/serene-sun-smze8?file=/src/App.tsx

### Steps to reproduce

1. Go to https://codesandbox.io/s/serene-sun-smze8?file=/src/App.tsx
2. type in something in firstName, then remove them all, then blur
3. make sure errors is shown and mode onBlur is working
4. click Submit
5. try typing and removing firstName
6. errors: wil

[2021-12-01 21:48] bluebill1049 commented on #7195
https://react-hook-form.com/api/useform

refer to the doc for revalidateMode:

This option allows you to configure validation strategy when inputs with errors get re-validated after user submit the form (onSubmit event). By default, validation is triggered during the input change event.

[2021-12-01 21:48] #7195 closed

[2021-12-01 23:42] Liooo commented on #7195
thanks!! (and now apology is official)

[2021-12-02 00:20] bluebill1049 commented on #7195
@Liooo no worries at all.

[2021-12-02 03:56] dbousamra opened #7197 "Changes in 7.20.3 seem to cause useFieldArray changes to make all fields dirtyFields"
### Version Number

7.20.3

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-submit-only-dirty-fields-forked-o6yc4?file=/src/index.tsx

### Steps to reproduce

If you append/remove a field array value, you will notice the dirty fields are a different format to what they were previously. Not such an issue, but this function:

[code]

Which is floating around in an official examp

[2021-12-02 04:58] bluebill1049 commented on #7197
there were issue with original implementation and hence the fix: https://github.com/react-hook-form/react-hook-form/issues/7109

[2021-12-02 05:24] dbousamra commented on #7197
https://github.com/react-hook-form/react-hook-form/blob/master/examples/V7/dirtyFieldsOnlySubmitted.tsx

[2021-12-02 05:59] bluebill1049 commented on #7197
Removed, this example was from the community.

[2021-12-02 06:01] dbousamra commented on #7197
Hmm. Is it possible to fix the function? I depend on it, but I could not figure out how to get it working. It should be so simple, but the recursion was doing my head in.

[2021-12-02 06:03] bluebill1049 commented on #7197
As far as functionality goes with formate, the current dirty fields fix the field array issue the issue which i have pointed out above, if this is blocking I recommend using the previous version for now.

[2021-12-02 06:10] dbousamra commented on #7197
Okay, so stay with 7.20.2. That's fine. Thanks!

[2021-12-02 06:24] bluebill1049 commented on #7197
Thanks for understanding. We will keep it as it is for now, as it fixes the issue with incorrect field array reporting which is a pretty bad bug causing app crash.

[2021-12-02 06:24] #7197 closed

[2021-12-02 09:48] bluebill1049 commented on #7115
any update on this issue?

[2021-12-02 13:58] enisdenjo opened #7201 "Use browser native validation messages"
**Is your feature request related to a problem? Please describe.**

Registering an input with a `required: true` option on a `shouldUseNativeValidation: true` form shows an empty validation tooltip when invalid.

**Describe the solution you'd like**

Registering an input with a `required: true` option on a `shouldUseNativeValidation: true` form shows the browser native message when invalid.

**Des

[2021-12-02 14:17] bianchi opened #7202 "issue: unable to invoke callback on watch with typescript"
### Version Number

6.15.3

### Codesandbox/Expo snack

https://codesandbox.io/s/stupefied-einstein-r1wsy?file=/src/App.tsx

### Steps to reproduce

1. Go to the sandbox
2. See error when trying to use watch with callback

### Expected behaviour

No errors.

Just copied the code from video [https://www.youtube.com/watch?v=3qLd69WMqKk&t=577s](https://www.youtube.com/watch?v=3qLd69WMqKk&t=577s)
Chec

[2021-12-02 15:57] mlecoq commented on #6593
I have found the cause of the issue, I had a complex object in defaultValues

[code]

generated an infinite loop when defaultValues contained it

[2021-12-02 16:41] felipeS opened #7203 "issue: watch and getValues return undefined after disabling and enabling back an input"
### Version Number

7.12.2

### Codesandbox/Expo snack

https://codesandbox.io/s/awesome-shadow-nmk0p?file=/src/App.tsx

### Steps to reproduce

1. Go to the [condesandbox](https://codesandbox.io/s/awesome-shadow-nmk0p?file=/src/App.tsx)
2. Click on check the checkbox
3. Type something into the text input field
3. See the value of the text input field rendered below
4. uncheck the checkbox and ver

[2021-12-02 17:14] drydenwilliams opened #7204 "issue: Cannot read properties of undefined (reading 'reduce')"
### Version Number

7.20.5

### Codesandbox/Expo snack

https://codesandbox.io/s/muddy-voice-q1ilg?file=/src/NewSiteForm.tsx

### Steps to reproduce

1. Visit the [sandbox](https://codesandbox.io/s/muddy-voice-q1ilg?file=/src/NewSiteForm.tsx)
2. Open in fullscreen mode or [click here](https://q1ilg.csb.app/)
3. And see the error pop up

### Expected behaviour

It shouldn't error like this.

### Wh

[2021-12-02 18:19] randex opened #7205 "issue: setValue with dot notation mutates the object instead of creating a new one"
### Version Number

7.20.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-useeffect-setvalue-issue-m3uut?file=/src/App.js

### Steps to reproduce

1. Go to [codesandbox](https://codesandbox.io/s/react-hook-form-useeffect-setvalue-issue-m3uut?file=/src/App.js)
2. Click on "token1" field. Type "5".
3. After a 1 sec delay the simulation value updates. "token2" must update with

[2021-12-02 21:48] bluebill1049 commented on #6593
Provide a codesandbox.

[2021-12-02 21:50] bluebill1049 commented on #7205
It's expected behavior, setValue mutate internal `formValue`, setValue is not the same as `useState`.

[2021-12-02 21:50] #7205 closed

[2021-12-02 21:54] bluebill1049 commented on #7201
similar disucssion here: https://github.com/react-hook-form/react-hook-form/discussions/7193

[2021-12-02 21:54] bluebill1049 commented on #7115
will look into this issue once reproducible codesadnobx is supplied.

[2021-12-02 21:54] #7115 closed

[2021-12-02 21:56] bluebill1049 commented on #7202
There is no such usage for V6, it's a V7 syntax. please refer to the doc

https://react-hook-form.com/api/useform/watch

vs

https://react-hook-form.com/v6/api#watch

[2021-12-02 21:56] #7202 closed

[2021-12-02 21:59] bluebill1049 commented on #7203
This issue will need to be resolved by providing a `defaultValues` at useForm or `defaultValue` at `watch`.

## Reson

without `defaultvalue`, hook form can't predict what's inside the render phase, as the click happens on the checkbox and next re-render will fallback to the `defaultValues` or defaultValue, the same reason for the watch API

https://react-hook-form.com/api/useform/watch

[2021-12-02 21:59] #7203 closed

[2021-12-02 22:24] bianchi commented on #7202
It is in the example of V6 docs you, and I, have linked. Maybe it should be removed.

Anyway, is it possible to achieve the same behavior in V6? Migrate would probably be a pain in the project I'm working on

[2021-12-02 22:25] mlecoq commented on #6593
Ok

[2021-12-02 23:09] bluebill1049 commented on #7202
Will update that, not possible with v6

[2021-12-02 23:23] ianschmitz commented on #6830
That's fair, however in unit/integration tests it can be common to force tests to fail when console errors or warnings are logged via https://www.npmjs.com/package/jest-fail-on-console or other mechanisms.

[2021-12-02 23:40] felipeS commented on #7203
Thanks for the clarification. But, in this case, is there any workaround? Is there a way to access the text of the text input in the onChange of checkbox?

[2021-12-02 23:56] wdfinch commented on #6955
It seems this has been resolved in the newer versions.

[2021-12-03 00:44] bluebill1049 commented on #7203
Have you considered with `readOnly`, or otherwise you have to store that value in a `useState` or `useRef`, like a mention above the next render will still set input as `disabled` and hence render return `undefined`.

[2021-12-03 00:51] bluebill1049 commented on #7201
It doesn't translate messages for you, only those default ones.

[2021-12-03 07:10] bluebill1049 commented on #7201
move to the project board.

[2021-12-03 07:11] #7201 closed

[2021-12-03 08:57] enisdenjo commented on #7201
Yes, that's what I meant. It translates the built-in default messages to the browsers language.

Anyways, thanks for the quick response and the PR, much appreciated! 😄

[2021-12-03 12:35] bluebill1049 commented on #7203
better solution.

[2021-12-03 16:47] nageshwari17 commented on #72
Hi, Guys. Can I able set {shouldDirty: true} based on condition. As [https://codesandbox.io/s/ecstatic-frog-c857t?file=/src/App.tsx](https://codesandbox.io/s/ecstatic-frog-c857t?file=/src/App.tsx) this example . Intitialy I have firstName as 'test' , when I click set hello btn, field become dirty . and again I re-set intial value to field but field still dirty . Is any way that when I re-set intia

[2021-12-03 18:55] nandorojo commented on #612
I'm thinking through how this could work with React Native, where you have to call `scrollTo(name)` using [React Native Anchor](https://github.com/nandorojo/react-native-anchors).

@bluebill1049 right now, the `handleSubmit`'s `onInvalid` returns this:

<img width="317" alt="Screen Shot 2021-12-03 at 1 45 37 PM" src="https://user-images.githubusercontent.com/13172299/144656278-f66017f3-f6bc-480c-8

[2021-12-03 19:01] mikey242 commented on #6776
Just want to mention I am also experiencing a similar issue with radio inputs in the shadow dom. In my case the radios are all selectable but only the last option's value works, the others always return null when selected. Happy to provide any info.

[2021-12-03 21:51] bluebill1049 commented on #612
@nandorojo that's an interesting project(https://github.com/nandorojo/react-native-anchors), right now react native does have focus management, however for scroll (animated) into the field then focus is something missing both in terms of web and react-native.

That's pretty much what we have internally.

[2021-12-03 22:06] nandorojo commented on #612
@bluebill1049 good to know, thanks. I have a Formik example on that project, but I'm migrating to RHF, so I'm trying to see how to apply similar logic.

Another question I have regarding errors: is there a way for me to "test" a given field to check if there is an error?

Something like:

[code]

## Use case

I'm building a wrapper around RHF for multi-step forms that you can persist on the server

[2021-12-03 23:05] bluebill1049 commented on #612
@nandorojo  What about split your step into multiple form (each has its own useForm)? Would that be an easier solution than having a single useForm for the entire form application?

- If you are building it with validation schema, you probably can validate again that.
- if you are using build in, you probably have to use `validate` function, so you can test aginst individual function.

[2021-12-04 01:21] nandorojo commented on #612
This was my initial intuition too. However, it doesn't exactly fit my situation for 2 reasons:

1. **Dependent data:** Step 2 (`email`) relies on Step 1 (`firstName`), since it shows a text like "Hey `firstName`, welcome to `app`".
2. **Final submission:** The last step of the form creates the user object (`post('/user')`). During each step before that, we are dealing with an incomplete user. So s

[2021-12-04 01:42] bluebill1049 commented on #612
1. Dependent data: Step 2 (email) relies on Step 1 (firstName), since it shows a text like "Hey firstName, welcome to app".

I would store valid data in a state management library (many out there), I think that's what they r good at. (good use case)

2. Final submission

I would run a schema validation (possible to share with your server) to validate the entire payload. In fact, you can have an ex

[2021-12-04 10:10] akashshyamdev opened #7212 "docs: typo in handleSubmit API reference"
### Version Number

-

### Codesandbox/Expo snack

-

### Steps to reproduce

1. Go [here] (https://react-hook-form.com/api/useform/handlesubmit)
2. Scroll to the video section
3. The error is "The following video tutorial explain in detail withhandleSubmit API."

### Expected behaviour

The sentence should be "The following video tutorial explains the handleSubmit API in detail."

### What browse

[2021-12-04 10:26] bluebill1049 commented on #7212
thanks @akashshyamdev please send us a PR if you got some freetime. ❤️

[2021-12-04 10:59] akashshyamdev commented on #7212
Sure @bluebill1049 😄

[2021-12-04 11:11] akashshyamdev commented on #7212
@bluebill1049, I'm just having a quick look here, and I can't seem to find the docs 😅

Do you know/point me to where the docs are 😊 ?

[2021-12-04 11:17] bluebill1049 commented on #7212
<img width="1254" alt="Screen Shot 2021-12-04 at 10 17 16 pm" src="https://user-images.githubusercontent.com/10513364/144707444-e73f1c16-ecf3-4eb5-8519-4022249681f5.png">

👍

[2021-12-04 16:30] nandorojo commented on #612
Yeah I agree. The thing is, then I can't take advantage of all the benefits of RHF, like render performance and validation for each step. I already have the multi-step form working really well with RHF. The only missing piece is validating fields outside of the form itself.

https://user-images.githubusercontent.com/13172299/144716942-c4fb4261-2294-4567-9616-ac5c1d9d8ab4.mp4

Yeah I'll probably do

[2021-12-04 22:30] vmosyaykin commented on #7138
I find the option to select all the text in the field on focus quite useful.
I also think it would be useful to be able to set the caret position to the start/end of the field.

E.g. a "serial number"-style input:
![image](https://user-images.githubusercontent.com/4989930/144725654-f4f0f200-4721-4bfa-bbbf-2efdb844b67e.png)

When the user enters four digits in the first field, I want to set focus t

[2021-12-04 22:44] bluebill1049 commented on #612
@nandorojo this looks awesome!

by the way, I meant only submit valid data into your store, so really only on `handleSubmit`.

[2021-12-04 22:45] bluebill1049 commented on #7138
Thanks for the detailed input @vmosyaykin

[2021-12-06 01:53] bluebill1049 opened #7217 "Append regression with async value update from the API"
### Discussed in https://github.com/react-hook-form/react-hook-form/discussions/7214

<div type='discussions-op-text'>

<sup>Originally posted by **Ryomasao** December  5, 2021</sup>
When append is executed asynchronously, the data passed to append is not set.
Is this the expected behavior?

Do the following cases also apply to the above rules?

[code]

**To Reproduce**
Steps to reproduce the beha

[2021-12-06 06:35] #7217 closed

[2021-12-06 08:53] B-Esmaili opened #7220 "issue: useWatch with exact=false returns null when part of field name is specified."
### Version Number

17.21.0

### Codesandbox/Expo snack

https://codesandbox.io/s/quirky-darkness-rvdok?file=/src/App.js

### Steps to reproduce

1. Check Sand-Box.

### Expected behaviour

I expect `useWatch` to watch for fields which name starts with specified `name` and return an object comprising those fields. Now change makes watch happen base on my expectation but the resulting object  is nu

[2021-12-06 09:40] bluebill1049 commented on #7220
Doesn't support such usage, the watch name needs to at least match the `object` parent node name.

[2021-12-06 09:40] #7220 closed

[2021-12-06 09:43] B-Esmaili commented on #7220
What is intension of exact then?

[2021-12-06 12:08] PenguinDetective commented on #4033
Any updates on this? I also have to call useController conditionally for an generic Input component that can be used with or without react hook form.

[2021-12-06 15:17] danielhammerl opened #7222 "issue: value prop in register method doesnt work?"
### Version Number

7.21.0

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-js-forked-850fk?file=/src/App.js

### Steps to reproduce

1. Register a field using the register value and pass down a value: "register('xyz', {value: 'any'});
2. watch to the field or take a look to the react hook form devtools
3. You see no value

### Expected behaviour

Shouldn't passing down a valu

[2021-12-06 16:10] rubber-duck-software commented on #6435
This should be categorized as a bug. See my comment here  https://github.com/react-hook-form/react-hook-form/issues/5113#issuecomment-917013572 .

[2021-12-06 16:44] gbersac opened #7223 "Transfer the error infos in the FieldError"
**Description of the issue**
I want to generalize form error handling (ie, provide generic error message):

[code]

The problem is that in `errors.MyFieldName`, I don't have the minLength value. I have to specify that minLength value both in input declaration `<input {...register("password", { minLength: 6 })} />` and in my field error renderer component.

**Proposed solution**
Transform the `retu

[2021-12-06 21:44] csantos-nydig opened #7224 "useController + checkbox input + text value"
### Version Number

7.21.0

### Codesandbox/Expo snack

https://codesandbox.io/s/form-checkbox-dy2kl?file=/src/App.tsx

### Steps to reproduce

1. Check the first checkbox (uses `register`)
2. Click on first 'Submit'
3. See the value "YES" for the `isDeveloper` field in the browser alert
4. Check the second checkbox (uses `useController`)
5. Click on second 'Submit'
6. See the value 'true' for the

[2021-12-06 22:04] bluebill1049 commented on #7224
regsiter: uncontrolled which we are retrieve the `value` on your behavior
useController: controlled which by default is getting `e.target.checked`.

[2021-12-06 22:06] bluebill1049 commented on #7223
thanks for the feature request, please upvote this issue instead: https://github.com/react-hook-form/react-hook-form/issues/3950

[2021-12-06 22:06] #7223 closed

[2021-12-06 22:08] bluebill1049 commented on #7222
https://react-hook-form.com/api/useform/register

<img width="938" alt="Screen Shot 2021-12-07 at 9 07 48 am" src="https://user-images.githubusercontent.com/10513364/144930543-46dc1114-5ddf-4eca-8405-0d0f6f1185c2.png">

every render when the function gets invoked again, the value will be reset back to the value which you supplied, it's really just a funcition.

[2021-12-06 23:53] mattsputnikdigital commented on #6435
I have just hit this issue as well, given the claims for RHF I had assumed it would not cause re-renders and could be memorised.

[2021-12-07 03:57] Elfayer opened #7227 "issue:"
### Version Number

7

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-v7-controller-forked-3dqvn?file=/src/Mui.js

### Steps to reproduce

1. Go to https://codesandbox.io/s/react-hook-form-v7-controller-forked-3dqvn?file=/src/Mui.js
2. Type `123.123` in the MUI TextField
3. Submit
4. See there are no errors on the console from the MUI Textfield

As you can see the error works

[2021-12-07 08:41] FunctorDev opened #7231 "[setValue] Using setValue with nested object doesn't update input value of Controller"
### Version Number

7.21.0

### Codesandbox/Expo snack

https://codesandbox.io/s/morning-wave-xpo1c

### Steps to reproduce

1. Go to https://codesandbox.io/s/morning-wave-xpo1c
2. Click on `setValueWhole` button and `setValueEach` button
3. If you click to `setValueWhole` button, only the registered input is updated, the input of Controller isn't updated.
But if you click to `setValueEach` button

[2021-12-07 09:45] bluebill1049 commented on #7231
I am going to patch this one, but I would recommend the `forEach` way of doing it, explained in here: https://www.youtube.com/watch?v=qpv51sCH3fI&feature=emb_logo

[2021-12-07 10:02] #7231 closed

[2021-12-07 10:53] FunctorDev commented on #7231
Ok thanks @bluebill1049 .

I watched your video but didn't see the `forEach` way.
I guess it is this one:

![image](https://user-images.githubusercontent.com/60058060/145015837-218270cb-cdd9-4b41-9592-8c670f3accba.png)

[2021-12-07 11:12] bluebill1049 commented on #7231
no worries, I have fixed the issue, it will be released in the next path.

[2021-12-07 21:59] HodayaGruz opened #7233 "issue: useFieldArray not works on react native"
### Version Number

^7.18.0

### Codesandbox/Expo snack

look on the steps

### Steps to reproduce

try to add useFieldArray in react native app
const { fields: fieldsArray, append, remove } = useFieldArray({
			name: parentName,
			control,
		});
fieldsArray  = [] even when i use getValues() and see its not

### Expected behaviour

its will get the array data and works good (same code works perfe

[2021-12-07 22:02] #7233 closed

[2021-12-07 22:15] nodeEnthu opened #7234 "issue: getValues() are stale inside custom onChange event handler"
### Version Number

7

### Codesandbox/Expo snack

Related to #4977 and #4751

### Steps to reproduce

Create a parent component and pass the `handleOnChange` to child input component
like:
[code]
and inside` handleOnChange` in parent call `getValues()` like:

[code]
  the field will be one character behind: e.g. type "asda" but the `getValues()` will be { test: "asd"}

### Expected behaviour

`ge

[2021-12-07 23:32] bluebill1049 commented on #7234
https://github.com/react-hook-form/react-hook-form/issues/2848

[2021-12-07 23:32] #7234 closed

[2021-12-08 00:38] mikewudev commented on #1005
Here's what I've done for TS

[code]

And now it's just another wrapper function

[code]

[2021-12-08 10:27] apoutchika opened #7239 "issue: useFieldArray update all values when is in separed component and item has nested keys"
### Version Number

### Codesandbox/Expo snack

https://codesandbox.io/s/xenodochial-sky-ynlhb?file=/src/index.js

### Steps to reproduce

A: Test fail :
1. Click on "Append"
2. Add content in field
3. Click on "Append"
4. See your content on the new field
3. Click several times on "Append"
5. Change the content of one field
5. Click on "Append"
6. All field are updated with last updated field

B:

[2021-12-08 11:40] bluebill1049 commented on #7239
thanks for the example, however, the example gets me a bit confused...

[code]

and usage as below:

[code]

I don't know if we are going to support such.

[2021-12-08 12:10] apoutchika commented on #7239
Thank you very much for your answer

I created a simplified version without the confusing part : https://codesandbox.io/s/charming-moore-qo6zv

Is this enough to get help?

[2021-12-08 16:25] joshkel commented on #6393
I realize this is a late reply, but if I understand things correctly, useDeepCompareEffect doesn't work. It's written to handle the opposite problem (the object is new on every render, even though its contents haven't changed, so too many effects / memo updates are triggered). React Hook Form's behavior is that the same object is used on every render, even if its contents have changed, so not enou

[2021-12-08 18:44] bianchi opened #7243 "issue: useFieldArray setValue without setting the whole object"
### Version Number

6.15.3

### Codesandbox/Expo snack

https://codesandbox.io/s/silent-sunset-1n9l6?file=/src/Persons.tsx:1369-1374

### Steps to reproduce

1. Go to the sandbox
2. Click on "Print to console", it will print John and John's mother, as expected
3. Click on "Change whole object", the inputs will be updated. Click on "Print to console", it will print Lillian and Lillian's mother, as

[2021-12-08 22:07] bluebill1049 commented on #7243
It's a limitation with v6, would you be able to move to v7?

[2021-12-08 23:51] bianchi commented on #7243
It will not be easy but I have another situation that is available in V7, I will have to give a try. Thank you for your help

[2021-12-08 23:51] #7243 closed

[2021-12-09 01:43] #7239 closed

[2021-12-09 11:38] RikkiMasters commented on #5537
It isn't working as quoted.

`getValues(["yourDetails.lastName"])` returns `['']`

The documentation https://react-hook-form.com/api/useform/getvalues needs updating

[code]
should be

[code]

Surely it would be better if it returned the keys too like v6?

[2021-12-09 11:44] bluebill1049 commented on #5537
thanks @RikkiMasters  fixed, please send us a pr next time if you spot thing is incorrect.

[2021-12-09 13:20] ArneCaluwe opened #7245 "issue: Controllers in a form array linked to MUI Textfields do not update, unless formarray itself is altered"
### Version Number

latest (7.21.0)

### Codesandbox/Expo snack

https://codesandbox.io/s/bug-formarray-fields-not-updating-jpw4e?file=/src/AddCosts.jsx

### Steps to reproduce

* Add a new cost (click button)
* type text
* *Bug appears*

Text can be shown by adding a new cost after typing, as 1 character will be added.

### Expected behaviour

Text should appear in the textbox labled title linked

[2021-12-09 17:31] corysimmons commented on #2322
@bluebill1049 Any chance of looking at this one again? My team has been running into react-hook-form casting checkbox values to strings a lot. I don't see the reason for it to be casted to a string.

[2021-12-09 22:36] ricardogzm opened #7248 "issue: form's onSubmit gets called when input component rerenders."
### Version Number

7.21.0 (latest)

### Codesandbox/Expo snack

https://codesandbox.io/s/form-show-password-issue-forked-zmbg7?file=/pages/index.js

### Steps to reproduce

1. Go to the sandbox on index.js
2. Fill the email and password fields
3. Press the eye button that is next to the password field to reveal password
![image](https://user-images.githubusercontent.com/46659539/145479176-e50bf4a

[2021-12-09 23:06] ricardogzm commented on #7248
I think I have solved it...

The button itself was submitting the form. I added e.preventDefault() to it and it is now working like I wanted.
[code]

 I'm sorry for the inconvenience.

[2021-12-09 23:09] ricardogzm commented on #7248
I'm closing the issue.

[2021-12-09 23:09] #7248 closed

[2021-12-09 23:46] bluebill1049 commented on #7248
hey @ricardogzm the issue is without type='button' it will trigger the form submit, this is not related to hook form but a HTLM standard.

[2021-12-10 02:15] bluebill1049 commented on #2322
hey @corysimmons if you don't provide a `value`, react hook form will return `boolean`, otherwise, it will return the value associated with your checkbox/radio. If this is not your desired option, then probably building a controlled input and wrapped with a controller is something you guys can look into.

[2021-12-10 02:40] chrisspadanuta opened #7249 "issue: calling setValue with shouldValidate=true does not update formState.isValid"
### Version Number

7.21.0

### Codesandbox/Expo snack

https://codesandbox.io/s/shouldvalidate-broken-fnfkn?file=/src/App.js

### Steps to reproduce

I created a mask function to only allow ASCII characters (A-Z and a-z) to be entered into an input field and when calling `register`. I define an `onChange` callback that calls `setValue` with `shouldValidate` set to true.  The submit button being e

[2021-12-10 03:09] bluebill1049 commented on #7249
Such usage will lead to an unexpected issue because register `onChange` will get fired within the `onChange`.

[code]

which results in value overwrite, if you want to have such I would recommend building a controlled component, and sending data with `field.onChange` directly

https://react-hook-form.com/api/usecontroller

[2021-12-10 05:19] bluebill1049 commented on #7249
here is another workaround as well, avoid duplicated onChnage

[code]

https://codesandbox.io/s/shouldvalidate-broken-forked-1cq2q?file=/src/App.js

[2021-12-10 05:19] #7249 closed

[2021-12-10 05:42] FunctorDev commented on #6121
I also ran into this problem when setting form value from **redux-toolkit selector**, I fixed it by using deep clone `JSON.parse(JSON.stringify(...))`.

[2021-12-10 08:00] ddolcimascolo opened #7251 "Can't bundle CRA with v7.21.1"
### Version Number

7.21.1

### Codesandbox/Expo snack

https://github.com/ddolcimascolo/react-hook-form-issue-7251

### Steps to reproduce

[code]

Then use the lib in its simplest form

[code]

Build the app

[code]

### Expected behaviour

Build succeeds

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follo

[2021-12-10 08:07] bluebill1049 commented on #7251
provide more detail and a GitHub repo if you have plz: https://github.com/react-hook-form/react-hook-form/issues/2848

[2021-12-10 08:08] ddolcimascolo commented on #7251
On my way :)

[2021-12-10 08:12] ddolcimascolo commented on #7251
Reproduction steps + repo added

[2021-12-10 08:17] bluebill1049 commented on #7251
thanks.

[2021-12-10 08:24] bluebill1049 commented on #7251
publishing 7.21.2 thanks for the reporting

[2021-12-10 08:24] #7251 closed

[2021-12-10 12:08] Durgaa-G opened #7257 "issue: Wizard is not working with react 17 & react-router-dom 6"
### Version Number

7.20.2

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-wizard-form-forked-jm26o

### Steps to reproduce

no component is rending on screen

### Expected behaviour

On route change respective component should load

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow t

[2021-12-10 12:51] #7257 closed

[2021-12-10 13:38] iuacuris commented on #5054
Hi @bluebill1049, @kotarella1110 do you have some ideas for the issue described above? It would be appreciated.

[2021-12-10 15:18] chrisspadanuta commented on #7249
Thank you, will give it a try.

[2021-12-10 19:19] evocateur commented on #7251
@ddolcimascolo If you could verify #7261 works in your project, that would be very appreciated.

[2021-12-10 19:50] ddolcimascolo commented on #7251
Ah sorry I didn't post back 😅

This was actually handled without me being involved! Our dependency bot (renovate) did pick up v7.21.2 and updated the pull request, our pipeline went green and got merged :)

So yes, I can confirm v7.21.2 works as expected

Thx guys, keep up the great work

David

[2021-12-11 09:13] bluebill1049 commented on #7251
would you like to confirm @ddolcimascolo
yarn add react-hook-form@7.21.3-beta.0

i have tested and it's building correctly for me.

[2021-12-12 11:04] alphaolomi opened #7267 "issue: build fails on nextjs v12, something to with yup or yup resolvers logs suggest "Named export 'set' not found.""
### Version Number

^7.21.2

### Codesandbox/Expo snack

https://codesandbox.io/s/elastic-glitter-x7vgm

### Steps to reproduce

1. Go to yarn run build'
4. See error

### Expected behaviour

The build doesn't not fail

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

Also

Using yup resolver

[code]

### Code of Conduct

- [X] I agree to follow this proje

[2021-12-12 11:17] #7267 closed

[2021-12-12 11:17] bluebill1049 commented on #7267
https://github.com/react-hook-form/resolvers/issues/271

[2021-12-13 02:05] hanchenjhc opened #7268 "issue: When using react-hook-form's useFieldArray, reset errors when called from react-navigation's onPress"
### Version Number

7.18.0

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-reset-usefieldarray-forked-yk7g4?file=/src/index.js

### Steps to reproduce

Thanks for the library. Since this issue involves using react-hook-form with react-navigation, I'm not entirely sure where the problem is. But since the error is produced by react-hook-form, I thought it might worth creating a

[2021-12-13 06:16] #7268 closed

[2021-12-13 08:18] FloforPresident opened #7270 "issue: RHF watch method triggers if field of another object field is changed"
### Version Number

7.17.5

### Codesandbox/Expo snack

https://codesandbox.io/s/young-platform-8thsm?file=/src/App.tsx

### Steps to reproduce

1. Go to Sanbox
2. Type any value in Person1 and Person 2 input
3. Watch the terminal output
(4. Try the same without Line 24 person2FirstName)

### Expected behaviour

I have a use case where i have two interfaces for my form type. I want to watch for an

[2021-12-13 08:24] bluebill1049 commented on #7270
not if you are watching the parent node:

`const person1Data = watch(["person1"]);`

[2021-12-13 11:08] vertic4l opened #7272 "defaultValue propagation in Controller"
Given the following Controller setup:

[code]

We set defaultValues here:

[code]

value of the Controller's render function doesn't get the initial defaultValue, but after triggering onChange it always give the current.

Is this intended ?

[2021-12-13 13:14] abFx opened #7276 "issue: undefined values when deleting items when using useController"
### Version Number

7.21.2

### Codesandbox/Expo snack

https://codesandbox.io/s/determined-joana-udp02?file=/src/App.js:2848-2866

### Steps to reproduce

1. Click on the add rule button several times and add at least 3 or 4 items
2. Start deleting rules starting from the bottom one
3. The app breaks because of undefined values

### Expected behaviour

The issue occurs specifically when using the

[2021-12-13 16:53] mlecoq commented on #6593
@bluebill1049  I have created a very small example (didn't manage to make it work on codesandbox unfortunately)

https://github.com/mlecoq/react-hook-form-infinite-loop

To reproduce you have just to create a post, then click on it. UpdatePost component is not finished and defaultValues are intentionally incorrect to reproduce the infinite loop

 This issue has appeared with 7.15.4

[2021-12-13 21:50] bluebill1049 commented on #6593
this file? https://github.com/mlecoq/react-hook-form-infinite-loop/blob/main/src/CreatePost.tsx

[2021-12-13 21:51] bluebill1049 commented on #6593
have you try the latest?

[2021-12-13 22:34] petercpwong opened #7278 "`handleSubmit` should return value from `SubmitHandler`"
**Is your feature request related to a problem? Please describe.**
Currently, `handleSubmit` only returns a Promise resolving to void, which makes sense when it's being passed as a callback to a form's `onSubmit`. However, there are times when we would want to get the value returned by the `SubmitHandler` (for example, data returned by the server), especially if the `SubmitHandler` is a function f

[2021-12-13 22:47] bluebill1049 commented on #7278
thanks for the feature request, ping on the board.

[2021-12-13 22:47] #7278 closed

[2021-12-14 01:21] gerrod opened #7279 "Allow customisation of object cloning when the form is reset"
**Is your feature request related to a problem? Please describe.**
Resetting the form does a "simple" clone of objects, which does not allow for cloning objects (or class instances). As an example, if a Luxon `DateTime` object is passed as a property the form's values, after the form has been `reset()`, the `DateTime` instance is no longer valid.

Refer to full discussion here: https://github.com/

[2021-12-14 01:22] gerrod commented on #6592
Sorry it took so long - I finally got around to adding the feature request for consideration 👆. Thanks!

[2021-12-14 01:24] bluebill1049 commented on #7279
Thanks for the detailed feature request, putting it into the backlog, and waiting for the upvote. personally, i like

[code]

[2021-12-14 01:24] #7279 closed

[2021-12-14 02:18] bluebill1049 commented on #7279
another purposal

[code]

[2021-12-14 05:02] SafaAlfulaij commented on #7279
This also will allow to solve circular references in class instances and object proxies when used in `defaultValues` and array methods.

[2021-12-14 05:29] YangChen00 opened #7280 "issue: Control show the previous val in render"
### Version Number

7.0.5

### Codesandbox/Expo snack

https://codesandbox.io/s/calc-forked-xu61t?file=/src/App.tsx

### Steps to reproduce

1. open the codesandbox: https://codesandbox.io/s/calc-forked-xu61t?file=/src/App.tsx
2. Delete the default value row
3. Hit Add
4. You can see the {quantity} show the previous control's value

Notice: I change the append value, not set the new quality in new

[2021-12-14 06:36] mlecoq commented on #6593
@bluebill1049 in fact it is this one https://github.com/mlecoq/react-hook-form-infinite-loop/blob/eb3a2c5aefc92c7e996fb7651042748ef7d52519/src/UpdatePost.tsx

The infinite loop is provoked by Post object in default values

[2021-12-14 08:08] mlecoq commented on #6593
The loop is caused by cloneObject

[code]

[2021-12-14 08:35] ddolcimascolo commented on #7251
Hi @bluebill1049

Sorry I'm late :astonished:

I can confirm that v7.21.3-beta.0 builds fine.

Cheers,
David

[2021-12-14 08:46] bluebill1049 commented on #6593
we don't support Class at the moment for defaultValues, the feature request would resolve your issue while you will need to provide your own clone function: https://github.com/react-hook-form/react-hook-form/issues/7279

[2021-12-14 10:47] gdorsi opened #7282 "Fire a warning when reset is invoked inside the onSubmit callback"
**Is your feature request related to a problem? Please describe.**

I have a form that uses `formState.isDirty` (via `useFormState`) to enable/disable the submit button and needs to update the defaultValues after the submit.

On my first iteration what i did was something similar to this:
[code]

but after the first save `formState.isDirty` wasn't updating.

Reading more carefully the `reset` docu

[2021-12-14 11:14] robrechtme commented on #7282
I agree. This "Don't call reset inside onSubmit" is quite strange since it is a very common pattern to reset a form after it is submitted.

Even the docs themselves break this rule:
https://react-hook-form.com/advanced-usage#TestingForm
[code]

[2021-12-14 11:22] bluebill1049 commented on #7282
@gdorsi can you try the latest version? see if this is potentially resolved.

[2021-12-14 11:38] gdorsi commented on #7282
Using `const { formState: { isDirty } } = useFormContext()` instead of `const { isDirty } = useFormState()` also solves the issue.

[2021-12-14 11:41] bluebill1049 commented on #7282
@gdorsi can you share a codesandbox for the use case?

[2021-12-14 11:44] gdorsi commented on #7282
Do you mean when the warning should be fired or to try to reproduce the bug?

Because I already tried to reproduce the bug, but even doing the same things it doesn't happen outside my application...

[2021-12-14 11:46] bluebill1049 commented on #7282
yes, and what's the warning?

[2021-12-14 11:53] bluebill1049 commented on #7282
This could be related to execution order with `useFormState` after `reset`.

The following CSB showcase the latest minor version can have `reset` inside `onSubmit`:

https://codesandbox.io/s/modest-meadow-ohbdc?file=/src/App.tsx

mount state is required to revalidate all inputs after resetting the entire form.

[2021-12-14 11:54] gdorsi commented on #7282
That's what i meant for "fire a warning":

https://codesandbox.io/s/react-hook-form-reset-v7-forked-9rmzo?file=/src/index.js

[2021-12-14 11:56] bluebill1049 commented on #7282
see my CSB above and this release note: https://github.com/react-hook-form/react-hook-form/releases/tag/v7.22.0

[2021-12-14 12:16] gdorsi commented on #7282
I've updated my CSB in order to match how I use react-hook-form in my application:

https://codesandbox.io/s/react-hook-form-reset-v7-forked-9rmzo?file=/src/index.js

Here everything works fine, inside my application (where I'm using the v7.22.0) it's not.

I've opened a "Feature Request" instead of a "Bug" issue because without a repro we can't do so much to solve the problem.

Also I think that

[2021-12-14 12:22] bluebill1049 commented on #7282
thanks, @gdorsi we used to have `console.warn` in the dev build but it creates noise that some devs like and others don't, hence with v7 we have removed all the warnings. on top of that, striping log and warning is another headache with env, especially we have ESM, UMD, and CJS making build even more difficult. so ideally if we can find the root cause or anyone can reproduce the issue, let's try t

[2021-12-14 13:20] rattkin commented on #456
We have custom components wrapping html form elements and when I setValue() them, they show the new value, but don't re-render.
Since we have material-style animation of label from placeholder position, depending on the input value, we need the render.
Or, how else should we determine the tooltip position and trigger the animation?
![image](https://user-images.githubusercontent.com/910080/14600596

[2021-12-14 13:29] gdorsi commented on #7282
And what if we create an eslint plugin?
Do you think that it would be worth it?

[2021-12-14 14:04] gdorsi commented on #7282
Ha! I have a repro! 🎉

https://codesandbox.io/s/react-hook-form-reset-v7-forked-gnf36?file=/src/index.js

Also we have too much renders here.

[2021-12-14 16:41] gdorsi commented on #7282
I have a working repro of the bug:

https://codesandbox.io/s/react-hook-form-reset-v7-forked-gnf36?file=/src/index.js

The steps to reproduce the issue are:
- Edit the input
- submit
- edit again

The isDirty should remain `false`

[2021-12-14 18:39] mydesweb opened #7283 "issue: Unexpected behaviour with isDirty and dirtyFields"
### Version Number

7.22.0

### Codesandbox/Expo snack

https://snack.expo.dev/

### Steps to reproduce

1. render a field (with a default date)
2. change the date
3. change again the field to the default date

If I declare the default field value with `defaultValues` inside useForm everything works as expected but if I declare the default field value inside Controller wrapper using `defaultValue`

[2021-12-14 19:42] quangv opened #7284 "issue: reset(getValues()) - TypeError with generics"
### Version Number

7.20.0

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-basic-forked-z1he0?file=/src/index.tsx:0-655

### Steps to reproduce

`form.reset(form.getValues());` has type errors with generic components/hooks.

1. Go to https://codesandbox.io/s/react-hook-form-basic-forked-z1he0?file=/src/index.tsx:0-655

2. Line 28:

[code]

There's a Type Error:

`Type 'object

[2021-12-14 21:32] #7283 closed

[2021-12-14 21:33] bluebill1049 commented on #7283
expected behaviour.

[2021-12-14 22:03] mydesweb commented on #7283
@bluebill1049 since I only provide a defaultValue in Controller I think it can be considered the only source of truth and we should know if the actual value is the same as defaultValue.

[2021-12-14 22:08] mydesweb commented on #7283
@bluebill1049 you already mention in the documentation that if defalutValues are not provided will fall back to defaultValue. I don't think that having different behaviours is a good idea. Seems confusing to me.

[2021-12-14 22:12] bluebill1049 commented on #7283
Thanks for the feedback, it will fallback, but noy means we capture or own that defaultValue inside hook form. Its an external state.

[2021-12-14 22:18] bluebill1049 commented on #7283
It's not only about Controller, library such a hook need to consider for native input as well. eg `defaultChecked` `defaultValue`, so conclusion it's required to provide a defaultValues for hook form to work out dirty correctly.

[2021-12-14 22:31] joefraley commented on #4353
whatever happened to this? it seems like a super useful feature

[2021-12-14 23:34] quangv commented on #7284
wouldn't reseting the entire form value work?

I'm unsure why the non-generic version doesn't have a type error.

[code]

But the generic version, has a type error.

[code]

[2021-12-15 00:59] #7282 closed

[2021-12-15 05:39] sscotth commented on #4353
Just came across this today myself.

[2021-12-15 07:10] guangwen opened #7287 "issue: ^v7.20.5 contains arrow functions, ios10.2 Not compatible"
### Version Number

^v7.20.5

### Codesandbox/Expo snack

no

### Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behaviour

like https://github.com/react-hook-form/react-hook-form/issues/210, support es5 build

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### Code of Conduct

- [X

[2021-12-15 07:11] #7287 closed

[2021-12-15 07:23] guangwen opened #7288 "issue: build v7.20.5 esm contains arrow functions, Hope to support es5, Which version supports es5 ??"
### Version Number

^v7.20.5

### Codesandbox/Expo snack

no

### Steps to reproduce

see https://github.com/react-hook-form/react-hook-form/issues/210
build v7.20.5 esm contains arrow functions, Hope to support es5, Which version supports es5 ??

### Expected behaviour

Hope to support es5, Which version supports es5 ??

### What browsers are you seeing the problem on?

_No response_

### Relevan

[2021-12-15 07:29] bluebill1049 commented on #7288
no longer support with v7, you can downgrade to v6 with ie build.

[2021-12-15 07:29] #7288 closed

[2021-12-15 08:55] gdorsi commented on #7282
awesome! thanks!

[2021-12-15 09:26] bluebill1049 commented on #7282
thanks, @gdorsi for providing the csb and the issue. 👍

[2021-12-15 09:47] Crafoord opened #7289 "defaultValue(s) getter(s)"
**Is your feature request related to a problem? Please describe.**
I need to get the defaultValue(s) of the form and fields in a deeply nested component and it's messy having to pass it down the component tree.

I'm using useFormContext in a deeply nested input component to avoid this with other properties.

**Describe the solution you'd like**
Function/getter to get defaultValue(s) of the whole f

[2021-12-15 09:48] #7289 closed

[2021-12-15 12:10] felixschorer opened #7290 "issue: FieldPath slows down TypeScript considerably"
### Version Number

7.20.1

### Codesandbox/Expo snack

https://codesandbox.io/s/charming-browser-9ujqf?file=/src/App.tsx

### Steps to reproduce

1. Open `App.tsx` in the provided repo link.
2. Change the value of the `name` prop on any of the `<Controller />` to an invalid path.
3. Wait for TS to recognize the mistake.
4. Make further changes.

Typescript will come to a crawl:
- Simple changes w

[2021-12-15 12:22] bluebill1049 commented on #7290
what's under the hood: https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html and this is a design limitation.

[2021-12-15 12:29] bluebill1049 commented on #7290
thanks for the suggestion with `AutoPath` as well, I will evaluate it see if this can be potential solution.

[2021-12-15 12:34] bluebill1049 commented on #7290
cc @barrymay @kotarella1110

[2021-12-15 12:42] bluebill1049 commented on #7290
That `AutoPath` really is just `get` type, it doesn't replace the functionality with `FieldPath` to produce autocomplete/hint for fields name when register with inputs. I don't think this will resolve the underlining limitation. Correct me if I am wrong here.

[2021-12-15 12:47] felixschorer commented on #7290
We're currently using `AutoPath` like this.
https://codesandbox.io/s/vigilant-flower-oydoe?file=/src/App.tsx

Basically, `name` is just constrained to `string`.
If `name` isn't a valid path into the object, then every type using that path evaluates to never.

[2021-12-15 12:59] felixschorer commented on #7290
`AutoPath` triggers autocompletion. Typing `"prop1."` will suggest any of `"prop1.prop0" | "prop1.prop1" | "prop1.prop2" | "prop1.prop3" | "prop1.prop4" | "prop1.prop5" | "prop1.prop6" | "prop1.prop7" | "prop1.prop8" | "prop1.prop9"`, but nothing more. If you continue typing after selecting one of those, it will suggest the next path segment and so forth.

This works great in editors which use the

[2021-12-15 14:31] hanchenjhc opened #7293 "issue: using reset in HeaderBackButton makes all element undefined but does not clear out field array"
### Version Number

7.22.1

### Codesandbox/Expo snack

https://codesandbox.io/embed/react-hook-form-reset-usefieldarray-forked-yk7g4?fontsize=14&hidenavigation=1&theme=dark

### Steps to reproduce

Thanks for the previous fix on the similar issue. However that doesn't **_entirely_** address the issue I'm having. For resetting through onPress of HeaderBackButton only makes all elements in the fiel

[2021-12-15 15:07] abhijitkadam opened #7295 "Nested form is not possible"
HTML does not allow nested form.
However with react if we want to have a conditional nested "form" that renders inside parent form that is not possible.
The inside child form will have its own validation and state.

Need a custom tag like <Form> (in caps) that will support nesting with independent state and validation.

[2021-12-15 18:17] birdhackor opened #7296 "issue: select value will not update properly on firefox"
### Version Number

7.22.1

### Codesandbox/Expo snack

https://codesandbox.io/s/busy-bash-wgrwe

### Steps to reproduce

1. Open [codesandbox1](https://codesandbox.io/s/busy-bash-wgrwe) with Firefox 95.0 (Newest for now)
2. Switch select box 1 **will not** change select box 2 value
3. Open same page with safari
4. Switch select box 1 **will** change select box 2 value
5. Modify code (option key)

[2021-12-15 19:36] MerlinMason commented on #356
I've spent half of today battling with a similar issue, turns out it was painfully simple... hopefully this helps someone else!

In my case I was toggling a checkbox and then trying to check the validation state. Like so:

[code]

However nothing on the `formState` was being updated. The way my form was setup was to only validate onBlur. Changing to the following fixed the issue:

[code]

[2021-12-15 21:23] bluebill1049 commented on #7295
please read the doc on register API

[2021-12-15 21:23] #7295 closed

[2021-12-15 21:25] bluebill1049 commented on #7293
you need to read the doc on the usage, there are so many things that are incorrect here.

- append argument is required
- no defaultValue is required for the field array
- input name is dot syntax only for v7

please address all of those above first: https://react-hook-form.com/api/usefieldarray

[2021-12-15 21:27] bluebill1049 commented on #356
thanks @MerlinMason for sharing

[2021-12-15 21:34] bluebill1049 commented on #7290
thanks, @felixschorer will look into it a bit more this weekend.

[2021-12-15 22:03] hanchenjhc commented on #7293
OK. The example is based on [your documentation here](https://react-hook-form.com/api/useform/reset). But I'll update the sandbox based on your comment.

[2021-12-15 22:06] bluebill1049 commented on #7293
which example? screenshot plz

[2021-12-15 22:07] bluebill1049 commented on #7293
found it. fixing

[2021-12-15 22:08] hanchenjhc commented on #7293
I've updated the sandbox here: https://codesandbox.io/s/react-hook-form-reset-usefieldarray-forked-yk7g4?from-embed=&file=/src/index.js

Could you take another look?

[2021-12-15 22:13] hanchenjhc commented on #7293
Just saw another behavior to make this bug more obvious.
1. click "Append"
2. click "Back", which removes the input
3. click "Append"
Expected: to see 1 input
Actual: 2 inputs appeared

[2021-12-15 22:13] bluebill1049 commented on #7293
`<button type="button" onClick={() => reset()}>` need to provide a payload for the reset.

[2021-12-15 22:19] hanchenjhc commented on #7293
Updated sandbox with a payload for `reset` in both usages. The one in plain `button` is working as expected. The one passed into `HeaderBackButton` does not clear out the field array.

[2021-12-15 23:46] #7293 closed

[2021-12-16 00:20] bluebill1049 commented on #7290
@felixschorer would you be interested to send us a PR?

[2021-12-16 07:00] abhijitkadam commented on #7295
Hi, There is a support of nested fields inside same form.
Not the nested forms
`<form>... <form>...</form></form>`

Above HTML will prevent so `<Form>... <Form>...</Form></Form>`

So I used  div instead of form with no submit handler

`<div >... <CustomInLineChileForm/>...</div>`

Then submitted the form manually on button click:

[code]

[2021-12-16 09:08] 5c077m4n opened #7303 "issue: If the"
### Version Number

7.22.1

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-non-required-validation-bug-pjys9?file=/src/App.js

### Steps to reproduce

1. Go to my [demo](https://codesandbox.io/s/react-hook-form-non-required-validation-bug-pjys9?file=/src/App.js)
2. Once pressing the `submit` button you can see that the not required file field fails the validation - even thoug

[2021-12-16 11:45] nickhill97 commented on #2978
I'm getting a similar error when using Controller. Did you find a solution to this?

[2021-12-16 13:18] vladi-strilets commented on #2978
@nickhill97
It works, but still having this issue

My Input is a React Native Input component.
The allowed value type is `value?: string | undefined;`

[2021-12-16 13:52] felixschorer commented on #7290
I can have a look.

[2021-12-16 15:18] nickhill97 commented on #2978
@vladi-strilets my component is a custom form input that should always be a string but TypeScript is expecting `'UnpackNestedValue<PathValue<FieldsType,` Path<FieldsType>>>'`. This was causing functions that are expecting strings to throw errors. I've suppressed the errors by using `unknown` for the args in the functions but this feels like an unstable workaround. Did you provide react hook form a

[2021-12-16 15:53] felixschorer commented on #7290
@barrymay I understand your concerns. Something like this needs to be thoroughly type tested as it shouldn't break existing code.

[`ts-toolbelt`](https://github.com/millsp/ts-toolbelt)'s [`AutoPath`](https://millsp.github.io/ts-toolbelt/modules/function_autopath.html) can't be used anyways as hooks like `useFieldArray` impose further constraints on the path other than it being valid. In the case

[2021-12-16 17:54] nbpeth opened #7307 "issue: useFieldArray key on form cannot be re-dirtied after calling resetField on it"
### Version Number

7.22.1

### Codesandbox/Expo snack

https://stackblitz.com/edit/react-hook-forms-xj4hgj?file=index.js

### Steps to reproduce

1. Go to https://stackblitz.com/edit/react-hook-forms-xj4hgj?file=index.js
2. Change values in "useFieldArray fields" inputs - `dirtyFields`, `isDirty`, `fields`, `useWatch` dumped onto the DOM
3. Verify the fields and dirty state correctly getting upda

[2021-12-16 21:51] bluebill1049 commented on #7307
<img width="1088" alt="Screen Shot 2021-12-17 at 8 50 52 am" src="https://user-images.githubusercontent.com/10513364/146454304-15a131b2-aca8-4c86-9082-0622931e68da.png">

could you update your example?

[2021-12-16 21:56] bluebill1049 commented on #7290
Thanks, @felixschorer and @barrymay's input, I agree with all comments above. I see the light when I saw the `AutoPath` works with `string` and lazy evaluating the input path. This is huge! It fundamentally solves some of the type "difficulty" for reusable components and performance issues that could lead to when forms type is a generic of complex data. I think even ts-toolbelt is stopped being ma

[2021-12-16 22:07] nbpeth commented on #7307
hey @bluebill1049 are you just seeing a blank page? This is what I see when I click the link
![image](https://user-images.githubusercontent.com/10249534/146456074-0ec71e99-5332-4e13-94a5-dba61f9c9db6.png)

[2021-12-16 22:23] bluebill1049 commented on #7307
yep blank page, even with hard refresh, could you try codesandbox?

[2021-12-16 22:28] nbpeth commented on #7307
here you go https://codesandbox.io/s/distracted-water-8g1k2?file=/src/App.js

[2021-12-16 22:47] bluebill1049 commented on #7307
`resetField` is used for input field not supporting object/array nodes at the moment. use `reset` API instead

[2021-12-16 23:12] nbpeth commented on #7307
are their plans to implement this feature? I have a work around at the moment, to manually reset each field, but it's pretty bulky and doesn't scale well to the model.

I cannot use `reset` for my use case, unfortunately - I have a form that needs to know exactly which fields are dirty - and `reset` will clear `isDirty` on the formLevel, making `dirtyFields` out of sync / unreliable.

My form is a

[2021-12-16 23:14] bluebill1049 commented on #7307
not at the moment (you can send a feature request instead and see how the community reacts to it), if there will be such implementation in the library it would quite similar to what have already done. `resetField` really is focused on a single input.

[2021-12-16 23:17] nbpeth commented on #7307
alright, thanks for taking the time to look into it!

[2021-12-16 23:37] bluebill1049 commented on #7307
np @nbpeth going to close this issue, for now, feel free to send a PR if you want, I can send it to the backlog.

[2021-12-16 23:37] #7307 closed

[2021-12-17 08:58] Rensvl opened #7310 "issue: The value of the last radio will set the correct value when used in combination with Web Component and "Watch" method"
### Version Number

7.22.1

### Codesandbox/Expo snack

https://codesandbox.io/s/react-playground-forked-n71qn?file=/index.js

### Steps to reproduce

1. Click on one of the radio inputs (only the last radio will set the correct value the others will set NULL).

- When the watch method is removed, the value is correctly set for all the radio input after pressed.
- When the Web Component is removed

[2021-12-17 09:17] bluebill1049 commented on #7310
doesn't support at the moment, you can upvote this feature request: https://github.com/react-hook-form/react-hook-form/projects/1

[2021-12-17 09:17] #7310 closed

[2021-12-17 15:52] mtr1990 opened #7312 "issue: How to define type `control` for Checkbox."
### Version Number

7

### Codesandbox/Expo snack

https://codesandbox.io/s/cocky-bogdan-s930w?file=/src/App.tsx

### Steps to reproduce

Create custom checkbox using control.

Successful with textfield with `Record<string, any>>` but not woking with Check type boolen.

Please see repo:

https://codesandbox.io/s/cocky-bogdan-s930w?file=/src/App.tsx

### Expected behaviour

Does not show type error

[2021-12-17 16:13] luizeboli opened #7313 "issue: defaultValue isn't removed when using Controller shouldUnregister property"
### Version Number

7.22.1

### Codesandbox/Expo snack

https://codesandbox.io/s/musing-feistel-pc9ko?file=/src/App.js

### Steps to reproduce

1. In this example theres 2 boolean fields, one using `Controller` and another using `register`. Both are using `shouldUnregister`
2. There's also a `Toggle` button that is used to mount/unmount these fields
3. When toggling `register` input, the defaultVa

[2021-12-17 16:28] luizeboli commented on #7313
Looks like this bug has been introduced in version 7.19.1.

I'm gonna try to investigate a little bit further

[2021-12-17 16:36] luizeboli commented on #7313
Well, this came from #7001.

So, is this the expected behavior? To keep defaultValue when using Controller? Why it differs from `register`?

[2021-12-17 18:37] jscheel opened #7314 "Empty form state in v7.22.x"
### Version Number

7.22.x

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-forked-wjk0k

### Steps to reproduce

I've attached the codesandbox link from the examples directory. If you switch the react-hook-form version to 7.22.1, you will see that the formState is now empty. Guessing this has to do with the proxy object, but it works in v7.0.

[2021-12-17 20:38] awesomeunleashed opened #7315 "issue: `watch`ing array value doesn't trigger `useMemo` on changes"
### Version Number

7.22.1

### Codesandbox/Expo snack

https://codesandbox.io/s/silly-cdn-kzcgh?file=/src/App.tsx

### Steps to reproduce

1. Change the value of one of the dropdowns
2. See that the "Unused Values" changes after the re-render, but "Memoized Unused Values" does not

### Expected behaviour

I would expect that the `useMemo` would recalculate, since `options` changed. React is expec

[2021-12-17 22:02] bluebill1049 commented on #7315
https://react-hook-form.com/api/useform/watch

[2021-12-17 22:02] #7315 closed

[2021-12-17 22:03] bluebill1049 commented on #7314
It's expected behavior, you just need to read it or deconstruct it.

[2021-12-17 22:03] #7314 closed

[2021-12-17 22:07] bluebill1049 commented on #7313
hey, @luizeboli thanks for the issue report and including the investigation. yea, this is expected for `shouldUnregister: true`, really `shouldUnregister: true` is more aligned with native form behavior, so input state lives inside each input.

[2021-12-17 22:31] jscheel commented on #7314
@bluebill1049 fair enough, but does that mean there is no clean way to debug the formState like in the repo's example? Should that example be updated to deconstruct the formState with all the values pulled out?

[2021-12-17 22:55] awesomeunleashed commented on #7315
I see; I guess I forgot about and/or misinterpreted that bullet point. Sorry about that.

Do you have any particular suggestions for existing external hooks/patterns that would do this well? I've come up with a couple ways that seem to work:

[code]
...but I don't particularly like either one of them. Any advice is appreciated!

[2021-12-18 02:07] luizeboli commented on #7313
@bluebill1049 sorry it is not clear for me. shouldUnregister must remove value from defaultValues also? Thats not happening now

[2021-12-18 02:19] bluebill1049 commented on #7313
thanks, @luizeboli I can see the inconsistency here, let me address that.

[2021-12-18 02:39] bluebill1049 commented on #7313
looking close #7001 is an incorrect fix because, after input mounted with `shouldUnreegister: false` (default), the input value will be an empty string hence the default value is not showing. I am reverting that fix.

[2021-12-18 02:46] luizeboli commented on #7313
Thanks @bluebill1049 for your effort and amazing work done with this lib👍

[2021-12-18 02:53] #7313 closed

[2021-12-19 13:22] herialesha commented on #476
how to display error when on submit evidently not checked?

[2021-12-19 15:53] akilansengottaiyan opened #7318 "issue: watch with useFieldArray"
### Version Number

^7.20.0

### Codesandbox/Expo snack

https://codesandbox.io/s/watch-with-usefieldarray-forked-8ez2w

### Steps to reproduce

Note : I am using the fork of [watch with useFieldArray codesandbox](https://codesandbox.io/s/watch-with-usefieldarray-e2d64) provided in the doc and just updated the version in the **package.json** with the same example code.
Also this is working fine in

[2021-12-19 15:56] akilansengottaiyan commented on #7318
I would like to fix the above mentioned bug once acknowledged. Cheers

[2021-12-19 22:09] bluebill1049 commented on #7318
hey, @akilansengottaiyan i couldn't reproduce the issue, could you provide some more detail? I am using the latest.
<img width="328" alt="Screen Shot 2021-12-20 at 9 09 37 am" src="https://user-images.githubusercontent.com/10513364/146692550-81a376e4-381b-45de-9bae-9eab627efd5c.png">

[2021-12-20 03:23] akilansengottaiyan commented on #7318
Hey @bluebill1049. Thanks for the reply. In the [sandbox](https://codesandbox.io/s/watch-with-usefieldarray-forked-8ez2w) i provided above, on editing the input fields, renderCount is not getting incremented and there is no console logs to match the current state. But if we remove or append, its getting re-rendered with the current updated state.
I am not sure how you are able to pull-off the abov

[2021-12-20 03:34] bluebill1049 commented on #7318
I see the problem now: `{...register(`test.${index}.firstName`)}` please use dot notation.

https://react-hook-form.com/api/useform/register

[2021-12-20 04:12] akilansengottaiyan commented on #7318
Aah. I missed it. Thanks a lot. @bluebill1049

[2021-12-20 04:20] bluebill1049 commented on #7318
np @akilansengottaiyan 👍  thanks for rising the issue and even being willing to fix it.

[2021-12-20 04:20] #7318 closed

[2021-12-20 11:30] lewisd1996 opened #7323 "issue: Validate is not firing, trying to confirm password"
### Version Number

7.22.1

### Codesandbox/Expo snack

https://codesandbox.io/s/inspiring-haslett-1c8sw?file=/pages/index.js

### Steps to reproduce

1. Enter a password into the first field
2. Try match it in the second field
3. The error message will never show, it will just say "Passwords match"

### Expected behaviour

The "Passwords do not match" message should appear instead of "Passwords m

[2021-12-21 10:36] bouzlibop opened #7326 "issue: v6 docs inconsistency"
### Version Number

v6

### Codesandbox/Expo snack

https://codesandbox.io/s/usecontroller-forked-k7823

### Steps to reproduce

1. Go to https://react-hook-form.com/v6/api
2. Note that there exists docs for useController and there is an example of its usage.

<img width="500" alt="v6_useController" src="https://user-images.githubusercontent.com/8625570/146913126-3f4e5e99-33af-40d0-91a5-62cf50412d

[2021-12-21 16:45] eqqe commented on #7234
I also have this issue

[2021-12-22 04:00] mmahalwy opened #7337 "issue: defaultValue of `false` will always return undefined for checkboxes"
### Version Number

7.22.2

### Codesandbox/Expo snack

https://codesandbox.io/s/condescending-rubin-8s3qc?file=/src/App.tsx

### Steps to reproduce

1. Go to sandbox link
2. Wait for 2s
3. Click submit
4. Notice the console log, the `user.approve` will be undefined.

I think this is due to a problem here: https://github.com/react-hook-form/react-hook-form/blob/master/src/utils/get.ts#L15

Technic

[2021-12-22 04:22] JamesWong1999 commented on #7337
https://react-hook-form.com/api/usecontroller

according to the doc it's either

[2021-12-22 05:02] bluebill1049 commented on #7337
thanks, @JamesWong1999 that's correct. it's either.

[2021-12-22 07:23] chamabreu opened #7338 "issue: useFormField functions set whole dirtyFields Object"
### Version Number

7.22.3

### Codesandbox/Expo snack

https://codesandbox.io/s/usefieldarray-dirtyvalues-1t71j?file=/src/App.tsx

### Steps to reproduce

1. Go to [This Codesandbox](https://codesandbox.io/s/usefieldarray-dirtyvalues-1t71j?file=/src/App.tsx)
2. Read the Description and try it yourself.
3. Typing in the single Fields marks the sections correkt as dirty (watch also Console for a co

[2021-12-22 07:51] mmahalwy commented on #7337
@bluebill1049 @JamesWong1999 got it, thoughts on how to make this work when default values are coming from async call and now all values are set? I cant imagine replacing `defaultValues` on `useForm` to  `defaultValue: apiResponse.some.path.to.value` on every field.

[2021-12-22 07:51] mmahalwy commented on #7337
Feels like we should either:
1. have an option on `useController` to allow for `defaultValue` to override
2. If `undefined` on `defaultValues`, prefer the `defaultValue` on `useController`

Thoughts?

[2021-12-22 07:54] zhnoah opened #7339 "issue: Obtaining formState.errors causes the component to refresh"
### Version Number

7.22.2

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-adapting-existing-form-forked-gs4u5?file=/src/index.js

### Steps to reproduce

1. Release the comment on line 33
2. Form input
3. View the browser's console panel

### Expected behaviour

"Select refresh" should only be printed once during initialization，
Did I miss something?

### What browsers are y

[2021-12-22 07:56] bluebill1049 commented on #7337
please use the following APIs

- `setValue`
- `reset`

[2021-12-22 07:59] bluebill1049 commented on #7338
This is expected behavior, will update the type to boolean.

[2021-12-22 08:02] bluebill1049 commented on #7339
https://react-hook-form.com/api/useform/formstate

please refer to the doc above for formState.

[2021-12-22 08:02] #7339 closed

[2021-12-22 08:07] #7338 closed

[2021-12-22 08:36] mmahalwy commented on #7337
I'm using reset in the example given in codesandbox 😔

I also don't think I can do setValue on 10s of fields

[2021-12-22 08:39] bluebill1049 commented on #7337
![Screen Shot 2021-12-22 at 7 39 02 pm](https://user-images.githubusercontent.com/10513364/147062489-136e3758-324a-4ea3-88db-38343ba3b4e3.png)

I don't see `reset`.

[2021-12-22 08:44] mmahalwy commented on #7337
@bluebill1049 sorry, forgot to save codesandbox. Here: https://codesandbox.io/s/condescending-rubin-8s3qc?file=/src/App.tsx

![image](https://user-images.githubusercontent.com/3749095/147063215-8084b654-352b-415c-85cf-56f3d1fcc499.png)

[2021-12-22 08:47] bluebill1049 commented on #7337
[code]

Do above.

[2021-12-22 15:53] rafahuaman commented on #6523
First, thank you for your work on this library!

I am getting a similar error with the following code on `v7.22.2`. Posting it here instead of  because it looks related to an error mentioned above.  The difference is that I am using generics.

[code]

This yields the following TS errors on `formSubmit` when passing it to `handleSubmit`:

[code]

[2021-12-22 17:54] chamabreu opened #7346 "issue: useFieldArray has wrong types on keyValue"
### Version Number

7.22.3

### Codesandbox/Expo snack

https://codesandbox.io/s/keyname-only-id-l8l89?file=/src/App.tsx

### Steps to reproduce

Create an useFieldArray and try to set the keyName to some string, like the [documentation says](https://react-hook-form.com/api/usefieldarray) - or:

1. Go to [this sandbox](https://codesandbox.io/s/keyname-only-id-l8l89?file=/src/App.tsx)
2. Hover abou

[2021-12-22 18:00] antialias commented on #1517
why was this issue closed?

[2021-12-22 22:09] bluebill1049 commented on #7346
[code]

if name `id` is the issue, then this PR will resolve the problem you will no longer need to change the keyName

[2021-12-22 22:09] #7346 closed

[2021-12-22 22:49] #7284 closed

[2021-12-22 23:00] LadyKamille opened #7347 "issue: Disabled field handling is inconsistent with native browser behavior"
### Version Number

7.22.3

### Codesandbox/Expo snack

https://codesandbox.io/s/mystifying-kare-smbzu?file=/src/App.js

### Steps to reproduce

1. Verify loaded version of react-hook-form in codesandbox dependencies is set on the latest version
2. Click on "Submit" for all of the provided forms
3. See validation errors and current form values

I have also provided a table of the current version o

[2021-12-22 23:05] bluebill1049 commented on #7347
Thanks for the detailed issue report.

![Screen Shot 2021-12-23 at 10 03 35 am](https://user-images.githubusercontent.com/10513364/147164655-f6ccc512-0f71-4af8-9bab-ac9686875dc3.png)

There are issues with the inline `disabled` attribute and hence we are solving it by providing a new `disabled` prop.  I would only use the inline disabled attribute if the input is completely static. Can you double-

[2021-12-23 02:46] HelKyle opened #7348 "issue: formState.errors wrong if update array field before swap"
### Version Number

7.22.3

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-usefieldarray-forked-k82px?file=/src/index.js

### Steps to reproduce

1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-forked-k82px?file=/src/index.js
2. Click on [VALIDATE]
3. Click on [UPDATE AND SWAP]
4. Click on [UPDATE AND SWAP]
5. Input elements are having error both

### Expected

[2021-12-23 06:08] bluebill1049 commented on #7348
Thanks for the issue, I will adjust the code to avoid this problem. however, I would recommend not executing actions one after, as they have an individual set state within, I would remove that additional action into `useEffect`

[2021-12-23 06:43] #7348 closed

[2021-12-23 13:18] nklaasse commented on #5054
You can also type the `useFormContext` and pass down the `control` to the `useFieldArray` to apply types on `fields`.

[code]

[2021-12-23 14:50] LadyKamille commented on #7347
Hi, thanks for getting back to me! There are really two issues here.

The behavior differs between versions. I do expect between versions there could be breaking changes, but also the disabled attribute going from working (7.12.2) to not working (7.22.3) feels like a bug to me.

However, if the expectation is to use the rule now, that's fine, but I would also expect that it would work with RHF's d

[2021-12-23 22:00] bluebill1049 commented on #7347
I wouldn't say it's a bug, perhaps a potential regression. Inline disabled is quite tricky and troublesome when users are toggling with react state. In fact, the disabled have been raised quite a few bugs and I have tried to attend with quite a few solutions and hitting the wall. I probably showing green on your table, but there are other use cases which going to fail, but `disabled` prop is defin

[2021-12-23 23:34] Fralalala commented on #656
Is there a way for it to be handled before submission? If it can be checked before a form submit, the "require" pop ups of an input can be utilized instead of handling it manually.

[2021-12-24 01:03] #7347 closed

[2021-12-27 13:57] k-one-o-two commented on #3462
Are there any plans to support flat arrays?

[2021-12-27 23:16] #7290 closed

[2021-12-28 04:04] yaoqicaicaicai opened #7376 "Using the controller component invalidates shouldfocuserror？"
Using the controller component invalidates shouldfocuserror

[2021-12-28 04:09] bluebill1049 commented on #7376
https://github.com/react-hook-form/react-hook-form/issues/2848

[2021-12-28 08:09] plrthink commented on #7278
We're also waiting for this feature.

[2021-12-28 09:38] petercpwong commented on #7278
It's an easy code change and I've already submitted a PR. Just waiting for community support to greenlight this new feature.

[2021-12-28 09:50] pnam29 commented on #220
it work, thanks

[2021-12-28 10:20] k-one-o-two commented on #2978
I'm using `^7.20.2` and facing the same error, can this please be reopened?

[2021-12-28 15:04] boi87 opened #7381 "issue: Accessing errors.[fieldName].message for a fieldArray gives type errors (it's seen as array)"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/cars-form-error-object-fjcmx?file=/src/App.tsx

### Steps to reproduce

In the CodeSandBox

1. Select no cars in the form
2. The error appears as expected
3. the code shows a TS error (line 74) when you access the errors object with `errors?.cars?.message`, but it works in the UI:
[code]
4. the code will **not** compl

[2021-12-28 22:11] bluebill1049 commented on #7381
It's not possible for hook form to determine the input is a group of inputs or input of groups, which is the case here. that's why we have introduced https://react-hook-form.com/ts#NestedValue which you have to apply in your use case here.

[2021-12-28 22:11] #7381 closed

[2021-12-29 08:46] boi87 commented on #7381
Thanks a lot for the quick answer @bluebill1049 :)
Using `NestedValue<CarCheckbox[]>` the errors can be accessed without TS errors.

[code]

However my TS is complaining on the `onSubmit={handleSubmit(onSubmit)}` line:

This is the error I'm getting:
[code]

Not sure why it doesn't happen in the CodeSandBox though...
Do you have any idea about this? Thank you :)

[2021-12-29 12:20] danielo515 commented on #7381
That NestedValue type seems very interesting, but the documentation is quite sparse. Can you give a high level overview of what issue is it supposed to fix, and why on the example you have to register the fields out of the field itself (on useEffect) and then just leverage the different setters?

[2021-12-29 12:58] vadim-shilov commented on #6679
I faced the same problem when started migration from final-form to RHF. This error occurred on the first input which i tried to rework.

<img width="900" alt="Screenshot 2021-12-29 at 15 53 42" src="https://user-images.githubusercontent.com/37446141/147664537-e2a36621-64ba-421b-a35e-199e47dfee94.png">

react-hook-form: ^7.22.5
typescript: ^4.5.4

[2021-12-29 15:42] domi7777 opened #7390 "issue: isDirty is not accurate in controlled onChange"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-with-material-ui-forked-7qzw6?file=/src/index.js

### Steps to reproduce

### Version
7.22.5

### Codesandbox
https://codesandbox.io/s/react-hook-form-with-material-ui-forked-7qzw6?file=/src/index.js

### How to reproduce
Change the username to any value other than default, revert, see the output in th

[2021-12-29 19:15] SergeyWebDeveloper commented on #7390
@domi7777 , you need to do this outside of `onChange`. Do you agree with this behavior?

https://codesandbox.io/s/react-hook-form-with-material-ui-forked-so213?file=/src/index.js

[2021-12-29 22:00] bluebill1049 commented on #7390
thanks @SergeyWebDeveloper that's correct. formState will be flushed in the next render

[2021-12-29 22:03] bluebill1049 commented on #6679
Going to address and improve TS performance in V8, RFCs:

https://github.com/react-hook-form/react-hook-form/discussions/7354
https://github.com/react-hook-form/react-hook-form/discussions/7389

[2021-12-30 20:28] mmahalwy opened #7399 "issue: adding values to field array via setValue doesnt rerender field array"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/trusting-nobel-nwdmm?file=/src/App.tsx

### Steps to reproduce

1. Click on the add more button at the bottom
2. Click the submit button
3. See console log, you'll notice that there are 2 users in the submission data, but the app did not rerender to show 2 user fields

### Expected behaviour

Since the data will be pa

[2021-12-30 21:22] bluebill1049 commented on #7399
`setValue` is made for setting an input value, not creating new field array input.  I would use append/prepend those dedicated field array methods instead.

[2021-12-30 21:22] #7399 closed

[2021-12-30 22:26] bluebill1049 commented on #5055
will resolve and improve this in v8

https://github.com/react-hook-form/react-hook-form/discussions/7354

[2021-12-30 22:29] bluebill1049 commented on #6243
I think this feature would be difficult because we are not only preventing re-render, we actually omit the computation within each form state if not subscribed, so if you are not reading or give hook form a signal, that extra computation will be shut as well. eg calculate isValid/isDirty and etc.

[2021-12-31 11:24] nishantha-kumara opened #7402 "Form validation not working with React hooks form version 7 with Reactstrap"
### Version Number

7.22

### Codesandbox/Expo snack

https://codesandbox.io/s/ancient-smoke-0ccbn

### Steps to reproduce

Form validation not working with React strap and React hook form version 7.
In the above sandbox project, when I click the submit button without entering the text to the bio input getting an error bio field is required. then when I type on that field, the error message, not d

[2021-12-31 12:04] danielo515 opened #7403 "document that name field on useController is able to target nested values"
**Is your feature request related to a problem? Please describe.**
Hello. This is a documentation issue. I think the useController hook is a bit undocumented.
Since it can be used to create nested components (which is what I'm using it for) one expected feature is that you can target nested values. This is not documented anywhere, but I tested to provide a "path" on the name and it worked as expec

[2021-12-31 12:13] danielo515 opened #7404 "issue: handleSubmit does not reject functions with invalid signature"
### Version Number

7.4.1

### Codesandbox/Expo snack

https://codesandbox.io/s/eager-sun-jt4df?file=/src/App.tsx

### Steps to reproduce

1. useUseForm with some default values so it can infer the expected types
2. provide a function to handleSubmit that does not match the expected signature
3. typescript does not complain

For more details take a look to the provided sandbox

### Expected behavi

[2021-12-31 12:50] ThomasRedstone commented on #3755
I've also run into this, but it is oddly inconsistent - which can leave me with duplicates, and no idea which is the latest value!
I'll substitute the dots now, but it has been a real head scratcher!

[2021-12-31 16:07] felixschorer commented on #7404
`types/form.ts`
[code]

The issue seems to be that `handleSubmit` is not constrained to `TFieldValues`.
`TFieldValues` is just a default type argument which only applies when using `handleSubmit` like this.
[code]
I.e. when the `values` parameter is not annotated with a type.

[2022-01-01 00:49] bluebill1049 commented on #7403
register input name is documented here: https://react-hook-form.com/api/useform/register feel free to send us a PR at the `useController`, if that's not what you after.

[2022-01-01 00:49] #7403 closed

[2022-01-01 00:49] #7402 closed

[2022-01-01 00:49] bluebill1049 commented on #7402
https://github.com/react-hook-form/react-hook-form/issues/2848

[2022-01-01 01:20] bluebill1049 commented on #7404
thanks @felixschorer you are correct. here is the PR to address this issue: https://github.com/react-hook-form/react-hook-form/pull/7405

[2022-01-01 17:06] mufteev commented on #6977
Hi!

I think I experienced this problem again.

My case uses two variables with the following names:
_services_ and _servicesStates_.
[code]

And when watching "services", i get re-render if change "servicesStates".
[code]

I couldn't believe for a long time that this problem had reappeared.
It wasn't until i renamed the variable "servicesStates" -> "states", that I realized it had happened again.

[2022-01-01 18:54] lamotik opened #7408 "issue: Names can't be substrings of each other, causes infinite render loop"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/sweet-rhodes-mk9ho?file=/src/App.js

### Steps to reproduce

Please see example in codesandbox.
I haven't found in documentation that I did something wrong, but it looks like you can't have names in same object where one is a substring in another, e.g. field1 has name 'name', field2 has name 'nameAndSomethingElse'.

[

[2022-01-01 19:48] mufteev commented on #7408
I think it may be related to  https://github.com/react-hook-form/react-hook-form/issues/6977#issuecomment-1003585307

[2022-01-01 20:09] felixschorer commented on #7408
Probable causes: https://github.com/react-hook-form/react-hook-form/search?q=startsWith

[2022-01-01 20:44] mmahalwy commented on #7399
@bluebill1049 But this is a valid bug as it has an unexpected effect. Even if append is the right way to do this, this doesn't behave correctly then

[2022-01-01 21:51] bluebill1049 commented on #6977
thanks @mufteev will look into this issue.

[2022-01-01 22:46] bluebill1049 commented on #7408
This issue is due to

`setValue("nameInOtherLang", name);`  before the render. I am looking more into a solution, but you may want to setValue inside `useEffect` instead of before the render on each function invoke.

[2022-01-01 23:17] bluebill1049 commented on #7408
The investigation is complete, this is expected behavior, by default `useWatch` will match none exact field name which is why we are using `startsWith`. You can resolve the problem with what I supplied above, or simply turn on the `exact` prop, so the blur (`startsWidth`) search will be omitted.

https://codesandbox.io/s/blazing-paper-fipsp?file=/src/App.js

[code]

option B is on the above commen

[2022-01-01 23:18] bluebill1049 commented on #6977
@mufteev you can use `exact: true` to resolve this problem.

[2022-01-01 23:18] #7408 closed

[2022-01-02 11:18] mufteev commented on #6977
It is interesting, but if using name as array in useWatch does not give the desired effect with `exact`. On the contrary, I don't even get the current state.
[code]
After commenting `exact` i get standard behavior

[2022-01-02 11:30] bluebill1049 commented on #6977
@mufteev can you provide some more detail on the above? what's inside the pro names and what's are you try to subscribe to?

[2022-01-02 11:42] bluebill1049 commented on #6977
hmm looks like this issue is not resolved.

[2022-01-02 11:44] #6977 closed

[2022-01-02 11:53] mufteev commented on #6977
I trying to subscribe on array in dynamic component DatePicker, in which there can be either minDate (field name `startDate`) or maxDate (field name `endDate`).

So for subscription may be following array's:
[code]

[2022-01-02 11:59] bluebill1049 commented on #6977
can you try to reproduce this in a codesandbox? are those inputs wrapped with `Controllers` or `useController`?

[2022-01-02 14:34] mufteev commented on #6977
Hi!

Made a small example, if you comment `exact` then you will see a workable form

https://codesandbox.io/s/suspicious-fast-2l4z1?file=/src/components/Text.jsx

[2022-01-02 17:55] lamotik commented on #7408
Great! Thank you!

[2022-01-03 09:43] ISilviu opened #7420 "Form reuses last state when re-rendering"
### Details

I have a page with a dynamic number of forms, as they can be added or removed. The forms' submitted states are held in a list and used as default values when rendering them. The problem appears when I try to remove a form; they somehow keep their previous state when re-rendering.

### Version Number

7.20.2

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-with-ui-

[2022-01-03 09:58] bluebill1049 commented on #7420
This is expected behavior, each useForm holds its own formValues unless the hook gets unmounted.

options:

- useForm({ shouldUnregister: true })
- each form has its own `useForm`
- use `reset` API to reset  the entire form when you switch to a new form.

[2022-01-03 09:58] #7420 closed

[2022-01-03 11:35] danielo515 commented on #4500
Why was this closed without any comment? We also want this check to be included as we use Apollo, which freezes values recursively by default.

[2022-01-03 12:28] ISilviu commented on #7420
@bluebill1049 thank you for the quick answer.

I've figured it out in the end. :+1:

In case anyone else has the same issue: it's not related to react-hook-form, it's related to the fact that I'm mutating the array containing the forms.

As I'm using index as the key, deleting an item will break the indexes and React won't render what we'd be expecting.

[2022-01-03 13:28] valentinbourqui opened #7423 "issue: Error message isn't updated correctly with yup and array"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-array-fields-forked-rxhwk?file=/src/index.js

### Steps to reproduce

1: Open command line to see logs
2: Click on "add friends". You will see on console that there is an error message "friends field must have at least 2 items" and isValid at false which is correct.  :)
3: Click on "add friends" one mo

[2022-01-03 16:39] Brodzko commented on #3981
For those looking for this, the issue still remains with `useWatch` but in my case using `watch` directly instead solved it :)

[2022-01-03 23:31] xahy commented on #3755
It would be great to just switch off the nested attributes to the dot feature.

[2022-01-04 01:41] wdfinch commented on #6697
I noticed this was removed from the features request list. Is this not going to be implemented?

[2022-01-04 02:47] bluebill1049 commented on #6697
yep, due to the complexity of capturing the valid form inputs.

[2022-01-04 02:48] #7404 closed

[2022-01-04 04:56] wdfinch commented on #6697
Aww ok. Isn't this already captured when we add validation using a scheme or via the `rules` prop? I'm just looking for an object that contains the result of all the validation rules I write so I don't need to trigger errors to know which specific fields are invalid. Is there some compromise to make this simpler? It doesn't need to be calculated for inputs that don't have explicit validation rules

[2022-01-04 04:58] wdfinch commented on #6697
This would just really help with wizard forms and large field arrays where every input can't be visible at the same time. I tried the above approach of using separate forms, but sync data and validation state across them get pretty complex and messy. It would really be nice to just keep it one form.

[2022-01-04 04:59] wdfinch commented on #4500
It would be nice but the solution would involve making a deep clone of the form values being passed in which would degrade performance.

[2022-01-04 04:59] wdfinch commented on #4500
Just make a deep clone of the object before you pass it into the form state.

[2022-01-04 05:11] bluebill1049 commented on #6697
@wdfinch I think you forgot the schema validation which is not field level (form level) for field level it's a little bit easier, honestly, I did spend quite a bit of time before moving it out.  I may look into it again later on, but so far it's rather a difficult task to fulfill without a lot more code and complexity to be involved.

[2022-01-04 05:14] bluebill1049 commented on #4500
we are already doing clone with `defaultValues`, https://github.com/react-hook-form/react-hook-form/blob/master/src/logic/createFormControl.ts#L117  we will provide a utility export so you can clone your frozen objects.  https://github.com/react-hook-form/react-hook-form/issues/7279

[2022-01-04 05:16] wdfinch commented on #4500
Sounds good. Ya I've just been using the lodash clone deep method.

[2022-01-04 05:17] wdfinch commented on #6697
Ok, thanks for looking into it.

[2022-01-04 08:52] danielo515 commented on #3539
This problem still happens as reported. Was this "fix" reverted or was never the intention to allow passing `reset` as a click handler and the "fix" was a documentation update?

[2022-01-04 10:34] vikas990 opened #7431 "issue: After updating react-hook-form input are not getting registerd"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/friendly-microservice-wq4w8?file=/components/Form.js:631-638

### Steps to reproduce

1. clone the repo 'https://github.com/vikas990/Mathrithms-test.git'
2. run "npm install"
3. run "npm run dev"
4. See error:-
<img width="1680" alt="Screenshot 2022-01-04 at 4 02 41 PM" src="https://user-images.githubusercontent.com/5

[2022-01-04 10:41] Notaduck commented on #1001
Do you still need the solution?

[2022-01-04 14:03] danielo515 commented on #4500
Is a deep clone for default values? I saw frozen objects in there if I recall correctly

[2022-01-04 15:50] squiaios commented on #2076
Hello @bluebill1049 ,

Is it possible to add this "problem / solution" on your FAQ please ?

[2022-01-05 03:35] gerrod opened #7434 "Manually calling 'onChange' with 'mode: onChange' does not trigger validation"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/silent-breeze-jfrfy

### Steps to reproduce

The form presented has the "Submit" button disabled until the form is both dirty and valid.

[code]

The form has been setup with `mode: onChange`.

1. On the form, check any of the boxes next to one of the days of the week - notice that the submit button is still disabled

[2022-01-05 05:49] bluebill1049 commented on #7434
this is due to `formState` proxy is not been "activated"

`const canSubmit = formState.isDirty && formState.isValid; // formState.isValid is not evaluated as long as the first condition is false`

https://codesandbox.io/s/unruffled-benz-j45pm?file=/src/App.tsx

[code]

[2022-01-05 05:49] #7434 closed

[2022-01-05 06:20] gerrod commented on #7434
Thanks for the explanation @bluebill1049 .

[2022-01-05 12:15] chamabreu opened #7439 "issue: Validate defaultValues if not mounted on useForm()"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/unmountedfieldsvalidation-yssi5?file=/src/index.js

### Steps to reproduce

1. Go to [this Sandbox](https://codesandbox.io/s/unmountedfieldsvalidation-yssi5?file=/src/index.js)
2. Look the default Values in useForm, lastname is only 3 characters, but is validated with minLength 10
3. See the "Form is Valid" label, eve

[2022-01-05 12:19] snacksncode commented on #1001
yes please

[2022-01-05 22:08] bluebill1049 commented on #7439
This is by design and a feature that we only validate inputs that are mounted to the view. Separate your multiple step form to separate forms, so you can validate each step)

[2022-01-05 23:52] firmart commented on #59
@hoshikitsunoda I had exactly the same issue. To solve it, I had to provide the second parameter `onError` to `handleSubmit`.

[2022-01-06 02:45] EdmundsEcho opened #7446 "issue: get.ts triggers path.split not a function error"
### Version Number

7.22.5

### Codesandbox/Expo snack

na

### Steps to reproduce

Using MUI component, I set the `inputRef` prop to the `register` value as follows:

[code]
It worked for literally years.  However, when I updated the `react-form-hook` from `6.0.8` I started to get the following error:

[code]

I'm not sure what guards are in place to make sure the path is in fact a string, but I

[2022-01-06 03:23] bluebill1049 commented on #7446
https://github.com/react-hook-form/react-hook-form/issues/2848

[2022-01-06 03:23] #7446 closed

[2022-01-06 10:40] rnnyrk opened #7451 "issue: Project not building anymore due to "Can't import the named export 'X'" error"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://github.com/rnnyrk/rhf-import-bug

### Steps to reproduce

1. Download the linked repository
2. Run `npm install`
3. Go to `localhost:3000`
4. See the error

### Expected behaviour

I recently tried to update my project to the latest React Hook Form version. Although, since the latest update I run into the errors shown in the log outpu

[2022-01-06 10:43] bluebill1049 commented on #7451
hey, @rnnyrk I think this may due to your build config.

[2022-01-06 12:31] meoyawn opened #7454 "issue: Typescript: Form errors are incorrectly typed when using NewTypes"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/epic-tesla-df1f6?file=/src/App.tsx

### Steps to reproduce

Open CodeSandBox, see lines `40` & `47`

There shouldn't be type errors, since it runs just fine

### Expected behaviour

There are no type errors, since it runs fine

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No resp

[2022-01-06 13:44] rnnyrk commented on #7451
Hmm, if it has something to do with the build config, it's interesting that React Hook Form is the only package affected by it. Will try some stuff with the build config, but what has changed between 7.17 and 7.21 what is causing this issue.

[2022-01-06 14:02] felixschorer commented on #7454
I don't think that is possible. Adding `& NestedValue` to the `EmailAddress` and `Password` types gets rid of the errors, but raises a new error on the resolver property.

@bluebill1049 maybe we should use V8 to examine all usages of `NestedValue` and rewrite all types that depend on it. Introspecting types as in `DeepMap` causes more troubles than it solves.

[2022-01-06 18:53] maxy4u opened #7460 "issue: update is not a function with useFieldArray"
### Version Number

7.8.4

### Codesandbox/Expo snack

https://codesandbox.io/s/usefieldarray-virtual-input-forked-61i7e

### Steps to reproduce

1. Go to https://codesandbox.io/s/usefieldarray-virtual-input-forked-61i7e
2. Click on checkbox and then append it will introduce a new input field with some value.
3. Click on x button next to this conditional input.
4. It will trigger a call to onClear

[2022-01-06 19:31] evocateur commented on #7451
Definitely smells like a Webpack issue, as RHF itself doesn't _have_ a default export. Perhaps `TsconfigPathsPlugin` is breaking it somehow? Or the babel-loader isn't preserving the right module output?

[2022-01-06 21:35] rnnyrk commented on #7451
Thanks for your reply, @evocateur. I've tried using Webpack' aliases instead `TsconfigPathsPlugin`, unfortunately the same issues occurs. Also `babel-loader` has an exclude for node_modules in the Webpack config, so that wouldn't be my guess either. Or something I'm misunderstanding?

[2022-01-06 22:08] bluebill1049 commented on #7460
Please upgrade to the latest version.

[2022-01-06 22:09] #7460 closed

[2022-01-06 22:16] bluebill1049 commented on #7454
This is definitely the thing I was talking about before, input primitive vs with nested value. I don't think I can be solved by `NestedValue` as well. I recommend keeping either primitive or nested value for the input otherwise it's a limitation that I don't think we have a solution for.

[2022-01-06 22:17] #7454 closed

[2022-01-06 22:38] jrafaaael opened #7462 "issue: shouldUseNativeValidation and novalidate not working"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/red-breeze-lqnt3

### Steps to reproduce

1. Provide an invalid value in any input field
2. Submit the input
3. Edit the input with a invalid value, again
4. See the bug
![Screenshot at 2022-01-06 18-30-03](https://user-images.githubusercontent.com/70046023/148461398-83c05997-e624-467d-aa09-9c25ee06e0c0.png)

![Upload

[2022-01-06 23:17] ikevinws opened #7464 "Add `keepIsSubmitSuccessful` option"
**Is your feature request related to a problem? Please describe.**
`isSubmitSuccessful` turns `false` when I pass an object to `reset`.

**Describe the solution you'd like**
I would like an option for `reset` to keep `isSubmitSuccessful`.

**Describe alternatives you've considered**
I can only think of storing the `isSubmitSuccessful` value in a `useState()` before resetting.

**Additional context

[2022-01-07 00:57] bluebill1049 commented on #7464
thanks, putting it into the project backlog.

[2022-01-07 02:06] bluebill1049 commented on #7139
the next version 7.23.0

https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.0
https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.1

[code]

will no longer remove id from user's data.

[2022-01-07 02:06] bluebill1049 commented on #6660
the next version 7.23.0

https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.0
https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.1

[code]

will no longer remove id from user's data.

[2022-01-07 02:07] bluebill1049 commented on #6627
the next version 7.23.0

https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.0
https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.1

[code]

will no longer remove id from user's data.

[2022-01-07 02:07] bluebill1049 commented on #6414
the next version 7.23.0

https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.0
https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.1

[code]

will no longer remove id from user's data.

[2022-01-07 02:07] bluebill1049 commented on #6233
the next version 7.23.0

https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.0
https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.1

[code]

will no longer remove id from user's data.

[2022-01-07 02:07] bluebill1049 commented on #3217
the next version 7.23.0

https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.0
https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.1

[code]

will no longer remove id from user's data.

[2022-01-07 02:08] bluebill1049 commented on #3207
the next version 7.23.0

https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.0
https://github.com/react-hook-form/react-hook-form/releases/tag/v7.23.0-next.1

[code]

will no longer remove id from user's data.

[2022-01-07 02:11] arwinder3 commented on #3207
Thank you so much @bluebill1049 ! super helpful.

[2022-01-07 04:24] sepsol commented on #2315
The solution suggested above doesn't work anymore with `react-hook-form@7.5.3` and `@mui/material@5.2.7`.

I'm sharing my component in case anybody could point out if I'm doing something wrong here:
[code]

And here's the error I'm getting:
[code]

Thanks!

[2022-01-07 09:51] gicontz commented on #7027
I came here to thank you for this issue that gave me an idea in order to solve my problem.
My issue is the `isValid` and `'isDirty` flags are not updating properly during callback functions which made me frustrated on how to track multiple form errors.
I have a single form that has a validation using Yup, and it is used in FE as an array of it.
i tried to solve this on our application and here's w

[2022-01-07 11:14] davidNHK opened #7465 "issue: useController shouldUnregister not working as expected"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://stackblitz.com/edit/react-vkvev9?file=src/App.js

### Steps to reproduce

1. Go to 'Add Member'
2. type 100 on 'Ownership'
3. Unselect  'SR'
4. Select 'AC'
4. Click Submit

### Expected behaviour

form value don't contain percentageOfOwnership

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No resp

[2022-01-07 11:20] bluebill1049 commented on #7465
if the state update is not within useForm or useWatch's useEffect, you will have to invoke `unregister` manually.

[2022-01-07 12:47] nycgavin commented on #6679
on my branch where I installed react hook form, with tsc --extendedDiagnostics I am seeing double the amount of type instantiations than the integration branch, and the compilation time also doubled from 8 secs to 16 seconds and also have massive lag for vscode intellisense, I hope V8 won't have these issues.

[2022-01-07 12:51] valentinbourqui opened #7468 "issue: isValid is updated to true with clearErrors even if there is other errors"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-v7-clearerrors-forked-pt-2-ghwwx?file=/src/index.jsx

### Steps to reproduce

1. Open console log
2. Clear first name errors

Result:  IsValid is at true even if other fields has errors.

This errors is in relation with changes here : https://github.com/react-hook-form/react-hook-form/issues/6834

In t

[2022-01-07 13:00] bluebill1049 commented on #6834
This commit will be reverted.

[2022-01-07 13:30] meoyawn commented on #7454
sad, thanks. I guess this is when people roll their own form libraries 🙂

[2022-01-07 14:28] vrg-success opened #7471 "issue: Validate method with other validate functions"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-get-started-forked-c776y?file=/src/index.js:787-795

### Steps to reproduce

1. Click on "Submit" button
2. Type value "some text" to "exampleRequired" field
3. Click on "Submit" button
4. Type int value "1221"

### Expected behaviour

After 4. step I validation message should be hide and form should a

[2022-01-07 15:10] Jasonkoolman opened #7472 "Create a Proxy for `fieldState` in `useController`"
**Is your feature request related to a problem? Please describe.**
Using `useController` is causing extra (unnecessary) renders in my case as I don't always need access to `fieldState`.

**Describe the solution you'd like**
Make a proxy of `fieldState` here: (https://github.com/react-hook-form/react-hook-form/blob/master/src/useController.ts#L112). The same is already done for `formState`.

**Desc

[2022-01-07 15:19] maxy4u opened #7473 "issue: Warning: Can't perform a React state update on an unmounted component. (when trigger is called)"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/usefieldarray-virtual-input-forked-61i7e

### Steps to reproduce

1. Go to https://codesandbox.io/s/usefieldarray-virtual-input-forked-61i7e?file
2. Click on checkbox
3. click on append
4. Type something in input and click on x button to clear text of input. this will trigger validation.
5. There is a warning thrown i

[2022-01-07 16:29] Chaoste commented on #3132
I'm a bit late to the party but this bug made me struggle for a whole day. The workarounds I tried so far:
- Reset with `setValue` rerenders everything but had some drawbacks like replaying my collapse transitions
- `unregister` and `register` field array again with the dirty values didn't change anything
- I investigated whether it's caused by the cloned DOM node but appears to be not the case. I

[2022-01-07 22:33] bluebill1049 commented on #7471
please refer to the doc on what's returned by `validate` function.

`validate: (val) =>
            /^\d+$/.test(val) ? "" : "Field should contains only int"`

[2022-01-07 22:33] #7471 closed

[2022-01-07 22:36] bluebill1049 commented on #7472
Thanks for the feature request, putting it on the project board.

[2022-01-07 22:36] #7472 closed

[2022-01-07 22:41] bluebill1049 commented on #3132
@Chaoste can you reproduce it in a codesasndbox (not the upload whole project)?

[2022-01-07 23:41] wdfinch opened #7476 "Bug - reset() followed by setValue() does not update field argument in <Controller/> render function for nested fields"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/beautiful-cartwright-43whr?file=/src/App.js

### Steps to reproduce

1. Go to the sandbox
2. Click on the reset button
3. Notice that the values have been reset
4. Click on the set value button
5. Notice that the form values are correct (as indicated by the `watch` method), however, the `field` argument produced by th

[2022-01-07 23:48] bluebill1049 commented on #7476
use `setValue("nested", { first: "newValue" });` setValue is focus on field name level, update group of inputs are just sugar syntax, in this case it's impossible to do check, because it will return none for such field.

[2022-01-07 23:49] bluebill1049 commented on #7476
I will update this in detail in the doc now.

[2022-01-07 23:55] bluebill1049 commented on #7476
![Screen Shot 2022-01-08 at 10 55 19 am](https://user-images.githubusercontent.com/10513364/148621606-aa26694d-a72f-4efc-8645-1c55ab10a2fd.png)
live

[2022-01-07 23:55] #7476 closed

[2022-01-07 23:55] wdfinch commented on #7476
Wow that was fast. Ok thanks so much.

[2022-01-07 23:56] bluebill1049 commented on #7476
you are welcome, thanks for always preparing a detailed issue. it really makes my life a bit easier.

[2022-01-08 08:19] DevDaveJ commented on #3630
@bluebill1049 @JoshuaCS94
Yep. Definitely says **_before_** validation in the documentation...

![image](https://user-images.githubusercontent.com/68554476/148637293-c9b90fa1-66e1-480a-b218-3d2e5f4dfb0b.png)

[2022-01-08 08:21] DevDaveJ commented on #3630
Nope. Don't need it for validation, in my use case I want to trim leading and trailing whitespace **_before_** validation.

[2022-01-09 16:53] nmenal commented on #3755
@bluebill1049 are you planing on implementing this request please ?

[2022-01-09 22:11] bluebill1049 commented on #3755
If you need this feature, you can use V3/v4 which is a flat structure. Going forward this feature is not compatible with TS(type safe) and will not be worked on.

[2022-01-10 04:04] dayhaysoos opened #7478 "issue: append issue with data is not iterable"
### Version Number

7.11.0

### Codesandbox/Expo snack

https://codesandbox.io/s/silly-joana-u51tu?file=/src/ContributionInput.js

### Steps to reproduce

I actually have no idea how to reproduce, the Code Sandbox works as expected, however, when I try adding a field in my project I get an error when I run `append` that says "data is not iterable".

### Expected behaviour

It's actually behaving a

[2022-01-10 04:17] bluebill1049 commented on #7478
hey @dayhaysoos any chance to upgrade to the latest and see if this issue still persist?

[2022-01-10 04:40] dayhaysoos commented on #7478
Omg @bluebill1049  it works after upgrading to latest! I hate myself for not checking this on my own holy shit!!

Thank you so much

[2022-01-10 04:41] bluebill1049 commented on #7478
haha, awesome (sorry for the buggy old version)! no worries, I am glad it worked out.

[2022-01-10 05:21] squiaios opened #7479 "issue: useController / Controller : Bad value returned"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/wispy-mountain-cmh3v

### Steps to reproduce

Hello folks,

I have a bug (or I missing something) about `useController`. The value returned is not good

1. Initialize form with 2 attributes with empty string
2. when component is mounted, I reset these 2 fields (in my case I receive data from external source)
3. I chan

[2022-01-10 05:28] bluebill1049 commented on #7479
I don't get the issue in here: what's ` Bad value returned`? and what's the expected result?

[2022-01-10 05:30] squiaios commented on #7479
If the local used is English, I expect to have "Hello" in input, but if I
change the locale to French, I expect to have "Bonjour" in input

Le lun. 10 janv. 2022 à 06:29, Bill ***@***.***> a écrit :

--

[2022-01-10 07:47] Chaoste commented on #3132
Sorry, I tried to reproduce it without `react-sortable-hoc` in a codesandbox but failed. I just wanted to share my experiences so far since I believe that others might run into the same issue. But I can't explain exactly where this originates from. Maybe, I will spend another few hours soon and reproduce it in a sandbox.

[2022-01-10 11:42] olesmarola opened #7486 "issue: useFieldArray `remove` method broken. Can't remove items."
### Version Number

7.22.5

### Codesandbox/Expo snack

https://cln.sh/vyxgoM

### Steps to reproduce

Can't reproduce on Codesandbox. But have a video with the example of the issue. My code:

empty state for this component:

`const emptyDocument: ISupportingDocument = { name: '', path: '', _id: '' };`

[code]

and use it:

[code]

### Expected behaviour

Expected fully remove the object from the

[2022-01-10 14:39] dayhaysoos commented on #7478
I'm so sorry to open this backup! Before this error was happening when I used `append`. Now it only happens when I use `remove`.

In the code sandbox example, this error doesn't show for either.

To answer @bluebill1049 questions from earlier:

I'm not passing `onClick={append}`

I don't think I'm using a reference variable.

The actual code I have is in the code sandbox, unless there is more you'

[2022-01-10 15:42] karenscheng commented on #4874
Hi @Huuums - I'm stuck on this still and not quite sure what the nested value documentation points to in terms of a solution, could you share exactly how you fixed this problem?

I currently have this in my code:

[code]

And I get the TS error: `Property 'type' does not exist on type '(FieldError | undefined)[]'`

However when I console log the object errors I get the object:

[code]

[2022-01-10 18:28] ribeaud opened #7488 "issue: unknown issue with data transform"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://gitlab.com/biomedit/next-widgets/-/commit/6c4e1480402700fd08f375d0151ef4760a6ad81a

### Steps to reproduce

Hello folks,

sorry, this is my first bug report in **React** world and I am not very used to **Codesandbox**. For me it was quicker providing an example in a dedicated branch of our project. I hope this is OK.

In the link abov

[2022-01-10 18:35] madhubabu-sureify commented on #3405
@bluebill1049
const disableContinue = () => {
    if (!watch('firstName','').trim() || !watch('lastName','').trim()) return true;
    if (!watch('nameChangeReason','')) return true;
    if (watch('nameChangeReason') === 'Other') {
      if (!watch('nameChangeOtherReason','').trim()) return true;
    }
    return false;
  };

if i select other from dropdown, it is causing TypeError: Cannot read pro

[2022-01-10 22:34] bluebill1049 commented on #7488
I don't think we have used functionality, which is potentially an edge case which you are running to. The only commit which could be related to is this: https://github.com/react-hook-form/react-hook-form/commit/8e6c495737c4df67706d4f134141b000975dbd99 which is the correct fix for the issue and pass all our tests.

i have also seen consume logic inside your component which worth for you to double-c

[2022-01-10 22:35] bluebill1049 commented on #7478
@dayhaysoos can you share your entire code for the `useFieldArray` usage? If it's private you can send to me privately with twitter DM as well.

[2022-01-10 22:59] dayhaysoos commented on #7478
Hey @bluebill1049, I'm really confused because everything I am doing with useField Array is in the code sandbox I sent, but let me gather a bunch of gists for you:

This is where I'm using `useFieldArray`:

https://gist.github.com/dayhaysoos/c64ebef70480914a0bbdb991b1426c64

I also have this set up in a create page (I'm using Next.js).

WARNING!

The code here is super embarrassing haha, all you n

[2022-01-10 23:06] bluebill1049 commented on #7478
hahaha, that's most of my code anyhow

I will take a look at it during my lunch break. don't over stress on this 👍

[2022-01-10 23:09] dayhaysoos commented on #7478
I appreciate you! I've been trying really hard to solve on my own, wouldn't be here if I wasn't losing my shit haha. I will focus on other parts of my form in the mean time!

[2022-01-10 23:09] bluebill1049 commented on #7478
hahaha i think i found out the issue!

[2022-01-10 23:11] bluebill1049 commented on #7478
please remove those "bad boys" into it's own components: https://gist.github.com/dayhaysoos/535c863ba3e906043c5ff82f7fd0aac3#file-create-js-L143-L211

you are basically `unmount` and `re-mount` all those components on each re-render.

[2022-01-10 23:15] dayhaysoos commented on #7478
Oohh okay, so perhaps the form itself should be within the <Container /> component below, and everything that updates and re-renders should be inside the form. Is that what you meant? @bluebill1049

Gonna start reworking it right now!

[2022-01-10 23:18] bluebill1049 commented on #7478
[code]

[code]

[2022-01-10 23:35] dayhaysoos commented on #7478
okay so I updated the gist with what I have now. Those two components now exist outside the original component, but still in the same file:

https://gist.github.com/dayhaysoos/535c863ba3e906043c5ff82f7fd0aac3

I'm still getting the `data is not iterable` error when I remove, only.

I just realized something, though! I am passing `useForm` in different instances of `<FormBuilder />`.

I think I sho

[2022-01-10 23:37] dayhaysoos commented on #7478
False alarm, I was passing `useForm` before but I stopped using it and never removed the prop T_T

[2022-01-10 23:41] bluebill1049 commented on #7478
see those guys still get mount and unmounted

https://gist.github.com/dayhaysoos/535c863ba3e906043c5ff82f7fd0aac3#file-create-js-L130-L170

[2022-01-10 23:46] dayhaysoos commented on #7478
Ahh, okay so what would be the best practice for a form where you're stepping through different fields? Vid for context:

https://www.loom.com/share/d860781ce9cf4f1ea2804d7c1eba2626

[2022-01-10 23:52] PraveenPeri commented on #2655
Given that we know if the underlying component supports 'disabled' prop, how can we add the prop to the <Controller /> in typescript? Any suggestions there?

[2022-01-10 23:57] bluebill1049 commented on #7478
- your first issue is component within component which result remount and unmount each re-render
- the second issue is here:
[code]

This variable will get initialized on each render which leads to unmount and remount again and again as well.

## solutions

1. here is a solution of mine: https://react-hook-form.com/advanced-usage#WizardFormFunnel making each step a form
2. Move the variable of com

[2022-01-11 00:17] dayhaysoos commented on #7478
Okay, thank you! I wish getting this working was as easy as removing the variable, but I think I might have to install React Router or something, this might take me some time but I really appreciate your help.

Will keep you updated on how it goes

[2022-01-11 01:24] bluebill1049 commented on #7478
@dayhaysoos you don't need react-router, there is `push` in nextjs. Also, this variable issue can be resolved without removing it.

[code]

[2022-01-11 02:59] dayhaysoos commented on #7478
@bluebill1049 okay, I might be fundamentally not understanding something about React 😅

So what I'm about to try is:

[code]

And then I have a FormSwitcher component (I think this is what you meant)

[code]

This pretty much gives me the same results I've already had, the one thing I haven't incorporated is any kind of routing with React Router DOM or next/router. This is how I'm returning things

[2022-01-11 05:21] bluebill1049 commented on #7478
could you follow this codesandbox? https://codesandbox.io/s/distracted-sun-xm5ho?file=/src/App.js

[code]

[2022-01-11 05:45] dayhaysoos commented on #7478
I'll try tomorrow, thanks, Bill!

[2022-01-11 07:38] nospoon27 opened #7490 "issue: It seems to me that section "Custom Hook with Resolver" example is not working"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/custom-hook-with-resolver-v7-forked-ov2wp

### Steps to reproduce

1. Go to [example](https://codesandbox.io/s/custom-hook-with-resolver-v7-forked-ov2wp)
2. Click on "submit"
3. Open console logs
4. You should see errors in the logs, but we see undefined value

### Expected behaviour

We should see the object with err

[2022-01-11 08:14] #7490 closed

[2022-01-11 08:14] bluebill1049 commented on #7490
please read the doc on fromState: errors

[2022-01-11 10:30] ribeaud commented on #7488
Hi @bluebill1049. Thanks for your answer.

The commit you pointed to is the one I came across as well (although I do not fully understand which role exactly it should be playing in my case).

What do you mean exactly? Is this new? What would be the right behaviour then?

[2022-01-11 10:59] bluebill1049 commented on #7488
No, that's not new. This is by design from the very beginning.

[2022-01-11 13:52] SasSam opened #7492 "issue: Controller doesn't respect other Controllers"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-issue-with-react-datepicker-08mhc

### Steps to reproduce

1. Open modal by clicking on the "show modal" button
2. Click on the "Submit" button (all fields marked as invalid)
3. Select a date in the Main date (all date fields marked as valid)

### Expected behaviour

Facts:

- The project is using `Con

[2022-01-11 13:53] ribeaud commented on #7488
Thank you for the reminder.

I managed to create a **Codesandbox** [example](https://codesandbox.io/s/vigorous-merkle-o4jeb) reproducing my problem:
1. Click on _Submit_: `{hiddenField: "Hello"}` is displayed
1. Click on _Change_, followed by a _Submit_ click: `{hiddenField: undefined}` is displayed
1. Adapt **react-hook-form** version to _7.22.5_ and repeat first two steps

I am not saying that t

[2022-01-11 14:21] TonyVeigel opened #7495 "issue: Reset causes infinity loop with default props"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-basic-forked-4krvg?file=/src/index.js

### Steps to reproduce

Once you get to the page you are in an infinity loop.

### Expected behaviour

There should be no infinity loop.

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### Code of Conduct

[2022-01-11 15:27] santino commented on #4016
Hi @bluebill1049 ,
I was wondering what happen to this card since it's no longer visible on the project board after being removed from the "pending feature requests" column.

[2022-01-11 17:07] eliseumds commented on #4016
@santino I've been forward to this feature too.

[2022-01-11 19:17] dayhaysoos commented on #7478
Hey @bluebill1049, I made updates that are more similar to what you provided.

For some reason I'm still getting this error of `data is not iterable` when I try to use `remove()`.

I played around with it, and despite seeing that error, it still seems to manage the data as expected. Everything seems to work fine in the code sandboxes and I can't figure out what's going on on my end.

I think I mig

[2022-01-11 21:27] chrismcleod opened #7498 "issue: React-Native does not work"
### Version Number

7

### Codesandbox/Expo snack

https://snack.expo.dev/@bluebill1049/react-hook-form-v7---controller

### Steps to reproduce

1. Go to the example linked in this repository for React Native https://snack.expo.dev/@bluebill1049/react-hook-form-v7---controller
2. Click on iOS
3. change line 41 to `<Text style={styles.label}>Last name {errors.lastName?.message}</Text>`
4. Type a le

[2022-01-11 21:45] chrismcleod commented on #7498
actually seems to only happen in a react-native app that isn't using expo.  I don't have a sufficient example, so I'm closing for now.

[2022-01-11 21:45] #7498 closed

[2022-01-11 22:00] bluebill1049 commented on #7495
please refer to react doc on useEffect, this is not related to hook form

[2022-01-11 22:00] #7495 closed

[2022-01-11 22:32] bluebill1049 commented on #7478
Hey, @dayhaysoos no worries about the investigation. I don't consider it as time waste 👍 This is really strange why it throws this error, I am considering shallow the error inside the library but it doesn't feel right to me why this is happening in the first place. Consider we have a huge list of tests both unit and automation and none of them caught this strange case. I will have a look at your g

[2022-01-11 22:37] dayhaysoos commented on #7478
okay!

I do have some really weird/complex things going on with my <FormBuilder />.. I think I'm going to get rid of the logic I'm using to automatically build forms and make them individual components. It's going to be a lot of work but perhaps somehow, somewhere , the issue will be addressed. Will report back.

I agree, doesn't feel right to swallow the error, especially considering that all cod

[2022-01-11 23:10] spacenate opened #7500 "support register with uncontrolled dynamic checkboxes"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/quiet-morning-678cv?file=/src/App.tsx

### Steps to reproduce

1. Go to [the CSB](https://codesandbox.io/s/quiet-morning-678cv?file=/src/App.tsx) (or this [alternate example](https://codesandbox.io/s/hungry-night-kn5nt?file=/src/App.tsx)).
2. Compare the `defaultValues` to the rendered checkboxes, and see checkbox "A"

[2022-01-12 00:27] stephan-noel-primer opened #7502 "issue: Outdated docs with regards to defaultValue for useFieldArray"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-fieldsarray-yup-validation-min-length-forked-bcnd2?file=/src/index.js

### Steps to reproduce

1. See initial render with useFieldArray and what defaultValue is passed in to the input.  Default value on input is ignored and useForm defaultValues is respected ("hello" is shown instead of "hi")

### Expe

[2022-01-12 00:57] bluebill1049 commented on #7488
I can confirm the issue was fixed by: https://github.com/react-hook-form/react-hook-form/discussions/7341 and this is correct and expected behavior. It was "working" due to the bug inside the codebase, and as the documentation stated `undefined` is going to have another issue in your application with react hook form.

### why

`undefined` is reserved for input doesn't have a `defaultValue`, which

[2022-01-12 01:01] bluebill1049 commented on #7500
Thanks for the issue report and especially the PR by looking into the issue itself. However, I think it's better to have either `defaultValues` or `defaultValue/defeaultChecked` as what we documented, that way it's clear on your input value's source of truth. The same reason why we did for in build validation or resolver. you should use either one of them, rather mix them up.

[2022-01-12 01:19] dayhaysoos commented on #7478
Hey @bluebill1049 !!! I've got great news! With the refactor I'm doing, the error doesn't exist when I run `add` OR `remove`

I still don't fully understand what was wrong but it definitely had something to do with the way I set up my "form builder" component. It was only an issue for the dynamic form I was trying to make.

My new issue now is, for some reason, my input fields aren't applying the

[2022-01-12 01:22] bluebill1049 commented on #7478
nice! if your data is async, you should use `reset` at `useEffect` :) it may resolve your issue.

[2022-01-12 01:30] dayhaysoos commented on #7478
@bluebill1049  actually my error was there because I spelled something wrong :D

I am so happy to get through this! This page itself is a little more complicated than basic forms, I need to add back file uploading (I already have this down) and add another dynamic form input. I think it's okay for me to close this, but I'ma leave it open until I'm done with this page, just in case.

Thank you so m

[2022-01-12 01:30] spacenate commented on #7500
Thanks for your quick reply. I agree it is reasonable to use `defaultValue` as the source of truth, and omit `defaultChecked` completely.

What are your thoughts on the alternate scenario, where a `defaultValue` of `[]` results in single checkbox being checked? (https://codesandbox.io/s/hungry-night-kn5nt?file=/src/App.tsx)

My use-case is a dynamically-generated list of checkboxes, where 1 is a v

[2022-01-12 01:54] bluebill1049 commented on #7500
In such a case, I think it makes sense to build a controlled component (which is the strength) to host those checked values and use `Controller/useController` to collect and validate the value.

[2022-01-12 09:45] Moshyfawn opened #7506 "issue: setValue with shouldDirty and shouldTouch combine not update state correctly"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/should-dirty-fail-qnsfm

### Steps to reproduce

1. Go to [codesandbox](https://codesandbox.io/s/should-dirty-fail-qnsfm)
2. Click on "John" button
3. See `firstName` input `Dirty` field in devtools not set to true

### Expected behaviour

The `firstName` field is set as **dirty**

### What browsers are you seeing the

[2022-01-12 09:50] bluebill1049 commented on #7506
thank you @Moshyfawn.

[2022-01-12 10:06] mysuf opened #7507 "optimization: onChange reference cause re-renders"
### Version Number

7.22.5

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-v7-controller-forked-wjzh8

### Steps to reproduce

1. write into React Input Mask
2. watch console => every React Input Mask change generates new onChange reference

### Expected behaviour

onChange reference changes even when FormContext is used (without changing value). I would be curious what depen

[2022-01-12 10:08] bluebill1049 commented on #7507
Currenlty, we do not memorize onChange, onBlur which pass down by the controller/useController, and the re-render is isolated at the component level.

[2022-01-12 10:08] #7507 closed

[2022-01-12 10:13] bluebill1049 commented on #7507
you can upvote this feature request: https://github.com/react-hook-form/react-hook-form/issues/6435

[2022-01-12 11:04] bluebill1049 commented on #7506
fixed: https://github.com/react-hook-form/react-hook-form/pull/7508

[2022-01-12 11:04] #7506 closed

[2022-01-12 12:56] lecoqjacob commented on #7506
I believe the issue is still occuring. Using the sandbox from above and changing the react-hook-version to `v7.230` it still doesnt set both

[2022-01-12 13:01] TonyVeigel commented on #7495
@bluebill1049

This has nothing to do with useEffect. You should refer to the react docs yourself, this is the second time as code owners you don't know how the basics of how React works; I also created a bug for the last time. DefaultParam is a dependency, useEffect should only run if defaultParam is updated. Why is reset() updating defaultParam?

If you need another example replace reset() with

[2022-01-12 13:13] Moshyfawn commented on #7506
Yep, I thought it's the Codesandbox package versions cache issue, but can reproduce in a local environment

[2022-01-12 13:34] anticol opened #7510 "issue: Firefox: can not change text input after submit when error ocures"
### Version Number

6.15.4

### Steps to reproduce

When I submit form with one input which has reg ex pattern for validation and mode: 'onSubmit' I can not edit input value when error occurs. Only happens on Firefox (Chrome and Safari are working)

### Expected behaviour

Edit input value after validation error occurs.

### What browsers are you seeing the problem on?

_No response_

### Relevant

[2022-01-12 14:21] Moshyfawn commented on #7510
Can't reproduce

**Browser:** Firefox 97.0b2 _(64-bit)_
**Package version:** 6.15.4

[Check out this codesandbox](https://codesandbox.io/s/pattern-input-validation-x4jo1) to see if there's something you're doing differently

[2022-01-12 17:42] lecoqjacob opened #7513 "issue: setValue with shouldDirty and shouldTouch combine not update state correctly"
### Version Number

7.23.0

### Codesandbox/Expo snack

https://codesandbox.io/s/should-dirty-fail-qnsfm

### Steps to reproduce

See code sandbox for referece

### Expected behaviour

using `setValue` with options `{ shouldDirty: true, shouldTouch: true }` should set the field to be touched and dirty.

Reference to earlier error #7506

This was bug fixed this morning, but the error is still occur

[2022-01-12 19:43] spacenate commented on #7500
I think that sounds like a fine alternate solution (workaround). As a consumer of this library, I would still argue that `defaultValues: { checkbox: [] }` causing a single checkbox to be checked by default is **unexpected** (and thus is a bug).

Reasoning:

- react-hook-form explicitly distinguishes itself from competing libraries by using (and **encouraging** the use of) uncontrolled form compone

[2022-01-12 21:04] bouzlibop opened #7514 "issue: resetField and setValue change unregistered field behaviour"
### Version Number

7.23.0

### Codesandbox/Expo snack

https://codesandbox.io/s/distracted-morning-2o26h?file=/src/App.js

### Steps to reproduce

1. Enter some value into the input field.
2. Submit the form. Notice the expected values: `{ type: <type> }`
3. Click "Reset" button.
4. Submit the form. This time notice that the submitted changed: `{ type: <type>, labels: [] }`

### Expected behaviou

[2022-01-12 21:06] dairyisscary opened #7515 "issue: Radio Inputs Do Not Register Correctly In React Portals"
### Version Number

7.23.0

### Codesandbox/Expo snack

https://codesandbox.io/s/sharp-joliot-5cb75?file=/src/App.js

### Steps to reproduce

1. Use sandbox, observe the same form rendered twice, once normally and once in a portal.
2. The normal form works fine but the portaled form only allows the _last_ option to be registered. use the submit button to see this in action

### Expected behaviour

[2022-01-12 21:47] bluebill1049 commented on #7510
thank you @Moshyfawn

[2022-01-12 21:48] bluebill1049 commented on #7513
thanks fixed last night will release in the next patch: https://github.com/react-hook-form/react-hook-form/commit/124e00ff9f447905c03024f242fbda0071b6958f

[2022-01-12 21:48] #7513 closed

[2022-01-12 21:51] bluebill1049 commented on #7515
yea, thanks for the invetigation. I think we will take a hit as a limitation with portal usage. work around using `Controller/useController` to solve this problem.

[2022-01-12 21:54] bluebill1049 commented on #7506
not released yet.

[2022-01-12 22:06] bluebill1049 commented on #7514
`resetField` will reset input value to `defaultValue`. This API no context of input is mount or not, and simply reset it back to its defaultValue.

[2022-01-12 23:08] bluebill1049 commented on #7500
thanks, @spacenate for your detailed feedback above and appreciate your input and even include solutions and potential fixes (consider most of the users only here to report without giving that much attention to detail and provide fixes). At the moment, we don't support dynamic checkboxes/radios with uncontrolled input, because the original intention was made for static checkboxes and radios, if us

[2022-01-13 02:47] ACPK opened #7518 "enable trigger to get invoked inside custom onChange"
### Version Number

7.23.0

### Codesandbox/Expo snack

https://codesandbox.io/s/react-hook-form-s6634?file=/src/App.js

### Steps to reproduce

1. Go to https://codesandbox.io/s/react-hook-form-s6634?file=/src/App.js
2. Start typing in 1, 2, 3, 4, 5, and 6 in the input field (i.e. 123456)
3. You'll see the maxLength error messaged  that should be called by ```onChange``` doesn't show up until you

[2022-01-13 03:03] bluebill1049 commented on #7518
actually, we maybe able move the value update ahead of custom `onChange`... will have a look at it tonight.

[2022-01-13 03:15] mmahalwy commented on #7472
+1

[2022-01-13 03:32] ACPK commented on #7518
Thank you @bluebill1049.

I was going utilize `useWatch` but had two questions. In my fork (link below), is it problematic that `console.log("test");` ran twice even before the field changed? My goal is to query our search endpoint for an autocomplete box below the input field when the field is valid.

https://codesandbox.io/s/react-hook-form-v7-usewatch-forked-lidpw?file=/src/index.js:600-862

[2022-01-13 03:35] bluebill1049 commented on #7518
why not just set the mode to 'onChange'?

[2022-01-13 04:08] ACPK commented on #7518
How do I pass a function to onChange so it runs only when the field is
valid?

On Wed, Jan 12, 2022 at 10:36 PM Bill ***@***.***> wrote:

--
Andrew CP Kelley
VP of Engineering, Invite Education
<https://www.inviteeducation.com?utm_source?ak_email>
617.807.0320

[2022-01-13 04:18] ACPK commented on #7518
@bluebill1049 In the example above, mode is currently set to `onChange`. I would like to run a function only when user makes valid changes to an input field because I love the work your team has done in regards validations.

[2022-01-13 06:10] #7515 closed

[2022-01-13 06:11] #7510 closed

[2022-01-13 06:18] #7518 closed