[2020-07-15 08:16] bluebill1049 commented on #2233
Are you sure? https://codesandbox.io/s/react-hook-form-v6-clearerrors-887rh?file=/src/index.jsx can you reproduce this in a codesandbox?

[2020-07-15 08:21] bluebill1049 commented on #2222
It doesn't inject into yup's context, instead you will have to use in the resolver, maybe we should inject that into the yup context and make people's life easier.

[code]

[2020-07-15 08:22] bluebill1049 commented on #2222
inject context into yup's context would be a PR at the resolver if you interested.

[2020-07-15 08:25] astritspanca commented on #2233
**I just deleted and re-installed node_modules and now it works perfectly.**

Sorry for the issue. Any way i can delete this?

[2020-07-15 08:35] Vandell63 commented on #2222
@bluebill1049  thanks, first pr for me i will try :).

[2020-07-15 08:38] bluebill1049 commented on #2233
aha all good mate 👍 thank you

[2020-07-15 08:38] #2233 closed

[2020-07-15 08:53] bluebill1049 commented on #2223
What do you mean to edit something? if you want to update a single field/cell, yes you can use `setValue`.

[2020-07-15 09:06] pixel-mattp commented on #2219
You can see the effect if you open the DevTool in the top right.  Apologies I should have made that clear.
You can see that the bottom link correctly sets the value, but the top one does not.

[2020-07-15 09:16] martinfrancois commented on #2217
@bluebill1049 sorry, you may be right, I could have forgotten to save the CSB, it should be correct now:
https://codesandbox.io/s/react-hook-form-useform-template-t597v?file=/src/index.js

[2020-07-15 09:17] martinfrancois commented on #2217
And yes I read it, I'm just not sure if maybe the docs are not clear enough or I just misunderstood them.

[2020-07-15 09:19] #2229 closed

[2020-07-15 09:20] bluebill1049 commented on #2217
no worries, i will take a look at it.

[2020-07-15 09:29] bluebill1049 commented on #2219
oh i see! it's a devtool bug.

[2020-07-15 09:36] bluebill1049 commented on #2217
thanks valid bug, looks like i broke it.

[2020-07-15 09:39] bluebill1049 commented on #2217
oh man, I thought I broke it lucky it was a cached version. let's see if we can improve the doc on this.

so for mode: 'onBlur' means the validation will only trigger on blur
'reValidateMode' means after submit, validation will trigger on change.

let me know if there are any keywords we can emphasis to improve the doc.

[2020-07-15 11:47] smashercosmo opened #2237 "After reseting date input with undefined, onChange callback doesn't get triggered after selecting previously selected value"
**Describe the bug**
Honestly I'm not 100% sure that this is a problem with react-hook-form, but looks like it.
After you reset date input with undefined, the onChange callback doesn't get triggered when selecting previously selected value.

**To Reproduce**
1. Go to https://codesandbox.io/s/react-hook-form-useform-template-6xxfr?file=/src/index.js
2. Select any date from date input
3. There will

[2020-07-15 11:50] smashercosmo commented on #2237
Forgot to mention: if you reset field with 'null', everything works.

[2020-07-15 11:57] bluebill1049 commented on #2237
don't reset to undefined, you should do empty `string` for input. this is not an issue with this lib.

[2020-07-15 11:58] smashercosmo commented on #2237
Alright) Interesting though, that reseting to undefined works with other input types and with select field

[2020-07-15 11:58] #2237 closed

[2020-07-15 12:01] bluebill1049 commented on #2237
try an input with `e.target.value = undefined` and you will see what i meant

[2020-07-15 12:04] smashercosmo commented on #2237
Thanks :)

[2020-07-15 12:39] IreneIrene commented on #2221
@bluebill1049 , thank you

[2020-07-15 12:39] giovanicascaes commented on #2202
Do you mean that way: https://codesandbox.io/s/react-hook-form-v6-clearerrors-tx1t0?file=/src/index.jsx
?

It works exactly as I want, but I couldn't get checkboxes working.

[2020-07-15 14:07] martinfrancois commented on #2217
Ahhh I see... So if `reValidateMode` kind of changes the `mode` to be equal to what is set to `reValidateMode` (temporarily) after the first time the form was submitted?

On another note in this case, would it be possible somehow to configure a behavior like this? So that the field would be validated `onBlur` first, and after the error appeared on the field it will be validated `onChange`? I see t

[2020-07-15 14:15] ghostd opened #2239 "Potential regression with `watch`?"
Hi,

I upgraded from 6.0.1 to 6.0.6 and i get this error:
[code]

My code calls `watch` on a `Controller`ed field (a react-select component with **no options**). Since there is no options, the value seems to be `null`, which is passed to the `getPath` helper function. `null` is not an array, and the code seems calling `Object.entries` with null:
https://github.com/react-hook-form/react-hook-form/b

[2020-07-15 14:20] ghostd commented on #2239
I downgraded to 6.0.5 and it works. My code only breaks with the version 6.0.6.

[2020-07-15 14:39] poeticninja opened #2240 "remove doesnt work on useFieldArray when reset has been done on form"
**Describe the bug**
Hello! I hope you are doing well!

The form does not remove the data but the UI elements are removed when using `useFieldArray` after a `reset` has been done on the form. If I provide the data as `defaultValues` instead of the reset, when I remove an item, it works as intended.

**To Reproduce**
Steps to reproduce the behavior:
1. After the form has loaded, hit submit.
2. You

[2020-07-15 14:49] harrisrobin opened #2241 "[v6.0.6] Bug: Checkboxes are always being cast to strings despite providing boolean default value."
**Describe the bug**
I'm trying to use react-hook-form with checkboxes and even though the default values for said checkboxes are all booleans (false), as soon as I interact with the checkbox the form value gets cast to a string. I was able to reproduce this fully in the codesandbox below.

**To Reproduce**
1. Create checkbox components with default values that are booleans
2. watch the values
3.

[2020-07-15 15:04] martinfrancois opened #2242 "data in handleSubmit doesn't update after reset when using useFieldArray"
**Describe the bug**
When using `useFieldArray`, when `reset(resetData)` is called, even when changes are made to fields, when calling `handleSubmit`, the data is used from the last time the form is reset. When making changes to fields and not using reset however, it still works as expected. Only after calling `reset(resetData)` it seems like it gets stuck at whatever `resetData` is.

**To Reprodu

[2020-07-15 15:07] martinfrancois commented on #2242
Just noticed this issue was fixed in 6.0.6 as well, closing the issue.
In case you are having this issue, just upgrade to version 6.0.6

[2020-07-15 15:07] #2242 closed

[2020-07-15 16:55] eltoro commented on #1616
Is it possible to use useComboBox from DownShift in the same way? I get undefined as the value using the above example with useComboBox.

[2020-07-15 18:53] harrisrobin commented on #2241
@bluebill1049 I can confirm this is a regression because if I downgrade back to 6.0.1, I don't have this problem anymore:
<img width="768" alt="image" src="https://user-images.githubusercontent.com/3880008/87584036-df38c100-c6aa-11ea-84e7-8e0946da2175.png">

I'm re-updating to latest in the code sandbox for you to look at, just figured this information would be helpful.

[2020-07-15 19:18] chranderson commented on #2241
@harrisrobin - I agree this looks like a regression related to the `Controller` component.
 I had a similar issue using rendering `<input type="checkbox" {...}>` inside a custom component via the `Controller` component.

**using v6.0.6**
- The checkbox input value is being changed to `'on'` instead of a `boolean` and the `Controller` component is passing props: `{onBlur, onChange, value}` to the c

[2020-07-15 19:25] chranderson commented on #2241
looks like it might be related to this update, but I did not see this mentioned in the docs anywhere.
https://github.com/react-hook-form/react-hook-form/pull/2140#issue-447145164

[2020-07-15 19:30] Sphinxs commented on #459
Here's my solution:

[code]

[2020-07-15 20:01] harrisrobin commented on #2241
I think the fact that it behaves differently when it comes to booleans in render prop vs not is going to confuse a lot of people.

[2020-07-15 21:57] joaojmendes opened #2244 "Support to Fluent-UI react controls (office-ui-fabric-react)"
Please advise how to use with Fluent-UI React Controls, give some examples.

Thank you!

[2020-07-15 22:46] cnshenj opened #2245 "UnpackNestedValue can't handle Date type properly"
**Describe the bug**
Usually this is a `onSubmit` that works:
[code]
Without changing anything else. Just add a property to `TData` that is of type `Date`, TypeScript will throw an error.
[code]

**To Reproduce**
See the error that is marked by TS compiler in CodeSandbox link.

**Codesandbox link (Required)**
[https://codesandbox.io/s/angry-beaver-tm68w?file=/src/App.tsx](https://codesandbox.io/s/

[2020-07-15 23:05] bluebill1049 commented on #2239
can you reproduce in a codesandbox?

[2020-07-15 23:08] bluebill1049 commented on #2244
provide a codesandbox see if we can help.

[2020-07-15 23:08] #2244 closed

[2020-07-15 23:10] bluebill1049 commented on #1616
@sarbazx the csb is been updated.

[2020-07-15 23:15] bluebill1049 commented on #459
@Sphinxs try to use `Controller` render prop, it's pretty simple.

[2020-07-15 23:16] Sphinxs commented on #459
Yeah, I tried, actually with `render` and 'as`

[2020-07-15 23:18] bluebill1049 commented on #459
There is an example here: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

[2020-07-15 23:44] bluebill1049 commented on #2241
Those concerns above are all valid.

Another reason is it leads to a bug (user reported) whenever a boolean value gets passes down, how Controller determines a checkbox is too vague. That's why `as` will simply pass down `onChange, onBlur, value` nothing more, for other usages like `checkbox` always stick with `rerender`, that gives you transparency and freedom on how you wire up your external com

[2020-07-15 23:45] #2201 closed

[2020-07-15 23:46] bluebill1049 commented on #2202
What do you mean checkboxes? I couldn't see them in your CSB.

[2020-07-15 23:52] bluebill1049 commented on #2217
Thanks for your detailed feedback in terms of when to trigger validation. I don't think we will make any change to the validation behavior as this is most likely lead to a breaking change. however, RHF is flexible, you can set both `mode` to `onSubmit` and trigger validation accordingly, or simply always trigger the `errors` and use form state to filter when to display `errors`. in terms of doc im

[2020-07-16 00:28] bluebill1049 commented on #2239
Think i found the root cause, please supply a codesandbox if what i am thinking it's the case.

[2020-07-16 00:46] harrisrobin commented on #2241
@bluebill1049 I think some improvements to the docs with more checkbox examples and a search feature would help. I'll take a look at how the docs are setup and see if I can contribute something here.

[2020-07-16 00:50] bluebill1049 commented on #2241
That would be awesome. Thank you.

[2020-07-16 00:51] bluebill1049 commented on #2241
<img width="943" alt="Screen Shot 2020-07-16 at 10 51 29 am" src="https://user-images.githubusercontent.com/10513364/87614035-51181580-c752-11ea-887d-5ccd770f2150.png">

perhaps place an example right there.

[2020-07-16 01:11] giovanicascaes commented on #2202
My bad. Check the sandbox again, please.

[2020-07-16 02:22] h-sakano opened #2246 "watch function throws TypeError under certain conditions"
**Describe the bug**

'watch' throws TypeError when the `defaultValue` of the Controller component is `null`.
This issue has occurred since 6.0.6 and not until 6.0.5.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-template-ngkqb
2. Click on 'append'
3. See error

**Codesandbox link (Required)**

https://codesandbox.io/s/react-hoo

[2020-07-16 02:34] h-sakano commented on #2246
I'm sorry. I just noticed that it is a duplicate of #2239 🙇‍♂️

[2020-07-16 02:40] bluebill1049 commented on #2246
Thanks! I will close the other one, as this one has more detail.

[2020-07-16 02:40] #2239 closed

[2020-07-16 02:43] bluebill1049 commented on #2246
could you please verify the fix is working: https://codesandbox.io/s/react-hook-form-usefieldarray-template-zkow9?file=/src/index.js:79-84?

[2020-07-16 02:51] bluebill1049 commented on #2202
<img width="1347" alt="Screen Shot 2020-07-16 at 12 51 28 pm" src="https://user-images.githubusercontent.com/10513364/87620908-123e8b80-c763-11ea-87ab-a1a862aa686f.png">

still nothing :(

[2020-07-16 02:53] h-sakano commented on #2246
It works perfectly 🎉
Thank you for your great work!!

[2020-07-16 02:54] bluebill1049 commented on #2246
Thanks very much, @h-sakano for the reporting and detailed issue. I will follow it up with some unit test and release the patch soon.

[2020-07-16 03:17] bluebill1049 commented on #2240
This is fixed on 6.0.6: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-uiigf

Thanks for the reporting 👍

[2020-07-16 03:31] bluebill1049 commented on #1575
hey @Photonios thanks for the detailed report and codesandbox, for dependant fields you will need to use `trigger` now, we only focus one field at a time to improve perf, so we can when to trigger a re-render or not.

[2020-07-16 05:03] poeticninja commented on #2240
@bluebill1049 I went to the codesandbox that you created and it didnt work. I hit submit when the page loads, look at the console, and it shows 3 items. Remove an item, hit submit again, and look at the console and it still shoes 3 items. The UI is showing 2 but the form data is still 3.

[2020-07-16 05:05] bluebill1049 commented on #2240
oh wow, you are right, how the hell it was working for me back then...

[2020-07-16 05:07] bluebill1049 commented on #2240
oh shit, it didn't save and it's still on 6.0.5...

https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-uiigf?file=/src/index.js

[2020-07-16 05:09] bluebill1049 commented on #2240
sorry, I found a different bug tho. submit an empty form, I will investigate this problem.

<img width="1163" alt="Screen Shot 2020-07-16 at 3 08 38 pm" src="https://user-images.githubusercontent.com/10513364/87629363-3bb4e280-c776-11ea-984d-023440dc939f.png">

[2020-07-16 05:10] poeticninja commented on #2240
Thanks! I like what you are doing! I look forward to seeing this project be successful!

[2020-07-16 05:27] bluebill1049 commented on #2240
fixed: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-uiigf?file=/src/src/useForm.ts will have a patch on this soon.

[2020-07-16 05:45] #2246 closed

[2020-07-16 07:06] ghostd commented on #2239
The fix works for me, thanks.

[2020-07-16 07:12] bluebill1049 commented on #2239
Thanks @ghostd for the verification, will release the patch soon.

[2020-07-16 07:14] kotarella1110 commented on #2245
@cnshenj Thanks for your feedback! I will look into this tonight.

[2020-07-16 08:03] Vandell63 commented on #2222
@bluebill1049  i don't think it will resolve my initial issue if we inject the context directly even if it is cached right ?
- > https://codesandbox.io/s/magical-almeida-j941j?file=/src/App.js
[code]
Should we had `useEffect()`  methods to re-set the resolver when the context change in RHF core ?

[2020-07-16 08:07] bluebill1049 commented on #2222
I think it's easier to trigger a validation at `useEffect`, otherwise users will run into memo context and ect.

[2020-07-16 08:37] Vandell63 commented on #2222
Yes ( you mean add it to the RHF core ? ) . Because this is the only thing dynamic which is inject into RHF. It works every time on submit, but in every change it will always take the cache information this is why i got those issues.
Do i misunderstood something ? Because in the codesandbox i've already try everything ( all possible method ) to rerender as soon as the lang has change. On submit it

[2020-07-16 08:42] avet-m opened #2253 "FormContext is not exported"
**Describe the bug**
FormContext not exported from react-hook-form
"version": "6.0.6"

Example:  https://react-hook-form.com/advanced-usage/#ConnectForm

**To Reproduce
Steps to reproduce the behavior:**

try to import FormProvider ad import {FormContext} from 'react-hook-form'

[2020-07-16 08:49] bluebill1049 commented on #2253
FromProvider :) i will get that update.

[2020-07-16 08:49] #2253 closed

[2020-07-16 08:57] bluebill1049 commented on #2222
This is what i meant: https://codesandbox.io/s/focused-banzai-6e12x?file=/src/App.js but we can plug this into yup's context as well.

[2020-07-16 08:58] emilium commented on #1285
@ingeniousambivert I decided to not use `useForm({ defaultValues: props.defaultValues }` but just a state from useContext to handle defaultValues.

[2020-07-16 09:48] alexgoldz opened #2255 "Watched inputs with `null` value cause TypeError"
**Describe the bug**
Watching an input component with a null default value causes an TypeError in `utils/getPath`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/react-hook-form-useform-template-28yig?file=/src/index.js'
2. Click on 'Submit'
3. See error

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-useform-template-28yig?file=/src/

[2020-07-16 09:55] bluebill1049 commented on #2255
Thanks @alexgoldz fix is already merged https://github.com/react-hook-form/react-hook-form/pull/2248 will release soon.

[2020-07-16 10:39] anthonycaron opened #2257 "[useFieldArray] validation does not work properly on append/remove"
**Describe the bug**
When using `useFieldArray` and upon removal of one or many fields, the existing errors are not being removed from the validation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sandbox link below and change the number value to -1. You will see that this field has an error.
2. Delete this input by clicking on the "DELETE" button.
3. Add a new field by clicking

[2020-07-16 10:51] iamchathu opened #2258 "File upload types issue after upgrade to v6"
**Describe the bug**
A clear and concise description of what the bug is.
`material-ui-dropzone` which was working with RHF `^5.7.2` version having types issues for onSubmit method.

**To Reproduce**
Steps to reproduce the behavior:
1. Check the error in codesandbox.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-issue-with-dropzone-t30w5?file=/src/App.tsx

**Expected beh

[2020-07-16 11:11] Vandell63 commented on #2222
@bluebill1049  thx / updated -> https://codesandbox.io/s/clever-breeze-lw3dz?file=/src/App.js
I expect when i change the lang that the message disappear. Am i missing something or could we considere it asa  bug when mode and revalidateMode are 'onChange' ?

[2020-07-16 11:16] giovanicascaes commented on #2202
Sorry. I guess I've been too quick reviewing the sandbox. Triple checked this time, it is working as expected. Just let me know if `onChange` is the right place to place `trigger`.

[2020-07-16 11:17] bluebill1049 commented on #2222
what's the step to reproduce? if you can change context, then users will need to trigger the validation, otherwise, it only affects the context.

[2020-07-16 11:38] bluebill1049 commented on #2258
please use `FileList` type.

[2020-07-16 11:39] #2240 closed

[2020-07-16 12:02] bluebill1049 commented on #2257
can you verify the fix: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-jl9ey?file=/src/index.js?

[2020-07-16 12:27] Vandell63 commented on #2222
Simple when i switch To FR i want see the error before submitting again because i expect to have mode onChange. So if context change i want my form to be revalidate and show again new errors [before submitting].

[2020-07-16 12:29] bluebill1049 commented on #2222
oh i see, we don't subscribe to the context, let's use `trigger` for use case like that, sometimes less smartness is better and less thing to document too.

[2020-07-16 12:37] Vandell63 commented on #2222
Ahahaha yes i did in line 31 and the result is the same !!

[2020-07-16 12:44] bluebill1049 commented on #2222
I will follow this up tmr :)

[2020-07-16 12:47] iamchathu commented on #2258
I updated to FileList type in Codesandbox. But still there is the issue.

[code]

[2020-07-16 12:51] bluebill1049 commented on #2258
what about this: import * as React from 'react';
import './styles.css';

import Button from '@material-ui/core/Button';
import Grid from '@material-ui/core/Grid';
import { useForm, Controller, SubmitHandler } from 'react-hook-form';
import { yupResolver } from '@hookform/resolvers';
import * as yup from 'yup';

import { DropzoneArea } from 'material-ui-dropzone';

interface FormData {
	image: File

[2020-07-16 12:52] avet-m opened #2261 "ReactNative: useWatch problem with Hermes"
"react-native": "0.61.5",
"react": "^16.13.1",
"react-hook-form": "^6.0.6",

**OS**: Android
**JavaScript engine**: [Hermes](https://reactnative.dev/docs/hermes)

When I try to use multiple **useWatch** with param **name**  in one component, getting error
![photo_2020-07-16 15 46 17](https://user-images.githubusercontent.com/16869204/87672533-cfd57880-c77b-11ea-9672-31efd49460df.jpeg)

Unfortunate

[2020-07-16 13:01] bluebill1049 commented on #2261
can you try 6.0.5 i think we have a patch coming for htis.

[2020-07-16 13:15] bluebill1049 commented on #2258
update my CSB try again

[2020-07-16 13:22] avet-m commented on #2261
@bluebill1049 yes, it works with **v6.0.5**, thank you

[2020-07-16 13:25] bluebill1049 commented on #2261
cool we have a patch will release it tmr 👍

[2020-07-16 13:25] #2261 closed

[2020-07-16 13:37] iamchathu commented on #2258
https://codesandbox.io/s/react-hook-form-issue-with-dropzone-t30w5?file=/src/App.tsx

I Update CSB with the fix and the upload method. Still issue is there.

[2020-07-16 14:08] giovanicascaes opened #2262 "watch/useWatch/getValues issue with conditionally rendered fields"
**Describe the bug**
After hiding and showing conditional fields their `watch` e `getValues` values are not retrieved on render. Values are available after some specific actions, like button clicks, though. This issue occur even with `shouldUnregister` option set `false`.

**To Reproduce**
Steps to reproduce the behavior:
1. input some value on conditionally rendered fields (User name)
2. toggle o

[2020-07-16 14:21] Fakkio commented on #2258
Same issue here, using FileList.
[code]

[2020-07-16 14:59] kotarella1110 commented on #2258
@Fakkio you can use `NestedValue` and `SubmitHandler` type.

[code]

[codesandbox](https://codesandbox.io/s/react-hook-form-issue-with-dropzone-b6pll)

[2020-07-16 19:33] anthonycaron commented on #2257
@bluebill1049 It's looking good, thanks for your reactivity !

[2020-07-16 20:28] nlrowe commented on #2017
This fix works for the presented case. However, if you reverse the actions:
- Click 'Append Nested' twice
- Put a value into 'Sub Nested Array'[1] input
- Click in and out of 'Sub Nested Array'[0] input to trigger a blur error (input will have 'ERROR' in red under it)
- Click the 'Move Nested' button (hard coded to move 'Nested Array'[0] to 'Nested Array'[1])

The error stays on 'Sub Nested Array[

[2020-07-16 22:52] #2245 closed

[2020-07-16 22:55] bluebill1049 commented on #2017
can you try this fix: https://github.com/react-hook-form/react-hook-form/issues/2257

[2020-07-16 22:58] bluebill1049 commented on #2202
it's correct. 👍

[2020-07-16 22:58] #2202 closed

[2020-07-16 23:01] bluebill1049 commented on #2217
going to close this issue, please send us a PR for doc improvement when you have a chance.

[2020-07-16 23:01] #2217 closed

[2020-07-16 23:09] bluebill1049 commented on #2241
<img width="579" alt="Screen Shot 2020-07-17 at 9 08 35 am" src="https://user-images.githubusercontent.com/10513364/87731139-1a530580-c80d-11ea-8977-59786fc32189.png">
<img width="1028" alt="Screen Shot 2020-07-17 at 9 08 57 am" src="https://user-images.githubusercontent.com/10513364/87731160-28a12180-c80d-11ea-9db4-3f7084399c8b.png">

updated both the doc and CSB to emphasize checkbox example.

[2020-07-16 23:09] #2241 closed

[2020-07-16 23:10] bluebill1049 commented on #2258
Thanks @kotarella1110 .
curious why `File[]` is not working for him? it's working in my codesandbox with `SubmitHandler`.

[2020-07-17 00:26] kotarella1110 commented on #2258
@bluebill1049 The value type of the native input file is `FileList`.
Currently, `FileList` is supported, but `File[]` is not.

https://github.com/react-hook-form/react-hook-form/blob/4d6da895d031243ac122ebd9622cbc7e39b0219c/src/types/form.ts#L33-L39

[2020-07-17 00:40] bluebill1049 commented on #2258
Thanks @kotarella1110 , make sense 👍

[2020-07-17 00:40] #2258 closed

[2020-07-17 03:24] bluebill1049 commented on #2223
if you want to insert, why not just `insert` API?

[2020-07-17 03:29] bluebill1049 commented on #2222
<img width="1306" alt="Screen Shot 2020-07-17 at 1 29 02 pm" src="https://user-images.githubusercontent.com/10513364/87745537-7cbdfd00-c831-11ea-972a-15839d59c0e4.png">

it's working here for me.

https://codesandbox.io/s/vibrant-glitter-7evjl?file=/src/App.js

[2020-07-17 03:57] #2257 closed

[2020-07-17 05:11] iamchathu commented on #2258
Thanks @kotarella1110

[2020-07-17 06:08] #2017 closed

[2020-07-17 08:51] Fakkio commented on #2258
it worked (even with FileLIst), thanks @kotarella1110!

[2020-07-17 11:04] bluebill1049 commented on #2262
@pmaier983 few notes:

1. the codesandbox is using `rc` version, make sure you toggle to the latest patch version
2. potential is a misunderstanding between `watch` and component local `state`.

thanks for picking up this issue 👍

[2020-07-17 12:14] MoshniyVasiya commented on #2233
Guys , have the same problem and deleting with re-installing modules , did't help. Even in console this function returns undefined .
Have any suggestions?

[2020-07-17 12:23] bluebill1049 commented on #2233
make sure you are using v6 @MoshniyVasiya

[2020-07-17 13:00] pixel-mattp commented on #2255
We are getting this issue in V 6.0.7 (latest release), when using `watch`.
If we load an entry, come out of it and reload another entry, we get this error.....

<img width="1085" alt="Screenshot 2020-07-17 at 13 42 06" src="https://user-images.githubusercontent.com/14015763/87788727-c01a6a80-c835-11ea-9224-0121a02f8ba5.png">
<img width="1056" alt="Screenshot 2020-07-17 at 13 42 15" src="https://us

[2020-07-17 13:02] bluebill1049 commented on #2255
hey @pixel-mattp that's bad, can you help to reproduce this in a codesandbox?

[2020-07-17 13:04] pixel-mattp commented on #2255
@bluebill1049 - I will try, but this is all hooked up to our API etc so may be difficult to reproduce....  Let me try and see if I can get it to error on Sandbox.

[2020-07-17 13:05] bluebill1049 commented on #2255
what's `calculations`? is that an inptu?

[2020-07-17 13:06] pixel-mattp commented on #2255
@bluebill1049 - calculations is an object being returned from an endpoint.  It's not a 'field' so to speak - but we are 'watching` the values as we run some calculations based on them and populate other fields with the result.

[2020-07-17 13:09] bluebill1049 commented on #2255
oh i see, could you please help reproduce a codesandbox, i am working on a fix. thanks very much or helping out in advance.

[2020-07-17 13:12] bluebill1049 commented on #2255
i have a fix in place, just need to verify the fix now.

[2020-07-17 13:13] pixel-mattp commented on #2255
To confirm, I am registering the input `calculations`.  It seems to fix when you hard refresh the page, so may be caused when data from the API is being set in the form, replacing previous values.

[2020-07-17 13:14] bluebill1049 commented on #2255
it's definitely a bug, i will write unit test to prove it and iron down the problem. lucky it's friady night here.

[2020-07-17 13:15] pixel-mattp commented on #2255
@bluebill1049 - great stuff!  Thanks for your prompt support.

[2020-07-17 13:16] bluebill1049 commented on #2255
oh man, i am sorry to breaking this...

[2020-07-17 13:18] bluebill1049 commented on #2255
hmmm i couldn't reproduce this in a unit test, please keep helping see if you can reproduce this.

[2020-07-17 13:20] bluebill1049 commented on #2255
how did undefined/null getting into this part.

<img width="508" alt="Screen Shot 2020-07-17 at 11 19 59 pm" src="https://user-images.githubusercontent.com/10513364/87790538-0a2a3d00-c884-11ea-8597-f0e4ea4c9ef1.png">

[2020-07-17 13:22] bluebill1049 commented on #2255
falsy alarm @pixel-mattp you had a cache 👍
<img width="574" alt="Screen Shot 2020-07-17 at 11 22 24 pm" src="https://user-images.githubusercontent.com/10513364/87790746-6ee59780-c884-11ea-9cca-deb281b1ba5a.png">

[2020-07-17 13:22] #2255 closed

[2020-07-17 13:23] bluebill1049 commented on #2255
look at your screenshot above, it's old version.

[2020-07-17 13:31] pixel-mattp commented on #2255
<img src="https://media.giphy.com/media/yvBAuESRTsETqNFlEl/giphy.gif" />

[2020-07-17 13:32] pixel-mattp commented on #2255
Damn!!!  Sorry.  Thanks v much for looking into this so quick

[2020-07-17 13:33] bluebill1049 commented on #2255
no worries, however, I did find an improvement so it's not all for nothing. 👍

[2020-07-17 13:41] MoshniyVasiya commented on #2233
@bluebill1049 thx dude, it helps.

[2020-07-17 14:10] Vandell63 commented on #2222
Yes it works but only you click on test or submit button ( they do both the same thing ). As i said i would like to have this
`Simple when i switch To FR i want to see the error before submitting again`
Because the mode has been set `onChange` or `all` you see ?

[2020-07-17 15:45] narroyog commented on #51
It's possible to wrap the primereact component within a react-hook-form <Controller /> component to get it registered on the form:
[https://react-hook-form.com/advanced-usage/#ControlledmixedwithUncontrolledComponents](https://react-hook-form.com/advanced-usage/#ControlledmixedwithUncontrolledComponents)

[2020-07-17 19:51] patelrikin commented on #490
Your code is probably outdated, its not working because useForm is not default rather has to be named import.
Also validation does not work for IonicInput

[2020-07-17 22:25] bluebill1049 commented on #2222
That's what I try to explain above, changing the context value is not going to trigger the validation.

1. change context

[2020-07-17 22:44] #2223 closed

[2020-07-18 01:15] ejose19 commented on #2096
Shouldn't this be reopened? Or it was fixed?

[2020-07-18 01:58] Vandell63 commented on #2222
@bluebill1049  it will be maybe better -> https://www.loom.com/share/fc58cf63bd6541609779927adab686ad

[2020-07-18 08:27] bluebill1049 commented on #2222
Thanks, @vadimshvetsov for the video, I clearly understand which you after here and I think my explanation probably not clear enough. This is indented behavior and it's not a bug, you can consider it as a feature request but at this stage, I don't think we want to include more logic into the resolver with context.

So here is what you expect, `context` updated while the user's action, and trigger

[2020-07-18 08:27] #2222 closed

[2020-07-18 09:16] Vandell63 commented on #2222
No well it's perfect @bluebill1049  thank you i did not get the rerender flow ( which follow the normal hook load cycle ) and now it is more clear. No need to go further with a feature request after this explanation ( it could be really great for the docs ).
I'm completely agree with your mindset.
I would love to have a live session together to help me understand the mindset you made into this lib

[2020-07-18 09:30] bluebill1049 commented on #2262
@giovanicascaes can you provide more detail on the expectation? I don't understand clearly on the last dot point, `watch` is not the same as the local state, so if it will be one render behind what's input's value in the render, if that's the bug then it's expected, that's why we have a second argument for the default value.

[2020-07-18 10:16] flybayer commented on #1418
I also need a way to set a value to touched. Actually, what I really want is all fields to automatically be touched on submit.

[2020-07-18 10:46] bluebill1049 commented on #1418
thanks @sandroweb & @flybayer for your feedback, perhaps we should consider

`setValue('firstName', 'value', { shouldTouch: true })`

[2020-07-18 10:48] bluebill1049 commented on #1418
@flybayer any chance to use `isSubmitted` state?

[2020-07-18 11:24] PyYoshi commented on #1285
Try to set shouldUnregister=false in options. Maybe fix this problem.
https://react-hook-form.com/api#useForm

[2020-07-18 11:37] flybayer commented on #1418
Maybe a spoke too soon. I was checking `touched` to conditionally show validation errors, but looks like the library essentially does that so I don't have to check `touched`

[2020-07-18 13:56] giovanicascaes commented on #2262
Hm, I think I get your point. Let me quote the docs:

That means when I remove a registered input from render and then attach it again `watch` will "reset" itself? If so how can I handle this and restore form field value?

Even so, it is weird, because even with default values, either in `useForm`'s args or `watch`'s args (check CSB again), form value is not restored. Maybe I'm missing something h

[2020-07-18 14:04] bluebill1049 commented on #2262
the simplest way just toggle the visibility of that input.

that's what i am seeing here (unless i am missing steps), can you change to latest patch instead of RC version?

[2020-07-18 14:12] giovanicascaes commented on #2262
Yes, this was what I ended up doing.

Changed to latest version and it works correctly.

Thank you guys for your very quick replies and awesome work. Sorry for my mistake.

[2020-07-18 14:12] #2262 closed

[2020-07-18 14:43] connelhooley commented on #2129
Thanks Kotaro, that got my out of a pickle!

Is there a reason for this change in v6? The dev experience in v5 was much better imo. Using the type `UseFormOptions<TFormValues>["defaultValues"];` is not very intuitive, and unless someone finds this github issue I doubt they would try the fix mentioned above.

[2020-07-18 19:52] connelhooley opened #2276 "isDirty does not become true when file inputs are populated in Firefox"
**Describe the bug**
`formState.isDirty` does not become true for file inputs in Firefox 78.0.2 (Windows).

**To Reproduce**
Steps to reproduce the behavior:
1. Print `formState.isDirty` in page
2. Update file input
3. False isDirty will be false

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-useform-template-owvuj

**Expected behavior**
The `isDirty` value should be tru

[2020-07-19 03:10] #2276 closed

[2020-07-19 14:12] skashi commented on #1214
This is broken again in 6.x.x.

@bluebill1049 I used your link and could confirm it is working in 5.7.2 but not in 6.0.0 or 6.0.8

[2020-07-19 17:23] rweller59 opened #2280 "Material-UI controlled component error with checkbox, switch with FormControlLabel"
I found this codesandbox example (https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r) when trying to understand how to onChange with material-ui checkboxes/switches. When modifying it to use FormControlLabel, I get an error 'A component is changing an uncontrolled input of type checkbox to be controlled'.

**To Reproduce**
1. forked original codesandbox
2. add FormControlLabel code with

[2020-07-19 19:02] pmaier983 commented on #2280
Hello rewller59. As is specified in the docs: [`Note: You need to either set defaultValue at the field-level or call useForm with defaultValues`](https://react-hook-form.com/api#Controller). We have had several bug issues similar to yours though, so I'll have to chat with bill about the possibility of adding the note to a more prominent position within the docs, or somehow removing this requiremen

[2020-07-19 19:02] #2280 closed

[2020-07-19 19:50] rweller59 commented on #2280
sorry about that. thanks

[2020-07-19 22:23] bluebill1049 commented on #1214
@skashi please take a look at the doc for `render`, we have updated the API https://react-hook-form.com/api#Controller

[2020-07-19 22:27] bluebill1049 commented on #2280
Thanks @pmaier983 🚀

[2020-07-19 22:40] yngt opened #2284 "reValidateMode not triggering correctly in v6.0.5+"
**Describe the bug**
reValidateMode behaving incorrectly when mode="onBlur" and reValidateMode="onChange" in v6.0.5+. The revalidation occurs onBlur rather than onChange.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit Codesandbox link.
2. Click into text field.
3. Click out of text field.
4. See expected "required" error.
5. Click into text field and start typing.
6. Error should be c

[2020-07-19 22:41] bluebill1049 commented on #2284
can you try the latest patch?

[2020-07-19 22:54] yngt commented on #2284
6.0.8 you mean? Yes, same issue there.

[2020-07-19 23:40] bluebill1049 commented on #2284
This is correct behavior, it was a bug before. `reValidateMode` only occurred after `submit`.

<img width="925" alt="Screen Shot 2020-07-20 at 9 40 04 am" src="https://user-images.githubusercontent.com/10513364/87887980-00aff900-ca6d-11ea-8c6e-cb8858e7b765.png">

for your behavior, you want to change to `onChange` and use `touched` form state.

[2020-07-20 02:34] ynma commented on #2284
Thank you. It works using the method you suggested.

[2020-07-20 02:35] yngt commented on #2284
Thank you. It works using the method you suggested.

[2020-07-20 03:17] #2284 closed

[2020-07-20 04:08] iamrahman opened #2285 "How we can add debounce if the mode is 'onChange' ?"
If the the mode is 'onChange' then it call every time user update anything in input. But I want some debounce time duration, so that we can avoid every time call on input change.

`import debounce from 'lodash/debounce';`

[2020-07-20 04:50] bluebill1049 commented on #2285
You will probably need to use trigger on that input

`onChange={debounce(trigger('xxx'), 1000)}`

[2020-07-20 05:20] #2285 closed

[2020-07-20 12:10] rocketBANG commented on #2126
Seems like `useWatch` has this problem also, but it doesn't appear to have a reason to use `LiteralToPrimitive` except that it specifically stops this behaviour.

I've created a [typescript playground ](https://www.typescriptlang.org/play?#code/C4TwDgpgBAYg9gJwLYDUCGAbArhAzlAXigG8AoKKAawhAEYAuKXYBASwDsBzAbnKpoBMjdliQAjCAl4VqIAMyMyFGTQZQR4ydOWyhUMXDgYIadtpXzGAcjRWoAHyhWxV7QF9tsgCzXbDpy6eNACsjLT+Arw

[2020-07-20 12:13] bluebill1049 commented on #2126
Thanks a lot, @rocketBANG if you have time, feel free to create a PR too :)

[2020-07-20 13:08] Camsteack commented on #1629
Sorry to highjack the thread but it seemed related to my problem. The sandbox above doesn't work with the latest version of react hook form, I am getting ```(intermediate value)(intermediate value)(intermediate value).filter is not a function```

Here is the link which is the same as above with just the version updated https://codesandbox.io/s/material-react-hook-form-wxxu5

Is there anything I ne

[2020-07-20 13:16] bluebill1049 commented on #1629
yes, take a look at the doc for `Controller`, we have introduced `render` prop. there is an codesandbox example too.

[2020-07-20 14:41] Camsteack commented on #1629
Hi @bluebill1049, it works great thanks for the quick reply

[2020-07-20 22:35] bluebill1049 opened #2298 "formState isValid issue with `reset`"
I want the submit button to be disabled if the form is in an invalid state. However, the button remains disabled until I clear a field & type again. Below is a code snippet for producing this issue. I am quite new to react, any idea what could be wrong here?

[code]
![image](https://user-images.githubusercontent.com/15045608/87881229-56ef4e80-ca11-11ea-9830-d8cd83ae4b8f.png)

_Originally posted by

[2020-07-20 23:30] #2126 closed

[2020-07-21 05:01] #2298 closed

[2020-07-21 08:30] michalbundyra opened #2301 "Invalid CHANGELOG.md"
FIle https://github.com/react-hook-form/react-hook-form/blob/master/CHANGELOG.md

contains release 6.0.3 twice with different dates:

[code]

Also, there is no any release notes for 6.0.4+ in that file. Not sure what is the purpose of that file as it is not updated, and all changes are noted with releases on github.

[2020-07-21 08:34] bluebill1049 commented on #2301
There are not change, add, or remove those patch versions. that's why I didn't include them in the changelog.

[2020-07-21 08:34] bluebill1049 commented on #2301
I will fix the version issue.

[2020-07-21 08:36] #2301 closed

[2020-07-21 11:52] skashi commented on #1214
Thanks @bluebill1049. `render` did work for me (and not using `as`).

Just a note, having a look at the API docs [link](https://react-hook-form.com/api#Controller) you posted it does claim to work with `as`:

Maybe it was more of a confusion on my part

[2020-07-21 12:02] bluebill1049 commented on #1214
hey @skashi with `as` prop we are pass down those props :( probably because react-select onChange is return an object instead an event.

[2020-07-21 15:56] bilune opened #2306 "Watch and detach issues when using with react-frame-component"
Hi everyone!

**Describe the bug**
I'm having some issues when trying to use the library with [react-frame-component](https://github.com/ryanseddon/react-frame-component):

1. Watch/useWatch are not triggering rerender.

**To Reproduce**
Steps to reproduce first issue:
1. Toggle the first checkbox input (in the regular form it hides the second input, but in the iframe it doesn't work).

**Codesand

[2020-07-21 16:59] mKontakis commented on #1517
Again, issues with this use-case on v6.0.8.

Let's recap:

Let's say that I have an array of objects as such:

[code]

Each object corresponds to one checkbox. The user should be able to select multiple and get a result in the form of:
`item_ids: [1, 3, 4]`, with the IDs in the array being the selected checkboxes.
The group of the checkboxes should have initial states.

I am trying to use the `ren

[2020-07-21 17:36] hrahimi270 opened #2307 "Provide and example with Ant forms"
**Is your feature request related to a problem? Please describe.**
It's hard to integrate react-hook-form with Ant form. I think if there will be an example of how to accomplish, makes it easier.

**Describe the solution you'd like**
A simple example of a form with Ant Form components.
Also, maybe it's better to have an example with dynamic forms for API based forms (:

[2020-07-21 17:46] mrgazanfarli opened #2308 "Setting default value"
**Describe the bug**
When taking the form methods by using `useForm<Type>({ defaultValues: values })` , I cannot get values by using `getValues()`

**To Reproduce**
Steps to reproduce the behavior:
1. Get form methods from `useForm<Type>({ defaultValues: values })`
2. Use `<FormProvider {...formMethods}>{children}</FormProvider>`
3. Get values from `useFormContext` inside a nested component
4. And

[2020-07-21 19:01] nigarjafarr commented on #2308
+
I am facing same issue while using last version react-hook-form

[2020-07-21 20:24] 4ortytwo commented on #1517
@mKontakis, I'm not Bill but came up with a couple of solutions.

With and without `useState`.

Adjusted your Yup resolver as well, it filters out falsy fields now but would transform your values into an array of indices otherwise.

WITHOUT `useState`:

https://codesandbox.io/s/material-demo-bzj4i?file=/demo.js

WITH `useState`:

https://codesandbox.io/s/material-demo-ofk6d?file=/demo.js

With `us

[2020-07-21 22:48] jpodpro commented on #2211
please consider updating the documentation as it specifically states that using `as` will inject `onChange` into the component. this does not work for me using mui's `DatePicker` which definitely accepts onChange when used directly.

[2020-07-21 23:03] xiaoyu-tamu opened #2310 "useWatch value become empty after delete field array item"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-v6-usewatch-mjnow?file=/src/index.js
2. Click on append
3. Click on append
4. Click on delete
5. See JSON output

**Expected behavior**
A clear and concise description of what you expected to happen.

it should preserve value

[2020-07-21 23:18] bluebill1049 commented on #2308
hey guys, this is not a bug, but when you are using getValue during the render, its meant to retrieve inputs values?

[2020-07-21 23:18] bluebill1049 commented on #2310
you will have to do `watch('xxx', fields)` i am going to add a FAQ section for this.

[2020-07-21 23:19] bluebill1049 commented on #2307
can you provide some of the base components that you would like to see examples?

[2020-07-21 23:28] bluebill1049 commented on #1517
Thanks @4ortytwo, i will take a look at this one. maybe consider staying at the old version (if works for you) until i get you a solution.

[2020-07-21 23:30] bluebill1049 commented on #2211
hey @jpodpro we do inject `onChange` into the component, with standard onChange `e.target.value`, perhaps DatePicker does not return with an event object? maybe we should emphasize that in the doc.

[2020-07-21 23:46] jpodpro commented on #2211
it's a bit convoluted but i was able to get it to work with this
[code]

[2020-07-21 23:50] bluebill1049 commented on #2211
[code]

[2020-07-22 00:00] jpodpro commented on #2211
as i mentioned above, the second `onChange` is my own method that tracks when the form is dirty.

[2020-07-22 00:03] bluebill1049 commented on #2211
ok @jpodpro, i just did a quick try with only `as` it's working fine: https://codesandbox.io/s/dank-surf-bx9yr?file=/src/App.jsx

[2020-07-22 00:06] jpodpro commented on #2211
i think, because i'm trying to supply my own onChange, it is getting tangled with what react-hook-form needs to do. anyway i have it working, thanks.

[2020-07-22 00:20] bluebill1049 commented on #2306
hey @bilune, thanks for the issue report. I don't think we going to try to fix the issue with iFrame related for now. you can send a feature request and we will tag `waiting for an upvote`, if users have similar needs, however, I don't think this will be a trivial task.

Temp solution for now:

1. try to use `Controller` to wrap your inputs.
2. or custom `register` at useEffect and update value wi

[2020-07-22 00:23] bluebill1049 commented on #1517
wow @4ortytwo your example works great, i think it would probably easier to build a controlled component which wrapt those checkbox and a single Controller just to collect `value` instead map around `Conrtroller`

[2020-07-22 01:10] bluebill1049 opened #2312 "After upgrading to v6 field array value changes no longer persist after a drag and drop using React Beautiful DnD."
After upgrading to v6 field array value changes no longer persist after a drag and drop using React Beautiful DnD.

https://codesandbox.io/s/react-hook-form-usefieldarray-kit8r?file=/src/index.js

**Steps to Reproduce:**
1. Enter a value in the two inputs shown
2. Using the 'Drag Me' element drop one input into the place of the other

**Result:**
Data entered into both fields are reset to the defa

[2020-07-22 01:29] gilbarbara commented on #2308
Hey,

I was using getValues with my Input component but apparently it's not working with 6.x.
Did it change? I couldn't find anything about this in the CHANGELOG.

[2020-07-22 01:41] bluebill1049 commented on #2308
hey @gilbarbara can you sure a codesandbox?

[2020-07-22 04:26] hrahimi270 commented on #2307
I think [this example](https://ant.design/components/form/#components-form-demo-size) of Form contains most of the components.

[2020-07-22 04:37] jpodpro commented on #1614
has this been resolved? i cannot believe there would be no non-hack way to respond to an invalid form!

[2020-07-22 04:45] bluebill1049 commented on #1614
@jpodpro take back your shitty comment, nobody is making open source to listen bullshit like that.

[2020-07-22 04:50] jpodpro commented on #1614
@bluebill1049 apologies man, didn't mean to come off as such. just very surprised with all the features that this isn't supported. i take this as a no.

[2020-07-22 04:57] bluebill1049 commented on #1614
We all work here for **free** for everyone, so the moment you sounds like a BOSS is already wrong. Be appreciative and respect for each other. This feature is top on the board, and mostly like will be working on once all the bugs have been resolved for the next feature. as for now, you will have to use `errors` object (not the best).

[2020-07-22 06:25] LambdaMan2K opened #2315 "Controller MUI Slider"
hey thank you for sharing this awesome lib! so I found the following problem which might be caused of some changes to the api am not aware of but the following code works in v @5.5.1 and not in the latest V.
using "@material-ui/core": "^4.11.0"
` <Controller
            name="Slider"
            control={control}
            defaultValue={[0, 10]}
            onChange={([, value]) => value}

[2020-07-22 06:34] mrgazanfarli commented on #2308
yes, I just want to take values (at least default ones), but the method does not return them. It was OK with the 5.x versions. After upgrading the library, I observe this problem very often

[2020-07-22 06:55] bluebill1049 commented on #2307
https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r?file=/src/index.js
updated, it's the one in the doc as well.

[2020-07-22 06:55] #2307 closed

[2020-07-22 06:56] bluebill1049 commented on #2315
hey @LambdaMan2K take a look the example here: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r?file=/src/Mui.js:2175-2181

[2020-07-22 06:56] #2315 closed

[2020-07-22 06:57] bluebill1049 commented on #2308
can you share your usage @mrgazanfarli?

[2020-07-22 07:09] LambdaMan2K commented on #2315
Thx!

[2020-07-22 07:20] mrgazanfarli commented on #2308
@bluebill1049 my usage scenario is the same as I wrote on codesandbox

[2020-07-22 07:21] mrgazanfarli commented on #2308
I use `useForm` and provide `defaultValues`, but I cannot get them. This is the simplest way of describing the problem :)

[2020-07-22 07:40] #2312 closed

[2020-07-22 08:04] sefrem opened #2317 "After the first submit returns an error, the subsequent submits are not called"
**Describe the bug**
I see that this issue has been submitted [before](https://github.com/react-hook-form/react-hook-form/issues/70)
I am using react-hook-form with create-react-app. After i  intentionally submit the form with errors, any subsequent handlesubmites don't fire till i reload the page. I'm using react-hook-form version 6.0.8. However, when i downgraded to the version 5.7.2, everything

[2020-07-22 08:12] bluebill1049 commented on #2317
<img width="950" alt="Screen Shot 2020-07-22 at 6 11 43 pm" src="https://user-images.githubusercontent.com/10513364/88152045-cef28a00-cc46-11ea-8834-44dede7126ee.png">

`setError` on not associated input will require to invoke `clearErrors

[2020-07-22 08:12] #2317 closed

[2020-07-22 08:36] sefrem commented on #2317
I've tried that but if `handleSubmit` is not called at all, where to put `clearErrors`?

[2020-07-22 08:49] publicaccount365 commented on #1629
please share your solution.
I using version 6.0.8
how to set value?

[2020-07-22 08:52] hrahimi270 commented on #2307
My actual problem is, I don't know how to set the default value for controlled fields.
I've used the `defaultValues` prop in `useForm` hook. And passed the names equals to `defaultValues` object.
But, the initial form fields are empty.

[2020-07-22 09:01] bluebill1049 commented on #2317
[code]

[2020-07-22 09:03] bluebill1049 commented on #1629
there is an example in the doc: https://react-hook-form.com/api#Controller
https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

[2020-07-22 09:08] bluebill1049 commented on #2307
Take a look again and i have updated with all default values for the inputs, please spend sometimes with the doc with `Controller`, there are valuable information there and pretty sure show you how to set `defaultValues` with Controller.

<img width="1226" alt="Screen Shot 2020-07-22 at 7 07 02 pm" src="https://user-images.githubusercontent.com/10513364/88157775-88089280-cc4e-11ea-883e-2e6bd59081b

[2020-07-22 09:55] krish-dev commented on #1631
I'm using version `6.0.8` I have a very simple login form that does not have a nested object or array. However, I'm getting the same error

[code]
![Screenshot 2020-07-22 at 3 22 48 PM](https://user-images.githubusercontent.com/7298557/88162888-87accf00-cc2f-11ea-8d4d-d4a30728447f.png)

Here is my simple login form code.

[code]

[2020-07-22 09:57] sefrem commented on #2317
Right.
BTW, as i updated back to the latest version, the issue was gone completely and everything works as expected even without `clearErrors`.
Thank you for you help and for this great lib.

[2020-07-22 09:59] stanleyyuenyiu opened #2318 "using example of FormProvider Performance will not able to trigger validation"
according to the example of https://react-hook-form.com/advanced-usage/#FormProviderPerformance

if we put in some validation rules, when u click submit, you will not able to trigger the error, as it remember in memo

e.g

`const NestedInput = React.memo(
  (props) => (
    <>
<input name="test" ref={props.register({
    	required:"input.required"
    })} />
 {props.errors.test?.message}
</>
  ),

[2020-07-22 10:11] stanleyyuenyiu commented on #2318
Because by default formState.isDirty is false,

and when u click submit without any value, it will false again, which memorised

unless u fill in somthing, make it to true, then u can go back to false when empty value

[2020-07-22 10:15] bluebill1049 commented on #2318
send us a pr!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-07-22 10:15] #2318 closed

[2020-07-22 10:17] stanleyyuenyiu commented on #2318
@bluebill1049 sorry are you very angry? so you close the task? as it is an unresolved issue

[2020-07-22 10:18] bluebill1049 commented on #2318
no, I am not angry. you already know the answer from the above statement, send us a PR then.

[2020-07-22 10:19] stanleyyuenyiu commented on #2318
huh? my question is how to resolve it? how do i know the answer? why not open it for everyone to dicuss?

[2020-07-22 10:20] bluebill1049 commented on #2318
well go create a question at the discussion then, this section is for issues.

[2020-07-22 10:20] stanleyyuenyiu commented on #2318
yea, im using too strong language, sorry for that

[2020-07-22 10:54] 4ortytwo commented on #1517
Thanks @bluebill1049, adjusted both examples and wrapped the checkboxes with a `Controller`.

Interested to know whether you meant it this way.

Without `useState`
https://codesandbox.io/s/material-demo-bzj4i?file=/demo.js

With `useState`
https://codesandbox.io/s/material-demo-ofk6d?file=/demo.js

[2020-07-22 11:16] bluebill1049 commented on #1517
nice @4ortytwo yeah! personally I think it's cleaner with a single `Controller`. Thanks for making those CSBs. ❤️

[2020-07-22 11:44] smashercosmo opened #2320 "getValues() returns an empty object after reset"
**Describe the bug**
Seems like this issue is relevant again https://github.com/react-hook-form/react-hook-form/issues/1141

**To Reproduce**
1. Click 'Reset with reset fn' button
2. Check console output
https://codesandbox.io/s/react-hook-form-useform-template-pg564?file=/src/index.js

**Expected behavior**
If form is reset with values getValues function should return these values

[2020-07-22 11:55] bluebill1049 commented on #2320
hey @smashercosmo this is the same as return default values from `getVaues()`.

[2020-07-22 11:55] #2320 closed

[2020-07-22 11:55] bluebill1049 commented on #2320
https://github.com/react-hook-form/react-hook-form/issues/2308

looks like everyone is expecting getValues to return defaultValues.

[2020-07-22 11:59] smashercosmo commented on #2320
Yeah, seems like the same issue

[2020-07-22 12:11] bluebill1049 commented on #2308
looks like everyone is expected getValues to return defaultValues, we will sort it out then.

[2020-07-22 12:25] yogeshkotadiya opened #2321 "Can not trigger handleSubmit outside form"
**Describe the bug**

The `handleSubmit` method is not getting triggered if used outside of the form.
Although it works if we pass `handleSubmit` directly to SyntheticEvent.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create any simple form
2. Try calling `handleSubmit` method outside form

**Codesandbox link (Required)**
Include a codesandox will help us to investigate the issue

[2020-07-22 12:32] mrgazanfarli commented on #2308
If I use useForm and have no changes, then getValues should return the default values

[2020-07-22 12:33] KyllianV commented on #1631
@krish-dev It seems to be a problem with the last "@types/yup" version.

[2020-07-22 12:35] bluebill1049 commented on #2321
`handleSubmit(onSubmit)()`

[2020-07-22 12:35] #2321 closed

[2020-07-22 12:58] 4ortytwo commented on #1517
It is cleaner, indeed. My pleasure, @bluebill1049! Thanks for the great library! :)

[2020-07-22 13:53] nlrowe commented on #2312
Thank you Bill! Looks like this fix got merged, but has not been released. Any idea when the next version will go out?

[2020-07-22 14:07] krish-dev commented on #1631
@KyllianV I'm using `0.29.3` version of `@type/yup`

[2020-07-22 14:16] KyllianV commented on #1631
@krish-dev The last version working is `0.28.3`

[2020-07-22 14:23] krish-dev commented on #1631
@KyllianV Thanks. `@type/yup` `0.28.3` is working.

[2020-07-22 14:52] popuguytheparrot opened #2322 "Checkbox value is string"
**Describe the bug**
Checkbox set value to string like "false"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-controller-sdtly
2. Click on checkbox
3. See in results

**Expected behavior**
value be boolean

![image](https://user-images.githubusercontent.com/19804652/88191364-09a6f300-cc44-11ea-8ce8-525c3784e3ac.png)

[2020-07-22 18:56] colthreepv opened #2323 "fields producing boolean values (radios or switch components) always invalid when `false`"
**Describe the bug**
on a field that has `required: true`, setting a boolean value makes the field valid only when is `true` (and invalid when it's `false`)

**Expected behavior**
the field should be invalid only when the value is `null || undefined`, if it is either `true || false` it's a valid boolean value

Culprit of this behaviour is this line:
https://github.com/react-hook-form/react-hook-fo

[2020-07-22 20:54] dandv commented on #2322
[I've just run into this **critical** regression too](https://codesandbox.io/s/rhf-608-mui-checkboxes-with-clickable-labels-50ddn), and it breaks any GraphQL integration that expects strict types. This worked fine in 6.0.0-rec5.

[2020-07-22 21:10] viniciushvc commented on #497
I'm trying to create a component of this example, but it doesn't work, has anyone get it?

[2020-07-22 22:44] xmflsct commented on #2216
@bluebill1049 The `ReactDatePicker` in your link doesn't work for me.

[2020-07-22 22:52] btoro opened #2327 "Controller not working for Material UI slider component"
**Describe the bug**
Controller component not working for Material UI slider component. When value is changed on the controller, an error occurs:

" Received NaN for the `children` attribute. If this is expected, cast the value to a string."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://codesandbox.io/s/react-hook-form-controller-vj1o0]
2. Set react hooks version to 6.0.3 or

[2020-07-22 22:54] bluebill1049 commented on #2327
you are holding an outdated CSB: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r?file=/src/index.js

[2020-07-22 22:54] #2327 closed

[2020-07-22 22:59] bluebill1049 commented on #2216
@xmflsct fixed

[2020-07-22 23:01] bluebill1049 commented on #497
@viniciushvc take a look the doc, there is an example of cab: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

[2020-07-22 23:05] bluebill1049 commented on #2312
should come out in a couple days @nlrowe

[2020-07-22 23:11] btoro commented on #2327
This CSB doesn't have examples with Material UI, and isn't very relevant.....
I'm trying to get this working with Material UI's slider..

[2020-07-22 23:12] bluebill1049 commented on #2322
@popuguytheparrot I think you got an old CSB: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

@dandv This was due to an issue report on Component which returns `boolean` value but it's not a Checkbox. We are no longer determine checkbox inside `Controller`, It's problematic to assume any giving value is `boolean` value is a `Checkbox`, so moving forward use `render` prop for any none

[2020-07-22 23:12] #2306 closed

[2020-07-22 23:15] bluebill1049 commented on #2323
From memory, this is following HTML standard, as HTML inputs don't return null or undefined, happy to adjust if otherwise.

[2020-07-22 23:16] bluebill1049 commented on #2327
Are you serious.....?
<img width="1091" alt="Screen Shot 2020-07-23 at 9 16 12 am" src="https://user-images.githubusercontent.com/10513364/88238494-28010300-ccc5-11ea-9cc5-35e3f4558082.png">

[2020-07-22 23:21] btoro commented on #2327
You were correct, I saw the AntD example on first glace. My apologies to you @bluebill1049 .

[2020-07-22 23:33] bluebill1049 commented on #2327
all good.

[2020-07-23 01:27] goaaron opened #2329 "Error with form context and manually set errors"
**Describe the bug**
I have some form inputs for which I render different error messages by setting keys on the errors.`inputName` field.

It looks kind of like this. And I use this to update the errors during input rather than at submit.
[code]
I've come across the other issue about this and learned that `setError` results don't persist. But beyond that.... when I press submit, my components for

[2020-07-23 01:33] bluebill1049 commented on #2329
which version and codesandbox?

[2020-07-23 02:39] bluebill1049 commented on #2308
would you be able to take care of this one @keiya01?

[2020-07-23 02:58] #2329 closed

[2020-07-23 05:58] iamswain25 commented on #1868
I ended up using **useRef** and custom **validate** function to solve the conditional validation.

[2020-07-23 06:18] bluebill1049 commented on #1868
can you sure your solution in a codesandbox @iamswain25 ?

[2020-07-23 06:40] iamswain25 commented on #1868
https://codesandbox.io/s/magical-galileo-02ibu?file=/src/Candidates.tsx

[2020-07-23 08:03] ndt94 opened #2330 "Unregister doesn't clear validator"
**Describe the bug**
Unregister doesn't clear validator

**To Reproduce**
Steps to reproduce the behavior:
1. Fill in First Name, Last Name
2. Click Submit => alert data include lastName value, firstName value
3. Click on Unregister Last Name
4. Clear input Last Name
5. Click on Submit => Nothing happen

**Codesandbox link (Required)**
Include a codesandox will help us to investigate the issue qui

[2020-07-23 08:41] bluebill1049 commented on #2310
<img width="940" alt="Screen Shot 2020-07-23 at 6 40 49 pm" src="https://user-images.githubusercontent.com/10513364/88267339-0ed37300-cd14-11ea-8983-a9b7209aab44.png">

doc is updated under `useFieldArray`.

[2020-07-23 08:54] bluebill1049 commented on #2330
This is due to the next re-render, the input gets re-registered again. It's probably safe to remove the input from the `render`.

[2020-07-23 08:57] ndt94 commented on #2330
can you elaborate how to fix it ? @bluebill1049

[2020-07-23 09:02] bluebill1049 commented on #2330
@ndt94 it's easier just to unmount the input: https://codesandbox.io/s/react-hook-form-unregister-v6-98uxy?file=/src/index.js

[2020-07-23 09:09] ndt94 commented on #2330
yeah this way is easier but doesn't seem to right, i expect the behavior as mentioned, and i don't want my input to be hidden, is there a way to add this as a feature?, I think it should be a feature

[2020-07-23 09:16] bluebill1049 commented on #2330
@ndt94 you can use custom register at `useEffect` and `setValue`, otherwise you can have a flag in front of register to avoid the input gets re-registered again during another re-render.

[2020-07-23 09:21] ndt94 commented on #2330
Actually i'm using `useEffect` and `setValue`, but it doesn't work, i will provide another sandbox, can you check it out later ? Meanwhile do you mind reopen this bug?

[2020-07-23 09:54] stanleyyuenyiu opened #2332 "validationSchema not working"
i copy the same code https://github.com/react-hook-form/react-hook-form/blob/master/examples/validationSchema.tsx
to my react app

while click submit, it pass the validation, seem validationSchema is not working

example : https://codesandbox.io/s/controller-rules-f8i1j?file=/src/App.tsx

"react-hook-form": "^6.0.8",
"yup": "0.29.1"

[2020-07-23 09:58] bluebill1049 commented on #2332
oops that's for V5, going to get it updated.

[2020-07-23 09:59] bluebill1049 commented on #2332
here is a working version for v5 anyhow; https://codesandbox.io/s/928po918qr

[2020-07-23 10:01] stanleyyuenyiu commented on #2332
so no longer support validationSchema ?

and i saw this in readme
- remove `validationSchema` and embrace validation `resolver`

[2020-07-23 10:04] stanleyyuenyiu commented on #2332
yea i see the document using resolver

[2020-07-23 10:04] #2332 closed

[2020-07-23 11:55] popuguytheparrot commented on #2322
@bluebill1049
Need fix this example
https://react-hook-form.com/get-started#IntegratingwithUIlibraries

[2020-07-23 12:11] keiya01 commented on #2308
@bluebill1049 I can do it. I will check this issue.

[2020-07-23 12:16] bluebill1049 commented on #2322
thanks @popuguytheparrot can you share the codesandbox link? this one looks working: https://codesandbox.io/s/react-hook-form-with-ui-library-lg33x

[2020-07-23 12:16] bluebill1049 commented on #2308
awesome! thanks heaps @keiya01 🙏

[2020-07-23 13:40] benswinburne opened #2333 "setValue()/reset() doesn't cause render inside Suspense"
**Describe the bug**
When setting default values from an async source as you've suggested by @bluebill1049 on Spectrum and on Github, the best way is to use reset or setValue. When the form is wrapped in <Suspense> and the values are retrieved asynchronously then passed to `setValue`, the form does not rerender.

**To Reproduce**
Steps to reproduce the behavior:
1. https://codesandbox.io/s/admirin

[2020-07-23 13:44] xiaoyu-tamu commented on #2310
Should we also mention use `watch` instead of `useWatch` under useWatch section?

[2020-07-23 13:50] benswinburne opened #2335 "First party asynchronous default values api"
**Is your feature request related to a problem? Please describe.**

Asynchronous defaults are commonplace as they're often retrieved from storage when a UI is rendering

My use case is such that the UI presents some default values on checkboxes and radio buttons. If the user has never saved them before it doesn't matter, the consumer of these values has the same defaults elsewhere. If the users ch

[2020-07-23 14:44] colthreepv commented on #2323
Ok, it seems consistent to not reinvent the wheel and just adopt HTML standards, inside my app I will worry about that converting some of those values back to boolean.

Thanks again

[2020-07-23 14:44] #2323 closed

[2020-07-23 15:22] EitanElbaz opened #2336 "setValues path with array index keys doesn't work - 6.0.8"
**Describe the bug**
Using `setValue` with array indexes in the data path results in `undefined` values being set.

**To Reproduce**
The code sandbox contains two example usages of `setValue`. Both work from 6.0.0 -> 6.0.7. The top example breaks on 6.0.8

**Codesandbox link (Required)**
https://codesandbox.io/s/cool-volhard-br2y2?file=/src/App.js

**Expected behavior**
I expect both codesandbox e

[2020-07-23 16:26] meman commented on #993
Hi,

I thought i might chime into this issue rather than open a new one. So what is the answers to this, to simple not have nested arrays?

One thing I have noticed which is a little odd is the behaviour of prepending or inserting into the first position of the first useFieldArray array. The nested array seems to get the default value, is this intended behaviour?

https://codesandbox.io/s/react-ho

[2020-07-23 17:05] hady1100 opened #2337 "Gromet drop down component, not supported."
Gromet's controlled Drop-down does not seem to work after wrapping it in a `Control` component as per instructions in the documentation. It only takes up the first value only and fails to update after that despite the value changing.

I can provide a sandbox and sample code if needed

[2020-07-23 19:04] xiaoyu-tamu opened #2339 "reset issue on 6.0.8 with useWatch"
**Describe the bug**
Looks like `reset` do not notify `useWatch` subscription. However, `setValue` notify both `useWatch` and `watch`

I'm not sure it's bug or not. If this is not a bug, should we update the doc to make it more clear?

From my understand, useWatch === watch except useWatch isolate re-rendering at the component level.  The doc says `useWatch` Behaves similarly to the `watch` API.

[2020-07-23 19:57] LambdaMan2K opened #2341 "watch react-selct"
Hey again :)

well now I am facing a strange behavior when trying to watch for changes on react-select
so the thing is i can use the watch method and watch for everything and it works like watch() but when i try with watch("ReactSelect") I get
`ncaught RangeError: Maximum call stack size exceeded
    at getPath (index.esm.js:495)`

btw I am using the latest version from npm
and it works when i do

[2020-07-23 22:07] bluebill1049 commented on #2335
Thanks for the detailed feature request, I don't think we will implement such API for now, i will add a feature request and waiting for upvote for this issue.

[2020-07-23 22:07] #2335 closed

[2020-07-23 22:09] bluebill1049 commented on #2310
will do.

[2020-07-23 22:19] bluebill1049 commented on #993
@meman if you set up defatulfVlaues, it will get populated, the simplest way is not having default nested value if you don't want this behavior. (if I understand correctly)

[2020-07-23 22:32] bluebill1049 commented on #2310
@xiaoyu-tamu actually would you be able to adjust the doc? as you probably can describe better? you can leave it here or send a PR, i will get it updated.

[2020-07-24 01:10] bluebill1049 commented on #2308
@keiya01 if we can make `getFieldsValues` function return `defaultValues` as well will resolve this bug too: https://github.com/react-hook-form/react-hook-form/issues/2339

[2020-07-24 01:14] bluebill1049 commented on #2308
I was thinking merge `defaultValues` with `unmountFieldsStateRef`.

[2020-07-24 01:46] bluebill1049 commented on #2333
Thanks for the issue report and feature request, as `Suspense` and `concurrent mode` is not finalize just yet, we won't spend too much effort on this just yet. In the meantime, you can use the following:

https://codesandbox.io/s/currying-cloud-d8e9f?file=/src/App.js

[2020-07-24 01:46] #2333 closed

[2020-07-24 02:22] keiya01 commented on #2308
@bluebill1049
I think so too. I will fix this issue tonight.

[2020-07-24 02:28] bluebill1049 commented on #2308
no rush at all, do whenever you are free. thanks, @keiya01 🌿

[2020-07-24 02:49] gboggar opened #2346 "Smart Validation not working for DatePicker Component inside React-hook-form"
I am using Datepicker inside hook form. My intention is to implement smart validation before save. isDirty property of the form is true when I tried to change the date but the same date selected again. The form is thinking the value changed but in reality value is the same as the original.

Following code I am using:
<Controller
as={
<DatePicker
dateFormat={props.dateFormat}
showTimeSelect={props.

[2020-07-24 02:57] #2346 closed

[2020-07-24 05:49] sandeepkumar-vedam-by commented on #1517
@4ortytwo Hello, Thanks for the solutions with MuiCheckboxes without state. How can we do validate without yup library by just providing rules from RHF ?

[2020-07-24 06:12] bluebill1049 commented on #1517
you can use the validate function right?

[2020-07-24 07:11] ndt94 commented on #2330
@bluebill1049 here the example, idk why `isValid` doesn't work with custom register, if i remove disable props, the button can be submitted with both input value
https://codesandbox.io/s/react-hook-form-unregister-v6-um2uw?file=/src/index.js:1304-1333

[2020-07-24 07:26] bluebill1049 commented on #2330
https://react-hook-form.com/api#setValue
`{ shouldValidate: true }`

[2020-07-24 07:31] ndt94 commented on #2330
@bluebill1049 , i add that extra option and seem to work fine, guess you can close this bug now :+1:

[2020-07-24 07:43] pixel-mattp opened #2349 "Ensure all values set in form are registered"
**Is your feature request related to a problem? Please describe.**
Not related to any problem

**Describe the solution you'd like**
When we receive a response from an API, we set the values of the form with the response.
However, the only values that are sent back to the API (on a PUT for example) are the fields that you directly register in your form.

To send values back you are not directly usi

[2020-07-24 07:43] #2330 closed

[2020-07-24 07:45] bluebill1049 commented on #2349
i believe `shouldUnregister` probably is going to do the trick for you, otherwise you can still merge the data at the final submit without register those values.

[2020-07-24 08:00] #2349 closed

[2020-07-24 08:52] danielnakamashi opened #2350 "useFieldArray keep value when appending after removing"
**Describe the bug**
In my `defaultValues`, I have an array of values that I want to render using `useFieldArray`. It render correctly, but when I remove the last item and append a new item (calling `append` without arguments), it renders with the value from defaultValue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-template-e7x

[2020-07-24 08:54] DamodarSojka opened #2351 "Documentation on reset is ambigious (and typo!)"
Documentation on reset:
https://react-hook-form.com/api#reset
"Note: You will need to pass register() during reset to re-register input, or you can reset the form with with values. eg: reset({})."

1. I don't really understand how to "pass register() during reset"
2. I would emphasise more that just calling reset() simply won't work as the inputs won't be registered again (is there ever a need for

[2020-07-24 08:54] sandeepkumar-vedam-by commented on #1517
@bluebill1049 Yes. We can add validate function but how can we attach custom message to that ?

[2020-07-24 09:05] meman commented on #993
Hi @bluebill1049 , thanks for the reply. I do want the default values. What i am a little lost with is why prepend or inserting at position 0 has the default value while appending or inserting anywhere else does not.

[2020-07-24 09:06] bluebill1049 commented on #2350
i am confused, what's the error here?

[2020-07-24 09:10] bluebill1049 commented on #2351
will get doc updated.

[2020-07-24 09:10] #2351 closed

[2020-07-24 09:12] danielnakamashi commented on #2350
Sorry, my bad. I updated the code at codesandbox.

[2020-07-24 09:18] bluebill1049 commented on #1517
what do you mean custom message @sandeepkumar-vedam-by? can't you produce different message based on the selection from `validate` function?

[2020-07-24 09:19] bluebill1049 commented on #993
I think that's because, at position 0, you have `defaultValues` for it right?

[2020-07-24 09:22] bluebill1049 commented on #2350
oh I see, append is required to have object(your data shape) argument.

[2020-07-24 09:26] meman commented on #993
Aaaaa right ok, that would make sense. So doing something like this...
[code]

only adds the default for the first element. So if i wanted to a default the rest, is there a way to do it via some like the above?

[2020-07-24 09:29] sandeepkumar-vedam-by commented on #1517
@bluebill1049 Here is the validate function and when value length is `0` i want to display error message like 'Select atleast one item'

[code]

Generally, we can add message to rules like below
[code]

[2020-07-24 09:38] danielnakamashi commented on #2350
Oh, ok. So it's not a bug. Thanks for fast reply!

[2020-07-24 09:43] bluebill1049 commented on #993
if you want default for the rest, you will have to supply that into append/prepend api.

[2020-07-24 09:45] bluebill1049 commented on #1517
you can have a switch statement inside right? based on your array value return specific error message.

[2020-07-24 09:45] bluebill1049 commented on #2350
Thanks for the issue report anyhow 👍

[2020-07-24 09:45] #2350 closed

[2020-07-24 09:47] meman commented on #993
But that does not work, if i do

[code]
nested array is empty when i use useFieldArray. For now i have a hack which is to detect the empty array and append one from the nested arrays context. It works however i was hoping there would be a better way to do it

[2020-07-24 09:49] bluebill1049 commented on #993
at the nestFieldArray:

`useEffect(() => { append({ defaultRules }) }, [])`

useFieldArray only take cares per FieldArray.

[2020-07-24 09:54] sandeepkumar-vedam-by commented on #1517
@bluebill1049 Yes. It is working. I didn't think that we can directly return message in validate function. Thanks :)

[2020-07-24 09:58] rvision opened #2352 "Custom yup validation with useFieldArray doesn't always trigger re-render"
**Describe the bug**
I have custom yup validation which checks if there are same names in field array and returns false if there are 2 or more items with the same name. This works fine if you add 2 items to field array. When you add third one, validation is always "1 step behind" after rendering. It is validated, but render is not triggered so the error css is not displayed for the last field that

[2020-07-24 10:09] meman commented on #993
Ok cool thanks

[2020-07-24 10:14] bluebill1049 commented on #2352
so you mean the moment you hit +, you should see the error message?

[2020-07-24 10:27] rvision commented on #2352
Well, that's how it works when you add second job, both of them are error highlighted. When you add third one, that one is not. When you add fourth, third one is highlighted, but fourth one is not. Always late for the last element added.

[2020-07-24 10:33] bluebill1049 commented on #2352
My question is
<img width="421" alt="Screen Shot 2020-07-24 at 8 33 15 pm" src="https://user-images.githubusercontent.com/10513364/88382972-eec3b280-cdec-11ea-93c5-14e5271c9a47.png">
should this throw error, the moment i hit append?

[2020-07-24 10:38] rvision commented on #2352
It should validate on each change of fields. If you add one, it is valid since there are no 2 jobs with empty name. If you add second empty one, it should validate and mark 2 of them with empty names.

[2020-07-24 10:42] bluebill1049 commented on #2352
Yea, but the last one you added makes sense not to have error highlight right, cause user hasn't edit it?

step1:
<img width="442" alt="Screen Shot 2020-07-24 at 8 41 09 pm" src="https://user-images.githubusercontent.com/10513364/88383526-0cdde280-cdee-11ea-8800-7fa48e7a2afd.png">

step2
<img width="446" alt="Screen Shot 2020-07-24 at 8 41 14 pm" src="https://user-images.githubusercontent.com/1051

[2020-07-24 10:43] bluebill1049 commented on #2352
can you take screenshots and hight when you expected to see errors? It's hard to understand just by words sometimes.

[2020-07-24 10:45] rvision commented on #2352
First screenshot shouldn't have error, it is valid because there are no 2 jobs with empty name.

Second screenshot should highlight last 2 jobs because they have empty name = equal name

If you add 3rd job (with empty name), that one should also be highlighted, but it is not.

[2020-07-24 10:48] rvision commented on #2352
![image](https://user-images.githubusercontent.com/1709545/88384063-0595e500-cdac-11ea-8e12-b7f423a85a77.png)

[2020-07-24 10:51] bluebill1049 commented on #2352
That's driven by your validation logic, right?

you already trigger at `useEffect` which happens after inputs are mounted.

[2020-07-24 10:57] #2337 closed

[2020-07-24 10:57] #2341 closed

[2020-07-24 10:58] #2322 closed

[2020-07-24 11:08] rvision commented on #2352
Yes, it is. It saves the indexes of duplicate job names into duplicateNameIndexes Set and this is updated properly, you can check in the console log. But after adding second job it stops re-rendering after validation occurred.

[2020-07-24 11:23] bluebill1049 commented on #2352
i think perhaps some issues related to your schema?

<img width="446" alt="Screen Shot 2020-07-24 at 9 23 14 pm" src="https://user-images.githubusercontent.com/10513364/88386524-e458e700-cdf3-11ea-8868-95f580dffc5b.png">

[2020-07-24 11:25] rvision commented on #2352
No it's not: the screenshot you pasted is valid, there are not 2 jobs with same name.

[2020-07-24 11:47] bluebill1049 commented on #2352
two jobs with the same name? I am confused: job1, job2, job3 and 332?

[2020-07-24 11:49] rvision commented on #2352
I said there are no 2 jobs with same name so it's valid.

[2020-07-24 12:03] bluebill1049 commented on #2352
if I change that into a pure resolver, as you can see all the values is collected correctly which leads me to think it's a schema issue.

<img width="1073" alt="Screen Shot 2020-07-24 at 10 02 38 pm" src="https://user-images.githubusercontent.com/10513364/88389227-6566ad00-cdf9-11ea-88ba-abd15a3ea3f6.png">

[2020-07-24 12:08] rvision commented on #2352
I understand that resolver returns true/false and that's how it works. It has to populate duplicateNameIndexes Set with indexes so render can highlight fields which are duplicate.

If you look at the console logs you will see that when in case you have 2 jobs without names rendering occurs after validation. When you add third one, validation is triggered, but no render afterwards. Console displays

[2020-07-24 12:12] bluebill1049 commented on #2352
ok, let me take a deep looker. thanks

[2020-07-24 12:23] bluebill1049 commented on #2352
ok, this make sense now. we optimize the same error not triggering extra re-render, I think you should return errors with associated `index`.

[2020-07-24 14:14] rvision commented on #2352
That's it. Will modify schema validation to return whole path and use that instead of global Set.

Thanks a lot!

[2020-07-24 14:26] LambdaMan2K commented on #2341
hey okay so i found out that this happens when i include jsx in the label parameter for the options passed to react-select to show images but it works as i said if i just listen for every change

[2020-07-24 14:32] rvision commented on #2352
It doesn't work: whatever I send through yup's createError method is not reflected in hook-form's errors object:

[code]

[2020-07-24 14:35] bluebill1049 commented on #2352
will take look tmr.

[2020-07-24 14:37] rvision commented on #2352
Thanks.
Updated codesandbox demo: https://codesandbox.io/s/react-hook-form-usefieldarray-owyo0?file=/src/index.js

[2020-07-24 16:03] sprayone commented on #1255
Please, help me. Sorry for my english.
I'm trying use react-hook-form with Input mask, but, without sucess.

<Controller
                                                    as={InputMask}
                                                    control={control}
                                                    className="form-control"
                                                    id="cpf"

[2020-07-24 16:05] benswinburne commented on #2333
Thanks for providing a workaround Bill, much appreciated.

Whilst that works in a single use the initial values you've used are stored at the file level so that's shared for every use of the hook.

In the below example where the remote fetching belongs to a hook, the `let test` is scoped to the file so both forms share the same temporary store, but if i move it into the hook function scope it no l

[2020-07-24 16:06] jamesleeht commented on #2317
Thanks for this. I think this should be put in the docs under clearErrors so people know how to invoke it on submit.

[2020-07-24 22:56] dandv commented on #2322
@bluebill1049 thanks for the link to the Changelog. This is a breaking change though, maybe it should've happened on a minor version (6.1.0), not on the patch version level?

[2020-07-24 23:01] dandv commented on #2322
@bluebill1049 thanks for the link to the Changelog. This is a breaking change though, maybe it should've happened on a minor version (6.1.0), not on the patch version level?

Re. the codesandbox, https://codesandbox.io/s/react-hook-form-with-ui-library-lg33x doesn't include a checkbox demo, and https://codesandbox.io/s/react-hook-form-controller-079xx?file=/src/index.js uses RHF 5. [Updating the l

[2020-07-24 23:24] bluebill1049 commented on #1255
Take a look at the doc, there are codesadnboxes for v5 and v6 which have mask input. (Controller section)

[2020-07-24 23:27] bluebill1049 commented on #2333
you can convert that let variable into useRef as well.

[2020-07-24 23:32] bluebill1049 commented on #2322
thanks @dandv valid points, I will sort them out and update the doc.

[2020-07-25 00:27] xiaoyu-tamu commented on #2310
I would love to do, but I still don't understand why `useWatch` does not work for array field :-)

[2020-07-25 01:13] bluebill1049 commented on #2310
oh wait, sorry i miss look the issue with watch API, i will take a look at it.

[2020-07-25 03:33] bluebill1049 commented on #2352
Can you take a look at this example with pure resolve return unique errors each time with index?
https://codesandbox.io/s/react-hook-form-usefieldarray-hwgwn?file=/src/index.js

[2020-07-25 06:34] #2339 closed

[2020-07-25 08:12] #2336 closed

[2020-07-25 08:36] bluebill1049 commented on #2308
will be published in the next patch.

[2020-07-25 08:36] #2308 closed

[2020-07-25 11:26] rvision commented on #2352
This works, meaning render is triggered after validation. But I would like to use yup since I already have several other validations that work fine. I've tried to change the format in yup validator to match to the on you provided in the example (instead of yup's createError method), but still the same problem.

In lack of better approach, I can solve this by forcing re-rendering after validation l

[2020-07-25 11:28] bluebill1049 commented on #2352
hmmm, that's not great, I wonder why it's not working. can you capture what are the errors object that you are returning? I am busy with stuff today, i am happy to take a look again tmr.

[2020-07-25 11:46] rvision commented on #2352
![image](https://user-images.githubusercontent.com/1709545/88456293-c4213a80-ce7c-11ea-9af6-1dccd2deb456.png)

(1) If I return only true/false from yup, error stays the same, but if you look at the items you'll see this is not the case (2)
I am logging errors object in console (3) before rendering, so re-rendering is triggered, but duplicate names error is invalid because all items are unique

FYI

[2020-07-25 11:49] #2310 closed

[2020-07-25 12:25] hirenbhut93 opened #2362 "SmartFormComponent component work correctly in dev, when i build production build that time is not working"
https://react-hook-form.com/advanced-usage#SmartFormComponent

Means `register` arg is not available in Input or Select, those pass via Form component but only received arg name and options in production build,

Work correctly when i develop using `npm start`, but issue when i build production using `npm run build`

[2020-07-25 13:00] #2362 closed

[2020-07-26 01:05] bluebill1049 commented on #2352
<img width="845" alt="Screen Shot 2020-07-26 at 11 04 32 am" src="https://user-images.githubusercontent.com/10513364/88469050-cb555080-cf2f-11ea-847f-0b54392ef16b.png">

just tried with your CSB, looks like the errors object is always empty.
https://codesandbox.io/s/react-hook-form-usefieldarray-owyo0?file=/src/index.js

I am going to close this issue, but we can continue the conversation here.

[2020-07-26 01:05] #2352 closed

[2020-07-26 09:43] hemadriDasari1990 commented on #2323
@bluebill1049 I'm having same issue. When field is required and its value is false the form is still in valid. Any solution that you can suggest to overcome this issue?

@colthreepv Can you please share your solution if you found working for you.

[2020-07-26 10:23] rvision commented on #2352
It's not: the "validation occured 8 4,3,5,6,7" is log from validation resolver. 4,3,5,6,7 are indexes of the duplicate names (empty) and that is returned from validator. If you look at the console log you will see that this is the last output, there is no rerender afterwards. "duplicate found x" is logged during the render.

What object properties does hook form expect to be returned from validati

[2020-07-26 10:25] bluebill1049 commented on #2352
have a look at the example here: https://codesandbox.io/s/react-hook-form-usefieldarray-hwgwn?file=/src/index.js at the resolver, as long as the errors object gets returned from resolver is unique, it will trigger re-render, if the errors object is the same, it wouldn't' re-render, we are doing a simple object compare inside.

[2020-07-26 14:32] Vandell63 opened #2369 "[useFieldArray] Errors validation should trigger when revalidate mode is on 'onChange'"
Hey how are you @bluebill1049 :) ?
**Describe the bug**
Simple, when i set the `reValidateMode` to `onChange` i expect the validation to trigger on any methods of `useFieldArray` methods.

**To Reproduce**
Yup schema with array of minimum 2.
Validate first the form.
Error happened that said we need 2 at least 2 items.
Click on append. The error still there.
Only when you click on Submit the messag

[2020-07-26 15:37] rvision commented on #2352
If you look at both examples that I provided, in case of error, each time different object is created and returned:

https://codesandbox.io/s/react-hook-form-usefieldarray-owyo0?file=/src/index.js:2186-2362
line 99:
[code]

https://codesandbox.io/s/react-hook-form-usefieldarray-hwgwn?file=/src/index.js:2185-2357
line 98, uses yup's create error:
[code]

The sequence of events is easily tracked via

[2020-07-26 16:15] Vandell63 commented on #2369
After investigate a bit more, it's not come from the use field array but more from any yup array validation, i continue

[2020-07-26 20:34] xiaoyu-tamu commented on #2339
@bluebill1049 problem still exist in 6.1.0

https://codesandbox.io/s/react-hook-form-v6-usewatch-gci0c?file=/src/index.js

[2020-07-26 20:58] haagOS opened #2371 "[useFieldArray] filtering fields leads to unpredicted behavior"
**Describe the bug**
I created a form with an array of elements. The form has multiple sections. Which element should be rendered in which section is defined by some condition. The useFieldArray hook has been used.

**To Reproduce**
1. Go to the codesandbox provided below
2. Click on the checkbox for "a@example.com"
3. Click submit
4. See console output

**Codesandbox link (Required)**
https://cod

[2020-07-26 21:17] clehene opened #2372 "5 -> 6 errors / missing migration guide"
Upon a quick look after upgrading from 5 to 6. There are several errors that don't show up anywhere in the release notes or documentation.

(at least) the following can't be found:

* `FormContextValues`
* `FormContext`
* `ErrorMessage`
* `submitFocusError`

Is there a migration guide, or otherwise what's the recommended approach to upgrading?

[2020-07-26 23:02] bluebill1049 commented on #2372
let's improve it: https://react-hook-form.com/migrate-v5-to-v6 but i think some of them already got covered.

[2020-07-26 23:06] bluebill1049 commented on #2339
you are pointing at a src folder.

[2020-07-26 23:20] clehene commented on #2372
I can't find the migration guide in the repo, but here are my changes

Replaced type `FormContextValues` with `UseFormMethods`
[code]

`yarn add @hookform/error-message`

[code]

Not sure about this one (I just removed the option)

[code]

[2020-07-26 23:27] bluebill1049 commented on #2369
hey @vadimshvetsov thanks for the issue report. hook form validation mode is actually focused on the inputs, the work around is easy to have

`useEffect(() => { trigger('test') }, [trigger])`

now i did consider to bake the logic inside the `useFieldArray`, however this would be only applied to `resolver` level instead of build-in form validation, so i think leave at the field level is more consis

[2020-07-26 23:28] bluebill1049 commented on #2372
Thanks, will get them included tonight.

[2020-07-26 23:29] bluebill1049 commented on #2372
<img width="1154" alt="Screen Shot 2020-07-27 at 9 29 10 am" src="https://user-images.githubusercontent.com/10513364/88492090-a1f9fa80-cfeb-11ea-8b54-6ba42433cd3d.png">

ErrorMessage is covered

[2020-07-26 23:29] bluebill1049 commented on #2372
![Uploading Screen Shot 2020-07-27 at 9.29.31 am.png…]()

and setError

[2020-07-26 23:30] bluebill1049 commented on #2372
in terms of TS, you can refer to this page: https://react-hook-form.com/ts as we only start to document them down from v6

[2020-07-26 23:52] bluebill1049 commented on #2371
1. why key `id` is not used?
<img width="934" alt="Screen Shot 2020-07-27 at 9 51 59 am" src="https://user-images.githubusercontent.com/10513364/88492547-d622ea80-cfee-11ea-8143-221de14b9f72.png">

let's focus on one set to start with.
<img width="1231" alt="Screen Shot 2020-07-27 at 9 51 04 am" src="https://user-images.githubusercontent.com/10513364/88492526-be4b6680-cfee-11ea-86e3-53d119e994e2.p

[2020-07-27 00:20] bluebill1049 commented on #2372
doc updated with the missing piece: submitFocusError. thanks 👍

[2020-07-27 00:20] #2372 closed

[2020-07-27 00:24] bluebill1049 commented on #2369
<img width="667" alt="Screen Shot 2020-07-27 at 10 24 24 am" src="https://user-images.githubusercontent.com/10513364/88493233-5cd9c680-cff3-11ea-9971-5c0d9734b803.png">

thinking about update this in the doc. let me know your thoughts.

[2020-07-27 03:04] kielvi opened #2375 "Type 'TFieldName' cannot be used to index ty"
Hi, I'm trying to use the react-hook-form, and after npm install package and import, I'm getting the following error:

TypeScript error in /Applications/MAMP/htdocs/brf-reset-senha/Service.Login/ClientApp/node_modules/react-hook-form/dist/types/form.d.ts(189,130):
Type 'TFieldName' cannot be used to index type 'UnpackNestedValue<TFieldValues>'.  TS2536

[2020-07-27 06:59] haagOS commented on #2371
@bluebill1049 thank you for replying that fast and for taking a deeper look at it.

to point 1) my fault - missed that one.

Though I just think how does that relate to the keyName of useFieldArray? The default there is 'id' but I set it to 'email'. Should 'id' still be used (i.e. **always**) as the key?

[2020-07-27 07:03] bluebill1049 commented on #2371
@haagOS Yes, I think it's better to stick with the key that useFieldArray provided.

[2020-07-27 09:28] benswinburne opened #2379 "trigger() behaves differently for normal fields and field arrays"
**Describe the bug**
Calling trigger when no schema is in place passes normal fields (as expected) but fails array fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sandbox link
2. Click on trigger with schema undefined. normal field passes, array field fails.
3. Click on trigger with schema as `schema`. normal field passes, array field passes when criteria met.
4. Click on t

[2020-07-27 09:31] bluebill1049 commented on #2379
That's expected behavior, when using scheme you are validating against the inputs against your schema, however for build-in validator and it's field level, you will have to trigger setError manually for `minLengh` array field length.

[2020-07-27 09:32] #2375 closed

[2020-07-27 09:36] benswinburne commented on #2379
In the absence of a schema they behave differently though. I know if i use a schema it works and how to validate it, but if one type of field passes when no schema and the other one fails then that's unexpected. I'd posit that they should both do the same, i.e. if no validation schema exists then all fields should pass validation.

trigger() on an array field when no validation is required should

[2020-07-27 09:48] rnnyrk opened #2380 "Issue with setError where it's only shown after 1ms timeout"
Hi there,

Currenty I'm running into a strange issue / bug where an error added with `setError` will only be shown when I wrap it with a 1ms timeout. When I don't do that the error is removed immidiatly and I can't seem to understand or figure out why.

I've created a CodeSandbox which mimics my exact situation. Hope you can help out, or explain what I'm doing wrong or what I do misunderstand.

ht

[2020-07-27 09:48] bluebill1049 commented on #2379
<img width="706" alt="Screen Shot 2020-07-27 at 7 46 34 pm" src="https://user-images.githubusercontent.com/10513364/88528359-e57f5380-d041-11ea-83db-a53be8cd7359.png">

Yes, I understand your concern above. As today, we are not supporting `key` name trigger with `trigger`, rather supply an individual key `name` or array of the name`, it's working for schema because we are valid against the schema.

[2020-07-27 09:56] bluebill1049 commented on #2380
can you reproduce this in an isolated env? there are so many dependency in the CSB.

[2020-07-27 09:59] bluebill1049 commented on #2379
in the meantime, you can send a feature request for `trigger()` to support key names for build-in validate.

[2020-07-27 10:06] benswinburne commented on #2379
That's what I'm doing, I'm explicitly calling in `trigger('test')` and I expect it to pass if there is no schema, which it doesn't. I have to create logic to attempt to determine which kind of field/if there's schema on the form.

I am looking to pass validation on the name of a field when that field is an array if there is no validation set.

I'm not looking for `trigger(keyname)`, that's a separ

[2020-07-27 10:08] rnnyrk commented on #2380
@bluebill1049 Tell me what I need to strip, because for me this is a pretty isolated env. I run into the issue with this exact scenario using a datepicker.

[2020-07-27 10:08] bluebill1049 commented on #2379
That `test` is a key not a field name.

[2020-07-27 10:09] benswinburne commented on #2379
![image](https://user-images.githubusercontent.com/1208977/88530647-96adcb80-cff9-11ea-87ee-1f80295b3e9b.png)

It is this field

[2020-07-27 10:09] rvision commented on #2352
Here is a third method to validate: inline test function in yup validator:

https://codesandbox.io/s/react-hook-form-usefieldarray-g09z3?file=/src/index.js

it behaves the same, render is after adding 2 items always 1 step behind. You can check this in the console.logs.

And this bug occurs also when you fulfill validation requirements: it doesn't re-render properly and last error is displayed alt

[2020-07-27 10:10] bluebill1049 commented on #2379
yes, 'test' is the key for the fieldArray, not the fieldName, fieldName is `test[0].xxx'.

[2020-07-27 10:11] bluebill1049 commented on #2379
`{test: [ { data: ''}, {data1: ''} ]}`

- `test` is the key name
- `test[0].data` is the field name

[2020-07-27 10:14] bluebill1049 commented on #2380
can you reproduce this with just <input /> or plus with Controller? right now your DataPicker have a lot of sideEffects: https://codesandbox.io/s/react-hook-form-seterror-issue-lc8sg?file=/src/DatePicker/index.js

[2020-07-27 10:15] bluebill1049 commented on #2352
<img width="675" alt="Screen Shot 2020-07-27 at 8 15 12 pm" src="https://user-images.githubusercontent.com/10513364/88531246-e2866200-d045-11ea-84fe-b0d2496abbc5.png">

but look at the errors object its always the same shape as the same message and type. the moment we doing a diff inside it's the same, hence not re-render the component.

[2020-07-27 10:18] benswinburne commented on #2379
Right that makes a bit more sense! So it's the fact that RHF sees that field as absent.

https://codesandbox.io/s/react-hook-form-usefieldarray-template-cy2op?file=/src/index.js

Demo of an absent field fails too.

Thanks very much for your help and feedback there, that's cleared things up for me. Really appreciate how involved in the GH issues you are, it's really refreshing and no doubt a huge h

[2020-07-27 10:21] benswinburne commented on #2333
I'd tried using a ref but it doesn't appear to work. Any thoughts on why?

https://codesandbox.io/s/inspiring-feistel-hyz87?file=/src/App.js

It's exactly the same as the previous CSB but using `myRef.current` instead of the file scoped `let test`. I've been through this with a friend and neither of us are sure why this is the case and assume it's something to do with how RHF caches the defaults b

[2020-07-27 10:22] bluebill1049 commented on #2379
no worries mate, sorry I wasn't clear enough in the first reply, but please send us a feature request, I will log this in our project. Just be mindful, we are pretty cautious about the feature request because as you know each feature increases the package size. today we are still one of the small form libs in the industry. so be patient with us as we move/hold feature into progress, we tend to wai

[2020-07-27 10:23] rvision commented on #2352
I understand that - and what I am trying to find out here is how to make this error object different if I can return from yup true or false? How do I modify what gets into rhf's error object? I've already tried true/false, and createError and shape you mentioned before.

[2020-07-27 10:24] hemadriDasari1990 commented on #2323
I overcome this issue by doing validations using validate function in rules

[2020-07-27 10:27] rvision commented on #2352
And please try the last example I've posted: if you make the form valid, last error is not cleared from the errors object.

[2020-07-27 10:27] benswinburne commented on #2379
Of course, that makes sense, understandable. Where do people vote on features?

[2020-07-27 10:31] bluebill1049 commented on #2379
<img width="1245" alt="Screen Shot 2020-07-27 at 8 30 50 pm" src="https://user-images.githubusercontent.com/10513364/88532510-12cf0000-d048-11ea-930e-54d9bc0ef28e.png">

https://github.com/react-hook-form/react-hook-form/issues/1981

[2020-07-27 10:33] bluebill1049 commented on #2352
i think it's almost easier to just use resolver and have scheme inside, so you can write some custom logic.

[code]

[2020-07-27 10:33] benswinburne opened #2381 "Ability to call trigger() on fieldArray fields"
It'd be useful to be able to call `trigger()` on field arrays.

A minimum API would be `trigger('myfield[i].property')`

Further potential APIs

`trigger('myfield')` iterates over `myfield[]` and `Object.values()`
`trigger('myfield[0]')` iterates over `Object.values()`

**Additional context**

Related discussion https://github.com/react-hook-form/react-hook-form/issues/2379

[2020-07-27 10:33] rvision commented on #2352
Here is the version with no duplicate error types, each has a hash for different naming, still same behaviour:

https://codesandbox.io/s/react-hook-form-usefieldarray-ziz2o?file=/src/index.js

[2020-07-27 10:35] #2379 closed

[2020-07-27 10:35] #2381 closed

[2020-07-27 10:35] chouandy opened #2382 "[useFieldArray] The value will be the default value when removed all fields"
**Describe the bug**
The value will be the default value when removed all fields. If the arguments of useForm has defaultValues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the codesandbox provided below
2. Remove all array fields
3. Click submit
4. See console output

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-cqvfs

**Expe

[2020-07-27 10:37] bluebill1049 commented on #2382
@keiya01 i think this could be an issue caused by `getValues()` fix?

[2020-07-27 10:42] keiya01 commented on #2382
@bluebill1049
i think so too... i will fix this issue.

[2020-07-27 10:43] bluebill1049 commented on #2333
hmmm looks like ref solution doesn't work, the other alternative solution would be not having useQuery inside the form component and hoist it up to the parent component.

[2020-07-27 10:48] benswinburne commented on #2333
Yeah unfortunately the whole point is to create a hook where I can just set up a remote form with autosaving all in one place. As soon as I hoist part of the functionality it goes back to gluing bits together (this app has a _lot_ of forms too 😄 ). Probably going to have to make a HoC to group it together instead of a hook which is a bit of a shame but alas it is what it is as I'm stumped as to wh

[2020-07-27 10:50] bluebill1049 commented on #2382
Thanks heaps @keiya01 👍

[2020-07-27 10:51] bluebill1049 commented on #2333
Yeah, it's a bit unfortunate, we will have a proper solution once suspense is finalized.

[2020-07-27 10:58] bluebill1049 commented on #2382
@keiya01 This is actually a tricky one, chicken, and egg situation. I guess that was the first reason why i didn't want to include getValues() to return default values.

[2020-07-27 11:15] rnnyrk commented on #2380
@bluebill1049 I'd strip the DatePicker component for you to the minimum so the only effects are `react-hook-form` related. Is this enough for you? To be honest I think when I refactor the CodeSandbox example to be using a Controller we might miss the point of the bug, since this is not how I use it in my application? 🤔

[2020-07-27 11:19] rvision commented on #2352
Here is the version with resolver you've suggested:

https://codesandbox.io/s/react-hook-form-usefieldarray-9io4r?file=/src/index.js

still same behavior: rendering is 1 step behind validation.

[2020-07-27 11:26] bluebill1049 commented on #2380
sounds good to me, as long as there are less logic in that component which are potential the root cause, as i don't think we have issue with setError, the code underneath is rather simple.

[2020-07-27 11:38] rnnyrk commented on #2380
So can you check if this is good for you @bluebill1049 ? https://codesandbox.io/s/react-hook-form-seterror-issue-lc8sg?file=/src/DatePicker/index.js

[2020-07-27 11:55] bluebill1049 commented on #2380
The bug is on your second DatePick is try to remove the error, I am not sure where you remove the error, but you can try this demo and select the second date picker, and then first, it's always working. It's not a bug with setError.

https://codesandbox.io/s/react-hook-form-seterror-issue-t9dgt?file=/src/App.js

[2020-07-27 11:56] bluebill1049 commented on #2380
<img width="617" alt="Screen Shot 2020-07-27 at 9 56 09 pm" src="https://user-images.githubusercontent.com/10513364/88539113-fcc73c80-d053-11ea-93db-f6e59945653a.png">
look around here.

[2020-07-27 11:56] #2380 closed

[2020-07-27 12:34] smashercosmo commented on #2237
Hey, @bluebill1049 , I've just realised one thing and want to ask you about it. You were saying that one shouldn't reset field to undefined. But, isn't it the same as not providing all fields in the default values object? I mean, imagine you have a form with three fields 'a', 'b' and 'c'. If you initialise this form with ```useForm({ defaultValues: { a: 'aa', b: 'bb' } })``` it's the same as initi

[2020-07-27 12:35] Vandell63 commented on #2369
thx @bluebill1049  so if i want to update any array errors from the `useFieldArray` methods like the append method. I have to  trigger the name of my array name right ? I will give a shot to the code sandbox that i provide. I'm back to you if it's enough clear to me and give you my thoughts about this :)

[2020-07-27 12:45] rvision commented on #2352
I also checked with "react-hook-form": "^5.7.2", the behavior is the same:

- If you add third empty job, it will not be highlighted.

- if you fulfill the validation, last error message is not cleared; It still shows that there are duplicates, but there aren't any.

[2020-07-27 12:49] bluebill1049 commented on #2369
thanks @Vandell63 👍

[2020-07-27 12:50] bluebill1049 commented on #2237
it will be an empty string by default, just like any native input.

[2020-07-27 13:01] smashercosmo commented on #2320
@bluebill1049 this hasn't been fixed with latest release. You can check it in provided codesandbox.

[2020-07-27 13:04] smashercosmo commented on #2237
mmm... in what case it will be an empty string? Will 'c' be an empty string if I initialise form with ```{ a: 'aa', b: 'bb', c: undefined }```?

[2020-07-27 13:41] maxy4u commented on #960
This was a saviour :) Thank you very much. great work :)

[2020-07-27 13:59] keiya01 commented on #2382
Hmm, I think we should provide option about while `defaultValue` should be included in passed value from `getValues()` and `handleSubmit` or not. Because I think passed value from these method need to be same.

[2020-07-27 14:27] Satyam opened #2384 "Take default values from resolver schema"
**Is your feature request related to a problem? Please describe.**

All three supported schema validators allow the declaration of default values for all its types.  See [Superstruct](https://github.com/ianstormtaylor/superstruct/blob/HEAD/docs/reference.md#defaulted), [Joi](https://hapi.dev/module/joi/api/?v=17.1.1#anydefaultvalue), [Yup](https://www.npmjs.com/package/yup#mixeddefaultvalue-any-sc

[2020-07-27 14:57] alxvallejo commented on #858
@bluebill1049 That link is not helpful. Can you cite which thread?

[2020-07-27 18:37] hthuong09 opened #2386 "[useFieldArray] `watch` does not return correct values when removing item"
**Describe the bug**
The data return by `watch` is different from the real data in `field` (item of `fields`) when removing item

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/lingering-shape-b00bs
2. Click on Toggle Use Entry Condition to On
3. Select Segment Type `Type 2`
4. Enter From and To date
5. Click on `Add More Entry Condition` 2 times
6. Open the co

[2020-07-27 19:24] Vandell63 commented on #2369
What you think about for every array methods like : `append("test", {shouldValidate: true, shouldFocus: true})` as you made for the `setValue`  ?  Does it seems relevant or am i out ?

[2020-07-27 19:42] haagOS commented on #2371
Ok, I edited my codesandbox with the following changes:
1) I used `id` as the key for the field array and changed my data structure accordingly
2) I removed the `.filter()` and instead used a conditional render expression

[codesandbox - edited](https://codesandbox.io/s/react-hook-form-field-array-with-sections-edited-b7669)

Now the submit result is correct. However the `formState.isDirty` flag i

[2020-07-27 21:30] lukebyrne73 commented on #1550
@eduardobittencourt  I'm trying to do the same here and @vensauro's implementation won't work for me. Getting the error: "Cannot read property 'getCurrentContent' of undefined".

[2020-07-27 21:35] lukebyrne73 opened #2388 "React Hook Form and Draft JS - when I submit the form, DraftJS values are not registered."
I'm using DraftJS and React Hook Form to have a rich text editor. When I try to use a custom controller, the input on the controller does not register with my form. I want to know if there's something that I'm missing here.

[CodeSandbox](https://codesandbox.io/s/interesting-chatterjee-o5x41)

Thank you, I'm a big fan of React Hook Form!

[2020-07-27 23:06] bluebill1049 commented on #858
@alxvallejo you have the same question on which button is clicked?

`onClick={() => { handleSubmit()(); triggerYourAction() }}`

[2020-07-27 23:13] bluebill1049 commented on #2369
good idea! couple concerns here.

1. when validation is going to trigger? it's actually after mount
2. probably a breaking change for the method

[2020-07-27 23:16] bluebill1049 commented on #2382
@keiya01 `handleSubmit` we should use the `getFieldsValues` method and ignore the `defaultVlaues`.

[2020-07-27 23:17] bluebill1049 commented on #2384
hmmm, it's the same as `context`, personally I prefer single place for API. thanks for your feature request tho, keep it on the list.

[2020-07-27 23:18] #2384 closed

[2020-07-27 23:19] bluebill1049 commented on #2386
Thanks for the detailed issue report, for remove you can either use `useWatch` or `wach` API, but you will have to subscribe to the entire FieldArray.

[2020-07-27 23:20] #2388 closed

[2020-07-28 01:21] bluebill1049 commented on #2371
hey, thanks for the update. can you try to `console.log(formState.isDirty)` before the render? we have a proxy around the formState to reduce re-render.

<img width="972" alt="Screen Shot 2020-07-28 at 11 21 17 am" src="https://user-images.githubusercontent.com/10513364/88608179-772fa500-d0c4-11ea-94a7-da9d93db88da.png">

[2020-07-28 01:56] bluebill1049 commented on #2352
I think the render is correct with your latest codesandbox, but why you are not using the `errors` object? if your red board can rely on the errors object, then the UI should render correctly.

[2020-07-28 02:31] chouandy commented on #2382
Hi @bluebill1049,
Will the field value of `watch` method be empty array? I currently use `useEffect` method to monitor the field value. If the field value is empty array by updating, I use `reset` to set the field value to empty array. This is a workaround solution.

[2020-07-28 02:35] bluebill1049 commented on #2382
Thanks, @chouandy we should fix this issue soon. 🙏

[2020-07-28 02:56] hthuong09 commented on #2386
Hi @bluebill1049 thanks for the fast reply.
I tried to update the example by subscribe to the entire `entryConditions` field.
https://codesandbox.io/s/lingering-shape-b00bs

When adding a new item, `entryCondtions[1]` give me undefined instead of default value that I appended.
`field` still gives the correct value though.
Should I fallback to `field` when `entryConditions[index]` gives me undefine

[2020-07-28 02:58] simtechmedia commented on #2375
I had the same issue when I upgraded from react-hook-form 4.x to 6.x.  It was because I was using typescript version 3.7.x, Upgrading resolved this issue.

Hope this helps

[2020-07-28 03:02] bluebill1049 commented on #2375
Thank you 🙏

[2020-07-28 03:05] bluebill1049 commented on #2386
hey @hthuong09 I think this will solve the problem:

<img width="886" alt="Screen Shot 2020-07-28 at 1 05 05 pm" src="https://user-images.githubusercontent.com/10513364/88614373-f7f59d80-d0d2-11ea-8906-97dbcc51c267.png">

[2020-07-28 03:23] hthuong09 commented on #2386
@bluebill1049 I already added the default fields, though!
![image](https://user-images.githubusercontent.com/8191266/88615503-4481ae80-d0bc-11ea-867f-39770234a681.png)

[2020-07-28 03:32] bluebill1049 commented on #2386
sorry, honestly I didn't check your code, but look the size of your codesandbox, can you imagine if everyone submits an issue for me to analyze the whole app? at least you can tell me which file to look for it or provide an isolated codesandbox to reproduce the problem.

<img width="384" alt="Screen Shot 2020-07-28 at 1 31 20 pm" src="https://user-images.githubusercontent.com/10513364/88616119-a18

[2020-07-28 05:40] Albert-Gao opened #2392 "callback passed to handleSubmit is not triggered in test"
a reproduce repo is here: https://github.com/react-hook-form/react-hook-form

`yarn test` to see the failing test

It is running using `jest-expo` but web only, so no native setup, and use `@testing-library/react` to test. This is the path to enable the universal test in test for all platforms, but I currently stuck here.

## The app:

[code]

## the test

[code]

![image](https://user-images.gith

[2020-07-28 05:46] hthuong09 commented on #2386
Sorry for the big codebase. I tried to split it from my main app but there was many common components.
As for the file, I think you could look at this file https://codesandbox.io/s/lingering-shape-b00bs?file=/src/ChallengeForm/EntryCondition/EntryCondition.js at 3 positions
1. Where I watch the `entryConditions` field, `line#55`
2. Where I use the watched `entryConditions` field, `line#72`
3. Wher

[2020-07-28 05:46] #2386 closed

[2020-07-28 05:59] keiya01 commented on #2392
callback of handleSubmit is not called if error is exist.

[2020-07-28 06:02] bluebill1049 commented on #2386
Thanks, @hthuong09 let me know the other issue as well, see if I can help it.

[2020-07-28 06:15] bluebill1049 commented on #2392
oh yea, lol `rules={{ required: "name can't be blank" }}`

[2020-07-28 06:21] bluebill1049 commented on #2371
actually this could be a bug that @keiya01 already fixed https://github.com/react-hook-form/react-hook-form/pull/2368 going to publish it soon.

[2020-07-28 06:30] steinroe opened #2394 "Wizard Example not rendering"
**Describe the bug**
[This example](https://react-hook-form.com/advanced-usage#WizardFormFunnel) in the docs throws an TypeError: getStore is not a function in code sandbox. I get the same error when reproducing it in my project.

**To Reproduce**
Steps to reproduce the behavior:
1. [Go to the example and open CodeSandbox](https://react-hook-form.com/advanced-usage#WizardFormFunnel)

**Codesandbox

[2020-07-28 06:36] bluebill1049 commented on #2394
here is a completed one: https://codesandbox.io/s/react-hook-form-wizard-form-complete-wb6gs it's the description of the video

[2020-07-28 06:36] #2394 closed

[2020-07-28 06:39] Albert-Gao commented on #2392
I see, thanks!

[2020-07-28 06:39] #2392 closed

[2020-07-28 06:40] steinroe commented on #2394
Thanks for the quick reply, but for me it also throws the error:

![Screenshot 2020-07-28 at 08 40 04](https://user-images.githubusercontent.com/19429600/88628267-f2d22780-d0ad-11ea-8c3a-ea881c6bf3ee.png)

[2020-07-28 06:57] bluebill1049 commented on #2394
fork that codesandbox and work on top of it? perhaps some package versioning.

[2020-07-28 08:21] haagOS commented on #2371
Thanks for the reply.

I've updated the [codesandbox ](https://codesandbox.io/s/react-hook-form-field-array-with-sections-edited-b7669) accordingly.

I've defined two variables and print them before rendering:
- `isDirty = formState.isDirty`
- `isDirtyFix = formState.dirtyFields.users !== undefined`

Console output (uncheck then check 'c@example.com'):
![image](https://user-images.githubuserconten

[2020-07-28 08:43] bluebill1049 commented on #2371
looks like there is an issue with the dirty, i will investigate the problem, but you should use a separate useFieldArray for the second FieldArray, instead reuse the same instance.

[2020-07-28 08:50] bluebill1049 commented on #2371
<img width="411" alt="Screen Shot 2020-07-28 at 6 49 00 pm" src="https://user-images.githubusercontent.com/10513364/88641792-02c82680-d103-11ea-9bc9-2217256aba7d.png">

This is correct because your default value is miss match with your inputs on the screen.

1. use useFieldArray per FieldArray
2. your defaultValue should repent your inputs values

[2020-07-28 09:09] rvision commented on #2352
That's what I am trying to do but with no luck :)

- if I return true from yup validation, error is the same and no-rerendering
- if I return object created with createError, the same
- if I return something in the shape of errors object, the same

or you mean I should manipulate errors object directly?

[2020-07-28 09:10] bluebill1049 commented on #2352
yes manipulate the `errors` object, that's what i meant from the resolver.

[2020-07-28 09:21] rvision commented on #2352
It's not working properly, look at the console, validation always happens last, no rerendering afterwards:

https://codesandbox.io/s/react-hook-form-usefieldarray-9io4r?file=/src/index.js

[2020-07-28 09:25] bluebill1049 commented on #2352
<img width="676" alt="Screen Shot 2020-07-28 at 7 25 03 pm" src="https://user-images.githubusercontent.com/10513364/88645974-0dd18580-d108-11ea-9d88-b5cdf72c65a7.png">

is it this looks correct? two fields two errors? unless I am completely miss something.

[2020-07-28 09:26] bluebill1049 commented on #2352
wait look at  the `errors` object still empty :*(

[2020-07-28 09:32] rvision commented on #2352
yes, it should be 2 errors

but errors object is empty because this was previous render, it is logged while rendering, that should happen AFTER valdiation

[2020-07-28 09:36] haagOS commented on #2371
Nice. this one did the trick: "useFieldArray per FieldArray".
Thank you very much and for your time!

Came up with the following working code now: [codesandbox](https://codesandbox.io/s/react-hook-form-field-array-with-sections-edited-2-ui51o?file=/src/App.tsx)

[2020-07-28 09:36] #2371 closed

[2020-07-28 09:51] bluebill1049 commented on #2352
what about this approach?
[code]

[2020-07-28 09:51] bluebill1049 commented on #2371
nice glad it's working out for you, and thanks for the CSB which will help others.

[2020-07-28 09:58] rvision commented on #2352
No difference, sequence is the same:

https://codesandbox.io/s/react-hook-form-usefieldarray-9io4r?file=/src/index.js

[2020-07-28 10:01] bluebill1049 commented on #2352
1. resolver returned errors are not what you after
2. trigger extra validation after fields updated with `trigger`

if above both can't resolve your problem, then I have no clue or better way to resolve your problem.

[2020-07-28 10:19] rvision commented on #2352
I think the problem is this: (yup resolver):

https://codesandbox.io/s/react-hook-form-usefieldarray-g09z3?file=/src/index.js

- if you're validating single fields in array, errors will get them and display properly because there should be indexes for each of the fields (codesandbox line 101)
- if you're validating array (codesandbox line 99 and 108), in this case error is binded to array and not

[2020-07-28 10:24] bluebill1049 commented on #2352
That's what i try to suggest to kick another trigger validation after at the `useEffect`

[2020-07-28 10:31] rvision commented on #2352
if you mean this:

[code]

that's not working

[2020-07-28 10:41] danielnakamashi opened #2395 "[useFieldArray] form is dirty when append and remove field"
**Describe the bug**
When I append a field and then remove it, the `formState.isDirty` is still `true`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open console
2. Click on append button
3. Remove last field clicking on remove button
4. Check console and isDirty is still `true`

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-usefieldarray-template-ktweo?file=/sr

[2020-07-28 10:42] bluebill1049 commented on #2395
I think we just patched with 6.1.1, can you verify the fix?

[2020-07-28 10:51] danielnakamashi commented on #2395
Looks like it's still happening 🙁

[2020-07-28 11:08] rvision commented on #2352
I've managed to make it work. It's overkill, but I don't know any other way:

https://codesandbox.io/s/react-hook-form-usefieldarray-4pzic?file=/src/index.js

line 101:  it tests for each job object the whole array of jobs. Errors object is populated as it should.

But if you add 2-3 empty jobs and start typing name in one of them, it doesn't revalidate

[2020-07-28 12:38] #2395 closed

[2020-07-28 12:39] smashercosmo commented on #2320
@bluebill1049 mind reopening this one?

[2020-07-28 12:44] bluebill1049 commented on #2320
getValues is working as expected now, I don't think we need to reopen this issue.

<img width="1076" alt="Screen Shot 2020-07-28 at 10 43 27 pm" src="https://user-images.githubusercontent.com/10513364/88666690-c35e0200-d123-11ea-8817-c82335e777af.png">

[2020-07-28 12:58] smashercosmo commented on #2320
Really strange. I'm testing in the same sandbox and getting empty object when pressing "Reset with reset fn"

[2020-07-28 13:00] smashercosmo commented on #2320
Hm... maybe caching issue. It worked when I opened sandbox in incognito mode.

[2020-07-28 13:24] rvision commented on #2352
adding

`onChange={() => trigger("items") }`

on input name solves this problem, but then I don't know why is this not working:

[code]

[2020-07-28 14:56] Satyam commented on #2384
@bluebill1049  Are you sure your reply was meant for this issue?  What has `context` to do with the requested feature?  If so, please elaborate.  I'd love to know if it is so because I could use it and also, if so, it should be documented somehow.

[2020-07-28 15:03] vukadinFE opened #2399 "getValues return empty object in cleanup function after build"
**Describe the bug**
`getValues()` return form values correctly in cleanup function while running app in dev mode, but same code always return an empty object in production, after `yarn build` (create-react-app)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/pensive-wind-63goz
2. Enter some text in firstName and lastName fields
3. Click on "Step 2" link
4. See

[2020-07-28 15:57] Cold-A-Muse commented on #1175
Upgrading tho version 5.0.3 worked for me as well. Thanks :)

[2020-07-28 16:32] smashercosmo opened #2400 "Reset function resets form fields to empty values when 'values' argument is a memoized object"
**Describe the bug**
Reset function resets form fields to empty values when 'values' argument is a memoized object.

**To Reproduce**
https://codesandbox.io/s/react-hook-form-useform-template-ktu9n?file=/src/index.js
1. Enter something in the input field
2. Press 'reset' button
3. Input field will be reset to empty string

**Expected behavior**
You should be able to use memoized values object when

[2020-07-28 17:11] chouandy commented on #2382
Hi @bluebill1049, thank you for fixing the issue of the submission data. But I am still confused about the `watch`, `getValues`, and `useWatch` methods for the same case.

<img width="847" alt="Screen Shot 2020-07-29 at 00 49 40" src="https://user-images.githubusercontent.com/5448836/88696207-8a2e8d80-d135-11ea-8ca7-e3a94dffc877.png">

The above pic is a description of the `watch` method. The `def

[2020-07-28 22:38] lascarayf opened #2403 "useFieldArray remove(index) is not refreshing formState.isValid"
The formState.isValid continues in "false" when remove items from a filedArray.

Steps to reproduce the behavior:
1. Go to Sandbox
2. Click on "Append" and the Submit button will be disabled
3. "Delete" second item.
4. Submit button continues disabled !!

[Codesandbox](https://codesandbox.io/s/formstate-is-not-still-valid-after-removing-items-eevbe)

**Expected behavior**
The submit button should

[2020-07-28 22:58] bluebill1049 commented on #2400
if you reset with the memorized value, then you will need to use `register()`, otherwise the register method won't know its dep is changed.

[2020-07-28 22:58] #2400 closed

[2020-07-28 23:07] Vandell63 commented on #2369
I did'nt know rhf enough to propose something relevant but maybe on every array method call we could trigger the validation if `shouldValidate` is set to true. And yes it could be a breaking change finally :/ .
If we want to avoid the changes, does the `revalidateMode` set to `onChange` still consistent from what we expect when array have an error ?
With your example doc, the trigger will fire on

[2020-07-28 23:08] bluebill1049 commented on #2399
can you update with the latest `patch`? and adding some more log inside the prod build and perhaps with source map as well.

[2020-07-28 23:28] bluebill1049 commented on #2369
I think for now it's probably an easy option to watch the length of the array and trigger validation accordingly, we probably need a better or robust solution at useFieldArray level. It's important to cover both schema and build-in validator as well, just like TS and JS.

[code]

but probably going to be a separate feature later on once all the bugs and issues are more stable.

[2020-07-28 23:34] Vandell63 commented on #2369
Oh right lets close this for now. Thx for your Time

[2020-07-28 23:34] #2369 closed

[2020-07-28 23:50] bluebill1049 commented on #2384
what I meant is you can supply

`useForm({ context })`

or

`yup({ context })`

but for the sake of consistency, we force the user to set at the `useForm` level.

[2020-07-28 23:54] bluebill1049 commented on #2352
mode: 'onChange' is validating at the input level, when you trigger by `key` at array field level.

[2020-07-28 23:57] bluebill1049 commented on #2382
looks like `getValues` still having an issue... it should return `{}`

[2020-07-29 00:31] bluebill1049 commented on #2382
hi guys,

This `getValues` and `watch` confusion bothers me a lot, I think for better change shall we do the following: if any field got registered, we will internally mark the form as been registered and no longer return `defautlValues` with further re-render.

@kotarella1110 @keiya01 @JeromeDeLeon please let me know your thoughts, if we can align we shall release a minor release and fix this onc

[2020-07-29 00:48] JeromeDeLeon commented on #2382
When do you think is the better time to return the `defaultValues`?

[2020-07-29 00:49] JeromeDeLeon commented on #2382
I will try to think of this later as I am having a presentation today. 😬😬

[2020-07-29 00:53] bluebill1049 commented on #2403
please read the doc!!: https://react-hook-form.com/api#useFieldArray

https://codesandbox.io/s/formstate-is-not-still-valid-after-removing-items-by3e7?file=/src/App.js

1. miss defautValue
2. miss argument at append()

[2020-07-29 00:53] bluebill1049 commented on #2382
good luck @JeromeDeLeon.

[2020-07-29 00:55] bluebill1049 commented on #2382
I want getValues to return empty values despite defaultValues, but quite a few users want this feature:

https://github.com/react-hook-form/react-hook-form/issues/2320

so to solve this problem, marking `registered` inside the app will help this issue, with reset API reset that flag.

[2020-07-29 01:05] bluebill1049 commented on #2399
try `onClick` `getValues()` instead of `useEffect`?

[2020-07-29 01:29] keiya01 commented on #2382
I think we can revert #2359 because we have workaround. Workaround pass `defaultValue` directly if returned value is empty.

The following CSB is v6.0.8 before my change is applied.
https://codesandbox.io/s/exciting-saha-wqtrz?file=/src/App.js

I should have thought of it before I change this feature...

[2020-07-29 01:39] bluebill1049 commented on #2382
shall we make the following change

only return `defautlValues` with `watch, getValues, useWatch` before initial render (before any inputs get registered) so they all aligned.

[2020-07-29 01:55] keiya01 commented on #2382
i think we should do not return defaultValues before initial render.

[2020-07-29 02:01] bluebill1049 commented on #2382
I totally agree! how can we let the users agree with that? That's the tough part, that was the reason why I didn't want to bring `defaultValues` in v6 with `getValues()`, it create a lot of side effects.

https://github.com/react-hook-form/react-hook-form/issues/2308

[2020-07-29 02:09] bluebill1049 commented on #2382
Thoughts:

1. getValues() only return what's in the form
2. watch() return what's in the form and `defaultValues` before render

[2020-07-29 02:11] bluebill1049 commented on #2382
@h-sakano I think this topic is relevant to you as well, maybe you can include your thoughts as well.

[2020-07-29 02:13] bluebill1049 commented on #2308
hey guys, just an FYI: `getValues` return `defaultVlaues` is actually causing quite a bit issue, we are considering to revert back that behavior. You will most likely have to manage the `defaultValues` yourself.

[2020-07-29 02:28] bluebill1049 commented on #2382
FYI @keiya01 revert #2359

[2020-07-29 02:35] keiya01 commented on #2382
Could we suggest getting default value by user side ?

like below.

[2020-07-29 02:44] bluebill1049 commented on #2382
Yes, I think there are multiple ways they do that at app level, it's much easier to having logic embed inside RHF.

[2020-07-29 03:03] bluebill1049 commented on #2382
@chouandy for watch and `useWatch` API with useFieldArray, if you want to garment the watch is what's on the fields after the deletion (so it doesn't fall back to defaultValues), you can use `fields.length` check, if that helps. I will update the doc regarding the statement as it's made for normal form instead of fieldArray.

[2020-07-29 03:32] chouandy commented on #2382
@bluebill1049 OK, thank you~

[2020-07-29 04:13] cliffordp opened #2406 "`setValue()` does not blur and therefore `formState.isValid` is not usable"
**Describe the bug**
`setValue()` does not trigger _blur_ so `formState.isValid` isn't true even when `mode: blur`

But tabbing into (past) the field does make `formState.isValid` true.

**Codesandbox link (Required)**
https://codesandbox.io/s/rhf-react-select-setvalue-isvalid-g9dk2?file=/src/index.js was as close as I got but couldn't get it to actually hide the Submit Button based on `formState.

[2020-07-29 04:37] bluebill1049 commented on #2406
think you miss this: setValue('xxx', { shouldValidate: true })

[2020-07-29 04:50] bluebill1049 commented on #2406
aha you are right, your title is miss leading.

[2020-07-29 08:28] vukadinFE commented on #2399
It's definitely working with onClick, but bug is from cleanup function in useEffect.

[2020-07-29 08:35] bluebill1049 commented on #2399
don't think there is anything we can do at this lib level, except React. i suggest you use onClick for now.

[2020-07-29 09:00] #2399 closed

[2020-07-29 09:13] smashercosmo commented on #2400
Didn't quite understand the 'register' part. How would I use register while reseting the form?

[2020-07-29 09:14] bluebill1049 commented on #2400
`<input name="FirstName" ref={register()} />`

[2020-07-29 09:16] smashercosmo commented on #2400
Oh, alright, thx

[2020-07-29 09:46] rvision commented on #2352
Well, it seems impossible with the yup to achieve that. If I put the test function for duplicate names for the "customJobName" field, there is no way to back-reference the array of jobs, only the containing object, which is the job (item) of the fieldArray. This is obviously needed for checking the duplicates.

I think the whole misunderstanding about the validation was that I considered duplicate

[2020-07-29 09:51] bluebill1049 commented on #2352
Awesome @rvision I am glad at least you found out something that works for you.  by the way, it's my pleasure to help, I mean the whole point of making this lib and maintaining the project it to help everyone around the world.  ❤️

[2020-07-29 10:14] mrgazanfarli commented on #2308
@bluebill1049 one more question then. If I set defaultValues with `useForm` and then call getValues(), will I get the values I set as `defaultValues` ?

[2020-07-29 10:19] bluebill1049 commented on #2308
nope, @mrgazanfarli sorry we revert back this change, this cause issue when all inputs get unregistered. it's better to manage that defautlValues in the app level by context or pass down props.

[2020-07-29 10:21] bluebill1049 commented on #2308
`getValues` will strictly return what's in the form and those inputs get registered.

[2020-07-29 10:30] mrgazanfarli commented on #2308
@bluebill1049 got it. Thanks

[2020-07-29 10:37] benswinburne commented on #2308
In case it is useful, I've been getting around this by merging in the defaults with the current value by accessing the ref via control. It's not necessarily conventional but it works.

[code]

Obviously I'm just merging single depths here as I don't use any dot notation but you could just as easily use `values = deepmerge(...)` for example.

[2020-07-29 10:40] bluebill1049 commented on #2308
Thanks for understanding guys. Trust me the decision that we made is to make the lib more predictable.

[2020-07-29 11:29] JeromeDeLeon commented on #2382
Hmm... makes sense because this is only at initial render when there are no fields  being registered on RHF.

[2020-07-29 11:39] #2382 closed

[2020-07-29 11:40] jetro4u opened #2409 "FormContext is not exported from react-hook-form in Version 6.1.2"
When using version 6.1.2, I was getting the error message:
`Attempted import error: 'FormContext' is not exported from 'react-hook-form'.`

However, the old version 5.7.2 is working fine.

[2020-07-29 11:49] eladams commented on #220
This issue also occurs (MUI v4.11) when initializing the Input with undefined/null, if you initialize it with an empty string the dirty check will work as expected.

[2020-07-29 12:02] bluebill1049 commented on #2409
`FromProvider`

[2020-07-29 12:02] #2409 closed

[2020-07-29 12:49] cliffordp commented on #2406
Thanks for the quick fix!

I didn't mean to be misleading; tried my best ;)

Any idea when it would make it to an npm release?

[2020-07-29 14:42] lascarayf commented on #2403
@bluebill1049 thanks for your answer.

The example you gave me is not working either. With defautValue and argument at append() I have the same problem.

[2020-07-29 15:54] saprativa commented on #211
so what is the best way to do it? is there any solution?

[2020-07-29 17:04] asapkot2 opened #2413 "Codesandbox not working for Wizard/Funnel example"
**Bug**
The Codesandbox example accompanying wizard/funnel example does not work and gives error " TypeError
getStore is not a function".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [react-hook-form api documentation](https://react-hook-form.com/)
2. Click on 'Advanced'
3. Scroll down to 'Wizard/Funnel
4. Click on Codesandbox example

**Codesandbox link (Required)**

- [wizard/funn

[2020-07-29 22:39] Rddiazolivos opened #2416 "checkbox conditional"
**Describe the bug**
When i have one conditional checkbox and send the form, and then i change the option and the form render the equal checkbox, i get "Cannot read property 'ref' of undefined"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/sad-clarke-w1ih8?file=/src/App.js
2. Click on mrs and click send
3. Click on dr and click send
4. See error

[2020-07-29 22:53] bluebill1049 commented on #2413
make sure u use the latest little state machine: https://codesandbox.io/s/form-wizard-pages-kkg7m

[2020-07-29 22:53] #2413 closed

[2020-07-29 22:56] bluebill1049 commented on #2416
couldn't reproduce...

[2020-07-29 23:04] Rddiazolivos commented on #2416
https://codesandbox.io/s/sad-clarke-w1ih8?file=/src/App.js
1- Select the second option "Mrs", and click send
2- Select the four option "Dr"  and click send
3- see the error.
this only happens with checkboxs
![image](https://user-images.githubusercontent.com/31427094/88862407-4176e300-d1ce-11ea-8553-f17ba0065965.png)

[2020-07-29 23:04] bluebill1049 commented on #2403
are you sure?

[2020-07-29 23:55] bluebill1049 commented on #2416
not valid, why `radio` and `checkbox` share the same name?

[2020-07-29 23:55] #2416 closed

[2020-07-29 23:55] bluebill1049 commented on #2416
<img width="580" alt="Screen Shot 2020-07-30 at 9 55 48 am" src="https://user-images.githubusercontent.com/10513364/88865293-d9b2ad80-d24a-11ea-991c-478431608cc9.png">

[2020-07-30 02:35] vimalmurugan89 commented on #470
@bluebill1049: was this changes available in latest vesrsion. Still I see not giving required attribute validation is happening. Could you please confirm. Or confirm react hook form version which we need to use.

[2020-07-30 02:42] bluebill1049 commented on #470
This is last year @vimalmurugan89's issue, what's the problem? please provide more context as well.

[2020-07-30 03:18] djMax opened #2419 "react-native typescript errors"
**Describe the bug**
Using the module in a react-native typescript project yields these errors:

[uno]
[uno]  $ tsc -p tsconfig.build.json
[uno]  ../../node_modules/react-hook-form/dist/types/form.d.ts(11,126): error TS2304: Cannot find name 'FileList'.
[uno]  ../../node_modules/react-hook-form/dist/types/form.d.ts(46,17): error TS2304: Cannot find name 'VoidFunction'.
[uno]  ../../node_modules/re

[2020-07-30 03:20] bluebill1049 commented on #2419
need more context.

[2020-07-30 03:27] akiarostami opened #2420 "Caching issue, I think!"
**Describe the bug**

Please check the sandbox link below.

The way the code is, after each validation and submit, data goes back to defaultValues.
Try changing the code, or submitting an empty field (which is required).

Resetting the form data on Submit fixes the issue (which is not the right way anyway), but validation issue stays the same.

**Codesandbox link (Required)**
- [useForm](https://c

[2020-07-30 03:35] bluebill1049 commented on #2420
Steps to reproduce?

[2020-07-30 03:35] djMax commented on #2419
Understood, I'm going to try and make a simple example. But it seems like basically just compile errors in Typescript+React-native. Perhaps because these types are from some non-RN TS library (like the DOM)?

[2020-07-30 03:36] bluebill1049 commented on #2419
I think it's your TS version.

[2020-07-30 03:38] akiarostami commented on #2420
Just click on the Codesandbox link and enter any value in the input and submit. And then clear the input and submit.

[2020-07-30 03:41] bluebill1049 commented on #2420
Yes? and what do you mean?

[2020-07-30 03:42] bluebill1049 commented on #2420
`e.target.reset();`

is already clear the form? why I need to clear the input?

[2020-07-30 04:30] akiarostami commented on #2420
I'm so sorry, apparently Codesandbox was showing the code I forked.

Here's a new link:

https://codesandbox.io/s/recursing-pine-3fwxq?file=/src/index.js

There, you can see the input has a default value (set using "reset"). When I edit and submit, it goes back to the original value. Also, if there's an error (.e.g. input is empty), again, it goes back to the original value.

I believe in both cas

[2020-07-30 04:37] bluebill1049 commented on #2420
https://codesandbox.io/s/laughing-field-p8ijy?file=/src/index.js

because your `Form` component is an inner component, it gets re-render each time.

[2020-07-30 04:40] akiarostami commented on #2420
Thanks for the prompt reply.

The real app obviously is not as simple as this little page, and I have to use the form inside other components.

Is there a solution for this? I tried using your FormProvider but didn't get anywhere.

[2020-07-30 04:43] bluebill1049 commented on #2420
That's not a problem whether it's a big or small app, the problem is you have a component live inside your component before your render.

[code]

to

[code]

[2020-07-30 05:46] #2420 closed

[2020-07-30 06:50] grumpyoldman-io commented on #284
Just chiming in here, I also have a hidden field where setting the value programmatically doesnt work. If I turn the field in to a normal text field it does. For me the solution was using the output of `watch('fieldname', initialValue)` on the defaultValue of the hidden field.

How are values on fields actually set? Could it be RHF is using an event that isnt supported on hidden fields?

[2020-07-30 06:56] bluebill1049 commented on #284
you can't update input hidden value:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/hidden

try with `display: none;`

[2020-07-30 08:24] PatrissolJuns opened #2421 "Form builder does not show correct type attribute into code section after creating an input"
**Describe the bug**
After entering the name and select the type, the result of the type attribute is generally **undefined**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hook-form.com/form-builder
2. Fill the form and press create button
3. Check the type attribute in the code section
4. See error

**Screenshots**
If applicable, add screenshots to help explain your pr

[2020-07-30 08:47] bluebill1049 commented on #2421
sorry form build is not something we are prioritizing for this lib.

[2020-07-30 08:47] #2421 closed

[2020-07-30 08:48] #2403 closed

[2020-07-30 08:53] PatrissolJuns commented on #2421
I went there to visit and test the feature and I discovered the bug. My intend is not to use the form builder but to simply report you a bug about it. I'm already using the lib

[2020-07-30 09:08] bluebill1049 commented on #2421
oh @PatrissolJuns thanks a lot, I will probably finally visit it once lib is solid. thanks for reporting.

[2020-07-30 09:19] mohammadameer opened #2422 "inject errors or the specific field error to controller"
**Is your feature request related to a problem? Please describe.**
i have a multistep form with over 43 fields now I need to add errors to all my fields as props

**Describe the solution you'd like**
inject errors or the specific field error to the controller.

[2020-07-30 09:26] mohammadameer commented on #2422
we are injecting onChange, onBlur, and value can we also inject the errors or the error specific to the field?

[2020-07-30 09:29] bluebill1049 commented on #2422
This is major change, I will keep in the backlog, and get the user to upvote for a feature request.

[2020-07-30 09:29] #2422 closed

[2020-07-30 09:31] bluebill1049 commented on #2422
I think you, for now, you can take a look at `memo` and try to isolate that re-render: https://react-hook-form.com/advanced-usage#FormProviderPerformance

[2020-07-30 10:49] keiya01 opened #2426 "Add log that output detail error message"
**Is your feature request related to a problem? Please describe.**

I meet the situation many times where I can not find a reason why my code don't work.

**Describe the solution you'd like**

I will try to implement log that output error message with `console.error()`.
This change is not increase bundle size by using the following statement.

[code]

[2020-07-30 12:24] maxenz commented on #56
@ryansully saved my day bro

[2020-07-30 13:53] meshellun commented on #1255
![image](https://user-images.githubusercontent.com/51411780/88931113-06ae9280-d242-11ea-859a-dc34f3aa1065.png)
Hi Looking at the codesandbox example linked in this issue, there seems to be a Warning when using a InputMask with a Controller. Is there a way to overcome that warning?

[2020-07-30 16:06] djMax commented on #2419
3.9.7?

[2020-07-30 16:06] djMax commented on #2419
It very much seems like it's a missing dom library in tsc, but I don't use the dom since it's RN, and adding that causes other errors... I thought I could avoid it by not using Controller but it has crept back in through some type reference or other.

[2020-07-30 16:23] djMax commented on #2419
With latest I get a couple more.

[code]

[2020-07-30 16:29] djMax commented on #2419
These declarations in my own type files make the problem go away:

[code]

[2020-07-30 22:21] bluebill1049 commented on #1255
@meshellun why those defaultValue been comment out?

[2020-07-30 22:59] bluebill1049 commented on #2419
hmmm interesting, @kotarella1110 do you have any clue on this one? the first time we having this issue.

[2020-07-30 23:44] cliffordp commented on #2406
I see it's been release. Awesome!

[2020-07-30 23:48] bluebill1049 commented on #2406
oops, too many notifications, I missed your last message... yes it's released.

[2020-07-31 00:06] kotarella1110 commented on #2419
@djMax I think you have to add dom types to tsconfig.

[code]

[2020-07-31 01:29] manualva7 opened #2433 "React-select wrapped in Controller breaks handleChange"
I'm trying to implement a Select All feature for my react-select field. I've already built this feature and it works without react-hook-form, but I can't accomplish this if the component is wrapped in Controller. I'm guessing the problem is Controller is overriding handleChange for the component inside of it.

I've built a codesandbox with both scenarios: with controller and without controller.

h

[2020-07-31 01:30] bluebill1049 commented on #2433
<img width="1282" alt="Screen Shot 2020-07-31 at 11 30 41 am" src="https://user-images.githubusercontent.com/10513364/88990422-45674a00-d321-11ea-8941-4c64b4e19414.png">

it's broken with your CSB.

[2020-07-31 01:31] #2433 closed

[2020-07-31 01:37] manualva7 opened #2434 "Wrapping my react-select component with Controller breaks handleChange functionality for a Select All feature"
I've managed to create some code to populate a react-select field with all the available options. It works, until I wrap it in Controller.

https://codesandbox.io/s/gracious-flower-zu4mw?file=/src/App.js

Since this method is depending on the handleChange inside the Select itself and Controller is overriding this event, it's not possible for me to do this unless I can programmatically invoke an on

[2020-07-31 02:55] bluebill1049 commented on #2434
you should use Controller with react-select which i believe it's working you, so what's the issue you try to solve?

[2020-07-31 02:56] manualva7 commented on #2434
In the sandbox, the field wrapped inside Controller doesn't populate on clicking "Add all options" button

[2020-07-31 02:57] bluebill1049 commented on #2434
can you take a look at this example codesandbox: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r see it helps.

[2020-07-31 03:09] bluebill1049 commented on #2434
why are you rasing this an issue? let's continue the discussion at the discussion section.

[2020-07-31 03:09] #2434 closed

[2020-07-31 03:15] manualva7 commented on #2434
@bluebill1049 That's how you solve issues? By closing them without solution?

You have a great product and I love your help, but this is no way to deal with this.

[2020-07-31 03:18] bluebill1049 commented on #2434
nope.

1. I didn't close an issue if this is an actual issue.
2. I have continued with my help in the discussion section if this is a real issue we can transfer this into an issue.

<img width="1106" alt="Screen Shot 2020-07-31 at 1 18 26 pm" src="https://user-images.githubusercontent.com/10513364/88996340-54a1c400-d330-11ea-9e71-681410516d7c.png">

[2020-07-31 03:20] manualva7 commented on #2434
Yeah I didn't save that sandbox. But it works now. You can delete the first issue.

[2020-07-31 03:21] bluebill1049 commented on #2434
please look at my codesandbox, your usage is wrong...

[2020-07-31 03:46] cliffordp commented on #2406
@bluebill1049 Happens to me all too often.

Bummer... I changed NPM from `^6.1.2" to "^6.2.0" and it's still not working as expected...
1min demo video: https://share.getcloudapp.com/rRu7JPkQ

I have this setup:
[code]

If there's a different set of args to send to useForm that _would_ make `formState.isValid` work as expected, please let me know.

[2020-07-31 03:54] bluebill1049 commented on #2406
can you help me to reproduce that in a codesandbox? i will take a look at tonight.

[2020-07-31 03:55] bluebill1049 commented on #2406
oh... I think i know why, reValidateMode doesn't support `all`...

[2020-07-31 03:55] bluebill1049 commented on #2406
<img width="978" alt="Screen Shot 2020-07-31 at 1 55 41 pm" src="https://user-images.githubusercontent.com/10513364/88998491-8701f000-d335-11ea-8dac-b0ecc0d6ea96.png">

[2020-07-31 04:04] cliffordp commented on #2406
Ah, nice catch. I changed to this but still didn't work:
[code]

The CSB I included in my initial message here was forked from https://github.com/react-hook-form/react-hook-form/discussions/2179

[2020-07-31 04:05] bluebill1049 commented on #2406
do you have a codesandbox @cliffordp ?

[2020-07-31 04:16] cliffordp commented on #2406
OK, I polished up this ticket's CSB and was able to reproduce... _finally_ :)

Same link as before: https://codesandbox.io/s/rhf-react-select-setvalue-isvalid-g9dk2?file=/src/index.js

Notice that the value of the first React Select _does_ get filled (satisfying its Required rule) and then picking something manually for second React Select works for 2nd field but entire form's `formState.isValid`

[2020-07-31 05:55] bluebill1049 commented on #2406
@cliffordp i think you miss the `shouldValidat: true`

setValue("MyReactSelect", { value: "1", label: "User ID#1" }, { shouldValidate: true }); 👍

[2020-07-31 05:55] #2406 closed

[2020-07-31 09:05] chetan316 opened #2435 "MUI Checkbox value is not updating"
**Describe the bug**
When using Checkbox with MaterialUI, when I change the state of checkbox to true still it is showing the false value. Also instead of showing as boolean it is showing as string. I have faced the issue is with the latest version(6.2.0) of react-hook-form earlier it is working as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Check the checkbox to true
2. Click

[2020-07-31 09:22] bluebill1049 commented on #2435
may i know where did yo use this CSB? i will get it updated.

[2020-07-31 10:03] chetan316 commented on #2435
Sorry, but I am not sure.

[2020-07-31 10:09] #2435 closed

[2020-07-31 12:07] djMax commented on #2419
But I’m in react-native. I don’t have the DOM. Lying to TS in that way seems to defeat the whole point of TS

[2020-07-31 12:12] bluebill1049 commented on #2419
honestly, this lib is supporting both web and native, I guess you can either follow what you did and what @kotarella1110 suggested.

[2020-07-31 12:55] cliffordp commented on #2406
omg, tyvm! it worked.

I reread https://react-hook-form.com/api#setValue and see it says "you _can_ set..." but I guess I thought _shouldn't it validate by default?_

Is there a reason not to? I get making it a param that can be controlled but why wouldn't the default behavior be that if I'm setting a value it should trigger validation checking.

Typing it out, I think I'm misunderstanding the par

[2020-07-31 13:06] bluebill1049 commented on #2406
Thanks for your feedback!

1. `setValue` does not validate the input by default is not **new**, it starts from the very first version.
2. `setValue` should not validate input by default, it's extra functionality that users want to validate the input or set the field to dirty, they are an extension of the base's functionality.
3. consistency, all of our API's default config start to be `false`.

**

[2020-07-31 13:07] bluebill1049 commented on #2406
also if you have confusion around the doc, please send us a PR.

[2020-07-31 13:14] meshellun commented on #1255
@bluebill1049  Oh! That was in this example ttps://codesandbox.io/s/react-hook-form-with-inputmask-d4fvd before I even touched it. I believe the defaultValue was commented out so that the placeholder for InputMask shows up like 000.000-000-00, but that should be an easy fix moving forward. (Setting defaultValue to what we want the placeholder to be). Thanks!
![image](https://user-images.githubuser

[2020-07-31 13:40] vensauro commented on #1550
this is resolved? what version of RHF are you using

[2020-07-31 13:44] bluebill1049 commented on #1550
@vensauro i did a simple example: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r not sure if this works?

[2020-07-31 17:10] palcikaman opened #2437 "Nested values missing when submitting form, when using shouldUnregister: false"
**Describe the bug**
I'm using useForm with shouldUnregister: false, with nested values, and I only show one input at a time.
When I'm submitting the form with the first input rendered, only the first value will be in the values.
When I'm submitting the form with the second input rendered, only the second value will be in the values.
But when I'm submitting with none of the inputs rendered, all of

[2020-07-31 19:57] prasadsrg opened #2439 "MUI Checkbox not working from v6.0.3 onwards"
MUI Checkbox not working from 6.0.3 onwards, below 6.0.2 working fine.

In the below link  go dependency  and  reach-hook-from change the latest version change the checkbox andMUI Switch is not working.

https://codesandbox.io/s/react-hook-form-controller-xnqs4?file=/src/index.js

[2020-07-31 23:22] bluebill1049 commented on #2439
hey @prasadsrg, take a look at this codesandbox: https://codesandbox.io/s/react-hook-form-v6-errormessage-dn4y8

you should start to use `render` for any of those boolean value, this was causing an issue at the lib level, and we fixed by removing that internal logic to determine `checkbox`, i should have made a minor version for this "fix", which is my bad.

you can keep an eye on the changelog ne

[2020-07-31 23:22] #2439 closed

[2020-07-31 23:39] kotarella1110 commented on #2419
I will investigate it 👍

[2020-08-01 00:48] bluebill1049 commented on #2419
Thanks @kotarella1110 we probably can document this down in the doc, if there is no good/easy solution.

[2020-08-01 01:00] bluebill1049 commented on #2437
looks like a deep merge issue. thanks for report the bug.

[2020-08-01 01:37] djMax commented on #2419
I understand the point about supporting both, but this seems to indicate some abstraction leakage of some sort because these methods won't actually work in RN for the most part. I can imagine it might be involved, so I get that it might not be fixed... At least there's a workaround.

[2020-08-01 01:58] bluebill1049 commented on #2419
agreed, either a solution or walk around to be documented.

[2020-08-01 07:18] kayoh opened #2443 "useFieldArray- nested defaultValues behaving different than flat one"
**Describe the bug**
When defaultValues is nested object, nested useFieldArray values persist.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-pfx7e
2. Click on  "DELETE" button on top(outer feildArray)
3. Scroll down  and click "APPEND"
4. See second field array has same nested values

**Codesandbox link (Required)**

[2020-08-01 08:53] #2426 closed

[2020-08-01 09:34] mjwvb commented on #2037
I'm trying to use handleSubmit with onClick on a Button component, provided by "Framework7":
<Button onClick={handleSubmit(onSubmit)}>Submit</Button>

But then I get the following error:
Unhandled Rejection (TypeError): e.persist is not a function

This happens because the custom Button has the preventDefault function, but not the persist function.
It would be useful to also wrap the e.persist() c

[2020-08-01 09:50] bluebill1049 commented on #2037
`<Button onClick={() => handleSubmit(onSubmit)()}>Submit</Button>`

[2020-08-01 11:23] lukebyrne73 commented on #1550
@vensauro not resolved for me yet. here is a CodeSandbox link: https://codesandbox.io/s/magical-leftpad-hm571?file=/src/App.js

[2020-08-01 12:12] bluebill1049 commented on #1550
@lukebyrne73 can you fork my codesandbox and work on top it? see if you can get it working?

[2020-08-01 21:03] tafelito commented on #2222
@bluebill1049 sorry to comment here, but I just saw this comment, and wanted to ask you about this. What's the correct way to pass a value to yup's context? Right now if you use RHF context it's not passed down to yup context. But based on that line it says `"You should not used the yup options context. Please, use the 'useForm' context object instead"`
Also when using context within yupResolver,

[2020-08-02 00:04] bluebill1049 commented on #2222
hey @tafelito useForm context should pass the context, unless there is bug. do you have a csb to reproduce the issue?

[2020-08-02 00:06] tafelito commented on #2222
just created one based on the one you posted above

https://codesandbox.io/s/magical-almeida-j941j?file=/src/App.js

[2020-08-02 00:12] bluebill1049 commented on #2222
it works. use the latest version plz

[2020-08-02 00:14] tafelito commented on #2222
great thanks! I updated RHF but forgot to update the resolvers

[2020-08-02 04:49] kayoh commented on #2443
@bluebill1049 Any ETA on release? My release is now depending on your release :-)

[2020-08-02 06:35] #2443 closed

[2020-08-02 07:55] kayoh opened #2452 "useFieldArray: MUI TextField with ref loses its value"
**Describe the bug**
useFieldArray: MUI TextField with ref loses its value.
<TextField inputRef={register} name="FirstName"/>

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-309s3
2. Click on first "DELETE" (next to "useFieldArray1")
3. Click"SUBMIT"
4. See values are missing.

**Codesandbox link (Required)**
https://

[2020-08-02 08:05] bluebill1049 commented on #2452
https://react-hook-form.com/api#useFieldArray

i think you miss this:
<img width="943" alt="Screen Shot 2020-08-02 at 6 05 25 pm" src="https://user-images.githubusercontent.com/10513364/89118669-bf96fa80-d4ea-11ea-800b-f44e1249a8b1.png">

[2020-08-02 08:27] kayoh commented on #2452
No luck with `<TextField inputRef={register()}`

[2020-08-02 08:59] bluebill1049 commented on #2452
<img width="865" alt="Screen Shot 2020-08-02 at 6 59 38 pm" src="https://user-images.githubusercontent.com/10513364/89119508-52876300-d4f2-11ea-9e7d-cb019fb9a515.png">

[2020-08-02 10:25] mohammadameer commented on #2422
can i work in this ?

[2020-08-02 10:31] bluebill1049 commented on #2422
you can work on this because it's a large change because right now errors are triggering re-render at the root. what's your plan?

[2020-08-02 11:02] mohammadameer commented on #2422
I have not seen the source code yet 😅, I will start work on it if I face anything I will call you 😁

[2020-08-02 11:20] bluebill1049 commented on #2422
steps in my head.

1. proxy around `errors` object so if users is not subscribed to the object, don't trigger re-render.
2. create a new custom hook `useFormState`, so you can subscribe to individual form state.

FYI: this is not a simple task...

[2020-08-02 15:28] kayoh commented on #2452
thanks!

[2020-08-02 15:28] #2452 closed

[2020-08-02 19:13] manualva7 opened #2453 ""Custom Hook with Resolver" example has invalid hook call error"
https://codesandbox.io/s/stupefied-wilbur-ftvti?file=/src/App.js

Invalid hook call for example provided in react-hook-form documentation.

[2020-08-02 22:55] bluebill1049 commented on #2453
which example?

[2020-08-03 00:26] #2437 closed

[2020-08-03 00:45] manualva7 commented on #2453
https://react-hook-form.com/advanced-usage#CustomHookwithResolver

[2020-08-03 01:09] bluebill1049 commented on #2453
you need to create a form and use that custom hook inside.

[2020-08-03 01:20] bluebill1049 commented on #2453
also this codesandbox s on v5 as well :( i will get it updated.

[2020-08-03 01:25] bluebill1049 commented on #2453
by the way, thanks for the issue report @manualva7 perhaps next time you could follow the issue template? It will help me to sort out issue bit quicker :)

[2020-08-03 01:25] bluebill1049 commented on #2453
here is a working CSB with v5: https://codesandbox.io/s/keen-saha-potl4?file=/src/App.js

[2020-08-03 01:32] bluebill1049 commented on #2453
doc updated.

[2020-08-03 01:32] #2453 closed

[2020-08-03 04:36] manualva7 commented on #2453
Ok. thanks for the quick responses! I see it uses "ref={register}" so it's no good for me. We'll keep the discussion on https://github.com/react-hook-form/react-hook-form/discussions/2433#discussioncomment-45794

I'll build something on codesandbox this week and let you know what I'm thinking. I'll also let you know about all the issues I've encountered.

[2020-08-03 10:40] linchen-myob opened #2463 "debounce handleSubmit not work"
[code]
I click on submit button 10 times quickly, console.log will called 10 times

if I changed to
[code]
then first time I click on submit button, it will refresh whole page

[2020-08-03 10:50] #2463 closed

[2020-08-03 13:56] microgold commented on #56
saved me too

[2020-08-03 14:46] omgoshjosh commented on #1297
This project is great!

Personally, I think this particular example would be nice to have somewhere in the docs in addition to the great example in the code snippets in the repository.

It could live as another example in the control section, or maybe just be mentioned as another possible use case for the control function and Controller component.

Reading the docs, one might not think (at least I

[2020-08-03 23:27] bluebill1049 commented on #1297
@omgoshjosh 👍 it's in the example folder. thanks for the kind words.

[2020-08-04 00:02] dgtlmonk commented on #566
`getValues()` seems to work as well.

[code]

[2020-08-04 00:38] jgonera opened #2466 "Custom types/classes passed into useForm get mangled"
**Describe the bug**
Following advice from https://github.com/react-hook-form/react-hook-form/issues/1414 I tried using a controller to parse a string into a custom type. Unfortunately it seems that when I pass that type into `useForm` and later try to read the values in `handleSubmit`, the values are not of the same type. In the Codesandbox bellow I created a silly `Price` class with a custom get

[2020-08-04 01:23] bluebill1049 commented on #2466
Don't type we support Class at the moment.

[2020-08-04 01:32] kotarella1110 commented on #2466
@jgonera You can use `NestedValue` type.

[code]

CSB: https://codesandbox.io/s/react-hook-form-useform-template-5j08u

[2020-08-04 01:45] jgonera commented on #2466
Thank you! Is this gonna work in future or is just a coincidence resulting from the current implementation of `NestedValue`? If it's the former, should `NestedValue` be renamed to something broader (it wouldn't occur to me to try it out in this case just by looking at https://react-hook-form.com/ts#NestedValue)?

[2020-08-04 01:47] bluebill1049 commented on #2466
What would be your suggestion?

[2020-08-04 06:57] ohmyhusky commented on #532
In react@experimental, `mode: "onBlur",` seens doesn't trigger validation when firing blur event:
[code]
It works on the browser, just not in the node testing environment.
Have anyone had the same issue in node testing with react@experimental?

[2020-08-04 11:22] bluebill1049 commented on #2466
closing, you can leave your suggestion here.

[2020-08-04 13:07] zelucena commented on #1212
I have just found there would be some use to this. I was asked to create two submit buttons: "Save and close, save and create another". I guess I'll have two distinct names and an IF statement. No big deal, just not as elegant.

[2020-08-04 15:28] SatoAV opened #2472 "`watch` is not returning correct values with `defaultValue` argument provided"
**Describe the bug**
I have a checkbox-type component in my multi-step form, which uses `reset(values)` to restore the form state from higher-order state.
Inside a checkbox component I use `watch('name', false)` to trigger some effects when checkbox is changed.

If I reset the form with values from state, where my value is `true`, `watch` still returns `false`.
If I remove default value, then the

[2020-08-04 16:23] jgonera commented on #2466
Maybe `ComplexValue` or something like that (I was looking for something opposite to a "primitive type")? "Complex" can sound kind of vague but I can't think of anything better. Maybe just add a note in https://react-hook-form.com/ts/#NestedValue for now saying that it can be also used for classes?

[2020-08-04 20:02] manualva7 opened #2475 "Invalid React-Select fields don't focus on error"
react-hook-form doesn't focus on react-select fields on error like it does with the other simple fields.

1. Go to https://codesandbox.io/s/elegant-silence-osn90?file=/src/App.js
2. Make sure all fields are empty.
3. Click on submit.

The react-select field should be focused first. It doesn't even focus on error if you fill the other simple fields.

![Screen Shot 2020-08-04 at 12 59 57 PM](https:/

[2020-08-04 20:44] moofoo opened #2476 "Keys (field names) in object returned by useWatch out of sync with fieldArray item indexes after performing swap, move, deletion etc"
**Describe the bug**
Using useWatch on fields in a fieldArray, and useWatch is passed an array of names, so it's returning an object with the name paths as keys. The object's keys become out of sync with the fieldArray item indexes after performing swap, move, deletion operations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-itd

[2020-08-05 00:40] bluebill1049 commented on #2475
This is not a bug and an issue with react hook form, react-select doesn't export `ref`. in order to focus it, you will need to use Controller's `onFocus` prop, basically, hook up the on focus behavior.

[2020-08-05 00:40] #2475 closed

[2020-08-05 00:41] bluebill1049 commented on #2419
@kotarella1110 if we don't have a good solution, perhaps we can update the doc and close this issue?

[2020-08-05 00:56] bluebill1049 commented on #2466
would you like to send a PR for the doc @jgonera to have some improvement and clarification?

[2020-08-05 01:02] bluebill1049 commented on #2472
This is expected behavior, `watch` is called prior to the render, so it can't read what's in the render phase, that's why we had the defaultValue argument.

[2020-08-05 02:21] bluebill1049 commented on #2476
I am confused with this example... I will try to reproduce this issue in my own codesandbox.

[2020-08-05 02:26] bluebill1049 commented on #2476
Could you take a look at this codesandbox: https://codesandbox.io/s/react-hook-form-usefieldarray-tm9gh?file=/src/index.js? see if you can reproduce this issue?

[2020-08-05 03:52] moofoo commented on #2476
I think your codesandbox also shows the issue.

I created a fork of yours with some minor changes (putting field indexes as the input texts and logging the render count) that make it easier to see whats going on: https://codesandbox.io/s/react-hook-form-usefieldarray-7kg3s?file=/src/index.js

Here is what the log shows after appending two items, everything is as it should be. That is, when 'test[0

[2020-08-05 03:57] bluebill1049 commented on #2476
I appreciated your detailed comment and the issue is when you watching an `array` of fields, but with above... it hurts your head, then you should go see a doctor because my head would be exploded try to investigate and resolve the issue...

[2020-08-05 04:48] tingzhouu opened #2479 "Behavior of formState is different when running on react native app vs when running on jest test"
**Describe the bug**
Behavior of `formState` is different when running on react native app vs when running on jest test. Reproduced in version `6.3.0`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a React Native project.
2. Install `react-hook-form`, `@testing-library/react-native`, and `@testing-library/jest-native`.
3. Copy [example form implementation](https://www.react-hook-for

[2020-08-05 05:03] bluebill1049 commented on #2479
Thanks for the very detailed issue report! This really helps. I will take a closer look tonight.

FYI there will be a difference with `Proxy` in web.

isVaild is started from `true` because RHF is uncontrolled, and value can get validated at render phase.

[2020-08-05 06:50] Chandu opened #2481 "Ability to check if a form is valid without having to display the errors/feedback on the UI"
**Is your feature request related to a problem? Please describe.**
I use `trigger` method of the USeFormMethods to validate/identify if the form is valid or not.
This also updates the UI to display error messages/feedback on the form.
However there could be use cases where we just need to know if the form is valid or not without displaying any feedback/errors. (e.g: displaying form for the first t

[2020-08-05 07:24] tingzhouu commented on #2479
Welcome! As a FYI, I'm currently using version `6.0.1` in my own project where the tests are still passing. The tests started failing after I tried to upgrade.

This wasn't included it in the issue report as the tests would fail when using version `6.0.1` in the template repo.

[2020-08-05 08:11] bluebill1049 commented on #2479
hey @keiya01 would you be able to help on this one while I am investigating the other bug? 🙏

[2020-08-05 08:12] bluebill1049 commented on #2481
I think it's probably easier to use `getValues()` and validate against your schema.

[2020-08-05 08:18] Chandu commented on #2481
@bluebill1049  Ok. Thanks.

[2020-08-05 08:18] #2481 closed

[2020-08-05 08:26] keiya01 commented on #2479
I think this issue is caused by async function. We are updating `formState.isValid` by async function. Therefore you should wrap `getByText` with `wait` method in `@testing-library/react-native`.  (link: https://www.native-testing-library.com/docs/api-async)

[2020-08-05 08:54] SatoAV commented on #2472
Yes, that is clear, however, it doesn't get updated with the real value on consecutive renders.

[2020-08-05 08:56] bluebill1049 commented on #2472
<img width="635" alt="Screen Shot 2020-08-05 at 6 55 53 pm" src="https://user-images.githubusercontent.com/10513364/89392755-4b0fc600-d74d-11ea-8f40-ad6e31f12c18.png">
<img width="659" alt="Screen Shot 2020-08-05 at 6 55 50 pm" src="https://user-images.githubusercontent.com/10513364/89392776-519e3d80-d74d-11ea-8234-6af3e46bbb56.png">

[2020-08-05 09:41] bluebill1049 commented on #2476
ok, this one did kill some of my brain cells...

TDLR:
use `useWatch({ name: 'test' })` to watch the entire Field Array.

https://codesandbox.io/s/react-hook-form-usefieldarray-tm9gh?file=/src/index.js

**Conclusion:**

Why this is happening, because you are watching specific array input, the problem is they never get unmounted during swap/move, and after input switch position or swap, their posit

[2020-08-05 10:58] SatoAV commented on #2472
My bad, disregard what I said about consecutive renders. The problem only occurs on initial renders, but still if my `defaultValues` are set, I'm expecting `watch` to return the already set default value from the form.

[2020-08-05 11:09] bluebill1049 commented on #2472
<img width="1111" alt="Screen Shot 2020-08-05 at 9 09 23 pm" src="https://user-images.githubusercontent.com/10513364/89406081-f1fd5d80-d75f-11ea-860e-b027aaf686a1.png">

it's working as expected as well.

[2020-08-05 11:57] tingzhouu commented on #2479
Thank you for your time! I went to try out the proposed solution, referencing [this](https://callstack.github.io/react-native-testing-library/docs/api/#waitfor). Code snippet below.

[code]

Unfortunately it still did not work, and I tried debugging the issue.

When running in app, the function `useForm` was called **twice** when using `mode: 'onChange'`. This suggests that the component re-render

[2020-08-05 12:51] keiya01 commented on #2479
Is the following code used in App component as well ?

[code]

If you are using this, you can write test bellow.

[code]

`formState.isValid` is updated when input element is registered. Therefore first render is mounted component, second render is updated `formState.isValid`.

Updating state need to be executed in `act`'s callback. And `formState.isValid` is updated by async function. That is, th

[2020-08-05 14:34] tingzhouu commented on #2479
No, there's no `setTimeout` function used in [`<App />`](https://github.com/tingzhouu/rhf-formState-issue/blob/master/App.js).

Below is my current test, where it waits a few seconds, then times out. The re-render doesn't occur.

[code]

[2020-08-05 15:55] keiya01 commented on #2479
Hmm, I have been success in my environment ...

[2020-08-05 16:05] keiya01 commented on #2479
I understand. Probably this issue is caused by `window` object is undefined. We are checking if `window` is defined before field is registered.(https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L915)

We have solved similar [issue](https://github.com/react-hook-form/react-hook-form/discussions/2168). This issue might be helpful for you.

[2020-08-05 17:25] AnthonyWebDev opened #2487 "Property 'message' does not exist on type 'DeepMap<String, FieldError>'."
Hi,

I am using the library with TypeScript. And I am having a TypeScript error every time I want to access a message error.

[code]

(I cleaned the code to have only the error part of course)

I could do `(errors.email as any).message` but do you have a cleaner way ? Or am I missing something maybe.

Am I on the latests version of the library.

Thanks !

[2020-08-05 18:00] yhor1e opened #2488 "react-hook-form/dist/index.ie11 needs polyfills"
**Describe the bug**

The `react-hook-form/dist/index.ie11` needs polyfills.
But according to #2468, `react-hook-form/dist/index.ie11` doesn't need polyfills.

https://github.com/react-hook-form/react-hook-form/discussions/2468#discussioncomment-46369

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://yhor1e.github.io/sandbox-react-hook-form/current/' using Internet Explorer 11.

[2020-08-05 18:10] afzaalahmad opened #2490 "useEffect callback doesn't gets triggered on errors change"
**Describe the bug**
useEffect with errors in the dependency array doesn't gets invoked with mode onChange.

**To Reproduce**
Steps to reproduce the behavior:
1. put errors in the dependency array of useEffect and log the errors inside

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-useform-template-7olxo

**Expected behavior**
useEffect callback should get invoked whenev

[2020-08-05 18:33] moofoo commented on #2476
Ok, good to know.

That won't work as a solution for my particular app, but I did make a workaround which seems to do the trick:

[code]

This ensures that the final 'watched' object has keys that match with the names in 'toWatch', which is needed in my app.

I thought that this wouldn't work initially because I believed object properties weren't in a reliable order, but apparently that's not true

[2020-08-05 22:28] bluebill1049 commented on #2476
awesome! glad that you find an alternative solution.

[2020-08-05 22:28] #2476 closed

[2020-08-05 22:28] #2472 closed

[2020-08-05 22:31] bluebill1049 commented on #2490
`errors` should use them in the render, they don't need to go through `useEffect`. if you need to check certain errors you can do it without useEffect, it's expected behavior.

[2020-08-05 22:31] #2490 closed

[2020-08-05 22:32] bluebill1049 commented on #2487
can you reproduce this in a codesandbox?

[2020-08-05 23:19] bluebill1049 opened #2492 "RFC: async defaultValues"
## Summary

The current status of setting `defaultValues` from async data source is using `reset`:

[code]

honestly, this is probably not a pretty and clean approach... a few weeks before we had a feature request regarding async `defaultValues`: https://github.com/react-hook-form/react-hook-form/issues/2335

## Proposal Solutions

1. `defaultValues` accept `Promise`, and promise will get resolve

[2020-08-05 23:30] JeromeDeLeon commented on #2492
With `async defaultValues`, we are expecting it to do any asynchronous task right? So what if you rely on something else to trigger the `defaultValues` fetching? Like props? How would would I do that? Still I would need to rely to this `reset` + `useEffect` convention. Correct me if I'm wrong with all my understanding because that's how I see it. It really feels to me that I would still need to co

[2020-08-05 23:31] pmaier983 commented on #2492
I think this is a great idea. During my day job we work with large data sets, and we have specific queries to get available data for dropdown fields. If this was implemented it would pave the way to have a loading indicator and then some dropdown field all built without a Controller.

The Async Promise seems like the best way forward (to me).

[2020-08-05 23:32] bluebill1049 commented on #2492
Thanks @JeromeDeLeon I think you can pass arguments into that Promise callback.
[code]

[2020-08-05 23:52] JeromeDeLeon commented on #2492
Got it so its's not just about the API or anything. That makes sense at least to that part 😃

[2020-08-06 01:02] adhrinae commented on #2492
Do we need to provide another state like `isDefaultValueLoading`? Because for the first time users cannot see default values until that promise is resolved.

[2020-08-06 01:08] kotarella1110 commented on #2419
@bluebill1049 Not a good solution, but here are the solutions:

1. Similar to [Unform](https://unform.dev/), provide two packages, [web and native](https://github.com/Rocketseat/unform/tree/master/packages).
2. Define types such as `FileList` and `Node` as RHF types.

[2020-08-06 01:10] bluebill1049 commented on #2492
Good point probably will leave the user to define that state. `isLoading`.

`useState(false)`

[2020-08-06 01:11] bluebill1049 commented on #2419
Ok, I think we will document these walk around above then. Thanks @kotarella1110 for the investigation.

[2020-08-06 01:28] jgonera commented on #2466
I tried using this a bit more and the problem is that I have to duplicate types that I use elsewhere in the part of the code base that is not aware of `react-hook-form`. So for example I have an interface like this:

[code]

And I can't use that type in `useForm`. I have to create a new type like this:

[code]

It's not a deal-breaker but an inconvenience. I suppose there's no way around it?

[2020-08-06 01:57] kotarella1110 commented on #2492
I don't think the user can set the isLoading state.

[code]

[2020-08-06 01:57] JeromeDeLeon commented on #2492
You mean let the user define `useState` every time they will use `async defaulValues`? I think we should leverage that for users. just my opinion instead of letting the users define it every time

[2020-08-06 01:58] keiya01 commented on #2492
[code]

I think async function is invoked every render. By rendering, a lot of extra process is occurred.
Therefore I think we should provide other function that can invoke in `useEffect()`.

[2020-08-06 01:59] JeromeDeLeon commented on #2492
unless we wrapped it inside `useRef`, am I right @kotarella1110 ?

[2020-08-06 01:59] kotarella1110 commented on #2492
Is it possible to do the following?

[code]

[2020-08-06 02:00] JeromeDeLeon commented on #2492
That's my question earlier, because what if you rely on something like `fetchById`?

[2020-08-06 02:01] bluebill1049 commented on #2492
You can still display your form, and wait for the promise to resolved and inject to all the inputs. if you need to show a loading spinner. you can just do a `useState`.

[2020-08-06 02:02] bluebill1049 commented on #2492
[code]
that works?

[2020-08-06 02:03] bluebill1049 commented on #2492
I guess `callback` is just one solution, open to better options.

[2020-08-06 02:07] keiya01 commented on #2492
Does this case work ?

[code]

[2020-08-06 02:09] JeromeDeLeon commented on #2492
[code]

Isn't it the same as the one above?

[2020-08-06 02:12] bluebill1049 commented on #2492
Take a look at this issue https://github.com/react-hook-form/react-hook-form/issues/2333 @JeromeDeLeon I think you will have some context.

[2020-08-06 02:14] JeromeDeLeon commented on #2492
Sure. Thanks @bluebill1049 sorry for just popping out my opinion and all.

[2020-08-06 02:15] bluebill1049 commented on #2492
not at all @JeromeDeLeon 👍

[2020-08-06 02:17] bluebill1049 commented on #2488
merged will be released soon.

[2020-08-06 02:17] #2488 closed

[2020-08-06 02:30] bluebill1049 commented on #2492
That works too :) I think would be good to solve a form level, individual input can be solved by `setValue`.

[2020-08-06 02:40] keiya01 commented on #2492
I think we should provide `setDefaultValues` method because callback solution make it complex when it is bellow 🤔

[code]

[2020-08-06 02:44] bluebill1049 commented on #2492
or make `reset` API works with suspense: https://github.com/react-hook-form/react-hook-form/issues/2333

[2020-08-06 02:46] JeromeDeLeon commented on #2492
Is it not possible to work `setValue` and `reset` with `Suspense`?

[2020-08-06 02:47] JeromeDeLeon commented on #2492
:laughing: I didn't see this

[2020-08-06 02:48] tingzhouu commented on #2479
It works now 🎉🎉🎉 My apologies for missing out on the documentation.

For anyone who comes across this, add `setup.js` in the root directory with the following snippet:

[code]

add `"<rootDir>/setup.js"` to `package.json` like this:
[code]

Have updated the [repo](https://github.com/tingzhouu/rhf-formState-issue) with the changes as well.

Thank you @keiya01 for your help!

[2020-08-06 02:48] #2479 closed

[2020-08-06 02:49] bluebill1049 commented on #2492
This: https://codesandbox.io/s/currying-cloud-d8e9f?file=/src/App.js

[2020-08-06 03:28] kotarella1110 commented on #2466
@jgonera Sorry, you need to define a new type with `NestedValue` type if `Decimal` type is array or object.
Is `Decimal` type a Class?
For Classes, I can fix it so that you can define the type without using NestedValue.

[2020-08-06 04:13] bluebill1049 commented on #2419
[code]

I think we can update internally to avoid the issue
[code]

I think this is bug with resolver:
[code]

what do you think @kotarella1110?

[2020-08-06 05:04] bluebill1049 commented on #2487
here is a working version: https://codesandbox.io/s/trusting-frog-ssjwo?file=/src/App.tsx

[2020-08-06 05:56] kotarella1110 commented on #2419
My suggestion 2 is to define the type internally as follows:

[code]

[2020-08-06 05:58] bluebill1049 commented on #2419
and keep those as `any`?

[code]

[2020-08-06 06:09] kotarella1110 commented on #2419
@bluebill1049 I will try to verify if those types can also be defined 👍

[2020-08-06 06:11] bluebill1049 commented on #2419
Thanks a lot @kotarella1110 👍

[2020-08-06 07:09] bluebill1049 commented on #2419
here is the backup plane: https://github.com/react-hook-form/documentation/pull/399 FYI @kotarella1110

[2020-08-06 09:02] zjcwill commented on #2312
when I use react-sortable-hoc to drag,   I meet the same question.

[2020-08-06 09:08] bluebill1049 commented on #2312
@zjcwill do you have a codesandbox?

[2020-08-06 12:05] AnthonyWebDev commented on #2487
Hello @bluebill1049 here is the link : https://codesandbox.io/s/intelligent-voice-58z2h?file=/src/App.tsx

[2020-08-06 15:17] gauravkrp opened #2499 "React Select with RHF gives [object object]"
**Issue**
Using React Select with RHF v6 is throwing error.

**Code**
[code]

**CodeSandbox**:
https://codesandbox.io/s/stupefied-moser-ccwqd?file=/src/App.tsx

There are two issues -
1. On submit I'm transforming data to get the value but after I updated today to RHF v6, the same code is throwing value as [object object]
2.  In the TS implementation of the above code, it says  `Binding element 's

[2020-08-06 15:31] AnthonyWebDev commented on #2487
Oh my god ... 😞 Thanks. I missed that.

[2020-08-06 15:31] #2487 closed

[2020-08-06 17:49] afzaalahmad commented on #2490
@bluebill1049 I have a controller form, and I pass errors through callback to the parent, that's why I need to put useEffect on the errors and pass the error value back to parent? So, solution to this problem?

[2020-08-06 18:18] #2499 closed

[2020-08-06 18:30] finom opened #2504 "Rename watch to useWatch since this is a hook"
Just a small improvement proposal. Since watch is a hook I propose to rename it to conventional useWatch.

[code]

[2020-08-06 19:48] jgonera commented on #2466
Yes, `Decimal` is a class. It would be really awesome if I could use it without `NestedValue`!

[2020-08-06 22:23] bluebill1049 commented on #2504
thanks for the suggestion. we have https://react-hook-form.com/api#useWatch :)

[2020-08-06 22:23] #2504 closed

[2020-08-06 22:29] bluebill1049 commented on #2490
happy to assist, do you have a codesandbox for the above use case?

[2020-08-07 09:42] sunnyone opened #2509 "Different behavior of register and register() after reset()"
**Describe the bug**
After calling reset(), fields that have register() and register behave differently.

**To Reproduce**
1. Create fields that have register() and register.
[code]
2. Call reset()
[code]

3. Call getValues(). It returns only a value of field1.
[code]

**Codesandbox link (Required)**
https://codesandbox.io/s/zen-buck-ujt63?file=/src/App.js

**Expected behavior**
getValues() return

[2020-08-07 10:02] tbelch-at-eHealth-Tec opened #2510 "mode onBlur/onChange not working with custom resolver"
**Describe the bug**
When using a custom validation resolver, the validation is only triggered on submit, even with `mode` set to `onBlur` or `onChange`.

**To Reproduce**
Build a custom resolver based on the [custom resolver example](https://codesandbox.io/s/react-hook-form-customresoliver-ts-v6-ecoxh) from the [api docs](https://react-hook-form.com/api#useForm) or use my [example](https://github

[2020-08-07 10:31] bluebill1049 commented on #2510
Hi @tbelch-at-eHealth-Tec, can you try to reproduce in this codesandbox: https://codesandbox.io/s/react-hook-form-customresoliver-v6-h4ti6?file=/src/index.jsx

[2020-08-07 10:41] bluebill1049 commented on #2509
Thanks for the detailed issue report:

![Screen Shot 2020-08-07 at 8 38 01 pm](https://user-images.githubusercontent.com/10513364/89637675-e5a70b00-d8ed-11ea-82c7-068d05ce6d3e.png)

when you invoke reset with empty argument, what happened

1. HTML `form.reset` kicked in
2. all field reference gets reset
3. however, input with `register` without `argument`, input ref will not get invoked again.

so

[2020-08-07 11:06] meman opened #2512 "Nested useFieldArray elements do not get values when calling reset in a asynchronous way"
**Describe the bug**
When setting default data in an asynchronous way ie in a useEffect and calling reset, nested useFieldArrays do not seem to get default values.

It seems to only have become a issue from jumping from 6.0 to 6.3

**To Reproduce**

1. create a form with nested useFieldArrays
2. At the form root create a useEffect and a setTimeout to set the default data via reset.

**Codesandbox

[2020-08-07 11:34] bluebill1049 commented on #2509
wow, i just figured out a way to work around this, potential can remove that note in the doc. as well.

https://codesandbox.io/s/heuristic-feistel-qxl8h?file=/src/App.js

[2020-08-07 11:49] sunnyone commented on #2509
Thanks. I didn't know that it's designed behavior. I'll use register() for a while.

[2020-08-07 11:50] meman opened #2516 "useWatch within a nested useFieldArray removing a item just before another causes useWatch go out of sync"
**Describe the bug**
When using useWatch within a nested useFieldArray removing a item just before another causes useWatch go out of sync. For the item its assigned to it does not pick up the changes, however it seems to take those of the next added item.

**To Reproduce**

1. Create a form with a nested useFieldArray
2. Append 2 elements to list
3. Remove the first and type - noticing that the wa

[2020-08-07 11:55] smashercosmo commented on #2492
I would just prefer form to always reinitialise when defaultValues change. Fetching default values asynchronously when initialising the form is less common scenario, than just using props.

This is more common
[code]

than
[code]

[2020-08-07 12:25] bluebill1049 commented on #2516
for useFieldArray plz watch the entire array.

[2020-08-07 12:30] meman commented on #2516
Which one? the root array or the nested one?

[2020-08-07 12:31] bluebill1049 commented on #2516
Depend on which level of field array, that you want to watch.

[2020-08-07 12:33] meman commented on #2516
so i am looking to watch/use one of the nested values.

so in this case i want only ```test[${nestIndex}].nestedArray[${k}]```

[2020-08-07 12:37] bluebill1049 commented on #2516
the parent would be the safe options because inputs get shuffle and swap position. they are not necessarily getting mount and unmounted, which is reason why if you watch particular input after a shuffle or delete, it will end up targetting on the wrong input with `watch`.

[2020-08-07 13:43] meman commented on #2516
Question then if the parent can also me moved around then i might as well watch the whole tree right?

[2020-08-07 14:20] choyan commented on #572
`Controller` is now preferable instead of RHFInput. In my case, I am now working with this snippet. Although I am failing to get the required rule to work properly.

[code]
More example here:
https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

[2020-08-07 17:26] kotarella1110 commented on #2419
@djMax @bluebill1049 I found that I could solve this by creating `global.d.ts` file.
Only React Native will have empty DOM interfaces, but React will not be affected.
For details, please see this PR https://github.com/react-hook-form/react-hook-form/pull/2518.

[2020-08-07 18:09] paambaati opened #2521 "remove in dynamically nested field arrays don't work correctly"
**Describe the bug**
When I try to use multiple `useFieldArray`s nested inside a `useForm`, `remove(index)` doesn't remove the correct array item.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to either of the CSB links.
2. Try clicking on one of the 'Delete XXX' buttons.
3. Notice how the fields removed aren't the ones that are supposed to be (this is evident from the button label and

[2020-08-07 19:08] bscaspar opened #2522 "dirtyFields not registering field if data is set using setValue then deleted"
**Describe the bug**
`dirtyFields` does not return a field if `defaultValue` is an empty string then data is set with `setValue` then deleted by the user.

**To Reproduce**
[CSB](https://codesandbox.io/s/festive-mahavira-i83c2?file=/src/App.tsx)
1. Hit submit - `dirtyFields` = `Object {}`, expected
2. Delete a letter from the text field, hit submit - `dirtyFields` = `Object {name: true}`, expected

[2020-08-07 21:54] lebreRafael commented on #1148
I just did something similar without the validate. I only used the variable as the **required** value.

In this case it would be something like:

[code]

@bluebill1049 Will I have some problem with this approach?

Just to let you know my scenario is: I need at least one of two fields to be filled.

[2020-08-07 22:36] manualva7 commented on #2475
@bluebill1049

This has got to be new. react-selects are now focusable. I've searched this a few months back.
https://react-select.com/advanced#accessing-internals

Just food for thought. If you'd like we can move this to discussions.

[2020-08-07 23:40] bluebill1049 commented on #2516
yes @meman

[2020-08-07 23:48] bluebill1049 commented on #2475
@manualva7 we can continue the chat here no worries :)

you just need to the following for react-select: https://codesandbox.io/s/react-hook-form-controllerautofocus-v6-eeo66 just wire up the onFocus prop in Controller 👍 let me know if this make sense.

[2020-08-07 23:53] bluebill1049 commented on #2522
Works as expected for me: https://codesandbox.io/s/hooks-form-controlled-e42cj?file=/src/App.tsx.

`setValue` doesn't trigger dirty. unless: setValue('name', 'value', { shouldDirty: true })

[2020-08-08 00:04] bluebill1049 commented on #1148
@lebreRafael I think you will with `reset` API, if you are using MUI, the label animation is not going pop up and down.

[2020-08-08 00:12] bluebill1049 commented on #2492
Hey, @smashercosmo that's how I designed when hook form started, however this doesn't work well with

[code]

unless user is willing to `memo` their `defaultValues` (which is not great DX), otherwise react dep check is always going to fail and each re-render will result in update value again.

[2020-08-08 00:16] bluebill1049 commented on #2521
Thanks @paambaati for the detailed issue report. will take a look at it.

[2020-08-08 00:16] bluebill1049 commented on #2492
I think we can conclude `const form = useForm({ defaultValues: async () =>  fetch(`/api/user/${userId}`)})` is not great solution :(

[2020-08-08 00:47] afzaalahmad commented on #2490
@bluebill1049 here is the codesandbox https://codesandbox.io/s/react-hook-form-useform-template-7olxo
I need to pass the errors back to parent every errors object changes on the event `onChange`. useEffect runs on submit but not onChange.

[2020-08-08 00:51] bluebill1049 commented on #2490
what about move `useForm` to your `parent` that would solve the problem right?

[2020-08-08 02:38] bluebill1049 commented on #2521
hmmm, I think you should separate them into two components doing inside a `map`, I am not sure it will work well.

[2020-08-08 05:03] #2512 closed

[2020-08-08 05:04] #2419 closed

[2020-08-08 06:26] paambaati commented on #2521
@bluebill1049 Thanks for investigating this! I tried to create another version with 2 separate components like you suggested - https://codesandbox.io/s/react-hook-form-nested-usefieldarray-wyg2f?file=/src/index.js - and the problem persists.

Can you help me understand why this is happening, and if possible, suggest a better way of going about this?

[2020-08-08 06:37] bluebill1049 commented on #2521
It was the dot 😭

https://codesandbox.io/s/react-hook-form-nested-usefieldarray-ckk6n?file=/src/index.js

[2020-08-08 06:50] paambaati commented on #2521
![](https://media.tenor.com/images/5c735243bd7bf04b6bbe5c5b55b28b72/tenor.gif)

Thank you so much for figuring this out @bluebill1049, I'd have spent a few more hours on this before I'd realize this!

[2020-08-08 06:50] #2521 closed

[2020-08-08 06:51] bluebill1049 commented on #2521
that's all good mate! lol.

[2020-08-08 07:06] paambaati commented on #615
@bluebill1049 I tend to agree with @elderapo; and I'm leaning towards solution 3 — adding a custom `transformValue` option in `register`.

This leads to a vastly better DX, especially when working with large complex forms where you'd want to parse/cast form field values in different ways. Some examples I can think of —

1. Converting numeric input values to `Int` or `Float`.
2. Converting `<input

[2020-08-08 07:11] bluebill1049 commented on #615
Yea thanks @paambaati added.

Take a look at this folder:

https://github.com/react-hook-form/react-hook-form/tree/master/examples

there is a code example in there: https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc

if we introduce transform, then we will need a parser. it's just making API more heavy and things to learn. You can work around pretty easily with `onChange` an

[2020-08-08 08:05] #2509 closed

[2020-08-08 13:28] amirofy2002 commented on #892
by adding `key={item.id} `for each field my problem **solved**
thanks for helpful comments

[2020-08-08 17:15] bscaspar commented on #2522
Once the form loads `setValue` populates the fields. If the user then deletes all the text, shouldn't `isDirty` be true? Even if `setValue` is not called with `{shouldDirty: true}`? That is not happening in the [CSB](https://codesandbox.io/s/hooks-form-controlled-09zfm?file=/src/App.tsx) (updated so `dirtyFields` is the only console log)

[2020-08-08 23:31] bluebill1049 commented on #2522
the `defaultValues` remain the same.

[2020-08-08 23:55] bscaspar commented on #2522
I see, so that's by design? If the `defaultValues` remain the same then `isDirty = false`? If that's how it's designed then feel free to close, I thought that it would be a scenario when `isDirty` should be true. Easy enough to workaround anyway when using the `setValues` call.

[2020-08-08 23:55] #2522 closed

[2020-08-08 23:57] bluebill1049 commented on #2522
That's by correct, it's by design. `defautlValues` is the source of truth.

[2020-08-09 00:04] bluebill1049 opened #2529 "Why when I clean my input, this warning shows inside my console?"
Why when I clean my input, this warning shows inside my console?
<img width="1172" alt="Screen Shot 2020-08-08 at 18 45 31" src="https://user-images.githubusercontent.com/25664253/89714432-578f5b00-d9a7-11ea-8785-7348fd8ce3ca.png">
<img width="1172" alt="Screen Shot 2020-08-08 at 18 45 41" src="https://user-images.githubusercontent.com/25664253/89714436-5d853c00-d9a7-11ea-8d2d-07b44e322306.png">
<

[2020-08-09 00:13] afzaalahmad commented on #2490
Actually I have three different forms under one parent without any button on all of them, so I used useFrom in three childs and pass errors of all forms to parents.

[2020-08-09 00:43] bluebill1049 commented on #2490
you can use a state machine (redux) to pass into context, that should work.
[code]

store errors in the context.

[2020-08-09 00:49] #2529 closed

[2020-08-09 00:50] bluebill1049 commented on #2510
Don't think this is a bug after investigate unless we can reproduce this issue in the codesandbox above.

[2020-08-09 00:50] #2510 closed

[2020-08-09 08:06] MHA15 opened #2530 "form error filed when an exception throwed in onSubmit function"
Hi
there are some forms which might get error from server in submit phase
for example in login submit username and password might be mismatched and this error is not related to any  field and it is relate to form itself
I think there should be a mechanism that when submit function throws handleSubmit method catch it and give it as a form-error in formMethods

[2020-08-09 08:21] #2530 closed

[2020-08-09 14:01] davidtran commented on #1465
I am still getting this error

[2020-08-09 17:23] jmlopezo opened #2535 "Warning and not fire event onChange Antd Design Checkbox Component"
In last version (6.3.1) I get a warning when I use Antd Desing Checkbox component, also the onChange event is not fired.

"Warning: [antd: Checkbox] `value` is not a valid prop, do you mean `checked`?"

[code]

Works fine in 5.7.2 version.

[2020-08-09 22:59] bluebill1049 commented on #2535
please use `render` prop for checkbox: https://react-hook-form.com/api#Controller