[2020-01-31 00:24] orteth01 commented on #937
Thanks! I really appreciate it, @kotarella1110. I probably won't have time to tackle this until next week. If you do open a PR, can you tag me on it? I'm not super familiar with typescript and am interested in what your approach will be.

And thanks for an awesome library!

[2020-01-31 00:24] bluebill1049 commented on #924
hey @ryanwalters I guess it's tradeoff with FieldArray uncontrolled, because it will need to be an object which contains a unique ID for the `map`, however if you have better suggestion or idea why not! :)

[2020-01-31 02:24] bluebill1049 commented on #938
can you try out this version: react-hook-form@4.7.3-beta.1

[2020-01-31 02:27] ryanwalters commented on #924
Opened #940. The solution should be backwards compatible, and keeps the unique id.

[2020-01-31 02:27] bluebill1049 commented on #924
thanks, i added some feedback take a look there :)

[2020-01-31 02:34] #924 closed

[2020-01-31 03:28] bluebill1049 commented on #937
awesome work from @kotarella1110 it will be in the next minor update :)

[2020-01-31 03:28] #937 closed

[2020-01-31 06:16] mthines opened #942 "Issue with Typings when passing `register` as a prop"
**Describe the bug**
I've created two components, Form and Input. The form initializes the Form Hook, and passes it to it's component prop (children). When I pass the register prop from the Form component, to the input field I get a type error, even though I'm using the same types.

If I set the type of the `register` in the `InputField` to `any`, it works correctly, but then it's not typed.
I cou

[2020-01-31 06:50] bluebill1049 commented on #942
can you please provide a valid CSB? it's broken.

[2020-01-31 08:05] #938 closed

[2020-01-31 08:18] bluebill1049 commented on #932
I couldn't reproduce this issue: https://codesandbox.io/s/sparkling-smoke-1q6w6 can you please provide example.

[2020-01-31 08:19] bluebill1049 commented on #932
wait, i am going to try it out firefox now.

[2020-01-31 08:20] bluebill1049 commented on #932
no issue as well.

[2020-01-31 08:22] codinglabsdev commented on #932
The error happens when the unset function is called. Is it being called? In my app it is called when the component is unmounted.
I’ll try to provide an example today.

[2020-01-31 08:39] bluebill1049 commented on #932
yes please.

[2020-01-31 08:45] codinglabsdev commented on #932
I forgot to say that the input is nested. So maybe setting the name as something like “files.image”

[2020-01-31 08:51] codinglabsdev commented on #932
More differences from the codebox you provided: you are only removing the input field. In my case the whole component is being removed, including the <form> tag. Maybe making a FormComponent with a file input “name=files.name” and then removing it.

Also don’t forget to add a file to the input and use Firefox

[2020-01-31 08:53] bluebill1049 commented on #932
Did that as well.

[2020-01-31 08:54] bluebill1049 commented on #932
try above as well: https://codesandbox.io/s/infallible-kapitsa-wrm9v

[2020-01-31 09:04] bluebill1049 commented on #932
btw I do believe the issue exists, just need to find a way to reproduce this issue. :)

[2020-01-31 10:42] mstanielewicz opened #943 "Multiple validation sources / validation priority"
**Is your feature request related to a problem? Please describe.**
I had a problem with setting both schema validation and field level validation. There could be scenario when a user want to use schema validation, but also have some additional validation for example on backend. Right now if you use schema, field validation function doesn't even run.

**Describe the solution you'd like**
I thought

[2020-01-31 11:14] bluebill1049 commented on #943
Thanks for the feature request :) as right now I think we will stay as it is.

If users want to trigger a custom error message, they can use `setError` at `handleSubmit` level.

[2020-01-31 11:19] codinglabsdev commented on #932
Well, I picked your CSB and added modified the input name from "test" to "file.test" and it instantly produced the error, so it may be related to nested inputs.

[code]

[2020-01-31 11:20] bluebill1049 commented on #932
aha cool. yeah that must be it. thanks

[2020-01-31 11:21] codinglabsdev commented on #932
Yes, I think it is only when using nested inputs. Did you manage to replicate the error?

I modified the input name, added a file, and clicked remove.

[2020-01-31 11:22] bluebill1049 commented on #932
yea i did, it's only to do with nested inputs. I will patch that soon.

[2020-01-31 11:57] bluebill1049 commented on #932
patched: https://codesandbox.io/s/epic-microservice-o6i7d if you can verify, i will merge the fix.

[2020-01-31 13:47] gsnunes opened #945 "Input inside a hoc not work"
**Describe the bug**
I'm using some different components on my form, like reactstrap, datepicker and suggestion.
Then I'm using the controller to manage register and I need to make a HOC where I just pass my input and make my code more clean. But this is not working.
In the sandbox example I just put the input into a HOC and it stops work. Look that I pass the "react-hook-form" props into a config

[2020-01-31 16:07] nicolastrote commented on #709
Can I join in to help with French?

[2020-01-31 19:42] matheusffatg commented on #938
Thanks for the fast reply @bluebill1049 . yeah it does work when watching for a single field but it doesn't for multiple fields.
[code]

[2020-01-31 20:39] bluebill1049 commented on #709
hey @nicolastrote that would be great! I don't think @opeah @ScreamZ have made a start on it. so I think you can start with the get started page, let me know if you need some help around how to start. thank you very much.

[2020-01-31 20:42] bluebill1049 commented on #943
going to close this issue for now, thanks for the suggestion ❤️

[2020-01-31 20:42] #943 closed

[2020-01-31 20:43] #932 closed

[2020-01-31 20:50] bluebill1049 commented on #945
With HOC each re-render will mount and re-mount the child component which is the reason cause this issue, I would recommend to use FormContext instead.

[2020-01-31 20:50] nicolastrote commented on #709
Thanks for the state of art @bluebill1049. I will begin the translation, and push files per files, so perhaps @opeah and @ScreamZ could make the reviewers :)

[2020-02-01 07:53] #945 closed

[2020-02-01 08:19] mthines commented on #942
Aah, I realized the React version was too low in CSB, so the Hooks weren't supported.
I've updated now :)

Thanks!

[2020-02-01 08:42] bluebill1049 commented on #942
hey @stramel would you be able to help this one?

[2020-02-01 08:51] stramel commented on #942
Will take a look in the morning. Not seeing the error in CSB. I did notice the `errorMessage` prop is incorrectly being put on a HTML `input`.

Also, instead of passing the `register` function, it would be better to set the `ref` on the `InputField` then do a `forwardRef` on the `InputField` to the HTML `input`.

Lastly, minor note, it's best to not use `React.FC` in favor of explicitly defining y

[2020-02-01 08:57] mthines commented on #942
In my code (not the CSB), the `errorMessage` has been deleted and been replaced with the string coming from the error type, and it's not really what's causing the problem here. But you're right.

Can you elaborate on why it would be better to pass it as a ref?

I'm also curious why you write it's best not to use `React.FC`. Can you elaborate on this as well?

[2020-02-01 10:29] bluebill1049 commented on #942
thanks @stramel a lot :)

[2020-02-02 02:00] codinglabsdev commented on #932
Working Great! Thanks!

[2020-02-02 02:01] stramel commented on #942
@mthines Sorry for the delay.

Now that I'm at my computer and not on my phone, I can see the error in the CSB. The actual issue is that you define in the `Form` component that the `Props` has `register` defined as such `register?: FormContextValues["register"];`. This means `FormContextValues["register"] | undefined`. However, in `InputField` you define the incoming prop as such `register: FormCo

[2020-02-02 02:03] stramel commented on #942
Closing as it appears to be an issue with your `Props` type definition. Please let us know if this isn't resolved.

[2020-02-02 02:03] #942 closed

[2020-02-02 02:24] bluebill1049 commented on #942
thanks @stramel a lot 👍

[2020-02-02 03:09] bopfer commented on #670
This issue seems to be happening again.  Maybe I am doing something wrong.

Here is an updated sandbox from the original post above: https://codesandbox.io/s/react-hook-form-reset-form-v87lu (It resets with the defaultValues)

Here is a new one I just created today to try an emulate my app:  https://codesandbox.io/s/beautiful-worker-597ue (It resets by just calling `reset()`)

In both of them, jus

[2020-02-02 06:14] bluebill1049 commented on #670
dame, I removed the dep by mistake.

[2020-02-02 06:20] bluebill1049 commented on #670
will patch on the next release sorry @bopfer

[2020-02-02 09:41] falkenhawk opened #949 "focusErrorField while using setError"
Would it be possible to focus first field with error while using `setError`? The functionality already exists in the code - there is `focusErrorField` being called in the `handleSubmit` function, maybe the same thing could be called inside `setError` function? (possibly as an opt-in feature, triggered by an additional option / argument e.g. `setError([...], { focusErrorField: true })`).

My case:

[2020-02-02 10:07] bluebill1049 commented on #949
hey @falkenhawk thanks for this great suggestion. consider the current API is already quite long...

`(name: string | ManualFieldError[], type?: string | Object, message?: string) => void`

if we need to make such a change, we may have to make a breaking change.

[code]

I will put a tag on this feature request and placed it to my backlog, for now, we can investigate the future when we move to the

[2020-02-02 10:07] #949 closed

[2020-02-02 15:43] falkenhawk commented on #949
@bluebill1049 thanks for the super-fast response! (but it's Sunday, man!)
On second thought, maybe it would not be the best idea to add another argument to `setErrors` function, and complicate it even more, but expose another function in `FormContextValues` - returned from `useForm()` hook? That won't cause a BC break and maybe won't have to wait for a major release, because everything what's nece

[2020-02-02 17:49] asimhyff opened #950 "Persist Multi steps form in Next js"
https://www.youtube.com/watch?v=CeAkxVwsyMU

In this video of multi steps form, we are using push function which is getting from react-router-dom to go to step 2 but in Next js, we use it's next/Link library instead so what we will use to go to step2 in it?

![image](https://user-images.githubusercontent.com/56485049/73612495-12602a00-460e-11ea-9185-0f42b79cbf9c.png)

[2020-02-02 19:08] tomas-c opened #951 "custom ID with useFieldArray doesn't work"
**Describe the bug**
When using useFieldArray, if an array field has custom ID set then dirty state detection doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-dirty-state-with-custom-id-kpq7f
2. Click on append and then remove the appended item
3. Observe that formState.dirty is still false.

**Additional context**
 - Version 4.8.0

[2020-02-02 20:25] bluebill1049 commented on #949
yea I did consider to add another method too, the tradeoff is increased the lib's amount of API, which against the simplicity of his lib. less APIs is better for us (developers)

[2020-02-02 20:56] bluebill1049 commented on #950
hey, @asimhyff I believe it's the same:

https://nextjs.org/docs/api-reference/next/router

you can use `router.push()`. let me know if you still have other questions.

[2020-02-02 20:56] #950 closed

[2020-02-02 21:00] bluebill1049 commented on #951
hey @tomas-c I don't think we will support this custom id. however, I do see the point of this issue, because `id` could potentially come from your database and it's part of the form. so i would suggest not to use `id` field at this moment.

here is my proposal:
[code]

[2020-02-02 21:43] tomas-c opened #953 "Either data or error typings have to be wrong when using arrays"
**Describe the bug**
When using useFieldArray, react-hook-form returns undefined when there are no fields. To handle this case the form data has to be typed as `type FormData = { arrayField: Field[] | undefined }`. This does not play well with typings for errors because the errors typings use `FormValues[Key] extends any[]` to decide if a field is an array ([here](https://github.com/react-hook-for

[2020-02-02 21:55] tomas-c commented on #951
I like the rename option because without it would be difficult to tell apart IDs generated by react-hook-form and IDs from a database. Will TypeScript typings for fields play well with the keyName option?

[2020-02-02 21:56] omarkhatibco opened #954 "[TypeScript] ErrorMessage Component accept no props any more in version 4.8.0"
**Describe the bug**
after I updated to v4.8.0 I got this error message from Typescript
on the `className` and `name` props

[code]
<img width="607" alt="Screenshot 2020-02-02 at 22 54 16" src="https://user-images.githubusercontent.com/9054278/73616064-1ccef380-460f-11ea-95f2-249025025465.png">

also `errors` prop got this following error

[code]

[2020-02-02 22:01] bluebill1049 commented on #954
You want to help and take a look this issue @kotarella1110

[2020-02-02 22:01] omarkhatibco commented on #954
I tried to revert to v4.7.2 and it's seems also affected.
the last working version is 4.7.1

[2020-02-02 22:02] bluebill1049 commented on #951
Probably just a string type

[2020-02-02 22:16] bluebill1049 commented on #954
Thanks for the update :) our team member @kotarella1110 should be able to help out on this one.

[2020-02-02 22:18] bluebill1049 commented on #953
I will investigate on this one.

[2020-02-02 22:21] tomas-c commented on #951
Currently, the type for `fields` is defined as `fields: WithFieldId<Partial<FormArrayValues>>[];`. If `keyName` argument is introduced, then we'll have to just use `fields: Partial<FormArrayValues>[];` and expect the user to add the definition of the key field to FormArrayValues. Unless there's some typescript magic to have `WithFieldId` work with configurable id field names...

Another way could

[2020-02-02 22:34] bluebill1049 commented on #951
Hmmm I see... I will take a closer look at it later on.

[2020-02-02 23:14] tomas-c commented on #951
I like decoupling option because we can also have a separate field for the name:

[code]

users would not need to do ``name={`field[${index}.email]`}`` and instead could do a safer type-checked `name={field[index].name}`

[2020-02-02 23:23] tomas-c opened #955 "Dirty state detection is not working correctly with field arrays"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-change-detection-jdkhj
2. Click on the input with "useFieldArray0" value
3. Enter a single character and observe formState.dirty=false
4. Enter a second character and observe formState.dirty=true
5. ~Delete the two characters and observe the state is still formState.dirty=true~

**Expected behavior*

[2020-02-02 23:25] cdelcol opened #956 "React Native: Can't find variable: FileList - "react-hook-form": "^4.8.0","
**Describe the bug**
An error unrelated to the form occurs after updating a redux store

I updated the following, and everything works as expected:

` node_modules/react-hook-form/dist/react-hook-form.js, Line 583`
from
`var isFileListObject = (data) => data instanceof FileList;`
to
`var isFileListObject = (data) => true`

**Screenshots**
![image](https://user-images.githubusercontent.com/411488/7

[2020-02-02 23:43] bluebill1049 commented on #956
oops that was my bad, will adjust that

[2020-02-02 23:47] bluebill1049 commented on #955
strange... consider i even added automation test for this dirty check.... will take a look

[2020-02-02 23:56] #956 closed

[2020-02-02 23:57] bluebill1049 commented on #955
This issue is not valid: you are not using the id from RHF
[code]

[2020-02-03 00:06] tomas-c commented on #955
@bluebill1049 I've removed the hardcoded IDs left over from copying the sandbox. Now the formState.dirty correctly resets but I still need to type at least two characters to have it update to true.

[2020-02-03 00:24] bluebill1049 commented on #955
ok that's a seperate issue then, i will take a look tonight.

[2020-02-03 00:29] bluebill1049 commented on #955
can you help on replicated on this demo: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv? help me nail on what's trigger this issue. thanks a lot

[2020-02-03 00:51] bluebill1049 commented on #955
nvm i found the bug. patching.

[2020-02-03 00:51] #955 closed

[2020-02-03 00:56] bluebill1049 commented on #953
was looking at your git repo:

[code]

you won't get the error object inside handleSubmit

[2020-02-03 00:58] bluebill1049 commented on #953
hey @stramel would you have any suggestion on this one? We definitely can't return empty array for errors, do you have any suggestion on changing our Type to support `[] | undefined`?

thanks
bill

[2020-02-03 01:03] bluebill1049 commented on #951
we definitely need this unique `id`, because we are working with input uncontrolled.

[2020-02-03 01:13] tomas-c commented on #953
I put it inside the onSubmit so that `error.fieldArray` example would be close to the `data.fieldArray.map` example. In my actual app I'm doing `errors={errors?.fieldArray?.[index]?.name}` with Material UI's inputs.

[2020-02-03 01:32] tomas-c commented on #951
I think something got mixed up here, not suggesting we get rid of the id. All the examples have it.

[2020-02-03 01:42] kotarella1110 commented on #954
@omarkhatibco we can pass `className` prop only if we also passed the `as` prop, because you can't have `className` as a prop on `React.Fragment`.
It works correctly by passing the `as` prop.

[code]

[2020-02-03 01:51] omarkhatibco commented on #954
@kotarella1110  thanks it works !

The problem is `as` prop is not mentioned in the documentation.

[2020-02-03 02:18] bluebill1049 commented on #954
it's there @omarkhatibco take a look :)

https://react-hook-form.com/api#ErrorMessage

[2020-02-03 02:19] bluebill1049 commented on #954
thanks @kotarella1110 🙉

[2020-02-03 02:21] bluebill1049 commented on #951
Oh cop sorry I will read it more closely tonight

[2020-02-03 02:25] blakecannell commented on #924
Hey guys, I'm still seeing issues here (on 4.8.0), whereby the array doesn't stay intact when calling `getValues`. Each item of the array is being serialised and added to the root of the form state. The state of `getValues` also seems to be one render behind (add an item, it won't show in state until you take another action/render).

Illustrated in this sandbox by stringifying `getValues` & `field

[2020-02-03 02:39] bluebill1049 commented on #924
hey @blakecannell i think you want to use watch() instead getValues().

[2020-02-03 08:14] omarkhatibco commented on #954
@bluebill1049  but it's required now ?

[2020-02-03 08:23] bluebill1049 commented on #954
hmmm it shouldn't be required. @kotarella1110 is it required?

[2020-02-03 08:32] omarkhatibco commented on #954
@bluebill1049 because if i did not assign `as` props I got the error messages above for both `name` and `errors`

[2020-02-03 08:33] bluebill1049 commented on #954
i think this maybe an issue here:

[code]

[2020-02-03 08:57] kotarella1110 commented on #954
@omarkhatibco not required.

https://codesandbox.io/s/rhf-issues-954-wl42r

<img width="575" alt="スクリーンショット 2020-02-03 17 55 05" src="https://user-images.githubusercontent.com/12913947/73638763-64588c80-46ae-11ea-9450-c4a7ddd1770d.png">

[2020-02-03 09:00] bluebill1049 commented on #954
@kotarella1110 type error on your last component where as is missing.

[2020-02-03 09:02] omarkhatibco commented on #954
@kotarella1110 type of `name` is never when as is missing
![Screenshot 2020-02-03 at 10 01 51](https://user-images.githubusercontent.com/9054278/73639244-4407de00-466c-11ea-9ef3-a84e78e7095d.png)

[2020-02-03 09:17] kotarella1110 commented on #954
@bluebill1049 the type error is correct! because we can't have className as a prop on `React.Fragment`.

[code]

@omarkhatibco plz provide codecodesandbox example.

[2020-02-03 09:19] bluebill1049 commented on #954
wow type is great! great job @kotarella1110

[2020-02-03 09:35] kotarella1110 commented on #954
This has not been resolved yet.
Passing the `name` and `errors` prop shouldn't cause type error.

[code]

I will wait for @omarkhatibco to provide codesandbox.

[2020-02-03 09:40] omarkhatibco commented on #954
Hi @kotarella1110
you could check it here
https://codesandbox.io/s/rhf-issues-954-51g6k

to ease it for you, maybe something is wrong with `tsconfig`

[2020-02-03 09:42] kotarella1110 commented on #954
I'm busy today, so I wil see it tomorrow.

[2020-02-03 09:45] omarkhatibco commented on #954
@kotarella1110 ok, Thanks for you

[2020-02-03 12:38] DhanushkumarSivaji opened #958 "How to unit tess react-hook form with jest and enzyme?"
Is there any working example like form submission or something in jest & enzyme ?

[2020-02-03 14:28] Hafas opened #960 "`reset` method does not affect `Controller`-wrapped components"
**Describe the bug**
If the `reset` method is invoked the components wrapped in `Controller` won't receive the default value; instead they keep getting their current value.

**To Reproduce**
1. wrap a component into a `Controller`
2. change value of the component
3. call the `reset` method
4. value does not reset

**Codesandbox link**
https://codesandbox.io/s/optimistic-sea-dppb6

Change this valu

[2020-02-03 15:14] bopfer commented on #670
Looks like the fix worked for the non-field array fields.  But, it's still emptying out the field arrays.  Here is an updated sandbox:

https://codesandbox.io/s/green-paper-cu24v

I noticed it does _seem_ to work if the `defaultValue` prop is added when mapping over the fields. (It's currently commented out in the above sandbox).  But, the docs don't seems to indicate that it should be used (or I

[2020-02-03 15:19] pro-nasa opened #961 "A suggestion to add a new `setNestedValues` method"
**Additional context**
Suppose we have a specific business case to create a wizard form with auto-fill form fields option.
So, the initial form data are nested and one of the steps looks like this:
[code]

The form has an additional button for automatically filling fields from API data based on the `company.name`. Each field name is flattened ("company.name", "comapny.location.lat", etc.)

**Is yo

[2020-02-03 15:21] rodynenko opened #962 "TypeError when use React components as yup's error messages in development mode"
**Describe the bug**
I try to use React components as yup's error messages (provide simple version on the codesandbox; there could be react-intl's components in real life)
After you validate empty form on submit and try to fill some required field, you find that field is still invalid and TypeError occurs in console.
This error occurs only on development, on production - everything is alright.

As

[2020-02-03 15:37] pro-nasa commented on #961
or you can add an example in the documentation on how to update the entire nested form using a third-party method (or you can add an internal method to flatten an object instead of setNestedValues)

[2020-02-03 16:02] pro-nasa commented on #961
the next thing is update many fields and once update and rendering the form

[2020-02-03 20:38] bluebill1049 commented on #960
your CSB is broken, also for reset with the controller component, you will need to declare the fields.
[code]

[2020-02-03 20:39] bluebill1049 commented on #958
Can you please post questions in our spectrum channel and do a search there as well? i think it's been asked before.

[2020-02-03 20:40] #958 closed

[2020-02-03 20:41] bluebill1049 commented on #961
thanks for your suggestion its already on my todo list. If you take a look at the board here:
https://github.com/react-hook-form/react-hook-form/projects/1

i will link this issue with it.

[2020-02-03 20:42] #961 closed

[2020-02-03 20:44] bluebill1049 commented on #962
please use our ErrorMessage component for this and leave your markup at that level.

[2020-02-03 20:56] bluebill1049 commented on #960
looks CSB itself having issue.

[2020-02-03 21:10] yuritoledo opened #963 "Add a setValues - method that accept an object of values"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
a `setValue` that accept an `object` as param, something like:
[code]

**Describe alternatives you've considered**
Using a iterable over `setValue`

[2020-02-03 21:44] bluebill1049 commented on #963
It’s already in our project back log. You can take a look there

[2020-02-03 21:44] #963 closed

[2020-02-03 21:55] bopfer commented on #960
That complicates things.  I have a form that loads in "read only"  mode with an `Edit` button.  Clicking `Edit` switches it to edit mode, which has `Cancel` and `Save`.  `Cancel` is really a reset and it puts the form back into "read only" mode and discards any unsaved changes.  So, with that flow I _could_ pass `defaultValues` into the `reset` and it would work.

However, if I click `Edit`, make

[2020-02-03 22:01] bluebill1049 commented on #960
It’s one of trade offs with uncontrolled inputs or components, especially when default values are not supplied, react hook form won’t be able to assume the default value for such reset.

I will take a look your description above closely tonight @bopfer

[2020-02-03 22:08] bopfer commented on #960
No hurry, I know you are busy.  I have plenty of other stuff to work on as well :smile:

[2020-02-03 22:08] bluebill1049 commented on #960
I will update the documentation tonight as well:

With controller components, it’s more ideal to supply reset values when default values are not supplied.

[2020-02-03 22:32] Hafas commented on #960
In my case default values *are* supplied. It seems to me that reset values are mandatory for controller components.

[2020-02-03 22:59] bluebill1049 commented on #960
in your case `<form onReset={reset}>` you are pass event as the payload

[2020-02-03 23:16] bluebill1049 commented on #962
I will close this issue now, feel free to leave more questions, as for now we are not going to support JSX as error message rather using ErrorMessage component.

[2020-02-03 23:16] #962 closed

[2020-02-04 00:16] julo15 opened #964 "mapIds in useFieldArray tramples over id values"
**Describe the bug**
If the array that i use with `useFieldArray` contains `id` values in them, my `id` values get overridden by `mapIds`.

**To Reproduce**
Pretty simple to reproduce.

[code]

`appendId` should check if the value already has an id, and if so it should just use it.
https://github.com/react-hook-form/react-hook-form/blob/master/src/logic/mapIds.ts#L14

**Codesandbox link**
None for

[2020-02-04 00:17] bluebill1049 commented on #670
Yes, you are right. I will update the doc for this issue.

[2020-02-04 00:18] bluebill1049 commented on #964
The fix is coming and under review: https://github.com/react-hook-form/react-hook-form/pull/957

[2020-02-04 00:18] bluebill1049 commented on #964
here is the issue you can track as well: https://github.com/react-hook-form/react-hook-form/issues/951

[2020-02-04 00:18] #964 closed

[2020-02-04 00:22] bluebill1049 commented on #670
I will close this issue and improve on the documentation, let me know if you find other issues. really appreciated here <3

[2020-02-04 00:22] #670 closed

[2020-02-04 00:23] bluebill1049 commented on #960
Thanks for the detailed explanation as usual @bopfer

most likely you will have to supply the defaultValues for react hook form to reset correctly.

[2020-02-04 00:31] bopfer commented on #670
I think I got my wires crossed with issue https://github.com/react-hook-form/react-hook-form/issues/960#issuecomment-581637840.  That comment was more related to this issue, but they are similar.  Either way, things are clearer now.  Thanks, as always!

[2020-02-04 01:18] julo15 commented on #964
Thank you @bluebill1049 !

[2020-02-04 01:19] julo15 commented on #871
@rguinea @bluebill1049 Can you guys explain how `Controller` fixes the issue?

I see the following comment in the Advanced Usage documentation:

Does that mean that `useFieldArray` cannot be used whenever you want to delete/insert/append/prepend? That seems wrong..

[2020-02-04 02:04] bluebill1049 commented on #871
no, you can use Controller and native input :)

[2020-02-04 02:44] kotarella1110 commented on #954
@omarkhatibco Causes this type error when `strict` is disabled(`false`) in Compiler Option(`tsconfig.json`).
I will fix.

[2020-02-04 02:56] #954 closed

[2020-02-04 03:09] gtnao0219 opened #967 "append doesn't work using useFieldArray with defaultValues"
**Describe the bug**
When using useFieldArray of the latest version(4.8.2), defaultValues is appended though it was deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form482-usefieldarray-4uc78
2. Click the delete button
3. Click the append button
4. Observe that two fields(defaultValue and newValue) are appended

**Codesandbox link**
https://

[2020-02-04 03:43] #967 closed

[2020-02-04 05:32] bluebill1049 commented on #960
going to close this issue and update the doc.

[2020-02-04 05:32] #960 closed

[2020-02-04 05:50] julo15 commented on #871
@bluebill1049 i believe i have found the bug in `useFieldArray`
https://github.com/react-hook-form/react-hook-form/blob/master/src/useFieldArray.ts#L59-L61

`remove` calls `resetFields()` with a new array to reset to:
[code]

... but `resetFields` ignores the array that was passed in:
[code]

---

Locally, I updated `resetFields` to be the following, and it fixed the issue for me:
[code]

[2020-02-04 06:03] bluebill1049 commented on #871
thanks for looking into this, are you having issue with `getValues` because it's the next render? I would recommend to use `watch` instead. Let me know if that's the problem.

[2020-02-04 06:03] DhanushkumarSivaji commented on #958
where can i find your spectrum channel ?

[2020-02-04 06:42] DarkSouls101 commented on #958
https://spectrum.chat/react-hook-form?tab=posts

Sent from my iPhone

[2020-02-04 07:05] julo15 commented on #871
IMO, the core problem is that `remove` ends up deleting the entire array out of `fieldsRef.current`; instead, it should just delete the one element out of the array, and update the other refs accordingly. Does that make sense?

Ultimately, my biggest wish for `react-hook-form` is that `getValues` always and dependably returns the current form values. Right now, I'm having some trouble trying to fi

[2020-02-04 07:20] DarkSouls101 commented on #871
GetValue is meant to read value after. Use watch instead is correct.

Sent from my iPhone

[2020-02-04 08:58] rodynenko commented on #962
Hi, thanks for answer. I try to rewrite my example with ErrorMessage https://codesandbox.io/s/react-hook-form-validationschema-uwu72 . But issues is still valid until I am using JSX as yup's custom error message. When using strings - everything is okay.

As a summary:
Am I right, custom errors in yup config should be only strings, and then all JSX wrapper could be provided into ErrorMessage by `as

[2020-02-04 09:03] bluebill1049 commented on #962
Yes correct above. We can support JSX but every features leads to more code and I am value the lib to be light weight. If there is simple alternative, I am happy to take the hit and make it as a trade off for the lib.

[2020-02-04 09:38] julo15 commented on #871
Well, I ended up fixing my issue by iterating on the solution I proposed above (which was incomplete). I really wanted to get `useFieldArray` working, and my change fixed my scenario (where I have a field that is an array of non-simple objects).

I have only done some minimal testing, but it seems to work. See commit [here](https://github.com/julo15/react-hook-form/commit/6d0fc72cb3a84a7e6106d1995

[2020-02-04 09:40] bluebill1049 commented on #871
supply a CSB with your issue, i will take a look there.

[2020-02-04 10:05] julo15 commented on #871
[![Edit React Hook Form - useFieldArray](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-hook-form-usefieldarray-ik0rf?fontsize=14&hidenavigation=1&theme=dark)

Repro:
- press 'append'
- press 'delete' on either element in the list
- press 'submit'

Expected: the submit data should contain `test` = an array of one element
Actual: the submit data is empty

[2020-02-04 10:14] bluebill1049 commented on #871
why do you wrap your fields with memo?

https://codesandbox.io/s/react-hook-form-usefieldarray-zs5n6

[2020-02-04 11:37] julo15 commented on #871
ah, the `useMemo` was not needed. sorry, i took the CSB from somewhere else and modified it. didn't notice the useMemo.

okay interesting... yes `register()` does fix it for standard inputs! that is good. i'm still having problems, though, with custom inputs.
https://codesandbox.io/s/react-hook-form-usefieldarray-w6sjx

in this new example, i have a `FruitComponent` which uses `setValue`. i'm havi

[2020-02-04 11:39] tomas-c opened #969 "If an array field is initially an empty string then dirty state detection breaks"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-dirty-state-with-empty-string-fhlww
2. Click on the empty input field and type something
3. Observe form state is dirty
4. Clear the field value
5. Observe the form state is still dirty but it shouldn't be

**Additional context**
 - Version 4.8.2

This does not happen with non-array fields or when t

[2020-02-04 11:39] bluebill1049 commented on #871
use Controller should help.

[2020-02-04 12:09] bluebill1049 commented on #969
thanks a lot for the find @tomas-c

[2020-02-04 12:11] #969 closed

[2020-02-04 12:56] Hafas commented on #960
I updated the csb and the issue still persists.
If I supply `defaultValues` in `useForm` it works, but `defaultValue` in `Controller` is ignored by `reset`.

[2020-02-04 15:35] joe4mg opened #970 "Controller always uses default value even if form has existing data for that field"
Apologies if this is intended behaviour - I'm keen to hear your thoughts on this one.

I have a dynamic form with fields generated by an API - some fields share the same name. When I replace these fields they revert to their default value.

For my situation it would be preferable if the value persists. Presumably when a Controller unmounts it unregisters and clears the key/value in the form contex

[2020-02-04 16:09] KDederichs opened #971 "React native picker not updating?"
**Describe the question?**

Hey,
I'm trying to use hook forms with a normal React Native Picker like that:
[code]

The problem is that the value I select won't be reflected by the rendered Picker element.
Is there some special way to handle those? Or do they don't work in general?

[2020-02-04 16:23] joe4mg commented on #971
On the Controller component try setting the `valueName` prop to `"selectedValue"`

[2020-02-04 17:12] KDederichs commented on #971
That did the trick, thanks a lot!

[2020-02-04 17:12] #971 closed

[2020-02-04 19:55] julo15 commented on #871
Thank you for the help @bluebill1049 !

I'm trying now with Controller, can't seem to get it working.

https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-c8ei3
(I took [this](https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-l19pz) example and made it slightly more complicated.)

Repro:
1) Append two times
2) Ente

[2020-02-04 20:29] bluebill1049 commented on #960
i tested your example and it works...
https://codesandbox.io/s/optimistic-sea-dppb6

[2020-02-04 20:30] bluebill1049 commented on #971
thank you @joe4mg 🙏

[2020-02-04 20:33] bluebill1049 commented on #871
use our custom hook if you can, save the headache.

use this example and uncomment native input with controller

https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv

[2020-02-04 20:38] bluebill1049 commented on #970
That's intended behavior if you don't want that sort of behavior maybe consider to use inline `defaultValue` instead.

[2020-02-04 20:48] joe4mg commented on #970
Thanks for the quick response! Ok I should be able to use the inline `defaultValue`.

One issue i've spotted is if I add a defaultValue on the Controller and the form also has defaults then in the form default will over write but the docs suggest the inline `defaultValue` prop should take precedence/overwrite.

I've forked my codepen link to demonstrate this https://codesandbox.io/s/react-hook-for

[2020-02-04 20:50] bluebill1049 commented on #970
thanks i will update the doc or if you have time feel free to spend a PR to adjust the doc

[2020-02-04 20:58] bluebill1049 commented on #970
nvm it's correct logic..

[2020-02-04 20:59] bluebill1049 commented on #970
[code]
inside the controller.

[2020-02-04 21:10] bluebill1049 commented on #970
Ok let me explain the reason why defaultValues over take defaultValue, which i will update the do :)

1. defaultValue get assigned to Controller (useState)
2. register happen after Controller render
3. register check defaultValues exist, if so use it inject the value, (note: it's difficult to track defaultVaue for components or native input) hence why

that's the reason why defaultValues take over

[2020-02-04 21:17] joe4mg commented on #970
Many thanks for looking in to this (and all your work on this project!). I think I will pass a custom 'defaults' object down to the child component with the `Controller` and apply inline.

If you're open to suggestions it would be great if there was a prop to enable a 'persist value' option on a `Controller` so removing and then re-adding would pick up the previous value rather than default.

[2020-02-04 21:22] pjaws commented on #312
Reminder: there's still nothing about this in the FAQ.

I found this issue, because I'm getting a "MutationObserver is not defined" error when I try to render a form component built with this library, using React Testing Library. Am I to understand that I have to install `mutationobserver-shim` and require it in my Jest setup?

[2020-02-04 21:33] stramel commented on #312
Sorry @pjaws, I will re-open so we make sure to add a note about it.

Yes that's correct.

[2020-02-04 21:35] pjaws commented on #312
No need to be sorry! Just wanted to remind you so the next guy/girl who
gets stuck on this can fix it a little quicker!

On Tue, Feb 4, 2020 at 1:33 PM Michael Stramel <notifications@github.com>
wrote:

[2020-02-04 21:48] Hafas commented on #960
I must confess - the more I play with `reset` in csb the more I get confused (and I hope you can bear with me a little longer).

I updated the csb again with 2 forms:

- `Form1` has `defaultValues` set in `useForm`.
When the value in the `input` field and `MyComponent` are updated and then `reset` is called then:
  - `MyComponent` gets correctly reset  :heavy_check_mark:
  - the `input` field clea

[2020-02-04 21:52] bluebill1049 commented on #970
Noted, for now I will leave as it is

[2020-02-04 21:52] #970 closed

[2020-02-04 22:07] bluebill1049 commented on #312
U mean this?
![58E20350-9302-42E8-ADB7-D394ED431722](https://user-images.githubusercontent.com/10513364/73791647-d63bed80-47f6-11ea-84e7-f2a262234ead.png)

Please send a PR If u think the answer need improvement as well. It’s open sourced as well

[2020-02-04 22:07] bluebill1049 commented on #312
Same need to fix that button...

[2020-02-04 22:16] stramel commented on #312
@pjaws Is that what you were looking for? I'm going to close it since it appears to exist. If you feel it needs more clarification, please feel free to contribute. Thanks for using the lib!

[2020-02-04 22:16] #312 closed

[2020-02-04 22:27] pjaws commented on #312
I guess I missed that before, sorry. Wouldn't it make more sense to include
this in the "Testing React Hook Form" section? Or at least a reference to
it.

On Tue, Feb 4, 2020 at 2:16 PM Michael Stramel <notifications@github.com>
wrote:

[2020-02-04 22:58] bluebill1049 commented on #960
[code]

That's not even an input component... i am more than happy to help, but try to follow the lib docs, that will make my life and yours easier. if still having issue have a look at the source code may help you as well.

`<Controller name="random-number" as={<input />} ` using a real input or something like MUI TextInput for testing.

[2020-02-04 23:43] bluebill1049 commented on #960
https://codesandbox.io/s/flamboyant-goldwasser-nrfgo

[2020-02-05 05:49] petrbela opened #973 "Don't require field registration for partially rendered forms"
We have a very large form with 100+ fields, however, they're not all rendered at the same time. (It's essentially a wysiwyg editor ala webflow or figma.) We're currently using Formik but exploring this library because it solves some of the problems we're facing with Formik, namely performance.

I like and agree with most of the design decisions of this library except for the requirement to call `r

[2020-02-05 06:05] bluebill1049 commented on #973
we actually don't required the user to invoke `unregistered`, it's automatic.

That's up to your implementation. I worked on a similar task at work, what i did at work was using state lib to capture those input values and render inputs partially with their value.

[2020-02-05 06:05] #973 closed

[2020-02-05 09:42] Hafas commented on #960
I got `Form1` working now. I think that's enough for now.

Thank you for your patience.

[2020-02-05 10:52] huurray commented on #85
how about using 'childRef'? @bluebill1049

[2020-02-05 11:04] bluebill1049 commented on #85
checkout our Controller component : https://react-hook-form.com/api#Controller @huurray

[2020-02-05 11:05] asimhyff opened #975 "Data storing issue with little-state-machine in Nextjs"
video tutorial:  https://www.youtube.com/watch?v=CeAkxVwsyMU
i have done almost all the parts , done in MultiStep persist form video tutorial , but data is not storing at the end , pls tell what mistakes had i done ...?!
routing etc...every thing is working fine except it.

![image](https://user-images.githubusercontent.com/56485049/73836054-4adf4e00-4830-11ea-9efb-727888b7f13e.png)

[2020-02-05 11:09] bluebill1049 commented on #975
more than happy to help? what's not working for you?

[2020-02-05 11:11] bluebill1049 commented on #975
let's chat there: https://spectrum.chat/react-hook-form?tab=posts

[2020-02-05 11:11] #975 closed

[2020-02-05 11:18] bluebill1049 commented on #975
console.log the state, see what's in there on each step as well. but leave that question in spectrum we can chat there.

[2020-02-05 14:55] joe4mg opened #977 "Unable to persist state when unregistering/registering fields"
Hi Bill,

Following on from https://github.com/react-hook-form/react-hook-form/issues/970 I have some further questions/requests.

I would like to persist a field value between a Controller getting unmounted and then mounted (sharing the same field key).

I can save state within the form and pass down an object (e.g. `{ [fieldKey]: fieldValue }`) that is then passed to each matching `Controller`s

[2020-02-05 16:20] l0c0luke opened #978 "How to check for individual errors on a fieldArray?"
I have a fieldArray that I want to show individual errors for each of the fields. Using Material-UI and Typescript. Currently I have to add this rule to my tsconfig...

`suppressImplicitAnyIndexErrors": true`

to avoid this error.

`Element implicitly has an 'any' type because expression of type 'number' can't be used to index type 'FieldError` which specifically pointing to the error checking par

[2020-02-05 16:42] l0c0luke commented on #978
I ended up with the following which is pretty nice and i dont have to add the type rule.

[code]

and typing the formContext...

`const { control, register, errors } = useFormContext<{taskChecks: DisplayedTaskCheck[]}>();`

[2020-02-05 16:43] #978 closed

[2020-02-05 18:12] Betree opened #979 "Calling setValue on a list has no effect"
**Describe the bug**
Hello there, I'm currently building a dynamic form and facing some issues with `setValue`. The general idea is this:

- The form is managing a dynamic list of friends (firstName, lastName)
- I'm retrieving the list of friends with `watch('friends')`
- The inputs for firstName/lastName are using `register`:

[code]

- I have a special button that sets the value of `firstName` t

[2020-02-05 19:36] matheusffatg opened #981 "watching useFieldArray fields don't always re-render when changes happen"
**Describe the bug**
when watching useFieldArray, it doesn't always re-render.
It happens after appending a new item to the field array.
![image](https://user-images.githubusercontent.com/59067561/73875956-f5447a80-480a-11ea-9e2c-4a3ee305adcc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sandbox https://codesandbox.io/s/react-hook-form-usefieldarray-0q2eu
2. Append 1 item (item1

[2020-02-05 20:55] bluebill1049 commented on #981
That's actually the intended behavior. here is how `watch` works.

`watch` is already 1 tick behind the render and also starts reading value once user starts typing. That's the difference between local state.  unless you can provide a default value for the `watch`

[2020-02-05 21:00] bluebill1049 commented on #979
hey @Betree

Thanks for the detailed issue report. I will have a closer look tonight. Have you considered to use our new custom hook `useFieldArray`?

https://react-hook-form.com/api/#useFieldArray

I took a brief look at it, it looks like that custom hook may do the job.

[2020-02-05 21:09] timc13 commented on #640
Why close this? Is there another ticket tracking this issue (or planned feature)?

[2020-02-05 21:21] bluebill1049 commented on #977
Thanks for the detailed question above. RHF embraces native input and so does how native form
works.

[code]

RHF just work as a native form in HTML, which is collect inputs within the tag and submit the data. That's the difference between controlled form, which inputs and input data is hosted in local state, hence even when you remove the input and data still persist and it's up to you clear it.

[2020-02-05 21:54] bluebill1049 commented on #979
`setValue('friends', [...friends, {}])`

yes we don't support this syntax at the moment. it's on my backlog.

[2020-02-05 23:07] bluebill1049 commented on #979
same feature requested here as well: https://github.com/react-hook-form/react-hook-form/issues/961

[2020-02-05 23:58] matheusffatg commented on #981
yeah I did read somewhere that `watch` is 1 tick behind and sounds like people are confused about it :D

on the example I create, the default value is null.
[code]
the watch also has a default value in case any change happens:
[code]
or you mean the `defaultValues` when from `useForm`?

I guess the real scenario here is that this array field is an object (e.g. user, so field name would be either `

[2020-02-06 00:00] bluebill1049 commented on #981
try to watch the arrayField name `watch('arrayField')`

[2020-02-06 01:43] iamdevlinph opened #982 "Integrate `eslint-plugin-simple-import-sort`"
@bluebill1049 I read on this [comment](https://github.com/react-hook-form/react-hook-form/pull/925#discussion_r372128557) that you might apply an organize import to the repo.

[eslint-plugin-simple-import-sort](https://www.npmjs.com/package/eslint-plugin-simple-import-sort) might be a good solution since it is an eslint plugin and can work with the precommit hook.

This is how the imports will loo

[2020-02-06 01:51] fxamauri commented on #971
can you show me how it should be? I tried as follows but I was unsuccessful

[code]

[2020-02-06 02:02] bluebill1049 commented on #982
yes please @iamdevlinph if you have time :) much appreciated 🙏

[2020-02-06 04:43] stramel commented on #953
I will take a look tomorrow when I'm at my computer

[2020-02-06 04:52] bluebill1049 commented on #953
Thanks a lot @stramel 🙏

[2020-02-06 06:14] ian5484 commented on #953
Is `useFieldArray` only for sets of fields?

I've got a multi select component which sets the value as an array items, eg: `[{ item: 1 }, { item: 2}]` or possibly just ids `[1,2,3,4]` -- not caring about user input on those items..

Taking select ids as the example... my interface would be...

[code]

But this gives TS Error on:

[code]
[code]

I want my `selectedIds` to be a single value which is

[2020-02-06 06:41] #951 closed

[2020-02-06 10:07] KDederichs commented on #971
Sure,

[code]

is the final working solution @fxamauri

[2020-02-06 10:37] Betree commented on #979
Awesome, `useFieldArray` did the job. Thanks @bluebill1049!

The `setNestedValues` proposed in #961 sounds good to me.

I personally think that it's useful to keep issues open until they're addressed (so either implemented, marked as invalid or wontfix). Closing an issue means "we're done with it", I and certainly other contributors don't pay as much attentions to closed issues when reporting bugs

[2020-02-06 10:37] #979 closed

[2020-02-06 10:44] bluebill1049 commented on #979
Thanks, @Betree for your suggestion. I like to keep issues for only "issues". features requests and enhancement all end up in my backlog.  That way its easier for me to manage. I will tackle setValue with nested data once my current plate is clear.

[2020-02-06 11:55] fxamauri commented on #769
I noticed that the warning appears when there is no onChange property with "args [0] .nativeEvent.text". I solved the problem added this prop.
Example:
[code]

[2020-02-06 12:20] fxamauri commented on #971
Thanks, just adding the onChangeName prop.

[2020-02-06 13:35] DiogoBatista opened #984 "useFieldArray append functionality duplicates items in v4.8.2"
**Describe the bug**
when using the latest version of the library, 4.8.2. The `useFieldArray` seems to duplicate the fields when you remove all of the fields using the append function.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-f5z6l?fontsize=14&hidenavigation=1&theme=dark
2. Click on the "Delete" button in the input "useField

[2020-02-06 14:43] Davidoseq opened #985 "After type to invalid input I get error when is page translated by google translator"
**Describe the bug**
**Translate page to another language by google translator** in chrome with use **register with validation with custom error message**. After click on submit with empty inputs which they are required, try type anything to the input and you got error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-errors-with-google-translate

[2020-02-06 16:25] chrissantamaria opened #986 "Maintained Material-UI bindings"
**Describe the solution you'd like**
react-hook-form offers lots of really great ways to use existing input components in forms such as `Controller` or `useFormContext`. However, this still requires work on behalf of developers who want to get started quickly with an attractive UI kit. On a recent project that used Material-UI, I had a lengthy component file dedicated to creating simple bindings b

[2020-02-06 19:09] cargallo opened #987 "Typescript: The property 'message' doesn't exists in 'FieldError | FieldErrors<any>[]'"
**Describe the bug**

The property 'message' doesn't exists in 'FieldError | FieldErrors<any>[]'.
The property 'message' doesn't exists in type 'FieldErrors<any>[]'.ts(2339)

This happens in typescript when trying to access errors messages from Autocomplete component from yup validation schema

**Codesandbox link**

Look at line 48!!!

https://codesandbox.io/s/material-demo-o15mc

**Screenshots**

[2020-02-06 19:13] cargallo commented on #986
Hi @chrissantamaria I don't know if you tried it but RHF has a Controller component wich wrap controlled components like MaterialUI ones. It doesn't cover all of them but for sure the common ones. If you need code please let me know and I can help you. Reggards!

[2020-02-06 19:19] chrissantamaria commented on #986
I've seen that, yeah! Like I mentioned in my original post - it's a great solution for integrating with existing components. MUI actually supports control with just refs as well so that's not really my issue - I'm more looking to hook into MUI-specific fields like `error`, `helperText` or `disabled` to provide more functionality than just basic input.

[This TextField component](https://github.com

[2020-02-06 20:18] diogo-batista opened #988 "useFieldArray hook Yup array validation not invalidating Form"
**Describe the bug**
When using the useFieldArray hook alongside with Yup array validation the form is always valid although the validation specifies otherwise.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the codesandbox link (https://codesandbox.io/s/react-hook-form-usefieldarray-uhoxs)
2. Toggle the console
3. Delete the initial Field
4. The form is now valid when Yup validation

[2020-02-06 20:36] fabiodcorreia commented on #987
I also have the same problem, but if I do console.log(errors.name) the message property is there. I think it's just something with the typescript validation.

[2020-02-06 20:37] bluebill1049 commented on #986
hey @chrisparton1991 thanks for your great suggestion. I think my focus will still be on react-hook-form at the moment, I am pretty much running full capacity with my day job and open source projects, (not complaining, I am more than happy to contribute my free time towards the community) It would nice someone else take this initiative and build such third party lib tho.

[2020-02-06 20:41] cargallo commented on #986
@chrissantamaria I came from Formik and used those libraries that you mention, but the majority of them gave me problems in the long term. Because its difficult to cover all the possibles behaviours, what I finally end doing was to copy the code of that libraries into my own code to personalize each component. Anyway it could be a good idea to have them. Reggards!

[2020-02-06 20:46] bluebill1049 commented on #986
I am going to close this issue, and if someone interested in such a project. feel free to contact me and i can assist and help promote the package at our website.

[2020-02-06 20:46] #986 closed

[2020-02-06 20:46] bluebill1049 commented on #987
when you have sometimes, can you please take a look @kotarella1110 🙏

[2020-02-06 20:53] bluebill1049 commented on #985
I don't have a clue for this one since the page is translated by google.

[2020-02-06 21:09] bluebill1049 commented on #977
closing this issue, feel free to reply and ask more questions

[2020-02-06 21:09] #977 closed

[2020-02-06 21:17] cargallo commented on #987
In the meantime a temporary workarround could be:

helperText={errors.multiple && (errors.multiple as any).message}

[2020-02-06 21:38] fabiodcorreia commented on #987
Works for me, here is a smaller version.
[code]

[2020-02-06 22:47] chrisparton1991 commented on #986
Hey Bill, you got the wrong Chris again 😁

[2020-02-06 23:01] bluebill1049 commented on #986
omg, you always pop up as the first one... sorry...

[2020-02-06 23:07] chrisparton1991 commented on #986
No problem at all 😄

[2020-02-06 23:13] chrisparton1991 commented on #986
Hey @chrissantamaria, some totally unsolicited advice here sorry, but while the background image is loading on your website the text is sitting against a white background for a couple of seconds.

Maybe add a `background-color: #282c34;` alongside the image?

Your website and resume both look awesome though!

[2020-02-07 01:21] kotarella1110 commented on #987
@fabiodcorreia How is this?

[code]

[2020-02-07 03:40] bluebill1049 commented on #984
looks like this issue is already solved on master.: https://codesandbox.io/s/react-hook-form-usefieldarray-fix-6w5iu

[2020-02-07 03:40] bluebill1049 commented on #984
fix will be released on the next patch

[2020-02-07 04:13] naveennsit opened #989 "why initial value is not set in select ?"
Hi
I am trying to set initial value of `Autocomplete` select (Material UI) .But it is not set why ?

here is my code
https://codesandbox.io/s/react-hook-form-get-started-v24jk

const { register, handleSubmit, setValue } = useForm({
    defaultValues: {
      resolutionCode: 1993
    }
  });

  React.useEffect(() => {
    register({ name: "resolutionCode" });
  });
  const onSubmit = data => {

[2020-02-07 04:24] bluebill1049 commented on #989
you are using custom register, which RHF doesn't hold any reference of the input. try to use Controller for external component https://react-hook-form.com/api#Controller

[2020-02-07 04:34] naveennsit commented on #989
it would be great if you change my codesandbox .I am new in react and hook-form.I will try

[2020-02-07 04:44] naveennsit commented on #989
https://codesandbox.io/s/react-hook-form-rhfinput-mi22f

[2020-02-07 04:44] naveennsit commented on #989
currently giving error

[2020-02-07 04:51] chrissantamaria commented on #986
@bluebill1049 I'm definitely interested in taking the lead on this once I have a bit more time! I might need to bounce some ideas off of you regarding how to best integrate with react-hook-form but it should be a fun side project 😄 is email the best way to reach you?

@chrisparton1991 definitely appreciated! I'm currently refactoring the whole site to use Gatsby which will let me have a nice blur-

[2020-02-07 05:01] bluebill1049 commented on #986
@chrissantamaria yea, you can reach me via email, twitter and spectrum message :)

[2020-02-07 05:01] bluebill1049 commented on #986
I am pretty confident you can do most of the MUI components with a wrapper + Controller

[2020-02-07 05:02] chrissantamaria commented on #986
Would it be better to use a Controller rather than just a ref?

[2020-02-07 05:16] bluebill1049 commented on #986
Yes controller is better

[2020-02-07 07:22] bluebill1049 commented on #989
please ask questions at our spectrum channel and try to search for similar questions as well, chances are someone already have similar questions:

check out this link below, i think it's what you after.

https://spectrum.chat/react-hook-form/help/how-to-connect-to-autocomplete-in-material-ui~e8c40a4a-fee0-4d0b-8651-44111f973d9c

[2020-02-07 07:22] #989 closed

[2020-02-07 09:10] fabiodcorreia commented on #987
I think that's for @cargallo, I my case I don't have that interface or Material UI :)

[2020-02-07 10:48] #985 closed

[2020-02-07 12:59] cargallo commented on #987
@kotarella1110 That works, but I still think that there is a problem in the errors object handling in typescript, I had troubles with yup nested objects too. I used any[] to show that neither in that case the code was working, but it should be a custom object array.

[2020-02-07 13:35] rsslldnphy opened #992 "Should setValue accept a null value, or should there be an unsetValue?"
**Describe the question?**

I need to be able to clear the value of a controlled input, but typescript complains if I try to pass `null` or `undefined` as a value to `setValue`, and there doesn't appear to be an equivalent `unsetValue` function. Working around the typescript complaint using `any` seems to work fine, so I suspect all that needs to happen is to make `value` a nullable argument here:

[2020-02-07 17:38] wayne-unolab opened #993 "Nested useFieldArray - nested children do not show default values after appended in parent"
**Describe the bug**
Form data structure in this Codesandbox:

When using useFieldArray in a nested way, newly appended 1st level data (in this case is "test") does not have default value for its child array "nested" even called append like below.
`append({ name: "append", nested: [{ name: "append nested by parent" }] })`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to below sandbox li

[2020-02-07 22:42] bluebill1049 commented on #984
thanks for report this issue, i am going to close this one as it will be patched in the next release. Feel free to verify with the CSB above and feedback welcome.

[2020-02-07 22:42] #984 closed

[2020-02-07 23:15] bluebill1049 commented on #988
thanks very much for the issue report :)

here is a fixed version, if you can verify.

https://codesandbox.io/s/react-hook-form-usefieldarray-c82kl

[2020-02-07 23:28] #988 closed

[2020-02-07 23:32] bluebill1049 commented on #992
personally I don't think we need another API to set the value to `null/undefined`, the reason I didn't add null/undefined is that the behavior of native input, but I think it makes sense for the external controlled component to support null/undefined. feel free to send a PR, if you got time too.

[2020-02-07 23:42] bluebill1049 commented on #993
thanks for the issue, however, I don't think it is valid.
[code]

you only have default value for the first item right?

[2020-02-08 01:15] jd-erreape commented on #993
The initial config will be

![Screenshot 2020-02-08 at 02 12 19](https://user-images.githubusercontent.com/1223781/74076472-850b4400-4a18-11ea-9c7f-ab69dda893fd.png)

Then  after clicking on the Move button at the bottom of the page we will get this config

![Screenshot 2020-02-08 at 02 11 17](https://user-images.githubusercontent.com/1223781/74076496-9f452200-4a18-11ea-9b8c-8ae86de1c63d.png)

Now

[2020-02-08 01:25] bluebill1049 commented on #993
I see after the move, some of the nested data get lost. I think that's a valid issue and it's not the same as the current one. would you like to raise a separate issue?

[2020-02-08 01:29] jd-erreape opened #994 "Nested useFieldArray - nested children values lost after moving items."
**Describe the bug**

It seems like, after moving entries from the parent record, if immediately after you submit the form, the data provided to the submit callback is incomplete for the entries that have been moved (they do not contain info about the nested entities).

**To Reproduce**

https://codesandbox.io/s/react-hook-form-usefieldarray-n0xph?fontsize=14&hidenavigation=1&theme=dark

- Create

[2020-02-08 01:29] jd-erreape commented on #993
Done https://github.com/react-hook-form/react-hook-form/issues/994 👍

[2020-02-08 05:24] bluebill1049 commented on #994
here is the patched version: https://codesandbox.io/s/react-hook-form-usefieldarray-h24uq

[2020-02-08 05:29] bluebill1049 commented on #982
nvm, I think we can leave without it :) one less package to install too.

[2020-02-08 05:29] #982 closed

[2020-02-08 05:29] #994 closed

[2020-02-08 05:30] bluebill1049 commented on #953
@stramel @kotarella1110 is this issue related to this as well: https://github.com/react-hook-form/react-hook-form/issues/987

[2020-02-08 05:47] wayne-unolab commented on #993
Yes it works well when defining defaultValues in useForm.

**However** what i want to bring out is that when performing "Append" in the 1st level data[please look at the obj i wrote inside "append()" ]
`
<button
          type="button"
          onClick={() => {
            append({
              name: "append",
              nested: [{ name: "append nested by parent" }]
            });

[2020-02-08 05:55] bluebill1049 commented on #993
hey @wayne-unolab thanks for the detailed reply and issue report again :) and you are very understanding and polite too. appreciated that ❤️

i am working on the docs, can you take a look this example: https://codesandbox.io/s/react-hook-form-usefieldarray-h24uq see if it's been resolved your problem. i will take another look at your issue tonight.

[2020-02-08 06:53] wayne-unolab commented on #993
@bluebill1049 Sad to say that my problem still there in ur codesandbox example :(

Mine is different from the one mentioned by jd. And i hope i did explain it is a better way in my reply above. 😂
Let me know if u need anymore clarification this issue when u look into in later. Cheers.

[2020-02-08 08:19] bluebill1049 commented on #993
oh, I see the problem now. that's not possible. it's controlled by a separate custom hook.

[2020-02-08 08:47] jd-erreape commented on #994
Thank you so much! have tested the sandbox and it works with no issue.

Have tried to test it on my project also, but not sure why (maybe because I had already tried 4.8.3-next.0 tag before) I cannot get the latest changes, but have done the same mods than the commit locally and it also fixes my use case.

Looking forward for the next version release to fully try it :) Thanks for all the help and

[2020-02-08 08:49] bluebill1049 commented on #994
oh, @jd-erreape it's never gonna work lol. I haven't published anything hahaha. I will publish a minor version with all the fix and features tmr.

[2020-02-08 09:03] wayne-unolab commented on #993
oh ... then i guess i need to figure out a workaround for this. Or do u hv any suggestion on this?
And I bet this is not a rare scenario when creating complex form. 🤔

[2020-02-08 09:05] bluebill1049 commented on #993
I would try to use single custom useFieldArray for this.

[2020-02-08 09:10] wayne-unolab commented on #993
How to use a single useFieldArray for this case if the "nested" items need to be append/remove/etc ?

[2020-02-08 09:14] bluebill1049 commented on #993
you are right, that's not the right approach instead probably try to invoke child `useFieldArray`'s append and other actions.

[2020-02-08 20:55] bluebill1049 commented on #993
closing this issue, feel free to follow up with questions.

[2020-02-08 20:55] #993 closed

[2020-02-09 01:16] fjuriolli opened #997 "React Select with Controller - sending only id instead of object"
I'm using react-select with Controller and its absolutely amazing, but I have a question, right now I'm sending the whole object, but I want to send only the id, how can I do that?

OBS: in my onChange function, if I do this I am able to send only the id, but then my select can't load properly, because its missing the label:
`
onChange={([selected]) => {
 return { value: selected.value };
}}
`

Co

[2020-02-09 01:49] ahce opened #998 "Remove console log"
**Describe the bug**
Remove this [line](https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L497)

**Environment**
- react-hook-form 4.9.1

[2020-02-09 02:09] bluebill1049 commented on #998
thanks!

[2020-02-09 02:11] #998 closed

[2020-02-09 02:31] bluebill1049 commented on #997
hey @fjuriolli we don't have the mechanism to filter out what's returned by the external component. I personally would leave as what external component return, because it would make your life easier when you try to set `defaultValue` as well.

[2020-02-09 03:23] fjuriolli commented on #997
@bluebill1049 the default value is working, because, in my api, I need to send only the id and only the id is returning to me. So, in my default value, I do a map in my options array (it does have value and label).

So, my controller input is like this;
`
<form onSubmit={handleSubmit(onSubmit)}>
        <Controller
          as={<ReactSelect placeholder="All" options={options} />}
          name="

[2020-02-09 03:41] bluebill1049 commented on #997
I think you can either create a wrapper around `react-select`, or transform the data inside the `handleSubmit`.

[2020-02-09 03:43] fjuriolli commented on #997
@bluebill1049 oh I see, how can I transform the data inside handleSubmit, can you give me an example? Cuz I thought I could't change the data inside handleSubmit

[2020-02-09 03:48] bluebill1049 commented on #997
@fjuriolli can you do the following?

[code]

[2020-02-09 03:56] fjuriolli commented on #997
@bluebill1049 can you take a look at https://codesandbox.io/s/react-hook-form-rhfinput-fecgd

I'm getting an error implementing the transform that you mentioned

[2020-02-09 03:59] bluebill1049 commented on #997
take a look this: sorry that was my bad above: https://codesandbox.io/s/react-hook-form-rhfinput-ux999

[2020-02-09 04:04] fjuriolli commented on #997
@bluebill1049 thank you for your attention, I got it working, all good now

[2020-02-09 04:04] #997 closed

[2020-02-09 04:04] bluebill1049 commented on #997
my pleasure @fjuriolli

[2020-02-09 13:46] DiogoBatista commented on #984
Awesome!! I verified and it's working!! 👏🙌 Thank you for the fast reply and continue with the nice work, love the tool!!

[2020-02-09 13:46] DiogoBatista commented on #988
Awesome!! I verified and it's working!! 👏🙌 Thank you for the fast reply and continue with the nice work, love the tool!!

[2020-02-09 14:38] outerlook opened #999 "How to handle server responses not related to any field?"
Hi!

Is there a proper way to retrieve an error from server (general error, not related to a field) on submission and then show it to users, using the library?

Example: login form with only email and password fields:

form is submitted, but some network error happens on server. I would like to, elegantly, do something like setError("server", "Oh oh! Something went wrong. Please try again later.")

[2020-02-09 14:47] Alexander-Karsten opened #1000 "Validation Fails with Controlled Components When Using FormContext"
Hello,
I am using Material UI and react-hook-form and have an issue with validation when using a form split across multiple components. I have created a Codesandbox which you can see below.

**To Reproduce**
Steps to reproduce the behaviour:
1. Visit the Codesandbox at https://codesandbox.io/s/objective-river-j7srv
2. Press "Add Phone"
3. Press "Save"
4. See that all required items have their erro

[2020-02-09 16:03] Alexander-Karsten commented on #1000
Upon further investigation it turns out I was not updating state correctly for the controlled component.
Apologies.

[2020-02-09 20:51] bluebill1049 commented on #984
thank you @DiogoBatista for the update. my pleasure

[2020-02-09 21:00] bluebill1049 commented on #999
`setError("server", "serverError", "Oh oh! Something went wrong. Please try again later.")`

it's exactly what you had above. you can invoke that in the `handleSubmit` after your request

[2020-02-09 22:18] bluebill1049 commented on #1000
Thanks for the detailed issue report. Will take a look today.

[2020-02-10 00:10] outerlook commented on #999
I can do that, but wouldn't later typescript complain about me trying to access errors.server, if server isn't a field at all?

[2020-02-10 00:14] bluebill1049 commented on #999
you can type that external `serverError` as a field? alternative maybe just use `useState` then.

[2020-02-10 00:18] bluebill1049 commented on #1000
https://codesandbox.io/s/proud-pond-mqjf3

[2020-02-10 00:18] bluebill1049 commented on #1000
`Controller` onChange expect you to return value, take a look at my CSB. :)

[2020-02-10 00:19] bluebill1049 commented on #1000
have a read on the doc: https://react-hook-form.com/api#Controller

[2020-02-10 00:21] outerlook commented on #999
yes, that would solve it. Feels a little like a workaround, I don't know, but it is simple enough. I know it's hard to say if the library should do something specific for this case, unless it is really really common on other forms. Thanks for your time, @bluebill1049 , that was fast and kind.

[2020-02-10 00:28] bluebill1049 commented on #999
no worries :) @outerlook 🙏 We had people suggest to return from handleSubmit and treat them as errors, but it's bit weird at the same time... :(

[2020-02-10 00:31] #999 closed

[2020-02-10 00:31] outerlook commented on #999
Agree!

[2020-02-10 05:58] sliktrik opened #1001 "Example using reCAPTCHA"
Hi, just wondering if has used this with Google's reCAPTCHA and has an example?

[2020-02-10 06:02] bluebill1049 commented on #1001
No, i haven't tried with that.  as long as the value readable from onChange then, i don't see a reason why it's not going to work tho.

[2020-02-10 13:38] johnolofsson opened #1002 "useFieldArray with uncontrolled material ui fields does not work"
**Describe the bug**
Using the `useFieldArray` hook in combination with Material UIs inputs (when uncontrolled) does not work in all circumstances, e.g. removing items from the field array.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Codesandbox
2. Click on Append
3. Input something in to the new field
4. Submit and you will see that we get two items in the field array
5. Delet

[2020-02-10 15:50] DiogoBatista opened #1003 "TestCafe Invalid destructuring assignment target"
**Describe the bug**
We are using TestCafe to do our e2e tests and when we do a simple test we are getting a weird error. We would like to ask for your help on what this could mean. When we compile the app both in development and in production everything works fine but as soon as we try to start testing using testcafe, it doesn't let us proceed. Any idea what this could be?

**To Reproduce**
Steps

[2020-02-10 16:04] rcambrj commented on #1003
Working with @DiogoBatista here.

We've discovered that this only impacts the developer mode (`yarn start`) - that is, `yarn build` and serving the site will not suffer the same problem.

[2020-02-10 18:14] Alexander-Karsten commented on #1000
Thanks a lot @bluebill1049, really appreciate your answer and the hard work you've obviously put into this project.

I've had a play around a bit and also reading some more of the documentation I found out that I could make this work without managing any internal state in the `PhoneNumber` component, by passing `              inputRef={register({required: true})}` to the MUI `TextField` component

[2020-02-10 19:04] MikeInCode opened #1004 "Using Conditional Components modifies nested fields of form values"
**Describe the bug**
On input component unmount, form's nested fields modifies (removing keys with empty array)

**To Reproduce**
Steps to reproduce the behavior:
1. Click Submit btn and look up on object under the key "testing" (it has 2 empty arrays nested)
2. Type "bill" in first input field
3. Click Submit again
4. After disappearing second input, "testing" object lost all keys where were empt

[2020-02-10 20:22] bluebill1049 commented on #1002
prefer to use Controller for external component.

`inputRef={register()}` will fix your problem. Have a read in the doc: https://react-hook-form.com/api/#useFieldArray in terms of register

[2020-02-10 20:22] #1002 closed

[2020-02-10 20:24] bluebill1049 commented on #1003
That's really strange, i am using cypress for this lib and there wasn't an issue. can you click into the chunk and see which line is broken.

[2020-02-10 20:44] bluebill1049 commented on #1004
u mean test object field is removed?

[2020-02-10 20:45] bluebill1049 commented on #1001
if anyone has an example feel free to post it here.

[2020-02-10 20:45] #1001 closed

[2020-02-10 20:46] MikeInCode commented on #1004
no, test object removed and it's expected behavior. I mean object "testing" which were registered manually, lost key3 and key5 when second input ("test") onmounts

[2020-02-10 20:49] bluebill1049 commented on #1004
oh, I see, but where are all the nested inputs? RHF probably stripe out those empty values inside (include []). I am happy to take a deep look into this, but let's have a proper nested fields form.

[2020-02-10 20:54] MikeInCode commented on #1004
Oh, I understand what you mean. In this case I'm using field value "testing" without inputs. Can we use such approach in RHF (value in RHF state without input field). In my case it useful to iterate over this object and render markup, by the way it can be modified via setValue from another components

[2020-02-10 21:03] bluebill1049 commented on #1004
FYI: two libs using a completely different approach. have a read here:https://react-hook-form.com/faqs#ReactHookFormFormikorReduxForm

Sounds valid above :) I will take a look at the code base see if we can allow an empty array. can you update your CSB to include empty `string` and `object`. If i have a fix, i can test it out there.

[2020-02-10 21:10] MikeInCode commented on #1004
Already update. Add next cases: `null`, ` ""`,` undefined`, `{}`

[2020-02-10 21:14] bluebill1049 commented on #1004
some more context for you to understand the reason. RHF embraces native input and tries to be aligned with native form behavior.

For one moment, let's forget about React and the local state. if you are building a native form without any lib or framework, and try to achieve what you want above. You will have to use `<input type="hidden" />` for those extra fields which are not part of the form, an

[2020-02-10 21:20] MikeInCode commented on #1004
I have same flow, maybe u can help me, and adviuse better approach using RHF.
I have form, with some fields, and link. (all this right now part of RHF)
When I click on link I see drawer with builtin standalone form with own validation (it used not only in this case)
Fillind drawer's form, and clicking submit a pass all values via setValue to main form (that's why I have object without inputs)
That

[2020-02-10 21:35] bluebill1049 commented on #1004
Let me take a look, see if we can support your case above :)

[2020-02-10 21:39] MikeInCode commented on #1004
You want to see sandbox example?

[2020-02-10 21:50] bluebill1049 commented on #1004
I can work on the one u posted with the issue.

[2020-02-10 21:51] MikeInCode commented on #1004
Okay waiting...)

[2020-02-11 01:11] joelNguyenn1010 opened #1005 "How to prevent submit in nested form"
I have a nested form that looks like this
[code]

The problem I have is when the children submit the data, it also trigger the submit from the parent, is there any way to prevent this from happening.
P/S: also, how to trigger submit form <button>, something like <button onClick={() => handleSubmit()}>submit</button>

Thanks

[2020-02-11 02:22] bluebill1049 commented on #1005
1. you shouldn't nested your form
2. if you only update to update not submit, set your button to type="button"
3. trigger submit form `handleSubmit()()` it's a curry function

let me know if those helps :)

[2020-02-11 03:04] bluebill1049 commented on #1000
Yes you can do that :)

I made Controller for dealing with external component, because not all external component expose `ref`. If you can get hold of the `ref`, you can use `register` natively.

[2020-02-11 03:38] #992 closed

[2020-02-11 08:42] enestasdemir opened #1007 "[React-Native] Auto validation problem on submit"
**Describe the question?**
When I press the submit button with invalid fields (when the 'firstName' field is empty), it doesn't show the error field on screen and console says : `Possible Unhandled Promise Rejection (id: 0):
ReferenceError: Node is not defined
ReferenceError: Node is not defined
[...]`

What's wrong with my code? Can you help me about that?

**Screenshots**

<img width="608" alt="

[2020-02-11 08:46] bluebill1049 commented on #1007
can you try the following:

[code]

[2020-02-11 08:47] bluebill1049 commented on #1007
it could be a bug which we introduced lately with isHTMLElement

FYI: @kotarella1110

[2020-02-11 08:51] enestasdemir commented on #1007
Thank you for your quick reply bu it's still not working.

[2020-02-11 08:52] DiogoBatista commented on #1003
@bluebill1049 It points to line 35170 of the chunks

<img width="1203" alt="Screenshot 2020-02-11 at 09 50 21" src="https://user-images.githubusercontent.com/8352927/74222130-03cfdd80-4cb4-11ea-896b-74cd4890bfbc.png">

[code]

[2020-02-11 08:57] bluebill1049 commented on #1007
can you do a test on this beta version: react-hook-form@4.9.3-beta.1

[2020-02-11 08:58] bluebill1049 commented on #1003
thanks @DiogoBatista strange one. it's valid code.

[2020-02-11 09:01] bluebill1049 commented on #1003
which browser you are running your automation?

[2020-02-11 09:02] enestasdemir commented on #1007
Still same :(

[2020-02-11 09:02] bluebill1049 commented on #1007
still the same error?

[2020-02-11 09:03] enestasdemir commented on #1007
Yes, still same error.

`
Possible Unhandled Promise Rejection (id: 0):
ReferenceError: Node is not defined
ReferenceError: Node is not defined ...
`

[2020-02-11 09:12] bluebill1049 commented on #1007
https://snack.expo.io/@bluebill1049/react-hook-form-input

looks like the beta is working for me. can you double check?

[2020-02-11 09:13] bluebill1049 commented on #1007
hmmm i could be expo has a wrapper

[2020-02-11 09:15] bluebill1049 commented on #1007
can you help test out this version: react-hook-form@4.9.3-beta.2

added type check.

[code]

[2020-02-11 09:16] DiogoBatista commented on #1003
Browser chrome
Version 80.0.3987.87

[2020-02-11 09:20] bluebill1049 commented on #1003
wow that's super strange! that's latest chrome...

[2020-02-11 09:34] bluebill1049 commented on #1007
can someone verify
`4.9.3-beta.2`
`4.9.3-beta.3`

I have tested on my android device both working.

[2020-02-11 09:39] NicoleEtLui commented on #1007
I had the same error than @enestasdemir, but its gone with `react-hook-form@4.9.3-beta.2` !

[2020-02-11 09:40] bluebill1049 commented on #1007
hey @NicoleEtLui can you test out beta.3?

[2020-02-11 09:56] NicoleEtLui commented on #1007
Both `beta.2` and `beta.3` seems to work like a charm (ios and android simulators).

* `react@16.12.0`
* `react-native@0.61.5`

Thank you very much for the quick fix

[2020-02-11 10:20] bluebill1049 commented on #1007
thank you very much for the verification. I will release the patch. @NicoleEtLui much apprecaited.

[2020-02-11 10:24] #1005 closed

[2020-02-11 11:39] enestasdemir commented on #1007
It worked for me. Thank you so much 😊

[2020-02-11 12:27] durchanek opened #1008 "formState.isSubmitted false in validationResolver during the first submit"
**Describe the bug**
Not 100% sure if this is a bug or not, but my understanding was that once submitted, `formState.isSubmitted` is instantly set to true. However when used in validationResolver, it is still false during the first submit.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the sandbox link
2. Switch to the console tab
3. Submit the form twice.

**Codesandbox link**
https:/

[2020-02-11 13:04] durchanek commented on #1008
Also apply to `formState.submitCount`, which is 0 in validationResolver during the first submit.

[2020-02-11 13:08] durchanek commented on #1008
Actually, I have just found out that both properties reset when there is a change in the form. Again, not sure if this is a bug or not, the documentation does not specify this, but fields a bit unexpected, especially for `submitCount`.

[2020-02-11 14:20] fjuriolli opened #1009 "Get the input current value as the user types with Controller"
I have a material UI TextField wrapped with a Controller.

I need to display the current input value as the user types, I tried with refs but I can't manage to get this working.

Am I doing something wrong?

Codesandbox: https://codesandbox.io/s/react-hook-form-rhfinput-3n3bi

[2020-02-11 14:50] einatnielsen commented on #34
@bluebill1049
I am using you example of custom input (I can't use ref) with minor changes:
1. I changed the select to be required and add validate like you suggested
        required: true,
        validate: value => {
          // need to validate if it is undefined or empty array
          return Array.isArray(value) ? value.length > 0 : !!value;
        }
2. I am using `formState.isValid' to de

[2020-02-11 15:13] fjuriolli commented on #1009
I can make it work with:

`const [input, setInput] = useState("");`

`<TextField`
     `fullWidth`
     `variant="outlined"`
     `placeholder="Give your event a title"`
     `value={input}`
     `onChange={(event) => setInput(event.currentTarget.value)}`
/>`

But I rather not use state in my component

[2020-02-11 16:00] lvwrence commented on #1003
fyi, i got alerted to similar error on prod on latest chrome (Chrome 80.0.3987)

[code]

at this line:

[code]

Also, it seems like user was using google translate on the page, so might be related to https://github.com/react-hook-form/react-hook-form/issues/985?

will try to repro locally.

btw, thanks for the library! it's super useful.

[2020-02-11 16:18] iamdevlinph commented on #34
Please note that `formState.isValid` will only change automatically with `onChange` and `onBlur` modes. With the default `onSubmit` it will only validated on form submission

https://react-hook-form.com/api#formState

[2020-02-11 16:22] iamdevlinph commented on #34
Hmm. I tried with onChange but the isValid didn't change. I think there's an issue on how the value of the select is handled.

[2020-02-11 16:24] iamdevlinph commented on #34
You'll need to manually run `triggerValidation` for custom registered fields.

https://codesandbox.io/s/react-hook-form-custom-input-u20bh

https://react-hook-form.com/api#register under custom register

[2020-02-11 17:07] Betree opened #1010 "Include validate's result in FieldError"
**Is your feature request related to a problem? Please describe.**

I am using a controlled component form through `Controller` that returns not a simple value, but a full object. More specifically, a payout method that has a type (paypal, bank account...etc) and associated data. It works great for handling the value, but I faced an issue with `validate`:

Because of the nature of this `PayoutMeth

[2020-02-11 17:47] Betree opened #1012 "Include validation params in FieldError"
**Is your feature request related to a problem? Please describe.**
I am building an internationalized form, and I'd like to translate RHF's errors. To do that, I'm relying on the `type` in `FieldError` (`min`, `required`...etc). This works, but I'd like to provide richer messages, for example with `min` I'd like to have something like:

`${fieldName} must be at least ${minLength} characters`

**De

[2020-02-11 18:02] Alexander-Karsten commented on #1000
Thank you so much @bluebill1049!

[2020-02-11 18:02] #1000 closed

[2020-02-11 20:01] chrissantamaria commented on #986
Could you explain a bit why that is? From my (admittedly limited) understanding of this project, part of the appeal was that the ref-based approach led to fewer renders. Wouldn't a Controller eliminate this benefit?

[2020-02-11 20:08] bluebill1049 commented on #986
@chrisparton1991 controller will isolate the re-render at the component level, so your form and app is not getting re-rendered.

[2020-02-11 20:16] chrissantamaria commented on #986
Hm, interesting. I was basing my initial thought off of [this FAQ question](https://react-hook-form.com/faqs#CanitworkwithControlledcomponent) on the react-hook-form site, but your answer makes sense. Maybe that's worth clarifying on the site?

Also, I think you meant @chrissantamaria 😛

[2020-02-11 20:24] bluebill1049 commented on #986
that `Chris` autocomplete is super annoying...  sorry Chriss if you land here again. @chrissantamaria would you like to improve the doc and send a PR?

[2020-02-11 20:25] bluebill1049 commented on #1003
interesting it's a different line of code as well.

[2020-02-11 20:31] bluebill1049 commented on #1009
going to close this issue as it's in the doc

https://react-hook-form.com/api#watch

[2020-02-11 20:31] #1009 closed

[2020-02-11 20:35] bluebill1049 commented on #1008
your form is stuck at the schema validation because values are not returned.

https://codesandbox.io/s/react-hook-form-issubmitted-bug-6fvqi

[2020-02-11 20:37] bluebill1049 commented on #34
thanks @iamdevlinph 🙏 or `setValue('name', 'value', true)`

[2020-02-11 22:32] JuanmaMenendez opened #1013 "'watch' function breaking the <Autocomplete> writing feature of https://material-ui.com/components/autocomplete/"
**Describe the bug**
To use the 'watch' function breaks the  <Autocomplete> writing feature of https://material-ui.com/components/autocomplete/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://codesandbox.io/s/material-demo-kh2x3
2. Try to write something in the <Autocomplete> component
3. Note: If you comment the line  let watchYes = watch("msa", "");   it will work

**Codesan

[2020-02-11 22:39] bluebill1049 commented on #1012
hey @Betree thanks for the detailed feature request. personally i prefer to keep message as simple as possible (core idea of this lib) i would constructor the message inline.

[2020-02-11 22:45] bluebill1049 commented on #1010
Thanks for the feature request and also a PR ❤️.

I can see the rational behind of this, however everything is about tradeoff. In my honest option, this complicate `validate` function, and i love the simplify of this lib and would love to keep it that way, if i can avoid extra payload or argument i would always try to do so. At the same time, the lib is purposed to make thing work for everyone, so

[2020-02-11 22:51] bluebill1049 commented on #1013
hey @JuanmaMenendez you may want to wrap autocomplete with our Controller component:

have a read on the following spectrum question.

https://spectrum.chat/react-hook-form/help/how-to-connect-to-autocomplete-in-material-ui~e8c40a4a-fee0-4d0b-8651-44111f973d9c

[2020-02-11 23:25] Betree commented on #1012
You mean with a custom validate function that returns the properly formatted string right?

[2020-02-11 23:38] Betree commented on #1010
I don't see how it complicates the validate function, the API didn't change it's just that your validator would now be allowed to return an object. No extra parameter involved here.

Simplicity is good, but extensibility is also required if we aim to provide a library that suits a variety of use cases. I'm totally open to discuss alternatives regarding the implementation, but I think that the use

[2020-02-12 00:10] bluebill1049 commented on #1010
My concern is that we returning more data types from a simple `validate` function.  I designed `validate` function to serve single purpose return isValid or message, so does the rest of the other validators (min, max and etc), they either return `true/false` or `string` as message. It act as a validator instead of carry external result.

**Current behaviour**

[code]

**After this feature**

As us

[2020-02-12 00:16] bluebill1049 commented on #1010
maybe an alternative solution would be using `validationResolver`, which allow you to craft your own errors object.

https://react-hook-form.com/api#validationResolver

[2020-02-12 00:47] bluebill1049 commented on #1010
hey team, please drop your thoughts as well if you have sometimes.

[2020-02-12 01:12] github0013 commented on #1010
I assume `PayoutMethodForm` has at least email field and content field?
and you are throwing the whole form component to Controller, to let it validate the entire form?

If you had a Controller for each field in the form, things should just work fine? (without adding a new feature in the library)  I am not sure how complex your form is at this point.

[code]

And this can be replaced with validati

[2020-02-12 02:08] JeromeDeLeon commented on #1010
Honestly, I don't use `validate` much but when I do, I only validate a specific field because that's the purpose of `register` to handle a single field for example, and attaching `validate` means validating that field only, no more no less. Returning an `object` that contains all errors from other fields defeat the purpose of validating the single field.

[2020-02-12 03:53] kotarella1110 commented on #987
@bluebill1049 How should this be fixed? Do you have any suggestions?

[2020-02-12 04:06] bluebill1049 commented on #987
no worries @kotarella1110 i will take a closer look at this over the weekend.

[2020-02-12 04:16] bluebill1049 commented on #987
@cargallo did you updated the CSB? I don't see the error line now.

[2020-02-12 04:56] stramel commented on #953
Sorry for the delay in looking into this. Quickly created a sandbox to replicate what you had done. https://codesandbox.io/s/wonderful-payne-rlu2y

Reading through this issue now.

[2020-02-12 05:26] cargallo commented on #987
Hi bluebill I simply updated the version of RHF. It doesn't appear anymore, do not now why, perhaps some change in new version made it work? However I just checked it and there is a strange behavior. Not related to this issue but I take this opportunity to let you know of it's existence. If you delete the "watch" in line 23, the form seems to not re-rendering when submitting. It does not show the

[2020-02-12 05:36] cargallo commented on #987
@bluebill1049 I realized that I made a little change in the code. Sorry! The change is that I defined multiple as unknown, but now I changed to any[] so you can test the issue. Now the error appears again!

[code]

Here is the Sandbox to be used:  https://codesandbox.io/s/material-demo-wts5f

[2020-02-12 06:11] stramel commented on #953
Okay, so this seems that you really have 2 parts to this issue.

1. `useFieldArray` is not correctly returning the default value of an empty array when specified in the `useForm` hook.

2. There is a quirk with our `FieldErrors` implementation that is causing form data properties that are `[] | undefined` to not properly be typed in the `errors` object. It has to do with the check we do `[] | unde

[2020-02-12 07:59] einatnielsen commented on #34
Thank you @iamdevlinph and @bluebill1049 ! :-)

[2020-02-12 09:09] Betree commented on #1010
Thank you for proposing this solution. Using RHF inside this sub-form is something we got away from for multiple reasons (including https://github.com/react-hook-form/react-hook-form/issues/979 and strange behavior with `useFieldArray`).

Support for this would also make it possible to progressively transition to RHF by migrating some part of the forms, but maybe what's needed then is not `Control

[2020-02-12 09:09] #1010 closed

[2020-02-12 10:11] bluebill1049 commented on #1004
hey @MikeInCode here is the improved version: https://codesandbox.io/s/react-hook-fom-unregister-controlled-component-7p84l

[2020-02-12 10:13] bluebill1049 commented on #953
thanks a lot for your investigation @stramel i have made a beta version to improve `[]` issue: react-hook-form@4.9.4-beta.1 (not TS related)

[2020-02-12 10:22] #1004 closed

[2020-02-12 10:24] MikeInCode commented on #1004
Thank u!

[2020-02-12 10:26] bluebill1049 commented on #1012
I guess there are multiple ways I would tackle this.

1. validate function
2. <ErrorMessage /> component
3. write a switch function to display a corresponding error message.

[2020-02-12 10:27] bluebill1049 commented on #1004
no worries :) we will release this in the next patch.

[2020-02-12 10:28] kerosan opened #1016 "please add `replace` function to `useFieldArray` hook"
there is no ability to `replace`/`update` item in field array
if i use`remove` by index and `append` new one in one handler it doesn't work

[code]

[2020-02-12 10:32] bluebill1049 commented on #1016
isn't that `setValue`?

[2020-02-12 10:50] Betree commented on #1012
The idea of adding the params to the error object was to leverage the ability to translate the native errors (`min`, `required`...etc) with the params that were given to them included in the message. The alternative is indeed to write your own `min`/`max` functions or to pass the parameters manually by other means. Both solutions are not great developer experience.

In our case it's not needed any

[2020-02-12 10:50] #1012 closed

[2020-02-12 11:06] kerosan commented on #1016
i just tried with simple inputs but it looks awful
why dont use `replace(index, value)` hook ?
https://codesandbox.io/s/react-hook-form-usefieldarray-q4yyo

[2020-02-12 11:13] bluebill1049 commented on #1016
because setValue will support `nested objects` in the next build, making `replace` function redundant. https://github.com/react-hook-form/react-hook-form/issues/979

<img width="372" alt="Screen Shot 2020-02-12 at 10 12 42 pm" src="https://user-images.githubusercontent.com/10513364/74329917-cfa80a00-4de4-11ea-8e7a-60fcb1866e5d.png">

[code]

[2020-02-12 12:00] kerosan commented on #1016
oh, thx

[2020-02-12 12:00] #1016 closed

[2020-02-12 15:36] JuanmaMenendez commented on #1013
Yes, that fixed the issue. thanks @bluebill1049

BWY not related to this issue but I want to recommend you change the name of the <Controller> method    **onChange**. Because my wrapped Component has his own **onChange** and it is different. Yours is used to modifying the returned value.

[2020-02-12 16:44] mikestopcontinues commented on #914
Just came across this problem myself. I have memoized `<Input form={form} />` that handle the registration, so when I call `form.reset()` in the upper component, all of the inputs go blank.

With `reset()`, I expected the default values to be reassigned without requiring the inputs to re-register. After all, the form already has a reference to those components. Why would it need to update them?

[2020-02-12 16:54] mikestopcontinues commented on #914
Actually, it doesn't look like the memoization has anything to do with the issue. Devtools suggests `useForm` still sees all of the same fields and values. It even tracks future updates to my now-blank fields.

[2020-02-12 20:52] bluebill1049 commented on #914
@mikestopcontinues do you have a codesandbox i can take a look?

[2020-02-12 20:55] bluebill1049 commented on #1013
any recommendation for the naming? @JuanmaMenendez

[2020-02-12 20:55] #1013 closed

[2020-02-12 21:03] bluebill1049 commented on #987
thanks @cargallo i will take a look at it.

[2020-02-12 22:05] jarretrose opened #1019 "useFieldArray with Controller does not work."
**Describe the bug**
Inputs using the Controller wrapper cannot use the _remove_ or _insert_ methods.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the below listed Codesandbox](https://codesandbox.io/s/react-hook-form-usefieldarraycontroller-93rzh).
1b. Make sure the react-hook-form dependency is at the latest stable release (4.9.3).
2. Click on "Delete" next to any input or "Remov

[2020-02-12 22:06] bluebill1049 commented on #1019
Thanks i will take a look this issue.

[2020-02-12 22:21] bcotrim opened #1020 "Watch value for array field is not updating as expected"
**Describe the bug**
Watch value for array field is not updating as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Click "Add Person"
2. Click "More Details" (Interests Field show up - expected)
3. Click "Add Person"
4. Click "More Details" (Interests Field doesn't show up - not expected)
5. Click "Add Person"
6. Interests Field now shows up on previous Person

**Codesandbox link**

[2020-02-12 23:06] bluebill1049 commented on #1019
oops this one is not valid:
[code]

check your name :)

[2020-02-12 23:06] #1019 closed

[2020-02-12 23:29] mikestopcontinues commented on #914
Sure! Here's the dead simple version:
https://codesandbox.io/s/react-hook-form-wizard-form-tj1n7

[2020-02-12 23:33] bluebill1049 opened #1021 "reset issue"
Sure! Here's the dead simple version:
https://codesandbox.io/s/react-hook-form-wizard-form-tj1n7

_Originally posted by @mikestopcontinues in https://github.com/react-hook-form/react-hook-form/issues/914#issuecomment-585470674_

[2020-02-12 23:45] TimothyStiles opened #1022 "Passing type="password" to controller MUI textfield throws a warning."
Just started playing around with react-hook-form and have been getting this weird warning every time I try to make a password field.
[code]
![Screen Shot 2020-02-12 at 3 35 05 PM](https://user-images.githubusercontent.com/7042260/74387411-4fb27d80-4dad-11ea-8753-20262f1a9df0.png)

When I comment out `type="password"` the warning goes away.

[code]

Any idea what's happening here? Is there a way to

[2020-02-12 23:46] bluebill1049 commented on #1022
defaultValue: https://react-hook-form.com/api#Controller check out the doc  it's changing from uncontrolled to controlled.

[2020-02-13 00:00] TimothyStiles commented on #1022
That was exactly it. Thanks @bluebill1049.  I'll close the thread now. For anyone who stumbles upon this in the future here's the solution:

[code]

[2020-02-13 00:00] #1022 closed

[2020-02-13 00:02] bluebill1049 commented on #1022
thanks for sharing answer too :) @TimothyStiles

[2020-02-13 01:06] bluebill1049 commented on #1020
please help verify with this beta version: react-hook-form@4.9.4-beta.2

[2020-02-13 01:11] #1020 closed

[2020-02-13 01:12] bluebill1049 commented on #1021
ok found reason why:

https://codesandbox.io/s/react-hook-form-wizard-form-5y7wi

type="reset" please use button instead.

[2020-02-13 01:12] #1021 closed

[2020-02-13 02:26] JuanmaMenendez commented on #1013
returnedValue or onReturn

[2020-02-13 03:19] RixBai commented on #921
I was trying to set the value to custom component I made.
But I found that in react-hook-form we can only set the value to native component.
I solved the problem with using Formik.

[2020-02-13 03:27] bluebill1049 commented on #987
i think the problem is because
`multiple: any[];`

so the error message will have to be

`errors.multiple[0].message`

maybe using `unknown` is the work around here, unless anyone else have better suggestion or solution.

FYI @kotarella1110 @stramel

[2020-02-13 03:29] bluebill1049 commented on #921
that's actually not true, we have `Controller` for set value for external controlled component while still minimised the amount re-render at form level, but happy for you to find the right solution to solve your problem.

[2020-02-13 03:31] JuanmaMenendez commented on #1013
onInternalReturn maybe, the most important is to be clear

[2020-02-13 04:41] cargallo commented on #987
I don't think so @bluebill1049, in fact the code of the library is working OK just as it is. If you access errors.multiple.message with (errors.multiple as any).message it works, so the message property is there where it has to be. The problem is that typescript definition of NestedDataObject is not reflecting what you are doing at "javascript" level.

[2020-02-13 06:03] Dogacel opened #1024 "Using nested components with FieldArrays, useArrayContext()"
**Is your feature request related to a problem? Please describe.**
When I am using nested structures inside fieldArrays I am passing methods of useFieldArray to children. It makes components look messed up.

**Describe the solution you'd like**
Like the useFormContext, I wish there was a <ArrayContext> and useArrayContext to handle those kinds of operations.

**Describe alternatives you've conside

[2020-02-13 06:08] bluebill1049 commented on #1024
provide a CSB for the issue plz.

[2020-02-13 06:22] durchanek commented on #1008
Not sure if I understand this right but if I change the returned values to the default values specified in docs,
[code]
the behaviour doesn't change. Moreover, even if the form is "stuck", this shouldn't apply to the first execution of the validationResolver? In short, is it correct that `formState.isSubmitted` is false during the first submit?

[2020-02-13 06:26] bluebill1049 commented on #1008
can you take a look this example: https://codesandbox.io/s/react-hook-form-issubmitted-bug-c55y0

`formState.isSubmitted` start with `false` and set to `true` after `submit`

[2020-02-13 06:41] durchanek commented on #1008
That is correct, but when `formState.isSubmitted` is accessed from validationResolver, it is still `false` after the first submit and changes to `true` only after the second submit:

https://codesandbox.io/s/react-hook-form-issubmitted-bug-w3qsx

My expectation was it is set to true after submitting the form and before the validation.

[2020-02-13 06:44] bluebill1049 commented on #1008
the current version doesn't support read formState inside the resolver, what's your usage inside the resolver instead of reading `formState` in the render.

[2020-02-13 06:54] durchanek commented on #1008
I have a form that combines regular uncontrolled form fields with Stripe form fields and use
`formState` in validationResolver to mimic onSubmit validation behaviour of react-hook-forms for the Stripe fields. It should be possible to do this in render, just wasn't aware that `formState` is not supported inside the resolver as it seems like almost working :-)

[2020-02-13 06:59] bluebill1049 commented on #1008
you can make it work by using `useRef`, similar as hoist a variable outside the component. i think working inside the render is probably better 👍

[2020-02-13 07:03] durchanek commented on #1008
I agree, this logic probably shouldn't go to the resolver. Thank you!

[2020-02-13 07:03] #1008 closed

[2020-02-13 07:44] kotarella1110 commented on #987
I understand what @cargallo say but this probrem is hard to fix in TypeScript.

[2020-02-13 08:09] bluebill1049 commented on #1024
closing this issue, until codesandbox or example is supplied.

[2020-02-13 08:46] maxkalash commented on #1007
The issue is still when I trying to do from.reset()
But adding isWeb to the condition resolved
`if (value && isWeb && HTMLElement(value.ref) && value.ref.closest) {`

"react": "^16.12.0",
"react-hook-form": "^4.9.3",
"react-native": "0.61.5",

[2020-02-13 08:49] bluebill1049 commented on #1007
thanks @maxkalash

[2020-02-13 08:51] bluebill1049 commented on #1007
by the way, next time please send a PR as you find the solution and should get you in the contributing list :)

[2020-02-13 08:52] bluebill1049 commented on #1007
@maxkalash can you please take this beta: react-hook-form@4.9.4-beta.3

[2020-02-13 08:53] Dogacel commented on #1024
[CodeSandbox](https://codesandbox.io/s/long-bush-r2yg5?fontsize=14&hidenavigation=1&theme=dark)

Here is the proposed solution.

[2020-02-13 08:54] #1007 closed

[2020-02-13 08:57] bluebill1049 commented on #1024
thanks for the suggestion, not everyone is using FormContext. I am interested in this part

[2020-02-13 08:58] olup commented on #987
Have this too, `message` property or even `type` property is not properly types on errors fields

[2020-02-13 09:17] maxkalash commented on #1007
It worked for me! Thank very mach for the quick fix !

[2020-02-13 09:43] gilbsgilbs opened #1025 "Prevent form submission in the submit handler"
**Is your feature request related to a problem? Please describe.**

The [documentation for `handleSubmit`](https://react-hook-form.com/api/#handleSubmit) indicates:

However, this appears to be pretty unusable in the current state of RHF.

When performing extra validation in the submit handler, there are currently no way to prevent the update of the `formState`'s `isSubmitted` and `submitCount` pr

[2020-02-13 10:06] bluebill1049 commented on #1025
[code]

what about this?

[2020-02-13 10:10] gilbsgilbs commented on #1025
But you loose the benefit from `async` validation if you do this, isn't it?

[2020-02-13 10:15] bluebill1049 commented on #1025
what do you mean?

[code]

[2020-02-13 10:22] gilbsgilbs commented on #1025
That's an interesting solution. Thank you very much :+1: .

[2020-02-13 10:23] bluebill1049 commented on #1024
unless you can provide a solid example of the issue above, I think we will move on with this.

[2020-02-13 10:23] #1024 closed

[2020-02-13 10:24] Dogacel commented on #1024
[CodeSandbox](https://codesandbox.io/s/boring-worker-w6vlw)
I am trying to access the field array using controller I think this is not possible right now.

[2020-02-13 10:24] bluebill1049 commented on #1003
Just a quick follow up, did you guys find a reproducible example?

[2020-02-13 10:27] rcambrj commented on #1003
I seems as though [testcafe-hammerhead](https://github.com/DevExpress/testcafe-hammerhead) mangles javascripts in such a way that this code becomes invalid.

While browsing normally:
[code]

But when mangled by testcafe:
[code]
where `__get$` is defined at the top of the script by `testcafe-hammerhead`. As you might imagine, `__get$(fields,indexA)` is not a valid target for destructuring into.

Ap

[2020-02-13 10:27] bluebill1049 commented on #1024
what about this example with controller: https://codesandbox.io/s/react-hook-form-usefieldarray-controller-pppf3

[2020-02-13 10:36] bluebill1049 commented on #1003
Thanks for the update @rcambrj . I think I will leave that stuff with testcafe.

@lvwrence what about your issue?

[2020-02-13 10:46] Dogacel commented on #1024
In this example there isn't an external component that tries to access the fieldArray's functions like in [this](https://codesandbox.io/s/boring-worker-w6vlw).

[2020-02-13 11:31] bcotrim commented on #1020
@bluebill1049 it appears to be fixed! Thank you

[2020-02-13 11:34] bluebill1049 commented on #1020
thanks @bcotrim it will be in the next patch 👍

[2020-02-13 12:34] gilbsgilbs commented on #1025
Actually, there's still a downside with this approach unfortunately: the field-level validation happens only in `handleSubmit`. So you have to invoke `triggerValidation()` first, but that means field-level validation will be performed twice.

[2020-02-13 12:51] jarretrose commented on #1019
Oh man, I'm so sorry! It turns out that I was having a separate issue in my
code, but one that was related to the name.

In my case, I have nested inputs like:

foo.bars[]

Prior to the most recent release, I was able to use "bars" as the unique
name. After the release, I needed to include "foo" as well.

Best,
Jarret

On Wed, Feb 12, 2020, 6:06 PM Bill <notifications@github.com> wrote:

[2020-02-13 13:41] tomas-c opened #1026 "Removing a field array field breaks validation"
**Describe the bug**
When using useFieldArray, if you append a field with invalid value and subsequently remove it, then formState.isValid gets stuck with `false` value.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-dirty-state-with-empty-string-rle9z
2. Observe isValid=true
3. Append a field
4. Remove the appended field
5. Observe isValid=fal

[2020-02-13 13:45] tomas-c commented on #1026
Just did more testing, this bug is not present in 4.8.2

[2020-02-13 14:15] antonbehaeghe commented on #34
Hey, what exactly does this third param 'true' mean? Is it rerendering or enforcing a valid input?

I was having some trouble removing errors on input and neither setting a type in the register or manually triggering validation was working, but this is :)

[2020-02-13 14:31] cargallo commented on #987
@kotarella1110 could you explain to me the idea of NestDataObject so I can try to figure out a solution? I think that the idea is to retrieve FieldError or FieldError[] (I don't understand why retrieving FieldError[]). I think (if it is posible) that the idea has to be to retrieve FieldError only for basic types and Array of them. But I think that the actual problem is that it is hard to diferenti

[2020-02-13 14:48] lvwrence commented on #1003
@bluebill1049 haven't been able to repro but I haven't seen the error again -- i'll keep an eye out but i'm fine with closing this for now as well

[2020-02-13 14:56] mikestopcontinues commented on #1021
Yeesh! Thanks! :)

On Wed, Feb 12, 2020 at 7:12 PM Bill <notifications@github.com> wrote:

[2020-02-13 15:05] shevchuk-digicode opened #1027 "`onBlur` in react-hook-form 4"
Thanks for the great framework! I have the next question:

What happens with `onBlur` mode in `react-hook-form@4.0.0`?

In version `react-hook-form@3.29.4` I'm able to trigger `errors` update by blurring the inputs - https://codesandbox.io/s/react-hook-form-defaultvalues-y4iq5?fontsize=14&hidenavigation=1&theme=dark
Also, after clicking on Submit the `errors` update even on changing the input valu

[2020-02-13 15:15] shevchuk-digicode commented on #1027
I've updated the links, the first time they were incorrect. Sorry about that.

[2020-02-13 16:53] krnlde opened #1029 "Feature Request: Have conditionally required fields"
**Is your feature request related to a problem? Please describe.**
I need a field that is always registered, but only under some circumstances required.

**Describe the solution you'd like**
I'd love to have the `register` method check the `required` (and for that matter, every property that can be passed in there) for changes and handle them accordingly.

This would look something like this:

[co

[2020-02-13 17:07] stramel commented on #987
The underlying structure is correct however the typing for the errors object is not properly inferring the typing. I believe this is along the same line as #953 [point 2](https://github.com/react-hook-form/react-hook-form/issues/953#issuecomment-585047076) that I identified there. @bluebill1049 I'm going to mark this as a bug.

[2020-02-13 17:35] gilbsgilbs commented on #1025
And also, when doing this, the form will remain with `isSubmitting` to false during the whole validation. So you have to do the validation in `handleSubmit`.

[2020-02-13 19:53] kerosan commented on #1016
maybe in future you could make shortcut for `setValue`
`const replace = (index, value) => setValue(`${getNameOfFieldArray()}[${index}]`, value)`

[2020-02-13 20:23] bpallares opened #1030 "Typescript: When useForm generic is not typed, the property 'message' doesn't exists in type FieldErrors[]"
**Describe the bug**
This Issue is very similar to what it is described in #987, however, in this case, the `useForm` generic has no typings.

**Codesandbox link**
https://codesandbox.io/s/charming-shaw-klux0?from-embed

**Expected behavior**
It should probably default to `any` if no types are passed

**Screenshots**
![IMG1](https://imgur.com/3wbzji2.jpg)
![IMG2](https://imgur.com/9KKjuMo.jpg)

@s

[2020-02-13 20:25] stramel commented on #1030
Seems related to #987 and my second point in #953.

@bluebill1049 I will see if I can get some time to address these issues.

[2020-02-13 20:31] stramel commented on #1027
@shevchuk-digicode Can you provide the following:

- the steps that you are performing to generate the behavior in question
- the expected result and the actual result for each

I'm not quite sure what you're saying is the issue. At quick glance in the CSBs, they look to perform the same way.

[2020-02-13 20:44] IronSean opened #1031 "TypeScript: Types for ErrorMessage.As do not accept React.FC<> as valid input."
**Describe the bug**
The type definitions for the ErrorMessage components `as` prop no longer allow a component of type `React.FC` to be passed in. Instead it throws a type error.

**To Reproduce**
Steps to reproduce the behavior:
1. Pass a React.FC to the as paramater of `ErrorMessage`

**Codesandbox link**
https://codesandbox.io/s/pensive-platform-56byt

**Expected behavior**
Being able to pass

[2020-02-13 20:48] bluebill1049 commented on #1024
The usage is really up to the developers.

[2020-02-13 20:55] bluebill1049 commented on #1025
- `isSubmitted and submitCount` is irrelevant to whether a form is valid or not.
- if you would like to validate with a specific field against API, you can always use `validate` function as well.

[2020-02-13 20:56] bluebill1049 commented on #1030
awesome thanks @stramel This is duplicated. let's tackle that in the other issue.

[2020-02-13 20:57] #1003 closed

[2020-02-13 20:57] bluebill1049 commented on #1026
thanks @tomas-c will investigate into this.

[2020-02-13 20:58] bluebill1049 commented on #953
the same issue as #987, let's focus on there.

[2020-02-13 20:58] #953 closed

[2020-02-13 20:59] bluebill1049 commented on #1016
yea, great suggestion.

[2020-02-13 21:00] bluebill1049 commented on #1019
No worries man 👍

[2020-02-13 21:01] bluebill1049 commented on #34
@antonbehaeghe check the doc, it's for trigger validation after set value: https://react-hook-form.com/api#setValue

[2020-02-13 21:02] bluebill1049 commented on #1031
hey @kotarella1110 you want to take a look this one?

[2020-02-13 21:03] bluebill1049 commented on #1029
hey, @krnlde hows going? I think this could just work fine with `validate` function?

[2020-02-13 21:05] stramel commented on #1030
@bluebill1049 It isn't really duplicated but related. I'm fine with tracking it in the other issue just as long as we cover both scenarios.

[2020-02-13 21:08] stramel commented on #987
So a few different cases to cover here since we closed the other related tickets in favor of a single issue.

These scenarios cause incorrect `errors` typing:

- any[]
- unknown
- object[]
- no typing passed

[2020-02-13 21:22] krnlde commented on #1029
Hey man! I'm great, thanks for asking :) hope you're doing well too?

The problem is not the validation itself. But if I change the `use_shipping_method` in the example above, the `shipping_firstname` will not be required immediately. Only after submitting. I think I need to produce a codesandbox to clarify the problem :) will do tomorrow

[2020-02-13 21:27] gilbsgilbs commented on #1025
Thanks for responding!

Then for the sake of consistency, `isSubmitted` and `submitCount` should also update when there's a field-level error. This is not the case at the moment.

At the end of the day this is not that bad, but it just makes it more confusing to work with the form because you have to maintain your own "usable" state for `isSubmitting` and `isSubmitted` somewhere. That's really som

[2020-02-13 22:01] bluebill1049 commented on #1030
Oh if that’s the case that’s reopen it.

[2020-02-13 22:46] bluebill1049 commented on #1025
It should only change during submission not the field level.

I think what we having right now it's good for majority of the use case, and i like to keep it simple for everyone, if this was a project between us, i would go make the change right away.

[2020-02-13 22:52] gilbsgilbs commented on #1025
Fair enough. Thanks!

[2020-02-13 22:52] #1025 closed

[2020-02-13 23:35] kotarella1110 commented on #1031
@bluebill1049 yes! i'll look into it.

[2020-02-13 23:38] bluebill1049 commented on #1025
Thank you for understanding @gilbsgilbs

[2020-02-14 05:07] #1031 closed

[2020-02-14 07:31] shevchuk-digicode commented on #1027
Here is the simpler version of my second CSB - https://codesandbox.io/s/react-hook-form-defaultvalues-tfsyu?fontsize=14&hidenavigation=1&theme=dark

**Here I set**:
-  `onBlur` mode
- `ref={register({required: true})}` - for both inputs
-  `useEffect` for `errors` object to debug in console the changing of its state

**My behavior**:
- I focus on the first input
- Press `tab` for blurring from the

[2020-02-14 08:55] bluebill1049 commented on #1027
it is changing in the render, if you console log the errors.

[2020-02-14 09:25] shevchuk-digicode commented on #1027
@bluebill1049 Wow, it's even simplified my code) Thank you!

[2020-02-14 09:25] #1027 closed

[2020-02-14 09:58] krnlde commented on #1029
Alright, I got the codesandbox:

https://codesandbox.io/s/gracious-raman-r8oq6

To reproduce:
1. See that the form is initially valid in the debug output
2. activate the "Use shipping address" checkbox
3. See that the form is still valid, despite the fact that the firstname field is empty and required when the checkbox is checked.
4. After entering and deleting something in the firstname field it'

[2020-02-14 10:02] krnlde commented on #1029
Aaah, I think I got what you meant with `validate`. I tried that too, but it doesn't work either. Should I create a second codesandbox for that case?

[2020-02-14 11:14] bluebill1049 commented on #1029
thanks for the detailed demo and steps to reproduce,  have you considered `triggerValidation`?

[2020-02-14 11:16] krnlde commented on #1029
`triggerValidation` is done when I click the Revalidate button. But I expected it to just work, and not have an asynchronous state until something else changes :D Am I thinking in the wrong direction here?

[2020-02-14 11:19] bluebill1049 commented on #1029
I meant when you check on the following step

activate the "Use shipping address" checkbox then trigger the other field's validation to update the isValid.

Is that what you refer to, or maybe I need to read your demo more carefully.

[2020-02-14 11:21] krnlde commented on #1029
But after I checked the checkbox, the `required` field already gets the value `true`. The problem is, it is not reflected immediately in the `isValid`, only after triggerValidation or changing some state.

[2020-02-14 11:25] bluebill1049 commented on #1029
Oh, I see your problem better now, it's almost due to missing an extra re-render. I am in the middle of fixing a bug, I will take a closer with this issue tmr morning 👍

[2020-02-14 11:26] krnlde commented on #1029
So it's a valid bug? Wuhuu :D Didn't expect that.

💯

[2020-02-14 11:27] bluebill1049 commented on #1029
I wouldn't confirm it's a bug (or perhaps I can find an alternative solution), let me confirm with you tmr.

[2020-02-14 12:29] bluebill1049 commented on #1026
https://codesandbox.io/s/react-hook-form-dirty-state-with-empty-string-wojle

please help test out this fix.

[2020-02-14 12:46] #1026 closed

[2020-02-14 12:51] bluebill1049 commented on #1029
before I go to bed, did a quick test with this: https://codesandbox.io/s/peaceful-river-b660l

[2020-02-14 15:30] AndreasZeiser opened #1035 "watch('useFieldArrayName') not triggering for first row"
**Describe the bug**
We use `watch('useFieldArrayName')` to watch for changes in the fields created by `useFieldArray`. Since `react-hook-form` version `4.8.1` `watch()` doesn't trigger for changes in the fields of the first row. It does trigger for changes after adding a second row.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-

[2020-02-15 00:58] bluebill1049 commented on #1035
Thanks for the detailed issue report. please help verify the fix: https://codesandbox.io/s/react-hook-form-usefieldarray-jqptw

[2020-02-15 01:38] #1035 closed

[2020-02-15 01:38] bluebill1049 commented on #1035
Fix is merged: https://github.com/react-hook-form/react-hook-form/commit/4142c55fcf447b8f2d7f69e51d08f7dd8e282885

[2020-02-15 06:25] hjaimee opened #1037 "Set value of controlled component react-select using onCreateOption in fieldArray"
Hello,

I've been trying to set the value of my controlled component when using onCreateOption in a fieldArray. I am able to get it into my list of options but having trouble to set the value of this specific element.

**To Reproduce**
Steps to reproduce the behavior:
1. If you go to the React-Select element and type a new value
2. Click enter
3. The value will be set in the options but not in the

[2020-02-15 08:38] AndreasZeiser commented on #1035
Thank you for the fix! I can verify that the changes result into the expected behaviour.

[2020-02-15 08:38] bluebill1049 commented on #1037
you want to try `setValue` api at your handler?

[2020-02-15 08:39] bluebill1049 commented on #1035
sweet thanks @AndreasZeiser will release the patch tmr.

[2020-02-15 09:59] hjaimee commented on #1037
Well I tried to sue setValue but this didn't work well. I couldn't find documentation on how to setValue when using fieldArrays, couldn't pass the appropriate key and value.

Basically I want to know how to achieve being able to create a new option, and that option being set in my input box? If you look at the codesandbox it creates the option, but I then I have to select the  element again and ch

[2020-02-15 10:45] bluebill1049 commented on #1037
Is this what you after? https://codesandbox.io/s/oncreateoption-react-hook-form-react-select-6yvqw

[2020-02-15 11:09] hjaimee commented on #1037
Is that the correct link or did you save your changes as I don't see anything different in the code and it's still not setting the value in the select input box.

[2020-02-15 11:09] bluebill1049 commented on #1037
wrong link, try this one: https://codesandbox.io/s/oncreateoption-react-hook-form-react-select-6yvqw

[2020-02-15 11:10] hjaimee commented on #1037
Seems to be the same thing.

[2020-02-15 11:11] bluebill1049 commented on #1037
something wrong with CSB today...

[2020-02-15 11:11] bluebill1049 commented on #1037
what about this one: https://codesandbox.io/s/oncreateoption-react-hook-form-react-select-4uv18

[2020-02-15 11:13] hjaimee commented on #1037
Yes so the problem with that is I want to also see the this new option in the select dropdown, which is why I'm using the onCreateOption prop. The onCreateOption prop works well except it doesn't seem to set the select input value of my controlled component.

[2020-02-15 11:16] bluebill1049 commented on #1037
why don't you do that inside onChange?

[2020-02-15 12:46] hjaimee commented on #1037
Well, I feel foolish, that works and not sure why I hadn't tried that first. Thanks for the feedback.

Great package btw, love react-hook-form

[2020-02-15 12:46] #1037 closed

[2020-02-16 05:33] cybervaldez commented on #230
FAQ page is returning a 404

[2020-02-16 05:46] bluebill1049 commented on #230
@cybervaldez https://react-hook-form.com/faqs

[2020-02-16 11:00] johncalvinroberts opened #1038 "Nested useFieldArray - `watch` values become undefined after moving items"
**Describe the bug**
When using the `move` function from `useArrayField` in conjunction with `watch`, the watched values return as `undefined` after calling `move`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [codesandbox link](https://codesandbox.io/s/react-hook-form-usefieldarray-u1bmc?fontsize=14&hidenavigation=1&theme=dark)
2. Click on `append` 3 times to add a total of 4 i

[2020-02-16 11:05] bluebill1049 commented on #1038
Hey @johncalvinroberts thanks for the kind words ❤️ have you tried watch the entire array field? `watch(`test`)`

I will take a close look at your issue soon.

[2020-02-16 13:16] krnlde opened #1039 "Bug report: Cannot resolve dependency 'ts-polyfill/es2015-symbol' since v4.9.4"
**Describe the bug**
After updating to `4.9.4` I immediatelly get this error on console:
[code]

**Additional context**
In my project I use the ie11 version of react-hook-form. This issue is probably related to the latest PR #1018

[2020-02-16 20:58] bluebill1049 commented on #1039
@vova-bezhenar are you having a similar issue?

[2020-02-16 23:11] bluebill1049 commented on #1029
Hey @krnlde just a quick follow up on this issue, did you take a look the example above?

[2020-02-16 23:14] bluebill1049 commented on #1038
I think the probably can be solved by just watching the entire field array: `watch('test')`

The challenge i had with useFieldArray with uncontrolled inputs is value gets set during the render phase instead reading from local state. so i made a fix to make watch work if you want to watch the entire field array, let me know if this resolve your problem.

[2020-02-16 23:15] bluebill1049 commented on #1030
nvm let's track on the same ticket as this is probably going to need help from @stramel

[2020-02-16 23:15] #1030 closed

[2020-02-17 00:59] kotarella1110 commented on #1039
I think the following lines need to be fixed.

https://github.com/react-hook-form/react-hook-form/blob/master/src/index.ie11.ts#L1-L4

[code]

[2020-02-17 01:20] kotarella1110 commented on #1039
@vova-bezhenar By the way, why are you importing `ts-polyfill/lib/es2015-iterable` and `ts-polyfill/lib/es2015-symbol` and `ts-polyfill/lib/es2015-symbol-wellknown`?
Is it no good importing only `ts-polyfill`?

[2020-02-17 02:06] bluebill1049 commented on #1039
worst case, we may need to revert that commit and patch this issue.

[2020-02-17 02:36] kotarella1110 commented on #1039
@bluebill1049 `ts-polyfill` is [peer dependency](https://classic.yarnpkg.com/en/docs/dependency-types/#toc-peerdependencies). Is this within your expectation?
Also allow `ts-polyfill` to be included in the bundle?

[2020-02-17 02:46] bluebill1049 commented on #1039
hey @kotarella1110 we will not ship the lib with ts-polyfill bundle, i think we are better leave those to explain in the documentation. I will revert the commit tonight if i don't hear from @vova-bezhenar

[2020-02-17 02:48] kotarella1110 commented on #1039
@bluebill1049 I agree with you 👍

[2020-02-17 08:43] krnlde commented on #1039
I agree too :)

[2020-02-17 09:23] bluebill1049 commented on #1039
reverted :)

[2020-02-17 09:23] #1039 closed

[2020-02-17 09:40] lobopl opened #1041 "conditional fields and reset"
**Describe the question?**
I have quite big form (60+ fields) that has a lot of conditional fields and it work great if user is providing all data by hand, but when i load data from database and use reset i have issue with values that stay in conditional inputs and some fields don't disappear after user action

**To Reproduce**
1. Open first sanbox link after 1 second all fields will get value and

[2020-02-17 10:23] bluebill1049 commented on #1041
The example is hard to understand...

[2020-02-17 10:26] bluebill1049 commented on #1041
Please supply each scenario below with an example:

1. when i load data from database and use reset i have issue with values that stay in conditional inputs

2. and some fields don't disappear after user action

[2020-02-17 11:08] lobopl commented on #1041
Maybe i will try to rephrase it
in my example i have 4 fields (field-1, field-2, field-3, field-4)
field-2, field-3, field-4 watch some fields to be visible (field-2 and field-3 watch field 1, field-4 watch field-3)

1. When you open my example all fields will get values in async function (setTimeout simulating ajax request), values are set using reset. Now all fields have value and all fields the

[2020-02-17 11:18] bluebill1049 commented on #1041
Try to make conditional input with `display: none` instead of unmount them.

[2020-02-17 11:24] lobopl commented on #1041
this will not work for 2 reasons
1. Values will stay same as initially loaded or if user changed them they will be same as changed ones and not empty as i want
2. if field is required (one that is hidden) form will see it as incorrect, imagine something like first checkbox is optional, but conditional one is required

[2020-02-17 11:40] bluebill1049 commented on #1041
valid points above, please consider to upload two seperate example and keep them simple as what i suggested above, i am bit tried today and tried to make seperate CSB, so if you could help me/us would be nice.

[2020-02-17 12:26] cztomsik opened #1042 "changing defaultValues used to work with data fetching"
**Describe the bug**
When `defaultValues` is initially set to `null` and then to a real data, an error is raised. In version 4.6.2 this worked fine.

**To Reproduce**
[code]

Throws `Cannot read property 'foo' of null`

**Expected behavior**
In previous version this worked fine.

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser Chrome
 - Version 79

[2020-02-17 12:28] bluebill1049 commented on #1042
codesandbox example, please.

[2020-02-17 12:33] lobopl commented on #1041
this is example how i want this to work:
https://codesandbox.io/s/react-hook-form-watch-7xn9x
and i don't want to use setValue in this timeout because i have 60+ fields and in this kind of action form renders 60+ times and it take 15-20 seconds to render

[2020-02-17 12:36] cztomsik commented on #1042
@bluebill1049 Here's codesandbox - try changing the version of react-hook-form
https://codesandbox.io/s/crazy-frost-4mf9f

[2020-02-17 13:07] lobopl commented on #1041
Is there a way to set values for all fields at once other than reset and multiple setValue? I don't want default values to be applied when field is removed and then appear again because something changed.

[2020-02-17 14:09] barrymay commented on #987
Chiming in on this:

Changing IServicio to use unknown[] appears to improve the output, as it makes the Fields recognize they have a type.  The important difference between unknown and any is that unknown has greater recognition with type-safety.

interface IServicio {
  multiple: unknown[];
}
https://codesandbox.io/s/material-demo-uk2vi

When plugged in instead of any[] (too wide) or object (a na

[2020-02-17 14:27] vova-bezhenar commented on #1039
@bluebill1049 Sorry for late response, yes these was a typo.
Over weekend I've checked that minimal list of polyfills to get 'react-hook-form' working on ie11 is just:
- 'ts-polyfill/lib/es2017-object';
- 'ts-polyfill/lib/es2015-promise';
Can we add these polyfills for ie11 build?

[2020-02-17 14:28] krnlde commented on #1039
We agreed on having these as `peerDependencies` so you'll have to add those to your project package.json

[2020-02-17 14:43] brigolini commented on #709
I can help translate to portuguese.

[2020-02-17 15:13] dskiba opened #1043 "Provide example with Masked Input + Custom Input."
Hello, first wanna thank you all guys for the react-hook-form, really interesting thing :)

I am trying RHF with react-input-mask and custom input
 https://codesandbox.io/s/new-star-rzmfb

And there is one problem with a cursor on Safari(13). I have already created a pull request in react-input-mask.

So if this issue with safari will be fixed, would you be interested in me to create a pull reques

[2020-02-17 15:48] Motoxpro commented on #987
I'm not sure how to help fix this, but this is what I am doing at the moment.

    {((errors?.password as unknown) as FieldError)?.message}

[2020-02-17 15:48] dskiba commented on #1043
fixed this issue 💃
good example: https://codesandbox.io/s/focused-kapitsa-n3u6c
I should use react setState (or hook version) to chage value instead of setValues.

Now it works well and I can create a pull request with the contribution to examples sections if you are interested in it. 🤓

[2020-02-17 16:20] antonbehaeghe opened #1044 "Access defaultValues in FormContext"
Is there any way to access the defaultValues when using custom manually registered components in FormContext? Or do I have to set the defaultValues and then also pass them as props to my components where I can set them manually?

The docs only mention that it's not set automatically:

[2020-02-17 19:25] chris-fran opened #1045 "Is there a way to force marking the form as dirty?"
**Describe the question?**
Is there a way to force the form as dirty?

**Additional context**
We're using the [Field Arrays](https://react-hook-form.com/advanced-usage#FieldArrays) **WITHOUT the useFieldArray hook** to hack adding values to the form. Code goes like this:

[code]

Our pill is custom made, and it's probably missing features before we can use the `Controller` api, so we went for this

[2020-02-17 20:33] bluebill1049 commented on #709
Thanks @brigolini , i will attach you to the list and will ask you for help :)

[2020-02-17 20:34] bluebill1049 commented on #1039
hey @vova-bezhenar sorry to revert your change, but can we make it as what @krnlde suggested?

[2020-02-17 20:35] bluebill1049 commented on #1043
That's awesome. would you like to spend a PR and add this example to our examples folder?

[2020-02-17 20:36] bluebill1049 commented on #1043
can we do a version with Controller as well?

[2020-02-17 21:00] AugustNagro opened #1046 "reset() should respect defaultChecked"
It respects the defaultValue properties (eg, on an text input), but not for a checkbox.

[2020-02-17 21:01] bluebill1049 commented on #1046
please provide a codesandbox for us to reproduce.

[2020-02-17 21:02] bluebill1049 commented on #1045
`setValue` can trigger the form to be dirty.

[2020-02-17 21:02] bluebill1049 commented on #1044
If you are using Controller, it should populate the default value.

[2020-02-17 21:04] AugustNagro commented on #1046
Do you have an codesandbox template I can modify? Have never used before.

[2020-02-17 21:13] bluebill1049 commented on #1046
I don't shouldn't be too hard to create one just with checkbox tho.

[2020-02-17 21:16] AugustNagro commented on #1046
The problem is that when a form is reset(), every component with a defaultValue has that property re-evaluated. However, defaultChecked is ignored, so that the checkboxes lose their data.

I am trying to create a codesandbox

[2020-02-17 21:17] cargallo commented on #987
I want to give some feedback about my research of this issue. As I commented few days ago, I think the problem is in the definition of NestedDataObject and the solution could be to do it like [the suggested type definition for JSON data](https://github.com/microsoft/TypeScript/issues/3496#issuecomment-128553540)
but I'm not sure of the scope of this since I think that FieldError must be redefined

[2020-02-17 21:30] chris-fran commented on #1045
@bluebill1049 Thanks, just changed this hack for a mix of `register/unregister + setValue`

[2020-02-17 21:30] #1045 closed

[2020-02-17 22:22] bluebill1049 commented on #1029
Going to close this issue for now to keep board clean, feel free to leave more questions if this is not solving ur problem.

[2020-02-17 22:22] #1029 closed

[2020-02-17 22:23] bluebill1049 commented on #1038
Did u try with the above suggestion?

[2020-02-17 23:46] bluebill1049 commented on #1042
hey i am patching this issue, but please make sure you pass in defaultValue as {} not null

`const { register } = useForm({ defaultValues: data === null ? {} : data });`

[2020-02-17 23:48] #1042 closed

[2020-02-18 00:19] bluebill1049 commented on #1042
hey @cztomsik i think i find out the reason why i made the fix previously, please consider to use `reset()` API instead, the problem it creates with defaultValue get re-assigned each time is that cause infinite re-render due to `defaultValue` with `Object.is` comparison inside each re-render. unless we do a deep compare with the defaultValue object, which in my opinion is heavy and increase the pa

[2020-02-18 01:56] johncalvinroberts commented on #1038
@bluebill1049 I did try with the above suggestion, and unfortunately it wasn't solving the issue for me...I tried to create a codesandbox reproduction of that bug as well, but couldn't reproduce in codesandbox.

Potentially related:  in my particular use case, one of the `name`s in each array item is manually managed (no input ref, just `register({name}` and then `setValue`). This seemed to cause

[2020-02-18 02:03] bluebill1049 commented on #1041
Is this what you after? https://codesandbox.io/s/happy-gauss-en8jy

[2020-02-18 02:04] bluebill1049 commented on #1038
Good point, i should update the docs to reflect that, you can't use custom register with useFieldArray, if you have external component, please use `Controller` instead.

[2020-02-18 02:14] cybervaldez commented on #42
I'm on the same boat, is there a new solution for transforming values after an input change but before a validation is triggered?

[2020-02-18 03:10] kotarella1110 commented on #987
My idea is to provide a utility type (such as `FormValue`) to define the value type of generic parameter (`FormValues`) passed to useForm.

utilty type:

[code]

usage:

[code]

simple demo is below:
https://codesandbox.io/s/cranky-napier-ebmw6

Note: I only did as much fixing as was necessary.

[2020-02-18 03:18] bluebill1049 commented on #42
the lib itself is not 1 year old :)

alternative: you can custom register a field,

[code]

[2020-02-18 03:42] bluebill1049 commented on #1046
https://codesandbox.io/s/happy-gauss-en8jy

[2020-02-18 05:30] lobopl commented on #1041
not really this is basically same concept as in  my "problematic form using reset", basically what i want to achieve is setting big form with conditional fields but without using reset because it sets default values and if field dissapear and then appear again instead of being empty it gets this default value

https://codesandbox.io/s/react-hook-form-watch-7xn9x
first form click field-4 has value

[2020-02-18 05:40] terzhang opened #1048 "Yup: error not displaying in ErrorMessage when validating an Array of Strings"
**Describe the bug**
the error message thrown by Yup for an email array field does not show up in ErrorMessage.

**To Reproduce**
1. Setup a Yup Schema for a recipients field defined as an Array comprised of string emails and required
3. Register the schema as ValidationSchema option for useForm
4. Register the input element for that recipients
5. Fill in the Recipients field incorrectly but see n

[2020-02-18 05:57] bluebill1049 commented on #1041
what do you mean by that? did you see my demo and try to type '123' in the input?

[2020-02-18 06:04] bluebill1049 commented on #1048
[code]

because you r return array right?

[2020-02-18 06:27] lobopl commented on #1041
yes and it presented "with reset value", but in my use case i wanted something like this
1. I load data from backend (same as in your example but 123 instead of 1234)
2. all fields are visible
3. i change second text input to something like "test"
4. I change first input to 1234 second text input disappear
5. I change first input to 123 second text input appear with nothing as value not "with rese

[2020-02-18 07:11] dskiba commented on #1043
Yeah, I will do a PR with this example and with a Controller version.

[2020-02-18 07:17] bluebill1049 commented on #1043
Awesome thanks 👍❤️

[2020-02-18 07:39] antonbehaeghe commented on #1044
Not using Controller, just manually registering.

[2020-02-18 08:22] terzhang commented on #1048
Ah, I see why now.

To answer my own question, I solved it by checking for whether error[name] `isArray()`, then map it to a list of `p` elements
[code]

To not take too much space, I instead returned the `value` in the yup schema
[code]
then `join` the error'ed entries into a single string
[code]

[2020-02-18 08:43] #1048 closed

[2020-02-18 08:43] bluebill1049 commented on #1048
awesome glad you work it out :)

[2020-02-18 08:45] bluebill1049 commented on #1044
No, we don't expose defaultValues.

[2020-02-18 09:12] antonbehaeghe commented on #1044
Alright thanks :)
So the correct way to do it would be to set the defaultValues like in the codesandbox, and then explicitly pass the defaultValue to the CustomInput?

Is exposing the defaultValues in the FormContext something that could be added? Or are there reasons not to do it?

[2020-02-18 09:15] bluebill1049 commented on #1044
you can create a context for the form. FormContext only expose RHF functions and have no plan to expose other attributes.

[2020-02-18 09:20] #1044 closed

[2020-02-18 09:23] bluebill1049 commented on #1041
React Hook Form embraced uncontrolled input and works just like uncontrolled.

`{show && <input name="test" defaultValue="test" />}`

`reset` API default values is the same as change `defaultValue` of that input, which means when you

1. type 123, it will show 'test'
2. type 1234 get removed
3. type 123, it will show 'test' or newly updated default value

if uncheck an item need to clear a field,

[2020-02-18 09:26] krnlde commented on #1029
Ah sorry, I didn't see that! The workaround with the manual `triggerValidation` at least works, though I don't find it really necessary. I can live with that :) Thank you

[2020-02-18 09:37] bluebill1049 commented on #1029
awesome thanks for the update @krnlde

[2020-02-18 10:19] bluebill1049 commented on #1046
Going to close this issue, take a look at the example above.

[2020-02-18 10:19] #1046 closed

[2020-02-18 11:23] lobopl commented on #1041
Yes i could do that but it is quite complicated to manage big nested form with dynamic fields. And in addition i would need to keep state for many fields and change logic from watching values in child fields that depend on other fields to pushers in parents. And now those "parent" fields would need to have knowledge about childs. Right now my temporary solution is resetting only part of form conta

[2020-02-18 11:38] bluebill1049 commented on #1041
`setValue` support nest/multiple objects is the next feature (on the todo list).

[2020-02-18 11:41] lobopl commented on #1041
May i know in what time range it would be created or it isn't yet planned?

[2020-02-18 11:42] bluebill1049 commented on #1041
the next 2 weeks. it's on the project board.

[2020-02-18 11:46] bluebill1049 commented on #1041
actually not sure if the feature is relevant to your request:

[code]

because the feature is about support nest objects and multiple array item values.

[2020-02-18 11:51] bluebill1049 commented on #987
@barrymay Personally I prefer the flat error objects, but there are many ppl requests for errors object type support for nested object and array. This lead to this breaking change and it does make type more complicated.

Thanks a lot @kotarella1110 for your suggestion, ideally lib is more developer-friendly without the need of import external type for typing.

and thanks for looking it up @cargall

[2020-02-18 11:58] lobopl commented on #1041
Sounds great thanks.

[2020-02-18 11:58] #1041 closed

[2020-02-18 16:47] getsetgopi opened #1049 "formArray"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Just like fieldArray is there a way to get formArray?. A page can have multiple forms and need to get values from both the forms.**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Codesandbox link**
Include a codesandox

[2020-02-18 16:58] brigolini commented on #709
@bluebill1049 , I'm new on this so Sorry for the dummy question. Can I begin to make the translation? :)

[2020-02-18 17:10] nicolastrote commented on #709
@bluebill1049 Yes you can :D For that you can read this article on how contribute : https://codeburst.io/a-step-by-step-guide-to-making-your-first-github-contribution-5302260a2940

[2020-02-18 18:30] archfz opened #1050 "Multiple error messages per field"
**Is your feature request related to a problem? Please describe.**
Multiple error messages per field is not possible.

**Describe the solution you'd like**
Add support for multiple error messages per one field that would make is so that the ErrorMessage component actually renders multiple 'as' elements with those messages.

[2020-02-18 20:03] cztomsik commented on #1042
yes, I can use `reset` and it's not that hard actually:

[code]

But I thought that since this is such common scenario it might be covered - I'd say it's more common than `useFieldArray`, for example.

[2020-02-18 20:48] bluebill1049 commented on #1050
please check `validateCriteriaMode`

[2020-02-18 20:48] #1050 closed

[2020-02-18 20:51] bluebill1049 commented on #1049
you can create separate sub-components and each with its own useForm.

Root Component
- Form - with useForm
- Form - with useForm
- Form - with useForm
etc...

[2020-02-18 20:51] #1049 closed

[2020-02-18 20:56] bluebill1049 commented on #709
Yes @brigolini actually takes a look at the website under Portuguese, some of the sections are not translated.

[2020-02-18 20:59] bluebill1049 commented on #1042
you are right.

You are absolutely right, however, default value needs to be cached, maybe we can reinforce that in the website.

[2020-02-18 21:01] cztomsik commented on #1042
@bluebill1049 np with that, I rather thought about providing some hook (along what I've shown) in the package.

[2020-02-18 21:03] bluebill1049 commented on #1042
thanks @cztomsik BTW: the cache `defaultValue` was actually trying to resolve a previous bug.

[2020-02-18 21:34] archfz commented on #1050
I am using custom validation. I have checked the code of the ErrorMessage component and I do not see any logic there to display multiple errors in multiple dom elements. What am I missing?

[2020-02-18 21:36] bluebill1049 commented on #1050
<img width="1079" alt="Screen Shot 2020-02-19 at 8 36 00 am" src="https://user-images.githubusercontent.com/10513364/74780046-e83b8700-52f2-11ea-9ce8-c13bb05a34d3.png">

[2020-02-18 21:37] bluebill1049 commented on #1050
you can even show the errors' message yourself by the errors object

[2020-02-18 21:47] archfz commented on #1050
When I send my custom component to as , or infact any component I get all the errors displayed in a single instance of the that component. I am not sure what I am doing wrong. In the end I've created a custom component for rendering the errors. If this is possible with the react-hook-form ErrorMessage component it would be nice if the documentation had an example for displaying multiple messages.

[2020-02-18 22:13] jossensei opened #1051 "Custom validate functions on radio inputs trigger only after submitting the form."
Hello,

When registering an input radio field group with a custom validate function (on each radio field), the validate function is called only if the form has been submitted once.
Besides, the function can be called twice (once on mouse down, and once on mouse up).

An example :
https://codesandbox.io/s/react-hook-form-radio-validate-owyl9

[2020-02-18 22:34] xiaoyu-tamu opened #1052 "Consider export utils functions"
**Is your feature request related to a problem? Please describe.**

Sometime, when I need to build advanced input ( write customize controller ) , I have to copy paste utils function from logic folder, i.e. isMatchFieldArrayName, isNameInFieldArray etc. I wish we could export these functions and people don't need to duplicate code that already exist.

I tried to import from dist folder but it does

[2020-02-18 22:41] bluebill1049 commented on #1050
sounds good to me. @kotarella1110 you want to supply an example with ErrorMessage component with multiple errors? (when you have some free time)

[2020-02-18 22:42] bluebill1049 commented on #1052
It's already under the todo list: https://github.com/react-hook-form/react-hook-form/projects/1

We will come to it :) take a look the board.

[2020-02-18 22:42] #1052 closed

[2020-02-18 23:01] xiaoyu-tamu commented on #1052
TY

[2020-02-19 00:04] kotarella1110 commented on #1050
@bluebill1049 I will do!
@abihf This PR https://github.com/react-hook-form/react-hook-form/pull/750 contains a simple example.

[2020-02-19 00:16] bluebill1049 commented on #1050
We can have the example on the website :) i can help with that

[2020-02-19 01:24] bluebill1049 commented on #1051
only register validation to one of them. If you want validation to trigger on change, set mode to 'onChange'

[2020-02-19 09:03] jossensei commented on #1051
I've tried to register only the first radio, but then, the validation is not triggered when I select the other options. And it doesn't resolve the validation problem that validate is triggered only after a submit.
https://codesandbox.io/s/react-hook-form-radio-validate-owyl9

I've tried another approach by registering the radio with useEffect, it triggers the validate function, but I've problems a

[2020-02-19 09:13] bluebill1049 commented on #1051
use triggerValidation for the others without validation method.

[2020-02-19 09:28] jossensei commented on #1051
Sorry, I can't get it working the the ref register. I've tried with triggerValidation and setValue(..., true), but with no effect.

[2020-02-19 09:35] bluebill1049 commented on #1051
https://codesandbox.io/s/react-hook-form-radio-validate-f9vzl

I think we can close now, please consider ask question in our spectrum channel.

[2020-02-19 09:35] #1051 closed

[2020-02-19 10:21] jossensei commented on #1051
Ok, thank you ! The validation function is still called three time :a frist time because the last check radio is unchecked, a second time because the clicked radio is checked and the validation is triggered by the

[2020-02-19 18:35] maithuy opened #1057 "Select onChange handler picks up previous value"
Hi,
I have a Select option element, that the pre-defined value is set from useEffect(). The problem I'm facing is the handleChange picks up the previous option value, it takes a second click on the dropdown to get the correct value.

[code]

[code]

[code]
Thanks.

[2020-02-19 21:24] bluebill1049 commented on #1057
please provide a CSB.

[2020-02-20 02:07] maithuy commented on #1057
Hi,

After porting the code to CSB and loading data to the form with hard-coded data, everything seems to work fine and select dropdown renders very fast.

My guest is feeding data to the form with api calls cause the state updates slowness and hence the select responds very slowly and takes more than 1 click.

Please let me if you have any suggestions.

https://codesandbox.io/s/react-hook-form-ba

[2020-02-20 02:19] maithuy commented on #906
@bluebill1049 I've made a CSB https://codesandbox.io/s/react-hook-form-basic-dxcc7

As you can see I populate the form fields based on the api data (UpdateModal.tsx), right now I have the type declared manually and it's not robust. Please let me know if you have any suggestions.

Thank you again.

[2020-02-20 02:42] allicanseenow commented on #494
@bluebill1049 Also regarding the example in this question, is it necessary to put `getValues` as one of the dependencies of the `useEffect`? Does it mutate and does a field value rely on the mutation of `getValues`?

[2020-02-20 02:46] bluebill1049 commented on #494
hey @allicanseenow can you share more code context? i should be fine to put it as dep tho.

[2020-02-20 02:54] allicanseenow commented on #494
Thanks for your response. I mean like just in the general context that was mentioned in the OP's question:
`
React.useEffect(() => () => {
  console.log(getValues());
}. []);
`
Here in the dependency, should I be worried that omitting getValues() might cause some kinds of bugs due to the mutability of the function? A rule of thumb from the React team is you should always put everything you have in

[2020-02-20 03:00] bluebill1049 commented on #494
@allicanseenow I think you should put those methods as dep, and if that trigger unnecessary re-render, you can always useCallback or useMemo them.

[2020-02-20 03:02] bluebill1049 commented on #906
hey @maithuy i don't think there is alternative rather declare those types.

[2020-02-20 03:03] bluebill1049 commented on #1057
I guess if this is caused by async data, why dont you disable the select until the data is ready?

[2020-02-20 03:03] allicanseenow commented on #494
Would you mind showing a simple code sample that I can reference from?

[2020-02-20 03:21] bluebill1049 commented on #494
[code]

@allicanseenow

[2020-02-20 03:22] #906 closed

[2020-02-20 03:27] allicanseenow commented on #494
@bluebill1049  By `register`, did you mean `getValues` instead?

[2020-02-20 03:31] bluebill1049 commented on #494
yes @allicanseenow any API from react-hook-form

[2020-02-20 07:23] sushmitg opened #1058 "Disable all form fields"
Hi, I'd like to request a feature for react-hook-form. I'd like a way to disable the entire form so that the user cannot interact with the form and change default values in fields. Something like passing a boolean value to useForm()'s options.

[2020-02-20 08:06] bluebill1049 commented on #1058
Thanks for the features request. I don’t think we will implement such feature to be a part of this lib at this stage.

[2020-02-20 08:06] #1058 closed

[2020-02-20 08:23] bluebill1049 commented on #1038
Going to close this issue and update accordingly on the website.

[2020-02-20 08:23] #1038 closed

[2020-02-20 10:13] kotarella1110 commented on #1050
@abihf added example to documentation for displaying multiple messages!
https://react-hook-form.com/api/#ErrorMessage

[2020-02-20 10:14] tkatariya opened #1060 "Form validation with required taking an object does not work"
**Describe the bug**
When we use object inside register to make field required, its value is not taken into consideration,

**To Reproduce**
Steps to reproduce the behavior:
1. create a form
2. try changing bold value from true to false - this does not work

 <form onSubmit={handleSubmit(onSubmit)}>
      <label>Example</label>
      <input name="example" defaultValue="test" ref={register} />

[2020-02-20 10:18] bluebill1049 commented on #1060
I am confused here... what's the bug here.

[2020-02-20 10:23] tkatariya commented on #1060
When i make value to false, still it gives error

[2020-02-20 10:41] kotarella1110 commented on #1060
@bluebill1049 We need to fix the following line of `validationField.ts`.

https://github.com/react-hook-form/react-hook-form/blob/master/src/logic/validateField.ts#L78-L98

[2020-02-20 10:45] bluebill1049 commented on #1060
thanks @kotarella1110. but I don't see a point set to `false`, what sort of use case you are having?

[2020-02-20 10:56] kotarella1110 commented on #1060
@bluebill1049 Type
definition allows `ValidationOptionObject` as well as `string`.
I think need allow to only string, or fix the logic.

https://github.com/react-hook-form/react-hook-form/blob/master/src/types.ts#L79

[code]

[2020-02-20 11:05] bluebill1049 commented on #1060
let's fix the logic, you want to take a lead on this one @kotarella1110 ?

[2020-02-20 11:08] kotarella1110 commented on #1060
@bluebill1049 yeah! i will do this!

[2020-02-20 13:45] Skysplit opened #1062 "useFieldArray() inputs cause re-rendering of whole form tree"
**Describe the bug**
Starting from version `4.9.4`, typing in field rendered by `useFieldArray()` triggers re-rendering of whole form tree.
Version `4.9.3` works fine

**To Reproduce**
Steps to reproduce the behavior:
1. Type anything in nested field input
2. Whole form tree is re-rendered

**Codesandbox link**
https://n9q3f.codesandbox.io/

**Expected behavior**
When typing in field, renders do n

[2020-02-20 14:39] dogusev commented on #1039
@bluebill1049
Actually `array.find` and `object.entries` makes the most pain.

I'd propose to update the code, to work without unsupported methods

Will it work for all?

[2020-02-20 14:59] krnlde commented on #1039
Mhm. Those methods improve the readability a lot. What's against including ts-polyfill in each project and leave the code as it is?

[2020-02-20 15:33] dogusev commented on #1039
@krnlde but they don't work in IE11 =)
Don't see the benefit of a pretty and readable, but not working code.

I'm pretty sure, that simple workaround, like additional method, which exposes the same result will not affect readability

[2020-02-20 15:41] krnlde commented on #1039
But but that's what polyfills there for?

[2020-02-20 20:56] #1057 closed

[2020-02-20 21:06] #1062 closed

[2020-02-20 23:56] anilanar opened #1066 "validationResolver either broken or unclear"
**Describe the bug**
See https://codesandbox.io/s/silly-cdn-95w82

- Try commenting out `validationResolver` option and submit correctly logs the expected output.
- Try using with `validationResolver` option and it will not submit form fields correctly (only the first submit is correct?). It seems `validationResolver` is not being passed the full `values` object.

[2020-02-21 00:20] maithuy opened #1067 "get form value mapped by elementID instead of name on Submit"
Hi,

I have a form that each form element (either input or select) that the 'name' is dynamically generated.

On Submit event, the form values are mapped with element name, ie.
[code]

Would it be possible mapping the value with id instead?

Thank you.

[2020-02-21 00:34] ehahn9 opened #1068 "Trouble with <Controller>, checkboxes and react-semantic-ui"
I've tried a number of things (see comments in the snippet below) but I cannot figure out how to
make `<Controller>` work with a react-semantic-ui `Form.Checkbox`. (BTW, `Form.Select` has similar challenges). `Form.Input` works like a champ.

I'm sure it's a simple problem!

**To Reproduce**
[code]

- If I omit the `valueName`, I get `Failed prop type: Invalid prop value supplied to Checkbox.`
- I

[2020-02-21 00:52] bluebill1049 commented on #1068
can you provide a codesandbox?

[2020-02-21 00:53] bluebill1049 commented on #1067
can you please provide a codesandbox for this question?

[2020-02-21 00:57] bluebill1049 commented on #1066
Try this: https://codesandbox.io/s/agitated-fire-w9myu

[2020-02-21 01:35] kotarella1110 commented on #1066
@bluebill1049 Should `validationResolver` be memoized at app-level?
Why aren't you using the `useCallback` in the `useForm` method to memoize the `validationResolver`?

[2020-02-21 03:15] bluebill1049 commented on #1066
hey @kotarella1110  think it's better to `useCallback` at app level, then user will be in control if external dependency changed.

[2020-02-21 03:18] #1060 closed

[2020-02-21 05:13] stramel opened #1069 "Problems resetting Controller"
**Describe the bug**
There are a couple of issues here:

1. When `defaultValues` is NOT passed to the `useForm` hook, the `reset` method fails to reset `Controller` controlled components.
2. When `defaultValues` IS passed to the `useForm` hook, the `reset` method fails to reset `Controller` controlled components when passed `{}`.

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-rhfin

[2020-02-21 05:24] stramel opened #1070 "[useFieldArray] Improve the DX of register"
**Is your feature request related to a problem? Please describe.**
Pulling this improvement discussion out of the previous PRs and into an issue to easily track. See the bottom for related discussions and PRs.

Basically, you can't call `ref={register}` with `useFieldArray`. This is very counter-intuitive based on the fact that the library allows for this syntax in other components/hooks.

**Descr

[2020-02-21 05:31] bluebill1049 commented on #1070
Some background info around `ref` callback as i have spent quite bit time on the investigation.

[code]

[2020-02-21 05:57] #1069 closed

[2020-02-21 06:14] anilanar commented on #1066
Lovely, I’ll submit a PR for the docs.

[2020-02-21 06:17] bluebill1049 commented on #1066
Awesome thanks.

[2020-02-21 06:28] kotarella1110 commented on #1070
@bluebill1049 Hmm... I don't think so.
The result of tried in example is as follows.

codesandbox: https://codesandbox.io/s/rhf-issues-1070-eeodn

[code]

[2020-02-21 06:29] bluebill1049 commented on #1070
@kotarella1110 try that in a ‘map’

[2020-02-21 06:49] AditShah opened #1074 "value not getting set with <Controller> and setValue in its onChange"
**Describe the bug**
When using Controller to wrap SelectBox, I use setValue in my onChange rather than returning the value, but value is not getting updated.

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-controller-with-setvalue-exhwt

**Expected behavior**
Either value is returned or set manually, in both cases value should be updated.

[2020-02-21 06:56] kotarella1110 commented on #1070
@bluebill1049 Have you checked codesandbox?

[2020-02-21 07:20] bluebill1049 commented on #1070
I did , thanks @kotarella1110 Give it a try with actual codebase, there is a route just for useFieldArray in the automation app: `yarn app:start`

[2020-02-21 07:21] bluebill1049 commented on #1074
The codesandbox is broken, why you attach onChange with setValue? that's not the correct usage.

[2020-02-21 07:25] anilanar commented on #1066
@bluebill1049 On the other hand, when using `useCallback` with a dependency, `useForm` exhibits the same behaviour as the one reported here, whenever the reference for `validationResolver` changes.

I assume when that does happen, registered field elements become unregistered. And because those fields are not remounted, they won't trigger register again. Am I correct?

[2020-02-21 07:31] AditShah commented on #1074
Sorry for broken codesandbox, I have updated it. My question is it should work both ways because it serves same purpose. Can you please elaborate the difference between both approaches?

Thank you for your time

[2020-02-21 07:37] AditShah commented on #1074
My use case: I want to listen to onChange of all formFields and make them call onChange passed to them in prop. Then there is some controlling logic in my FormContainer and then all values are set manually for all fields, but values were not getting updated. Can you please help me the with the correct approach for this use case?

[2020-02-21 07:50] #1074 closed

[2020-02-21 08:09] bluebill1049 commented on #1074
you can still attach onChange but just make sure you return the value

onChange={(e) => {
  // still can do your logic here
  return e.target.value;
}}

[2020-02-21 08:10] kotarella1110 commented on #1070
I think the difference between `ref={register}` and `ref={register()}` is whether we are using `useCallback`.

* `ref={regsiter}`:  passed to `ref` is `useCallback(registerFieldsRef, [defaultValuesRef.current, defaultRenderValuesRef.current])`
* `ref={regsiter()}`:  passed to `ref` is `registerFieldsRef`

[code]

[2020-02-21 08:15] bluebill1049 commented on #1066
It's almost easier and better to leave `resolver` function outside the component.

https://react-hook-form.com/api/#validationResolver

[2020-02-21 08:19] anilanar commented on #1066
Sure, but in my case, I'm doing validation based on a dynamic validation schema, (the schema is a prop). I can force re-mount the whole component, sure, but confirming this either as a bug or as intended would help a lot of people if pointed out in docs.

[2020-02-21 08:45] bluebill1049 commented on #1066
This is not a bug and intended behavior.

<img width="1056" alt="Screen Shot 2020-02-21 at 7 45 11 pm" src="https://user-images.githubusercontent.com/10513364/75018275-affa9b00-54e2-11ea-905d-bb58a9d3436e.png">

Feel free to improve.

[2020-02-21 13:02] reginaldoddm opened #1076 "Validate and submit form by clicking on an external component"
How can I validate and submit a form by clicking on an external component?

In the example below the form is sent without going through validation.

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-cbc8c

[2020-02-21 13:04] bluebill1049 commented on #1076
`handleSubmit(onSubmit)()`

[2020-02-21 13:04] #1076 closed

[2020-02-21 13:08] reginaldoddm commented on #1076
Thanks.
I need the event to be fired from a parent component

[2020-02-21 13:11] kotarella1110 commented on #1066
`validationContext`  can't work in those cases.
We need to leave the `validationContext` outside of the component as well as the `validationResolver` function.

[2020-02-21 17:58] Temkit opened #1077 "How to use react hook form with ckeditor !"
**Describe the question?**

How to integrate ckeditor ! ( Is it possible to Integrate it )

**To Reproduce**

I tried the simple integration way, and also tried with React Hook Form Input can't capture the value of the editor !

[2020-02-21 17:58] benswinburne opened #1078 "Watch behaviour varies on useFieldArray"
**Describe the bug**
The output of `watch` is inconsistent between actions and depending on what you're watching.

**Watching all fields (whole form)**

This starts off with 1 structure (nested) from default values but then on input changes to a path based key structure. It should probably convert the defaults before being used for consistency?

This also has an issue whereby removal of the last f

[2020-02-21 19:33] bpallares opened #1079 "OnBlur validation fails on required checkbox on Safari and Firefox"
**Describe the bug**
When a form is on `OnBlur` mode and has a required input of type `checkbox`, the form validation fails (`isValid` does not get updated) on Firefox and Safari but works correctly on Chrome

**To Reproduce**
Steps to reproduce the behavior:

1. Open the Codesandbox link on Chrome and Firefox
2. Click on checkbox
3. `isValid` gets updated on chrome but not in Firefox

**Codesandb

[2020-02-21 19:59] bluebill1049 commented on #1076
consider move useForm to parent component :)

[2020-02-21 20:04] bluebill1049 commented on #1077
I never used ckeditor, but you can `register` at `useEffect` and `setValue`.

[2020-02-21 20:04] #1077 closed

[2020-02-21 21:09] maithuy commented on #1067
@bluebill1049
Here's the CSB https://codesandbox.io/s/react-hook-form-basic-pvj9o

Thanks

[2020-02-21 21:24] bluebill1049 commented on #1067
This is not a precise example and will take time for me to understand, can you produce a simpler version?

[2020-02-21 21:30] bpallares commented on #1079
Can't reproduce the bug in a windows machine.

[2020-02-21 21:32] bluebill1049 commented on #1078
hey, @benswinburne thanks for the detailed issue report. This is actually an expected result. I think there is something missing in the doc which I should update.

`watch` with field array is challenging for uncontrolled input because there is no such concept of state,  `watch` was meant to made work for input change and reflect what's the user is typing and interaction. however, I do understand o

[2020-02-21 21:34] bluebill1049 commented on #1079
can you please read the value before the render?

`console.log(formState.isValid)`

[2020-02-21 21:34] bluebill1049 commented on #1079
<img width="1056" alt="Screen Shot 2020-02-21 at 7 45 11 pm" src="https://user-images.githubusercontent.com/10513364/75073739-30a2b100-554e-11ea-87cf-420dd02a7999.png">

[2020-02-21 21:35] bluebill1049 commented on #1079
let me know if there is still an issue.

[2020-02-21 21:40] bluebill1049 commented on #1067
I think I get it now, using `id` instead of `name` attribute is not workable for this library.

[2020-02-21 21:40] #1067 closed

[2020-02-21 23:32] stramel commented on #1079
@bluebill1049 What do you mean by the image you posted?

I can confirm the issue on Mac OSX with Firefox. However, I can get it to properly work by tabbing instead of clicking off the input.

As basic as this example is, I wouldn't expect it to fail or need a `validationContext` to properly work.

[2020-02-21 23:34] maithuy opened #1080 "Suppress validation for disabled input"
Hi,

Is there a way to suppress the validation when the input field is disabled?

[code]
Thank you.

[2020-02-21 23:35] bluebill1049 commented on #1079
oops, wrong image... @stramel
<img width="986" alt="Screen Shot 2020-02-22 at 8 34 42 am" src="https://user-images.githubusercontent.com/10513364/75080089-11f8e600-555f-11ea-8cd7-b4e781e5d29b.png">

[2020-02-21 23:37] bluebill1049 commented on #1080
please consider leaving questions at our spectrum channel. Github issues are more for bugs and issue reports.

why not bring this logic {name !== selectedAction} into the validate as well.

[2020-02-21 23:37] #1080 closed

[2020-02-21 23:41] stramel commented on #1079
@bluebill1049 That makes a bit more sense but even doing a `console.log(formState.isValid)` before the render doesn't seem to fix it. https://codesandbox.io/s/crazy-chaum-gzmyn

[2020-02-21 23:46] bluebill1049 commented on #1079
I think this is at (firefox) browser level. looks like firefox is not trigger onBlur event when clicking away.

[2020-02-21 23:46] bluebill1049 commented on #1079
https://bugzilla.mozilla.org/show_bug.cgi?id=756028

[2020-02-21 23:47] bluebill1049 commented on #1079
https://bugzilla.mozilla.org/show_bug.cgi?id=756028

[2020-02-21 23:48] #1079 closed

[2020-02-21 23:49] bluebill1049 commented on #1079
closing this issue :)

[2020-02-21 23:58] stramel commented on #1079
That's fair... but unfortunate...

[2020-02-22 00:04] xiaoyu-tamu opened #1081 "4.9.8 break changes?"
**Describe the bug**
In 4.9.8, form default state will be override by Controller defaultValue, should we add this in the release note?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-rhfinput-xqh38
2. Change react hook form version to 4.9.8
3. The input value become empty string
4. See error

[2020-02-22 00:22] bluebill1049 commented on #1081
I will patch this one. thanks for reporting.

[2020-02-22 00:24] maithuy commented on #1080
@bluebill1049 could you pin point on how to use the validate in the register?

[2020-02-22 00:25] bluebill1049 commented on #1081
here is the fix: https://codesandbox.io/s/react-hook-form-rhfinput-08tik, please verify

[2020-02-22 00:26] bluebill1049 commented on #1080
register({
  validate: value => value === 1
})

[2020-02-22 00:28] xiaoyu-tamu commented on #1081
it works

[2020-02-22 00:38] maithuy commented on #1080
@bluebill1049 Thanks so much for a quick response.

I've tried this and it works, it's kind of a manual fix, but it solves the problem I'm facing. I'll check out the api.

[code]

[2020-02-22 00:45] ehahn9 commented on #1068
I think it's solved (yay!) -- the **callback signature of `onChanged` is truly odd (see below)**. Closing the issue with this final solution:

[code]

I've no idea why that signature is in play -- seems very surprising to me (an array as the arg?) but that is indeed what I get back. Interestingly, this is only odd for checkboxes and selects -- regular input fields don't need the special onChange..

[2020-02-22 00:45] #1068 closed

[2020-02-22 00:53] bluebill1049 commented on #1068
awesome. because we propagating the arguments with spread operator. maybe we can improve on the next major version.

[2020-02-22 01:03] bpallares commented on #1079
Thanks for the help @stramel @bluebill1049 !

[2020-02-22 01:09] bluebill1049 commented on #1081
It looks like what we fixed was correct (after some testing). inline defaultValue will overwrite defaultValues. I will update the doc for such behavior, although I should probably have published as a minor update instead of a patch.

[2020-02-22 01:21] xiaoyu-tamu commented on #1081
That's what I thought. Probably it was a bug in my code. LOL. Your effort is appreciated

[2020-02-22 01:33] bluebill1049 commented on #1081
@xiaoyu-tamu not your bug at all, it was a bug at our codebase.  🙏 I will update you when documentation is updated.

[2020-02-22 01:45] bluebill1049 commented on #1081
<img width="907" alt="Screen Shot 2020-02-22 at 12 45 26 pm" src="https://user-images.githubusercontent.com/10513364/75084005-3d84cc00-5571-11ea-8aad-b9cea2155707.png">

let me know if this sounds ok?

[2020-02-22 01:56] bluebill1049 commented on #1078
Here is the updated documenation:

<img width="930" alt="Screen Shot 2020-02-22 at 12 55 58 pm" src="https://user-images.githubusercontent.com/10513364/75084208-b0db0d80-5572-11ea-81c8-2f2e138bbf1d.png">

[2020-02-22 02:02] xiaoyu-tamu commented on #1081
LGTM

[2020-02-22 02:09] bluebill1049 commented on #1081
Deploying the update to website :)

[2020-02-22 02:09] #1081 closed

[2020-02-22 02:10] bluebill1049 commented on #1078
Deploying the docs update to the website.

[2020-02-22 02:10] #1078 closed

[2020-02-22 02:10] bluebill1049 commented on #1078
let me know if you have more questions or concerns.

[2020-02-22 05:39] stramel commented on #1079
Here is the Safari bug (13 years): https://bugs.webkit.org/show_bug.cgi?id=13724

[2020-02-22 16:11] sidyes opened #1084 "Using watch blocks form input"
**Describe the bug**
I am using gatsby with typescript and react-hook-form.
It is working just fine but when I am using the `watch` functionality to conditionally render form elements it is not really working.

It seems that `watch`is somehow blocking the input and I cannot uncheck / untoggle (or whatever form element I use) anymore.

**To Reproduce**
Check out my sandbox link and click on "yes"

[2020-02-22 16:15] #1084 closed

[2020-02-22 17:28] mikejav opened #1085 "[useFieldArray] React renders removed item"
**Describe the bug**
When I use third party library that provides input component (e.g. @material-ui) if I have more than one field in dynamic array form, if I remove some "records" the renderer broke up (it seems like react try to render all "records" of the array form, but also the last removed one (see logs in console)).

**To Reproduce**
1. Go to life example: https://stackblitz.com/edit/react

[2020-02-22 19:13] xiaoyu-tamu commented on #1085
use controller

[code]

[2020-02-22 21:03] bluebill1049 commented on #1085
For an external controlled component, please consider using Controller.

[2020-02-22 21:31] xiaoyu-tamu opened #1086 "Inconsistent re-render when initial state type are different"
**Describe the bug**

When use watch in subcomponent,  looks like RHF re-render strategy are different.

* The first input ( number ) DONOT trigger re-render when input value same as original default state

* The second ( string ) and third ( boolean ) input trigger re-render when input value same as original default state

Which strategy is correct?

![ezgif com-video-to-gif (1)](https://user-ima

[2020-02-22 21:41] mikejav commented on #1085
This is what I overlooked in the documentation.
Thank you guys

[2020-02-22 21:42] #1085 closed

[2020-02-22 22:53] bluebill1049 commented on #1043
https://spectrum.chat/react-hook-form/help/how-to-do-parse-and-format~2c0224a1-f3df-4e8a-821b-ea5e51328a32

[2020-02-22 23:07] bluebill1049 commented on #1086
interesting... it's actually a bug, i souldn't re-render at all...

[2020-02-22 23:31] #1086 closed

[2020-02-23 22:29] bennettrogers commented on #997
I was trying to do something similar: I want the form values that I send to my API to be as simple as possible, and that means using values/IDs/slugs instead of an entire object from something like React Select. I was having trouble getting it to work, but then I saw @bluebill1049's suggestion to wrap React Select in an intermediate component. That seems to do the trick, but it requires an odd hac

[2020-02-23 22:43] bluebill1049 commented on #997
i will take a look @bennettrogers

[2020-02-23 23:40] bluebill1049 commented on #997
`valueName` is made for prop which is not named as `value`, for example: `checked`.

<img width="916" alt="Screen Shot 2020-02-24 at 10 39 34 am" src="https://user-images.githubusercontent.com/10513364/75122483-f8d46e80-56f1-11ea-9000-8ad65a306ff0.png">

@fjuriolli do you have a working example that you could share?

[2020-02-24 00:00] bennettrogers commented on #997
Yes. In this case though I think I'm using `valueName` in an unintended way to achieve a result I need.

The problem is that I want the form value stored in RHF to be e.g. a simple string, but React Select expects a prop called `value` that is the entire selected option value. If I store a string value in RHF, even if I then translate that string to an object value to pass to the React Select prop

[2020-02-24 00:17] bluebill1049 commented on #997
can you try the following?

[code]

[2020-02-24 00:59] bennettrogers commented on #997
[Here's](https://codesandbox.io/s/react-hook-form-select-example-2-j8qdm) a CodeSandbox trying that suggestion (let me know if this isn't what you meant).

This doesn't seem to work quite right since the form value is now the full object instead of just the slug string.

[2020-02-24 02:29] xiaoyu-tamu opened #1090 "Add a way to skip Contorller#commonTask getInputValue() call"
**Is your feature request related to a problem? Please describe.**

When use Controller with custom input, If the value object is {id:1, value:"ABC"}, controller will set next value to "ABC" because getInputValue will try to get obj.value first. Should it be {id:1, value:"ABC"}?

https://github.com/react-hook-form/react-hook-form/blob/master/src/controller.tsx#L59
and
https://github.com/react-hook

[2020-02-24 02:43] bluebill1049 commented on #997
here you go: https://codesandbox.io/s/xenodochial-water-mvhbq

[2020-02-24 02:46] bluebill1049 commented on #1090
I think we can improve it by check if it's a input event (not just `SyntheticEvent`). You interested to send over a PR? Also I think it's better leave logic inside `getInputValue`.

[2020-02-24 02:48] xiaoyu-tamu commented on #1090
Sure, I'll give it a try

[2020-02-24 02:50] bluebill1049 commented on #1090
awesome work on this: https://github.com/xiaoyu-tamu/material-ui-hook-form I left you a ⭐️ :)

[2020-02-24 02:51] bluebill1049 commented on #1090
i need to include packages like this into the website...

[2020-02-24 02:54] xiaoyu-tamu commented on #1090
Thanks, It's still a WIP

[2020-02-24 10:54] zeljkoX opened #1093 "useFieldArray Unexpected behaviour"
Use case:

Depending on a previously selected form field(for example radio button) display additional fields.

For example:
When "isOrganization" is selected display input field for the organization name and when it is not selected display input fields for first name and last name.

I tried to implement this use case without useFieldArray but as the length of fields is not equal I was getting weir

[2020-02-24 11:23] bluebill1049 commented on #1093
what about this approach: https://codesandbox.io/s/react-hook-form-usefieldarray-913gm

[2020-02-24 11:33] zeljkoX commented on #1093
Thank you for the quick response.

I have adopted my example to include your approach and it is working.

https://codesandbox.io/s/react-hook-form-usefieldarray-4m4iz?fontsize=14&hidenavigation=1&theme=dark

[2020-02-24 12:06] #1093 closed

[2020-02-24 13:27] fjuriolli commented on #997
I'm using like this: https://codesandbox.io/s/react-hook-form-rhfinput-2f4rn

I send only the id, and when I receive the id from my api, I need to load my select with the object, I do something like this:

[code]

[2020-02-24 15:25] bennettrogers commented on #997
Neat, that seems to be working, but I don't understand how! I see that the Select component is getting its value from the `selectedOption` state, but `setSelectedOption` is never getting called. Where is the magic happening?

[2020-02-24 17:21] StKostyantin opened #1094 "Controller doesn't work with nextjs"
I use antd and the same example works fine with create-react-app, but nextjs crashes.

For easier code reuse, I wrote my module for the form to connect antd and react-hook-form

Sample code for using normal inputs in my module:
[code]

This is how I use this code in creating a form:
[code]

And I see such an error:
![image](https://user-images.githubusercontent.com/45784115/75175114-66a48880-573a-

[2020-02-24 21:06] bluebill1049 commented on #1094
[code]
try to comment out the above code and see if the errors goes away.

[2020-02-24 21:09] gordysc commented on #1094
I was able to repro this issue as well, it looks like the issue was introduced somewhere between RHF v4.9.6 and v4.9.8.   It does work (for me) w/ 4.9.6.

[2020-02-24 21:10] bluebill1049 commented on #1094
oh thanks @gordysc I will investigate on this issue. can you share a simple codesandbox with nextjs?

[2020-02-24 21:11] bluebill1049 commented on #1094
I shouldn't work with CRA as well, it's strange... I am sure there is something that I have broked.

[2020-02-24 21:14] gordysc commented on #1094
@bluebill1049 sure! I've created a basic repo to show the issue:
https://github.com/gordysc/rhf-example

**Note:** If you change `^4.9.6` to `4.9.6`, blow away `node_modules` and `yarn.lock` to force 4.9.6, it'll work... but w/ 4.9.8, it causes the issue above.  Thanks for the fast response!

[2020-02-24 21:17] bluebill1049 commented on #1094
thanks @gordysc i will take a look at during lunchtime or tonight.

[2020-02-24 22:06] sdornan commented on #1094
Looks like 4.9.7 is okay too, so the bug seems to have been introduced in 4.9.8.

[2020-02-24 22:21] bluebill1049 commented on #1094
Thanks @sdornan I think I know the root cause of this one, will try to send out a beta version for the fix when I am arriving at the office.

[2020-02-24 22:49] bluebill1049 commented on #1094
can you guys test this one: react-hook-form@4.9.9-beta.1

[2020-02-24 23:34] vensauro commented on #1069
I have this issue after update the lib to 4.9.8

[2020-02-24 23:37] bluebill1049 commented on #1069
what's the issue?

[2020-02-24 23:46] vensauro commented on #1069
ops, i deleted the comment because was examining, sorry
with the defaultValue in prop, the TextField is not reseted

here is an sandbox: [example](https://codesandbox.io/s/confident-noyce-srny1)

[2020-02-24 23:49] bluebill1049 commented on #1069
looks like it's working for me. @vensauro

[2020-02-24 23:52] vensauro commented on #1069
the second input in the sandbox is reseting?
on here this is not getting the value 'filedd'

[2020-02-24 23:54] gordysc commented on #1094
Works great for me! I imagine you tested this against my repo though, so would be interested to hear if it works for others.  Thanks for the super fast turn around!

[2020-02-24 23:58] bluebill1049 commented on #1094
no worries @gordysc. one more confirm i will merge the PR, i will probably release this fix over the weekend, cause i have merge a new feature last weekend, need a bit more testing on it before let it out.

[2020-02-24 23:59] bluebill1049 commented on #1069
oh let me double check.

[2020-02-24 23:59] vensauro commented on #1069
![Screen record from 2020-02-24 20 58 47](https://user-images.githubusercontent.com/41435789/75201933-8fcc1580-5748-11ea-903f-c5c0a0ec7e44.gif)

[2020-02-25 00:00] bluebill1049 commented on #1069
oh it's due to `defaultValue=""` can you set defaultValues instead? we made a proper fix now, inline `defaultValue` take priority over `defaultValues`

[2020-02-25 00:05] vensauro commented on #1069
yeah, i can do it, thanks for the answer ^^

[2020-02-25 00:09] #1090 closed

[2020-02-25 00:10] #1094 closed

[2020-02-25 00:14] bluebill1049 commented on #1069
Welcome @vensauro

[2020-02-25 09:03] StKostyantin commented on #1094
Thanks, works great for me!

[2020-02-25 09:09] bluebill1049 commented on #1094
Thanks @StKostyantin will release the minor version this weekend.

[2020-02-25 09:28] StKostyantin opened #1096 "Add setSubmitting function"
In the documentation I did not find an example of how to control isSubmitting.

[Formik has setSubmitting functionality](https://jaredpalmer.com/formik/docs/api/formik#setsubmitting-issubmitting-boolean--void)

I need to manually specify isSubmitting = false. Because I use redux-saga and my requests are sent through the store.

[code]

Here is the handle I use with formik:
[code]
There is an oppor

[2020-02-25 09:45] DisaPadla opened #1097 "issue with clear array errors in FieldArray"
When "errors" is empty the array is not been removed in "errors" object

Steps to reproduce the behavior:
1. remove value from the first input
2. submit button should be disabled
3. enter "10" to the first input
4. submit button still disabled
5. look at `console.log(errors);`. We still have an array in "errors" object

**Expected behavior**
submit button should be active

**Codesandbox link**
htt

[2020-02-25 10:06] bluebill1049 commented on #1096
In React Hook Form, it's happening automatically, you can subscribe to formState isSubmitting.

[2020-02-25 10:22] StKostyantin commented on #1096
Yes I know)
But I need the ability to manually control this state, because if you look at my example, then I use callbacks to transfer data from the saga to my component.
When the action is triggered, the state changes to false without waiting for the saga to complete.

[2020-02-25 10:26] bluebill1049 commented on #1096
i don't think we will add such function, you will have to use await inside `handleSubmit`.

[2020-02-25 10:42] Skysplit opened #1098 "Field array rearrangement preserves values from other fields"
**Describe the bug**
When rearranging set of fields, very often values from one field are stored or copied to another fields.

**To Reproduce**
Steps to reproduce the behavior - based on codesandbox
1. Add item to second section
2. Click `shuffle` (or move newly created item by yourself using drag&drop)
2. Click `values`
2. Check console log
2. Console shows `id: 4` for newly created value that sh

[2020-02-25 11:06] StKostyantin commented on #1096
I can’t just write await to wait for the fork saga query.
This needs to be done through a promise and yes it is real, but it adds an extra 5 lines of code to each request, which could be done with one of the APIs.

[code]

But all the same, thank you very much for the answer, I really like this library)

[2020-02-25 11:06] #1096 closed

[2020-02-25 11:11] bluebill1049 commented on #1096
hey @StKostyantin sorry for not accepting the feature request... trust me the last thing i want to do is to deny someone's feature request while still remain the lib to be simple. it's a tradeoff that i have to take sometimes... hope you will understand. 🙏

[2020-02-25 11:56] bluebill1049 commented on #1097
https://codesandbox.io/s/react-hook-validate-trigger-sb1lj

[2020-02-26 04:33] bluebill1049 commented on #1098
hey @Skysplit thanks for the detailed issue report, to be honest i haven't tried with drag and drop with useFieldArray. can you keep provide a simple example?

[2020-02-26 04:34] bluebill1049 commented on #1043
I am going to close this issue, feel free to send PR @dskiba when you got the controller version ready :)

[2020-02-26 04:34] #1043 closed

[2020-02-26 06:28] DZakh opened #1100 "Wrong name of an option in the doc"
**Describe the bug**
The hook option `reValidateMode` in doc, in reality, is called just `mode`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hook-form.com/api
2. Look for `reValidateMode`
3. Go to https://codesandbox.io/s/react-hook-form-errors-validatecriteriamode-all-5l2lm
4. Look for `mode`

**Additional context**
It was very difficult to debug :)

[2020-02-26 07:03] gongallego opened #1101 "Android TextInputs with watch: The first written letter is deleted"
I want to change the style of my input when it has text or not. To see the value of the input I use the watch method. I have the problem that when I write some text in the input, the first letter I write is removed applying the old style, and after that, it changes the style, so the second letter I write looks with the new style. I have seen that the problem occurs only on Android devices

My code

[2020-02-26 07:28] bluebill1049 commented on #1100
what's the issue in here?
[code]

they r two seperate thing.

[2020-02-26 07:29] bluebill1049 commented on #1101
have you tried with Controller?

[2020-02-26 07:30] DZakh commented on #1100
`revalidateMode` didn't work for me, compare to `mode`.

[2020-02-26 07:36] DZakh commented on #1100
Ah, sorry, I got it. `revalidateMode` works with errored fields. My fault.

[2020-02-26 07:36] #1100 closed

[2020-02-26 07:43] gongallego commented on #1101
Yes, but there I have the problem that in Android:
args[0].nativeEvent.text
is undefined

[2020-02-26 07:44] bluebill1049 commented on #1100
yep, all good :)

[2020-02-26 08:13] antonbehaeghe opened #1102 "Required configuration as object not working as expected"
When configuring the required value in a register function as an object, it's not working as expected. According to the documentation it can be a string, or an object with a value and a message. When configured as an object it is always required  even when the value is set to false.

`ref={methods.register({
            required: {
              value: false,
              message: "also required"

[2020-02-26 08:35] bluebill1049 commented on #1102
Please use the latest version: https://codesandbox.io/s/react-hook-fom-required-manual-register-tp2tk as we have already patched this.

[2020-02-26 08:35] #1102 closed

[2020-02-26 09:41] DisaPadla commented on #1097
Another case which relates to this issue
https://spectrum.chat/react-hook-form/help/error-jumps-to-the-first-field-of-an-array~394e44a8-7cdd-4b3b-adf3-748ce444eca3

[2020-02-26 11:39] Amtron opened #1104 "using useFieldArray and want to use onChange to set a value"
I'm using useFieldArray to render 'payment' fields and one of the fields required is a 'DatePicker'. I can't figure out how to set the value of DatePicker. I can't assign name or register to it because the DatePIcker isn't rendered to the page as an input. I've tried to set the field by passing a function to the DatePicker's onChange prop called 'setPaymentDate':

[code]
[code]

This function does

[2020-02-26 11:49] zahir-koradia opened #1105 "Using an array of fields with yup for validation"
**Describe the bug**
When using yup for validating a form that has an array of nested shapes, the errors object for the array of fields doesn't have any way to identify which item in the array is invalid.

It is possible that I am just using the errors object wrong here, in which case, it would be great to know the right way to do this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to h

[2020-02-26 11:51] bluebill1049 commented on #1105
I think the issue is reported here as well: https://github.com/react-hook-form/react-hook-form/issues/1097

[2020-02-26 12:13] zahir-koradia commented on #1105
Thanks Bill. I saw that issue, but wasn't quite sure if it's the same root cause. Please let me know if/when you would like me to test any changes.

[2020-02-26 12:21] ivan-kleshnin commented on #942
@stramel I think `forwardRef` is an antipattern. For example, you don't know if the field was required or not inside an element:

[code]

unless you duplicate that information in a separate prop.

[code]

Same logic can be applied to other information that you pass to `register`.

[2020-02-26 15:36] pedrosimao commented on #284
I am facing the same issue. Hidden fields don't seem to work correctly...
I will did manage to get it working by setting CSS `display: none` instead of using `type="hidden"`

[2020-02-26 16:08] Rodrigo816 opened #1107 "Component is rendering twice when using validationSchema"
**Describe the bug**
When I use validationSchema the component renders two times. I'm using React Native.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://snack.expo.io/SyPpIMNNU
2. Open the console and check it renders two times
this is a simple demo.

**Expected behavior**
Component should render only one time.

**Version**
react: 16.9.0
react-native: 0.61.5,
react-hook-form:

[2020-02-26 17:03] mikeislearning opened #1108 "Using mode: 'onChange' does not trigger validation, but 'onBlur' works fine"
**Describe the bug**

Whenever I set `mode: 'onChange'` it does not work as expected after I start typing into a form input field.
Putting anything into `reValidateMode` seems to have no impact

**To Reproduce**

1. Set mode to 'onChange' in the useForm declaration, and use the `Controller` component for all form fields in React Native
2. Ensure you're using `watch()`
3. Use a validationSchema lik

[2020-02-26 20:57] bluebill1049 commented on #1105
let's keep this issue, I will verify and release beta and get you guys to help on test the fix.

[2020-02-26 21:01] bluebill1049 commented on #1108
can you please provide a codesandbox for this isseu?

[2020-02-26 21:03] bluebill1049 commented on #1107
I couldn't get that expo link to work (maybe try codesandbox). Could you provide more detail?  when it's double re-render?

[2020-02-26 21:17] bluebill1049 commented on #1107
try to remove all hook form code, the expo itself re-render twice.

[2020-02-26 21:23] mikeislearning commented on #1108
Actually I ended up solving my own issue

The problem was that I didn't set the 3rd parameter for the `setValue` to `true`. So it's all good

Thank you @bluebill1049  for your timely response!

[2020-02-26 21:38] bluebill1049 commented on #1108
Cool awesome :) thanks for the update.

[2020-02-26 21:38] #1108 closed

[2020-02-27 01:45] #1070 closed

[2020-02-27 04:10] bluebill1049 commented on #1105
can you please test on this beta for us? `4.9.9-beta.2`

[2020-02-27 04:46] bluebill1049 commented on #1097
please help testing on `4.9.9-beta.2`

[2020-02-27 04:47] bluebill1049 commented on #1101
what's inside of args[0]?

[2020-02-27 07:11] DisaPadla commented on #1097
@bluebill1049 I found only 4.9.9-beta.1 on codesandbox. I could test on my own project

[2020-02-27 07:15] bluebill1049 commented on #1097
hey @DisaPadla you can install this beta on the CSB :)

[2020-02-27 07:31] DisaPadla commented on #1097
@bluebill1049  look at this example
https://codesandbox.io/s/formstate-is-not-still-valid-after-removing-items-ycu19

1. Append two items
2. make "onBlur" for both new items
3. Remove second and third items

**Result**
`formState.isValid` is still false. `errors` object contains `test: [undefined]`

[2020-02-27 07:35] Tocknicsu opened #1110 "Enhance get.ts to support complicated structure"
https://codesandbox.io/s/react-hook-form-unregister-bhdwm

Here is a minimum app. Due to legacy code, I have some field name looks like `["first.name"].test`. And `defaultValue` cannot fill value to it. However, `onSubmit` looks work fine. And my temporary solution is change the field name after download data from server then rename again before send to server.

I also trace some code, it looks li

[2020-02-27 07:45] Amtron commented on #1104
I updated to the latests version and used setVaue which now works with useFieldArray :thumbsup:

[2020-02-27 07:51] #1104 closed

[2020-02-27 07:53] bluebill1049 commented on #1097
aha awesome thanks!

[2020-02-27 08:09] DisaPadla commented on #1097
I didn't find anything else.

[2020-02-27 08:10] bluebill1049 commented on #1097
Awesome thanks a lot, I will patch that issue tonight. ❤️

[2020-02-27 08:45] zahir-koradia commented on #1105
The bug is fixed in this beta. Thank you so much for such a quick turn around.

[2020-02-27 08:45] bluebill1049 commented on #1105
thanks @zahir-koradia for the testing. FYI: i still got one more bug to fix and we will release the minor version this weekend :)

[2020-02-27 09:06] bluebill1049 commented on #1097
patched: https://codesandbox.io/s/formstate-is-not-still-valid-after-removing-items-ewufu making PR for the fix now :)

[2020-02-27 09:16] bluebill1049 commented on #1110
is there a way for you to get around this issue without modify the lib?

[2020-02-27 09:18] DisaPadla commented on #1097
`formState.isValid` is still false. Is it okay?

[2020-02-27 09:20] bluebill1049 commented on #1097
u sure? works for me:
![Screen Shot 2020-02-27 at 8 19 46 pm](https://user-images.githubusercontent.com/10513364/75429850-89cf7200-599e-11ea-9f6a-77683d5b3446.png)

https://codesandbox.io/s/formstate-is-not-still-valid-after-removing-items-ewufu

try again, maybe i forgot to save.

[2020-02-27 09:23] DisaPadla commented on #1097
Oh, look at this case:
1. Append a second item
2. Append a third item
3. Make onBlur for the second item
4. Make onBlur for the third item
5. Click on Delete for the SECOND item
6. Click on Delete for the third item
`IsValid` is false

But if you replace 5 and 6 steps, like
5. Click on Delete for the THIRD item
6. Click on Delete for the second item
all looks good

[2020-02-27 09:28] bluebill1049 commented on #1097
interesting... you are right

[2020-02-27 09:29] Tocknicsu commented on #1110
Yes, the simplest way without modify the lib is changing the field name and then processing data one by one to fit origin format after submit.

[2020-02-27 09:37] bluebill1049 commented on #1110
cool, you happy if we put this into the backlog and come back to it as it's not high priority as others.

[2020-02-27 10:16] #1105 closed

[2020-02-27 10:59] Rodrigo816 commented on #1107
Hello,

Sorry I didn't check the default behavior of expo.

I made a demo to Illustrate the behavior.
https://github.com/Rodrigo816/ReactHookFormDemo

You can run the project by
` npm install`
`react-native run-android`

I'm also gonna paste the code here:

[code]

I think there is nothing wrong with the code.

![hooks](https://user-images.githubusercontent.com/12116265/75438345-4eee1f80-5947-11ea

[2020-02-27 11:07] gongallego commented on #1101
were all fields, but initialized to undefined.

Anyway, I changed the inputs to Controller again, I deleted all the caches and it seems that the Controller works. I keep wondering why without the Controller is not running

[2020-02-27 11:09] bluebill1049 commented on #1101
cool glad it's working then.

[2020-02-27 11:09] bluebill1049 commented on #1101
i am going to close this as it's working for you now.

[2020-02-27 11:09] #1101 closed

[2020-02-27 11:15] bluebill1049 commented on #1098
I will put this one to the back log, currently we don't support drag and drop behaviour just yet and haven't tested with any lib as well.

[2020-02-27 11:15] #1098 closed

[2020-02-27 16:37] krnlde commented on #447
Hey hey hey! I'm back again with a wonderful variation of this bug! This time it's a little more complicated to reproduce, but it's the same error as the original title states.

If I have nested error objects (as recommended in the [API docs](https://react-hook-form.com/api#errors)) I can produce an invalid state, despite being valid.

**To reproduce:**

1. Go to this sandbox: https://codesandbox.

[2020-02-27 17:15] violabg opened #1113 "useFieldArray non resetting errors"
Hi, I found a bug on useFieldArray related to errors.

basically if you track errors in an item of useFieldArray, even when the field is valid, the errors object it's not empty, but has an empty object at errors.test[1] level.
Only if I click the submit button the errors object is empty

this means that formState.isValid is never valid unless you click the submit button.

This is a problem for me