[2020-08-09 22:59] #2535 closed

[2020-08-10 05:16] kayuapi opened #2538 "Name with nested behaviour (using dot in name) causes dirtyFields to misbehave"
Name with nested behaviour (using dot in name) causes dirtyFields to misbehave

The CSB shows that in 'the name without nested', when type random text to make the field dirty, then remove the item, the dirtyFields is behaving as intended.

However in CSB  in 'the name with nested', when type random text to make the field dirty, then remove the item, the dirtyFields is not behaving as intended. Wil

[2020-08-10 07:34] Acidic9 opened #2540 "Allow array to be passed to pattern validation"
**Is your feature request related to a problem? Please describe.**
It is difficult to provide individual error messages when a complex regex pattern is provided.

**Describe the solution you'd like**
I would like to provide help messages when specific regex patterns are not matched.
Eg:
[code]

**Describe alternatives you've considered**
I considered using the validate function callback to manuall

[2020-08-10 07:37] bluebill1049 commented on #2540
please use validation for complex validation logic or even consider schema validation.

[2020-08-10 07:37] #2540 closed

[2020-08-10 07:46] c0d3x opened #2541 "IE11 bug in 6.3.1"
Module not found: Error: Can't resolve '@babel/runtime-corejs3/core-js/get-iterator-method' in '/node_modules/react-hook-form/dist'

[2020-08-10 07:51] bluebill1049 commented on #2541
did you get a runtime error? can you supply a screenshot?

[2020-08-10 07:58] c0d3x commented on #2541
I just changed it back to 6.3.0, dont have the time to debug now. Just wanted to let you know.
All you have to do to is run **npm run build** and you get those error message as long as you use the IE11 version in your code.
`import { useForm } from 'react-hook-form/dist/index.ie11';`

[2020-08-10 08:05] bluebill1049 commented on #2541
Thanks @c0d3x

[2020-08-10 08:06] bluebill1049 commented on #2541
@kotarella1110 would you have any clue on this one: https://codesandbox.io/s/pedantic-mahavira-g1x6z?file=/src/App.js

[2020-08-10 08:06] bluebill1049 commented on #2541
pretty sure, it's caused by this PR: https://github.com/react-hook-form/react-hook-form/commit/7ad6e082515aabe9a4021e1aab057576cf184dc3

[2020-08-10 08:07] smashercosmo commented on #2492
And what's exactly bad about it?

[2020-08-10 08:16] bluebill1049 commented on #2492
It's not Controller form, `defaultValues` is meant to set up the initial form. If every renders update input values, it defeats the purpose.

[2020-08-10 08:23] smashercosmo commented on #2492
Maybe we could introduce another property - "values"? so "defaultValues" will still be memoized and "values" will reinit the form every time it changes?

[2020-08-10 08:30] bluebill1049 commented on #2492
Thanks @smashercosmo that's one potential solution as well.

[2020-08-10 11:20] adhrinae commented on #2492
Sounds like his suggestion is dropping the advantage of uncontrolled component, but we can provide the option that our users can choose. 🙂

[2020-08-10 11:25] bluebill1049 commented on #2492
I think we will keep this issue open for another week and gather all the input and feedback for the feature request. Probably will not be worked on right away.

[2020-08-10 12:30] jmlopezo commented on #2535
Thanks, that's how it works, although I have to call another method inline.

[2020-08-10 12:41] josias-r commented on #580
I ended up on this issue because of the "validate" method with the same type interference. From the types it seems the validation method does not support returning an object with the message.
In general: Why not allow all types but throw a browser console warning including the error message value, saying it should be a string?

I'm doing this as a workaround, better ideas are appreciated too:

[co

[2020-08-10 13:02] zelucena opened #2544 "Bring the old SetValue method signature"
I read the new migration guide and I found the new way of writing setValue so verbose. The old one was very intuitive and concise.

[code]

What about providing a method called `setValues`, `setValueList` or something alike with the old signature and new piece of code underneath?
Sure thing I could do that myself and it should work, but I'd be relying on unofficial / unmantained layer of software

[2020-08-10 15:32] josias-r opened #2547 "Hydrated dirtyFields object with data"
**Is your feature request related to a problem? Please describe.**
I come from an example where we use a Form to PATCH data in a DB. This PATCH only required the modified/dirty data to be sent, of course. Currently, a dirtyData object needs to be built manually for every form which is inconvenient and probably not the most performant solution.

**Describe the solution you'd like**
It would be awes

[2020-08-10 16:13] DawidNazarko opened #2548 "dirty and dirtyFields don't work as expected with a field array"
**Describe the bug**
`dirty` is true and `dirtyFields` is not empty object when I focus and blur a field from field array

**To Reproduce**
Steps to reproduce the behavior:

1. Click on a field with text `Click me then click outside`
2. Click outside of this field
4. In console is
[code]

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-yvycu?fil

[2020-08-10 18:13] lassekl92 commented on #532
For me it doesn't work to await userEvent.type. Still get the error. Wrapping in act did work though.

[2020-08-10 21:04] HadiSDev opened #2550 "Input type="number" || outputs string on submit"
**Describe the bug**
Input type="number" seems to output a string value regardless of the type

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://codesandbox.io/s/react-hook-form-basic-forked-628hn?file=/src/index.js
2. Write a number in the number field.
3. Press submit
4. See in the alert that the field outputs a string instead of a number

**Codesandbox link (Required)**
Incl

[2020-08-10 23:00] bluebill1049 commented on #2550
This is expected behavior, naive input produce `string` at submitting unless use `valueAsNumber`.

**Solution:**

https://github.com/react-hook-form/react-hook-form/tree/master/examples

https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc

[2020-08-10 23:00] #2550 closed

[2020-08-10 23:01] bluebill1049 commented on #2548
could you test out the latest version? it's probably been patched.

[2020-08-10 23:05] bluebill1049 commented on #2544
Yes, totally agree. I will ping this one on the feature request board, if many users want this feature, let's bring another separate API: `setValues`

[2020-08-10 23:06] #2544 closed

[2020-08-10 23:08] bluebill1049 commented on #2547
Thanks for the feature request @josias-r. I think this one is probably better to leave the logic at your App level.

[2020-08-10 23:09] bluebill1049 commented on #2488
hey @yhor1e the solution didn't work :( if you have any insight please assist, for now i will revert that change :(

[2020-08-10 23:10] #2541 closed

[2020-08-10 23:14] bluebill1049 commented on #532
we have a testing section now: https://react-hook-form.com/advanced-usage/#TestingForm probably worth to have  read

[2020-08-10 23:40] bluebill1049 commented on #2516
hey @meman just a quick follow up, is the above solution solves your problem?

[2020-08-10 23:42] zelucena commented on #2544
Thanks for your time

Em seg, 10 de ago de 2020 20:06, Bill <notifications@github.com> escreveu:

[2020-08-11 01:23] kotarella1110 commented on #2419
@djMax I think this will be resolved in v6.3.1, what about?

[2020-08-11 01:35] bluebill1049 commented on #2419
Thanks for the follow-up @kotarella1110 🙏

[2020-08-11 02:30] yhor1e commented on #2488
@bluebill1049

Sorry, I didn't notice this comment.
My opinion is as I've written in https://github.com/react-hook-form/react-hook-form/pull/2542#issuecomment-671662784.

[2020-08-11 02:34] frank-martinez-27 commented on #1993
This happens to me as well, any news on this issue?

[2020-08-11 03:57] djMax commented on #2419
Looks good!

[2020-08-11 04:22] bluebill1049 commented on #2419
fanatic 🥇 thanks @djMax and @kotarella1110's amazing PR 🙉

[2020-08-11 04:54] bluebill1049 opened #2552 "Do you have a reusable components/libs build with React Hook Form?"
If you have built a reusable component or lib, let us know, we can include in the resource pages. I am planning to redesign the resource page to include more useful contents.

[2020-08-11 04:54] #2552 closed

[2020-08-11 06:30] josias-r commented on #2547
Hmm okay... I'm still curious about the mentality behind that. You don't give the devs an easy opportunity to PATCH dirty fields only. Should I consider patching all data from the form, is that what you expect people to do?
I'm asking because doing this every time is annoying (we have a lot of forms in our application) and maybe it's just overengineering. Otherwise, I will simply wrap the hook, si

[2020-08-11 06:42] bluebill1049 commented on #2547
Sorry, if you felt this way. That's not our intention. Honestly, I can easily introduce such an API if this is a library that is consumed individually or just a personal project. it's important to make things work for developers and also keep things simple, minimal and elegant at lib level.

I think we have already exposed `dirtyField` which you can map the dirty fields and build a function to map

[2020-08-11 06:45] DawidNazarko commented on #2548
Sure. I switched to 6.3.2 and the result is `isDirty` true and `dirtyFields` is an empty object. So `isDirty` is still wrong.

[2020-08-11 06:50] bluebill1049 commented on #2548
ok, i look at your description again, why focus and blur should change dirty to `true`?

[2020-08-11 06:53] DawidNazarko commented on #2548
I mean focusing and bluring a field causes `dirty` being set to `true` but I expect `false`.

[2020-08-11 06:55] bluebill1049 commented on #2548
oh thanks! that's a bug.

[2020-08-11 08:50] #2538 closed

[2020-08-11 08:53] josias-r commented on #2547
Hmm okay. No the `feature request` is not needed, since I'm the first one to ask for this, it's probably not something a lot of people need.
I'm wrapping the hook in a customized one (fully typed) and I will post my solution once it's finished (currently just fighting with passing the generic types down)

[2020-08-11 08:55] bluebill1049 commented on #2547
That's awesome! thanks for sharing the solution. 👍

[2020-08-11 10:19] meman commented on #2516
Hey @bluebill1049, watching the top level array ie the root did help, however i am now battling over rendering. However that is nothing that using memo could not solve

[2020-08-11 10:19] SharadKumar opened #2556 "formState.isValid should be undefined when mode is not onBlur or onChange"
**Is your feature request related to a problem? Please describe.**
`formState.isValid` should be undefined when mode is not `onBlur` or `onChange`.

**Describe the solution you'd like**
Console warnings are displayed. Instead of documentation, I suppose this can be handled in code instead and forms will be able to handle it better too, when `isValid` is not applicable.

Unless, I've missed a point

[2020-08-11 10:23] bluebill1049 commented on #2516
can you at least isolate that re-render at a single component level with `useWatch`?

[2020-08-11 10:30] SharadKumar commented on #2556
Okay, so I am trying to get optimal behaviour for the Submit button.

[code]

Use cases:
- Submit disabled when form is not dirty (since user may have `touched` but haven't changed anything)
- Submit should be disabled during the submit, hence `submitting` prop
- Submit should be enabled for default form mode 'onSubmit' unless it has been submitted and there are `errors`. At that time, I have `for

[2020-08-11 10:33] bluebill1049 commented on #2556
can you please submit a codesandbox with your issue?

[2020-08-11 10:40] meman commented on #2516
UseWatch did not working for me, so i had to use watch

[2020-08-11 10:42] bluebill1049 commented on #2516
can you share a codesandbox when `useWatch` not working? we can looking into it.

[2020-08-11 11:27] SharadKumar commented on #2556
Yes, please take note of warnings in the console and the intent of the config/behaviour desired for Submit button. If a different behavioural standard is recommended, please suggest.

https://y1qsn.csb.app/

[2020-08-11 11:36] bluebill1049 commented on #2556
The warning is correct, you need to set `mode` to `onChange`

[2020-08-11 12:07] bavicj commented on #2516
Guys I have similar problem. You can check the codesandbox here:
[codesandbox](https://codesandbox.io/s/react-hook-form-v6-usewatch-ndv8l?file=/src/App.js)

Each item in array consist of two inputs - one is for entering amount, second is readonly, calculated from the first one.
On the bottom there is component displaying sum of items inputs.

To reproduce:
1. create 3 items and fill their inputs (

[2020-08-11 12:12] SharadKumar commented on #2556
Yes @bluebill1049 I understand that. However, the intent is to not fire validation before 1st submit. OnChange will compromise that behaviour afaik. Hence, I have kept default config as is (onSubmit).

I intent to leverage onSubmit, and then onwards onChange kicks in. In usability terms, a form should not throw error while user is first time typing an email address, for example. It is okay that fo

[2020-08-11 12:28] bluebill1049 commented on #2556
`isValid` only works with onChange and onBlur. onSubmit means validation will only kick in after `submit`, then there is no point to watch `isValid` value.

[2020-08-11 12:29] bluebill1049 commented on #2516
Thanks @bavicj will take a look at it.

[2020-08-11 12:35] bluebill1049 commented on #2516
Try this @bavicj : https://codesandbox.io/s/react-hook-form-v6-usewatch-ndv8l?file=/src/App.js

[2020-08-11 12:36] josias-r commented on #2547
Alright, the solution I came up with (I added multiple things):
[code]

This adds the feature talked about in this issue + another one, which is being able to register many custom fields at once.
Usage:
- the `formState` object now has an additional `dirtyData` prop instead of just `dirtyFields`
- the hook object also returns the `registerMany` method, which can be used to do something like this:

[2020-08-11 12:36] #2547 closed

[2020-08-11 13:00] bavicj commented on #2516
@bluebill1049 that aint working, after remove of first element, the calculated input is not updated at all
<img width="453" alt="Screenshot 2020-08-11 at 15 00 30" src="https://user-images.githubusercontent.com/3510699/89900012-6f532300-dbe3-11ea-8ad7-b8c9ff6a8f6a.png">

[2020-08-11 13:02] bluebill1049 commented on #2516
send wrong link: https://codesandbox.io/s/react-hook-form-v6-usewatch-forked-0mfwr

[2020-08-11 13:13] bavicj commented on #2516
@bluebill1049 still not working :-/
1. Initial state
<img width="439" alt="Screenshot 2020-08-11 at 15 12 01" src="https://user-images.githubusercontent.com/3510699/89901206-12586c80-dbe5-11ea-9fa2-9f9aab97c21d.png">
2. After delete of first item and changing 20 to 200, its calculated field is not recalculated
<img width="458" alt="Screenshot 2020-08-11 at 15 12 08" src="https://user-images.github

[2020-08-11 13:18] bluebill1049 commented on #2516
I was looking at the sum value, can you take a look the console log, see if the value is watch correctly.

[2020-08-11 13:20] bavicj commented on #2516
@bluebill1049 well sum value was working correctly from beginning. Problem is in the Item component, displaying of the useWatch property 'actualValue'

[2020-08-11 13:32] josias-r commented on #2547
@bluebill1049 I'm having a general problem with the watch method though, which also kinda breaks this customized hook. I will create a new issue and reference to this.

[2020-08-11 13:37] josias-r opened #2559 "watch or useWatch glitched data with setValue (or maybe other reasons)"
Using the watch or useWatch method has some glitch behaviour when used together with custom form fields (custom register & setValue).

it's pretty hard to explain, but it's easy to see what happens with an example, so here you go:
https://codesandbox.io/s/determined-torvalds-8qtr8?file=/src/Form.tsx

1. When the watch method happens "before" registering the fields, it seems to fire twice, but it h

[2020-08-11 13:37] josias-r commented on #2547
https://github.com/react-hook-form/react-hook-form/issues/2559

[2020-08-11 13:47] bluebill1049 commented on #2559
your `register` should be placed inside `useEffect`, otherwise the custom input gets re-register each render.

[2020-08-11 13:51] bluebill1049 commented on #2516
I think, for now, you will have to watch the entire `FieldArray` with `useWatch` (just as what I suggested above with @meman ) until I figure out how to make it watch properly with items shuffling.

[2020-08-11 13:52] SharadKumar commented on #2556
Okay, I've implemented a workaround with formState.isSubmitted:
[code]

Thank you for the clarifications @bluebill1049

[2020-08-11 13:52] #2556 closed

[2020-08-11 13:57] josias-r commented on #2559
Thanks!!
I updated the sandbox: https://codesandbox.io/s/dry-frost-m2x2c?file=/src/Form.tsx
I also had to make sure to only pass the register as a dependency for it to work.
Is this documented already? I must have overseen it in that case 🤔

[2020-08-11 13:57] #2559 closed

[2020-08-11 13:58] bluebill1049 commented on #2559
yes for the custom register, always put inside `useEffect`.

[2020-08-11 14:05] josias-r commented on #2547
Awesome, that was resolved quickly! Thanks for the great support. I updated the example. Make sure you wrap the `registerMany` inside a `useEffect` too for my example to work correctly.

[2020-08-11 17:26] jgonera commented on #2466
Is there any way I could help with this?

[2020-08-11 19:56] sgentile commented on #356
I'm having same issue - the form I'm testing is inside a component

[2020-08-11 19:58] sgentile commented on #356
The issue I'm having is with formState.isValid  - I know it's valid when I remove the formState.isValid from disabled of the button, but when I put it on the button, inside the test it still shows it as disabled.

[2020-08-11 21:33] Ubiquitous23 commented on #56
This still doesn't work for me. importing
[code]

Allows app to load in IE11 but as soon as I go to a component that uses react-hook-form it throws this error in both IE 11 and chrome.

[code]

[2020-08-11 22:41] Ubiquitous23 commented on #56
FYI I fixed this by removing @babel/polyfill and following the instructions to use core-js and regenerator-runtime instead

[2020-08-11 23:02] bluebill1049 commented on #2547
Thanks @josias-r

[2020-08-11 23:41] manualva7 opened #2562 "Pattern validation doesn't work properly"
**Describe the bug**
The docs describe how to use pattern, but pattern doesn't behave like html5 pattern validation

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/elegant-silence-osn90?file=/src/App.js
2. Type a letter and then type a number.
3. Click on Submit, no error.
4. Type a number and then type a letter.
5. The form will submit without errors.

**Code

[2020-08-12 00:06] Warqus opened #2563 "onChange with textfield multiselect not working properly"
**Describe the bug**

I wrote the below custom select component with material ui and react hook form. First of all, the onChange event on the TextField component and Controller do not work. Therefore I added onChange to SelectProps. However, without adding it to SelectProps i can select multiple items; with onChange i can only select 1. Does anyone know how I can implement a custom onChange event

[2020-08-12 00:10] bluebill1049 commented on #2562
Thanks @manualva7 can you please double check your CSB? it's using validate function.

[2020-08-12 00:12] manualva7 commented on #2562
Sorry about that. I'm currently trying to figure it out so I'm playing with the options

[2020-08-12 00:16] manualva7 commented on #2562
@bluebill1049 just found out the problem. If you want to only accept a-zA-Z you need to wrap the regex like so:
`/^[a-zA-Z]+$/`
instead of the one in the docs which is:
`/[A-Za-z]{3}/`
It's fixed now. Docs got me confused.
https://codesandbox.io/s/elegant-silence-osn90?file=/src/App.js

[2020-08-12 00:31] #2562 closed

[2020-08-12 01:57] sahanatroam opened #2565 "Cannot change form content and validation on the fly"
**Describe the bug**
As a developer I want to create a wizard where at each step the content of the form + validation changes.
But even though the validation and content changes react hooks doesn't pick up the new validator

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-validationschema-forked-4nuwd?file=/src/index.js

**Expected behavior**
If you open the Codesandbox ab

[2020-08-12 02:08] bluebill1049 commented on #2565
we don't support this usage, you will have to write your own` resolve` and combined with `context` to switch your schema.

[2020-08-12 02:09] sahanatroam commented on #2565
@bluebill1049 is there an example that I could follow ?

[2020-08-12 02:09] sahanatroam commented on #2565
Also why do you not support this usage ?

[2020-08-12 02:43] bluebill1049 commented on #2565
Take a look at the `resolver` in the doc:
<img width="931" alt="Screen Shot 2020-08-12 at 12 43 13 pm" src="https://user-images.githubusercontent.com/10513364/89969306-645aca00-dc99-11ea-8ab0-46c45e9be7f7.png">
<img width="962" alt="Screen Shot 2020-08-12 at 12 43 33 pm" src="https://user-images.githubusercontent.com/10513364/89969326-6fadf580-dc99-11ea-8c9c-1acf2e767ac5.png">

[2020-08-12 02:49] sahanatroam commented on #2565
Thanks @bluebill1049
But may I know why this functionality is not supported ? Feels like it's a very valid use-case ?

[2020-08-12 03:01] #2548 closed

[2020-08-12 03:09] bluebill1049 commented on #2565
because we cache `resolver` inside the hook, the only way to inject value into your schema is through `context`.

[2020-08-12 03:14] bluebill1049 commented on #2565
actually looking twice into the source code, spot the issue. will patch this.

[2020-08-12 03:15] sahanatroam commented on #2565
Thank you so much. Please do let me know if I could help at all.

[2020-08-12 03:28] #2565 closed

[2020-08-12 03:39] paambaati opened #2567 "Other react-select/async values lost inside a field array when 1 is removed"
**Describe the bug**
When using a `useFieldArray` with a [`react-select/async`](https://react-select.com/home#async) component, when removing an array item, `react-select/async` components in other items also lose values.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-hook-form-nested-usefieldarray-forked-uo0q3?file=/src/index.js
2. Change the color val

[2020-08-12 03:46] bluebill1049 commented on #2567
make sure you are using `Controller` with `react-select`.

[2020-08-12 04:00] kotarella1110 commented on #2466
@jgonera Do you know how to determine a Class type by conditional type?
If it is possible then this issue can be solved.

https://twitter.com/kotarella1110/status/1291661194546176000

[2020-08-12 04:38] Jossnaz commented on #127
not solved yet? 😢

so bottom line, rhf doesnt work well with axios? I'm losing my time here trying to figure how to upload a simple file...

[2020-08-12 05:05] paambaati commented on #2567
Can confirm that using a `<Controller>` works - see updated CSB - https://codesandbox.io/s/react-hook-form-nested-usefieldarray-forked-uo0q3?file=/src/select-controller.tsx

[2020-08-12 05:05] #2567 closed

[2020-08-12 07:57] #2563 closed

[2020-08-12 08:37] bluebill1049 commented on #2516
`useWatch` has been improved: https://codesandbox.io/s/react-hook-form-v6-usewatch-forked-0mfwr?file=/src/App.js

[2020-08-12 09:00] thian4 opened #2572 "unable to toggle checkbox wrapping <Controller>"
How to do use checkbox within a Controller component? I did this but it can't really toggle `true` and `false`:

[code]

I created a demo, I can use the normal ref={register}

https://codesandbox.io/s/react-hook-form-v6-controller-forked-iyd1e?file=/src/index.jsx

[2020-08-12 09:05] bluebill1049 commented on #2572
`checked`

[2020-08-12 09:05] #2572 closed

[2020-08-12 09:11] thian4 commented on #2572
changed to `checked`, can't toggle https://codesandbox.io/s/react-hook-form-v6-controller-forked-puq2u

[2020-08-12 09:15] jgonera commented on #2466
Maybe another way would be to replace https://github.com/react-hook-form/react-hook-form/blob/90d03bc037e3b5f34b6a46df07b0bc8f100c6443/src/types/form.ts#L37 with `NonUndefined<T> extends Record<string, unknown>`?

[2020-08-12 09:17] bluebill1049 commented on #2572
honestly, please send sometimes with the doc... the first example is a checkbox

https://codesandbox.io/s/react-hook-form-v6-controller-forked-kn5pq

https://react-hook-form.com/api#Controller

<img width="1025" alt="Screen Shot 2020-08-12 at 7 17 42 pm" src="https://user-images.githubusercontent.com/10513364/89998144-80c62900-dcd0-11ea-8967-1daaf8918436.png">

[2020-08-12 11:10] AbhijeetChowdhury92 commented on #130
Hi,
I am using **react-hook-form v:6.3.2** with **material UI**.  My jsx element look like this:
`<MDBInput className="white-text" label="Your email" type="email" name="email"
                                        placeholder="Email ID"
                                        onChange={handleUserFieldChange}
                                        inputRef={register({

[2020-08-12 12:27] matchatype opened #2578 "setValue not working as expected inside useEffect"
**Describe the bug**
Using `setValue` to populate input fields on component mount doesn't set values as expected.

I'm using react-hook-form with BaseUI and controlled components. I have a modal that, when opened, presents a set of fields dynamically, and these fields should be populated with previously saved values, if present. The only way I was able to work around the issue, was by wrapping a `

[2020-08-12 12:36] bluebill1049 commented on #2578
Thanks for the detailed issue report! love those 🖐️ hahaha

you can set `shouldUnregister:false` to get around this issue:

https://codesandbox.io/s/quiet-leaf-n83pe?file=/src/TestForm.js

the problem is because `setValue` needs input to be registered, the animation takes "time" for those inputs to be mounted, that's why `setTimeout` did the trick.

[2020-08-12 13:59] alejandrotoro commented on #130
@AbhijeetChowdhury92 did you try adding the `defaultValue` property?

[2020-08-12 13:59] matchatype commented on #2578
Doh 🙄 I swear I tried that and didn't work, but now it does 🥳 Thank you 🙏

[2020-08-12 13:59] #2578 closed

[2020-08-12 14:41] RookY2K opened #2581 "[Request for Feature] Support integer values for nested form field keys."
**Describe the bug**
dirtyFields and isDirty are inconsistent with expected values. dirtyFields will zero out after blur and change events when there are still dirty fields. This is for version 6.3.3. This seems to only happen with nested fields with number properties. Nested Fields with string properties work as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to codesandbox li

[2020-08-12 15:42] krnlde opened #2583 "TypeError: Incompatible receiver, Set required"
**Describe the bug**
Starting from version `6.3.1` until the current version `6.3.3` I'm not able to use RHF in production. I use parcel-bundler to compile my project and when I start it it'll throw with the message `TypeError: Incompatible receiver, Set required`. It throws from the line https://github.com/react-hook-form/react-hook-form/blob/752d7efce18d6b2e26cbec7c9a1c24aa1ae5eb56/src/useForm.t

[2020-08-12 16:37] cheriecheung commented on #1845
I encountered the same problem and this is exactly the solution to it. thank you!

[2020-08-12 18:51] RookY2K commented on #2581
I've tracked the problem down to this snippet:
[code]

objectRef is an array of boolean values representing `isDirty`. So it fails the `isObject` filter and results in the entire top level key from object... In the reproduction, that would be `left`. Looking to see if I can grok the purpose of the if statement. The naive fix is to verify that data isn't a boolean before deleting the key. But I don

[2020-08-12 21:10] Jossnaz commented on #127
it _seems_ like this is a good package to do object -> form data : https://github.com/therealparmesh/object-to-formdata

I tried several functions, they all were not able to translate properly, causing a hiccup when using name attributes with arrays e.g.
[code]
was causing problems when using for example the solution from https://stackoverflow.com/a/22783314/533426

but  https://github.com/thereal

[2020-08-12 22:58] bluebill1049 commented on #2583
can you try to install: `npm i @babel/runtime-corejs3`?

[2020-08-12 23:44] bluebill1049 commented on #2581
Thanks, heaps for the issue report, investigation, and solution!

[2020-08-12 23:45] bluebill1049 commented on #2581
Looking a quick look at your example, i don't think we support integer as `key` name.

[2020-08-12 23:46] bluebill1049 commented on #2581
<img width="931" alt="Screen Shot 2020-08-13 at 9 46 20 am" src="https://user-images.githubusercontent.com/10513364/90078956-d8ed4180-dd49-11ea-926b-2d4d01d82bf7.png">
actually we do.

[2020-08-12 23:47] bluebill1049 commented on #2581
I will try to reproduce the problem with correct `name` before assigning a bug as this issue 👍

[2020-08-13 00:33] RookY2K commented on #2581
The name doesn't start with an integer. The integer comes after the dot.

[2020-08-13 00:37] DarkSouls101 commented on #2581
Yes, it’s the same case. You going to run into issue with key name as integer.

[2020-08-13 00:41] bluebill1049 commented on #2581
Yes, integer for the key name is going to be an issue.

[2020-08-13 02:14] RookY2K commented on #2581
Fair enough. I'll at least argue that the documentation isn't clear in this regard. In my example `left.1` as the name prop does not violate the constraint that it cannot start with an integer. So we probably want to at least update the wording to be clearer.

So it's obvious this isn't a bug, but can we change it to a Feature Request? My pull request solved the issue I was having and everything e

[2020-08-13 02:28] bluebill1049 commented on #2581
Thanks @RookY2K I think we will go ahead and merge your PR (I will review the PR tonight), but probably still keep the doc as it is. I can't remember exactly when it will create an issue with an integer from memory, but it's probably there.

[2020-08-13 03:34] bluebill1049 commented on #2581
merged. thanks for the PR 🙏

[2020-08-13 03:34] #2581 closed

[2020-08-13 03:35] bluebill1049 commented on #2335
RFC: https://github.com/react-hook-form/react-hook-form/issues/2492

[2020-08-13 03:35] #2492 closed

[2020-08-13 06:20] AbhijeetChowdhury92 commented on #130
Yes @alejandrotoro , but no luck still.

[2020-08-13 06:53] josias-r commented on #2559
@bluebill1049 One more question. Since it is inside useEffect, and the register method also is where you want to validate the fields. If the validation method listens to a local state variable, I will have to pass that variable to the useEffect dependencies, therefore, if that state changes,  the fields will get registered again, and the previous state of the form will get lost

[2020-08-13 07:16] bluebill1049 commented on #130
@AbhijeetChowdhury92 wrong usage.

Take a look at the doc:
https://react-hook-form.com/api#Controller

there is a codesandbox example as well:
https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

[2020-08-13 07:17] bluebill1049 commented on #2559
Do you have codesandbox example for above?

[2020-08-13 07:25] josias-r commented on #2559
Yup, extended the other one: https://codesandbox.io/s/dry-frost-m2x2c?file=/src/Form.tsx

[2020-08-13 07:41] bluebill1049 commented on #2559
i see, yea that situation, you will have to use `useRef` or `getValues()` inside the validator.

[2020-08-13 07:44] josias-r commented on #2559
Hmm actually I tried wrapping the validation method inside a useRef and it didn't work for some reason. What do you mean w/ `getValues` though? It has nothing to do with the form values itself. The problem is that re-registering the fields will reset them back to the default values, and because there is a customState involved the useEffect/register will get triggered again when that state changes

[2020-08-13 07:47] bluebill1049 commented on #2559
probably easier just turn that value into `<input type="hidden" name="xxx" ref={register(validate)} />`

[2020-08-13 09:02] krnlde commented on #2583
I tried it and it didn't work. But I doubt it can work since I don't explicitly use a .babelrc. It's implicit inside parcel. Also RHF works in development and only doesn't when compiling for production.

[2020-08-13 09:04] josias-r commented on #2559
Hmm I tried using your idea in my more complex usage in our app. Unfortunately, this workaround is not an option.
This seems like a bug or an edge case that has been forgotten to be handled. Should I open a new issue for it?

I'm curious though, why allow the users to register multiple times? If a field is already registered and the method is called, shouldn't it be ignored? Currently, it seems to

[2020-08-13 09:27] bluebill1049 commented on #2583
@kotarella1110 would you have clue on this one?

[2020-08-13 09:29] krnlde commented on #2583
The next clue is it really only breaks when calling useForm. So its probably not a compile time issue, but rather something "runtimey". Different Set polyfills maybe? I also polyfill that stuff, but in `6.3.0` and before it always worked.

[2020-08-13 09:36] bluebill1049 commented on #2559
https://codesandbox.io/s/serverless-http-j807x?file=/src/Form.tsx
works for me

because if the user start to toggle the same input with the (`ref`), we don't want to re-register or potentially overwrite what's been registered, that's why we do a `ref` compare, see if they are the same reference.

[2020-08-13 09:38] bluebill1049 commented on #2583
@kotarella1110 maybe we don't need this commit? https://github.com/react-hook-form/react-hook-form/commit/9718436ee668da9a49522803d3d490164878dd7f

[2020-08-13 09:40] krnlde commented on #2583
I'm pretty lost in this one, since its such an edge case. Also I hate IE.

Sorry guys :(

[2020-08-13 09:42] bluebill1049 commented on #2559
or you can try the following as well:

[code]

[2020-08-13 09:46] bluebill1049 commented on #2583
nah, no worries @krnlde we will investigate this. 🙏 thanks for all the information.

[2020-08-13 09:47] krnlde commented on #2583
I tried to do a codesandbox on this one, but it just works :D dang it

[2020-08-13 09:53] bluebill1049 commented on #2583
codesandbox would worked, because it's using the dev build.

[2020-08-13 09:57] kotarella1110 commented on #2583
@krnlde @bluebill1049 I wil investigate this.

[2020-08-13 09:57] krnlde commented on #2583
yes, but I exported it as a zip and tried to `npm run build` it, which worked. So it's probably some kind of awkward setup of mine... I only can't find which. I don't have any dependency to babel, BUT I do use `"core-js": "3.6.5",` manually and have a `polyfill.js` file which requires `Set` via `import 'core-js/features/set';`.

[2020-08-13 10:24] workteam123 commented on #1860
@partyka1 is there a CSB with your solution? I am using Controller as Material-ui Textfield.  I have removed the ref={registered} from textfield and created the ref in useEffect (using useHookWithRefCallback). I think I understand your solution but I still cannot get onChange to fire. Many thanks

[2020-08-13 11:15] josias-r commented on #2559
Alright, I took some time again to try to get it to work with hidden inputs. Apologies, you were right, it does actually work this way.
Your example with the cleanup function did not seem to work. Anyways, I have a good solution now, thank you a lot for the help!

I still can't wrap my head around why the register on an input field ref does not reset the field values to the defaults, but using the

[2020-08-13 11:23] bluebill1049 commented on #2559
thanks for your feedback @josias-r

my memory the problem is due to this:

`{toggle ? <input name="test" ref={reigster} /> : <input name="test" type="checkbox" ref={reigster} />}`

however, it does make sense not to register same input again and again. perhaps we can allow that to happen when input's `ref` is not supplied. I will think about this issue and let you know.

[2020-08-13 11:29] josias-r commented on #2559
@bluebill1049 Alright cool that sounds great! I won't steal more of your time then, thanks again 🙏🏻

[2020-08-13 15:36] SachaMPS opened #2591 "Checkbox input conditionally rendered with same name holds an array value"
**Describe the bug**
Checkbox inputs with the same name but rendered conditionally (e.g. due to different positions in a dynamic form) hold an array as soon as you switch between the views

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://codesandbox.io/s/react-hook-form-custom-input-forked-wup4k?fontsize=14&hidenavigation=1&theme=dark'
2. Click on 'Select View 2'
3. Click on '

[2020-08-13 22:06] dwiyatci commented on #2217
I'm glad that I came across this issue one month later 'cause actually I want to implement a UX in exactly the same line of theorem as @martinfrancois 🙂

--- ✂️  snip ------
There are a couple rules of thumb that guide how we implement validation triggers:
1. Do not eagerly scold users for invalid data
- A field should not be changed into an invalid state while the user is interacting with the fie

[2020-08-13 22:14] bluebill1049 opened #2594 "Expose name in Controller's render function"
**Feature request:**

When using the render prop for the Controller component, the name attribute in the Controller component does not get passed down to the component that is rendered by the render function. The example shows an example. The input does not have the name attribute at all. This can be a problemn when using a config file to render your form components and the render function is part

[2020-08-13 22:41] bluebill1049 commented on #2217
Is this what you after? https://github.com/react-hook-form/react-hook-form/pull/2377

[2020-08-13 22:52] bluebill1049 commented on #2591
you after `shouldUnregiser`?

https://codesandbox.io/s/react-hook-form-custom-input-forked-4fneh

[2020-08-13 23:15] bluebill1049 commented on #2490
hey @afzaalahmad i found something cool today, this may works for you as well: https://github.com/theKashey/use-callback-ref

[2020-08-14 03:46] ujjwalbishnoi opened #2596 "getValues() gives empty object on first 2 renders"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Codesandbox link (Required)**
Include a codesandbox will help us to investigate the issue quicker.

- [useForm](https://codesandbox.io/s/react-hook-form-useform-template-lsm61) Template
- [useFieldArr

[2020-08-14 03:57] phanvantien270290 opened #2597 "Lost fields registered when using reset method"
**Describe the bug**
   I just want it to show the data to compare with the original data, but when I use the reset method some fields are lost, is there a way for it to always display the property even though it is empty?

**Codesandbox link (Required)**
- [example here](https://codesandbox.io/s/react-hook-form-useform-template-forked-bwzhb) Template

**Desktop (please complete the following info

[2020-08-14 03:58] #2596 closed

[2020-08-14 03:59] bluebill1049 commented on #2597
`reset(getValues())`?

[2020-08-14 07:09] areeb-hub opened #2599 "reValidateMode: 'onChange' is not working on Controller React Native"
**Describe the bug**
reValidateMode is not working using controller in react native

**To Reproduce**

` <Controller rules={{required: true}} control={control} name="deliveredBy" render={({onChange}) => <CustomInput label={'Delivered by*'} onChangeText={value => onChange(value)} error={errors.deliveredBy} />} />
`

[code]

On Emulator Ipad Air 3rd Gen

[2020-08-14 07:14] bluebill1049 commented on #2599
can you share expo snack?

[2020-08-14 07:37] areeb-hub commented on #2599
@bluebill1049
https://snack.expo.io/@areeb-hub/4592cd

[2020-08-14 07:55] bluebill1049 commented on #2599
by the way, reValidateMode is by default, and your snack has errors.

[2020-08-14 07:56] bluebill1049 commented on #2599
Take a look here: https://react-hook-form.com/get-started#ReactNative there is expo link as well.

[2020-08-14 08:15] #1574 closed

[2020-08-14 08:17] #2594 closed

[2020-08-14 08:25] areeb-hub commented on #2599
@bluebill1049 can you please check again https://snack.expo.io/@areeb-hub/trembling-juice-box , [Fixed]pkg issue

[2020-08-14 08:32] mg901 opened #2601 "Reset does not reset the value in react-select after form submit (v6)"
**Bug**
Reset does not reset the value in react-select after form submit.

**To Reproduce**
I enter a value in input and select a value in react select, but after submitting the form, the value in react select is not cleared.

**Codesandbox link**
[example](https://codesandbox.io/s/react-hook-form-with-ui-library-forked-gc4g1?file=/src/index.js)

**Expected behavior**
After submitting the form, th

[2020-08-14 08:52] codler commented on #918
Thanks @theweiweiway `getValues({nest: true})` is correct, I couldn't find it in the documentation.

[2020-08-14 08:53] bluebill1049 commented on #918
@codler that's for V5, for v6 is by default now.

[2020-08-14 08:59] codler commented on #918
oh 😅 already at v6, im using 3.28.12

[2020-08-14 08:59] bluebill1049 commented on #2601
you are missing some props: https://codesandbox.io/s/react-hook-form-with-ui-library-forked-ydckx?file=/src/index.js

[2020-08-14 08:59] #2601 closed

[2020-08-14 09:00] SachaMPS commented on #2591
Seems to make no difference and furthermore it can be that i want other fields to unregister...

The current use case ist that we have a contactWizzard which renders different fields based on the question. Sometimes we need the a textfield input for street name sometimes not. But always a "accept terms" checkbox.

[2020-08-14 09:01] bluebill1049 commented on #2599
i see your problem. `reValidateMode` is after submit.
<img width="985" alt="Screen Shot 2020-08-14 at 7 00 57 pm" src="https://user-images.githubusercontent.com/10513364/90232767-7e92d480-de60-11ea-8ae5-2b446230b751.png">

i think you want mode: 'onChange'

[2020-08-14 09:02] bluebill1049 commented on #918
@codler This doc: https://react-hook-form.com/v5/api should be still relevant.

[2020-08-14 09:04] bluebill1049 commented on #2591
<img width="1338" alt="Screen Shot 2020-08-14 at 7 03 33 pm" src="https://user-images.githubusercontent.com/10513364/90233052-dcbfb780-de60-11ea-8aa6-4759906f01a4.png">

perhaps you want to consider just toggle the visibility of those inputs.

[2020-08-14 09:18] areeb-hub commented on #2599
@bluebill1049 i'm sorry i missed that on doc and thank you for helping out.

https://github.com/react-hook-form/react-hook-form/issues/2599#issuecomment-673971794

[2020-08-14 09:18] #2599 closed

[2020-08-14 09:31] bluebill1049 commented on #2599
np :)

[2020-08-14 10:09] mg901 commented on #2601
@bluebill1049   Thank you very much for your prompt reply. Yes the fields are cleared, but I don't want to receive data from react select as {value: '', label: ""}. I only need value.

[2020-08-14 10:13] bluebill1049 commented on #2601
sure, it's in the example folder :) https://github.com/react-hook-form/react-hook-form/tree/master/examples

https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc

[2020-08-14 10:26] mg901 commented on #2601
@bluebill1049 Thank you!)

[2020-08-14 10:32] afzaalahmad commented on #2490
@bluebill1049 Thanks a lot for your effort. I really appreciate it. Though I did it using your first suggestion that is moving the form to the parent. I have looked into your suggested package, and its really cool :+1:

[2020-08-14 11:05] mg901 commented on #2601
@bluebill1049, your example is only suitable if the label and value are the same.
[see 68 string](https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-forked-xf018?file=/src/index.tsx). Is there a more elegant solution? Is it planned for the future?

[2020-08-14 11:13] bluebill1049 commented on #2601
what do you try to achieve with react-select? maybe it's better to understand your requirement. as right now, i dont' plan to introduce more props for Controller.

[2020-08-14 13:23] mg901 commented on #2601
@bluebill1049 I want to pick only value in react-select.

[2020-08-14 14:08] bluebill1049 commented on #2601
u will have to do this: https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-forked-fc1bc?file=/src/index.tsx

[2020-08-14 14:36] gregoryrey commented on #892
This solved my problem, I was setting key={index} and was getting very frustrated with it always deleting the last item

[2020-08-14 16:40] dwiyatci commented on #2217
@bluebill1049 Thanks for pointing the PR out! :) I've looked at that PR before posting my comment above but I'm not so sure if it's gonna satisfy the UX requirements above, especially the second point: "Eagerly reward users for correcting invalid data". Thing is, when the form control has error (is invalid) after touching, the user would still need to do submit first before the revalidation got tr

[2020-08-14 19:57] majweb opened #2605 "Fields Arrays with validate if min fields"
I warmly welcome.
I am using FieldsArray.
This is an example from the documentation.
https://codesandbox.io/s/react-hook-form-fieldsarray-yup-validation-min-length-57qtb?file=/src/index.js:849-852

I have quit yup and want to use native validation.
The problem is validation and no error if no project is created.

My code
https://codesandbox.io/s/vigorous-almeida-ngp5r?fontsize=14&hidenavigation=1&

[2020-08-14 23:30] bluebill1049 commented on #2591
ok, I read your description again, looks like I misunderstood.

Yea, this is going to be a tricky one, because we are building a checkbox with the same name, by doing the toggle it will get registered again as another option. I would recommend using a different name to avoid this problem.

[2020-08-14 23:32] bluebill1049 commented on #2217
I will release a minor version soon, need to update the changelog and docs.

[2020-08-14 23:34] bluebill1049 commented on #2605
for minLength take a look at this example:

https://github.com/react-hook-form/react-hook-form/tree/master/examples

`Field Array Min Length`

[2020-08-15 00:20] bluebill1049 commented on #2591
you can give them a separate `key` to solve this problem.

https://codesandbox.io/s/react-hook-form-custom-input-forked-2gsro?file=/src/index.js

[2020-08-15 00:20] #2591 closed

[2020-08-15 00:21] #2597 closed

[2020-08-15 06:13] majweb commented on #2605
I added your link in my question

[2020-08-15 09:50] pzs opened #2609 "Reset values with Date merged incorrectly"
**Describe the bug**
Submit called with incorrect values, when reset was called previously and form value contains Date object.

**To Reproduce**

1. Go to https://codesandbox.io/s/vibrant-worker-wj4lq
2. Click on "reset"
3. Change date in the input field
4. Click on "Submit"
5. Observe console:
Actual: Date provided in reset method is displayed
Expected: Actual value of input field is displayed

[2020-08-15 09:59] bluebill1049 commented on #2609
This is expected result as far as i can tell, it's what's MUI returned `value`.

[2020-08-15 10:04] pzs commented on #2609
I added a console.log to the "onChange" method inside MUI field. It is called with the correct date when you change the field, however submit returns the previous value (what was passed inside the reset method):

https://codesandbox.io/s/eloquent-dhawan-018cu?file=/index.js:900-936

[2020-08-15 10:07] bluebill1049 commented on #2609
steps to reproduce, i couldn't reproduce with your reported steps.

[2020-08-15 10:16] pzs commented on #2609
Steps are the same, please check this screen recording: https://streamable.com/eezwrp
Expected value in the console: Aug 01 (as it's in the field)
Actual value: Aug 15

[2020-08-15 10:18] bluebill1049 commented on #2609
Thanks for the video! it helps.

[2020-08-15 10:44] #2609 closed

[2020-08-15 10:48] pzs commented on #2609
Thanks for this quick fix and this library!

[2020-08-15 11:57] bluebill1049 commented on #2605
is it working for u?

[2020-08-15 12:41] clementvp opened #2611 "Reset form / SetValues, after submit in a ionic controlled components context"
**Describe the bug**
Hello, I try to reset form after submit and validate my form. But i'm not able to do that.

I'm missing something?

**To Reproduce**

See the sandbox, i try to reset the email field with an empty string.

**Codesandbox link (Required)**

You can see a minimal sandbox [here](https://stackblitz.com/edit/ionic-react-hook-form-ujq2r7?file=src/App.tsx)

**Expected behavior**
The em

[2020-08-15 16:47] kle-dev opened #2614 "fields from useFieldArray with init values not working in 6.4.0 but in v. 5.7.2"
**Describe the bug**
I'm using `fields` from the `useFieldArray` method which is initialized with default values.

However in v. 5.7.2 the default values are showing up **but not in v. 6.4.0**...

**To Reproduce**
Look in the Sandbox:

**v. 6.4.0 (not working)**
[![Edit recursing-cerf-sgk4m](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/recursing-cerf-sgk4m?font

[2020-08-15 18:55] nghiepit commented on #2614
I have the same issue.

From `6.3.0` and earlier work fine.

[2020-08-15 19:17] kle-dev commented on #2614
yes you're right, 6.3.0 and bellow...

thought first this would be an failure vom v. 5 to v. 6 but its a failure from v. 6.3.0 upwards

[2020-08-16 00:22] bluebill1049 commented on #2614
it's working and you are missing `defaultValue`: https://codesandbox.io/s/xenodochial-galois-jn6gm?file=/src/Materials.js

[2020-08-16 00:22] bluebill1049 commented on #2614
please use Controller as well for external controlled inputs.

[2020-08-16 00:22] #2614 closed

[2020-08-16 01:42] bluebill1049 commented on #2611
please clean up your example, there are so many components and doesn't make my life easier to investigate this issue, from quick glance you are missing `value` prop at `Controller`.

[2020-08-16 07:12] majweb commented on #2605
No

[2020-08-16 07:28] bluebill1049 commented on #2605
what bout this example: https://codesandbox.io/s/react-hook-form-fieldsarray-yup-validation-min-length-forked-kb90b?file=/src/index.js?

[2020-08-16 08:34] kle-dev commented on #2614
hey, thanks for helping.

Thats a sandbox, sadly in my real project I can't pass the material down to the component like you did in your sandbox...

I tried it with a controller:
[code]

but I got

[code]

I can't set the default value because I dont have it there while I can't pass material down...

here that example:
[![Edit loving-tdd-bvk4u](https://codesandbox.io/static/img/play-codesandbox.sv

[2020-08-16 08:46] bluebill1049 commented on #2614
[code]

we fixed a bug from 6.3.0 with nested input and delete with useFiedlArray, could you pass `materials` down as prop like what i did in the example?

[2020-08-16 08:48] kle-dev commented on #2614
as I already said, sadly no I can't pass it down ... may I can ... but that will change a lot of logic in my code with a lot of effort

[2020-08-16 08:50] kle-dev commented on #2614
in my edit text , sorry I edited it after I send it to you, may you only had read the email text

[2020-08-16 08:52] kle-dev commented on #2614
but if you say I must pass it down .. then I have to do it .. I think its a effort to fix it too ... I dont now weather it is expected behavior for you or not

[2020-08-16 08:54] bluebill1049 commented on #2614
I would suggest staying 6.3.0 for now.

[2020-08-16 18:19] sureshdeepalh opened #2623 "Two way data binding error"
After submit the foerm I can get the error. But  when I'm doing the two way data binding first key entered letter not print on input field. Second key entered it will work.
[code]
Here is the CodeSandbox link
https://codesandbox.io/s/peaceful-newton-f0sng?file=/src/App.js

**STEP TO GET THE ERROR**
1. Type letter and send the form (This will work properly)
2. Try to backspace letters, then issue y

[2020-08-16 20:52] majweb commented on #2605
how pass invalid className?

[code]

[2020-08-16 21:12] m5nv commented on #1096
@bluebill1049 Let me know if this needs to be a new issue. My situation is related.

Currently moving from Formik to React Hook Form. The porting of functionality was a breeze, compared to writing stuff in Formik almost a year ago. The issue is my tests that pass with Formik are failing.

I am using redux-thunk to handle remote server calls. On success, I navigate away from the `login` page, and o

[2020-08-16 22:15] bluebill1049 commented on #2623
https://react-hook-form.com/faqs#Whyisfirstkeystrokeisnotworking

Take a look at the FAQ above. Not a bug.

[2020-08-16 22:15] #2623 closed

[2020-08-16 22:25] bluebill1049 commented on #1096
@m5nv react hook form auto-trigger submitting `formState` when user clicks on the submit button. curious why would you need `setStatus`?

[2020-08-16 23:36] bluebill1049 commented on #2605
that's looks right for individual error.

[2020-08-16 23:37] #2605 closed

[2020-08-17 01:36] m5nv commented on #1096
Because the "Email or password is invalid" message is set after the response from the server is received `asynchronously`, after `submit`ing. The form then displays this message which is outside the fields div.

This works in Formik, because I suspect the `status` changed (when the server response was received and set in `redux-thunk`), and thus React decides to `rerender` the form because of this

[2020-08-17 01:38] bluebill1049 commented on #1096
`isSubmitting` is async.

[code]

[2020-08-17 01:39] bluebill1049 commented on #1096
I would recommend you try it out in a codesandbox @m5nv

[2020-08-17 03:10] sureshdeepalh commented on #2623
Hi It may not a bug. but how can I change value from some other place.
![image](https://user-images.githubusercontent.com/14823751/90353849-0ba67b00-e065-11ea-81d7-3ce9f234dd60.png)

[2020-08-17 03:14] bluebill1049 commented on #2623
https://react-hook-form.com/api#watch

**Read the doc.**

[2020-08-17 03:29] #2611 closed

[2020-08-17 03:34] sureshdeepalh commented on #2623
Thanx a lot @bluebill1049
I fixed my requirement by using **setValue**
https://react-hook-form.com/api/#setValue

[2020-08-17 06:18] tbelch-at-eHealth-Tec commented on #2510
@bluebill1049  Could you please reopen this? I didn't have the chance yet to edit the Codesandbox, I was on vacation.

[2020-08-17 06:25] bluebill1049 commented on #2510
please follow up with a `codesandbox` to reproduce this issue, I will reopen if the issue is confirmed. our mode / revlidatedMode is covered by test and automation, and most likely probably just a misunderstanding.

[2020-08-17 07:02] tbelch-at-eHealth-Tec commented on #2510
Hi @bluebill1049! Here is the Codesandox based on your example: https://codesandbox.io/s/react-hook-form-customresoliver-v6-forked-621wo

I have kept the original example, changed it to `mode: onChange`  and added my example next to it. Your example reacts to `onChange`, mine doesn't. If you set my example to `all` or `onSubmit` you'll see that the resolver itself works.

I have encountered one is

[2020-08-17 07:12] bluebill1049 commented on #2510
Thanks for the follow-up, not sure with your error, maybe take a look this codesandbox: https://codesandbox.io/s/react-hook-form-customresoliver-v6-h4ti6?file=/src/index.jsx

[2020-08-17 07:23] tbelch-at-eHealth-Tec commented on #2510
Well, the error is produced by the dependency `oas2joi`. But again, only in Codesandbox and it's easily solved.

[2020-08-17 08:01] tbelch-at-eHealth-Tec commented on #2510
It looks like the `@jsdevtools/ono` error was fixed with using version 7.0.0. Try this codesandbox: https://codesandbox.io/s/react-hook-form-customresoliver-v6-forked-mbgmb

[2020-08-17 08:16] bluebill1049 commented on #2510
<img width="1420" alt="Screen Shot 2020-08-17 at 6 16 03 pm" src="https://user-images.githubusercontent.com/10513364/90373720-b777b700-e0b5-11ea-9615-13f750e76066.png">
they all working, your example is not working because it went into the empty resolver.

[2020-08-17 08:38] tbelch-at-eHealth-Tec commented on #2510
Can you please share the updated codesandbox?

[2020-08-17 08:42] bluebill1049 commented on #2510
that's your CSB. just do some console log in there.

[2020-08-17 08:47] tbelch-at-eHealth-Tec commented on #2510
You are right. The issue is the changing resolver reference. If I render the Form after the resolver has beend created it works: https://codesandbox.io/s/react-hook-form-customresoliver-v6-forked-mbgmb?file=/src/oa3.form.jsx

Is there a way to update, exchange the resolver function reference?

[2020-08-17 08:48] bluebill1049 commented on #2510
https://react-hook-form.com/api#useForm `context`

[2020-08-17 08:55] tbelch-at-eHealth-Tec commented on #2510
There is not really a lot of documentaiton regarding the context object, besides `This context object is mutable and will be injected into resolver's second argument or Yup validation's context object.` Can I put whatever I want in there?

But anyway, it probably makes more sense to wait with the form rendering, until the validation is ready.

[2020-08-17 08:55] tbelch-at-eHealth-Tec commented on #2510
Thank you!

[2020-08-17 08:58] bluebill1049 commented on #2510
feel free to contribute to the doc and send PRs.

[2020-08-17 09:05] tbelch-at-eHealth-Tec commented on #2510
So, using the `context` object and passing the `resolver` reference has worked for me: https://codesandbox.io/s/react-hook-form-customresoliver-v6-forked-mbgmb?file=/src/oa3.form.jsx:1117-1359

[2020-08-17 09:09] m5nv commented on #1096
@bluebill1049 Thanks for your time.

I am going after the ability to associate an `application-state` with the Form component that can be set asynchronously, which is what `setStatus` from Formik provides.

To be sure, my application is working correctly (after modifying code to fit the RHF design pattern). While it could be made simpler, that is not the issue I am reporting.

I am having trouble

[2020-08-17 09:12] bluebill1049 commented on #1096
Did you take a look at this section: https://react-hook-form.com/advanced-usage#TestingForm?

also, there are plenty of tests in the repo, you can probably just refer to as well.

[2020-08-17 09:34] m5nv commented on #1096
I did. In fact this [sample I uploaded to codesandbox](https://codesandbox.io/s/epic-minsky-q4jw0) is from that section, modified to look closer to my tests. I first verified that your code works as is, then I modified it to use `userEvent` instead of `fireEvent`, and finally added a test case that demonstrates the class of test failures I see in my current project after migrating to React Hook Fo

[2020-08-17 09:40] bluebill1049 commented on #1096
@keiya01 (our testing master) would you be able to spot this issue?

[2020-08-17 10:08] keiya01 commented on #1096
@bluebill1049 Sure. I will check this issue :)

[2020-08-17 10:09] bluebill1049 commented on #1096
ty @keiya01 🙏

[2020-08-17 11:03] Parrakh opened #2629 "Eventlistener on Controller not working"
**Description:**

If i use any of the listener, e.g. onChange, onBlur, it doesn't work on <Controller />-elements. Form elements registered with the "register" function are fine. I use currently MaterialUI.

**Reproduce:**

https://codesandbox.io/s/react-hook-form-v6-controller-forked-egfq6

I modified the current MaterialUI-Sandbox with a onBlur-function on the MaterialUI-Textfield. (MUI TextFiel

[2020-08-17 11:09] bluebill1049 commented on #2629
use `render` props. https://react-hook-form.com/api/#Controller

[2020-08-17 11:09] #2629 closed

[2020-08-17 11:16] Parrakh commented on #2629
Was the feature removed? I tried an old version and it works fine. Sandbox of version 5:

https://codesandbox.io/s/react-hook-form-controller-forked-ojtc7

[2020-08-17 11:19] bluebill1049 commented on #2629
yes: https://github.com/react-hook-form/react-hook-form/blob/master/CHANGELOG.md

[2020-08-17 13:46] RuiOrey commented on #111
I seem to have the same problem onSubmit not working

[2020-08-17 13:47] fea17e86 commented on #2510
PR with examples created: https://github.com/react-hook-form/react-hook-form/pull/2630

[2020-08-17 14:02] clementvp commented on #2611
Sorry for the sloppy sandbox. You were right, i forgot to pass the value prop. Thx again. RHF is so great and so less painfull than others. Keep going ;)

[2020-08-17 14:19] meman opened #2631 "Nested useFieldArray elements seem to keep default values after reset is called"
**Describe the bug**
If default data is set and an attempt to reset data with a new value. useFieldArray seems to return the defaulted value rather than the reset one

**To Reproduce**

1. create a form with nested useFieldArrays with a defaultValue set
2. At the form root create a useEffect and a setTimeout to set the default data via reset.
3. You still see the original defaulted value

**Codesa

[2020-08-17 16:57] eliezerbs9 commented on #137
@bluebill1049
Your answer solved my problem.
Thanks man :)

[2020-08-17 23:01] bluebill1049 commented on #2611
awesome, glad to hear :)

[2020-08-17 23:03] isaiahtaylorhh commented on #2217
If I'm understanding the `onTouch` feature correctly, it still does not solve the use case of:

1. User enters `test@@mail.com` and moves to the next field
2. UI lets the user know that the email is invalid
3. User moves back and removes the extra @
4. User is immediately told that their input is now valid

[2020-08-17 23:05] bluebill1049 commented on #2217
Test it in a codesandobx.

[2020-08-17 23:15] isaiahtaylorhh commented on #2217
Thanks for the quick response. Tested in CSB, and `onTouched` works for my use case described above. I would advocate updating the documentation to make that clearer.

"Validation will trigger until input are touched."

That doesn't seem to describe what's happening here. Maybe missing a negative? "Validation won't trigger until all input are touched?" Still not sure what the feature does other th

[2020-08-17 23:23] bluebill1049 commented on #2217
@isaiahtaylorhh feel free to submit a PR, it's open-sourced as well, everyone can help.

[2020-08-18 03:53] keiya01 commented on #1096
Hey @m5nv, sorry for delay. But I fixed this problem.

Probably,  `jest.fn()` need to be initialized every time. Therefore, you should declare `mockLogin1` and `mockLogin2` in every `it()` `test()` or `beforeEach()`.

Here is example https://github.com/keiya01/hftl/blob/master/src/App.test.js#L118

[2020-08-18 03:59] bluebill1049 commented on #1096
Thanks very much @keiya01 🙏

[2020-08-18 04:17] m5nv commented on #1096
@keiya01 Thank you so much. That indeed fixed the issue. @bluebill1049 Thank you!

[2020-08-18 04:22] m5nv commented on #1096
Just as note to myself I can't use beforeEach because I need to be able to `reject` or `resolve` depending on the nature of the test. Again, I want to thank @keiya01 for resolving my issue. I learned something about Jest!

[2020-08-18 04:24] bluebill1049 commented on #1096
yea @keiya01 is our wizard for testing. 🧙

[2020-08-18 04:36] kotarella1110 commented on #2466
@jgonera Awesome! I will fix 👍

[2020-08-18 05:08] #2466 closed

[2020-08-18 06:06] aimanptz commented on #778
@AjithkumarJM Have the same problem. I've just just added 'triggerValidation()' into the controller's 'onChange' handler manually - that helped.
![image](https://user-images.githubusercontent.com/36487126/90476262-d6b42a00-e131-11ea-96d9-cbfda62fc36b.png)

!But providing the 'watch(startDate)' or 'getValues().startDate' into the 'validate' option does not trigger the validation of the endDateField

[2020-08-18 08:19] smhutch opened #2637 "Unexpected behaviour when using `reset()` with third party UI library"
First off I want to say that I'm really enjoying this library, and that I'm not 100% sure if this is a bug, or if it's something I'm misunderstanding. 🙂

**Describe the bug**
I'm working on a form which has two "submit" buttons. One to "Save" and another to "Save and add another". The "Save" button is a regular button with `type=submit`, the other is a button with an `onClick` handler. When clicki

[2020-08-18 09:10] bluebill1049 commented on #2637
Thanks for the detailed issue report, for external component please use `Controller`. `inputRef` could be not reliable as native input's `ref`, it depends on the lib's implementation.

for `reset` you can supply values as an argument as well.
[code]

[2020-08-18 09:50] smhutch commented on #2637
Thanks for your quick response @bluebill1049. Looks like `inputRef` on the `EuiFieldText` was causing an unexpected side-effect.

I have updated my form to use `Controller`, and now a plain `reset()` is working as expected 🎉 . Some examples of my code in case anyone else stumbles on the same issue with Elastic.

[code]

[2020-08-18 09:50] #2637 closed

[2020-08-18 09:51] bluebill1049 commented on #2637
awesome mate! thanks for sharing too.

[2020-08-18 14:34] neighborhood999 commented on #566
I solved this issue by HTML attribute, e.g:

[code]

[2020-08-18 16:06] ejose19 commented on #1434
@bluebill1049 Is there any other way than a setTimeout inside the onSubmit function? Using the "useEffect" solution is not that direct since you may depend on conditional logic inside of the onSubmit function, and the useEffect may clear the form even if that's not desired (ie, BAD_REQUEST from server).

[2020-08-18 17:50] douglasncon commented on #134
Hi you guys! Nice thread and thanks for the solution! I ran into the same scenario as @zernie and have nested getValues() worked like a charm.
Can you just please add that to the documentation?
![image](https://user-images.githubusercontent.com/20860629/90547538-0e3aca80-e162-11ea-912f-9eccf58464f4.png)

[2020-08-18 18:39] rc-chandan opened #2643 "Dynamic form fields rendering issue"
**Describe the bug**
- I have a scenario where I want to render different input fields depending on the value user selects on a dropdown which is also part of the form.
- Even if input names completely change, this does not rerender the prop input fields.
- Might be some memoization and rerender logic issue in react-hook-form.

**To Reproduce**
1. Open this code sandbox link given below
1. Change

[2020-08-18 18:57] RookY2K opened #2644 "[FormState - DirtyFields/isDirty] Input type === 'number' causes dirtyFields to behave like "touched"."
**Describe the bug**
When using an input with type = 'number', any field that has a default value set via `useForm` parameters will show as dirty once focused and blurred. Empty number inputs and those with defaultValue set on the input behave as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Get focus on a number input that had a default set via the useForm defaultValues paramet

[2020-08-18 19:58] RookY2K commented on #2644
So, I figured out why this occurs.

In `useForm.ts` > `setDirty`

[code]

defaultValuesAtRenderRef.current[name] will return as whatever the type used in the `defaultValues` parameter of `useForm`. Whereas `getFieldValue` will always return as a string.

My guess is that this isn't an issue limited to `input[type="number"]` and in fact is a problem with `defaultValues` having a non-string value se

[2020-08-18 22:33] bluebill1049 commented on #2643
give each input a unique key, have a read this section: https://react-hook-form.com/faqs#Whyisdefaultvaluenotchangingcorrectlywithternaryoperator

[2020-08-18 22:33] #2643 closed

[2020-08-18 22:35] bluebill1049 commented on #2644
we only support native input to be "string" type. If you want to parse value: https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc (in the examples folder)

[2020-08-18 22:39] bluebill1049 commented on #566
Thanks @neighborhood999 for sharing solutions.

[2020-08-18 22:39] bluebill1049 commented on #1434
what do you mean @ejose19 ?

[2020-08-18 22:41] bluebill1049 commented on #134
would you like to send us PR?

[2020-08-18 22:50] dwiyatci commented on #2217
@bluebill1049 Hi again, Bill. Thank you so much for the new `onTouched` mode, it's awesome and is enough to get me going. Unfortunately after I've tested the interactions in CSB (https://codesandbox.io/s/react-hook-form-get-started-forked-ilrdu?file=/src/index.js), it still does _not_ quite satisfy my UX requirements.

Here is what I did:
**1. Enter "foo" in `ExampleRequired` control.**

**2. Dele

[2020-08-18 23:10] bluebill1049 commented on #2217
I think for your use case (unique), it's better to build your validation logic with `trigger` in terms of when validation should be `trigger` and set both `mode` and `reValidateMode` to 'onSumbit'.

[2020-08-19 01:23] ejose19 commented on #1434
@bluebill1049 see this [sanbox](https://codesandbox.io/s/vigilant-sanderson-ppmu7?file=/src/App.tsx) for an example.

Suppose I want to reset the form conditionally (in this case, a promise inside a try/catch), if I use the useEffect in your example, I get a reset even if the promise rejected (which is not what I want). If you comment the useEffect and uncomment the setTimeout inside the onSubmit

[2020-08-19 01:34] bluebill1049 commented on #1434
why are you doing reset at `useEffect` (curious)? why not just doing it in `onSubmit`?

[2020-08-19 01:37] ejose19 commented on #1434
Taken from your example.

If I do in ```onSubmit``` without a setTimeout, then the reset does nothing (as you previosly said, it gets overriden by handleSubmit)

[2020-08-19 01:41] bluebill1049 commented on #1434
@ejose19 https://codesandbox.io/s/react-hook-form-errors-zck8b?file=/src/index.js?

[2020-08-19 01:43] ejose19 commented on #1434
@bluebill1049 add a ```console.log(isSubmitted)```, submit the form and you will see it remains true.

[2020-08-19 02:14] saculbr opened #2646 "useWatch not update if defaultValue is setted and Form have defaultValues"
**Describe the bug**
if a form created with defaultValues, and a useWatch hook subscribe to the field, and, the useWatch provide their own defaultValue property, the form value from the hook is not update after the render
[code]

[code]

**Codesandbox link**
Include a codesandbox will help us to investigate the issue quicker.

- [Codesandbox with both form and hook with default values](https://cod

[2020-08-19 02:17] bluebill1049 commented on #1434
oh oops, I remember now... yes you will need `useEffect`

[2020-08-19 02:18] bluebill1049 commented on #2646
`useWatch` defaultValue takes over `useForm` level

[2020-08-19 02:24] RookY2K commented on #2644
Hmm, I 100% support the idea that the value for native inputs are of type "string" since that is how the actual input would work outside the framework of `react-hook-form`. I'm less sanguine about setting a default value via the `useForm` hook and it breaking dirty checks.

It is well understood that you can set a value/default value for a native input with a "number" type but you will get a "stri

[2020-08-19 02:25] saculbr commented on #2646
oh thanks for the answer, it's a bit weird behavior

[2020-08-19 02:25] #2646 closed

[2020-08-19 02:26] ejose19 commented on #1434
@bluebill1049 I'm using setTimeout in ```onSubmit```, ```useEffect``` sadly is not flexible enough (like in the example, where I reset dynamically based on the result of a promise in ```onSubmit```). If there's no other solution that that one I will keep using it. Thanks!

[2020-08-19 02:27] bluebill1049 commented on #2646
you shouldn't need to define useWatch defaultValue if you have set up already at useForm level.

[2020-08-19 02:29] bluebill1049 commented on #2644
That's a great idea! let's work toward that.

- improve documentation
- console.warn at development env.

I did look your PR :)

[2020-08-19 02:31] bluebill1049 commented on #1434
Thanks @ejose19, I think use setTimeout for now, until we figure out something better.

[2020-08-19 02:33] RookY2K commented on #2644
I'll put together something tomorrow for the console.warn.

[2020-08-19 02:36] saculbr commented on #2646
Yep, but if I have defaultvalue at useForm level, I think that value from hook should be overridden by the useForm

[2020-08-19 02:38] saculbr commented on #2646
Only return the useWatch defaultValue if the field is undefined at useForm level

[2020-08-19 02:40] bluebill1049 commented on #2644
Yes, going to reject #2645

[2020-08-19 02:44] bluebill1049 commented on #2644
before you start to prepare a PR, please wait for this PR to be merged: https://github.com/react-hook-form/react-hook-form/pull/2600 🙏

[2020-08-19 02:55] RookY2K commented on #2644
As a learning opportunity, would you mind sharing your concerns?

Will do!

[2020-08-19 02:58] bluebill1049 commented on #2644
We should be aligned with what our intension here if the lib decided to support only `string` with native input, it would be best not leave a backdoor.

[2020-08-19 03:05] bluebill1049 commented on #2644
I will update the doc to emphasis this as well.

[2020-08-19 09:26] Flavien-Pensato commented on #872
@bluebill1049 Why `useFieldArray` doesn't accept rules ? Should it not be like `<Controller />` ?

[2020-08-19 11:43] itamardavidyan opened #2648 "select input count as dirty even after return to the default value"
**Describe the bug**
When I init the form I pass to `useForm` `defaultsValues`, then I click on the select input and choose option (not the default value) and the formState get `isDirty=true` (good :+1: ) BUT then I click (again) on the select input and choose the default value from the select options but the formState still get `isDirty=true` (bad :-1: )

**Codesandbox link (Required)**
--> https

[2020-08-19 11:49] bluebill1049 commented on #2648
HTML select produce `string`: defaultValues: { num: "2" }

[2020-08-19 11:49] #2648 closed

[2020-08-19 12:29] vangelov opened #2650 "Copying array fields with nested array fields inside them"
**Describe the bug**
If you're using a field array whose items in turn have another nested field array if you try to copy the top-level item the nested items are not copied.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-forked-jfo96?file=/src/fieldArray.js
2. Click on the first 'Copy' button
3. Scroll down to the b

[2020-08-19 12:35] bluebill1049 commented on #2650
each useFieldArray hold its own reference, if you want to copy nested field array, then you need to nested field array's method.

[2020-08-19 12:57] vangelov commented on #2650
Can you please elaborate more on what you mean by 'you need to use nested field array's method.'

[2020-08-19 15:56] SergeyWebDeveloper opened #2651 "Some default values are not included in the final data"
I beg your pardon for my stupid question, but when I set the default values to which the fields are not assigned, their values are not in the final data. Is this done on purpose?

Example - https://codesandbox.io/s/react-hook-form-reset-v6-forked-gbc6h?file=/src/index.js

In `onSubmit` I would like to wait for the next data:
[code]
Thanks!

[2020-08-19 17:42] AjithkumarJM commented on #778
Hey @aimanptz Actually I resolved it, For your reference! Hope it helps!

My Validation Part:

[code]

My Controller

[code]

[2020-08-19 17:48] AjithkumarJM commented on #778
Hey @aimanptz just try calling like this `getValues()["startDate"]`

[2020-08-19 19:01] Julien76 commented on #1761
+1
That would very helpful I think

[2020-08-19 19:42] ZachMayry opened #2652 "Setting shouldUnregister to false unregisters useFieldArray values"
**Describe the bug**
When setting `shouldUnregister` on a form, `useFieldArray` still unregisters and clears all the values when it remounts.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to codesandbox link
2. Click on append
3. Add a value
4. Click on unmount
5. Click on mount
6. See error

**Codesandbox link (Required)**
Include a codesandbox will help us to investigate the issue qu

[2020-08-19 21:29] saculbr commented on #2651
By default, when an input is removed (or not rendered), React Hook Form uses detect that field and unregister the input(s).

However, you can set shouldUnregister to false to maintain the input state even when unmounting occurs or you dont want to render that field.

[code]

[2020-08-19 21:50] #2651 closed

[2020-08-19 21:51] bluebill1049 commented on #2652
we are not supporting useFieldArray at the moment. It's on the todo list:
<img width="386" alt="Screen Shot 2020-08-20 at 7 51 34 am" src="https://user-images.githubusercontent.com/10513364/90693337-fa09e100-e2b9-11ea-8d8d-8c006159d500.png">

[2020-08-19 21:51] #2652 closed

[2020-08-19 21:59] bluebill1049 commented on #778
which version you are running?

[2020-08-19 22:00] bluebill1049 commented on #2650
[code]

@vangelov this is what i meant, it doesn't work with `append({ test:  [{ nested: [ ] }] }})`

[2020-08-19 22:28] bluebill1049 commented on #2644
<img width="898" alt="Screen Shot 2020-08-20 at 8 28 05 am" src="https://user-images.githubusercontent.com/10513364/90696111-13f9f280-e2bf-11ea-8f98-b89946b43d56.png">

Doc is updated.

[2020-08-20 00:25] cargallo opened #2653 "MUI KeyboardDatePicker inside Controller is returning +1 day"
Hi, I detected a problem in my code. I'm using RHF with MUI date picker. It seems that the value returned in the submit of RHF is adding one day. I think it's related to timezones but then I was searching in slack and found this conversation.

https://spectrum.chat/react-hook-form/help/material-ui-keyboard-datepicker-controller-onchange-and-default-value-issue~f236f08a-60d9-422d-b373-c31a36e9245f?

[2020-08-20 00:34] bluebill1049 commented on #2653
Thanks, @cargallo.

hmmm I don't think this is related to React Hook Form, we only get the value from the component and there is no parse/format in the code.

[2020-08-20 01:32] adriantrunzo opened #2655 "Disabled input values appear in handleSubmit data."
**Describe the bug**
Values for disabled inputs still appear in `handleSubmit` data.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a form with a disabled input.
2. Submit the form and inspect the data passed to `handleSubmit`.
3. See the value for the disabled input.

**Codesandbox link (Required)**
https://codesandbox.io/s/sweet-morning-dzc1f

**Expected behavior**
Disabled input

[2020-08-20 01:39] bluebill1049 commented on #2655
This will be fixed in the next minor version release: https://codesandbox.io/s/naughty-sound-yugie?file=/src/App.js

[2020-08-20 02:30] bluebill1049 commented on #2644
going to close this issue now, feel free to follow up with dev warning PRs or doc improvement, just be mindful that `Controller` doesn't have an issue with return type, only have native inputs. 👍

[2020-08-20 02:30] #2644 closed

[2020-08-20 03:16] AjithkumarJM commented on #778
@bluebill1049 `^5.7.0`

[2020-08-20 03:20] bluebill1049 commented on #778
Thanks @AjithkumarJM `getValues` is correct instead of `watch`

[2020-08-20 03:28] cargallo commented on #2653
I thought that at first but then I tested with momentjs and the same happened. Look at this example where I duplicate the MUI Date picker but outside controller. It's showing the correct date in alert inside onchange.

https://codesandbox.io/s/react-hook-form-v6-controller-forked-xrq7t?file=/src/Mui.js

[2020-08-20 03:56] bluebill1049 commented on #2653
I don't know why this is an issue :( but render fix the problem: https://codesandbox.io/s/react-hook-form-v6-controller-forked-fm9bi?file=/src/Mui.js

[2020-08-20 03:56] bluebill1049 commented on #2653
i will update the example as well.

[2020-08-20 04:00] cargallo commented on #2653
Hmmmm here I'm still seeing the date with +1 day in submit

[2020-08-20 04:19] bluebill1049 commented on #2653
<img width="1073" alt="Screen Shot 2020-08-20 at 2 18 36 pm" src="https://user-images.githubusercontent.com/10513364/90716324-0c067680-e2f0-11ea-9316-8a404662c7c4.png">

<img width="732" alt="Screen Shot 2020-08-20 at 2 18 53 pm" src="https://user-images.githubusercontent.com/10513364/90716344-16c10b80-e2f0-11ea-9a1a-7b6066884c1b.png">

[2020-08-20 04:35] cargallo commented on #2653
@bluebill1049 I think the problem resides in time zone. You are at +11 so the day doesn't differ but I'm in -3 time zone it changes the date. Try changing your PC time zone to -3.

[2020-08-20 04:40] bluebill1049 commented on #2653
if time zone related why its related with Controller, really strange stuff...

[2020-08-20 04:43] bluebill1049 commented on #2653
<img width="1424" alt="Screen Shot 2020-08-20 at 4 42 48 am" src="https://user-images.githubusercontent.com/10513364/90717652-6d7c1480-e2f3-11ea-91dc-268ef2bfb51b.png">
![Uploading Screen Shot 2020-08-20 at 4.43.14 am.png…]()

are you using this example: https://codesandbox.io/s/react-hook-form-v6-controller-forked-fm9bi?file=/src/Mui.js?

[2020-08-20 06:23] vangelov commented on #2650
Thank you, but how will this solve the problem where the parent already has children?

In my situation I have a parent that has children. I want to copy the parent along with any children already belonging to it.

I tried several apporaches but I just can't make it work.

[2020-08-20 06:35] bluebill1049 commented on #2650
here is a working version with `reset()`, although append with the child should work as well, what I stated remains the same. each `useFeldArray` has it's own reference, it doesn't work with nested data like what you suggested above.

[2020-08-20 07:19] vangelov commented on #2650
Ah..I see now. Never thought that using reset will do the trick. Thank you very much for all your help and fast responses, really appreciated!

[2020-08-20 07:20] bluebill1049 commented on #2650
no worries @vangelov 👍

[2020-08-20 07:20] #2650 closed

[2020-08-20 07:23] dequn commented on #302
Looks like this only solve reset, but don't solve new form case.

[2020-08-20 07:34] SergeyWebDeveloper commented on #2651
@saculbr , I still don't understand how this can help me. I tried as you advised and did not get the values of the fields, which are specified in the default value.

[2020-08-20 07:49] bluebill1049 commented on #2651
combine your default values at submit or put them into input type="hidden"

[2020-08-20 10:29] misterflop opened #2658 "Documentation for TS ErrorMessage should be fixed."
**Describe the bug**

Docmuentation error in ErrorMessage usage.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'

TS version of https://react-hook-form.com/api#ErrorMessage

2. Copy paste this example in the example code sandbox and you get that:

      <ErrorMessage errors={errors} name="singleErrorInput">
        {({ message }) => <p>{message}</p>}
      </ErrorMessage>

3. Yo

[2020-08-20 10:37] bluebill1049 commented on #2658
updated.

[2020-08-20 10:37] #2658 closed

[2020-08-20 10:43] sonatard opened #2659 "Display automatically an error message"
**Is your feature request related to a problem? Please describe.**

I don't want to add `ErrorMessage` Component in my React Component.

**Describe the solution you'd like**
HTML 5 input attribute validation.
https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation

HTML5 form validation display error message automatically.

![error-firefox-win7](https://user-images.githubusercontent.c

[2020-08-20 10:45] bluebill1049 commented on #2659
we did that in V3: https://react-hook-form.com/v5/api#Browserbuiltinvalidation but the feature never pick up in the community, so probably not going to reimplement it anytime soon, but will tag it with a feature request.

[2020-08-20 10:46] #2659 closed

[2020-08-20 10:48] vangelov commented on #2650
The only problem I see is with the 'isDirty' property. It does not get set 'true' when a parent is copied which makes sense as we're actually resetting the form. It can be manually set after the copy, but then what happens when you delete a parent item -- if it's the newly added isDirty should be false, but if it's the first one, it should stay true.

Do you think that it makes sense to add a 'cop

[2020-08-20 10:51] bluebill1049 commented on #2650
have a look at the doc: https://react-hook-form.com/api#reset you can omit.

[2020-08-20 10:55] vangelov commented on #2650
Yes, but I want to set 'isDirty' to 'true' when a copy is made and then set it back to 'false' if the copy is deleted. But if the original was deleted it should stay 'true'.

[2020-08-20 10:55] vangelov commented on #2650
Essentially it should work the same way isDirty works for array fields when using append/remove

[2020-08-20 10:59] sonatard commented on #2659
I see.  Thank you for tagging it as a feature request.

[2020-08-20 10:59] vangelov commented on #2650
The problem with adding  dirtyFields: true to reset in this case is that if isDirty is false before the copy is made it will stay false after the copy

[2020-08-20 11:16] bluebill1049 commented on #2659
no worries @sonatard once the upvotes is increased, we will bring it back.

[2020-08-20 11:27] bluebill1049 commented on #2650
then going back to what I suggested early on separate `append`: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-forked-qjqde?file=/src/fieldArray.js

[2020-08-20 12:18] vangelov commented on #2650
Thank you, I'll try this approach

[2020-08-20 12:29] bluebill1049 commented on #2583
@kotarella1110 if we have a separate ts config, would that resolve this problem (form memory what you did with resolvers)?

[2020-08-20 12:32] cargallo commented on #2653
Sorry yesterday was very late here, I went sleep. Yes I'm using that example. I tested it again now I paste you the screens.

This is the alert inside controller. Note the 11 marked in red there. It's strange it should be 00

![image](https://user-images.githubusercontent.com/13320290/90769090-0e53db00-e2c6-11ea-9fa6-ad091393a134.png)

This is the alert outside controller. Note that the controller

[2020-08-20 12:35] bluebill1049 commented on #2653
lol, it's all good. it's late here. would you like to try with `setValue`? see this issue is going away? I will take a look tmr morning.

[2020-08-20 12:35] vangelov commented on #2650
This example works, but only with a single child item. If you have more than one, you need to call 'append' in the 'useEffect' hooks multiple times which does not work unfortunately.

[2020-08-20 15:59] SergeyWebDeveloper opened #2662 "Nested array value is overwritten."
**Describe the bug**
Faced such a problem that my value is not being written to the application state, i.e. it is overwritten.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-v6-ts-setvalue-forked-95r9e?file=/src/index.tsx

**Expected behavior**
Getting value
[code]
Thank!

[2020-08-20 16:16] jrbytes commented on #230
I have problem the implementation in my useEffect.
I implemented my input like this:
[code]
And my useEffect with register(). But, i not have success. So, i implemented without.
[code]
How you see, i implemented with state openModal for to identify when open. *But, i would to know why need of setTimeout*.

[2020-08-20 21:18] cargallo commented on #2653
@bluebill1049 I found the problem. To initialize the default value of date picker (not datetimepicker), it has to be in this way (without hours, mins and seconds). For example,

const defaultValues = {
    muiDatePicker1: new Date("2020-08-01T00:00:00"),
    muiDatePicker2: new Date(new Date().setHours(0, 0, 0))
}

In the sandbox where we were testing it was initialized this way

MUIPicker: new Da

[2020-08-20 23:04] bluebill1049 commented on #2662
please send the questions to Discussion next time: https://codesandbox.io/s/react-hook-form-v6-ts-setvalue-forked-dxcdh

[2020-08-20 23:04] #2662 closed

[2020-08-20 23:06] bluebill1049 commented on #2653
holy shit! wow, great find...!

[2020-08-20 23:08] bluebill1049 commented on #2653
update the CSB 👍 thanks a lot for the investigation @cargallo

[2020-08-20 23:08] #2653 closed

[2020-08-20 23:27] jagmitg opened #2664 "Controller not working with blur on other fields"
**Describe the bug**
I have some custom form elements which use blur and onchange to reflect changes, as well as custom registers.. However, since i've implemented react-datepicker and react-select through controllers. Every a change is made to the existing fields, the controller and the custom field resets.

This is what my controller looks like for react-datepicker.

` <Controller
    control={c

[2020-08-20 23:35] bluebill1049 commented on #2664
- codesandbox with your issue
- proper steps to reproduce the problem

[2020-08-20 23:39] cargallo commented on #2653
Glad to help! At first glance I knew RHF was going to be a great library. I updated the sandbox but it's forked in here:

https://codesandbox.io/s/react-hook-form-v6-controller-forked-2mt0z

I don't know if you mean that. Regards,

[2020-08-20 23:46] bluebill1049 commented on #2653
<img width="1246" alt="Screen Shot 2020-08-21 at 9 46 11 am" src="https://user-images.githubusercontent.com/10513364/90836599-27768d80-e393-11ea-80bc-a668f68bfff5.png">
Thanks @cargallo ❤️ , yes I have updated the example in the doc 👍

[2020-08-21 03:22] nlrowe commented on #2312
Hey Bill, I pulled this fix and it worked great for the drag and drop!

On testing the change further I have found another issue with persisting nested array values when you remove a parent array item. This issue also only occurs when drag and drop is in use. Using this [sandbox](https://codesandbox.io/s/react-hook-form-usefieldarray-forked-mdq5k?file=/src/index.js:881-921) do the following:

1. C

[2020-08-21 05:56] bluebill1049 commented on #2312
not sure, this will play nicely with `useFieldArray`, because `key` is not using `item.id` at the root level.

<img width="584" alt="Screen Shot 2020-08-21 at 3 55 52 pm" src="https://user-images.githubusercontent.com/10513364/90857123-cbc5f780-e3c6-11ea-9927-dba9a2bbe882.png">

[2020-08-21 06:05] #2631 closed

[2020-08-21 07:08] maxsbelt opened #2667 "form.reset method call produces memory leak"
**Describe the bug**
I have a form that creates entity with 35 fields (some of them are conditional). I added next code to add ability to edit entity:

[code]

And after couple of `reset` calls I noticed significant performance issue (browser window hangs for some time). I think the root of the problem is [`MutationObserver` usage](https://github.com/react-hook-form/react-hook-form/blob/90d03bc/sr

[2020-08-21 07:12] SergeyWebDeveloper commented on #2662
sorry for the stupid questions and thanks a lot for the help!

[2020-08-21 07:24] bluebill1049 commented on #2662
no worries at all. happy to assist either way.

[2020-08-21 07:36] bluebill1049 commented on #2667
Thanks, will fix this bug first then investigate for single `muationObserver`.

[2020-08-21 07:51] bluebill1049 commented on #2667
can you help test out this beta version: `react-hook-form@6.5.0-beta.1`?

[2020-08-21 07:58] #2667 closed

[2020-08-21 07:59] bluebill1049 commented on #2667
will release patch this soon, in the meantime, I am investigating a better solution (single mutation observer)

[2020-08-21 08:14] maxsbelt commented on #2667
@bluebill1049 `react-hook-form@6.5.0-beta.1` works really well. Thanks for the quick response 👍

[2020-08-21 08:16] bluebill1049 commented on #2667
I am working on a better solution, I will tag you once I have it in place, thanks for picking out this bug. much appreciated.

[2020-08-21 08:57] bluebill1049 commented on #2667
This is my proposal for a single MutationObserver: https://github.com/react-hook-form/react-hook-form/pull/2670

let me know your through. 🙏

[2020-08-21 11:06] W3stside opened #2673 "using array fields in watch breaks when values `undefined` or `null`"
Using `v6`

example:

[code]

Unfortunately I didn't look too extensively but i believe the issue to be here:
[code]

[2020-08-23 11:38] sebastiandeutsch opened #2685 "Controller with a Custom Input that has no underlying Ref is not submitting by hitting <enter> key"
I have created a custom input that has choice buttons and saves the state of the last clicked button. I could have saved the state in a hidden input field but since the component and its onChange callback will get more complex in future I would like to avoid that. This is the implemenation:

[code]

**Describe the bug**
When using the submit button everything works fine. But when I hit the `<enter

[2020-08-23 22:28] charlesjavelona opened #2687 "Add dynamic fields based on number"
**Is your feature request related to a problem? Please describe.**
There's no clear way to dynamically render *N* number of fields based on user input. It's always append based on button clicks.

**Describe the solution you'd like**
When a user enters a number in a textfield the input fields dynamically displays. Example, if a user enters he/she needs 5 input fields for phone number, 5 input field

[2020-08-23 22:45] bluebill1049 commented on #2687
pretty sure that you after this: https://react-hook-form.com/api#useFieldArray

[2020-08-23 22:45] #2687 closed

[2020-08-23 22:51] FrimJo opened #2688 "Sets `number` to `string` even though manually converting string to number in onChange handler"
**Describe the bug**
When registering an `input` with type `number` and hijacking the `onChange` handler with updating the `event.target.value` with `+event.target.value` (effectively converting the value string into a number)  i still get type `string` when submitting.

I've gotten sought result by using the `Controller` component and hijacking `onChange` handler (see Codesandbox link below).

**

[2020-08-23 23:14] bluebill1049 commented on #2688
[code]

This code above doesn't work with native input, it works with Contorller, because `onChange` gets returned to `Controller`.

[2020-08-23 23:15] bluebill1049 commented on #2685
your custom component is building incorrectly. you should host your local state inside by using `useState`.

[2020-08-23 23:18] charlesjavelona commented on #2687
I'm currently using useFieldArray. Unless I'm doing something wrong. Append doesn't trigger multiple displays based on a number given. A manual push of a button is needed to trigger a render and it can only do it one at a time.

[2020-08-23 23:21] bluebill1049 commented on #2687
have you tried `append([{}, {}])`, you can do a map with how many items inside.

[2020-08-24 00:43] sahanatroam opened #2689 "mode cannot be switched dynamically"
**Describe the bug**
Similar to this https://github.com/react-hook-form/react-hook-form/issues/2565
When the form `mode` changes dynamically it's not being picked up.

Codesandbox link (Required)
https://codesandbox.io/s/react-hook-form-validationschema-forked-4nuwd?file=/src/index.js

Expected behavior
If you open the Codesandbox above,

Enter a wrong URL in to website
Error is shown - this is go

[2020-08-24 00:56] bluebill1049 commented on #2689
we don't support `mode` switching at this stage (as we cache the mode). if you need to change the validation behavior please use `trigger`.

[2020-08-24 00:56] #2689 closed

[2020-08-24 01:11] sahanatroam commented on #2689
@bluebill1049 is there a reason why you wouldn't support this ?

[2020-08-24 01:18] sahanatroam commented on #2689
Would be great to have the freedom like how we did with the resolver. So that the DX improves a lot by having the ability to customise anyway a developer prefers.

[2020-08-24 07:15] itamardavidyan opened #2692 "Hidden inputs doesn't effect isDirty form state"
**Describe the bug**
When hidden input changed the form state doesn't effect.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-hidden-input-bug-5dhke?file=/src/index.js

**Expected behavior**
When hidden input (as any other input) default value changed - the `isDirty` state will change to `true`.

**Desktop (please complete the following information):**
- OS: Ubuntu 20.04

[2020-08-24 07:32] sebastiandeutsch commented on #2685
Ok. Got it. I'm aware of that solution. Is there any way to work around a hidden input field?

[2020-08-24 07:35] bluebill1049 commented on #2692
you are mixing controlled with uncontrolled: https://codesandbox.io/s/react-hook-form-hidden-input-bug-forked-m1kls?file=/src/index.js

[2020-08-24 07:36] bluebill1049 commented on #2685
yes, you can. you will have to use `setValue` then.

[2020-08-24 07:38] sebastiandeutsch commented on #2685
Ok thanks.

[2020-08-24 07:39] sebastiandeutsch commented on #2685
Feel free to close the issue then.

[2020-08-24 07:39] #2692 closed

[2020-08-24 07:40] risardi123 commented on #656
Thanks for the answer it solved my problem too, but for the future, is it include in react-hook-form @bluebill1049 ?

[2020-08-24 07:41] bluebill1049 commented on #2685
I think it's easier to host the state in `useState` 👍

[2020-08-24 07:41] #2685 closed

[2020-08-24 07:42] bluebill1049 commented on #656
Don't think so, we are trying to follow HTML standard, if you want to stripe empty, i would recommend you look at this: https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc

[2020-08-24 10:30] terchris opened #2695 "The example "Controller (MUI, React-Select and etc)" has a bug if upgraded to latest version"
**Describe the bug**
In the list of examples there is a example "Controller (MUI, React-Select and etc)" that can be tested on https://codesandbox.io/s/react-hook-form-controller-079xx

This demo uses react-hook-form version 5.5.1. When you set the version to 6.5.1 there is a bug in the MUI Checkbox.
In defaultValues the field Checkbox: true is ignored.

**To Reproduce**
1. In  defaultValues chang

[2020-08-24 10:40] bluebill1049 commented on #2695
please use the v6 example: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r `render`

[2020-08-24 10:40] #2695 closed

[2020-08-24 10:40] #2688 closed

[2020-08-24 10:40] bluebill1049 commented on #2673
will re-open once followed up with code to reproduce.

[2020-08-24 10:40] #2673 closed

[2020-08-24 10:41] FrimJo commented on #2688
@bluebill1049 Ah, ofc! Thnx

[2020-08-24 10:43] bluebill1049 commented on #2688
no worries :) happy to help. 👍

[2020-08-24 12:00] sebastiandeutsch commented on #2685
Anyways the error has been more profane. I was simply forgetting to set the type of the button:

[code]

The default type for button is "submit" this is why its interception the enter key.

Anyway:

I wasn't able to create an input with an underlying <input> field. Could you point me to an "by the book" implementation for learning reasons?

[2020-08-24 12:02] bluebill1049 commented on #2685
Try to follow below: every time the user click on the button store into the state.

[code]

[2020-08-24 13:07] gauravkrp commented on #1781
https://github.com/react-hook-form/react-hook-form/issues/1691

Awaiting @bluebill1049 you to please implement this...

[2020-08-24 13:40] zelucena commented on #1574
This should be very useful. I use a state to temporarily disable my submit buttons so the user can't trigger more than one request at a time.
I got the function `useYupValidationResolver` from the docs at V5 but I also manually added the following to the catch segment:
`
if (typeof handleErrors === 'function') {
    handleErrors(errors);
}
`

[2020-08-24 16:49] flamedmg opened #2698 "Yup ValidationError is leaking and becomes untracked runtime error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
To reproduce add `test` call to any yup field here is an example yup schema
[code]

1. Go to codesandbox link
2. Fill first name, last name and put abc or any non valid string into username field
3. See error

![image](https://user-images.githubusercontent.com/416393/91072822-be1ca600-e642-11ea-89d5-e09c0561

[2020-08-24 22:52] thainararogerio commented on #312
For those who came into this post nowadays, **there is no need to use cleanup anymore if you are using mocha, Jest or Jasmine**: https://kentcdodds.com/blog/common-mistakes-with-react-testing-library

[2020-08-24 22:54] bluebill1049 commented on #1574
@zelucena this is already shipped.

[2020-08-24 23:10] elwynelwyn commented on #2073
I really appreciate your concern for avoiding future breaking changes, however I don't think this approach is quite right. Conceptually, the types of the react-hook-form public API (e.g. everything returned from `useForm`) should be exported, so that consumers of those public functions and objects can correctly type their application when working with them. No issues with keeping some types intern

[2020-08-25 00:26] charlesjavelona commented on #2687
I did. This works! Thank you for your help.

On Sun, Aug 23, 2020 at 7:21 PM Bill <notifications@github.com> wrote:

[2020-08-25 04:15] bluebill1049 commented on #2583
@krnlde can you please test this beta version: 6.5.2-beta.1

[2020-08-25 06:02] krnlde commented on #2583
Yes will do now

[2020-08-25 06:44] krnlde commented on #2583
Quick A/B test reveals `6.5.2-beta.1` works and `6.5.1` as expected doesn't. Great job man and thank you. This day next year IE will be history :)

❤️

[2020-08-25 06:50] bluebill1049 commented on #2583
thanks very much @kotarella1110 🙏 and @krnlde's testing.

[2020-08-25 06:50] #2583 closed

[2020-08-25 07:15] eithe commented on #2073
First of all, react-hook-form is one of the most amazing libraries I have ever come across, and the attention to detail not only to the code, but also to the website and the documentation is truly a great achievement. It is a testimate to the hard work the people involved do, and I can't start to thank you enough (looking at you @bluebill1049) for what you provide to us for free.

Having said that

[2020-08-25 10:46] KarelVerschraegen opened #2706 "Watch throws a property is read-only exception when watching an object with nested properties"
**Describe the bug**
`watch` throws a `$property is read-only` exception when watching an object that has nested properties. This object is loaded from an graphql endpoint and passed into a `react-select` form-field

After upgrading from `6.4.1` to `6.5.0`, the code no longer works.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/exciting-leftpad-4zlw4?file=/p

[2020-08-25 11:14] bluebill1049 commented on #2706
Thanks a lot for the reporting! just got it patched: https://codesandbox.io/s/xenodochial-saha-j028q?file=/src/App.js

[2020-08-25 11:33] pixelass commented on #2073
Usually versioning via [semver](https://semver.org/) should tell you about breaking changes and help to assume the impact an update will or might have.

[2020-08-25 12:37] bluebill1049 commented on #2706
patched in 6.5.3

[2020-08-25 12:37] #2706 closed

[2020-08-25 14:36] paambaati opened #2708 "Include field name in warnings"
**Is your feature request related to a problem? Please describe.**
Recent versions of RHF have been throwing warnings like these —

[code]

[code]

It would be massively helpful if the warning also includes some identify property (like `name`) along with the warning so I know what to fix. This is especially helpful when building huge forms with multiple nested fields/array fields.

**Describe the

[2020-08-25 18:00] CarolinaStephanie opened #2710 "Insert item in usefieldArray inside a loop"
**Describe the bug**
When insert an item in a fieldArray inside a loop, just the first one is added, the others are ignored. One way to solve this issue is putting a timeout for each insert, but depends of the size will be not performing.

**To Reproduce**

1. Click on Insert
2. See error (Just the last one is added)
3. If you comment the line  > insert(position + 1, itemNewOptions); and uncomment

[2020-08-25 19:30] finom commented on #2504
@bluebill1049 I understand, but why not to call it `useLocalWatch` or whatever you want but just using the `use` prefix?

[2020-08-25 21:26] terchris commented on #2695
Thank you :)

[2020-08-25 21:55] onionhammer opened #2714 "Holes in array"
**Describe the bug**
If your array has holes in it; i.e. fields[0].name, fields[2].name, the last item renders empty.

**To Reproduce**
Take a form with three items, and then remove the middle item.

**Desired behavior**
React-hook-form should ignore holes in the array so that react field names are not disrupted. Browsers do not like form field name changes for things like <input type="file">, so

[2020-08-25 23:03] bluebill1049 commented on #2710
<img width="861" alt="Screen Shot 2020-08-26 at 9 03 08 am" src="https://user-images.githubusercontent.com/10513364/91236324-f7583180-e77a-11ea-8cf4-bd796fb2aaee.png">

we don't support multiple actions at the moment. we can consider adding `insert([])`

[2020-08-25 23:26] bluebill1049 commented on #2708
@pmaier983 if you are focusing on the search, I can take over this one and working on it tonight.

[2020-08-25 23:32] pmaier983 commented on #2708
Give me a day or so. I want to see if I can get this working. (having some npm link issues XD)

[2020-08-25 23:33] bluebill1049 commented on #2708
no worries, i will let you focus on your stuff. 🙏

[2020-08-25 23:38] pmaier983 commented on #2708
O sorry, i meant give me a day to try to fix this XD. I was wondering what exactly is your method to npm link? I do as follows:

- `npm link` at root
- then in app `npm link react-hook-form`
- then npm start

but i always hit the same issue of `Module not found: Can't resolve 'react-hook-form' in '/Users/phillipmaier/Desktop/Code.nosync/react-hook-form/react-hook-form/app/src'` I must be doing som

[2020-08-26 00:43] ricardoenriquez commented on #742
after version 60.0.0.rc2 the onchange no longer works

[2020-08-26 00:46] bluebill1049 commented on #742
Take a look at the v6 doc: https://react-hook-form.com/api#Controller

[2020-08-26 01:26] bluebill1049 commented on #2073
Thank you @eithe & @elwynelwyn feedback. I will bring this topic again into the team discussion.

[2020-08-26 01:56] #2708 closed

[2020-08-26 05:58] zeckdude commented on #656
If you don't want to mutate your values object and you want a nifty one-liner, here you go:

[code]

[2020-08-26 07:51] inspiraller opened #2720 "Specifying 'mode' in useFormContext is failing"
When I pass context using useFormContext and specificy mode I get error.
Expected 0 arguments, but got 1.

# ExampleForm.tsx
[code]

The documentation here: https://react-hook-form.com/api
under useFormContext: "	Accept all useForm methods"
It does not indicate what properties, but I assumed this would work.

[2020-08-26 08:01] RavisaraDev commented on #2596
This is happening to me too. I'm using React web version.

[2020-08-26 08:01] inspiraller commented on #2720
Its ok I realised I made a mistake in not including the FormProvider.
I realise now mode is only set once on useForm and this is inherited via methods in nested component.

Please close issue.

**My fix:**
[code]

[2020-08-26 08:01] #2720 closed

[2020-08-26 08:16] jzrskc opened #2722 "Controllers render does not update element"
I have a problem with Controller and Antd, renederpros do not work as expected, they register element/input but they don't update.

code below works:
[code]

code does not work:
[code]

[App can be tested here](https://codesandbox.io/s/eloquent-night-xcqkj?file=/App.js)

[2020-08-26 08:29] bluebill1049 commented on #2722
you didn't wire controller correcty: https://codesandbox.io/s/exciting-lumiere-00u9n?file=/App.js

[2020-08-26 09:16] #2722 closed

[2020-08-26 10:04] vcarel opened #2723 "A plain input located before a controller steals focus on error"
**Describe the bug**
A plain input located before a controller steals focus on error.

**To Reproduce**
I have a form with 3 inputs: first and last ones use a `Controller`, and the one in the middle is a regular input using `register`. All fields are empty and required.

1. When I click on submit
2. Then the focus is on the middle field whereas it should be on the first one.

**Codesandbox link**

[2020-08-26 10:11] bluebill1049 commented on #2723
This is due to the registration order. native input ref will always be registered first, Controller will be always registered after mount. you can avoid this problem by using all `Controller`.

[2020-08-26 10:23] vcarel commented on #2723
I guessed I had to do that 😅

However it's an unexpected and undocumented behavior, is it?

[2020-08-26 10:26] bluebill1049 commented on #2723
It's expected behavior, I will add a comment under focus props with Controller.

[2020-08-26 10:33] bluebill1049 commented on #2723
<img width="562" alt="Screen Shot 2020-08-26 at 8 32 39 pm" src="https://user-images.githubusercontent.com/10513364/91293392-4a61d100-e7db-11ea-94ed-ef1ae03ce6d6.png">

This will be under the `onFocus` props, feel feel to improve the doc if you feel that's not enough.

[2020-08-26 10:33] #2723 closed

[2020-08-26 10:33] vcarel commented on #2723
Is there a work-around so to not rewrite the whole forms with Controller?

[2020-08-26 10:35] bluebill1049 commented on #2723
It's going to be tricky because we can't register the item until `Controller` is mounted, while with native input we can register right away once ref is there.

[2020-08-26 10:38] vcarel commented on #2723
I can't prevent myself to be disappointed, since it will give me quite a lot of extrawork.

But thanks for your help! I appreciate your fast answers and this excellent library ☺

[2020-08-26 10:40] bluebill1049 commented on #2723
Sorry about this... I should have documented this under the doc, this could have been avoid...

[2020-08-26 13:39] CaaioSB commented on #77
This don't work for me, but i have a similar solution.

On API.
[code]

On Render.
[code]

Thank you!

[2020-08-26 13:46] KarelVerschraegen opened #2725 "Field does not dirty when when selecting a nested object."
**Describe the bug**
Possibly related to #2706.

When selecting a value with nested properties from a `react-select` dropdown, the property `formState.isDirty` does not change.

As far as I can tell, the combination of `watch` and nested properties, breaks the formState. When removing the `watch` on the selected item, the `formState.isDirty` changes correctly.

When you downgrade to `6.4.1`, the c

[2020-08-26 14:00] risardi123 commented on #656
Oh i see, thanks for the reply and answer
@bluebill1049 , @zeckdude

[2020-08-26 15:33] nlrowe commented on #2312
Good catch, looks like I had my keys mixed up!

[2020-08-26 17:37] ilovett opened #2728 "successive removes on recursive nested field array leaves behind empty fields"
**Describe the bug**

I have a [query builder codesandbox](https://codesandbox.io/s/react-hook-form-query-builder-mmx3r?file=/src/QueryBuilder.tsx) in which you can recursively build a query.  I am having a problem removing multiple conditions after adding them...

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-hook-form-query-builder-mmx3r?file=/src/Que

[2020-08-26 17:57] ilovett commented on #2728
So I just had the idea to switch the uncontrolled register ref to controlled and the bug is fixed... https://codesandbox.io/s/react-hook-form-query-builder-forked-g48lw

But I would still expect the uncontrolled hidden input to be removed?

[2020-08-26 18:52] michalpalenkar commented on #267
I'm facing same problem, but codesandbox example is no longer works. Can you please provide some basic workaround how to solve it again? Thanks

[2020-08-26 19:32] sincraianul opened #2729 "prepending to first-level field array when using nested arrays renders wrong second level fields"
**Describe the bug**
When using nested field arrays, prepending (or appending) a child to the first level array causes second level fields to render wrong values.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/rhf-nested-arrays-bug-u6gei?file=/src/index.js
2. Click on 'prepend foo'
3. Notice the newly prepended object has the wrong `bars`.

**Expected behavio

[2020-08-26 20:02] ilovett opened #2730 "`clearErrors` clears all nested errors unexpectedly"
**Describe the bug**

Recursive form with nested arrays, due to mount effect order, `clearErrors` runs on the root item last, and that appears to clear all nested orders as well.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-hook-form-query-builder-clearerrors-on-nested-items-z7d3o?file=/src/QueryBuilder.tsx
2. Click on console
3. Click on "Remove Cond

[2020-08-26 22:50] #2714 closed

[2020-08-26 23:03] bluebill1049 commented on #2730
This is not a bug, right? More of a feature request?

<img width="682" alt="Screen Shot 2020-08-27 at 9 03 23 am" src="https://user-images.githubusercontent.com/10513364/91365329-2ab2c300-e844-11ea-805b-c1f51a0798d6.png">

[2020-08-26 23:04] bluebill1049 commented on #2730
By the way, really cool stuff~

[2020-08-26 23:06] bluebill1049 commented on #2730
maybe I need a bit more context on this issue as well, especially below:

[2020-08-26 23:08] bluebill1049 commented on #2710
I am going to close this as a bug because it's not intended usage, but please feel free to send a feature request i will tag it under the project.

[2020-08-26 23:08] #2710 closed

[2020-08-26 23:11] willxy opened #2731 "tab movement between fields when rendering using .map()"
**Describe the bug**
I'm wanting to display the set of fields using an array and .map() and a component, eg:

[code]
When I do that, hitting tab doesn't move the cursor to the next field as expected.

**To Reproduce**
At https://codesandbox.io/s/rhf-yup-map-xmgzo:
 - click on the first field ("address")
 - hit tab to move through the fields
 - for the first set of fields, each press of tab trigger

[2020-08-26 23:14] bluebill1049 commented on #2729
Each useFieldArray hosts its own field array so does either method, perhaps I need to reinforce that in the doc.

[code]

[2020-08-26 23:17] bluebill1049 commented on #2731
https://codesandbox.io/s/rhf-yup-map-forked-jnt63?file=/src/profile-map.js

please looking for my note in the codesandbox.

[2020-08-26 23:22] willxy commented on #2731
Ahh, thanks, I'll take a look at that.

[2020-08-26 23:41] bluebill1049 commented on #2725
you are missing defaultValue there is warning at the console.

https://codesandbox.io/s/happy-snow-sz4qu?file=/src/App.js

[2020-08-27 00:00] willxy commented on #2731
Got it, yep!  Thanks for seeing my error @bluebill1049.

[2020-08-27 00:00] #2731 closed

[2020-08-27 00:00] onionhammer commented on #2714
I see now why there are no open issues on this repo lol

[2020-08-27 00:02] bluebill1049 commented on #2714
That's some bullshit right there, I maintain the issues here.  dude go check all the issues, I have responded to all of them.

[2020-08-27 00:04] bluebill1049 commented on #2731
no worries @willxy 👍

[2020-08-27 01:05] onionhammer commented on #2714
@bluebill1049 apologies for offending you, but submitting a detailed issue would also take a good amount of effort on my own part, so I was hoping for some form of conversation prior to submitting more detail. Otherwise I could dedicate a good amount of time into detailing out this issue only to have it dismissed out of hand

[2020-08-27 01:50] bluebill1049 commented on #2714
@onionhammer comment like that (above) is completely ungrateful and meaningless. This is not a product **support line** as you could imagine, I spend my own time (night and weekends) to maintain and resolve issues here. what you saying might sound funny to you, but it's not in my end. I don't make this lib for living, I am building and maintaining for the sake to achieve something meaningful in my

[2020-08-27 01:59] bluebill1049 commented on #2073
hey @eithe & @elwynelwyn, after discussion with the team members, we agreed to expose with all the types under the following condition.

1. official types will still be documented in the doc.
2. none official types will potentially lead to breaking change and usage is under developer's own risk.

I think this reasonable to make everyone happy again and at the same time having the awareness that un

[2020-08-27 02:52] bluebill1049 commented on #2728
hey @ilovett thanks for the detailed issue report, at the moment, we don't support conditional field array just yet.

maybe try to use CSS to toggle the visibility? https://codesandbox.io/s/react-hook-form-query-builder-forked-u8gvm?file=/src/QueryBuilder.tsx

I think that's the root cause of the issue.

still working in progress with this: https://github.com/react-hook-form/react-hook-form/pull/2

[2020-08-27 03:08] bluebill1049 commented on #2728
I think the other problem I can see updates nested field array through parent useFieldArray.

✅
[code]

❌
[code]

update child field array should use child's useFieldArray

[2020-08-27 03:36] onionhammer commented on #2714
@bluebill1049 again, I'm not trying to waste your time, I'm trying to connect with someone to help improve *your* product for *your* benefit, I had already worked around this issue myself before submitting this issue - although the workaround is ugly.

I apologize (again) for making a joke at your expense, I didn't mean to offend you; I'm not looking for an e-battle, so if you are interested in th

[2020-08-27 03:42] bluebill1049 commented on #2714
let's move on with this problem, I think my message is delivered.

Please provide a codesandbox for me to reproduce this issue if you can, I am happy to take a look at it. the issue will be re-open with that as well as appropriate fix (if any).

[2020-08-27 06:00] sincraianul commented on #2729
I'm afraid I don't quite understand how I would use `useEffect` to reset the child field array. If I try to set up a `useEffect` inside the `Child` to call ```setValue(`foos[${index}].bars`, [])``` it doesn't really work.

[2020-08-27 06:12] sincraianul commented on #2729
Seems that it's exactly the same issue as in #2223.

[2020-08-27 06:22] bluebill1049 commented on #2729
Thanks, just reproduce this issue with my codesandbox: https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-x7btr

[2020-08-27 06:23] bluebill1049 commented on #2729
Don't think it's the same issue.

[2020-08-27 06:31] sincraianul commented on #2729
You're right, not the same one. What I pointed out (and it's the same issue in your codesandbox) is related to`prepend`. `append` works fine. 😄

[2020-08-27 06:35] bluebill1049 commented on #2729
yea, thanks for the issue report @sincraianul looking into this problem.

[2020-08-27 07:11] pixelass commented on #2073
@bluebill1049 Sounds reasonable. We're really happy about this decision and looking forward to new releases.
As this ties perfectly into our timeline I want to give you a big:

### THANK YOU

[2020-08-27 08:31] KarelVerschraegen commented on #2725
I have updated the example with something that more closely resembles the codebase

https://codesandbox.io/s/blissful-shape-oc21u.

I have added a default value to the `useForm` hook which sets the default character as and object with empty properties.

## How to reproduce
1. Go to https://codesandbox.io/s/blissful-shape-oc21u
2. See that a `defaultValues` has been added to `useForm`
3. See that t

[2020-08-27 09:16] #2729 closed

[2020-08-27 09:38] bluebill1049 commented on #2725
oh thanks! this is a bug!

[2020-08-27 10:03] #2725 closed

[2020-08-27 11:42] cYee992 opened #2738 "Stale useWatch value"
**Describe the bug**
useWatch returning stale value(default value) instead of latest value (Latest version of react-hook-form)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the sandbox
2. Edit the name or age
3. click Turn on watch display
4. See value is not updated

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-wizard-form-forked-f4wmt?file=/src/index.js

[2020-08-27 11:57] bluebill1049 commented on #2738
Thanks for the issue report, look like this is expected behavior rather than a bug. as for now, we are getting `defaultValue` of `useWatch` from `defaultValue` at `useWatch` or `defaultValues` from `useForm`.

https://github.com/react-hook-form/react-hook-form/blob/master/src/useWatch.ts#L62

[2020-08-27 12:02] cYee992 commented on #2738
Alright then, I will go with a feature request. Thanks!

[2020-08-27 12:02] #2738 closed

[2020-08-27 12:06] bluebill1049 commented on #2738
Thanks @cYee992 👍

[2020-08-27 12:06] cYee992 opened #2739 "Feature Request: useWatch return latest form value instead of the default value"
**Is your feature request related to a problem? Please describe.**
If the component with useWatch is unmounted and remount, the form value displayed default value instead of latest form value. Example use case: a long form, user can toggle to peak on the form summary and close it, but the value will be the initial default values.

**Describe the solution you'd like**
Returning latest form value wh

[2020-08-27 12:10] #2739 closed

[2020-08-27 12:11] bluebill1049 commented on #2739
Thanks for the feature request, it's been updated to the board.

[2020-08-27 12:30] cYee992 commented on #2738
@bluebill1049 I have given it some thought about it. I am not so sure am I using useWatch right. Let's say the user key in a form with quatity and price, they can click on the button to show a 'total price' modal, before submit. without the latest value it will be the initial default values. or is that should be the usecase just watch() since it will unmount eventually?

[2020-08-27 12:36] bluebill1049 commented on #2738
@cYee992 if you keep `useWatch` running, without toggle it on and off. I think it should work for you. Do you have a simple codesandbox to mimic your app behavior? I can take a look at it tmr (it's late here).

[2020-08-27 13:43] nataliaroque77 commented on #56
@Ubiquitous23
 All my app works - but not forms, I followed instructions for use core-js and regenerator-runtime.  Did you added something specific in order to make work react-hook-forms ie11

[2020-08-27 13:46] Mansi1 opened #2740 "React Hook formstate (FormStateProxy) isValid value always false"
Want to use the isValid property of formstate but its always false
[code]

[2020-08-27 15:05] freenetbrasil commented on #2740
Same happens here, I've found that since v6.5.0 it's not working correctly anymore. If you downgrade to 6.4.1 it works fine. I've seen on the release page for 6.5.0 changed formState to useState, maybe this is what's going.

Will have to wait for someone to help us

[2020-08-27 15:13] Derzone commented on #2740
Some more information with a sandbox.
In my case, I got the issue with yupResolver.

**Describe the bug**
Since `react-hook-form@6.5.x`, `formState.isValid` remains `false` when using a yupResolver and `onChange` mode.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/purple-grass-1fhke
2. Fill the input field
3. Observe that `formState.isValid` is still `false`

[2020-08-27 21:19] raulfelix opened #2743 "Dynamic checkboxes losing selected state when adding/removing new items"
Describe the bug
Dynamic checkboxes has a strange behaviour with selected values when adding/removing new items to list of checkboxes.

To Reproduce
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/weathered-cdn-rmp0u?file=/src/index.js
1. You will see 3 subjects each checked.
1. Click **Add 1 subject**.
1. Your list will now have 4 subjects with the new one unchecked.
1. Click

[2020-08-27 22:17] bluebill1049 commented on #2740
Thanks, guys and especially @Derzone's detailed report.

[2020-08-27 22:57] bluebill1049 commented on #2740
@freenetbrasil can you provide some more detail?

[2020-08-27 23:18] ilovett commented on #2730
@bluebill1049  Thanks!  Here's the flow:

1. Click `Remove Condition`
2. Root Group has no children, error is on `query.items` for `minLength` via `useEffect`
3. Click `Add Group`
4. The new Group has no child, so an error is set on `query.items.0.items` via `useEffect`
5. Root Group now has at least on child, so `minLength` is removed via `useEffect` (due to mounting order) -- but this clears all

[2020-08-27 23:22] ilovett commented on #2728
Thanks @bluebill1049 I think this is just a dupe of #2691

[2020-08-28 00:11] #2740 closed

[2020-08-28 00:27] bluebill1049 commented on #2730
thanks, @ilovett :) at the moment `clearError` is very basic, it just gets the name of the field and clears the error. you may want to bake the logic inside your app at the moment and submit a separate feature request for adding functionality with `clearError`.

[2020-08-28 00:51] bluebill1049 commented on #2743
hmmm, @raulfelix this is going to be a tricky one, I think this one would probably need to be built into controlled group input and controlled with Controller.

[2020-08-28 00:59] bluebill1049 commented on #2743
actually, let me do a quick one with `useFieldArray`. I think it may solve this problem.

[2020-08-28 01:05] bluebill1049 commented on #2743
https://codesandbox.io/s/interesting-chatterjee-pv11u?file=/src/checkboxes.js:1185-1190

[2020-08-28 08:58] Elia-d opened #2749 "Fields are getting unregistered after form reset"
**Describe the bug**
When used with a framer-motion input field, these are getting unregistered after form reset!!

Example:
[code]

**Codesandbox link (Required)**
https://codesandbox.io/s/boring-sea-6qs8o?file=/src/App.js

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Codesandbox link provided above
2. Fill the Form
3. Submit the Form (Form will reset after being submitted)
4. At t

[2020-08-28 09:05] Elia-d commented on #2749
Also, setting ```shouldUnregister: false``` did not solve the problem!

[2020-08-28 09:06] bluebill1049 commented on #2749
not familiar with `motion.input` and how ref is exposed in the commponent, please use Controller instead: https://codesandbox.io/s/condescending-payne-gsezs?file=/src/App.js

[2020-08-28 09:26] Elia-d commented on #2749
First I want to thank you for the quick response, really amazing!

This is what I ended up doing.

How should the ref be exposed for react-form-hook to work as expected? Maybe I can then help fix the issue of framer-motion's side.

I love how this library embraces uncontrolled components and native inputs, and would love it if I manage to find a solution!

Thanks again 🙂

[2020-08-28 09:32] bluebill1049 commented on #2749
Thanks @Elia-d 🙏 take a look at the updated CSB: https://codesandbox.io/s/condescending-payne-gsezs?file=/src/App.js

[2020-08-28 12:04] raulfelix commented on #2743
Doesn't really meet the use case for widespread use in the code base. Are you saying for me to have a checkbox group I need to render them with fieldArray?

[2020-08-28 12:20] raulfelix commented on #2743
I have one more issue perhaps you can give me some guidance on please?

**To Reproduce**
Go to https://codesandbox.io/s/broken-pond-h7549?file=/src/checkboxes.js
1. Tick math
1. Tick spanish
1. Untick math
1. Tick year 1
1. Untick year 1
1. You will see an exception `Cannot read property 'ref' of undefined`

A solution for this would be very appreciated.

![Bug](https://user-images.githubuserconte

[2020-08-28 12:32] ssuvorov opened #2752 "[Bug] Hidden input is ignored, when another input with `register()` is present"
### Hidden input is ignored, when another input with `register()` is present 🐞

**To Reproduce**
1. Go to https://codesandbox.io/s/distracted-payne-1ooyh?file=/src/App.js
2. Click on **Submit**
3. **Expected**: In console check a _submit_ object: test[0].validation has to be present with value `false`. **Current**: validation field is missing.
4. Select any value in `<select>` dropdown
5. **Expect

[2020-08-28 12:43] arnnis opened #2753 "onBlur event is not fired in Controller"
**Describe the bug**
after updating from v0.5.7.2 onBlur event is not fired on Controller component

**To Reproduce**
1. Go to codesandbox link
2. Click on 'Input with controller'
3. change focus
4. event is not fired

**Codesandbox link (Required)**
https://codesandbox.io/s/billowing-firefly-5zc02?file=/src/App.js

**Expected behavior**
I expect the onBlur event to fire. manually passing onBlur w

[2020-08-28 12:57] outerlook opened #2754 "Checkbox with default values that are 2-digit numbers cause strange behaviour"
**Describe the bug**
I think the best way to understand this error is by viewing the sandbox I am providing.

**To Reproduce**
Steps to reproduce the behavior:

1 - Create a form with 4 checkboxes of values: "1", "2", "3", "12"
2 - Set form's default values as ["12"] or ["1", "12"] or things that select "12"
3 - See results: "1" and "2" also gets checked, as if number strings were iterated

[Sandb

[2020-08-28 13:14] krnlde opened #2755 "isValid is sometimes false despite no errors"
**Describe the bug**
I sometimes get `isValid = false` despite having no visible errors and `errors` object being an empty object (`{}`)

**To Reproduce**
I do not yet have a reproducable sandbox, but I already found a code piece that might be the problem. Please see *additional context*

**Expected behavior**
isValid should always reflect what the `errors` object contains (e.g. `isValid = Object.

[2020-08-28 13:22] bluebill1049 commented on #2753
Thanks for the issue report, v6 removed onChange and onBlur props, take a look at the changelog: https://github.com/react-hook-form/react-hook-form/blob/master/CHANGELOG.md

[2020-08-28 13:22] #2753 closed

[2020-08-28 13:23] bluebill1049 commented on #2754
i think you forgot to save your CSB.

[2020-08-28 13:23] bluebill1049 commented on #2755
Thanks @krnlde which version are you running?

[2020-08-28 13:26] bluebill1049 commented on #2752
sorry, i think i need more context: why the following input is there? it's not even registered.

`<input type="hidden" name={`test[${index}].validation`} />`

[2020-08-28 13:34] ssuvorov commented on #2752
Sure, I need to extend `test[index]` object with external data based on select value.
The way you suggested to do this is here: https://codesandbox.io/s/epic-violet-yvgr9?file=/src/App.js. On Change -> update hidden fields.

I have more issues with **useFieldArray**. Also when removing some items. Maybe we can make a zoom call, so I can share the screen and show them. You can reach me with Telegra

[2020-08-28 13:35] krnlde commented on #2755
Latest, `6.6.0`. But it is the same with the previous.

[2020-08-28 13:36] bluebill1049 commented on #2752
Yes, but that hidden field needs to be registered.

do you mean conditional render item?

[2020-08-28 13:37] bluebill1049 commented on #2755
would be great if you can have a codesandbox for me, no stress if you are busy. i will take a look at it over the weekend.

[2020-08-28 13:38] ssuvorov commented on #2752
let me try to register, I guess it's another issue then. With defaultValues, or submitting without modifying them. Let me quickly check it.

no conditions, only using `remove(index)`

[2020-08-28 13:39] bluebill1049 commented on #2752
please provide a codesandbox, i will take a look at it over the weekend.

[2020-08-28 13:40] bluebill1049 commented on #2743
anything dynamic: append, remove, insert and etc, i would use useFieldArray hook.

[2020-08-28 13:40] bluebill1049 commented on #2743
i will take a look at it over the weekend.

[2020-08-28 13:53] ssuvorov commented on #2752
https://codesandbox.io/s/distracted-payne-1ooyh?file=/src/App.js
okay, registred. Default values are fixed with providing `defaultValue={field[index].validation}`. But, please try

1. select "1" in `<select>`.
2. submit.

As you can see validation changes to `true` on change, but submit has `false`

[2020-08-28 13:59] bluebill1049 commented on #2752
hmmm looks like input type hidden can't be edited: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/hidden use css display: none instead.

[2020-08-28 14:04] ssuvorov commented on #2752
Ah!
<img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia3.giphy.com%2Fmedia%2FgHzfFKMrDZWxvIFTqc%2Fgiphy.gif%3Fcid%3D6104955e08c8d08d2076eaf6835767fcadb0977f1166934c%26rid%3Dgiphy.gif" />

[2020-08-28 14:09] ssuvorov commented on #2752
Let me quickly reproduce an issue with removing an index. Glad to you we might kill all these 3. Thanks.

[2020-08-28 14:50] ssuvorov commented on #2752
In this modification: https://codesandbox.io/s/distracted-payne-1ooyh?file=/src/App.js

0. Refresh the page so default values are applied.
1. remove an item with "-" button.
2. submit

A watch object is not empty and contains an object with **validation** field. But the error in a console is correct **message: "at least 1 item is required"**

Then
0. refresh the page
1. change `<select>`
2. remove

[2020-08-28 14:51] vensauro commented on #2743
Your first problem, is because you are using the index for the key prop, and this is bad
try using the value
[code]

[2020-08-28 14:52] krnlde commented on #2755
Alright! I'll try to do a reproducable codesandbox :)

[2020-08-28 15:06] krnlde commented on #2755
Here's a simple variant with only 2 radios where `isValid` is initially `false`, but when changed it gets `true`: https://codesandbox.io/s/rhf-isvalid-initially-false-bug-3ucht

And here's a variant where the fields are required. The `isValid` field will always be `false`: https://codesandbox.io/s/rhf-isvalid-always-false-bug-forked-uvb30

[2020-08-28 15:29] outerlook commented on #2754
Yes, I forgot... 😅 now I didn't

[2020-08-28 15:30] outerlook commented on #2754
It happens also with strings, not only numbers. I gave it a bad title, soon I will update it

[2020-08-28 15:44] vitorsemeano opened #2757 "unregister method is not working for fields registered with register method"
**Describe the bug**
When you have a component that build a set of filters, you can use the methods register and unregister to add and remove filters at will. When the user submits, you should get a object containing the fields that were registered and not unregistered.

In the latest version of the lib (6.6.0 at the time of writing), the unregister function is ignored/not working.

**To Reproduce

[2020-08-28 15:56] kanavrov opened #2758 "Trigger function causes too many re-renders"
**Describe the bug**
The `trigger` function causes a form re-render for every field it validates. e.g. Passing 5 field names to the function will result in 5 re-renders. Executing the function without arguments results in a re-render for every field in the form. `handleSubmit` on the other hand causes only 2 re-renders, no matter how many fields there are in the form. This is especially problemati

[2020-08-28 18:14] sankalpk opened #2759 "Radio group buttons crash browser tab on validation and make the page hang"
**Describe the bug**
Radio group buttons crash browser tab on validation and make the page hang

**To Reproduce**
Steps to reproduce the behavior:

1. Create a radio group with dynamic ids
2. Console log the errors in the form
2. Submit the form so validations are triggered
3. See that the form validation errors are continuously getting logged in a seemingly infinite loop

**Codesandbox link (Requ

[2020-08-28 18:25] jacknewberry commented on #615
Yup schemas already provide transform functionality. Yup can cast values at the same time as validation.
[code]

Perhaps the existing `register({validate})` function could be used as a transform function.

[2020-08-28 22:08] Sphinxs commented on #892
What about `setFieldValue('', '')` being used to register the fields and not `register` like `ref={register}` or `ref={register()}`?

When `remove()` is invoked it reflect at the interface, for the first item removed, but not on `fields` and after remove the second item `TypeError: data.slice is not a function or its return value is not iterable` is issued... I tried to update from 5.3.1 to versio

[2020-08-28 23:32] raulfelix commented on #2743
Ok looks like this can work by making 2 changes:

1. Use unique keys everywhere, if not might effect how hook form monitors mutations?
1. In a checkbox group the name must be consistent and cannot be `name[0]`, `name[1]` which is a mistake but instead must be `name[string]`. It appears to still work if you do not have any validation on the fields but if you do use validation then it will lead to a

[2020-08-28 23:36] bluebill1049 commented on #2757
Thank you! patching this.

[2020-08-28 23:45] bluebill1049 commented on #2743
Thanks, @raulfelix I think worth considering building a controlled component and embed your logic inside, and then apply `Controller` (if your use case gets complicated).

With dynamic inputs, it can get a bit tricky with uncontrolled input due to how React treat uncontrolled inputs during `.map`, that's why I suggested `useFieldArray` if you ever encounter array field manipulation. (Thanks @vensa

[2020-08-28 23:45] #2743 closed

[2020-08-28 23:46] bluebill1049 commented on #2754
Thanks! that's a valid bug.

[2020-08-28 23:57] #2757 closed

[2020-08-29 00:08] bluebill1049 commented on #2759
Thanks @sankalpk can you try one thing first? don't use key with index. i will take a look at it today.

[2020-08-29 06:29] sankalpk commented on #2759
@bluebill1049 thanks for the suggestion. I've updated the CodeSanbox to use a generated random id. https://codesandbox.io/s/react-hook-form-radio-button-group-with-validation-error-tdkf2?file=/src/RadioGroup.js

[2020-08-29 06:37] sankalpk commented on #2759
@bluebill1049 It looks like it is actually the dynamic`key` value (not the dynamic ID) which causes the error.

[2020-08-29 07:20] #2754 closed

[2020-08-29 07:26] bluebill1049 commented on #2755
looks like this is not a new issue, i switched to 6.4.1. it has the same behaviiour.

[2020-08-29 07:27] bluebill1049 commented on #2755
also, both example doesn't have `mode: 'onChange'`

[2020-08-29 07:42] danbn-100295 opened #2762 "Onchange not emit after setValue"
Here is my code:
![Annotation 2020-08-29 144126](https://user-images.githubusercontent.com/61224981/91631707-c5a6cb00-ea05-11ea-9b27-8419a092ae5c.png)
I expect that every time i call clearSaerch , onChange in render props emit but it seem to be it not emit and only update value on TextField
Please help me !

[2020-08-29 07:46] bluebill1049 commented on #2752
This is due to `defaultValues` will kick in when all fields get removed:

here is a walkaround:

https://codesandbox.io/s/mystifying-grass-zelzc?file=/src/App.js

[2020-08-29 07:47] #2762 closed

[2020-08-29 07:51] bluebill1049 commented on #2759
why are u using dynamic `key`?

[2020-08-29 07:55] krnlde commented on #2755
Hey! Yes, I have that for a while now, but it got worse somewhere between 6.4 and 6.6.

[2020-08-29 08:19] bluebill1049 commented on #2755
oh, I see, so 6.4 prior is working? I will check it out.

[2020-08-29 08:22] krnlde commented on #2755
Unfortunately I didn't recognize exactly when it started to happen... When I'm back on my PC I can "time travel" and investigate

[2020-08-29 09:22] bluebill1049 commented on #2755
Don't worry about it @krnlde leave it to you, i will let you know.

[2020-08-29 09:22] luciorubeens commented on #2308
Seems that `watch` is working as expected for `defaultValues`, so if you want to run it once:

[code]

[2020-08-29 10:07] bluebill1049 commented on #2755
https://codesandbox.io/s/rhf-isvalid-initially-false-bug-forked-sjifc?file=/src/App.tsx
https://codesandbox.io/s/rhf-isvalid-always-false-bug-forked-fsk5l?file=/src/App.tsx

switched on mode: 'onChange' isValid is working for me. I think those two CSB is not reproducing the issue.

[2020-08-29 10:07] bluebill1049 commented on #2755
I may need your help with a reproducible CSB. 🙏

[2020-08-29 10:27] ssuvorov commented on #2752
I guess defaultValues has to be applied only during initialization. And for **useFieldArray** when it's empty a default `[]` is expected. Wdyt?

[2020-08-29 10:29] bluebill1049 commented on #2752
<img width="907" alt="Screen Shot 2020-08-29 at 8 29 22 pm" src="https://user-images.githubusercontent.com/10513364/91634773-54334080-ea36-11ea-875b-922fb0d80f9c.png">

This is what's on the doc, when using watch with useFieldArray, honestly, i would recommend to use useWatch instead.

[2020-08-29 10:30] ssuvorov commented on #2752
Checked this workaround. Doesn't work. It's possible to submit after onChange and remove. Should be an error "at least 1 item is required". Seems like `setValue` onChange leads to this.

[2020-08-29 10:36] bluebill1049 commented on #2752
I can conclude there is no bug in this issue.

[2020-08-29 10:37] bluebill1049 commented on #2752
for min length, i think it's easier to do the following:

[code]

[2020-08-29 10:38] ssuvorov commented on #2752
this is a workaround. Schema works perfectly. But only in case when `setValue` is executed - it fails. Seems like a bug, no?

[2020-08-29 10:41] bluebill1049 commented on #2752
what do you mean? u need to give me some details. u mean you want to trigger validation during `setValue`?

[2020-08-29 10:43] #2758 closed

[2020-08-29 10:48] krnlde commented on #2755
Will do! Thank you :)

Regarding not having the mode set to onChange: Shouldn't it be `true` initially anyways though?

[2020-08-29 10:48] ssuvorov commented on #2752
In a comment above I described steps how to reproduce an issue when schema doesn't work https://github.com/react-hook-form/react-hook-form/issues/2752#issuecomment-682653563.

In a schema for `useFieldArray` I set `.required()` - meaning 1 item in the array is required. It works only until I modify a value inside of an object from `useFieldArray` manually with `setValue`.

After that, if all items

[2020-08-29 10:51] ssuvorov commented on #2752
The only difference I noticed during debugging, is that watching fields are not empty after manual modification with `setValue`.

[2020-08-29 11:02] bluebill1049 commented on #2755
both codesandboxs are returning true after i attached `mode: 'onChange'` :)

[2020-08-29 11:03] bluebill1049 commented on #2752
did you see my example? resolved this problem?

[2020-08-29 11:05] bluebill1049 commented on #2752
it's definitely empty in above CSB:
<img width="706" alt="Screen Shot 2020-08-29 at 9 05 25 pm" src="https://user-images.githubusercontent.com/10513364/91635369-5fd53600-ea3b-11ea-9a69-3f5f213fef16.png">

[2020-08-29 11:06] ssuvorov commented on #2752
Let me upload a video. The problem is not with "watch", the problem is with a schema validation error.

[2020-08-29 11:09] ssuvorov commented on #2752
https://codesandbox.io/s/pensive-sun-indkr?file=/src/App.js
![111Screen Recording 2020-08-29 at 12 58 43](https://user-images.githubusercontent.com/3448821/91635445-e0267780-e9f8-11ea-8a53-78a83a9376c9.gif)

[2020-08-29 11:12] ssuvorov commented on #2752
I guess `remove(index)` doesn't remove items that were set with `setValue`. Sorry for disturbing you with this issue :)

[2020-08-29 11:16] bluebill1049 commented on #2752
Nah, that's fine. as long as we can resolve the problem here. The video certainly help, but it should remove item even with setValue which is registered.

[2020-08-29 11:18] bluebill1049 commented on #2752
hmmm, looks like test again looks like it's otherwise... I will take a look at it again later.

[2020-08-29 11:18] ssuvorov commented on #2752
Okay. So, do u think it's a bug? Can I help somehow else?

[2020-08-29 11:19] bluebill1049 commented on #2752
oh this is already fixed! haha, next patch will resolve this problem.

[2020-08-29 11:19] bluebill1049 commented on #2752
https://github.com/react-hook-form/react-hook-form/issues/2757 we can close this issue now.

[2020-08-29 11:20] bluebill1049 commented on #2752
here is a CSB with updated code from master: https://codesandbox.io/s/mystifying-grass-zelzc?file=/src/App.js

[2020-08-29 11:21] bluebill1049 commented on #2752
please confirm if the above works. 👍

[2020-08-29 11:25] ssuvorov commented on #2752
Brilliant. Waiting for the next release! Thank you a lot!

[2020-08-29 11:25] #2752 closed

[2020-08-29 12:14] bluebill1049 commented on #2730
sorry, @ilovett this is actually a bug, I just check the code and it's the wrong code...

[2020-08-29 12:29] bluebill1049 commented on #2730
[code]

if you run `clearErrors('test')` ❌, shouldn't clear any error, because no input is found.

`clearErrors('test.data')` ✅
`clearErrors('test.remove')` ✅

[2020-08-29 13:44] sankalpk commented on #2759
The map function requires a `key` for each element and I couldn't think of a better way to generate the radio inputs. I couldn't use the `name` prop as that would not be unique on the page and I didn't want to use the label as that's not guaranteed to be unique.

My workaround was to require passing in a `uniqueId` as a prop to the input. Though, that's not ideal because it makes the component's A

[2020-08-29 13:50] bluebill1049 commented on #2759
that's a bug with this lib then, you should use value as key.

[2020-08-29 13:54] #2730 closed

[2020-08-30 02:08] bluebill1049 commented on #2728
Thanks @ilovett FYI, it will take me sometimes to wrap that PR. 🙏

[2020-08-30 17:50] dhmacs opened #2769 "omitResetState not working"
**Describe the bug**

Setting `dirtyFields` on omitResetState argument when using `reset` does not seem to prevent dirty fields being reset. Am I missing something? My goal is to reset values when I receive a refresh from API, but I don't want dirty fields to be reset.

**To Reproduce**
Steps to reproduce the behavior:

1. Open [this codesandbox](https://codesandbox.io/s/clever-hooks-01dt2?file=/A

[2020-08-30 23:24] bluebill1049 commented on #2769
https://codesandbox.io/s/great-napier-husgi?file=/App.js
<img width="1205" alt="Screen Shot 2020-08-31 at 9 23 46 am" src="https://user-images.githubusercontent.com/10513364/91671614-ade95700-eb6b-11ea-8193-8b6a4fd67d61.png">

[2020-08-31 03:43] bluebill1049 commented on #2544
hey @zelucena, i have a better idea. what about this?

[code]

so by default you need to set value by `exact`

[code]

[2020-08-31 04:01] zelucena commented on #2544
Seems good to me

Em seg, 31 de ago de 2020 00:43, Bill <notifications@github.com> escreveu:

[2020-08-31 06:10] ahmad-medhat opened #2771 "reset method doesn't update the subscriber of useWatch if defaultValue is provided"
**Describe the bug**
`reset` method doesn't update the watched field (by `useWatch`) if a defaultValue is provided in the useWatch.

**To Reproduce**
Steps to reproduce the behavior:
_(please use the codesandbox below)_
1. refresh the page
2. wait for 3s for the `reset` method to get called
3. the subscriber to test field is updated with the new value
4. if adding a default value to useWatch, the

[2020-08-31 06:12] dhmacs commented on #2769
Oh I actually see now what `dirtyFields: true` means. it does not mean the dirty fields will not be reset, it means that the dirty status of the field will be reset, but the field itself will. So to achieve what I'm trying to achieve (I want to reset fields to new value after I receive data from API, but don't want to reset fields that the user has already change to avoid bad UX) I should handle m

[2020-08-31 06:29] bluebill1049 commented on #2769
you are right. it means not reset the `dirtyFields` in the `formState`. With your UX requirement, i don't have much context, so what you referring to sounds about right to me.

[2020-08-31 06:31] bluebill1049 commented on #2771
This is expected, inline useWatch will overwrite what's coming from useForm.

[2020-08-31 06:35] ahmad-medhat commented on #2771
Thank you for your quick response!

Yes inline defaultValue will overwrite what is coming from useForm. However, if an async call is made and `reset` is called with new values, I think the subcribers to useWatch should get updated with the new value. Please correct me if I am wrong

[2020-08-31 06:53] bluebill1049 commented on #2771
Yes, that's correct. I tried your codesandbox and it's working for me unless i am missing the steps.

<img width="1194" alt="Screen Shot 2020-08-31 at 4 53 18 pm" src="https://user-images.githubusercontent.com/10513364/91691140-7bab1a00-ebaa-11ea-90a8-56bf59dbf9db.png">

[2020-08-31 06:56] ahmad-medhat commented on #2771
If you add a defaultValue to useWatch and refresh, the value of subscriber is not getting updated

[2020-08-31 07:09] dhmacs commented on #2769
To give you more context:

I use [React Query](https://github.com/tannerlinsley/react-query) to manage API requests, and every time focus changes, React Query revalidates your queries.
So the use case is: the user wants to update some data, and starts to update fields in the form, then it switches to another window to copy some text (or answer an email, or whatever). When he goes back to the web a

[2020-08-31 07:17] bjarkehs commented on #2614
@bluebill1049 is this expected behaviour or is it simply a missing feature?

[2020-08-31 07:25] bluebill1049 commented on #2614
It's expected behavior.

[2020-08-31 07:27] bluebill1049 commented on #2771
That's what I meant above, `reset` API will reset the `defaultValues`, but with `useWatch` inline `defaultValue` will take over that value.

[2020-08-31 07:29] ahmad-medhat commented on #2771
It is clear now. Thank you for you time :)

[2020-08-31 07:29] #2771 closed

[2020-08-31 07:30] michalbundyra opened #2773 "Methods of use useFieldArray triggers hooks"
**Describe the bug**

*Issue since version 6.5.3, version 6.5.2 works as expected (for `append`).*

I need to call `append` in `useEffect` hook, but unfortunately it's not working as I would expect.
To use `append` in hook I need to pass it as dependency and it causes problem. If I am not adding it to dependency list all works as expect, but then I am getting warning in console, that it should be

[2020-08-31 07:33] bjarkehs commented on #2614
My bad, I should have written: Is this intended behavior?

Because if it's intended behavior it creates a confusing API, where you think defaultValues can be provided to useForm and be available in useFieldArray inputs too. But as it right now you'll have to also pass the defaultValue in certain scenarios, even when defaultValues are provided in useForm.

This is especially a tedious API if you ha

[2020-08-31 07:41] bjarkehs commented on #2614
Let me elaborate why I'm a little saddened by this design.

I'm currently working on a test gui, where I want to be able to reuse "input components", like an `AmountInput` which renders 2 inputs: currency and value. This component I'd love to be able to use as a single input: `account.balance` or in an array: `transactions[0].amount`.

If I want to support both scenarios I have to basically always

[2020-08-31 07:50] bluebill1049 commented on #2771
no worries @ahmad-medhat 👍

[2020-08-31 07:51] bluebill1049 commented on #2614
Thanks for the detail, but you will need to supply `defaultValue`. It's uncontrolled input and to avoid other related bugs.

[2020-08-31 07:52] bluebill1049 commented on #2773
Please supply the steps to reproduce the issue.

[2020-08-31 07:54] bluebill1049 commented on #2769
is `setValue` potentially what you after? otherwise, yes it's not something we support. if you send a feature request with details tho.

[2020-08-31 08:05] kwht-k opened #2775 "IE11 problem in v6.7.0"
Thank you for answering #2468 the other day.
I have found a problem in IE11 again, so I will report it.

**Describe the bug**
When I was using `React Hook Form v6.7.0` with IE11, I got some errors as shown in the screenshot.
Also I installed `@babel/runtime-corejs3` with reference to [FAQs](https://react-hook-form.com/faqs/#BrowserSupport).
I think it was caused by changing the rollup settings in

[2020-08-31 08:16] michalbundyra commented on #2773
@bluebill1049
not sure what I can say more... please see:
- https://codesandbox.io/s/react-hook-form-usefieldarray-forked-wrmyj?file=/src/index.js
- open console output, and you should see:
  - `append "changed"?`
  - `prepend "changed"?`
  - `remove "changed"?`
  (triggered from hooks lines - 22-32).

Now click button "APPEND" and in console you will see additional:
- `append "changed?"
- `remove

[2020-08-31 08:18] bluebill1049 commented on #2775
IE 11! @kotarella1110 sorry to tag you again, looks like this IE is never-ending...

[2020-08-31 08:20] bluebill1049 commented on #2773
oh, it's about to memorise those methods. because those methods get called has `fields` as dep.

[2020-08-31 08:24] michalbundyra commented on #2773
@bluebill1049 right, that's why `prepend` works fine (does not trigger the hook).
Do we need this `fields` dep in `append` and `remove`? I do not know rect-hook-form internal at all.. Any chance it can be refactored somehow so it could work as `prepend`?

[2020-08-31 08:30] michalbundyra commented on #2773
So it was working fine (with `append`) in 6.5.2 and before: https://github.com/react-hook-form/react-hook-form/blob/v6.5.2/src/useFieldArray.ts#L471

Of course adding that dependency was to solve other issues. I hope it can be refactored somehow so we can have the previous behaviour for `append`.

[2020-08-31 08:34] bluebill1049 commented on #2773
That would cause bugs unfortunately, the one we having in the master is correct. Is there any other way you can check?

[2020-08-31 08:37] michalbundyra commented on #2773
@bluebill1049

Yeah, as I said in the description, I can find a workaround for my use case with additional state variable, and all is good.

It is not intuitive that it works fine for `prepend` and it's not working for `append`.
I would then expect some bugs in `prepend` as you think `fields` dep is needed in `append`.

[2020-08-31 08:39] bjarkehs commented on #2614
Fair enough. I guess I can just pass in an amount which can be undefined. If defaultValue is `undefined` and the input is not in a useFieldArray it will use the value in defaultValues provided with useForm, correct?

[2020-08-31 08:42] vitorsemeano commented on #2757
Thanks for the quick fix!

[2020-08-31 08:43] bluebill1049 commented on #2773
because append doesn't need to aware of what's in the FieldArray.

[2020-08-31 08:43] bluebill1049 commented on #2614
what about empty string `''`?

[2020-08-31 08:44] bluebill1049 commented on #2757
Thank you for the issue report.

[2020-08-31 08:53] bjarkehs commented on #2614
I was thinking something like this: https://codesandbox.io/s/charming-golick-oz1oe?file=/src/Transactions.js

It seems to work. Then I can get around it by creating my own context with the defaultValues.

Thanks for a great library!

[2020-08-31 11:37] dhmacs commented on #2769
I'll try to implement this so I can formulate a better feature request

[2020-08-31 12:01] Elia-d opened #2778 "Fields inside useFieldArray are marked as dirty when only touched!"
**Describe the bug**
The input text fields of a field array are getting marked as dirty when touched. This seems to be happening when providing a defaultValues object to useForm.

It also seems to only be happening when having a field array nested inside an object, but I'm a 100% sure as I need to test it a bit more!

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-field-a

[2020-08-31 12:07] bluebill1049 commented on #2778
this is expected behavior. the moment you append a new field array, the form is dirty, because the initial state is `[]`.

[2020-08-31 12:16] Elia-d commented on #2778
Oh, I did not see that!
Does that apply only for array fields? because I tried removing the default value ``` items: [] ``` but it keept behaving like that and only stopped when I removed the whole parent object default value !

[2020-08-31 12:27] bluebill1049 commented on #2778
It should behave the same tho with `[]` or without `defaultValues`.

[2020-08-31 12:28] bluebill1049 commented on #2749
close this issue as it's not an issue with this lib.

[2020-08-31 12:28] #2749 closed

[2020-08-31 12:36] krnlde commented on #2755
Here I got the exact problem I have. It's a bit tricky to force the `isValid: false` state, but when you just switch between the first and the second radio, it should appear after 1 second (the current timeout delay, to emulate network request). https://codesandbox.io/s/rhf-isvalid-always-false-bug-forked-xgt5u?file=/src/App.tsx

[2020-08-31 12:40] Elia-d commented on #2778
It doesn't, the only way I got it to work how I wanted is by removing the default value of the parent object containing the field array and setting the default values on the input fields themselves.

https://codesandbox.io/s/react-hook-form-field-array-dirty-s9xg5?file=/src/App.js

here, the default value ```items: [] ``` is commented out but the fields are still marked dirty when they are only to

[2020-08-31 12:49] bluebill1049 commented on #2778
Thanks, I will patch that.

For field array, the moment you append a new item, it mays the form value is been updated even you not filling up any value.

[2020-08-31 12:59] bluebill1049 commented on #2778
nvm, this is already patched in `6.7.0`, I think for append you should append with all the fields as well, instead just empty `{}`

[2020-08-31 13:03] bluebill1049 commented on #2755
Thanks very much, @krnlde 👍 I will take a look at it tmr night.

[2020-08-31 13:09] vikei opened #2779 "Don't register first element"
I have the issue that some first element, in my example `name`, not registered, if I swap it with any other element this element stop registered, if I manually call `register()` on that element it starts register.

**Input**
[code]

**Textarea**
[code]

**Form**
[code]

**Example**
[code]

First try with _name_ in first place
![image](https://user-images.githubusercontent.com/55663427/91723039-d39

[2020-08-31 13:15] Elia-d commented on #2778
Man, you rock!
Thank you for the great work 🙏

[2020-08-31 13:24] bluebill1049 commented on #2779
please provide a simple CSB.

[2020-08-31 13:27] vikei commented on #2779
https://codesandbox.io/s/dawn-darkness-nkt2g?file=/src/App.tsx

But in cbs it's works :(

Can you tell me in which can be issue or from where start to look?

[2020-08-31 13:31] bluebill1049 commented on #2779
try `ref={register()}`?

[2020-08-31 13:35] vikei commented on #2779
Work thanks ;) But why this issue only with first form element?

[2020-08-31 13:37] bluebill1049 commented on #2779
I think because you are toggling the input without giving them a name, which confused React to change the reference.

have a look at this section: https://react-hook-form.com/faqs#Whyisdefaultvaluenotchangingcorrectlywithternaryoperator

[2020-08-31 15:54] soojison opened #2782 "defaultValues showing up as undefined on submission when the field is disabled"
**Describe the bug**
I think it might be related to #2655, but slightly different. I am creating a form where I have defaultValues that pre-populate the form, but a field needs to be disabled so the user cannot change it. In the previous version I used (6.3.3), on submission, I used to get the value back, but in the latest version (6.7.0) it is showing up as undefined.

**To Reproduce**
Steps to r

[2020-08-31 20:29] ilovett opened #2783 "some data not being submitted on controlled components on field array since 6.5.0"
**Describe the bug**

The submit data is different for same code between 6.4.1 and 6.5.0, 6.4.1 submits everything where 6.5.0 leaves out some values.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-hook-form-query-builder-forked-t5gwk?file=/src/QueryBuilder.tsx
2. Fill out a condition (cost, greater than, 5)
3. Click submit -> on 6.4.1 submitted values

[2020-08-31 20:32] ilovett commented on #2783
Actually just tried 6.7.0 appears to have fixed it...

[2020-08-31 21:59] sincraianul opened #2785 "calling reset() in an asynchronous context nukes nested field arrays"
**Describe the bug**
When ran in async contexts (callbacks), `reset` sets second level array fields to an empty array.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/rhf-nested-arrays-bug-u6gei
2. Click on the `reset` button
3. Notice that the `bars` disappear.

**Expected behavior**
`reset` should have a consistent behavior.

[2020-08-31 22:59] bluebill1049 commented on #2778
np ;)

[2020-08-31 22:59] #2778 closed

[2020-08-31 22:59] #2759 closed

[2020-08-31 23:00] bluebill1049 commented on #2779
closing this issue, let me know if you need more help 👍

[2020-08-31 23:00] #2779 closed

[2020-08-31 23:02] bluebill1049 commented on #2782
use readOnly :) https://twitter.com/bluebill1049/status/1300231640392716288

[2020-08-31 23:02] #2782 closed

[2020-08-31 23:03] bluebill1049 commented on #2783
sorry about the regression...

[2020-08-31 23:03] #2783 closed

[2020-08-31 23:29] bluebill1049 commented on #2773
I did think about this issue last night. There are two paths,

1. fully embrace react hooks dep, which we will **need** `fields` and this issue will be addressed in the user's hand.
2. use `ref` to skip that extra dep check, which can potentially lead to issues with future React update (potentially)

I think I am leaning toward options 2 to get over the line and if React introduces changes we will

[2020-09-01 00:38] Biz-e-Services commented on #1457
Hi Manualva7
I used your CORRECTED code sample and it works perfectly. The only issue I'm having is its not saving to my state machine. saves as
`"safetyInvestigation": [0]`

... any ideas on this? Is it to do with me not including the "value={advertiser[name]}" if so can you show me the code that refers to "advertiser[name]"?

[2020-09-01 01:34] bluebill1049 commented on #2755
This issue is related to `disabled`, I think it makes sense to read the value during validation but not at submit.

[2020-09-01 03:26] manualva7 commented on #1457
@Biz-e-Services by the time I built this, advertiser was how I built state:

- `const [advertiser, setAdvertiser] = useState()`

`name` is passed as a prop. So the autocomplete's name is dynamic. advertiser[name] calls the state of that key. name is the name of the field. Hope that helps.

[2020-09-01 04:05] hann-wego commented on #230
How do I access the ref if I use the Controller component?

[2020-09-01 04:18] risardi123 commented on #1781
I think it's a bug. I was implement validation form using yup object and still got validation error without place .required()
Here is the proof @bluebill1049.

<img width="1050" alt="Screen Shot 2020-09-01 at 11 17 34" src="https://user-images.githubusercontent.com/29408156/91794245-c6797000-ec44-11ea-89ad-c2037c4b729d.png">

<img width="469" alt="Screen Shot 2020-09-01 at 11 16 13" src="https://u

[2020-09-01 04:22] bluebill1049 commented on #1781
This is not related to this issue, please send a question at Discussion with codesandbox and really need more details then a screenshot.

[2020-09-01 04:24] Biz-e-Services commented on #1457
Thanks Manuel. So in effect this would/should not prevent me saving to state using rhf 6.8x?

Sent from my SAMSUNG Galaxy S6 on the Telstra Mobile Network
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Manuel Alvarado <notifications@github.com>
Sent: Tuesday, September 1, 2020 11:26:36 AM
To: react-hook-form/react-hook-form <react-hook-form@noreply.github.co

[2020-09-01 04:26] bluebill1049 commented on #2739
hey @cYee992 think twice, i think you can achieve this problem by the following:

[code]

[2020-09-01 04:28] bluebill1049 commented on #949
perhaps we could have this

`setError('test', { message: 'missing name', type: 'required', shouldFocus: true })`

[2020-09-01 04:40] risardi123 commented on #1781
Here is the example of code @bluebill1049 .
https://codesandbox.io/s/elastic-moser-9r033?file=/src/App.js

[2020-09-01 04:45] bluebill1049 commented on #1781
That's because you are set the input be the exact length of 6 right?

<img width="1247" alt="Screen Shot 2020-09-01 at 2 44 38 pm" src="https://user-images.githubusercontent.com/10513364/91795700-ac01bf80-ec61-11ea-8bd9-35983cb0408e.png">

I would test your schema with raw data.

[2020-09-01 04:50] risardi123 commented on #1781
I think for the example, when we dont use .required(), the validation form should skip to the next step.

But, Thanks @bluebill1049

[2020-09-01 05:49] michalbundyra opened #2788 "Missing dependencies"
When running lint check on current master we are getting the following warnings about missing dependencies:

[code]

All these should be fixed, imo.

[2020-09-01 05:52] michalbundyra commented on #2773
@bluebill1049 For the time being I am fine with 2 if it is not causing any other issues (performance, etc...).

It would be nice to avoid ref, but we can do it later as another improvement.

[2020-09-01 05:56] #2773 closed

[2020-09-01 06:00] bluebill1049 commented on #2788
no, I am aware of those.

[2020-09-01 06:00] #2788 closed

[2020-09-01 06:02] bluebill1049 commented on #2773
agreed.

[2020-09-01 06:02] michalbundyra commented on #2788
@bluebill1049

Can you elaborate, please?

For some reasons these are warnings, and ignoring them may cause some unexpected issues in the future.

as I see above these are not only refs... but as I mentioned before: I do not know internals of that library, so I might be wrong.

[2020-09-01 06:04] bluebill1049 commented on #2788
sorry didn't get chance to explain.

1. those warnings are for `ref`, it doesn't make difference to include ref as dep
2. any callback with empty [], which lack of purpose to include dep.

[2020-09-01 06:08] bluebill1049 commented on #2788
also for your reference, i have run through them all: https://github.com/react-hook-form/react-hook-form/pull/2768

[2020-09-01 07:39] #2785 closed

[2020-09-01 09:47] krnlde commented on #2755
Wow, I didn't actually know that :) I'll try and see what happens if I remove the disabled state in the current code just to be sure that this is the problem. Thanks for this insight!

[2020-09-01 10:19] krnlde commented on #2755
I adapted the current codesandbox again. Now I removed the disabled state, which initially worked. But then I exchanged the radios with select and the select with radios. Now do the following steps to get an `isValid: false` despite no errors:

1. Go to the site: https://codesandbox.io/s/rhf-isvalid-always-false-bug-forked-xgt5u
2. Wait for the async radios to appear (1sec)
3. select "second" from

[2020-09-01 10:23] bluebill1049 commented on #2755
no worries mate @krnlde can you do a quick test with the latest master? (the csb below)

https://codesandbox.io/s/rhf-isvalid-always-false-bug-forked-q1xsf?file=/src/App.tsx

[2020-09-01 10:26] krnlde commented on #2755
You mean `v6.7.0`? I cannot select an unreleased github state - or can I?

[2020-09-01 10:26] bluebill1049 commented on #2755
no my CSB link above, it got the latest code.

[2020-09-01 10:28] krnlde commented on #2755
Same problem as described above (which was tested with `6.6.0` and `6.7.0`)

[2020-09-01 10:30] bluebill1049 commented on #2755
kk, i will take a closer look at it.

[2020-09-01 12:24] bluebill1049 commented on #2755
This one is trigger and hard...
https://codesandbox.io/s/rhf-isvalid-always-false-bug-forked-q1xsf?file=/src/src/useForm.ts

what happens because your radio input shares the same name, but it gets unmounted and remounted with the same name. so it was working before because we had a bug not remove field with validation correctly (very rare case). I think this PR should fix this. also we doing deepE

[2020-09-01 12:36] #2755 closed

[2020-09-01 12:55] krnlde commented on #2755
Uff, wow :D Sorry for creating such hard problems. Regardless of how complicated things are you manage to solve them in just 30 mins of time - everytime. You're awesome and I can't thank you enough.
The CSB works, I'd love to give it a spin in my realworld app :)

Thank you :-*

[2020-09-01 13:00] bluebill1049 commented on #2755
You are welcome! no worries, it's my responsibility to maintain this lib, it was a bug in the first place. I will release the patch in the next couple days 👍

[2020-09-01 14:53] mercteil commented on #778
I have the following issue:

I have a select field where you can choose a country:
[code]

And an async validated field where the form validates the company's vatId but depends on the value within the SelectField:
[code]

I have the following cases:

1. Customer enters VAT-ID => validates via API => countryId not selected = error
2. Customer enters VAT-ID => validates via API => countryId selected

[2020-09-01 15:34] kreftk opened #2791 "Focus error field on manually triggered validation"
**Is your feature request related to a problem? Please describe.**
Currently there is a different behaviour whether the error field is focused on validation. If validation is triggered by `onSubmit` the field is focused but if validation is triggered manually by `trigger()` the error field is not focused.

**Describe the solution you'd like**
I assume that this is the desired behaviour so it would

[2020-09-01 16:02] Luchanso opened #2792 ""onTouched" mode not work with Controller component"
**Describe the bug**
When use `<Controller />` with render props, validation not correct fire with "onTouched" mode

**To Reproduce**
Steps to reproduce the behavior:

1. Focus input, enter "bla", change focus from input. Should render error about `minLength` 🆗
2. Focus input again, enter "blabla". Error should hide ❌

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-get-st

[2020-09-01 18:56] jefferson-gaivota commented on #893
It's still not working =/

[2020-09-01 19:53] mercteil commented on #778
Got it running with:

[code]

[2020-09-01 20:14] soojison commented on #2782
@bluebill1049 gotcha. One more thing though -- readonly works for input fields, but it doesn't seem to work for <select> dropdowns. Is there a way to make it work?

[2020-09-01 23:01] bluebill1049 commented on #2782
can you give an example with dropdown?

[2020-09-01 23:02] bluebill1049 commented on #2791
Thanks @kreftk I will tag it as a feature request and waiting for more users to vote before including the feature.

[2020-09-01 23:03] #2791 closed

[2020-09-02 05:52] #2792 closed

[2020-09-02 06:03] bluebill1049 commented on #2792
hey, @Luchanso thank you so much for sponsoring me! too kind. ❤️

[2020-09-02 06:14] bluebill1049 commented on #2769
hey, @dhmacs any chance you could follow up with a feature request before I close this issue?

[2020-09-02 07:10] dhmacs commented on #2769
Hey @bluebill1049, eventually I decided not to use this library. If you'd like I can still write a feature request. Anyway you can close the issue 👍

[2020-09-02 07:15] bluebill1049 commented on #2769
That's all good 👍 @dhmacs thanks for giving a test.

[2020-09-02 07:15] #2769 closed

[2020-09-02 10:15] publicaccount365 opened #2799 "checkbox material ui not correct working"
**Describe the bug**
checkbox material ui not correct working in version 6.7.0 react-hook-form.
when set default true for checkbox not work, and change state checkbox (true/false) not correct working.
always true when default true, if you uncheck checkbox, value still true

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-hook-form-controller-forked-m1t48?

[2020-09-02 10:24] bluebill1049 commented on #2799
https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

[2020-09-02 10:24] #2799 closed

[2020-09-02 13:01] ilkerceng commented on #222
Hi @bluebill1049
I have updated given example for the latest version of react-hook-form, [here](https://codesandbox.io/s/react-hook-form-form-context-forked-o3he9?file=/src/index.js:360-415), it still gets empty object. Thanks in advance.

[2020-09-02 15:29] yonusbakhshi commented on #1120
We had the same bug. We updated the react-hook-form to 6.7.0 and used `useForm({ shouldUnregister: false })` . This fixed our issue.

[2020-09-02 19:11] soojison commented on #2782
For this sandbox: https://codesandbox.io/s/cool-hopper-p7etf?file=/src/App.js

I put the readOnly property on the input tag, and I can't change the value. The submission value also is the same as defaultValues. This is working as expected :)

But for the <select> tag, I set the readOnly property, but I am still able to change the value of the dropdown and submit a changed value.

![form](https://u

[2020-09-02 22:39] bluebill1049 commented on #2782
have a read here: https://stackoverflow.com/questions/368813/html-form-readonly-select-tag-input HTML

[2020-09-03 00:17] cvle commented on #2422
Maybe related to https://github.com/react-hook-form/react-hook-form/issues/1942. I also love to see something like this.

[2020-09-03 00:39] vincerubinetti commented on #1761
https://github.com/formium/formik/issues/389

[2020-09-03 03:04] risardi123 commented on #1781
Any update for this bill?

@bluebill1049

[2020-09-03 10:03] szymonlesisz opened #2808 "6.7.0/6.7.1 setValue for conditionally registered field not working"
**Describe the bug**
Since 6.7.0 setValue method doesn't change values for field which are registered (rendered) conditionally
It works with 6.6.0

**To Reproduce**

1. Go to https://codesandbox.io/s/react-hook-form-useform-template-forked-9nu6m
2. Click on TOGGLE
3. Additional input should be filled with value
4. `console.warn(getValues())` doesn't show the value

**Codesandbox link (Required)**

[2020-09-03 10:16] bluebill1049 commented on #2808
it's correct behavior now because the input wasn't mounted and it was a bug at 6.6.0.
you do use shouldUnregister: false tho:

https://codesandbox.io/s/react-hook-form-useform-template-forked-5k9py?file=/src/index.js

[2020-09-03 10:16] #2808 closed

[2020-09-03 10:46] szymonlesisz commented on #2808
thanks for quick response!

i'm working `useFieldArray` in my form as well (by the docs `shouldUnregister` doesnt work there yet)
so when i set `shouldUnregister: false` i'm getting error in different part of the code where use `setValue` like:
`setValue(`input[${index}].field` , 'VAL')`

 `TypeError: Cannot assign to read only property '0' of object '[object Array]'`

is there any solution for th

[2020-09-03 10:56] bluebill1049 commented on #2808
I guess you can probably stay with 6.6.0 for now.

I am working on this PR to get `shouldUnregister` with `useFieldArray` over the line: https://github.com/react-hook-form/react-hook-form/pull/2691

[2020-09-03 14:51] jl-gogovapps opened #2809 "Disabled "Select" values appear in form submit"
**Describe the bug**
Similar to https://github.com/react-hook-form/react-hook-form/issues/2655, but for a Semantic-UI-React Select box.  I'd expect that the value is omitted from the onSave data payload, but it is included

**To Reproduce**
Steps to reproduce the behavior:

1.  Open sandbox link below
3.  Click "Submit"
4.  Observe `{"testSelect":"a"}` under the input field

**Codesandbox link (Re

[2020-09-03 18:44] connelhooley opened #2810 "File input becomes "Dirty" when it loses focus"
**Describe the bug**
The file input appears to become "dirty" before its change event has triggered.

**To Reproduce**
There are two scenarios I've noticed.

Not selecting a file:
- Click on a registered file input.
- Even while the window picker window is open, the form is now dirty.

File input losing focus:
- "Tab" onto a registered file input so that it is focused.
- Press tab again so it lose

[2020-09-03 19:29] quattrorx7 opened #2811 "handleSubmit fires before onBlur changes values"
**To Reproduce**
Steps to reproduce the behavior:

1.  handle your input using onblur
2. use handleSubmit
3. check value on inside of handleSubmit callback(it's gonna be old value)

[2020-09-03 22:06] outerlook opened #2812 "Strange async submit bug introduced on 6.5.0"
Hi!

On my app I identified a bug where "isSubmitting" doesn't respect async functions on submitting form.

I will later identify where exactly this is happening to create a proper CodeSandBox repro.

But I couldn't so far... Async examples here are working fine.
I know this is on 6.5.0 because I was testing each version to find the one that breaks the behavior.

May I raise this issue til I figur

[2020-09-03 22:23] bluebill1049 commented on #2809
it doesn't work with Controller, use native select, controller is meant for some input doesn't expose `ref`, so it doesn't read all the attribute. for native input just register them or expose/forward ref.

https://codesandbox.io/s/hungry-surf-6lppo?file=/src/App.js

[2020-09-03 22:24] #2809 closed

[2020-09-03 22:25] bluebill1049 commented on #2810
<img width="988" alt="Screen Shot 2020-09-04 at 8 24 59 am" src="https://user-images.githubusercontent.com/10513364/92179511-23189d00-ee88-11ea-84a5-39f0052709a2.png">

The file input is immutable :(

[2020-09-03 22:25] #2810 closed

[2020-09-03 22:25] jl-gogovapps commented on #2809
Hm, I'm not sure I follow, as the Select I'm using is not native.  Is there a way for Controlled inputs that are disabled to be excluded from the form state?

Is this a feature request?

[2020-09-03 22:26] bluebill1049 commented on #2812
oh, strange... I will look into it as well.

[2020-09-03 22:27] bluebill1049 commented on #2809
you can post a feature request for the controller to support `disabled`.

[2020-09-03 22:28] jl-gogovapps commented on #2809
will do! thanks!

[2020-09-03 22:38] connelhooley commented on #2810
Thanks for getting back to me @bluebill1049, apologies I missed that part of the docs.

[2020-09-03 22:42] bluebill1049 commented on #2810
no worries at all @connelhooley

[2020-09-03 22:43] bluebill1049 commented on #2812
I think i may find the root cause.

[2020-09-03 22:44] bluebill1049 commented on #2812
it's due to proxy.

[2020-09-03 22:45] bluebill1049 commented on #2812
are you consume formate like this?

`{formState.isSubmitting}` and it's inside the render?

[2020-09-04 00:40] #2812 closed

[2020-09-04 02:55] wpsaputra opened #2815 "Controller defaultValue ignored on <select> tag but work on <input>"
I have a problem with following code,
[code]

I use useEffect hook to fetch api url and set little-state-machine state
`const { action, state } = useStateMachine(updateAction, {shouldReRenderApp: true});`

[code]

[2020-09-04 02:57] #2815 closed

[2020-09-04 04:25] bluebill1049 commented on #1761
hey @vincerubinetti please be patient, we will get to it 👍😅

[2020-09-04 07:45] LEinfeldt commented on #615
I agree with @paambaati and @elderapo , wrapping the inputs in a `<Controller>` just to get a number is a lot of work in large forms.

Also your example:

appear to me not to work properly.

Submitting the form returns a number, however after a change to the number input, I get a string again:
![image](https://user-images.githubusercontent.com/12085492/92213000-21080b80-ee93-11ea-9e33-fe03249ce06b

[2020-09-04 08:07] Codyooo opened #2821 "setValue() or reset() is not working with Antd Radio Group"
version: @6.7.2
setValue() , reset() and `defaultValue`  is not working with Antd Radio Group

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-useform-template-forked-x1rc2?file=/src/index.js:0-1233

[2020-09-04 08:08] bluebill1049 commented on #2821
hey @Codyooo you miss the value prop: https://codesandbox.io/s/react-hook-form-useform-template-forked-wjzzf?file=/src/index.js

[2020-09-04 09:04] Codyooo commented on #2821
You saved my day !😺👍👍

[2020-09-04 09:04] #2821 closed

[2020-09-04 11:17] #2811 closed

[2020-09-04 11:20] sergiohgz commented on #2655
@bluebill1049 What is the purpose to remove a value from a registered field without unregister it? In fact, to be closer with native forms, a disabled input is always handled when submitting it (and developer have to control it in their submit function). What do you think about?

Thanks and awesome work 😉

[2020-09-04 11:29] bluebill1049 commented on #2655
hey @sergiohgz take a look at this tweet: https://twitter.com/bluebill1049/status/1300231640392716288

There is a CSB in there as well, disabled input should be excluded from the final submit.

statckoverflow: https://stackoverflow.com/questions/1355728/values-of-disabled-inputs-will-not-be-submitted

[2020-09-04 11:31] sergiohgz commented on #2655
Thanks for the clarification @bluebill1049 ❤️

[2020-09-04 11:45] berrybell opened #2824 "Unable to supply/reset to defaultValue within Controller with render()"
**Describe the bug**
I am experiencing a number of bugs when supplying default values a React-Select within a Controller that is using a render prop. The component is not receiving the values supplied in `useForm()` and is not able to reset to default values supplied to `reset()`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to CodeSandbox below. Despite default values being supplied

[2020-09-04 11:55] bluebill1049 commented on #2824
please refer to the doc under `Controller`: https://react-hook-form.com/api#Controller

there is a codesadnbox example in the doc as well: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

[2020-09-04 13:00] jl-gogovapps opened #2826 "Allow for Controller components to be disabled"
**Is your feature request related to a problem? Please describe.**
#2809

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
- Workarounds include pre-processing the data payload in the handleSubmit callback

[2020-09-04 13:05] #2826 closed

[2020-09-04 14:09] outerlook commented on #2812
Precisely!
![image](https://user-images.githubusercontent.com/12937160/92248256-c5437f80-ee9e-11ea-8a63-016aaa46b7d6.png)

Thanks a lot for looking into this so quickly. It's working like a charm.
:)

[2020-09-04 18:52] cargallo opened #2827 "Controller with MUI Checkbox or Switch return "false" always"
MUI checkbox or MUI switch always return the value "false" when used in this way:

[code]
Here is a sandbox to check:

https://codesandbox.io/s/react-hook-form-v6-controller-forked-2mt0z?file=/src/Mui.js

As an alternative I am using with render, but had to change my code.

[2020-09-04 20:19] IronSean opened #2828 "Release notes for Version 6 are incomplete"
Sorry, this isn't a bug. Possibly a feature request but that's not quite right either. It's feedback on the release process.

The Release Notes for Version 6.0.0 do not mention anything about the breaking changes involved in migrating from v5 => V6.

https://github.com/react-hook-form/react-hook-form/releases/tag/v6.0.0

I believe I've found the breaking changes in v6.00-rc1, but as a non-bleeding

[2020-09-04 21:39] tim1uphealth commented on #1001
Looking for an example that renders the traditional captcha checkbox input with the "I'm not a robot" label

[2020-09-04 22:29] shicholas commented on #1001
For v2 CAPTCHA, you should be able to implement that with https://react-hook-form.com/api#Controller

[2020-09-04 22:43] #2824 closed

[2020-09-04 22:46] bluebill1049 commented on #2828
Thanks for the feedback @IronSean take a look at here: https://github.com/react-hook-form/react-hook-form/blob/master/CHANGELOG feel free to contribute if we have missed things.

Take a look at this section as well: https://react-hook-form.com/migrate-v5-to-v6 (same it's open-source feel free to contribute and improve)

[2020-09-04 23:35] bluebill1049 commented on #2827
yea, i think that would be great, but at the same time i don't think i have the capability to track those UI component update and keep them sync, it's better to leave other users to develop on top RHF.

[2020-09-05 06:54] #2827 closed

[2020-09-05 13:03] gino8080 commented on #1374
can you please post a working example using Context to call submit from the parent?
thank you

[2020-09-05 14:58] ejose19 commented on #2812
In my case this is still not fixed, I upgraded from 6.3.3 to 6.7.2 and isSubmitting is still true, can confirm latest working version is 6.4.1.

Here's the [sandbox](https://codesandbox.io/s/proud-currying-w5n00?file=/src/form.tsx) displaying the issue, isSubmitting remains true after a reset. You can change the sandbox version to 6.4.1 and see it works as expected.

[2020-09-05 15:27] ejose19 commented on #2812
I think I've found the issue, it seems that here: https://github.com/react-hook-form/react-hook-form/blob/88d454f820e1f1baef77d7166127ccc600bebd91/src/useForm.ts#L162-L170

formStateRef.current still holds isSubmitting = true, but state doesn't have that property so when merged it still persist, shouldn't state contain isSubmitting property as well? I've checked and it's the only one that doesn't

[2020-09-05 16:11] ejose19 commented on #2812
@bluebill1049 I've submitted #2830 with my proposed solution for this, feel free to take a look.

[2020-09-05 21:17] adrid commented on #615
@LEinfeldt I've just created a [pull request](https://github.com/react-hook-form/react-hook-form/pull/2831) to fix that example

[2020-09-05 22:22] ejose19 commented on #2544
@bluebill1049 does react-hook-form batches setValue running sequentially like in the forEach example? Or a "setValues" would be better performance wise?

[2020-09-05 22:32] zelucena commented on #2544
I wasnt even thinking of that when I made the point. I don't see how it
could be worse than O(n) but most times I won't bother anyway as I still
have not had a critical data mass to handle with setValues all at once

Em sáb, 5 de set de 2020 19:23, ejose19 <notifications@github.com> escreveu:

[2020-09-05 22:46] bluebill1049 commented on #2544
[code]

if your data is an object, then this is actually working right now at the latest (forgot to document it), but yes setValues would be better perf for batch.

[2020-09-05 22:50] ejose19 commented on #2544
@bluebill1049 yes for object it's already working good, but I was talking more like sibling fields or even useFieldArray fields, those should benefit more from a batch update.

[2020-09-05 22:58] bluebill1049 commented on #2544
The update is coming: https://github.com/react-hook-form/react-hook-form/pull/2691

[2020-09-06 01:06] bluebill1049 commented on #1761
Hi all,

I understand many users probably want this feature, and hence why I did a POC on this feature, and the discover is that this is not going to be part of the core lib due to the amount of APIs which feature would lead too, now I know this is going to make some users upset about this decision, which I can understand but at the same time, I think it's worth to remember the philosophy and rati

[2020-09-07 03:34] dannyshaw opened #2835 "Watched fields do not change when `shouldUnregister: false` is set"
**Describe the bug**

When `shouldUnregister: false` is set, `useEffect()` routines do not run on subsequent updates of data that has a watched nested  (dot notation) fields object as a dependency. At least not in the way it does when `shouldUnregister: true`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-hook-form-shouldunregiser-controller-bug-37rwl?f

[2020-09-07 03:58] bluebill1049 commented on #2835
we don't memo what's return from watch, perhaps you don't even need `useEffect` for the watch value.

[2020-09-07 04:07] bluebill1049 commented on #2835
or you can consider using this package from kent: https://github.com/kentcdodds/use-deep-compare-effect

[2020-09-07 06:05] dannyshaw commented on #2835
ok. Out of interest, why does it work as expected when `shouldUnregister` is true?

[2020-09-07 06:47] bluebill1049 commented on #2835
I can think with `shouldUnregister` set to `false`, we are doing extra data merging. on top of that, would suggest removing that extra `useState` and just doing that calculation inside your component.

[2020-09-07 10:07] pom421 commented on #476
I have a similar problem. I have a bunch of checkbox, and bad luck, a group of checkbox has only one value. So this group is considered like a boolean, whereas the others are considered array of string.

I have seen the answer with [] syntax but in this case, the potential false values are not relevant and I find that is awkward to have it.

I have made a workaround with a visually hidden checkbox

[2020-09-07 10:15] bluebill1049 opened #2842 "Feature request isValidating"
Could you please add `isValidating `in the `formState`.

It is helpful for the form with a long validation process.

_Originally posted by @anhquande in https://github.com/react-hook-form/react-hook-form/discussions/2841_

[2020-09-07 10:16] #2842 closed

[2020-09-07 12:28] tkatariya opened #2844 "OnSubmit giving some data as undefined"
I Have a deep nested form. I am using FormProvider and useFormContext. When i change deeply nested select field first time it works. But when i populate data in field using setValue data gets populated but on saving again field is giving undefined. I used form dev tool to find value of field and value seems to be present there. but when i submit form data does not appear. I cannot codesandbox this

[2020-09-07 13:19] vladi-strilets opened #2845 "clearErrors doesn't clear the custom setError"
**Describe the bug**
The `clearErrors()` function with specified error name doesn't clear the custom error when I use `setError()`

**To Reproduce**
https://codesandbox.io/s/react-hook-form-useform-template-forked-hohuf

1. Click submit
2. You can see on the console that after clicking the button "Clear custom error",  errors object still contains the custom error.

**Expected behavior**
Clear the

[2020-09-07 15:34] zlangbert commented on #1452
I was also very confused by this. I haven't used other react form libraries, but when I saw the `isSubmitted` property I assumed it would only be true if the form was successfully submitted (i.e passed validation). With how I was using that property, I initially thought validation wasn't working. It took me a minute to figure out that is will be set to true on any submission, valid or not.

I unde

[2020-09-07 16:47] cYee992 commented on #2739
Thanks for the that. I just saw your comment in the midst of submitting a pull request... after 7 days....
Delved in the codebase a bit was thinking is it possible to let internal fieldsRef take priority if it exists, before default value.

In this line
https://github.com/react-hook-form/react-hook-form/blob/a5197c1fabdfb8cb13a67cfd0717403ed44b3819/src/useWatch.ts#L62

Changed to this

In useWatch

[2020-09-07 17:17] Migggz opened #2847 "v6.7.2 with react-datepicker"
**Describe the bug**
`react-hook-form` latest version `6.7.2` doesn't work with `react-datepicker`

**To Reproduce**
Try to select any date from datepicker dropdown

**Codesandbox link (Required)**
the same example in Controller, but upgraded `react-hook-form`

[![Edit React Hook Form - Controller (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-hoo

[2020-09-07 22:01] pmaier983 commented on #2847
Replace
[code]
with
[code]

[2020-09-07 22:33] bluebill1049 commented on #1452
This will be part of 6.8.0 release.

[2020-09-07 22:34] bluebill1049 commented on #2847
Thanks @pmaier983

[2020-09-07 22:34] #2847 closed

[2020-09-07 22:34] bluebill1049 commented on #2828
going to close this issue, feel free to let me what's missing, and happy to getting PRs as well.

[2020-09-07 22:34] #2828 closed

[2020-09-07 22:34] #2835 closed

[2020-09-07 22:35] pmaier983 commented on #2847
Also this is the most up to date controller example: https://codesandbox.io/s/react-hook-form-v6-controller-24gcl?file=/src/index.jsx:4625-4990. 😄 . Not 100% sure where your example came from, could you send me a link?

[2020-09-07 22:35] bluebill1049 commented on #2845
you can get away with this issue now with

`clearErrors('test', { exact: false })`

[2020-09-07 22:40] Migggz commented on #2847
@pmaier983 Many thanks 😃
It was the controller example before v6, I maybe reached it somewhere on github or stackoverflow

[2020-09-07 22:50] bluebill1049 commented on #2739
Yea it's possible. what's the usage like? cause it's pretty easier to provide a defaultValue at useWatch as well, save that nested logic inside useWatch

[code]

[2020-09-07 22:54] bluebill1049 commented on #2844
will reopen once more detail is supplied and follow the issue template.

[2020-09-07 22:56] bluebill1049 opened #2848 "🙏🏻 please follow the issue template"
I am very tired of seeing users post a bug or issue without following the template, and each time I take my time to review, tag, and write down comments.

I will start closing the issue which is not following the template and follow a link with this issue, so you know the reason and don't take it personally like some users do.

[2020-09-07 22:56] #2848 closed

[2020-09-07 22:58] bluebill1049 commented on #2844
#2848 2848

[2020-09-07 22:58] #2844 closed

[2020-09-07 23:00] bluebill1049 commented on #2775
Are there any more users affected by this? I will tag this as help wanted. if this only happens on @kwht-k, I may consider to move(close) on with the annoying IE issue.

[2020-09-08 00:38] yhor1e commented on #2775
I have the same problem too.
I guess many cases works fine using `import 'react-app-polyfill/stable';`.
ref: https://github.com/facebook/create-react-app/tree/master/packages/react-app-polyfill

But consider #2468 memory leaks and the global namespace, I want to
use minimal polyfills.

By the way, I try to import only below polyfills. And it seems to work
fine. It should be more test though.

* im

[2020-09-08 00:41] bluebill1049 commented on #2775
Thanks, @yhor1e for the feedback. It's going to be tricky for me, as I am not a windows user, yes I can spin up a virtual machine but it would be great if you can provide me some insight, consider we are already using babel to transpile the project and dedicated IE build, we can potentially investigate there.

[2020-09-08 00:54] yhor1e commented on #2775
Thank you for your time @bluebill1049.

I got it. I'll report if I notice anything.

[2020-09-08 00:54] bluebill1049 commented on #2775
Thanks a lot @yhor1e

[2020-09-08 02:23] cYee992 commented on #2739
Yup, it is really easy to provide the default value, just that it feels weird whenever you unmount and remount the data display component, value goes back to initial.

Could be some gotcha moment.

The usage will be whenever you are unmounting the component, the value will be the latest fieldRef value:
Potential usecase for:-
*) modal with useWatch
*) Form with shouldUnregister still able to get b

[2020-09-08 02:38] bluebill1049 commented on #2739
valid case @cYee992  thanks for the detail. This may be a breaking change to existing users with `watch/useWatch` as right now it's fall back to default values or defaultValue, but it's worth considering this change and I agree with your opinion above. 👍

[2020-09-08 03:01] cYee992 commented on #2739
I found that watch API actually has the precidence where fieldRef value > default value.

https://github.com/react-hook-form/react-hook-form/blob/437eb09ba758b64f056705f9c31dd626b09ceb28/src/useForm.ts#L731

https://github.com/react-hook-form/react-hook-form/blob/437eb09ba758b64f056705f9c31dd626b09ceb28/src/logic/assignWatchFields.ts#L39

[2020-09-08 03:04] bluebill1049 commented on #2739
also, be mindful that be default, react hook form unregister input after they get unmounted, so even this feature going through it will only applicable for shouldUnregsiter: false.

[2020-09-08 03:04] bluebill1049 commented on #2739
It's the same/correct behavior as right now, when you remove the input the watch return undefined: https://codesandbox.io/s/hungry-waterfall-kyp4s?file=/src/App.js

[2020-09-08 03:10] cYee992 commented on #2739
Yup. Correct. The field will be erased if the main input got erased. but as long as the field input still there, eg: modal and re-mounting the data display component still able to get back the fieldRef value.

[2020-09-08 03:13] yhor1e commented on #2775
I think React Hook Form is transpiled for IE11 by Typescript without Bable or core-js now.

Refs:
* [rollup/rollup.ie11.config.js](https://github.com/react-hook-form/react-hook-form/blob/437eb09ba758b64f056705f9c31dd626b09ceb28/rollup/rollup.ie11.config.js)
* [tsconfig.ie11.json](https://github.com/react-hook-form/react-hook-form/blob/437eb09ba758b64f056705f9c31dd626b09ceb28/tsconfig.ie11.json)
*

[2020-09-08 03:14] bluebill1049 commented on #2739
Yes, personally I am lean towards not include that extra logic into `watch/useWatch` (keep it simple), but I do agree with your point of view as well, it's convenient without having to do the `getValues()` part when your watching value gets unmounted and mounted, and I am open for everyone's request if quite a lot of developers required such feature/correction, I am more than happy to include the

[2020-09-08 03:16] bluebill1049 commented on #2775
Thanks very much for the finding and investigation!

That's correct @kotarella1110 made this change, hmmm perhaps we will have to ask users to include polyfills? otherwise, it does make this build rather complicated.

[2020-09-08 03:19] cYee992 commented on #2739
Alright. Thanks for your time.

[2020-09-08 03:20] bluebill1049 commented on #2739
Sorry, i am moving it back to request feature board.

[2020-09-08 03:31] cYee992 commented on #2739
Thank you!

[2020-09-08 04:41] yhor1e commented on #2775
@bluebill1049

I think the document will explain which polyfills are necessary is better, like the below.
* `Object.values`
* `Object.entries`

I want to avoid importing the whole polyfill like `import 'react-app-polyfill/stable';`

[2020-09-08 04:43] bluebill1049 commented on #2775
Sounds great will get them included in the doc.

[2020-09-08 04:48] yhor1e commented on #2775
Thanks @bluebill1049 .

But I'm not sure only `Object.values` and `Object.entries` are necessary. There may be others.

[2020-09-08 04:49] bluebill1049 commented on #2775
we can probably can include more as we go...

[2020-09-08 05:17] tkatariya commented on #2844
I am creating a codeSandbox, allow me some time

[2020-09-08 06:53] anhquande opened #2850 "Controller render prop includes dirty/error in params"
**Is your feature request related to a problem? Please describe.**
In the `<Controller>`, `render `function does not include the property field `dirty `or field `error `in the parameter list.
I always have to build a` <ControllerWrapper> `in order to inject these two properties in the `render `function.

**Describe the solution you'd like**
My solution is:
[code]

**Describe alternatives you've co

[2020-09-08 07:28] bluebill1049 commented on #2850
function ControllerWithState({
  name,
  control,
}) {
  const { formState } = useFormContext();
  return <Controller />
}

[2020-09-08 07:29] bluebill1049 commented on #2850
what about the following?
[code]

[2020-09-08 11:46] alexssandrog commented on #2812
Hi @bluebill1049 , in which version will this fix be released? In 6.7.2 the problem still occurs...

[2020-09-08 11:48] bluebill1049 commented on #2812
will release the fix those weekend or even earlier.

[2020-09-09 01:35] bluebill1049 commented on #2775
<img width="959" alt="Screen Shot 2020-09-09 at 11 35 30 am" src="https://user-images.githubusercontent.com/10513364/92544166-922f3080-f290-11ea-919b-5f607ae24f5f.png">

here is what will be included in the doc.

[2020-09-09 02:02] yhor1e commented on #2775
LGTM!! :100:

Thanks @bluebill1049 .

[2020-09-09 02:03] bluebill1049 commented on #2775
Thanks very much for your help @yhor1e ❤️

[2020-09-09 02:16] bluebill1049 commented on #2791
proposal API:

[code]

by default `trigger('test', { shouldFocus: false })`

[2020-09-09 02:28] kwht-k commented on #2775
@bluebill1049 @yhor1e
Thank you so much for supporting to this issue🙇‍♂️
I also think the added description is very good.

[2020-09-09 03:09] johnmikel commented on #1108
I agree, this post lacks context.

[2020-09-09 04:15] risardi123 commented on #1781
I got the solution @bluebill1049, I am realize that yup object is promise(), so if i place .min(), it's still run the validation. So i use this solution like this. here is the codeSanbox link: https://codesandbox.io/s/boring-ramanujan-q3c54?file=/src/App.js

[2020-09-09 07:01] #2728 closed

[2020-09-09 07:01] #2845 closed

[2020-09-09 07:49] bluebill1049 commented on #2775
Doc is live: https://github.com/react-hook-form/documentation/pull/418 with reference to this issue. :)