[2019-03-21 15:11] damassi opened #2 "Run Prettier over Docs?"
Thanks for this lib! The patterns look great.

The docs are a bit difficult to read however because the code samples seem to be formatted by hand. Prettier supports Markdown, which would improve readability overall. Also the code samples are a bit small text-size-wise and line-height-wise, requiring a bit of squinting.

[2019-03-21 20:13] bluebill1049 commented on #2
thanks @damassi i am going to work on that. 🙏

[2019-03-22 00:49] bluebill1049 opened #3 "github icon on mobile website is not clickable"

[2019-03-22 10:40] #3 closed

[2019-03-22 11:09] bluebill1049 opened #4 "website issues"
1. api not update with `watch` and `validate`
2. overflow x need to be hidden for codes

[2019-03-22 11:09] bluebill1049 commented on #4
3. update code line height on builder

[2019-03-22 11:16] bluebill1049 commented on #4
4. add setting next to the actual form

[2019-03-23 10:38] bluebill1049 commented on #4
![image](https://user-images.githubusercontent.com/10513364/54865076-e94af800-4db3-11e9-8dcd-6811130d6d9d.png)

[2019-03-23 10:38] bluebill1049 commented on #4
icon height and github icon cross the screen.

[2019-03-23 10:40] bluebill1049 commented on #4
overflow y for div around table still an issue

[2019-03-23 22:22] bluebill1049 commented on #2
hey @damassi i have improved on the API page, let me know if its better now.

https://react-hook-form.now.sh/api

thanks mate

[2019-03-23 22:37] damassi commented on #2
There are still a couple issues:
- If you copy and paste that top snipped into prettier it comes back with syntax errors
- I've fixed them here, but note the 80 character column width, which is more readable for docs, and Prettier's formatting, which cleans up some of the run-ons. See [this playground link](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEBLAtgBwgJxgAgCU4BDMAgMxwnXwHIdTy6AdKDbPfA

[2019-03-23 23:02] bluebill1049 commented on #2
you have the cached version @damassi

![image](https://user-images.githubusercontent.com/10513364/54872683-e84db100-4e1b-11e9-9ba2-6effd488bc1f.png)

[2019-03-23 23:02] bluebill1049 commented on #2
reading rest of your comments now. 👍 thanks for checking mate

[2019-03-23 23:03] bluebill1049 commented on #2
![image](https://user-images.githubusercontent.com/10513364/54872688-1a5f1300-4e1c-11e9-8662-24f1c7c041e0.png)

i have also adjust the line height of example code.

[2019-03-23 23:04] damassi commented on #2
Ah! just cleared cache via devtools, this looks much better 👍

Will close this issue.

[2019-03-23 23:04] #2 closed

[2019-03-23 23:05] damassi commented on #2
One thing to note tho is that this kind of comment within the body of JS is invalid:

[code]

[2019-03-23 23:05] bluebill1049 commented on #2
thanks heaps @damassi  feel free to leave more issues alone the way, i am still cleaning up the website and repo. to be honest i rushed the website...

[2019-03-23 23:06] bluebill1049 commented on #2
yea @damassi the plugin i am using for syntax highlight is not perfect, without {* *} it think it as the code, but you are right, maybe its better even color is wrong

[2019-03-23 23:07] bluebill1049 commented on #2
i will change them to // ignore the color 👍

[2019-03-23 23:08] bluebill1049 commented on #2
![image](https://user-images.githubusercontent.com/10513364/54872716-b2f59300-4e1c-11e9-9c7c-628a5cc3a58d.png)
i guess its better than when you copy and paste things break.

[2019-03-24 08:13] #4 closed

[2019-03-24 23:03] afgallo opened #5 "[Feature request] Yup or Joi as a object validation"
Hi @bluebill1049 you may want to consider a feature where libraries such as [yup](https://github.com/jquense/yup) or [joi](https://github.com/jeffbski/joi-browser) can be used to simplify complex validation scenarios. I've used this with [formik](https://jaredpalmer.com/formik/docs/guides/validation#validationschema) in the past and really enjoyed it.

Keep up with the good work, mate!

Cheers

[2019-03-24 23:06] bluebill1049 commented on #5
hey @afgallo, that's the next feature in my features log. i am probably only going to support yup for now, cause it's more popular.

usage probably just going to be as simple as:

`const { register } = useForm({ validationSchema: yourSchema });`

[2019-03-25 01:24] bluebill1049 opened #6 "website validation rules not trigger fields update"

[2019-03-25 03:53] #6 closed

[2019-03-27 04:36] bluebill1049 commented on #5
hey @afgallo,

`"version": "0.4.0-beta.6",`

`https://codesandbox.io/s/928po918qr`

here is the working version. if you could do some testing would be great, i will do so.

if everything works fine i will publish in the next minor version.

[2019-03-27 09:27] bluebill1049 commented on #5
https://github.com/bluebill1049/react-hook-form/releases/tag/v0.4.0

[2019-03-28 01:16] pangpang1987 opened #9 "[Feature Request] Complex input"
Consider put in the formatter/mask for the input? And how about the other props for the input like prestine/touched?

[2019-03-28 01:32] bluebill1049 commented on #9
Yea that should be a good feature to introduce on the next release

[2019-03-28 19:03] jjenzz opened #11 "Small `register` API suggestion"
Minor suggestion but it looks like if you used a closure then the `register` API could perhaps be simpler?

[code]

[code]

[2019-03-28 20:52] bluebill1049 commented on #11
wow brilliant!!!! i will take a look and update :)

[2019-03-29 05:02] bluebill1049 commented on #11
thank you for your great suggestion : ) https://github.com/bluebill1049/react-hook-form/releases/tag/v2.0.0

[2019-03-30 00:10] bluebill1049 commented on #9
for isTouched, i think instead of build in side the hook, users can easily just use `errors` object, if errors length is greater than 0, then it is touched. i may just do an example for it. keep api simple. let me know your thoughts.

[2019-03-30 22:29] bluebill1049 commented on #9
for normalize i have added example: https://codesandbox.io/s/387z7njwzp

should be easy with some javascript onchange event, i have included in the examples folder

[2019-03-30 22:31] bluebill1049 commented on #9
i guess it keep api simple while leverage what's react already offered you with.

[2019-04-01 01:02] bluebill1049 opened #12 "[Feature Request] Array fields"
I will be working on this array fields very soon.

at the moment the api in my head will be like the below:
[code]

[2019-04-03 05:36] bluebill1049 commented on #12
https://github.com/bluebill1049/react-hook-form/releases/tag/v2.1.0

[2019-04-03 05:36] #12 closed

[2019-04-06 00:35] #11 closed

[2019-04-08 03:18] AyumiKai opened #15 "make demo website open source"
hi, @bluebill1049 can you make demo website open source, I'm interested in building form functionality, I recently decided to make a visual form.

[2019-04-08 03:24] bluebill1049 commented on #15
hey @AyumiKai i have website under the repo, feel free to grab it. it's not build very well :) cause build it in rush.

[2019-04-08 05:59] #15 closed

[2019-04-08 06:00] AyumiKai commented on #15
thank you! 👍

[2019-04-09 16:51] revskill10 opened #16 "[SSR] HTMLElement is not defined"
**Describe the bug**
Does this library support SSR ?
I got the error

[code]

when using SSR.

[2019-04-09 21:33] bluebill1049 commented on #16
that's a bug @revskill10 i will fix that very soon. thanks for reporting

[2019-04-09 21:54] bluebill1049 commented on #16
can you please help test out this version?
npm i react-hook-form@2.1.15-beta.2

[2019-04-12 22:47] bluebill1049 commented on #16
hey @revskill10, i have published the fix https://github.com/bluebill1049/react-hook-form/releases/tag/v2.1.15. going to close this issue. feel free to reopen if found related issue.

[2019-04-12 22:47] #16 closed

[2019-04-20 07:54] webmobiles opened #19 "fieldarray"
hello
there are plans to add field array like reduxform? or simply with this lib, it's needed another techniques ?

[2019-04-20 08:08] bluebill1049 commented on #19
hey Dave,

I have an example here: https://github.com/bluebill1049/react-hook-form/blob/master/examples/arrayFields.tsx

and live demo here: https://codesandbox.io/s/6j1760jkjk

let me know if that solves your problem.

cheers
bill

[2019-04-20 08:13] webmobiles commented on #19
that is great !! thanks  ,well done !

[2019-04-20 08:13] #19 closed

[2019-04-20 08:27] bluebill1049 commented on #19
nice👍 feel free to ask questions or feedback here, I will try my best to answer and resolve problems 👍

[2019-04-20 08:28] bluebill1049 commented on #9
working in progress for touch and dirty

https://github.com/bluebill1049/react-hook-form/tree/feature/dirty-touched

[2019-04-21 10:59] bluebill1049 commented on #9
version 3 supports https://github.com/bluebill1049/react-hook-form/releases/tag/v3.0.0 `touched` and `dirty`, I am going to close this ticket as masking should be achieved with onChange. Thanks for your feedback.

[2019-04-21 10:59] #9 closed

[2019-04-30 19:06] sboopal opened #22 "Using the react-hook-form in class component"
How do i add the hook into a class component? the current examples show only to add it to function component?

Getting this error when I try to add it in a function

Uncaught Invariant Violation: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer

[2019-04-30 21:37] bluebill1049 commented on #22
Hi @sboopal ,

React Hook Form using React Hook which required to have version 16.8.
[code]

The benefit of React Hook is to let you use state and other React features without writing a class, but at the same time it won't work under class component, hence React Hook Form will not work under class component.

From React documentation:

[2019-05-01 01:35] dioklecijan opened #23 "Using yup with onChange or onBlur mode"
**Describe the bug**
onChange and onBlur mode doesn't work with yup validation schema or I miss something :)

**To Reproduce**
Steps to reproduce the behavior:
1. Open ValidationSchema example: https://codesandbox.io/s/928po918qr
2. Set `mode: 'onBlur`:
[code]
3. Change the `firstName` and/or `age` fields and watch stringified errors object.

It looks like that clearing error works OK, but setting

[2019-05-01 01:59] bluebill1049 commented on #23
thanks @dioklecijan I will look into that and get it fixed :)

[2019-05-01 11:08] bluebill1049 commented on #23
This issue has been fixed https://github.com/bluebill1049/react-hook-form/releases/tag/v3.0.3

[2019-05-01 18:06] dioklecijan commented on #23
Yep. Thanks!

[2019-05-01 18:06] #23 closed

[2019-05-02 00:12] sonhanguyen commented on #5
hey I found out about your library on echojs today and found it a refreshment having to deal with formik at work and not liking very much. Just want to chime in to give some feedback regarding to the validation API.

I think this library should not have to support a particular validation library. It's better to have an option that is simply a `validate` function (if result to a boolean) or `getErr

[2019-05-02 00:22] sonhanguyen opened #24 "Register API should not have to take options that are native input attributes"
Instead of `<input ref={register({ required: true })}>`
I prefer `<input required ref={register}>`

[2019-05-02 00:23] bluebill1049 commented on #5
thanks for the feedback @sonhanguyen, I am still emphasis validation with `register` method from react hook form, but give other developers like @afgallo's freedom to use Yup or those schema validation libraries they refer.

I personally prefer something like below:

[code]

[2019-05-02 00:26] bluebill1049 commented on #24
It's for validation to check if it's required or not. you can do that as well

```<input required ref={register} required />```

do the following
```<input ref={register({ required: true })}>```

if you want to have custom error message rather than native behavior.

[2019-05-02 00:27] sonhanguyen opened #25 "Intercepting ref"
**Is your feature request related to a problem? Please describe.**
Let's say for whatever reason, I need to pass my own `ref` function to an input, we currently don't have a way to do that.
**Describe the solution you'd like**
`<input ref={register({ ref })}>`

[2019-05-02 00:29] bluebill1049 commented on #24
those extra options within the `register` argument could be useful for other validation too:

eg:

<input name="test" ref={register({ validate: (value) => value=== 'bill'  })} />
{errors.test && 'name have to be bill'}

[2019-05-02 00:32] bluebill1049 commented on #25
you mean if you want to access the ref?
[code]
same for class component

[2019-05-02 00:32] sonhanguyen commented on #24
I assume inside `register` you could just read them from the input? I'm not saying those validations are not useful, just we should be able to have them simply by having those attributes on the input (if the behavior is exactly the same). Too implicit?

[2019-05-02 00:33] sonhanguyen commented on #25
Oh yeah, that works, but could it be more convenient? :)

[2019-05-02 00:37] bluebill1049 commented on #25
yea probably, I guess it's one of the side effects by using ref for the package, but what you get out of it is much simple API and better performance, you don't have to wrap component around your input and re-render all the time.

[2019-05-02 00:40] bluebill1049 commented on #24
yea register will hold all the input ref, so access value or error field ref is much easier. you can focus on error field without any extra work too. that's just my example, you can build your validation rules external and plug them in.

[code]

[2019-05-02 00:46] sonhanguyen commented on #5
From my experience validation at field level is only good for providing quick visual feedback for simple mistakes. It falls short as soon as you need to validate something based on input from multiple fields. Even when it suffices, for anything domain related I prefer the validation logic to be centralized in a single validate function that takes the whole data object and returns a map.
[code]

[2019-05-02 00:50] bluebill1049 commented on #5
isn't that validation schema with yup? or any schema validation library

[2019-05-02 00:59] sonhanguyen commented on #24
Maybe my point isn't clear enough. Things like `pattern`, `minLenght` and `required` are already implemented in the dom API so people probably prefer to use those things. By removing those you can simplify the code and encourage web standard imo. You can just call `input.checkValidity()` instead of having to do the checks yourself.

[2019-05-02 01:02] bluebill1049 commented on #24
yea I get your point, you can use standard validation if you want. the choice is yours.

`<input name="input" ref={regsiter} />`

[2019-05-02 01:04] sonhanguyen commented on #5
I don't use that library so if that is already the case I guess my remaining point is just the naming. If the only thing this library is concerned with is a function that takes input and returns errors then maybe just call the option `validate` or `validator` and document the expected output in the docs. Having some "schema" options and mentioning of a 3rd library gives the impression that only th

[2019-05-02 01:11] bluebill1049 commented on #5
yea sure, validator probably make more sense, in terms of validation schema I have that documented under the website: https://react-hook-form.now.sh/api should be easy to expose to other validation library or even custom ones in the future.

[2019-05-02 04:59] bluebill1049 commented on #24
hey mate, going to close this issue. let me know if you still have concerns, we can continue the discussion.

cheers
bill

[2019-05-02 04:59] #24 closed

[2019-05-02 04:59] bluebill1049 commented on #25
going to close this issue as well, feel free to leave more questions. billy :)

[2019-05-02 04:59] #25 closed

[2019-05-02 05:00] bluebill1049 commented on #22
hey @sboopal , how did you go with functional component instead of class component? let me know if you need some help.

[2019-05-02 15:01] pandaiolo opened #26 "🏎 Performance of ref API"
Hi, I am opening a regular issue as I was not sure what to open, feel free to close if inappropriate.

You chose a different API than other library authors on how to register input elements in the form state. Most other libs use some kind of helper like `<input {...registerField({ name: 'abc', ...)} />`.

I tend to prefer yours because it looks cleaner in the code. Do you see any downsides? Is the

[2019-05-02 16:06] sboopal commented on #22
Nope i havent. I am new to ReactJS. If you could point me in some direction
that would be great.

This is my code for my page. basically, i have four select components and i
need to warn the user when he presses the submit button if something is not
filled.

Thanks
Boopal

On Thu, May 2, 2019 at 12:00 AM Bill (罗贝尔) <notifications@github.com> wrote:

/* eslint-disable*/
import React, { Component }

[2019-05-02 21:56] bluebill1049 commented on #26
Hey @pandaiolo,

aha I love this question and I am more than happy to answer the question!

##Story:

Ok a bit of story mode here, if you don't mind, I work for a startup company which involves working on forms every day, formik and redux form you probably heard them all, then React Hook came out I was like maybe we can simplify the shit out of these forms. The first approach was just like others

[2019-05-03 23:40] bluebill1049 commented on #22
here is a quick sandbox for validating couple selections. (functional component)

https://codesandbox.io/s/qk47j6854j

hope you find this useful

cheers
bill

[2019-05-04 16:07] sboopal commented on #22
thanks for the quick response. My componenet is class component. Do you
suggest to create a functional component and add taht in the class?

Thanks
Boopal

On Fri, May 3, 2019 at 6:40 PM Bill (罗贝尔) <notifications@github.com> wrote:

[2019-05-04 23:43] bluebill1049 commented on #22
firstly check your package.json for React version, is it 16.8 above? if so, then it is better to convert to functional component and try out `react-hook-form` with the example I have supplied above. more examples can be found here: https://github.com/bluebill1049/react-hook-form/tree/master/examples

[2019-05-06 19:35] pandaiolo commented on #26
Hey @bluebill1049, thanks a lot for the detailed answer. Really appreciated. You are abstracting the "non-react" way to the consumers of your lib, so I guess it's perfectly fine!

I'll definitely give it a try especially if you say you're using this in production without hiccups.

[2019-05-07 05:15] bluebill1049 commented on #22
Hey @sboopal, is there anything I can help more? otherwise, I may have to close this issue.

[2019-05-07 12:15] #22 closed

[2019-05-07 12:35] sboopal commented on #22
Yep thanks

On Tue, May 7, 2019 at 7:15 AM Bill (罗贝尔) <notifications@github.com> wrote:

--
Thanks
Boopal

[2019-05-07 12:39] bluebill1049 commented on #22
hope you get the chance to use react hook form in the future :)

[2019-05-09 03:50] bobysf12 opened #27 "Initialize form values"
Hi! Thanks for making this awesome library!
I have a question, how do you initialize form values? Is there such a feature?

[2019-05-09 03:53] bluebill1049 commented on #27
Hi @bobysf12,

we are using standard react input default value here.

https://codesandbox.io/s/l3mxpvmm9

More examples can be found here:
https://github.com/bluebill1049/react-hook-form/tree/master/examples

and react doc for defaultValue can be found here:
https://reactjs.org/docs/uncontrolled-components.html

cheers
bill

[2019-05-09 04:13] bobysf12 commented on #27
Thanks man!

[2019-05-09 04:13] #27 closed

[2019-05-09 04:16] bluebill1049 commented on #27
no worries man! if you find it useful please leave a star to support this repo 🙏if you already did, then thank you very much ❤️ happy coding feel free to ask questions here too :)

[2019-05-10 04:52] AskAlexSharov opened #28 "[Question] What to do with validation errors from Server?"

[2019-05-10 05:26] bluebill1049 commented on #28
Hi @AskAlexSharov,

I have an example for async validation at the field level, basically, you can send a request to the server and response with validation against it.

Async field:
https://codesandbox.io/s/m5pj55yj7x

or you can try Async validation on the submitting level:
https://codesandbox.io/s/xrjv48o0qp

let me know if those examples do help or not

cheers
bill

[2019-05-11 11:11] AskAlexSharov commented on #28
Thank. And I see you added `setError`

[2019-05-11 11:11] #28 closed

[2019-05-11 11:56] AskAlexSharov opened #29 "[Question] Why state of form is not public (only available in submit function)?"
Currently state of form (data) available only in `handleSubmit` or `watch`.
Why don't make it public - similar to `useState` hook?

Opinion about `watch`:
As I understand `hooks` based architecture doesn't use "subscriptions".
Subscriptions are from `reactive programming`.

[2019-05-11 12:12] bluebill1049 commented on #29
hi there,

One of the key difference for React Hook Form compare with other libs out there is with hook form it relies on uncontrolled input rather than control, so one problem is resolved is not re-render the form all the time when the user tries to type. but the lib does give the option to `watch` the fields change if you want to read state change.

I also want to distinguish between valid data

[2019-05-11 12:25] AskAlexSharov commented on #29
"not re-render the form all the time when the user tries to type" - good result.

about `watch`:
Ah, I miss-understood signature of `watch`. It's hook, not event listener with callback. Now all make sense for me.

[2019-05-11 12:25] #29 closed

[2019-05-12 17:41] pandaiolo opened #30 "[Feature request] Clear form"
**Is your feature request related to a problem? Please describe.**

I don't know how to cleanup the form when using this library, because it's uncontrolled.

**Describe the solution you'd like**

Add a `clear` function in the hook returned object. Suggested API:
- `clear()` clear all fields of that form
- `clear('field1', 'field2')`clear only the specified fields
- TBD how to deal with initial val

[2019-05-12 21:20] bluebill1049 commented on #30
hey @pandaiolo,

there is a `reset()` method you can invoke to clear all fields and errors.

https://react-hook-form.now.sh/api

example here: https://codesandbox.io/s/jjm3wyqmjy

and for default and initial value: https://codesandbox.io/s/l3mxpvmm9

let me know if those fulfill your needs.

cheers
bill

[2019-05-12 22:19] pandaiolo commented on #30
Perfect, thank you! I just did not reload the docs in 2 days ;-)

(Which also means my Mac did not crash in more than two days, nice performance)

[2019-05-12 23:24] bluebill1049 commented on #30
haha 😍

[2019-05-12 23:24] #30 closed

[2019-05-15 01:04] agustinl opened #31 "[Question] Integration with React UI Frameworks"
Hi @bluebill1049 , first, congrats for you tool. Its very easy to use and usefull.

Its my first github issue, tell me if I do something wrong.

I try to use react-hook-form with [Evergreen UI](https://evergreen.segment.com/) but doesnt work with a components from this framework.

If i use [text input component](https://evergreen.segment.com/components/text-input), the validation doesnt show. But

[2019-05-15 01:08] bluebill1049 commented on #31
Hey @agustinl,

You are doing fine mate :) Thanks for opening an issue ❤️

you just have to change `ref` to `innerRef` for Evergreen UI :) I did a quick test and its working for me.

I think `<TextInput />` expose `innerRef` to forward `ref` same as material-ui.

cheers
bill

[2019-05-15 01:15] agustinl commented on #31
Amazing!,
works perfect.

Thanks for the prompt response!

regards,
✌️

[2019-05-15 01:15] #31 closed

[2019-05-16 17:32] FatihErtugral opened #32 "removeEventListener Problem"
**useEffect cleanup function**
Sorry about my bad english. I wanted to use your library with GRAPHQL. There are two forms in my project,one was made with FORMIK and the other with REACTHOOKFORM.
Listeners get alert for clearance.

```warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscri

[2019-05-16 21:56] bluebill1049 commented on #32
hey buddy,

Good job on the form ❤️  (client and server). the issue is with your code

[code]

[2019-05-17 04:20] FatihErtugral commented on #32
Thanks for taking care, man. I did what you said, the problem continues. I think the problem is in the library's asynchronous work.

[2019-05-17 05:25] bluebill1049 commented on #32
can you push your change and I will take a look again? last time I couldn't start up the server side

[2019-05-17 05:44] FatihErtugral commented on #32
I have pushed codes. The server does not need to run.

[2019-05-17 05:44] bluebill1049 commented on #32
I believe this is what you try to do. https://codesandbox.io/s/xrjv48o0qp

will take a look your code now

[2019-05-17 06:07] bluebill1049 commented on #32
https://github.com/bluebill1049/react-hook-form/releases/tag/v3.5.2

I have made a fix for it, you want to test it out?

[2019-05-17 06:12] FatihErtugral commented on #32
Great! Problem solved. Thanks.

[2019-05-17 06:13] bluebill1049 commented on #32
thanks for reporting the issue!

[2019-05-17 06:15] #32 closed

[2019-05-21 14:22] Nikoflash opened #33 "[Question] Arrayfields data object"
Hi, don't know if this is right place for questions, but now I try :)

In my project I have a fields array of products and I want the data to come out something like this:

[code]

But from looking at the fieldsArray example can only seem to get:

[code]

I know, I'm doing something wrong, but is it possible to get what I want, by just writing the input name in a certain manner?

Best regards Niko

[2019-05-21 22:02] bluebill1049 commented on #33
hey,

is this a possible solution?

[code]

and during submiting `handleSubmit`
[code]

[2019-05-22 06:30] Nikoflash commented on #33
Thanks for a quick answer :)

I thought about a solution like that, but that would require all fields to aways contain data, to know how to pair them.

Think I'll go for something like:

[code]

And then serialize the data on submit.

[2019-05-24 07:11] AlleyShairu opened #34 "Custom Input validation"
Hello, I can't seem to figure out why the validation doesn't work on custom inputs like Select2.

I have created a [fork](https://codesandbox.io/s/react-hook-form-custom-input-o48wk) of your custom input example, which already registers the select input, so I just added the required validation, now I expect that the **reactSelect** value will be available when the `onSubmit` function is triggered,

[2019-05-24 08:08] bluebill1049 commented on #34
Hey @AlleyShairu,

Is this what you after?

<img width="1361" alt="Screen Shot 2019-05-24 at 6 06 46 pm" src="https://user-images.githubusercontent.com/10513364/58312532-d2299480-7e4e-11e9-94fe-a0d9e2856019.png">

for a required field, you need to do `register({ required: true })`

let me know if this makes sense?

cheers
bill

[2019-05-24 09:51] bluebill1049 commented on #34
looks like react-select return empty array when nothing is selected, I may need to patch to fix required validation.

[2019-05-24 10:01] AlleyShairu commented on #34
@bluebill1049 Take the below component as an example mentioned in the [codepen](https://codesandbox.io/s/react-hook-form-custom-input-oqriu)

[code]
I have added the `register({ name: "reactSelect", required: true })`

Now what would happen if I submit the form without interacting with this input?

- If it's submitting the form I should see the `reactSelect` value in the data object, even if it's

[2019-05-24 10:49] bluebill1049 commented on #34
Thanks for the issue report, I will sort out ASAP.

[2019-05-24 12:06] bluebill1049 commented on #34
https://codesandbox.io/s/react-hook-form-custom-input-dyh9q

try this one, let me know if make sense.

[2019-05-24 13:58] AlleyShairu commented on #34
It does, tested with react-datepicker too.

So now to make the validation work on custom input, we should use the second parameter for rules like (_required_ or _validate_) in `register` function.

Thanks a lot for your hard work.

[2019-05-24 14:04] bluebill1049 commented on #34
yea :) that's correct. I used to validate with react select because return value can be an empty array.
If you find the package useful please kindly leave a star to support, much appreciated. ❤️

[2019-05-24 14:08] #34 closed

[2019-05-25 08:50] #33 closed

[2019-05-26 11:01] hadiranjbar25 opened #36 "Handle custom form components with useImperativeHandle"
I have a custom form component with several input and I have forwarded register ref with forwardRef.
I have used  useImperativeHandle like this. But it seems that the value is not going to be updated by "value" change. I think there should be a simple support for custom form components; (value is array)
[code]

[2019-05-26 11:43] bluebill1049 commented on #36
value is array may be the issue, cause it does shallow compare with `value`

can you share bit more code or a codesandbox would really help?

[2019-05-26 11:52] hadiranjbar25 commented on #36
No, if the value is not an array still not works. However, I change array with function provided by useState. So it should understand the change.

[2019-05-26 11:56] bluebill1049 commented on #36
oh ok, this is an example which I did for custom input. hopefully, it will help you abit

https://codesandbox.io/s/72j69vnk1x

[2019-05-26 12:13] hadiranjbar25 commented on #36
Thanks. But, my component is not a html form component. It has four inputs and the final value should be sum of all inputs.

[2019-05-26 12:25] bluebill1049 commented on #36
Oh ok. share your code bit more, see if I can assist :)

Sounds like your four inputs should be one Component and `register` as one file value, and use `setValue` to update value once it's finished the calculation.

[2019-05-26 12:27] hadiranjbar25 commented on #36
this is my custom component:

`import React, {
  useState,
  useRef,
  forwardRef,
  useImperativeHandle
} from "react";
import styles from "./splitInput.module.scss";

const SplitInput = forwardRef((props: Props, ref: any) => {
  const [value, setValue] = useState([...Array(props.length)]);
  const elRef = useRef([...Array(props.length)].map(() => React.createRef()));

  useImperativeHandle(

[2019-05-26 23:27] bluebill1049 commented on #36
[code]

what about this?

[2019-05-27 07:15] hadiranjbar25 commented on #36
It registers the field as the methods I did before. But, changing the value does not change the validation errors. And I cannot submit the form.

[2019-05-27 07:33] bluebill1049 commented on #36
You can use ‘setError(‘total’)’ to remove the error if value is valid .

[2019-05-27 07:57] hadiranjbar25 commented on #36
It add an error like this to error list:
phone: {type: undefined, message: undefined, ref: undefined, isManual: true}

I have also another problem. I see an error in console:

index.es.js:364 Uncaught TypeError: Failed to execute 'contains' on 'Node': parameter 1 is not of type 'Node'.
    at findRemovedFieldAndRemoveListener (index.es.js:364)
    at index.es.js:738
    at MutationObserver.<anonym

[2019-05-27 08:19] bluebill1049 commented on #36
which version of react-hook-from do you have? 3.7.4 ?

[2019-05-27 08:39] hadiranjbar25 commented on #36
Yes, I have 3.7.4

[2019-05-27 08:42] bluebill1049 commented on #36
hmmm I will patch this bug tonight.

[2019-05-27 08:50] hadiranjbar25 commented on #36
Thanks. Great!
The problem with  ‘setError(‘total’)’ is that I check it like this:
  if (total) {
      props.setError("total");
    }
To remove required error.

But, when I type a char, the error disappears and with the next char error appears!

[2019-05-27 08:55] bluebill1049 commented on #36
and error message is : phone: {type: undefined, message: undefined, ref: undefined, isManual: true}?

[2019-05-27 09:17] hadiranjbar25 commented on #36
Yes!

[2019-05-27 09:34] bluebill1049 commented on #36
thanks, are you using `validationSchema`? (sorry many questions, I try to drill down the issue)

[2019-05-27 10:03] hadiranjbar25 commented on #36
Thanks for great support :). No, I am not using validationSchema.
 I use it this way:
[code]
Note: It didn't work without type and value.

[2019-05-27 10:37] bluebill1049 commented on #36
no worries :) you only need `name`, because it's not a real DOM element.

register({ name: 'total' }) will do

[2019-05-27 10:48] bluebill1049 commented on #36
I have patched https://github.com/bluebill1049/react-hook-form/releases/tag/3.7.5
let me know if that solved the issue. Thanks 👍

[2019-05-27 11:00] hadiranjbar25 commented on #36
Thanks, The last problem solved greatly.
Now, there is another error at the console:
[code]
Is there any way to automatically check for errors on setValue? I mean without setting error manually.

[2019-05-27 11:05] bluebill1049 commented on #36
hmmm, are you still using this register with `value` and `type`?

normally you shouldn't have to do things manually when input register with validation rules

[2019-05-27 11:20] hadiranjbar25 commented on #36
Looks like everything goes well :) Thank youuu

[2019-05-27 11:23] bluebill1049 commented on #36
❤️  can u show me how u register?

[2019-05-27 11:30] hadiranjbar25 commented on #36
useEffect(() => {
    // register a filed in react hook form
    props.register(
      {
        name: "phone"
      },
      { required: true }
    );
  }, []);

[2019-05-27 11:32] bluebill1049 commented on #36
sweet thanks :) happy coding. Are you happy to close the issue?

[2019-05-27 11:35] #36 closed

[2019-05-28 03:14] chenka opened #37 "Can I use react-hook-form with custom input"
It's work with native input like `<input>` but it didn't work If I create custom input from `styled-components`

Here's an example:
https://codesandbox.io/embed/nervous-sammet-5ioiz

or there's other solution to pass `props` to input?

[2019-05-28 03:39] bluebill1049 commented on #37
yea, you can mate  https://codesandbox.io/s/72j69vnk1x

[2019-05-28 03:50] chenka commented on #37
got it, thanks man

[2019-05-28 03:50] #37 closed

[2019-05-28 03:51] bluebill1049 commented on #37
please leave a star if you find it useful to support this repo 🙏

[2019-05-28 15:56] ilovedesert001 opened #38 "setValue api cannot set radio button value"
setValue api cannot set radio button value

https://codesandbox.io/s/react-hook-form-set-inputselect-value-9zlsy

[2019-05-28 21:57] bluebill1049 commented on #38
thanks for reporting :) https://codesandbox.io/s/react-hook-form-set-inputselect-value-c46ly

i have patched the issue

[2019-05-28 21:58] bluebill1049 commented on #38
https://github.com/bluebill1049/react-hook-form/releases/tag/3.8.1

[2019-05-29 02:17] #38 closed

[2019-05-29 11:54] viniciustodesco opened #39 "ReactStrap Input error"
I using input from reactstrap and doesn't work.
in registerIntoFieldsRef just got undefined in elementRef.type and elementRef.value.

import { Input} from 'reactstrap'
`
                  <Input
                    type="text"
                    name="catalogName"
                    value={inputChange.catalogName}
                    onChange={handleInputChange}
                    placeholder="

[2019-05-29 11:56] bluebill1049 commented on #39
hey,

try this

[code]

by the way, you don't need the name in the `register` :)

let me know how you go

[2019-05-29 11:58] bluebill1049 commented on #39
also, refer to this example if you want

https://codesandbox.io/s/72j69vnk1x

I have used material-ui input there

[2019-05-30 01:13] afgallo commented on #26
@bluebill1049, you are a legend mate! Very happy to see the progress of your library, well done 👍

[2019-05-30 01:56] bluebill1049 commented on #26
welcome back @afgallo ❤️

[2019-05-30 12:13] bluebill1049 commented on #39
Please check this example which have ReactStrap example now

https://codesandbox.io/s/72j69vnk1x

[2019-05-30 16:20] gsoverini opened #40 "Debounce async validation function calls when mode is `onChange`"
Hi guys — First of all, thumbs up for this super cool library 👍

I recently noticed that when the validation mode in `onChange` and I have a field which performs async validation, the function is called every time the field changes, which is kind of wasteful. It would be nice to have a debounce functionality so the async function isn't called every time.
The usual scenario si when a user is typing

[2019-05-30 18:28] GProst opened #41 "Changing input clears all errors"
**Describe the bug**
react-hook-form version: 3.8.2

If I create several inputs with simple `require: true` option then changing one input clears errors for all other inputs.

I believe it was caused by this change in `filterUndefinedErrors` util: https://github.com/bluebill1049/react-hook-form/commit/60f067faaa52f10e637d770799607d3e0bd7ab86#diff-214650c784ae501eee5389467af3c9a8
Since `value.isMan

[2019-05-30 19:27] GProst opened #42 "Ability to transform value"
Is there a way to apply value transformations on `cnange` event?
For example, I'd like to `trim()` some field values and if it's a credit card field I want to add white spaces after each 4th digit

[2019-05-30 20:27] GProst commented on #42
Should have checked examples first, I forgot that setting `onChange` without `value` doesn't make an input controllable

[2019-05-30 21:30] GProst commented on #42
On the second thought, can we really guarantee that `onChange` handler is called before the listener that is set by `react-hook-from` so that validations are run after the applied transformations?

Probably would be better if there was some `transformValue` property which we could pass to `register`

[2019-05-30 21:36] bluebill1049 commented on #41
Dame, I stuff it up... I will have to fix it ASAP :(

[2019-05-30 21:37] bluebill1049 commented on #42
very good point, I will spend figure out a good solution to this. Yea place inside `register` maybe a good idea.

[2019-05-30 21:42] bluebill1049 commented on #40
hey @gsoverini,

Thank you ❤️for the kind word!

I think you can archive this by wrap around this?

[code]

This is what's in my head, I haven't tested it :)
I can spend some time do a demo for you too

cheers
bill

[2019-05-30 21:46] bluebill1049 commented on #39
i am going to close this issue if you dont mind :) you can look the example above, if still have question fee free to re-open it :)

[2019-05-30 21:46] #39 closed

[2019-05-30 23:43] bluebill1049 commented on #41
thanks for the issue report, I have patched the bug :)

https://codesandbox.io/s/rwpz2jn6ln

[2019-05-30 23:55] bluebill1049 commented on #42
actually, we have this code in production. I can build a codesandbox on this.

[code]

[2019-05-31 00:13] GProst commented on #42
Hmm, indeed!
But I think this is nice if there is just one validation function otherwise the same transformation will be executed for each validation function + there is a code duplication

[2019-05-31 00:17] bluebill1049 commented on #42
Yea true that

[2019-05-31 00:28] bluebill1049 commented on #42
in terms of one validation function, we are actually only have one.
[code]

I guess the only problem is here
[code]
but you can covert this into a funciton too
[code]

or have a `transform` function in `register`.

one concern is that I am expanding the API, which you can achieve with normal Javascript. let me know about it 🤔

[2019-05-31 01:27] GProst commented on #42
This is not something critical that I personally need, transforming `value` inside `validate` works for me 👍. Just feels like having something like `transform` in `register` would be convenient

[2019-05-31 03:46] bluebill1049 commented on #5
I am going to close this feature request now, it's in the lib now.

[2019-05-31 03:46] #5 closed

[2019-05-31 04:58] bluebill1049 commented on #41
hey @GProst

I think it's been resolved, let me know if it's good to close the issue :)

again, thanks very much for report the issue ❤️

cheers
bill

[2019-05-31 06:31] bluebill1049 commented on #42
No worries I will park this for now then :) thanks

[2019-05-31 06:31] #42 closed

[2019-05-31 08:25] durianjc opened #43 "setValue() doesn't add field to formState.touched"
I'm using a date picker and it's not simple `<input />` so I manually add a hidden field for it:
`<input ref={register} name="date" type="hidden" defaultValue={dateStr} />`

And when user change/select a date, I use:
`setValue('date', dateStr);`

Everything works well, I can see that field's value changed by `watch()`. But in `formState.touched`, it doesn't contain `date`.

Is it a bug or I did so

[2019-05-31 09:20] bluebill1049 commented on #43
hey @durianjc

Thanks for the reporting!

I will patch that bug over the weekend, it should register into `touched`.

by the way, you can `register` by useEffect too

[code]

so you don't have to create a hidden input.

[2019-05-31 09:34] bluebill1049 commented on #43
patched: https://github.com/bluebill1049/react-hook-form/releases/tag/3.8.4 👍

[2019-05-31 09:56] durianjc opened #44 "manually register({name: 'fieldname'}) doesn't include init/default value, and causes error when reset form"
If I register a field manually like this:
`useEffect(() => {
    register({ name: 'fieldname' });
}, []);`
or like this:
`<MyCustomInput
    ref={e => register({ name: 'fieldname' })} />`

I found 2 problems:
1. This field's value is not set (`undefined`) while other are set (checked by `watch()`).
2. When I `reset()` this form, it throws an error:
`TypeError: Object.values(...)[0].ref.closest is

[2019-05-31 09:57] durianjc commented on #43
Thanks a lot for your quick response and patch, wow!

I also tried this approach before I used a hidden input, but there are problems with it, I posted another ticket: https://github.com/bluebill1049/react-hook-form/issues/44

[2019-05-31 10:07] bluebill1049 commented on #44
The example on website is bad, i have updated the page :) thanks

looking at the first issue now

[2019-05-31 10:09] bluebill1049 commented on #44
I see the problem with `reset()` because all your input are custom input. there isn't any `input` on the page, hence reset failed to do the look up. For custom input like `DatePicker` or `React-select` you may have to reset the value in its component level. but i will patch the error throwing issue.

[2019-05-31 10:16] bluebill1049 commented on #44
check out this demo: https://codesandbox.io/s/72j69vnk1x

[2019-05-31 10:19] bluebill1049 commented on #44
patched this error throwing as well https://github.com/bluebill1049/react-hook-form/releases/tag/3.8.5

[2019-05-31 11:07] #43 closed

[2019-05-31 11:07] bluebill1049 commented on #43
feel free to re-open this issue, if it is not resolved.

[2019-05-31 15:40] GProst commented on #41
Seems working good, thank you! 👍

[2019-05-31 15:40] #41 closed

[2019-05-31 21:46] bluebill1049 commented on #44
I think for the custom element within the form you will have to do things like below.

[code]

because react hook form wouldn't have access to the custom component but those one registered. hence you have to reset the value of custom component separately. let me know if this makes sense.

[2019-06-02 09:43] lightsound opened #45 "[Question] `errors` type completion doesn't work well."
Hi, thanks for the great form library.
I'm trying version 3.8.6 with typescript, but `errors` type completion doesn't work well.

Demo
[code]

I read the source code and think this line is the cause.
https://github.com/bluebill1049/react-hook-form/blob/97952827cb90e145622e9f3c28087e91c3ff9f95/src/types.ts#L61

Do you think `| {}` is needed? Or, I'm glad you tell me the workaround.

[2019-06-02 09:54] lightsound opened #46 "Cannot reproduce Performance Comparison. Re-render is occurred."
I'm sorry in continuous posting.

I read Performance Comparison section on docs. I tried reproducing this with version 3.8.6 many times, but could not do. Is there an example of this code?

![image](https://user-images.githubusercontent.com/8220973/58759615-d5680300-8567-11e9-80db-84bf472ebcff.png)

[2019-06-02 10:20] bluebill1049 commented on #46
shit... looks like I break the code with last published

patched with `3.8.7`

https://codesandbox.io/s/priceless-williams-7btcl

[2019-06-02 10:23] bluebill1049 commented on #45
hmmm I am still learning typescript as well, maybe you can help here as well :) I am actually not so sure about this bit as well
`export type ErrorMessages<Data extends DataType> = { [Key in keyof Data]: Error } | {}; `

the reason I have added `{}` because the error's initial value is `{}`. will probably need to spend some time on this, or perhaps you have a good suggestion?
`<ErrorMessages<Data>

[2019-06-02 10:27] bluebill1049 commented on #45
This repo is still young, if you are expert in typescript please consider contributing to this repo, most of the types are the location in `types.ts` 🙏🏻

[2019-06-02 10:44] bluebill1049 commented on #45
I will remove this `{}` for now and add an ignore for now until I can figure out a better type for it :( need support from typescript expert on this

[2019-06-02 10:57] bluebill1049 commented on #45
https://codesandbox.io/s/tender-bush-06v2d

thanks very much for report the issue @lightsound

[2019-06-02 11:57] lightsound commented on #45
@bluebill1049
I am still learning typescript too.
I tried to fix and opened PR (https://github.com/bluebill1049/react-hook-form/pull/47).

Please check that. 🙇

[2019-06-02 12:06] bluebill1049 commented on #45
thank you! merged and published https://github.com/bluebill1049/react-hook-form/releases/tag/v3.8.9

[2019-06-02 13:39] lightsound commented on #45
@bluebill1049
Wow, thanks.
I'm glad to be a part of contributors.
If there is a chance again, I'll contribute. 😄

[2019-06-02 13:42] lightsound commented on #46
@bluebill1049
Thank you for quick fix!

[2019-06-02 13:47] hadiranjbar25 opened #48 "Despite setting to 'onSubmit', Input validation occurs on blur"
I have set validation mode to onSubmit (It is default value). But, validation occurs on input blur.
This is how I register my input:

[code]
When leaving the input, required error appears on page.
I use V 3.8.9

[2019-06-02 21:39] bluebill1049 commented on #48
any chance you can give me the entire code?

the following example seems to be ok.

https://codesandbox.io/s/priceless-williams-7btcl

[2019-06-02 21:39] #46 closed

[2019-06-02 21:42] bluebill1049 commented on #48
do you mean after submit was clicked and the revalidation behavior? at the moment, revalidation is based on input change, but I am planning to introduce another prop to force revalidation to be a specific type.

[2019-06-03 00:14] bluebill1049 commented on #40
hopefully, this answer your question, I am going to close this issue unless you have other questions :)

by the way here is a working version: https://codesandbox.io/s/xrjv48o0qp

[2019-06-03 00:14] #40 closed

[2019-06-03 00:15] bluebill1049 commented on #45
going to close this since you solve it problem 😅

[2019-06-03 00:15] #45 closed

[2019-06-03 04:51] cabezonidas opened #49 "Array inside form model"
Hi, I started using this plugin recently, and it's great. I have forms that their model contains arrays, so I need some sort of looping. I know that you do that, but you save the paths as keys and the form values end up something like this:
`{
 "title": "my form",
 "people[0].name": "peter",
 "people[1].name": "john"
}`

whereas the model is like below
`{
 "title": "my form",
 "people": [ { "name"

[2019-06-03 06:32] hadiranjbar25 commented on #48
No, the form is pristine. I click on an input and then I click on the page. Consequently, validation fires and adds a required type validation to errors.

[2019-06-03 07:16] bluebill1049 commented on #48
hmmm its really weird, did you look the example link I shared? it worked there, can you share your code tho?

[2019-06-03 07:21] bluebill1049 commented on #49
Hi @cabezonidas

Good point, the intend data format was to be something like

[code]

here is a working sandbox:
https://codesandbox.io/s/6j1760jkjk

maybe that will make your life bit easier to do a simple `reduce` function.

in terms of transform data into the correct modal, I think it sounds like some thought of array fields data transform. I don't think I have a good idea to expose a simple AP

[2019-06-03 07:28] hadiranjbar25 commented on #48
Unfortunately I cannot share whole code. You right it works in your shared example. it's wired!

[2019-06-03 07:31] hadiranjbar25 commented on #48
I think I got the problem. I try to use it in a multi-step way. In every step I have a submit validation, when it validates on time, in next steps it fires validations onChange!

[2019-06-03 07:45] bluebill1049 commented on #48
Shouldn’t u break it into mutiple forms?

[2019-06-03 07:50] hadiranjbar25 commented on #48
Technically it's one form that every field of it is in one step.

[2019-06-03 08:12] bluebill1049 commented on #48
Then you probably shouldn’t submit the form when it’s not fully fulfilled, maybe have a button which take to the next step. And validate at the end.

[2019-06-03 08:13] hadiranjbar25 commented on #48
How can I call just validation and not submit?

[2019-06-03 08:15] hadiranjbar25 commented on #48
No I can't. In every step, user should provide valid information!

[2019-06-03 08:35] bluebill1049 commented on #48
I don't think your approach is going to work with how `react-hook-form` works, because validation will trigger perform via `submit` button which is an HTML standard.

I suggested if the from is big, you should break them into individual forms and collect them individually. I am working on a funnel which contains 40 plus steps (forms) and that's how we work.

feel free to provide your suggestion th

[2019-06-03 08:40] hadiranjbar25 commented on #48
Great! I think there should be a validate function like what exist in 'rc-form'. It just validates current fields or the fields name that we provide as parameters.

[2019-06-03 09:00] bluebill1049 commented on #48
thanks for the sharing `rc-form` :)

After reviewing, I don't think that the direction `react-hook-form` should be heading, the whole point of making this custom hook is to make things simple by introducing less API if possible.

The last option on top of my head is only `register` input after previous steps pass.

step A: <input ref={regster} />
step B: <input /> unitl step A pass  then <input re

[2019-06-03 17:24] pabloibanezcom opened #50 "Failed to minify the code from this file"
Hi,

Great work doing this, I've been using it for form building in my app. However I'm having one important issue when running `npm run build` (the app was created with create-react-app). The issue is:

[code]

I've tried updating react-scripts to v.2.0.0 but the problem remains. Any idea how to solve this?

[2019-06-03 19:57] rbgfloripa opened #51 "Works with PrimeReact's InputText ?"
Hi,

First, sorry for my bad english :)

The register method does not work with PrimeReact components.
Do you have any way to use it correctly?
I have tried in many ways that I read in the documentation and on the forums.
Nothing worked :(

Can you help me ?

Thanks

Rafael.

[2019-06-03 21:30] #48 closed

[2019-06-03 21:41] bluebill1049 commented on #51
hey,

I checked PrimeReact component source code, looks like they are not exposing `ref` at all. React Hook Form is not compatible with this UI library.  :( maybe consider using material ui or another ui library if you can, otherwise, I don't think I can do much about it :(

cheers
bill

[2019-06-03 21:56] bluebill1049 commented on #50
Hi,

thank for your kind words ❤
any chance of sharing your package.json, i can try it out myself :)
thanks

[2019-06-04 01:47] bluebill1049 commented on #44
going to close this issue now, unless you have other questions :) feel free to re-open if it doesn't make sense. cheers bill

[2019-06-04 01:47] #44 closed

[2019-06-04 07:06] bluebill1049 commented on #48
ok, I have a better solution may be is good for you.

[code]

if you don't render step2 and step3 inputs, then validation won't kick in, start to render rest of steps by validating previous steps.

[2019-06-04 08:06] durianjc commented on #44
yes it works perfectly now, thanks a lot @bluebill1049 and your awesome component.

[2019-06-04 08:15] bluebill1049 commented on #44
Thank you 😝 if u find it useful plz kindly leave a star to support 🙏🏻🙏🏻❤️

[2019-06-04 14:49] chiefcll opened #52 "Checkbox value"
Hi,

I have a form with checkboxes in it with a value attribute set.
[code]

When I use getValues() - It returns an object with "device-1": true, "device-2": false rather than the device.id value.

Src:
https://github.com/bluebill1049/react-hook-form/blob/master/src/logic/getFieldValue.ts#L12

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox

According to the spec - I'd lik

[2019-06-04 16:03] mitchellsimoens opened #53 "[Feature Request] Trigger validation programatically"
**Is your feature request related to a problem? Please describe.**

If a user doesn't enter a value, the validation doesn't happen until submission. However, if I am in a wizard (a single form has multiple steps), I want to prevent someone from continuing to the next step. If someone clicks the next button, the fields are not checked so the user cannot be prevented.

**Describe the solution you'd

[2019-06-04 21:44] bluebill1049 commented on #52
do you mean `defaultChecked`?
[code]

[2019-06-04 22:06] bluebill1049 commented on #53
I like this `validate()` function, will be working on that.

in terms of validated specific fields, there is another users reported the same concern as well. I think it makes sense to specify fields to validate at `useForm` level.

[2019-06-04 23:01] chiefcll commented on #52
No...

https://www.w3schools.com/jsref/prop_checkbox_defaultchecked.asp

That tells you if the box was `checked` by default. I want when you see that the element is checked, rather than returning true or false, you should check for a value attribute and return that if it is checked and false otherwise.

[2019-06-04 23:07] bluebill1049 commented on #53
I have quickly build a beta version, maybe you can help to test, I will do my own after work.

[code]

[2019-06-04 23:07] bluebill1049 commented on #53
react-hook-form@3.9.0-beta.1

[2019-06-04 23:08] bluebill1049 commented on #52
oh.... oops I will patch that soon

[2019-06-04 23:16] bluebill1049 commented on #52
thanks for reporting :) patched this bug  👍

react-hook-form@3.8.10

[2019-06-05 02:55] bluebill1049 commented on #51
I am going to close this issue, but leave an example for you :)

https://codesandbox.io/s/72j69vnk1x

in case you decide to go with another library like material UI

[2019-06-05 02:55] #51 closed

[2019-06-05 02:55] bluebill1049 commented on #50
just a quick follow up, how are you doing with it?

[2019-06-05 05:00] bluebill1049 commented on #52
https://codesandbox.io/s/yj07z1639

fixed and closing the issue.

[2019-06-05 05:00] #52 closed

[2019-06-05 09:22] bluebill1049 commented on #48
https://codesandbox.io/s/react-hook-form-validationfields-1xb91

[2019-06-05 09:24] bluebill1049 commented on #53
`validateField()`: validate individual fields
https://codesandbox.io/s/react-hook-form-validatefield-w1g0m

`validationFields`: restrict fields with validation
https://codesandbox.io/s/react-hook-form-validationfields-1xb91

still in the beta will publish soon

[2019-06-05 13:08] mitchellsimoens commented on #53
Thank you @bluebill1049. The `trigger` function is particularly what I want.

[2019-06-05 14:05] mitchellsimoens commented on #53
And fyi, I have used `3.9.0-beta.7` for testing and the `trigger` function is what is working for me.

[2019-06-05 14:09] opeah opened #56 "IE11 support ?"
Hi,

Thanks for the great library. I've been using it for all my projects, but it does not work on IE11.
Can you add support for this one ?

I got ```Syntax error``` in **useForm/index.es.js** (line 9)

If you have IE11, you can try it here https://comptaplan-dev.netlify.com

Thank you

[2019-06-05 21:35] bluebill1049 commented on #53
cool, i will publish soon

[2019-06-05 21:42] bluebill1049 commented on #56
hey @opeah,

Lovely to hear you find it useful!

I don't have PC around me, but I will look into that. I think it may be just a build config, will let you know :)

cheers
bill

[2019-06-06 06:09] bluebill1049 commented on #53
published: https://github.com/bluebill1049/react-hook-form/releases/tag/v3.9.0 🤗

[2019-06-06 06:10] bluebill1049 commented on #50
going to close this issue :) feel free to open if still an issue 👍

[2019-06-06 06:10] #50 closed

[2019-06-06 06:17] bluebill1049 commented on #56
Can you show me a screenshot of the code error?
line 9 is a `.reduce` function, I doubt it will crash at 11

[2019-06-06 09:04] opeah commented on #56
![Screenshot 2019-06-06 at 11 03 13](https://user-images.githubusercontent.com/31569566/59020748-e7d58b80-884a-11e9-9959-1e4d1fb6b269.png)
![Screenshot 2019-06-06 at 11 02 52](https://user-images.githubusercontent.com/31569566/59020749-e86e2200-884a-11e9-8521-01200d0f92e5.png)

[2019-06-06 09:54] bluebill1049 commented on #56
Thanks for the screenshot, I am afraid it doesn't help a lot. hmmm, I will try to get a PC in the office.

[2019-06-06 11:28] barry4dev commented on #53
This great - just wondering why you didn’t stick with validate()?

[2019-06-06 11:37] bluebill1049 commented on #53
because  `register` already have `validate` method, i dont want it to be confused with both.
`regsiter({ validate: (data) => data === 'something' });`

that's why `trigger` popped in my head to trigger validation.

[2019-06-06 11:54] mitchellsimoens commented on #53
Thanks for your work on this so fast and your work on this module @bluebill1049

[2019-06-06 11:54] #53 closed

[2019-06-06 12:00] bluebill1049 commented on #53
no worries @mitchellsimoens, please consider starring the repo to support and share around the community :) 🙏

[2019-06-06 13:31] shiro opened #59 "Invariant Violation: Invalid hook call"
**Describe the bug**
I tried to use the library with my React app today, crashes as soon as I use the hook in my code.
[code]
some relevant package versions from my `package.json`:
[code]
Everything is up-to-date at the time of writing this.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the currently latest versions of react related libraries
2. Use `useForm()` in a functional comp

[2019-06-06 21:17] bluebill1049 commented on #59
what's your `react` version?

[2019-06-06 21:19] bluebill1049 commented on #59
react hook form doesn't have a dependency on React
https://github.com/bluebill1049/react-hook-form/blob/master/package.json

only peer dependency. can you share your entire package.json?

[2019-06-06 21:20] bluebill1049 commented on #59
here is a version with latest react hook form: https://codesandbox.io/s/react-hook-form-basic-validation-rwpz2jn6ln

[2019-06-06 21:22] shiro commented on #59
Thanks for the reply. Here's the complete list:
[code]
It's a lot but most of them are not related with react.
Help is much appreciated, thanks!

[2019-06-06 21:26] bluebill1049 commented on #59
can you remove `react hook from` and then do a quick `useEffect(() => {}, [])` in your app.js? see if it is stil crashing.

[2019-06-06 21:27] shiro commented on #59
I'm calling various hooks including `useEffect` everywhere throughout my app, but it only crashes once I include `useForm`.

[2019-06-06 21:33] bluebill1049 commented on #59
can you share where you call `useForm` to crash the app? (the component code)

[2019-06-06 21:33] bluebill1049 commented on #59
react hook form doesn't install react for you.
<img width="186" alt="Screen Shot 2019-06-07 at 7 33 26 am" src="https://user-images.githubusercontent.com/10513364/59068077-94b91280-88f6-11e9-8ef0-90f41b1d8ddb.png">

[2019-06-07 00:15] bluebill1049 commented on #59
did you find out the reason why?

[2019-06-07 03:37] bluebill1049 commented on #53
hey @mitchellsimoens,

Quick question here, you happy for `trigger` to be able to validate onlyafter submit button pressed?

https://github.com/bluebill1049/react-hook-form/pull/60

cheers
bill

[2019-06-07 04:52] bluebill1049 commented on #56
![image](https://user-images.githubusercontent.com/10513364/59081890-cf8d6b80-8933-11e9-8fbf-84e9791dca92.png)
tried on my college's IE11, I didn't see the error for some reason

[2019-06-07 06:44] shiro commented on #59
Removing `node_modules` and the lockfile and installing again fixed the issue.
Thanks for the help!

[2019-06-07 06:44] #59 closed

[2019-06-07 06:52] bluebill1049 commented on #59
cool 👍 please consider starring the repo to support if you find it useful :) and share in the community 🙏

[2019-06-07 09:24] opeah commented on #56
Refresh the page and you'll see it
It does not work because the image is not loaded

[2019-06-07 09:58] breytex opened #61 "Register by name breaks validation"
**Describe the bug**
I am trying to connect a SemanticUI controlled component to the hook-form lib.
I am using
[code]
to connect it.

However, the validation behaves in a weird way:
- When trying to fill out the input field in a valid way and submit, it works
- When trying to first submit a not valid form, fill it out afterwards and submit, it still gives an validation error

**To Reproduce**
Mini

[2019-06-07 10:33] bluebill1049 commented on #61
hey @breytex,

Thanks for the detailed issue reporting :)

because you registered that input manually instead of

`<input ref={regsiter} />`

so react hook form will not have the reference with the input `ref` when you start to type in the `input`, It wouldn't re-validate itself.

with `setError` you can set error and clear manually

[code]

[2019-06-07 12:23] mitchellsimoens commented on #53
@bluebill1049 as long as I can programmatically trigger a validation, I'm happy. Even if it's not technically a public api, so long as I have access to mess around a bit.

[2019-06-07 12:30] bluebill1049 commented on #53
FYI: I have changed the name of the method from 'trigger' to 'trigger validation'. but won't affect your current version: 3.10.2

https://react-hook-form.com/api

[2019-06-07 21:39] kabriel opened #63 "Issue with async submit"
**Describe the bug**
if you provide an async submit handler, the isSubmitting will not be updated correctly

**To Reproduce**
Steps to reproduce the behavior:
1. add async submit handler that takes 2sec to finish
2. notice the form state will not show isSubmitting for those 2 seconds

**Expected behavior**
isSubmitting should be true while submit handler is pending

**Additional context**
To work

[2019-06-07 22:04] bluebill1049 commented on #63
thanks, @kabriel for the detailed bug report :) you want to submit a PR for this?

your solution is correct

[code]

[2019-06-07 22:47] bluebill1049 commented on #63
thanks very much, @kabriel https://github.com/bluebill1049/react-hook-form/releases/tag/v3.10.3

[2019-06-07 23:02] bluebill1049 commented on #56
page was fully loaded when I was testing (as shown in the loading bar and icon), not sure about the image been blur. I will take a look again next week

[2019-06-07 23:02] bluebill1049 commented on #49
going to close this issue for now, until I have a proper solution for it :)

[2019-06-07 23:02] #49 closed

[2019-06-08 17:08] markmssd opened #65 "FUNDING.yml has parsing errors"
Heads up! Just to let you know that your button `Sponsor` throws this error message:

<img width="451" alt="Screen Shot 2019-06-08 at 1 07 42 PM" src="https://user-images.githubusercontent.com/5899024/59150255-851cf500-89ee-11e9-91f2-1d9d463f7093.png">

[2019-06-08 21:46] pabloibanezcom opened #66 "Failed to minify the code from this file"
**Copy of issue #50**

Hi,

Great work doing this, I've been using it for form building in my app. However I'm having one important issue when running npm run build (the app was created with create-react-app). The issue is:

Failed to minify the code from this file:

        ./node_modules/react-hook-form/dist/index.es.js:9:44
I've tried updating react-scripts to v.2.0.0 but the problem remains. A

[2019-06-08 21:48] pabloibanezcom commented on #66
@bluebill1049 You can find the package.json (and the entire repo) here https://github.com/pabloibanezcom/tube-map-history.web

Many thanks in advance

[2019-06-08 22:53] bluebill1049 commented on #65
LOL thank you ❤️

[2019-06-08 22:53] #65 closed

[2019-06-08 23:34] bluebill1049 commented on #66
I see the problem now, it's not create-react-app. it's your webpack config because you had ejected before
<img width="393" alt="Screen Shot 2019-06-09 at 9 33 41 am" src="https://user-images.githubusercontent.com/10513364/59153321-ae468f80-8a99-11e9-8aef-ff89222056f6.png">
.

you may want to look into the loader.

[2019-06-09 14:38] pabloibanezcom commented on #66
This works to me now after migrating the app to the newest create-react-app boilerplate. This works even after doing eject.

Thanks for the support.

[2019-06-09 14:38] #66 closed

[2019-06-09 22:40] bluebill1049 commented on #66
No worries, If you find the package useful please star the repo to support and share around the community. many thanks 👍

[2019-06-10 15:32] ejuo opened #69 "Validate component with State."
**Describe the bug**
If the validated component has the State, then the input is blocked.
[code]
[code]
I suspect because of the [re-render](https://github.com/bluebill1049/react-hook-form/blob/7c9d54e367d74559033a4f29841c4b1f3e7a821e/src/index.ts#L179) form, the event on onChange is not calls.

 - Browser Chrome, Safari, Edge
in Firefox not reproduced.

[2019-06-10 15:34] faltysad opened #70 "After first submit with error values, the form can't be submitted again"
**Describe the bug**
I am using react-hook-form with nextjs. After I submit my form for the first time (with intended errors) it works fine. But when I remove the errors (edit the values of inputs) I can't submit the form again hence the errors don't disappear and the whole form doesn't react to submitting.
I have to refresh the page.

**Expected behavior**
Expected behavior would be that the erro

[2019-06-10 15:35] faltysad commented on #70
[code]

[2019-06-10 16:50] faltysad commented on #70
![image](https://user-images.githubusercontent.com/15239773/59211620-8e55bf80-8bb0-11e9-8848-8cbd696867bb.png)

[2019-06-10 21:31] cabezonidas commented on #49
Thanks @bluebill1049

I guess either way requires some extra work map to the business model. Anyway, good stuff and thanks for your reply. Looking forward to the feature ;)

[2019-06-10 21:50] bluebill1049 commented on #70
that's strange... thanks for the detailed issue report. i will do a test with your code

[2019-06-10 21:53] bluebill1049 commented on #70
weird seems works for me https://codesandbox.io/s/blissful-fog-76c4g

[2019-06-10 21:58] bluebill1049 commented on #69
hey @ejuo

Do you try to do masking?

the following example may help.
https://codesandbox.io/s/387z7njwzp

[2019-06-10 22:58] ejuo commented on #69
@bluebill1049, thanks for the response.
I'm using [react-imask](https://github.com/uNmAnNeR/imaskjs/tree/master/packages/react-imask) for mask. Most likely it stores the state.
Are there any other options?

[2019-06-10 23:02] bluebill1049 commented on #69
Yea I think maybe u can use setValue. Check out the api page and give it a try.

[2019-06-10 23:30] #63 closed

[2019-06-11 06:31] faltysad commented on #70
Thanks for the reply @bluebill1049 , but I still can't get it to work.
Do you have any ideas what I might be doing wrong? The issue still persists for me.
I can even find in the current ref that the value is okay, the only issue is that for some reason, `react-hook-form` still thinks that there are issues with the field and I cant get it to submit.
![image](https://user-images.githubusercontent.co

[2019-06-11 06:38] bluebill1049 commented on #70
which version are you running?

[2019-06-11 06:41] faltysad commented on #70
Sure, I tried to setup next.js demo on code sandbox with the exact same code and it works.
https://9zyyq.sse.codesandbox.io
So the problem must be on my side.. I am running react hook form 3.9.0

[2019-06-11 06:47] faltysad commented on #70
Can confirm that version update of `react-hook-form` to latest fixed this for me. Thanks for your help @bluebill1049 !

[2019-06-11 06:52] bluebill1049 commented on #70
oh cool! no worries at all. happy coding :) feedback welcome

[2019-06-11 06:55] bluebill1049 commented on #70
you happy to close this issue? 👍

[2019-06-11 06:56] faltysad commented on #70
Sure, great work with `reac-hook-form` btw!

[2019-06-11 06:56] #70 closed

[2019-06-11 09:22] ejuo commented on #69
There is the problem, that using `setValue` with `onChange` not check only mounted component on submit. Eg. `required` field case.

[2019-06-11 09:25] bluebill1049 commented on #69
you can use `triggerValidation` after value change

[2019-06-11 10:03] ejuo commented on #69
Made[ codesandbox example](https://codesandbox.io/s/react-hook-form-custom-input-63d84).
`triggerValidation` means that I cannot native `handleSubmit`? It's more convenient to use that others inputs uses ref.
And I'm interested in the question, what are the consequences if disable [`input` event](https://github.com/bluebill1049/react-hook-form/blob/5b6cd10601439ea2643db71b2a914a556af38de3/src/logi

[2019-06-11 10:08] bluebill1049 commented on #69
what do you mean disable `onSubmit` and `onBlur` for `useForm`?

[2019-06-11 10:11] ejuo commented on #69
Not add listener for input event.

[2019-06-11 10:36] bluebill1049 commented on #69
I think this is working version.

https://codesandbox.io/s/react-hook-form-custom-input-k87mt

[2019-06-11 11:21] ejuo commented on #69
Thanks for example. I would like to get rid of duplicate validates and make uniform error management. But it's works, thanks!

If we need validate only on `blur` event, why we must add `input` listener? Or I don't understand why we need validation modes for the `useForm`.

[2019-06-11 11:52] bluebill1049 commented on #69
you should be able to abstract those `validate` methods into own files if there is reusable value.

I made this package for everyone's need in the community, in case they want validation to fire at 'onChange', 'onBlur' or 'onSubmit'. For me at work, we just use the default which is onSubmit.

[2019-06-11 13:03] ejuo commented on #69
I understand. In my case I use `onSubmit` and `onBlur` too. It means, that inputs go validate by `blur` event?
Why we need call validate fuction by `input` event?
I try comment [this line](https://github.com/bluebill1049/react-hook-form/blob/5b6cd10601439ea2643db71b2a914a556af38de3/src/logic/attachEventListeners.ts#L15). Validation continue works. But I do not see the whole picture, maybe somethin

[2019-06-11 18:46] kabriel opened #72 "setValue() doesn't dirty the form"
**Describe the bug**
I use setValue to update a field

**To Reproduce**
Create a form with an input and use a button to update it via setValue or triggerValidation (which calls setValue)

You can see an example here:
https://codesandbox.io/s/react-hook-form-trigger-validation-1dn2h
notice when you press the submit button, the fields update, the form is still not dirty

**Expected behavior**
I woul

[2019-06-11 19:55] kabriel commented on #72
there are use-cases where setValue is currently being called (such as in register) that should not update dirty, so I'm trying this solution out for now:

https://github.com/kabriel/react-hook-form/commit/9c50dd9567d3866bfb483bfde507230a415be792

would love to know how you see this working and how you envision this.

[2019-06-11 20:56] stramel opened #73 "[REQ]: Nested Object model"
**Is your feature request related to a problem? Please describe.**
It is difficult to work with nested object models in the form with the current setup. This feels slightly related to the array model (#49 and #33). For example, when working with models like so:

[code]

**Describe the solution you'd like**
It would be nice on the form to be able to use syntax like `<input name="name.first">` and `

[2019-06-11 21:36] bluebill1049 commented on #69
you are right if you set the validation to be onBlur then input event can be avoided. feel free to send a PR to correct this.

[2019-06-11 21:41] bluebill1049 commented on #73
I think this would be a nice option to start with:

`<input name="name.first"> and <input name="name.last">`

I will think about a better approach around that, in the meantime, you will probably have to map the value.

[2019-06-11 21:42] bluebill1049 commented on #72
I think `register` shouldn't trigger `dirty`, but if you call it manually it probably should dirty the field.

[2019-06-11 21:45] bluebill1049 commented on #72
I should be able to fix this issue or feel free to send a PR too 🥃

[2019-06-11 22:03] bluebill1049 commented on #72
https://github.com/bluebill1049/react-hook-form/commit/1e12ef8968b38ed04a1101d3bcba56f58887f2b8

[2019-06-11 22:08] bluebill1049 commented on #72
published, I will write the relase note when i get to work. need to get off my bed now lol

[2019-06-11 23:34] bluebill1049 commented on #72
https://github.com/bluebill1049/react-hook-form/releases/tag/v3.10.5

[2019-06-11 23:39] bluebill1049 commented on #73
hey @stramel and @cabezonidas,

What about this idea?

<input name="{ "name": "first" }"> and <input name="{ "name": "first" }">

I can easily use `JSON.parse` instead of writing some complicated logic to parse that string.

[2019-06-12 00:37] bluebill1049 commented on #73
what's your thoughts @barry4dev ?

[2019-06-12 11:12] bluebill1049 commented on #61
hey @breytex

just a quick follow up on this issue, how u doing with it?

cheers
bill

[2019-06-12 12:23] bluebill1049 commented on #72
hey @kabriel,
I am going to close this issue now :) also this repo is young, please consider supporting by star the repo and share around the community 🙏

[2019-06-12 12:23] #72 closed

[2019-06-12 13:07] bluebill1049 commented on #69
going to close this as well, next release will have the #74 merge :)

[2019-06-12 13:07] #69 closed

[2019-06-12 15:05] stramel commented on #73
@bluebill1049 	I like this approach and think it is easy to comprehend from the developer's point-of-view.

[2019-06-12 15:52] rowej83 opened #77 "Ability to disable submit button until valid form"
**Is your feature request related to a problem? Please describe.**
Currently, can not figure out how to disable/enable the form based on validation rules and the initial formstate.dirty

**Describe the solution you'd like**
A exportable function from useForm that controls the disabled attribute on the submit button

[2019-06-12 21:32] bluebill1049 commented on #77
can you do something around the `errors` object?

[2019-06-12 21:33] bluebill1049 commented on #73
cool, I start working on the feature already, keen to see @barry4dev 's opinions too 👍

[2019-06-12 21:39] bluebill1049 commented on #61
going to close this issue, for now, feel free to reopen if you still have question 👍

[2019-06-12 21:39] #61 closed

[2019-06-12 21:55] cabezonidas commented on #73
Are you talking about the second option? If so, it'd be a good feature cause name attr is consistent with the path of the value. I would expect if my object is like `{ name: { first.name: '', last.name: '' }` to write html in the form like  `<input name="name['first.name']">`

What I'm saying is that it needs to follow json accessing rules for also names that contain dots as part of their name, as

[2019-06-12 22:15] bluebill1049 commented on #73
@cabezonidas I want to support both
`<input name="name[0].firstName"> and <input name="name[0].lastName">`
`<input name="name.firstName"> and <input name="name.lastName">`

[2019-06-13 00:48] bluebill1049 commented on #73
hey @stramel,

I built a beta version if you are happy to have a try. if everything goes well should be able to release it this week.

`npm i react-hook-form@3.11.0-beta.1`

cheers
bill

[2019-06-13 01:29] stramel commented on #73
@bluebill1049 	Thank you for the quick work!

I tested all these scenarios (Checked worked):

- [x] Array Syntax `firstName[0]`
- [ ] Nested Array Syntax `person[0]numbers[0]`
- [x] Object Syntax `name.first`
- [ ] Nested Object Syntax `person.name.first`
- [x] Array of Objects Syntax `person[0].firstName`
- [ ] Array of Objects with Nested Object `person[0].name.first`

I'm not sure if you plan t

[2019-06-13 01:34] bluebill1049 commented on #73
Probably required a lot more work to make it work for a deep nested object. right now it only supports one level.

maybe we just do progressive here, let's support 1 level first and then looking for a better solution for deep nested. any thoughts?

[2019-06-13 01:36] bluebill1049 commented on #73
wondering if there is any package out there, can convert this `person[0].numbers[0]` to object 🤔

[2019-06-13 01:48] bluebill1049 commented on #73
anyway I will publish what I got soon and working on the nested object after that 👍

[2019-06-13 05:26] bluebill1049 commented on #73
ok, this version should tick everything now:

react-hook-form@3.11.0-beta.5

[2019-06-13 06:43] stramel commented on #73
Dang, you beat me to it. It's a bit sloppy but you can take a look. https://gist.github.com/stramel/3514f9f7611ebaf87ce55b7e6357c0fb

I will take a look at the updated version

[2019-06-13 06:47] stramel commented on #73
I tested all these scenarios (Checked worked):

- [x] Array Syntax `firstName[0]`
- [x] Nested Array Syntax `person[0]numbers[0]`
- [x] Object Syntax `name.first`
- [x] Nested Object Syntax `person.name.first`
- [x] Array of Objects Syntax `person[0].firstName`
- [x] Array of Objects with Nested Object `person[0].name.first`

@bluebill1049 	All scenarios appear to work now with `react-hook-form@3.

[2019-06-13 08:48] bluebill1049 commented on #73
ha not gonna lie, I am stealing code from lodash. you can take a look the last commit.

[2019-06-13 08:52] bluebill1049 commented on #73
Thanks very much for your support @stramel won't mind to put you as a contributor as you help on testing and even contribute code 👍 (if you don't mind)

[2019-06-13 10:32] cabezonidas commented on #73
Thanks! I'll give it a go soon. Maybe you'd want as well `unset` from lodash for dynamic forms. It's like `delete key`, (I saw that in the code) but you can send a complex path, like an element of a nested array, same as `get` and `set`. Anyway, I'll check it out soon. Good work, thank you!

[2019-06-13 15:54] stramel commented on #73
@bluebill1049 I would be happy to help out where I can. I'm planning on fully implementing this in one of my work's projects. I'm sure it will be a good test of this library.

Thanks again! I'm going to close this issue with the release of 3.11.0.

[2019-06-13 15:54] #73 closed

[2019-06-13 17:23] pyliakm opened #79 "Form validation does not work without submit button"
I have form which should submit data when all fields are filled without any error and submit button is not needed in this case, but validation does not work without submit button. Can validation work without submit button?
 "version": "3.11.0"

[2019-06-13 21:25] bluebill1049 commented on #79
yes, you can :)

[code]

[2019-06-13 21:29] bluebill1049 commented on #73
<img width="576" alt="Screen Shot 2019-06-14 at 7 28 02 am" src="https://user-images.githubusercontent.com/10513364/59468683-0274b980-8e76-11e9-8cf9-d323d4dc7d44.png">

@stramel thank you for contributing and your help on this issue :) much appreciated

[2019-06-13 21:43] pyliakm commented on #79
Thank you!

[2019-06-13 21:43] #79 closed

[2019-06-13 21:50] bluebill1049 commented on #77
hey @rowej83 just a quick follow up, how did you go with it?

[2019-06-14 08:04] bjeld opened #80 "Watching a select form does not watch value continuously"
...In a form where a user can choose from a dropdown select, and given the option selected, the system needs to "hide/disable" or "show/enable" another form element.

It seems that watching for single fields (in this case, the select element), it only watches the first selection change and not continuously?

**To Reproduce**
go to this sandbox:
https://codesandbox.io/s/react-typescript-yqx5f

**Ex

[2019-06-14 09:05] bluebill1049 commented on #80
@bjeld thanks for report the bug, fixed with 3.11.2

https://codesandbox.io/s/react-typescript-j1qig

[2019-06-14 11:18] bjeld commented on #80
well, that was fast :)
Amazing library to work with. Keep up the awesome work

[2019-06-14 12:35] bluebill1049 commented on #56
sorry for the delay reply @opeah, it's too hard to get my hands on a PC these days... but can you try to add this?

`import 'babel-polyfill'; `

see if that solve the problem of IE 11

[2019-06-14 14:36] KB1RMA commented on #56
I'm running into this as well. It looks like you're not transpiling arrow functions. Are you open to changing the compatible target for transpilation?

[2019-06-14 16:11] pabloibanezcom opened #82 "Form element value with type non-string is transformed to string"
When some form element value is not a string (number or bool for instance) returns that value as string handleSubmit.

I can reproduce this even in the builder (https://react-hook-form.com/builder). Steps to reproduce it:

- Go to https://react-hook-form.com/builder
- Add one field as number and generate form.
- Fill data in the form (i.e. 7)
- Look at Watch (or Submit after submitting ) and see t

[2019-06-14 18:08] liketurbo opened #83 "Get waring by react after pushing to another route"
**Describe the bug**
You get warning each time when change route from form submit handler

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add `history.push(ROUTE)` to submit handler
2. Click submit

**Expected behavior**
As expected you move to another route, but you get warning by react

**Versions**
 - `react: 16.8.6` `react-dom: 16.8.6`
 - `react-hook-form: 3.11.3`

[2019-06-14 18:46] #80 closed

[2019-06-14 22:54] bluebill1049 commented on #82
hey @pabloibanezcom ,

that's actually the standard behavior for all `input`. if you try this in a chrome dev tool, inspect the value of an input. it will be `string`.

[2019-06-14 22:56] bluebill1049 commented on #83
thanks, @liketurbo I will take a look at this issue 👍

[2019-06-14 23:20] bluebill1049 commented on #83
can you please try out this version?
`react-hook-form@3.11.4-beta.1`

see if that resolve your problem.

[2019-06-15 01:51] rpatelcode opened #85 "Function components cannot be given refs. Attempts to access this ref will fail."
This is an amazing library, Can you please look at https://codesandbox.io/embed/semantic-ui-react-form-hooks-vnyjh

what is wrong I am doing, check console it returns error "Function components cannot be given refs. Attempts to access this ref will fail."

Thank you in advance

[2019-06-15 06:55] bluebill1049 commented on #85
hi @rpatelcode,

I just checked with semantic UI, looks like `Form.input` and `Form.select` doesn't expose `ref` as props, because it's a `functional component` as it contains `div` `label` and `input`.

an alternative is to use `Form.Field`

[code]

or

register manually by

[code]
api reference:
https://react-hook-form.com/api#setValue

[2019-06-15 08:14] bluebill1049 commented on #56
@KB1RMA i am using rollup for the build, do you have a fix? please send a PR if you do.

[2019-06-15 10:19] bluebill1049 commented on #56
can you guys try this?

`import 'babel-polyfill'` at your app.js

and install this version `react-hook-form@3.11.4-beta.2`

[2019-06-15 12:47] bluebill1049 commented on #77
going to close this, for now, feel free to open it again if you have more questions or feedback :)

[2019-06-15 12:57] liketurbo commented on #83
Nope, but I noticed that in [codesandbox example](https://codesandbox.io/s/ghqh2), you get warning only when you click or type some text into input field and then submit rather than just submit

[2019-06-15 13:19] bluebill1049 commented on #83
thanks 👍 fixed this time react-hook-form@3.11.4-beta.3 🚀

[2019-06-15 13:26] #83 closed

[2019-06-15 13:33] rowej83 commented on #77
Where do you change the mode to on change?

[2019-06-15 13:39] bluebill1049 commented on #77
When you call the `useForm` :)

https://react-hook-form.com/api/

`useForm({ mode: 'onChnage' });`

[2019-06-15 13:39] opeah commented on #56
works for me thanks @bluebill1049

[2019-06-15 13:43] bluebill1049 commented on #56
@opeah is it ok if I build an IE version just for you guys? cause with `babel` it blows up the package size from `3.8kb` to `5.1kb` personally I still prefer to keep this package as light as possible. 😄

[2019-06-15 15:54] liketurbo opened #88 "setError() from submit handler not working"
**Describe the bug**
Basically, if you trying set error with `setError(field, code, msg)` from submit handler you couldn't do that. Common case when server validation fails and you wanna show error accordingly

**To Reproduce**
I got [codesandbox example](https://codesandbox.io/s/ghqh2), if try email `random@example.com` you should get error "Email already taken", but you don't 😔

**Expected behav

[2019-06-16 00:07] bluebill1049 commented on #88
fixed :) thanks heaps for reporting
https://github.com/bluebill1049/react-hook-form/releases/tag/v3.11.5

[2019-06-16 00:19] bluebill1049 commented on #77
how did you go?

[2019-06-16 00:35] rowej83 commented on #77
I changed to onchange mode and tried errors.length on disabled on submit button but it didn't work

[2019-06-16 00:38] #88 closed

[2019-06-16 00:42] bluebill1049 commented on #77
https://codesandbox.io/s/react-hook-form-custom-input-k87mt

[2019-06-16 00:47] rowej83 commented on #77
that only works if you have one field. type in one of the text box and it'll enable the button while the other 2 inputs are empty.

https://codesandbox.io/s/react-hook-form-custom-input-4gprv

[2019-06-16 00:53] bluebill1049 commented on #77
ha, I see, you need to check all fields is touched then, that should fix that issue.

https://react-hook-form.com/api#formState

`touched`

[2019-06-16 01:04] rowej83 commented on #77
cool, I got it working by checking if the touched array length was the same # of input fields on the form. Thank you :)

[2019-06-16 01:14] bluebill1049 commented on #77
awesome! going to close the issue now 👍

[2019-06-16 01:14] #77 closed

[2019-06-16 10:26] pabloibanezcom commented on #82
You're right @bluebill1049 . I close the issue.

[2019-06-16 10:26] #82 closed

[2019-06-16 22:43] rpatelcode commented on #85
Hi @bluebill1049
Thank you for the quick reply.
I tried to register manually, May I ask you please check my code again? Still not sure what's wrong I am doing.

[2019-06-17 00:17] bluebill1049 commented on #85
no worries at all @rpatelcode

[code]

here is the working version.

you will have to set the value and trigger validation manually as well. that's the missing piece.

[2019-06-17 00:20] bluebill1049 commented on #85
also in case you are using some other UI library like material UI, then you shouldn't get into this type of manual validation. because material UI expose ref for you to easily using the `register`

[2019-06-17 07:35] burtek opened #90 "react-native support"
Hi,
First of all - this is GREAT! :D

One question: is there any way of using this with react-native? I assume there isn't any, since it requires `<form onsubmit>` but then again, I tend to be wrong in those cases :D

Thanks, keep up good work!

[2019-06-17 07:39] bluebill1049 commented on #90
Hey @burtek,

Thank you for your kind words!

you don't need `form` `onSubmit` to use this hook.

`<span onClick={handleSubmit(ons=Submit)}></span>` will do

 but currently, I am focusing on the web :( want to get web right first then looking into native :)

cheers
bill

[2019-06-17 07:52] burtek commented on #90
Alrighty :D I will then give it a try with an react-native example for ya! :)

[2019-06-17 07:52] durianjc opened #91 "Form fail working after reset()"
I put sample code here: https://codesandbox.io/s/react-hook-form-get-started-615rp
(It's just copied from your example in official website, but add reset button)

Reproduce:
1 - change values and submit -> work well
2 - reset the form
3 - change values and submit again -> only required fields will be submitted (but the values are old - not changed to what user entered), all other fields are now em

[2019-06-17 11:34] durianjc commented on #91
In the form's reset(), I see that it removes everything of the form, including the refs. Why need to do that, I thought reset() is only for reseting the values and errors only?

[2019-06-17 11:44] bluebill1049 commented on #91
thanks @durianjc  i am looking at it now

[2019-06-17 11:54] durianjc commented on #91
Btw, my use case is doing dynamic fields in the form, for example of a filter form where user can add/remove inputs (more/less filters) in the form. I can see that it may have problems with input refs, especially when removing an input. Could it be able to export an "unregister()" function to remove and clean up a input (field) in form? What do you think?

[2019-06-17 11:57] bluebill1049 commented on #91
hey @durianjc,

this is your problem with reset()

[code]

your button didn't have a type, so browser treat it as 'submit', so it's a `submit` with `reset`.

[2019-06-17 11:58] bluebill1049 commented on #91
when you input gets removed, it should auto unregister :)

[2019-06-17 12:17] durianjc commented on #91
Hi @bluebill1049, in my project, I call the reset() by code, not by button click and it still has the problem. I modified the code https://codesandbox.io/s/react-hook-form-get-started-615rp to demo again. I added e.preventDefault() to that button, and even move that button outside of the <form />.
![Screenshot at Jun 17 19-16-33](https://user-images.githubusercontent.com/47959733/59603783-81971580

[2019-06-17 12:18] bluebill1049 commented on #91
how about changing the button type to "button"? and refresh the page, cause it may get cached

[code]

[2019-06-17 12:20] bluebill1049 commented on #91
https://codesandbox.io/s/react-hook-form-get-started-l6vjr

[2019-06-17 12:31] durianjc commented on #91
Hey, in your above code, I see the only thing that cause it works or not work is this line (not "only" the submit button):

`ref={e => register(e)}` -> works
![Screenshot at Jun 17 19-28-37](https://user-images.githubusercontent.com/47959733/59604434-57deee00-9136-11e9-84cb-c3573d293f94.png)

`ref={register}` -> not work
![Screenshot at Jun 17 19-29-55](https://user-images.githubusercontent.com/47

[2019-06-17 12:47] bluebill1049 commented on #91
thanks @durianjc you are right. i have patched the issue

https://codesandbox.io/s/react-hook-form-get-started-l6vjr

[2019-06-17 12:50] bluebill1049 commented on #91
@durianjc if you are happy with it, I will publish the patch.

[2019-06-17 12:51] durianjc commented on #91
YES PLEASE, I just tested and it works as expected. 😍😍😍 THANKS so much for your ultra fast support, love this component!

[2019-06-17 12:54] bluebill1049 commented on #91
thank you very much for report this issue, next time please send a PR 👍 , would love to see you as a contributor :)

[2019-06-17 12:56] bluebill1049 commented on #91
https://github.com/bluebill1049/react-hook-form/releases/tag/v3.11.8

[2019-06-17 13:00] #91 closed

[2019-06-17 19:56] rpatelcode commented on #85
WOW that's Amazing Thank you Bill.

[2019-06-17 19:56] #85 closed

[2019-06-17 21:11] samlll42-github opened #92 "with onBlur validation shouldn't isValid be false if not all required fields have been entered&validated?"
First of all - I love this project, clean, modern and efficient - great job.

I started using it but I feel like something may be missing.
When using onBlur validation, I would expect formState.isValid to be false until all the required fields have been touched & validated. Essentially so that the submit button can be disabled until the form isValid or 'isReadyToSubmit'....

Am I missing something

[2019-06-17 22:26] bluebill1049 commented on #92
thank you for your kind words I will look into this issue.

[2019-06-17 22:48] bluebill1049 commented on #92
fixed and tested with `react-hook-form@3.11.9-beta.1`

You want to do a quick test. once you can verify it's working. I will publish :)

[2019-06-18 10:55] bluebill1049 commented on #56
going to close this, for now, if you need IE support, I am happy to build an IE version and you just have to `import 'babel-polyfill'

[2019-06-18 16:32] KB1RMA commented on #56
Thanks for looking into this. For the moment, transpiling the module myself with babel solves my issue (and including polyfills of course). So if you don't plan to support IE (which I don't blame you for!) then no biggie. Perhaps a section in the documentation reflecting supported browsers might be a nice addition though.

[2019-06-18 21:11] bluebill1049 commented on #56
@KB1RMA can you show me what you did? i will write this on the FAQ page, many thanks

[2019-06-19 01:13] bluebill1049 commented on #92
published https://github.com/bluebill1049/react-hook-form/releases/tag/v3.11.9 thanks for reporting.

[2019-06-19 04:07] samlll42-github commented on #92
Thanks for the super quick turnaround!

I tested and it does work better. However I think there Is still something that doesn't behave like I would expect.

The current implementation will set isValid once every field have been touched (and no errors are reported), regardless on whether the fields are required or not, right?

Wouldn't it be better to only set isValid only once every 'required' fie

[2019-06-19 04:54] bluebill1049 commented on #92
you are right about that. i can take a look at this again

[2019-06-19 06:20] minhaferzz opened #93 "Using errors with Typescript results in"
**Describe the bug**
Whenever I use the `errors` object, I get this Typescript error:
`Property 'propertyName' does not exist on type 'ErrorMessages<{}>'`

**To Reproduce**
https://codesandbox.io/s/react-typescript-vxzfm

**Expected behavior**
No errors while using the `errors` object.

[2019-06-19 06:26] bluebill1049 commented on #93
thanks, @minhaferzz strange I don't get it on this demo: https://codesandbox.io/s/o766kp4z05

I will look into why

[2019-06-19 07:22] bluebill1049 commented on #92
you want to try this version?

`react-hook-form@3.11.10-beta.1`

[2019-06-19 07:25] bluebill1049 commented on #93
I removed this bit looks fine

`function onSubmit(data: any) {`

https://codesandbox.io/s/react-hook-form-async-submit-validation-pjpbu

[2019-06-19 09:13] Graveheart commented on #93
I had the same problem at first, you need to define `validationFields` in order not to get the Typescript errors. Here's a demo:

https://codesandbox.io/s/react-typescript-4phci

[2019-06-19 10:59] bluebill1049 commented on #93
I see you guys r using `react-script-ts`

[code]

[2019-06-19 23:52] samlll42-github commented on #92
Thanks! I tried but I am getting isValid set to true by default when none of the fields have been touched yet, even as most of them are required...

[2019-06-20 00:51] bluebill1049 commented on #92
do you have a codesandbox that i can play around with?

[2019-06-20 05:26] bluebill1049 commented on #93
I think to define type should resolve this issue, I am going to close this issue for now. feel free to re-open if that still not solve your problem.

[2019-06-20 05:26] #93 closed

[2019-06-20 05:27] bluebill1049 commented on #56
going to close this, @KB1RMA if you could drop some instruction here then I can update the documentation. many thanks, bill

[2019-06-20 05:27] #56 closed

[2019-06-20 06:44] samlll42-github commented on #92
I put this one quickly together - please confirm you can access it.

https://codesandbox.io/embed/mystifying-worker-xy8pi

When we first load isValid is true...  Shouldn't the initial value be false until all required fields have been touched/validated without errors?

[2019-06-20 11:34] bluebill1049 commented on #92
I think its fixed, check it out. more complicated than I thought would be...

[2019-06-20 23:35] bluebill1049 commented on #92
try this version: https://codesandbox.io/s/react-hook-form-async-submit-validation-pjpbu

it's a bit more complicated than I initially thought

[2019-06-21 00:02] bluebill1049 commented on #90
I am going to close this issue now, will focus on the web first and move towards `react-native` ❤️

[2019-06-21 00:02] #90 closed

[2019-06-21 18:01] samlll42-github commented on #92
Looks better in initial test. will let you know if we find any other problem. Thanks for fixing this!

[2019-06-21 22:02] bluebill1049 commented on #92
no worries, here is a beta version `react-hook-form@3.11.10-beta.3`

[2019-06-25 01:18] bluebill1049 commented on #92
i believe this is fixed, reopen when you find there is still issues.

[2019-06-25 13:19] Romcol opened #99 "Form not being blocked from being sent and error message resets after focusing out of the input"
Hi there,

First, thank you for providing us with this tool :) Pardon me if this is not a bug but IMO I find this behavior weird.

I'm trying to check if two password are equals in a form. As I think there is no out of the box solution for this problem I'm using setError to come up with my own comparison (See https://codesandbox.io/s/react-hook-form-seterror-epesl).

The thing is the form is not a

[2019-06-25 16:33] RyanPWalker opened #100 "Multiple Page Form"
There doesn't seem to be a simple way to create a multiple page form.  I'm trying to save each page's form data to redux before moving on to the next page as a work around, but there isn't a good way to do that either.

Any suggestions for simple approaches I'm unaware of?  Or maybe it could be a new feature?
Thanks

[2019-06-25 17:03] testarossaaaaa commented on #100
It's related to all react form libraries, fields are registered only if they are presented in React Virtual DOM, it's the right approach. If you want to build a wizard just render all pages at once with `visibility: hidden` and set `visibility: visual` for an active page/tab.

[2019-06-25 17:32] RyanPWalker commented on #100
@testarossaaaaa I thought about that too, but hiding elements in the DOM is kind of a hacky fix.  Also I'm trying to add this to an existing form and I'd have to rewrite the structure to do that

[2019-06-25 20:09] RyanPWalker opened #101 "FormContext Invariant Violation"
When trying to wrap my form in the `FormContext` component, I get the following error:

(brief) Code:
[code]

I want to use this to pass down the form methods to the different form pages, but I can't even try yet because this happens.  Potentially could be because I'm server side rendering this React, but the other methods have worked fine up until now.

Running latest version of Chrome, Node 10.1

[2019-06-25 21:22] bluebill1049 commented on #101
strange works in the demo: https://codesandbox.io/s/react-hook-form-form-context-zvfok

do you have a codesandbox i can do a quick test and see what's going on?

[2019-06-25 21:24] bluebill1049 commented on #100
multiple page form probably should always be tied together with a state management tool. Things like redux or my simple version: https://github.com/bluebill1049/little-state-machine

[2019-06-25 21:26] bluebill1049 commented on #99
thanks for reporting this bug, i will take a look into that 🙏

[2019-06-25 21:41] RyanPWalker commented on #100
That's what I was thinking, just wanted to make sure.  Would you recommend using `getValues()` and then saving it to the state when moving between pages?

My other problem is that my form transitions are controlled by a different child component so I'd have to pass `getValues` through the `FormContext` api but as you saw [in my other issue](https://github.com/bluebill1049/react-hook-form/issues/10

[2019-06-25 21:57] bluebill1049 commented on #100
no, I wouldn't recommend using` getValues()`, I will do that at `onSubmit` because then the validation has run through and data is clean.

[2019-06-25 22:01] RyanPWalker commented on #100
So each form page has it's own submit with `onSubmit` that validates then saves the page data to the store, and then the final submit just pulls from the `store` the complete application?

[2019-06-25 22:03] bluebill1049 commented on #100
Perfect 👌🏻

[2019-06-26 00:07] bluebill1049 commented on #99
I have fixed the bug :) thanks for reporting

https://codesandbox.io/s/react-hook-form-seterror-kylns
will publish it soon.

I have one suggestion for what you doing here, why not try out `validate` in register

[code]

[2019-06-26 01:09] bluebill1049 commented on #99
https://github.com/bluebill1049/react-hook-form/releases/tag/v3.13.0

[2019-06-26 01:09] #100 closed

[2019-06-26 01:10] bluebill1049 commented on #101
Do you still having an issue with `FormCotext`?

[2019-06-26 05:32] #101 closed

[2019-06-26 09:27] Romcol commented on #99
Hi, thank you for fixing the bug !!

I don't quite get what native validation has to do with that though :confused:

Regarding my problematic, we actually need to link onChange to both input, as the form could be filled in reverse order (quick tricky right :laughing:) https://codesandbox.io/s/react-hook-form-seterror-fj6ds?fontsize=14.

Also, we want to display errors only after the form has been

[2019-06-26 09:45] bluebill1049 commented on #99
native validation is a separate feature that I have worked for a while which I was going to publish :)

here is a working version with `validate`

https://codesandbox.io/s/react-hook-form-seterror-9dind

`watch` need to be called within the validate due to scope. I will take a look at the other example now.

[2019-06-26 16:25] RyanPWalker commented on #101
Turns out I just needed to update to the latest version haha.  You're quick at making changes and updates 👌 Thanks

[2019-06-26 17:32] RyanPWalker opened #102 "useFormContext doesn't work with defaultValues"
[code]

Doesn't prepopulate my form with the default values.

[2019-06-26 21:35] bluebill1049 commented on #99
@Romcol happy to close this issue? 🙏

[2019-06-26 21:36] bluebill1049 commented on #102
`useFormConext` doesn't support an argument, it only makes useForm functions access via `context`

you have done that in `useForm`.

[2019-06-26 21:38] bluebill1049 commented on #102
Code Example below:

[code]

[2019-06-26 21:56] #102 closed

[2019-06-27 02:31] jasondibenedetto opened #103 "Default value for custom input"
I've been running into an issue when trying to set a default value for a custom input component. I've experimented with using `getValues()` and `watch`, but both return an empty value on the first render.

See below to replicate the issue. The custom input field is empty on load, but will populate after entering text in any of the other fields.
https://codesandbox.io/s/react-hook-form-bug-2ltts

[2019-06-27 03:07] #99 closed

[2019-06-27 03:23] bluebill1049 commented on #103
Hi @jasondibenedetto ,

Thanks for reporting this issue.

For custom input, you will have to register the `defaultValue` manually. Because running the following code

`register({ name: 'test' })`

doesn't give React Hook Form the context of its ref. Your default value will be injected into the hook but not on the DOM input.

vice versa when you running `<input ref={register} />` React Hook Form ha

[2019-06-27 04:13] jasondibenedetto commented on #103
That all makes sense to me, thank you for the direction @bluebill1049

[2019-06-27 04:16] bluebill1049 commented on #103
my pleasure, feel free to ask more questions or raise issues here.

have a nice day :)

[2019-06-27 04:16] #103 closed

[2019-06-27 09:17] ell10t opened #104 "useFormContext missing return value type"
I know useFormContext is a new feature, but at the moment the return type is just `{}`, which gives me type errors:

![image](https://user-images.githubusercontent.com/35668113/60252074-85a7fd80-98c1-11e9-8bc2-93970735ecca.png)

Here's a hacky example that resolves the issues in `useFormContext.tsx`:

[code]

Great work on the library! ❤️

[2019-06-27 09:24] bluebill1049 commented on #104
thanks @ell10t can you try to add type during `useForm()`? let me know if this fixes the issue 👍

https://react-hook-form.com/api#Typescript

[2019-06-27 09:25] bluebill1049 commented on #104
I will take a look at this as well.

[2019-06-27 09:46] Romcol commented on #99
Thanks very much @bluebill1049 ! Only one little use case is not supported by the `validate` when both fields are completed in reverse order, but with setError that should do it (as in sandbox).

[2019-06-27 09:53] bluebill1049 commented on #99
Awesome! You are so kind and polite. Thank you too!

[2019-06-27 10:22] ell10t commented on #104
Didn't help, `useFormContext()` and `React.createContext` currently define the context type as `{}`, my example above sets the type to `FormProps` which includes `register` etc.

[2019-06-27 10:28] bluebill1049 commented on #104
feel free to submit a PR if you have a solution to fix it too 👍

[2019-06-27 11:29] bluebill1049 commented on #104
thanks a lot, @ell10t here is the beta version: `react-hook-form@3.13.2-beta.1` let me know if this fixed those issues

[2019-06-27 12:16] ell10t commented on #104
@bluebill1049 beta seems to be missing all types

[2019-06-27 12:18] bluebill1049 commented on #104
hmmm, I tested and works for me.

[code]

let me know if you spot anything wrong.

[2019-06-27 12:57] ell10t commented on #104
`.\node_modules\react-hook-form` just seems to contain an `.js` and `.es.js` file for me

[2019-06-27 14:51] ell10t commented on #104
f82e588fe4d3112a6213c900feb586a748611ee7 removed `"declaration": true`, which stops output of the type files on build it seems

[2019-06-27 19:59] samlll42-github commented on #92
Looks there is still a problem with isValid, when we register required field outside of the input.

https://codesandbox.io/s/goofy-shirley-cw7bh
The 'test' field is registered outside of the input component, as required. Its value is handled correctly, but isValid is never set to True...

Let me know what you think...

[2019-06-27 21:35] bluebill1049 commented on #104
oops... thanks @ell10t I need to read more on tsconfig... that was silly.

`react-hook-form@3.13.2-beta.3`

[2019-06-27 21:36] bluebill1049 commented on #92
will take a look again

[2019-06-27 21:56] bluebill1049 commented on #92
hey @samlll42-github

With manual registered field:

[code]

react hook form won't have a reference(`ref`) to the input, so it couldn't attach an event listener to watch and valid `onChange` or `onBlur`, but only `onSubmit`. you will have to `setError` or clear it manually for manually registered input.

https://react-hook-form.com/api#setError

let me know if those make sense.

cheers
bill

[2019-06-27 21:57] bluebill1049 commented on #104
thanks very much for your help @ell10t 🙏 I will include you as contributor once we published this patch.

[2019-06-27 22:14] samlll42-github commented on #92
It makes sense that’s what we did for now.

but I was thinking we do update the value of required fields with setValue when they change (per the documentation), wouldn't it  be possible for the React-hook-form to set isValid to true if all required fields are set, when any of the form values change including the externally registered required fields?

Right now it stays false. Or am I missing some

[2019-06-27 22:24] bluebill1049 commented on #92
yea I did thinking over this as well.
but I like an API to be as what they stated as and does less magic within, therefore I didn't do much extra stuff when invoking `setValue` or `setError`, but I think what you want to use is `triggerValidation`, which you can run after setValue.

let me know your thoughts.

[2019-06-27 22:48] ell10t commented on #104
seems to have done the job :tada:

[2019-06-27 22:50] bluebill1049 commented on #104
publishing 🍾

[2019-06-27 22:54] #104 closed

[2019-06-28 00:54] jasondibenedetto opened #107 "FormContext typescript error"
Running into a typescript error on the latest build when trying to use `FormContext`.

Seems like an issue with the `touched` key in `formState`.

See below...
https://codesandbox.io/s/react-hook-form-ts-z0onr

[2019-06-28 01:21] bluebill1049 commented on #107
thanks @jasondibenedetto i am looing into that now

[2019-06-28 02:01] bluebill1049 commented on #107
https://codesandbox.io/s/react-hook-form-ts-0pvqn

[2019-06-28 02:05] jasondibenedetto commented on #107
Thank you @bluebill1049

[2019-06-28 02:06] bluebill1049 commented on #107
Nah thank you for reporting ❤️

[2019-06-28 02:42] barry4dev commented on #73
@bluebill1049 @stramel  So sorry I missed this conversation (I gotta reduce my notification list a bit).  I think the idea is fascinating and likely helpful.  I'll try it out in 3.11 and see how it goes!

[2019-06-28 02:45] bluebill1049 commented on #73
all good @barry4dev ❤️

[2019-06-28 02:45] bluebill1049 commented on #107
wow you from Adelaide. nice

[2019-06-28 03:48] jasondibenedetto commented on #107
Looks good to me 👍

[2019-06-28 03:48] #107 closed

[2019-06-28 11:18] poteirard commented on #92
I think it's a related question so I will ask here. I have a form in mode 'onBlur' and some defaultValues and I realize that when all the values are valid "isValid" is `false`. So I have to go to every input in order to activate the validation of each one. Is that the expected behaviour?

Is there a way to triggerValidation to all the fields?

Thanks a lot for your work :) I'm trying to move from

[2019-06-28 11:29] bluebill1049 commented on #92
Thanks, @poteirard it's not expected behavior. which version are you using?

[2019-06-28 13:23] poteirard commented on #92
Hey @bluebill1049 thanks also for the fast response. I created a codesandbox with what I'm doing more or less. I'm using version `3.13.1`

[2019-06-28 23:39] bluebill1049 commented on #92
@poteirard thanks for the codesandbox, that really helped :)

[code]

I think this will solve your problem for now. I am planning to support `array` for `triggerValidation`. so you won't have to write it mutiple times.

[2019-06-28 23:51] samlll42-github opened #108 "unregister fields?"
We have a form that dynamically changes without being completely unmounted/remounted. Is there a way to unregister fields that may have been required, and may no longer be required?

Thanks

[2019-06-28 23:55] bluebill1049 commented on #108
hey @samlll42-github,

If you remove an input, it will get auto unregistered.

[code]

when `willBeRemove` set to false, the filed will be unregistered

[2019-06-28 23:58] bluebill1049 commented on #108
oops, I didn't' read your question clearly, you want to unregister even a field still mounted. currently, there is no `unregister` method. Curious why you guys doing so?

[2019-06-29 00:01] samlll42-github commented on #108
good question :) We have a sign up form that switches mode and has different field requirements depending on the mode.

[2019-06-29 00:03] bluebill1049 commented on #108
Just some thoughts: curious why not build two separate forms, if they completely different. If they are similar should be able to toggle the fields.

[2019-06-29 00:07] samlll42-github commented on #108
In our particular case we have just one field different out of a dozen...

[2019-06-29 00:08] bluebill1049 commented on #108
if you have to restrict which field to validate, maybe this API will be useful.

https://react-hook-form.com/api#useForm

`validationFields`

take a look, see if this helps :)

[2019-06-29 00:12] bluebill1049 commented on #108
is this doesn't, I can take a look into `unregister` and place in my todo list 👍

[2019-06-30 21:32] davidramos13 opened #111 "onSubmit not working with yup"
Hi! I was trying to update things and start using hooks more, and I liked the way forms are handled with your library, and more when it made me know yup, it looks clearer to me. But at this moment that way doesn't seem to work correctly.

**Describe the bug**
onSubmit is not working with yup, after the form is first validated (when the onChange event should be attached). It doesn't update validati

[2019-07-01 00:33] bluebill1049 commented on #111
Thanks a lot for report the issue :)

I have patched the issue: `3.16.2-beta.1`

https://codesandbox.io/s/react-hook-form-validationschema-iui13

[2019-07-01 01:31] bluebill1049 commented on #111
Thanks a lot for report the issue :)

https://codesandbox.io/s/react-hook-form-validationschema-iui13

I have patched in `3.16.2-beta.2`

let me know if this fixed your issue.

[2019-07-01 02:19] davidramos13 commented on #111
Apparently it works now, thanks ;)

[2019-07-01 02:19] #111 closed

[2019-07-01 02:23] bluebill1049 commented on #111
thanks going to publish now

[2019-07-01 03:56] bluebill1049 commented on #92
hey @samlll42-github, next release: `setValue('name', 'value', true)` will trigger validation. The third argument is a boolean for trigger validation. hope this works for your project.

[2019-07-01 09:05] poteirard commented on #92
thanks a lot @bluebill1049

Don't you think it will be nice to change the implementation of `triggerValidation` so when you run it without parameters it triggers the validation of every field by default? I don't know if it's possible but if it is I would be more than happy to contribute with a PR :)

[2019-07-01 09:12] bluebill1049 commented on #92
yes please @poteirard ❤️ great idea. PR welcome

[2019-07-01 09:38] poteirard commented on #92
[code]

Gives me a type error as `triggerValidation` doesn't accept an array, which is correct and, correct me if I'm wrong but I think the implementation is not done yet. So I suppose I have to call `triggerValidation` for every field one by one.

Also, I think it will be nice to have an `isValid` prop for each form field. But that's another topic :)

For now, I have a very strict deadline but I

[2019-07-01 21:14] bluebill1049 commented on #92
@poteirard are you running the latest version. it should support `array` now :)

[2019-07-02 00:23] bluebill1049 opened #112 "Help: Typescript support for formContext"
Could someone please help on typescript here?

[code]

right now some of the functions I have to use `Function` to stop the error. wondering if anyone in the community can help with it.

[2019-07-02 00:51] bluebill1049 commented on #112
thanks heaps, @barry4dev for the reply and help.

I have created a repo and if you have time, you can clone it and see the error.

https://github.com/bluebill1049/React-Hook-Form-TS/blob/master/src/App.tsx

I have updated the types for `setError` to the following.

[code]

and result

<img width="1069" alt="Screen Shot 2019-07-02 at 10 51 10 am" src="https://user-images.githubusercontent.com/10513

[2019-07-02 06:44] davidspiess commented on #56
Hi @bluebill1049, i took a short look in your codebase and i think there isn't that much to adjust to support IE11 too!

[code]
With these changes the only requirement for library consumers, which are worried about IE11, is adding a Promise polyfill. This is handled similar in Formik (https://github.com/jaredpalmer/formik/issues/870).

If you plan to support IE11, i can take a deeper look and prov

[2019-07-02 06:48] bluebill1049 commented on #56
Hi @davidspiess, thanks for the comment. I believe @KB1RMA have fixed the issue on his end:

would be nice to know how and documented on the website.

I would love to support IE 11, but I think it's going to blow up the size of the package. if you have a solution without adding extra dependency that would be great.

cheers
bill

[2019-07-02 07:05] davidspiess commented on #56
Thanks for your quick response @bluebill1049!
The `@babel/polyfill` solution adds a lot of unnecessary polyfills to my package size when in the end the only required changes in your codebase would be the one i stated above.
I would not suggest to add any polyfills to your library but leave it to the library consumer to add them.
Currently i think the following polyfills are needed to support IE11:

[2019-07-02 07:22] bluebill1049 commented on #56
oh nice thanks @davidspiess for the link, I will update accordingly :)

[2019-07-02 09:50] bluebill1049 commented on #92
@samlll42-github `setValue` with `shouldValidate` is released, you happy to close this issue?

[2019-07-02 10:05] bluebill1049 commented on #56
<img width="628" alt="Screen Shot 2019-07-02 at 8 04 44 pm" src="https://user-images.githubusercontent.com/10513364/60504327-bd210a80-9d04-11e9-9375-5b4bf6c292c4.png">

thanks @davidspiess updated

[2019-07-02 11:08] davidspiess commented on #56
I think you mistakenly copied too much from the react-pose text 😄

[2019-07-02 11:11] bluebill1049 commented on #56
dame it, guess I am a bit too tired after work :( thank you tho~!

[2019-07-02 11:13] davidspiess commented on #56
Time to take a break 🍻 🎉

[2019-07-02 11:25] bluebill1049 commented on #108
@samlll42-github is any of my suggestion helps for you?

[2019-07-02 11:42] raff-r opened #114 "Call handleSubmit even when validation fails"
Its my understanding that handleSubmit on calls the callback when validation is successful. Is there a way to call a function even when validation fails? We track all form errors when a user clicks submit so would like to know when there are errors and they click the submit button.

[2019-07-02 12:16] bluebill1049 commented on #114
yea you can.

you can add an onClick on the button

[code]

[2019-07-02 12:27] bluebill1049 commented on #114
I think you can refer to the `formState`

[code]

[2019-07-02 13:49] raff-r commented on #114
I tried the useEffect method however on first submit button click errors is empty even though the form is invalid. Every click after that seems to get the correct errors

[2019-07-02 15:00] raff-r commented on #114
i've put together a codeSandbox to illustrate whats happening https://codesandbox.io/s/friendly-bose-n8rjq

[2019-07-02 23:22] bluebill1049 commented on #112
thanks, @barry4dev for your help here ❤️

[2019-07-02 23:39] bluebill1049 commented on #114
Thanks for the codesandbox :) that really helps

https://codesandbox.io/s/great-bash-pmrqr

above is my version, see if it's working for you 👍

[2019-07-03 08:41] raff-r commented on #114
Thanks for taking a look at this really appreciate it. It works great.

I'm getting an eslint warning of React Hook useEffect has a missing dependency: 'errors'. Either include it or remove the dependency array. Is this something that I need to worry about? If include 'errors' as it mentions it calls onInvalidSubmit on every change after submitting the first time which isn't what we are looking fo

[2019-07-03 12:37] bluebill1049 commented on #114
To be honest I disable this rule when required at work. (at the line)

[2019-07-03 13:47] raff-r commented on #114
That would great. Thank you again for your help

[2019-07-03 18:46] barry4dev commented on #112
no problem - think you can close this thread :)

[2019-07-03 22:06] #112 closed

[2019-07-03 22:57] bluebill1049 commented on #108
going to close this issue now, feel free to open again for more questions

[2019-07-03 22:57] #108 closed

[2019-07-04 08:50] bluebill1049 commented on #114
how about this?

https://codesandbox.io/s/great-bash-pmrqr

[2019-07-04 08:52] bluebill1049 commented on #92
going to close this issue too, feel free to re-open is still have questions.

[2019-07-04 08:52] #92 closed

[2019-07-04 09:22] michaelbirchler commented on #56
@davidspiess thanks for the info regarding the polyfills. But only adding the polyfills without transpiling won't work. There are some arrow functions in the dist code, like this:

`var isCheckBoxInput = (type) => type === 'checkbox';`

and arrow functions are unfortunately not supported on Internet Explorer https://caniuse.com/#feat=arrow-functions

[2019-07-04 09:42] davidspiess commented on #56
@michaelbirchler yes transpiling with babel or typescript is still required.

[2019-07-04 11:23] bluebill1049 commented on #56
@davidspiess should I include that message in the website under IE 11 support:

[2019-07-04 11:40] raff-r commented on #114
Works great, with no eslint errors. Thank you very much thats much appreciated!

[2019-07-04 11:47] raff-r commented on #114
Would you be against incorporating invalid submit as part of handle submit? For example include another parameter which is if valid?

I'm happy to see if I can work through your code and try to come up with a pull request.

[2019-07-04 12:23] bluebill1049 commented on #114
hey @raff-r

no worries, glad I could help. I wouldn't recommend doing this for now (would like to keep it as simple as possible at this stage). but if more ppl request for this as a feature, I will work with you and others find a good solution.

Thanks for offering time to help this project too. would love to see you contribute to this library int the future  :)

thanks
bill

[2019-07-04 12:57] davidspiess commented on #56
@bluebill1049 I think it would be better changing `"target": "es2017"` to `"target": "es5"` in `tsconfig.json`. Not sure if this has any implications on existing users though.

[2019-07-04 16:18] raff-r commented on #114
No worries... thank you for your help

[2019-07-04 16:18] #114 closed

[2019-07-05 07:29] bowd commented on #92
Not sure if related to this but I've noticed that `isValid` on `formState` doesn't update when using external validation schema (yup in this case) and `onUpdate` mode.

Here's a codesadbox: https://codesandbox.io/embed/react-hook-form-seterror-ftvrr

This example has two fields, each required. They start off as filled in via `defaultValue` and the form is valid. Now try to edit the form and clear

[2019-07-05 08:03] bluebill1049 commented on #92
@bowd i will take a look that over the weekend

[2019-07-05 08:37] bluebill1049 opened #117 "Validation with schema: formState isValid attribute not return correct result"
Not sure if related to this but I've noticed that `isValid` on `formState` doesn't update when using external validation schema (yup in this case) and `onUpdate` mode.

Here's a codesadbox: https://codesandbox.io/s/react-hook-form-seterror-ftvrr

This example has two fields, each required. They start off as filled in via `defaultValue` and the form is valid. Now try to edit the form and clear the

[2019-07-05 08:38] bluebill1049 commented on #117
there is no `onUpdate` mode

[2019-07-05 08:38] bluebill1049 commented on #92
@bowd https://github.com/bluebill1049/react-hook-form/issues/117 let's discuss there

[2019-07-05 11:08] bluebill1049 commented on #117
I dont think `isValid` is set up correctly for validation with schema, looking into the problem.

[2019-07-05 11:22] bluebill1049 commented on #117
@bowThink I have fixed the issue.

https://codesandbox.io/s/react-hook-form-seterror-wysuq

[2019-07-05 11:28] bluebill1049 commented on #117
looks like this is fixed now.

`https://codesandbox.io/s/react-hook-form-seterror-wysuq`

- fixed: there is a bug where errors not clear after submitting.

[2019-07-05 12:41] bowd commented on #117
Sorry I made a mixup with `onChange` / `onUpdate`. Actually, I'm still having an issue. So, first of all, I did have required because I changed the example to use `yup` and provided a validation schema, not inline require on the `register` method.

But now I'm seeing some behavior that's a bit inconsistent.

Let's look at this one: `https://codesandbox.io/s/react-hook-form-seterror-mo8sh`.
What I

[2019-07-05 13:11] bluebill1049 commented on #117
thanks @bowd i think this fix the issue

https://codesandbox.io/s/react-hook-form-seterror-n2dvh

can you check?

[2019-07-05 13:45] Funkyskank opened #118 "How make select to submit non-string values?"
Is there a way to make `select` to submit non-string value?

This doesn't do a thing :
[code]
and we have empty string in form values.

[2019-07-05 13:52] bluebill1049 commented on #118
[code]

can you try above?

[2019-07-05 14:01] Funkyskank commented on #118
it submits `"1"`

[2019-07-05 14:03] bluebill1049 commented on #118
https://codesandbox.io/s/react-hook-form-custom-input-k87mt

[2019-07-05 14:04] bluebill1049 commented on #118
ha, I remember you now, you fixed a typo on react hook form website. thanks, mate

[2019-07-05 14:31] Funkyskank commented on #118
Yeah, greetings from Russia)

Guess found one more mistake in that example:
<Select name={label} ref={ref}>
must be <select ...

[2019-07-05 18:39] bowd commented on #117
@bluebill1049 it works in your sandbox but I don't see any difference at all from the one I shared. What did you change to make it work?

[2019-07-05 21:37] bluebill1049 commented on #117
cool, it works :) I will commit my change and publish it today 👍

[2019-07-05 21:45] bluebill1049 commented on #117
published: react-hook-form@3.17.4 thanks for report the issue

[2019-07-06 00:13] bluebill1049 commented on #118
hey, @Funkyskank is my approach to solve your problem.

[2019-07-06 00:14] bluebill1049 commented on #117
hey, @bowd let me know if I have fixed the issue and we can close this :)

[2019-07-06 02:45] bowd commented on #117
There's still a problem. When adding `defaultValue` to the example above `formState.isValid` stays false until you actually click (touch) one of the inputs. If the form is actually valid based on all the `defaultValues` I think the state should reflect that. I've tried forcing a manual `triggerValidation` in an effect and it's still not valid until I blur an input.

`https://codesandbox.io/s/react

[2019-07-06 02:46] bluebill1049 commented on #117
`triggerValidation` should do the the job, let me check. sorry about the bug haven't spend enough love with `Yup` and schema validation

[2019-07-06 02:55] bowd commented on #117
No worries, I appreciate you being so responsive and on top of things 🚀. Code is always gonna break that's the nature of it, the people behind it are important.

[2019-07-06 06:35] bluebill1049 commented on #117
@bowd looks like it's working: https://codesandbox.io/s/react-hook-form-seterror-rfdgd

could you please help on a quick test?

[2019-07-06 08:39] bowd commented on #117
So it does work in the sense that when `defaultValue` is set on all fields and you do kickoff the `triggerValidation` manually all looks ok. But this doesn't really work well if you have a partially filled form or an empty form, because it shows all errors from the start even if you haven't touched the field, which isn't ideal. The current workaround in my case would be to only trigger the `trigge

[2019-07-06 08:40] bluebill1049 commented on #117
thanks a lot for your testing @bowd, I will write some unit tests and publish it tomorrow. will keep you in the loop.

[2019-07-06 12:51] bluebill1049 commented on #117
@bowd fix has been merged, will test tmr morning again and release

[2019-07-06 23:30] bluebill1049 commented on #117
@bowd https://github.com/bluebill1049/react-hook-form/releases/tag/v3.17.5 once you happy with it please close the issue 🙏

[2019-07-08 00:49] bluebill1049 commented on #92
@poteirard FYI I have made `triggerValidaiton()` with an empty argument

https://github.com/bluebill1049/react-hook-form/releases/tag/v3.18.0 :)

[2019-07-08 06:05] Funkyskank commented on #118
yes, thanks

[2019-07-08 06:25] bluebill1049 commented on #118
Thank you, feel free to open more issues :) please consider to leave start to support this little library 🙏 ❤️

[2019-07-08 06:25] #118 closed

[2019-07-08 08:23] felipepastor opened #120 "[Question] Schema Validation"
Hi all,

Thanks for create this amazing tool. I'm validating using yup and some how the library is triggering the error for nested object, but if I validate using the yup validator, it's working fine. Have you noticed this before?

The validation looks like this...
[code]

[2019-07-08 08:34] bluebill1049 commented on #120
thanks @felipepastor any chnace you can share a codesandbox?

[2019-07-08 08:43] bluebill1049 commented on #120
also what errors you are getting?

[2019-07-08 08:47] poteirard commented on #92
Thanks a lot! :dancer:

[2019-07-08 08:50] bluebill1049 commented on #92
Thanks @poteirard if you find it useful, please consider staring the repo and share among the community 😄 much apprecitaed 🙏

[2019-07-08 10:36] michaelbirchler commented on #56
@davidspiess If I use `"target": "es5" inside `tsconfig.json` I get an application error with the react app:

Do you know if there is an easy workaround, maybe in adjusting the `compilerOptions`? 🙇

[2019-07-08 11:00] bluebill1049 commented on #56
@davidspiess I tried that as well, I got some error last time. :(

[2019-07-09 05:38] bluebill1049 commented on #117
it's release 👍 let me know if things work out for you and we can close this issue 🙏

[2019-07-09 15:14] bowd commented on #117
All is well, you can close the issue. Thanks!

[2019-07-09 16:18] stramel opened #121 "Split validation implementations out"
**Is your feature request related to a problem? Please describe.**
The current size of the library is ~4.3kb min, gzipped which is far better than most form libraries. However, I think we could shave a bit more off the base library implementation by pulling the validation out. Currently this has 3 kinds of validation logic: generic validation, native validation, and schema validation (using Yup).

[2019-07-09 21:30] #117 closed

[2019-07-10 03:50] bluebill1049 commented on #120
hi @felipepastor how did you go with this issue?

[2019-07-10 04:52] bluebill1049 commented on #108
hi @samlll42-github FYI `unregister` function has been released https://github.com/bluebill1049/react-hook-form/releases/tag/v3.18.2

[2019-07-10 04:53] samlll42-github commented on #108
Just saw that! that's great thanks. We were having other problems with isValid but it looks like there has been a few fixes applied. Will give the latest release a shot. Thanks again for all the work!

[2019-07-10 05:02] bluebill1049 commented on #108
my pleasure, feel free to reopen issues. I will follow up 🙏

[2019-07-10 06:45] bluebill1049 commented on #121
Great suggestion @stramel

I did think about this issue as well. I have the following mission when I am developing this library:

1. Great DX
2. Simple form validation (less code to write)
3. Better performance
4. Smaller package dependency

Great DX is one of my primary goals, I want this library to be as easy as possible. I guess that's one of the reasons why I didn't split the validation method

[2019-07-10 11:51] felipepastor commented on #120
I'll provide a codesandbox soon. I'm facing another issue. I'll ask in another ticket.

[2019-07-10 11:54] felipepastor opened #123 "[Question] Material UI onChange triggering only in the second time"
Hi,

I'm using Material-UI to build my inputs, but something that I noticed is when we use inputRef, a initialState object and value in the component, it's not triggering the change in the first change but only in the second and forward.

Here is an example based on your example using Material-UI.
https://codesandbox.io/s/react-hook-form-custom-input-ckz8t
You can check the console and please, let

[2019-07-10 11:59] bluebill1049 commented on #123
is this what you after?

https://codesandbox.io/s/react-hook-form-custom-input-xsivu

(i have removed some of the unused code)

[2019-07-10 12:03] felipepastor commented on #123
Updated with the current code I'm using. Does it make sense?

https://codesandbox.io/s/react-hook-form-custom-input-z331x

[2019-07-10 12:04] bluebill1049 commented on #123
I see, you mean `handleChange` is not triggered first input

[2019-07-10 12:05] felipepastor commented on #123
Yes :)

[2019-07-10 12:06] felipepastor commented on #123
What i find so far, if you defined the "number" as undefined, it triggers in the first input.

[2019-07-10 12:09] bluebill1049 commented on #123
ok because react-hook-form leverage uncontrolled input, if you remove `value`, it will work.

working version: https://codesandbox.io/s/react-hook-form-custom-input-6guwc

[2019-07-10 12:10] bluebill1049 commented on #123
i don't see what you try to achieve here tho. with react hook form you dont need `handleChange` unless you want to transform the input.

[2019-07-10 12:14] felipepastor commented on #123
Uncontrolled works fine, but I want to transform the input fields value based on the language I select. For example US the format for thousands is 1,000 (comma) and for DE is 1.000 (dot), so if I change the language I should re-render based on the language transforming the fields. That's why the value is necessary for each input.

[2019-07-10 12:15] bluebill1049 commented on #123
oh i see

[2019-07-10 12:15] felipepastor commented on #123
Do you think it's achievable?

[2019-07-10 12:18] bluebill1049 commented on #123
yes, we do that at work.

`onChange={e => e.target.value = transform(e.target.value)}`
transform is your function to do the number stuff

[2019-07-10 12:22] felipepastor commented on #123
Got it, but I don't think it'll some the issue. Imagine the user already typed some number and then change the language (it's in a component up there somewhere else), I should change the number on the render something like.

[code]

[2019-07-10 12:23] bluebill1049 commented on #123
yea, we can use `setValue()` with `useEffect` when the mode change 👍

[2019-07-10 14:35] wendyfu opened #124 "[Question] Continuous setError will Behave Incorrectly"
**Describe the bug**
I'm currently using v3.10 and planning to upgrade.
However, I've noticed some stranger behavior when using the latest release (v3.18).
I'm making a select component using React Material Text Field which is a custom component (https://material-ui.com/components/text-fields/).
I do manual validation on the select component when the `onChange` occurred.
It seems that calling `set

[2019-07-10 23:28] bluebill1049 commented on #124
thank you very much for the detailed issue report. make my life so much easier! I think i know why this is happening will fix soon :)

[2019-07-10 23:39] bluebill1049 commented on #124
`react-hook-form@3.18.4-beta.1` looks like this are the fix, let me know if this fixes your problem and I will publish.

[2019-07-10 23:41] bluebill1049 commented on #124
i have one small suggestion:

what about doing this instead:

`register({ name: "materialSelect" }, { validate: value => value !== 'strawberry'});`

and in handle change, you can just use trigger validation

`triggerValidation({ name: 'materialSelect' })`

[2019-07-11 01:43] bluebill1049 commented on #124
i have published the fix 👍

[2019-07-11 02:01] wendyfu commented on #124
Thank you so much for the fix Sir!
I've tested the latest version and it works gracefully.

[2019-07-11 02:01] #124 closed

[2019-07-11 02:24] bluebill1049 commented on #124
Thanks Wendy please consider leave a star to support this library and share in the community.  👍

[2019-07-11 05:13] bluebill1049 commented on #120
I am going to close this issue now. feel free to re-open once you can supply a code sandbox with the issue. 👍

[2019-07-11 05:13] #120 closed

[2019-07-11 07:05] linchen2chris opened #125 "[Question] checkbox group field whose value is an arry"
I have a checkbox group, its initial value should be an empty array, when I click one checkbox, form will push its value to the array

[2019-07-11 07:07] bluebill1049 commented on #125
我可以看中文。 你的问题不太清楚。 如果你有codesandbox我可以更好的帮助你。

[2019-07-11 08:43] linchen2chris commented on #125
@bluebill1049 谢谢，这就是我想要的

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-11 08:58] bluebill1049 commented on #125
不客气：）

[2019-07-11 12:54] #123 closed

[2019-07-11 12:55] bluebill1049 commented on #123
feel free to reopen if this doesn't resolve your issue 👍

[2019-07-11 15:23] sheraz-sarwar opened #126 "reset() cannot be used in Effect Hooks"
**Describe the bug**
To preface, this may be intentional behaviour although if it is, I don't see mention of it anywhere in the docs.

I've written a form which populates its fields using the props passed to the component. Naturally, these props can change following user interaction. I would hope to be able to easily reinitialise the form values based on the new props passed to the form component.

[2019-07-11 19:59] friggeri opened #127 "Support for input type="file""
**Is your feature request related to a problem? Please describe.**
I am trying to put together an upload form using react-hook-form but the value passed to the handle submit callback is the file path, not the actual files object

**Describe the solution you'd like**
For input type="file", return an object containing both file paths and file objects

**Describe alternatives you've considered**
Hack

[2019-07-11 21:22] bluebill1049 commented on #126
thanks very much for the detailed issue report. really helpful 👍

[2019-07-11 21:24] bluebill1049 commented on #126
can you test out this beta version? react-hook-form@3.18.5-beta.1

see if it's fixing the issue.

[2019-07-11 21:46] sheraz-sarwar commented on #126
Just tested this in our application using the above version: declaring `reset` as a dependency in the Effect Hook no longer triggers a loop. Thanks for looking at this so quickly!

[2019-07-11 21:55] bluebill1049 commented on #126
my pleasure @sheraz-sarwar publishing now `react-hook-form@3.18.5` 🙏 please consider supporting this repo by leaving a star and share in the community. thanks

[2019-07-11 22:05] bluebill1049 commented on #126
@sheraz-sarwar feel free to close this issue when you happy with it 👍

[2019-07-11 22:06] sheraz-sarwar commented on #126
Closed, starred, and shared. Thanks again.

[2019-07-11 22:06] #126 closed

[2019-07-11 22:32] bluebill1049 commented on #126
Thank you so much 😊

[2019-07-11 23:25] bluebill1049 commented on #127
I will take a look at this issue this weekend :)

[2019-07-12 04:21] flycj opened #128 "Material ui input The first input is invalid"
**Describe the bug**
I am using material-ui
No problem when I don't use react-hook-form
When I introduce react-hook-form and add register ref on TextInput, the first time the input is invalid (note: input when opening the page for the first time)

In the codeSandbox I reproduced this situation.
[CodeSandbox Link](https://codesandbox.io/s/react-hook-form-custom-input-mxm6i)

What should I do?
I nee

[2019-07-12 04:27] bluebill1049 commented on #128
你好 @flycj , 你是不是写了`value` instead of `defaultValue`

因为react-hook-form 是uncontrolled.

看这个是不是解决你的问题

[2019-07-12 04:40] rickysullivan opened #129 "Custom Validation"
I have three checkboxes in my form, I need at least one to be checked for my form to be considered valid. How could I implement this?

[2019-07-12 04:45] bluebill1049 commented on #129
[code]

This is what's on top of my head. you want to do a quick test. The idea is to pass custom validation with watching other fields.

[2019-07-12 04:48] rickysullivan commented on #129
Nice. Will give it a go.

[2019-07-12 04:49] bluebill1049 commented on #129
I will leave the issue open :) you can close it when you verify.

[2019-07-12 05:17] flycj commented on #128
Thank you very much, it has been solved.

[2019-07-12 05:17] #128 closed

[2019-07-12 17:12] Romcol opened #130 "Material UI field doesn't work on first keystroke"
Hi,

I noticed an error (see https://codesandbox.io/s/react-hook-form-custom-input-b5lll?fontsize=14). On the Material UI field the first key you type doesn't write, it doesn't work, the input starts filling only after the second keystroke. The bug appears only on registered components.

Thank you for you help and again for the lib,

Cheers

[2019-07-12 21:57] bluebill1049 commented on #130
hey @Romcol ,

react hook form is leverage uncontrolled input, so you just need to change the `value` into `defaultValue` :)

cheers

[2019-07-12 22:54] bluebill1049 commented on #127
ok @friggeri what about this for a solution, for input file when you want more than just a file path:

[code]

[2019-07-12 22:56] friggeri commented on #127
That's pretty much what I've been doing yes, but I feel like the UX could be smoother🤔

[2019-07-12 23:16] bluebill1049 commented on #127
yea I thought about the issue last night, right now I am more towards consistency because all input during submit is referred to the value/checked attribute (submitted as string). if I am making except with input file (return as an object), it kinda going the opposite. I will leave as it is for now until more ppl raise up concerns over the input file, and then we can come up with a better solution

[2019-07-13 01:36] rickysullivan commented on #129
Hmm. Not too sure what's going on. I can't get the form to submit.

https://codesandbox.io/s/new-tdd-s9yh0?fontsize=14

[2019-07-13 02:03] bluebill1049 commented on #129
[code]
will do :) it need to return boolean, my bad on the previous example

[2019-07-13 12:45] Romcol commented on #130
Hi,

Thank you for the quick answer. Most of my inputs are controlled inputs... What if I want to perform edits on those fields? (Such as https://codesandbox.io/s/react-hook-form-custom-input-x0zgw) It's too bad because apart from this problem, everything seems to work...

Thanks!

[2019-07-13 13:13] bluebill1049 commented on #130
you can still use controlled input, but use `defaultValue` instead of `value` :)

[2019-07-13 13:18] Romcol commented on #130
Well, yes but in the example '/' is not replaced by '-' when typing into the field. IMO, the field is not being controlled anymore. Cheers

[2019-07-13 13:19] bluebill1049 commented on #130
check the example again, I have updated the code sandbox

also, I have an example for masking

Normalize/Format/Mask Field | https://codesandbox.io/s/387z7njwzp

[2019-07-13 13:20] bluebill1049 commented on #130
there are lots of examples you can check out here too :)

https://github.com/bluebill1049/react-hook-form/tree/master/examples

[2019-07-13 13:31] Romcol commented on #130
Cool, thanks :) Not sure it covers all use case though. Will look into it later.

[2019-07-13 13:34] bluebill1049 commented on #130
no worries, feel free to ask questions here :) we using react hook form at my work in production, it should be fine 👍

[2019-07-13 18:19] manikantag opened #133 "[Question] Changing second select options based on first select value"
Hi,

First of all, thanks for the excellent library & the docs website especially :)

My requirement: I'm trying to change 2nd select box options based on the 1st select _(ex: say, on department change, employees select options should be changed)_.

For that in the component, I'm setting the sate using `useState` when `watch('deptid')` is changed. But it is causing `Too many re-renders` error.

[c

[2019-07-13 22:37] bluebill1049 commented on #133
hi thanks for the kind words:

this is a React related question. i have fixed in the demo for you

https://codesandbox.io/s/nifty-swartz-uvdib

[2019-07-14 03:13] manikantag commented on #133
Great, worked like charm.

Now I get it why I don't need to set new state as `watch()` itself will do that, and that is why the render will occur again. And when I do new state change, it is causing the re-render and it again causes `watch()` to cause another re-render. Is my thinking correct?

[2019-07-14 03:13] #133 closed

[2019-07-14 04:21] bluebill1049 commented on #133
Watch doesn’t trigger re-render, it’s becuase one of ur if statement keep getting called. Check ur if statement 👍🏻

[2019-07-14 04:29] bluebill1049 commented on #133
If u find the package useful please consider staring and share in the community. Much appreciated 🙏

[2019-07-15 13:12] manikantag commented on #133
Sure, thanks.

I already did :)

[2019-07-15 21:33] bluebill1049 commented on #133
thank you very much 🙏

[2019-07-16 01:20] bluebill1049 commented on #129
@rickysullivan Did the above code solve your problem?

[2019-07-16 02:07] rickysullivan commented on #129
Nope. Seems the code is intermittent. Will update codesandbox.

[2019-07-16 02:33] rickysullivan commented on #129
@bluebill1049 [Codesandbox](https://codesandbox.io/s/new-tdd-s9yh0) updated. Form only submits when all 3 options are ticked or sometimes when only the first checkbox is selected.

[2019-07-16 02:41] bluebill1049 commented on #129
thanks taking a look now.

[2019-07-16 02:58] bluebill1049 commented on #129
looks like I have spotted the bug, https://codesandbox.io/s/gallant-turing-cbgfg

it's working as expected now

[2019-07-16 03:00] bluebill1049 commented on #129
beta version: `react-hook-form@3.18.6-beta.1`
if you could do a quick test 👍

[2019-07-16 03:10] bluebill1049 commented on #130
hey @Romcol just a quick follow up, how did you go with this issue?

[2019-07-16 03:11] bluebill1049 commented on #127
hey @friggeri you happy for me to close this issue for now? I will look at this issue again if more people having concern over the input file.

[2019-07-16 03:25] bluebill1049 commented on #129
this is the one with the source code: https://codesandbox.io/s/gallant-turing-cbgfg

[2019-07-16 03:31] bluebill1049 commented on #129
its good now :) https://codesandbox.io/s/gallant-turing-cbgfg

[2019-07-16 03:36] rickysullivan commented on #129
Oh right. I thought you had tagged a beta release. It works now. I've changed the validate function:
[code]

Just trying to show the error message now...

[2019-07-16 03:44] bluebill1049 commented on #129
I did tag a beta version, but somewhat it takes a while for it to work...

what about this ? `!!(test1 || test2 || test3) || "Please choose an element."`

[2019-07-16 03:46] bluebill1049 commented on #129
for your case, it's probably easy to do inline:

https://codesandbox.io/s/musing-lichterman-lfxom

[2019-07-16 04:14] rickysullivan commented on #129
Thanks man. Ok, so now the error only clears when all the check boxes have values.

![HookErrorIssue](https://user-images.githubusercontent.com/437480/61265566-d0dc6e80-a7e4-11e9-87cf-8cba783b1c52.gif)

[2019-07-16 04:39] bluebill1049 commented on #129
no worries man. https://codesandbox.io/s/sharp-knuth-6pf5r this shoould work now

[2019-07-16 07:13] ASHFAQPATWARI commented on #129
@bluebill1049 There is one more issue with this:  https://codesandbox.io/s/sharp-knuth-6pf5r

Scenario:
1. Do not select anything and click submit, error will be shown
2. Select a checkbox and error will be gone as expected
3. Now in the same state(form already submitted once), Select one checkbox and then select another checkbox. Now uncheck both of them and error will still not be shown

[2019-07-16 07:41] bluebill1049 commented on #129
Thanks for the test: this should do the job now https://codesandbox.io/s/billowing-flower-11drx

[2019-07-16 07:45] ASHFAQPATWARI commented on #129
@bluebill1049 The issue is gone. Can we have a new release?

[2019-07-16 07:53] bluebill1049 commented on #129
Nice 👍🏻 it’s the same version. Just the usage update 🙏🏻 Thanks for ur testing

[2019-07-16 16:23] Romcol commented on #130
Hi, thanks for following up!

I managed to do pretty much what I wanted switching to uncontrolled fields. I actually thought the lib allowed to register Material UI select textfields with inputRef (because there's no way not to control this component) but I found it impossible. (see https://codesandbox.io/s/react-hook-form-custom-input-i0zn2)

I guess I will have to do as in your exemple (register

[2019-07-16 21:59] bluebill1049 commented on #130
Hi @Romcol,

[code]
This example above looks complicted, and i don't know what you try to acheive. Would be nice have more detail so i can assist better.

I would love to make this lib work for every scenario but in reality, it's all about the trade-off. for a custom component, you probably will have to use `setValue`, but even controlled input libraries you will have to register the value via som

[2019-07-16 21:59] #130 closed

[2019-07-17 03:51] rickysullivan commented on #129
Works. Nice job.

[2019-07-17 03:51] #129 closed

[2019-07-17 06:26] friggeri commented on #127
I think that's a reasonable solution!

[2019-07-17 09:47] Romcol commented on #130
Hi, thanks for replying for your support !

What I was trying to achieve and what I did achieve is using a custom component such as react-select without the use of `setValue`. What I did is use an input type="hidden" which is registered. In my example I'm using a global custom component for text fields but don't worry.

Instead of using `setValue` we can just use `<input type='hidden' name={name}

[2019-07-17 11:19] bluebill1049 commented on #130
Hi @Romcol,

Thanks for the reply. I see what you try to achieve now. 👍

I would love to make this lib works better for you and others, so feel free to provide suggestions or PR to improve. ❤️ Feel free to ask questions or leave issues in the near future too.

Have a nice day :)

Thanks
Bill

[2019-07-18 13:09] zernie commented on #52
@bluebill1049 I'm having the some problem when using getValues/watch(). Instead of array they return individual elements, eg `{'test[0]': false, 'test[1]':false}`

https://codesandbox.io/embed/react-hook-form-basic-qgkkp

[2019-07-18 13:22] bluebill1049 commented on #52
@zernie looks like that's a bug, you want to open a separate issue? I will follow it up

[2019-07-18 13:27] zernie commented on #52
@bluebill1049 sure

[2019-07-18 13:39] zernie opened #134 "getValues() and watch() don't work correctly with array fields"
**Describe the bug**
`getValues()` and `watch()`  return incorrect values when working with array fields.

**To Reproduce**
[code]

https://codesandbox.io/embed/react-hook-form-basic-qgkkp
**Expected behavior**
* `getValues()` should have returned `{test: [0,1]}` (instead got `{}` on first render and `{"test[0]":"on","test[1]":false}` after clicking on the first checkbox)
* `watch('test')` should

[2019-07-18 13:45] zernie commented on #134
Also: component doesn't rerender on checkbox uncheck. Calling `watch()` fixes that somehow

[2019-07-18 13:54] zernie commented on #134
@bluebill1049 I'm not sure if that's a bug, but `watch(anyfield)` returns undefined on first render. I've updat the example.

[2019-07-18 16:10] stramel opened #135 "`errors` structure and type mismatch"
**Describe the bug**
The `errors` structure does not match the typing when using a array value.

Our form values structure:

[code]

Our form hook looks like:

[code]

This results in `errors` structure of:

[code]

where the `errors` typing is expecting it to be more like:

[code]

**Expected behavior**
`errors` should match the values structure or `errors` typings should be updated to match the

[2019-07-18 19:18] stramel commented on #135
This also appears related to #134

[2019-07-19 01:35] bluebill1049 commented on #134
@zernie thanks for the issue report. I will look into `getValues()` and `watch()` issue over the weekend.

This is expected: `watch` have the second argument for a default value, because first render, all the inputs would not have been `register` just yet.

[2019-07-19 01:36] bluebill1049 commented on #135
Thanks, @stramel I will sort out #134 then come back to this issue. @barry4dev I may need some help over this `type` issue 🙏

[2019-07-19 04:45] bluebill1049 commented on #134
I think this is not an issue when you want to watch fields,  you probably should do the following:

`watch(['test[0]', 'test[1]']`

[2019-07-19 04:56] bluebill1049 commented on #134
because `watch('test')` is not wathcing anything, it worked the first time, because it was updating the `formState` with `touched`

https://codesandbox.io/s/react-hook-form-basic-n53gm

[2019-07-19 05:03] bluebill1049 commented on #134
fixed `getValues()`

https://codesandbox.io/s/react-hook-form-basic-n53gm

[2019-07-19 05:41] bluebill1049 commented on #134
`getValues()` fix have been published

https://github.com/bluebill1049/react-hook-form/releases/tag/v3.18.7

[2019-07-19 05:51] bluebill1049 commented on #135
There are two options:

1. fix the type for errors
  `name: boolean | string` name as what you registered

2. fix the errors returned from hook form
   combine error messages for array fields into `"emails": ["asdf@gmail.com", "asdf2@gmail.com"]`

I personally prefer **option1**, because it's always `errors['inputName']` instead `errors['name'][index]` and this can be pretty long and error promtin

[2019-07-19 06:27] bluebill1049 commented on #134
for `getValues()`

return
Option1: `{"test[0]":"on","test[1]":false}`
vs
Option2: `{test: [0,1]}`

I was thinking some sort of argument, which lead to `option2` and leave default option1 unchanged.

`getValues({ combine: true })` to return option 2
`getValues()` to return option 1

[2019-07-19 07:52] zernie commented on #134
ok, but I think this should be outlined in the docs

I have to disagree, this is really clumsy, especially when you have a dynamic sized array

Which means that fixing `watch` behaviour for array fields would also fix this as well, correct?

Option 2 provides a much better DX (who wants to manually build a string to access a field?) and follows the principle of least astonishment.

Thanks!

[2019-07-19 12:06] zernie commented on #134
I think `defaultValue` should just override `defaultValues`. But maybe library should output a warning in this case?

Love it! This way we could get the benefits of both approaches. Just gonna need the same argument for `watch`.

[2019-07-19 12:08] bluebill1049 commented on #134
I think have `defaultValues` inject in to `watch()` as default makes sense, I will document that in the website to reduce the confusion.

[2019-07-19 12:09] bluebill1049 commented on #134
- [ ] defaultValues inject default value into watch

[2019-07-19 12:09] zernie commented on #134
@bluebill1049 I think the second argument should be deprecated then (so there is a single source of truth)

[2019-07-19 12:14] bluebill1049 commented on #134
@zernie have a look my todo list, see if you happy with it.

[2019-07-19 12:15] zernie commented on #134
@bluebill1049 what do you think about a warning when overriding `defaultValues` with `defaultValue` and deprecating second argument for `watch`?

[2019-07-19 12:17] bluebill1049 commented on #134
@zernie I think I will leave the second argument, cause we use that at work already. I think `watch` API can stay as it is, just needs to support `watch('test')` to get the entire array or object

[2019-07-19 12:20] bluebill1049 commented on #134
@zernie I may break these into separate releases, going to take me sometimes 🙏 but keep you posted here.

[2019-07-19 12:37] kilburn opened #136 "Wrong errors object type when using `validationSchema`"
When `validationSchema` is used, the type of the `errors` object is not
[code]
but:
[code]

**To Reproduce**
1. Run the [`validationSchema` example](https://github.com/bluebill1049/react-hook-form/blob/master/examples/validationSchema.tsx)
2. Do not fill in anything, just click submit
3. You get the serialized errors object back:
[code]

**Expected behavior**
Either the `errors` object entries sho

[2019-07-19 12:39] bluebill1049 commented on #136
hey @kilburn,

thanks for the error report. sounds like you know a solution for this? any chance you would submit a PR? 🙏

cheers
bill

[2019-07-19 15:19] stramel commented on #135
@bluebill1049 I just noticed, this also affects `defaultValues` (even for non-arrays).

I would expect this to load a nested named input,

[code]

However it is only working for,

[code]

[2019-07-19 15:35] stramel commented on #135
@bluebill1049 WRT the 2 options, those are the 2 options that I came to as well when thinking about it.

When I was thinking of the solution my initial thought was option 2. As a developer of a form, I have a data structure in mind and logically it would make sense to me to refer to the values and errors using a similar structure.

When you start to think about "Nested Fields", it really depends i

[2019-07-19 19:39] stramel commented on #136
I haven't tested this, but if this is true, you could probably get away with changing the value to `Error | string`. I'm going to try to take a look at the typings this weekend and see if I can improve upon them.

[2019-07-19 19:53] kilburn commented on #136
I proposed the admittedly more complicated solution above under the assumption that you cannot mix "normal" validations and `validationSchema` in the same form (and hence either all of your errors are strings, or all of your errors are `Error` objects). If this is not the case, then `Error | string` si the actually better option.

Nonetheless, I haven't made a pull request because I've seen there

[2019-07-19 20:49] stramel commented on #136
I will see if I can cover this over the weekend. Some of it is pending on #134 	and #135 .

[2019-07-19 22:34] bluebill1049 commented on #136
thanks heaps @stramel I am focusing on issue #134 at the moment.

[2019-07-19 22:37] bluebill1049 commented on #135
yea @stramel agree with you 👍 I am working on it. 🙏

[2019-07-20 01:42] stephaniie2 opened #137 "How to handle Password fields?"
**Describe the bug**
How to handle Password fields to check if value is same?

**To Reproduce**
Steps to reproduce the behavior:
1. Input - PasswordOne = "secret"
2. Input - PasswordTwo = "secret"
3. Click on "Submit" - how to check that both inputs has same value?

**Expected behavior**
Password inputs show errors if either value doesn't match

[2019-07-20 06:16] kilburn commented on #137
There are several ways to do this:

1. Capture the first password using `watch` into a `useRef` and then use that in the validation function for the second password.
    - [Using react-hook-form's "standard" validation](https://codesandbox.io/embed/react-hook-form-password-match-check-standard-validation-eo6en)
    - [Using native validation](https://codesandbox.io/embed/react-hook-form-native-val

[2019-07-20 08:24] bluebill1049 commented on #137
thanks, @kilburn for the reply.

@stephaniie2 if you using standard validation, it's pretty easy.

[code]
hope this make sense.

[2019-07-22 02:11] AkshatGiri commented on #90
@burtek Did you get it to work? I keep getting `Missing field name: [object Object]` warning.

[2019-07-22 02:20] bluebill1049 commented on #90
hey @AkshatGiri I haven't got chance to look at react-native just yet, but I will do once web version is solid.

[2019-07-22 12:33] bluebill1049 commented on #134
@zernie beta version: react-hook-form@3.19.0-beta.1

[2019-07-22 12:41] bluebill1049 commented on #134
**`watch` API update:**

1. `watch` return default value change:
`watch(['test', 'test1']) // deafult value return [undefined, undefined] instead of undefined`
`watch() // default value return {} instead of undefined`

2. `watch` integrate with `defaultValues`
`watch` will inherit from data in `defaultValues`, but watch function arguments remain unchanged. second argument `defaultValue` will overw

[2019-07-22 13:51] michaelbirchler commented on #56
@bluebill1049 I got the Invariant Violation error

because I've used `yarn link` to link to a local copy of _react-hook-forms_ and this caused to include [two copies from react]( https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react). To fix this I had to use `yarn link react` (to point back to the app directory) and `yarn link react-dom` inside the local copy of the `react-h

[2019-07-22 18:42] et commented on #26
@bluebill1049 - thanks for the benchmarks. Any chance you could add [react-final-form](https://github.com/final-form/react-final-form) to the mix?

[2019-07-22 21:31] bluebill1049 commented on #56
thanks @michaelbirchler for the info

[2019-07-22 21:37] bluebill1049 commented on #26
@et sure, I can take a look that as well, the general idea is React Hook Form is uncontrolled component other controlled, so it has the advantage of mounting faster cause it doesn't require extra render/mount (controlled component or render props)

basically this
[code]

with uncontrolled, you only do this
[code]

in turns of re-render, because it's uncontrolled hence the library itself is driving

[2019-07-22 21:39] et commented on #26
@bluebill1049 - Fantastic response! Thank you for that.

Is this safe? In other words, won't this be susceptible to bugs that are hard to catch?

[2019-07-22 21:43] bluebill1049 commented on #26
it's safe :) @et, because it's a form lib hence it's constrained to only trigger a re-render with relevant tasks, eg when a user `onBlur`, when user change `input` and etc...
(re-render is trigger by `useState`)

[2019-07-22 22:16] rkurbatov opened #140 "setError problems (or misusage)"
First of all thanks for the great library!

We were using redux-forms intensively in our current project and now want to switch to hooks based solution. Yours works perfectly for most of the cases but there are still some things that require rethinking.

There was a special type of error thrown in submit handlers called `SubmissionError`. The object passed to it allowed setting an error of some ty

[2019-07-22 23:22] bluebill1049 commented on #140
Could u please provide a code sandbox? I could investigate into

[2019-07-22 23:41] bluebill1049 commented on #140
looks like this is a bug.

[2019-07-23 00:07] bluebill1049 commented on #140
could you please try this version? `react-hook-form@3.18.9-beat.1`

[2019-07-23 00:33] bluebill1049 commented on #140
FYI for a custom Error message, you will have to `clearError` for success data
[code]

[2019-07-23 00:41] bluebill1049 commented on #140
fixed and published: https://github.com/bluebill1049/react-hook-form/releases/tag/3.18.9

[2019-07-23 00:42] bluebill1049 commented on #137
hi @stephaniie2 how did you go with this question?

[2019-07-23 06:35] rkurbatov commented on #140
Wow! Thank you!

[2019-07-23 07:01] bluebill1049 commented on #140
thank you for report the issue @rkurbatov 🥃

[2019-07-23 09:00] rkurbatov commented on #140
Ehm... Just get to work and run the code with the new version - the problem remains. I'll try to create a simplified sandbox right now.

[2019-07-23 09:14] bluebill1049 commented on #140
i tested with the following:

https://codesandbox.io/s/react-hook-form-basic-n53gm

[2019-07-23 09:19] rkurbatov commented on #140
And here is my example: https://codesandbox.io/s/seterror-problems-60ghf

errors object becomes empty again after the error

[2019-07-23 09:44] bluebill1049 commented on #140
taking a look your example now

[2019-07-23 09:55] bluebill1049 commented on #140
try this https://codesandbox.io/s/seterror-problems-hqhpo @rkurbatov

[2019-07-23 10:00] rkurbatov commented on #140
Works now!

[2019-07-23 10:02] bluebill1049 commented on #140
published! thank you :)

[2019-07-23 10:03] rkurbatov commented on #140
Can we have something similar in the library? It would be nice to set error messages in the same manner:

[code]

in the onSubmit handler and some special `handleSubmit` version (or even modified one) without need to pass setError/clearError every time?

[2019-07-23 10:07] bluebill1049 commented on #140
at the moment, react hook form doesn't have any `throw` API, curious the difference between `setError` vs `throw new Error`. Normally you wouldn't need `clearError`, probably only use it during async submission.

[2019-07-23 10:12] rkurbatov commented on #140
So what about that approach? If `SubmissionError` was thrown by `onSubmit`, `handleSubmit` catches that and sets errors internally according to error object?

[2019-07-23 10:19] bluebill1049 commented on #140
Yea, I understand where you coming from: which are the all the goodies from `redux-form`.
but to be honest, I don't plan to implement `throw` errors at this stage. I am not seeing the value of throw error for submitting at validation that much (at this stage) and personally, I prefer to keep the API simple and primitive, however, I am open to changes if more people request similar features request

[2019-07-23 19:54] stramel opened #141 "nope-validator doesn't work with validationSchema"
**Describe the bug**
When trying to use the `nope-validator` schema with the `validationSchema`, it doesn't actually trigger any of the validation.

**To Reproduce**
https://9fy97.codesandbox.io/

**Expected behavior**
`nope-validator` should be a drop-in replacement for `yup`.

**Additional context**
Once this is working, I think it would be beneficial to recommend `nope-validator` over `yup` due

[2019-07-23 21:10] bluebill1049 commented on #141
Thanks @stramel. I did talk to the author in terms of syntax and was confirmed to be the same and I just assumed it's working. lol, I will give a test, should be an easy fix.

by the way, how did you go with the typescirpt issue?

[2019-07-23 21:11] bluebill1049 commented on #137
going to close this issue, feel free to re-open and ask more questions.

[2019-07-23 21:12] bluebill1049 commented on #140
@rkurbatov you happy to close this issue for now? 🙏

[2019-07-23 21:16] rkurbatov commented on #140
Oh, sure. Thanks!

[2019-07-23 21:16] #140 closed

[2019-07-24 00:02] bluebill1049 commented on #141
https://codesandbox.io/s/react-hook-form-validationschema-vfb7y

looks like this fix the issue.

[2019-07-24 00:17] stramel commented on #141
It does appear to fix it from a quick smoke test.

[2019-07-24 00:21] bluebill1049 commented on #141
thanks @stramel 👍

[2019-07-24 01:00] stramel commented on #141
@bluebill1049

The `firstName` and `age` (`age` if you remove the other restraints) doesn't seem to be validating properly for required.
The `website` and `age` fields seem to be validating on `change` instead of `blur`?

[2019-07-24 01:08] bluebill1049 commented on #141
hmm that's weird, it's the same logic... if nope is not going to work easily, i may take it off :(

[2019-07-24 01:16] bluebill1049 commented on #141
sorry, nope is gone from the website and support :(

[2019-07-24 02:08] stramel opened #143 "validationSchema not validating on the correct mode"
**Describe the bug**
When supplying a `validationSchema`, and mode `onBlur` the validation still triggers on change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-validationschema-f0nkm
2. Click on the "Website" input
3. Type "asdf"
4. Observe that the validation error appears

**Expected behavior**
I expect the validation error not to appear

[2019-07-24 02:32] stramel opened #144 "Improve DX for removing a value from an index in an array"
Currently, when using the array syntax. To be able to remove an item at a specific index, you must generate a unique key in an associated array. There is no good way to easily remove a specific index using a generated array.

Really just looking for either direction on how to easily accomplish this or discuss a way to improve the DX.

https://codesandbox.io/s/react-hook-form-array-fields-bwvhf

**

[2019-07-24 03:57] bluebill1049 commented on #143
Thanks @stramel for the bug report, i have fixed the issue. will publish soon.

https://codesandbox.io/s/react-hook-form-validationschema-5qtti

[2019-07-24 04:03] bluebill1049 commented on #143
3.18.11 👍

[2019-07-24 04:08] bluebill1049 commented on #144
Thanks @stramel

Do you have any good suggestion on top of your head?

[2019-07-24 04:29] stramel commented on #143
@bluebill1049 Appears to be working, thanks!

[2019-07-24 04:29] #143 closed

[2019-07-24 06:01] bluebill1049 commented on #136
hey @kilburn ,

@stramel have fixed the issue: ❤️ 👍
https://github.com/bluebill1049/react-hook-form/releases/tag/3.8.12

let us know if that solved the problem.

thanks

[2019-07-24 11:08] sheraz-sarwar opened #145 "setError problems, possible related to #140"
**Describe the bug**
I've found that setError when used as part of an submission handler causes unexpected behaviour. In many instances, the component rerenders then the entire error is deleted, in other (less consistent) cases you are unable to set a message. The former problem appears to affect versions `3.8.10` onwards and works correctly in `3.8.9`. Additionally, the error is only cleared when

[2019-07-24 11:34] rkurbatov commented on #145
Yeah, the problem appeared again in 3.18.10+ (till 3.19.0)

[2019-07-24 11:59] bluebill1049 commented on #145
@sheraz-sarwar @rkurbatov sorry #140 fix doesn't resolve the problem correctly.

This should be the right fixes now and I have provided with an example:

https://codesandbox.io/s/react-hook-form-basic-uinih

@sheraz-sarwar you can use `clearError` if semantically makes more sense (to clear an error).

in addition, it's probably better to set a different `errorName` when validation is coming from t

[2019-07-24 12:15] bluebill1049 commented on #135
FYI:

**`watch` API update:**

1. `watch` return default value change:
`watch(['test', 'test1']) // deafult value return [undefined, undefined] instead of undefined`
`watch() // default value return {} instead of undefined`

2. `watch` integrate with `defaultValues`
`watch` will inherit from data in `defaultValues`, but watch function arguments remain unchanged. second argument `defaultValue` will

[2019-07-24 12:28] stramel commented on #135
That looks great @bluebill1049! I'm assuming that for now you are keeping the `errors` as the flattened structure?

[2019-07-24 12:30] bluebill1049 commented on #135
yea keep it as flattened for now.

[2019-07-24 12:31] stramel commented on #135
Sounds good! I will be testing it out as soon as you release it and can hopefully provide feedback on it fairly quickly.

[2019-07-24 12:36] bluebill1049 commented on #135
That would be great 🙏 thanks heaps for your help @stramel really grateful. ❤️

[2019-07-24 14:40] stramel opened #146 "Add a build check for bundlesize"
To ensure that features and configuration doesn't cause our bundle size to spiral out of control, it would be good to add a CI build check to keep us at an appropriate size.

We could use https://github.com/siddharthkp/bundlesize to handle this.

[2019-07-24 23:21] bluebill1049 commented on #146
nice one, I have added the script. going to make it into the build pipeline.

[2019-07-25 00:21] bluebill1049 commented on #136
I am going to close this issue, we will keep track it in https://github.com/bluebill1049/react-hook-form/issues/135

[2019-07-25 00:21] #136 closed

[2019-07-25 02:23] bluebill1049 commented on #146
it's working :) https://github.com/bluebill1049/react-hook-form/pull/148

[2019-07-25 03:16] stramel commented on #146
@bluebill1049 Which ticket is this in?

[2019-07-25 03:20] stramel commented on #146
Looks great! Might want to look at minifying the code before running bundle size. Generally, bundle size is measured in min, gzipped (gzipped is currently already applied)

[2019-07-25 04:14] bluebill1049 commented on #146
Done 👍

[2019-07-25 04:16] stramel commented on #146
PERFECT! Thanks @bluebill1049!

[2019-07-25 04:16] #146 closed

[2019-07-25 04:19] stramel commented on #144
@bluebill1049 I don't have any good suggestions right now. I will try to think about it.

[2019-07-25 04:23] bluebill1049 commented on #144
yea I will keep that in mind as well. if anyone has a good idea, feel free to drop in this issue. we can all improve the DX for this particular issue.

[2019-07-25 05:20] stramel commented on #146
@bluebill1049

You mentioned that you copied the `set` command from lodash. When running bundlesize on the existing code, and got 4.42kb/4.81kb (es/cjs respectively). When I imported `set` from `lodash-es` I got 4.15kb/4.48kb (es/cjs).

Swapping in `lodash-es` for `isString`, `isObject` and `set` dropped us to 4.14kb/4.47kb (es/cjs).

What do you think? Less code we have to maintain

[2019-07-25 05:28] bluebill1049 commented on #146
I didn't copy `set`, I stole some of the regex and functions (lol). It would be a lot bigger if I get the whole thing.

At the stage, I think I still prefer 0 dependencies. (one of the features for the package) what you see is what you get (hehe)
as long as the package is less than `10kb` is still pretty good compared with other form libraries.

[2019-07-25 07:59] zernie commented on #134
@bluebill1049 that's great, thanks! This issue can be closed, methinks

[2019-07-25 08:14] bluebill1049 commented on #134
Thanks @zernie I will close this once it’s published.

[2019-07-25 12:14] cihataykas commented on #26
@bluebill1049 this is the story that i'm in it 😄 . Thank you for this awesome library. I love it. I saw it when i was trying to achieve same thing and when i almost coded my approach, i was thinking; "Yeah i think it is good now", and i saw your approach. Then i was like "Man! fuck it! this is far better 😄"

I have a question in my mind.  For the adding/removing side effects like event listeners,

[2019-07-25 12:21] bluebill1049 commented on #26
Thank @cihataykas! Your words made by day! 😸Because all the inputs are essentially uncontrolled component (basically raw DOM element the `ref`), there won't be any lifecycle with them and `useEffect` wouldn't work. The only solution for me was to use native DOM methods `MutationObserver`.

[2019-07-25 15:02] cihataykas commented on #26
@bluebill1049 Man your idea is cool ❤️.  to reach the point, react way has more boilerplate than yours imho. My breakpoint was which one of the deadpoints,  is, to bind a `ref` in render, we can't use a function which holds `useRef` and returns it which breaks rules hooks. Or generating references dynamically.

[2019-07-25 21:41] bluebill1049 commented on #26
@cihataykas do you mean to share the ref with others usage?

[code]

[2019-07-25 23:30] bluebill1049 commented on #145
@sheraz-sarwar @rkurbatov you guys ok to close this issue as it's been resolved. feel free to reopen if there is still issue around it.

[2019-07-25 23:30] #145 closed

[2019-07-26 05:49] bluebill1049 commented on #135
shall we close this ticket as you and @barrymay both worked on it unless there are more we need to fix 👍

[2019-07-26 07:04] cihataykas commented on #26
@bluebill1049 Well, not really 😃. My bad that my english is not enough to tell the right topic. Actually i need an insight. And i wonder what you think.  let me tell you more specific:

You said, you tried to do same thing before with `useContext` or `useState`. And you did not like it the result. Hence you made your pattern. I'm trying to think another way just for brainstorming.

What if i make

[2019-07-26 08:12] bluebill1049 commented on #134
This feature have been released: https://github.com/bluebill1049/react-hook-form/releases/tag/v3.19.0

[2019-07-26 08:12] #134 closed

[2019-07-26 08:59] crabkiller opened #153 "mode: 'onChange' don't rerender correctly when checkbox's value is array"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-07-26 09:00] #153 closed

[2019-07-26 09:43] bluebill1049 commented on #26
@cihataykas I don't think that would work, because when you using `ref` you are leveraging uncontrolled input features.

if you want to use `useEffect` you can do the following tho

[code]

[2019-07-26 10:27] cihataykas commented on #26
@bluebill1049 Exacly. that makes them controlled.

i can get the ref via a custom hook and i make it controlled like this:
https://codesandbox.io/embed/infallible-tdd-hbrb1

 So we loose re-rendering optimisation right?

to solve the problem i was thinking that if i use debounce pattern, it might bring a solution but not enough comparing your approach imo.

[2019-07-26 10:36] bluebill1049 commented on #26
It's perfectly fine to build a form hook with controlled input. :)

you will have to `setState/useState` during input `onChnage`, which is fine to re-render too.

I think `react-hook-form` leverage both `uncontrolled` and `custom hook`, which making form building a bit closer to build native HTML form because you only have to do

`<input name="test" ref={register} />`

[2019-07-26 10:37] barrymay commented on #135
Go for it

[2019-07-26 10:39] #135 closed

[2019-07-26 11:00] cihataykas commented on #26
Definetly. thank you for the perspective. i think i'm satisfied enough 😄

[2019-07-27 11:54] barrymay commented on #135
Hi guys - I'm actually having a problem with this change (really is the one from https://github.com/bluebill1049/react-hook-form/issues/136 but this is linked to it).  I'm fine if ValidationSchema always return strings as errors, but then the object should enforce that typing wise.  I should have tested the latest against my app, but now I see it.

I'll see if I can make a change.

[2019-07-27 11:56] bluebill1049 commented on #135
kk thanks @barrymay

[2019-07-27 12:19] barrymay commented on #135
I guess before I go too deep in this, can I ask why these errors needs to be strings instead of a consistent error object where the string is a message and the type is "ValidationError"?

Then it wouldn't need this odd difference

[2019-07-27 12:20] bluebill1049 commented on #135
@barrymay I agree, I will look into a fix tmr.

[2019-07-27 12:21] bluebill1049 commented on #135
@barrymay I will create a PR on this and add you to review.

[2019-07-28 16:00] kaleabmelkie opened #159 "Better Type Hints for useForm(..).watch and .unregister's fieldName arguments"
The types definitions for `.watch` and `.unregister` functions in the **useForm.d.ts** file look something like:

[code]

These two arguments with types `string | string[]` are the ones I'm requesting an improvement for.

Just like clearError, setValue or most of the other methods in this file, it is possible to add the generic `Name | Name[]` type to them.

I understand that the reasoning behind

[2019-07-28 18:05] GuillaumeAmat opened #160 "Default values are not used when register is called before watch"
**Describe the bug**

The default value of a watched field is not used if I register a custom field before.

**To Reproduce**

If I use:

1. `useForm` with `defaultValues`
2. `register` a custom field (in my case, not an actual form field, just to compute something)
3. `watch` a real form field

In that specific order, the default value of the watched field is not used, but if I switch 2 and 3, it

[2019-07-28 22:17] bluebill1049 commented on #160
Thanks @GuillaumeAmat for the detailed issue report, i will sort this one out.

[2019-07-28 22:18] bluebill1049 commented on #159
hey @kaleabmelkie ,

thanks for the issue report :) sounds like you know what are you saying here, interested to submit a PR around this? otherwise, I will take a look at this later the day as well

[2019-07-28 22:46] kaleabmelkie commented on #159
Sure, I'll work on it.

[2019-07-28 22:56] bluebill1049 commented on #159
Thanks buddy ❤️

[2019-07-28 23:25] petercpwong opened #162 "re-rendering of form after executing callback in handleSubmit may cause a memory leak"
**Describe the bug**
If your callback to `handleSubmit` is an async function that causes the component to get unmounted, the call to `reRenderForm` may cause a memory leak.
https://github.com/bluebill1049/react-hook-form/blob/9487a365ee787737eb8806b9bc4b2c1ba9ef3887/src/useForm.ts#L589

**To Reproduce**
Pass an async function to `handleSubmit` that causes a state change in the parent component, wh

[2019-07-28 23:32] bluebill1049 commented on #162
interesting one, I have already try to prevent this at line https://github.com/bluebill1049/react-hook-form/blob/master/src/useForm.ts#L577 but for async function with `setState/useState` going to be bit tricky

[2019-07-28 23:48] petercpwong commented on #162
Thanks for your quick reply!

My guess is that there's probably a race condition between the cleanup function calling `isUnmount.current = true` and `reRenderForm({});` getting called after the callback from `handleSubmit`

[2019-07-28 23:53] bluebill1049 commented on #162
I almost felt like a thing like this, probably should be better handle on app-level than the library itself. It's almost like when you doing a `fetch` or `promise`, you probably need to consider not to lead to memory leak.

[2019-07-28 23:57] petercpwong commented on #162
Just did a quick test on my end and it seems to fix issues with async callbacks:

[code]

[2019-07-29 00:00] bluebill1049 commented on #162
oh cool!

[2019-07-29 00:24] bluebill1049 commented on #162
released the patch you happy to close this issue?

[2019-07-29 00:40] petercpwong commented on #162
thanks!

[2019-07-29 00:40] #162 closed

[2019-07-29 01:08] bluebill1049 commented on #160
@GuillaumeAmat any chance you could provide me with a codesandbox?

[2019-07-29 08:37] crabkiller opened #164 "自定义组件的校验问题 custom register validation"
你好，请教一下，如果给自定义组件传 `register` 和 `setValue` 方法来让 `react-hook-form` 来接管数据绑定的工作，此时如果我还需要添加校验的话，是需要把校验规则(比如 `validateProps`)也传给自定义组件，在自定义组件内 `register({ name: 'xxx', ...validateProps })` 这样使用么，感觉这样的话内部组件需要知道太多上层组件的信息了，有没有推荐的比较好的解决方案，非常感谢🙏

English summary: what's the best practice to handle custom register validation?

[2019-07-29 09:50] bluebill1049 commented on #164
你好 我会建议如下：
Hi, I will recommend the following for custom `register`:

https://react-hook-form.com/api#setValue
https://react-hook-form.com/api#triggerValidation

[code]

[2019-07-29 11:58] bluebill1049 commented on #160
made a patch `react-hook-form@3.20.4-beta.1`, please give a test. thanks

[2019-07-29 11:59] crabkiller commented on #164
Thank you for your nice suggestion. But I got some other problems followed by this pattern.
1. I can't get `defaultValue` in my `CustomComponent` which is defined in `useForm({ defaultValues: { ... } })`, so I should pass `defaultValue` manually like this `<CustomComponent defaultValue={defaultValue} />`, yeah?
2. And I also think maybe this pattern is not so convenient. I must define a `onChange`

[2019-07-29 12:07] bluebill1049 commented on #164
Your English is perfect 👍 totally make sense

Question: do you custom component contains `ref`?

why not just
`<CustomComponent register={register} /> // you can do foward ref as well `

inside render:
[code]

then you don't need to set `defaultValue` manually.

if you can do the above, then this should be solved automatically.

-----------------

however, if your custom component doesn't contain

[2019-07-29 14:04] GuillaumeAmat commented on #160
It works! Thank you @bluebill1049 👌

[2019-07-29 18:48] stramel opened #167 "Add some tests to ensure number of renders"
One of the big things we are claiming is limiting the number of renders that we are triggering. It would be good to add some tests around this so that we don't accidentally break this in the future.

I think we could use something like this to achieve this kind of testing. https://github.com/bvaughn/jest-react-profiler

[2019-07-29 19:50] barrymay commented on #167
Sounds great - we should always keep in mind the occasional re-render for good reason is not a big deal, but I totally agree it's something you want to monitor.

[2019-07-29 21:18] bluebill1049 commented on #160
cool @GuillaumeAmat I will get published soon 👍 thanks for the issue report

[2019-07-29 21:55] bluebill1049 commented on #160
merge and released https://github.com/bluebill1049/react-hook-form/releases/tag/v3.20.4

[2019-07-29 23:58] bluebill1049 commented on #160
close the issue whenever you are ready ❤️

[2019-07-30 00:45] #159 closed

[2019-07-30 02:59] crabkiller commented on #164
Yes, my custom component contains ref, but I also need `defaultValue` to render other contents in my `CustomComponent`.

For example:

[code]

Just like this example, I need `defaultValue` to render `label` field not just bind the `value` to some native HTML form tag.

[2019-07-30 03:38] bluebill1049 commented on #164
I think the problem is where are you `register`.

`register` should be inside of your `<MyUniqueSelect />`

[code]

[2019-07-30 06:05] bluebill1049 commented on #141
going to close this issue for now, until `nope-validator` come back with some updates :)

[2019-07-30 06:05] #141 closed

[2019-07-30 06:06] bluebill1049 commented on #160
I will do it instead 😸

[2019-07-30 06:06] #160 closed

[2019-07-30 06:29] crabkiller commented on #164
This will go back to my original question:

I'm also an [`ant-design`](https://ant.design/components/form/#components-form-demo-customized-form-controls) user, I think maybe his `props: { value, onChange }` way is a simple pattern for me to build my custom component. But he uses HOC to achieve this I know.

And even if I `register` inside my custom component, I still don't know how to render my `l

[2019-07-30 06:30] crabkiller commented on #164
Thanks again for your patient answer.

[2019-07-30 06:33] bluebill1049 commented on #164
That's not a problem at all, I think I need to clearly understand what you try to achieve in order to help you efficiently.

1. what type of component you try to build?
2. do you need to dynamically change `label` while user input changes?

[2019-07-30 08:06] crabkiller commented on #164
I'm trying to build a `Select` component just like above.

Yes.

The `Select` component contains a `label` field to show the user-friendly content which user select, and a list of `radio`s so that user can change his/her selection. The `radio`'s `value` prop is binded to a `value` field which is then submitted to server. So when user checks a new `radio`, the `label` field should update to a new o

[2019-07-30 08:07] crabkiller commented on #164
<img width="531" alt="111111" src="https://user-images.githubusercontent.com/4629430/62111847-18362500-b2e4-11e9-9f68-8efdf0c0b4c3.png">

It looks like this.

[2019-07-30 08:12] bluebill1049 commented on #164
Post ur code as well please

[2019-07-30 08:25] crabkiller commented on #164
[code]

[2019-07-30 09:14] bluebill1049 commented on #164
https://codesandbox.io/s/react-hook-form-basic-904jh

I think this is what you after.

[2019-07-30 09:34] crabkiller commented on #164
Thanks very much for your patience and such awesome codes. I will close this issue and hope these codes will help others who got similar problem.

[2019-07-30 09:34] #164 closed

[2019-07-30 09:37] bluebill1049 commented on #164
hopefully, it was the answer u seek for 👍 please share around the community in China (if u find it useful and star this open-source project to support) ❤️

[2019-07-30 15:39] martinip86 opened #171 "Question: Can you configure validator to only run IF it has a value?"
Firstly, thanks for the lib - definitely making my life easier.

I've got a question regarding if it is possible to configure a validator to run only if there is a value in the field.

I've had a read of the docs, but couldn't find what I was looking for (possibly just code blindness). https://react-hook-form.com/api/#register

As an example, I was attempting to configure a field which would only

[2019-07-30 21:41] cfgj opened #172 "Errors variable informs about errors on unregistered/nonexistent fields"
Hi, I was trying to make a form using ant design, react hook form and yup libraries, but I encountered strange behaviour with values validation mechanism.

**Describe the bug**

I have manually registered fields and I update values via `setValue` with `shouldValidate` set to `true`. When I focus on any input and then I leave the input `errors` contains following data:
`{"name":{"message":"fullName

[2019-07-30 21:52] bluebill1049 commented on #171
music to my 👂

thank you.

you should be able to use `validate` function for your requirement.

the last validator on the list. https://react-hook-form.com/api#register

[2019-07-30 21:52] bluebill1049 commented on #172
Thanks for the detailed issue, I will take a look.

[2019-07-31 00:31] bluebill1049 commented on #172
Fixed https://github.com/bluebill1049/react-hook-form/releases/tag/v3.21.3

I have one suggestion for your code

[code]

can you try the above? if that works then you don't need to manually register the input and `setValue`

[2019-07-31 11:39] bluebill1049 opened #176 "Automation set up with `Yarn link` and Yarn link `react-hook-form`"
I am trying to set up automation env for `react-hook-form` and having an app running which references back to the source code in the `src` folder.

I have used `yarn link` at `/src` folder and then run `yarn link react-hook-form` at `/app` folder. however, when I start the app, I am getting this issue:

![image](https://user-images.githubusercontent.com/10513364/62208952-8d385600-b3db-11e9-92a1-57

[2019-07-31 11:43] barrymay commented on #176
ah... I know this one.. (ran into it myself a bunch of times)(

Do what you did.... plus:

1. Go into your node_modules/react folder
2. Run yarn link
3. Go to your app where you're testing, and run yarn link react

The problem is that with hooks, you need to ensure the exact same react instance you built react-hook-form with is the one you're testing with.

[2019-07-31 11:47] bluebill1049 commented on #176
wow gonna give it a try! thanks @barrymay!

[2019-07-31 11:49] bluebill1049 commented on #176
`Go into your node_modules/react folder within the react-hook-form codebase`

oops there is no `react` in the node_modules folder, cause it's
[code]

[2019-07-31 11:53] bluebill1049 commented on #176
OMG! @barrymay you are the GOD. It's working! thank you so much again ❤️

[2019-07-31 11:53] #176 closed

[2019-07-31 11:54] barrymay commented on #176
(fwiw, it's something I'm definitely hoping they get rid of 16.9+, as it has hit me sooo many times)... But it's definitely the big tricky to know when linking with 3rd party packages

[2019-07-31 11:59] bluebill1049 commented on #176
oh yea I did face this issue before, but never thought about link `react` was the solution. really appreciated your help (as usual). ❤️  now I can start writing automation this weekend!

[2019-07-31 13:27] ASHFAQPATWARI opened #177 "Validation does not work correctly on Material-ui input with key prop"
**Describe the bug**
I am using material-ui input element. And application has multiple language. I change label prop on language change to pass new label. And i use key prop to trigger styles calculation. But after this, the form validations does not work correctly

**Expected behavior**
Validations should work fine.

**Screenshots**
Initial Render: No error and submit works fine
<img width="490"

[2019-07-31 16:42] martinip86 commented on #171
Great thanks! I'll use that instead.

[2019-07-31 16:42] #171 closed

[2019-07-31 21:02] cfgj commented on #172
Works like a charm, thanks :)

In antd controls, if you use `<Input ref={register} />` the reference of `Input` (not inner `input`) will be passed to the register function, so I should problably do like this:
[code]

In order to shorten code it'd be a better idea to use wrapped Input. I have no better ideas at the moment.

[2019-07-31 21:24] cfgj commented on #172
It seems to me thaht I've found another bug. When you type something in "full name" input and then you write valid email in "email" field, `formState.isValid` says the form is in invalid state, but when I press "Signup" button error on email field is removed. I'd point out that shouldValidate is set to true.

[2019-07-31 22:11] bluebill1049 commented on #177
any chance to provide me with a codesandbox?

[2019-07-31 22:11] bluebill1049 commented on #172
I will take a look this.

[2019-07-31 22:29] bluebill1049 commented on #172
[code]

I saw your code nippet, can you shorten to above?

[2019-07-31 23:54] bluebill1049 commented on #172
thanks heaps for the error report! https://codesandbox.io/s/antd-react-hook-from-yup-5gujv-ys7yt (patched again)

[2019-08-01 00:03] bluebill1049 commented on #172
`3.21.4` patched

[2019-08-01 00:05] bluebill1049 commented on #172
https://github.com/bluebill1049/react-hook-form/releases/tag/3.21.4

[2019-08-01 06:40] ASHFAQPATWARI commented on #177
@bluebill1049 By language switch I mean, I am using react-intl to switch language of my application from English to Arabic.
I will not be doing `reset` because the form is not exactly resetted, just the language is switched.
Also, the form works fine if i don't use the `key` prop. I will try to prepare a codesandbox, do you have a sandbox template link ?

[2019-08-01 06:57] bluebill1049 commented on #177
I don't have a template but appreciate for prepare codesandbox. thanks, I will look into once u supply that 👍

[2019-08-01 09:37] rimsila opened #178 "Can we use with reactrap, react-select....?"

[2019-08-01 09:41] bluebill1049 commented on #178
yes, https://react-hook-form.com/get-started

`Work with UI library` section

[2019-08-01 09:46] rimsila commented on #178
thanks you!

[2019-08-01 10:27] bluebill1049 commented on #178
no worries feel free to ask questions.

[2019-08-01 10:27] #178 closed

[2019-08-01 11:06] Nickman87 opened #179 "Checkbox gives value "on" instead of true by default"
**Describe the bug**
I have an input which is a checkbox with no value assigned. Submitting this when the checkbox is unckecked gives me `false`, as expected. When I check the box however, is provides me with the value `"on"` instead of `true`.

**To Reproduce**
Check this sadbox: https://codesandbox.io/s/react-hook-form-basic-8zvj1

**Expected behavior**
If no value is given, it should alwys defa

[2019-08-01 11:54] bluebill1049 commented on #179
Hi @Nickman87,

Thanks for the detailed issue report. I think this is actually the correct behavior, if you inspect the checkbox with its value when you do not define a value for checkbox, it's default value will be 'on'. It's probably a good idea to give a value for input checkbox, but if you in a situation where you don't want to give a value, you can always convert 'on' to true. let me know if

[2019-08-01 13:04] ASHFAQPATWARI commented on #177
@bluebill1049 here is the sandbox: https://codesandbox.io/s/react-hook-form-issue-on-first-click-gqcif

Steps to reproduce:
1. Click on change language button without changing anything.
2. Click on submit button and error will come
3. Click submit again and error will be gone

For the demo purpose, i have used defaultValue, however the same thing happens with browser autofill. When application is

[2019-08-01 14:17] Nickman87 commented on #179
@bluebill1049 I just find it confusing why I get `false` when it is off, but `"on"` when is is on...
I would either assume the default to be `true|false` or `"on"|"off"`, not a mix of both...

I fixed it for me, by assigning the value to `undefined`, but that also looks like just forcing the actual default value...

Is this a React thing, a browser thing or a react-hook-form thing the `"on"` value

[2019-08-01 19:11] cfgj commented on #172
You forgot about removing error when field value is valid ;) check my PR out :)

[2019-08-01 21:07] bluebill1049 commented on #179
hey @Nickman87, unfortunately, it's a browser thing. if you dig around the issues sections or looking at the commit history of that file (getFieldValue), my initial thought is just like yours until someone raised an issue about set to `true | false` because the HTML input checkbox is actually returning 'on' so I agree to follow the browser standard.

[2019-08-01 21:08] bluebill1049 commented on #172
thanks @cfgj where is the PR?

[2019-08-01 21:22] bluebill1049 commented on #177
Thanks! gonna take a look at it.

[2019-08-02 01:14] bluebill1049 commented on #177
ha, I find the issue. you didn't give the button a `type="button"`.

button without a type will automatically be assigned as `submit` 👍

[2019-08-02 20:13] 18601673727 opened #181 "How to reinitialize the form?"
Pardon my innocence for asking this silly question:
How to reset the `defaultValues` like [this](https://jaredpalmer.com/formik/docs/api/withformik#enablereinitialize-boolean)? Or should I just take another existing approach?

[2019-08-02 22:15] bluebill1049 commented on #181
no worries :)

https://react-hook-form.com/api#reset

[2019-08-02 22:29] 18601673727 commented on #181
@bluebill1049 Thank you for the quick reply!

The problem is I don't mean to reset fields individually nor manually, it's something like reinitialize the whole form without doing comparisons from outside.

[2019-08-02 22:37] bluebill1049 commented on #181
yea `reset(defaultValue)` will do

[2019-08-02 22:49] #172 closed

[2019-08-02 23:00] 18601673727 commented on #181
Would you mind to enlighten me a little bit more bro?
https://codesandbox.io/embed/react-hook-form-defaultvalues-sxwpx

[2019-08-02 23:10] bluebill1049 commented on #181
https://codesandbox.io/s/react-hook-form-defaultvalues-n5icx there you go bro

[2019-08-02 23:10] bluebill1049 commented on #181
hope this is what you after.

[2019-08-02 23:21] 18601673727 commented on #181
Hey, due to some reason `codesandbox` was not correctly saved, the code updated above explains my original intention. I don't want to plant buttons inside forms, they shall update themself automatically.

[2019-08-02 23:24] bluebill1049 commented on #181
I am confused. what do you mean update themselves automatically?

[2019-08-02 23:24] bluebill1049 commented on #181
want to chat in https://spectrum.chat/react-hook-form instead?

[2019-08-02 23:26] bluebill1049 commented on #181
i see you updated the code in the comment section now.

[2019-08-02 23:27] bluebill1049 commented on #181
[code]

try this

[2019-08-02 23:30] 18601673727 commented on #181
Well, it gives this error:

[code]

[2019-08-02 23:31] stramel commented on #181
Personally, I prefer to use the form reset event. Then just `onReset={() => reset(defaultValues)}` on the form.

[2019-08-02 23:33] stramel commented on #181
Your useEffect is incorrect.

[code]

[2019-08-02 23:36] bluebill1049 commented on #181
oops, thanks @stramel

[2019-08-02 23:41] 18601673727 commented on #181
Thank you all very much! But could someone explain me how to perform form reset events from outside or how to `useEffect` in this particular case?

[2019-08-02 23:45] bluebill1049 commented on #181
https://codesandbox.io/s/react-hook-form-defaultvalues-n5icx

[2019-08-02 23:48] bluebill1049 commented on #181
left message in spectrum as well for you

[2019-08-02 23:48] 18601673727 commented on #181
Cool, thanks in advance, this's exactly what I'm looking for!

[2019-08-02 23:48] #181 closed

[2019-08-03 00:11] bluebill1049 opened #182 "Remove `submitFocusError` API"
Hey @barrymay  @stramel,

Quick question: your guys' thought over:

Remove `submitFocusError` and change to `focus` as an option for `useForm`

[code]

[2019-08-03 00:34] barrymay commented on #182
Hi @bluebill1049  - it's a good question - and I'll welcome @stramel 's feedback as well.

I think submitFocusError makes sense, but what about letting the focus be based on an event when launched?  I personally think this change is not that needed, since the focusing should be part of the React component, and the form controlling it is overkill to me.

[2019-08-03 03:13] bluebill1049 commented on #182
Yea thanks @barrymay I did consider that u can do ‘autofocus’ urself on the input.

I was thinking situation when u re-order the inputs, it will auto focus the first input. But I do agree with you and will leave this unchanged.

[2019-08-03 07:55] ASHFAQPATWARI commented on #177
@bluebill1049 which button are you talking about? If you are talking about the `Change Language` button then thats outside the form.

[2019-08-03 08:06] bluebill1049 commented on #177
Did you update the codesandbox? I think It was inside before...

[2019-08-03 08:11] bluebill1049 commented on #179
going to close this issue for now, feel free to re-open or leave questions here

[2019-08-03 08:11] #179 closed

[2019-08-03 08:39] bluebill1049 commented on #177
looking the issue now.

[2019-08-03 08:41] bluebill1049 commented on #177
what's this key doing?

[2019-08-03 09:19] #182 closed

[2019-08-03 11:45] barrymay commented on #182
Cool - I think if someone reorder's their inputs, they can feel free to be responsible to fix their own bug.  ;)

Best thing you can do for anyone here is to have the example of how to focus within one of the site examples, and they can just follow your example.

[2019-08-03 11:46] bluebill1049 commented on #182
sounds good to me @barrymay

[2019-08-03 17:10] ASHFAQPATWARI commented on #177
@bluebill1049 the `key` prop is used by material-ui to recalculate the inline styles as the label width change because the width of text is variable. There is nothing unusual with this as this is the recommended way by material-ui.

If I remove the key prop, then styling of my component will not work correctly.