[2019-12-29 16:27] #734 closed

[2019-12-29 21:23] cargallo commented on #728
Hi @bluebill1049 here is a codesandbox (I don't know what's happening with type="date", it's not taking the value set in defaultValues) but hopefully it could be useful for this purpouse

[2019-12-29 21:38] bluebill1049 commented on #728
thansk @cargallo i will take a look today

[2019-12-29 21:38] bluebill1049 commented on #734
awesome @ayepRahman glad you work it out.

[2019-12-29 21:41] bluebill1049 commented on #742
is that because you missing this?
[code]

[2019-12-29 21:41] #739 closed

[2019-12-29 21:41] bluebill1049 commented on #739
feel free to re-open if there still an issue :)

[2019-12-29 22:43] bluebill1049 commented on #728
FYI: it should be a string type for the date input. still try to figure why there is issue using Date type tho.

[2019-12-29 23:00] cargallo commented on #709
Just the api.tsx page still remains to finish the spanish translation. I hope tomorrow I have time to finish it!

[2019-12-29 23:01] bluebill1049 commented on #709
thanks for the update @cargallo much appreciated your help!

[2019-12-29 23:05] cargallo commented on #709
You're killing my free time deeply, but I'm glad to help 😄

[2019-12-29 23:15] bluebill1049 commented on #709
@cargallo I think what you are contributing here is totally worth. you are potentially helps hundreds and thousands developers out there. At least that's what i am passionate bout for making open source project as well ❤️ so thank you again 🏆

[2019-12-30 00:49] bluebill1049 commented on #728
https://codesandbox.io/s/react-hook-form-typescript-error-idrxj

[2019-12-30 01:03] #728 closed

[2019-12-30 08:47] VGLoic commented on #742
Not sure, I modified the codesandbox to add the `onBlur` like so but it looks like the `onChange` and `onBlur` are quite different in the React-Select :(.

https://codesandbox.io/s/react-hook-form-rhfinput-yjndq

I did a workaround like so:
[code]
but I'm not sure this is what we want ahah.

PS: Sorry I didn't see I was modifying stuff on this codesandbox before so I hope you had a good version.

[2019-12-30 08:57] bluebill1049 commented on #742
looks like that's how onBlur is like in react-select: https://github.com/JedWatson/react-select/issues/186

[2019-12-30 09:10] JeromeDeLeon commented on #742
Upon looking, it seems like `onBlur` triggers because we set the `mode` to "onBlur" and therefore, replaces the value of empty string.

[2019-12-30 09:18] JeromeDeLeon commented on #742
What you can do is

[code]

[2019-12-30 09:29] JeromeDeLeon commented on #742
You might wanna wrap this one like this what this guy did https://github.com/JedWatson/react-select/issues/186#issuecomment-106695850

[2019-12-30 09:31] JeromeDeLeon commented on #742
That's really clever IMO :laughing:

[2019-12-30 10:20] balzafin commented on #330
Don't know if this is already discussed somewhere else, but if you found this issue while searching for this problem like I did, one possible solution is to use [Yup.transform](https://github.com/jquense/yup#mixedtransformcurrentvalue-any-originalvalue-any--any-schema)
(with numbers) like this:

[code]

Here's a working codesandbox forked from the @hitbear518 one https://codesandbox.io/s/react-hoo

[2019-12-30 10:24] bluebill1049 commented on #330
thanks for sharing solution @balzafin 🙏

[2019-12-30 10:26] bluebill1049 commented on #330
FYI @balzafin on V4 we have fixed an issue with error reporting order. first rule in yup schema validation will report first.

[2019-12-30 10:31] balzafin commented on #330
@bluebill1049 I noticed, thanks for the awesome work!

The order won't help with required numbers though as the type (`Yup.number()`) must be defined first? That's not a problem of this library though and the `transform` workaround is just fine imo.

[2019-12-30 10:32] bluebill1049 commented on #330
oh cool! thanks again @balzafin for your answer then, this will help others for sure

[2019-12-30 13:58] prog13 opened #746 "submitFocusError doesn't work for nested fields"
**Describe the bug**
`submitFocusError: true` does not work for nested field names.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-nested-fields-3uknx
2. Press `Submit`.
3. `Title` input is focused as expected, validation error is logged to console
4. Input anything in the `Title` input
5. Press `Submit`
6. Observe how `First Name` input doesn'

[2019-12-30 14:26] chriscarrillo commented on #726
It looks like it's working! Thank you!

[2019-12-30 20:56] alexfgo opened #747 "Provided Fields Array example do not work properly"
**Describe the bug**
Example provided in https://codesandbox.io/s/6j1760jkjk crashes when we try to add/remove items in specific order that duplicates keys in index array..

**To Reproduce**
Steps to reproduce the behavior:

1. In the codesandbox below, add 3 friends using the button `Add Friend`
2. Click `Remove` button to delete the 2nd item.
3. Click `Add Friend` again

The following error shou

[2019-12-30 21:42] bluebill1049 commented on #742
going to close this issue, looks like what you got is the solution for now. Let me know if anything else i can help.

[2019-12-30 21:42] #742 closed

[2019-12-30 21:44] bluebill1049 commented on #747
hey @alexfgo have you seem this example: https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-l19pz?

[2019-12-30 21:45] bluebill1049 commented on #747
by the way, I do have plan to make a generic component for the field array and it's on my todo list. will come to it when I get some more free times :)

[2019-12-30 21:52] bsinkule commented on #681
Did you guys figure out the solution for this? The second link posted gives a 404.

[2019-12-30 21:55] bluebill1049 commented on #681
I did a demo for it already and removed after a couple days ( i can only create 50 codesandboxs) it's limited. but you should be able to use the custom register with setValue

[2019-12-30 22:02] bsinkule commented on #681
How would it be different than what collegeimprovements posted in his codesandbox example?

[2019-12-30 22:15] bluebill1049 commented on #681
I think his `setValue` wasn't used correctly. it was overriding selected data.

[2019-12-30 22:19] bsinkule commented on #681
Could you please post the working demo again?

[2019-12-30 22:21] bluebill1049 commented on #681
can you give it a try yourself and i will come back to you with issues? working right now (day job)

[2019-12-30 22:33] bsinkule commented on #681
Yeah for sure. I appreciate the quick responses.

[2019-12-30 22:37] alexfgo commented on #747
Thank you for the fast anwser.
I'll look at this example carefully.
I look forward to see the generic component for array fields when it come out.

[2019-12-31 00:38] bluebill1049 commented on #746
fixed: https://codesandbox.io/s/react-hook-form-nested-fields-fix-4spig

[2019-12-31 01:12] #746 closed

[2019-12-31 03:07] i-ira commented on #40
for some reason, the timeout set in my debouncing call is not being respected as it fires instantly with every keystroke. below is my logic, any observations?

`validate: async value => {
	return new Promise(resolve => {
		debounce(
			async value => {
				const { data } = await axios.post('my.url', { value }) // returns a simple true or false
				resolve(data || 'that username is already in use,

[2019-12-31 03:14] i-ira commented on #40
@milesrichardson for some reason, the timeout set in my debouncing call is not being respected as it fires instantly with every keystroke. below is my logic:

[code]
any observations?

[2019-12-31 11:33] oshri6688 opened #752 "reset doesn't change the fields' values"
**Describe the bug**
`reset` doesn't change the fields' values.  after you use `reset` the `watch` and `getValues` return the old default values

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://codesandbox.io/s/react-hook-form-reset-form-5kmfu](https://codesandbox.io/s/react-hook-form-reset-form-5kmfu)
2. open the console to see the initialized fields' values
3. Click on "Reset

[2019-12-31 12:02] bluebill1049 commented on #752
thanks fixed : https://codesandbox.io/s/react-hook-form-reset-form-delte-opz15

[2019-12-31 12:02] #752 closed

[2019-12-31 13:55] einatnielsen commented on #63
Hi @kabriel @bluebill1049
I am experiencing this issue: formState.isSubmitting is not true when submit is async
I am using version 4.3.0

[2019-12-31 14:11] kusmierz commented on #752
whoah. This is the best library support I've ever seen... I was just about to add a bug related with `reset` and `watch` and then suddenly I've found there is already an issue reported 3 hrs ago... and solved 2 hrs ago. On 31st Dec. Really A. W. E. S. O. M. E. Thank you very much @bluebill1049 for your work! Now waiting for the release :)

[2019-12-31 19:10] marcusflat opened #754 "Examples - Validation On Blur CodeSandBox with error"
**Describe the bug**

The [codesandbox](https://codesandbox.io/s/w7p3km6nyw) of [Validation On Blur](https://github.com/react-hook-form/react-hook-form/tree/master/examples) is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/w7p3km6nyw
2. See error

**Codesandbox link**
https://codesandbox.io/s/w7p3km6nyw

**Screenshots**
![image](https://user-images.git

[2019-12-31 19:15] fjuriolli opened #755 "Integrate with global state"
I read the part of the documentation about integration with global state and I didn't understand.
I'm not using connect from react-redux, I'm using the new hooks style like useDispatch.

Take a look at part of my code (It's not compiling, just to see the actual code)
https://codesandbox.io/s/react-5rfno

The goal here is to connect with my redux and get a defaultValue to each of my inputs.

Based

[2019-12-31 19:35] kelsonpw commented on #755
I'm not an expert with the library but i was able to get your solution working

https://codesandbox.io/s/react-n9kfm

It looks like you were trying to make your inputs controlled, using `useState` and `value={state}`.
 This is not necessary to do with this library, as it handles the `value` for you using the ref. (uncontrolled input).  You can dispatch inside either `onSubmit` or inside an individ

[2019-12-31 19:49] fjuriolli commented on #755
Hey @kelsonpw thanks for the reply, what if I need each of my inputs to have a defaultValue connected to my redux.

For example, I have a form to edit a product from my state

[2019-12-31 20:10] #755 closed

[2019-12-31 21:41] bluebill1049 commented on #63
can you provide a codesandbox @einatnielsen ?

[2019-12-31 21:53] bluebill1049 commented on #747
closing this issue for now, feel free to ask more questions :)

[2019-12-31 21:53] #747 closed

[2019-12-31 21:54] bluebill1049 commented on #754
https://codesandbox.io/s/w7p3km6nyw fixed ty

[2019-12-31 21:54] #754 closed

[2020-01-02 01:54] MaziarTiari commented on #681
onChange={ (event, values) => console.log(values) }

[2020-01-02 07:20] iamwelk opened #757 "getInputValue logic error"
**Describe the bug**
When I use Controller, I can't change my component's value to `undefined`, it will report error
[code]
I think it will be better to check target is undefined before use target.value
[code]

[2020-01-02 07:22] bluebill1049 commented on #757
hey @iamwelk you got a codesandbox for me to take a look?

[2020-01-02 07:23] bluebill1049 commented on #757
This almost sounds like `target` is `undefined`?

[2020-01-02 07:50] EvGorbenko commented on #757
I have exactly the same problem. Unfortunately, I can't share the code, because it's a lot of recompose HOCs to copy. But the main problem is:
We have a custom select that accepts a value as a string or undefined if nothing is selected.

In case of react hook form - I can't use it with this field unless I'll make some hacks around.
Right now string works fine cause it doesn't have a property value

[2020-01-02 07:53] iamwelk commented on #757
https://codesandbox.io/s/bitter-platform-7inu3

[2020-01-02 07:54] bluebill1049 commented on #757
thanks @iamwelk what's the step to reproduce in your example?

[2020-01-02 07:57] iamwelk commented on #757
@bluebill1049
1. input some value
2. clear the input area
3. click the button

[2020-01-02 07:58] bluebill1049 commented on #757
oh cool thanks @iamwelk

[2020-01-02 07:59] bluebill1049 commented on #757
going to have dinner now, can you guys please testing on this beta version `4.4.1-beta.1`

[2020-01-02 08:26] bluebill1049 commented on #757
verified on my end. @iamwelk you ok with this patch?

[2020-01-02 08:29] iamwelk commented on #757
Yes, it's work now ,thank you!

[2020-01-02 08:33] #757 closed

[2020-01-02 08:34] bluebill1049 commented on #757
will release the patch tonight

[2020-01-02 15:03] kusmierz opened #759 "[TS] Default values for nested fields are required"
**Describe the bug**
Having nested fields in our FormSchema require to fill all nested fields in defaultValues.

**To Reproduce**
Steps to reproduce the behavior:
1. Introduce nested form schema, ie.:

[code]

2. define default values for nested field:

[code]

ERROR!
[code]

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-typescript-14qt0

**Expected behavior**
No TS error at all.

[2020-01-02 19:33] kusmierz opened #761 "watch('fieldName') results Error: fieldName field not found when using partial form"
**Describe the bug**
"Error: fieldName field not found." on specific code, see below.

**To Reproduce**
I guess it is connected with [this commit](https://github.com/react-hook-form/react-hook-form/pull/756/files), because the code used to work with `4.3.1-beta.2`.

Basically it seems it's about using `FormContext` in another component. Removing `<Controller />` from line 29 removes that error tho

[2020-01-02 20:58] IronSean commented on #761
I've also run into this. In my case, it's because I don't register the form until `useEffect` but the watch function runs when the component function runs.

To get around this I'm thinking about switch to the Controller component instead of the use of manual registering and watch, but one input is a date range picker which needs to have both the start and end date controlled so I'm not sure I can

[2020-01-02 21:54] bluebill1049 commented on #759
would you like to submit a PR for this? @kusmierz

[2020-01-02 22:08] bluebill1049 commented on #761
thanks @IronSean and @kusmierz i will take a look into this. maybe we should change this into a warning dev mode instead of throw an error.

[2020-01-02 22:22] bluebill1049 commented on #761
i am going to remove this throw error for now.

[2020-01-02 22:24] mikaelkristiansson commented on #761
I get the same problem when using the Controller

[2020-01-02 22:24] kusmierz commented on #759
sure, with pleasure!  See #762.

[2020-01-02 22:25] bluebill1049 commented on #761
sorry guys... removing now

[2020-01-02 22:26] kusmierz commented on #761
I'm not sure if it's a good solution. I mean imho there should be a possibility to custom `register` and `watch` fields without any warning (as it is proper way, isn't it?)

[2020-01-02 22:28] bluebill1049 commented on #761
agree, i will remove it for now until we have a better solution

[2020-01-02 22:28] bluebill1049 commented on #759
thanks very much @kusmierz

[2020-01-02 22:29] #761 closed

[2020-01-02 22:41] bluebill1049 commented on #761
This has been patched and released. If you still encounter issue let me know. thanks bill

[2020-01-02 23:56] #759 closed

[2020-01-03 07:16] iamwelk opened #764 "Validate Optimization"
**Is your feature request related to a problem? Please describe.**
When I call handleSubmit, it'll trigger form's validation.But some fileds has been validated when I edited. Maybe we can remember fields that have been validated and only check fields which not validate yet

**Describe the solution you'd like**
When submit, jump fields that have been checked

[2020-01-03 07:38] bluebill1049 commented on #764
thanks for the great suggestion @iamwelk! ❤️  That would be a good performance enhancement for validation, however, every feature requires more code and impact this small library (~6kb). I hope we can as small as it is for a bit longer, i will keep this feature request in our backlog tho, so if there are a lot of devs request for such feature we can always pull it out and work on it.

[2020-01-03 07:39] bluebill1049 commented on #764
<img width="332" alt="Screen Shot 2020-01-03 at 6 39 42 pm" src="https://user-images.githubusercontent.com/10513364/71712219-6d103580-2e58-11ea-9c06-0dc5cab5226d.png">
will close this feature request for now :)

[2020-01-03 07:40] #764 closed

[2020-01-03 07:41] iamwelk commented on #764
OK, Thx~

[2020-01-03 07:42] bluebill1049 commented on #764
thanks for understanding ✌🏻

[2020-01-03 09:21] Plummtw opened #765 "FileUpload Quesion"
I've already read the Issue#127 and Issue#274, but I still don't understand how to do with the FileUpload, maybe some FileUpload example would be good.

The following the current code I made, but I just want to change it to use react-hook-form.
Thanks

function ConnectedUserIconPage() {
 const [form, setForm] = React.useState({})

 const onChangeHandlerFile = (event) => {
    // eslint-disable-nex

[2020-01-03 10:29] bluebill1049 commented on #765
please spend your time learning how its API: https://react-hook-form.com/get-started I have spent a lot of my time on documentation. You ask more questions later on in our spectrum channel.

[2020-01-03 10:29] #765 closed

[2020-01-03 10:38] VGLoic opened #766 "Validation mode "onBlur", formState.isValid starts as "true" and instantly change to "false""
**Describe the bug**
When validation mode is `onBlur`, the `formState.isValid` starts as `true` and instantly updates to `false`. The expected value was `false` of course :).

**To Reproduce**
Use codesandbox below or
1. useForm with `mode: "onBlur"`
2. Use a native input with `registered: true` as validation rules
3. `console.log` the `formState.isValid`
4. See error

**Codesandbox link**
https:/

[2020-01-03 11:31] bluebill1049 commented on #766
That's expected behavior and almost by design. react-hook-form embrace uncontrolled component, so `value` can live inside input which means validation needs or could happen at `render` level, rather than controlled component you can validate by `defaultValues` (state)

[2020-01-03 12:07] #766 closed

[2020-01-03 13:13] VGLoic commented on #766
Thanks for the quick answer! :)

[2020-01-04 02:26] mjstelly opened #769 "React Native: Invalid prop `value` of type `number` supplied to `TextInput`, expected `string`."
**Describe the bug**
Any input in either form field first throws the warning
`Warning: Failed prop type: Invalid prop `value` of type `number` supplied to `TextInput`, expected `string` in TextInput (at Login.js:21)`

Then, if the input is submitted, the app crashes with the following error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Copy the react-native form example into an empt

[2020-01-04 02:48] bluebill1049 commented on #769
In terms of the crash on submit. That's for demo purpose (you can replace that to console.log), i didn't crash on the my expo demo app.
https://snack.expo.io/@bluebill1049/react-hook-form-input

I will take a look the warning part. any chance of supplying a screenshot of the warning?

[2020-01-04 03:07] bluebill1049 commented on #769
I did a test at my end, there is no issue. I am uploading the video.
![workingVersion](https://user-images.githubusercontent.com/10513364/71759034-55d65400-2efb-11ea-880b-b31870595e7d.gif)

[2020-01-04 03:09] mjstelly commented on #769
![form-entry-warning](https://user-images.githubusercontent.com/313819/71759073-5aecc200-2e6d-11ea-9b3a-79d659cdb5b5.png)
Here is a screenshot of the warning.

[2020-01-04 03:11] bluebill1049 commented on #769
hmmmm strange... can you get to know your `react-native` version?

[2020-01-04 03:21] bluebill1049 commented on #769
i couldn't reproduce even with latest `create-react-native-app`

[2020-01-04 03:21] #769 closed

[2020-01-04 03:24] mjstelly commented on #769
I used the generic react-native init to generate the base app.
These are my react packages:

"react": "16.9.0",
    "react-hook-form": "^4.2.2",
    "react-native": "0.61.5",

Sincerely,
Michael Stelly | M: +1.918.978.2000 Blog | LinkedIn | Github
On Jan 3, 2020, 9:21 PM -0600, Bill <notifications@github.com>, wrote:

[2020-01-04 03:28] bluebill1049 commented on #769
ok i will give this a try.

[2020-01-04 03:28] bluebill1049 commented on #769
I will give it a try

[2020-01-04 04:10] bluebill1049 commented on #769
no warning at all. I have spend quite a lot time on investigating this... no more further investigation.
<img width="1008" alt="Screen Shot 2020-01-04 at 3 10 08 pm" src="https://user-images.githubusercontent.com/10513364/71759651-50c9d280-2f04-11ea-9254-73f402e2129d.png">

[2020-01-04 14:33] VladSez opened #770 "How to get errors in custom input?"
**Describe the bug**
There is a component CustomNumberInput, and i want to run validation on it.
If i add ref={register({ required: "error message" })} input becomes broken(no value is shown in input).
Otherwise no error

**To Reproduce**
1. Click on field ```price```
2. Remove focus. Notice that no error is shown(I am using ```useForm({mode: "onChange"})```

**Codesandbox link**
https://codesandb

[2020-01-04 16:19] #770 closed

[2020-01-04 16:20] VladSez commented on #770
resolved with this https://github.com/react-hook-form/react-hook-form/issues/34

[2020-01-04 19:42] ScreamZ commented on #709
I can also help in French

[2020-01-04 19:45] ScreamZ opened #772 "Typescript documentation improvement"
Hello,

A small message as an introduction: I already poped a thread on Reddit to thank you but I would like to thank you again for that library, this is just so cool! I didn't find any issues that block me right now and that's really crazy!

Here is a small suggestion for Typescript typings, for compatibility with `elastic-ui` I had to inject both `setValue` and `register` function and I know it

[2020-01-04 21:40] bluebill1049 commented on #709
thank you @ScreamZ 🙏

[2020-01-04 22:12] bluebill1049 commented on #772
Thank you very much @ScreamZ 🙏 I am not sure that i am 100% clear with the request, but could you like to send a PR for this improvement? We can go from there. 👍 again much appreciated your mention at reddit, it seriously meant a lot to us as a team who working on this with our free time. So thank you again, bill & RHF Team

[2020-01-05 02:07] AnthonyTailer opened #773 "Failed to minify the code from this file"
Hi,
I've been using your package instead of redux-forms and I'm thankfull with the results. great work.
However I'm facing this issue when I build my app:
**Failed to minify the code from this file:**

        ./node_modules/react-hook-form/dist/react-hook-form.es.js:26

I searched for related issues and found this
[comment](https://github.com/react-hook-form/react-hook-form/issues/66#issuecomment

[2020-01-05 02:37] bluebill1049 commented on #773
what's ur error?

[2020-01-05 03:14] AnthonyTailer commented on #773
The error just say that, when I run **yarn build**:
Failed to minify the code from this file:

    ./node_modules/react-hook-form/dist/react-hook-form.es.js:26
![image](https://user-images.githubusercontent.com/11333074/71774568-43d2d080-2f50-11ea-8c8a-64aedbc65e0a.png)

My project is a little bit old. It was Eject.

[2020-01-05 03:33] bluebill1049 commented on #773
hmmm that's strange and very little information as well... :(

[2020-01-05 03:34] bluebill1049 commented on #773
can you try to use the ie version? https://react-hook-form.com/faqs#BrowserSupport

[2020-01-05 04:00] iamwelk opened #774 "Can I use validationSchema in useForm and Controller's rules validate"
I defined a validationSchema in useForm, then I use validate in rules of Controller to check some async rules. Now the validate function will be ignored. So the question is how to use both of them together？

[2020-01-05 04:04] bluebill1049 commented on #774
hmmm good question. as right now we support either schema or build-in validation.

[2020-01-05 06:11] iamwelk opened #775 "can controller support undefined as defaultValue?"
**Describe the bug**
My component accepts undefined and number, but when I use controller wrapped my componnet, it will set '' as default value which will report an error in my component

**Expected behavior**
Don't set '' as default value of controller

[2020-01-05 06:15] #774 closed

[2020-01-05 06:17] bluebill1049 commented on #775
where did you set your default value? from `useForm` or as `prop` at Controller

[2020-01-05 06:17] iamwelk commented on #775
Controller's prop

[2020-01-05 06:31] #775 closed

[2020-01-05 10:54] ScreamZ commented on #759
Side question, but is dot notation and nesting specified in the documentation? I flattened everything because most of time it's easier with ts :p

<input name="user.age" />

[2020-01-05 11:04] bluebill1049 commented on #759
hey @ScreamZ we do support dot notation, but it does have limitation with TS support, because TS only does build time check. Recently i did add a runtime checker but it wasn't a good solution. So still try to figure out a better solution for name checking at runtime.

[2020-01-05 11:10] ScreamZ opened #777 "Typescript x Controlled components"
Hello,

I'm using Elastic UI, which is a great framework for back-offices. I starting being used to with react-forms-hook, but I still have some questions.

I'm just facing a controlled component which is `EuiSwitch`, a simple switch.

I succeed in doing such a thing now:

[code]
The thing is that now Typescript is yielding that there are some missing props on `EuiSwitch`.
Before I was doing a cus

[2020-01-05 11:13] bluebill1049 commented on #777
Can i have a screenshot of the type error? I think @JeromeDeLeon made a PR for it: https://github.com/react-hook-form/react-hook-form/pull/771

[2020-01-05 12:29] JeromeDeLeon commented on #777
@bluebill1049 was right. Handling rest props  is my problem as I described it on the PR I made.

Regarding your concern about handling types of the `CustomComponent` that will be passed on the `Controller` like what you did above, I tried to find a workaround but drop it down because of insufficient knowledge of TS before. You can raise a PR if you want and we'll take a look at it.

Right now, if

[2020-01-05 17:36] AnthonyTailer commented on #773
It seems to work fine with this import. Thanks for your help.

[2020-01-05 18:02] Shaker-Hamdi opened #778 "Trigger validation on a filed based on another filed change."
Hello, I have a question.
I'm migrating from Formik to "RHF", however, I don't know how to do the following with "RHF" ...

I want to trigger the validation on the "old_password" if the user starts typing inside the "password" field.

I know you guys have this method "triggerValidation" but I'm not quite sure how to utilize it in this scenario.

Any help would be highly appreciated.

Here's a Sand

[2020-01-05 18:15] ScreamZ commented on #777
I think there is some confusion about the controller and how to use it.
I'll try to fork and do something but I'm having hard type coding it ^^.

What I'm currently trying to do is:
1. Instead of exposing a `control` property from `useForm`
2. Expose a `Controller` argument, this could allow typing the `name` props to only match keys form field keys.

Then we have two solutions.

## First solution

[2020-01-05 18:42] ScreamZ commented on #759
That's a problem with Typescript, also experiencing it with Lodash / MongoDB. I should make an issue on the official repository someday.

I guess that currently, it's safer to not support it and rely on some kind of conversion after.

You can name your keys `a.b` without supporting nesting. And you can transform that later using kind of things like https://www.npmjs.com/package/flat.

By doing thi

[2020-01-05 19:23] ScreamZ opened #780 "Various notes and questions about Controller component"
Hello, some questions about the Controller component :) I guess it could help make things clearer.

I'll also make a documentation pull request.

## Remove 3 way to pass args to only one way

Imagine we have a custom controlled `Switch` component.

To reduce confusion, only allows the `<Controller as={Switch} />` syntax and remove the `<Controller as={<Switch name="blabla" />} />` one, and always

[2020-01-05 20:50] #773 closed

[2020-01-05 20:52] bluebill1049 commented on #778
it's actually really simple, two API to use
[code]

[2020-01-05 21:00] bluebill1049 commented on #780
`To reduce confusion, only allows the <Controller as={Switch} /> syntax and remove the <Controller as={<Switch name="blabla" />} /> one, and always pass full props to that component ?`

why there is a problem?

No, there won't be memory leak. it means it will only run once.

[2020-01-05 21:14] ScreamZ commented on #780
About what I just answered https://github.com/react-hook-form/react-hook-form/pull/779#issuecomment-570948153

I think after some understanding that it's just a matter of doc 😅 Also giving less possibility is also less confusing.

Without deprecating the feature or remove it, we could just omit it in the doc, as we can achieve the same goals in one syntax. So why present two (the first one is a bi

[2020-01-05 21:23] bluebill1049 commented on #780
we should add name in the dep tho, which you are correctly. I am slowly waking up now heheh

[2020-01-05 21:25] bluebill1049 commented on #780
I think you are 100% right on that, it's my fault of lack of documentation! I will improve it over this week or the weekend. Feel free to leave some suggestions as well, as we can improve this together.

[2020-01-05 21:26] bluebill1049 commented on #778
going to close this issue now, feel free to ask more question too :)

[2020-01-05 21:26] #778 closed

[2020-01-05 21:31] ScreamZ commented on #780
Don't blame yourself, it's already huge to have developed this, I love writing doc, I'll give some help (already did :p) and it's always better when someone that hasn't the full experience and background on the lib that give feedback as you have more information than I :p

[2020-01-05 21:32] ScreamZ commented on #777
Due to other related threads, this is not required and it's about typescript only. I'll close

[2020-01-05 21:32] #777 closed

[2020-01-05 21:37] bluebill1049 commented on #780
Yea you are right! Thanks for contribution and all your feedbacks. They r really helpful not just for me and others after we improve the doc. I would love to see your avatar on our contribution list ;) so feel free send PR for things ❤️👌

Let’s keep this issue open, we can discuss while we making improvement on the doc.

[2020-01-05 22:02] bluebill1049 commented on #780
Just saw ur PR at the website. Awesome stuff approved and merged ❤️

[2020-01-05 22:46] Dsantacruz commented on #567
same problem, some fix???

[2020-01-05 22:48] bluebill1049 commented on #567
are you using `Controller`? @Dsantacruz

[2020-01-05 22:48] bluebill1049 commented on #567
also how us more code @Dsantacruz

[2020-01-05 22:55] Dsantacruz commented on #567
![WhatsApp Image 2020-01-05 at 4 42 39 PM](https://user-images.githubusercontent.com/8165329/71787340-7e864880-2fe4-11ea-8a67-309635a6a241.jpeg)

[2020-01-05 22:58] Dsantacruz commented on #567
<img width="579" alt="Captura de Pantalla 2020-01-05 a la(s) 17 57 57" src="https://user-images.githubusercontent.com/8165329/71787375-ef2d6500-2fe4-11ea-9912-9409dfa0b259.png">

[2020-01-05 23:49] bluebill1049 commented on #567
thanks @Dsantacruz for the screenshot, i think i need to see the render part and also not sure if the issue is from react-hook-form from the screenshot.

[2020-01-06 00:10] Dsantacruz commented on #567
return (
    <Screen py={0} px={0} scroll>
      <ConfirmModal
        visible={showSuccess}
        title="Guardado"
        description="Los datos fueron actualizados exitosamente"
        toggle={() => setShowSuccess(false)}
      />
      <Box
        bg="primary"
        borderBottomLeftRadius={4}
        borderBottomRightRadius={4}
        flexDirection="column"
        justifyContent="cente

[2020-01-06 00:20] bluebill1049 commented on #567
The issue is can't find variable `name`? I don't think that's issue of react-hook-form

`triggerValidation({ name, value: text });` where is the name?

[2020-01-06 05:15] chungweileong94 opened #782 "Warning: A component is changing an uncontrolled input of type text to be controlled."
**Describe the bug**
I'm currently using `Controller` with MUI TextField, and it was amazing, but I keep getting this error: `Warning: A component is changing an uncontrolled input of type text to be controlled.`, I have to set an empty string to as the default value to solve the problem, which I think it should done it by default.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `Control

[2020-01-06 05:32] bluebill1049 commented on #782
we may need to ask user to supply default value, either at `input` level or `useForm` level. RHF shouldn't assume input's default value

[2020-01-06 13:00] pandaniell commented on #728
Faced this issue today where I wanted to create a input for a smart form component, using a formdata interface as a generic would work but since the formdata is unknown for a smart form input, passing in
[code]

[2020-01-06 13:10] Tbaut opened #783 "minLength / min rules not taken into account on controlled input"
First of all, thank you so much for this library, love it, and I'm not 100% sure whether I'm using it wrong of if that's a bug.

**Describe the bug**
With a controlled input, the "required" is taken into account but "min" or "minLength" aren't.

**To Reproduce**
Codesandbox: https://codesandbox.io/s/react-hook-form-defaultvalues-0y3wu
My code is available at: https://github.com/paritytech/polkasse

[2020-01-06 14:30] cargallo commented on #438
Hi, I couldn't find the MaterialUI picker's example in the provided link. Just for clarification is this the proper way? Please note that onChange and value properties are set in like empty functions in KeyboardDatePicker because the component forces them as required fields. This code is actually running ok in my code but I want to manage it in the recommened manner

[code]

[2020-01-06 15:59] stephoune commented on #783
Hi !
See : https://codesandbox.io/s/react-hook-form-defaultvalues-qsk91
You had multiple registerName (username, firstname, firstName) in your file for one same Field. Also, you was trying to set values from field manually. But with the Controller component, you don't have to. Is that what you wanted to do?

[2020-01-06 16:14] Shaker-Hamdi commented on #778
@bluebill1049 I really appreciate your prompt response, really nice job maintaining this library :)
I just didn't know how to implement your solution using a custom input component with Typescript, so I created a Codesandbox so that you can take a look at the exact scenario I'm after ...

https://codesandbox.io/s/adoring-oskar-pllqf

[2020-01-06 16:47] Tbaut commented on #783
Thanks for the quick answer. One thing that I don't understand, is why using a custom handler makes `react-hook-form` to fail: https://codesandbox.io/s/react-hook-form-defaultvalues-0y3wu

Here my `onUsernameChange` is fire correctly at every key stroke, but for some reason, the validation fails with "required".

[2020-01-06 16:50] stephoune commented on #783
You have to return something from your onUsernameChange function.
Like this : https://codesandbox.io/s/react-hook-form-defaultvalues-e3b9f

[2020-01-06 17:16] Tbaut commented on #783
ah totally forgot that. Thanks a lot.

[2020-01-06 17:16] #783 closed

[2020-01-06 18:02] Smona opened #784 "Allow using <Controller> outside of react-hook-form"
**Is your feature request related to a problem? Please describe.**
We are currently building an inputs library, and one of our goals is to make inputs work inside a react-hook-form, or standalone as one-off inputs. I just migrated our controlled inputs over to use Controller, because 4.x has really improved integration of controlled components (thank you!). However, I had to use some ugly conditio

[2020-01-06 20:09] Smona opened #785 "Provide a method for focusing custom inputs during validation"
**Is your feature request related to a problem? Please describe.**
As it stands, there isn't a reliable way to hook into validation and focus or scroll to a custom, controlled input on validation. It seems to me that this is the last step for making controlled inputs first-class citizens of react-hook-form.

**Describe the solution you'd like**
Now that we have `<Controller>` in the repo, it could

[2020-01-06 20:39] bluebill1049 commented on #783
thank you very much for helping @stephoune ❤️

[2020-01-06 20:40] bluebill1049 commented on #728
@pandaniell i think we have a ErrorMessage component now

[2020-01-06 20:43] bluebill1049 commented on #778
at the moment, you will have to pass down `getValues` method, or use FormContext

[2020-01-06 20:45] bluebill1049 commented on #438
hey @cargallo what are those props?

[code]

[2020-01-06 21:07] bluebill1049 commented on #784
strange i believe we are actually doing the check. can you produce a codesandbox for such issue.

[2020-01-06 21:18] Kunigaikstis opened #786 "Dynamically inserting form fields prevents further "onSubmit" triggers"
**Describe the bug**
The `onSubmit` method of the form does not get triggered after an element was dynamically added to the form.

**To Reproduce**
After calling `onSubmit`, insert a new input and assign the `register` ref property.

**Codesandbox link**
https://codesandbox.io/embed/react-example-e2bp3?fontsize=14&hidenavigation=1&theme=dark

**Expected behavior**
`onSubmit` gets triggered after a

[2020-01-06 21:27] bluebill1049 commented on #786
Did u change the input name?

[2020-01-06 21:28] cargallo commented on #438
The component KeyboardDatePicker requests those properties to be set, they are mandatory in typescript. If I don't put that way I can't compile the code. But the code still works, seems that Controller is overriding them. I don't like to leave that code like that but I couldn't think of another way..

[2020-01-06 21:29] Kunigaikstis commented on #786
No name changes. The additional inputs get assigned a unique name though.

[2020-01-06 21:59] bluebill1049 commented on #438
Oh I see @cargallo I will think about it if we can improve it

[2020-01-06 22:37] bluebill1049 commented on #786
it works if you add a submit button

[code]

[2020-01-06 22:37] bluebill1049 commented on #784
are you using controller outside of `useForm`?

[2020-01-06 22:47] Kunigaikstis commented on #786
My bad, you're absolutely right.

[2020-01-06 22:47] #786 closed

[2020-01-06 22:56] bluebill1049 commented on #785
Thanks for the feature request, however i think this would be better to handle at your app level, because external component's ref hard to predict (in order for us to scroll into view). I am certainly don't want to introduce extra `div` or `span` around user's component, this will easy lead to other unwanted behaviour or side effect.

As a solution, i would make custom hook at your app level which

[2020-01-06 22:56] #785 closed

[2020-01-06 22:56] bluebill1049 commented on #786
all good @Kunigaikstis 👍

[2020-01-07 00:42] andrewnystrom opened #788 "Controlled select elements require a double-selection to change state"
**Describe the bug**
I have forked the controlled input example from the website and added Yup validation and an example select dropdown menu. If the form fails validation, the select menu does not change state on the first attempt to change the selection. It will change state on the second or third try. Please let me know if I am missing something -- I feel like it's probably something simple.

N

[2020-01-07 02:35] Smona commented on #785
That's understandable. Thanks for the suggestion!

[2020-01-07 02:43] Smona commented on #784
[Here's an example of the error I'm seeing](https://codesandbox.io/s/little-rgb-jei5k?fontsize=14&hidenavigation=1&theme=dark). Not the exact same error, but the same problem.

The idea here is that one should be able to write custom components using the Controller without having to worry about them erroring out if they're used outside of useForm

[2020-01-07 02:50] Smona commented on #784
I think tacking ` || {}` onto: https://github.com/react-hook-form/react-hook-form/blob/8262ca0482294bbf3931ffcc58d46ff6ce6b4ac0/src/controller.tsx#L34
might do the trick. I can get a PR together tomorrow if you're open to the idea

[2020-01-07 02:58] bluebill1049 commented on #788
Hi there, this is not a bug to react-hook-form, react-hook-form embrace uncontrolled component, if you want to use controlled component. please use `Controller`

[2020-01-07 02:58] #788 closed

[2020-01-07 02:59] bluebill1049 commented on #788
Here is the link for Controller: https://react-hook-form.com/api#Controller

[2020-01-07 03:07] andrewnystrom commented on #788
Why does this work in Firefox and not in WebKit browsers?

On Mon, Jan 6, 2020 at 9:59 PM Bill <notifications@github.com> wrote:

[2020-01-07 03:08] andrewnystrom commented on #788
Your controlled input example doesn’t even use this. What the heck?

On Mon, Jan 6, 2020 at 10:07 PM Andrew Nystrom <andrewgnystrom@gmail.com>
wrote:

[2020-01-07 03:11] bluebill1049 commented on #788
First of all
1. `what the heck?` relax!

2. Do you see any of my controlled component have `ref={register}`? No
you either use controller or uncontrolled .

3. you can use `Controller` as optional

[2020-01-07 03:12] andrewnystrom commented on #788
You closed this without addressing the actual problem. Don’t tell me to relax please. I will look into your suggestion. Thanks.

[2020-01-07 03:14] andrewnystrom commented on #788
Every single component in your example file DOES use ref={register}. This is the example linked on your website:
https://codesandbox.io/s/j36w7xkk7w

What am I missing?

[2020-01-07 03:22] andrewnystrom commented on #788
@bluebill1049 please see my comments above.  I am determined that this is an actual problem.

[2020-01-07 06:34] korzo commented on #598
@bluebill1049 Here is condesandobox for issue @mnesarco  mentioned.

https://codesandbox.io/s/quirky-fire-nxyo6

Using `ref={register} ` works, but `ref={register({ required: true })}` shows this error
[code]

[2020-01-07 06:42] bluebill1049 commented on #598
Doesn’t looks like the error is coming from RHF. Maybe try to use controller?

[2020-01-07 09:25] bluebill1049 commented on #784
sure send a PR if you have time 👍

[2020-01-07 09:28] bluebill1049 commented on #784
actually think about it twice, it's probably better to throw an error on this. because controller is not going to work outside the context of useForm.

[2020-01-07 09:51] Badyl1g opened #791 "Errors are not tracked correctly when using Array Fields"
**Describe the bug**
When I add error handling to Array Fields example on CodeSandbox the errors object is not updated correctly.
I added a console.log statement to demonstrate how the errors object behaves

**To Reproduce**
Steps to reproduce the behavior:
1. Add two friends
2. Click submit
3. See four inputs highlighted red
4. Enter first name of the first friend - input will get re-validated an

[2020-01-07 10:14] bluebill1049 commented on #791
can you please help test out this patch? `4.4.5-beta.1`

[2020-01-07 10:15] bluebill1049 commented on #791
https://codesandbox.io/s/react-hook-form-array-fields-gl7te

[2020-01-07 10:27] Badyl1g commented on #791
This seems to work fine now, but there's one more issue I found (related to inputs with type number)

Should I submit another issue for that case?

[2020-01-07 10:28] bluebill1049 commented on #791
yes plz

[2020-01-07 10:28] #791 closed

[2020-01-07 10:55] Badyl1g opened #793 "Error not handled correctly on input registered with minimum value"
**Describe the bug**
When I register a field with type number and minimum value of `0` and type in negative value validation doesn't correctly add `type: 'min'` error

**To Reproduce**
Steps to reproduce the behavior:
1. Open Example Sandbox
2. Add one friend
3. Submit the form
4. Type in negative number into age field
5. Type positive number and change it to negative using arrow keys

Validating

[2020-01-07 11:32] bluebill1049 commented on #793
`react-hook-form@4.4.5-beta.3` should fix the issue

[2020-01-07 12:07] #793 closed

[2020-01-07 15:37] SW999 commented on #709
Hi @bluebill1049! I'd like to help with Russian.

[2020-01-07 15:58] clementAC opened #796 "Typescript errors"
I'm upgrading my react hook form to the latest stable version (previously on 3.29) and have some problems concerning types.

I'm using reset and error messages and I have type errors for both. The behavior in 3.29 is good but problems begin at 4.0.0 for error messages.
Here is the [codesandbox](https://codesandbox.io/s/react-hook-form-typescript-j1ddf
) that show the problems on line 23 and 31

Th

[2020-01-07 18:02] omikulcik commented on #494
React warns you that variable was used before it was defined so maybe a different implementation would be apropriate

[2020-01-07 19:15] cargallo commented on #796
Hi @clementAC the library is trying to support better typescript support, with that saying, the better approach to overcome your actual error is that you declare an interface for the form values and pass it to useForm, here is the code:

[code]

And here is the sandbox corrected:

https://codesandbox.io/s/react-hook-form-typescript-flw31

[2020-01-07 19:28] cargallo commented on #784
I think IMHO that the requested feature is outside the scope of Controller component. Controller is and should remain been an adapter to use controlled inputs with useForm and not outside of it context.

[2020-01-07 20:39] bluebill1049 commented on #709
that would be awesome! thanks @SW999

[2020-01-07 22:43] bluebill1049 opened #797 "DeepPartial with TS"
The `reset` is good now.  So, that part is taken care of.

The issue with `AnotherComponent` in my sandbox, is that in my real app, components like that are part of a shared library of form components that are used by many different forms throughout the app.  The data for each form can vary widely.

For example, I have an `ImageUpload` component that displays the currently uploaded image or allows

[2020-01-07 22:44] bluebill1049 commented on #797
Original PR: https://github.com/react-hook-form/react-hook-form/pull/762#issuecomment-571710411

[2020-01-08 00:11] bluebill1049 commented on #796
hope @cargallo have answered your question @clementAC, going to close this issue. Feel free to ask more questions here tho.

[2020-01-08 00:11] #796 closed

[2020-01-08 00:14] bluebill1049 commented on #709
Let me know if you guys need more information on how to translate the website too. 🙏

[2020-01-08 03:15] Smona commented on #784
While I did figure out a way to support this, I realized while writing the PR why it's not a great idea.

Controller maintains its own state for the value, and assumes that value will be accessed from the `useForm`. Making it equivalent to a standard onChange/value api would require changing its own api to add a way to pass in the current value. At that point, I agree with @cargallo that it would

[2020-01-08 03:15] #784 closed

[2020-01-08 03:19] bluebill1049 commented on #784
awesome! thanks for understanding :)

[2020-01-08 05:27] narroyog commented on #724
Try changing the first letter of the function's name to uppercase
from: contactform to Contactform
and make sure that on App.js you import the component with the same name (first letter uppercase) and the render function has <Contactform /> on it.

[2020-01-08 06:28] bluebill1049 commented on #724
thanks @narroyog

[2020-01-08 08:10] bluebill1049 commented on #797
I have tried the other DeepPartial `type` not working really well... i am send a PR to revert DeepPartial for now.

[2020-01-08 08:29] kusmierz commented on #797
btw, it is worth to consider use `DeepPartial` equivalent to `FormErrors`, as it seems the same/similar (?).

[2020-01-08 08:35] bluebill1049 commented on #797
I think let's keep `DeepPartial` for awhile, see if any users encounter similar issue that @bopfer encountered, then we can take a look at it again. sounds ok?

[2020-01-08 08:35] #797 closed

[2020-01-08 08:36] kusmierz commented on #797
it sounds good to me, you could also mention me in any case related with `DeepPartial`, I'll try to help if I could.

[2020-01-08 08:40] bluebill1049 commented on #797
much appreciated your help @kusmierz and @bopfer ❤️

[2020-01-08 14:22] zebrahondje commented on #788
As Bill said a couple of times, you're not using the `Controller` component which is used in the example: https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s.

I don't know where you got your example from, but as long you're passing `register` to an input's `ref`, you're not controlling it.

[2020-01-08 14:40] burton666 opened #800 "How to allign horizontally ?"
This is probably a stupid question but how do I allign input-fields horizontally?

[2020-01-08 15:01] TimFletcher commented on #800
Hi there. This is a generic question about CSS styling and not related to `react-hook-form`. Maybe search https://stackoverflow.com for a solution.

You should look at flexbox and / or grid layout for this.

[2020-01-08 15:09] clementAC commented on #796
Thank you @cargallo . Effectively, enforcing types like this is a really good thing.
@bluebill1049 it may be useful to had a question about enforcing type with typescript on the FAQ with a simple example like the one in @cargallo codesandbox?

[2020-01-08 15:45] mlnarik opened #801 "Re-registered field not visible on submit when used with FormContext"
**Describe the bug**
Field that is re-registered is not visible on submit when used with FormContext.

**To Reproduce**
Steps to reproduce the behavior:
Sandbox: https://codesandbox.io/s/react-hook-form-defaultvalues-7rjbh
1. Click Toggle to hide last name input
2. Click Toggle to show last name input
3. Submit form
Expected: last name visible in popup
Actual: last name not visible in popup

**Cod

[2020-01-08 16:53] thoughtassassin opened #802 "Controller throws error"
**Describe the bug**
If you don't supply defaultValues to useForm, a third party component wrapped in a Controller throws this warning:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap a third party input in Controller.
2. Don't supply defaultValues to useForm.
3. Type in the input.

**Codesandbox link**
https://codesandbox.io/s/autumn-breeze-txshv

**Expected behavior**
The inpu

[2020-01-08 18:41] mjsarfatti commented on #398
@zsid I came here because I encountered the same problem. A slight improvement on your solution can be to `delete` the array element instead of setting it to `null` or `''`, or splicing it away:

[code]

Working example: https://codesandbox.io/s/react-hook-form-array-fields-8opi2

[2020-01-08 19:50] andrewnystrom commented on #788
@zebrahondje
Here is where the example is from:
1. Go here: https://react-hook-form.com/api and click on "Code Examples" this opens a new page.
2. Find the "Controlled Input" example. It is associated to this link: https://codesandbox.io/s/j36w7xkk7w
3. Go to that Codesandbox link and notice that everything uses `ref`.

That's why I'm confused -- I feel that the Controlled Input example needs to b

[2020-01-08 19:51] andrewnystrom commented on #788
That all being said, I'm going to try to use the `Controller` API in the interim.

[2020-01-08 20:13] dipeshwalia commented on #737
Hey, can you provide an example how to use **onchange** mode. thanks !

[2020-01-08 21:05] miguel-lattuada commented on #802
I think this is more a React thing and not related to `react-hook-form`. [Check this example](https://stackoverflow.com/questions/47012169/a-component-is-changing-an-uncontrolled-input-of-type-text-to-be-controlled-erro/47012342#47012342), you can set empty values as empty strings to avoid this.

[2020-01-08 21:46] bluebill1049 commented on #802
please refer to default value part of `Controller`.

https://react-hook-form.com/api#Controller

[2020-01-08 21:46] bluebill1049 commented on #800
yea please ask stackoverflow :) plenty answers there for sure

[2020-01-08 21:46] #800 closed

[2020-01-08 21:50] thoughtassassin commented on #802
@bluebill1049 so you DO need to supply defaultValues? I guess I am just making sure that is the case.

[2020-01-08 22:08] bluebill1049 commented on #737
what you provided code snippet is correct, please send a small codesandbox for me to reproduce the issue.

[2020-01-08 22:10] bluebill1049 commented on #796
sounds really good @clementAC would you like to send a PR for a new FAQ for TS section?

[2020-01-08 22:12] bluebill1049 commented on #398
FYI guys we are working on a new custom hook for this:

https://github.com/react-hook-form/react-hook-form/pulls

take a look, if you have sometime feel free to test it out and help us to release it sooner to everyone 👍

[2020-01-08 22:13] bluebill1049 commented on #802
@thoughtassassin you can provide either `defaultValues` at `useForm` or `defaultValue` at `Controller`. It's hard to predict `defaultValue`/`value` for external component, so it's better as user to declare that. (eg: checkbox, input)

[2020-01-08 22:39] bluebill1049 commented on #801
Thanks for the detailed issue report. it's working you are using a beta version. try 4.4.6

https://codesandbox.io/s/react-hook-form-defaultvalues-wxgo6

[2020-01-08 22:42] bluebill1049 commented on #802
going to close this issue, feel free to ask more questions tho.

[2020-01-08 22:42] #802 closed

[2020-01-09 04:41] tanmen opened #803 "Typescript error type not match in array(ignore object)."
**Describe the bug**
Hello!
When I was using this library, I noticed that the type did not match in arrays other than object.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create field string[] or number[] in Form
2. use errors message

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-array-fields-v6lv0

**Expected behavior**
I think it is good to change like this.
[cod

[2020-01-09 06:31] #803 closed

[2020-01-09 06:31] bluebill1049 commented on #803
by the @tanmen we are working on a custom hook for fields array: https://github.com/react-hook-form/react-hook-form/pull/768

[2020-01-09 08:52] mlnarik commented on #801
I tried your sandbox, it's NOT working on Chrome.

[2020-01-09 09:15] bluebill1049 commented on #801
why it's working for me each time?

[2020-01-09 09:17] bluebill1049 commented on #801
ok i just reproduced it, by click the toggle couple times.

[2020-01-09 09:27] bluebill1049 commented on #801
i just release i have fixed this issue in another branch:

https://codesandbox.io/s/react-hook-form-defaultvalues-wxgo6

test it out, i will release the fix tonight

[2020-01-09 09:34] #801 closed

[2020-01-09 09:34] bluebill1049 commented on #801
let me know if the above codesandbox fix the issue (verify) then i will release the patch.

[2020-01-09 09:57] mlnarik commented on #801
I tried your sandbox and it seems to be working correctly now. Thank you. Looking forward to use it in my project

[2020-01-09 09:59] bluebill1049 commented on #801
sweet! thanks for re-verify. going to release the patch now.

[2020-01-09 16:22] scherbo commented on #709
Can I join in to help with Russian?

[2020-01-09 16:43] hemedani opened #806 "add support for superstruct"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
related to validation schema

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2020-01-09 19:55] binjospookie opened #807 "mode without ref"
**Describe the question?**
Hi! I try to use `useForm` with `mode: 'onBlur'` without `ref={register}`.
The problem is that `errors` object from `useForm` includes error  immediately (not after `onBlur`).
Is it possible to achive behaviour like with `ref={register}` but with `register("inputName",{...})` in my case ?

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-errormessage-55whl

[2020-01-09 20:22] binjospookie commented on #807
My goal is to hide error for current active (focused) field from `errors`.

[2020-01-09 20:36] #807 closed

[2020-01-09 20:41] binjospookie opened #808 "Active in formState"
My goal is to exclude error of current active (focused) field from `errors` (with filter, for example).

Maybe it's possible to get current active form element's name (like `Active` from https://final-form.org/docs/final-form/types/FormState) ?

[2020-01-09 20:48] bluebill1049 commented on #709
yes please @scherbo

[2020-01-09 20:54] bluebill1049 commented on #806
there is a PR for custom validation: you can upvote this PR, when there is enough vote. we will consider merging into master

https://github.com/react-hook-form/react-hook-form/pull/529

[2020-01-09 20:54] #806 closed

[2020-01-09 21:07] bluebill1049 commented on #808
can you provide a better use case for such `formState`?  we will then consider to include such a feature.

[2020-01-09 21:25] binjospookie commented on #808
It could be useful for taking value of active field like `getValues()[formState.active]`. Or add logic based on this property (show pro-active instructions for example).

[2020-01-09 21:38] binjospookie commented on #808
Also it can simplify `setValue`: `setValue(formState.active,someValue,true)`

[2020-01-09 22:06] thoughtassassin opened #809 "Array indexes get out of order in Field Array example"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

Bill, you are probably going to kill me for adding another issue. This time I marked it as question but I think it is, in fact, a bug. It looks like the field arrays get out of order. I was seeing some strange behavior in my own form and I pretty much copied what is in the example.

**To Reproduce*

[2020-01-09 22:09] bluebill1049 commented on #809
Lol not gonna kill u mate❤️ On the bus I will take a look today 👌

[2020-01-09 22:11] bluebill1049 commented on #808
Some valid points and some I think there are alternative by using existing API. I will set this to be waiting for vote and add to our back log.

[2020-01-09 22:37] bluebill1049 commented on #809
FYI this one: https://github.com/react-hook-form/react-hook-form/pull/768

[2020-01-09 22:38] bluebill1049 commented on #808
<img width="358" alt="Screen Shot 2020-01-10 at 9 38 22 am" src="https://user-images.githubusercontent.com/10513364/72110691-f65dc580-338c-11ea-94ee-18ab3f1d0c33.png">

will keep an eye on it.

[2020-01-09 22:38] #808 closed

[2020-01-09 22:41] bluebill1049 commented on #808
when there are enough user request for this feature, i will looking into it @binjospookie. now that the library is pretty stable and i am bit more careful in terms of new API get introduced and hope you understand too.

[2020-01-09 23:06] github0013 opened #810 "[4.4.7] returns watch value differently after setValue"
**Describe the bug**
setValue after reset will break watch values.

**To Reproduce**
Steps to reproduce the behavior:
1. push reset
2. push setValue
3. see the console

**Codesandbox link**
https://codesandbox.io/embed/rhf-watch-and-setvalue-wcc1m

**Expected behavior**
setValue should not break watched values.

**Screenshots**
## 4.4.6
![](https://spectrum-proxy.imgix.net/https%3A%2F%2Fi.gyazo.co

[2020-01-09 23:09] bluebill1049 commented on #810
thanks @github0013

[2020-01-09 23:11] bluebill1049 commented on #810
patched https://github.com/react-hook-form/react-hook-form/releases/tag/v4.4.8

[2020-01-09 23:12] #810 closed

[2020-01-09 23:14] bluebill1049 commented on #809
what about this now? https://codesandbox.io/s/6j1760jkjk

[2020-01-09 23:19] thoughtassassin commented on #809
That one seems completely broken. It solves the problem with 0 and 1 but if you add several elements and start deleting from the middle it stops working. That seems to be the problem that I am running into in the form that I working on too.

Try this on that example:

1. Add three friends. (should be 0, 1, 2)
2. Remove the second friend. (numbered 1)
3. Try to remove what is now numbered friend nu

[2020-01-09 23:46] bluebill1049 commented on #809
oops check this codesandbox: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv

[2020-01-09 23:49] bluebill1049 commented on #809
or this one as well: https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-l19pz

[2020-01-09 23:50] thoughtassassin commented on #809
lol. I will check those out.

[2020-01-10 00:03] thoughtassassin commented on #809
Where in the heck is useFieldArray coming from? Is that something you just wrote?

[2020-01-10 00:04] bluebill1049 commented on #809
that's the new feature coming, still WIP :) i posted you the PR above.

[2020-01-10 00:05] bluebill1049 commented on #809
you like that new custom hook?

[2020-01-10 00:10] thoughtassassin commented on #809
It's really slick. However, I see one issue with it. To be clear I am talking about this one: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv.

1) Add two fields
2) Delete the top one
3) Console.log shows no values submitted even though there is one on the UI.

[2020-01-10 00:12] thoughtassassin commented on #809
It looks like this one might be working: https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-l19pz

I recently refactored my app to use the React Hook Version 4 Controller. I might try to see if I can refactor my field array to do what this is.

[2020-01-10 00:15] bluebill1049 commented on #809
try this latest beta: `4.5.0-beta.6` i think useFieldArray should be pretty stable

[2020-01-10 00:18] thoughtassassin commented on #809
Thank you, once again. Is the issue that I am seeing in the comment about the customHook going to be an issue in 4.5.0~beta.6?

[2020-01-10 00:21] bluebill1049 commented on #809
should fix it, otherwise that custom hook is rubbish lol

[2020-01-10 09:21] frankie567 commented on #598
From what I've tried, it seems that it's only a mismatch between how RHF and React-Bootstrap type a `ref`. It works perfectly by doing a simple cast:

[code]

[2020-01-10 09:22] bluebill1049 commented on #598
Thanks for sharing @frankie567

[2020-01-10 13:09] Doomd opened #811 "Form Wizard with Radio Buttons Example"
I'm sorry if I'm posting this in the wrong section...but I only had 3 choices and none seemed to fit...

To the point: I amended the example code for the "Wizard Form/Funnel" that you have listed on your ["Advanced Usage" page](https://react-hook-form.com/advanced-usage#WizardFormFunnel).

1.  I've included a radio button group that keeps its state between pages and loads...just like the text inpu

[2020-01-10 19:02] thoughtassassin commented on #809
Gotta tell you, Bill. I am refactoring with the new FieldArray and I feel like I am really close. There is a lot of very complex logic in these components. Nevertheless, I was able to remove the logic for maintaining the field array and it looks like I can get everything to render. The only pesky problem is the issue with deleting indicies.

But I'll tell you what, my friend, when you get this wor

[2020-01-10 21:01] marcosfsj opened #812 "Possible bug"
When I use setValue to set initial values to the form it sets the touched to true for that field.

Therefore the dirty flag goes to true.

I may be wrong, but I think when we want to use setValue in the code, witch does not mean user interaction, we want the form to remain untouched and not dirty.

Maybe we could send in a flag to say I want the form to be dirty or not via setValue:

setValue('fie

[2020-01-10 21:48] bluebill1049 commented on #809
Is this issue still exist in `useFieldArray`?

[2020-01-10 21:49] bluebill1049 commented on #812
if you just want to set value for the input as the initial value. you can use reset() or defaultValues. That wouldn't trigger touched or dirty.

[2020-01-10 22:05] thoughtassassin commented on #809
As of earlier today it does. I am using 4.5.0-beta.6. I see strange behavior when I delete. I looked at your PR for useFieldArrays and I think I was able to reproduce what simmo was talking about in the example that you shared on Codepen:

That is still an issue in the example you provided.

[2020-01-10 22:16] bluebill1049 commented on #809
did you change this line to `react-hook-form`? the src part.

`import { useForm, useFieldArray } from "./src";`

[2020-01-10 22:17] bluebill1049 commented on #809
nvm i see the issue, will take a look at it.

[2020-01-10 22:26] thoughtassassin commented on #809
It's hard. You are solving a very hard problem. It was breaking my mind to keep track or those arrays. Like I said though everything else is great. I was able to cut out of a lot of code and let React Hook Form handle everything. That is exactly what I want as a developer.

[2020-01-10 22:31] bluebill1049 commented on #809
That's awesome to hear, I think that's probably the last blocker for me to resolve now :) will keep you in the loop when it's ready.

[2020-01-10 22:43] marcosfsj commented on #812
Thanks! It works!

Awesome lib!!!

[2020-01-10 22:45] bluebill1049 commented on #812
Thank you :)

[2020-01-10 22:45] #812 closed

[2020-01-10 22:47] bluebill1049 commented on #811
Yes, please! it's open-sourced and everyone can help.

[2020-01-10 22:47] bluebill1049 commented on #811
probably more of React question.

[2020-01-11 01:20] mdebo opened #813 "getting handleSubmit from useFormContext hooks"
**Describe the bug**
Hi
First thanks for your wonderful works.
After trying useFormContext hooks, i'm not able to use handleSubmit function in a sub component
In fact, I have a FormSubmit component responsible of getting the submit function from the context (using useFormContext hook)
It seems that handleSubmit is never executed.

[code]
Do you have any ideas why my function handleSubmit I get fro

[2020-01-11 01:32] bluebill1049 commented on #813
`data.handleSubmit(onSubmit)(event)` I have replied you at spectrum early today as well :)

[2020-01-11 02:06] #811 closed

[2020-01-11 02:28] bluebill1049 commented on #809
solved: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv

[2020-01-11 02:32] bluebill1049 commented on #809
find another edge case: back to working again...

[2020-01-11 04:09] thoughtassassin commented on #809
That one is solved.

I have a question about the uniqueness of names. I forked your sandbox and for the default values I replaced ```${item.name}${index}``` with```test[${index}].name``` . I thought as I randomly clicked remove on elements randomly I would start to see the sequence of arrays start over. As a result some of the names are identical. I know in HTML that the name attribute in a form d

[2020-01-11 04:25] bluebill1049 commented on #809
get the latest: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv

[2020-01-11 04:54] Doomd opened #814 "More examples of the watch API"
I just wanted to provide some more practical uses of the watch API with examples of text input, radio group, and selection dropdowns, as well as the original checkbox example:

https://codesandbox.io/s/react-hook-form-watch-with-radio-buttons-and-select-examples-ttpfz

[2020-01-11 05:05] bluebill1049 commented on #814
Oh! that's awesome!

[2020-01-11 12:24] mdebo commented on #813
Thanks you for your response! it wasn't me this morning on spectrum :-), but i really have appreciate your reactivity

All is working fine, now, so I think you can close this issue which wasn't a real one
I have subscribed on spectrum too, :-)

[2020-01-11 12:45] DisaPadla opened #815 "Fields Array doesn't work properly"
Example: [link](https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-09ynm?fontsize=14&hidenavigation=1&theme=dark)

**Steps to reproduce:**
1. Append three items
2. Remove first and second item
3. Click on submit

We got "fields" with two items on submit, instead of one. What i do wrong? Thanks

[2020-01-11 13:11] DisaPadla commented on #815
Asked on spectrum.

[2020-01-11 13:11] #815 closed

[2020-01-11 19:40] theweiweiway commented on #813
It was me lol. Ya, all i was missing was the ``(event)``. Thanks!

[2020-01-11 20:37] bluebill1049 commented on #813
lol sorry guys. u just ask the same questions at the same time.

[2020-01-11 20:37] #813 closed

[2020-01-11 20:37] bluebill1049 commented on #815
hey @DisaPadla try this: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv

[2020-01-11 20:43] DisaPadla commented on #815
@bluebill1049  Thanks. I didn't find "useFieldArray" in docs. Another solution, i use a nested property of object instead of an array. Like ```template-${id}.someProp```

[2020-01-11 21:43] bluebill1049 commented on #815
oh yeah @DisaPadla it's still in beta, we will likely to release it next week, i am doing more testing and automation to make sure it's working correctly.

[2020-01-11 23:22] Fatal1stZ opened #816 "Remote submit"
How to achieve remote submit with react-hook-form? This useful feature from [Redux-form](https://redux-form.com/6.6.3/examples/remotesubmit/)

[2020-01-12 01:08] bluebill1049 commented on #816
thanks for the suggestion, however i dont see anything new other than use `handleSubmit` to other place. you can achieve this with react-hook-form already.

[2020-01-12 01:08] bluebill1049 commented on #816
i guess it's similar to this question: https://github.com/react-hook-form/react-hook-form/issues/813

[2020-01-12 01:09] #816 closed

[2020-01-12 01:09] bluebill1049 commented on #816
close this issue, feel free to ask more question if my answer doesn't solve your question.

[2020-01-12 18:02] nayots opened #819 "Error validation in TypeScript"
**Describe the bug**
Type error when trying to access errors fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a react app with typescript
2. Add MaterialUi Code library
3. Create a TextField
4. Set react hooks form
5. Try to access field from error object

**Expected behavior**
Not to get type errors

**Screenshots**
![image](https://user-images.githubusercontent.com/10439945/7

[2020-01-12 18:05] #819 closed

[2020-01-12 18:05] nayots commented on #819
works on when you just use useForm().

[2020-01-12 22:56] bluebill1049 commented on #809
i am going to close this issue. let's continue the conversation here:

https://github.com/react-hook-form/react-hook-form/pull/768

so i don't have to check two places :)

[2020-01-12 22:56] #809 closed

[2020-01-14 08:02] ThewBear opened #821 "Version 4.5.0 WebpackError: ReferenceError: window is not defined during SSR"
**Describe the bug**
Using with gatsby will cause `ReferenceError: window is not defined` during build time.

**To Reproduce**
Use `useForm` hook in gatsby pages.

Here is where the error happens.
https://github.com/react-hook-form/react-hook-form/blob/61d019f308770888f250d54566217ce451df81d2/src/useForm.ts#L92

[2020-01-14 08:05] bluebill1049 commented on #821
thanks will patch that issue. thanks

[2020-01-14 08:20] bluebill1049 commented on #821
can you try this beta? react-hook-form@4.5.1-beta.1

[2020-01-14 08:33] BarbarConan commented on #821
it works for me, thanks!

[2020-01-14 08:34] simmo opened #823 "`getValues` outputs as nested on initial render"
**Describe the bug**
`getValues` outputs as nested on initial render

**To Reproduce**
Steps to reproduce the behavior:
1. Load sandbox
2. In the preview, you can see the values output (via JSON.stringify) as nested
3. In App.js, edit the first item in the array eg `{ name: "0" },` to `{ name: "a" },`
4. The preview now displays getValues as flat

**Codesandbox link**
https://codesandbox.io/s/gift

[2020-01-14 08:34] simmo opened #837 "improve documentation on getValues()'s initial render return data"
**Describe the bug**
`getValues` outputs as nested on initial render

**To Reproduce**
Steps to reproduce the behavior:
1. Load sandbox
2. In the preview, you can see the values output (via JSON.stringify) as nested
3. In App.js, edit the first item in the array eg `{ name: "0" },` to `{ name: "a" },`
4. The preview now displays getValues as flat

**Codesandbox link**
https://codesandbox.io/s/gift

[2020-01-14 08:39] bluebill1049 commented on #823
this is not a bug: initial render will read `defaultValues`, unless you set nest: true then getValues() will always return nest.

https://react-hook-form.com/api/#getValues

[2020-01-14 08:39] bluebill1049 opened #824 "useFieldArray bug with Controller"
`Controller` is not working properly with `useFieldArray`.

Bug was reported in this spectrum chat: https://spectrum.chat/react-hook-form/help/fields-array-doesnt-work-properly~34a44a46-a651-46f2-b311-7cc30594af98

[2020-01-14 09:30] Hendrafoo opened #825 "resetting hidden field not working"
**Describe the bug**
When i try to reset() input:hidden, it does not work. but when i change the type="hidden" to type="text". the reset() works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-get-started-596q6
2. Click on "SET VALUE TO ID"
3. See Console, id now filled
4. Click on "SUBMIT"
5. After call reset(), the id field goes back to previ

[2020-01-14 09:52] simmo commented on #823
I've updated the sandbox so that `getValues({ nest: false })` but the output is still nested. I can see from the docs link why that would be?

[2020-01-14 10:00] bluebill1049 commented on #823
happy to improve the documentation or if you have time feel free to contribute. initial render getValue() will return from defaultValues. React hook form is uncontrolled and only after initial render then we can read data from the form.

[2020-01-14 10:02] bluebill1049 commented on #825
no worries, i will take a look at it.

[2020-01-14 10:10] Hendrafoo commented on #825
currently i solve it with passing {id: ''} to reset()

[2020-01-14 10:11] bluebill1049 commented on #825
that's strange. i am trying to solve a bug with the lib right now. i will come back to your issue :)

[2020-01-14 10:26] tanmen opened #827 "Can allow 'empty form' append in 'useFieldArray'?"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
I want to create an empty form, as in previous versions.
When useFieldArray is used, the contents are required in append, so the behavior like the previous version cannot be performed.

**Describe alternatives you've considered**
Allows empty objects to be append, prepend, and insert.

**Ad

[2020-01-14 10:27] bluebill1049 commented on #827
can you share a codesandbox with this issue @tanmen ?

[2020-01-14 10:41] #821 closed

[2020-01-14 10:46] tanmen commented on #827
https://codesandbox.io/s/react-hook-form-usefieldarray-7vdfv
↑Current version issues

https://codesandbox.io/s/react-hook-form-array-fields-s1kfh
↑'Add friend' function I expect

[2020-01-14 11:01] bluebill1049 commented on #827
can you pass an empty object?

[2020-01-14 11:02] tanmen commented on #827
ok! i try it :)

[2020-01-14 11:21] simmo commented on #823
Ok cool, I'll take a look 😄

[2020-01-14 12:12] #824 closed

[2020-01-14 12:44] #827 closed

[2020-01-14 12:47] tomas-c opened #832 "useFieldArray with async-loaded defaultValues"
**Is your feature request related to a problem? Please describe.**
I couldn't see an easy way to use the useFieldArray hook with asynchronously loaded default values.

Here's my attempt:

https://codesandbox.io/s/react-hook-form-usefieldarray-1j0yg

Pressing "Load Defaults" button in the sandbox does nothing, I assume because useForm does not detect changes in defaultValues.

**Describe the soluti

[2020-01-14 12:57] tomas-c commented on #832
Just found another alternative: use `reset(newDefaultValues)` to set async-loaded defaults , that seems to work well with useFieldArray

[2020-01-14 15:14] tomas-c opened #833 "Calling useFieldArray hook methods does not update formState.dirty value"
**Describe the bug**

Calling useFieldArray hook methods does not update formState.dirty value.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-popep
2. Click on APPEND
3. Observe that formState hasn't changed

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-usefieldarray-popep

**Expected behavior**
append, prepend,

[2020-01-14 17:09] tafelito opened #834 "prevent double submit"
What's the best way to prevent double submitting a form?

I thought isSubmitting from formState is was meant for that, but it does not. Having a submit button, clicking on it twice makes the isSubmitting go from true to false, even tho the form has already been submitted

[2020-01-14 19:26] VGLoic opened #836 "onBlur mode, revalidateMode "onChange": revalidation is not triggered with nested inputs"
**Describe the bug**
When mode is "onBlur", reValidateMode is "onChange" and have an input field with name "nested" like, e.g. "nested[0]". The revalidation mode onChange is not triggered.

**To Reproduce**
Use the codesandbox or
1. Set the mode to "onBlur", revalidateMode to "onChange", create a input with name "nested[0]" and validation rule (`required: true` for example)
2. trigger the error wi

[2020-01-14 20:52] bluebill1049 commented on #834
can you give a sandbox to reproduce this? I am not clear on the double submitting.

[2020-01-14 20:55] bluebill1049 commented on #833
hmm that's an interesting one. Should it dirty the form or not? If anyone else reading this issue, let me know your thoughts.

- dirty / !pristine means the user has made a modification

i guess it kind makes sense that they have added a new field.

[2020-01-14 20:56] bluebill1049 commented on #832
oh cool! that you work it out.

[2020-01-14 20:56] #832 closed

[2020-01-14 20:58] bluebill1049 commented on #837
no worries, i will take a look today

[2020-01-14 21:09] tafelito commented on #834
the onSubmit handler is being called multiple times, even tho the form has already been submitted. So what I was doing is checking if `formState.isSubmitting` is true not to do anything, and that makes the flag to keep changing from true to false

you can see it here https://codesandbox.io/s/react-hook-form-async-submit-validation-d2jcu

[2020-01-14 21:49] JeromeDeLeon commented on #833
I think it’s best to think of that way as @tomas-c said.

[2020-01-14 22:08] JeromeDeLeon commented on #834
Inatead of reading it on your `handleSubmit`, you could do is

[code]

[2020-01-14 22:39] bluebill1049 commented on #834
that's the answer :) thanks @JeromeDeLeon going to close this issue, feel free to ask more questions.

[2020-01-14 22:39] #834 closed

[2020-01-14 22:39] tafelito commented on #834
that's what I ended up doing, but I was wondering why just but adding that would trigger such behavior

Anyway, thanks!

[2020-01-14 22:49] bluebill1049 commented on #825
Find out the reason why: https://stackoverflow.com/questions/6367793/why-does-the-reset-button-on-html-forms-not-reset-hidden-fields/6449276 you may have to stick to what you did above.

[2020-01-14 22:50] #825 closed

[2020-01-14 23:01] bluebill1049 commented on #837
FYI: We don't flat `object` for you. you either use nested: true or stay as default.

[2020-01-14 23:02] bluebill1049 commented on #837
I think you can use lodash `get()` function to resolve this?

[2020-01-14 23:03] bluebill1049 commented on #837
why not just use `getValues({ nested: true })` so they are always nested? and combined with lodash `get`

[2020-01-15 02:50] bluebill1049 commented on #836
thanks for the issue report: react-hook-form@4.5.3-beta.1. let me know if this fix your issue.

[2020-01-15 02:59] #836 closed

[2020-01-15 03:30] bluebill1049 commented on #833
let me know if this beta fix the issue. react-hook-form@4.5.3-beta.2

[2020-01-15 05:17] bluebill1049 opened #841 "Issue around reset with useFieldArray"
**Describe the bug**
Issue around `reset()` form with useFieldArray

https://spectrum.chat/react-hook-form/help/field-array-load-values~118f263a-925f-4da6-8144-87dc25407315

**To Reproduce**
Steps to reproduce the behavior:
1. Press LOAD
2. SUBMIT

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-usefieldarray-wpvzs

**Expected behavior**
data is submitted correctly

[2020-01-15 07:02] simmo commented on #837
Ok thanks, I’ll try this. So to confirm the only way to get a consistent return shape is to pass `nested` as `true`?

[2020-01-15 07:29] bluebill1049 commented on #837
yes

[2020-01-15 08:45] VGLoic commented on #836
Looks great to me :) thanks a lot!

[2020-01-15 11:17] tomas-c commented on #833
That fixed it for me but found one strange case, left a comment about it in #839

[2020-01-15 11:39] #841 closed

[2020-01-15 15:12] thoughtassassin opened #843 "First Field in useFieldArray Missing Upon Submission"
**Describe the bug**
getValues does not accuately reflect what is on the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to codesanbox below.
2. Click add twice
3. Delete the top field that was added
4. When you click submit the remaining field doesn't show in the submission

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-usefieldarray-5cgwv

**Expected behavior**
I am

[2020-01-15 17:25] NikolaStanisavljevic opened #844 "Controller with material-ui <TextField /> onChange event"
Example:

[code]
I'm trying to store user input without submit button and without the use of
`handleSubmit()` function. Is that possible at this point ?
 I cant seem to get value of any field with `getValues()`,  and `setValues()` on change event is not working for me also.

[2020-01-15 20:31] bluebill1049 commented on #843
I think you submit a wrong codesandbox link: https://codesandbox.io/s/x77o7v4kxz

[2020-01-15 20:44] bluebill1049 commented on #844
`TextField` MUI?

[2020-01-15 20:58] thoughtassassin commented on #843
https://codesandbox.io/s/react-hook-form-usefieldarray-5cgwv

[2020-01-15 20:58] thoughtassassin commented on #843
Sorry about that!

[2020-01-15 22:07] bluebill1049 commented on #843
good find :) by the way `getValues()` is not going to work as you calling `append()` until `render`

[2020-01-15 22:33] thoughtassassin commented on #843
Hmmm. I guess I would need to know what values are present after append. I have some logic to filter values passed to a select based upon previous selections.

[2020-01-15 22:34] bluebill1049 commented on #843
then you will probably need `watch()`, or call it during `useEffect()`

[2020-01-15 22:35] bluebill1049 commented on #843
getValues() is reading what's on the form, it can't performance when the item is not mounted yet.

[2020-01-15 23:18] bluebill1049 commented on #843
FYI: isolating the issue, looks like is `FormContext` related.

[2020-01-15 23:46] thoughtassassin commented on #843
Awesome. I hope you find it!

[2020-01-15 23:58] bluebill1049 commented on #843
OMG found it! LOL you won't believe it! i spend 2hrs on this...

https://codesandbox.io/s/react-hook-form-usefieldarray-4wtf5

[2020-01-16 00:00] bluebill1049 commented on #843
couple things:

<button **type="button"** onClick={() => removeWithValues(index)}> Delete </button>

onClick={() => appendWithValues({ **envName**: "test" })}

[2020-01-16 00:23] thoughtassassin commented on #843
Wow. Okay. That's embarrassing for me. Thanks for debugging that. As you suggested I'll use `watch` to get the current values.

[2020-01-16 00:23] #843 closed

[2020-01-16 00:25] bluebill1049 commented on #843
I think you can use `getValues()` but do it in the useEffect, so the input is mounted and we can collect value from it.

`watch` is not the best for performance, because it's pretty much convert your input into controlled and re-render on each key-stroke due to value change. so i would still prefer to use getValues() but getValues is not watching the input FYI.

[2020-01-16 00:28] bluebill1049 commented on #837
i am going to close this issue now :) feel free to follow up with more questions.

[2020-01-16 00:28] #837 closed

[2020-01-16 00:40] JeromeDeLeon commented on #844
@NikolaStanisavljevic , `getValues` is one way to to do instead of manually tracking each field because `Controller` already tracked it inside and what you can do is have another trigger like a button that when clicked, it saved the values using `getValues({ nest: true })` if I'm understanding your question correctly.

May I know why you want to do that? so that we an look other options as well.

[2020-01-16 00:45] thoughtassassin commented on #843
So the code in my project isn't apples to apples with what I had in my codepen. I am not sure I necessarily had the same errors in my code base. I was definitely seeing some strange behavior around the way the array was being managed.

 The important point is that I upgraded from 4.4.4 to 4.5.3 with the exact same code in my project, and now everything is working. Thank you so much for your help a

[2020-01-16 00:49] bluebill1049 commented on #843
`useFieldArray` is still young and fresh (new born 👶 ) hehe, so i do expect issues around them, but me and my team always there try to solve them :) It's great to hear things working from everyone too. ✨

[2020-01-16 00:51] thoughtassassin commented on #843
Too soon Bill. I actually just upgraded my current stable codebase that doesn't useFieldArray to 4.5.3. I actually have to apply the changes to the branch that I upgraded to useFieldArray. What can I say? I got excited. I'll let you know if it is fixed or not in my codebase.

[2020-01-16 00:53] bluebill1049 commented on #843
cool let me know @thoughtassassin 👍

[2020-01-16 02:10] thoughtassassin commented on #843
I think I know what happened in my code. I was trying to refactor my code to use useFieldArray and I ended up with a key on the custom component and then inside my component I had a key on the fieldset inside the custom component.

Taking off the second key fixed the remove weirdness. Wow. I remember creating my own forms when I started working with React. I know dealing with keys and mounted elem

[2020-01-16 02:11] beebs93 opened #847 "How to validate multiple checkboxes using custom register without using `ref` or `<Controller>`?"
**Question**
Hi team,

If you have a form with multiple checkboxes as part of an array, how can you validate against the entire array of values (e.g. ensure at least `n` checkboxes are checked) AND surface a single validation error in the `error` object provided by `useForm()` so you can render an error message?

Let's assume you have to manually register each field via `registers` within `useEffe

[2020-01-16 02:20] bluebill1049 commented on #843
yea @thoughtassassin i spend a lot of my time on that too. hahaha hopefully we can get useFieldArray solid and more developers can benefit from it. personally i think the syntax is really simple except the keys...

[2020-01-16 02:23] bluebill1049 commented on #847
Question: when do you want to validate them? during onSubmit, onChange or Blur?

[2020-01-16 03:02] beebs93 commented on #847
I would prefer to validate them during `onChange` and `onSubmit`.

[2020-01-16 03:37] bluebill1049 commented on #847
we can register them with validate function and set mode to `onChange`.

[code]

[2020-01-16 05:17] beebs93 commented on #847
Ok, but if you look at the code in the provided CSB link, how would you do this if you have to register each checkbox?

[code]

[2020-01-16 05:27] bluebill1049 commented on #847
https://codesandbox.io/s/rhf-submitted-question-csb-001-g8fqt

have a look what i got above. see if it make sense.

[2020-01-16 06:51] bluebill1049 commented on #847
you can only give to one of them as well :)

[2020-01-16 07:07] beebs93 commented on #847
Yeah, that would solve the dupe `validate` runs, but then when one of the other checkboxes is changed, the validation method won't trigger, no?

[2020-01-16 07:19] bluebill1049 commented on #847
yea true dat. otherwise you can go with validation with a schema. however, I think it should be quite cheap to run those functions.

[2020-01-16 09:15] bluebill1049 commented on #844
i think you can use `watch()`

[2020-01-16 11:15] vivekmpuh opened #848 "How to show errors in nested array fields using formcontext"
Hi

I am trying to show error message on nested array field, I am able to display the error message but the error message wont remove.

the component structure goes as shown below

[code]

and the **NestedInput** field as shown below

[code]
and I have imported **myValidationFn** which handles validation and error messages using **setError()** function with required information.

if there is error

[2020-01-16 11:26] tomas-c commented on #833
@bluebill1049  still having trouble with 4.5.4

I've updated https://codesandbox.io/s/react-hook-form-usefieldarray-9u12n to use 4.5.4

1. Append a field
2. Observe dirty=true  👍
2. Click on the appended field and then outside it to trigger onBlur
3. Observe dirty=false 😢
4. Delete the appended field
5. Observe dirty=true 😢

[2020-01-16 11:38] bluebill1049 commented on #833
thanks, I will take a look again tmr 👍

[2020-01-16 11:52] bluebill1049 commented on #833
patched

[2020-01-16 11:55] bluebill1049 commented on #848
please follow our issue template and at least supply a codesandbox.

[2020-01-16 12:31] tomas-c commented on #833
I've updated https://codesandbox.io/s/react-hook-form-usefieldarray-9u12n to use 4.5.5, seems to still happen

[2020-01-16 15:41] beebs93 commented on #847
I haven't used `yup` before, but from my 30sec worth of reading I'm not seeing how you wouldn't also run into the problem of unnecessary dupe custom validation method invocations.

I'm not following what you mean by this. The way I understand (and correct me if I'm wrong, please), you have to include the `validate` function/object when you `register` each the inputs so when the user submits the fo

[2020-01-16 15:50] jordrake opened #851 "Controller rules referencing scoped values become stale"
**Describe the bug**
It seems that Controller 'rules' object is being kept in the initial state that they were set to on first render, including any scoped reference values. We have dynamic rules based on external factors that this bug breaks. I am currently bypassing this issue by setting a composite 'key' prop on the Controller component of all values used within the 'rules' object.

**Codesandb

[2020-01-16 16:02] joe4mg opened #852 "Validation order follows yep schema rather than jsx field order"
Hi - when validating against a Yup schema the form validates in the order of the schema keys rather than the order of the fields in the JSX.

https://codesandbox.io/s/react-hook-form-validationschema-l3q6q
^ validates the `age` field first

https://codesandbox.io/s/928po918qr
^ validates the `firstName` field first

Is there a way to define a field index/prevent this from happening besides the sch

[2020-01-16 20:32] bluebill1049 commented on #833
i only highlight scenario 2 (the crying face), still working on the last one.

[2020-01-16 20:35] bluebill1049 commented on #852
We following the order of your yup schema validation. It will be difficult to track as your render component, it can get re-order during render. (if this is what you refer to).

[2020-01-16 20:37] bluebill1049 commented on #851
That's actually by design unless we have a better solution for this. `rules` is an object with `useEffect` as a dependency so it will keep getting invoked which is not ideal for performance as it keep registering. maybe build a switch statement for your controller components.

[2020-01-16 20:38] stern-shawn commented on #735
I think I'm running into a similar type of issue (I'm upgrading from `react-hook-form@3.28` to latest, haha). I had a reusable field component that uses `FormContext` and accesses a field's errors similar to the examples in the docs

[code]

where name could be a nested property like `"user.firstName"`. In v3 this worked just fine because the errors object was flat, and `errors["user.firstName"]?.

[2020-01-16 20:44] bluebill1049 commented on #735
Thanks @stern-shawn man it's always a tradeoff...

to be honest, I love v3 flat errors, but then everyone is cry about the type-safe :( guess really i don't have a choice rather than listen to the community, but :) i am going to export some of the utility functions from RHF, which include my tiny version of 'get' so you can skip using lodash if you want as well, (it's on my todo list and it will c

[2020-01-16 20:45] bluebill1049 commented on #735
by the way, i am really glad that you find it useful too ❤️ @stern-shawn

[2020-01-16 20:47] bluebill1049 commented on #847
I meant like this
[code]

[2020-01-16 20:50] bluebill1049 commented on #847
that's a good solution that you come up with too. 👍

[2020-01-16 20:52] bluebill1049 commented on #851
or perhaps you can use `unregister` API?

[2020-01-16 21:07] stern-shawn commented on #735
I truly do, it's such a small nitpick in the face of so much goodness 😄

I read in #725 how I can leverage something like `useFormContext<MetaDataFormFields>()` to have super strongly 💪 typed `error.whatever.ayy.soNested?.message` access which sounds amazing for less generic/universal components that are specific to one form type. Awesome!

[2020-01-16 22:30] beebs93 commented on #847
Well, it's theoretical as the APIs don't support such a syntax. My question was whether it was possible in some way to only `register` a single checkbox that references all checkboxes while meeting my initial requirements; doesn't look like it would be.

[2020-01-16 22:32] beebs93 commented on #847
Hmm, ok - I see what you mean now - thanks for the clarification.

You would still have to add the manually `setValue` for any manually `register`ed checkboxes, but something like this may work.

[2020-01-16 22:34] bluebill1049 commented on #847
Not really with set value all inputs have registered.

[2020-01-16 22:35] bluebill1049 commented on #847
Custom register yes. Because there is no reference to the input itself.

[2020-01-16 22:40] beebs93 commented on #847
I'll play around with this today and see if I can get something working. Will update with results later.

[2020-01-16 22:51] IronSean opened #854 "Controller.onBlur should not overwrite value when in onBlur validation mode"
**Describe the bug**
I'm running into an issue where an input I'm attempting to wrap (which is a DatePicker) returns a Date from OnChange, but a formatted String from OnBlur. react-hook-form is seemingly saving this String, then passing it back as the `value` which blows up the app as the PropType check fails extecting a Date.

I'm not sure who is truly at fault here. They shouldn't be returning a

[2020-01-16 23:13] bluebill1049 commented on #854
Your codesandbox is broken, also have u tried overwrite on blur?

[2020-01-16 23:29] beebs93 commented on #847
I ended up solving this, but the above solution didn't work the way I wanted as I was having trouble getting the validation trigger when the first checkbox was clicked first as well as getting the submit to properly validate.

I had to resort to your original solution of simply adding the same validation `n` times to each checkbox's `register`.

Working solution: https://codesandbox.io/s/rhf-submi

[2020-01-16 23:37] bluebill1049 commented on #847
no worries @beebs93 Once i get some free time after solving some of the bugs. i will do an example and see if it's workable 👍

[2020-01-17 00:35] bluebill1049 commented on #847
you happy to close this issue for now?

[2020-01-17 01:00] beebs93 commented on #847
Yup!

[2020-01-17 01:00] #847 closed

[2020-01-17 09:26] Hendrafoo commented on #854
@bluebill1049 take a look at my sandbox
https://codesandbox.io/s/react-hook-form-get-started-596q6
but this one is with Material UI Autocomplete

[2020-01-17 09:27] iamwelk opened #856 "setValue isn't worked for useFieldArray"
**Describe the bug**
When I use setValue to set value for props inited by useFieldArray, it's not worked

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-usefieldarray-luwnw

[2020-01-17 09:33] bluebill1049 commented on #856
The usage is incorrect, setValue is made for individual inputs. if you want to clear Field Array use `remove`

[2020-01-17 09:34] bluebill1049 commented on #856
https://react-hook-form.com/api/#useFieldArray

[2020-01-17 09:35] bluebill1049 commented on #854
thanks @Hendrafoo ❤️

[2020-01-17 09:39] bluebill1049 commented on #854
i have append validation to your example as well @Hendrafoo https://codesandbox.io/s/react-hook-form-get-started-47mhr

[2020-01-17 09:55] iamwelk commented on #856
So is there a wan to combine normal inputs and Field Array in one form?

[2020-01-17 10:01] bluebill1049 commented on #856
yes. you can. your setValue didn't work, because you are trying to set value for an input that doesn't exist.

there is no input named as `test`;

[2020-01-17 10:35] jordrake commented on #851
I think I understand what you mean. You'd have move the responsibility to the user to ensure that `rules` is identity equal (probably via useMemo) if you wanted to put rules in the useEffect dependency here: https://github.com/react-hook-form/react-hook-form/blob/master/src/controller.tsx#L116. This wouldn't be the most obvious interface so I appreciate why you've done it the way you have. I'll ha

[2020-01-17 10:42] bluebill1049 commented on #851
Yea, that's correct. As a library maintainer is always important to stand on users' perspective if I can reduce the amount of complexity, I would prefer to go that route and take the tradeoff. Maybe consider using `unregister` tho.

[2020-01-17 11:07] iamwelk commented on #856
All right, thank you~

[2020-01-17 11:11] #856 closed

[2020-01-17 11:41] jannekanerva opened #857 "A default value for a Controller component isn't considered valid without manually touching the component via UI"
**Describe the bug**
When using Controller, the default value of the component used with Controller doesn't get recognized by formState.isValid.

Let's say there are two fields on the page: one simple text input using simple ref/register and a custom date picker wrapped with Controller - both are set required=true. If we give a default value to the date picker component via useForm:defaultValues,

[2020-01-17 11:44] bluebill1049 commented on #857
hoist the isValid before render. see if that issue goes away.

[2020-01-17 11:46] bluebill1049 commented on #857
[code]

[2020-01-17 11:53] Fatal1stZ commented on #816
Is it intended only for nested components?
What if I want to remote submit outside the form?

[2020-01-17 12:04] jannekanerva commented on #857
Yes, this seems to do the trick! I don't quite understand why but it does. :)

My goal was to write a custom <SubmitButton /> component that takes the formState as a prop so that I could extract the isValid and dirty only inside the SubmitButton component, not in the form render function.

[2020-01-17 12:10] bluebill1049 commented on #816
not really.

as long as you hoist `useForm` high up at your outside form level.

[2020-01-17 12:12] bluebill1049 commented on #857
we use Proxy to detect if you are trying to read `formState` to avoid unnecessary re-render if you are not even reading them.

you can still pass them as individual props

[2020-01-17 12:30] jannekanerva commented on #857
Ok, will do that. I basically always need those props so it's an extra code line for every form but I can live with that. Thanks for your very fast help!

[2020-01-17 12:30] #857 closed

[2020-01-17 13:03] h0jeZvgoxFepBQ2C opened #858 "How to find out which submit button has been clicked onSubmit?"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**

Right now my team is discovering on how to find out which submit button has been clicked (when there are multiple submit buttons).

**To Reproduce**
Steps to reproduce the behavior:

F.e. if you have an invitation form, where you can either submit your party acception or

[2020-01-17 13:09] jordrake commented on #851
I'm not entirely sure how unregister would solve my issue as the input in question can be re-enabled at any point but I may be misunderstanding the api.

The full problem I'm trying to solve is actually two inputs with the value of one conditionally enabling the other, and if it is enabled then it is required.

See: https://codesandbox.io/s/react-hook-form-basic-validation-u3u0t

Perhaps I'm missi

[2020-01-17 13:10] NikolaStanisavljevic commented on #844
@bluebill1049 @JeromeDeLeon
So far i do not have a solution for my prob using this library. Ill work more on this in upcoming days.

[2020-01-17 13:10] #844 closed

[2020-01-17 13:46] bluebill1049 commented on #851
oh. why don't u use `validate` function with `getValues()`. you can read the other field value right?

[2020-01-17 13:47] bluebill1049 commented on #858
why are you `register` the button?

[2020-01-17 13:50] bluebill1049 commented on #858
same question in spectrum. dicuss in spectrum

[2020-01-17 13:50] #858 closed

[2020-01-17 13:54] IronSean commented on #854
Yes, the codesandbox is broken, It wouldn't be reproducing the bug if it worked. The validation itself is not the issue. The issue is that during OnBlur, you are reading the text value of the input instead of the Date value of the input that OnChange returns, then passing it back. The issue is just that in OnBlur mode, the OnBlur action is updating the saved values in the controller then writing t

[2020-01-17 14:11] bluebill1049 commented on #854
When I open the codesandbox link it was a dead link that's what I was referring to.

Nobody's fault, it's open-source :) people give it for free, they make mistake and get fixed.

This make sense, happy to adjust.

[2020-01-17 16:03] IronSean commented on #854
Very strange, it still works for me. That was why I was confused. Sorry if my reply was snarky.

I moreso I'm not sure if react-hook-form should change how it handles onBlur, or the DatePicker should be changing how it generates blur events.  Possibly both, but wanted to leave things open to discussion if there was a strong arguement for react-hook-form taking values from OnBlur, etc.

Thank you!

[2020-01-17 19:32] stern-shawn opened #859 "Typescript - Unable to import IE11 supporting code"
**Describe the bug**
Trying to import the ie11 code as described in the browser support FAQ

[code]

Results in `Could not find a declaration file for module 'react-hook-form/dist/react-hook-form.ie11'.` error using latest version v.4.5.5 of `react-hook-form`. I see the file if I navigate to node_modules/react-hook-form/dist, but TS doesn't seem to acknowledge that it's there and casts `useForm` t

[2020-01-17 19:53] stern-shawn commented on #859
I'm able to get around this using the approach in this comment (https://github.com/react-hook-form/react-hook-form/issues/56#issuecomment-538160265), updated for the new `useForm` change where it isn't a default export anymore:

[code]

[2020-01-17 21:30] bluebill1049 commented on #859
aha cool thanks for sharing the answer too @stern-shawn

[2020-01-17 21:30] #859 closed

[2020-01-17 21:32] bluebill1049 commented on #854
I think it makes sense not to update value during onBlur. What do you think guys? @JeromeDeLeon @kotarella1110

[2020-01-17 22:07] bluebill1049 commented on #848
Closing for now until more detail supplied

[2020-01-17 22:07] #848 closed

[2020-01-17 22:08] #852 closed

[2020-01-17 23:50] stern-shawn commented on #859
Could this be included in the repo types so the workaround isn't necessary? I'm happy to do the change myself I just don't have experience adjusting types for a library :)

[2020-01-17 23:55] bluebill1049 commented on #859
would you like to send a PR in our doc to include this information?

[2020-01-17 23:55] bluebill1049 commented on #859
include under this section: https://react-hook-form.com/faqs#BrowserSupport

[2020-01-17 23:56] bluebill1049 commented on #859
eventually we going to deprecate this IE11 version in the near future.

[2020-01-18 00:06] bluebill1049 commented on #833
updated: https://codesandbox.io/s/react-hook-form-usefieldarray-yikiz @tomas-c if you want to double confirm. we aim to release this during this weekend.

[2020-01-18 00:28] tomas-c commented on #833
THere's something weird happening there with 4.5.6-beta4...

1) Reload
2) Press append
3) Observe the state is incorrectly set to dirty=false
4) Press append again
5) Observe the state is correctly set to dirty=false
6) Press inside the last field and then outside it so that onBlur is
triggered
7) Observe the state is incorrectly set to dirty=false again

On Sat, 18 Jan 2020 at 00:06, Bill <notifi

[2020-01-18 00:32] bluebill1049 commented on #833
thanks for testing. i miss this onBlur part.

[2020-01-18 00:42] JeromeDeLeon commented on #851
Why not use `validationSchema`?

[2020-01-18 02:55] bluebill1049 commented on #833
thanks for testing @tomas-c

https://codesandbox.io/s/react-hook-form-usefieldarray-yikiz

let me know if the above CSB solve all the issues.

[2020-01-18 15:26] tomas-c commented on #833
With 4.5.6-beta5

1. Refresh
2. Append twice
3. Delete middle two
4. onBlur on the first one
5. Observe the state is dirty=false but should be true

On Sat, 18 Jan 2020 at 02:55, Bill <notifications@github.com> wrote:

[2020-01-18 16:12] kotarella1110 commented on #851
[code]

[2020-01-18 16:50] kotarella1110 commented on #854
I think so too.

[2020-01-18 22:21] bluebill1049 commented on #833
thanks @tomas-c again https://codesandbox.io/s/react-hook-form-usefieldarray-yikiz patched

[2020-01-19 07:01] bluebill1049 commented on #851
let us know if those answers above are possible alternatives :)

[2020-01-19 11:53] bluebill1049 commented on #854
let us know if this beta version `4.5.7-beta.1` resolve your issue. thanks

[2020-01-19 13:24] tomas-c commented on #833
@bluebill1049 I can still reproduce the issue using the same steps as in the previous message

[2020-01-19 20:34] igo opened #864 "useFieldArray doesn't work in next.js"
useFieldArray doesn't work in next.js and produces ReferenceError: performance is not defined.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start empty next.js project https://nextjs.org/learn/basics/getting-started/setup
2. Create page and add demo from https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv
3. Start nextjs and see error

**Desktop (please complete the follo

[2020-01-19 20:49] bluebill1049 commented on #833
hmmm sorry looks like it's still broken... i will take a look again tonight. thanks for the testing and patient.

[2020-01-19 22:56] bluebill1049 commented on #864
can you test out this beta version: react-hook-form@4.5.7-beta.2

[2020-01-20 02:01] bluebill1049 commented on #833
Try this one: https://codesandbox.io/s/react-hook-form-usefieldarray-yikiz

I have tested your test above, i was try to get aways dirty check with length compare, looks like there is no shortcut. let me know how this one goes. thanks

[2020-01-20 02:11] bluebill1049 commented on #851
I am going to close this issue as there are few alternative suggestions above, feel free to ask more questions on this issue tho. We are happy to find solution for you :)

[2020-01-20 02:11] #851 closed

[2020-01-20 05:16] JakariaAmin opened #866 "formState not updated on first submit"
I am trying to use it in React Native App, latest version of react native and react-hook-form installed.
Registered my form inputs following the documents.

React.useEffect(() => {
    register({ name: 'firstName'}, { required: true });
    register({ name: 'lastName'});
  }, [register])

Only problem is the formState is not updated on first form submit. From the 2nd submit and onward it updates f

[2020-01-20 05:49] bluebill1049 commented on #866
can you try to create expo snack, so we can reproduce the issue?

[2020-01-20 06:01] jamescmartinez opened #867 "Continue with form submission after validation?"
**Is there a way to continue with form submission after validation?**

In my example Codesandbox, when you submit the form it creates an alert but does not continue on to `/contact/thanks` (possible due to `e.preventDefault()` behind the scenes?)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Codesandbox
1. Click `SUBMIT` at the bottom
1. Click `OK` on the alert
* Expected: it con

[2020-01-20 06:08] bluebill1049 commented on #867
you can push routes at `handleSubmit` right?
[code]

[2020-01-20 06:09] NickCullen opened #868 "Conditional Fields cause form to completely fall over (have reproducible solution for you)"
**Describe the bug**
When using conditional fields with controlled custom components, it causes all other fields to unregister and re-register themselves thus resetting the form.

**To Reproduce**
Steps to reproduce the behavior:
1. Set checkbox to 'no'
2. Select item 1 from select box
3. Select item 2 from select box
4. Conditional field will now appear as item 2 is selected
5. Type anything into

[2020-01-20 06:12] bluebill1049 commented on #868
can you please create a codesandbox?

[2020-01-20 06:16] NickCullen commented on #868
Sure, here you go:
https://codesandbox.io/s/dawn-smoke-jc39b?fontsize=14&hidenavigation=1&theme=dark

[2020-01-20 06:44] bluebill1049 commented on #868
can you try out `Controller` see if this solves the issue?

[2020-01-20 07:37] NickCullen commented on #868
Unfortunately I started out with the controller and had more troubles.

[2020-01-20 08:08] bluebill1049 commented on #868
what's the trouble @NickCullen ?

[2020-01-20 08:21] bluebill1049 commented on #868
find the root cause: https://codesandbox.io/s/competent-yonath-fkxuc
patching it.

[2020-01-20 08:26] NickCullen commented on #868
Sorry I’m on my phone and don’t have the resources to whip up an example.

Basically, this bug would still happen but also when I called form.reset(dtoValuesFromServer); the form would reset to the first value that went into the controller rather than the values I was passing into form.reset if that makes sense.

Personally, I much prefer the register/unregister version in our code (as I’ve seen i

[2020-01-20 08:27] bluebill1049 commented on #868
thanks @NickCullen for the detailed reply and codesandbox. It's good you prefer the custom register, and i agree it will give you better control.  i have found the bug and patching it. the above codesandbox should be working now. let me know if you still encounter issue.

[2020-01-20 08:31] NickCullen commented on #868
Amazing!!! Thank you for being very prompt also.

Out of interest, what was the issue?

Kind Regards,
Nicholas Cullen

[2020-01-20 08:35] bluebill1049 commented on #868
it was due to unnecessary `useCallback` dependency, small thing trigger big effect 😢

[2020-01-20 08:51] iufd commented on #864
Fix doesn't work. Did you try it @bluebill1049 ?

[code]

[2020-01-20 08:58] bluebill1049 commented on #864
@iufd didn't run against next.js can you help test this beta: react-hook-form@4.5.7-beta.3

[2020-01-20 09:14] #864 closed

[2020-01-20 09:14] bluebill1049 commented on #864
tested with `next.js`

[2020-01-20 09:30] iufd opened #870 "Is behavior of useFieldArray after 4.5.5 correct?"
Open https://codesandbox.io/s/react-hook-form-usefieldarray-jdwpm.
try to click append several times, then delete items.
In versions 4.5.6 and later values are regenerated after each delete click. In 4.5.5 values are not changed.

[2020-01-20 09:30] mylnikovD commented on #866
Hi guys, I'm having the same issue here, I've created a sandbox featuring more or less the same setup as I'm using
https://codesandbox.io/s/cool-cache-tktvt?fontsize=14&hidenavigation=1&theme=dark
The form.isValid is false on the first click, however the values are accessible via getValues().count, as you can see in console, hope this helps to solve it

[2020-01-20 09:31] iufd commented on #864
Yep, it's working now

[2020-01-20 09:37] bluebill1049 commented on #866
curious why are you guys using isValid for submit mode? as right now isValid is made for onChange and onBlur mode.

[2020-01-20 09:40] bluebill1049 commented on #870
This is a patch that i made over the weekend, if you remove `defaultValue` then you should get expected value. Reason is due to ref callback will not invoke existing node or you will have to do `register({})` for empty validation register. After careful consideration, i think DX is more important here, it's confusing to asking user to use `regsiter({})` vs `register`

[2020-01-20 09:42] mylnikovD commented on #866
That's may be the root of this evil, because I'm using the code from other developer, and he might done this all thing wrong :) Could you please advise how this should be implemented properly?

[2020-01-20 09:44] bluebill1049 commented on #866
I think isValid should be using for onChange or onBlur mode. (sorry i should update the doc) for onSubmit mode your formState will remain invalid until successful submit. I just don't see a good usage of tracking isValid with onSubmit mode. (happy to adjust if anyone can provide a good usage tho).

[2020-01-20 09:46] mylnikovD commented on #866
So should I change the validation mode to `onChange`? The docs are saying that this will affect performance, does it really do much?

[2020-01-20 09:50] bluebill1049 commented on #866
@mylnikovD we are updating the doc for isValid.

Still better than controlled components validation tho, it doesn't trigger re-render each keystroke, but will update errors onChange.

[2020-01-20 10:11] NickCullen commented on #868
@bluebill1049 Apologies, I don't think this is actually completely fixed :(

If you follow the steps then type into the box a second time you can notice the radio option reset back to "yes".

Also, at this point - if you change the value of the radio option back to no, the text in the conditional field will reset and you can no longer alter the value of the radio option.

This happens in the sandb

[2020-01-20 10:15] bluebill1049 commented on #868
hmmm it's working for me. can you send a video of the bug?

[2020-01-20 10:15] NickCullen commented on #868
@bluebill1049 Also I noticed you removed the cleanup to unregister the multi selector from the form on the useEffect but left the text box and radio option cleanup there - was there any reason for this?

[2020-01-20 10:16] bluebill1049 commented on #868
oh that's probably why it's working lol

[2020-01-20 10:17] bluebill1049 commented on #868
i didn't remove it. can you refresh and double check?

[2020-01-20 10:17] bluebill1049 commented on #868
[code]
still there.

[2020-01-20 10:19] NickCullen commented on #868
https://codesandbox.io/s/dazzling-violet-12tlg

Updated reproducable steps

[2020-01-20 10:21] NickCullen commented on #868
For some reason its gone back to how it was originally with https://codesandbox.io/s/dazzling-violet-12tlg :/

[2020-01-20 10:26] bluebill1049 commented on #868
try this codesandbox: https://codesandbox.io/s/competent-yonath-fkxuc ?

[2020-01-20 10:28] NickCullen commented on #868
Just did, and its gone back to how it was originally - any more PR's gone through?

[2020-01-20 10:31] bluebill1049 commented on #868
strange it works for me...

let me write it here and test again:

Set checkbox to 'no'
Select item 1 from select box
Select item 2 from select box
Conditional field will now appear as item 2 is selected
Type anything into the text box
Remove item 2 from select box
Add item 2 back into the select box
Type into the text box and watch the checkbox reset back to 'yes'
Change checkbox to 'no'
text in c

[2020-01-20 10:32] bluebill1049 commented on #868
`Type into the text box and watch the checkbox reset back to 'yes'` didn't happen for me

[2020-01-20 10:33] NickCullen commented on #868
They are the correct steps yeah - although I am seeing the original issue now (and it is using the correct version of form hook)

![image](https://user-images.githubusercontent.com/10437140/72719733-4b10f580-3b70-11ea-958f-c69def3f6ce1.png)

[2020-01-20 10:33] bluebill1049 commented on #868
oh don't use lib, use the src folder! hahah it's not published yet.

[2020-01-20 10:36] tomas-c commented on #833
Couldn't find any issues with this one, thanks!

[2020-01-20 10:40] bluebill1049 commented on #833
oh man finally! thank you! merging

[2020-01-20 10:41] #833 closed

[2020-01-20 10:41] NickCullen commented on #868
Trying to get a video of it, I am using the one you sent me and I'm seeing the behavior from the start of the issue.

[2020-01-20 10:42] bluebill1049 commented on #868
kk thanks. very strange...

[2020-01-20 10:43] bluebill1049 commented on #868
either i miss something or wrong code,

[2020-01-20 10:47] NickCullen commented on #868
Here we go: https://codebase8-my.sharepoint.com/:v:/p/nick_cullen/Ed03P99MhP1PvYn_wftY6CUBSGfgpxv4Ic8DFUlu37DmDw?e=Cq5jak

[2020-01-20 10:49] bluebill1049 commented on #868
try again with this demo: https://codesandbox.io/s/competent-yonath-fkxuc

maybe i didn't save the file.

[2020-01-20 10:55] NickCullen commented on #868
Thanks @bluebill1049 that's working as expecting, and not loosing state with radio options etc.

In my clients project I have referenced "react-hook-form": "^4.5.7-beta.3" and it is all working as expected. Although you said earlier I wouldn't be able to access these changes via that?

I'm quite confused how it's working in my clients project now :)

[2020-01-20 10:57] bluebill1049 commented on #868
lol, clash of betas. i did release a beta which probably include the fix (patch was for next.js)

[2020-01-20 10:57] #868 closed

[2020-01-20 10:59] NickCullen commented on #868
So to confirm this is in that beta branch? :)

Thanks very much for the help!

[2020-01-20 11:05] mylnikovD commented on #866
Anyway, I've just removed this check from onSubmit handler, everything seem to work as I expected now.
Great thanks for your help nevertheless!

[2020-01-20 11:08] bluebill1049 commented on #868
yes. i will release the patch soon with other fixes.

[2020-01-20 11:09] bluebill1049 commented on #866
awesome @mylnikovD thanks for the update. I guess that answer your question as well @JakariaAmin . closing this issue. if still doesn't make sense you can follow up more question or ask at our spectrum channel.

[2020-01-20 11:09] #866 closed

[2020-01-20 11:50] codler commented on #528
@bluebill1049 any plans to bundle mask feature to react-hook-form?

[2020-01-20 11:54] bluebill1049 commented on #528
hey @codler we don't have any plan to handle masking. I think it's better to leave this for the external component library (I think there are components out there). I prefer to keep RHF small, simple and focus.

[2020-01-20 13:36] alonbentura opened #871 "empty array after using remove methood from useFiledArray"
i use filed array to control my array in the form ,  but after i delete one obj in the array and submitting
all of the array is disappearing and not shown in form "getValues" method

[2020-01-20 15:44] jamescmartinez commented on #867
I’m looking for the form to be submitted to the specified URL (as HTML-only forms do when not using JavaScript). I don’t have routing set up since this is on a Gatsby project.

[2020-01-20 16:52] sterjoski opened #872 "Adding validation with useFieldArray"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**
How would you add validation when using useFieldArray?
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-jdwpm
2. Click on 'SUBMIT'
3. No errors are shown

**Codesandbox link**
https://codesandbox.io/s/react-

[2020-01-20 17:11] IronSean commented on #854
Yes, that beta seems to resolve the issue. Thanks!

[2020-01-20 19:28] joejknowles opened #873 "Fix inconsistency between API for different ways to set errors, setError and register"
**Is your feature request related to a problem? Please describe.**
The set error API takes an object to describe the error - `{ name, type, message }` but creating errors with the `register` function is complicated. You can return a string from a function to give a message, and sometimes(?) you can select a type like with validate and nesting a function under a key that represents its type.

**Des

[2020-01-20 20:20] bluebill1049 commented on #867
Gatsby has routing (please look it up) and this lib is made for SPA.

[2020-01-20 20:21] bluebill1049 commented on #872
attach validation into the register function

[2020-01-20 20:22] bluebill1049 commented on #871
can you please submit a CSB?

[2020-01-20 20:24] bluebill1049 commented on #873
can you please give more detail?

[2020-01-20 20:26] bluebill1049 commented on #854
merged

[2020-01-20 20:26] #854 closed

[2020-01-20 20:27] alonbentura commented on #871
what is it cbs?

On Mon, Jan 20, 2020, 22:22 Bill <notifications@github.com> wrote:

[2020-01-20 20:28] bluebill1049 commented on #871
codesandbox, it's in a our issue template (when you submit an issue).

[2020-01-20 20:32] sterjoski commented on #872
@bluebill1049  Are there any examples for this?

[2020-01-20 20:38] bluebill1049 commented on #872
https://react-hook-form.com/api#register

[2020-01-20 20:41] rguinea commented on #871
@bluebill1049 it's not working when I'm using `useEffect` to register a field.

https://codesandbox.io/s/react-hook-form-usefieldarray-94uoe?fontsize=14&hidenavigation=1&theme=dark

[2020-01-20 20:52] bluebill1049 commented on #871
why are you register at `useEffect`? @rguinea

[2020-01-20 20:53] bluebill1049 commented on #871
if you doing the custom register, you would need to unregister yourself.

[2020-01-20 20:54] rguinea commented on #871
Well on the CBS I submitted I don't need it but I'm using select and time pickers which need the custom register. I'm doing the unregister as well.

[2020-01-20 20:55] rguinea commented on #871
Thing is when I do the `remove`, values from other objects in the array appear as `undefined`

[2020-01-20 20:56] bluebill1049 commented on #871
why not using `Controller`? I wouldn't recommend doing register/unregister manually.

[2020-01-20 20:58] bluebill1049 commented on #871
you have a codesandbox for that? (without custom register)

[2020-01-20 20:59] bluebill1049 commented on #871
If you insist on building a Field Array using the custom register, I recommend you build your own Field Array component. https://react-hook-form.com/advanced-usage#FieldArrays

[2020-01-20 21:00] bluebill1049 commented on #867
there you go: https://www.gatsbyjs.org/docs/routing/

[2020-01-20 21:07] jamescmartinez commented on #867
@bluebill1049 I _just_ figured out a solution to my issue right as I saw your reply (what timing!) -- It's different than your suggestion but it might help others who are going down this same path.

[code]
in combination with
[code]
will submit the form the "old-fashioned" way, but only if validation passes. This is the way that was required for Netlify.

Thanks for your help Bill! Hopefully this

[2020-01-20 21:07] #867 closed

[2020-01-20 22:56] bluebill1049 commented on #873
i see what do you mean now:

`set('test', 'wrong')`

vs

`set({ type: 'test', message: 'test' })`

you see you type a lot more. that's the reason why i decided to go with option 1, if you are using TS, it should give you type hint as well.

[2020-01-20 22:56] bluebill1049 commented on #873
for now i don't think we will introduce this breaking change.

[2020-01-20 22:56] #873 closed

[2020-01-20 22:57] bluebill1049 commented on #873
thanks for your suggestion tho.

[2020-01-21 00:51] baeharam opened #874 "Validation is not rendered with antd component"
I'm updating `validateStatus` of antd `Input` component using validation process of this package, but it is not properly rendered. Here is codesandbox and what is the problem?

[![Edit antd with react-hook-form](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/vigorous-dream-zw7ic?fontsize=14&hidenavigation=1&theme=dark)

Thanks

[2020-01-21 01:48] vuhg opened #875 "subscribe api to transiently update fields' changes"
**Is your feature request related to a problem? Please describe.**
Currently i use `useEffect` and `watch` to update fields's changes to `ref`, but it causes parent's component re-rendering too much with `watch`.

**Describe the solution you'd like**
Something likes [zustand's api.subscribe](https://github.com/react-spring/zustand#transient-updates-for-often-occuring-state-changes) would be really

[2020-01-21 01:51] vuhg commented on #875
I think it would increase the number of APIs to learn so i am not sure.

[2020-01-21 01:53] bluebill1049 commented on #874
https://codesandbox.io/s/antd-with-react-hook-form-vm5dr
Here you go :)

[2020-01-21 02:02] bluebill1049 commented on #875
Hey @vuhg i think you watch individual fields right? or using getValues() if you are not watching them.

[2020-01-21 02:12] vuhg commented on #875
No, i watch a group of related fields.
I use multiple quiz forms to decouple them instead of one Form instance, so i can't use getValues.
Multiple forms allow me to easy to refactor and keep the code clean.

[2020-01-21 02:50] bluebill1049 commented on #875
i think you maybe able to improve your sub form with React.memo(), if you using seperate props. I don't think we will introduce more API at this stage, with subscribe API i think it's using context API behind, so i think it's going to somehow board cast updates.

[2020-01-21 02:52] baeharam commented on #874
@bluebill1049 Great solution, but I'm getting "Missing name" warning, what is wrong?

[2020-01-21 02:57] bluebill1049 commented on #874
There is no warning in my example, i think you are register twice in your example.

[2020-01-21 03:42] #875 closed

[2020-01-21 03:47] baeharam commented on #874
Umm...Ok I'll check it myself, Thanks!

[2020-01-21 03:47] #874 closed

[2020-01-21 04:03] bluebill1049 commented on #870
going to close this one, feel free to follow up with more questions.

[2020-01-21 04:03] #870 closed

[2020-01-21 05:07] rguinea commented on #871
Using `Controller` did the trick for me. Thanks!

[2020-01-21 06:20] baeharam opened #877 "reset is not rendered properly"
My intention is clear input fields when user clicks OK button of `Modal` component. But, only value is changed, not rendered properly. How can I fix it?

[![Edit reset is not working](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/crazy-leavitt-bksj7?fontsize=14&hidenavigation=1&theme=dark)

Thanks

[2020-01-21 06:44] bluebill1049 commented on #877
in terms of reset(), you will have to use `Controller` because Antd input doesn't expose `ref`.

https://react-hook-form.com/api#Controller

[2020-01-21 06:52] bluebill1049 commented on #877
in case you didn't know we have a spectrum channel for questions as well. :)

[2020-01-21 06:53] baeharam commented on #877
@bluebill1049 But, I'm using `ref` as props of `Input` component. Is it different from what you're saying?

[2020-01-21 07:18] bluebill1049 commented on #877
Can you console log the ref? And check if it’s really the reference of the input?

Ref={e=> console.log()} I remember it’s an object instead of the actual input ref. You may have to do register inside the callback

[2020-01-21 07:18] bluebill1049 commented on #872
Closing this issue. Feel free to follow up with questions tho.

[2020-01-21 07:18] #872 closed

[2020-01-21 07:30] baeharam commented on #877
I updated, you can see

[2020-01-21 07:38] zeckdude commented on #778
@bluebill1049 I am trying to define a custom validation for one field based on the value of another field, but I am using the `register()` method outside of the render method. For some reason, I am not seeing the console log I added in there though.

[code]

How can I get that to work? And how do I define the error message in this case?

[2020-01-21 07:43] bluebill1049 commented on #778
Are u using setValue with validation?

SetValue(name, error, true)

If the validate method return a string, it will be the error message.

[2020-01-21 07:43] bluebill1049 commented on #778
Have a read at register on the website too

[2020-01-21 07:53] zeckdude commented on #778
Thanks @bluebill1049! I got this to work:

[code]

[2020-01-21 08:10] bluebill1049 commented on #877
see in your own console.
<img width="702" alt="Screen Shot 2020-01-21 at 7 09 49 pm" src="https://user-images.githubusercontent.com/10513364/72786407-9c5cda00-3c81-11ea-92a3-030c21f7fd50.png">

`register(e.input)`

[2020-01-21 08:25] baeharam commented on #877
You mean `register(e.input)` can be the solution?

[2020-01-21 09:00] bluebill1049 commented on #877
let me explain what register does: (please read the documentation as well, it's also in Korean)

`register` is register the input reference into the custom hook, in this example `e.input` contains the actually input reference.

`ref={register}` didn't work for antD input because their ref is an object not actual ref

[code]
will solve the problem. or have a read at Controller, it's an alternative

[2020-01-21 09:21] baeharam commented on #877
I tried all your solutions, but any solution is not working. Controller or callback of ref are not working for my expected behavior. Can you provide solution example for this? or is it bug? Also, document is not intuitive for `Input` component. Why example is for `Select` ? I think `Input` is more general example. Isn't it?

[2020-01-21 09:34] bluebill1049 commented on #877
that's NOT cool. we (all the contributors) spent a lot of time on documentation to make it friendly for developers around the world. There is no way i can fit all the examples.

[2020-01-21 09:49] bluebill1049 commented on #877
1. read the documentation on reset, this is really unfair saying the documentation is  not intuitive.
<img width="853" alt="Screen Shot 2020-01-21 at 8 48 37 pm" src="https://user-images.githubusercontent.com/10513364/72794034-6aeb0b00-3c8f-11ea-9658-f2cb59fe006c.png">

2. here is a working example contains:
 - native
 - controller
 - custom register
https://codesandbox.io/s/reset-is-not-working-g

[2020-01-21 09:49] #877 closed

[2020-01-21 10:21] bluebill1049 commented on #778
short syntax `register('test', { required: true })`:)

[2020-01-21 10:38] jsomsanith-tlnd opened #879 "Error management: clear nested field error"
**Describe the bug**
Hello @bluebill1049, thank you for your hard work.
I upgraded RHF from 3.x to 4.x, and I noticed that the errors are not a dictionnary anymore, but an object, with nested elements.

[code]

But the omitObject method doesn't support that. It takes the name, and omit `obj[name]`.
The result is that on nested structure, there are some methods that don't work, like clearError(name

[2020-01-21 10:38] jsomsanith opened #880 "Error management: clear nested field error"
**Describe the bug**
Hello @bluebill1049, thank you for your hard work.
I upgraded RHF from 3.x to 4.x, and I noticed that the errors are not a dictionnary anymore, but an object, with nested elements.

[code]

But the omitObject method doesn't support that. It takes the name, and omit `obj[name]`.
The result is that on nested structure, there are some methods that don't work, like `clearError(nam

[2020-01-21 10:39] jsomsanith-tlnd commented on #879
Sorry, duplicate #880 880

[2020-01-21 10:39] #879 closed

[2020-01-21 10:49] bluebill1049 commented on #880
thank you! and here is the fix is coming: https://github.com/react-hook-form/react-hook-form/pull/878

[2020-01-21 10:50] bluebill1049 commented on #880
can you please help with testing? 4.6.2-beta.1

[2020-01-21 11:02] jsomsanith commented on #880
Wow that was fast :D
I just tested it and it works. May I suggest you to add a unit test on that ?
Thank you again !

[2020-01-21 11:10] sterjoski commented on #872
@bluebill1049 I'm still having trouble with this. Could you take a look at this? https://codesandbox.io/s/vigilant-chatterjee-mi4jc?fontsize=14&hidenavigation=1&theme=dark

[2020-01-21 11:10] tomas-c opened #881 "formState.dirty not working with useFieldArray async reset API"
**Describe the bug**
formState.dirty differs depending on whether the data vas initialized via defaultValues or via reset() function.  This makes it difficult to handle async-loaded data.

**To Reproduce**
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-fkg1y
2. Append one item
3. Remove the appended item
4. Observe state is incorrectly set to dirty=true

**Expected behavior**
form

[2020-01-21 11:21] bluebill1049 commented on #880
sounds good to me. i will do after release the patch

[2020-01-21 11:22] #880 closed

[2020-01-21 11:22] baeharam commented on #877
@bluebill1049 Sorry for the misunderstanding of my intention, my intention was not ignoring effort of your documentation. Thanks for your detail explanation

[2020-01-21 11:23] bluebill1049 commented on #880
feel free to send a PR for the unit test too, if you got some free time.

[2020-01-21 11:50] bluebill1049 commented on #833
i found another issue and fixing FYI

[2020-01-21 13:36] jsomsanith commented on #880
Here you are @bluebill1049 : https://github.com/react-hook-form/react-hook-form/pull/883

[2020-01-21 19:21] joejknowles commented on #873
Hi @bluebill1049

Sorry I wasn't clear, and I made a mistake quoting the `setError` API. I'll copy some of the docs so we're on the same page.

The `setError` I'm referring to is `setError(ManualFieldError[])`, where ManualFieldError could be `{ name: "age", type: "minimum", message: "You must be over 120" }`

In this case you explicitly set the type and message, whereas in the `register` options,

[2020-01-21 20:44] bluebill1049 commented on #873
yes make sense. I have noted this down and we will be looking into this in the next major release.

[2020-01-21 20:45] bluebill1049 commented on #880
Thank you very much @jsomsanith

[2020-01-21 20:49] #871 closed

[2020-01-21 20:50] bluebill1049 commented on #871
closing issue unless you have more question or supply a Codesandbox to reproduce such issue.

[2020-01-22 01:07] Motoxpro opened #884 "Don't require event for handleSubmit"
When submitting outside of a '< form >' element, it would be nice to not have to carry around an Event to send to handleSubmit. https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L868

From what I can tell we do a check here

    if (e) {
        e.preventDefault();
        e.persist();
      }

and here:

       if (isEmptyObject(fieldErrors)) {
          errorsRef.curr

[2020-01-22 01:32] bluebill1049 commented on #884
Sounds good to me. Want to send a PR?

[2020-01-22 04:45] bluebill1049 commented on #881
This one is working, take a look : https://codesandbox.io/s/react-hook-form-usefieldarray-1m4b0

it didn't work correctly because in my example there is `math.rand()`

[2020-01-22 04:46] bluebill1049 commented on #881
i will re-open if you verify this is still an issue.

[2020-01-22 05:32] bluebill1049 commented on #884
Thanks for the PR.

[2020-01-22 05:32] #884 closed

[2020-01-22 09:39] sabahang commented on #230
Hi, I'm still getting this error with typescript: `Cannot assign to 'current' because it is a read-only property`

[2020-01-22 10:34] tomas-c commented on #881
Ah, missed the rand() when I copied the codesandbox but it doesn't seem to be the main cause. It happens in the modified sandbox that you posted above so still an issue.

[2020-01-22 10:43] bluebill1049 commented on #881
I see the error is around append, remove fields right? in terms of onBlur it's working as expected.

[2020-01-22 10:52] bluebill1049 commented on #881
i think this fixes it: https://codesandbox.io/s/react-hook-form-usefieldarray-1m4b0

[2020-01-22 11:17] goncalolourenco opened #886 "useFieldArray errors empty after remove an item"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/use-field-array-issues-bcygg
2. Click two times on append item
3. Edit the age of all items in the UI to empty ('')
4. Check in the console logs that all fields now have an error associated
5. Click remove one item
6.  The errors field is empty now

**Expected behavior**
I expect the first item to be removed but th

[2020-01-22 11:46] tomas-c commented on #881
dirty setting after onBlur works if append/remove is not done

yup, the new changes seem to have fixed this

[2020-01-22 11:52] bluebill1049 commented on #881
so it's working as expected?

[2020-01-22 13:11] tomas-c commented on #881
On 4.6.2 it doesn't work, on the local react-hook-form version from `./src` in https://codesandbox.io/s/react-hook-form-usefieldarray-1m4b0 - it works

[2020-01-22 14:20] TheMeteoRain opened #887 "formState.touched has to be called in order to work properly"
Hello,

I have been in constant pain because I did not know, that I have to call formState in order for formState.touched to understand what input has been touched. Is this intended, is it documented? This feels so counterintuitive.

I took this codesandbox(in your website): https://codesandbox.io/s/7o2wrp86k6
And edited it into this: https://codesandbox.io/s/react-hook-form-formstate-dirty-touche

[2020-01-22 18:00] joejknowles opened #888 "Asynchronous validation pass overrides synchronous fail"
**Describe the bug**
When an asynchronous validation passes, it overwrites a new synchronous fail. When there's a new synchronous error, it displays immediately, while the asynchronous validation is still running, but then when the asynchronous validation is complete, it overrides the synchronous one. It overrides it whether it's passing or failing. Doesn't matter as much if the async is also fail

[2020-01-22 18:48] Motoxpro commented on #884
Thank you!! Happy for my first Open Source contribution to be on one of my favorite libraries!

[2020-01-22 19:53] Vandell63 opened #889 "Can't wait for the yup context"
** Thank i can't wait to use this library **
I'm a bit tired of formik for many things but also for the performance. In a huge forms i was a bit disapointed. Any way i would like to give a try to yours.

**Is your feature request related to a problem? Please describe.**
Yeah i can't inject specific external value into my yup schema to make more complicated conditional validation

**Describe the so

[2020-01-22 20:56] bluebill1049 commented on #881
oh cool, i will patch with what i did in local.

[2020-01-22 20:57] bluebill1049 commented on #887
you are right, we going to update the documentation on this.

[2020-01-22 21:02] bluebill1049 commented on #884
oh wow that's cool @Motoxpro super happy to hear that and thanks very much for your contribution.

[2020-01-22 21:04] bluebill1049 commented on #889
can you provide some more context on this issue? what do you mean external value into yup schema?

[2020-01-22 21:09] Vandell63 commented on #889
Thx :) , just there -> https://github.com/jquense/yup#mixedvalidatevalue-any-options-object-promiseany-validationerror
Need these options:
[code]
Then you should let us add these options in your code
-> https://github.com/react-hook-form/react-hook-form/blob/065ab57af99eab29eab8164a5686d77c32430978/src/logic/validateWithSchema.ts#L65
->   `values: await validationSchema.validate(data, { abortEarly

[2020-01-22 21:17] bluebill1049 commented on #889
I think we may be going for another approach soon, which is not only support Yup. rather any schema lib.
https://github.com/react-hook-form/react-hook-form/pull/817 you can have your own config there.

[2020-01-22 21:40] chrisdanek opened #890 "Dynamic radio list with validation schema breaks on item delete"
**Describe the bug**
It seems removing one radio field in a list of radio lists with the same name `<input type="radio" name="foo" value="1" />` unregistered all other fields in the list, despite them still being present.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/nostalgic-currying-zoi3x
2. Click on 'Add Field' two times
3. Click on first radio button "1"

[2020-01-22 21:53] bluebill1049 commented on #881
made a beta version for the fix: react-hook-form@4.6.3-beta.1

[2020-01-22 21:54] bluebill1049 commented on #890
maybe consider use array syntax? its pretty tricky to detect which one gets removed with same name.

eg: `name="test[0]"`

[2020-01-22 21:55] bluebill1049 commented on #888
i think you may need to debounce the validation.

[2020-01-22 21:58] Vandell63 commented on #889
Yeah i saw this. Let's wait this. Thank you any way ;)

[2020-01-22 22:09] #881 closed

[2020-01-22 22:16] bluebill1049 commented on #889
cool i will prioritise that until those bugs are resolved.

[2020-01-22 22:16] #889 closed

[2020-01-22 22:27] caged opened #892 "useFieldArray resets form values after deleting item"
**Describe the bug**
All items appended to a field array are reset to the value given at `append` time when you delete an item from the stack.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv
2. Click on the append button a few times
3. Change the text value of the second item
4. Delete the last item

**Codesandbox link**
http

[2020-01-22 23:11] SuperMartas commented on #890
If I use array syntax as you suggest, I can select all the radio buttons in the list at once which is not desired behavior.

[2020-01-22 23:23] bluebill1049 commented on #890
what do you mean by that?

[2020-01-22 23:33] SuperMartas commented on #890
Code like this:
[code]

...will allow the user to select (check) all the inputs, like this:
![image](https://user-images.githubusercontent.com/7558984/72943837-60a43c00-3d77-11ea-8c96-018406f5c197.png)

But in the example, the inputs are like this:
[code]

...which allows the user to select (check) only one input at the same time, like this:
![image](https://user-images.githubusercontent.com/75589

[2020-01-22 23:35] SuperMartas commented on #890
https://codesandbox.io/s/nifty-colden-vjgro

[2020-01-23 00:01] meverlee opened #893 "Nested form fields validation doesn’t get triggered with triggerValidation or on change"
**Describe the bug**
We are using nested form fields (e. g. "person.firstName") in combination with yup validation schemas. The validation gets triggered on onSubmit but it doesn’t work with `triggerValidation(['person.firstName', ...])`. `triggerValidation('person.firstName')` works but the validation doesn’t get triggered when changing the fields input value.

**To Reproduce**
Steps to reproduce

[2020-01-23 00:20] bluebill1049 commented on #893
i think i may have fixed this last night: https://github.com/react-hook-form/react-hook-form/commit/065ab57af99eab29eab8164a5686d77c32430978

[2020-01-23 05:44] nairvishal opened #894 "Issue with firing async custom validation with debounce"
I referred #40 . I want to check if a user is already existing or not. The validate property looks like below -->
[code]
its working but the issue is that it gets fired on every keystroke.

[2020-01-23 06:09] bluebill1049 commented on #894
can you please follow our issue template? or asking question at our spectrum channel with codesanbox.

[2020-01-23 06:25] TheMeteoRain opened #895 "setValues does not update formState.touched if formState is not invoked"
Hello, again.

This is continuation on my last issue (https://github.com/react-hook-form/react-hook-form-website/issues/154). This one is similar and fixes itself if I call formState, but I would NOT want to do that until in submitHandler.

Original codesandbox: https://codesandbox.io/s/react-hook-form-set-inputselect-value-c46ly
Edited codesandox: https://codesandbox.io/s/react-hook-form-set-inpu

[2020-01-23 06:28] bluebill1049 commented on #895
hey @TheMeteoRain,

thanks for provide the issue. I have updated the documentation to reflect the reason behind, and I don't have any plan right now to change that behaviour.

[2020-01-23 06:30] TheMeteoRain commented on #895
That is fine. At least if documented right, it should not matter.

[2020-01-23 06:33] bluebill1049 commented on #895
Proxy is wrapped around formState, if you are not invoke `formState`, re-render is not necessary.

[2020-01-23 06:37] #895 closed

[2020-01-23 08:32] kotarella1110 commented on #892
Why is `defaultValue` attr commented out?

[code]

It works correctly if you remove the comment out.

[code]

[2020-01-23 08:37] bluebill1049 commented on #892
FYI: @kotarella1110 i think there r some issue with useFieldArray, i am busy working over all the issues. next release should make it more solid, that's also the reason i haven't response most of the issues today.

also you want to help to send a PR on those issue you reported on one of the PR. 👍

[2020-01-23 08:42] bluebill1049 commented on #894
shouldn't debounce wrap the entire callback function?

[2020-01-23 15:40] s8990 opened #897 "email Validation dont work correctly"
hi
email Validation dont work correctly
with react-hook-form this email (asdasd@.) !!!
while should minimum 2 charcter between (@ and .) .
also minimum 2character after (.)

Good Luck

[2020-01-23 16:15] caged commented on #892
Confirmed this works in my local code.  I'm almost certain I had `defaultValue`  set before and the bug was still present, but I've been hacking away on my code in different areas, so it's likely I missed when the break occurred.   I upgraded from 4.5.6 to 4.6.2 in the process of making these changes.  It's possible setting `defaultValue` didn't work as expected in the earlier version.

Not comple

[2020-01-23 17:34] Romcol opened #898 "Regression from 3.13.0, comparison between fields / custom errors / form sent with errors"
Hi,

Unfortunately I have encountered some regression trying to update the lib to the last version (4.6.2) :cry: .
I have mostly the same problems I had described in this issue (https://github.com/react-hook-form/react-hook-form/issues/99).

This sandbox works : https://codesandbox.io/s/react-hook-form-seterror-fj6ds?fontsize=14 (3.13.1)
this one doesn't : https://codesandbox.io/s/react-hook-form-

[2020-01-23 17:38] joejknowles commented on #888
I've tried this and get two other issues. If `debounce` has the `{ leading: false }` option, then it fixes this issue ^ but the validation no longer runs on submit. If `{ leading: true }` then it works on submit but the original issue ^ of overriding sync validations is just the same as described above.

Please take a look at the code sandbox, it shows this issue with quite a simple example. https

[2020-01-23 19:16] alexfgo opened #899 "useForm result is not being memoized causing infinite looping while using useEffect"
**Describe the bug**
When using "useForm" the methods returned appear not being memoized, since they are creating an infinite looping when placed in deps array inside useEffect.

[2020-01-23 21:18] dmt0 commented on #227
In case someone else bumps into this. Using example above the error never showed up for me, I needed to do
[code]

[2020-01-23 21:28] bluebill1049 commented on #897
This is just some regex problem right? https://emailregex.com/

[2020-01-23 21:28] #897 closed

[2020-01-23 21:29] bluebill1049 commented on #899
which methods?

[2020-01-23 21:30] bluebill1049 commented on #888
Sure i haven't look closely enough with this issue, but i will after some of the bugs get resolved.

[2020-01-23 21:31] bluebill1049 commented on #227
getValues()?

[2020-01-23 21:34] avtarnanrey commented on #890
Same issue here. I'm badly stuck because of this and can't go back from react-hook-form at this stage.

[2020-01-23 21:38] dmt0 commented on #227
`watch` works fine, just needed to add the part after `||`. The snippet in my message above worked for me.

[2020-01-23 21:42] bluebill1049 commented on #227
nice :) watch will subscribe the input changes, getValues() is cheaper to run.

[2020-01-23 21:45] bluebill1049 commented on #890
I don't have time to looking into this issue for now until bugs on my hands gets resolved (useFieldArray). If anyone can help would be nice, otherwise you will have to wait. I only can do so much at a time.

[2020-01-23 21:46] bluebill1049 commented on #890
If someone have work around, feel free to submit a temp solution too.

[2020-01-23 21:47] bluebill1049 commented on #898
hey @Romcol i will take a look at this soon.

[2020-01-23 21:55] dmt0 commented on #227
Nice! Pretty awesome lib, btw, liking it a lot!

[2020-01-23 21:56] bluebill1049 commented on #893
can you help on testing if this beta solve the problem: react-hook-form@4.6.3-beta.3

[2020-01-23 21:57] bluebill1049 commented on #227
awesome to hear @dmt0 thanks for your support ❤️

[2020-01-23 22:06] bluebill1049 commented on #890
@avtarnanrey i will take a look this right after this bug, but at the same time i don't want to delay your project. feel free to use other lib for now to solve your problem. i will ping you once this issue is resolved.

[2020-01-24 04:39] bluebill1049 commented on #890
fixed: https://codesandbox.io/s/pensive-bouman-v1fzd

[2020-01-24 04:40] bluebill1049 commented on #890
please verify with this beta version: 4.6.3-beta.4

[2020-01-24 04:53] bluebill1049 commented on #894
https://github.com/react-hook-form/react-hook-form/issues/888 similar question here, follow up there

[2020-01-24 04:53] #894 closed

[2020-01-24 04:54] bluebill1049 commented on #886
There is a beta version, feel free to help on testing.

[2020-01-24 04:55] bluebill1049 commented on #892
There is a beta version, feel free to help on testing.

[2020-01-24 04:56] bluebill1049 commented on #892
FYI: also it's safer to inject `defaultValues` than defaultValue, because defaultValue will overwrite value after each re-render.

[2020-01-24 04:57] #893 closed

[2020-01-24 06:21] avtarnanrey commented on #890
It is fixed. Thank you for your quick help @bluebill1049

[2020-01-24 07:24] #890 closed

[2020-01-24 11:23] bluebill1049 commented on #888
what about this solution? https://codesandbox.io/s/tutorial-base-done-7ge59

[2020-01-24 15:06] Tiamanti opened #903 "With validateCriteriaMode: 'all' and mode: 'onChange' errors is not being updated on validation pass"
**Describe the bug**
Return of functions in validate object is not being properly updated in errors object.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-errors-validatecriteriamode-all-j8hqq
2. Click on input field in browser
3. Type "1" into input
4. Notice following errors listed "minLength 10", "lowerCase", "upperCase"
5. Append input with

[2020-01-24 15:16] denizdogan opened #904 "ErrorMessage renders nothing unless an explicit error message is set"
**Describe the bug**
`ErrorMessage` doesn't display anything when validation fails and no explicit error message has been set.

**To Reproduce**
[code]

**Codesandbox link**
[![Edit React Hook Form - ErrorMessage](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-hook-form-errormessage-12qjd?fontsize=14&hidenavigation=1&theme=dark)

**Expected behavior**
I exp

[2020-01-24 16:46] karland commented on #904
I believe, you would need to give it an error message, e.g.:

[code]

or in a different context for checking patterns:

[code]

See more examples here: https://react-hook-form.com/api/#register

But, I agree, it is a little tricky to find in the docs, and it also took me a little while to figure it out. But still, `react-hook-form` is great. Maybe some links in the https://react-hook-form.com/api/

[2020-01-24 17:40] khanakia commented on #788
@andrewnystrom  I am having the same issue. Can you give me some light please how did you solve the issue? It would be great if you can update the Codesandbox example you shared.

[2020-01-24 17:54] andrewnystrom commented on #788
Nope. You’re out of luck. Just like I was when these bimbos didn’t bother
to completely read and understand my question.

On Fri, Jan 24, 2020 at 12:40 PM Aman Bansal <notifications@github.com>
wrote:

[2020-01-24 18:35] caged commented on #892
Looks like this might still be broken.  Here's the sandbox from earlier, updated to 4.7.0-beta.1 and simplified to include only the basics https://codesandbox.io/s/react-hook-form-usefieldarray-23851.  If you follow the same steps to reproduce the original report, you should see it empties all values now.   Setting `defaultValue` "fixes" the issue, but it seems like we should avoid this based on y

[2020-01-24 18:39] khanakia commented on #788
@andrewnystrom Check this I just created a workaround it works fine

https://codesandbox.io/s/react-hook-form-controlled-input-chrome-issue-h67vs?fontsize=14&hidenavigation=1&theme=dark

[2020-01-24 19:00] denizdogan commented on #904
Yeah, didn't mean to complain about the library at all, more like help it get better since I enjoy it so much :) Thanks

[2020-01-24 19:41] chrisdanek commented on #890
Works for me as well, thank you @bluebill1049 ! ❤️

[2020-01-24 19:55] alexfgo commented on #899
Sorry, when I said methods I meant the result of "useForm".
Let me explain better.
Consider the following snippet of code:
[code]

The "setError" function inside deps array is causing an infinite loop.
The same occurs with "methods" object itself.

[2020-01-24 20:42] bluebill1049 commented on #904
thanks @denizdogan next update will allow empty error message :)

[code]

[code]

FYI @kotarella1110

[2020-01-24 20:48] bluebill1049 commented on #892
hey @caged it's not really broken. I guess it's a trade-off of being uncontrolled.

with Controlled state represent the shape of the input, however it does require everything to be in sync, which why each input required a re-render and map every keystroke.

with Uncontrolled, if set default value for individual input, it will get injected each re-render caused by action eg: pre-pend, swap, move an

[2020-01-24 20:49] bluebill1049 commented on #899
I believe the methods object is at your app-level to `memo`, i will double check `setError`, if there is an issue with it, i will patch it :)

[2020-01-24 20:51] bluebill1049 commented on #899
actually take a closer look, it's not due to setError: useCallback(setError, []), because it's already been memo. it's errors object, which is a nest object and it's not going to work as a dependency. however you can use useDeepUseEffect, I believe there is such custom hook out there.

[2020-01-24 20:59] bluebill1049 commented on #788
@andrewnystrom you have validated our code of conduct.

https://github.com/react-hook-form/react-hook-form/blob/master/CODE_OF_CONDUCT.md

- Using welcoming and inclusive language
- Being respectful of differing viewpoints and experiences
- Showing empathy towards other community members

Don't ever come back to our community.

[2020-01-24 21:04] bluebill1049 commented on #903
everything working as expected in your codesandbox.
<img width="552" alt="Screen Shot 2020-01-25 at 8 04 02 am" src="https://user-images.githubusercontent.com/10513364/73103915-49b54380-3f49-11ea-868d-f958601e63d4.png">
<img width="518" alt="Screen Shot 2020-01-25 at 8 03 52 am" src="https://user-images.githubusercontent.com/10513364/73103916-4a4dda00-3f49-11ea-8bf9-bd7179915d4a.png">

am i miss t

[2020-01-24 21:12] caged commented on #892
@bluebill1049 Thanks for the update and the explanation.  I'm OK with using `defaultValue` as a way to get this to work, however I can't imagine a real-world scenario where the default behavior seems desired.  Removing an item completely clears the array inputs.   It doesn't reset back to the `defaultValues` at the form level.

To be sure I'm understanding you, [this behavior](https://streamable.c

[2020-01-24 21:16] bluebill1049 commented on #892
actually let me spend sometimes today, see if we can work around this issue as well. I do have an idea and will check it out today to see if it works.

worse case you will have to stick around with setting default value at `useForm` level or `reset`

eg:
[code]

[2020-01-24 22:58] Tiamanti commented on #903
@bluebill1049 I wasn't explicit enough with instructions. I've corrected them.
At step 8 this should be visible.
![2020-01-24 23_56_50-React Hook Form _ validateCriteriaMode all - Bug - CodeSandbox](https://user-images.githubusercontent.com/1455230/73110082-5e6fe800-3f05-11ea-9a6e-5f13ebc6ce4b.png)

[2020-01-24 23:09] bluebill1049 commented on #903
that's a problem of your regex right?

[2020-01-24 23:15] maithuy opened #905 "How to pass regex rules to `pattern` as variable"
What is the correct way to pass regex value as variable in the pattern?

`ref={register({
                              required: "This field is required",
                              pattern: {
                                value: /`${item.regex}`/,
                                message: `${item.errorMessage}`
                              }
                            })}`

Thanks!

[2020-01-24 23:29] Tiamanti commented on #903
@bluebill1049 If you look at console log you can see that I log what validation functions lowerCase and upperCase are returning correctly.
![2020-01-25 00_18_23-React Hook Form _ validateCriteriaMode all - Bug - CodeSandbox](https://user-images.githubusercontent.com/1455230/73111004-e3103580-3f08-11ea-9be2-b9c85a1b2437.png)
As you can see when input is "1a" lowerCase function is beginning to retur

[2020-01-24 23:45] bluebill1049 commented on #903
thanks, i will investigate on this.

[2020-01-24 23:45] bluebill1049 commented on #905
hey @maithuy you should be able to pass in regex, your example above: you may want to do new `new Regex()` and pass your string

[2020-01-24 23:54] maithuy commented on #905
hi @bluebill1049 I have a task to pass regex rule set by the api, if I hard code the regex, it works, but it doesn't work when I pass regex as variable.

[2020-01-24 23:59] maithuy commented on #905
This works for me

`
ref={register({
                            required: "This field is required",
                            pattern: {
                              value: new RegExp(item.regex),
                              message: `${item.errorMessage}`
                            }
                          })}
`

Thanks so much! It would be very helpful if this info is available in the

[2020-01-25 00:04] #905 closed

[2020-01-25 00:14] bluebill1049 commented on #905
Glad it worked out :) it’s javascript related I think I will leave it out from the documentation. Basically if u want to pass as string you need to use new Regex 👌

[2020-01-25 00:43] maithuy opened #906 "Dynamic TS type for building dynamic form"
Hi,

I'm rendering a form that the fields values are from an api json, what is the best way to create dynamic type?

(https://react-hook-form.com/get-started/#TypeScript)

`
type FormData = {
  firstName: string;
  lastName: string;
};
`

as this needs to be

`
type FormData = {
  field1: string;
  field2: number;
  ....
  fieldn: any
};
`

Thanks!

[2020-01-25 01:50] bluebill1049 commented on #906
you will have to declare your form type. we don't support type check at runtime.

[2020-01-25 01:51] bluebill1049 commented on #906
also please consider asking question at our spectrum channel as some questions can be answered by the community.

[2020-01-25 01:52] bluebill1049 commented on #906
https://spectrum.chat/react-hook-form

[2020-01-25 01:53] bluebill1049 commented on #892
want to try out this beta: `4.7.0-beta.2`?

[2020-01-25 01:58] maithuy commented on #906
Thanks so much @bluebill1049

[2020-01-25 02:01] DarkSouls101 commented on #906
No worries 😉

Sent from my iPhone

[2020-01-25 02:03] maithuy commented on #906
@DarkSouls101 Would you have any suggestions?

[2020-01-25 05:54] #903 closed

[2020-01-25 06:03] bluebill1049 commented on #904
i am going to close this issue, as next release will have this feature above.

[2020-01-25 06:03] #904 closed

[2020-01-25 06:25] bluebill1049 commented on #898
Both forms is blocked during my testing.

[2020-01-25 06:26] bluebill1049 commented on #898
How can reproduce this?

[2020-01-25 09:39] #886 closed

[2020-01-25 10:19] bluebill1049 commented on #892
hey @caged I have released the latest minor update with useFieldArray. let me know if this improve things.

[2020-01-25 10:20] bluebill1049 commented on #886
The latest minor update have been released :) let me know if this resolves the issue.

[2020-01-25 18:19] polRk commented on #63
[code]

formState.isSubmitting is not true

[2020-01-25 19:22] caged commented on #892
4.7.0 appears to behave the same way 😢.  I feel like I'm taking up too much of your time with this, since I have a workaround.  I also have a sneaking suspicion, we might have our wires crossed and the workaround isn't a workaround at all, but the correct way to use the field array hook.

To sum it up:
* [This codesandbox](https://codesandbox.io/s/react-hook-form-usefieldarray-23851) perfectly dem

[2020-01-25 20:10] bluebill1049 commented on #63
make sure you are reading formState before render.

https://react-hook-form.com/api#formState

Important: formState is wrapped with Proxy to improve render performance, so make you have invoke/read it beforerender in order to enable the state update.

that's probably the root cause.

[2020-01-25 20:12] polRk commented on #63
<img width="709" alt="Снимок экрана 2020-01-25 в 11 11 56 PM" src="https://user-images.githubusercontent.com/39828645/73126807-1796f680-3fc8-11ea-9aec-734f3e16a0db.png">

[2020-01-25 20:13] bluebill1049 commented on #63
can you produce a codesandbox so I can reproduce this issue?

[2020-01-25 20:15] polRk commented on #63
No, I did not work with codesandbox and I am sure, it will take long time. I think, you can reproduce this bug using `setTimeout` wrapped in `Promise`

[2020-01-25 20:38] bluebill1049 commented on #892
<img width="759" alt="Screen Shot 2020-01-26 at 7 37 31 am" src="https://user-images.githubusercontent.com/10513364/73127047-c2ca9e80-400e-11ea-8eb9-abaeb9a25d7a.png">

This is the reason why I said you are super kind and understanding. I will take another closer look above today :)

You have a great weekend too ✌🏻

[2020-01-25 20:53] bluebill1049 commented on #892
You are right if you want to re-populate things at runtime. my bad for not reading your question clearly.

[2020-01-25 20:55] bluebill1049 commented on #892
I think it should work fine without `defaultValues`, when you are building an empty form right? also you can use `reset()` API to set the Field Array async.

[2020-01-25 20:56] bluebill1049 commented on #892
Apologize on that part, i don't think i clearly understand your question and scenario while i was reading the issue. Try to solve too many issues at the same time does loose up my focus point. 🙏

[2020-01-25 20:57] bluebill1049 commented on #892
I think we are in a pretty good position for FieldArray now after reading your comments. I am going to close this issue and feel free to follow up more questions 👍 again thanks for being nice and understanding.

[2020-01-25 20:58] #892 closed

[2020-01-25 23:06] gentleShark opened #908 "yup number validation fails when field is not required"
**Describe the bug**
I came across a validation problem for numbers using yup when the field is not required. The problem stems from an empty string being returned from the inputRef instead of null or undefined. The work around was to transform the empty string to "undefined" but it seems like in an ideal world, that transformation shouldn't have to take place.

Validation code like this currently

[2020-01-25 23:24] bluebill1049 commented on #908
Thanks for your issue report. however, It's a false assumpting that the input number will return `null` or `undefined`. react hook form embrace native input and follow HTML input standard here.

[2020-01-26 01:25] #908 closed

[2020-01-26 10:37] bluebill1049 commented on #892
hey, @caged I just saw your donation towards RHF from my email. I have spent you a private email to appreciated your support and love towards the project. again much appreciated.

[2020-01-26 23:39] #899 closed

[2020-01-27 08:12] pyramid-ali opened #912 "Watch changes without rerender"
Hi, there is an option in react form hook that we can watch values change. but there is a problem with it that every time a watching variable changes a re render occur in my components. I know you have a solution in advanced part to use memozation to reduce re renders. but I want a way to listen to variables change without any re rendering. I think it should be handle by adding extra argumnet in u

[2020-01-27 08:17] bluebill1049 commented on #912
hi, in order to get a new updated value, you will have to invoke the function in this particular example is your Component which leads to rendering, however, if you only want to retrieve the value of particular inputs:  use `getValues()`.

[2020-01-27 08:17] #912 closed

[2020-01-27 09:04] pyramid-ali commented on #912
I don't mean to place listener in my component, imagine if listener is a standalone function. then invoking it won't rerender our component.
[code]

[2020-01-27 09:12] bluebill1049 commented on #912
you can achieve this by attach onChange on your input and invoke `getValues()`, i don't have any plan to grow API just yet. Thanks for your suggestion.

[2020-01-27 09:25] Romcol commented on #898
Simply type something in the first field, something different is the second field and submit the form. (See https://drive.google.com/file/d/17ibeJZqLF_pJilVO3xVFTsn0soyIUmeK/view?usp=sharing). Thank you!

[2020-01-27 09:37] bluebill1049 commented on #898
thanks @Romcol i did the same, it was fine. i must have miss something here:
[code]

FYI: v4 you should use `clearError` instead

[2020-01-27 09:42] Romcol commented on #898
Thanks for checking @bluebill1049, the error is still present with clearError unfortunately.

[2020-01-27 09:49] bluebill1049 commented on #898
I see the problem now. `setError` is not going to persist the error during submit, it was more of usage during `handleSumbit`.

eg:
[code]

It's easier to maintain an error message with validate function in your example above. The reason setError is not persis error, because if I going for that route, then you will need to manually add and remove error with the combination of validating function.

[2020-01-27 09:55] bluebill1049 commented on #898
another case made me leave setError not persist. eg:

[code]

then invoke

[code]

then I am running into a question which error should the lib take. so at the end, I realize it's easier to have a single source, while `setError` is more of visual feedback to the user from async validation and ect.

[2020-01-27 10:07] Romcol commented on #898
Ok, so we have to use `setError` twice, in the `onChange` for immediate visual feedback and in the handleSubmit. The thing is we also lose the error if we field is focused out (you can try with the second field). It's unfortunable that there is no simple way of comparing two fields... Have you got any recommandation for this ? Thanks

[2020-01-27 10:09] bluebill1049 commented on #898
use validate function
[code]

[2020-01-27 10:36] michal-demecki-profil-software opened #913 "useFieldArray remove method bug"
**Describe the bug**
When using useForm with useFormArray, there is a bug with removing single element from array by it's index.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to official useFormArray example sandbox: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv
2. Add few elements with any values.
3. Delete any item by it's `Delete` button.
4. See error (all elements rer

[2020-01-27 10:40] bluebill1049 commented on #913
oops, I wasn't using the latest. thanks for the report. updated to the latest version. let me know if you still experience issues.

[2020-01-27 10:51] Romcol commented on #898
Ok thank you, it seems to work. Thought the error is not reset when we edit the first field.

(https://codesandbox.io/s/react-hook-form-seterror-fj1uh?fontsize=14&hidenavigation=1&theme=dark)

To reproduce
- Fill first field
- Fill second field with different password
- Edit first field
=> The error is not reset (if we edit the second field it is reset)

I've tried triggering a validation on the o

[2020-01-27 10:52] NickCullen opened #914 "Strange behviour around reset"
**Describe the bug**
We have a scenario where the form can be submitted and values (such as ID's of entities created server side) get populated and returned from the endpoint. For this reason, we change the state of the stored dto and intend to call form.reset(dtoValuesFromServer).

Though, with our useEffect listening for changes on the dto state, the form becomes completely unresponsive from the

[2020-01-27 11:02] michal-demecki-profil-software commented on #913
Somehow `defaultValue` make it works. Thanks!

[2020-01-27 11:02] #913 closed

[2020-01-27 11:09] kernow opened #915 "Should the 4.7.0 release have been a major release rather than a minor one?"
Assuming you are using semantic versioning for this project, should the 4.7.0 release have been 5.0.0?

If I'm reading the changes correctly then

[code]

Needs to become

[code]

In order to maintain the same functionality.

If this is the case it looks like it's an incompatible API change which does not maintain backwards compatibility and would be more in line with a major release rather than a

[2020-01-27 11:11] bluebill1049 commented on #913
i update the version :) that's the real fix.

[2020-01-27 11:14] bluebill1049 commented on #915
it's only for useFieldArray. https://react-hook-form.com/api#useFieldArray
other usage is not affected, it's not a breaking change as well, we always support `object` as the argument. This change is due to ref callback not going to reinvoked if not pass as a callback.

[2020-01-27 11:17] bluebill1049 commented on #898
your CSB is still using setError not validate function? You may want to use `triggerValidation` if you want to trigger another input's validation.

[2020-01-27 11:19] bluebill1049 commented on #914
line 54 is an empty line? you mean `form.reset(dto);`?

[2020-01-27 11:23] NickCullen commented on #914
Odd, wasn’t empty when I was writing the repo. Steps! But yeah that line!

[2020-01-27 11:24] Romcol commented on #898
Sorry, the CSB was not saved, you can try now. The thing is I don't know where I could use `triggerValidation` Thanks

[2020-01-27 11:28] bluebill1049 commented on #898
https://codesandbox.io/s/react-hook-form-seterror-35ii0

[2020-01-27 11:31] kernow commented on #915
@bluebill1049 thanks for the quick response. We use dependabot to create our PRs for updates which includes a list of changes. I was reading through https://github.com/react-hook-form/react-hook-form/releases/tag/v4.7.0 which had the information.

I can see now it's nested under "😭fix useFieldArray", what threw me was the emoji at the start and I didn't notice it was nested so assumed this was a g

[2020-01-27 11:31] #915 closed

[2020-01-27 11:32] bluebill1049 commented on #915
no worries, thanks @kernow for the heads up for issue like this.  I will go improve the release note as well. thanks

[2020-01-27 11:37] bluebill1049 commented on #914
your codesandbox is quite large and complex, i have created another small CSB, can you help on reproducing it here?

https://codesandbox.io/s/lucid-pine-z7nvs

[2020-01-27 11:45] bluebill1049 commented on #888
is the above solution works for you?

[2020-01-27 12:14] NickCullen commented on #914
Unfortunately only been able to get an hour on the laptop this morning I’ll see if I can get on it later but it may be unlikely

[2020-01-27 13:57] kotarella1110 commented on #904
@bluebill1049 Sorry for the late confirmation, I've been busy. Thanks 🙏

[2020-01-27 14:24] Romcol commented on #898
Ok thanks, but for the component I'm trying to use (@material-ui/pickers embedded with `Controller`, Textfield with `Controller`) the value is actually changed after the `onChange()` is fired. See https://codesandbox.io/s/react-hook-form-seterror-pq5m2

[2020-01-27 15:04] asherccohen opened #917 "getValues and submitting returns empty object on first click, returns correct values on second click"
This could be a regression that was fixed here https://github.com/react-hook-form/react-hook-form/issues/222.
I notice the same behaviour: submitting a form or calling getValues returns an empty object the first time, returns the correct values if pressed again.

I have a form which is build dynamically from data fetched externally.
I build my input components mapping them from a fieldType key in

[2020-01-27 15:31] NickCullen commented on #914
I simplified my solution as I'm used to TS sorry.

additional steps really is that the first submit is returning an empty object and thereafter the form works.

Looks like a [recent issue](https://github.com/react-hook-form/react-hook-form/issues/917) (just after mine infact) was raised with similar steps

https://codesandbox.io/s/aged-pine-705x7?fontsize=14&hidenavigation=1&theme=dark

[2020-01-27 20:48] bluebill1049 commented on #898
https://codesandbox.io/s/react-hook-form-seterror-uty9v

[2020-01-27 20:49] bluebill1049 commented on #904
no worries @kotarella1110 🙏

[2020-01-27 20:51] bluebill1049 commented on #917
getValues() will always return after render(). it's uncontrolled unless you supply with defaultValues. Can you also provide a CSB with your issue, i can have a play and see if we are on the same page.

[2020-01-27 21:39] theweiweiway opened #918 "getValues() does not return same data structure as submit when used with fieldArray"
**Describe the bug**
Calling `getValues()` returns something different than when I submit the form.

**To Reproduce**
Go to the sandbox link and click `submit`. Then click `get values`. You will see different data structures in the console

**Codesandbox link**
https://codesandbox.io/s/thirsty-dewdney-p20hb?fontsize=14&hidenavigation=1&theme=dark

**Expected behavior**
They should return the same

[2020-01-27 22:36] mrasoahaingo opened #919 "watch removed field on useFieldArray"
**Describe the bug**
watched values on array fields seemed to be reset to their default value since there is another rendering

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-o61yj
2. Add some amount on the first line
3. Append a new line and another amounts
4. Append a third line
5. Delete any line
6. See the subtotals being reset

[2020-01-27 22:55] bluebill1049 commented on #918
you want to use `getValues({ nested: true })`

[2020-01-27 22:57] asherccohen commented on #917
Could you elaborate a bit on this?not sure I'm following.
Will try to create a CSB with details but it's become quite a big set of components.
I'm cloning children here and there to make the form dynamic as the form renders in a "stepper" to handle multi-step questions. I've reduced re-rendering with useMemo, could it be that I'm blocking a render needed to getValues()?

[2020-01-27 23:01] bluebill1049 commented on #917
try to reproduce a small CSB to reproduce this issue, we can go from there.

[2020-01-27 23:08] #888 closed

[2020-01-28 00:34] bluebill1049 commented on #912
not going to waste this idea tho, adding to my backlog

[2020-01-28 01:34] theweiweiway commented on #918
Oh. Sorry, thanks!
works great with
`getValues({nest: true})`

[2020-01-28 01:34] #918 closed

[2020-01-28 03:16] bluebill1049 commented on #914
problem happened after `reset()`, all inputs reference gets reset. however in your component, they never gets re-registered again.

[code]

[2020-01-28 03:33] EkaterinaMozheiko opened #920 "Conditional validation"
Is it possible to validate field depending on another field's value? I mean applying different regex patterns like in this example:

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-rhfinput-epkhl?fontsize=14&hidenavigation=1&theme=dark

**To Reproduce**
Steps to reproduce the behavior:
1. Select the Ten value in Select component
2. Type a text value into TextField component
3. Should

[2020-01-28 03:38] bluebill1049 commented on #920
use `validate` and `getValues()`

[2020-01-28 03:38] bluebill1049 commented on #920
please consider using our spectrum channel, i believe similar question is asked there as well

[2020-01-28 03:45] bluebill1049 commented on #920
let me know if the above answer is what you after too.

[2020-01-28 04:16] NickCullen commented on #914
How would I trigger a re-register? As the form all works as expected after hitting submit for the second time? (This triggers another form.reset as the state of the dto has changed)

Kind Regards,
Nicholas Cullen

[2020-01-28 04:19] bluebill1049 commented on #914
if you are using Controller or register using ref then they will get re-register again during re-render.

if you try the following fix will fix your problem.
[code]

you need to re-register your inputs after reset.

[2020-01-28 04:27] EkaterinaMozheiko commented on #920
Thank you! That's exactly what i was looking for!

[2020-01-28 04:28] bluebill1049 commented on #920
awesome to hear :)

[2020-01-28 04:28] #920 closed

[2020-01-28 04:58] NickCullen commented on #914
Sorry if I’m being daft here but that code is already in the custom components I’ve made?

I have the useEffect watching the form.register value - is this incorrect? I’ve seen it stated on the API docs. Like that.

[2020-01-28 05:01] bluebill1049 commented on #914
[code]

look at my example above, i removed your `register` dependency. it's basically run each render, i am not recommending this, but just showing you why it's working without the dependency. otherwise it will only invoked once despite reset is invoked.

[2020-01-28 05:47] bluebill1049 commented on #919
If you want to consistently working the inputs value and fields. I would recommend you to use controlled inputs for such behaviour.

`watch()` is made for watching inputs change which happens after inputs finished render and user interaction.

[2020-01-28 05:48] bluebill1049 commented on #919
In the meantime i will try to do a demo with uncontrolled FieldArray with your example, but i think it would be difficult.

[2020-01-28 06:07] bluebill1049 commented on #919
on top of my head here is an example: https://codesandbox.io/s/bold-sound-7lej4

[2020-01-28 06:41] bluebill1049 commented on #914
Alternatively you can call register after reset

[2020-01-28 08:39] NickCullen commented on #914
OK, that did seem to fix the issue but could possibly foresee a few issues:
1. Memory leaks by not returning a cleanup to unregister
2. constant registrations every render is going to cause performance issues on large forms?

It kind of feels like a hacky fix to mask the underlying bug.

But if this is genuinely the intended way to register custom components, then the [API docs for unregister](htt

[2020-01-28 08:48] bluebill1049 commented on #914
like i mentioned above, i am not recommending this approach and using Controller is better approach here.

No, register method do check if input already get registered. useForm does clean up during unmount.

Yes, definitely.

There is no underlying bug in this issue as i have explained above, except the usage which is to find a way to re-register your inputs after reset.

Feel free to submit a PR

[2020-01-28 08:51] bluebill1049 commented on #914
[code]

[2020-01-28 08:57] RixBai opened #921 "How to set value to array input"
How to set value to array input in react hook form?

[2020-01-28 09:03] bluebill1049 commented on #921
normally i would close issue like this right away. i think you are pretty new, so please follow our issue template, if you have questions ask at our spectrum channel plz.

use this api, you can set value to array input https://react-hook-form.com/api#setValue

[2020-01-28 09:03] #921 closed

[2020-01-28 09:04] NickCullen commented on #914
Ok thanks for the help!

This may be my lack of react knowledge but do you know of a way making deeply nested custom input components re register themselves gayer a reset?

Would I have to keep refs to them? I was hoping this library would prevent the need for refs.

[2020-01-28 09:09] bluebill1049 commented on #914
make your component wrapped with `Controller` (i know you heard me mention it 100 times) but i think it will make ur life easier. make sure your component expose `onChange`, because `Controller` will read your component's value via `onChange`.

eg:

[code]

you can read more here: https://react-hook-form.com/api#Controller

[2020-01-28 09:10] #914 closed

[2020-01-28 09:52] Romcol commented on #898
Ok thx, I managed to do it like this https://codesandbox.io/s/react-hook-form-seterror-hkcm7, using validate as such
[code]

[2020-01-28 09:53] bluebill1049 commented on #898
awesome :)

[2020-01-28 09:53] #898 closed

[2020-01-28 10:51] asherccohen commented on #917
Ok thanks @bluebill1049 so here's the codesanbox:

https://codesandbox.io/s/wizardly-pine-m95in?fontsize=14&hidenavigation=1&theme=dark

Must say, I found the problem but your help is still appreciated.
You will see that the code won't work, to make it work go to the Form component and comment out the <FormContext>

<img width="508" alt="Screenshot 2020-01-28 at 11 46 39" src="https://user-images.

[2020-01-28 11:02] bluebill1049 commented on #917
I have made video the other day for building multiple steps funnel just like yours, maybe it's worth to check out.
https://www.youtube.com/watch?v=CeAkxVwsyMU

[2020-01-28 11:23] asherccohen commented on #917
Cool, that's what I followed to get inspiration from.
Things that differ from my approach:
I can't use little-state-machine in my project so I built stateContext which works brilliantly.
I couldn't use routes, therefore I built the Stepper.

Nothing wrong with that I assume, it's more the fact of making the buttons work with the formContext and be able to submit at the end.

Your thoughts?

[2020-01-28 11:31] bluebill1049 commented on #917
nothing wrong with your approach. as long as it works. I would host each form submitted data into a global context update with handleSubmit instead of using `getValuers()`. Your CSB is huge to review, i would expect a smaller version to reproduce the "issue".

[2020-01-28 11:50] asherccohen commented on #917
That is actually a perfect suggestion. I can use submit to partially save the state, I'll find a way to hide the buttons when there's a form inside the step.

Thanks for brainstorming.

[2020-01-28 11:57] bluebill1049 commented on #917
i am going to close this issue now as it's not really a bug with the API. let me know how did you go with my suggestion too.

[2020-01-28 11:57] #917 closed

[2020-01-28 12:12] asherccohen commented on #917
Your suggestion works perfectly, it reduces complexity and avoids having to use the formContext in the Stepper. I just had to find a way to tell the stepper not to show its default buttons but it wasn't too hard.

[2020-01-28 12:31] asherccohen commented on #917
Now I can't set default values when I move back to a previous step...but that's another story...

[2020-01-28 15:56] prog13 opened #922 "Impossible to obtain the values of uncontrolled nested inputs (?)"
**Describe the bug**
Not sure if bug or intended behaviour, but here goes: it's impossible to consistently obtain the values of uncontrolled nested inputs.

**To Reproduce**
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-8tklv
2. Click on 'append'
3. Type something to the new input or the default input
4. Notice how 'input length' counter doesn't change

**Codesandbox link**
https

[2020-01-28 16:49] sterjoski opened #923 "material-ui RadioGroup with Controller not updating visually"
**Describe the question?**
Radio buttons with material-ui aren't updating visually, am I doing something incorrectly?
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/vigilant-chatterjee-mi4jc?fontsize=14&hidenavigation=1&theme=dark
2. Click on click on any radio button
3. Click on submit
4. See that the value is changed but the radio button isn't checked (the de

[2020-01-28 20:05] bluebill1049 commented on #917
keep it simple (why i built RHF as well)

[2020-01-28 20:28] bluebill1049 commented on #922
you may have to do the following:

https://codesandbox.io/s/bold-sound-7lej4

I think there is some fundamental difference between controlled FieldArray. I guess it's a trade-off with uncontrolled. If you need to consistently update field value and amount of inputs, I would recommend using controlled, while uncontrolled give you the benefit of better performance because not all input's onChange wi

[2020-01-28 20:28] bluebill1049 commented on #922
It's also related to this issue: https://github.com/react-hook-form/react-hook-form/issues/919

[2020-01-28 20:29] bluebill1049 commented on #922
i will update the website FAQ section soon with this question as well.

[2020-01-28 22:18] prog13 commented on #922
Controlled inputs definitely allow for more precise control over the form data, I'll implement that. But there's much less code with uncontrolled 😸

Thanks for the tip!

[2020-01-28 22:41] bluebill1049 commented on #922
I wouldn’t say controlled is more precise. Uncontrolled input are what browsers made us for. However if u want to read each inputs and re-render each time and be in sync with the state not just the inputs values, then it make sense to go controlled, because u want to control and monitor the changes not only inputs value but also amount of inputs. Personally I prefer uncontrolled as it’s more natur

[2020-01-28 22:41] #922 closed

[2020-01-28 22:45] bluebill1049 commented on #919
I will update the web documentation around this issue today as well.

[2020-01-28 22:50] bluebill1049 commented on #923
thanks for the issue report.

The problem is you are not matching your data type: string vs number.

`return parseInt(args[0].target.value);`

[2020-01-28 22:50] #923 closed

[2020-01-28 23:07] bluebill1049 commented on #914
Thinking about this issue over the night, maybe we shouldn't reset all input reference. because nothing should be removed or added during reset action, which means you won't have to re-register inputs.

[2020-01-28 23:21] ryanwalters opened #924 "Unexpected fields values with useFieldArray when watch fields"
**Describe the bug**
I'm not 100% sure that this is a bug, but I know that what is happening is not what I expected.

When setting `defaultValues` on an array with `useForm`, I would expect the result `fields` array using `useFieldArray` to contain those values as-is rather than becoming mangled.

**Example:**
[code]

This issue then snowballs into other issues when trying to display, append, dele

[2020-01-28 23:34] bluebill1049 commented on #924
I think a lot of people having this concern and question: https://github.com/react-hook-form/react-hook-form/issues/919

i will update the website soon, i think you are expecting the form to be controlled, but indeed it's not, watch() API is not same as state, watch is for watching input change after input rendered.

[2020-01-28 23:58] ryanwalters commented on #924
Ah ok, I only included `watch` to compare the values side by side. The values inside of `fields` are what I was trying to point out. I removed `watch` from the codesandbox example. It's possible I'm misunderstanding something, in which case I wouldn't mind seeing that updated documentation. 😄

[2020-01-29 00:00] bluebill1049 commented on #924
I will do that tonight :)

[2020-01-29 00:37] rogerchi opened #926 "Calling reset() in onSubmit to clear the form leaves it in an inoperable state"
**Describe the bug**
Using Yup as the validationSchema, call reset() in the onSubmit function.  The form successfully submits, but is not able to be submitted again if you refill the inputs.

**To Reproduce**
Steps to reproduce the behavior:
1. Fill in form
2. Submit
3. Fill in form again
4. Attempt to submit

**Codesandbox link**
https://codesandbox.io/s/new-tree-i91ut

**Expected behavior**
You

[2020-01-29 03:04] bluebill1049 commented on #926
I see the problem now: https://codesandbox.io/s/autumn-paper-fonnt

because you didn't supply a `defaultValues` and reset with empty argument.

inside lib source code:

`register: useCallback(register, [defaultValuesRef.current]),`.

so change your `reset()` to  `reset({})` will make it work. I will update the doc to reflect this issue too.

[2020-01-29 05:12] koug opened #927 "useFieldArray example from documentation doesn't set "dirty" flag when replacing import ./src statement"
**Describe the bug**
useFieldArray example from documentation doesn't set form "dirty" when replacing import ./src statement to "react-hook-form"

**To Reproduce**
Replace second line import to "react-hook-form"
Codesandbox: https://codesandbox.io/s/react-hook-form-usefieldarray-1w4eh

**Expected behavior**
"formState.dirty" flag should be set to true when adding and removing items from field arra

[2020-01-29 05:58] pilotola opened #928 "Field Array, converts output numbers to string."
Hi

I have a form that contains (among other) this input box:
< input type="number" name={`filterConfigurations[${index}].nthMessage`} className="form-control" ref={register} />

When I submit the form, the value is in a string (and not a number, that is what I expected).

{"filterConfigurations":[{"nthMessage":**"12"**,"timebasedIntervalSeconds":"","whenContentChanges":false}]}

As you can see, a

[2020-01-29 06:00] bluebill1049 commented on #928
this is expected behaviour as native number input does return value as string, unless calling valueAsNumber, however that introduce other issue like NaN. we recommend user to do your own transform over data and native input will consistently return string.

[2020-01-29 06:10] #927 closed

[2020-01-29 06:10] bluebill1049 commented on #928
closing this :) feel free to follow up with questions.

[2020-01-29 06:10] #928 closed

[2020-01-29 06:46] bluebill1049 commented on #924
I may have a work around, will try out tonight

[2020-01-29 07:30] NickCullen commented on #914
Yeah it does sound like a bug tbh. I would expect the values to reset to the default values passed into useForm or the values passed into the reset method if there were any

I wouldn’t of imagined unregistering the fields was a viable /expected solution to the reset function.

[2020-01-29 07:55] #926 closed

[2020-01-29 07:56] bluebill1049 commented on #919
closing this issue and will continue on #924

[2020-01-29 07:56] #919 closed

[2020-01-29 09:28] NickCullen commented on #914
I don’t know what happened to your comment - perhaps you removed it?

Your comment came through via my email though hence the reply that looks out of context!

Either way, are you still in the same mindset?

[2020-01-29 09:57] bluebill1049 commented on #914
hey @NickCullen i removed, after testing there are  few issue caused by not reset the refs. remove those inputs reference was the correct decision.

[2020-01-29 10:09] NickCullen commented on #914
No worries, is there a possibility of exposing an “on reset” callback or something we can listen for with a useEffect to be able to re-register our inputs upon reset?

[2020-01-29 12:12] ThewBear opened #931 "Add getErrors"
**Is your feature request related to a problem? Please describe.**
Current `errors` object is nested which is hard to reach when creating a custom form component that accepts the name programmatically.

The following example will not works if `name` use dot/bracket syntax.
[code]
**Describe the solution you'd like**
Implements `getErrors` that works like `getValues` but returns the flattened error

[2020-01-29 12:15] bluebill1049 commented on #931
thanks for your suggestion and it's been noted. we will be looking into it in the next future release.

[2020-01-29 12:15] #931 closed

[2020-01-29 15:15] koug commented on #927
Thank you!

[2020-01-29 17:50] maithuy commented on #926
@bluebill1049 The reset doesn't take effect if one of the fields has been pre-filled with known value so the users don't have to type in, and therefore there's no change in the defaultValues. Is there a way to reset the form manually? Thank you!

[2020-01-29 19:06] codinglabsdev opened #932 "TypeError property 0 is non-configurable and can't be deleted - Firefox"
**Describe the bug**
When using a file type input in Firefox and unmounting a component, the `unsetObject` function (`src/utils/unset.ts, line 26`) tries to delete an element of FileList Array. In Firefox, this object is non-configurable, throwing an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Using Firefox, create a form with an input file and register it in react-hook-form
2. Ad

[2020-01-29 19:34] ryanwalters commented on #924
Digging into this a little bit, it looks like the issue stems from `appendId` (see [mapIds.ts#L12](/react-hook-form/react-hook-form/blob/master/src/logic/mapIds.ts#L12)). That function spreads `value`, which doesn't work as intended with string values. This would seem to only work when `fields` is an array of objects, and give inconsistent results for other values (e.g. array of strings, array of

[2020-01-29 20:42] bluebill1049 commented on #926
@maithuy you have a codesandbox for this problem?

[2020-01-29 21:11] bluebill1049 commented on #932
awesome find, please supply with a CSB. I will investigate into the fix.

[2020-01-29 21:21] bluebill1049 commented on #924
@ryanwalters try this CSB: https://codesandbox.io/s/bold-sound-7lej4

[2020-01-29 21:24] maithuy commented on #926
@bluebill1049 I re-used the example above
[https://codesandbox.io/s/happy-meadow-cq3kd](url)

Thanks.

[2020-01-29 21:33] bluebill1049 commented on #926
invalid link :(

[2020-01-30 01:53] maithuy commented on #926
I've updated the CSB link again. Thanks very much for a prompt reply.

[2020-01-30 02:01] bluebill1049 commented on #926
[code]

@maithuy

[2020-01-30 04:46] joelNguyenn1010 opened #934 "useFieldsArray prepend error"
I try to prepend value to fields in useFieldsArray and the value got duplicate. For example
I try to prepend "1" and then "2" and then "3". The result gave me are "1", "1", "3"
Here is my code
![image](https://user-images.githubusercontent.com/38491434/73420715-91880080-4377-11ea-9171-bba6d669091b.png)
![image](https://user-images.githubusercontent.com/38491434/73420733-a5cbfd80-4377-11ea-977f-127

[2020-01-30 04:48] bluebill1049 commented on #934
please submit a code sandbox and follow our issue report template.

[2020-01-30 04:58] #934 closed

[2020-01-30 05:11] blakecannell opened #935 "useFieldArray replacing entire array with invidual objects"
Hi team, first of all thanks for the hook, you've made porting my application over to hooks a pleasure.

I'm having an issue with useFieldArray whereby simply appending an item to the array seems to serialise the array and add each as a seperate value in the parent form.

I've forked your example sandbox and added a `JSON.stringify` to print the form state to illustrate the issue. To reproduce, si

[2020-01-30 05:12] blakecannell commented on #935
Note: Even more strange, using the `prepend` function in this sandbox with reset the form to it's default state. 😬

[2020-01-30 05:23] bluebill1049 commented on #935
i think this is a duplicated issue which we are working on. https://github.com/react-hook-form/react-hook-form/issues/924 which i believe involve with watch the field array value.

[2020-01-30 05:25] blakecannell commented on #935
Ah, no stress thank you! Apologies for not searching harder before opening a new issue!

[2020-01-30 05:25] #935 closed

[2020-01-30 05:26] bluebill1049 commented on #935
no worries at all. you can keep monitoring on that issue. we are working hard over a solution for it.

[2020-01-30 05:27] blakecannell commented on #935
Actually, that issue seems to be related to `fields`, not the parent form state generated by `getValues`?

[2020-01-30 05:29] bluebill1049 commented on #935
that issue is related to `watch()` which is return the field array values.

[2020-01-30 06:28] muhaimincs opened #936 "Form won't trigger onSubmit upon press enter in textarea"
Please consider answer the question at spectrum channel.

https://spectrum.chat/react-hook-form/help/submit-form-on-textarea-keypress-enter-event~e18bc0a1-d013-4828-895c-2eb00908b00f

**Describe the question?**
I have a `textarea` in the form and I want to trigger the form `onSubmit` when user press Enter

[code]
 and here is the `handleUserKeyPress` function
[code]

[2020-01-30 06:32] bluebill1049 commented on #936
`handleSubmit(onSubmit)();`

[2020-01-30 06:45] #936 closed

[2020-01-30 10:27] bluebill1049 commented on #924
`react-hook-form@4.7.3-next.0` try this next version

[2020-01-30 15:16] ryanwalters commented on #924
I'll give it a look at some point today. Thanks for the speedy turnaround!

[2020-01-30 20:28] bluebill1049 commented on #924
oh sure PR welcome @ryanwalters

[2020-01-30 20:48] bluebill1049 commented on #924
yes we only support `objects`

[2020-01-30 20:50] bluebill1049 commented on #924
sorry for not reading your issue carefully... that was my bad. yes, right now we don't only support object due to the nature of uncontrolled inputs which required unique id during mapping. I will update documentation accordingly. apologize for not reading your issue carefully, I get overwhelmed by issue around watch() and assume the issue was the same.

[2020-01-30 22:02] orteth01 opened #937 "className prop support for ErrorMessage component"
**Is your feature request related to a problem? Please describe.**
We really like the `ErrorMessage` component but would like to be able to pass `className` to it.

**Describe the solution you'd like**
`ErrorMessage` could accept a `className` prop.

**Describe alternatives you've considered**
We could use the provided render prop and add the className there or wrap the ErrorMessage in another ele

[2020-01-30 22:15] bluebill1049 commented on #937
Thanks for the detailed feature request.

https://react-hook-form.com/api#ErrorMessage

Check out the doc on the usage, it accept render prop. So you can assign class name or even modify how u want the error message to return.

[2020-01-30 22:30] bluebill1049 commented on #937
@kotarella1110 what do u think of spread the props?

[2020-01-30 22:38] orteth01 commented on #937
Thanks for the fast reply! We're aware of the render prop but would love a simpler approach, if possible.

[code]

vs

[code]

it's a bit easier to Grok IMO and less code.

[2020-01-30 22:39] bluebill1049 commented on #937
I do agree with above :) in terms of `span` as default: I prefer to be less opinionated about what to render, someone will arg `p` tag is better and ect...

[2020-01-30 22:41] bluebill1049 commented on #937
feel free to send a PR around spread props and @kotarella1110 can review your change as well :)

[2020-01-30 23:33] kotarella1110 commented on #937
I also agree with this!
If @orteth01 can't send this PR, I will it.

[2020-01-31 00:16] ryanwalters commented on #924
Are you open to supporting strings and arrays as well as objects? It seems like a useful feature to me (obviously 😄). We can probably work out an API that is not a breaking change.

The change I proposed above would be a breaking change, but seems cleaner to me. A non-breaking solution would be to set a `value` property only when the incoming `value` is not an object. I'm happy to open a PR for ei

[2020-01-31 00:20] matheusffatg opened #938 "Improve watch performance"
I've noticed that when we use `watch('field')` it gets the values for all fields in the form before it can actually watch for it.
This is problematic when using `useFieldArray` which could potentially have lots of rows that can be watched.

![image](https://user-images.githubusercontent.com/59067561/73501845-f9404a80-437b-11ea-9550-11b7a07d44bd.png)

here is what the current code looks like:
[code