[2020-04-21 09:46] bluebill1049 commented on #1210
@zenzjtech it's really simple https://codesandbox.io/s/react-hook-form-controller-079xx?file=/src/index.js

[2020-04-21 11:03] #1459 closed

[2020-04-21 12:22] bluebill1049 opened #1461 "Version 6"
React Hook Form: next major version 6 planing

⚽️Goals:

💻 Primary: Focus on Better TS support
🏋🏻‍♀️ Secondary: Lose weight 8.9KB 💁‍♂️ Aim at (7KB)
👨🏻‍💻 Bonus: Refine lib's API

✌🏻 Feel free to leave us suggestions and things to be improved too.

[2020-04-21 12:26] bluebill1049 commented on #1461
Closing as an issue, but please feel free to leave suggestions.

[2020-04-21 12:26] #1461 closed

[2020-04-21 12:31] bluebill1049 commented on #1421
we will try to resolve this issue at v6: https://github.com/react-hook-form/react-hook-form/issues/1461

[2020-04-21 13:23] beqramo opened #1462 "[React Native] Proxy doesn't exist"
After updating on react native 62.2 it throws an error that proxy doesn't exist

[2020-04-21 13:44] bluebill1049 commented on #1462
what's 62.2? which version of RHF?

[2020-04-21 14:08] JoshuaKGoldberg commented on #1382
@bluebill1049 I'm confused about the open/close strategy for issues here. Does closing the issue and keeping the tag on mean you're still accepting PRs? What's the difference between open and closed?

Either way, would you mind leaving it open? My workaround works so if nobody else gets to it I can write up these docs soon.

...and there are [lots](https://www.reactiongifs.us/wp-content/uploads/20

[2020-04-21 16:13] micaww opened #1464 "Validation errors with undefined paths get added as "undefined" key to "errors""
**Describe the bug**
If you have any errors in your schema that have undefined paths, they will get added to the "errors" output with a path of "undefined". Having multiple of these scenarios, such as when using the `test` method on yup, they will overwrite each other in the error output.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form with a validation schema that has a failin

[2020-04-21 16:33] AlexJangam commented on #73
I have a reverse scenario, where my field names are dynamic(user defined) and allows .(dot), and 'react hook form' is considering as a nested object. I want to consider it as plain key. Is there a attribute or option that I can mention to form that its not nested?
<input name='first.second' value=""/>
its not {first : { second: ''}} but {'first.second': ''}

[2020-04-21 16:57] kamranahmedse opened #1465 "setValue not working in the latest release"
**Describe the bug**
`setValue` is not setting the form values in the latest release.

**To Reproduce**
* Open the codesandbox links given below
* Click the "Click Me" button in the preview

**Codesandbox link (Required)**
* Working 5.4.2 — https://codesandbox.io/s/festive-morse-m8cxm?file=/src/App.js
* Not Working [Latest] — https://codesandbox.io/s/winter-cdn-w8wp7?file=/src/App.js

**Expected b

[2020-04-21 18:41] manualva7 commented on #1457
Thanks man! That worked. It was tricky because I had to wrap the TextField component instead of the whole Autocomplete component. Keep up the good work. 💪💪💪

For whoever gets stuck as I did, this is the final code. control has to be passed from parent since it must live with the rest of the useForm elements.

[code]

[2020-04-21 18:46] kyle-mccarthy commented on #1465
It also looks like the new version broke the `setValue` typings.

[code]

Results in the following TS error.

[code]

[2020-04-21 20:06] ErikAGriffin commented on #1335
For anyone visiting this post in the future, make sure when styling your custom radio/checkbox inputs that you are not hiding the actual `input` element with `visibility: hidden;` or `display: none;`

Instead set the opacity to zero and the blurring of the radio element will still be triggered

[2020-04-21 21:56] manualva7 commented on #1457
CORRECTION!

Wrapping Controller over TextField doesn't work. Here is the working example:

[code]

[2020-04-21 22:10] bluebill1049 commented on #1465
hey, @kamranahmedse make sure you are registered at `useEffect`, otherwise, each render will refresh the registration. The latest patch introduce `ref` compare to avoid component unmount and remount problem.

https://codesandbox.io/s/elastic-sinoussi-urxkm?file=/src/App.js

[2020-04-21 22:10] bluebill1049 commented on #1465
@kyle-mccarthy can you give more context on the issue above, did you define type at useForm?

[2020-04-21 22:13] bluebill1049 commented on #73
@AlexJangam we are using dot to detect nested object, it's difficult or impossible to differentiate.

[2020-04-21 22:17] bluebill1049 commented on #1382
@JoshuaKGoldberg I try to maintain the issues logs here, as you have seen i have left this issue for 2 weeks plus and there is no one provide a solution. I am happy to open this issue for another 2 weeks but it creates noise for me to concentrate and maintain the log and certainly I don't want this to be leave on the issue log forever if no one or someone provide a solution. Also even it's closed

[2020-04-21 22:21] bluebill1049 commented on #1335
Thanks @ErikAGriffin I have made an improvement on toggle registration, you may want to take a look at the latest version. Doing ref compare now :)

[2020-04-21 22:22] bluebill1049 commented on #1457
Thanks for sharing the solution.

[2020-04-21 22:24] bluebill1049 commented on #1465
FYI @kotarella1110

[2020-04-21 22:25] bluebill1049 commented on #1462
Can you take a screenshot of the error log?

[2020-04-21 22:26] bluebill1049 commented on #1462
we are trying to detect Proxy. https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L122

[2020-04-21 22:31] kyle-mccarthy commented on #1465
@bluebill1049 Sorry, I thought they were related issues and didn't provide enough context. I am actually having the problem when using `useFormContext`. With 5.4.2 it worked without providing the FormValues generic to the context.

[2020-04-21 22:42] bluebill1049 commented on #1465
@kyle-mccarthy you want to provide a codesandbox and let us investigate it?

[2020-04-22 00:05] kotarella1110 commented on #1465
It is a bug caused by this PR (https://github.com/react-hook-form/react-hook-form/pull/1412). I will fix this.

[TypeScript Playground](https://www.typescriptlang.org/play/?ssl=41&ssc=19&pln=41&pc=32#code/PTAEBcE8AcFNQGIHsBOBbAagQwDYFdYBnUAXlAG8AoEUWw8FASwDsBzALlHqbYG5qwtZnjQAjWCk7CxE-jVpJRAK1gBjcJyrzaoaeMm6R+uYJ2ikSHLCzNO5y9eYmdAX2e0sKFFkiaBOugYWDi4gvn8A+ysbOwtopwjQFwBtAF1nN0pKKDhEVExcAmIyACU1VAA

[2020-04-22 01:11] bluebill1049 commented on #1464
This should fix it: https://codesandbox.io/s/bold-bush-0ig15?file=/src/src/logic/validateWithSchema.ts

[2020-04-22 02:06] #1465 closed

[2020-04-22 02:20] #1464 closed

[2020-04-22 03:41] Sebastian- opened #1472 "Updating validation errors with a controlled component (Material UI)"
**Describe the question?**
How do you update validation errors when using a controlled component (Material UI <TextView select />)?

**Codesandbox link (Required)**
[Code Sandbox](https://codesandbox.io/s/goofy-chandrasekhar-yntsw?file=/src/App.js)

**To Reproduce**
1. Submit form without a selection -> "Required" error message is displayed
2. Make a selection -> Error message persists instead of

[2020-04-22 03:45] bluebill1049 commented on #1472
Take a look at this example: https://codesandbox.io/s/react-hook-form-controller-2c52i?file=/src/index.js

[2020-04-22 04:14] Sebastian- commented on #1472
Thanks! The sandbox was really useful in narrowing things down, The problem was that I didn't pass the Controller's props onto my component 😓

[2020-04-22 04:14] #1472 closed

[2020-04-22 06:39] irekrog commented on #1462
Same here

react-native: 0.61.5
react-hook-form: 5.5.2

and on the 1328 line is this:
[code]

[2020-04-22 06:40] iamrenzx opened #1473 "Autocomplete and RFH Controller"
Hi i have a problem with regards to MUI autocomplete and RFH Controller. I want to return the second controller to null if the value changes on the first controller. I tried to `setValues('secondCountry',null)` but it doesn't change the value inside the field.

Created codesandbox here:
https://codesandbox.io/s/suspicious-tereshkova-nhtme?file=/src/App.js:0-1434

[2020-04-22 06:43] bluebill1049 commented on #1473
Take a look examples here: https://github.com/react-hook-form/react-hook-form/issues/1247

[2020-04-22 06:49] bluebill1049 commented on #1462
thanks @irekrog can you do a quick test with this beta version: `5.5.3-beta.3`

[2020-04-22 06:57] irekrog commented on #1462
@bluebill1049

It works fine now with `5.5.3-beta.3` :)

[2020-04-22 07:09] #1462 closed

[2020-04-22 07:18] bluebill1049 commented on #1473
it's optional because you need to either supply at useForm defaultValues or defaultValue. you need to supply a default value, just like how you need a default state for controlled component.

[2020-04-22 07:18] bluebill1049 commented on #1473
<img width="985" alt="Screen Shot 2020-04-22 at 5 18 34 pm" src="https://user-images.githubusercontent.com/10513364/79952148-4fc1ae80-84bd-11ea-9117-805c323f2991.png">

https://react-hook-form.com/api#Controller

[2020-04-22 07:18] #1473 closed

[2020-04-22 08:06] Demonell opened #1476 "First typed latter does not trigger after errors have been shown in Redux"
**Describe the bug**
First typed latter does not trigger after errors have been shown. Error appears only when using Redux and manually control value of input.

**To Reproduce**
Steps to reproduce the behavior:
1. Press sumbit button. Error text appear.
2. Try to type any latter to Input.
3. On first press error message will dissapear but latter will not be typed.
4. Latter will be typed only on 2

[2020-04-22 08:33] bluebill1049 commented on #1476
you are mixing uncontrolled with controlled:

https://react-hook-form.com/faqs#Whyisfirstkeystrokeisnotworking

[2020-04-22 08:33] #1476 closed

[2020-04-22 11:10] bluebill1049 commented on #1441
did you have a chance to test the beta version?

[2020-04-22 12:01] bluebill1049 commented on #1461
- [ ] remove `validationSchema`

- [ ] remove `<ErrorMessage />`

[2020-04-22 13:00] #1441 closed

[2020-04-22 15:28] Louis-Chen opened #1477 "setValue have bug in lastest vsesion"
this demo working in 5.1.3
i try to use setValue to update value but i did not  working

Demo code
https://codesandbox.io/s/dreamy-tdd-kbvc4?file=/src/Form.js

[2020-04-22 22:24] marrkeri opened #1478 "TypeScript Controller value force me to use optional? in my type"
**Describe the bug**
I am using Controller and my custom Textfield which props contains value as string - not nullable/undefined. <Controller /> is underlined with this message
Property 'value' is missing in type '{ name: string; as: FC<TextboxType>; }' but required in type 'Pick<TextboxType, "value">'.ts(2741)

**To Reproduce**
Steps to reproduce the behavior:
1. I have this only one value test
[

[2020-04-22 23:28] bluebill1049 commented on #1477
hey @Louis-Chen can you write the steps to reproduce this issue?

[2020-04-22 23:34] bluebill1049 commented on #1478
`control` is optional, because it will either read from the props or `context`, so conclusion you will need `control` props

[2020-04-22 23:35] bluebill1049 commented on #1478
<img width="1002" alt="Screen Shot 2020-04-23 at 9 35 07 am" src="https://user-images.githubusercontent.com/10513364/80043686-bdb1b880-8545-11ea-83af-5855196a0a36.png">

[2020-04-22 23:36] bluebill1049 commented on #1478
let me know if this makes sense, or perhaps you have a better suggestion to improve the docs.

[2020-04-23 04:23] Louis-Chen commented on #1477
i use two way to set field value

if  i input value in field , and submit , react-hook-form cant get field value

another way is change value by setValue , submit form will get field value but input value not changed

[2020-04-23 04:42] bluebill1049 commented on #1477
what's the steps to produce the issue with the above code sandbox? so i can see the bug and fix if there is one.

[2020-04-23 05:20] bluebill1049 commented on #1477
it's working for me: https://codesandbox.io/s/react-hook-form-553-bug-oimsb

[2020-04-23 06:06] Louis-Chen commented on #1477
maybe demo in my desktop will be clear,

this is v.5.5.3 screen capture
![react-hook-form 5 53](https://user-images.githubusercontent.com/20965813/80064673-2eb79700-856b-11ea-8b71-57aa53661f91.gif)

and this is use in v.5.1.3 version
![react-hook-form 5 1 3](https://user-images.githubusercontent.com/20965813/80064760-6e7e7e80-856b-11ea-8d01-859d71613d2d.gif)

demo code
https://codesandbox.io/s/rea

[2020-04-23 06:21] bluebill1049 commented on #1477
oh i see the issue now.

[2020-04-23 06:23] bluebill1049 commented on #1477
wait, you register again with a custom register which overwrites it.

[2020-04-23 06:23] bluebill1049 commented on #1477
remove that `useEffect`.

[2020-04-23 06:33] bluebill1049 commented on #1477
by register again with the same name without `ref`, you are wiping the `ref` inside the hook.

[2020-04-23 06:43] Louis-Chen commented on #1477
oh ok  i see ,thanks, this issue can close

[2020-04-23 06:49] bluebill1049 commented on #1477
awesome! thanks for raising this issue and clarify the concern.

[2020-04-23 06:49] #1477 closed

[2020-04-23 07:02] marrkeri commented on #1478
I am sorry I have forgotten control={control} when I prepared demo, but it is same.
https://codesandbox.io/s/cocky-bose-iuee2

![image](https://user-images.githubusercontent.com/39760343/80068647-462d5a80-8540-11ea-8973-10e4a31a39b1.png)

I have also tried to use context but it is same (with and without control prop):
![image](https://user-images.githubusercontent.com/39760343/80069162-3104fb80-85

[2020-04-23 07:05] bluebill1049 commented on #1478
https://codesandbox.io/s/admiring-dubinsky-s7bb8

because your Input component required a `value` prop

[2020-04-23 07:14] marrkeri commented on #1478
Thank you for quick response, but is there any way how to use Textbox instead of input with type checked. I have used ControllerProps but this doesn't help

![image](https://user-images.githubusercontent.com/39760343/80070020-9ad1d500-8542-11ea-9681-d7eeced4a9c0.png)

only if I use ControllerProps<any> but then value: any

[2020-04-23 07:32] bluebill1049 commented on #1478
what about this: https://codesandbox.io/s/admiring-dubinsky-s7bb8?file=/src/App.tsx?

[2020-04-23 07:32] marrkeri commented on #1478
Finally I have found the way. Is it the way how you would use it?

![image](https://user-images.githubusercontent.com/39760343/80071607-38c69f00-8545-11ea-8ef2-082469ba6f36.png)

[2020-04-23 07:35] marrkeri commented on #1478
Just not sure why value is any instead of string, but it can be consumed by mu custom components.
![image](https://user-images.githubusercontent.com/39760343/80071851-9e1a9000-8545-11ea-8190-a80af08e04d1.png)

[2020-04-23 07:36] bluebill1049 commented on #1478
because the external components can return other types: number, object and etc.

i did this instead:

`as={<Textbox value="" onChange={() => {}} />}`

[2020-04-23 08:02] zenzjtech commented on #1210
Yes, I've figured out now! Sorry for the the obvious ignorance.
It seems for Controlled React-number-format, it's necessary to add the `name: value` of the field to `defaultValues`.

[2020-04-23 08:09] marrkeri commented on #1478
Great thank you for your time, finally I have got it. Awesome support and of course lib.

[2020-04-23 08:09] #1478 closed

[2020-04-23 08:10] bluebill1049 commented on #1478
anytime @marrkeri 👍

[2020-04-23 11:50] rvision opened #1481 "Problems with setValue()"
**Describe the bug**
setValue doesn't set the array values properly in "react-hook-form": "^5.5.3",

**To Reproduce**
A lot of versions react-hook-form were released in last couple of days, so I don't know if this is some version specific, but after updating it doesn't work as it was day before.
If I try to submit invalid form, errors are displayed properly, but when I select any department (data

[2020-04-23 11:52] bluebill1049 commented on #1481
you should put those

register({ name: 'departments' });
register({ name: 'employees' });

inside a useEffect, otherwise each render will re-register a new input into hook form.

[2020-04-23 12:02] rvision commented on #1481
Wow :)

Thanks a lot, that exactly was the issue.

[2020-04-23 12:02] #1481 closed

[2020-04-23 12:13] bogdansoare commented on #1452
I don't really understand understand how it is submitted if the `onSubmit` handler hasn't ran?

[2020-04-23 12:54] alekseykarpenko opened #1482 "watch() returns undefined when trying to pass object as defaultValue"
**Describe the bug**
`watch()` returns `undefined` when trying to pass object as `defaultValue` (second param). Object as value required for some controlled inputs, e.g. `react-select`

**To Reproduce**
[code]

**Codesandbox link (Required)**
https://codesandbox.io/embed/react-hook-form-controller-0bjid?file=/src/index.js

**Expected behavior**
`watch()` should return correct value if object was p

[2020-04-23 12:55] bluebill1049 commented on #1482
https://github.com/react-hook-form/react-hook-form/commit/4117816bc5ee0801be12dd3ebaaabb6ff78cec8c

just merged

[2020-04-23 12:55] #1482 closed

[2020-04-23 21:28] leleuvilela opened #1485 "Error in GetValues ​​api example"
In the API, on the website, more precisely in [GetValues](https://react-hook-form.com/api/#getValues) the example has the parameter {nested: true} the correct one would be {nest: true}.

I know it's just a silly thing, but ask at least an hour to figure it out, thinking there was a bug in the react-hook-form

[2020-04-23 21:53] braginteractive commented on #1433
@h-sakano @bluebill1049 only problem with that solution is you can't set the default checked value?

[2020-04-23 22:40] bluebill1049 commented on #1485
thanks, fixed.

[2020-04-23 22:40] #1485 closed

[2020-04-24 05:06] leonidez commented on #1441
hello @bluebill1049 and thank you for reaching out again! i was able to use the umd file as-is from the current version by modifying our build process slightly, similar to the replace that you're doing in the commit referenced above.

Thanks again for the quick responses and the resolution. It's good to see lib authors committed to their projects and gives a lot of confidence in choosing this pack

[2020-04-24 05:08] bluebill1049 commented on #1441
hey @leonidez 👍  I closed the issue because the code has been merged. can you do a double check if this works for you `react-hook-form@5.4.3-beta.1` before I release the real version?

[2020-04-24 05:10] leonidez commented on #1441
Sure, I can take a look this weekend. Will let you know.

[2020-04-24 05:15] bluebill1049 commented on #1441
thanks @leonidez

[2020-04-24 06:28] lapico opened #1488 "Slow input change when using formState"
I just want to report a something strange I've seen using the library.

**Bug**: when clicking / focusing different inputs, I had to wait several seconds before the validation to be triggered and focus to be changed to the new field.

**Solution** : Strangely what solved this was to put `register()` calls in an effect (rather than in the fields `ref` prop).

Tested on a Redmi Android device.

Usin

[2020-04-24 06:31] bluebill1049 commented on #1488
Yes, `useEffect` is the right place to do it, and plus you can use `Controller` as well. I probably should update some of the examples in the doc.

[2020-04-24 06:39] lapico commented on #1488
Yes react native examples (using yup validation schema, controlled / uncontrolled components, ...)  would be great.

Thanks !

[2020-04-24 06:40] bluebill1049 commented on #1488
i will take a look now.

[2020-04-24 06:40] bluebill1049 commented on #1488
where is it?

[2020-04-24 06:42] lapico commented on #1488
where is what ?

[2020-04-24 06:44] bluebill1049 commented on #1488
oh you mean to give an example! sorry misunderstood.

[2020-04-24 06:44] lapico commented on #1488
Would you recommend using Controller when using React Native, is it better ?

[2020-04-24 06:45] bluebill1049 commented on #1488
`Controller` is better if you can get hold of the `focus` ref. This is a web example: https://codesandbox.io/s/react-hook-form-controller-auto-focus-5tru5 but you can get the idea.

[2020-04-24 06:53] lapico commented on #1488
Thanks. I like the simplicity without Controller (like in the code sample above), I hope there is no performance hit using this approach. It's not clear when and why to use Controller versus custom register...

[2020-04-24 06:57] bluebill1049 commented on #1488
What you have above is probably the cheapest in terms of perf.

`Controller`

- when you want to reset an input
- when you want to focus on an input which has an error
- when you working with external lib

[2020-04-24 07:05] vladshcherbin commented on #1488
A section explaining when it's better to use register or Controller for web/react-native would be great, especially for newcomers. Still don't get it 😥

[2020-04-24 07:08] bluebill1049 commented on #1488
`Controller` is basically doing the register inside :( they r the same thing except `Controller` is a wrapper and does a bit more for you. @vladshcherbin

[2020-04-24 07:09] bluebill1049 commented on #1488
@vladshcherbin are you working on `native` or `web`?

[2020-04-24 07:09] vladshcherbin commented on #1488
@bluebill1049 web

[2020-04-24 07:10] bluebill1049 commented on #1488
@vladshcherbin imagine when you working with `react-select`, `mui` and `and` with `Controller` it can take care of those registration for you as a wrapper.

[2020-04-24 07:12] bluebill1049 commented on #1488
@lapico I have updated the validate schema section to include a react native example :) going to close the issue now :) feel free to follow up with more questions.

[2020-04-24 07:12] #1488 closed

[2020-04-24 12:40] powah opened #1489 "Controller causes "Cannot read property 'split' of undefined""
**Describe the bug**
Exception occurs if default value for a field is provided via `useForm`'s `defaultValues`.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit codesandbox link provided below
2. See error

**Codesandbox link (Required)**

- [CodeSandbox](https://codesandbox.io/s/react-hook-form-controller-template-l7z8w) for reproducing

[2020-04-24 12:49] bluebill1049 commented on #1489
read the doc, you are missing the name.

[2020-04-24 12:49] #1489 closed

[2020-04-24 12:52] powah opened #1490 "Controller defaultValue prop does not override form defaultValues"
**Describe the bug**
As documentation about `Controller` prop `defaultValue` states:

but it appears it's not the case (please check provided CodeSandox link)

**Codesandbox link (Required)**

- [CodeSandbox link](https://codesandbox.io/s/react-hook-form-controller-bi819) to reproduce

[2020-04-24 23:24] bluebill1049 commented on #1490
updated. thanks

[2020-04-24 23:24] #1490 closed

[2020-04-25 02:19] bluebill1049 commented on #1421
In the meantime, have u considers to use ErrorMessage component?

[2020-04-25 07:40] mtford90 commented on #598
The problem seems to be here:

[code]

The return type of register is either `(ref: Element | null) => void` or `void` - and the `ref` property does not like `void`

[2020-04-25 16:38] priyankpat opened #1494 "Inconsistent behaviour on React Native after v5.5.2"
**Describe the bug**
There are 2 inconsistent behaviours that i've noticed with the release of 5.5.2.
1. When the field is required and **true** parameter is passed in with setValue function:
- It does not submit the form, rather it throws required error.

2. When the field is required and **true** parameter is not passed in with setValue function:
- It submits the form with correct value once and

[2020-04-25 18:52] GrigoryanSasun opened #1495 "Efficient subscription to field value changes"
**Is your feature request related to a problem? Please describe.**

Hey everyone. First of all, I would like to thank all of you for putting a great amount of effort to create this library! I really love how simple yet effective `react-hook-form` is!

One of the issues that I have noticed is that using `watch` to listen to field value changes results in unnecessary re-renders. Consider the example

[2020-04-25 23:38] bluebill1049 commented on #1495
Hey @GrigoryanSasun

Thanks for your detailed feature request. This is exactly what we are trying to solve at this stage, in fact we have a ticket on our V6 board for this, so I will probably close this issue (feature request). Here is the insight of our implementation, nothing is confirmed and still under investigation stage.

[code]

Let me know your thoughts on this implementation/api.

[2020-04-25 23:41] bluebill1049 commented on #1494
@priyankpat Please register those fields in the `useEffect`, and let me know if this issue still persists. I will need to update the video on the website.

[2020-04-26 04:15] ahce opened #1496 "The value of file input is reset on second render in versions >= 5.5.2"
**Describe the bug**

When the file is selected, on first render the value is ok, but in second render the it's reset.

![image](https://user-images.githubusercontent.com/12452003/80297453-0e493180-8751-11ea-908c-489d68a6f914.png)

**To Reproduce**

Steps to reproduce the behavior:
1. Select file
2. Check the console log
3. Try again with version 5.5.1

**Codesandbox link**
- https://codesandbox.i

[2020-04-26 04:36] bluebill1049 commented on #1496
The problem is due to register gets re-run each render:
correct usage: https://codesandbox.io/s/react-hook-form-file-bug-m83qr
or register at `useEffect`

[2020-04-26 05:05] ahce commented on #1496
Thanks!, register on mount effect works!

[2020-04-26 05:09] #1496 closed

[2020-04-26 08:07] GrigoryanSasun commented on #1495
Hey @bluebill1049

Thanks for the quick response. This is exactly what I am looking for. Also, are you considering to implement a similar API for error subscription? It seems that the `errors` object contains all the error forms and will force unnecessary re-renders, too.

[2020-04-26 08:14] bluebill1049 commented on #1495
No, I don’t think so.

[2020-04-26 08:30] bluebill1049 commented on #1495
going to close this issue, you can keep an eye on the progress of V6: https://github.com/react-hook-form/react-hook-form/pull/1471

[2020-04-26 08:30] #1495 closed

[2020-04-26 08:53] vladshcherbin opened #1498 "Add possibility to constantly revalidate touched field on change"
**Is your feature request related to a problem? Please describe.**
At first, I thought it's a bug, however after reading docs a few times I believe it's intended. When `mode: 'onBlur'` and `reValidateMode: 'onChange'` field validation works like this:

validation for field using yup, required, min 3
- enter input text
- on blur it's validated, error added
- after you change input text, it's revali

[2020-04-26 09:05] bluebill1049 commented on #1498
Thanks for your request feature, however, I don't think at this stage we will need more mode or methods to trigger validation, consider the validation in this lib is quite flexible, `mode` `reValidateMode` and if those don't work for you then you can switch to manually `triggerValidation` the validation and combined with `formState`.

[2020-04-26 09:05] #1498 closed

[2020-04-26 09:09] vladshcherbin commented on #1498
@bluebill1049 setting manually such validation requires more work and is provided by default in other form libraries for a long time, that's why I was asking for same kind of validation here. Are you really sure it's not possible to add it as a new value in `reValidateMode` or something? 😢

[2020-04-26 09:18] vladshcherbin commented on #1498
Actually, `mode: 'onChange'` kinda works this way, my bad 🤔

[2020-04-26 09:26] bluebill1049 commented on #1498
That's whats I thought as well and perhaps combined with touched fields.

[2020-04-26 09:52] vladshcherbin commented on #1498
@bluebill1049 yeah, after second look found related issues https://github.com/react-hook-form/react-hook-form/issues/1430, https://github.com/react-hook-form/react-hook-form/issues/1321. However, I also need this: https://github.com/react-hook-form/react-hook-form/issues/1222, so it validates in all modes.

Thank you for such quick response and suggestions, looking forward to see `all` mode or mul

[2020-04-26 10:03] bluebill1049 commented on #1498
working on the next major version at the moment will put #1222  on the next todo 👍

[2020-04-26 11:20] FatehAK opened #1500 "Problems with Field Array when used with react-beautiful-dnd"
**Describe the bug**
I am facing an issue with Field Arrays when the used alongside with the react-beautiful-dnd. I am trying to achieve drag and drop with the Field Array. But there is an issue that while dragging and dropping the field key of a Controller component within the field array is removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/modern-shap

[2020-04-26 11:22] bluebill1049 commented on #1500
I would recommend not to use `useFieldArray` with drag and drop task, take a look this example with custom register: https://react-hook-form.com/advanced-usage#Workingwithvirtualizedlist

[2020-04-26 11:51] FatehAK commented on #1500
It seems to work fine with uncontrolled components. Its just the Controller component that has this issue when used with Field Array.  How do you use custom register for a Controller component?

[2020-04-26 11:56] bluebill1049 commented on #1500
as building your own Field Array, but register input inside of `useEffect` so it's like a virtual input.

[2020-04-26 11:58] bluebill1049 commented on #1500
also, your CSB is broken as well, but it will be tricky to get it working with external D&D libs.

[2020-04-26 12:13] FatehAK commented on #1500
Updated the CSB Link : https://codesandbox.io/s/modern-shape-6v9d6?file=/src/App.js
Damn that's too bad useFieldArray seems so nifty.

[2020-04-26 12:21] bluebill1049 commented on #1500
I will take a look at it anyhow @FatehAK, but it's an external dependency so it probably won't work nicely.

[2020-04-26 12:25] FatehAK commented on #1500
Thanks for the prompt replies @bluebill1049 I understand. I will look into it further

[2020-04-26 14:19] powah commented on #1495
I encountered the same issue with `errors` and wanted to ask the same as @GrigoryanSasun did. @bluebill1049 why watchable `errors` isn't a consideration? Errors are needed deeply and trigger FormContext rerender quite often and I don't see the other easy way to retrieve them. Any advice here?

[2020-04-26 15:03] priyankpat commented on #1494
@bluebill1049 using [useEffect](https://snack.expo.io/6L6BNVphh) hook seems to have solved the problem. Thanks for the pointer! Closing this issue.

[2020-04-26 15:03] #1494 closed

[2020-04-26 15:33] FatehAK commented on #1500
I think DnD clashes with the Controller components, it works perfectly fine when uncontrolled (when using a simple input component). I've been at this for hours can you help me with the sandbox on this. Thanks

[2020-04-26 17:21] FatehAK commented on #1500
On further investigation, I found that this is isn't a DnD issue at all. There is an issue with the `swap` and `move` methods calling them to swap the fields and then calling getValues() later on button click seems to afffect the Controller components(their key is removed) and then key gets added back on any subsequent field change.
Please checkout this sandbox:
https://codesandbox.io/s/magical-me

[2020-04-26 20:22] dandv opened #1504 "Anyone else confused by the form builder?"
**Is your feature request related to a problem? Please describe.**
I've just learned about this library and was happy to see it has a [form builder](https://react-hook-form.com/form-builder). I went to that page, and... was confused for several minutes. I've used tons of form builders before, when making survey and using other component libraries. But this one, confused the heck out of me :)

**De

[2020-04-26 21:18] john-law opened #1505 "Error shows only after first attempt to submit"
### Preamble
Thank you for this library. I'm just experimenting but it seems amazing. Also: great Docs/Website.

### Bug Description
Error only shows after a first attempt to submit the form. After an attempt to submit (i.e. clicking 'Save' independently of whether it's valid or not) it works as expected.

### Basic Reproducible Example

[Link to Codesandbox](https://codesandbox.io/s/determined-cu

[2020-04-26 21:38] IPWright83 opened #1506 "Custom Validation on a single field?"
I'm not sure if I'm finding the docs confusing or whether it's not possible/documented.

I want to run some custom validation, which I believe I can do with a `customResolver`. However I only want to do this for some custom fields, the majority of the fields I'm using the built in validation works fine. Is it possible to achieve this as I can only see it being done at the `useForm` level which app

[2020-04-26 22:11] bluebill1049 commented on #1506
you have to use either build in or validation resolver/schema.

[2020-04-26 22:11] #1506 closed

[2020-04-26 22:12] bluebill1049 commented on #1505
you want to switch the mode to `onChange`

[2020-04-26 22:20] #1504 closed

[2020-04-26 22:22] bluebill1049 commented on #1504
Thanks for your effort to drop your complaints about the builder page, this is a form lib consider the builder as a bonus.

[2020-04-26 22:24] bluebill1049 commented on #1500
oh, nice! interesting found I haven't got time to looking into it yet, happy for you to drive the fix too. questions: why it's working for uncontrolled?

[2020-04-26 22:33] dandv commented on #1504
I was just providing some suggestions, feel free to ignore them :)

And thanks for the great library! I like it much more than formik and others.

[2020-04-26 22:37] bluebill1049 commented on #1504
Thanks for your suggestion. I will improve the builder after lib's next major version.

[2020-04-26 23:38] john-law commented on #1505
Thank you for the response. I don't necessarily want to have the `onChange` event listeners attached from the beginning, I wanted the error after the field is touched, which even with `onChange` mode won't work.

I reckon I could work around this maybe by using `formState()` perhaps, but I thought this was the default behavior from the example in the 'Form Builder', i.e., if I "skip" the first fie

[2020-04-26 23:49] kyle-mccarthy opened #1507 "[TS] Types of property 'setError' are incompatible."
**Describe the bug**
This is a ts typings related bug. If the default values contain an array, types of setError are incompatible. This happens when tsconfig has strict set to false, in strict mode the TS error doesn't occur.

[code]

**Codesandbox link (Required)**
https://codesandbox.io/s/strange-flower-bs6u3?file=/src/MyForm.tsx

[2020-04-26 23:53] bluebill1049 commented on #1505
I think you can still fire those errors with `onChange` but have a condition with formState's touched.

[2020-04-26 23:55] bluebill1049 commented on #1507
@kotarella1110 could you please take a look this one?

[2020-04-26 23:57] john-law commented on #1505
As clarified, the reported issue is the expected behavior. Issue closed.

[2020-04-26 23:57] #1505 closed

[2020-04-27 00:00] bluebill1049 commented on #1461
Progress: https://github.com/react-hook-form/react-hook-form/pull/1471

[2020-04-27 00:13] #1382 closed

[2020-04-27 00:23] kotarella1110 commented on #1507
I will look into this.

[2020-04-27 02:15] #1507 closed

[2020-04-27 02:44] zooboole commented on #769
If you have any text input check the type. In my case I had this:

`keyboardType={'phone-pad'}`

Then I changed to

`keyboardType={'numeric'}`

[2020-04-27 05:45] FatehAK commented on #1500
Exactly swap/move work fine for uncontrolled inputs. I don't get it either. Can you have a looksie when you got time?

[2020-04-27 06:02] bluebill1049 commented on #1500
What're the steps to reproduce the issue in your codesandbox above? @FatehAK

[2020-04-27 06:15] FatehAK commented on #1500
1) Enter values in the first text field for both points (1 & 2)
2) Click on the `Swap` CTA
3) Click on `Debug` CTA
4) Check console you can see that the 0th element in the FieldArray `BookingPoints` doesn't have the `Address` key on it

[2020-04-27 07:30] frankie567 commented on #598
This seems fixed with `react-bootstrap@^1.0.0` (at least). The trick I mentioned above is not needed anymore, so I guess we can move on now 🙂

[2020-04-27 08:05] bluebill1049 commented on #1500
Try this CSB: https://codesandbox.io/s/romantic-kare-igm7u?file=/src/src/controller.tsx

[2020-04-27 08:09] FatehAK commented on #1500
Works fine!! Was that a bug? Can you describe what happened?

[2020-04-27 08:14] bluebill1049 commented on #1500
@FatehAK I am still working on it.

[2020-04-27 08:15] rajpraful opened #1511 "watch function not updating when user enters value in watching field"
Assume we are using watch function to validate two fields 'password' and 'repeat password' and repeat password has a validation that its value should be same as a watch(password).

When the user enters wrong password in 'repeat password' and clicks 'submit', an error message is displayed. After seeing the error message, if the user changes the value of 'password' to match with 'repeat password', t

[2020-04-27 08:18] bluebill1049 commented on #1511
can you please test on a later version? this is version 3 and we on v5 plus.

[2020-04-27 08:19] bluebill1049 commented on #1511
also, pay attention to the validation mode as well, currently, it's `onSubmit` by default.

[2020-04-27 08:23] FatehAK commented on #1500
Thanks @bluebill1049 for your time on this. Found another issue in your CSB where the `Address` key of the Controller component doesn't show up. To reproduce:
1. Directly click on the `Swap` CTA without entering and touching any of the fields.
2. Click on the `Debug` CTA
3. View console you can see that the `Address` key lost on 0th element same as before

[2020-04-27 08:24] rajpraful commented on #1511
@bluebill1049 Tried on version 4.7.2 with latest onSubmit method, still no luck

[2020-04-27 08:29] bluebill1049 commented on #1511
https://codesandbox.io/s/react-hook-form-password-match-check-standard-validation-tgm4k?file=/src/index.js

[2020-04-27 08:33] bluebill1049 commented on #1500
that's all good @FatehAK thanks for testing too: https://codesandbox.io/s/romantic-kare-igm7u?file=/src/App.js let me know if this solve the problem.

[2020-04-27 08:40] FatehAK commented on #1500
Just tested works well and above issue seems to be resolved as well. Awesome @bluebill1049. Will there be a beta or something which I can use?

[2020-04-27 08:47] ignapas commented on #318
yes. I stay v3 because of that one

[2020-04-27 08:54] rajpraful commented on #1511
@bluebill1049 tried in above link you sent
![2020-04-27_14-23-16](https://user-images.githubusercontent.com/50992602/80353258-bb779300-8892-11ea-8056-8d5d7015d941.gif)

[2020-04-27 08:57] bluebill1049 commented on #1511
the validation is attached to the field 2

[2020-04-27 08:57] bluebill1049 commented on #1500
@FatehAK i will release a beta version for you.

[2020-04-27 09:06] bluebill1049 commented on #1500
`5.6.1-beta.1`

[2020-04-27 09:07] bluebill1049 commented on #1511
how did you with this? i don't think there is an issue with `watch` as what the issue named.

[2020-04-27 09:08] bluebill1049 commented on #1511
perhaps you want to `triggerValidation` on input 2 while at input 1?

[2020-04-27 09:09] #1500 closed

[2020-04-27 09:38] #1511 closed

[2020-04-27 11:32] polovi opened #1512 "formState.isValid return `true` in initial render with mode onChange,onBlur"
**Is your feature request related to a problem? Please describe.**
With onSubmit mode isValid initially return `false` but with onBlur, onChange it is `true` before validation is executed

https://codesandbox.io/s/flamboyant-lake-limo5?file=/src/App.js

**Describe the solution you'd like**
The form should be invalid until validation is executed

[2020-04-27 11:41] bluebill1049 commented on #1512
This is expected behavior, react hook form is embraced uncontrolled input. the validation can only be assured after render.

[2020-04-27 11:44] #1512 closed

[2020-04-27 11:49] polovi commented on #1512
I understand when validation is executed but with onBlur and onChange mode he start with state isValid=`true` before he really validate inputs and then is changed to `false`. So with initial render I must add another condition to check false positive state. With initial `false` value it will be `true` only when validation is passed

[2020-04-27 11:58] bluebill1049 commented on #1512
why would you need to do that? it's the second render, this is not going to impact user experience right?

[2020-04-27 12:22] polovi commented on #1512
User experience... no. But if I have some conditional rendering like `{formState.isValid && <CustComponent values={allWatched}/>}` e.g. its rendered in state that in fact is false positive([updated codesandbox](https://codesandbox.io/s/flamboyant-lake-limo5?file=/src/App.js)). I think it should start as invalid form when validation didn't passed when logically he could validate only after all inpu

[2020-04-27 12:28] bluebill1049 commented on #1512
yes @polovi that's a challenge to solve, if you rewind back to v3 we had false to start with.

if we start as false,

then as we render all inputs

input 1. pass -> render true
input 2. false -> render false

you see multiple re-render will have to decide the form is vald or not, that's the reason why we start with true and re-render only once.

[2020-04-27 12:52] FatehAK commented on #1500
Thanks @bluebill1049  much appreciated.

[2020-04-27 15:28] robmarshall commented on #1481
This just helped me. Thanks all!

[2020-04-27 15:31] martpie commented on #1414
I would like to add that using a `type="text"` for a number is definitely a common pattern: https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-system-team-changed-the-input-type-for-numbers/

I guess we will have to use custom validators for now.

[2020-04-27 15:40] outerlook opened #1514 "Infer handleSubmit argument from validation"
Hi!

I frequently double check types, if I consider our validation resolver / yup schema is checking before running handleSubmit.

Consider an review to be sent to server, I will try to explain with a type code snippet, tell me if this isn't explained enough please.

[code]

it could be infered using `Yup.InferType` if schema provided, or from validation resolver if provided, or as is if none prov

[2020-04-27 15:52] rasgo-cc opened #1515 "Infinite loop: mixing watch, useEffect and setState"
**Describe the bug**
Not sure if this is a bug or if I'm missing something.
I'm using a few Controllers to control custom components (custom inputs) and I want to detect whenever the whole form data changes so I can filter/process it.

Using `watch()` as a dependency of `useEffect` and using state inside of it causes an infinite loop.

**To Reproduce**

https://codesandbox.io/s/react-hook-form-inf

[2020-04-27 16:17] rasgo-cc opened #1516 "Reset not working since v5.4.0"
**Describe the bug**
Looks like the reset stopped working since 5.4.0 (or more specifically since 5.3.2-beta1, as tested on CSB)

**To Reproduce**

https://codesandbox.io/s/react-hook-form-reset-t5py7?file=/src/App.js
Switch the version of `react-hook-form`.

**Expected behavior**
The reset works at least on 5.2.0 (version I was using, before upgrading to 5.6.0).

[2020-04-27 20:09] polovi commented on #1515
You use watchAll object in dependency list so the useEffect is called on every render

[2020-04-27 22:55] bluebill1049 commented on #1516
<img width="923" alt="Screen Shot 2020-04-28 at 8 55 09 am" src="https://user-images.githubusercontent.com/10513364/80428765-fd094c00-892d-11ea-991c-bb3f8a11abf8.png">

[2020-04-28 00:05] kotarella1110 commented on #1514
@outerlook Could you provide codesandbox and explain it to me in a little more detail?
If use `Yup.InferType`, we need to add yup to peerDeps. We don't want to do this.

[2020-04-28 00:12] bluebill1049 commented on #1515
Yes, you should just use watch to return `value` instead of place as dep in the useEffect.

[2020-04-28 00:12] #1515 closed

[2020-04-28 00:12] #1516 closed

[2020-04-28 00:13] mKontakis opened #1517 "Material UI + multiple checkboxes + default selected"
I am trying to build a form which accommodates multiple 'grouped' checkboxes using Material UI.

The checkboxes are created async from a HTTP Request.

I want to provide an array of the objects IDs as the default values:

`
            defaultValues: {
                boat_ids: trip?.boats.map(boat => boat.id.toString()) || []
            },
`

Also, when I select or deselect a checkbox, I want to

[2020-04-28 00:24] bluebill1049 commented on #1517
can you update your example with `Controller` instead `react-hook-form-input`?

[2020-04-28 01:03] mKontakis commented on #1517
Done, not sure how is the correct way though, since that would answer my question :)

[2020-04-28 03:53] outerlook commented on #1514
Sure! I will do this tomorow, ok?

About yup, I've read you are planning to stop directly supporting, but that's not an issue, I just used it as an example.

 The important part is to pass the resulting type of the validation, and not the initial form values, as we're sure fields marked as required on validation should be non nullable... right?

[2020-04-28 04:11] bluebill1049 commented on #1517
This is probably a more relevant question for MUI's checkbox, but i just quicky did it with my own understanding.

https://codesandbox.io/s/serverless-dream-jm134?file=/src/App.js

[2020-04-28 04:14] kotarella1110 commented on #1514
@outerlook No rush. Take your time 👍

[2020-04-28 07:41] mKontakis commented on #1517
@bluebill1049 I am not sure if it's MUI checkbox question.
I want to handle integers (the objects IDs), not true/false when checking/unchecking.

[2020-04-28 07:46] bluebill1049 commented on #1517
I have to check the doc for MUI:
https://material-ui.com/components/checkboxes/

<img width="962" alt="Screen Shot 2020-04-28 at 5 46 08 pm" src="https://user-images.githubusercontent.com/10513364/80461126-2949ba80-8978-11ea-8e79-88a8ea1a469a.png">

[2020-04-28 12:08] svenlombaert opened #1518 "Errors only get cleared after async handleSubmit call has ended"
**Describe the bug**
When clicking the submit button, the form only calls the handleSubmit when it has no errors. My handleSubmit callback is an async function which does an api request. The errors variable, returned from useForm only gets cleared after my callback is finished

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-onsubmit-await-eesr6?

[2020-04-28 12:12] bluebill1049 commented on #1518
`setValue("name", e.currentTarget.value, true)` otherwise validation is not going to be triggered
https://react-hook-form.com/api#setValue

[2020-04-28 12:15] svenlombaert commented on #1518
But that is not what I want, nor my problem. I want my validation only to be triggered when submitting, so that's fine as is. I just want my errors to be cleared when the form is valid, BEFORE it's doing the onSubmit callback, and not after it. Since the callback only gets executed when the form is valid, that would be the logical order?

[2020-04-28 12:20] bluebill1049 commented on #1518
This is expected behavior for this lib:

-> nothing fill
-> send
-> handleSubmit
-> Errors

------

-> fill form
-> send
-> handleSubmit
-> pass
-> invoke onSubmit.

[2020-04-28 12:21] svenlombaert commented on #1518
Okay, I'll clear them manually then with clearError. Thanks

[2020-04-28 12:28] man-trifork commented on #1517
I am trying to do something like this:

`  const handleCheck = (event, isInputChecked) => {
    let checked = event[1];
    if (checked) {
      return value;
    } else {
      return null;
    }
    // onChange(event, isInputChecked, this.props.category);
  };`

`    <FormControlLabel
      value={value}
      control={
        <Controller
          as={<Checkbox />}
          name={name}

[2020-04-28 12:29] bluebill1049 commented on #1518
hmmm, i do see your concern here because errors should be cleared after validation is valid. let me think about it.

[2020-04-28 12:30] svenlombaert commented on #1518
Well, for me that would be the logical flow indeed, re-render before the onSubmit happens.

[2020-04-28 12:55] gaetano-guerriero opened #1519 "unexpected result of getValues on a single field with defaultValues"
**Describe the bug**
Calling `getValues()` on a single field doesn't always return the same value
that would be contained in the getValues() response with no arguments.
**To Reproduce**

1. Go to https://codesandbox.io/s/react-hook-form-useform-template-1dk5o
2. Look at the console statements

**Expected behavior**
I would expect this to always be true:
`getValues().name === getValues('name')`

In

[2020-04-28 13:09] outerlook commented on #1514
Here it is!

I didn't implement anything except submit handling to keep it to the point.
https://codesandbox.io/s/ts-react-hook-form-validated-submit-1w15e?file=/src/App.tsx
Does this clarify my question?

I know currently it doesn't make me do wrong things in my code, but it leads to unnecessary checks before sending to server, if type could be infered the resulting schema from validation resolve

[2020-04-28 14:09] mKontakis commented on #1517
I am trying to do something like this:

[code]

[code]

But no luck,

<img width="657" alt="Screenshot 2020-04-28 at 15 28 00" src="https://user-images.githubusercontent.com/58421983/80487056-de727780-8964-11ea-809e-ce508c64e39e.png">

[2020-04-28 14:58] mKontakis commented on #1517
With chakra ui and formik that would be like this:

https://codesandbox.io/s/reverent-goldstine-1bvq9?file=/src/App.js

[2020-04-28 17:52] Photonios opened #1520 "FormState Proxy is incomplete and crashes Jest snapshot serializer"
**Describe the bug**
The `Proxy` object returned for `formState` is incomplete. It returns `{}` for any unknown property which breaks expected behaviour in applications.

An example where this is hugely problematic is in [Jest](https://jestjs.io/) snapshots. Various snapshot serializers match on the `formState` object when trying to serialize is because they believe that the object has the propert

[2020-04-28 19:18] R0nd opened #1521 "FormArray newly appended value validation"
1. FormArray appended values do not get validated
2. When explicitly calling triggerValidation() immediately after append(), the last appended value does not get validated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-template-617gg?file=/src/index.js
2. Click on 'Append'
3. Click on 'Append' again

**Expected behavior**
On first

[2020-04-28 19:23] R0nd opened #1522 "FormArray validation"
**Is your feature request related to a problem? Please describe.**
Correct me if I'm wrong, but currently there is no way to validate a FormArray (require it to be non-empty, validate for min/max length etc). Requiring a non-empty array is a very common use case.

**Describe the solution you'd like**
FormArray should act more like a FormValue, with validation options and its own name.

[2020-04-28 20:36] R0nd opened #1523 "Watch on FieldArray returns default values when emptied"
**Describe the bug**
When using watch on a form with FieldArray populated with default values, watch returns those default values when all FieldArray items are removed by user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-template-0m0ce?file=/src/index.js
2. Click on 'Append'
3. Remove all items with 'Delete'
4. Results in conso

[2020-04-28 21:51] bluebill1049 commented on #1517
maybe you should try to use chakra with RHF.

[2020-04-28 21:53] Jsramosra opened #1524 "Is there a way to enable/disable input based on another input?"
Good afternoon everyone, i have this problem, i need to enable/disable inputs based on another input value, but i cant understand how or if it is a property that i can use to syncrhonically do this action.

Can somebody help me?

[2020-04-28 22:11] gaetano-guerriero commented on #1524
The simplest way is to `watch()` a field value and use the result to set disabled:
[code]

If the form is large and you want to reduce re-renders you can track values manually:
[code]

[2020-04-28 22:13] Jsramosra commented on #1524
Excellent, it works perfect

[2020-04-28 22:37] bluebill1049 commented on #1524
Thanks @gaetano-guerriero

[2020-04-28 22:37] #1524 closed

[2020-04-28 22:38] bluebill1049 commented on #1520
Thanks for the detailed issue.

why should it return `undefined`? FormState default is `{}`

[2020-04-28 22:39] bluebill1049 commented on #1522
pretty sure you can with `validate` function.

[2020-04-28 22:40] bluebill1049 commented on #1523
what's expected behavior for `watch()`.

[2020-04-28 22:44] R0nd commented on #1523
The documented behavior for `watch()` is, quote:

I don't think it should return default values on subsequent renders when user interaction made them undefined.

[2020-04-28 22:46] alejandrotoro commented on #130
I was experiencing the same issue after focus on an input marked with error, the fix was to start using `defaultValue` instead of `value`.
`react-hook-form` version: `5.6.0`

[2020-04-28 22:47] donocode opened #1525 "<Controller> with onFocus erroneously reregisters itself"
**Describe the bug**
When using a <Controller> component with an onFocus callback it reregisters itself after validation failure (or if focused in react dev tools)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to codesandbox link
2. Type some text in FirstName and click submit (don't add text to LastName)
3. See how the FirstName was reset
4. See how you can no longer type in FirstName

[2020-04-28 22:48] R0nd commented on #1522
There's no `validate` in the documented `useFieldArray` signature:

[2020-04-28 22:49] Photonios commented on #1520
See the first example. When the formState object is passed to somewhere and something tries to access an unknown property, it should get `undefined`.

[code]

At the moment, the sample above will log `{}` which is inconsistent with how things work if the proxy _is not used_. In which case the sample above logs `undefined`.

The point is that although the default form state is `{}`, the default val

[2020-04-28 23:14] bluebill1049 commented on #130
@alejandrotoro do you have a codesandbox on this? are you using Controller?

[2020-04-28 23:18] bluebill1049 commented on #1522
I think i miss your question, you want to validate the entire field array. you will have to do that at your app-level, we don't have validation in terms of size, you can check at the `handleSubmit` and `setError`.

[2020-04-28 23:28] bluebill1049 commented on #1521
That's not going to work as expected because inputs haven't bee registered, you want to trigger your validation at `useEffect`.

[2020-04-28 23:29] bluebill1049 commented on #1523
we used to bake dirty logic inside the `watch`, this introduced unwanted side-effect, as for now, you will have to leverage form state `dirty`

[2020-04-28 23:42] bluebill1049 commented on #1523
`watch('test', formState.isDirty ? '' : undefined)`;

[2020-04-28 23:46] alejandrotoro commented on #130
Hi @bluebill1049 and btw, thank you! `react-hook-form` is really amazing!
And yes I'm using `defaultValue` with `onChange`, but as I said, I solved my problem using `defaultValue` instead of `value`.
I just wanted to write a comment for other people that come to this post looking for how to solve the same issue.

[2020-04-28 23:49] #1523 closed

[2020-04-28 23:50] bluebill1049 commented on #1520
Thanks @Photonios Question: what's the reason to read attributes other than what we listed (formState)?

[2020-04-29 00:14] #1521 closed

[2020-04-29 00:16] #1517 closed

[2020-04-29 02:26] smably opened #1526 "Nested falsy defaultValues are undefined when using watch()"
**Describe the bug**
Falsy values nested inside `defaultValues` are returned as `undefined` by `watch()` on the initial render.

**To Reproduce**
Steps to reproduce the behavior:
1. Pass a falsy nested value to `useForm` in `defaultValues`
2. Add a `watch()` on the path to the nested value
3. On initial render, watched value is `undefined` instead of the actual default value

**Codesandbox link (R

[2020-04-29 02:30] JeromeDeLeon commented on #1525
The reason for this is because your forgot to memoize your function.

In [Line 107 of Controller](https://github.com/react-hook-form/react-hook-form/blob/bfecd5ba76e6f746fbd7d699240533e83ebae9f5/src/controller.tsx#L107), notice that the `onFocus` is part of `useCallback`'s dependencies of `registerField`.

[2020-04-29 02:32] JeromeDeLeon commented on #1525
@bluebill1049, should we handle it inside or let user defines it?

[2020-04-29 02:34] bluebill1049 commented on #1525
wow, awesome find! @JeromeDeLeon it's awesome to see you are taking over the `Controller` component! I think we should memo in the lib.

[2020-04-29 03:13] #1525 closed

[2020-04-29 04:01] GapMAX opened #1528 "Is there any way to set defaultValue after useForm?"
I have to use setValue in controlled, but is fussy to set defaultValues in useForm in my customComponent, if there is a way to set default value like register({name : "field1", value : "test1"}) would be cool.

[2020-04-29 04:03] bluebill1049 commented on #1528
[code]

[2020-04-29 04:36] GapMAX commented on #1528
Is there any other way to set defaultValues ?

[2020-04-29 04:39] bluebill1049 commented on #1528
<input defaultValue="test" />

[2020-04-29 04:49] GapMAX commented on #1528
thanks for your reply, but i have to set default value for controlled component, and i have to use setValue in component, so defaultValue props and Controller doesn't suit my case. In a word, i want to set default value in filed level without using `<Controller/>` and `useForm({defaultValues : {}})`

[2020-04-29 04:56] bluebill1049 commented on #1528
[code]

[2020-04-29 04:57] bluebill1049 commented on #1528
if above still doesn't make sense, create a simple CodeSandbox i can take a look.

[2020-04-29 05:13] leonidez commented on #1441
Thank you @bluebill1049 this worked! I just updated to the latest react-hook-form and I was able to remove the workaround code from my build process. Thanks again! 👍

[2020-04-29 05:14] bluebill1049 commented on #1441
awesome thanks for the confirmation.

[2020-04-29 05:15] GapMAX commented on #1528
https://codesandbox.io/s/material-demo-9m1uv?file=/demo.js

I want to set default value in demo.js while not in App.js

[2020-04-29 05:18] bluebill1049 commented on #1528
do a `useEffect` after `register` and then `setValue`

[2020-04-29 05:28] #1528 closed

[2020-04-29 05:28] GapMAX commented on #1528
I have already try setValue after register, it may cause error. Use React hook form in controlled is really not pretty, but sometimes I have to use controlled component to do something.

[2020-04-29 05:29] bluebill1049 commented on #1528
That's true, and that's the reason why I made Controller, but then you don't want to use it.

[2020-04-29 06:37] GapMAX commented on #1528
I refactor my component use Controller, it works find, Thank you again. This lib is cool !!

[2020-04-29 06:54] Photonios commented on #1520
https://github.com/facebook/jest/blob/d425a49bd575e7167bc786f3c4f2833589091fa1/packages/jest-snapshot/src/mock_serializer.ts#L45

See the sample of a Jest snapshot test I gave in the "To Reproduce" section. In that case we're creating a test for a React component that passes the entire form object down to another component as a prop.

In the test, we render using React's test renderer and try to s

[2020-04-29 07:21] bluebill1049 commented on #1528
Awesome! @GapMAX great to hear that.

[2020-04-29 07:22] themre opened #1529 "setValue on useFieldArray not updating whole object"
Hi,
First I'm very grateful for such a wonderful library and how much effort you put in resolving all the issues! I tried to find a solution and not bother you but in the end I had to post an issue/question.
I was working on this demo: https://codesandbox.io/s/react-hook-form-usefieldarray-n993y?file=/src/index.js

Here I used `clear` button to clear certain field in array. However I bumped into i

[2020-04-29 07:24] bluebill1049 commented on #1529
I have only read half o the issue, man thanks for your understanding 🙏 i will read the rest of them after dinner. 👍

[2020-04-29 07:24] hendra-foo opened #1530 "Strange behavior when using `validationResolver` for array field"
I'm running into some strange behavior in `errors` object when using `validationResolver`, sometimes it show `highlight: [Error]` sometimes `highlight[0]: Error` and sometimes both

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-get-started-8nvu9
2. Don't do any changes and directly click the submit btn. Open console and `errors` object will be

[2020-04-29 07:27] siam88 commented on #564
@bluebill1049  in the smart form component you send the register in ref of  a custom input but how could I validate that input or pass the validations in register

https://codesandbox.io/s/react-hook-form-smart-form-component-uocr9?file=/src/components.js:773-781

[2020-04-29 07:27] themre commented on #1529
Oh please, enjoy the dinner, I can't believe you reply so quickly! Really thanks for taking time!

[2020-04-29 07:38] kurt-hardy commented on #130
Hi all.

I'm getting the same issue when using a normal input field but only once the form is validated and is invalid.
Here is the sandbox to help, i'm sure its something I'm doing wrong.
https://codesandbox.io/s/react-hook-form-error-0xhe3

The only thing I can see is that the onChange event doesn't fire on first keypress.

Thanks for your help!

[2020-04-29 07:44] bluebill1049 commented on #130
@kurt-hardy https://react-hook-form.com/faqs#Whyisfirstkeystrokeisnotworking take a look there.

[2020-04-29 07:45] bluebill1049 commented on #564
@siam88 pass `rules` as props. rules can contain your validation logic.

[2020-04-29 07:49] kurt-hardy commented on #130
Oh jeez, I wish i'd have seen that. Thank you.

I did try default value but I didn't remove value. 😂

[2020-04-29 07:50] bluebill1049 commented on #130
all good @kurt-hardy 👍

[2020-04-29 07:53] kamranahmedse commented on #1465
@kotarella1110 @bluebill1049 thanks for the quick response but this doesn't seem to be fixed :)

Here is the updated codesandbox with the latest release:

https://codesandbox.io/s/tender-hooks-9fkoe?file=/src/App.js

[2020-04-29 07:58] #1518 closed

[2020-04-29 07:58] #1519 closed

[2020-04-29 07:58] #1526 closed

[2020-04-29 08:16] bluebill1049 commented on #1421
@kotarella1110 's new feature will be released for the next major version and help solve this problem.

[2020-04-29 08:16] #1421 closed

[2020-04-29 08:43] bluebill1049 commented on #1520
Thanks for your detailed explanation, I do get the idea because the nature of JS `object`. however, this is specific for this lib use case. I don't think it's a bug, rather intended to be. I have also released a beta with what you suggested, it doesn't really solve the test failure.

[2020-04-29 08:44] hendra-foo commented on #1530
hi, sorry for bothering you, but i just solved this issue by modifying my resolver code to support array path such as `foo[x]` so there is no duplicate keys / strange behavior anymore.
but i think this behavior can occur again in object path such as `foo.x` and so i need to re-modify my resolver code again.

does by changing the resolver code is the best practices? or you can provide your solution

[2020-04-29 08:46] bluebill1049 commented on #1529
what about this? https://codesandbox.io/s/react-hook-form-usefieldarray-5d4g0

[2020-04-29 08:47] bluebill1049 commented on #1530
hey @hendra-foo you want to take a look at this resolver?

https://github.com/react-hook-form/react-hook-form-resolvers

what we doing for v6.

[2020-04-29 08:48] #1522 closed

[2020-04-29 08:48] themre commented on #1529
Yes, this works perfectly. But how do I set whole object if I want to either start with new one (all empty values) or replace whole object with some starting values? Especially if it's a nested object.

[2020-04-29 08:49] bluebill1049 commented on #1529
reset?

[2020-04-29 09:01] themre commented on #1529
Yes, reset works, but I need to always use `defaultValue` otherwise the input will be empty:
https://codesandbox.io/s/react-hook-form-usefieldarray-wxwf7?file=/src/index.js

I also added `additionalField` into nest subfield of the resetall button. When I submit, I don't have this field. Is there a way to have also untracked fields?

[2020-04-29 09:08] bluebill1049 commented on #1529
you will need to use `defaultValue` for input for `useFieldArray`.

[2020-04-29 09:09] bluebill1049 commented on #1529
I need better context for above.

[2020-04-29 09:10] themre commented on #1529
for the nested example:
[code]
this `additionalField` if it's not tracked, it will get lots. So the only way is to merge each element with onSubmit, right?

[2020-04-29 09:11] Photonios commented on #1520
Another good reason to fix is the fact that behavior is inconsistent between using react-hook-form in an environment in which `Proxy` is available and in an environment where it is. If `Proxy` is not available, `react-hook-form` returns the `formState` as a normal object. In which case `form.formState.HELLO` returns `undefined`.

Why is it intended to be like this? What practical purpose does it s

[2020-04-29 09:16] bluebill1049 commented on #1520
That example is what you posted above.

[2020-04-29 09:20] bluebill1049 commented on #1520
because why would you access formState with other attributes then what the lib support in the first place? adding a proxy layer was try to reduce the re-render which the user may not subscribe to, if the proxy is the issue, just turn it out or mock it return `undeinfed`.  I do appreciate your detailed issue and PR to resolve this issue, I am just not sold with the extra check `has`.

[2020-04-29 09:21] bluebill1049 commented on #1529
which `additionalField` will get lost if it's not tracked. `tracked` means `registered`?

[2020-04-29 09:21] hendra-foo commented on #1530
okay, i just installed the package, and there is only a file named package.json inside the package directory. looks like i'm gonna stick with my solution for now.

can't wait to look for the React hook form v6 updates :).

Thanks for the help. gonna close this issue

[2020-04-29 09:21] #1530 closed

[2020-04-29 09:22] bluebill1049 commented on #1520
@JeromeDeLeon @kotarella1110 @stramel maybe it's worth to get your opinion on this as well.

[2020-04-29 09:23] themre commented on #1529
I mean I won't get it in the onSubmit. I will only get fields that are in the form. Maybe this is intended, but usually I put whole object into a form and update only some fields and have whole object updated throughout the form.

[2020-04-29 09:25] bluebill1049 commented on #1529
Yes, basically input gets `registered`

[2020-04-29 09:26] bluebill1049 commented on #1529
yes, that's controlled form, where you have local `state` host the entire form. React Hook Form embrace how native form's behavior.

[2020-04-29 09:28] themre commented on #1529
Yes, makes sense. It's a mind shift from usualy React way :) Thanks for all the help, you sure made a lot of things more clear! I will close this since there are no bugs and just my misunderstanding.

[2020-04-29 09:28] #1529 closed

[2020-04-29 09:29] bluebill1049 commented on #1529
No worries @themre feel free to follow up with questions. You can send questions at Spectrum as well. 👍

[2020-04-29 09:29] Photonios commented on #1520
Which triggers the failure if you run it in a plain Node.js environment. The codesandbox environment assumes the web, but fails to properly emulate it.

https://github.com/Photonios/react-hook-form-proxy-snapshot-failure

Here's an example repository that uses the exact example I provided. Cloning it and running the tests with `yarn jest` makes it fail. If you upgrade `react-hook-form` to `v5.6.0-

[2020-04-29 09:33] bluebill1049 commented on #1520
I agree with above, but why it should access the right `formState`, you shouldn't do `formState.wahtever` in the first place.

I agree, but this is first time that someone report issue around proxy with testing. I never had any issuing testing with `react-testing-library`

I am not killing your suggestion and purposely, most of the replies are in my own opinion. let the team members have their say

[2020-04-29 09:40] keemor commented on #1247
Added Checkbox with FormControlLabel

https://codesandbox.io/s/react-hook-form-controller-sudii

[2020-04-29 09:48] bluebill1049 commented on #1247
Thanks @keemor

[2020-04-29 12:04] CyanoFresh commented on #1519
wow faced this issue and pushed a fix 4 hours ago
Can you release, please?

[2020-04-29 12:06] bluebill1049 commented on #1519
I can't release a proper version, cause I work in the day time and won't be able to do any hotfix if something goes wrong, but happy to release a beta for you.

[2020-04-29 12:43] CyanoFresh opened #1535 "[v5.6.1-beta.2] DefaultValues empty string gives undefined"
**Describe the bug**
When using `defaultValues` and default value is `""`, `Controller` sets `value` to `undefined` which converts input to uncontrolled.

Only for dot path names. I think problem is somewhere in `utils/get()`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-defaultvalues-ncfnj?file=/src/index.js
2. Open console
3. See that field

[2020-04-29 12:48] kotarella1110 commented on #1514
@outerlook Why is `score` optional?
`defaultValues` ​​properties are all optional (`DeepPartial<Review>`), so it is unnecessary to do `score` optional.
What about fixing it as follows?

[code]

[CodeSandbox](https://codesandbox.io/s/ts-react-hook-form-validated-submit-bvv1m?file=/src/App.tsx)

[2020-04-29 13:38] jamil-alisgandarov opened #1536 "Separate field errors and form value types"
1) Why errors can not be accessed by passing controller name?
2) Why type of `errors` is same as form values, where form values can be similar but have different type. As you can see from the example below, value of the `mcc` field is `IMCC`. But the field name is `mcc`. So if I want to access errors of `mcc` field, it will return an error just because `errors` and `formValues` are sharing same ty

[2020-04-29 13:54] kotarella1110 commented on #1536
@jamil-alisgandarov I created `NestedValue` in this PR (https://github.com/react-hook-form/react-hook-form/pull/1503) to solve this.
This PR has already been merged and will be released in v6.

[code]

[2020-04-29 13:54] jamil-alisgandarov commented on #1536
Thanks!!

[2020-04-29 13:54] #1536 closed

[2020-04-29 13:56] jamil-alisgandarov commented on #1536
@kotarella1110 When are you planning to release?)

[2020-04-29 14:02] kotarella1110 commented on #1536
@jamil-alisgandarov For now, the release date hasn't been set, but we can release v6 as early as next month.
We are working hard every day to release v6 🏃
You can use [ErrorMessage component](https://react-hook-form.com/api#ErrorMessage) until v6 released.

[2020-04-29 15:29] dreamofi opened #1539 "Yup validation does not work when min, max props are added to input element"
**Describe the bug**
When min, max props are added to an input element, Yup validation custom message is not showed, errors object is blank. Instead, an error message is showed in the form of a tooltip. It seems that native html5 validation is not overridden by Yup.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Yup schema with custom validation message
2. Add min, max props to input

[2020-04-29 15:57] smably commented on #1526
Thank you so much for the quick fix. Fantastic library! ❤️

[2020-04-29 16:30] siam88 commented on #564
@bluebill1049 I tried it to send as props. but whenever I am putting the rules inside the register it is saying that register is not a function . can you please help me out or show me any demo on how to resolve this

https://codesandbox.io/s/react-hook-form-smart-form-component-m0n70?file=/src/components.js

[2020-04-29 23:13] bluebill1049 commented on #1539
That's native HTML behavior, place your validation inside your schema and display those error message.

[2020-04-29 23:13] #1539 closed

[2020-04-29 23:14] bluebill1049 commented on #1526
thanks @smably i will release the patch over the weekend.

[2020-04-29 23:19] bluebill1049 commented on #564
@siam88 https://codesandbox.io/s/react-hook-form-smart-form-component-17k06?file=/src/index.js

[2020-04-30 00:28] ErikAGriffin opened #1540 "defaultValues for radio inputs does not set formState.isValid"
**Describe the bug**
When using the `defaultValues` param of the `useForm` function, one expects all fields passed a value to be filled in and for the form to be valid if all required fields are thus filled.

When using defaultValues with text inputs, this is the case: `formState.isValid` is true.  However when using the defaultValues of radio inputs:  formState.isValid returns false, even though

[2020-04-30 00:35] #1535 closed

[2020-04-30 01:20] naomei opened #1541 "getValues() will return invaild type, if use array type."
Is this the expected normal behavior?

[code]

[2020-04-30 01:42] bluebill1049 commented on #1541
`getValues({ nest: true })` we are fixing this in V6.

[2020-04-30 01:58] naomei commented on #1541
@bluebill1049

thanks!! it is fixed!

[2020-04-30 01:58] #1541 closed

[2020-04-30 03:33] bluebill1049 commented on #1540
https://react-hook-form.com/api#formState

We have a proxy around fromState: :)

https://codesandbox.io/s/react-hook-radio-default-vales-w8wmv

[2020-04-30 03:37] bluebill1049 commented on #1540
closing now :) feel free to follow up with questions.

[2020-04-30 03:44] ErikAGriffin commented on #1540
@bluebill1049 I'm confused, I see you invoked the proxy by using `const { isValid } = formState;`, however on page reload the form is still disabled in the modified sandbox you linked

[2020-04-30 03:45] bluebill1049 commented on #1540
oops... I may have interacted with the form. It's a bug then...

[2020-04-30 03:45] bluebill1049 commented on #1540
Will take a look at this issue soon.

[2020-04-30 06:23] durchanek commented on #40
For anyone looking for an easy solution, I solved this with [awesome-debounce-promise](https://github.com/slorber/awesome-debounce-promise)

[code]

[2020-04-30 06:50] bluebill1049 commented on #40
wow thanks @durchanek

[2020-04-30 07:16] bluebill1049 commented on #1540
https://codesandbox.io/s/react-hook-radio-default-vales-6e96v?file=/src/App.js

ok @ErikAGriffin for radio input you can only leave the validation to the last ratio input, otherwise react hook form will get confused with the validation since they all share the same name. I will include this on the website.

[2020-04-30 07:42] #1540 closed

[2020-04-30 09:56] dreamofi commented on #1539
@bluebill1049 : I did put the validation inside the schema. By adding min and max to input element, what I wanted to do was to limit the number range when an user click on the increase/decrease arrow. Without them, the value in the input form can be larger than the maximum value and smaller than the minimum value.
Is it possible to do that without adding the min/max props directly into input eleme

[2020-04-30 09:58] bluebill1049 commented on #1539
The above looks legit to me, it's better to leave the validation in the schema if you don't want the native input to pop up.

[2020-04-30 11:44] mdoelker commented on #1150
Whew, a colleague and I spent way too much time figuring this out, and essentially only your remark here, @bluebill1049, shed some light on it. I'm still kinda baffled it only works like this.

In our case, we have some dependent form elements that only render when other form elements have a specific value. Without reset they just would not show up when the defaultValue already is one that they sh

[2020-04-30 12:01] bluebill1049 commented on #1150
I am sorry to hear that @mdoelker feel free to raise an issue on this on the website repo. I will add some more references either under FAQ or `reset` API.

[2020-04-30 12:02] dreamofi commented on #1539
After reading this closed [issue](https://github.com/react-hook-form/react-hook-form/issues/354), I realized that adding noValidate attribute was what I need to do.
Thank you @bluebill1049 for your support!

[2020-04-30 12:07] outerlook commented on #1514
Yes, it does solve! Thanks for that, and sorry for misreading this.

Since I migrated my forms to use RHF I thought it behaves the same way on initial values, then I didn't see it.

I think there's no issue, then! Thanks again

[2020-04-30 12:07] #1514 closed

[2020-04-30 12:28] bluebill1049 commented on #1150
looks like the doc already mention about the reset API
<img width="941" alt="Screen Shot 2020-04-30 at 10 27 19 pm" src="https://user-images.githubusercontent.com/10513364/80710210-d6b3fe00-8b31-11ea-8577-f98546ed2e7c.png">

[2020-04-30 13:00] shiralizadeh opened #1543 "onSubmit removes my `id` (or other custom properties) from it's defaultValues"
I'm passing a series of values as my `defaultValues` to the `useForm({ defaultValues })`.

![image](https://user-images.githubusercontent.com/9346771/80712703-9d669880-8b07-11ea-81d8-34cd65f6d620.png)

After submitting my form, the result is my form values without `id` property.

![image](https://user-images.githubusercontent.com/9346771/80712813-bff8b180-8b07-11ea-912e-dfca033b43aa.png)

[CodeSan

[2020-04-30 13:05] bluebill1049 commented on #1543
store that id in a `<input type="hidden" />`

building forms with RHF is pretty close to native form, only inputs gets registered will be a part of the submitted data.

[2020-04-30 13:30] #1543 closed

[2020-04-30 14:26] mdoelker commented on #1150
True, although I don't think that it clears things up enough in this case. A FAQ entry would be good. I'd be happy to raise the issue as you suggested. Thanks!

[2020-04-30 15:57] siam88 commented on #564
@bluebill1049  thanks a lot now it works for me <3

[2020-04-30 16:04] ErikAGriffin commented on #1540
I see, though I would consider this a workaround or a not ideal solution for long term maintenance.

Requiring the `{required: true}` register to _only_ be present on the last input make the use of `formState.isValid`+`defaultValues`+`radio inputs` very brittle.  A developer may come along and add a new radio input to the end with or without a `{required: true}` register, and it would cause the `d

[2020-04-30 22:32] bluebill1049 commented on #1540
Thanks @ErikAGriffin I couldn't agree more, it's a challenge for me at the moment because the same `name` attribute the share among inputs. This can be a workaround but would require quite a bit of extra code and increase the complexity of isValid check. Feel free to take a look at the register function and maybe you would have a smarter way of check valid, i will place this one in my backlog to t

[2020-05-01 00:47] polovi commented on #1512
And what if will be possible to enforce initial validation with some useForm() option. So when we know that form is really invalid on start it could skip validation like with mode onSubmit.

[2020-05-01 01:03] bluebill1049 commented on #1512
it's already optimized to skip with onSubmit,

[2020-05-01 06:07] rogerio-azevedo opened #1546 "Register Select from Component"
I have my own Select Component. I facing problems to pass my selection on state to register. I burned my brain and coundnt solve.

**My Select Component**

[code]
And on my Index im imported my component and set value to state on change:

[code]

I also tried this way

[code]
I put the race name on useEffect, and then its appear at conlose.log but undefined

[code]

[2020-05-01 06:36] bluebill1049 commented on #1546
Take a look at Controller: https://react-hook-form.com/api#Controller

https://codesandbox.io/s/react-hook-form-controller-079xx

see if this will helps you.

[2020-05-01 09:22] kotarella1110 commented on #1520
@bluebill1049 I agree with this opinion.
I think should be consistent behavior between environments where a proxy is available and use of react-hook-form in an environment where it is available.
What are your concerns when fixed this ?

[2020-05-01 09:36] bluebill1049 commented on #1520
@kotarella1110 so my concern about: why to fix something is fundamentally wrong with the usage.
I am not comfortable doing an extra check when it's not necessary.

https://github.com/react-hook-form/react-hook-form/pull/1531/files#diff-a022cc055e49d2a0542ef4e2f4648587R1249

You can easily increase the lib size and perf when you take over all those extra checks inside react-hook-form.

`register(21

[2020-05-01 10:06] ilyakmet commented on #245
I really can't figure out what's going on! Where is the final solution for Ant Desig?

https://codesandbox.io/s/elastic-ptolemy-cr5xz – is 404 ERROR

[2020-05-01 10:20] bluebill1049 commented on #245
@ilyakmet have you tried use `Controller`

[2020-05-01 10:20] bluebill1049 commented on #245
https://react-hook-form.com/api#Controller

[2020-05-01 10:40] bluebill1049 commented on #1520
I will lave this issue open for sometimes, and let's hear what's the community/users' feedback. Over time, if a lot of people encounter the issue with this `proxy`, then we will merge the PR (or at least improve that PR so it's not running each hook's invoke).

[2020-05-01 11:44] Photonios commented on #1520
As I've mentioned in another comment, I am up for removing the extra `has` trap I added in my PR and just returning `undefined` for unknown objects.

I understand your concerns with adding bloat for an edge case.

That would make the change a one liner. If not for the sake of fixing Jest snapshots, then for the sake of making the behaviour consistent between with/without proxy.

I'll update my PR

[2020-05-01 12:15] bluebill1049 commented on #1520
now that's much better! my concern is over. Thanks for understanding, because 99% of users' probably won't need this fix. The same thing that I talked to @kotarella1110 if I can save 0.01% of perf for 99% users I will defend for them.

[2020-05-01 12:15] #1520 closed

[2020-05-01 13:46] rogerio-azevedo commented on #1546
Ty for your reply @bluebill1049 ! I also found your another answer I it works this way!

[code]

Thank again!!!!

[2020-05-01 14:08] szymexpawlowski opened #1548 "append to Array of Array Fields"
Hi,

I'm trying to extend functionality of [Array of Field Array](https://codesandbox.io/s/react-hook-form-usefieldarray-nested-arrays-x7btr) example (btw. great stuff). My use case is that I would like to append to `FieldArray` an element that has `nestedArray` so some defaults in `NestedArray` are filled. Something like below in `fieldArray.js`.

[code]
After performing the append, `fields` vari

[2020-05-01 15:35] ilyakmet commented on #245
OK @bluebill1049

[RHFANT4](https://codesandbox.io/s/rhfant4-pzutp) - does't work
[RHFANT3](https://codesandbox.io/s/rfhant3-617f4) - work

Why?

[2020-05-01 15:39] Eduardobittencourt08 opened #1550 "Controller component with Draft.js"
Hello,

I'm trying to use [draft.js](https://draftjs.org/) with the react-hook-form. I am using the `Controller` component to render the Editor, but with each update in the value a new render is triggered and in long forms this will become a problem.

I would like to know if there is anything to be done in this case or if this rendering fired by the Editor is inevitable.

[Codesandbox](https://cod

[2020-05-01 16:08] damianobarbati commented on #685
@mlarcher I didn't quite understand: I'm having the same problem.

I have a dynamic field:
[code]

Once is rendered, if I submit the form `url` value is not present.
If I change another input in the form, then it appears in the form values.

Any idea?

[2020-05-01 16:58] #1546 closed

[2020-05-01 17:43] ErikAGriffin commented on #1540
@bluebill1049 I'll have to to brush up on some Typescript as the syntax is new for me.  Is there any documentation / guidance on the codebase?  Not exactly sure where to begin poking around

[2020-05-01 20:04] javialon26 opened #1551 "Cannot read property 'ref' of undefined in conditional controlled component"
**Describe the bug**
I'm showing a set of inputs type radio conditionally and I get the "Cannot read property 'ref' of undefined" error.

**To Reproduce**
Steps to reproduce the behavior:
1. Select "Mrs" in title select, then select "Dr" and again "Mrs".

**Codesandbox link (Required)**
https://codesandbox.io/s/kind-hooks-m5pz7?file=/src/App.js

**Expected behavior**
Change the rendered content wi

[2020-05-01 23:48] bluebill1049 commented on #1548
`append`  API doesn't support that, you will have to trigger the append inside the nested field.

[2020-05-01 23:54] bluebill1049 commented on #1550
I have very little knowledge about draft.js, but why are you mixing custom register with Controller?

I would probably just use custom register and update date with `setValue`.

I don't see an Editor on the codesandbox as well, so i guess the usage of Draftjs is probably wrong as well.

[2020-05-01 23:56] bluebill1049 commented on #1551
Have a read here: https://react-hook-form.com/faqs#Whyisdefaultvaluenotchangingcorrectlywithternaryoperator you can leverage react `key` attribute.

[2020-05-02 00:01] bluebill1049 commented on #245
Obviously they made some breaking change @ilyakmet

so after investigation: looks like it's their <Form /> component had some breaking change

https://codesandbox.io/s/rhfant4-5fu6c?file=/src/App.js

you may want to look into that.

[2020-05-02 00:06] bluebill1049 commented on #1540
Thanks @ErikAGriffin 👍

we don't have guidance on the codebase just yet, which I should do sometimes...

but if you have time you can take a look here:

Entry:
https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L833

Validation part:
https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L916

[2020-05-02 01:09] javialon26 commented on #1551
Hi @bluebill1049, thank you for your response. After reading the article I did some tests and the error persists.

The example in the FAQS is using input type text, the same example with type radio fails, I'm using uniques refs but the same error happens, maybe it is an issue with radios.

I updated the example here:
https://codesandbox.io/s/green-sun-vei8w?file=/src/App.js

Thank you

[2020-05-02 01:27] bluebill1049 commented on #1551
Thanks @javialon26 i am patching this bug. thanks for reporting: https://codesandbox.io/s/polished-architecture-dt2ir?file=/src/App.js

[2020-05-02 01:38] #1551 closed

[2020-05-02 17:52] vensauro commented on #1550
Looks that Draft.js use prop value with the name editorState, so you can use the prop `valueName` of controller to use this with Draft.js
Like: [CodeSandbox](https://codesandbox.io/s/twilight-currying-5lvsq?file=/src/index.js)

i too modified the `onChange` to works,
[code]

[2020-05-02 19:24] Eduardobittencourt08 commented on #1550
The Editor was on the screen, but I didn't put any style on it, so he had no background, my bad.

My implementation of the Editor wasn't really correct, but the @vensauro solution worked as expected. Thank you for your help guys!

[2020-05-02 19:24] #1550 closed

[2020-05-02 23:32] danmight opened #1554 "Validation not registering all of a sudden version 4.10.1 to 5.6.1"
**Describe the bug**
I upgraded from 4.10.1 to 5.6.1 and my validation requirements in "register" don't work. The form submits even though certain fields are marked as required or needing a regular expression.

An example of a field I have is below. I'm using material UI. If I try to submit this form on version 4.10.1 with a blank field I get the expected error that stops the submission and tells

[2020-05-03 01:15] bluebill1049 commented on #1554
Hi @DanielPopOut i don't think you are having the correct usage:

[code]

controller should take care the registration and validation should be using the `rules` props.

[2020-05-03 10:10] bluebill1049 commented on #1222
will be shipped as part of V6

[2020-05-03 11:08] DanielPopOut commented on #1554
@bluebill1049  You pingged the wrong person in last message.
It's for you @danmight ;-)

[2020-05-03 11:16] bluebill1049 commented on #1554
oh crap... sorry...

[2020-05-03 15:07] chrishoermann opened #1556 "Set value of input based on value of other input with Material-UI Textfield"
**Describe the bug**
I'm trying to set the value of a Material UI TextField based on the value of another Textfield with react-hook-form.

Everything works fine so far but when set via setValue() the textfield shows placeholder and input value simultaneously (see sandbox 1)

When I use react-hook-form Controller and some custom validation, it gets quirky:
the values in the Textfields are displayed

[2020-05-03 15:51] hmtri1011 opened #1557 "Cannot get correct value of radio input on handleSubmit"
**Describe the bug**
input element that wrapped in Controller cannot get correct value, it is always empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sandbox link
2. Check on 2 radio inputs and click submit
3. See data on the console

**Codesandbox link (Required)**
https://codesandbox.io/s/dreamy-lovelace-vyzei?file=/src/App.js:0-562

[2020-05-03 18:17] stefanv opened #1558 "Generated defaultValues are not applied after first render"
I have a form that includes controlled components (several Material-UI checkboxes).  By specifying `defaultValues`, I am able to reset the form successfully.  However, if `defaultValues` changes depending on props, the reset of the controlled components fails.

E.g., this works:

[code]

This does not:

[code]

I can see that my top-level component gets re-rendered, as `acls` changes along the way

[2020-05-03 18:27] devrnt commented on #1556
**Sandbox 2**
Can be fixed by setting the `mode` in `useForm` to `onChange`. Do mind that this often comes with a significant impact on performances.
 https://codesandbox.io/s/setremoteinputcontroller-wwsdt?file=/TextFieldOne.js

[2020-05-03 18:41] Andrewnt219 commented on #227
You're my savior

[2020-05-03 18:53] devrnt commented on #1556
**Sandbox 1**
Seems like a related issue: https://github.com/mui-org/material-ui/issues/718
I would suggest to watch on the 'TextFieldTwo' value and manually set the `shrink` option.
https://codesandbox.io/s/flamboyant-mountain-9532t

[2020-05-03 19:00] devrnt commented on #1557
In this use case should not use `Controller`. Just use `register` on the `<input type="radio" />` field.
https://codesandbox.io/s/eloquent-cache-6m59s

[2020-05-03 19:20] chrishoermann commented on #1556
@devrnt Thanks for the help! I tried the Sandbox 2 option and currently it introduces no performance issues.

I'll definitely try out the sandbox 1 version too. Needs a lot less code and is more readable.

[2020-05-03 19:20] #1556 closed

[2020-05-03 19:35] devrnt commented on #1558
You should use `defaultValues` only for initialization, so when you invoke `useForm`. When you want to update the values in the _future_ you should use the `reset` or `setValue`api.

I think you can use a `useEffect` where you invoke `reset({ acls: Array(acls.length).fill(false) })` instead of trying to update the `defaultValues`.

[2020-05-03 20:00] stefanv commented on #1558
This is a functional component, so I *am* providing `defaultValues` to `useForm`. Surely, you're not meant to keep track of whether `useForm` is only executed on a single render?

Clarifying: I am *not* trying to update `defaultValues`. It is calculated when the component is rendered.

[2020-05-03 22:51] bluebill1049 commented on #227
@Andrewnt219 use getValues

[2020-05-03 22:51] #1554 closed

[2020-05-03 22:52] bluebill1049 commented on #1557
Thanks @devrnt you are right. if you are want to use Controller, then you should build a wrapper to host all your radio inputs inside and let the controller collect the values.

[2020-05-03 22:52] #1557 closed

[2020-05-03 22:53] bluebill1049 commented on #1558
where is the codesandbox to reproduce?

[2020-05-03 23:30] #1548 closed

[2020-05-04 00:34] hmtri1011 commented on #1557
Hi, in my case I use Controller because I have a custom input and I don't want to forwardRef so I dont use register.

Back to my example, you guys can see, the problem is when we use Controller and wrap an input radio element (Custom or original HTLM5 input), the value is always missing, you guys can check in the elements tab on devtools as well.

I'm not sure if we miss something or this is corre

[2020-05-04 00:43] bluebill1049 commented on #1557
<img width="921" alt="Screen Shot 2020-05-04 at 10 41 54 am" src="https://user-images.githubusercontent.com/10513364/80930037-e2cee280-8df3-11ea-8e85-10f6e8c578c0.png">

Like I mentioned above if you have multiple inputs as radio have the same name, then it wouldn't work with a controller, unless you build a wrapper for your radio inputs. However, register works with native input, but that's not a

[2020-05-04 00:49] kyle-mccarthy opened #1559 "[ts] FormContext - types of property 'setError' are incompatible."
**Describe the bug**

Types of property setError are incompatible for array values. I thought that #1509 fixed this, so it is probably regression.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form where one of the default values is an array.
2. Pass the form to FormContext
3. TS error

**Codesandbox link (Required)**
https://codesandbox.io/s/immutable-shape-x34v9?file=/src/App.ts

[2020-05-04 02:16] bluebill1049 commented on #1517
Here is a working version:

[code]

codesandbox link: https://codesandbox.io/s/material-demo-65rjy?file=/demo.js:0-932

However, I do not recommend doing so, because Checkbox in material UI probably should return checked (boolean) instead of (value).

[2020-05-04 05:04] kiansenggoh opened #1560 "getPath(...).flat is not a function"
**Describe the bug**
getPath(...).flat is not a function

only get this error when running Jest unit testing for fieldArray.
trying to migrate from 5.2.0 to 5.3.0

see below screenshot.

![image](https://user-images.githubusercontent.com/56799988/80937445-c6d53c00-8e07-11ea-9558-d27687ec656d.png)

[2020-05-04 05:10] bluebill1049 commented on #1560
please upgrade your Jest to latest, old jest didn't support `Array.flat`.

[2020-05-04 06:19] kotarella1110 commented on #1559
oh… sorry.
I will look into tonight.

[2020-05-04 06:36] bluebill1049 commented on #1559
Thanks a lot @kotarella1110 🙏

[2020-05-04 07:23] stefanv commented on #1558
I will try and figure out how to build a redux sandbox.

With redux, it is quite typical for props to change, and of the defaultValues of the form depends on those props, this type of problem will occur.

The problem with reset is that you cannot simply call it in a functional container, otherwise it will lead to continual re-rendering.

[2020-05-04 07:29] bluebill1049 commented on #1558
Why would redux pass new props while users interacting with the form. It’s not redux form where we store form state inside the redux. If value arrive asynchronous then use setValue, if entire form default values need to be updated then use reset. I don’t see conflicts between this lib and redux.

[2020-05-04 07:32] Amtron opened #1561 "getting child useFieldArray to render when using append on parent useFiledArray"
I have a group of fields (parent group) which contain another group of fields (child group); the user is able to append and remove fields from each group (the parent group and the child group). I'm having difficulties getting the child filed to render when using append on the parent group.

I'm able to use remove of the parent group without any problems but when it comes to append the children of

[2020-05-04 07:35] bluebill1049 commented on #1561
Can u provide a simple codesandbox to produce this problem?

[2020-05-04 07:38] Amtron commented on #1561
Before append:

![Screen Shot 2020-05-04 at 5 31 00 pm](https://user-images.githubusercontent.com/5695805/80944597-488b9080-8e2d-11ea-9ae9-7135c8079ffe.png)

See how the first group has "Colour" and "Image Select"

After append:

![Screen Shot 2020-05-04 at 5 36 14 pm](https://user-images.githubusercontent.com/5695805/80944841-c94a8c80-8e2d-11ea-8f84-f643d881c6d5.png)

After append the second grou

[2020-05-04 07:44] bluebill1049 commented on #1561
This doesn’t help me to investigate into the problem.

[2020-05-04 07:45] bluebill1049 commented on #1561
Please follow our issue template by provide a codesandbox to reproduce the issue or question.

[2020-05-04 07:51] stefanv commented on #1558
Ok, I think I see: this would need to be done with `useEffect` probably? I'll give that a shot and report back. Thanks!

[2020-05-04 08:08] bluebill1049 commented on #1558
yea, if you got an issue to send that codesandbox, i am more than happy to assist.

[2020-05-04 09:43] kiansenggoh commented on #1560
thank u so much. :)
update the jest library and include core-js:3.6.5

[2020-05-04 09:43] #1560 closed

[2020-05-04 10:41] Amtron commented on #1561
Please see code example:

https://codesandbox.io/s/react-hook-form-nested-fields-lgy5j?file=/src/index.js

Click add group; you should see that the "friends" do not get rendered.

[2020-05-04 11:01] bluebill1049 commented on #1561
oh, I see your problem now. Let me explain, each `useFieldArray` is actually having its own scope and own field array when you append parent `useFieldArray`, your child `useFieldArray` is not aware of that, for child `useFieldArray` to append, you will have to invoke the child `useFieldArray`'s append method.  There are a few ways to resolve this:

1. use Context so you can invoke child useFieldAr

[2020-05-04 11:05] bluebill1049 commented on #1548
here r some more context: https://github.com/react-hook-form/react-hook-form/issues/1561

[2020-05-04 11:42] dorsharon opened #1564 "Can't seem to update a field when using useFieldArray with setValue"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**

**To Reproduce**
Steps to reproduce the behavior:
1. use `useFieldArray`
2. try to update a certain field in all members of the array using `setValue`
3. `fields` is out of sync with `watch`

**Detailed explanation:**
I'm using useFieldArray to manage an array of objects

[2020-05-04 11:43] bluebill1049 commented on #1564
can you please follow the question template?

[2020-05-04 11:53] #1559 closed

[2020-05-04 11:53] dorsharon commented on #1564
I updated my question, hopefully that's good enough to understand my problem

[2020-05-04 12:00] bluebill1049 commented on #1564
<img width="729" alt="Screen Shot 2020-05-04 at 9 59 38 pm" src="https://user-images.githubusercontent.com/10513364/80963581-923aa200-8e52-11ea-8fde-a27dee530f4b.png">

[2020-05-04 12:29] dorsharon commented on #1564
Sorry, I've tried to replicate as best I could:
https://codesandbox.io/embed/react-hook-form-usefieldarray-template-2csgp?fontsize=14&hidenavigation=1&theme=dark

Right now, this is the only way I could keep them in sync, using both `setValue` and manually updating the `fields` array

[2020-05-04 13:19] stefanv commented on #1558
@bluebill1049 I managed to build a sandbox that replicates the behavior I see at https://codesandbox.io/s/react-hook-form-controller-vhuqg?file=/src/index.js

The `useEffect` workaround didn't do the trick, but most likely I'm missing something obvious.

[2020-05-04 13:35] flaff opened #1566 "setValue does not work"
**Describe the bug**
It seems that `setValue` does nothing. From both context and `useForm` itself

**To Reproduce**
Steps to reproduce the behavior:
1. Use `setValue` in a change handler of an input (or probably anywhere)
2. `setValue` does not set the value when called

**Codesandbox link (Required)**
- [useForm/useFormContext](https://codesandbox.io/s/react-hook-form-useform-template-rgmyp) san

[2020-05-04 22:32] bluebill1049 commented on #1566
please read the doc on setValue: https://react-hook-form.com/api#setValue and `register`.

https://react-hook-form.com/get-started

[2020-05-04 23:02] s3341458 commented on #1561
sorry @bluebill1049 when you say "Context", did you refers to "FormContext" or "React Context API"

[2020-05-04 23:06] bluebill1049 commented on #1561
React Context API @s3341458

[2020-05-04 23:09] bluebill1049 commented on #1561
option 4:

invoke two `useFieldArray` in the same component, for child component pass methods down as props.

[code]

[2020-05-04 23:29] bluebill1049 commented on #1564
what're the steps to reproduce the issue?

your original question above, i don't see `watch`

[2020-05-04 23:32] bluebill1049 commented on #1558
hey @stefanv, I find your example hard to follow, can you explain the steps to reproduce the problem?

[2020-05-05 00:21] bluebill1049 opened #1567 "Please help vote on V6 ErrorMessage"
Please cast your vote on the following poll. many thanks.

https://twitter.com/HookForm/status/1257459894782959618

[2020-05-05 05:16] stefanv commented on #1558
Sure! The form get dynamically updated depending on the prop nr. So, if you increase the counter, the number of checkboxes increase correspondingly.

However, defaultState is cached, and does not get updated, or so it seems.

To see it in action, increase the number of checkboxes, check them all, and try to reset the form. Only the first box resets.

[2020-05-05 05:29] bluebill1049 commented on #1558
@stefanv you want to take a look at my example: https://codesandbox.io/s/determined-tree-d4yyc?file=/src/index.js

[2020-05-05 05:53] dorsharon commented on #1564
My point was that I was using both `watch` and `fields`.

Either way, regardless of those steps, my actual question is how do I manually set a value with a FieldArray in a way that will affect that field in all array members?
Since I must be doing something wrong, because the `watch` values get updated, while the `fields` is not

[2020-05-05 06:09] bluebill1049 commented on #1564
I got your confusion now.

`setValue` is for set input's value, not about trigger re-render (state update).  If you want to trigger state update, then you will need to attach `watch`

take a look at the example below:

https://codesandbox.io/s/react-hook-form-usefieldarray-template-ykcqs?file=/src/index.js

[2020-05-05 07:22] dorsharon commented on #1564
I'm not seeing how you used `watch` in your sandbox.
Also, like I said, I used `setValue`, but then the result was that the `fields` object didn't receive the update.
How do I make sure it does?

[2020-05-05 07:26] bluebill1049 commented on #1564
Please read what I stated above, setValue doesn't trigger re-render only update the input value.

use watch i have updated the codesandbox.

[2020-05-05 07:28] dorsharon commented on #1564
So if, for example, I want to render for each item if its `primary` or not, I can't use `item.primary` since that doesn't ever gets updated, I have to use `watch`?

[2020-05-05 07:30] bluebill1049 commented on #1564
if you are not directly updating the `input` value, you have to use `watch`, `setValue` is targeting on the input hence we don't trigger re-render.

[2020-05-05 07:33] bluebill1049 commented on #1564
`setValue`: only trigger re-render when an error occurred or disappeared
`watch`: re-render what's watched.

[2020-05-05 07:38] dorsharon commented on #1564
I see. Thanks for your replies!

[2020-05-05 07:50] bluebill1049 commented on #1564
welcome :)

[2020-05-05 08:54] #1564 closed

[2020-05-05 09:04] Amtron commented on #1561
@bluebill1049 thanks for the help 👍

[2020-05-05 09:04] #1561 closed

[2020-05-05 09:05] bluebill1049 commented on #1561
welcome as usual @Amtron :)

[2020-05-05 09:08] dorsharon commented on #1564
Hi, going through this again, this still doesn't to work for me.

I've updated the sandbox:
https://codesandbox.io/s/react-hook-form-usefieldarray-template-g6vdp

I've used `watch` and yet `item.primary` is still not updated ever as you can see.
even the value returned from `watch` is still wrong for some reason.

What am I supposed to do to make this right?

[2020-05-05 09:18] bluebill1049 commented on #1564
https://codesandbox.io/s/react-hook-form-usefieldarray-template-ykcqs?file=/src/index.js

not working above?

[2020-05-05 09:51] stefanv commented on #1558
I'm wondering whether this would work with controlled components, and when we don't have nr as a field in the form (which I typically don't). I will convert your example to use controlled components and verify.

[2020-05-05 11:12] raulfelix opened #1568 "Watch() on an array not updating when calling setValue"
**Describe the question?**
Not sure if this is a bug.

Custom input registered and the value is being watched.
When calling `setValue()` with an array of objects the watched value is not updated.

**To Reproduce**
1. Go to https://codesandbox.io/s/react-hook-form-useform-template-5lynl?file=/src/custom-field.js
2. Try the form out by entering a value and pressing the button
3. This will push an it

[2020-05-05 11:20] bluebill1049 commented on #1568
hey @raulfelix i think your CSB is not completed.

[2020-05-05 11:30] stefanv commented on #1558
The moment I change those inputs to controlled components, the proposed solution no longer works.  That was the reason for using `defaultValues` in the first place, since the docs state:

[2020-05-05 11:47] bluebill1049 commented on #1558
https://codesandbox.io/s/determined-tree-d4yyc?file=/src/index.js what about this?

[2020-05-05 12:01] jonhaddow commented on #56
Alternatively (if using webpack) add this to the config:
[code]
to always use the IE compatable version of react-hook-form

[2020-05-05 12:48] stefanv commented on #1558
@bluebill1049 When changing the input to a material-UI checkbox, it does not reset properly:

https://codesandbox.io/s/loving-fire-5xv98?file=/src/index.js

[2020-05-05 12:57] bluebill1049 commented on #1558
https://codesandbox.io/s/fervent-solomon-2u8cr?file=/src/index.js

[2020-05-05 13:01] stefanv commented on #1558
@bluebill1049 That works because you are manually setting the two boxes to false, but if you grow the form that doesn't work any more.

[2020-05-05 13:02] bluebill1049 commented on #1558
if that's your use case, then you should have used `useFieldArray`.

[2020-05-05 13:07] bluebill1049 commented on #1558
it's late here, i will have a play with your example tmr again.

[2020-05-05 13:12] raulfelix commented on #1568
🤦🏽‍♂️I will get back to you. I recreated the CSB and now the issue is not happening

[2020-05-05 13:13] bluebill1049 commented on #1558
https://codesandbox.io/s/fervent-solomon-2u8cr?file=/src/index.js:637-642 last attempt before leaving it for tmr.

[2020-05-05 13:14] bluebill1049 commented on #1568
no worries mate :) have a good night.

[2020-05-05 13:30] stefanv commented on #1558
Thanks for giving it another shot, especially so late!  This one looks promising, and hopefully we get an example for the documentation from the experiment.

[2020-05-05 13:38] dorsharon opened #1571 "remove from useFieldArray doesn't work correctly"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**

**To Reproduce**
Steps to reproduce the behavior:
1. use `useFieldArray`
2. Append new members
3. `remove`ing doesn't work as expected, deletes other members than the one needed

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-usefieldarray-zs0lp

[2020-05-05 13:50] nfabredev commented on #440
Hi everyone, not sure if i should open a new issue as i think this is the same problem happening to me too and #440 did not fix the problem in my case.

Somehow this works with text input as shown in the codesandbox of of Mike in the first post ( and in the tests ), but it doesn't work with html selects.

# Describe the bug
When using .when() or a test which checks the parent value with yup, and r

[2020-05-05 14:05] vilanelle opened #1573 "Validation of field array with yup (min length error) is not working properly"
**Steps to reproduce the behavior:**
1. Go to **sandbox**: https://codesandbox.io/s/react-hook-form-fieldsarray-yup-validation-1bsmi?file=/src/index.js
2. Click on the "Add question" button to add an array item
3. Click on the "Remove question" button to remove the item
4. The error for min array length is not showing :(

**Expected behavior**
Validation should return the error on fail

Thanks in

[2020-05-05 15:15] jaminhaber commented on #1571
I was actually about to post this same issue.

[code]
Result
<img width="584" alt="Screen Shot 2020-05-05 at 11 15 12 AM" src="https://user-images.githubusercontent.com/2616400/81082782-bd100f00-8ec1-11ea-8be4-258841fdcfc2.png">

[2020-05-05 15:47] jaminhaber commented on #1571
CSB: https://codesandbox.io/s/react-hook-form-usefieldarray-fqgxd?fontsize=14&hidenavigation=1&theme=dark

[2020-05-05 17:20] feclist opened #1574 "Callback when form is invalid"
**Is your feature request related to a problem? Please describe.**
We are running into this problem where we need to have some side effect triggered when a form is invalidated. Now we've tried getting to that point by two methods:
1. Writing a useEffect that listens for the `errors` object to change. This doesn't consistently work as only the first invalidation triggers this effect not any subsequ

[2020-05-05 17:55] MartinCerny-awin commented on #1494
@priyankpat Could you please share how you fixed the issue? Thanks

[2020-05-05 20:48] dorsharon commented on #1564
can't you do it without watching the whole array field?
I want to watch only a specific field, wouldn't watching all mean it re-renders on each field change?

[2020-05-05 21:39] stefanv commented on #1558
OK, finally, I think we have it!

https://codesandbox.io/s/react-hook-form-controller-9zxy3?file=/src/index.js

Importantly, the `Controller` needed a `defaultValue`, and no more `defaultValues` is needed.

[2020-05-05 22:33] bluebill1049 commented on #1558
awesome, i would probably have used useFieldArray for dynamic fields.

[2020-05-05 22:33] #1558 closed

[2020-05-05 22:35] bluebill1049 commented on #1494
@MartinCerny-awin
[code]

[2020-05-05 22:39] bluebill1049 commented on #1574
Thanks a lot for you suggestion :) I will leave for my backlog and attach waiting up vote tag.

[2020-05-05 22:40] bluebill1049 commented on #1571
thanks @dorsharon where is the defaultValue? and why comment it out in the codesandbox?

[2020-05-05 22:42] bluebill1049 commented on #1566
closing, for now, feel free to ask more questions.

[2020-05-05 22:42] #1566 closed

[2020-05-05 23:36] bluebill1049 commented on #1573
Thank you, will patch this bug soon.

[2020-05-06 00:10] raulfelix commented on #1568
Lets close this one @bluebill1049 I cannot repeat my issue

[2020-05-06 00:10] #1568 closed

[2020-05-06 00:11] bluebill1049 commented on #1568
no worries 👍 feel free to re-open if you find the way to reproduce.

[2020-05-06 06:32] nfabredev opened #1575 "Yup schema re-validation does not remove error on dependent select fields"
Hi everyone, decided to open an issue as i thought you might not get notification from the [closed issue where i commented](https://github.com/react-hook-form/react-hook-form/issues/440#issuecomment-624067523)

### Describe the bug
When using .when() or a test which checks the parent value with yup, and reValidateMode is "onChange" ( by default ), only the select that is changed has its error remo

[2020-05-06 06:42] dorsharon commented on #1571
Sorry, I pasted the wrong sandbox link, I'll update a new one shortly

[2020-05-06 06:43] LookRain opened #1576 "Controller wrapped component does not update validation rules"
**Describe the bug**
Native HTML elements work perfectly with dynamic validation rules (e.g. an input is required under mode A but not required under mode B), however when working with 3rd party libraries and Controller component, the rules do not get updated, it keeps using the original rule supplied to it for validation.

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap a component libr

[2020-05-06 06:47] dorsharon commented on #1571
Please look at this CSB:
https://codesandbox.io/s/react-hook-form-usefieldarray-glhss?file=/src/index.js

I've used `defaultValue` in all inputs, but remove simply seems to clear all array entirely or something

[2020-05-06 07:05] bluebill1049 commented on #1576
OK this is expected behaviour for Controller and decision was made from DX's perspective.
`rules` is part of dep for register method inside Controller, and we are caching the rules so users won't have to do the memo.

eg:
without us to cache
`const rules = React.useMemo(() => rules, [])`;

[code]

option 1: https://codesandbox.io/s/gracious-payne-nqphl?file=/src/App.js
option 2: https://codesandbo

[2020-05-06 07:08] bluebill1049 commented on #1576
you can read more on this thread as well: https://spectrum.chat/react-hook-form/help/how-to-skip-validation-rules-for-disabled-inputs-using-controller~5b524542-f085-4240-920f-dc893b20aec9

[2020-05-06 07:09] bluebill1049 commented on #1571
it's the same codesandbox.

[2020-05-06 07:09] bluebill1049 commented on #1571
<img width="563" alt="Screen Shot 2020-05-06 at 5 09 23 pm" src="https://user-images.githubusercontent.com/10513364/81146805-5885aa80-8fbc-11ea-8208-5b5a66c3e47b.png">

[2020-05-06 07:37] LookRain commented on #1576
I see the reason why rules are cached inside Controller.

However, I have a pretty complex form that needs to use different validation rules for all fields in different modes. Is there any easy way to achieve this?

Thanks!

[2020-05-06 07:40] bluebill1049 commented on #1576
is `validate` function helps you? otherwise may be worth using schema for validation.

[2020-05-06 07:42] bluebill1049 commented on #1576
did you take a look those two examples? are they helpful?

[2020-05-06 07:45] dorsharon commented on #1571
try now
https://codesandbox.io/s/react-hook-form-usefieldarray-glhss?file=/src/index.js

[2020-05-06 08:04] bluebill1049 commented on #1571
please at least use a proper version: https://codesandbox.io/s/react-hook-form-usefieldarray-ycych?file=/src/index.js

[2020-05-06 08:13] LookRain commented on #1576
Yes I checked out the 2 examples you gave. The first one doesn't seem to be working, the form never validates even it is enabled.

I tried with using `unregister` on mode change in my form, it worked. However, I need to literally `unregister` every form item, which feels quite hacky to me...

[2020-05-06 08:14] dorsharon commented on #1571
Sorry, I'm not the greatest with codesandbox, did you change anything other than getting the lib dependency?
I'm using 5.6.1 and still getting a behavior like the last CSB I posted

[2020-05-06 08:16] bluebill1049 commented on #1576
The first example was actually about the validate function:

[code]

[2020-05-06 08:20] LookRain commented on #1576
The first example doesn't seem to be working, it never validate
![May-06-2020 16-20-06](https://user-images.githubusercontent.com/11829847/81153421-7d2a5400-8fb5-11ea-8658-7fff7dfa3cd6.gif)

[2020-05-06 08:24] bluebill1049 commented on #1576
https://codesandbox.io/s/gracious-payne-nqphl?file=/src/App.js

[2020-05-06 08:26] bluebill1049 commented on #1571
the example you provided wasn't even using a proper version, it was just loading from an src folder. did you take a look the example which i had above? is it working for you, i tested and it's working fo me.

if it's not working, then list the steps the reproduce the problem.

[2020-05-06 08:29] bluebill1049 commented on #1575
I think i understand the problem. I will take a look at the examples tonight.
react hook form only focus a single input at a time, for depend input, you will have to use `triggerValidation`. This is done by design to a limited amount of re-render which will trigger by the lib.

[2020-05-06 08:58] 4ortytwo commented on #1517
I'd like to post another solution as well:

[code]
Codesandbox link: https://codesandbox.io/s/material-demo-639rq?file=/demo.js

[2020-05-06 08:59] szymexpawlowski commented on #1548
@bluebill1049 it's the first time I've experienced such care from lib maintainer. awesome job!

[2020-05-06 09:01] bluebill1049 commented on #1548
my pleasure @szymexpawlowski it's a meaningful thing to do for me as well.

[2020-05-06 09:02] bluebill1049 commented on #1517
i love solutions! thanks very much @4ortytwo

[2020-05-06 09:05] LookRain commented on #1576
so that means I need to write every rule as a `validate` function, and won't be able to use rules like `required` `max`, etc?

[2020-05-06 09:19] bluebill1049 commented on #1576
Yes, if your validation logic is dynamic or you can look into schema validation.

[2020-05-06 09:22] LookRain commented on #1576
Thanks so much for the replies so far! I'll checkout schema based validation :)

[2020-05-06 09:39] bluebill1049 commented on #1576
worth to take a look this one as well: https://react-hook-form.com/api#validationResolver

[2020-05-06 09:39] #1571 closed

[2020-05-06 09:39] #1567 closed

[2020-05-06 11:22] dorsharon commented on #1571
For some reason, changing the dep like u did fixes the CSB, but my own code still fails, and I can't seem to put my finger on a difference.

@jaminhaber, could you perhaps post your codesandbox?

[2020-05-06 11:28] bluebill1049 commented on #1571
@dorsharon can you take a screenshot of your usage? see if can help there.

[2020-05-06 11:40] dorsharon commented on #1571
Thank you for being so responsive!

I have a form for creating an array of floors like so:
![image](https://user-images.githubusercontent.com/23096334/81172574-2b7acd00-8fa7-11ea-9cfe-cc3ae1744d72.png)

With each floor having fields like so:
![image](https://user-images.githubusercontent.com/23096334/81172619-3fbeca00-8fa7-11ea-8128-6677d20a595a.png)

Once I try to remove one of the floors I've ad

[2020-05-06 12:04] bluebill1049 commented on #1571
can you take a screenshot of your code around the `map`? and your delete.

[2020-05-06 12:05] bluebill1049 commented on #1571
also can you copy parts of my code and test in your environment as well.

[2020-05-06 15:18] leventeszmolka commented on #1418
Hi,

It seems that on controlled inputs `touched` still gets triggered `onChange` and not `onBlur`.

[2020-05-06 17:37] kyeotic opened #1579 "Document Array Validation"
The documentations for [validation-resolver](https://react-hook-form.com/api#validationResolver) says it works with external libraries, but provides no examples of how to return an `errors` object without those libraries. I am especially interested in what the `errors` object needs to look like for errors on array fields.

**Describe the solution you'd like**
Examples that do not depend on externa

[2020-05-06 17:53] stramel opened #1580 "Controller requires it's props for custom components"
**Describe the bug**
When using `Controller` with a custom input component, causes the `Controller` to require the `value` and `onChange` props to be required.

**To Reproduce**
Steps to reproduce the behavior:
1. Open codesandbox
2. Observe the type errors

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-controller-template-qrtco

**Expected behavior**
I would expect the

[2020-05-06 18:14] stramel commented on #1580
I think it would be best to only allow the element version for the `as` prop. This is the easiest way to allow passing of props to the component without having to do hard/weird typescript tricks to make passing the props through work correctly. `react-router` v6 took this approach due the same reason.

Also, I think we can use an "injector" typing approach to make it easier to develop components t

[2020-05-06 18:34] FatehAK opened #1581 "How to store form values on unmount of a component?"
**Describe the question?**
Hey Bill, so I am trying to store form values to redux on unmount of a component (i.e As the component unmounts I call the getValues() method and then I dispatch a redux action with the values) but the problem here is getValues() always seems to return the defaults. Any way to go about this? How do you get all form values on unmount?

[2020-05-06 19:56] mKontakis commented on #1517
@bluebill1049
It seems that there is a problem with `5.6.1`.

The initial states of the checkboxes break on the latest version. They are checked but their ui state is not updated.

Try to switch from 5.6.1 and 5.6.0 and refresh on that example:

https://codesandbox.io/s/autumn-pond-8tfip?file=/src/App.js

[2020-05-06 20:36] colemars opened #1582 "Data structure not consistent from watch() to handleSubmit() - intentional?"
When you have some field with a nested structure(array or object), the obj structure returned from `watch()` is different than the final `data` object structure passed from `handleSubmit`.

Specifically, the `watch()` obj structure is flat..
[code]
or
[code]
 whereas `data` is nested.

[code]

Is this intentional/inevitable? Haven't run into issues bc of it, and it kind of makes sense - but seems

[2020-05-06 21:08] chepitoco opened #1583 "Watch is not getting values property on Edge (Component is not rendered again)"
**Describe the bug**
I'm trying to figure out why **watch** is not getting the select value when it's changed by the user, re-render is updated only after OnBlur event happens,  that behavior is just happening on Edge Browser. (For Chrome, FF, Safari it is working as I expected).  When I change the select value this dispatch a new render of the component in almost all browser except EDGE :(

**To

[2020-05-06 22:57] bluebill1049 commented on #1579
V6 will have support with Joi

https://github.com/react-hook-form/react-hook-form-resolvers

you can have a read the source code as well :) feel free to ask questions.

[2020-05-06 22:57] #1579 closed

[2020-05-06 23:00] bluebill1049 commented on #1517
@mKontakis can you raise this as an issue?

[2020-05-06 23:01] bluebill1049 commented on #1582
`watch({nest: true})`

V6 will be nest by default :)

[2020-05-06 23:01] #1582 closed

[2020-05-06 23:04] bluebill1049 commented on #1517
wait didn't i supply you with a working version?

[2020-05-06 23:10] mKontakis commented on #1517
You did mate, but I preferred to use that solution https://stackoverflow.com/a/61541837/2200675 to transform the values using Yup instead of modifying the returned value of Material's component TextField.

Although 5.6.1 breaking that solution may be a bug that should be fixed? I checked the changed between 5.6.1 and 5.6.0 I didn't manage to find something relevant

[2020-05-06 23:12] ilovett opened #1584 "add support for flat name for dot notation"
**Is your feature request related to a problem? Please describe.**

To avoid mapping between form and api requests, sometimes I want my key as a flat string with dot notation, and not to be automatically converted to nested objects.

**Describe the solution you'd like**

To trigger or avoid automatically parsing or nesting dot notation in `name`, use some way to tell parser to ignore nesting the d

[2020-05-06 23:31] bluebill1049 commented on #1584
hey, @ilovett we had flat error object in v3, however, it's not Type compatible so we moved to nested object. I think you may have to use `get` from lodash.

[2020-05-06 23:39] bluebill1049 commented on #1576
I am going to close this issue as it's expected behavior, feel free to follow up with more questions tho.

[2020-05-06 23:39] #1576 closed

[2020-05-06 23:39] bluebill1049 commented on #1580
@stramel would be able to send a PR around this?

[2020-05-06 23:40] bluebill1049 commented on #1580
or perhaps make this fix on V6 branch since @kotarella1110 had made a huge improvement on types.

[2020-05-06 23:45] bluebill1049 commented on #1517
right, please create a separate issue I will do some investigation tonight.

[2020-05-06 23:57] bluebill1049 commented on #1581
please provide a codesandbox.

[2020-05-07 00:00] mKontakis opened #1585 "On 5.6.1, Material UI default checked checkboxes do not appear checked"
The initial states of the checkboxes break on version 5.6.1. They are checked but their ui state is not updated.

Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/autumn-pond-8tfip?file=/src/App.js'
(the default checked checkboxes appear as unchecked)
2. Change `react-hook-form` version to 5.6.0
3. Refresh
4. Default checked checkboxes are now checked

Related to #1517

[2020-05-07 00:42] bluebill1049 commented on #1584
also a side note, we did consider to reproduce flat error object as well, but then it conflicts the type and make thing a lot more difficult too.

[2020-05-07 01:12] kyeotic commented on #1579
So joi is a requirement? I figured there would be a way to do validation without another library.

[2020-05-07 01:21] bluebill1049 commented on #1579
No, it's not requirement.  sorry, I have confused you. you can build your own custom schema.

[2020-05-07 01:23] bluebill1049 commented on #1579
as long as you return { values, errors } from the resolvers, i guess your question is around the type of Errors.

[code]

[2020-05-07 02:03] #1585 closed

[2020-05-07 03:24] bluebill1049 commented on #1573
after careful analyze, here is a proposal for the fix:

because when there is no item in the array field, react hook form will submit data as `{}`, which means in order for the schema validation to validate correctly we will have to append `required()`. react hook form's input state live inside inputs instead local state, which is the reason why when you submit the form, if there is not array fiel

[2020-05-07 03:33] bluebill1049 commented on #1583
CSB doesn't even load at my PC's EDGE...

[2020-05-07 03:42] bluebill1049 commented on #1583
damn IE/Edge doesn't support input event...
https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/input_event#Browser_compatibility

[2020-05-07 03:44] colemars commented on #1582
ty!

[2020-05-07 03:45] bluebill1049 commented on #1582
all good, we are fixing this on the next major version, so you won't have to worry about that.

[2020-05-07 03:48] stramel commented on #1580
Yeah towards the end of this month I can take a look at fixing this. Currently, unable to based on my workload. I think it would be a good v6 fix

[2020-05-07 04:01] bluebill1049 commented on #1583
can you please test this on your EDGE?

https://codesandbox.io/s/react-hook-form-watch-not-working-edge-9ufs6?file=/src/App.js

[2020-05-07 04:17] rmlevangelio commented on #1222
Thank you for this @bluebill1049 !

[2020-05-07 06:26] nfabredev commented on #1575
Thanks for very quick response. My personal use case has been solved by triggering the validation as you proposed, so as far as i'm concerned this issue can be considered solved 👍

However I'm not sure why you would need to do that with `<select>` tags and not with inputs as [shown here](https://codesandbox.io/s/react-hook-form-validation-onchange-70qtf).

[2020-05-07 07:27] bluebill1049 commented on #1575
hey @nfabredev no worries.

can you provide some more context and steps to reproduce for this one?

i don't see a select tag in your example.

[2020-05-07 07:38] leventeszmolka opened #1588 "Touched state gets triggered incorrectly on controlled inputs"
**Describe the bug**
On controlled inputs `touched` state gets triggered by `onChange` and not `onBlur`.

**Codesandbox link (Required)**
https://codesandbox.io/s/wispy-smoke-50v9s?file=/src/App.js

**Expected behavior**
The `touched` state change should get triggered by `onBlur`.

[2020-05-07 08:22] bluebill1049 commented on #1588
https://codesandbox.io/s/nostalgic-northcutt-xlty2?file=/src/App.js

[2020-05-07 08:26] leventeszmolka commented on #1588
@bluebill1049 Many thanks for the quick response, it looks great on my side.

[2020-05-07 09:04] iamchathu opened #1591 "New update break types for Control component"
**Describe the bug**
I updated `react-hook-form` from `5.6.1` to `5.6.2`. After that typescript build get fails for Controller components

[code]

**To Reproduce**
See codesandbox

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-ts-bug-m8lyk?file=/src/index.tsx

**Expected behavior**
Control should use specified Type.

[2020-05-07 09:20] #1588 closed

[2020-05-07 09:31] bdmason commented on #1581
You probably need a cleanup method inside useEffect: https://reactjs.org/docs/hooks-effect.html#effects-with-cleanup

[2020-05-07 09:59] kotarella1110 commented on #1591
I will fix tonight.

[2020-05-07 10:10] bluebill1049 commented on #1591
thanks a lot @kotarella1110

[2020-05-07 10:11] bluebill1049 commented on #1591
@kotarella1110 don't force yourself to fix it tonight. take it easy, do whenever you are free 🙏 thanks a lot.

[2020-05-07 10:11] iamchathu commented on #1591
Thanks a lot @kotarella1110 @bluebill1049

[2020-05-07 10:49] NishantGurung93 opened #1594 "Validation is inconsistent with mode: "onBlur""
**Describe the bug**
When repetitively focusing on and out of input field, the error state returned from validation is inconsistent.

**To Reproduce**
Steps to reproduce the behavior:
1. Type any valid value in last name i.e. Tommy
2. Click on and out of input field to trigger onBlur
3. Observe that the error state changes despite there being no change in the input value

**Codesandbox link (Requi

[2020-05-07 10:52] bluebill1049 commented on #1594
you want to take a look at `reValidateMode`

[2020-05-07 10:59] NishantGurung93 commented on #1594
I believe reValidateMode matters only when it hits an error state, as it decides when to validate the input field again from an invalid state to a valid state.

The behaviour I'm seeing is that a valid input gets changed from a valid state into an invalid state just by focusing in and out of the field.

https://codesandbox.io/s/react-hook-form-useform-template-tzyln?file=/src/index.js
Nevertheless

[2020-05-07 11:02] bluebill1049 commented on #1594
I can't reproduce. can you take a screen capture?

[2020-05-07 11:08] NishantGurung93 commented on #1594
Yes, here it is. This one is from https://codesandbox.io/s/react-hook-form-useform-template-tzyln?file=/src/index.js with `mode` and `reValidateMode` both set to `onBlur`

https://giphy.com/gifs/m9wAnUx7QJUHMWxVbT/html5

[2020-05-07 11:17] bluebill1049 commented on #1594
Thanks 👍  very strange issue.

[2020-05-07 11:19] NishantGurung93 commented on #1594
I think it has to do with the pattern being applied.

When I remove the pattern, the issue seems to subside. I hope this helps

[2020-05-07 11:22] bluebill1049 commented on #1594
it is pattern related...

[2020-05-07 11:28] bluebill1049 commented on #1594
it's due to

`/^[-A-Za-zÀ-ÖØ-ʒͰ-ͳͶ-ͷͻ-ͽvΑ-Ͽἀ-ῼЀ-ӿễấ ']+-?[\sA-Za-zÀ-ÖØ-ʒͰ-ͳͶ-ͷͻ-ͽvΑ-Ͽἀ-ῼЀ-ӿễấ ']*$/g`

I think I remember now `/g` will keep append regex.

[2020-05-07 11:28] bluebill1049 commented on #1594
https://stackoverflow.com/questions/1520800/why-does-a-regexp-with-global-flag-give-wrong-results

[2020-05-07 11:30] NishantGurung93 commented on #1594
Great spot, removing the global tag does seem to fix the issue. Thank you :)

[2020-05-07 11:31] bluebill1049 commented on #1594
I think i remember reading a post about this `/g`, regex will cache or append somehow, I can't find the post anymore.

[2020-05-07 11:33] bluebill1049 commented on #1594
https://medium.com/@nikjohn/regex-test-returns-alternating-results-bd9a1ae42cdd

[2020-05-07 11:33] #1594 closed

[2020-05-07 12:43] kotarella1110 commented on #1591
@iamchathu I will fix this, but changing it from interface to type works with `v5.6.2`.

[2020-05-07 12:57] stefanv commented on #1558
I'm including the full example here for posterity, in case the code sandbox goes away.  The reason I did not use `useFieldArray` is because, in my actual example, I had a more complex form to set up.

[code]

[2020-05-07 13:19] #1591 closed

[2020-05-07 13:20] bluebill1049 commented on #1558
Thanks for sharing solution @stefanv

[2020-05-07 14:46] mKontakis commented on #1585
@bluebill1049 Thank you for your quick reflexes - you are a lifesaver!

[2020-05-07 15:02] chepitoco commented on #1583
@bluebill1049  I wasn't able to see https://codesandbox.io/s/react-hook-form-watch-not-working-edge-9ufs6?file=/src/App.js working on my Edge, here the error in my edge console

![edge-not-loading-sandbox](https://user-images.githubusercontent.com/15802694/81309024-1ace6380-9048-11ea-927f-5319f3c8a5c6.png)

However I download the zip from your codesandbox url and I ran the project locally and the

[2020-05-07 15:02] joejordan opened #1596 "Default values not set in Material UI Autocomplete"
**Describe the bug**
Default value is not set in Material UI's Autocomplete (which is internally a MUI TextField component).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form with a Material UI Autocomplete component
2. Provide useForm a defaultValues object that includes a value for Autocomplete
3. Load the form and the default value is not selected

**Codesandbox link (Required

[2020-05-07 15:10] iamchathu commented on #1591
Thank you @kotarella1110

[2020-05-07 15:27] FatehAK commented on #1581
It's exactly this issue https://github.com/react-hook-form/react-hook-form/issues/494. The solution given here works. But @bluebill1049 is there a better solution? If not please close this issue. Thanks

[2020-05-07 17:45] chepitoco commented on #1583
@bluebill1049 I've tested your code locally and I found the reason why your last fix doesn't work yet, It is regarding the element.type values, Here my comments abut your validation https://github.com/react-hook-form/react-hook-form/commit/8218583c74ceac31e8874e60a69dfc819502a2df

Your are very close to solve it. :)

[2020-05-07 17:46] ilovett commented on #1584
Is that the `NestDataObject` type?  How does it infer from the `.` if there is a child vs. not treating the key as a string?

[2020-05-07 21:19] steelersd commented on #1596
[Controller](https://react-hook-form.com/api#Controller) might be what you need.

Maybe a starting point https://codesandbox.io/s/vibrant-framework-i3e5d?file=/src/App.js

[2020-05-07 22:09] jgonera opened #1597 "Sharing refs doesn't work in TypeScript"
**Describe the bug**
I'm trying to follow https://react-hook-form.com/faqs/#Howtosharerefusage but it won't compile in TypeScript.

**To Reproduce**
Try to compile the code from the Codesandbox below.

You'll get the following errors:

[code]

[code]

[code]
[code]

**Codesandbox link (Required)**
I'm not sure how to configure Codesandbox for TypeScript but this is the code:
https://codesandbox.io

[2020-05-07 22:36] jgonera commented on #1597
It seems I just didn't know how to do it. https://github.com/DefinitelyTyped/DefinitelyTyped/issues/31065#issuecomment-446425911 helped.

You have to do:

[code]
 />

I guess the docs don't really have TypeScript examples but maybe that's worth a mention?

Also, are the types wrong or is `if (ref)` a good idea for the JS version too?

[2020-05-07 22:52] bluebill1049 commented on #1581
i will go with useEffect :)

[2020-05-07 22:52] #1581 closed

[2020-05-07 22:56] bluebill1049 commented on #1596
Yes, please use controller for component doesn't expose ref.

[2020-05-07 22:56] #1596 closed

[2020-05-07 22:57] bluebill1049 commented on #1597
nice, you want to help and add the TS version on the doc?

[2020-05-07 23:09] bluebill1049 commented on #1583
oh lord, where is the web standard...

[2020-05-07 23:16] sgentile opened #1598 "Form State isn't trigging valid form until control is blurred"
I'm using
[code]

I have a required field, I'm setting it's value and it show it has a value, but until I blur the control then it sees the form as valid ?

[code]

Is there a way to tell the form to recheck the values ?

[2020-05-07 23:26] bluebill1049 commented on #1598
please provide a codesandbox for reproducing.

[2020-05-07 23:28] bluebill1049 commented on #1584
I don't think we will support a flat error object, anything '.' inside the string will be converted into the `object`. `NestDataObject` was made to support when `values` and `errors` is not matching the data type.  @kotarella1110 the author can explain further here.

[2020-05-07 23:43] kolope commented on #681
###

[2020-05-07 23:48] bluebill1049 commented on #1583
updated: https://codesandbox.io/s/react-hook-form-watch-not-working-edge-9ufs6?file=/src/App.js

[2020-05-08 00:30] kotarella1110 commented on #1584
@ilovett Thanks for your suggestion.
Because TS cannot parse the string literal type, this suggestion can cause to the following type error:

[code]

[2020-05-08 00:35] chepitoco commented on #1583
@bluebill1049  That is working on Edge..

[2020-05-08 00:36] bluebill1049 commented on #1583
finally!

[2020-05-08 00:39] #1583 closed

[2020-05-08 00:53] chepitoco commented on #1583
@bluebill1049  Thanks a lot!

[2020-05-08 01:10] bluebill1049 commented on #1583
I will release the patch soon after (real) work :)

[2020-05-08 08:16] alexeikaratai commented on #1591
any update? when it will be fix ?

[2020-05-08 08:21] bluebill1049 commented on #1591
doing it now @alexeikaratai

[2020-05-08 14:06] johnlai1011 commented on #769
I have this warning after upgrade expo to ^37.0.0. The other project with expo ^36.0.0 have no issue. Please advice for expo 37. Thanks a lot!

[2020-05-08 14:43] alpersogukpinar opened #1600 "formatter property Controller component"
**Is your feature request related to a problem? Please describe.**
For some cases, I need to store different format or type of value in form than value passed to inner component. For example, I want to store date value in form within datetime format, but I need to pass moment type value to AntDesign DatePicker component.
Using Controller's onChange prop I can convert value to Datetime format and s

[2020-05-08 20:16] ilovett commented on #1584
Thanks @kotarella1110 .  The types do indeed pass, however the parsed values sent to `onSubmit` is parsed with the `'` prepended on first key, and appended to last key -- returns values like

[code]

It would be cool if instead of nesting, first checks if it's a string if it contains `'` (or some other way of telling RHF not to automatically `transformToNestObject`) and returns flat:

[code]

Not

[2020-05-08 20:16] #1584 closed

[2020-05-08 22:40] vikas26294 commented on #1005
I also ran into same issue. I was able to solve it by modifying my submit function to

[code]

[2020-05-08 23:51] bluebill1049 commented on #769
check your data type, number vs string

[2020-05-08 23:51] #1598 closed

[2020-05-08 23:51] #1575 closed

[2020-05-09 00:01] bluebill1049 commented on #1600
take a look at this: https://github.com/react-hook-form/react-hook-form/blob/master/examples/parseFormatInputValues.tsx

https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc

in the examples folder: https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc

[2020-05-09 00:44] #1597 closed

[2020-05-09 06:08] crystalneth commented on #633
The React Native examples in the documentation for custom register does not support default values, and this doesn't appear to be documented. This is pretty confusing. Is there a supported or suggested way to have default values using a custom register as opposed to a Controller?

https://react-hook-form.com/get-started#ReactNative

[2020-05-09 06:17] crystalneth commented on #633
The consequence of this is that I implemented initially with the custom register, spent an hour trying to figure out what the right way to handle initial values is, then found this bug, and have to reimplement.

Not that big a deal, however some more clarity in the docs would be helpful.

[2020-05-09 06:49] bluebill1049 commented on #633
Take a look at this example @crystalneth : https://react-hook-form.com/get-started#ReactNative

[2020-05-09 06:56] paambaati opened #1602 "How do I access all array field values in validate callback?"
**Describe the question?**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form that has field arrays (i.e. fields with same name + an array index).
2. Use `ref=register()` with a custom `validate` callback.
3. Try to validate the array, but get access to only each individual value in the callback.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-array-field

[2020-05-09 06:57] bluebill1049 commented on #1602
`getValues()`

[2020-05-09 07:02] paambaati commented on #1602
Ah, I'm really sorry for having overlooked that. I can confirm this works; thanks a lot!

[2020-05-09 07:02] #1602 closed

[2020-05-09 07:03] bluebill1049 commented on #1602
Hey @paambaati don't be sorry at all :) we all miss reading docs sometimes... have a good weekend.

[2020-05-09 07:06] crystalneth commented on #633
Thanks. Yeah, that's what I'm looking at. The custom register version does not show how to support initial values. I'm guessing there's a way, however I'd rather do something documented, so the controller based example is what I'm following now, which has a defaultValue param for the Controller element.

Separately would love to see the examples in Typescript.

[2020-05-09 07:10] bluebill1049 commented on #633
Controller is easier to set defaultValues, in terms of TS we are making improvement on V6, hopefully we will have a dedicated page for `TS`.

[2020-05-09 09:19] arthurRbr opened #1603 "reValidateMode: nested field change does not trigger parent validation"
Hello,

I have an array that requires at least one value.

When a child input defined with `name={colors[${index}]} ` is updated, it triggers the validation of the child field, but not the validation of the parent array.

Here is [a minimal repro](https://codesandbox.io/s/react-hook-form-validationschema-zsu78?file=/src/index.js) (I know I could define multiple checkboxes with the same name, but m

[2020-05-09 09:50] bluebill1049 commented on #1603
can you provide steps to reproduce? if it depends on validation, you may need to use `triggerValidation`.

[2020-05-09 11:54] arthurRbr commented on #1603
You can reproduce with [this repro ](https://codesandbox.io/s/react-hook-form-validationschema-zsu78?file=/src/index.js):
- submit the form, validation works, errors are properly set
- modify the `colors` array by selecting a checkbox, the array error is not removed, although `reValidateMode: true`, meaning the array validation was not triggered
- submit again, now the error goes away, meaning the

[2020-05-09 11:59] bluebill1049 commented on #1603
@arthurRbr your codesandbox is v4? can you double-check with the latest?

[2020-05-09 14:19] ThahaShahzad opened #1604 "input not touched until after clicking off of active button"
defaultValues : {
item_type: ''
item_choices: [
        { choice: '', correct: 0 },
        { choice: '', correct: 0 },
        { choice: '', correct: 0 },
        { choice: '', correct: 0 }
      ]
}

i have a input that's rendered on start for item type, i have a component setup to then render the item choices input once the item_type is touched but its only touched once you click off the select

[2020-05-09 17:03] arthurRbr commented on #1603
Yes the issue also happens with 5.6.3

[2020-05-09 21:06] alpersogukpinar commented on #1600
Thanks for your quick response and additional Parse component seems to work for my case, but don't you think formatter prop would be a simpler solution.

[2020-05-09 23:23] bluebill1049 commented on #1600
👍 Perper to avoid additional props at this stage, probably will include more information at the doc instead.

[2020-05-09 23:23] #1600 closed

[2020-05-09 23:26] bluebill1049 commented on #1603
[code]

please take a look above for the fix.

[2020-05-09 23:26] #1603 closed

[2020-05-10 06:00] bluebill1049 commented on #1604
please follow our issue/question template.

[2020-05-10 07:42] jinocj commented on #665
hey im facing the same issue , if default values are set by state ,  the form in not updating with default values, @bluebill1049 can u help

[2020-05-10 07:42] bluebill1049 commented on #1604
will reopen until more context is supplied and follow our issue template.

[2020-05-10 07:42] #1604 closed

[2020-05-10 07:43] bluebill1049 commented on #665
need richer context, I am not a mind reader... provide a codesandbox i can take a look.

[2020-05-10 07:47] jinocj commented on #665
import React  from 'react';
import { Card,CardBody, Button,Input,Form,Label,Row,Col,FormGroup} from 'reactstrap';
import { useForm ,Controller} from 'react-hook-form';
import ReactDatePicker from "react-datepicker";
import "react-datepicker/dist/react-datepicker.css";
import InvalidFeedback from 'components/InvalidFeedback'

const CreateFormComponent = (props) => {

    const { register, handleSub

[2020-05-10 07:49] jinocj commented on #665
@bluebill1049  this is my code ,  where props.defaultValues are coming from a parent component

[2020-05-10 07:52] bluebill1049 commented on #665
use `reset` at `useEffect`, if default values coming async

[2020-05-10 08:14] jinocj commented on #665
thanks @bluebill1049 , it helped , thanks for quick response

[2020-05-10 14:56] matteoscurati opened #1607 "formState does not seem to work properly in onChange mode and with a validate custom function"
**Describe the bug**
My goal is that the submit button is enabled only if there are no errors in the form. The form consists of three checkboxes. At least one of the checkboxes must be true. If I select one of the checkboxes, the validation works correctly, but formState.isValid remains false. formState.isValid appears to change randomly by clicking on the form.

**To Reproduce**
Steps to reproduc

[2020-05-10 17:44] harsandevhunt commented on #598
Its not! Still facing the same even "react-bootstrap": "^1.0.1". I'm trying to ref the <div> element in class component. But ref tag throwing errors. Pls share any github snippet ref.

[2020-05-10 22:56] bluebill1049 commented on #1607
because each checkbox has been assigned with individual validation if you check all of them then the validation pass.

1) create a wrapper component like MUI and use controller:
https://codesandbox.io/s/react-hook-form-controller-079xx

2) trigger validation to fire for the other two checkboxes.

[2020-05-11 01:29] manualva7 commented on #497
That works good. Interesting that I'm always relying on state, but the controller is managing it all the time.

I think the plugin should clarify to not rely on state. It's a bit confusing. All data is passed from the handleSubmit handler to the final onSubmit function.

That parameter there, data, replaces the need for state.

`const onSubmit = (data) => {
        console.log(data)
        alert(

[2020-05-11 06:07] vilanelle commented on #1573
Thanks for the quick reply, the proposed solution will work for us. Also, you're doing an awesome job with the library (and support), many thanks :))

[2020-05-11 06:12] bluebill1049 commented on #1573
awesome, thanks @vilanelle I will put into a PR for this issue. thanks for the verification.

[2020-05-11 08:18] #1573 closed

[2020-05-11 13:29] nfabredev commented on #1575
Both the sandbox i linked to use select tags with options, and need to use `triggerValidation ` to work unlike this other example that use [text input](https://codesandbox.io/s/react-hook-form-validation-onchange-70qtf)

[2020-05-11 14:57] angus-kablamo commented on #1600
For what it's worth I came here looking for exactly this option. I'm not sure why you would supply a prop to override what the input value is parsed as with `onChange`, but no corresponding prop to format the value that's passed back to the input. The alternative example is more unwieldy than a simple formatValue function.

[2020-05-11 16:15] Mavrick91 opened #1611 "How to use Checkbox with Ant Design"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**
Hey ! I am trying to implement the checkbox from ant design, but I am not sure how to do it.
May you have a look ?

**To Reproduce**
Check the checkbox and submit, you could see a console.log with a value of undefined

**Codesandbox link (Required)**
https://codesandbox.i

[2020-05-11 17:28] abhishekkumar1-kiwi commented on #72
Link not working. Can you please check this

[2020-05-11 17:43] #1611 closed

[2020-05-11 18:58] rofrol commented on #377
404

[2020-05-11 20:42] arrocke opened #1613 "Focus on error goes to first error in order of registration rather than in DOM order."
**Describe the bug**
Focus on error follows input registration order, not DOM order. Definitely not a deal breaker for this amazing library, but it would make the user experience a lot cleaner.

**To Reproduce**
Steps to reproduce the behavior in the codesandbox link:
1. Click submit (focus goes to Extra Input)
2. Click append to add a new input above Extra Input.
3. Click submit again (focus stil

[2020-05-11 22:21] bluebill1049 commented on #377
@rofrol you will have to need to write a `validate` function to check one of them is checked

[2020-05-11 22:22] bluebill1049 commented on #1613
That's expected behavior.

[2020-05-11 22:22] #1613 closed

[2020-05-11 22:26] #1607 closed

[2020-05-11 22:53] gcourtemanche opened #1614 "handleSubmit possibility to catch when validation fails"
**Is your feature request related to a problem? Please describe.**
I'm using snackbars to show errors to the user and I need to create them one time when the validation fails. I can't rely on the `errors` object like when you show the error as text next to your field. I'm using `triggerValidation` at the moment, but it doesn't handle the focus on html elements.

**Describe the solution you'd like*

[2020-05-11 22:58] bluebill1049 commented on #1614
you can upvote on this issue: https://github.com/react-hook-form/react-hook-form/issues/1574

[2020-05-11 22:58] #1614 closed

[2020-05-12 04:05] arrocke commented on #1613
I understand that this is how the library works currently, but can't this be improved? If you have an input with an error and another input after it is focused when you submit, then a low vision user will most likely tab forward to the submit button and miss that first input with the error.

[2020-05-12 04:11] bluebill1049 commented on #1613
See the issue above that you raised as a bug? so for this lib is expected behavior. It's always easy to ask why this lib doesn't support this and that, but why not put into another perspective, do some deep investigation, and see if this is possible or even "easy" to implement before making a statement to be improved.

here is my import:

I think this would not be an easy task for react hook form

[2020-05-12 05:14] paambaati opened #1616 "Request to add 🏎 Downshift examples"
**Is your feature request related to a problem? Please describe.**
[Downshift](https://github.com/downshift-js/downshift) is a fantastic library for creating WAI-ARIA compliant lightweight dropdown/combobox components, but is quite difficult to integrate properly with react-hook-form. It would be nice if there were a few examples that show how to implement Downshift + RHF.

**Describe the solution

[2020-05-12 05:18] bluebill1049 commented on #1616
can you supply a simple base (codesandbox) for Downshift, I never really used it before, but I will give it a try.

[2020-05-12 05:47] paambaati commented on #1616
Here's a few examples —

1. https://codesandbox.io/s/github/kentcdodds/downshift-examples
2. https://codesandbox.io/s/simple-downshift-with-getrootprops-example-24s13
3. https://codesandbox.io/s/github/kentcdodds/downshift-examples/tree/master/?module=/src/other-examples/gmail/index.js&moduleview=1&file=/src/other-examples/gmail/index.js

[2020-05-12 05:49] jinocj commented on #127
Hey @bluebill1049  ,  will there be any support for input type file planned  in react-hook-form planned for future releases? currently in docs , there is nothing given on it ,

[2020-05-12 05:51] bluebill1049 commented on #127
hey @jinocj we support input type file, give it a try and let me know if you have questions.

[2020-05-12 06:02] jinocj commented on #127
@bluebill1049  Can u share the link of sample code or of docs

[2020-05-12 06:17] bluebill1049 commented on #127
`<input type="file" ref={register} />` should be just as standard.

[2020-05-12 07:29] bluebill1049 commented on #1616
donwshift have been included in the example: https://codesandbox.io/s/react-hook-form-controller-079xx?file=/src/DonwShift.js

[2020-05-12 07:29] #1616 closed

[2020-05-12 07:51] vilanelle opened #1617 "fieldArray `required` validation errors out even when array not empty"
**The `required` validation on field array gives a false-positive error when an array element is removed, but the array is not empty.**

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-fieldsarray-yup-validation-um8sn?file=/src/index.js

**Expected behavior**
The `required` validation should pass when array is not empty

[2020-05-12 07:53] JReinhold commented on #1616
I hooked up Downshift with React Hook Form last week, it works pretty good. I can share my work, however it is quite specific to my use case (combobox, multiselect, etc.) and as there are many ways to use downshift, it probably needs to be simplified a bit.

But for now, here's the important parts of my code. The `MultiCombobox` component is a raw Downshift component that functions as a combobox w

[2020-05-12 08:03] bluebill1049 commented on #1616
Thanks for sharing @JReinhold

[2020-05-12 08:15] bluebill1049 commented on #1617
hmmmi think what I did before is not correct, it's much easier to do at useEffect level and `setError`, probably won't work well with schema validation with useFieldArray with min length.

[code]

[2020-05-12 08:32] JReinhold commented on #1580
Would this mean that passing a function to the `as` prop would no longer work? Something like

[code]

I think that would be a shame. But maybe what you are saying, is that `as="stringElement"` would no longer work?

[2020-05-12 08:40] bluebill1049 commented on #1580
@JReinhold we haven't made any decision or progress on this yet. will keep you posted. DX is super important for this lib, we wouldn't want to sacrifice it.

[2020-05-12 11:07] rvision opened #1619 "Correct usage of react-select?"
I am using react-hook-form for adding and editing data. To make it work with react-select, I am using following code :

[code]

By using defaultValue I am making the option to edit selected and that works as expected.

But this prop is valid only when I render the component only if I have all required data before (color options, model and model.color). If I render the form without this, it will be

[2020-05-12 11:26] bluebill1049 commented on #1619
please have a read at the Controller section: https://react-hook-form.com/api#Controller

there is a codesandbox as well.

[2020-05-12 11:45] rvision commented on #1619
@bluebill1049
Thanks, I know about Controller, but I wasn't able to make it work like I wanted. I also tried it right now, options are not displayed, selected value also...
FYI, I am using "react-select": "^3.1.0",

[2020-05-12 11:47] bluebill1049 commented on #1619
i have updated to 3.1.0 in the CSB and it's still working. https://codesandbox.io/s/react-hook-form-controller-079xx?file=/src/index.js

can you take a look there and see if you can use Controller with react-select.

[2020-05-12 13:31] YassienW opened #1620 "Custom value using Controller and react-select"
I am using a Controller with react-select. Normally react-select is given a set of option objects each with a value property and a label property.

[code]

On change the selected value should be set to the option object itself.

[code]

In my case, i want to set the form value to the value property instead of the whole option object.
[code]
Using the value prop like so on the Controller element do

[2020-05-12 14:21] arrocke commented on #1613
I can appreciate that this request is difficult to implement and that is why you've chosen not to address this. I should have proposed this as a feature request instead of a bug. I apologize for that.

I would have liked to have heard your reasoning in your original response. I responded as I did because I didn't understand why this was an invalid request. Thanks for a great library

[2020-05-12 16:13] marconucara commented on #1619
I have some problem with react-select too and I can't understand how to use Controller with validation, I can't see it in examples, I can't see it in documentation.

I really like the api and the implementation but generally I see a lot of example without validation and I have to say that this package without validation almost do nothing.

I'm trying without Controller, as uncontrolled component,

[2020-05-12 16:36] john182 commented on #380
Not working para value in object exemple :

`const orderSchema = yup.object().shape({
   name:  yup.string().required(),
    end: yup.object({
      name: yup.string().required(),
    }),
  });`

not change name of end

[2020-05-12 20:07] sirgwain opened #1621 "Multiple useFieldArrays for the same array for different views only saves the last one"
**Describe the bug**
I am using a form to edit a Grandparent with children and grandchildren. I have a separate "view" allowing you to edit just a list of grandchildren.

The grandparent looks like this:

[code]

If I change the name of Grandchild3 in the "All Grandchildren" view, it saves but does not update Grandchild3 in Child2's Grandchildren view. Also, if I change the name of GrandChild3 in

[2020-05-12 20:18] agoiabel commented on #449
@bluebill1049 @stocksp.

Please how do you get this to work, I used the default value like below:

[code]

but still shows the error

[2020-05-12 22:17] lvauvillier opened #1622 "[TypeScript] Incorrect Controller prop type detection for Generic discriminated unions"
**Describe the bug**
If a controlled component has a type defined with discriminated unions using generics, `Controller` is unable to detect its props.

**To Reproduce**
Example with a discriminated autocomplete (single vs multiple values):
[code]

Controller doesn't forward props properly:

[code]

[code]

**Codesandbox link (Required)**
https://codesandbox.io/s/rhf-controller-typescript-generics

[2020-05-12 22:26] bluebill1049 commented on #1613
Thanks for understanding. I think i may be overreacted on the above feature request. please let's move on, but what I stated above is correct, it's a tricky one to do combined with SSR, CSS and media query.

[2020-05-12 22:32] bluebill1049 commented on #380
what? @john182

[2020-05-12 22:34] bluebill1049 commented on #449
@agoiabel have you taken a look at Controller: https://react-hook-form.com/api#Controller

[2020-05-12 22:35] bluebill1049 commented on #1622
I think this is one is duplicated: https://github.com/react-hook-form/react-hook-form/issues/1580

[2020-05-12 22:37] bluebill1049 commented on #1620
you will have to build a wrapper around react-select, or you can take a look at `downShift` as well which gives you the option to customise the return data.

[2020-05-12 23:07] bluebill1049 commented on #1619
closing this issue @rvision  feel free to follow up with questions, the example is in that code sandbox as @marconucara got it working by following the example.

[2020-05-12 23:41] john182 opened #1623 "Setvalue Select MUI"
**Describe the bug**
setValue("object".{name:'teste'}) notworking

**To Reproduce**
Steps to reproduce the behavior:
Open codesandbox
Click button set value

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-controller-zufdl?file=/src/index.js

**Expected behavior**
set value Select.age

[2020-05-13 00:02] bluebill1049 commented on #1623
https://codesandbox.io/s/react-hook-form-controller-9ovo0?file=/src/index.js

[2020-05-13 00:02] #1623 closed

[2020-05-13 00:11] john182 commented on #1623
I'm using materialUI and not ReactSelect

[2020-05-13 00:19] bluebill1049 commented on #1623
then it's even easier than... https://codesandbox.io/s/react-hook-form-controller-9ovo0?file=/src/index.js you should really spend sometimes on the doc, rather just send thing as a bug when it's working because you didn't read the doc.

[2020-05-13 00:57] john182 commented on #1623
![image](https://user-images.githubusercontent.com/10438644/81759439-1d431a00-949b-11ea-9648-68b6a9dd9892.png)

I'm reading the documentation, but I'm applying it here in my project and it's not happening as in the examples

[2020-05-13 01:01] bluebill1049 commented on #1623
Try this:

`onClick={() => setValue("Select", {age:10})}` This should worked as well.

[2020-05-13 01:18] john182 commented on #1623
My project is more or less like this, I have a button to change and a select button to change the values ​​according to the example:

https://codesandbox.io/s/react-hook-form-controller-tftlj?file=/src/index.js

[2020-05-13 03:17] bluebill1049 commented on #1623
That's the correct usage as Controller. can you convert it into Controller?

[2020-05-13 03:29] bluebill1049 commented on #1621
I don't think `useFieldArray` will play nicely with what you above, for RHF input `name` need to be unique, and the example above has two instances of `useFieldArray` which share with the same name.

[2020-05-13 05:27] bluebill1049 commented on #1623
let me know how did you go after convert to controller.

[2020-05-13 09:44] rvision commented on #1619
@bluebill1049

Thanks, your example works, but my case is bit more complicated - default value is still not set. I've omitted details for the sake of example, but I am working with array of objects. Initial values are set from array and still doesn't work.

[code]

[2020-05-13 09:46] bluebill1049 commented on #1619
can you supply a simple codesandbox for your issue?

[2020-05-13 10:16] mr-moto opened #1625 "Controlled input cant type after submit with errors"
**Describe the bug**
In my case I am using a controlled text input to check if the value is a number, if its not a number it doesnt change the state.
Im not sure if this is intended or if I missed something but if I submit the form without filling in anything and there is a validation error, the first key down value doesnt register and the backspace before the last text will not register ( need to

[2020-05-13 10:23] bluebill1049 commented on #1625
you are mixing controlled with uncontrolled.

https://react-hook-form.com/faqs#Whyisfirstkeystrokeisnotworking

if you need to use controllers, then register at `useEffect` and simply user `setValue` to update the input value.

[2020-05-13 10:45] mr-moto commented on #1625
ahh I totally missed that FAQ, thanks for pointing that out!

Ive updated the codesandbox to reflect the changes but im not sure if this would be the most optimal way set the value.

[2020-05-13 11:00] #1625 closed

[2020-05-13 11:01] bluebill1049 commented on #1625
hey @mr-moto you could use the `Controller` as well :)

https://codesandbox.io/s/react-hook-form-parse-and-format-textarea-furtc

lots of examples here: https://github.com/react-hook-form/react-hook-form/tree/master/examples

[2020-05-13 12:07] szymexpawlowski commented on #1573
Hi @bluebill1049 could you provide any estimate when this problem could be solved?

[2020-05-13 12:09] bluebill1049 commented on #1573
I am busy trying to figure out a solution @szymexpawlowski, here is a ticket for you to track: https://github.com/react-hook-form/react-hook-form/issues/1617

[2020-05-13 13:12] john182 commented on #1623
I'll test it as a controller, and give feedback

[2020-05-13 13:49] kevinveiga opened #1627 "formState incomplete data, when you don't have access to the ref"
**Describe the bug**
when using a custom register, not to use the ref, the data in the formState are incomplete, isValid, touched, etc ... are not coming with the data

[2020-05-13 14:01] john182 commented on #1623
I made the change as requested, where I set values ​​for the options according to age, but it didn't happen as expected.

https://codesandbox.io/s/react-hook-form-controller-tftlj?file=/src/index.js

[2020-05-13 14:36] kevinveiga opened #1628 "Touched data lost since version 5.6.0, when ref is not used"
**Describe the bug**
Since version 5.6.0 touched data is not working, when ref is not used

[2020-05-13 15:13] sirgwain commented on #1621
Alright, thanks for the feedback. Can you think of any workaround to support multiple views into the same object on a form?

[2020-05-13 15:58] szymexpawlowski commented on #1573
thanks a ton @bluebill1049

[2020-05-13 16:20] achyutjhunjhunwala commented on #1457
@bluebill1049 @manualva7 Hi Guys,
Thanks for all the inputs above.

I tried whatever solution you provided, but for me, I have a multiline Autocomplete.
The moment I try to edit the AutoComplete Textbox, it breaks badly

Codesanbox Link for your reference
https://codesandbox.io/s/material-demo-fcijs?file=/demo.js

[2020-05-13 18:26] achyutjhunjhunwala opened #1629 "Material UI Multiline Autocomplete Component breaks with React-Hook-Form"
**Describe the bug**
I have an issue where the Multiline Autocomplete works perfectly fine, but the moment I incorporate it with react-hook-form, the form is able to load data, but the change event breaks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sandbox link below
2. You have 2 Material UI Autocomplete boxes. 1st one is with react-hook-form, 2nd one is without
2. Try to edit som

[2020-05-13 19:45] wortkotze commented on #220
Is there any fix by now. I really love RHF but for us MUI is an important Component Libary that needs to be supported. Is there any workaround. The rest is really working fine beside this issue with the label. For us its an important usecase to setValues as they are coming from external APIs?

[2020-05-13 20:33] manualva7 opened #1630 "Is there a way to validate just one field without submitting form?"
I'm currently working with an async react-select that will compare an entered email to a list of emails in the db to compare and see if the email is already in use.

I've searched google and in the react-hook-form docs and haven't seen anything relevant.

Is it possible to validate a field programmatically?

[2020-05-13 20:44] sakalx commented on #1630
https://react-hook-form.com/api#triggerValidation

[2020-05-13 20:46] manualva7 commented on #1630
Thanks. I'll look into it.

[2020-05-13 21:57] bluebill1049 commented on #220
@wortkotze This has been fixed/improved since v3 :)
https://react-hook-form.com/api#Controller

https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-05-13 21:58] bluebill1049 commented on #1621
you will probably need a different set of Field Array with a different group name.

[2020-05-13 22:00] bluebill1049 commented on #1627
1. follow the template on how to report a bug
2. I would recommend Controller for formState related task

[2020-05-13 22:00] #1627 closed

[2020-05-13 22:00] #1628 closed

[2020-05-13 22:00] bluebill1049 commented on #1628
follow the template for reporting issue.

[2020-05-13 22:01] bluebill1049 commented on #1629
hey take a look at https://react-hook-form.com/api#Controller

there is a CSB host a lot MUI examples: https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-05-13 22:02] #1630 closed

[2020-05-13 22:02] bluebill1049 commented on #1630
@sakalx thanks :) you got it .

[2020-05-13 22:03] bluebill1049 commented on #1623
can you do some comparison against the example? because in the CSB is working, you maybe missing something (minor)

[2020-05-13 22:04] bluebill1049 commented on #1457
https://github.com/react-hook-form/react-hook-form/issues/1629 (duplicated question above)

[2020-05-13 22:18] #1622 closed

[2020-05-13 22:19] bluebill1049 commented on #1622
let's follow up on the other bug ticket.

[2020-05-13 22:33] bluebill1049 commented on #1617
I have thought about this issue for the couple days already, I think I start to get my head straight, I will provide a solution/feedback on this one today.

[2020-05-13 22:33] bluebill1049 commented on #1617
here is a feedback from spectrum: https://spectrum.chat/react-hook-form/help/im-in-trouble-with-usefieldarray-empty-instead-of-removing-field~5b9cd7d8-c64d-47f3-be67-3ea46cda1326

[2020-05-13 23:09] stephenfjohnson commented on #769
Everything is correct but still throwing the error.

[2020-05-13 23:15] bluebill1049 commented on #769
@stephenfjohnson can you show some code sand or perhaps a repo? otherwise, I am chasing a ghost here.

[2020-05-14 00:59] wortkotze commented on #220
hm ok, I was using the documentation from the website. there it was documented to use the innerRef. everything is working only by using setValue the label is not moving away. in your links i did not find any usecase for this :( - sry probably I missed something

[2020-05-14 01:13] wortkotze commented on #220
I tried also the Controller version, its stalling in SSR ...

[2020-05-14 04:21] bluebill1049 commented on #1617
My decision: for now, is not changing anything. Here are some of my reasons and thoughts:

React hook form embrace uncontrolled input, which is the reason why you would see empty results when Field Array is empty during submission because there isn't any input gets `register` into the hook.

eg:

[code]

if fields are empty then there won't be anything to be registered. so I did consider placing a

[2020-05-14 07:24] achyutjhunjhunwala commented on #1629
@bluebill1049  Thanks for pointing to the sandbox URL.
I was able to fix the issue. The only thing I was missing was the ```onChange``` event.

I added it and now it works.

I am trying to configure ```required``` validation for this object but somehow it does not fire on the Textbox. Can you please help here

https://codesandbox.io/s/material-demo-fcijs?file=/demo.js

[2020-05-14 07:35] bluebill1049 commented on #1629
`rules={{ required: true }}`

[2020-05-14 07:47] achyutjhunjhunwala commented on #1629
Hi @bluebill1049 I actually tried that, looks like my sandbox did not update
https://codesandbox.io/s/material-demo-fcijs?file=/demo.js

I have added this
```rules={{required: 'Required field'}}``` at `Controller` level
I even tried

```rules={{required: true}}``` at `Controller` level

But still doesn't give me a Red on the Input Box

[2020-05-14 07:56] bluebill1049 commented on #1629
please have a read over the validation section under `register`, because you are returning item in the array, you will need to use validate function to check the length.

https://codesandbox.io/s/material-react-hook-form-yjvp0?file=/demo.js

[2020-05-14 07:56] #1629 closed

[2020-05-14 07:56] bluebill1049 commented on #1629
https://react-hook-form.com/api#register

[2020-05-14 10:16] achyutjhunjhunwala commented on #1629
Super Thanks @bluebill1049
I have added validation error text message also for Autocomplete.

Anyone who comes to this issue, please refer the code sandbox link for implementation

https://codesandbox.io/s/material-demo-fcijs?file=/demo.js

[2020-05-14 12:58] caiorios commented on #1450
Hello. I had this exactly problem. The issue with this is that the name passed to the hook is different from the one used in the field's name. At the hook, you pass the name prop as `ServceProviderAddress`, however in your field's name you are using `ServiceProviderAddress[$ {index}]`.

[2020-05-14 13:10] bluebill1049 commented on #1450
@caiorios thanks, let me know how could I improve that section as well, or PR welcome as well.

[2020-05-14 15:37] caiorios commented on #1450
I think making a small change in the code at the docs would be enough:

[code]

[2020-05-14 20:14] tafelito opened #1631 "errors inferred type is incorrect when using yup notRequired"
Having a schema like this

[code]

when inferring the form data type

`type FormData = yup.InferType<typeof schema>;`

the errors type returning from
[code]

is incorrect

`errors.smtpInfo` returns a `FieldError | undefined` whereas removing the notRequired from the schema it returns a `NestDataObject<{...}, FieldError>  | undefined`

**Expected behavior**
The returned type should still be the nes

[2020-05-14 22:21] bluebill1049 commented on #1631
https://github.com/react-hook-form/react-hook-form/issues/1514

[2020-05-14 22:24] #1620 closed

[2020-05-14 22:25] #1621 closed

[2020-05-14 22:30] tafelito commented on #1631
Maybe I didn't explain my  self correctly but I don't think the issues are related.

The issue I have is with the errors object not correctly inferring the types from the schema when any of the fields has a notRequired or nullable

The values types in the handleSubmit are correct.

[2020-05-14 22:35] bluebill1049 commented on #1631
I don't think we are supporting schema type `infer` on V5, @kotarella1110 will this be solved on V6?

[2020-05-14 22:37] tafelito commented on #1631
here's a demo just in case you wanna see what I meant

https://codesandbox.io/s/ts-react-hook-form-validated-submit-xqfj9?file=/src/App.tsx

[2020-05-14 22:50] #1617 closed

[2020-05-15 00:15] YassienW commented on #1620
I built a simple wrapper around react-select which did the job, thank you for the quick response.

[2020-05-15 00:22] bluebill1049 commented on #1620
awesome to hear @YassienW

[2020-05-15 00:26] YassienW commented on #1620
Below is the code in-case anyone ever needs it

[code]

[2020-05-15 03:07] kotarella1110 commented on #1631
Yes. This will be fixed in V6.
https://codesandbox.io/s/ts-react-hook-form-validated-submit-5yoj7?file=/src/App.tsx

@bluebill1049 Should I apply this fix to V5?

[2020-05-15 03:09] bluebill1049 commented on #1631
awesome! no, let's roll this out in V6. 👍

[2020-05-15 05:30] kiansenggoh opened #1632 "Yup validation, state is stale."
Hi
below is the codesandbox for your reference.
[https://codesandbox.io/s/react-hook-form-usefieldarray-rik8q?file=/src/index.js](https://codesandbox.io/s/react-hook-form-usefieldarray-rik8q?file=/src/index.js
)

after the form is loaded, useEffect update the state to "world". but when fieldArray validation triggers, the state in the testFirstName is stale, "hello"

[2020-05-15 05:44] Motoxpro opened #1633 "S2339: Property 'message' does not exist on type 'FieldError[]'"
**Describe the bug**
Typescript error when field is of array type
`S2339: Property 'message' does not exist on type 'FieldError[]'`

**To Reproduce**
Steps to reproduce the behavior:
1. Define an array type `sanction: string[];`
2. Try to access the error `helperText={errors.sanction?.message}`

I know this has been an issue for awhile, just wondering if there are some steps to take to remedy it.

[2020-05-15 06:07] bluebill1049 commented on #1633
This will be improved on V6 :)

[2020-05-15 06:08] bluebill1049 commented on #1632
Please follow our issue template, can you imagine if I provide this little information and ask you to solve an issue.

[2020-05-15 06:22] kiansenggoh commented on #1632
sorry about it.

**Describe the bug**
after useEffect update the state, the yup validation scheme still reading the old state.
[https://codesandbox.io/s/react-hook-form-usefieldarray-rik8q?file=/src/index.js](https://codesandbox.io/s/react-hook-form-usefieldarray-rik8q?file=/src/index.js
)
**To Reproduce**
Steps to reproduce the behavior:
1. Open the above URL
2. focus on the fieldArray, either Bi

[2020-05-15 06:23] bluebill1049 commented on #1632
awesome! thank you i will take a look @kiansenggoh

[2020-05-15 07:47] mr-moto opened #1635 "Disable/remove reValidate on successful form submission"
**Describe the bug**
referencing the discussion on spectrum:
https://spectrum.chat/react-hook-form/help/disable-revalidate-after-a-successful-form-submission~c0917959-6364-46e8-a198-bbce8a5f3726

**To Reproduce**
Steps to reproduce the behavior:
1. input something in the field
2. click submit
3. focus the field
4. click outside(onblur) the field OR type something and delete everything
5. reValidat

[2020-05-15 08:16] bluebill1049 commented on #1635
Got it, please take a look at the codesandbox inside:
https://codesandbox.io/s/react-hook-form-reset-form-m8vly?file=/src/index.js

because `handleSubmit` is setting `isSubmitted` after invoke `callback`.

[2020-05-15 08:16] bluebill1049 commented on #1635
I will post this answer at spectrum as well.

[2020-05-15 08:16] #1635 closed

[2020-05-15 08:59] bluebill1049 commented on #1632
oh i see, what you are doing here, you will need to use validationResolver and combined with Context, we cache validation schema inside react hook form.

[2020-05-15 09:01] bluebill1049 commented on #1633
Take a look this PR: https://github.com/react-hook-form/react-hook-form/pulls

`NestedValue` is what @kotarella1110 introduced to solve this problem. feel free to asking him questions around this new type.

[2020-05-15 09:01] #1633 closed

[2020-05-15 09:15] mr-moto commented on #1635
@bluebill1049
just found a small bug in the codesandbox.
Clicking submit will show the error message only for a split second before disappearing.

since `handlesubmit` is setting `isSubmitted` after `callback`, `isSubmitted` is set to true which in turn triggers the `useEffect` and resets all errors.

to fix, just add a state to let the `useEffect` know to reset
https://codesandbox.io/s/react-hook

[2020-05-15 09:19] bluebill1049 commented on #1635
good one @mr-moto what about this? https://codesandbox.io/s/react-hook-form-reset-form-m8vly?file=/src/index.js

[2020-05-15 09:20] mr-moto commented on #1635
even better :)

[2020-05-15 09:24] Gabrieltay commented on #1632
Are you referring to FormContext?

[2020-05-15 09:30] kiansenggoh commented on #1632
U mean to use formContext? Where should we use formContext? Can give example? Or could u fix the code sandbox?
For our sceanrio what we got is redux value stale.

[2020-05-15 09:32] rvision commented on #1619
@bluebill1049

Thanks a lot for library and support, however I am currently super busy with the project I am working on - if I get some time I will definately make codesandbox demo.

[2020-05-15 09:54] bluebill1049 commented on #1632
sorry I meant `validationContext`. take a look at the https://react-hook-form.com/api useForm section.

[2020-05-15 10:03] bluebill1049 commented on #1632
Take a look at this CSB: https://codesandbox.io/s/react-hook-form-validationresolver-b3phr

[2020-05-15 13:14] john182 commented on #1623
For me when I change the value of the Change SelectMUIt or click the setvalue button it does not change the value of the
MUI Select and also the value of
MUI Select is not being initialized

https://codesandbox.io/s/react-hook-form-controller-tftlj?file=/src/index.js

[2020-05-15 15:41] vitaliemiron opened #1637 "HomePage form example"
Can you provide an example with form on your home page?
I want to build a form which will reValidate input if user completed but user changes his mind and decided to remove few letters.

This don't work if use mode ,,onBlur" that I need too.

![2020-05-15 18 40 33](https://user-images.githubusercontent.com/45145592/82069204-a779c100-96db-11ea-9e7d-861cac951310.gif)

[2020-05-15 16:03] kiansenggoh commented on #1632
Hi @bluebill1049, thanks for the tip now working perfectly :)

BTW we also found that if we use <Controller as={<input />}> the state is update to date.
why is controlled and uncontrolled has that difference?

[2020-05-15 16:22] gersmann commented on #1628
@kevinveiga same problem here. did you figure out a solution to this?

[2020-05-15 16:39] esjs opened #1638 "FieldArray with Controller field values reused after remove"
**Describe the bug**
I've noticed that with latest version 5.7.2 at this moment fields with Controller restore previous values when used inside fieldArray.

**To Reproduce**
1. If we have predefined set of fieldArray
2. We remove them
3. We add new fields using append
4. Fields that use Controller restore previous state

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-usef

[2020-05-15 16:46] kevinveiga commented on #1628
@gersmann I change version to 5.5.3

[2020-05-15 17:11] john182 commented on #380
That's what I mentioned in the other issue

[2020-05-15 19:17] waynebloss commented on #380
@john182 As I remember - material ui select uses `e.target` or `e.currentTarget` where the rest of the controls use the opposite... perhaps that is driving your issue?

[2020-05-15 22:15] bluebill1049 commented on #1632
can you provide more detail above?

[2020-05-15 22:16] bluebill1049 commented on #1637
please learn the lib and read the doc. it's pretty easy to achieve.

[2020-05-15 22:16] #1637 closed

[2020-05-15 22:32] bluebill1049 commented on #1638
`append({});` please change to your data shape.

eg:
`append({ firstName: "appendBill", lastName: "appendLuo" });`

[2020-05-15 23:54] #1638 closed

[2020-05-15 23:55] bluebill1049 commented on #1631
I will close this issue, let's reopen if this is still an issue at v6. we should be able to release rc version this or next week.

[2020-05-16 00:56] kiansenggoh commented on #1632
Hi @bluebill1049,

you just change from uncontrolled to controlled using controller.
see the image below.
then u repeat the "Reproduce Steps" from above post
u will see that the state correct.

![image](https://user-images.githubusercontent.com/56799988/82106315-ab94f580-9752-11ea-9de7-70b65207c8ce.png)

[2020-05-16 01:07] bluebill1049 commented on #1632
hey @kiansenggoh I don't see cached value in the console, there will be the difference between register with ref and controller.

1. register with ref: state live inside the input itself
2. register with controller: state live inside the controller

the custom hook will collect data from both of them.

[2020-05-16 01:25] kiansenggoh commented on #1632
Thank u

[2020-05-16 01:25] #1632 closed

[2020-05-16 02:10] giovanniantonaccio commented on #438
@JuanmaMenendez which version of @material-ui/pickers are you using in your project?

I have the same issue here but can't apply your solution on version  "@material-ui/pickers": "^3.2.8" because onChange and value are required.

[2020-05-16 07:07] Motoxpro commented on #1633
Thanks @bluebill1049 ! Awesome work as always!

Sorry if it is posted somewhere obvious, but is there a timeline for V6? No rush, just curious :)

[2020-05-16 07:12] bluebill1049 commented on #1633
RC version should be shipped in this or next week.

[2020-05-16 08:05] esjs commented on #1638
Well, how can I know which information will be inserted into fields ahead of time?
Or should I add empty value for each field? Doesn't it look strange to you?

[2020-05-16 08:29] bluebill1049 commented on #1638
That's your application's requirement, and you should know.

yes

no

[2020-05-16 09:34] gersmann commented on #1628
@kevinveiga found the issue, at least for me, needed to do the registration inside useEffect in newer releases.

[2020-05-16 11:21] cmnstmntmn opened #1639 "How to get selected option key for value instead of a full object?"
Hei,

i'm having this controlled Autocomplete comp. using with yup validation.

[code]

the problem is that the value returned is a full object `{id: 1, name: "US"}` instead of getting only the id value

[2020-05-16 11:25] esjs commented on #1638
Well, it does, but I thought that since fieldArray has unique key for each record it can uniquely distinguish records and not reuse previous values. If it's not the case, I'll add empty initial values, no problem with this.
Looks like I misunderstood  usage of id property.
Thanks for clarification!

[2020-05-16 12:14] bluebill1049 commented on #1638
all good @esjs :) I think it's a little bit of mental shift from controlled to uncontrolled. The key was made so react wouldn't accidentally overwrite inputs, since we don't have local state to "chain" up the inputs.

[2020-05-16 12:15] bluebill1049 commented on #1639
you will probably have to write a wrapper on top of the autocomplete component.

[2020-05-16 12:15] JuanmaMenendez commented on #438
@giovanniantonaccio      "@material-ui/pickers": "^3.2.10", "@material-ui/core": "^4.9.1",

[2020-05-16 14:14] aress31 opened #1640 "Preset Regexes"
Hi,

In order to make this library even more powerful and easy to use I suggest exposing a few preset regexes for form validation, fields I can think of are:
- email address
- name
- phone number
- password - with different level of complexity
- message

Exposing these ready to use regexes (maintained by the community) in addition to the option of setting our own regexes could be a nice addition.

[2020-05-16 14:46] aress31 opened #1641 "Netlify Form Integration"
**Describe the bug**
I use Netlify server-less forms alongside the `Material-UI lib`. My form uses `Controlled children` but there is an issue with the fact that `Netlify` requires the following field to process the form - this field is not a `Controlled child`:

`<input name="form-name" type="hidden" value="contact" />`

**Codesandbox link (Required)**
This is code snippet illustrates the issue:

[2020-05-16 15:17] vensauro commented on #1641
have you passed a defaultValues for the `TextField` ?

[2020-05-16 17:05] aress31 commented on #1641
@vensauro no I haven't I'll try to do that later to see if it fixes the issue.

[2020-05-16 21:47] giovanniantonaccio opened #1642 "React does not recognize the `nodeRef` prop on a DOM element."
**Question**
Hello, I'm trying to integrate @material-ui/pickers with react-hook-form Controller.

I created a DateField component to hide this integration and everything seems to work perfectly fine, except for the warning in the image below. The `Controller` is forwarding a prop called `nodeRef` to `Transition` component on `MuiDatePicker`.

The warning shows up when the user clicks to show the

[2020-05-16 23:08] bluebill1049 commented on #1641
yes @vensauro :) you are right. thank you

missing `defaultValue` at `controller`.

[2020-05-16 23:08] #1641 closed

[2020-05-16 23:09] bluebill1049 commented on #1640
sounds like a great idea :) probably a simple readme will do, happy for you to drive this and link to the readme or gist file.

[2020-05-16 23:42] aress31 commented on #1641
I can confirm that it did solve my issue, thanks @vensauro and @bluebill1049!

[2020-05-17 06:23] kancharla-sandeep commented on #612
I'am using a controlled input and don't get input field in ref object. Can you let me know how to do it for controlled input.

[2020-05-17 06:24] bluebill1049 commented on #612
@kancharla-sandeep take a look onFocus prop: https://react-hook-form.com/api#Controller

[2020-05-17 06:30] bluebill1049 commented on #1642
I have very little clue on this one after investigation, maybe wrapper Controller around this component which passes `nodeRef`?

[2020-05-17 06:31] bluebill1049 commented on #1639
take a look at this issue, may give you some hints.

[2020-05-17 06:31] #1639 closed

[2020-05-17 06:33] bluebill1049 commented on #1623
Take a look this example: https://github.com/react-hook-form/react-hook-form/blob/master/examples/parseFormatInputValues.tsx

[2020-05-17 07:57] vilanelle commented on #1617
Hi @bluebill1049, huge thanks for the effort put into providing a workaround for the issue! We do appreciate the limitations tied to this particular validation case (though we'll still look forward to a more declarative solution should you ever decide to add one :) ) Again, thanks for the awesome work you're doing!

[2020-05-17 08:05] bluebill1049 commented on #1617
thanks, @vilanelle for understanding, I think with V6 `resolver` maybe a better solution for the validation part:

https://github.com/react-hook-form/react-hook-form-resolvers

[code]

I will follow this one up again, once V6 is released.

[2020-05-17 11:54] aress31 opened #1645 "Force Button rerender when isSubmitting"
**Describe the question?**
I have form created with the `Material-UI lib`, when my form is submitting I would like to set the `Button` state to `disabled`. However, the `Button` does not get re-rendered when the `isSubmitting` value changes - should not that trigger a re-render in a similar way than `React.useState()`?

**Codesandbox link (Required)**
[code]

[2020-05-17 12:15] bluebill1049 commented on #1645
1. try to do a console log and double-check if the value is not changing.
2. provide a codesandbox to reproduce the problem and I will investigate

[2020-05-17 12:45] aress31 commented on #1645
@bluebill1049  sure this is the sandbox - I am not familiar with sandbox so not sure how to share my sandbox link:
- https://codesandbox.io/s/react-hook-form-controller-template-yrtdc?file=/src/index.js

[2020-05-17 13:07] giovanniantonaccio commented on #1642
Thanks for the quick reply @bluebill1049, but I didn't understand your answer. Are you referring to react-hook-form Controller?

[2020-05-17 22:30] bluebill1049 commented on #1642
yes @giovanniantonaccio i have no idea where is that nodeRef coming from. maybe u need to use Controller outside the scope of this nodeRef prop.

[2020-05-17 22:47] bluebill1049 commented on #1645
`isSubmitting` should be placed outside the onSubmit function:

https://codesandbox.io/s/react-hook-form-controller-template-wxurd?file=/src/index.js

[2020-05-17 22:47] #1645 closed

[2020-05-17 22:47] bluebill1049 commented on #1640
I am going to close this issue, feel free to leave the gist/github location and i will follow up to update the doc to include them.

[2020-05-17 22:47] #1640 closed

[2020-05-18 05:47] Motoxpro opened #1647 "How do I keep initial/default values up to date if a RHF input is unmounted?"
**Describe the question?**
How do I keep initial/default values up to date if RHF is unmounted?

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Popover
2. Set a new text value and click "Submit"
3. Click "ReRender" to see the outputs in the console and confirm it has set
4. Close the popover (click outside) and re open it to see a stale initial value

**Codesandbox link (Required)**

[2020-05-18 06:04] bluebill1049 commented on #1647
I would use `reset` API to update the `defaultValues`.

[2020-05-18 08:33] Motoxpro commented on #1647
Thank you @bluebill1049 !

1. Would I be able to just use `reset()` in the `handlePopoverClose` method? or would I need to pass in the values?

2. this would be ideal. Is there anyway to pass up the `handleSubmit` method from the child to the parent? i.e. all the RHF logic is inside the popover but the submit needs to happen outside the popover.

[2020-05-18 08:35] bluebill1049 commented on #1647
1.
[code]

2. i was thinking of building a separate form and update your value into your external store.

[2020-05-18 08:38] Motoxpro commented on #1647
@bluebill1049

1. Gotcha.

2. I'm sorry, I don't understand. :(

[2020-05-18 08:50] bluebill1049 commented on #1647
2.
[code]

separate forms.

[2020-05-18 09:13] Motoxpro commented on #1647
Ugh, Right. Thank you so much for your time!

[2020-05-18 09:13] #1647 closed

[2020-05-18 12:36] giovanniantonaccio commented on #1642
@bluebill1049 I removed everything from react-hook-form and left just @material-ui/pickers on my test. The problem still persists, so it seems to be a problem related just to @material-ui/pickers.

I opened an issue on their repository: https://github.com/mui-org/material-ui-pickers/issues/1790

Thansk for your help!

[2020-05-18 12:40] bluebill1049 commented on #1642
haha, I did wonder where is that coming from 👍 all good. hope you get a solution soon.

[2020-05-18 12:40] #1642 closed

[2020-05-18 15:18] AlinDev opened #1649 "Multi page form - validation error"
**Describe the bug**
When I have the form split into multiple screens on a React Native app,  the validation only gets triggered for the first and  last field,of the form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to field F.Name
2. Enter some text (true will appear under the text input)
3. Go to field F.Name
5. Enter some text  (!no message appears under the text input)
6. Go to the

[2020-05-18 15:35] janjanarnaldo opened #1650 "Required rule accepts all white space string"
**Describe the question?**
I just have a simple question, how do we handle a required input that should also trap all empty spaces?

**To Reproduce**
Create an input with required rule, put empty spaces and submit the form. It treats the input as valid.

[2020-05-18 23:22] bluebill1049 commented on #1650
`validate: (value) => { return !!value.trim()}`

should works with validate function above.

[2020-05-18 23:22] #1650 closed

[2020-05-18 23:23] bluebill1049 commented on #1649
hey, the problem is that you are sharing the same hook instance, you should have `useForm` on each page. :) let me know if this helps.

[2020-05-19 01:19] agoiabel commented on #449
@bluebill1049 Yes thanks.

[2020-05-19 01:21] manualva7 opened #1651 "I'm using triggerValidation, it works, but how do I clear error?"
The error doesn't go away like it does on fields that show validation when you try to submit the whole form. It's confusing. Any help is appreciated.

[2020-05-19 01:35] bluebill1049 commented on #1651
Take a look at `clearError`

https://react-hook-form.com/api#clearError

[2020-05-19 01:46] bluebill1049 commented on #1649
you may want to watch this vidoe: https://www.youtube.com/watch?v=CeAkxVwsyMU it's web-based but should share the idea.

[2020-05-19 02:46] manualva7 commented on #1651
Thanks! I’ll look into it.

[2020-05-19 02:52] #1651 closed

[2020-05-19 03:26] #1649 closed

[2020-05-19 07:16] kancharla-sandeep opened #1652 "Settting state in useEffect sets formstate.isvalid to false"
I have the created a form with contolled inputs. Setting state in useEffect causes formstate.isvalid to false. I have the following code:

  `
const LoginFormForm = (props) => {

const [state,setState]=useState(false)

   useEffect(()=>{
    setState(true)
},[])

    const { handleSubmit, errors, control, formState } = useForm({
        defaultValues: { email: "xxxx@yyy.in", password: "xxxxxxxx" }

[2020-05-19 07:21] bluebill1049 commented on #1652
https://react-hook-form.com/api#formState

**Important: formState is wrapped with Proxy to improve render performance, so make sure you invoke or read it before render in order to enable the state update. This reduces re-render feature only applies to the Web platform due to a lack of support on Proxy at React Native.**

[2020-05-19 07:21] #1652 closed

[2020-05-19 10:07] eduludi commented on #1652
@bluebill1049 I read that in the docs, what does that exactly mean? Can be used in React Native?

[2020-05-19 10:13] bluebill1049 commented on #1652
You can use `formState` in Web/React Native. We are using `Proxy` to optimize re-render, so if you are not reading `isValid` then we are skipping all the validation logic and potential unnecessary re-render which will occur. For RN you will need a Proxy polyfill to enable this feature.

[2020-05-19 10:46] eduludi commented on #1652
@bluebill1049 Ok. Thanks!

[2020-05-19 12:28] camilosw commented on #834
Be aware that a form can also be submitted with the Enter key on any field, so you must also need to disable all input fields on the form.

[2020-05-19 12:32] JeromeDeLeon commented on #834
RIght! What I do is create a form blocking component that show a loading state on top of the form. Something like [react-block-ui](https://availity.github.io/react-block-ui/) made.

[2020-05-19 12:39] camilosw commented on #834
I think that's not enough. If the user submitted with Enter, the field is still focused and the user can press Enter again.

[2020-05-19 12:41] JeromeDeLeon commented on #834
Is adding `isSubmitting` on formSubmit not enough, like below snippet:

[code]

[2020-05-19 12:50] JeromeDeLeon commented on #834
I tried creating your scenario with [codesandbox](https://codesandbox.io/s/nifty-morning-jew89), but failed to replicate it. Seems like when you disabled that submit button, it won't be submitted even if you pressed `Enter` key to any field.

[2020-05-19 13:11] camilosw commented on #834
That will not work because the `handleSubmit` function returned by `useForm` memoize the function passed to it, so `formState.isSubmitthing` will have the initial value on every submit. Look at the code of `handleSubmit` here: https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L1007

About your codesandbox, I didn't know that, but it's not working that way on the code of

[2020-05-19 13:34] eduludi commented on #1652
How to add Proxy support to React Native: https://github.com/react-hook-form/react-hook-form/issues/1379#issuecomment-613170952

[2020-05-19 13:40] JeromeDeLeon commented on #834
Yes, regarding my previous statement, on haste, I thought it would work. That's why I deleted it.

What about creating your own state? When you hit submit, you will change the state of it and use that to check if its already in submitting state. Haven't come across problem with this double submit prevention so I couldn't think of anything else at the moment. If you could provide a better solution

[2020-05-19 14:20] camilosw commented on #834
Too much work and disabling the submit button is enough. And also, I found my problem, when `handleFormSubmit` is called by `handleSubmit`, it sets `formState.isSubmitting` to true and sets it to false again after `handleFormSubmit` returns:

[code]

The problem is that `verySlowApi` returns immediately, so the user can submit the form again before the api sends a response. To solve that, I just n

[2020-05-19 14:34] JeromeDeLeon commented on #834
Good that you found it useful. 👍👍

[2020-05-19 20:32] amsul opened #1655 "Add context method to trigger submission"
**Is your feature request related to a problem? Please describe.**
Currently, there's no way to submit the form, other than using a button with `type=submit` triggering the form's submit event handler.

This prevents us from being able to programmatically submit a form when a fixed length field is filled out.

**Describe the solution you'd like**
It would be convenient to have a `triggerSubmit` me

[2020-05-19 20:57] hammad-shahid-educative opened #1656 "Trigger validation both on onChange and onBlur"
**There is a `mode` option where we can set when validation will be triggered. How can we set option to trigger validation both on onChange and onBlur?**

[2020-05-19 22:29] bluebill1049 commented on #1655
handleSubmit(onSumbit)()

you can even use `handleSubmit` on a button as well.

[2020-05-19 22:29] #1655 closed

[2020-05-19 22:29] bluebill1049 commented on #1656
It's coming on the V6, mode: 'all'

[2020-05-19 22:29] #1656 closed

[2020-05-19 22:31] amsul commented on #1655
I understand that we can do this. The concern I'm laying out here is that deeply nested components will not have access to `onSubmit` unless we manually pass it in a new context value.

[2020-05-19 22:32] amsul commented on #1655
It would be useful to be able to do this:

[code]

[2020-05-19 22:45] bluebill1049 commented on #1655
[code]

will do, and we don't have plan to introduce more API.

[2020-05-20 02:25] dandv opened #1657 "Add multi-step/wizard form example to Examples"
I saw [the multi-step video](https://react-hook-form.com/advanced-usage#WizardFormFunnel) and it's gret!

Would be nice to add [that example](https://codesandbox.io/s/form-wizard-pages-kkg7m) to the [list of examples](https://github.com/react-hook-form/react-hook-form/tree/master/examples#examples).

PS: congrats on 1000 closed issues! :tada: :confetti_ball:

![image](https://user-images.githubuse

[2020-05-20 02:26] bluebill1049 commented on #1657
Thanks, @dandv that's a great suggestion. will do!

[2020-05-20 02:31] #1657 closed

[2020-05-20 03:20] dandv commented on #1657
Thanks! BTW there's a small typo in the codesandbox in Step1 and Step2, "onSubit".

[2020-05-20 03:24] bluebill1049 commented on #1657
oh thanks will sort it out.

[2020-05-20 07:44] astj opened #1659 "register(e, opts) does not allowed by TS types, although it works."
**Describe the bug**
As described in FAQ (https://react-hook-form.com/faqs#Howtosharerefusage), react-hook-form accepts following form of `register`.

[code]

Yes this works fine with js, but Type declaration of `register` does not allow this form.

**To Reproduce**
Confirm JS works by following:
1. Open the sandbox (JS Version)
2. Submit
3. Validation failed due to LastName is empty
4. Input some