[2019-11-25 07:37] bluebill1049 commented on #561
hey @ajay-dev-j

first of all, you should try to use react-hook-form-input https://github.com/react-hook-form/react-hook-form-input for controlled components.

also, you can append message in during register: https://react-hook-form.com/api#register
<img width="892" alt="Screen Shot 2019-11-25 at 6 37 17 pm" src="https://user-images.githubusercontent.com/10513364/69521252-a2507a80-0fb2-11ea-8a46-8

[2019-11-25 07:47] bluebill1049 commented on #318
`<RHFError errors={errors} name={name} />` as it can return just string too.

[2019-11-25 08:04] ajay-dev-j commented on #561
@bluebill1049  Glad!! that I got a response from you. I am a huge fan of react-hooks-form. When I started to learn this, I somehow missed this react-hook-form-input repo. Anyway, I got the point to solve my case. But a small clarification here is like Can we set the message for pattern without RHFinput? Do we really need this new repo of this simple use-case(my case)?

[2019-11-25 08:09] bluebill1049 commented on #561
hey @ajay-dev-j for simple usage no :) you don't need react-hook-form-input at all for simple task :) you can register with value and message for your need.

[2019-11-25 08:28] bluebill1049 commented on #561
going to close this issue :) if you find this lib useful please support us by leaving a star for the lib. thanks in advance

[2019-11-25 08:28] #561 closed

[2019-11-25 11:05] GProst opened #562 "Allow setting defaultValue via `register` method"
Imagine there is a custom input, MUI Select, that has 2 options 'Cats' and 'Dogs' and it doesn't have an empty option (like 'None') so you always have to provide some value.
I believe a current solution is to provide a default value to `useForm` method and then retrieve the value using `watch` which works fine when the form is static.

But let's say we have a form where you can dynamically add/rem

[2019-11-25 11:12] bluebill1049 commented on #562
hey @GProst you can now use `react-hook-form-input` and combined with `defaultValues`

[2019-11-25 11:16] GProst commented on #562
@bluebill1049 yeah, I wanted to use it but I don't see `defaultValues` props in readme. How do I provide it to MUI Select for example.
`defaultValues` for uncontrolled inputs makes sense.

But don't you think if we could provide default value to `register` method it would be more universal solution and wouldn't require to install `react-hook-form-input` library?

[2019-11-25 11:18] bluebill1049 commented on #562
[code]

[2019-11-25 11:19] bluebill1049 commented on #562
yea, but this lib focus is on uncontrolled component, building react-hook-form-input was try to closer the gap between controlled components such as MUI, react-select and Antd. it wasn't framework specific.

[2019-11-25 11:26] GProst commented on #562
@bluebill1049 okay, I got you.
But my problem is that I don't know the name of the field initially.
Let's say I have fields structure like this:
[code]
And I can add as many animals in the form as I want (dynamically). How do I set default values for fields which indexes I don't know yet? Provide default values for 1000 fields in advance to be safe?
But this tricky workaround won't solve it if I s

[2019-11-25 11:29] bluebill1049 commented on #562
@GProst can you use `defaultValue` during render?

[2019-11-25 11:32] GProst commented on #562
@bluebill1049 I currently use `watch` for each field and if it's `undefined` I use a defaltValue.
But I don't think I can use this approach with `react-hook-form-input`, at least currently.
So I thought that providing `defaultValue` to `register` will make my code cleaner and my life better 😄

[2019-11-25 11:35] bluebill1049 commented on #562
hey @GProst as much as I want to make your life easier, I think I will leave second argument just for validation for API consistency (simple API). a bit tired today, you want to supply codesandbox of your issue. I will spend sometime tmr for an alternative solution. 👍

[2019-11-25 11:37] GProst commented on #562
@bluebill1049 cool, will do 👍

[2019-11-25 13:06] GProst commented on #562
Okay, while I was preparing the Sandbox example I realized that the problem I have won't be solved by providing default value`register` method since at initial render it will be `undefined` anyway. And the problem is in `watch` behavior. I'll open another issue

[2019-11-25 13:06] #562 closed

[2019-11-25 13:22] GProst opened #563 "defaultValue passed to `watch` overrides defaultValues passed to `useForm` at first render"
`watch` method picks up a default value provided to it instead of picking up the values set in `useForm` and seems like this happens only at initial render.
This makes it problematic to work with dynamic fields for me.

Here is a Sandbox example: https://codesandbox.io/s/dynamic-custom-fields-f5w03
Note that initially both animals have `Cat` type despite the defaultValue for the second animal was

[2019-11-25 14:53] waynebrantley opened #564 "Smart Form Component and validate function"
First of all - I would like to congratulate you on a great library and docs!

I have implemented smart forms similar to these:
https://codesandbox.io/s/react-hook-form-smart-form-component-eqb3n
(Note this codesandbox link from your docs does not actually use smartform components or even work)

As we pass in a custom validate function to something like ``<Input/>`` we need access to the rest of th

[2019-11-25 19:36] hakanozkaptan opened #565 "How can i set defaultValue and How can i use setValue in React Native"
I have an input and ref like this
**ref={register({ name:'firstName' }, validations)}**

setValue('firstName', 'John Doe');

setValue givin' an undefined..
const {
    register, setValue, handleSubmit, errors, getValues,
  } = useForm({
    mode: 'onBlur',
    defaultValues: {
      firstName: 'Hakan Ozkaptan',
    },
  });

How can set a value onPress and initial value on react native

[2019-11-25 20:37] bluebill1049 commented on #565
you have two solutions here when it come to setValue and reset:
`watch()` to turn your form into controlled
or
using `react-hook-form-input`

https://github.com/react-hook-form/react-hook-form-input

[2019-11-25 20:52] bluebill1049 commented on #563
hey @GProst the idea was use either watch `defaultValue` or useForm's `defaultValues`. right now in the code defaultValue overwrites defaultValues. i guess it makes sense as it's inner than useForm. I will take a look at this issue tho, see if we can fix it by implementation before changing the lib itself.

[2019-11-25 21:50] waynebrantley commented on #564
While I think it would be an advantage to do what I suggested above, one possible workaround in the meantime is to use smart 'components' but not a smart 'form'.   Doing something like this would give you access to ``methods.getValues()`` to use in the validator functions.

[code]

[2019-11-25 22:51] bluebill1049 commented on #564
Thanks for the note 👍 i have fixed the codesandbox ❤️

https://codesandbox.io/s/react-hook-form-smart-form-component-eqb3n

[2019-11-25 22:52] bluebill1049 commented on #564
Not this stage, i don't have any plan to introduce any more argument (keep the api simple)

[2019-11-25 22:53] bluebill1049 commented on #564
I personally didn't like the spread operator, it creates an issue to overwrite or gets overwrote.

[2019-11-25 22:54] bluebill1049 commented on #564
if you need full access of methods from hook form, i will recommend still using smart form but combined with https://react-hook-form.com/advanced-usage#ConnectForm.

[2019-11-25 23:33] eranabir opened #566 "How to submit the form outside the form"
we have a case that we want to submit the form outside the form element
how can we do that ?

[2019-11-25 23:35] bluebill1049 commented on #566
as long as your useForm() is outside

you can do

[code]

[2019-11-25 23:39] waynebrantley commented on #564
Trying to avoid the re-render and not use the connectForm.   When we write a simple validator like change password - where two fields need to be the same, we need access to the other values.  We find this happens much of the time.  What is the problem with having an optional second parameter where the useForm things can be provided so the validator can do what it needs?   We can do the example lik

[2019-11-25 23:43] bluebill1049 commented on #564
thanks for the detailed reply. I don't think i am killing the functionality to get the entire form state. you can still call `getValues()` inside the validate function (just not within the smart form approach which I did).

[2019-11-25 23:45] bluebill1049 commented on #564
in terms of connecting form. you don't have to connect every field only the ones that you want to use `getValues()`. you probably will need to use ConnectForm anyway when your UI gets more complicated and not all inputs are at the root level of your form.

[2019-11-25 23:50] bluebill1049 commented on #564
by the way I am not killing your idea here. I am considering like every new API

[2019-11-25 23:57] bluebill1049 commented on #564
This is what i used at work

[code]

[2019-11-26 00:01] eranabir commented on #566
thanks but our use case is a little bit different

we have a common component BaseForm :

[code]
and we use it like this :

[code]
now we want to submit the form not inside the render function

[2019-11-26 00:03] bluebill1049 commented on #566
you may want to consider to use `FormContext`. so you can move `useFrom` out from the inner Component.

[2019-11-26 00:44] bluebill1049 commented on #563
hey @GProst i don't see any watch usage in your codesandbox example.

[2019-11-26 01:32] waynebrantley commented on #564
That works - I had not considered a ConnectForm inside the same form!  I was hoping for something a little cleaner.  In this case, you would not need ConnectForm or render props or watch statement if your validator could ask for the values of the form

I really do like how the conenctForm works and that is super power to make things integrate nicely - was just (perhaps overly) concerned about any

[2019-11-26 01:45] bluebill1049 commented on #564
I am not expert with `yup` but you can try it out.

[2019-11-26 06:17] saggiyogesh opened #567 "Can't find variable: name in RN"
**Describe the bug**
`Can't find variable: name` on upgrding version to `3.28.3`, It was working fine with `3.27.0`

Any changes in API. My Inputs are also configured with `Yup` schema for validations

**Screenshots**
![image](https://user-images.githubusercontent.com/551509/69603264-1dac3d80-1040-11ea-97b2-90f9e0a25c2f.png)

[2019-11-26 06:24] bluebill1049 commented on #567
can you share your code (the bit where you register)?

[2019-11-26 06:44] hakanozkaptan commented on #565
Thanks man.

[2019-11-26 08:04] #565 closed

[2019-11-26 08:11] bluebill1049 commented on #565
pleasure :)

[2019-11-26 08:11] GProst commented on #563
Hey @bluebill1049, it's in Animal.jsx file

[2019-11-26 08:58] GProst commented on #563
@bluebill1049 I was thinking that perhaps implementing 'expected' behavior for `watch` method I described isn't the right thing to do after all.
Just thinking out loud but perhaps the second argument to `watch` method is some redundant/confusing thing? It's a bit mixed that we define default values when we start watching field values.
I think if we had a way to update defaultValues set in `useForm

[2019-11-26 09:41] bluebill1049 commented on #563
This is my attempt: https://codesandbox.io/s/react-hook-form-field-array-advanced-l19pz

[2019-11-26 09:59] GProst commented on #563
@bluebill1049 yeah, this would work too but `RHFInput` doesn't accept `defaultValue` for controlled components like MUI Select for example (judging by the README). If such prop existed there it would be nice.

Under the hood for controlled inputs I believe it would look something like that:
[code]
Cause you can't do `const value = watch(fieldName, defaultValue);` if there is some defaultValue set

[2019-11-26 10:07] GProst commented on #563
@bluebill1049 dang, should have checked it. Seems like it works with `defaultValue` for MUI Select...

[2019-11-26 10:09] bluebill1049 commented on #563
if everything goes well, then i will clean up the demo and upload to the website to help others for similar issues.

[2019-11-26 10:15] bluebill1049 commented on #566
going to close this question in here, feel free to leave more questions or prefer to answer it in specturm then other community members can helps too.

[2019-11-26 10:15] #566 closed

[2019-11-26 10:16] bluebill1049 commented on #564
i am going to close this issue, but i will add a todo list in the project as to be considered.

[2019-11-26 10:16] #564 closed

[2019-11-26 10:17] bluebill1049 commented on #564
you can find it here: https://github.com/react-hook-form/react-hook-form/projects/1

[2019-11-26 13:20] hbarcelos commented on #318
I am so sorry, I didn't meant to be petty about names, but in this case the name helps us to understand what is going on, regarding patterns that emerged from React hooks and the ones that were kind of discontinued.

The object returned from `useForm()` already has a `setError` and a `clearError` message. It would make sense that `getError` (or `getErrorMessage` for clarity) and `hasError` to be p

[2019-11-26 13:24] GProst commented on #563
@bluebill1049 seems like this works smoothly, thanks for the help!

[2019-11-26 14:45] EdwardBarton commented on #145
I'm encountering, what I believe to be, the same issue with v3.28.4. Manually setting an error via `setError` results in the `errors` object being empty upon component re-render, thus the error message never renders. Perhaps I'm just using the method improperly?

https://codesandbox.io/s/wonderful-pare-b2xvu

[2019-11-26 14:46] EdwardBarton commented on #145
@bluebill1049  I'm encountering, what I believe to be, the same issue with v3.28.4. Manually setting an error via `setError` results in the `errors` object being empty upon component re-render, thus the error message never renders. Perhaps I'm just using the method improperly?

https://codesandbox.io/s/wonderful-pare-b2xvu

[2019-11-26 15:19] hbarcelos opened #569 "Off-by-1 error with watch + custom validation"
First of all, I am sorry if this has been answered before. I have looked for closed issues with similar problems, but couldn't find any with the very same problem.

**Describe the bug**
I have to check for password strength in my form and disallow weak passwords.

I've created a separate module to calculate the strength of a given password and return a string (more like an enum) that says if it is

[2019-11-26 20:20] bluebill1049 commented on #567
i am patching this issue

[2019-11-26 20:53] bluebill1049 commented on #569
thanks @hbarcelos for the detailed error report. i will be looking into this.

[2019-11-26 20:55] bluebill1049 commented on #318
that's all good @hbarcelos as long as we are making improvements on this package. I am working on this little component at the moment: https://github.com/react-hook-form/react-hook-form-error feel free to contribute and leave feedback there.

[2019-11-26 22:27] adrianso commented on #567
I am also have this issue with both 3.28.4 and 3.28.5. Downgrading to 3.27.0 fixes the issue.

The issue occurs for me only when the debugger is off. When in debug mode, all versions work fine.

Hope that helps.

[2019-11-26 22:27] adrianso commented on #567
I am also have this issue with both 3.28.4 and 3.28.5. Downgrading to 3.27.0 fixes the issue.

The issue occurs for me only when the debugger is off. When in debug mode, all versions work fine.

Hope that helps.

[2019-11-26 22:42] DarkSouls101 commented on #567
Can you show me the code on how u register field?

[2019-11-26 23:04] adrianso commented on #567
[code]

[code]

[code]

[2019-11-26 23:35] bluebill1049 commented on #567
@adhrinae i am going to update the doc. it's better to register during `useEffect()` but that's probably not the issue related, but worth to give it a try.

[2019-11-27 00:20] hbarcelos opened #572 "Watch issues when integrating with react-number-format"
**Describe the bug**
This is related to #528.
However, even following the suggested approach, it doesn't seem to work.

Whenever I `watch` a value, the input can present 2 of the following behavior:
- If I watch the same field the input is registered to, it stops working
- If I watch any other field, or even an nonexistent one, the first keystroke in the input is ignored

**To Reproduce**
Steps to

[2019-11-27 02:08] Kurzdor opened #573 "docs: bug in handling errors"
**Describe the ~~bug~~ mistake**
Hello!
There is a mistake in [docs](https://react-hook-form.com/get-started#Handleerrors).
You forgot handleSubmit there.

[2019-11-27 02:09] bluebill1049 commented on #573
hey thanks @Kurzdor you want to send a PR to help?

[2019-11-27 03:01] bluebill1049 commented on #572
for the phone one, can you try to use `react-hook-form-input`. it's a masked input, `watch` will result re-render which may set the input to initial `state`.

[2019-11-27 03:19] ahce commented on #557
@bluebill1049
When you pass validationSchema, watch method doesn't work correctly
https://codesandbox.io/s/react-hook-form-pwd-input-zskgv

[2019-11-27 03:29] bluebill1049 commented on #569
I am bit confused with the usage:

[code]
instead
[code]
?

[2019-11-27 04:18] bluebill1049 commented on #557
can you provide more detail @ahce ? what's not working?

[2019-11-27 04:18] bluebill1049 commented on #557
step to reproduce the issue.

[2019-11-27 04:23] ahce commented on #557
In the sanbox link

1. Clic on the eye button
2. Check that it doesn't work
3. Remove line 15 ``` validationSchema: {} ```
4. Try again an check that it works

[2019-11-27 04:39] bluebill1049 commented on #557
why you using the third argument if you are not doing validation?

`setValue('xx', 'xx', true)`

[2019-11-27 08:52] bluebill1049 commented on #557
i am patching this

[2019-11-27 08:58] #557 closed

[2019-11-27 09:42] lundn opened #575 "Typescript error with triggerValidation"
**Describe the bug**
I'm unsure if this is just my setup, or not. The documentation clearly states that triggerValidation can be supplied with empty argument. However, this produces an error with the Typescript definition.

**Desktop**:
OS: macOS mojave
React-Native: iOS iPhone XS (12.1) simulator
Typescript: 3.4.1
react-hook-form: 3.28.4

**Screenshots**
![image](https://user-images.githubusercon

[2019-11-27 10:08] axelboc opened #576 "Return type of `watch` is `unknown`"
**Describe the bug**
The return type of `watch('fieldName')` is `unknown`.

**To Reproduce**

https://codesandbox.io/s/long-hill-p1cyi

[code]

**Expected behavior**
The return type of `watch` should be the type of the given field's value.

**Context**
 - `react-hook-form` version: 3.28.3
- TypeScript version: 3.7.2
- Strict typing enabled

[2019-11-27 10:34] bluebill1049 commented on #575
This is not intentional, should be patched.

<img width="607" alt="Screen Shot 2019-11-27 at 9 33 17 pm" src="https://user-images.githubusercontent.com/10513364/69716172-a10f8100-115d-11ea-87f7-3d3cd171ba68.png">

it's definitely optional

[2019-11-27 10:35] bluebill1049 commented on #575
feel free to send a PR to correct the type between useForm and formContext. useForm is most updated.

[2019-11-27 10:35] bluebill1049 commented on #576
can you provide a TS codesandbox for this issue?

[2019-11-27 10:41] bluebill1049 commented on #567
can you guys try out the latest version too?

[2019-11-27 11:42] lyvyu opened #578 "Use with AMD CommonJs"
Hey there guys,

I'm working on a project which is compiled with kotlin and has a old architecture. So there basically is AMD with RequireJs and CommonJs therefore I cannot use the library with ES6 import and stuff. Is there anything I could do to use this library this way ?!

[2019-11-27 11:49] bluebill1049 commented on #578
u want to try the ie 11 version? https://react-hook-form.com/faqs#BrowserSupport

[2019-11-27 12:15] lyvyu commented on #578
Hey, thanks for the blazing fast response !!!
Unfortunately now I'm getting useForm is not a function error.

I did copied the ie11 file and added to my project, defined it in requirejs.config like so:
[code]

[2019-11-27 12:16] bluebill1049 commented on #578
i will take a look AMD stuff tmr for you, hopefully it's not too tricky...

[2019-11-27 12:17] lyvyu commented on #578
Thanks man, ur awesome !!!

[2019-11-27 12:43] mkellyclare opened #579 "It is not a typescript error to access an incorrect field on the errors object."
**Describe the bug**
It is not a typescript error to access an incorrect field on the errors object. In the [typescript section of the docs](https://react-hook-form.com/api#TypeScript) - there is a line that should demonstrate this behaviour and a comment indicating that a typescript error should be there.
[code]
However, when testing locally on in the linked sandbox, there is no typescript error

[2019-11-27 13:14] hbarcelos commented on #569
That's because the validation is not derived from the password itself, it is a memoized value that is calculated previously by a another module.

[2019-11-27 13:23] axelboc commented on #576
I've updated the issue 👍

[2019-11-27 13:24] hbarcelos commented on #572
Could you please elaborate?

I'll give it a try with `react-hook-form-input` and let you know the result.

[2019-11-27 18:18] thomb opened #580 "support register required to have value & message"
**Describe the question?**
It appears that there is an typescript definition for the `required` and `message` strings inside of the `register` block when used with `react-i18next`

**To Reproduce**
Attempting to use the `t` function `useTranslation` in the following manner...
[code]
results in the following typescript error (full output has been truncated):
[code]

Is it possible to support transl

[2019-11-27 20:08] bluebill1049 commented on #572
mask inputs normally don't trigger external state updates, by trigger a re-render there is a change will reset the input to original state, i believe you may be able to solve the problem with react.memo too

[2019-11-27 20:11] bluebill1049 commented on #569
I haven't look too close, but I think it's because your value is stored above render. so it's 1 render behind.

[2019-11-27 20:11] #569 closed

[2019-11-27 20:31] bluebill1049 commented on #580
could please you provide me with a TS codesandbox? 👍

[2019-11-27 20:32] bluebill1049 commented on #579
your codesandbox is empty: https://codesandbox.io/s/react-hook-form-typescript-mm can you supply one?

[2019-11-27 20:44] bluebill1049 commented on #576
thanks @axelboc after looking closely unknown is actually right because it's a run-time check there is no way (with my knowledge) to give a type other than `unknown`. Feel free to contribute or giving your suggestion tho. eg:

[code]

with my limited knowledge on typescript, i couldn't figure out how to support type with `watch` other than `unknown`.

[2019-11-27 20:57] bluebill1049 commented on #567
going to close this issue as i have reverted unregister callback, which should fix this issue. i will reopen if you guys still find issues around it.

[2019-11-27 20:57] #567 closed

[2019-11-27 21:12] mkellyclare commented on #579
Strange, it looks like the typescript section of the docs has been removed. The code sandbox was the one linked directly from that.

I had copied the example from the docs locally, here is a codesandbox with the code that was in that example before it was removed that demonstrates the issue - https://codesandbox.io/s/red-dawn-xgn9l

[2019-11-27 21:19] thomb commented on #580
Here ya go:
https://codesandbox.io/s/elated-sun-3i559

[2019-11-27 21:21] bluebill1049 commented on #579
@mkellyclare not removed, migrated to get started page

[2019-11-27 21:40] bluebill1049 commented on #580
looks like the problem is not with this lib, rather than what `t("doesNotWork")` returns, it returns `TFunctionResult` rather than `string`. Do you want to raise an issue at that repo?

[2019-11-27 21:59] bluebill1049 commented on #579
hey @stramel would you be able to help on this?

[2019-11-27 22:04] hbarcelos commented on #572
I was able to make it work with `RHFInput`.

Here's the code I'm using:

[code]

[2019-11-27 22:04] #572 closed

[2019-11-27 22:09] bluebill1049 commented on #578
`3.28.8-beta.1` with

`react-hook-form.amd.js`

i am probably not going to include this in the future build tho :)

let me know if that works for you. 👍

[2019-11-27 22:09] #578 closed

[2019-11-27 22:10] bluebill1049 commented on #572
awesome thanks for sharing the solution @hbarcelos

[2019-11-27 22:13] hbarcelos commented on #569
Yeah, I'm not sure yet.

In this case there's no problem because `checkPasswordStrength` is not a heavy algorithm, so there's no problem running it again.

Any ideas on how I could tackle this if one cannot run the same check twice?

[2019-11-27 22:21] bopfer commented on #580
I think the difference is that `TFunctionResult` includes `null` is it's union and in `react-hook-form` it is only `boolean | string | undefined`.  See https://github.com/react-hook-form/react-hook-form/blob/master/src/types.ts#L74

Not sure what the proper solution is though.  Adding `null` to that line would make it work.

I don't see them changing `TFunctionResult` since the `t` function does m

[2019-11-27 22:25] bluebill1049 commented on #580
oh wow @bopfer thanks for the info! i will give it a try with null, see if it will solve the problem.

[2019-11-27 22:27] bluebill1049 commented on #569
can you elaborate on this? the other solution i could think of is doing the check by adding your own event listener (onChange, onBlur) and you can trigger validation whenever you like.

[2019-11-27 23:07] raulfelix opened #581 "Validation error focus state for checkboxes/radios"
**Describe the bug**
Form validation will refocus on an input field if no value is entered. But this does not work for a checkbox or radio control.

**To Reproduce**
Steps to reproduce the behavior:
1. Press submit and focus will go back to the first text field
2. Fill in the text field
3. Press submit
4. There will be a validation error on the checkbox field but it will not grab focus

**Codesand

[2019-11-27 23:18] bluebill1049 commented on #581
hey @raulfelix ❤️ that's a good pick up! will resolve that soon :)

[2019-11-28 01:00] bluebill1049 commented on #580
hey @thomb it's not the best, but looks like you will have to use `required: t("doesNotWork") as string,`

because in RFH you can register without message, `register({ required: true })` which is what conflict with `TFunctionResult` (only support string)

[2019-11-28 01:10] thomb commented on #580
@bluebill1049 I had assumed this would be the case after examining the typing. What would be your response to me logging a feature request to disambiguate the types in the structure itself?

ie.

[code]

In general it feels like a better practice to have your structures be declarative, as opposed to having a single variable represent vastly different meanings.

This is more a preference, and I do

[2019-11-28 01:32] bluebill1049 commented on #580
thanks @thomb
[code]

FYI: you don't need type casting for `message`

i think alternative i can make a change for the lib itself for required to support value and message

[code]

[2019-11-28 01:41] thomb commented on #580
@bluebill1049 Good to know about `message`, apologies for my misunderstanding.

Would you like me to log a feature request for this or do you have it in hand? I mainly just want a github issue for internal tracking at work.

[2019-11-28 01:45] bluebill1049 commented on #580
we can keep this ticket open. I will track from here.

[2019-11-28 01:46] thomb commented on #580
Cheers @bluebill1049. Thanks!

[2019-11-28 01:57] #581 closed

[2019-11-28 02:17] #580 closed

[2019-11-28 02:18] bluebill1049 commented on #563
going to close this issue here, i will follow up to add more information on the website.

[2019-11-28 02:18] #563 closed

[2019-11-28 02:35] JayantDaruvuri opened #584 "Dynamic Checkboxes with same name are not having the event handlers registered"
**Describe the bug**
When a different set of check boxes are rendered after the initial render.
The checkboxes renderd after the initial render do not have their event handlers registered with react-hook-form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the dropdown
2. Select an option
3. Select the checkbox values and see the values getting rendered by the watch
4. Select a differe

[2019-11-28 02:35] JayantDaruvuri commented on #584
Let me know if you have any questions :-)

[2019-11-28 02:46] bluebill1049 commented on #584
hey @JayantDaruvuri want to submit a PR to fix this? sounds like you know this Repo quite well :)

[2019-11-28 03:00] JayantDaruvuri commented on #584
Hi @bluebill1049  buddy, but I have limited knowledge of the repo :-(. Let me try to pull down the package and give it a try. I hope I can create a PR :-)

[2019-11-28 03:06] bluebill1049 commented on #584
hey @JayantDaruvuri no stress, if take too much effort, i will take it over. it's good to get more people familiar with the code base. either way i will try to resolve the problem asap :)

[2019-11-28 03:08] JayantDaruvuri commented on #584
Thanks a ton @bluebill1049,  it will be really helpful if you can take over this problem :-)

[2019-11-28 03:11] bluebill1049 commented on #584
no worries i will 👍 all good

[2019-11-28 03:52] phpSing opened #585 "Testing input with Jest + Enzyme"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**
How to trigger/simulate an input change in order to trigger the useEffect which depend on the result of watch()

e.g.
const watchAll = watch()
useEffect(() => {
const {someField} = watchAll
// changed someField input
}, [watchAll])
**To Reproduce**
Steps to reproduce the

[2019-11-28 03:56] phpSing commented on #585
will keep on updating this in case it is just I am stupid somewhere

[2019-11-28 04:00] bluebill1049 commented on #585
hmmm you want to try with `react-testing-library`? it's probably working better with custom hooks.

[2019-11-28 04:50] phpSing commented on #585
Thanks for the reply, also do u know react-hook-form has IE10 fully support?

[2019-11-28 05:08] bluebill1049 commented on #585
that's babel transpiler's job right?

[2019-11-28 05:13] bluebill1049 commented on #584
hey @jasondibenedetto i looked closer to this issue, it's going to be very tricky to support what you are doing. i would recommend a different `name`. react re-render always happen before DOM get's removed, so it's always 1 tick behind. you can try react-hook-form-input see if this will help.

[2019-11-28 05:16] bluebill1049 commented on #584
but i did find some issue around remove checkbox which is nice :) i am patching it.

[2019-11-28 08:16] #575 closed

[2019-11-28 08:43] ao-alex opened #587 "onBlur validation"
Hi,  on the latest  version "onBlur" validation is trigger validation for all fields even if they are not touched. Is this intentional or a bug?
If this is intentional is there a way to get previous behavior, when blur trigger only validation on blurred field?
Thanks for plugin!

[2019-11-28 08:45] bluebill1049 commented on #587
can you send me a codesandbox? and which version was working and which version is broken

[2019-11-28 08:45] bluebill1049 commented on #587
that's not intentional for sure.

[2019-11-28 08:53] bluebill1049 commented on #587
still working fine with my codesandbox. https://codesandbox.io/s/w7p3km6nyw

[2019-11-28 08:54] ao-alex commented on #587
https://codesandbox.io/s/react-hook-form-validationschema-ki8xn

[2019-11-28 08:54] ao-alex commented on #587
thanks for quick answer, seems issue when validation schema is used

[2019-11-28 08:55] bluebill1049 commented on #587
oops... i will looking into it.

[2019-11-28 09:33] phpSing commented on #585
ok, since I am working on other people's code, i found out the config is actually update when blur event fires.

so I need to do something like this to fire the update:

`    fireEvent.focus(dom);
    fireEvent.change(dom, { target: { value: 123 } });
    expect(dom.value).toEqual('123');
    fireEvent.blur(dom);`

closing this, thanks for help

[2019-11-28 09:33] #585 closed

[2019-11-28 09:37] bluebill1049 commented on #585
no worries :) if you find this lib please leave us a star ❤️ (no pressure tho)

[2019-11-28 09:39] phpSing commented on #585
DONE :)

[2019-11-28 09:39] bluebill1049 commented on #585
thank you very much for your support 👍

[2019-11-28 09:44] lyvyu commented on #578
Sir, you are a LEGEND !!!
Thank you very much for the time and effort in helping me with problem !!!

[2019-11-28 09:44] bluebill1049 commented on #578
hope it works 👍 no worries

[2019-11-28 09:45] #587 closed

[2019-11-28 09:47] bluebill1049 commented on #587
latest version should patch this problem, let me know if you still facing issues

[2019-11-28 10:41] jschmuecking opened #589 "Value-Message object is valid for custom validation (validate field) but message gets ignored"
**Describe the bug**
The type information for the validate field inside of ValidationOptions allows the form
`{
    value: Validate,
    message: string
}`
But when used, the provided message is ignored and just an empty string is returned in the errors message field.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple input field.
2. register input with
`<input
    name="example

[2019-11-28 11:07] bluebill1049 commented on #589
hey @jschmuecking  we don't support value and message for `validate` function. it's already a function, i don't see much value to do value and message.

<img width="486" alt="Screen Shot 2019-11-28 at 10 06 38 pm" src="https://user-images.githubusercontent.com/10513364/69801459-5fe5a280-122b-11ea-9084-af34fcd1730a.png">

[2019-11-28 11:10] axelboc commented on #576
The following works for simple field names, but I haven't tested it with complex ones like `test[0].test`:

[code]

[2019-11-28 11:14] bluebill1049 commented on #576
would love to a PR if you have sometimes 👍 TS is not my strength :(

[2019-11-28 11:21] jschmuecking commented on #589
Hey thank you for the quick response!

I can understand that standpoint. I myself find it a bit more clear than attaching it to the end of the validation function, but that is a matter of taste.

BUT I then would expect to remove the {value, message} object from the validate field in the ValidationOptions typescript types. That is how I got the impression this would work in the first place ;-)

[2019-11-28 11:27] bluebill1049 commented on #589
you are right on that, would you like to send a PR to correct that 👍

[2019-11-28 11:27] jschmuecking commented on #589
sure thing

[2019-11-28 11:29] bluebill1049 commented on #589
awesome thanks!

[2019-11-28 13:57] hbarcelos commented on #569
I have already calculated `passwordStrength` here because **I need to show it on screen**:

[code]

Doing like in my latest version it works:

[code]

Now let's imagine that `checkPasswordStrength` function is expensive. Running it twice would be wasteful.

I am wondering if there's a way I could reuse the same `passwordStrength` for validation.

I'll give it a try with `triggerValidation` and let

[2019-11-28 19:15] hbarcelos opened #591 "Material UI multiple checkboxes not working properly"
**Describe the bug**
This is related to #476, but with Material UI added to the equation.

I have a form for multiple choice of different themes. Users can choose 1 to 3 themes. I am using `RHFInput` to make things easier.

However, after submitting, data is always an array of booleans.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sandbox bellow
2. Check some options
3.

[2019-11-28 19:51] bluebill1049 commented on #569
hey @hbarcelos valid point, I used debounce at work, will that work for you?

[2019-11-28 20:00] JayantDaruvuri commented on #584
Hi @bluebill1049 , we use yup schema extensively for validating the form inputs. If we use a different name everytime for checkbox rendering it makes it harder to validate the checkboxes :-(

[2019-11-28 20:45] bluebill1049 commented on #584
hey @JayantDaruvuri alternative solution in my head you can render everything on the screen, and use style to show and hide.

[2019-11-28 20:52] JayantDaruvuri commented on #584
@bluebill1049 , thanks for taking a look at it. I will let the team know and see what we want to do!!

I have another question for you here is the codesand box.
https://codesandbox.io/s/react-hook-form-validationschema-wgxwd

Yup schema validation is validating all the fields now.
I presume this wasn't the case with 3.24.1 package version, where only the touched fields were validated.

Can you ple

[2019-11-28 20:53] bluebill1049 commented on #584
also have you tried with `react-hook-form-input` (make sure give `unregister` as prop name)?

[2019-11-28 20:54] bluebill1049 commented on #584
@JayantDaruvuri I patched that issue last night :) (sorry about that)

[2019-11-28 20:55] JayantDaruvuri commented on #584
I haven't tried react-hook-form-input, I will try that over the weekend :-)

[2019-11-28 20:55] bluebill1049 commented on #584
yea let me know @JayantDaruvuri i think we can work out a solution for sure.

[2019-11-28 20:57] JayantDaruvuri commented on #584
Great thanks @bluebill1049 , I have tried reproducing the issue with the latest version 3.28.9. I can still see that this issue remains.

https://codesandbox.io/s/react-hook-form-custom-input-ymxx7

[2019-11-28 20:58] bluebill1049 commented on #584
i meant patched this one :)

[2019-11-28 21:00] JayantDaruvuri commented on #584
@bluebill1049 , thanks again. I will let you know we go with the checkbox rendering!!

[2019-11-28 21:53] #576 closed

[2019-11-29 00:37] Smona opened #593 "formState.touched is not updated when form fields are changed"
**Describe the bug**
The 'touched' array in my form's formState is always empty, even after i modify some of the inputs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a hook form
2. Access the formState returned by the hook.

**Codesandbox link**
Include a codesandox will help us to investigate the issue quicker.

**Expected behavior**
I expected the array to list inputs that have b

[2019-11-29 00:50] bluebill1049 commented on #593
can you supply a codesandbox?

[2019-11-29 06:07] yi-tuan opened #594 "Resetting the form with values is invalid"
The example is here.
https://codesandbox.io/s/react-hook-form-defaultvalues-jgtwq

[2019-11-29 07:07] bluebill1049 commented on #594
it's not an issue, you are using an old beta version.

[2019-11-29 07:07] #594 closed

[2019-11-29 07:46] #589 closed

[2019-11-29 08:40] jschmuecking commented on #589
Thanks for the fix :) I guess a PR would be redundant now ;-)

[2019-11-29 10:34] CKGrafico opened #598 "ref not working in React-Bootstrap + TypeScript"
**Describe the bug**
If I use ref with register in a `Control` the value is invalid.

![image](https://user-images.githubusercontent.com/2048511/69863046-15e8d500-129c-11ea-8e18-34fd2a690468.png)

[code]

if instead of `register()` I use  `() => register()` the code compiles but is not registering the input.

**Screenshots**
![image](https://user-images.githubusercontent.com/2048511/69863107-4a5c9

[2019-11-29 10:41] bluebill1049 commented on #598
This is not a bug. for external controlled component:

https://react-hook-form.com/get-started/#ControlledInput

1) custom register, register input during useEffect
2). react-hook-form-input https://github.com/react-hook-form/react-hook-form-input to wrap around your controlled component

[2019-11-29 10:44] CKGrafico commented on #598
thank you so much

[2019-11-29 10:44] #598 closed

[2019-11-29 10:44] bluebill1049 commented on #598
you are welcome

[2019-11-29 10:51] CKGrafico commented on #598
To add more info for new people, my code now looks like this.
![image](https://user-images.githubusercontent.com/2048511/69864070-84c72d80-129e-11ea-9b8e-be38764dd1de.png)

[2019-11-29 10:54] bluebill1049 commented on #598
thanks @CKGrafico or you can register during useEffect as well

[code]

[2019-11-29 11:07] Atralbus commented on #589
@bluebill1049 I think there could be a case where you need a message in `validate`. I'm working on an input field where I get an regex value from the user. I want to check if the input value is valid regex or not. I have a function which returns an error message if the value is invalid and `''` if it's valid. I wanted to call my validation function in `validate` and display this error message. Cur

[2019-11-29 11:13] bluebill1049 commented on #589
@Atralbus i am not very clear above, but could you do the following?

[code]

[2019-11-29 11:23] Atralbus commented on #589
@bluebill1049 Yes, you are right. It seems like my issue could just be solved with a simple trick.

[code]

Here, `checkRegexSyntax` returns the error message or `''`.

Thank you for the fast response.

[2019-11-29 11:25] bluebill1049 commented on #589
sweet all good :)

[2019-11-29 11:26] bluebill1049 commented on #589
@Atralbus if you find this lib useful, please consider to support us by leaving a star in the near future as well :) thanks in advance

[2019-11-29 12:23] CKGrafico commented on #598
Yes, I read both approaches but the first seems cleaner, do you recommend the second one @bluebill1049?

[2019-11-29 12:24] bluebill1049 commented on #598
I am happy with either :) but it's good to know what's behind the component, which is basically a custom register 👍

[2019-11-29 20:53] bluebill1049 commented on #593
going to close this as issue is not clear with an example, happy to re-open once more information provided.

[2019-11-29 20:53] #593 closed

[2019-11-29 21:18] hbarcelos opened #600 "Problem validating checkbox group"
**Describe the bug**
I have a group of checkboxes that need validation. The rule can vary, but let's consider that the user must select at least 1 of the available items.

I wrote a custom validation function which would get the value of the multiple checkboxes (with `getValue`) and check if the number of checked items is greater than 1.

The problem is that the array fields are exposed not as an

[2019-11-29 21:20] bluebill1049 commented on #600
`getValues({ nested: true})` ?

[2019-11-29 22:37] hbarcelos commented on #600
Oh boy... The one time I don't read the docs properly :sweat:

That will probably do it.

Thank you very much.

[2019-11-29 23:13] hbarcelos commented on #600
Sorry, I'd like to reopen this because it is related.
I'm trying to emulate the `onChange` mode for multiple checkboxes as well.

**Describe the bug**
`triggerValidation` won't work properly on `onChange` handler.

To Reproduce
Steps to reproduce the behavior:

1. Go to the codesandbox linked bellow
2. Submit the form the trigger the validation
3. Toggle some checkboxes in the last field
4. See th

[2019-11-29 23:56] bluebill1049 commented on #600
https://codesandbox.io/s/rhf-multiple-checkboxes-validation-delete-e9hp8

[2019-11-30 16:25] VanTanev commented on #390
A way to work around yup's bug is to add [array.compact](https://github.com/jquense/yup#arraycompactrejector-value--boolean-schema) to your schema.

#### Keep in mind this will not actually omit the empty values from the output of formik/react-hook-form/etc.

However, it might be useful in circumstances where you can combine it with something like `.min(x).max(x)`, where `x` is the same number for

[2019-11-30 20:52] bluebill1049 commented on #390
hey guys, i have updated the Field array section:

https://react-hook-form.com/advanced-usage#FieldArrays

now with an example to delete, append, prepend and insert. also, have a place to create a component to handle this `RHFFieldArray` its in the todo list for me

[2019-12-01 12:47] krnlde opened #603 "Latest Release (3.28.10) isValid is initially false"
**Describe the bug**
The problem started between the version `3.28.10-beta.1` and `3.28.10` (final). The `isValid` is initially false, despite all the values are correctly set. If I move back to `3.28.10-beta.1` or `3.28.9` it works. Unfortunately I can't do a reproducible codesandbox since the final version is not yet selectable there. Anyways I did an exact replicate of my setup in codesandbox,

[2019-12-01 12:50] bluebill1049 commented on #603
that was my bad! I will patch it now. I know why too...

[2019-12-01 12:53] bluebill1049 commented on #603
can you verify the fix for me, please? getting close to midnight going to sleep now before work tmr :)

[2019-12-01 21:50] #603 closed

[2019-12-02 01:25] ajnikgunu opened #605 "isValid for custom form component doesn't have the right value"
I am trying to use react-hook-form and I was testing it by creating a custom component. I have two textFields in my form. What I want is the submit button to be disabled until the form is valid. I am trying to use isValid to check if the form is valid or not. But I am not getting the behavior I wanted. I have shared the codesandbox link below:

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-12-02 01:50] bluebill1049 commented on #605
none of your input have any `validation`

[2019-12-02 01:59] bluebill1049 commented on #605
[code]

[2019-12-02 09:24] krnlde commented on #603
Verified, `3.28.11` works. Is it possible to do a regression test for this issue? I remember, we had that bug before. I saw cypress, but have no experience with it.

[2019-12-02 09:31] bluebill1049 commented on #603
@krnlde I have added a todo for myself to do some unit test or cypress to cover this. would be amazing if you could contribute on this tho @krnlde sorry for breaking it too, i was refactoring some of the bad parts.

[2019-12-02 09:45] krnlde opened #606 "Regression Tests"
Discussion continued coming from #603

Regression tests would help to keep issues closed by creating tests that resemble the exact bug description.

After a short glance it seems you are using cypress for all your tests - which is _very very_ slow compared to unit- / integration-tests like [Enzyme](https://airbnb.io/enzyme/) or [react-testing-library](https://github.com/testing-library/react-testi

[2019-12-02 09:55] bluebill1049 commented on #606
I am using both @krnlde. I think i have missed unit tests for isValid check, which I have added myself on the todo list to cover that.

[2019-12-02 10:03] bluebill1049 commented on #606
going to close this issue here :) as I have already added a todo for this 👍let me know if you interested to contribute or i will do it anyhow ❤️

[2019-12-02 10:03] #606 closed

[2019-12-02 10:08] krnlde commented on #606
Of course I'd like to help! Could you put a finger on the code where I should add it? I'm not too familiar with your structure, yet :)

[2019-12-02 10:16] bluebill1049 commented on #606
Yes that would be fantasy! Sorry to delegate to you 😬cause I didn’t get a chance (selected) to a talk at react conference au next year. So I am preparing some tweets around react hook form to spread around the lib in the community 👌🏻

[2019-12-02 20:18] bluebill1049 commented on #584
any update on this one?

[2019-12-02 20:54] JayantDaruvuri commented on #584
Hi @bluebill1049 , thanks for the follow up. We could fix it with trying different names for the checkbox group. But the validation has been very hard for us to git it working :-(

[2019-12-02 21:35] bluebill1049 commented on #584
Even with react hook form input and same name?

[2019-12-02 21:36] bluebill1049 commented on #584
I will give a try in my free time then

[2019-12-02 21:47] JayantDaruvuri commented on #584
I had a quick play with react-hook-form-input over the weekend. But it doesn't work, can you please let me know if I'm doing it right or not?

https://codesandbox.io/s/react-hook-form-custom-input-ymxx7

[2019-12-03 00:57] bluebill1049 commented on #584
https://codesandbox.io/s/react-hook-form-custom-input-delete-p1b7s

This is the best i can come up with.

[2019-12-03 00:58] bluebill1049 commented on #600
closing this issue as the solution is above :)

[2019-12-03 00:58] #600 closed

[2019-12-03 03:24] matiushariman opened #607 "Using react-number-format floatValue"
**Describe the question?**
Can we actually use react-number-format floatValue as the value of RHF field? The reason is because it will be very useful for validation

At the moment I can only get RHF working with formattedValue of RNF.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement react-number-format on top of RHF
2. Type some numbers
3. See RHF actually gets RNF formattedValue in

[2019-12-03 08:21] vatosarmat commented on #605
But `isValid` should also consider `validationSchema`, shouldn't it?
https://codesandbox.io/s/wsd5l

[2019-12-03 08:24] bluebill1049 commented on #605
@vatosarmat it should.

[2019-12-03 08:46] yi-tuan opened #608 "Array Fields show with default values"
I'm using array fields, but it doesn't show well with default values. And If I remove one of the middle fields, I want the array to reduce this item and keep the values of the other fields the same. Can you give me some suggestions?
https://codesandbox.io/s/react-hook-form-array-fields-tzor1

[2019-12-03 08:52] bluebill1049 commented on #608
hey @yi-tuan try this one: https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-l19pz

[2019-12-03 09:31] yi-tuan commented on #608
I use `reset` or `defaultValues` to initialize the page data, the array fields can't show well.The demo you give will work well at creation time, but backfill can't work.

[2019-12-03 09:49] bluebill1049 commented on #608
i would suggest to use inline `defaultValue`.

[2019-12-03 09:55] bluebill1049 commented on #605
@vatosarmat you want to test this beta version: 3.28.12-beta.1

[2019-12-03 09:58] bluebill1049 commented on #608
it's going to be very tricky for `defaultValues` to render the children as well. you still need to map your input with local state.

[2019-12-03 09:59] yi-tuan commented on #608
But what about asynchronous data, and my components are nested in several layers.

[2019-12-03 10:01] yi-tuan commented on #608
i use `getvalues()[name]` to get data. i get `name[0]、name[1]、name[...]`.

[2019-12-03 10:01] bluebill1049 commented on #608
[code]

is this what you mean?

[2019-12-03 10:02] bluebill1049 commented on #608
maybe you could give me a more meaningful codesandbox in order for me to understand the issue better.

[2019-12-03 10:13] yi-tuan commented on #608
like this
https://codesandbox.io/s/react-hook-form-array-fields-tzor1

[2019-12-03 10:14] mrtnbroder opened #610 "Usage with Baseweb"
We are using [baseweb](baseweb.design) as our go-to component-library. It's a library baked by uber and under active development.

I'd like to have more examples added to react-hook-form (or react-hook-form-input) on how these two libraries can work together. In general they work pretty well together out of the box, but as soon as you have more advanced stuff (dynamic and nested forms) it's gettin

[2019-12-03 10:22] bluebill1049 commented on #608
I guess my demo only missing populate fields? Why not just using the append method in my demo? Basically call the method to populate your inputs.

[2019-12-03 11:41] bluebill1049 commented on #605
`3.28.12-beta.2`

[2019-12-03 12:34] vatosarmat commented on #605
3.28.12-beta.2 works as expected :+1:

[2019-12-03 16:12] babramczyk opened #611 "When reValidateMode is onChange, doesn't revalidate after calling triggerValidation"
**Describe the bug**
When `reValidateMode` is `'onChange'`, inputs aren't revalidated on change after `triggerValidation` is called.

**To Reproduce**
Steps to reproduce the behavior:
1. `useForm({ triggerValidation: 'onChange' })`
2. Put some required inputs on the page
3. Put a button on the page that on click does `triggerValidation()`
4. Click the button without filling out any of the inputs
5

[2019-12-03 16:36] GProst opened #612 "Ability to scroll to the input with error"
It would be nice to have some `scrollToError` method which would scroll to the highest input found which name matches one of the errors keys.

Currently, there is a similar behavior that happens after the form validation but there are cases when errors are set manually for some fields using `setError` API, for example, after server's error response.

I believe I could implement such functionality

[2019-12-03 17:51] fjuriolli opened #613 "Using with React-select getting undefined from official doc example"
Sandbox below:
https://codesandbox.io/s/react-noyw1?fontsize=14&hidenavigation=1&theme=dark

The textfield is working fine but with react-select (single or multi select), I'm getting undefined.

[2019-12-03 20:10] bluebill1049 commented on #605
awesome thanks @vatosarmat i will merge it in and publish it today :)

[2019-12-03 20:12] bluebill1049 commented on #611
can you please provide a codesandbox for this issue? it would be much easier for me to test and verify.

[2019-12-03 20:35] vatosarmat commented on #605
Documentations says "isValid | boolean | Set true if doesn't have any error.". That's not true - isValid is false on untouched form which doesn't have any errors

[2019-12-03 20:52] bluebill1049 commented on #605
is this an issue almost related to schema validation or both?

[2019-12-03 20:55] bluebill1049 commented on #612
I actually used to expose `ref` for error inputs. Let me think about this, see if it's a good idea to embed in RHF or some alternative solution.

[2019-12-03 21:21] bluebill1049 commented on #605
https://codesandbox.io/s/rhf-schema-isvalid-v551m
I think this fix it.

[2019-12-03 22:46] bluebill1049 commented on #605
hmm looks like its better to start with true and then set to false. i will change that accordingly

[2019-12-03 22:57] isBatak opened #615 "Opt-in valueAsNumber for input type number"
**Is your feature request related to a problem? Please describe.**
When we have input type number we usually need to send a payload to API as a number, but it is always a string. Changing it inside submit handler is too late because we don't have information if the field is type number or something else.

**Describe the solution you'd like**
Add optional register rule `valueAsNumber`
[code]
It cou

[2019-12-03 23:47] bluebill1049 commented on #605
3.28.12-beta.3 third attempt to get them all working. i tested working for me, you want to verify @vatosarmat

[2019-12-04 05:20] vatosarmat commented on #605
https://codesandbox.io/s/keen-noyce-wsd5l here I have initial `isValid` is `false`. I am not sure about should it be true initially, or not. Maybe introduce some kind of `isInitiallyValid` like [formik does](https://jaredpalmer.com/formik/docs/api/formik#isinitialvalid-boolean). Or just leave it as is... Personally, I just do `hasValidationErrors = Object.keys(errors).length  > 0`

[2019-12-04 05:22] bluebill1049 commented on #605
@vatosarmat it's correct right? cause your input are invalid against the schema

[2019-12-04 05:39] bluebill1049 commented on #605
it's more than that :) i will get it right tho. thanks for helping here.

[2019-12-04 05:42] bluebill1049 commented on #605
actually it's working
you had mode set to `mode: "onSubmit",`

[2019-12-04 05:43] bluebill1049 commented on #605
if you checking isValid it's defeat the purpose of isValid.

[2019-12-04 07:06] bluebill1049 commented on #584
going to close this issue, above is best i could come up with for now.

[2019-12-04 07:06] #584 closed

[2019-12-04 07:06] bluebill1049 commented on #579
@stramel any update on this issue?

[2019-12-04 07:32] bluebill1049 commented on #615
what about this idea? let it drive by your `defaultValues`

https://react-hook-form.com/api#useForm

[code]

[2019-12-04 07:36] bluebill1049 commented on #612
I think we can expose the ref in the errors object, and let user to do the scroll into the view or any other other stuff.

[2019-12-04 07:37] bluebill1049 commented on #605
let me know if this works for you, we can release this patch soon.

[2019-12-04 08:14] isBatak commented on #615
Hmh, what if it's an optional field and you don't need a default value?
Actually I haven't thought about that case. Currently, if the field is empty it will be set to "" (empty string), what should it be in case valueAsNumber is set to true 🤔 ... probably `NaN`

[2019-12-04 08:17] bluebill1049 commented on #615
hmmm good point, this creates more unnecessary issues 🤔

maybe i transform function of submitted data is better and safer.

[2019-12-04 08:27] isBatak commented on #615
Sure, that could cover even more cases :D

[2019-12-04 08:50] bluebill1049 commented on #615
i guess we can do that during onSubmit
[code]

[2019-12-04 08:53] bluebill1049 commented on #615
going to close this issue, as it's better to solve at app level :)

[2019-12-04 08:53] #615 closed

[2019-12-04 09:28] bluebill1049 commented on #608
how did you go with map data inline?

[2019-12-04 10:52] isBatak commented on #615
Then we need to make something like this.
`convertFieldsToNumbers(data, ['age', 'price', ...])`
That seems redundant...

[2019-12-04 11:11] bluebill1049 commented on #615
Do you have a better suggestion? To be honest i dont think it's a redundant, more like a utility which you can reuse.

[2019-12-04 11:35] isBatak commented on #615
It's redundant in terms when I change input type I have to update array, or when input name is changed I have to remember to update the array.
If that is forgotten it could produce hard to debug issues.
The transform function is a good idea, but it should be defined per input.
[code]

[2019-12-04 11:54] raulfelix opened #617 "Dynamically added radio group throws exception on the second validation attempt"
**Describe the bug**
My form has a radio group. I hit submit and the validation works fine. If I remove the radio group from the form or it changes because I load a new set of options based on some condition, when I try to submit and validate again there is an uncaught exception and validation fails.

Example here: https://ydypq.csb.app/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2019-12-04 12:24] Tolsee commented on #612
Is anyone already working on this? I would love to work on this if it's available.

[2019-12-04 12:51] isBatak commented on #615
Is it OK to use `RHFInput` in this case?
[code]

[2019-12-04 12:59] tml123 commented on #490
I also found that you can try something like this:

[code]
Ionic provides a method to get the underlying input element.  You can pass that to `register` along with the validations as well.  Above I am mapping over an array of input objects that look like

[code]

[2019-12-04 16:49] vsharma918 opened #619 "Not able to submit remotely"
Hi I have very complex form where we have two and three places where we need to call submit and go to next page but it doesn't allow me to onsubmit from out side.

[2019-12-04 19:15] JayantDaruvuri commented on #584
@bluebill1049 , Thanks for taking a look at it.
 `   as={<input type="checkbox" />}
              rules={{ required: true }}
              name={`checkbox[${index}]`}
              register={props.register}
              setValue={props.setValue}`
checkbox[${index}] is making it harder to validate it through yup validation.
In validations we either check if the validation is through yup schema or

[2019-12-04 20:02] bluebill1049 commented on #619
codesandbox plz?

[2019-12-04 20:06] bluebill1049 commented on #584
thanks a lot @JayantDaruvuri I am trying my best as I can here :( looking forward to your PR

[2019-12-04 20:08] bluebill1049 commented on #615
oh yeah! @isBatak 100%

[2019-12-04 20:45] bluebill1049 commented on #619
`onClick={handleSubmit(onSubmit)}` ?

[2019-12-04 20:45] #608 closed

[2019-12-04 20:47] bluebill1049 commented on #608
closing this for now, it's much easier to map the input and place default value, then having defaultValues to support dynamic data structure.

[2019-12-05 01:57] bluebill1049 commented on #605
i am going to close this issue. i think we have resolved and will patch in the next release.

[2019-12-05 01:57] #605 closed

[2019-12-05 02:37] bluebill1049 commented on #617
thanks @raulfelix for the detailed issue report!

[2019-12-05 03:17] bluebill1049 commented on #617
`react-hook-form@3.28.12-beta.6` should fix the issue :)

[2019-12-05 03:17] #617 closed

[2019-12-05 04:31] bluebill1049 commented on #612
no one is working on it just yet, i think the idea is to expose errors object with ref. so you can do a `scrollIntoView` and then `focus()`.

[code]

[2019-12-05 04:33] bluebill1049 commented on #612
you can almost build a custom hook for it.
[code]

[2019-12-05 04:48] bluebill1049 commented on #612
actually we already expose ref inside the error object:
https://codesandbox.io/s/nrr4n9p8n4
just need to build that custom hook above ^

[2019-12-05 06:16] AsadSaleh commented on #557
@bluebill1049 In https://codesandbox.io/s/react-hook-form-pwd-input-zskgv your React-Select component does not give the value when I submit. The other component works fine, but the Select did not. Only when I clear the value, the value null exists `{ "ReactSelect": null }`.

Please help, thanks!

[2019-12-05 06:23] bluebill1049 commented on #557
did you try the latest version?

[2019-12-05 08:08] Liza491646703 opened #624 "version ^3.28.12-beta.2: formstate isValid bug"
**Describe the bug**
One login page contains
password login and verification code login。
![image](https://user-images.githubusercontent.com/19361078/70214432-67023880-1776-11ea-80ac-cdb20eea8919.png)
![image](https://user-images.githubusercontent.com/19361078/70214452-6d90b000-1776-11ea-96e1-67b758e29085.png)
![image](https://user-images.githubusercontent.com/19361078/70214640-c9f3cf80-1776-11ea-8

[2019-12-05 08:45] ajay-dev-j opened #625 "Multiple form inside a same page with in different functional component. When click one submit then all the forms are triggering"
I asked the same in Spectrum too.

[2019-12-05 08:47] bluebill1049 commented on #625
I will take a look there, issue like this need more detail. Please follow the template.

[2019-12-05 08:47] #625 closed

[2019-12-05 08:49] bluebill1049 commented on #624
Can u please verify this beta https://www.npmjs.com/package/react-hook-form/v/3.28.12-beta.6

[2019-12-05 09:02] GProst commented on #612
@bluebill1049 ref is empty object if an error was set manually via `setError`:
https://codesandbox.io/s/react-hook-form-errors-53jjv

[2019-12-05 09:10] Liza491646703 commented on #624
I am so sad . It is still the bug.

[2019-12-05 09:14] ajay-dev-j commented on #625
Really sorry for this question. In a hurry, I raised this. Not a validate question.

[2019-12-05 09:36] Liza491646703 commented on #624
the 'yup when' is not support good . and the first time , all the fileds must be input, the valid will be true.

[2019-12-05 09:48] lyvyu commented on #123
Hey guys,

I'm using Material UI and also ran into this bug just now, was wondering what the heck happened, like 10 mins ago everything was working fine, but then realised that I changed `defaultValue` to `value`.  The reason I changed this is that i have a `Reset` button which resets the form fields. Now the change only triggers the second time as I start to type.
What would be the possible solut

[2019-12-05 09:54] bluebill1049 commented on #123
@lyvyu you may want to use react-hook-form-input if you need to change defaultValue to value, because after using value it will become controlled component and then you will need onChange method and ect...

[2019-12-05 09:54] bluebill1049 commented on #625
that's ok i will take a look now.

[2019-12-05 09:56] bluebill1049 commented on #612
yea that's why this part:

[code]

if you set an error manually there is no ref

[2019-12-05 09:57] bluebill1049 commented on #624
don't be sad, you can either roll it back to the older version, if that's work for you. i will take a look your codesandbox now.

[2019-12-05 09:57] bluebill1049 commented on #624
wait do you have a codesandbox?

[2019-12-05 09:58] bluebill1049 commented on #624
or share your code at least.

[2019-12-05 10:01] bluebill1049 commented on #612
we can even support third argument as ref with `setError`

[2019-12-05 10:15] Liza491646703 commented on #624
a little long

[2019-12-05 10:16] Liza491646703 commented on #624
import React, { useState, useRef } from 'react';
import Head from 'next/head';
import { useRouter } from 'next/router';
import useForm, { FormContext, useFormContext } from 'react-hook-form';
import { Button, Toast } from 'antd-mobile';
import CustomInputItem from '@components/HookForm/InputItem';
import { CountdownWithGeetest } from '@components/Countdown';
import { Link } from '@server/routes';

[2019-12-05 10:17] bluebill1049 commented on #624
easiest is codesandbox if you have it

[2019-12-05 10:18] Liza491646703 commented on #624
I am so sorry, I have not.

[2019-12-05 10:18] bluebill1049 commented on #624
that's fine, put your code up

[2019-12-05 10:23] Liza491646703 commented on #624
const FormChildren = (props: any) => {
  const methods = useFormContext();
  const { formState } = methods;
  const { loginType, changeLoginType, onClickSubmitButton } = props;
  const isPasswordLogin = loginType === 'password' ? true : false;

  return (
    <div>
      <CustomInputItem name="cellphone" type="phone" title="手机号" inputType="vertical" />
      <CustomInputItem name="isPassword" titl

[2019-12-05 10:24] Liza491646703 commented on #624
const FormChildren = (props: any) => {
  const methods = useFormContext();
  const { formState } = methods;
  const { loginType, changeLoginType, onClickSubmitButton } = props;
  const isPasswordLogin = loginType === 'password' ? true : false;
  return (
    <div>
      <CustomInputItem name="cellphone" type="phone" title="手机号" inputType="vertical" />
      <CustomInputItem name="isPassword" title

[2019-12-05 10:24] Liza491646703 commented on #624
`CustomInputItem`

[2019-12-05 10:25] Liza491646703 commented on #624
`const FormChildren = (props: any) => {
  const methods = useFormContext();
  const { formState } = methods;
  const { loginType, changeLoginType, onClickSubmitButton } = props;
  const isPasswordLogin = loginType === 'password' ? true : false;
  return (
    <div>
      <CustomInputItem name="cellphone" type="phone" title="手机号" inputType="vertical" />
      <CustomInputItem name="isPassword" titl

[2019-12-05 10:26] Liza491646703 commented on #624
const FormChildren = (props: any) => {
  const methods = useFormContext();
  const { formState } = methods;
  const { loginType, changeLoginType, onClickSubmitButton } = props;
  const isPasswordLogin = loginType === 'password' ? true : false;
  return (
    <div>
      <CustomInputItem name="cellphone" type="phone" title="手机号" inputType="vertical" />
      <CustomInputItem name="isPassword" title

[2019-12-05 10:26] Liza491646703 commented on #624
you can replace CustomInputItem with input

[2019-12-05 10:45] bluebill1049 commented on #624
did you try validate Yup with raw input?

[2019-12-05 10:47] bluebill1049 commented on #624
also was previous version works for you? or it's never worked

[2019-12-05 10:52] bluebill1049 commented on #624
its working here for me: https://codesandbox.io/s/rhf-schema-isvalid-v551m

[2019-12-05 10:54] bluebill1049 commented on #624
你也可以打中文， 我也看的懂。

[2019-12-05 10:55] bluebill1049 commented on #619
going to close this issue, above should be the solution. otherwise please provide more detail and follow the issue template or asking question at spectrum channel.

[2019-12-05 10:55] #619 closed

[2019-12-05 10:55] bluebill1049 commented on #611
closing now, please supply a codesandbox, i will re-open and take look into it.

[2019-12-05 10:55] #611 closed

[2019-12-05 11:58] bluebill1049 commented on #624
ok fixed https://codesandbox.io/s/rhf-schema-isvalid-v551m

[2019-12-05 12:12] bluebill1049 commented on #624
v3.28.12 released should fix your issue, let me know if there is still problem.

[2019-12-05 12:12] #624 closed

[2019-12-05 13:06] andrewjrhill commented on #130
@bluebill1049 - I am running into this Issue again when using the MUI Autocomplete component - even with a `defaultValue` set on the component. Any idea why this might be happening?

Here is the input in question:

[code]

[2019-12-05 13:12] GProst commented on #612
@bluebill1049 hmm, I assumed that if we set an error manually on the field name which has ref it should use this ref

[2019-12-05 14:39] lyvyu commented on #123
Hey @bluebill1049 , thanks for the response.

Look what I have here, everything works normally, but when I'm trying to reset form it just doesn't want to do so. I'm setting it to empty but it doesn't react at all.

Am I missing something ?!

![image](https://user-images.githubusercontent.com/11527870/70244626-6ae58900-177d-11ea-8775-c3d65e38ef10.png)

[2019-12-05 19:36] sergiors opened #627 "formState.isValid does not work"
**Describe the bug**
Hey, I had to code a custom input and I found a problem when I use `register` in `useEffect`.
When I use `setValue` the `formState.isValid` keeps `false`

Thats happened when I updated the component to version `3.28.x`, at version `3.27` works

**Codesandbox link**
https://codesandbox.io/s/affectionate-galois-1qgjl

**Expected behavior**
`formState.isValid` should be `true`

*

[2019-12-05 20:41] bluebill1049 commented on #612
oh good point, if there ref was registered.

[2019-12-05 20:54] bluebill1049 commented on #123
so is it working for you now?

[2019-12-05 20:56] bluebill1049 commented on #130
try to use value instead of default value, let me know if that works for you.

[2019-12-05 20:57] bluebill1049 commented on #627
thanks @sergiors that was my bad, i did a refactor on validate schema isValid and i have broken few things. sorry about that, but the refactor did clean up few things for long term.

try this beta, should fix it: 3.28.13-beta.1

[2019-12-05 20:59] bluebill1049 commented on #627
let me know if that fix it, i will release it ASAP

[2019-12-05 21:02] bluebill1049 commented on #612
@GProst  so if we can fix `setError` to associated with error ref, we should be pretty good.

[2019-12-05 21:04] GProst commented on #612
@bluebill1049 yeah, I believe this would solve it for me 👍

[2019-12-05 21:09] lyvyu commented on #123
Yeah, it's king complex(I guess) but it's working.

Thank you very much for the work and support !!!

[2019-12-05 21:12] bluebill1049 commented on #612
👍 should be a pretty easy PR, i will sort it out this weekend for ya

[2019-12-05 21:13] bluebill1049 commented on #123
oh man my pleasure @lyvyu .

[2019-12-05 21:13] GProst commented on #612
@bluebill1049 awesome, much appreciated ❤️

[2019-12-06 01:49] Liza491646703 commented on #624
你好，按照你修改的，我试了一下，还是有一个小问题，就是初始化，没有输入任何内容的时候，submit框应该保持disabled的状态。

[2019-12-06 01:50] Liza491646703 commented on #624
thanks a lot。

[2019-12-06 01:52] Liza491646703 commented on #624
何时发布3.28.12正式版？

[2019-12-06 02:13] bluebill1049 commented on #624
这个情况因该使用 touched

[2019-12-06 02:14] bluebill1049 commented on #624
3.28.12正式版发布了 有问题再发我。

[2019-12-06 02:53] Liza491646703 commented on #624
嗯好的，谢谢，有问题再请教您

[2019-12-06 03:01] bluebill1049 commented on #624
好的 你可以进我们的spectrum聊天室 有时候其他朋友也可以帮你的问题

[2019-12-06 03:10] Liza491646703 commented on #624
spectrum聊天室入口在哪里

[2019-12-06 03:16] bluebill1049 commented on #624
https://spectrum.chat/react-hook-form

[2019-12-06 05:04] #612 closed

[2019-12-06 07:08] iangregsondev commented on #579
Probably not helpful, but locally I am also seeing the same issue. As per the docs I create a type

[code]

And using

[code]

And this does not highlight any issue, but it should as its not on the type.

[code]

This was created the latest version and I am using vscode.

[2019-12-06 07:12] bluebill1049 commented on #579
i am looking into this over the weekend @iangregsondev. let me know @stramel if you have worked on it already i can branch off what you left off.

[2019-12-06 07:18] andrewjrhill commented on #130
@bluebill1049 - does not work with value. Runs into the same issue unfortunately.

[2019-12-06 07:25] bluebill1049 commented on #130
can you provide a codesandbox for your issue? @andrewjrhill

[2019-12-06 09:15] andrewjrhill commented on #130
I am beyond confused now because my codesandbox reproduction is working as expected on `keyDown`.

https://codesandbox.io/s/musing-darwin-z883r

I'll keep digging at it to try and figure out what's going wrong on the app implementation.

[2019-12-06 09:20] bluebill1049 commented on #130
oh strange... i will take a look at it soon, try to fix one of the issue with TS. i will follow you up tho.

[2019-12-06 09:23] andrewjrhill commented on #130
@bluebill1049 - I noticed that the dependency version of `react-hook-form` that came down on Codesandbox differed from what I had installed in my project.

I updated from `v3.23.17` to `v3.28.13` and the issue is now resolved on my side.

If anything, hopefully that codesandbox can be used as an example of a possible way to use a deeply nested MUI Autocomplete with react-hook-form.

Thanks for the

[2019-12-06 09:35] bluebill1049 commented on #130
@andrewjrhill I am really glad to hear that! I love problem-solving, building this library and support people around the world is like a dream come true. Thank you for your support and complement as well.

[2019-12-06 11:52] sergiors commented on #627
Thanks! u r awesome! when I goes to Australian I'll buy a couple of beers (or coffee, as u wish) to us

[2019-12-06 12:00] bluebill1049 commented on #627
ha thanks! no worries :)

[2019-12-06 12:16] bluebill1049 commented on #627
maybe celebrate a bit too early, can you please verify if it's work for me? (I did my own testing).

[2019-12-06 13:04] sergiors commented on #627
Yep, everything works now! :confetti_ball: :confetti_ball: :confetti_ball: :confetti_ball:

[2019-12-06 15:53] peterkuiper commented on #565
@bluebill1049 The final argument to `useEffect` should be an array, ie:
[code]
```Warning: useEffect received a final argument that is not an array (instead, received `function`). When specified, the final argument must be an array.```

I can't seem to get it to work though. Can you perhaps share a working example for React Native?

[2019-12-06 19:56] bluebill1049 commented on #565
@peterkuiper you saw this section: https://react-hook-form.com/get-started#ReactNative?

[2019-12-06 23:01] danielhochman opened #631 "onSubmit reValidateMode triggers validation when form is emptied after being submitted"
**Describe the bug**
onSubmit reValidateMode incorrectly triggers validation when form is emptied after being submitted

**Codesandbox link**
https://codesandbox.io/s/hardcore-mendeleev-g02m8

**Expected behavior**
Form will not validate when it is emptied after submission because that is not a submission.

[2019-12-07 00:43] bluebill1049 commented on #631
thanks @danielhochman i will patch that soon :) good pick up

[2019-12-07 06:31] #579 closed

[2019-12-07 07:19] #631 closed

[2019-12-07 11:24] MehdiJarraya opened #633 "defaultValues not working in RN"
**Describe the bug**
Default Value is not showing in React Native TextInput, but I can see it in the console.log() when I submit the form.

[2019-12-07 11:40] bluebill1049 commented on #633
can you share your code snippet?

[2019-12-07 21:25] bluebill1049 commented on #633
closing this issue. feel free to ask questions if the above comment doesn't solve your issue.

[2019-12-07 21:25] #633 closed

[2019-12-08 03:02] Motoxpro commented on #296
Just wanted to add this here in case someone else stumbles on it.

I wanted to create a custom interface with a few useForm props so I need to get them individually.

Here is what I did:

[code]

Thanks for the great library!!

[2019-12-08 03:14] bluebill1049 commented on #296
awesome @Motoxpro thanks for helping and share your finding!

[2019-12-08 15:45] sergiors commented on #627
Hey @bluebill1049 I caught another problem

https://codesandbox.io/s/react-hook-form-formstateisvalid-with-number-1qgjl
If you uncomment the line 31 or 46 the `formState.isValid` works, but If you don't trigger something `formState.isValid` doesn't work.

Is there any proxy that should trigger?

[2019-12-08 16:50] guven8 opened #636 "Cannot find namespace 'JSX'"
I'm receiving the following error when trying to use `react-hook-form@3.28.14`:
My typescript version is `3.7.3`
[code]

![image](https://user-images.githubusercontent.com/6143809/70392700-a03ae280-19da-11ea-83ac-9b4bb4e23295.png)

my tsconfig.json
[code]

My Form
[code]

[2019-12-08 20:40] bluebill1049 commented on #627
strange it's working for me here? uncomment either 31 or 46?

[2019-12-08 20:55] bluebill1049 commented on #636
can you try the older version?

[code]

try this config too.

[2019-12-08 21:19] guven8 commented on #636
@bluebill1049 thanks for getting back to me. The issue seems to have resolved itself. I have no idea what caused or fixed it.

[2019-12-08 21:19] #636 closed

[2019-12-08 22:12] sergiors commented on #627
I guess I explained myself wrong

If you uncomment line 31 46, It will run correctly, but If you don't trigger `watch` or `JSON.stringify(formState, null, 2)`, the `formState.isValid` does not work

[2019-12-08 22:16] sergiors commented on #627
If you load the page and type, does not work, but If clear the field and type again works Oo

[2019-12-08 22:18] krnlde commented on #447
Hey man :) This error is back again in `3.28.14` and `3.29.0-beta.1`.

See for reference: https://codesandbox.io/s/interesting-merkle-0yvw7

[2019-12-08 22:21] bluebill1049 commented on #447
... i did even add automation test this time. I will take a look tonight.

[2019-12-08 22:22] bluebill1049 commented on #627
Ok thanks I will sort it out soon.

[2019-12-08 22:27] krnlde opened #637 "A reset with default values should not show errors initially"
**Describe the bug**
When you reset the form with initial values, while one of those values is an empty string for a required field, the error "This field is required" is shown after resetting.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-reset-forces-all-fields-to-be-changed-5e88o
2. Type something in "First Name"
3. Click on "reset"
4. See e

[2019-12-08 22:30] bluebill1049 commented on #447
This time I will patch it and add a automation test with ur codesandbox example. 👍🏻

[2019-12-08 22:32] bluebill1049 commented on #447
Some background reference why these happening: I did some refactoring to clean up isValid logic (simplify) which lead to those regression issue, but once we nail it and it’s better for the long term ❤️

[2019-12-08 22:53] bluebill1049 commented on #637
https://github.com/react-hook-form/react-hook-form/pull/638

you want to do a quick test to help @krnlde

[2019-12-08 23:06] krnlde commented on #637
I'm already in bed, will do tomorrow :) thanks man!

[2019-12-08 23:11] bluebill1049 commented on #637
thanks @krnlde i will resolve the other issue, when you wake up tmr too 👍

[2019-12-09 02:54] bluebill1049 commented on #637
`react-hook-form@3.28.15-beta.1` please help to verify

[2019-12-09 02:54] bluebill1049 commented on #447
`react-hook-form@3.28.15-beta.1` please help to verify

[2019-12-09 02:54] bluebill1049 commented on #627
`react-hook-form@3.28.15-beta.1` please help to verify

[2019-12-09 04:02] vsharma918 commented on #619
We figured out an alternate way by have  a form id and trigger submit event
from out side of form component. it working now fine thanks for reply.

On Thu, Dec 5, 2019 at 4:25 PM Bill <notifications@github.com> wrote:

[2019-12-09 04:05] bluebill1049 commented on #619
no worries :) glad you work it out.

[2019-12-09 10:47] krnlde commented on #447
I updated the codepen with the version `3.28.15-beta.1` but it doesn't seem to work :(

https://codesandbox.io/s/priceless-yonath-wiv6o

To reproduce:
1. Click on "Bank Transfer" (form will get valid)
2. Click on "Direct Debit" (form should get invalid immediatelly)
3. Click somehwere else to trigger the `blur` (form actually gets invalid)

[2019-12-09 10:49] bluebill1049 commented on #447
thanks @krnlde for testing

[2019-12-09 10:49] krnlde commented on #637
I can confirm this issue is closed by `3.28.15-beta.1` 🥇

[2019-12-09 10:53] bluebill1049 commented on #637
thanks very much for helping @krnlde

[2019-12-09 10:53] krnlde commented on #637
Thanks for being so quick about every issue :D you're awesome!

[2019-12-09 10:55] bluebill1049 commented on #637
no worries, thanks for testing. i really appreciated your help on this.

[2019-12-09 10:56] bluebill1049 commented on #637
i will need your help on making isValid solid so i never break it again...

[2019-12-09 10:59] peterkuiper commented on #565
@bluebill1049 Yes, I did. The problem is that I want to set default values on a custom text input component. I tried the `useEffect` method but that does not work. The code example from the section you mentioned works, but I need to set value. The form is being used to update existing data.

[2019-12-09 11:01] bluebill1049 commented on #565
@petercpwong have you tried react-hook-form-input?

[2019-12-09 11:07] bluebill1049 commented on #447
please testing this one for me `3.28.15-beta.2` (i did my own testing as usual :(

[2019-12-09 11:07] bluebill1049 commented on #627
`3.28.15-beta.2` latest :)testing please

[2019-12-09 11:25] krnlde commented on #447
I can confirm it works with `3.28.15-beta.2` 🥇

working example: https://codesandbox.io/s/dreamy-swartz-y5hgp

[2019-12-09 11:32] petercpwong commented on #565
@bluebill1049 I think you responded to the wrong person :)

[2019-12-09 11:34] bluebill1049 commented on #565
oops sorry my bad :( @peterkuiper

[2019-12-09 11:35] bluebill1049 commented on #447
amazing i will add some automation to lock it in.

[2019-12-09 11:35] bluebill1049 commented on #447
much appreciated your help and support @krnlde i will add your name in the release note. thank you ❤️

[2019-12-09 11:36] #447 closed

[2019-12-09 11:46] MehdiJarraya commented on #633
`
import React from 'react'
import useForm from 'react-hook-form'
import { Button, Text, TextInput, View } from "react-native"

function NewForm(props) {

    const { register, setValue, handleSubmit, errors } = useForm({
        defaultValues: {
            "firstName": "mehdi",
            "lastName": "jarrraya"
        }
    })

    const onSubmit = data => {
        // console.log("erros", Obj

[2019-12-09 11:48] bluebill1049 commented on #633
did you try to use https://github.com/react-hook-form/react-hook-form-input?

[2019-12-09 11:48] bluebill1049 commented on #633
https://snack.expo.io/@bluebill1049/react-hook-form-input

[2019-12-09 11:56] bluebill1049 commented on #627
`3.28.15-beta.4`

[2019-12-09 11:57] krnlde commented on #447
🙇

[2019-12-09 12:49] lukaszfiszer opened #640 "Incorrect type of "field" argument in watch() and setValue() when using nested fields."
**Describe the bug**
When using `useForm` with a generic parameter and nested form fields, `setValue` and `watch` methods do not accept nested field names with dot notation (`name.firstName`)

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-nested-field-bug-935tp

**Expected behavior**
First argument of `setValue` and `watch`

[2019-12-09 13:08] Atralbus opened #641 "Conditionality registered field does not work"
**Describe the bug**
When you register a field after the component is mounted, it does not work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-conditionally-register-component-es6uk
2. Type something on `Other Field`
3. See updates to the `field1` in the console
4. Type `bill` on the `Name` field
5. Then type something on `Other Fi

[2019-12-09 13:19] sergiors commented on #627
Sorry for delay.
Okay, now is triggered, `from State.isValid` start as `true`, I need to type to validation run correctly.

https://codesandbox.io/s/affectionate-galois-1qgjl

[2019-12-09 13:53] peterkuiper commented on #565
@bluebill1049 I have not (yet). I will check that out, hopefully that will work. It would still be great to have a working example in your docs, though (your documentation is excellent).

[2019-12-09 14:02] MehdiJarraya commented on #633
Thanks a lot, default values and validation are working using react-hook-form-input.

[2019-12-09 18:02] Jossnaz opened #642 "Docs ErrorMessage component seems wrong"
in your doc
https://react-hook-form.com/advanced-usage/#ErrorMessage

I think you meant this:

[code]

or am I lacking some knowledge about some notation? name is a variable, you cannot just do errors.name and expect javascript to use the variable there.

cheers

[2019-12-09 21:08] bluebill1049 commented on #642
you are right! want to send us a PR to fix it?

[2019-12-09 21:09] bluebill1049 commented on #633
no worries

[2019-12-09 21:10] bluebill1049 commented on #565
thanks @petercpwong i have expo link in the code example.
<img width="1236" alt="Screen Shot 2019-12-10 at 8 10 06 am" src="https://user-images.githubusercontent.com/10513364/70473110-7e4d7700-1b24-11ea-94fb-7b50528ec1e1.png">

[2019-12-09 21:12] bluebill1049 commented on #640
at this moment, we can only support a flat structure.

[code]

[2019-12-09 21:19] bluebill1049 commented on #641
This is one of the trade-off that I found out by using uncontrolled input (which i will document on the website soon).

[code]

let me know if the above works.

[2019-12-09 22:07] bluebill1049 commented on #627
confirm on my end 3.28.15-beta.3 works :)

[2019-12-09 22:07] bluebill1049 commented on #627
could you verify in your app as well?

[2019-12-09 22:14] bluebill1049 commented on #627
let's release this once i get a green light from your end.

[2019-12-09 22:21] lukaszfiszer commented on #640
Unfortunately flat structure as above does not work well in `getValues` and `handleSubmit`

[code]

The only working solution I've found is to keep nested interface but silent TS error with either `@ts-ignore` or `any`.

 Looking forward to next major version!

[2019-12-09 22:25] bluebill1049 commented on #640
yea you are right @lukaszfiszer. I could loose the typescript check to make error not sing, but then it lose the point of having it. yea we will improve this on the next major version. I did flat error object because optional chaining was not that popular :(

[2019-12-09 22:30] bluebill1049 commented on #640
I will close this issue at this stage, we will address that in the next breaking change.

[2019-12-09 22:30] #640 closed

[2019-12-09 22:55] bmamouri opened #643 "watch method should have an option to nest data (similar to getValues)"
I'm watching the form for any changes to update the preview. But `watch`'s output is not consistent with `getValues` output when it is nested.

The `watch` method should have an option to nest the output, similar to `getValues` function.

An alternative is to use `combineFieldValues` function. But since it is not exported, I'd need to copy it in my project which is not DRY.

[2019-12-09 22:56] bluebill1049 commented on #643
[code]

i think you can `watch('data')`

please supply your issue with a codesandbox if above is not helping too.

[2019-12-09 23:00] bmamouri commented on #643
The `watch` method accepts an array of field names. So `watch('data')` is not accepted. I have tried `watch(['data'])`, but that returns undefined too.

[2019-12-09 23:08] bmamouri commented on #643
I created a simple sandbox: https://codesandbox.io/s/beautiful-northcutt-yxgnp?fontsize=14&hidenavigation=1&theme=dark

![image](https://user-images.githubusercontent.com/6419173/70480898-09366d80-1b35-11ea-885f-1d448a93b47a.png)

[2019-12-09 23:12] bluebill1049 commented on #643
<img width="1277" alt="Screen Shot 2019-12-10 at 10 11 37 am" src="https://user-images.githubusercontent.com/10513364/70481041-78ac5d00-1b35-11ea-8507-d439f2ab298f.png">

it does accept 'name'

[2019-12-09 23:12] bluebill1049 commented on #643
works similar as lodash.get function

[2019-12-09 23:13] bmamouri commented on #643
In my case, I would like to watch all the fields in the form

[2019-12-09 23:17] bluebill1049 commented on #643
[code]

does above solve your current problem?

[2019-12-09 23:21] bmamouri commented on #643
Not really. Because I want to watch for changes, and whenever something changed, I need to update the preview.

If I can't use `watch`, I need to do the following which is overly complex:

1. Attach `onChange` handler to every input.
2. On the change handler, wait 500 ms (smelly code) until react update the data. (otherwise `getValues` returns the previous data)
3. Use `getValues` to get updated d

[2019-12-09 23:22] bluebill1049 commented on #643
why not? when you invoke `watch()` it will watch everything on the field. did you try in your codesandbox?

[2019-12-09 23:24] bluebill1049 commented on #643
I don't get it make `watch()` return nested structure is different form the below code
[code]
can you try this in your codesandbox?

[2019-12-09 23:25] bluebill1049 commented on #643
<img width="1260" alt="Screen Shot 2019-12-10 at 10 25 25 am" src="https://user-images.githubusercontent.com/10513364/70481665-659a8c80-1b37-11ea-89db-67b17f945994.png">

[2019-12-09 23:30] bmamouri commented on #643
The problem is that `getValues` gives you the stale data. I will create a code sandbox.

I am curious to know why you are against adding a `nest` option to `watch` method. It is simple, and create consistency. I can send you a PR if you accept it.

[2019-12-09 23:31] bluebill1049 commented on #643
I am not denying that `watch()` should somehow return nested data as well (need some thoughts), try to offer an alternative solution for now.

[2019-12-09 23:32] bluebill1049 commented on #643
thanks would like to see a codesandbox, to make it work is pretty easy i just want to keep the api as simple as possible, somehow avoid second argument is preferred. I can keep this issue open until i figure out something.

[2019-12-09 23:36] bluebill1049 commented on #643
maybe this: `watch({ nest: true })` is better than second argument and consistent with getValues()

[2019-12-09 23:37] bmamouri commented on #643
Understood. Thank you for that. I will send you a sandbox soon.

Great library by the way, and thanks for all the hard work.

[2019-12-09 23:45] bmamouri commented on #643
[New Codesandbox](https://codesandbox.io/s/optimistic-morning-ynb1v?fontsize=14&hidenavigation=1&theme=dark) that demonstrate the issue with using `getValues` for my use case.

![image](https://user-images.githubusercontent.com/6419173/70482632-186bea00-1b3a-11ea-91d9-c25cc26827d4.png)

[2019-12-09 23:51] bluebill1049 commented on #643
works for me with your codesandbox

[2019-12-09 23:56] bmamouri commented on #643
Can you please follow this steps to reproduce the issue:

1. Type something in the first input.
2. Notice that the preview is updated.
3. Click on 'Add name'
4. Notice that the new name (currently empty) does not exists in the preview.

[2019-12-09 23:58] bluebill1049 commented on #643
oh i see, the new node.

[2019-12-09 23:59] bluebill1049 commented on #643
@bmamouri if you got sometime you want to submit a PR? with what i suggested above?
`watch({nest: true})`, otherwise i can work on it later this week as well.

[2019-12-10 00:00] bmamouri commented on #643
I think not that many people are using `watch` method. That's why nobody has reported a similar issue. Nevertheless, I think the `watch` method is very powerful.

I am happy to submit a PR. Will send one it through soon. Thanks again

[2019-12-10 00:01] bluebill1049 commented on #643
awesome. thanks @bmamouri in your PR you will get a beta version each commit (with codesandbox) so you can test it out too (hopefully it works 👍)

again thanks for the issue and willingness to contribute.

[2019-12-10 00:05] bluebill1049 commented on #641
or you can try with both controlled (wrapped with RHFInput)

{ condition ? (
 <RHFInput
        as={<Select options={options} />}
        rules={{ required: true }}
        name="test"
        register={register}
        setValue={setValue}
    />
  ) : (
   <RHFInput
        as={<Select options={options} />}
        rules={{ required: true }}
        name="test"
        register={register}

[2019-12-10 00:16] bmamouri commented on #643
There is an issue with `watch({nest: true})`. Users would lose the ability to specify which data they would like to watch.

They would need to choose exclusively if they care about nesting, or about watching a subset of form data. (because a subset of form data can be nested too: `groups[0].questions[0].answers`)

I think the `watch` function signature should be like the following:

[code]

Howeve

[2019-12-10 00:19] bluebill1049 commented on #643
I think with `watch({nest: true})`, users can deconstruct themselves similar to a local state, which should be fine.

[2019-12-10 00:21] bmamouri commented on #643
So just to be clear you are thinking of this:

[code]

So users can't choose `fieldNames` anymore.

I think it is a great idea, but it would be a breaking change, right?

[2019-12-10 00:25] bluebill1049 commented on #643
yes :)

not breaking change tho

[code]

[2019-12-10 00:41] sergiors commented on #627
confirmed! it's works!

[2019-12-10 00:49] bluebill1049 commented on #627
sweet let's release this! thanks @sergiors

[2019-12-10 00:49] #627 closed

[2019-12-10 01:00] bmamouri commented on #643
Thanks Bill.

Unfortunately, I realized that `watch` has the same stale problem that `getValues` has.

Since the form inputs are uncontrolled, sometimes it take a while for the DOM to get updated. So you get the stale data. This does not cause any problem in most cases because when the form is submitted, the changes has reflected to the DOM. But in my case, I want to preview the form in real time.

[2019-12-10 01:03] bluebill1049 commented on #643
oh ok, let me know when you find better solution. I am keen to know the fix.

[2019-12-10 01:03] #643 closed

[2019-12-10 01:11] sergiors commented on #627
Thanks you too! u rock!

[2019-12-10 02:59] bluebill1049 commented on #641
https://codesandbox.io/s/react-hook-form-conditionally-register-component-vkvx3

[2019-12-10 04:57] svict4 commented on #438
Does `RHFInput` help with `@material-ui/pickers` or @VuongVu do you have a more complete example incorporating https://github.com/react-hook-form/react-hook-form/issues/438#issuecomment-548268070 ? 😊

[2019-12-10 05:00] bluebill1049 commented on #438
@svict4 pretty sure you can do it with `onChangeEvent` something i added recently if you are not aware.

[2019-12-10 08:42] yujiangshui opened #644 "RHFInput `as` props shows errors in TypeScript"
**Describe the bug**

I just copied [this demo](https://react-hook-form.com/api#RHFInput) and pasted to CodeSandbox, but will show TypeScript errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <https://codesandbox.io/s/gifted-bose-zky4n>
2. You will see there is an error sign under `as`

**Codesandbox link**
<https://codesandbox.io/s/gifted-bose-zky4n>

**Expected behavior**
no er

[2019-12-10 12:02] ingridoberbuchler opened #645 "Validation min:1 in number fields doesn't work correctly"
**To Reproduce**
Steps to reproduce the behavior:

1. Set validateRule `min: 1`
2. try write in input 0 - error - it's ok
3. write 01, 001, etc.... no error handled

[2019-12-10 12:14] vsharma918 commented on #619
How can we watch a particular field in array object like I have list of
person and want to watch on dob only.
Thanks,
Vishal

On Mon, 9 Dec 2019 at 9:35 AM, Bill <notifications@github.com> wrote:

[2019-12-10 12:57] liuhuisheng opened #646 "reRender many times when call triggerValidation() with empty argument"
**Describe the bug**
reRender many times when call triggerValidation()
![](https://gw.alicdn.com/tfs/TB16Ok2p4v1gK0jSZFFXXb0sXXa-520-272.png)

the code is：
triggerValidation
-> executeValidation
-> renderBaseOnError
-> shouldReRender = shouldReRender || !errorsRef.current[name];
https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L163

when errorsRef.current[name] return

[2019-12-10 20:54] #641 closed

[2019-12-10 20:57] bluebill1049 commented on #646
thanks for the bug report and even look into the code. do you have a codesandbox on reproducing this? (so i can re-verify as well)

[2019-12-10 20:58] bluebill1049 commented on #619
`watch('person')` https://react-hook-form.com/api#watch

[2019-12-10 22:06] ethaneisenhard commented on #34
@alleyshairu could you share that example with the react-date-picker?? that would be awesome

[2019-12-11 02:01] bluebill1049 commented on #645
it works: https://codesandbox.io/s/naughty-davinci-e1br4

[2019-12-11 02:01] bluebill1049 commented on #645
i think you are using type as `string`

[2019-12-11 02:01] #645 closed

[2019-12-11 06:03] #646 closed

[2019-12-11 06:34] Atralbus commented on #641
@bluebill1049 For the first scenario (fields with different `name`), it worked when I converted the if else to separate conditions. For the other scenario (fields with same `name`), it worked when I used `RHFInput` for normal `input` field. Thank you for your help.

[2019-12-11 06:40] bluebill1049 commented on #641
no worries at all :) @Atralbus i am glad it worked

[2019-12-11 09:24] ingridoberbuchler commented on #645
@bluebill1049 It doesn't works!. Try type to number input `0001` Is the 01, 001, 00001  etc. good number values?

[2019-12-11 09:26] Atralbus opened #648 "Cannot mutate value of Material-UI Switch manually"
**Describe the bug**
`setValue` does not work on Material-UI `Switch` component, although it has `inputRef`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-conditionally-register-component-bk642
2. Uncheck `Field 1`
3. See no updates on `Field 2` although it's set to `false` inside useEffect hook.

**Codesandbox link**
[![Edit React Hook Form -

[2019-12-11 09:49] bluebill1049 commented on #648
have you tried to wrap it around with react-hook-form-input?

[2019-12-11 10:57] Atralbus commented on #648
@bluebill1049 Yes, it works with `RHFInput` but I was trying to avoid it.
[![Edit React Hook Form - setValue on Material UI Switch](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-hook-form-setvalue-on-material-ui-switch-0koid?fontsize=14&hidenavigation=1&theme=dark)

I see that `react-select` and MUI `Select` are complex and controlled components and I'm us

[2019-12-11 11:03] bluebill1049 commented on #648
yea @Atralbus it's hard for RHF to track the value with MUI switch, I will use RHFInput instead. sometimes I wish UI library can always export their input's ref eg: inputRef={xxx}

[2019-12-11 11:09] bluebill1049 commented on #648
or you can use a custom register, which is register during useEffect

[2019-12-11 11:24] robandrose opened #650 "After calling reset formState is not Valid even though it should be"
**Describe the bug**
In my setup with nested Elements using the FormContext to register with custom validations i ran into problems using the reset functionality. The state of the form will not become valid, unless i enter a value into each field (even though they are not required)

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-form-context-gtcls?fontsize=14&hidenavigation=1&theme=

[2019-12-11 11:26] bluebill1049 commented on #650
what's the step to reproduce?

[2019-12-11 16:36] VGLoic opened #651 "Callback function validate could accept the form values as second argument"
I have a form where validation of specific field is based on the value of another field in the form.

I wanted to use the `validate` callback function but this function takes only the new value of the associated field as argument. I ended up doing some nasty overriding of the validate function in such a way that the `validate` function had access to the `getValues` function. Therefore, I was wonde

[2019-12-11 20:25] bluebill1049 commented on #651
thanks, @VGLoic for your great suggestion. I did think about this when I was design the API, and it would be quite useful when you build inputs that are dependent on another. It's also the reason why i build `getValues` and `watch` API .

However, `getValues()` and `watch()` are both not "free" to invoke, they do consume resource to generate the data, which means you validate function will essenti

[2019-12-11 20:38] #648 closed

[2019-12-12 01:44] JayantDaruvuri opened #653 "Dynamic Checkboxes with same name are not having the event handlers registered"
**Describe the bug**
When a different set of check boxes are rendered after the initial render.
The checkboxes renderd after the initial render do not have their event handlers registered with react-hook-form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the dropdown
2. Select an option
3. Select the checkbox values and see the values getting rendered by the watch
4. Select a differe

[2019-12-12 01:45] JayantDaruvuri commented on #653
Couldn't do this in a PR, since I don't have permissions :-(

![image](https://user-images.githubusercontent.com/55671870/70675432-0d59bb00-1cee-11ea-8f32-a4435585aa50.png)

[2019-12-12 01:49] bluebill1049 commented on #653
You can! Fork the repo and then submit the PR❤️🤩

[2019-12-12 01:49] JayantDaruvuri commented on #653
![image](https://user-images.githubusercontent.com/55671870/70675580-6b869e00-1cee-11ea-9699-dd303f701f26.png)

Options is treated as an Array, where it's actually object.

[2019-12-12 02:29] alleyshairu commented on #34
@ethaneisenhard
https://codesandbox.io/s/stoic-kirch-6oq7p
I just created this for you.

Basically, maintain the state of your custom input like you usually do, but also register the input so that the react-form-hook can know about it. You usually do it like
[code]

and then whenever the input value change you use the react-form-hook **setValue** to assign the value to the input you registered. No

[2019-12-12 02:56] Smona commented on #593
I think i've figured it out. Once I set the `mode` to "onChange", it looks like touched fields are updating properly. I don't think anything is needed here but possibly a documentation update noting that touched fields aren't updated unless validation is triggered.

Thanks for the great library! Uncontrolled inputs ftw

[2019-12-12 03:09] bluebill1049 commented on #593
Thanks @Smona i will update the doc accordingly

[2019-12-12 03:10] bluebill1049 commented on #34
thanks a lot @alleyshairu for sharing with us!

[2019-12-12 05:54] ebadta81 opened #655 "cannot write to Mui TextField if maxLength with message defiend at register"
**Describe the bug**
Input box doesn't get any input if I define maxLength: { value: 256, message: "message" }

**To Reproduce**
Steps to reproduce the behavior:
I created a codesandbox example for this.

If you just give maxLength: 256, then everything ok.

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-bug-j0fiz

**Expected behavior**
I can write

[2019-12-12 05:57] bluebill1049 commented on #655
wow this one is so strange...

[2019-12-12 05:59] bluebill1049 commented on #653
closing this issue, as you made the fix ❤️ we will release this one Friday :)

[2019-12-12 05:59] #653 closed

[2019-12-12 05:59] #650 closed

[2019-12-12 06:01] captrespect opened #656 "Any way to not include empty strings for blank inputs?"
**Describe the question?**
When I we have a form with optional values, the submit data object has empty string set for values that are not set?

For example for a user with an optional phone number, I'd like the data object to be:
{ username: 'theusername' } when no phone is filled out instead of { username: 'theusername', phone: '''}

The api i'm using will validate empty strings as submitted val

[2019-12-12 06:05] bluebill1049 commented on #656
Can you write a transform function to filter the inputs during submit?

[2019-12-12 06:10] JayantDaruvuri commented on #653
Thank you 😊

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bill <notifications@github.com>
Sent: Thursday, December 12, 2019 6:59:23 PM
To: react-hook-form/react-hook-form <react-hook-form@noreply.github.com>
Cc: Jayant Daruvuri <jayant.daruvuri@myfoodbag.co.nz>; Author <author@noreply.github.com>
Subject: Re: [react-hook-form/react-hook-form] Dynamic Checkboxes

[2019-12-12 08:21] VGLoic commented on #651
I completely understand the arguments, thank you for the quick and detailed answer :)

[2019-12-12 08:21] #651 closed

[2019-12-12 08:39] bluebill1049 commented on #651
thank you for understanding @VGLoic

[2019-12-12 10:35] #655 closed

[2019-12-12 10:59] mikaelkristiansson opened #659 "validationSchema when input field doesnt exist"
When I have a yup schema where a field is required and the field does not exist in the form it will not submit the form since it contains an error.
Let's say I have conditions for a field to only render when another value is set, and the new field should be required, but the first field is not required. Then I have to set conditions both in the schema and the code rendering the fields.
I think for

[2019-12-12 11:09] bluebill1049 commented on #659
hey, @mikaelkristiansson thanks for your issue report. at the moment we are validation form data against yup schema. I think it makes sense to omit out when data is not there.

[2019-12-12 11:24] bluebill1049 commented on #659
actually I believe you can write dependency schema as well right? would it make more sense to sort it out at the schema level?

[2019-12-12 11:24] bluebill1049 commented on #659
example in here: https://github.com/jquense/yup/issues/79

[2019-12-12 11:29] bluebill1049 commented on #659
any thoughts guys @JeromeDeLeon  @adhrinae @kotarella1110 ?

[2019-12-12 12:48] mikaelkristiansson commented on #659
@bluebill1049 yeah that was why I asked, because right now I can get around it by setting conditions in both the render and the schema:
https://codesandbox.io/s/react-hook-form-validationschema-ow4qg

but I asked because I might missed something out.

[2019-12-12 13:00] JeromeDeLeon commented on #659
@bluebill1049 was right. I had similar scenario where I had this `field` in the schema that was not visible in the UI but was need to identify if my other field was going to be required or not using `is-then-otherwise` of `yup`.

[code]

`isAreaDisabled` is triggered using `setValue` of `react-hook-form` and visible on the screen of user. I changed it based on the `shape` provided by user.

[2019-12-12 14:30] captrespect commented on #656
Yeah that's what I ended up doing, just making sure I didn't miss some other setting.

`function removeEmptyFields(data) {
  Object.keys(data).forEach(key => {
    if (data[key] === '' || data[key] == null) {
      delete data[key];
    }
  });
}

const onSubmit = data => {
    removeEmptyFields(data);
....
}
`

[2019-12-12 14:30] #656 closed

[2019-12-12 16:27] nfantagossi-asapp opened #660 "watch() does not update when removing an array input"
**Describe the bug**
When an array input leaves the dom, the watch method doesn't update. I looked in the issues to find if anyone had a similar issue, but the only one I've found somewhat related is https://github.com/react-hook-form/react-hook-form/issues/643 but his example didn't rely on removing any input.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to
2. Create two inputs
3. Add

[2019-12-12 19:51] avtarnanrey commented on #424
I was having this same issue because of my Typescript package version was lower than the **React Hook Form** typescript version 3.7.3

[2019-12-12 20:31] bluebill1049 commented on #659
We can easily omit out removed inputs, but I feel like if we are using schema validation, it's better to leave the validation (source of truth) at the schema level. IMOH Less "magic" from the lib itself is better and keep this lib light as well.

[2019-12-12 20:33] bluebill1049 commented on #424
@LukasVerstraete can you share a screenshot of the actual error?

[2019-12-12 21:10] mikestopcontinues opened #661 "watch() updates too often"
**Describe the bug**
It seems when using watch with syntax `watch([<props>])`, the return object is recreated fairly often, resulting in numerous (albeit short) refreshes, even when no form fields are touched.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form.
2. Set a watch().
3. Monitor lifecycles.

**Expected behavior**
I suspect using a deep equals comparison (such as `fast-d

[2019-12-12 21:25] bluebill1049 commented on #661
Do you have a codesandbox for this issue?

[2019-12-13 02:14] bluebill1049 commented on #660
hey @nfantagossi-asapp that's actually not a bug. because `watch()` only watch inputs changes, not when input removed. what's your use case like?

[2019-12-13 04:14] collegeimprovements commented on #438
Hi Guys, I'm facing the same issue. Can you please provide an example that works with @material-ui/pickers- with or without RHFInput!

[2019-12-13 05:25] kotarella1110 commented on #659
I think so too.

[2019-12-13 08:04] mikaelkristiansson commented on #659
totally agree

[2019-12-13 08:04] #659 closed

[2019-12-13 10:06] VuongVu commented on #438
@svict4  @collegeimprovements  just set manual `value` and `onChange` function for your `@material-ui/pickers`. `register` your field in `useEffect`.

[2019-12-13 10:13] bluebill1049 commented on #438
thanks @VuongVu yes @collegeimprovements you can refer to the example here: https://react-hook-form.com/get-started#WorkwithUIlibrary

[2019-12-13 12:39] nfantagossi-asapp commented on #660
Hi @bluebill1049, thank you very much for the quick response.

I have a dynamic form generator that builds a form from a config object that's not known beforehand. For the generated form, I need to perform some validations (which are also dynamic) on the resulting value (the configuration adds validations to single inputs registering with the `register` method, but some validations are more comple

[2019-12-13 12:47] bluebill1049 commented on #660
no worries @nfantagossi-asapp :) is there any way you can combine the validation with `state` (which control the size of the values). because `watch` holds the source of truth of each input value, and that local state holds the number of values on the screen. Let me know your thoughts.

[2019-12-13 12:53] krnlde commented on #637
Hey man, we have a new issue related to this one. Compare the reset behavior of version [3.28.15](https://codesandbox.io/s/react-hook-form-reset-forces-all-fields-to-be-changed-jhu0j) with [3.29.0](https://codesandbox.io/s/react-hook-form-reset-forces-all-fields-to-be-changed-z5u17).

To to that go to both codesandboxes, enter a "first name", hit reset and see the `isValid` debug output. It should

[2019-12-13 12:54] nfantagossi-asapp commented on #660
@bluebill1049 I'm sorry, but with `state` you mean the `formState` object? And if it's that, you mean using the `touched` array?

[2019-12-13 12:54] bluebill1049 commented on #637
it's back again... @krnlde I will take a look first thing in the morning.

[2019-12-13 12:55] krnlde commented on #637
No hustle, `3.28.15` works without any issues :)

[2019-12-13 12:55] bluebill1049 commented on #660
I was referring to those states:
[code]

[2019-12-13 13:37] OssiPesonen opened #662 "Versions after 3.27.0 broken with Material UI"
I was attempting to figure out why `errors` was not being populated using Material UI. It appers since version 3.27.0 the library has been broken, for unknown reasons. I found a Codepen where I could test this with an older version which can be updated up to 3.27.0-beta that works (use the Double Click Form):

To replicate, open the Codepen from below and click "Double Click Form". See that it wor

[2019-12-13 13:40] bluebill1049 commented on #637
`3.29.1-beta.1` i think that was the fix

[2019-12-13 13:42] nfantagossi-asapp commented on #660
Oh right, the thing is that in my use case, those states belong to the component that renders an array input, which is far down the tree from the actual dynamic form.
I think that would imply doing something like passing down a callback just to report if there were any changes to an array input, which would end up coupling those components (the only coupling so far is just that each input type req

[2019-12-13 13:43] krnlde commented on #637
In the above example it works!

[2019-12-13 13:44] bluebill1049 commented on #637
I forgot to reset the valid field during `reset`

[2019-12-13 13:44] bluebill1049 commented on #637
thanks again @krnlde

[2019-12-13 13:46] bluebill1049 commented on #662
hey @OssiPesonen any chance you can test out the latest version? see if we have resolved it

[2019-12-13 13:46] OssiPesonen commented on #662
Yes, I installed the package today, 3.29.0, and the problem persists.

[2019-12-13 13:47] bluebill1049 commented on #662
ok thanks, i will take a look tmr morning.

[2019-12-13 13:51] bluebill1049 commented on #662
it's actually correct and it was a bug fix. because you would need `required`.

[2019-12-13 13:56] OssiPesonen commented on #662
Adding `required` to TextFields do nothing in this case.

Here's a codepen of 3.29.0 with TextField and `required`
https://codesandbox.io/s/react-hook-form-material-ui-tydr4

[2019-12-13 14:04] krnlde commented on #662
I don't see any required in your code. You'd need to set `ref={register({required: true})}` on any Input you want to be required.

[2019-12-13 14:08] OssiPesonen commented on #662
`ref` is not something Material UI has in TextFields, that's why you use innerRef (https://react-hook-form.com/get-started/#WorkwithUIlibrary)

    <TextField inputRef={register} label="First name" name="FirstName"/>

I updated the codepen to add  `required` in the register (which already has a pattern defined) but the problem still persists:
https://codesandbox.io/s/react-hook-form-material-ui-d9

[2019-12-13 14:09] OssiPesonen commented on #662
Damn, it's `inputRef` not `innerRef`, where did I read inner...? It appears to work with `inputRef`, i'm sorry!

Thank you so much for a quick response! This is the fastest I've ever received a comment on Github.

 I'm closing this issue.

[2019-12-13 14:09] #662 closed

[2019-12-13 14:11] krnlde commented on #662
`innerRef` is commonly used by react libraries like reactstrap. Maybe you copied it somewhere there :) Anyhow, great to hear it works.

[2019-12-13 15:34] cargallo commented on #662
Hi I'm just evaluating the library for first time (looking for a replacement of Formik because it's making me crazy with FieldArray performing unexpected behaviour), so I was checking the docs to learn how to integrate it with material ui.

I think the confussion between innerRef and inputRef comes from an ambiguity in the docs, here is the link:

[https://react-hook-form.com/get-started#WorkwithU

[2019-12-13 22:48] bluebill1049 commented on #662
@cargallo you want to submit a PR for this? I should be `inputRef/innerRef`.

[2019-12-13 22:49] iwarner opened #664 "Delayed Register when Form in offcanvas area ??"
**Describe the bug**

When the form is within an offcanvas area, it takes two submit clicks to submit the form - video below.

Video: https://www.loom.com/share/5988d97cbf9e441687af65a77ee8492d

[2019-12-13 22:53] bluebill1049 commented on #664
hey @iwarner thanks for the video, any chance you can reproduce this in a codesandbox?

[2019-12-13 22:54] bluebill1049 commented on #661
closing this :) that's expected behavior for `watch()`, (because you are watching everything) IMOH I don't think we need an extra dependency for this. keep this lib simple and light.

[2019-12-13 23:17] #637 closed

[2019-12-13 23:28] bluebill1049 commented on #660
hey @nfantagossi-asapp I don't think it's `watch`'s job, render input is taking care via React `state` not input value.

1. watch : input value
2. local state: what to render on your screen.

[2019-12-13 23:31] iwarner commented on #664
@bluebill1049 I would love to but its just quite a complicated use case to do that.

What I need to do is
A. test form outside of the Offcanvas to elimiate that possibility
B. Reproduce a simpler show hide example to add your form onto the Dom dynamically and see if the Submit works first time.

Will take some time to do B

Ian

[2019-12-13 23:37] bluebill1049 commented on #660
my recommendation would be combining with the local state with watch result

[2019-12-13 23:38] bluebill1049 commented on #664
thanks @iwarner is it possible to just isolate the issue and reproduce such an issue?

[2019-12-13 23:39] iwarner commented on #664
@bluebill1049 As per the video its not an easy useCase to simply reproduce. I will try my best though, I am working on A at the moment to make sure that there is not an error with my code, which is more likely the case :)

[2019-12-13 23:50] bluebill1049 commented on #664
thanks for the update @iwarner

[2019-12-14 05:20] bluebill1049 commented on #637
oh @krnlde! This morning i thought you followed me and i decided to followed you back, but then I realised that someone is actually sponsoring me (very first one)! That's such a surprise! I am really appreciated your kindness, donation and especially when something (RHF) is broken and you would informed me on the very first moment . This leads me to resolve issue quickly and without affect too man

[2019-12-14 06:47] sayjeyhi opened #665 "setState set default values"
When I set another state on my form component it will set all field to default value, cuz they come from my component props .

[code]

**Desktop (please complete the following information):**
 - Device: :Laptop
 - OS: windows
 - Browser chrome
 - Version  last

[2019-12-14 06:51] bluebill1049 commented on #665
This is not clear. please supply with codesandbox or better explanation on your issue.

[2019-12-14 06:52] bluebill1049 commented on #665
you probably should use `reset()`

[2019-12-14 07:46] sayjeyhi commented on #665
it was a mistake and thank you for great library 🤓

[2019-12-14 07:46] #665 closed

[2019-12-14 07:54] bluebill1049 commented on #665
ha no worries :) glad you sort it out.

[2019-12-14 12:44] polc commented on #615
FYI the same problem exist for date values. Some build-in solution may be nice !

[2019-12-14 19:14] cargallo commented on #662
@bluebill1049 I recently did it. I realized that there is no documentation in Spanish, I am from Argentina if you are interested I can collaborate with translation, but I don't know how to. Great job by the way!

[2019-12-14 21:05] bluebill1049 commented on #662
wow, that would be awesome! @cargallo it's not a small task tho. Would love to have Spanish to help more developers <3

Here are the translation files:
https://github.com/react-hook-form/react-hook-form-website/tree/master/src/data

no pressure, if you find it's too much work, but you are happy to help it would be amazing!  ❤️✌🏻

[2019-12-15 15:37] cargallo commented on #662
I'll glad to contribute. I hope to make time the next week for starting. I took a look to the actual structure of the docs and IMHO I think it could be easier to mantain if you make a folder for each topic and a particular file for each language. In the changes I made in getStarted.tsx the chinese and japanese languages differ in structure from the other languages, but it's difficult to compare. I

[2019-12-15 18:35] cargallo opened #669 "Question:"
**Proper way of using RHFInput in MaterialUI custom component?**

I created a component wich is a wrapper of Material UI Select (not react-select). I want to know the proper way of integrating with RHF and RHFInput. I want to know if there is a better aproach, or if there´s something that I made here that is unnecesary.

If you submit without selecting an option yup validation shoudl trigger error

[2019-12-15 19:32] mikestopcontinues commented on #661
Hey, I just got some spare time to pick this up.

I honestly don't think this should be the desired behavior of the array usage. When selecting which props you want to watch, you really only want to watch those particular props, not the others. Beside, react-hook-form's value proposition is causing as few refreshes as possible. Says so on the homepage. ;)

The real issue seems to be when one of th

[2019-12-15 19:35] bopfer opened #670 "A reset empties the input when it is nested inside a FormContext"
**Describe the bug**

This is sort of a continuation of the issue that was reported here:

https://spectrum.chat/react-hook-form/general/changes-to-reset-with-version-3-29-1-possibly-a-bug~34f33334-9682-4149-a835-3f9a6bd00fa6

And fixed here: https://github.com/react-hook-form/react-hook-form/pull/667

**Details**

When an input is nested under a `FormContact`, resting will cause the field to go e

[2019-12-15 19:54] stephoune opened #671 "Number of renders when using watch('nameField')"
**Describe the question?**
Why when using watch('nameField') in a FieldComponent, every components are rerendered.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-rhfinput-9hrf9
2. Go to Test.js and see the call of watch('Select')
3. Check the number of renders when changing all of components

Shouldn't the component be rerender only when you cha

[2019-12-15 20:39] bluebill1049 commented on #661
good points above :) can you supply a code sandbox for this particular issue?

[2019-12-15 20:43] bluebill1049 commented on #662
well, I totally I agree on @cargallo that was my fault... when i get some free time after V4 of RHF I will structure it that way. If you don't mind to spend extra effort on time, i would really appreciate too.

[2019-12-15 20:47] bluebill1049 commented on #671
that's because you are using FormContext which is React context API :)
https://react-hook-form.com/advanced-usage#FormContextPerformance

[2019-12-15 20:53] bluebill1049 commented on #661
not really :)

[2019-12-15 20:55] stephoune commented on #671
Thank's !! 😀

[2019-12-15 21:06] stephoune opened #672 "Why component is rendering twice when using validationSchema"
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-rhfinput-iov6f
2. Check number of renders when validationSchema is used
3. Check number of renders when validationSchema is unused

I'm trying to understand why when i'm using a validationSchema in useForm, my component is rendering twice. And when i'm not using it, component is rendering once.
However, when i'm usi

[2019-12-15 21:06] stephoune opened #704 "Why component is rendering twice when using validationSchema"
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-rhfinput-iov6f
2. Check number of renders when validationSchema is used
3. Check number of renders when validationSchema is unused

I'm trying to understand why when i'm using a validationSchema in useForm, my component is rendering twice. And when i'm not using it, component is rendering once.
However, when i'm usi

[2019-12-15 21:22] stephoune commented on #671
Sorry, i'm trying to understand how use dirty in React.memo like in your example :
https://react-hook-form.com/advanced-usage/#FormContextPerformance

Here is my code :
https://codesandbox.io/s/react-hook-form-rhfinput-9hrf9

[2019-12-15 23:43] bluebill1049 commented on #670
`react-hook-form@3.29.3-beta.1`

[2019-12-16 01:54] bopfer commented on #670
Thanks again for the quick fix!  Yarn is giving me `Couldn't find any versions for "react-hook-form" that matches "3.29.3-beta.1"`.  Maybe it takes time to make it to all their CDNs.  I will try it out later.

[2019-12-16 01:55] bluebill1049 commented on #670
thanks @bopfer i will release another beta, i am having similar issue here too.

[2019-12-16 01:57] bluebill1049 commented on #670
https://codesandbox.io/s/react-hook-form-reset-form-bug-ygmku

[2019-12-16 03:15] bopfer commented on #670
Just updated my project to 3.29.3-beta.2 and the resetting is now working properly across all my tests.

[2019-12-16 03:20] bluebill1049 commented on #670
awesome! @bopfer thanks for reverify the issue. much appreciated ❤️

[2019-12-16 03:24] bluebill1049 commented on #671
you mean this?
[code]

[2019-12-16 07:39] stephoune commented on #671
Yes exactly ! But in my codesandbox, this code throw an error...

[2019-12-16 08:00] bluebill1049 commented on #671
it only works at the root level tho, did you put inside your react component tree?

[2019-12-16 08:16] #671 closed

[2019-12-16 10:00] bluebill1049 commented on #660
i am going to close this issue for now, feel free to leave your questions and i will try to answer ASAP.

[2019-12-16 10:00] #660 closed

[2019-12-16 10:25] nfantagossi-asapp commented on #660
Alright, I will use local state to perform these custom validations.

Thank you for your help!

[2019-12-16 10:31] bluebill1049 commented on #660
thanks for understanding @nfantagossi-asapp my pleasure to help

[2019-12-16 10:32] bluebill1049 commented on #660
if you find the lib to be useful in the future, plz consider to leave us a star to support too ❤️

[2019-12-16 13:01] juandaco opened #674 "The library should provide a way to set initialValues."
Hi there!
First of all thank you for a great library and you effort making this. I have a **suggestion/(problem I had)** when working with `react-hook-form`.

While migrating a project from `formik`, I was trying to use `defaultValues` as `initialValues` and getting many errors and unwanted behavior in the process. The issue as I came to understand it, is that `defaultValues` get merged into the f

[2019-12-16 14:16] hanrok opened #675 "React Semantic UI modal with React Hook Form default values disappear"
Hi,

I'm trying to create an edit user modal that gets default values of the user details from outside of the component.
The modal is written using React-Semantic-UI and triggered by "edit button". The issue is that when I exit and re-enter to the modal the default values of the form are disappear

**To Reproduce**
1. Go to this sandbox
2. Click on Edit User
3. Exit from modal by ESC or clicking o

[2019-12-16 14:55] edouardb opened #676 "Avoid input name containing dot/bracket to create nested form fields"
Hi there,

Following the `register` section of the [documentation](https://react-hook-form.com/api#register),
when an input name contains a dot/bracket, it creates nested form fields. This is great! But is there a way to disable this behavior and allow the use of input names with dots or brackets?

[code]

What I get

[code]

What I'd like

[code]

Thanks a lot.

[2019-12-16 15:31] mikestopcontinues commented on #661
Hey, thanks for looking into this. I really appreciate it. Here's a codesandbox...

https://codesandbox.io/s/react-hook-form-watch-zoqql?autoresize=1&expanddevtools=1&fontsize=14&hidenavigation=1

^^^ Good to know! :D

[2019-12-16 16:32] JeromeDeLeon commented on #676
Is `width_height` not working for you? Because we could provide that feature however I don’t thinks it’s good thing to do considering your use case. Can you give me an example where it might be useful?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-16 17:12] edouardb commented on #676
@JeromeDeLeon thanks for your answer! Currently, I already have a workaround to handle that. I was just asking myself if there is a way to disable the default behavior for this feature, as in some cases you do not necessarily need the creation of nested fields when using dot or bracket.

[2019-12-16 17:22] Climooo opened #678 "Is field with array values behavior ok?"
**Describe the question?**
I tested the examples with array values, and I the observed behavior is not the one I would exepect, but maybe it's normal.

**To Reproduce (1st case)**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/6j1760jkjk
2. Click on 'Add friend' two times
3. Remove the first friend
4. Submit and check console
5. There is an undefined value in at the first posit

[2019-12-16 20:57] bluebill1049 commented on #674
hey, @juandaco thanks for the detailed issue report.  RHF embraces uncontrolled components which is why I named it `defaultValues`, it's `defaultValue` for native input. so when you declare `defaultValues` RHF will place input `defaultValue` with `defaultValues`. If this is not working expected, maybe we have a bug. Do you have a codesandbox for this issue?

[2019-12-16 21:00] bluebill1049 commented on #676
hey @edouardb hmmm we don't have such mechanism just yet.

[2019-12-16 21:02] bluebill1049 commented on #678
hey @lemcii that's expected behavior because RHF removes the index of the item, however, you can filter the items with `undefined`. Here is a complete example:

https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-l19pz

[2019-12-17 05:07] vsharma918 commented on #619
Hi Bill,

I have stuck while using hook form. Here is my cases so let me know how can
we solve this.

1. We have two payment form with two radio button like if user select first
payment option then we show only billing and once user select new card pay
option then we show credit card form with billing form.
2.  If user fill half form then switch to other option then we want to keep
half form fille

[2019-12-17 05:14] bluebill1049 commented on #619
hey @vsharma918 I think it's pretty easy.  two options in my head

1. you just hide the form by display: 'none'  and not remove the DOM
2. use a state machine to store data in session storage: https://github.com/bluebill1049/little-state-machine

[2019-12-17 08:17] Climooo commented on #678
OK thank you for your answer (but I'm not Lemcii!). I know your example (I mentioned it in my question), but I was hoping it was possible to have real array (easier to manage, here it's not possible to submit the data as it, and it's hard to describe that kind of data with Typescript).

[2019-12-17 08:17] #678 closed

[2019-12-17 09:21] bluebill1049 commented on #675
https://codesandbox.io/s/react-semantic-ui-react-form-hook-issue-evldk
it's working :) you miss type the name

[2019-12-17 09:41] bluebill1049 commented on #661
Hi @mikestopcontinues. thanks for the codesandbox. that really helps.

when you watching an array object, any one of them is changing will trigger re-render. How can we prevent it from re-render? I don't see how we can optimise the re-render in here. feel free to provide your suggestion tho.

[2019-12-17 11:19] flycj opened #680 "When the initial value is set by the 'reset' method, the previously customized field disappears"
**Describe the bug**
When the initial value is set by the 'reset' method, the previously customized field disappears
当我使用reset 方法在异步获取数据后，设置表单的初始值时，之前自定义的表单字段消失了

**To Reproduce**

1.
[code]
2. Get data asynchronously through the interface
3.
[code]
4.  on submit  pics field disappear

**Codesandbox link**
https://codesandbox.io/s/frosty-rain-fsgne

**Expected behavior**
When using reset, custom f

[2019-12-17 11:43] bluebill1049 commented on #680
hey @flycj that's my lack of documentation. after reset all reference will be clear, so you will have to register your input again (even with custom register). This wasn't the behaviour on the previous version, however recently we properly fixed reset and `formState`. hope this name sense. reset will clear all reference regular fields and custom fields.

[2019-12-17 12:19] flycj commented on #680
Therefore, if there are many fields and custom fields, how should I set the initial value in the asynchronous case?

[2019-12-17 12:20] bluebill1049 commented on #680
1. native fields will take care during re-render itself.
2. custom register you can register again during useEffect

[2019-12-17 12:29] flycj commented on #680
If there are multiple custom fields, when re-registering asynchronously and using setValue to set the initial value, it will be re-rendered each time. So in the asynchronous case, is there a better way to implement all the initial values in one command?

[2019-12-17 12:34] bluebill1049 commented on #680
hmm that's a good question. looks like for now you will have to RHFInput, but I will think about it and give you a solution soon. a possible solution is not reset custom register fields, but then it's not consistent.

[2019-12-17 12:38] ajay-dev-j commented on #272
@bluebill1049  Do you think the reset value get set in the first watch() call?

[2019-12-17 12:48] flycj commented on #680
Thank you very much for your prompt reply, I will go and see RHFInput.
Of course, I also look forward to better solutions.
I wish you a happy life!

[2019-12-17 12:48] flycj commented on #680
Thank you very much for your prompt reply, I will go and see RHFInput.
Of course, I also look forward to better solutions.
I wish you a happy life!

[2019-12-17 14:55] mikestopcontinues commented on #661
I might be misunderstanding your question, so please forgive any confusion in my response...

If you mean the updating when the array itself changes, I think it's ok to do so when the array props actually change. But I think it's wrong that the watch updates when values outside the array change. In the example, when you toggle the select element, the array watcher updates, and it should only updat

[2019-12-17 17:15] collegeimprovements opened #681 "How to fetch multiple values from Material-UI autocomplete component ?"
**Question Description**
How to get the multiple values from AutoComplete component of Material-UI.
We are able to fetch single values but not multiple values.

**Codesandbox link**
https://codesandbox.io/s/material-demo-tfpo4

[2019-12-17 20:16] bluebill1049 commented on #681
it's better to use custom register and combined with `setValue`.

[2019-12-17 20:17] bluebill1049 commented on #272
it should get from defaultValues @ajay-dev-j

[2019-12-17 20:24] bluebill1049 commented on #676
going to close this issue for now as we don't support that in the lib at the moment.

[2019-12-17 20:24] #676 closed

[2019-12-17 20:24] bluebill1049 commented on #664
going to close this issue now, feel free to re-open when you have more information and example to reproduce.

[2019-12-17 20:24] #664 closed

[2019-12-17 20:33] bluebill1049 commented on #680
hey @flycj what about calling the customer register after `reset()`?

[code]

[2019-12-18 03:49] bluebill1049 commented on #680
what about this?
https://codesandbox.io/s/eager-bush-ny64o

[2019-12-18 03:52] bluebill1049 commented on #680
what about this? https://codesandbox.io/s/eager-bush-ny64o

[2019-12-18 13:20] dadouam opened #683 "How to properly setValue() to custom controlled components after calling reset() ?"
**Describe the question?**
Hello,
First of all, let me thank you for this awesome lib, we've been using it with great success so far in our application and we find it very easy to use and even the integration with custom components has been easy so far! 👍

I came across a strange behavior just today with the reset() method but I'm unsure whether to call it a bug or if I'm just doing it wrong.
For

[2019-12-18 14:06] snorrid opened #684 "Touched array doesn't update when expected"
I'm experiencing an issue where if I don't have any "result" rendered the touched array is not updated immediately on change. But the array is populated correctly if I print out the result somewhere in the JSX.

Is this expected behaviour or Is this a bug?

[Wrong Behaviour](https://codesandbox.io/s/react-hook-form-formstate-dirty-touched-submitted-zyd7j?fontsize=14&hidenavigation=1&theme=dark)
[C

[2019-12-18 16:02] mlarcher opened #685 "file input set dynamically is not picked up"
Here's a test file:

[code]

it works fine with a form without react-hook form. e.g.:
[code]

but with the same form tweaked to use react-hook-form, submit handler is not called because file input is considered empty:
[code]

Any idea what's going on there ?

[2019-12-18 21:08] bluebill1049 commented on #683
Hey @dadouam thanks for the kind words. have you tried RHFInput (we are thinking of moving it into the main repo) for this issue (i assumed you are using controlled component)? I will read a bit more on your issue later today.

[2019-12-18 23:00] thoughtassassin opened #686 "Intermitent act warnings"
**Describe the bug**
I get intermittent warnings (leaky tests) about components unmounting when I run tests in react-testing-library.

**To Reproduce**
Steps to reproduce the behavior:
Create tests for a component that has useEffect

**Codesandbox link**
https://codesandbox.io/s/objective-leavitt-inwp1

**Expected behavior**
There should be some remedy to seeing these errors.

**Screenshots**
From

[2019-12-18 23:02] bluebill1049 commented on #686
have you tried `async` act?

[2019-12-18 23:03] thoughtassassin commented on #686
I saw the issue that you closed. I have one test that bugs out all of the time. I thought I wrapped it in async act but it didn't have an effect.

[2019-12-18 23:13] bluebill1049 commented on #686
sure thanks @thoughtassassin i will take a look at this.

[2019-12-18 23:15] thoughtassassin commented on #686
Thank you. This issue has been the bane of my existence for the past three weeks. I couldn't figure out where it is coming from.

[2019-12-18 23:34] bluebill1049 commented on #684
This is expected behaviour. because `formState` is wrapped with `proxy`. so you are not using it during render phase, it will omit the `formSate`. curious what's the usage to read formState in the submit not during the render. i guess you can move formState outside the onSubmit and it should work.

[2019-12-18 23:36] bluebill1049 commented on #681
how did you go @collegeimprovements? did you try it with custom register and setValue into RHF?

[2019-12-18 23:36] bluebill1049 commented on #680
hey @flycj how did you go with the issue?

[2019-12-18 23:42] bluebill1049 commented on #674
hey @juandaco wondering what's your feedback on my reply above?

[2019-12-18 23:44] bluebill1049 commented on #685
can you try `fireEvent.input`?

[2019-12-19 03:24] bluebill1049 commented on #674
thanks @juandaco for the detailed reply. I think you maybe able to get away with the issue from `reset()` api, so you can avoid pre-populated the inputs. I will close this issue here, but we can keep the conversation going, and i am more than happy to find a solution that works for you and many others. (if there is one 😄)

[2019-12-19 03:24] #674 closed

[2019-12-19 04:28] collegeimprovements commented on #681
Hi @bluebill1049  No I couldn't make it work with RHF, going to try with `custom register` today.
I find `custom register` bit hard to understand 🙈

[2019-12-19 04:38] bluebill1049 commented on #681
[code]

what about this? we can chat further in spectrum as well.

[2019-12-19 05:16] bluebill1049 commented on #686
hmm @thoughtassassin i am running it and i don't get any warning?

[2019-12-19 05:24] bluebill1049 commented on #683
here is a working version: https://codesandbox.io/s/react-hook-form-reset-react-native-and-controlled-components-qij3f

Note: on V4 we are moving RHFInput into the main repo and it's much easier to use too

right now: https://github.com/react-hook-form/react-hook-form-input

V4
[code]

[2019-12-19 05:26] bluebill1049 commented on #661
hey @mikestopcontinues thanks for the detailed reply again. I may leave this in the backlog for now as i am busy working on the next major version. we will come back to this tho. I am adding this ticket into the project.

[2019-12-19 05:27] #661 closed

[2019-12-19 05:28] bluebill1049 commented on #661
<img width="372" alt="Screen Shot 2019-12-19 at 4 27 44 pm" src="https://user-images.githubusercontent.com/10513364/71147303-82903780-227c-11ea-83a7-9e245a09505f.png">

FYI above

[2019-12-19 06:08] thoughtassassin commented on #686
It happens intermittently. I've been working with that codesandbox for a while. It seems like if the test breaks, the warning shows up and doesn't go away. Once I got the tests are passing, the warning will continue to show.

It seems that if I refresh the tab or open a new window the tests pass without warnings. It's almost as if a bad state begins the environment is corrupted and the error conti

[2019-12-19 06:27] bluebill1049 commented on #686
nice article @thoughtassassin i am going to have a read too.

[2019-12-19 09:43] mlarcher commented on #685
done, result is the same

[2019-12-19 10:05] bluebill1049 commented on #685
I don't have clue at this stage, i will probably take a deeper look at this after V4. if you can do some investigate would be great help too.

[2019-12-19 10:14] dadouam commented on #683
Thank you for your quick reply, I took a look at RHFInput and got it to work with our custom component! 👍

So my understanding is that there's no simple way to reset the form for controlled components without using RHFInput ?

[2019-12-19 10:15] bluebill1049 commented on #683
with controlled component, you would need to RHFInput, however with uncontrolled you can reset() easily, as long as RHF can capture the input `ref`. By the way, there is a hidden gem with RHFInput, you should see your form is no longer re-render while typing. :)

[2019-12-19 10:18] collegeimprovements commented on #681
Sure...will find you on spectrum.
Codesandbox Link: https://codesandbox.io/s/material-demo-tfpo4

[2019-12-19 10:24] #683 closed

[2019-12-19 11:08] lishine opened #687 "isValid does still false after setValue"
version 3.29.4
see
https://codesandbox.io/s/react-hook-form-unregister-vwyrq

[2019-12-19 11:30] bluebill1049 commented on #687
didn't trigger valdiaton: setValue('n', 'n', true)

[2019-12-19 11:30] #687 closed

[2019-12-19 12:19] mlarcher commented on #685
I have some tests to run that depend on knowing what's in the file input, specifics are not relevant but this test I pasted is just here to figure out how to do so.
I dug into the code myself and eventually figured out what the issue was :
react-hook-form depends on the html input *value* for the *required* validator, and setting the *files* content is not enough for that.
using
[code]
along with

[2019-12-19 12:20] #685 closed

[2019-12-19 12:26] bluebill1049 commented on #685
that's awesome! thanks @mlarcher

[2019-12-19 15:18] snorrid commented on #684
I wanted to read the touched array when submitting to only act on values that have been touched. Your suggestion of moving the formState.touched to a variable outside onSubmit works.

Thanks you for a great library.

[2019-12-19 15:18] #684 closed

[2019-12-19 16:27] mikestopcontinues commented on #661
Thanks! I really appreciate it!

[2019-12-19 17:56] thoughtassassin commented on #686
I think I may have discovered what is at the root of my problem. There were three issues:

1) **I was mocking useForm functions.** My form component was being passed those functions from a parent container. Moving useForm directly into my component reduced the failure rate from approximately 30% to 25%  to 5% (based upon running `yarn test` 100 times).

2) **I was sharing one component among all o

[2019-12-19 17:56] #686 closed

[2019-12-19 19:58] bluebill1049 commented on #686
awesome man. glad you sort it out and thanks for the detailed update!

[2019-12-19 20:00] bluebill1049 commented on #684
awesome @snorrid glad it's working for you

[2019-12-19 22:00] esuarezz opened #688 "is working nested with FormContext ?"
Is not giving me the values of every registered into the form

Parent
<FormContext {...methods} >
      <form className={classes.root} onSubmit={handleSubmit(onSubmit)}>
		<RHFInput
					as={<TextField label={"X"}/>}
					name="X"
					register={register}
				/>
       					<IngredientComponent/>

      </>
</>

And then in IngredientComponent:

	const { register} = useFormContext();
				<RHFInput

[2019-12-19 22:05] bluebill1049 commented on #688
Can you please follow our issue template? Create a codesandbox for ur issue? It would make my life much easier to solve and verify the issue. Thanks

[2019-12-19 22:12] esuarezz commented on #688
Now I am going to bed...
but I have created a parent and then calling this now:

const Example = () => {
	const {register} = useFormContext();

	return(
		<RHFInput
			as={<TextField
				id="standard-number"
				label="unidades"
				type="number"
				InputLabelProps={{
					shrink: true,
				}}
			/>}
			name="units"
			register={register}
		/>
	)
};export default Example;

And the same, the resul

[2019-12-19 22:16] esuarezz commented on #688
I just replicated this example:
https://codesandbox.io/s/sad-sutherland-zvfok
And didnt work, I got:
test: "asdasd"

perhaps is something related with typescript?(I am using it)

[2019-12-19 22:34] #688 closed

[2019-12-19 22:37] bluebill1049 commented on #688
glad you worked it out yourself. what's the confusing part?

[2019-12-19 22:43] bluebill1049 commented on #681
there you go: https://codesandbox.io/s/material-demo-yx67u (it's more of a MUI question to be honest)

closing the issue now :) feel free to ask more questions tho.

[2019-12-19 22:44] bluebill1049 commented on #680
going to close this issue now. feel free to follow up with questions, i have my example above.

[2019-12-19 22:44] #680 closed

[2019-12-20 00:26] linx8 commented on #532
As @julian-linux stated, the correct way is:

[code]
No warning, awaits as expected!

[2019-12-20 00:40] bluebill1049 commented on #532
thanks @linx8 👍

[2019-12-20 04:59] flycj commented on #680
Sorry, I've been too busy lately. Did not reply to you in time
It is Ok !  thank you very much.

[2019-12-20 05:03] bluebill1049 commented on #680
awesome! thanks for the update too.

[2019-12-20 09:36] 890f2151c2be69c51db72017546d00fd opened #689 "add defaultRegister as useForm option"
Hi
first, thank you for great hook
then I would like to suggest little improvement
if i want to use custom elements i have to manually register them like

[code]

it would be nice add option defaultRegister to useForm like

[code]

[2019-12-20 10:05] bluebill1049 commented on #689
thanks @890f2151c2be69c51db72017546d00fd next version will have a new way doing controlled component :)
https://github.com/react-hook-form/react-hook-form/pull/666

which you probably can skip some of the custom register :)

[2019-12-20 12:47] 890f2151c2be69c51db72017546d00fd commented on #689
looks promising.  consider rename Controller to something less generic

[2019-12-20 12:47] #689 closed

[2019-12-20 13:25] umidbekkarimov opened #690 "Expose `types`, `contextTypes`"
**Is your feature request related to a problem? Please describe.**
Currently, only `useForm`, `FormContext` and `useFormContext` are exposed in main file, all the types has to be imported `react-hook-form/dist/contextTypes` or `react-hook-form/dist/types` which always look hacky and it's not resilient to change.

**Describe the solution you'd like**
Export all the types from `src/types.ts` and `sr

[2019-12-20 13:38] bluebill1049 commented on #690
This will be in the next major release :)  https://github.com/react-hook-form/react-hook-form/pull/666

[2019-12-20 13:38] #690 closed

[2019-12-20 14:35] babramczyk commented on #532
@linx8 The bummer about that method, though, is the extra thought/code that's associated, that (if you're not doing asynchronous validation) has nothing to do with what the user is doing.

In other words, ideally when you're writing tests you should be able to write code the exactly resembles how the user is interacting with the page. If I don't have asynchronous validation, the behavior in the br

[2019-12-20 18:32] mohammadhamrah opened #691 "Field Array add empty item into array"
**Describe the bug**
The library add n `null` item to the array of submited form when the first item has removed.

Even on the sample it's provided by website, this bug exists
https://codesandbox.io/s/6j1760jkjk

**To Reproduce**
Steps to reproduce the behavior:
1. Add 3 new Friends
2. Then remove the first one
3. Submit the form
4. View the console
[code]

**Codesandbox link**
https://codesandbox

[2019-12-20 22:00] bluebill1049 commented on #691
Thanks for the issue report @mohammadhamrah That's not a bug, I do aware of this behavior when it was implemented, you can filter out the undefined or null at app. I didn't bake the logic into the lib, because having it your app seems to be the easier solution.

[2019-12-20 22:08] mohammadhamrah commented on #691
@bluebill1049 Thanks for you reply, And also thanks for the great library and job you have done.

Just don't you think that as user, clean array is more expected? maybe a `flag` or something can be added to the component to switch it off/on ? so user can decide between clean or un-clean array?

[2019-12-20 22:11] bluebill1049 commented on #532
I think this is a good opportunity to clear a few things in here why you need `async` act:

RHF is validating every rules async by design. Async validation should be the first-class citizen on validation, and I believe front end lives in an async world. At the same time by doing so, it will lead us into consistent API rather have you as a developer to worry about when to use which API (DX). Can yo

[2019-12-20 22:17] bluebill1049 commented on #691
@mohammadhamrah you have a valid point. 👍  I will do some investigation on how much logic we will have to implement for this (without growing the lib too much) my design philosophy around RHF is not turning it into a Swiss Army Knife if the developer can easily sort out at app level I would prefer to leave to them and hence simplify the code. I will keep you updated with the investigation too.

[2019-12-20 23:53] smooJitter opened #692 "React-Native TextInput w/ defaultValues not updating"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**
I can use some help with the following.  The issue... when I attempt to update the text input, the input text changes but quickly reverts back to the default.

**To Reproduce**
My component looks like this.

[code]
and my react native text input looks like this

. TextInp

[2019-12-21 00:35] bluebill1049 commented on #692
hey @smooJitter have you tried using https://github.com/react-hook-form/react-hook-form-input? maybe a quick and easy solution for you. we are moving that component into the main repo in the next major version too. so it's a good idea to use it. I will take a deeper look at your issue later too.

[2019-12-21 15:03] babramczyk commented on #532
I definitely see what you mean. At the same time, you can still `await` a non-async function, so even if validation was sometimes async and sometimes not, consuming code could still always `await` by default.

Regardless, I don't care to debate it much anymore. The nature of the web is definitely a big part of the blame, where the event loop becomes an implementation detail that sometimes throws a

[2019-12-21 15:07] iamdevlinph commented on #34
For some reason when doing the custom register with `<FormContext />` the `methods.handleSubmit` does not fire.

The parent component which contains the form
[code]

The date component with the custom register
[code]

[2019-12-21 15:20] iamdevlinph commented on #34
Also tried with `[register]` but still no luck
[code]

[2019-12-21 18:21] smooJitter commented on #692
I tried it to no avail.  My first problem was which component should I wrap?   From the above code snippet, The native TextInput is wrapped.   I tried using RNHInput  around each.   To see the actual code, consider “react-native-hook-form-builder”.  [https://github.com/davideddr/react-native-hook-form-builder/issues/2](url)

When I log out the onChange event, I can see the changed text but as for

[2019-12-21 21:36] bluebill1049 commented on #34
@iamdevlinph can you share a codesandbox for this and which version of RHF are you using?

[2019-12-21 21:38] bluebill1049 commented on #692
any chance you can provide an expo link? eg: https://snack.expo.io/@bluebill1049/react-hook-form-input

if you want to debug state change, you can use `watch` API

[2019-12-21 23:31] smooJitter commented on #692
lol...  I am anti expo, perhaps I should rethink that.  After playing around with the watch API I realized my text input should should set the "defaultValue" attribute.  I was setting the "value" attribute

[2019-12-22 02:24] bluebill1049 commented on #692
It’s not about expo, check the code inside expo.

[2019-12-22 04:06] iamdevlinph commented on #34
I'm trying to create one but I always get a `cross-origin error` when I add the following code.
[code]
I might just create a repository for it

[2019-12-22 06:15] iamdevlinph commented on #34
I just realized the issue.

I was doing the wrong object for register
[code]
instead of
[code]

🤦‍♂️🤦‍♂️

[2019-12-22 06:37] bluebill1049 commented on #34
@iamdevlinph all good. show me the error that you got if you have sometime too :)

[2019-12-22 07:23] iamdevlinph commented on #34
I see. I understood my issue now.

With this syntax
[code]
the `required` is treated as a form field that's why the `methods.handleSubmit` triggers even though there are empty required fields.

While in this syntax (which is correct)
[code]
the `required` is the actual **required option** and that's why when I submit the form it doesn't trigger anything because there are empty required fields.

--

[2019-12-22 07:26] bluebill1049 commented on #34
all good @iamdevlinph thanks for let us know too 👍

next major version, we are simplify the API a bit. hopefully make your guys' life easier too.

[2019-12-22 07:28] iamdevlinph commented on #34
It's quite simple enough. Just some bad eyesight 😅

[2019-12-22 07:52] bluebill1049 commented on #34
@iamdevlinph if you find it useful in the future, Please consider leave us a star too 🙏

[2019-12-22 10:22] AdhamMoussa commented on #352
@bluebill1049 still having this issue with version 3.29.4
`handleSubmit` still expects an event `BaseSyntheticEvent<object, any, any>`

[2019-12-22 10:25] AdhamMoussa commented on #352
nevermind, solved with https://github.com/react-hook-form/react-hook-form/issues/352#issuecomment-538920969

[2019-12-22 10:26] bluebill1049 commented on #352
thanks @AdhamMoussa for the update.

[2019-12-22 10:43] bluebill1049 commented on #691
This is be included in the next Major version (V4)

[2019-12-22 10:46] bluebill1049 commented on #691
please help on testing too: `v4.0.0-rc.3`

[2019-12-22 10:50] AdhamMoussa commented on #352
@bluebill1049  although Typescript doesn't complain any more, the submit handler is not running when I press the submit button

[code]

[2019-12-22 10:52] AdhamMoussa commented on #352
Sorry, the `useCustomForm` is a hook I created to handle manual registration of form inputs:

[code]

[2019-12-22 10:54] bluebill1049 commented on #352
@AdhamMoussa have you seen this: https://github.com/react-hook-form/react-hook-form-input
we are moving this component to the main repo, so for react native should be much simple while still maintain good performance.

[2019-12-22 10:58] AdhamMoussa commented on #352
@bluebill1049 looks great, I'll try that. thanks

[2019-12-22 11:00] bluebill1049 commented on #352
@AdhamMoussa i did a quick example in here too: https://snack.expo.io/@bluebill1049/react-hook-form-input

[2019-12-22 17:09] Zik42 commented on #189
@bluebill1049  onSubmit returns value instead of checked anyway.

[2019-12-22 21:12] bluebill1049 commented on #189
@Zik42 it depends if you have a value attribute in the checkbox.

[2019-12-22 21:13] bluebill1049 commented on #692
going to close this issue now, feel free to ask more questions here or at spectrum 👍

[2019-12-22 21:13] #692 closed

[2019-12-22 21:43] mohammadhamrah commented on #691
@bluebill1049 sure, i will check that and give you feed back

[2019-12-23 06:49] #691 closed

[2019-12-23 23:46] KATT opened #698 "Inconsistent `watch()` behaviour on complex field names"
**Describe the bug**

When having default values with complex fields the initial `watch()`-call gives the default values rather than the flattened version.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-watch-issue-hbgwl
2. Observe _"Data from `watch()`:"_ below the Submit-button
3. Edit _Complex field_

**Codesandbox link**

https://codesandbo

[2019-12-23 23:50] bluebill1049 commented on #698
This is expected behaviour for V3 as it described in the Doc, however in V4 which will release soon will introduce `watch({ nest: true })` which produce nested object.

[2019-12-23 23:51] bluebill1049 commented on #698
V4: watchAPI: https://react-hook-form-website-git-v4.bluebill1049.now.sh/api/#watch

[2019-12-23 23:55] KATT commented on #698
@bluebill1049 I also tried calling it with `watch(undefined, defaultValues)` but it didn't flatten it either.

I finally got to this workaround --

[code]

But it ain't very intuitive.

[2019-12-24 00:02] KATT commented on #698
Actually this is what I landed on to get a consistent format of `Record<string, any>`

[code]

Got any nicer way? If the internal flatten method is exposed I could just call that rather than this mess

[2019-12-24 00:06] KATT commented on #698
Thanks for the insanely quick response. I'll wait for V4.

[2019-12-24 00:07] bluebill1049 commented on #698
actually @KATT you want to give a try on the RC version, then we can go from there:

`react-hook-form@4.0.0-rc3`

[2019-12-24 00:20] KATT commented on #698
Getting same results on V4 on first render when doing `{ nest: false}`

Another issue with complex default values is that I kinda have to use

[code]

With complex fields as it complains about missing field names when doing reffing of for instance `name="complex.field"`

[2019-12-24 00:21] KATT commented on #698
Here's a V4 sandbox with the same issue and using `nest: false`: https://codesandbox.io/s/react-hook-form-v4-watch-issue-y94oo

[2019-12-24 00:24] bluebill1049 commented on #698
set to `true`?

[2019-12-24 00:27] KATT commented on #698
Yeah, then it's consistent, but it's not what I want

[2019-12-24 00:27] bluebill1049 commented on #698
maybe i need to understand your issue better...

[2019-12-24 00:29] bluebill1049 commented on #698
what exactly you requirement here? I am a bit confused here. i thought you want the watch result to return nested object, which is what v4 nested offer. give me more context please.

[2019-12-24 00:54] #698 closed

[2019-12-24 00:54] KATT commented on #698
I can refactor my code to rely on `{ nested: true }`, that wasn't an option before V4.

A bit of background --

I'm using `react-hook-form` over formik in the first place because I have a form with > 100 inputs (a table of data you can bulk update).

In each row I have columns that need to be conditional based on others, i.e. a checkbox should display another input.

To achieve this I have a conte

[2019-12-24 01:02] bluebill1049 commented on #698
wouldn't it be more efficient to only watch those you want to reply on? instead of watch everything? (unless that's your requirement to watch everything)

[2019-12-24 01:05] KATT commented on #698
Yes. But using `useFormContext()` & calling `watch('x')` in each component was really slow, so I just store a big `values: Record<string, any>` in my local context instead; picking up a single value from a flat map is cheap.

[2019-12-24 01:05] KATT commented on #698
Also `watch` isn't a callback function so it triggers re-renders

[2019-12-24 01:06] bluebill1049 commented on #698
`getValues() is a callback function`

[2019-12-24 01:07] bluebill1049 commented on #698
it's much cheaper to run getValues than watch

[2019-12-24 01:20] KATT commented on #698
`getValues()` seem to be working good. I only get 2 renders per cell now on initial load now.

The `?? true` is still needed because the default value isn't propagated until after mounting (which somehow triggers a new render but get an initial glitch where it's falsy)

[code]

[2019-12-24 01:33] KATT commented on #698
Thank you!! It has acceptable perf now... still triggers unnecessary visit to the render as I use context in it, but I'll see what I can think of later this week to improve it further.

Merry xmas 🎅

[2019-12-24 01:35] bluebill1049 commented on #698
hey @KATT no worries. I would prefer without using FormContext for your senario, try to compose or pass down props instead Context if possible :)

Merry Xmas

[2019-12-24 01:57] KATT commented on #698
I'll see if I can make it more performant w/o context and report back

[2019-12-24 07:33] Deantsui opened #699 "Why always get a strange number when using the V4 version in ReactNative"
**Describe the question?**
Why always get a strange number when using the V4 version in ReactNative.
I used the ui-kitten component library, but I used got the same result using the ReactNative component.
**To Reproduce**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/10671142/71399840-f016dc00-265f-11ea-8f13-6e1a6ed9955d.png)
![image](https://user-images.githubusercont

[2019-12-24 08:19] violabg opened #700 "Warning: [antd: Switch] `value` is not validate prop, do you mean `checked`?"
When using Controller with and Switch, I'getting this warning:

[code]

Warning: [antd: Switch] `value` is not validate prop, do you mean `checked`?

in version 3 I resolved this with the type attribute of RHFInput, but is missing on the new Controller component.

[code]

[2019-12-24 08:27] bluebill1049 commented on #700
thanks i will sort this out :)

[2019-12-24 08:38] bluebill1049 commented on #699
[code]

can you show me what's in the console.log?

[2019-12-24 09:00] bluebill1049 commented on #700
@violabg did you provide a default value? that's how controller determine if it's an checkbox or value input.

[2019-12-24 09:01] bluebill1049 commented on #700
it's better to leave default value for controlled input.

[2019-12-24 09:06] bluebill1049 commented on #700
Test this out, i may introduce another prop: `defaultValue` then if you pass boolean and it will treat as checkbox

[2019-12-24 09:18] Deantsui commented on #699
@bluebill1049
[expo](https://snack.expo.io/rkWWvLJyU)
If it works on a real machine, there will be problems. You can go to EXPO to check
![image](https://user-images.githubusercontent.com/10671142/71405613-f2356680-2670-11ea-861f-dbccab0df052.png)

[2019-12-24 09:26] violabg commented on #700
I'm building the form dynamically, so I don't know in advance the type of fields.

[2019-12-24 09:26] bluebill1049 commented on #699
I think i under the issue, that's the exactly that example i posted on RHFInput readme page. RHF follow standard borrow event which result is e.target.value, however for native input the argument is different. I am waiting for expo's turn i will supply example soon.

[2019-12-24 09:32] bluebill1049 commented on #700
i see, what if i expose a defaultValue prop and you can populate with false, and Controller can detect its a checkbox?

[2019-12-24 09:38] violabg commented on #700
I can confirm that by setting the default property to boolean fixes the warning.

Do you mean expose a defaultValue prop on the  Controller component ?
I think that would be useful in many occasions, especially in dynamic generated forms, when the defaultValue on useForm(defaultValue) it's not known.

[2019-12-24 09:39] bluebill1049 commented on #699
try attach onChange like below:

[code]

[2019-12-24 09:41] bluebill1049 commented on #700
yes :) i will add the `defaultValue` will release a patch for it. (i think it's useful too)

[2019-12-24 09:45] bluebill1049 commented on #699
[code]

[2019-12-24 09:50] Deantsui commented on #699
thanks！

[2019-12-24 09:53] bluebill1049 commented on #699
no worries :) for React Native you will need to return the input data, cause most React Native input doesn't follow the web standard (e.target.value || e.target.checked). hence you have to attach your own onChange. hope these make sense :)

[2019-12-24 09:59] bluebill1049 commented on #699
i am closing this issue, feel free to ask more questions here too :)

[2019-12-24 09:59] #699 closed

[2019-12-24 09:59] bluebill1049 commented on #700
closing this issue, i will release the default value soon :) it's been merged already.

[2019-12-24 09:59] #700 closed

[2019-12-24 20:37] tafelito opened #703 "watch doesn't return all values"
**Describe the bug**
when doing this
[code]
only returns the shipping.save value

it does work doing
[code]
the problem with this is that it will re-render for any change on the form and there is no way to set up

or
[code]
the problem with this is that it will re-render multiple times

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-basic-8q5nr

**Expected behavior**
return both wat

[2019-12-24 22:59] bluebill1049 commented on #703
[code]
?

[2019-12-24 23:05] tafelito commented on #703
that works! thanks @bluebill1049

[2019-12-24 23:05] #703 closed

[2019-12-24 23:08] bluebill1049 commented on #703
nice! it is in the doc: https://react-hook-form.com/api/#watch

[2019-12-25 00:22] #704 closed

[2019-12-25 06:47] khanakia opened #706 "React Select is not selectable i cannot select any value"
**Describe the bug**
A clear and concise description of what the bug is.
When you select any value from REACT SELECT it does not shows the selected value on React Select.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hook-form.com/api#Controller
2. Click on Codesandbox
3. Scroll down to React Select
4. try to select any value from the dropdown you will not be able to se

[2019-12-25 07:41] bluebill1049 commented on #706
https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s see example in here, see if this example helps.

[2019-12-25 07:47] bluebill1049 commented on #706
thanks @khanakia for report this issue, i have updated the code example:
https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s

because react-select is not return standard onChange event, so we need to return the expected value, which is `{ value: selectedOption }`

https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s

[2019-12-25 07:48] bluebill1049 commented on #706
you can use the `onChange` prop: https://react-hook-form.com/api#Controller

[2019-12-25 07:53] khanakia commented on #706
Hi Bill,

That's working now. Also, the default value is not working for ReactSelect **and** also when i submit the data it returns the ReactSelect Object not the raw value.
Check example please
https://codesandbox.io/s/react-hook-form-rhfinput-00pm9

[2019-12-25 08:09] bluebill1049 commented on #706
`ReactSelect: { value: "vanilla", label: "Vanilla" }`

[2019-12-25 08:25] khanakia commented on #706
Ok, but how do i set the default value?
this is not working.
[code]

https://codesandbox.io/s/react-hook-form-rhfinput-00pm9

[2019-12-25 08:27] #706 closed

[2019-12-25 10:27] khanakia commented on #706
Hi ,
I am setting the defaultValue for REACT SELECT using
[code]
When i click the button it says FIELD REQUIRED.
Please check the sandbox link
https://codesandbox.io/s/react-hook-form-rhfinput-00pm9

[2019-12-25 12:46] KATT commented on #698
Hey @bluebill1049 , I still think there's a bug here or a consistent API --

Have a look at https://codesandbox.io/s/react-hook-form-v4-watch-issue-y94oo where I explicitly use `nest: false` on both `watch()` and on `getValues()`, I really do think the API should be consistent and return a flat object both on first render and on following render.

[2019-12-25 22:55] bluebill1049 opened #709 "🙏🏻Help more international developers ❤️"
## Help more international developers

Building good open-source software is important, however, the ultimate goal is always helping more developers around the world. Most of our users are non-English background and it's important to translate to their native language to help them understand better.

However, we need more help with other languages and also back up those solo translators:

- 🇦🇺 Eng

[2019-12-26 00:10] Samushel commented on #709
I'd like to help with Spanish.

[2019-12-26 00:16] bluebill1049 commented on #709
Thanks @Samushel That would be great amazing! Let me know if you need help on what to do. I did documented something on the readme file.

[2019-12-26 00:28] Samushel opened #710 "TypeError with FormState touched (nested objects)"
At the moment touched is handling the fields through an array of type `touched: FieldName<FormValues>[]` which saves property hierarchy with a string value using the types defined in useForm:

[code]

But trying to access `user.name` will return a typescript error because it doesn't exist on FormFields. I was doing this before 4.0:

[code]

And now I get this error:

[code]

[2019-12-26 01:08] bluebill1049 commented on #710
Can you please provide a codesandbox for this? easy for me to investigate and verify.

[2019-12-26 01:18] bluebill1049 commented on #710
https://codesandbox.io/s/small-haze-dxo22

[2019-12-26 01:26] bluebill1049 commented on #710
hmmm i think this issue on v3 as well.

[2019-12-26 01:36] bluebill1049 commented on #710
looks like we may have to convert it into object to have type support...

[2019-12-26 03:33] bluebill1049 commented on #710
ok let's move into object from 4.1.0 and onwards: https://codesandbox.io/s/small-haze-dxo22

[2019-12-26 03:34] #710 closed

[2019-12-26 07:35] bluebill1049 commented on #706
hey @khanakia use defaultValue instead of value, value gets controlled by the Controller

[2019-12-26 07:50] khanakia commented on #706
I cannot use defaultValue as i have a dynamic form so it does not update the value. I want to get the values via AJAX and then set it to form something like this.
Please check the sandbox again i just updated the code how do i want
https://codesandbox.io/s/react-hook-form-rhfinput-00pm9

[2019-12-26 07:55] bluebill1049 commented on #706
use setValue then

[2019-12-26 08:01] khanakia commented on #706
Thanks it worked :)

[2019-12-26 08:04] bluebill1049 commented on #706
I would recommend you to read through our documentation website, we have spend a lot of effort to make it available for everyone. https://react-hook-form.com/api

[2019-12-26 08:55] github0013 commented on #522
nativeValidation is actually removed in V4?

[2019-12-26 09:04] bluebill1049 commented on #522
yea removed in V4 @github0013 hardly anyone using it.

[2019-12-26 09:26] tanmen opened #712 "Can't set value nested attributes in typescript."
**Describe the bug**
Can't set value nested attributes in typescript.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create nest array or object form
2. setValue use in target nest property

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-set-inputselect-value-u4u2u

**Expected behavior**
[code]

**Screenshots**
If applicable, add screenshots to help explain your proble

[2019-12-26 09:26] opeah commented on #709
I'll help you in French

[2019-12-26 09:27] bluebill1049 commented on #709
That would be awesome! thank you @opeah

[2019-12-26 09:29] bluebill1049 commented on #712
thanks, @tanmen will look into this 👍

[2019-12-26 09:30] bluebill1049 commented on #712
can you provide a codesandbox?

[2019-12-26 09:31] opeah opened #713 "Cannot read property 'errors' of null when using FormContext"
I got an error 'Cannot read property 'errors' of null' when using FormContext

v4.1.0

<img width="570" alt="Capture d’écran 2019-12-26 à 10 30 30" src="https://user-images.githubusercontent.com/31569566/71469891-d1812400-27ca-11ea-9de7-4a57f76d1ff6.png">

<img width="510" alt="Capture d’écran 2019-12-26 à 10 30 50" src="https://user-images.githubusercontent.com/31569566/71469892-d2b25100-27ca-11e

[2019-12-26 09:32] tanmen commented on #712
ok, i try

[2019-12-26 09:32] bluebill1049 commented on #713
can you provide a codesandbox for this?

[2019-12-26 09:39] tanmen commented on #712
created :)
https://codesandbox.io/s/react-hook-form-set-inputselect-value-u4u2u

[2019-12-26 10:12] bluebill1049 commented on #712
hmmm looks like this is pretty much impossible with TS to support nested object.

methodA:
[code]

methodB:

basically we take `FieldName | string`

[2019-12-26 10:13] bluebill1049 commented on #712
we probably go with `methodB`

[2019-12-26 10:18] tanmen commented on #712
I think too..
so sad typescript... haha :(

methodB is this line?
[code]

[2019-12-26 10:19] bluebill1049 commented on #712
yes @tanmen

[2019-12-26 10:19] opeah commented on #713
Ok sorry the error comes from me, you can close the issue.

Thanks 👍

[2019-12-26 10:21] tanmen commented on #712
ok :)
thank you check this problem!
i like this lib. and so good correspondence.

[2019-12-26 10:26] bluebill1049 commented on #713
cool 👍

[2019-12-26 10:26] #713 closed

[2019-12-26 10:27] bluebill1049 commented on #712
no worries @tanmen i am very glad you like it, actually you want to submit a PR for this? get your name in the repo too ❤️

[2019-12-26 10:27] bluebill1049 commented on #712
we can close this issue with your contribution too :)

[2019-12-26 10:30] tanmen commented on #712
really?
I so happy!
I need try it :)

[2019-12-26 10:36] bluebill1049 commented on #712
👍

[2019-12-26 10:58] #712 closed

[2019-12-26 20:56] tafelito commented on #564
I have a similar requirement where  I need to compare 2 passwords to be the same.

What would be the problem accessing the getValues from the validate function?

[code]

If using Yup this can be done using [`when` ](https://github.com/jquense/yup#mixedwhenkeys-string--arraystring-builder-object--value-schema-schema-schema)

[2019-12-26 21:57] bluebill1049 commented on #564
@tafelito you are doing correctly :) using `getValues` is right 👍

[2019-12-26 22:45] chriscarrillo opened #716 "isValid unexpectedly evaluates to false when using nested objects"
**Bug Overview**
I have `dateOfBirth.month`, `dateOfBirth.day`, and `dateOfBirth.year`. The `register` options say all items are required. After completing the form, all fields have a value and `formState.touched` includes all items are touched, but `isValid` is `false`. If you look at the `errors` of the form, you can see an error for `dateOfBirth`.

**To Reproduce...**
1. Create a form with some

[2019-12-26 23:29] bluebill1049 commented on #716
react-hook-form@4.1.1-beta.1

fixed if you would like to verify

[2019-12-26 23:32] #716 closed

[2019-12-27 02:59] vuhg opened #719 "Allow to setValue without registering first"
Hi Bill,

Thank you for this awesome library!

I would like to request `setValue` without register first to dynamically set custom value to form's data. It would be great for form builder.

So i'm writing quiz maker function which construct a quizz dynamically like this:
[code]

If i need to set custom info like quiz's points, i have to register and setValue again.
Or i want to add quiz level to f

[2019-12-27 03:06] bluebill1049 commented on #719
hey @vuhg, thanks for the kind words. It is possible just register once

`register('quiz')`

and you can `setValue('quiz[0]', 'data')` see if that works.

[2019-12-27 03:17] vuhg commented on #719
Thank you for quick response.

That doesn't work.
`register('quiz')` overrides my default quiz and set quiz undefined instead of array[quiz].
incorrect behavior: `quiz: undefined`
correct behavior: `quiz: [{ default quiz object }]`

[2019-12-27 03:22] bluebill1049 commented on #719
what about this `register('quiz[0]')`?  will that make the input filed `registered` as array?

To be honest, i will try to get away with this `inject` concept for now.

[2019-12-27 03:31] vuhg commented on #719
`register` once and using `setValue` many times is great alternative.
But the current behavior is unexpected for me, or i don't understand correctly.

[code]

quiz is empty array instead of array of 3 (because i added 3 quizzes to test)

[2019-12-27 03:33] bluebill1049 commented on #719
what do you get by running this:

[code]

[2019-12-27 03:48] vuhg commented on #719
the result is `quiz: Array(0)`
actually, ```register(`quiz[${index}]`)``` will reset all the default quiz's values and return empty array

[code]

That would give me correct behavior and return 3 correct quizzes `quiz: Array(3)` but it doesn't inject the quiz's type that i want.

[2019-12-27 03:50] bluebill1049 commented on #719
maybe you could build a small utility function to do these.

[2019-12-27 04:12] vuhg commented on #719
yeah, thank you for taking time to answer.

i have 2 different direction now:
one is watch all inputs' changes and send them to `zustand`'s store
two is use nested form, send all children's changes to parent form.

[2019-12-27 04:12] #719 closed

[2019-12-27 04:13] bluebill1049 commented on #719
thanks for understanding @vuhg ❤️

[2019-12-27 04:16] dimaqq opened #721 "Question about initial values"
There's a complex edit form in my project, where I expect my user to edit only a few fields.
When form is submitted I only send the delta (fields changed by the user) to the server.

Current implementation uses `redux-form` and `initialValues` as a prop, that is, the UI polls the server and if some fields were changed (e.g. by another user) and were not touched (by this user), then they are update

[2019-12-27 04:23] bluebill1049 commented on #721
- if your default values is ready at the render, then you can use `defaultValues`
- if data come from server, then you can use `reset(values)`

[2019-12-27 04:33] JeromeDeLeon commented on #661
I'm having the same scenario when dealing with form fields array before, and I kinda did a lot of things like creating custom hook, adding react-fast-compare and such, but at the end, I gave up :laughing: and just used `use-deep-compare-effect`.

[2019-12-27 04:36] bluebill1049 commented on #661
@JeromeDeLeon thanks :) i do hesitate on introduce complexity to this simple lib. anyway it's on our to do list

[2019-12-27 04:37] JeromeDeLeon commented on #661
Welcome, that's why I didn't bother bringing it up before because I thought that although, it's not the right behavior, it can be solved by many packages like what I mentioned above or `immutable` package.

[2019-12-27 04:41] ahce opened #722 "Errors object doesn't work with yup in version 4"
**Describe the bug**
Errors object is always empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Open sandbox
2. Type text
3. Clear text
4. Check the console log

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-v4-errors-bug-ywth0

**Expected behavior**
https://codesandbox.io/s/react-hook-form-v3-errors-ok-7tbof

[2019-12-27 04:41] dimaqq commented on #721
`reset` doc says "resets values and errors".
In my case, I'd want to reset only some values, keep other values and keep the errors...
So, perhaps this is not it 🤔

I'll poke `defaultValues` via props and see what that can do...

[2019-12-27 04:57] bluebill1049 commented on #721
you can also use `setValue` if that's the case

[2019-12-27 05:09] bluebill1049 commented on #722
Thank you! i broke it...

[2019-12-27 05:48] #722 closed

[2019-12-27 05:51] bluebill1049 commented on #722
react-hook-form@4.2.1-beta.1 tested and it's working again

[2019-12-27 08:32] bluebill1049 commented on #721
closing this, feel free to ask more questions at our spectrum channel :)

[2019-12-27 08:32] #721 closed

[2019-12-27 11:19] redimongo opened #724 "Just tested out your demo code and got this"
unsure why the following code is causing an error like this. and yes I did install your plugin.

[code]

[2019-12-27 11:40] kusmierz opened #725 "FieldError's message property"
**Describe the bug**
I think there is a small issue in TS typings introduced somewhere in 4.x release. I can't read `.message` property on `errors`.

It applies only to `FieldErrors<any>`... `FieldErrors<FooBar>` with `type FooBar = { foobar: string; }` works as expected...

**To Reproduce**
Steps to reproduce the behavior:

try to use `message` property on FieldError:

[code]

**TS Play link**
ht

[2019-12-27 11:47] bluebill1049 commented on #725
can you provide a codesandbox for this issue?

[2019-12-27 11:47] bluebill1049 commented on #724
1. check your react version
2. do a codesandbox for this issue

[2019-12-27 11:48] #709 closed

[2019-12-27 11:56] bluebill1049 commented on #725
This is probably due to the nested errors object which introduced at v4

[2019-12-27 12:00] bluebill1049 commented on #725
tested: https://codesandbox.io/s/nostalgic-driscoll-p5ize-delete-p5ize type is working for me

[2019-12-27 12:28] kusmierz commented on #725
hey @bluebill1049, have a look at https://codesandbox.io/s/react-hook-form-typescript-n0e5l.

It works perfectly fine when strictly typed (as in your example `useForm<Form>`), but as I would like to have some "universal" wrapper, I have to use more generic `useFormContext()` (which is `useFormContext<Record<string, any>>()` in fact).

Similar issue can be found in your code as well, when we use `u

[2019-12-27 12:50] bluebill1049 commented on #725
I am confused here... show me an example of a "universal" wrapper. I believe what we have done here in v4 is correct if you are using TS.

[2019-12-27 13:16] kusmierz commented on #725
I wrote a `ControllerTextField` component which basically wraps around `<Controller as={<TextField {...props} /> />` (`TextField` is from `@material-ui/core`), but additionally uses yup's validation schema to add a `label` text, `required` flag and error text (as a `helperText`) from yup. In other words, I'd like to have fully featured MaterialUI's TextField component with yup integration.

I can

[2019-12-27 13:22] bluebill1049 commented on #725
Yes, it's intended action to have better Type support for `errors`, that's was also one of the most requested features to moving away from falt `errors` object (due to optional changing becoming more popular).

[2019-12-27 13:22] #725 closed

[2019-12-27 14:46] mnesarco commented on #598
Hi Guys, I have a similar issue, ref works with react-bootstrap if used like this:

`ref={register}
`

But if used with any option it does not and generates the same error:

`ref={register({required:true})}`

I understand that the suggested workaround (react-hook-form-input) works, but I lose much of the clarity and elegance provided by react-hook-form. I wonder why register works without options

[2019-12-27 15:00] chriscarrillo commented on #716
It looks like it's working! Thank you!

[2019-12-27 15:17] chriscarrillo opened #726 "Errors are not cleared for arrays"
**Bug Overview**
I have `referrals[0].name`, `referrals[0].email`, `referrals[1].name`, `referrals[1].email`, `referrals[2].name`, `referrals[2].email`. The fields with index `0` are the only required fields. After filling out the first name and email, I still get an error on the form and `isValid` is `false`.

**To Reproduce...**
Steps to reproduce the behavior:
1. Create a form with some inputs

[2019-12-27 16:29] cargallo commented on #721
I having similar issue. I'm using react-async. The problem is that useForm doesn't allow using it inside conditional rendering. So I tried using reset but it forces innecesary re-render. I think it could be an exported function called setDefaultValues allowing setting the defaultValues after useForm call, but not forcing a re-render like reset. Not sure if that's possible

[code]

[2019-12-27 17:21] thomascraig commented on #284
Hey @bluebill1049 I've encountered a similar issue with a child input used for file upload which is hidden, touched does not record the change unless I remove the hidden from input element.  Any other gotchas?

[2019-12-27 19:07] cargallo opened #728 "Error after migrating to v4: Property 'message' does not exist on type 'FieldErrors[]'"
**Describe the bug**
I upgraded to v4 the code below throws this error:

Property 'message' does not exist on type 'FieldError | FieldErrors<any> | FieldErrors<any>[]'.
  Property 'message' does not exist on type 'FieldErrors<any>[]'

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/13320290/71529261-cb6e6e80-28c2-11ea-969c-b987fe9637f7.png)

[2019-12-27 19:26] chriscarrillo commented on #728
I experienced something similar. The solution I found was the following:
[code]
The `get(...)` comes from [lodash](https://lodash.com/docs/4.17.15#get).

[2019-12-27 20:40] cargallo commented on #728
Ok, here is an update. You need to pass an interface of your form data to useForm, but it still giving me an error on Date field. Anyway I think the best thing would be to allow the use without forcing to set the interface in useForm and let the developer decide using it or not.

[code]

![image](https://user-images.githubusercontent.com/13320290/71531925-acc2a480-28cf-11ea-8c59-02e7da6152ee.png)

[2019-12-27 21:40] #724 closed

[2019-12-27 21:42] bluebill1049 commented on #721
@cargallo you can use setValue right?

[2019-12-27 21:50] bluebill1049 commented on #284
@thomascraig can you set a full codesandbox? are you using `setValue` API?

[2019-12-27 21:51] bluebill1049 commented on #716
@chriscarrillo thanks a lot for reporting the issue and verify.

[2019-12-27 21:52] bluebill1049 commented on #598
@mnesarco can you supply a codesandbox for this? i can take a look why.

[2019-12-27 21:58] bluebill1049 commented on #728
This looks like a double edge sword for me. I can either pick one side...  unless someone can show me how...

[2019-12-27 22:42] bluebill1049 commented on #728
May need your guys's help on this one: @stramel @barrymay

[2019-12-27 23:32] bluebill1049 commented on #726
https://codesandbox.io/s/react-hook-form-array-errors-fix-8ewfq

please reverify for me as well :)

4.2.2-beta.1

then we release the patch

[2019-12-27 23:34] cargallo commented on #728
I think this is possible I tried to follow the interfaces definition but not completly understanded them. Tomorrow will try again, if you have some documentation could be easier.

[2019-12-27 23:38] cargallo commented on #709
@bluebill1049 remember that I proposed few weeks ago to help translating docs to spanish, and I proposed another structure for the docs. We could coordinate with @Samushel to bring it faster. Nowdays I'm bussy cause end of year things but glad to help after that.

[2019-12-27 23:40] bluebill1049 commented on #709
FYI @cargallo thanks i did improve the structure

[2019-12-28 00:19] mnesarco commented on #598
Thank you @bluebill1049 for putting time into this, right now I am finishing a product and have no time to supply the codesandbox example this week. by the way, I used the <Controller> component and it worked very well without adding to much verbosity.

[code]

I will try to come back to this next week and provide the codesandbox.

Thank you for this great lib.

[2019-12-28 02:19] bluebill1049 commented on #726
i will release this patch and you can verify with that patch

[2019-12-28 02:19] #726 closed

[2019-12-28 03:11] Dru89 opened #730 "Controller can't use number validators"
**Describe the bug**
Number validators like `min` and `max` don't work when you're using a `<Controller />` to wrap a component.

**Codesandbox link**
https://codesandbox.io/s/amazing-lichterman-ocm5j

**Expected behavior**
`min` and `max` should still function properly whenever you're using `<Controller />` if the value is a number.

**Additional context**
It looks like the `min` and `max` valida

[2019-12-28 03:18] bluebill1049 commented on #730
i forgot to add this into the doc, `min` and `max` is not going to work with Controller. Use `validate` function instead. Doing number/date check is not small check. (i did similar thing before)

[2019-12-28 03:46] bluebill1049 commented on #730
Doc is updated :)

[2019-12-28 08:37] balupton commented on #456
So how do I get this working? `use watch` isn't that clear of instructions

Just ran into this trying to apply https://react-hook-form.com/faqs#Whatifyoudonthaveaccesstoref to my polaris application

[2019-12-28 08:37] bluebill1049 commented on #730
actually think twice, maybe we can do the following:

[2019-12-28 08:53] JeromeDeLeon commented on #456
@balupton , and @petercpwong , have you tried updating your react-hook-form and use `Controller`?

Here's an [example](https://codesandbox.io/embed/autumn-snowflake-hbhth?fontsize=14&hidenavigation=1&theme=dark)

[2019-12-28 08:55] JeromeDeLeon commented on #456
@balupton , I think that question needs an update because we now have `Controller` for that.

[2019-12-28 09:07] bluebill1049 commented on #456
thanks @JeromeDeLeon for answering this :)

[2019-12-28 09:09] JeromeDeLeon commented on #456
No worries :)

[2019-12-28 09:13] balupton commented on #456
Ok, got it going with watch. I will try with Controller after this batch is committed.

[2019-12-28 09:16] JeromeDeLeon commented on #456
You can't go wrong with either of the two because what you're doing is just want `Controller` is doing under the hood.

[2019-12-28 09:17] JeromeDeLeon commented on #456
Let us know your thoughts. We can re-open this one if this doesn't solve your issue.

[2019-12-28 09:21] #730 closed

[2019-12-28 10:58] vgandzyuck opened #732 "Using <Controller /> with react-select"
Hello, trying to use < Controller /> with [react-select](https://github.com/JedWatson/react-select)

![image](https://user-images.githubusercontent.com/22315319/71542626-b4d71e80-2979-11ea-8f81-aad4ee79addf.png)

This happens because react-select 'onChange' event returning result of onChange event (value) not event target. Could you please work around this?

[2019-12-28 10:59] bluebill1049 commented on #732
There is an example on the website: http://localhost:8000/api#Controller

[2019-12-28 11:04] vgandzyuck commented on #732
I was following this example, I can provide my source code

[2019-12-28 11:12] bluebill1049 commented on #732
Do a codesandbox

[2019-12-28 11:53] vgandzyuck commented on #732
Issue was resolved, thank you much

[2019-12-28 11:53] #732 closed

[2019-12-28 12:35] I-Lotus opened #733 "Custom message in native validation does not work"
**Describe the bug**
I try to use native html validation and I want to set custom message for required field. But I see the regular message of browser instead of mine. I have tried an exapmale from https://github.com/react-hook-form/react-hook-form/blob/master/examples/nativeValidation.tsx
and get the same. It does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Clic

[2019-12-28 12:37] bluebill1049 commented on #733
Native validation only working on v3, it's been removed on v4. If you switch your version to latest V3, then it should work.

[2019-12-28 12:39] I-Lotus commented on #733
I am using "react-hook-form": "^3.29.4"

[2019-12-28 12:40] bluebill1049 commented on #733
oh you want to supply a codesandbox?

[2019-12-28 12:48] I-Lotus commented on #733
@bluebill1049 Ok. I will prepare example on codesanbox how I do.

[2019-12-28 16:38] cargallo commented on #721
What I finally did was passing register and reset functions to loadData and calling them inside that function after fetching data but before the first rendering of if (data)... BTW I don't love this solution.

![image](https://user-images.githubusercontent.com/13320290/71546514-5197bd00-2976-11ea-8a17-881398be8a3f.png)

![image](https://user-images.githubusercontent.com/13320290/71546569-0d58ec80-

[2019-12-28 16:57] ayepRahman opened #734 "Is there an example using Controller with Antd Input"
Hi, loving the library so far. Recently with the new update using Controller component to wrap around Ui library and iam excited to try it out.

Face some issue not able to submit the form when using Controller with Antd input

[2019-12-28 18:58] mnesarco opened #735 "errors[name] with nested fields always returns undefined"
**Describe the bug**

if name is something like myprop[0], errors['myprop[0]'] returns undefined, so the validation message cannot be shown.

`<input name="chk[0]" ref={register({required:"This is required"})}  />`

in this case errors['chk[0]'] is undefined, but validation fails, so the form cannot be submitted and the error message cannot be displayed.

I have tried to provide a codesandbox but

[2019-12-28 20:01] mnesarco commented on #735
I have discovered that errors object contains nested fields in a nested object structure, so

Wrong approach:

`let err = errors[ 'prop[0].text' ]
`

Correct approach:

`let err = errors['prop'] && errors['prop'][0] && errors['prop'][0]['text']
`

So it means that this is by design and not a bug. It is very confusing anyway because the name specified in the input component is a string (name="prop[

[2019-12-28 21:06] VGLoic opened #736 "Controller component && onBlur validation: onBlur on React Select clears the value when triggered"
Hi :wave:

I'm using the validation mode `onBlur` in the `useForm` and using the `Select` of `react-select`. When the `onBlur` event is triggered, my previous set value vanishes for a falsy value.

Is it intentional? :)

If yes, any idea how to elegantly disable this behavior? And I saw that the `handleBlur` of the `Controller` is using a `setValue` with the value extracted from the value of the `

[2019-12-28 21:09] longilineo commented on #728
I had to cast errors[fieldname] as any

`errors[fieldname] as any)?.message`

[2019-12-28 21:29] bluebill1049 commented on #734
hey @ayepRahman can you share a codesandbox with this issue?

[2019-12-28 21:49] bluebill1049 commented on #736
That codesandbox is not working. can you please a codesandbox and follow our issue template.

[2019-12-28 21:50] bluebill1049 commented on #733
Did you manage to reproduce this in a codesandbox?

[2019-12-28 21:53] bluebill1049 commented on #735
hey @mnesarco

Previous version V3 we are using flat error object

Current V4 we are changing to nested error object. Will improve the doc to reflect that.

[2019-12-28 21:53] #735 closed

[2019-12-28 21:54] bluebill1049 commented on #728
any luck @cargallo ?

[2019-12-28 21:55] bluebill1049 commented on #735
also a tip you can use optional chaining, which is one of the reasons why we switch to nested.

[2019-12-28 22:16] mnesarco commented on #735
Hi @bluebill1049 thanks for the info. I cannot use optional chaining because I have written a custom error message component which receives the name ("aaa.bbb[0].xxx") and errors object as props and renders default messages based on type if no message is specified in the instance.

I have solved it using a variation of this: https://stackoverflow.com/a/22129960/1524027 to parse the string and extr

[2019-12-28 22:22] bluebill1049 commented on #735
@mnesarco i think we can improve ErrorMessage to help you tho @kotarella1110

[2019-12-28 22:22] bluebill1049 commented on #733
https://codesandbox.io/s/react-hook-form-native-validation-ez5ww

[2019-12-28 22:22] #733 closed

[2019-12-29 00:58] cargallo commented on #709
Hi @bluebill1049 here I am again 😄 Today I forked and started translating to spanish. I'm at 60% of the translation. @Samushel contact me if you want to help, to avoid overlaping the work in progress

[2019-12-29 00:58] bluebill1049 commented on #709
awesome thanks @cargallo

[2019-12-29 01:38] clehene opened #737 "Invalid form data every second submit when using wrapped form"
**Describe the bug**
When wrapping the form in a FC, every second submit is invalid.

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-get-started-fvcbo?fontsize=14&hidenavigation=1&theme=dark

E.g.

[code]

Here's the console log
[code]

[2019-12-29 04:19] bluebill1049 commented on #737
You should be using onchange mode. Instead of onsubmit which is default

[2019-12-29 04:36] nabc commented on #728
casting works, I did this:
[code]

[2019-12-29 05:01] bluebill1049 commented on #728
Hmmm i am feeling that V4 with nest errors (better TS support) at same time making your guy's life harder...

[2019-12-29 05:03] bluebill1049 commented on #728
If u guys have better solution to omit the type checking (as option), please feel free to submit PR.

[2019-12-29 06:36] bluebill1049 commented on #728
can some one provide a codesandbox with this issue? I could get it not crying about type if i don't supply type for useForm or `any`

[2019-12-29 07:49] Dru89 opened #738 "getValues() doesn't cause a re-render when the values change"
**Describe the bug**
`getValues()` doesn't cause a re-render when the values change.

Imagine a scenario where you have an input like `name`, and you want to be able to have some text that reads that field when it updates to say `"Hello, {name}"`. Because `useFormContext()` and `getValues()` don't trigger a re-render, you're currently forced to make sure you're capturing the state of the input bot

[2019-12-29 07:58] Dru89 opened #739 "When validateCriteriaMode is set to `all`, new errors aren't reported as long as the old ones are active"
**Describe the bug**
When validateCriteriaMode is set to `all`, new errors aren't reported as long as the old ones are active.

For instance, if you have an input that has two validation errors:
* One validation error if any of the characters in the input are uppercase.
* Another validation error if the input contains an `@`

And then you type `D` and blur the field to validate it, you'll correctl

[2019-12-29 08:53] bluebill1049 commented on #738
if you want re-render, you should use `watch` instead

[2019-12-29 09:05] #737 closed

[2019-12-29 09:06] Dru89 commented on #738
That makes sense. I’ll close this issue since there’s a solution.

[2019-12-29 09:06] #738 closed

[2019-12-29 09:20] bluebill1049 commented on #739
<img width="1021" alt="Screen Shot 2019-12-29 at 8 20 30 pm" src="https://user-images.githubusercontent.com/10513364/71554837-b20f2300-2a78-11ea-98f1-eb25fc698d23.png">

Can you do a console.log on the errors object?

[2019-12-29 09:21] bluebill1049 commented on #739
it's returning correct errors types

[2019-12-29 10:16] kusmierz opened #740 "<Controller>'s control prop should be optional (useFormContext)"
**Is your feature request related to a problem? Please describe.**
`<Controller>` component has to have `control` prop defined, even when using `<FormContext>`. Maybe it would be possible to use `const { control } = useFormContext()` in case there is no `control` prop directly passed?

**Describe the solution you'd like**
I'd love to don't repeat myself and use clean and clear `<Controller>` compo

[2019-12-29 10:30] #740 closed

[2019-12-29 10:31] kusmierz commented on #740
That was quick, thank you very much @bluebill1049!

[2019-12-29 10:31] bluebill1049 commented on #740
pleasure @kusmierz I am working on RHF, may as well as get this one in.

[2019-12-29 10:31] bluebill1049 commented on #740
should be on the next minor release.

[2019-12-29 15:29] VGLoic commented on #736
Sure, let me close this one and create a clear one! My bad :). Thanks for the quick answer!

[2019-12-29 15:29] #736 closed

[2019-12-29 15:30] VGLoic commented on #736
Closed due to bad format and bad codesandbox link

[2019-12-29 15:42] VGLoic opened #742 "Controller with React-Select and onBlur mode, onBlur event clears the value of the input"
**Describe the bug**
When using the `onBlur` mode for the `useForm` and a `react-select` input wrapped into a `Controller`, the trigger of the `onBlur` event clears the value of the input.

**To Reproduce**
Steps to reproduce the behavior:
1. In the codesandbox below, chose a value for the `react-select` input
2. Click somewhere else in order to trigger the `onBlur` event
3. Previously selected va

[2019-12-29 16:27] ayepRahman commented on #734
Hey @bill, found the issue. Controller works fine, Its the way ive nested my Form component as a child of both react apollo mutation and react-hook-form. Thats what causing the form to rerender hence the Form component rerender.