[2020-02-27 17:28] thurfir opened #1114 "Validation in sub-components"
Hi. To split a complex React + Redux component into smaller blocks and keep the validation working, I decided to create a root component, with a `<form>` + `const { register, handleSubmit } = useForm();` and to split the form's content into multiple sub-components. I'll then pass the `register` method to the sub-components to register my inputs.

This works if my sub-components are pure methods, h

[2020-02-27 20:24] bluebill1049 commented on #447
Thank you ❤️ @krnlde fixed already :) will release this weekend. you can try with the latest beta.

[2020-02-27 20:25] bluebill1049 commented on #1113
let's track in this ticket: https://github.com/react-hook-form/react-hook-form/issues/1097

[2020-02-27 20:25] #1113 closed

[2020-02-27 20:39] amickael commented on #1084
Can you please explain this? I'm having the same issue with input being blocked.

[2020-02-27 20:39] bluebill1049 commented on #1114
can you provide a simple codesandbox?

[2020-02-28 00:27] bluebill1049 commented on #1110
![Screen Shot 2020-02-28 at 11 27 02 am](https://user-images.githubusercontent.com/10513364/75499148-46681880-5a1d-11ea-9606-1ca03dbccf63.png)
added to our backlog

[2020-02-28 00:27] #1110 closed

[2020-02-28 05:35] bluebill1049 commented on #1097
sorted :) https://codesandbox.io/s/formstate-is-not-still-valid-after-removing-items-ewufu thanks a lot for your testing effort.

[2020-02-28 07:01] chriswang- opened #1115 "React-hook-form can not work well with uglify"
React-hook-form can not work well with uglify ...
It seems uglify can not find the ES5 version.
But others npm packages work well.

[2020-02-28 07:27] DisaPadla commented on #1097
looks good for me!

[2020-02-28 08:17] bluebill1049 commented on #1097
awesome! thanks for the verification.

[2020-02-28 08:18] #1097 closed

[2020-02-28 08:19] bluebill1049 commented on #1115
This is the first time we hear such issue. I don't think this is related to the lib itself rather than the build pipeline.

[2020-02-28 10:02] chriswang- commented on #1115
Sorry, Maybe  It is not a problem, I am new front-end,
I just switch the source code to :
import { useForm } from 'react-hook-form/dist/react-hook-form.ie11';

everything is ok now. But the import style is very strange compare to other libs. I dont known where is the matter that I am missing , Is it ok about this kinds of import ?

[2020-02-28 10:02] #1115 closed

[2020-02-28 10:04] bluebill1049 commented on #1115
that's correct.

[2020-02-28 10:18] alaindresse opened #1116 "numbers provided as strings in watch and getValues"
**Describe the bug**
Watched fields and fields returned by getValues do not have the types from FormData. When there is a validation with yup, the submitted values do have the right types.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form with a text and a number field. Include some simple yup validation scheme.
2. In the onSubmit, log the values submitted, the values extracted u

[2020-02-28 10:24] bluebill1049 commented on #1116
This is expected behaviour. Input value will be all get as `string` in react-hook-form.  we are not calling `valueAsNumber` in our code base to avoid `NaN` and other related issue.

[2020-02-28 10:27] antonbehaeghe opened #1117 "Set select value to first option"
Hey, I'm building a custom select component and I need to set the value to the first option on mount.
https://codesandbox.io/s/react-hook-fom-formcontext-rerender-scskb

When using a useEffect for this it causes an infinite loop because the options array updates every render. And the state change rerenders everything because it is in a FormContext.

How should I properly do this?

[2020-02-28 10:47] bluebill1049 commented on #1117
That's because your options are not `memo`, why not use Controller.

[2020-02-28 10:47] krnlde commented on #447
Works in `4.9.9-beta.3` 🎉 🎉 🎉 You're the fastest man on github :P

[2020-02-28 10:49] bluebill1049 commented on #1117
Also general questions please consider asking in our spectrum channel.

[2020-02-28 10:50] bluebill1049 commented on #447
lol not really @krnlde i had the fix in beta just haven't released the fix. that's why.

[2020-02-28 10:53] antonbehaeghe commented on #1117
I'm sorry if this isn't the correct platform for questions, I will move this to Spectrum then :)

[2020-02-28 10:53] #1117 closed

[2020-02-28 10:53] krnlde commented on #447
...so you fix issues before they are posted :P That's lightning-fast!

[2020-02-28 11:06] bluebill1049 commented on #1117
thanks @antonbehaeghe here is more for issues/bugs.

[2020-02-28 11:57] gongallego opened #1118 "Error Validation Message Not Running well with Controller rules"
**Describe the bug**
I want to validate a TextInput with a Controller and a function, the error happens but the message is "" so I can't display it in my app.

**To Reproduce**
A Valid CIF is: F3914998D
https://snack.expo.io/@gongalo/controllerinputrole

**Expected behavior**
I want to see a message that describes the validation error,

**Smartphone:**
 - Android 7.0

[2020-02-28 11:59] bluebill1049 commented on #1118
please read the documentation on `validate` function under the `register`.

https://react-hook-form.com/api#register

[2020-02-28 12:02] gongallego commented on #1118
But this is for an Input, not for a Controller, the Controller needs to be registered too?

[2020-02-28 12:04] bluebill1049 commented on #1118
no.

[code]

[2020-02-28 12:06] #1118 closed

[2020-02-28 12:06] gongallego commented on #1118
Yes, but the error message is = "" instead of "Error en el CIF"

[2020-02-28 12:07] bluebill1049 commented on #1118
<img width="1038" alt="Screen Shot 2020-02-28 at 11 07 14 pm" src="https://user-images.githubusercontent.com/10513364/75547477-118cad80-5a7f-11ea-9c57-e7507886082e.png">

please consider ask questions at our spectrum channel, issues for report bugs/issues

[2020-02-28 13:59] lazyd3v opened #1119 "formState.isValid is always true"
**Describe the bug**
`formState.isValid` is not being updated on field change if mode='onChange', Context, Controller and custom onChange event handler are used. If I remove custom onChange from Controller and pass onChange directly in the input, everything works fine

**Codesandbox link**
 https://codesandbox.io/s/xenodochial-silence-wy7p3

**Expected behavior**
When input value is changed from `

[2020-02-28 14:03] PedroLamas opened #1120 "State is not maintained on Wizard Form/Funnel back navigation"
**Describe the bug**
When using the recommended approach for [Wizard Form/Funnel](https://react-hook-form.com/advanced-usage#WizardFormFunnel), I can see that state is only updated when we move forward, but it is not maintained on back navigation as it would be with controlled components.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/form-wizard-pages-kkg7m
2

[2020-02-28 21:36] bluebill1049 commented on #1120
i couldn't reproduce what you mentioned above with chrome, can you try under chrome and see if we can isolate the issue.

[2020-02-28 21:43] bluebill1049 commented on #1120
By the way, global state is holding inside little-state-machine, with controlled component you will need global state lib as well :)

[2020-02-28 21:43] PedroLamas commented on #1120
Confirmed, had the same issue on both Chrome desktop and Android phone just a few moments ago.

I can reproduce consistently the issue! 😕

[2020-02-28 21:45] PedroLamas commented on #1120
The main issue here is that global state is only updated when data is validated correctly and then submitted, but if we navigate back, no event is raised so data is just lost.

[2020-02-28 21:47] bluebill1049 commented on #1120
oh wait, you didn't submit the form?

[2020-02-28 21:48] bluebill1049 commented on #1120
if you want such behavior then that's a usage problem then, you probably want to attach onChagne and update store each change.

[2020-02-28 21:48] bluebill1049 commented on #1120
you want to leverage from this API: https://react-hook-form.com/api#getValues

[2020-02-28 21:49] #1114 closed

[2020-02-28 21:49] bluebill1049 commented on #1114
will reopen once CSB supplied

[2020-02-28 21:54] PedroLamas commented on #1120
Fair enough! I kind of expected that and just wanted to ensure I didn't miss anything!

Thank you for your help and your work on this project! 🙂

[2020-02-28 21:54] bluebill1049 commented on #1116
going to close this issue, feel free to follow up with more questions.

[2020-02-28 21:54] #1116 closed

[2020-02-28 21:55] bluebill1049 commented on #1120
my pleasure @PedroLamas 👍 going to close this issue, feel free to follow up more questions at our spectrum channel.

[2020-02-28 21:55] #1120 closed

[2020-02-28 21:57] bluebill1049 commented on #1119
found issue:
[code]
make sure you return string instead of array. 👍

[2020-02-28 21:57] #1119 closed

[2020-02-29 00:38] wrporter opened #1121 "Controlled components do not get auto-focused on submit"
**Describe the bug**
When using uncontrolled components, `handleSubmit` focuses the first invalid field in the form. Example screenshot:

![uncontrolled](https://user-images.githubusercontent.com/2702937/75596804-5993dc00-5a4f-11ea-88e9-f2fafd9b2c02.gif)

However, for controlled components using `<Controller>` the fields do not get focused. Example screenshot:

![controlled](https://user-images.gi

[2020-02-29 01:38] ayepRahman opened #1122 "Handle onFormSubmit outside form component"
Hi there, is there a way to handle form submission which button is outside the form component?

[2020-02-29 02:14] xiaoyu-tamu commented on #1122
You should try to search issues first...

[2020-02-29 02:17] xiaoyu-tamu commented on #1121
![image](https://user-images.githubusercontent.com/33362998/75599109-1ba2b200-5a67-11ea-8651-d603458e53bb.png)

Read the doc

[2020-02-29 04:08] #1121 closed

[2020-02-29 04:09] bluebill1049 commented on #1121
Thank you @xiaoyu-tamu

[2020-02-29 04:14] nari0shota opened #1123 "useFieldArray doesn't remove radio button correctly"
I'm using useFieldArray to render radio buttons. It needs double click to remove radio button. I can't figure out how to remove radio button by single click.

Is there something wrong with my code?

**To Reproduce**
Steps to reproduce the behavior:
1. Open Codesandbox link
2. Click Delete Button(any button is ok)
3. Radio button is removed
4. Click Delete Button again (any button is ok)
5. Radio b

[2020-02-29 05:24] bluebill1049 commented on #1122
Please consider ask general question at our spectrum channel. Similar question is been asked multiple times.

handlesubmit returns a callback, so just have to invoke it

handleSumbit()()

[2020-02-29 05:24] #1122 closed

[2020-02-29 06:59] bluebill1049 commented on #1122
i will update the doc to reflect this as well, so we can avoid this get questioned as well 👍

[2020-02-29 07:06] bluebill1049 commented on #1122
<img width="852" alt="Screen Shot 2020-02-29 at 6 05 43 pm" src="https://user-images.githubusercontent.com/10513364/75602953-22403080-5b1e-11ea-906e-6f0a995e8bdb.png">

let me know if this explains better.

[2020-02-29 08:03] bluebill1049 commented on #1107
<img width="836" alt="Screen Shot 2020-02-29 at 7 02 48 pm" src="https://user-images.githubusercontent.com/10513364/75603805-1b1d2080-5b26-11ea-9ce5-39c685677292.png">

[code]

Couldn't reproduce the issue above. closing

[2020-02-29 08:03] #1107 closed

[2020-02-29 08:03] bluebill1049 commented on #1107
if anyone having similar issue let me know.

[2020-02-29 10:54] bluebill1049 commented on #1123
Thanks for report this issue: https://codesandbox.io/s/react-hook-form-usefieldarray-r8vbh

[2020-02-29 11:02] #1123 closed

[2020-03-01 00:12] tommedema opened #1125 "Change in default values does not trigger validation"
**Describe the bug**
I've described this in-context here:
https://app.usebubbles.com/74a31da3-c24d-4924-aec6-5912c22f42da

**Desktop (please complete the following information):**
https://www.whatsmybrowser.org/b/VJUHP

[2020-03-01 00:13] bluebill1049 commented on #1125
pelase use `reset()`

[2020-03-01 00:29] tommedema commented on #1125
@bluebill1049 I don't understand. Where to call reset?

[2020-03-01 00:32] bluebill1049 commented on #1125
can you provide a simple codesandbox for reproducing your issue?

[2020-03-01 00:33] tommedema commented on #1125
That'd take me a lot of time. Did you see my bubbles link? Everything should be there. If that's really not enough I'll need to make time to reproduce this in a codesandbox.

You can also comment in-context at https://app.usebubbles.com/74a31da3-c24d-4924-aec6-5912c22f42da

[2020-03-01 00:38] bluebill1049 commented on #1125
I am taking a closer look at it now.

[2020-03-01 00:39] bluebill1049 commented on #1125
two things form my observation without been be able to have a play with the code:

1. what's the reason mixed-use `defaultValues` with `defaultValue`?
2. minor: `watch` provides defaultValue as the second argument.

[2020-03-01 00:45] tommedema commented on #1125
1. I experienced bugs when I only provided it once; but I will test this again
2. I experienced bugs when I used watch's second argument; I'd have to test this again

re your question: they're two separate forms, they're independent except that when the first form is submitted it'll cause the second form's defaultName prop to be changed and therefore it should re-render with the new default name

[2020-03-01 00:48] bluebill1049 commented on #1125
can you try the following?

[code]

[2020-03-01 00:55] tommedema commented on #1125
Hmm, that seems to be causing all kinds of side effects. You're right that this is probably not easily fixed.

I'll create a new issue when I've found the time to create a codesandbox. Thanks for your help so far

[2020-03-01 00:55] #1125 closed

[2020-03-01 01:02] bluebill1049 commented on #1125
I am looking forward for the issue with codesandbox as I am pretty sure we can find an easy solution for this.

[2020-03-01 07:06] zipzit opened #1126 "Problem with Error Display demo (can't style error message)"
**Describe the bug**
I'm unable to see any errors on the error display demo.  The actual errors display as black colored font on black background.  Not totally helpful in that form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-hook-form.com/api/#errors
2. Click on Tab "First Error Detected"
3. Then Click on Pink Box "CodesAndBox"
4. That takes you to https://codesandbo

[2020-03-01 07:12] bluebill1049 commented on #1126
Thanks a lot for report this issue. https://codesandbox.io/s/nrr4n9p8n4 apologize for the codesandbox that wasn't updated.

[2020-03-01 07:25] zipzit commented on #1126
Whoa..  That was quick.  I figured out where I wanted to go... thought I'd share my test code here, for anybody else stuck.

    <div className="form-group col-md-6">
        <label htmlFor="password">Password</label>
        <input
            type="password"
            placeholder="Password"
            className="form-control"
            name="password"
            id="password"
            r

[2020-03-01 07:30] #1126 closed

[2020-03-01 07:58] bluebill1049 commented on #1126
no worries. good luck with your react learning :)

[2020-03-01 09:52] lazyd3v commented on #1119
Aha, okay, thanks! I thought arguments in Controller's onChange doesn't wrap arguments in additional array. For example, if MyInput called onChange like `onChange({ value: 'foo' }, { bar: 'baz'})`, Controller's onChange would receive `{ value: 'foo' }` as first argument and `{ bar: 'baz' }` as second, but now onChange receives these arguments wrapped in array, so array destructuring `([ value ]) =

[2020-03-01 09:55] lazyd3v commented on #1119
From my point of view, it would be much nicer to pass arguments as arguments, without wrapping them into array, but it will break compatibility with older versions. So that's why I suggest to add documentation regarding this

[2020-03-01 10:01] bluebill1049 commented on #1119
That's was a mistake that I did in v4, which should have passed `arguments`. I wouldn't change this for v4 consider it's a breaking change, let's leave it to v5.

[2020-03-01 10:03] bluebill1049 commented on #1119
also FYI for `arguments`, you will still need to use it as arguments[0]

[2020-03-02 10:39] rlaffers opened #1131 "validationContext option breaks validation"
**Describe the bug**
When useForm is used with the validationResolver option, and the identity of the resolver function changes, validation will break. Fields are no longer validated. When I hit Submit button, the resolver receives empty data object. In case of onBlur mode, on loss of focus the resolver is not called at all.
The same behavior is manifested when a fresh validationContext object is

[2020-03-02 11:05] Rodrigo816 commented on #1107
Its weird, I tested the your code on my friend pc and still renders two times.
I don't get what could be causing this.

[2020-03-02 11:07] bluebill1049 commented on #1107
very strange, I spend quite a bit of m time try to reproduce such behavior but couldn't.

[2020-03-02 11:10] bluebill1049 commented on #1131
This should patch this issue: https://codesandbox.io/s/react-hook-form-validationresolver-cq2rh

[2020-03-02 11:12] Rodrigo816 commented on #1107
you used expo right?

[2020-03-02 11:12] bluebill1049 commented on #1107
yes i did

[2020-03-02 11:52] rlaffers commented on #1131
Thanks for you reply. Indeed, when the validationResolver is memoized (its identity does not change in between renders, the issue does not exist). However, your suggested change does not fix the actual problem.
Having the validationResolver change its identity in between renders is a valid use case I think. Let me provide some background. In my case, I need to access some additional data in my val

[2020-03-02 12:10] bluebill1049 commented on #1131
can you use validationContext?

[2020-03-02 12:29] rlaffers commented on #1131
Yes, I looked at it but it bypasses the actual issue which I reported. In your codesandbox, there is only a single validationResolver function:
[code]
When I changed it so that there is a different validationResolver on each render, it fails:
[code]
https://codesandbox.io/s/react-hook-form-validationresolver-tiyde

[2020-03-02 12:32] bluebill1049 commented on #1131
what's the use case for different `validationResolver` for a single form? FYI: we are not supporting that type of usage at the moment.

[2020-03-02 12:37] rlaffers commented on #1131
For the use case: please see my first comment. The resolver may need access to additional data (aside from what is passed to it as arguments). The documentation does not seem to mention this limitation (only one validationResolver per component), therefore I reported it. IMO, it is needlessly limiting and breaks user expectations silently. Thanks for your efforts though, great lib.

[2020-03-02 12:39] bluebill1049 commented on #1131
The reason why I introduced `validationContext`, the lib itself cache validationResolver. Will `validationContext` solve your problem? if so I will update the doc to reflect the caching mechanism on the website.

[2020-03-02 13:14] rlaffers commented on #1131
I see your point. Passing those data with validationContext would solve my problem if validationContext was not memoized inside the hook.
Please see:
https://codesandbox.io/s/react-hook-form-validationresolver-640tr

The hook memoizes the context object from the first render. What I would need during validation is access to the context object passed to useForm function during the most recent rende

[2020-03-02 14:29] mstanielewicz opened #1133 "Pass form control object to submit function"
The problem I'm having is that currently we pass only form values and event to submit callback. Because of that we have to create a redundant function in form scope that do something like this:
[code]

So we have to manually pass the form control to our submit callback that could be defined in other scope. We obviously can do some logic in submit that requires form functions and state to be availa

[2020-03-02 16:31] rlaffers commented on #1131
To solve my use case, I did roughly this:
[code]
I..e. mutation of the memoized context object created during the first render of the component. While this may not be the best practice (mutated objects!), it works for me (until perhaps change is made to the hook to prevent memoizing the passed validationContext).

[2020-03-02 17:10] kiansenggoh opened #1134 "setValue did not clear data"
Hi
facing an issue on clearing of data using setValue.
Please use this sandbox as a demo.
https://codesandbox.io/s/bitter-platform-ljngi?fontsize=14&hidenavigation=1&theme=dark

steps to reproduce,

1. click "clear button"
2. expected: lastname, firstname, mobilenumber data are cleared.
3. click on developer No
4. expected: email field appear
5. click on developer Yes
6. expected: firstname, lastn

[2020-03-02 17:15] kiansenggoh opened #1135 "when toggle between fields, data was set wrongly"
Hi
When i toggle to show different fields, one of the field was populated with wrong data,
Please use this sandbox to reproduce the error.
https://codesandbox.io/s/heuristic-heyrovsky-y3tp1?fontsize=14&hidenavigation=1&theme=dark

step to reproduce

1. click Developer No,
2. Expected: email field appear with empty value. but it was populated with "defaultValues lastname"

[2020-03-02 20:13] andre-a2net opened #1136 "React-Select losing value on screen"
Hi,
I've tried the exemple below, but beside the submit value its ok, on the page, the Select doesn't show the current selected value.

https://react-hook-form.com/api#Controller

[2020-03-02 20:21] jdoklovic opened #1137 "Example/Documentation for using async validation with Controller"
I have a MUI-based component that I need to use with <Controller />. I also need to use a custom async validator with this component.

currently I can't seem to put the bits together to figure out how to define the custom validator for this.

Any docs/examples would be helpful

[2020-03-02 20:43] bluebill1049 commented on #1136
https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s
you refer to this?

[2020-03-02 20:45] bluebill1049 commented on #1133
what's the use case? also, can you create a CSB for this? i am not sure i am following 100% in this scenario.

[2020-03-02 20:47] bluebill1049 commented on #1134
use reset if you want to reset the default value as well. RHF is based on uncontrolled.

https://react-hook-form.com/api#reset

[2020-03-02 20:48] bluebill1049 commented on #1135
duplicated: https://github.com/react-hook-form/react-hook-form/issues/1134

[2020-03-02 20:48] #1135 closed

[2020-03-02 20:49] bluebill1049 commented on #1137
`validate` function?
<img width="874" alt="Screen Shot 2020-03-03 at 7 49 18 am" src="https://user-images.githubusercontent.com/10513364/75716543-8122c700-5d23-11ea-941b-d7ed45e98860.png">

you can pass that to rules props under controller.

[2020-03-02 21:06] andre-a2net commented on #1136
Yes, but I can't find the problem with the code extracted from your example:

https://codesandbox.io/s/amazing-aryabhata-3j3m8?fontsize=14&hidenavigation=1&theme=dark

[2020-03-02 21:52] fabiodcorreia opened #1138 "OnChange handler for Checkbox"
I'm using React Semantic UI and I found that for the checkbox the normal return {value: data.value} doesn't work.
I'm not sure if this only happens for React Semantic UI but anyway since I didn't found anything on the documentation regarding this point I will let the solution that I found. So that it can be added to the documentations
[code]

[2020-03-02 22:49] kiansenggoh commented on #1134
Reset will also reset the formstate. Which I need the dirty status.

[2020-03-03 00:00] bluebill1049 commented on #1134
using `useEffect` to clear the value?

[2020-03-03 00:20] kiansenggoh commented on #1134
Using useEffect seem like a backdoor to fix this. Is this because the component is been re-render thus setValue is not take effect?

[2020-03-03 00:21] bluebill1049 commented on #1136
https://codesandbox.io/s/zealous-haze-7h5c7

[2020-03-03 00:21] bluebill1049 commented on #1136
looks like react-select changed their api.

[2020-03-03 00:21] #1136 closed

[2020-03-03 00:22] bluebill1049 commented on #1134
because react hook form is embraced uncontrolled inputs, so when the component gets re-mount their default value will get injected. unless you can make them invisible.

[2020-03-03 00:24] bluebill1049 commented on #1131
I will update the doc on this part:

**validationResolver**: will be cached inside react-hook-form, because you want to cache the validation rules instead change during render, same as validation schema.

**validationContext**: is not cached and you can change then as your component gets re-rendered.

let me know if above makes sense.

[2020-03-03 00:51] castiglionipaolo commented on #137
Hi @bluebill1049,

i tried the same exercise using controlled component (Controller and material UI textfield ) but it does not work. // the password do not match as password is undefined

here the example:
https://codesandbox.io/s/react-hook-form-password-match-check-controller-validation-sky3v

is it a bug or a missing feature or am I doing something wrong?
Thanks,
Paolo

[2020-03-03 00:53] bluebill1049 commented on #137
hi @castiglionipaolo can you fix your codesandbox first?

[2020-03-03 01:15] allicanseenow commented on #72
@bluebill1049 Should we allow devs to control whether to control `dirty` when we call `setValue`?
The purpose of "dirty" is mainly to check if user has entered a new value to a field or not, not to check if devs programmatically change that value, imo.

Let's say in the use case I fetch data from a server, and then I set that data as the default value of a field. In this case, `defaultValue` doesn

[2020-03-03 01:18] bluebill1049 commented on #72
can you use `reset({})`?

[2020-03-03 01:35] castiglionipaolo commented on #137
sure.

[2020-03-03 02:04] andre-a2net commented on #1136
Perfect. It's working now!!! Thank you.

[2020-03-03 02:14] allicanseenow commented on #72
Thanks for the response. However, I think `reset` will clear the value of all fields, which is not my intention. Besides, even if I can still retain the value of each field after calling `reset`, `formState.dirty` will still have its value transitioning from 'false' -> 'true' -> 'false'. This might cause some strange behaviors on UX if I rely on `dirty` to show or hide other components.

[2020-03-03 02:27] bluebill1049 commented on #72
i believe you can `reset({ mutlipleValues })` // you can use getValues and reset the value plus the new value. in terms of reset `dirty` value maybe we can introduce second args specific for reset particular `formState`

[2020-03-03 02:37] bluebill1049 commented on #72
also maybe consider this to be leave outside of hook form, useState probably is better to deal with that.

[2020-03-03 03:00] allicanseenow commented on #72
I tried to use `reset` but it doesn't seem to work with a TextField Select from MUI, which `setValue` seems to work with. This is the sample of my code:
[code]
`setValue` works if I set `defaultValue` as an empty string instead of skipping it. However, `reset` doesn't work with it. It does work with other uncontrolled fields though.

[2020-03-03 03:25] bluebill1049 commented on #72
can you try to set a defaultValue at useForm level for reset() with controller?

https://react-hook-form.com/api#reset

[2020-03-03 03:55] allicanseenow commented on #72
I got the same result. There are 2 types of input components from MUI I use, which are `<TextField/>` and `<TextField select/>`. I have tried setting the `defaultValue` at the component level (<TextField defaultValue={}/>), at useForm and no `defaultValue`. The behavior is:

- It works normally for all use cases with normal <TextField/>
- defaultValues (set at either component level or useForm) wo

[2020-03-03 04:05] bluebill1049 commented on #72
can you send a codesandbox on the one?

[2020-03-03 07:47] #1134 closed

[2020-03-03 07:49] bluebill1049 commented on #1134
maybe this PR will be useful in your use case: https://github.com/react-hook-form/react-hook-form/pull/1139

[2020-03-03 07:50] bluebill1049 commented on #72
@allicanseenow maybe this feature will be useful to your issue: https://github.com/react-hook-form/react-hook-form/pull/1139

[2020-03-03 09:15] kotarella1110 commented on #1131
related https://github.com/react-hook-form/react-hook-form-website/issues/192

[2020-03-03 09:22] frank-martinez-27 commented on #56
I have a react app that needed to support IE11 and also had the issue with the Proxy, this is how I got it to work. I did `npm install --save proxy-polyfill` and on my app.js file I added `import 'proxy-polyfill/proxy.min.js';` at the top and then this function
[code]
Hope this helps someone in the future.

[2020-03-03 09:22] frank-martinez-27 commented on #433
I have a react app that needed to support IE11 and also had the issue with the Proxy, this is how I got it to work. I did `npm install --save proxy-polyfill` and on my app.js file I added `import 'proxy-polyfill/proxy.min.js';` at the top and then this function
[code]
Hope this helps someone in the future.

[2020-03-03 09:39] kiansenggoh commented on #1134
We will appreciate this change!!!

[2020-03-03 11:10] Amtron opened #1140 "useFieldArray remove method deletes checked radio input values"
Im currently using useFieldArray to render an array of field sets which include checkbox and radio inputs. When I try to delete the field set using the 'remove(index)' method provided by useFieldArray the field set is correctly removed but all of the remaining  field set checkbox and radio inputs become unchecked.

I've updated to the latest release tonight which did fix another remove issue I was

[2020-03-03 11:12] bluebill1049 commented on #1140
provide a simple CSB plz.

[2020-03-03 11:27] maciejmyslinski opened #1141 "getValues() returns an empty object after reset"
**Describe the bug**
`getValues()` returns an empty object after reset instead of `defaultValues`. In contrast, `watch()` returns proper values. Looks that it is broken since `4.8.3-beta.1` (`4.8.2` works properly).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-rhfinput-cv427
2. Click on `Reset form`.
4. See the console. The first object shows

[2020-03-03 11:33] maciejmyslinski opened #1142 "validationResolver breaks the form"
**Describe the bug**
validationResolver breaks the form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-validationresolver-zrmy0
2. Type something in the form
4. See the console. Only the first you typed is logged.

**Codesandbox link**
validationResolver breaks the form

**Expected behavior**
Every change to the input should be logged to the co

[2020-03-03 11:35] bluebill1049 commented on #1142
this is not `onChange` mode.

[2020-03-03 11:38] bluebill1049 commented on #1142
This issue is due to `validationContext`, it's been fixed and will be released with the patch soon: https://github.com/react-hook-form/react-hook-form/commit/71025f96ddf616518467bf740b322541612e81ae

[2020-03-03 11:39] bluebill1049 commented on #1142
thanks for raising this issue.

[2020-03-03 11:39] #1142 closed

[2020-03-03 11:39] maciejmyslinski opened #1143 "Documentation: a11y example encourages a bad practice"
**Describe the bug**
[A11y documentation](https://react-hook-form.com/advanced-usage#AccessibilityA11y) example recommends not rendering an error element unless the error is in form state. That's unfortunate because the error element is referenced by `aria-describedby` attribute. That might result in an error, see https://www.hawaii.edu/access/2019/04/17/3-aria-describedby-has-incorrect-id-referen

[2020-03-03 11:41] bluebill1049 commented on #1143
you want to submit an RP for the fix?

[2020-03-03 11:43] bluebill1049 commented on #1142
https://codesandbox.io/s/react-hook-form-validationresolver-cq2rh

[2020-03-03 11:53] bluebill1049 commented on #1141
Reference: https://github.com/react-hook-form/react-hook-form/issues/967 why it's broken. Will investigate for a solution.

[2020-03-03 16:07] mstanielewicz commented on #1133
In my current project we created submission functions that are defined separately and get all required things by dependency injection. Those function can do a lot of things, for example modify form data, set backend errors.

It basically looks like this:
[code]
Thanks to that we can nicely test the submit functions, by passing mocked injections.

It would be much easier is handleSubmit, that wraps

[2020-03-03 16:52] matheusffatg opened #1144 "useFieldArray: Unable to call remove and append/insert on the same event handler"
**Describe the bug**
When calling remove and append, the expected behaviour would be that one item is removed and one item is appended, but the result is that the removed item is still in the list.
Also when calling remove and insert it throws an exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-qkpif
2. Click on "replace"

[2020-03-03 20:10] bluebill1049 commented on #1133
is `bind` an alternative option instead of changing the simple API?

[2020-03-03 20:23] #1137 closed

[2020-03-03 21:36] allicanseenow commented on #72
Oh, thanks for the quick work. I will check that out soon.

[2020-03-03 22:29] Amtron commented on #1140
https://codesandbox.io/s/react-hook-form-usefieldarray-ii47o
1) On page load click "submit"
In the console you will see variations with an array of options which have values

2) delete the colour field at the top
In console you should see that the data object is now empty.

3) click submit again
The data object now has the remaining variation and it's value

[2020-03-03 23:15] kiansenggoh commented on #1134
Hi i pulled the beta version, ("react-hook-form": "^4.10.2-beta.1",)
but the definition only allow one input.
![image](https://user-images.githubusercontent.com/56799988/75828849-be508d00-5de7-11ea-82c0-a6fede0b12b3.png)

[2020-03-03 23:18] bluebill1049 commented on #1134
I have't released any beta version just yet, i will info you when i do

[2020-03-03 23:19] bluebill1049 commented on #1134
keep an eye on that PR

[2020-03-03 23:30] kiansenggoh commented on #1134
okok thank you.

[2020-03-04 00:31] bluebill1049 commented on #1141
verified not breaking #967 https://codesandbox.io/s/react-hook-form482-usefieldarray-z7lok
and fix this issue: https://codesandbox.io/s/react-hook-form-rhfinput-ripgg

[2020-03-04 00:40] #1141 closed

[2020-03-04 01:03] bluebill1049 commented on #1140
you calling `getValues` during `remove()` while the DOM is not been updated. Take a look my example below.

https://codesandbox.io/s/react-hook-form-usefieldarray-ii47o

[2020-03-04 01:03] #1140 closed

[2020-03-04 01:22] Amtron commented on #1140
@bluebill1049 I can not see the difference in your example; it looks the same.

[2020-03-04 01:44] bluebill1049 commented on #1140
Maybe I forgot the save... I will do thag

[2020-03-04 02:30] bluebill1049 commented on #1140
https://codesandbox.io/s/react-hook-form-usefieldarray-ff9tq

[2020-03-04 02:54] webdevmsk opened #1146 "Why dirtyFields not updating if i make any field dirty?"
Why dirty fields not updating if I make any field dirty.

Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/7o2wrp86k6
2. Type into any field.
3. I expect `dirtyFields` to update with the field details.
4. Error: `dirtyFields` is always empty.

[2020-03-04 02:58] bluebill1049 commented on #1144
we don't support multiple actions at once as the whole custom hook is based on uncontrolled inputs, so you will have to move your logic into `useEffect()` with `remove` which is next life cycle. https://codesandbox.io/s/react-hook-form-usefieldarray-psxzo

[2020-03-04 02:58] bluebill1049 commented on #1144
I will update doc on this as well.

[2020-03-04 02:59] bluebill1049 commented on #1146
it's a `Set`, look at your console.log

[2020-03-04 03:00] bluebill1049 commented on #1146
<img width="912" alt="Screen Shot 2020-03-04 at 1 59 47 pm" src="https://user-images.githubusercontent.com/10513364/75840902-80238f80-5e20-11ea-816d-f4ca218d733e.png">

[2020-03-04 04:39] webdevmsk commented on #1146
Console is always logging {}.

Anyway to detect if a particular field got dirty?

[2020-03-04 04:44] bluebill1049 commented on #1146
![Screen Shot 2020-03-04 at 3 44 13 pm](https://user-images.githubusercontent.com/10513364/75846022-0d6de080-5e2f-11ea-8977-cfa1d360dc86.png)

please double check your console.

[2020-03-04 07:33] maxxiaobao opened #1147 "Can not trigger validation when show add new field"
**Describe the bug**
like title

**To Reproduce**
Steps to reproduce the behavior:
1. I set `isValid` mode is `onChange`
2. there two fileds on the page, and there are required, the first one depends the second one
3. when I cleared the second one,  then first one show, didn't triggered the first field error

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-reset-forces-all-fields-to-

[2020-03-04 08:04] iamrenzx opened #1148 "conditional required field"
I have this code it does not remove the required field if i checked and unchecked my checkbox. It still gives an error that it is a required field. What is the suggested solution for this one?

[code]

[2020-03-04 08:18] bluebill1049 commented on #1148
please consider asking question at our spectrum channel.

for your use case you will want to use `valdiate`
[code]

[2020-03-04 08:18] #1148 closed

[2020-03-04 08:21] bluebill1049 commented on #1147
you should use `validate` function if the field is depend on the others. please refer to this example: https://spectrum.chat/react-hook-form/help/how-to-compare-password-fields~2ce64059-88a7-46a3-951d-4e3d556999d5

also i think your version is way behind.

[2020-03-04 08:21] #1147 closed

[2020-03-04 08:35] hdaljord opened #1149 "Watch on a field array element field is not always correct after removing another field array element"
**Describe the bug**
Watch on a field array element field is not always correct after removing another field array element

**To Reproduce**
Go to https://codesandbox.io/s/react-hook-form-usefieldarray-6x8hm-uvugi

The example is a form with two normal input fields and two radio buttons, and the element that looses its watched value is the radio button element.

1. Fill out Example 1. Notice the o

[2020-03-04 08:37] bluebill1049 commented on #1149
<img width="951" alt="Screen Shot 2020-03-04 at 7 37 07 pm" src="https://user-images.githubusercontent.com/10513364/75860217-9137c500-5e4f-11ea-943f-71108878bdcd.png">

Take a look the last dot point on the doc for `useFieldArray`.

[2020-03-04 09:26] seonghyeonkimm commented on #230
I have one more question. How can I use ref when using `Controller`?

[2020-03-04 09:28] bluebill1049 commented on #230
It’s a question for your controlled component . You can still use it’s ref even with controller

[2020-03-04 10:18] kiansenggoh commented on #1134
Hi just curious when will the PR be merged? Because we has quite a stories need this feature.

Also I tried to checkout that branch and import the whole project as local dependency. But it seem that the reset only accept one parameter.

[2020-03-04 10:25] bluebill1049 commented on #1134
Hey @kiansenggoh it have a tag waiting for upvote, which means we need more users who up vote on the feature to make sure that there are needs out there.

I understand you need to get your work done: react-hook-form@4.10.2-beta.2

you can use this beta for now. I am not finished with that PR just yet, API may change as well. I am putting it up so people can vote for this feature.

[2020-03-04 11:13] kiansenggoh commented on #1134
Thank you very much i install the beta version

[2020-03-04 11:34] castiglionipaolo commented on #137
@Hi @bluebill1049 I fixed the codesandbox example.
Thanks

[2020-03-04 11:46] bluebill1049 commented on #137
here you go https://codesandbox.io/s/react-hook-form-password-match-check-controller-validation-w9o4g :)

[2020-03-04 11:46] #137 closed

[2020-03-04 12:17] hdaljord commented on #1149
Thanks! That worked. I was confused by your other answer on the spectrum forum last week.

It would be a good addition to the documentation to add a more complete example for field arrays.

[2020-03-04 12:17] #1149 closed

[2020-03-04 15:25] JuanmaMenendez commented on #497
@bluebill1049  is there a cleaner way to register the <Select>, maybe using <Controller> ?

[2020-03-04 15:54] JuanmaMenendez commented on #497
I found some good example https://codesandbox.io/s/rhf-mui-select-tqe89

[2020-03-04 16:06] anthonyatp opened #1150 "Issue using DefaultValues"
**Describe the bug**
I want to pre-populate a form using data from my redux store. Previously, if I refreshed the form page, the default values would be injected correctly.

Since upgrading to RHF v4.0+, If I refresh the form page, default values are not injected into inputs. But if I click out and back into the form page, the values are there.

Here's a basic code example:

**PersonalDetails.tsx*

[2020-03-04 16:28] anthonyatp commented on #1150
Current version is 4.10.1

I thought it be clearer to show you the issue:
![RHF bug](https://user-images.githubusercontent.com/42555665/75900506-eadec600-5e34-11ea-9667-06d39dbdd088.gif)

[2020-03-04 19:44] Smona opened #1151 "Pattern validation fires when non-required input has `null` value"
**Describe the bug**
Today we had a really tough to debug issue due to an edge case where pattern validation will be applied to a non-required input with a value of `null`. It appears that browsers will coerce a null value to an empty string, so everything worked fine in the browser. But in our tests using jsdom, we were getting pattern validation errors when the initial value was empty. Looks lik

[2020-03-04 20:05] rajashekar63 opened #1152 "How to create nested payload"
How can i create nested payload, like below...
`{
firstName: 'Blah',
lastName: 'E',
address: {
addressLine1: 'Main St',
city: 'boston',
Country: 'US'
},
paymentTypes: {
paymentOne: 'blah blah'
}
}`

[2020-03-04 21:20] bluebill1049 commented on #1152
https://react-hook-form.com/api#register

[2020-03-04 21:20] #1152 closed

[2020-03-04 21:23] bluebill1049 commented on #1150
<img width="943" alt="Screen Shot 2020-03-05 at 8 23 22 am" src="https://user-images.githubusercontent.com/10513364/75924184-97af5680-5eba-11ea-96ac-d396eaf088f9.png">
if `defaultValues` is not read on the initial load, you will need to use `reset({ defaultValues })` at useEffect. thanks for the detailed issue report.

[2020-03-04 21:24] bluebill1049 commented on #1133
we are not going to change API for now.

[2020-03-04 21:24] #1133 closed

[2020-03-04 21:24] bluebill1049 commented on #1133
if others having a similar issue, feel free to comment and leave your suggestion.

[2020-03-04 21:27] bluebill1049 commented on #1151
hi @Smona as much as I want to solve this problem for you, I am not a fan of introducing unnecessary code (just like how we try to avoid unnecessary re-render) into he lib just because some other dependency is firing issue, I would post an issue on their repo instead.

[2020-03-04 21:30] Smona commented on #1151
Ah, that is a good point. I'll report back if I learn anything relevant to this project :+1:

[2020-03-04 21:30] #1151 closed

[2020-03-04 22:08] bluebill1049 commented on #1151
sounds good to me thanks 👍

[2020-03-04 22:45] tsaockham opened #1153 "reset() API call not resetting form values using Material UI TextField controlled components"
**Describe the bug**
When calling the reset() API, the form fields are visually reset, but the data sent after a form post remains the old data even though new props are passed into the from component to seed the new default values.

**To Reproduce**
I've made a new sandbox to show the issue I was trying to solve (ref link below).

To recreate the issue, open the console and play around with the b

[2020-03-04 22:49] bluebill1049 commented on #1153
Please help to investigate by providing a simple and isolated version for this issue.

[2020-03-04 22:51] tsaockham commented on #1153
Sorry, I don't know if I can do a more isolated version of the issue.  It needs to have a component calling another with dynamic props to show the issue.  This version should be more simple than the one I submitted earlier.

[2020-03-04 22:53] bluebill1049 commented on #1153
Ok, I will take a look tonight.

[2020-03-04 22:54] bluebill1049 commented on #1153
without looking at your example, i have a feeling its due to async `defaulValues`, which you could try reset API during `useEffect`.

[2020-03-04 22:55] bluebill1049 commented on #1153
also plz provide step by step on how to reproduce as well.

[2020-03-05 03:26] xiaoyu-tamu commented on #1153
https://codesandbox.io/s/sad-https-8hes9

BTW, This question is not related to Material UI.

[2020-03-05 07:11] NurbekGithub opened #1154 "4.10.1 not working with material-ui select properly."
**Describe the bug**
A clear and concise description of what the bug is.
4.10.1 not changing value and not showing in submit data value of MUI Select component with Controller
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/rhf-mui-select-zriox
2. try to change value of select component

**Codesandbox link**
https://codesandbox.io/s/rhf-mui-select-zriox

**Expec

[2020-03-05 08:27] bluebill1049 commented on #1154
There is a fix made to read external component value: https://github.com/react-hook-form/react-hook-form/issues/1090

[2020-03-05 08:28] bluebill1049 commented on #1154
you will need onChange method for non-standard event.

we look for `e.target.value` && `e.target.type` and MUI select missing `type`

[2020-03-05 08:41] NurbekGithub commented on #1154
Sorry, I didn't get it. Is this intended behavior?

Also onChange method of Controller is called with rather "strange" value. For now sticking with 4.9.8 version

[2020-03-05 09:13] vsvivekthangavelu opened #1155 "How to use react-hook-form in editMode?"
is possible for update defaultValue in useEffect method

[2020-03-05 09:16] #1155 closed

[2020-03-05 09:23] bluebill1049 commented on #1154
This is intended behaviour, to solve all issue with target event.

if an event is in a sharp of `{ value: 'test', id: 'test' }` it shouldn't be considered as a proper target to retrieve its value. the previous commit fix this problem, MUI select is return an event without `type`, so RHF can not read the `value` out it, so should you use `onChange` in Controller.

you can stick that version. it's y

[2020-03-05 09:24] bluebill1049 commented on #1154
FYI @xiaoyu-tamu :)

[2020-03-05 09:35] Nagge opened #1156 "validationResolver broken after version 4.9.3"
Errors object in not containing error data when returning the object from validationResolver.

Changed the version of react-hook-form to 4.9.4 in example
https://codesandbox.io/s/react-hook-form-validationresolver-01uko

after that errors object is empty. If using version 4.9.3 it works like intended.

[2020-03-05 09:46] bluebill1049 commented on #1156
what about `4.10.2-beta.2`? we made a fix couple days ago.

[2020-03-05 09:57] Nagge commented on #1156
Solved the problem, thank you

[2020-03-05 09:57] #1156 closed

[2020-03-05 10:02] bluebill1049 commented on #1156
awesome will release this weekend.

[2020-03-05 10:03] NurbekGithub commented on #1154
ok. Thanks!

[2020-03-05 10:19] anthonyatp commented on #1150
@bluebill1049 Exactly what I was looking for. Thanks for your help!

[2020-03-05 10:19] #1150 closed

[2020-03-05 10:25] bluebill1049 commented on #1150
no worries.

[2020-03-05 10:57] Amtron commented on #1140
@bluebill1049 thanks for that. Can you give me a suggestion for how I could wait for remove to finish rendering. I've noticed that it doesn't actually trigger React.useEffect on it's when you call it; you have to change state for that to happen.

[2020-03-05 11:04] bluebill1049 commented on #1140
did you check out the codesandbox with useEffect?

[2020-03-05 21:54] github0013 opened #1158 "multiple setValues not working on object array"
**Describe the bug**
giving an object array to a field by `setValue` does not do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-setvalue-xf9vy
2. Click on `SETVALUE`
3. Nothing happens
4. Click on `RESET`, same value updates the same field

**Expected behavior**
setValue("fieldName", [{a: 1}]) should update the field.

[2020-03-05 23:31] bluebill1049 commented on #1158
Thank you @github0013 will take a look this over the weekend.

[2020-03-06 04:00] bluebill1049 commented on #1153
thanks @xiaoyu-tamu

[2020-03-06 04:00] #1153 closed

[2020-03-06 08:39] bluebill1049 commented on #1158
here is the fix: https://codesandbox.io/s/react-hook-form-usefieldarray-setvalue-tec5u PR is coming

[2020-03-06 08:58] #1158 closed

[2020-03-06 11:23] youngje4284 opened #1161 "Controller with useFieldArraym antd remove bug"
**Describe the bug**

Hello when i use Controller with useFieldArray, antd append and remove wrong work.
append => when i append field after remove, reappend removed object
remove => when i delete remove item  Irrespective of remove(index) always delete last element. ㅠㅠ

but I can't see that bug when Controller change to html input and ref register.

this library is the best what I've seen so far.

[2020-03-06 11:30] bluebill1049 commented on #1090
hey @xiaoyu-tamu

you mean `{ target: {id:1, value:"ABC"} } ` isn't it correct to return `value`?

[2020-03-06 11:30] bluebill1049 commented on #1090
i can see the pain for user with issue #1154

[2020-03-06 11:31] bluebill1049 commented on #1161
Please provide a codesandbox and fill up the reproduce steps.

[2020-03-06 11:32] bluebill1049 commented on #1090
This e.target.type check can be annoying. i am just wondering what's your use case to have `{ target: {id:1, value:"ABC"} }` shouldn't you just return `{id:1, value:"ABC"}`

[2020-03-06 11:37] bluebill1049 commented on #1090
wait nvm i think my fix have a bug!

[2020-03-06 11:37] bluebill1049 commented on #1154
hey @NurbekGithub your issue report is valid! sorry that was my bad, i am applying a fix.

[2020-03-06 11:46] #1154 closed

[2020-03-06 11:51] youngje4284 commented on #1161
ah... i notice this bug solution. set defaultValue column required... after i set defaultValue property in Controller this bug not appear

[2020-03-06 11:52] youngje4284 commented on #1161
https://codesandbox.io/s/react-hook-form-usefieldarray-ods8f

this !

[2020-03-06 11:53] bluebill1049 commented on #1161
yes controller will need defaultValue.

[2020-03-06 11:53] #1161 closed

[2020-03-06 13:19] nfantagossi-asapp opened #1163 "FieldArray inner fields not updating values after reset"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**

First of all, I wanted to thank you for creating this awesome library. I created a project a few months earlier, leave it there, and now that I came back to do some updates I'm amazed by the huge progress this library has made.

I'm not sure if this is a bug or it's by d

[2020-03-06 16:50] NurbekGithub commented on #1154
Oh, I was just wondering why docs examples are not working. Happy to know that i can update now. Greate lib and awesome support. Thanks a lot! :star2:

[2020-03-06 17:11] maciejmyslinski opened #1164 "Demo with react-select no longer work in 4.10.2"
**Describe the bug**
react-select components no longer work as documented and shown in https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-rhfinput-444xe
2. Select an item in React Select element
4. The input is blank

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-rhfinput-

[2020-03-06 17:11] maciejmyslinski commented on #1164
PS. also the documentation should be updated https://react-hook-form.com/api/#Controller

[2020-03-06 19:37] D1plo1d commented on #1116
@bluebill1049 On first glance I wonder if `type=number` inputs could be parsed by default without much risk of NAN.  If a `type=number` input cannot be misset by the user in the modern browser UIs the risk is only of an input being programmatically set to an invalid value. That feels like an edge case from my perspective atm but perhaps I'm not seeing the full picture.

The issue as I see it is th

[2020-03-06 20:11] bluebill1049 commented on #1116
hey @D1plo1d not at this stage, there is no such thing as input return `number` type, it's almost a misconception with the local state when using React. it only works with `valueAsNumbe`. https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement

[2020-03-06 20:43] bluebill1049 commented on #1164
Thanks, @maciejmyslinski this is actually a bug fix, you can safely remove `onChange` when using `react-select`. I will update the doc and example.

[2020-03-06 20:46] bluebill1049 commented on #1164
actually you interested to contribute the doc? basically we are making a check for the shape of the first argument from `onChange` whether it's event alike, we will pass down the `value/checked`, otherwise pass through the entire payload.  You should only use `onChange` when you want the specific value to return. The previous bug was not checking event like which lead to the following two bugs:
ht

[2020-03-06 21:01] bluebill1049 commented on #1163
hey @nfantagossi-asapp thanks <3. easy one you are missing `defaultValue`

[2020-03-06 22:13] maciejmyslinski commented on #1164
got it. But... isn't that a breaking change? Shouldn't it result in the next major release?

[2020-03-06 22:26] bluebill1049 commented on #1164
I would think this is a bug that was introduced to the first release. it shouldn't treat non-event like objects as event.

[2020-03-06 22:45] maciejmyslinski commented on #1164
That really comes down to your definition of a breaking change 🙂
To me, if I use something according to the documentation (not taking advantage of an existing bug) then I should be safe to update to any minor release and have my code running as intended without having to change my code.

see https://semver.org/#what-if-i-inadvertently-alter-the-public-api-in-a-way-that-is-not-compliant-with-the-ve

[2020-03-06 22:54] bluebill1049 commented on #1164
sounds good to me. I will release a major version today to resolve this problem.

[2020-03-06 22:57] bluebill1049 commented on #1164
release note has been updated.

[2020-03-06 23:00] bluebill1049 commented on #1164
Are you happy to contribute to the doc (try to avoid double handling)?

[2020-03-06 23:05] maciejmyslinski commented on #1164
yes, I'm happy to do that tomorrow 🙂

[2020-03-06 23:22] bluebill1049 commented on #1164
major version released.

[2020-03-07 07:39] irekrog opened #1165 "[React Native] After form submit is returned object with nested value"
**Describe the bug**

_React Native_
From version 4.10.0 to latest version (now 5.0.0) after form submit is returned object with value:
`{ text: { value: 'lorem ipsum' } }`. Before 4.10.0 after submit returns `{ text: 'lorem ipsum' }`

Additionaly on Expo on "Web" tab after type just one letter we have `[object Object]`

**To Reproduce**
Steps to reproduce the behavior:
1. On Expo go to Android or

[2020-03-07 07:47] bluebill1049 commented on #1165
hey from version 5, you can make `onChange` return simpler:

`const onChange = args => args[0].nativeEvent.text;`

[2020-03-07 07:51] irekrog commented on #1165
@bluebill1049
thanks for quick response, after change `const onChange = args => args[0].nativeEvent.text` works now :)

[2020-03-07 07:51] #1165 closed

[2020-03-07 07:52] bluebill1049 commented on #1165
it was a bug which I introduced on the initial version, and I thought i fixed it on the latest V4, then I realize it's a broken change this morning...

[2020-03-07 09:42] youngje4284 opened #1166 "How field array length check and field value check with yup and controller?"
**Describe the bug**
Hello how field array length check and field value check with yup and controller?
i make yup validator for field array length check and field row value length check.
but not apply at the same time, only array length check work. how can i fix it?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Codesan

[2020-03-07 09:47] bluebill1049 commented on #1166
hi, can you provide a codesandbox for this issue? Do you want to validate the array length?

[2020-03-07 10:08] youngje4284 commented on #1166
i want to check array length and field value length check at the sametime.
codesandbox link already input.

[2020-03-07 10:30] bluebill1049 commented on #1166
please check your codesandbox next time, it's very confusing and not implemented correctly. here is the fixed version:

https://codesandbox.io/s/react-hook-form-usefieldarray-setvalue-nq2so

take a look at this codesandbox, see if there are still issue with the validation.

[2020-03-07 10:48] youngje4284 commented on #1166
this code only check array length check. i want to array length check and array value length check at the same time

ex)
[code]

upper validator maybe check length and array value name length check too
but this code only check length.

[2020-03-07 11:27] bluebill1049 commented on #1166
<img width="556" alt="Screen Shot 2020-03-07 at 10 27 18 pm" src="https://user-images.githubusercontent.com/10513364/76142540-d4e63500-60c2-11ea-9619-cbbb6c7ed580.png">

isn't it checking the length?

[2020-03-07 11:28] bluebill1049 commented on #1166
That's up to your schema validation. RHF return's what's yup returns.

[2020-03-07 12:06] bluebill1049 commented on #1166
going to close this issue, you may want to ask the question at yup's repo

[2020-03-07 12:06] #1166 closed

[2020-03-07 12:07] chungweileong94 opened #1167 "`watch([...])` no longer works"
**Describe the bug**
I wanted to use `watch([...])` to watch multiple fields, however, after I updated from `v4.9.5` to `v5.0.0`, it no longer triggers the `watch` every time when the value changed.

But if I add the `watch()` before, it will works, which is kinda redundant.

**To Reproduce**
Steps to reproduce the behavior:
1. Add multiple inputs
2. Use `watch([...])` to observe the values change

[2020-03-07 12:27] bluebill1049 commented on #1167
https://codesandbox.io/s/react-hook-form-watch-multiple-bug-tljos

[2020-03-07 12:32] #1167 closed

[2020-03-07 12:34] chungweileong94 commented on #1167
@bluebill1049  Awesome, thanks!

[2020-03-07 12:35] bluebill1049 commented on #1167
ty @chungweileong94 for report this issue 👍

[2020-03-07 12:35] bluebill1049 commented on #1167
will release the patch tmr

[2020-03-07 16:13] secretlifeof opened #1170 "Inside custom element: React-hook-form leads to "Invalid hook call""
**Describe the bug**
I am trying to use react-hook-form inside a **custom element**, but it errors with **"Invalid hook call..."** Inside the custom element I am using **Preact**. React-hook-form works with Preact/compat so that should not be the issue. I am using the custom element (fari-lari) inside a Nextjs project. Using useState, useCallback, useRef, useEffect hooks inside the custom element

[2020-03-07 21:33] bluebill1049 commented on #1170
please provide a codesandbox for the issue.

[2020-03-07 21:35] #1163 closed

[2020-03-07 22:11] secretlifeof commented on #1170
@bluebill1049 Yes off course.

Here it is:
https://codesandbox.io/s/react-hook-form-invalid-hook-issue-mpi4i

[2020-03-07 22:13] bluebill1049 commented on #1170
This issue is not related to this lib:

[code]

[2020-03-07 22:20] secretlifeof commented on #1170
The problem does not occur when only using hooks. I have testet useEffect, useState, useCallback, useRef. It occurs when using **useForm** from react-hook-form. Do you have any suggestions? I also tried updating react-hook-form to version 5.0.1 without change.

[2020-03-07 22:24] bluebill1049 commented on #1170
I have seen this issue before (not with this lib) which is basically what the react errors are. check if you have duplicated react or not invoke custom hook in the correct order.

[2020-03-07 22:24] #1170 closed

[2020-03-07 22:34] secretlifeof commented on #1170
@bluebill1049 I do not mean to be impolite, but the **only** hook that is invoked is **useForm** from react-hook-form. React is not duplicated. As seen in the sandbox only 1 version is installed. Can you please reopen this issue until it is resolved?

[2020-03-07 22:38] bluebill1049 commented on #1170
I am more than happy to solve issues related to the library as you can see I have done this in this past. Check issues logs. however this is not related to this library. I would recommend you to try out other hooks library and see if u can reproduce the same behaviour. If that’s the case, you can narrow down the issue.

[2020-03-07 22:40] secretlifeof commented on #1170
Thank you very much for your help. I will post an issue to Preact and see if they can help.

[2020-03-07 22:54] aaronksaunders opened #1171 "Ionic Components Dont Respond to onChange on onBlur For Validation"
Please consider asking the question at our spectrum channel.

**Describe the question?**
I am just confirming that the only way to get Ionic Components to properly validate onChange or onBlur is to trigger it directly based on the event or to wrap it in a control.

**To Reproduce**
See Link to sample project, if I remove the event listener from the component it fails, the `getInputElement()` only

[2020-03-07 23:02] bluebill1049 commented on #1171
hey @aaronksaunders Thanks very much for writing a blog post about RHF ❤️. I would recommend using `Controller` for external controlled components due to inconsistent in terms of ref expose.

In case, you don't realize the benefit of using Controller:

1. isolating re-render, which means your input component re-render doesn't impact your form/app level.
2. validation rules still relevant to your v

[2020-03-07 23:04] aaronksaunders commented on #1171
I will give it a try and let you know how it goes

On Sat, Mar 7, 2020 at 6:02 PM Bill <notifications@github.com> wrote:

--

--

Aaron K. Saunders
CEO Clearly Innovative Inc - Luma Lab - In3
aaron@clearlyinnovative.com
www.clearlyinnovative.com
www.In3DC.com

This email message and any attachment(s) are for the sole use of the
intended recipient(s) and may contain proprietary and/or confidential

[2020-03-08 05:42] aaronksaunders commented on #1171
i switched everything over to the controller and it works fine, thanks
https://codesandbox.io/s/react-hook-form-ionic-input-components-29zur

[2020-03-08 05:42] #1171 closed

[2020-03-08 10:47] igo opened #1172 "Controller value reset after remove"
**Describe the bug**
Modified value of Controller in list (useFieldArray) is not preserved after calling `remove`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-vqedy
2. Click on 'append'
3. Modify value of both inputs
4. Click 'delete' to remove one item
5. Changes in remaining input you made disappeared

**Expected behavior**
5.

[2020-03-08 11:12] bluebill1049 commented on #1172
https://codesandbox.io/s/react-hook-form-usefieldarray-l40b9 fixed thanks for reporting.

[2020-03-08 11:29] #1172 closed

[2020-03-09 01:03] vensauro opened #1174 "Controller value reset after remove"
**Describe the bug**
Modified value of Controller in list (`useFieldArray`) is not preserved after calling `remove`, when the component use a complex value, like objects

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [codesandbox](https://codesandbox.io/s/react-hook-form-usefieldarray-pvyj8)
2. Click on append
3. select an value in the select input, and an date in the date picker
4. c

[2020-03-09 01:10] bluebill1049 commented on #1174
https://codesandbox.io/s/react-hook-form-usefieldarray-u7rxf

if you have remove those `defaultValue` on the controller. it should work.

[2020-03-09 01:30] vensauro commented on #1174
it is expected to work, but continues not working, the diff is that the date component set the today date when receive undefined on value :/
(Uou, i have not seen that the item object have a default value, brilliant this)

[2020-03-09 02:40] bluebill1049 commented on #1174
@vensauro it still having issue?

[2020-03-09 03:33] vensauro commented on #1174
yes :confused:

[2020-03-09 03:47] bluebill1049 commented on #1174
what's not working?

https://codesandbox.io/s/react-hook-form-usefieldarray-u7rxf

let me know which part and possible take a screenshoot as well. thanks

[2020-03-09 04:27] Amtron commented on #1174
I'm experiencing the same issue with values not being preserved.

[2020-03-09 04:33] Amtron commented on #1140
@bluebill1049 Yes I did thanks for that. Still have the same issue though.

I've noticed that you've merged this PR #1173 👍 which looks like it might fix the issue; I'll test it out and let you know how it goes.

Thanks for your assistance.

[2020-03-09 04:34] bluebill1049 commented on #1174
@Amtron can you take a look the CSB and let me know the steps to reproduce?

[2020-03-09 05:02] bluebill1049 commented on #1140
let me know. let's follow up in this issue: https://github.com/react-hook-form/react-hook-form/issues/1174

[2020-03-09 05:03] Amtron commented on #1174
1) click append
2) set the dropdown to something new on the new field array
3) set the date to 31st Mar (make sure to click 'OK' to set the date) on the new field array
While doing this check the console values; all the items date are undefined and if you check the '[Object]' it only has name, age and id attributes. I would expect at lease one of the field arrays to have a date because it was set.

[2020-03-09 05:06] bluebill1049 commented on #1174
@Amtron i have removed the console.log for date, it's not implemented corrected from the original CSB.

[2020-03-09 05:07] bluebill1049 commented on #1174
I have update the CSB again, the original CSB is very confusing to me...

[2020-03-09 05:08] Amtron commented on #1174
Which CSB are we using for this?

[2020-03-09 05:11] bluebill1049 commented on #1174
This is mine: https://codesandbox.io/s/react-hook-form-usefieldarray-u7rxf

[2020-03-09 05:29] Amtron commented on #1174
1) set the date of the first field array
2) append new field array
check console - you should notice that although we set the date on the first field array in the data the date attribute is undefined

[2020-03-09 05:35] bluebill1049 commented on #1174
because it's empty:
[code]

MUI probably showing a default.

[2020-03-09 05:44] vensauro commented on #1174
Okay, i see that the CSB that i picked by template, use the name `test` in the `useFieldArray`, and when change this the date field works :+1:

[2020-03-09 05:47] bluebill1049 commented on #1174
thanks for the update @vensauro

[2020-03-09 05:50] garyking opened #1175 "After submitting form, any subsequent typing gives `Uncaught (in promise) TypeError: Cannot convert undefined or null to object` error"
Here's my code, in [this sandbox](https://codesandbox.io/s/recursing-rosalind-f7swd).

Submit the form (you need to type something in the second input box). Then type something in the second input box, after submission. There will be a console error of `Uncaught (in promise) TypeError: Cannot convert undefined or null to object`.

How can this be fixed? Or is this simply a bug of `react-hook-form`

[2020-03-09 05:59] bluebill1049 commented on #1175
i couldn't reproduce this issue with your CSB.

[2020-03-09 05:59] #1174 closed

[2020-03-09 06:06] Nelsonfrank commented on #77
Add formState api
[code]
then in your button
[code]

[2020-03-09 06:09] garyking commented on #1175
You sure? I was able to reproduce it in a private window. I've made a video below.

![react-hook-form error](https://user-images.githubusercontent.com/343940/76187132-ed317f00-61aa-11ea-9cb1-6d60d18a949d.gif)

[2020-03-09 06:23] vensauro commented on #1174
i make some test using a custom component that accepts array as value and all worked nice, i suppose that the problem in the select is with the component or something with reference, thanks by the attention @bluebill1049

[2020-03-09 06:27] bluebill1049 commented on #1174
my pleasure @vensauro feel free to follow up with more questions ❤️

[2020-03-09 06:32] bluebill1049 commented on #1175
thanks patched: https://codesandbox.io/s/affectionate-dhawan-8xzgv

[2020-03-09 06:37] #1175 closed

[2020-03-09 06:38] vensauro commented on #1174
i don't see one example in the website using the `defaultValue` in `Controller` using the fields value like: `defaultValue={field.date}`, this has any more behavior? i can try make a PR (I'm not sure if i can do this, but I really want to help)

[2020-03-09 06:39] garyking commented on #1175
Thanks, it indeed seems to be fixed in your link.

Considering that this bug is new, I must be doing something in my code that is uncommon? Is there a better way to write my code, that would have avoided this bug completely?

[2020-03-09 06:40] bluebill1049 commented on #1174
🙏 you can submit a PR at our website repo! ❤️ if the doc is not having the correct example, feel free to update it and get your name on the contribution list 👍

[2020-03-09 06:42] bluebill1049 commented on #1175
it's due to `name="example[1]"` which convert errors into array shape.

[2020-03-09 08:29] Amtron commented on #1140
I'm still having trouble with this; even after I've updated the version.

In my field array I have radio inputs and when I remove one of the fields from the array the values associated with the radio inputs disappear.

This is how I've implemented my input radio:

`     <input
             className='hide'
             type= 'radio'
             id={inputId}
             name={`${name}.value`}

[2020-03-09 08:30] bluebill1049 commented on #1140
can you provide a simple CSB for this? @Amtron

[2020-03-09 09:05] Amtron commented on #1140
@bluebill1049 so I found out what the issue was... I was using index as key to render the radio inputs 🤦‍♂ . All solved.

Thank you for the fast response and support.

[2020-03-09 09:06] bluebill1049 commented on #1140
No worries at all. Glad it’s working

[2020-03-09 11:42] etc-tiago opened #1177 "Register options ignore required = false and minLength = 0"
While using a form with more than 50 fields, I noticed that the react hook form ignores the `required: false` and points out an error like` min`.

My form input is
[code]
**Note**:
- The `error` reported as a parameter is boolean and checks if the field informed has errors.
- The `register` is form-hook-form register

In the console:
<img width="424" alt="Captura de Tela 2020-03-09 às 08 20 11" s

[2020-03-09 11:50] bluebill1049 commented on #1177
please supply a CSB for me to reproduce.

[2020-03-09 12:51] etc-tiago commented on #1177
While trying to reproduce an example, I realized that a validation by `validationSchema` had been applied, so it is not a bug but a duplicate of verification. I ask you to disregard this issue.

[2020-03-09 12:51] #1177 closed

[2020-03-09 18:07] nhuzaa opened #1179 "TypeError: data.filter is not a function"
**Describe the bug**
Getting folllowing error message on removal of item in fieldarray

**Expected behavior**
- Removal of item

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3519383/76243204-12cc9000-6260-11ea-9524-260781d34b16.png)

**Desktop):**
 - Mac
 - Chrome

[2020-03-09 19:34] Ding-Fan opened #1180 "How to run some code after handleSubmit executed?"
Please consider asking the question at our spectrum channel.

I've tried the spectrum channel chat and it keeps eating my messages and I don't know why. I'm so sad 😢

https://spectrum.chat/react-hook-form

**Describe the question?**
I'd like to show a toast with error message after `handleSubmit` executed. But I don't know how to "handle this event". Maybe we could have two callbacks arguments lik

[2020-03-09 19:41] boomgetchopped opened #1181 "Form Builder Source Code"
Hello are there any plans to include the form builder as part of the library?

[2020-03-09 20:03] ccnokes commented on #56
@bluebill1049

By that do you mean that polyfilling `Proxy` is unnecessary? Or do we still need the polyfill for it to work properly?

[2020-03-09 20:19] bluebill1049 commented on #1181
it's open-sourced already :) check out the website repo.

[2020-03-09 20:19] #1181 closed

[2020-03-09 20:20] bluebill1049 commented on #1179
please provide a CSB.

[2020-03-09 20:21] bluebill1049 commented on #1180
[code]

[2020-03-09 20:23] bluebill1049 commented on #56
@ccnokes i haven't test the IE 11 build for a while, but last time someone made a commit to include all the polyfills.

[2020-03-10 02:54] #987 closed

[2020-03-10 09:18] Paquan commented on #709
I could help with some german I guess. Is there any process, yet?

[2020-03-10 09:21] bluebill1049 commented on #709
thanks @Paquan i think there is a PR half baked and the author dropped for some reason. https://github.com/react-hook-form/react-hook-form-website/pulls

[2020-03-10 09:26] Paquan commented on #709
Since it isn't my PR, can I commit something to it?

[2020-03-10 09:27] LorenzHenk commented on #709
Hey @Paquan, I can push all the progress I made and you can take over if you want, I do have very little time at the moment.
The PR is here: https://github.com/react-hook-form/react-hook-form-website/pull/142
I do have some local progress on api.

@bluebill1049 Can you merge the current PR, so @Paquan can continue in his own fork?

[2020-03-10 09:59] bluebill1049 commented on #709
hey @LorenzHenk thanks for the update. I will merge the PR tonight.

[2020-03-10 10:06] bluebill1049 commented on #709
can you change from draft to actual PR? @LorenzHenk

[2020-03-10 10:47] tkfnetwork commented on #1179
I have also come across this issue using `useFieldArray`

The issue comes from `getFieldValueByName(fieldsRef.current, name)` returning the entire values object if it can't find the array for the field.  This object is then passed in to removeArrayAt(theObjectValues, index)` and of course that function is expectig the array of values:

[code]

Firstly there should be a guard in that function to ma

[2020-03-10 10:52] bluebill1049 commented on #1179
do you have a codesandbox and with steps to help me reproduce and debug?

[2020-03-10 11:10] youngje4284 opened #1183 "when formState dirty is true but dirtyfields and touched size is 0?"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

i use formState dirty value for check form data changed.
but i check my formState value in google console after useFieldArray add .
dirty value true but dirtyfields size 0 and after remove  my field array dirty value true yet.
so i want to know when formState dirty is true but dirtyfields and touch

[2020-03-10 11:18] bluebill1049 commented on #1183
please provide a CSB and make my life a bit easier.

[2020-03-10 11:22] youngje4284 commented on #1183
@bluebill1049 code sandbox link append~

[2020-03-10 11:24] levente-gal opened #1184 "Controller component doesn't apply changed validation rules"
Using react-hook-form version 5.0.3 and having a component like:
[code]
It doesn't recognise the changed validation rules.

Note that the validation rule is based on a property
**required**: **props.doValidate** ? **'This field is Required'** : **false**

After a bit of investigation in the code, the problem seems to be that it doesn't re-register the input because the *useEffect* which calls `reg

[2020-03-10 11:26] bluebill1049 commented on #1183
working as expected, you were not using the lib instead the src folder.

[2020-03-10 11:27] bluebill1049 commented on #1184
i would recommend using `validate`. also provide a CSB.

[2020-03-10 11:36] youngje4284 commented on #1183
@bluebill1049 hmm. can i know diff in src folder and lib ? my project this issue appear... (not sandbox my custom project)

[2020-03-10 11:38] bluebill1049 commented on #1183
can you take a look at the CSB? https://codesandbox.io/s/react-hook-form-usefieldarray-8uxt5 see if you can reproduce there and write down the steps.

[2020-03-10 11:54] levente-gal commented on #1184
[CSB](https://codesandbox.io/s/react-hook-form-rhfinput-i6sxg) for reproducing the issue.

There is a switch on the top of the page which is used to control the validation of the React select combo.

[2020-03-10 11:57] bluebill1049 commented on #1184
want to submit a PR since you find the issue and solution.

[2020-03-10 12:00] youngje4284 commented on #1183
@bluebill1049  ok  https://codesandbox.io/s/react-hook-form-usefieldarray-3pk19 this sandbox link ! maybe two input make this situation

[2020-03-10 12:14] levente-gal commented on #1184
I'll do PR ASAP.

[2020-03-10 13:39] rnnyrk opened #1185 "Update Form defaultValues after Redux inject using reset api"
Hi there,

I want to use defaultValues coming from Redux within my Form. Although when I directly visit the url from my browser and there is no customer yet, the Form isn't filled correctly. So this screenshot shows the lifecycle:

<img width="790" alt="Screenshot 2020-03-10 at 14 35 57" src="https://user-images.githubusercontent.com/4519142/76317438-7dbbac80-62dc-11ea-8662-1b75c7de6d29.png">

At

[2020-03-10 15:10] adriaanmeuris opened #1186 "Get started example `Adapting existing form` triggers error `register is not a function`"
**Describe the bug**
The [example here](https://react-hook-form.com/get-started#Adaptingexistingform) triggers following error: `register is not a function`

**To Reproduce**

Steps to reproduce the behavior:
1. go to the [get started page, Adapting existing form](https://react-hook-form.com/get-started#Adaptingexistingform)
2. copy the code
3. paste into codesandbox
4. see error

**Codesandbox li

[2020-03-10 15:11] Kryshtopenko commented on #1003
Have the same issue.

[2020-03-10 17:06] #1180 closed

[2020-03-10 18:28] nhuzaa commented on #1179
@bluebill1049
here is the Codesandbox
Please try to delete and item
https://codesandbox.io/s/react-hook-form-nested-fields-2rbfz?fontsize=14&hidenavigation=1&theme=dark

[2020-03-10 18:35] nhuzaa commented on #1185
You have to load the form after the mapCustomer(customer) is defined. may be add isCustomerLoading  flag on redux and based on that load the form

[2020-03-10 21:06] bluebill1049 commented on #1179
Thanks for the CSB @nhuzaa the example is quite complex, also i think you are not using it correctly. useFieldArray doesn't support custom register (which i have an issue to update on the website) can you follow the example and see if you reproduce without custom register?

[2020-03-10 21:08] bluebill1049 commented on #1185
could you please supply a CSB? it should worked.

[2020-03-10 21:14] bluebill1049 commented on #1186
my bad fixing.

[2020-03-10 21:18] bluebill1049 commented on #1186
fixed thanks: https://codesandbox.io/s/adapting-existing-form-3mspt :)

[2020-03-10 21:18] #1186 closed

[2020-03-10 21:37] bluebill1049 commented on #1183
I can see problem when `dirtyFields` not get removed in the `formState`. what's the other issue? Look at your console, instead of CSB console. touchedField is a `Set` not `object`

[2020-03-10 21:39] bluebill1049 opened #1188 "Dirty Fields not getting removed after deletion in useFieldArray"
**Describe the bug**
Dirty fields are not removed after that field is getting removed.

**To Reproduce**
Steps to reproduce the behavior:
1. update the field
2. click delete
3. inspect console

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-usefieldarray-3pk19

**Expected behavior**
Dirty Fields should be getting removed after deletion in useFieldArray

[2020-03-10 22:12] hoshikitsunoda commented on #59
I'm getting the same error. I tried adding very basic hook from a tutorial example(click counter) and it works as it should but crashes as soon as I use `useForm` hook in the same functional component.

I followed how to fix invalid call error but there's no duplicates, both react and react-dom have the same version(16.13.0), the hook is at the top level in the body of a function component. Tried

[2020-03-11 00:24] youngje4284 commented on #1183
I'm curious is this not a bug? i think dirty value is false when if you add and delete field array. but dirty value is true yet

[2020-03-11 00:32] bluebill1049 commented on #1183
hmm... i think that should make form dirty to true cause you change the fields.

[2020-03-11 02:11] youngje4284 commented on #1183
https://codesandbox.io/s/react-hook-form-usefieldarray-3pk19
hmm this code sandbox add and delete field dirty true In spite of i not change field value

[2020-03-11 02:22] bluebill1049 commented on #1183
i think that's expected, because your form/inputs are chnage and it is dirty now.

[2020-03-11 02:54] youngje4284 commented on #1183
https://codesandbox.io/s/react-hook-form-usefieldarray-8uxt5

hmm then this sandbox link dirty value true after add and delete once click.
but this sandbox link dirty value false after add and delete once click

[2020-03-11 03:12] bluebill1049 commented on #1183
oh! you are right with your example looks like it's not working...

[2020-03-11 03:12] bluebill1049 commented on #1183
actually this could be the reason: https://github.com/react-hook-form/react-hook-form/issues/1188 which i raised a bug last night.

[2020-03-11 03:13] bluebill1049 commented on #1183
let's track this on that ticket then. @youngje4284

[2020-03-11 03:13] #1183 closed

[2020-03-11 03:14] bluebill1049 commented on #1188
@youngje4284 keep an eye on this one, i may need your help in terms of verify the fix.

[2020-03-11 04:33] bluebill1049 commented on #1188
i found out the reason with your issue @youngje4284. it's due to default value:

https://codesandbox.io/s/react-hook-form-usefieldarray-jxm8f

default value have `number` instead of `string`. input return string and default `value` is `number`, so it's the reason why it's not working as expected.

[2020-03-11 05:29] youngje4284 commented on #1188
wow. you're genius... thank you very much.

Is there any intention to fix this ? Or if i should not use number type and only use string type ?

[2020-03-11 05:34] bluebill1049 commented on #1188
@youngje4284 i still have a PR for this issue which i have raised. i think you should keep them as string, so it match with what input returns (string)

[2020-03-11 05:45] youngje4284 commented on #1188
I understand after your pr merged, i can use number type value  in field array.
but now i should to change number type to string. is this right?

[2020-03-11 05:47] bluebill1049 commented on #1188
no, this PR will fix dirtyFields not getting removed

you should convert default value from number to string, we are not going to do the convert inside the lib.

[2020-03-11 05:48] youngje4284 commented on #1188
ok i got it thank you~

[2020-03-11 06:21] youngje4284 commented on #1188
![image](https://user-images.githubusercontent.com/59639025/76387991-65669300-63ab-11ea-98b7-5d810258afcb.png)

I make check isFormDataChange this. because i use typescript and server get and post data type is number. so i think all number type to string convert for only this issue it is difficult. now is data change cheked works. thank you for help~

[2020-03-11 06:25] bluebill1049 commented on #1188
pleasure to help @youngje4284

[2020-03-11 06:36] #1188 closed

[2020-03-11 08:20] algebrathefish commented on #706
@bluebill1049 it seems like for the new version you may need to do: onChange={([selected]) => {
                return selected;
              }}

[2020-03-11 08:22] bluebill1049 commented on #706
no u dont need onChange for react-select now. @algebrathefish

[2020-03-11 08:35] susisu opened #1190 "Problem with useFieldArray and useFormContext"
**Describe the bug**
When using `useFieldArray` combined with `FormContext` and `useFormContext`, after removing a filed, submitted data become empty.
If used without `FormContext` and `useFormContext`, it works correctly.

**To Reproduce**
See the CodeSandbox below.

1. Append a field.
2. Remove the field.
3. Submit.
4. Submitted data in console is empty (`{}`).

**Codesandbox link**
https://code

[2020-03-11 08:35] susisu opened #1198 "useFieldArray issue around field register under useFormContext"
**Describe the bug**
When using `useFieldArray` combined with `FormContext` and `useFormContext`, after removing a filed, submitted data become empty.
If used without `FormContext` and `useFormContext`, it works correctly.

**To Reproduce**
See the CodeSandbox below.

1. Append a field.
2. Remove the field.
3. Submit.
4. Submitted data in console is empty (`{}`).

**Codesandbox link**
https://code

[2020-03-11 10:19] bluebill1049 commented on #1190
hey @kotarella1110 you solved a similar problem before. would you have any insight?

[2020-03-11 10:20] bluebill1049 commented on #1190
alternative solution would be just calling `register()`

[2020-03-11 10:23] bluebill1049 commented on #1190
nvm, I think it's a separate issue.

[2020-03-11 10:25] bluebill1049 commented on #1179
i think this issue is related to this one: https://github.com/react-hook-form/react-hook-form/issues/1190 closing this one, let's continue on the other ticket.

[2020-03-11 10:25] #1179 closed

[2020-03-11 10:26] bluebill1049 commented on #1179
FYI: but custom register still won't work with useFieldArray

[2020-03-11 10:28] bluebill1049 commented on #1190
hmmm @kotarella1110  if we invoke `register()` it's working as expected

[2020-03-11 10:44] EkaterinaMozheiko opened #1191 "formState.dirty updating doesn't work with useFieldArray and useFormContext"
Hi, I'm using useFormContext and useFieldArray at the same time. It seems that formState.dirty doesn't work correctly in this case - it isn't updated when I add or remove a field.

Check this out here: https://codesandbox.io/s/react-hook-form-usefieldarray-9z0ur

[2020-03-11 10:58] bluebill1049 commented on #1191
This is a duplicated issue, please refer to this one: https://github.com/react-hook-form/react-hook-form/issues/1190

[2020-03-11 10:58] #1191 closed

[2020-03-11 12:29] kotarella1110 commented on #1190
@bluebill1049 I will look into this now!

[2020-03-11 12:36] nhuzaa commented on #1190
@bluebill1049  Here is whats happening if I remove the input fields completely and just add delete and append this issue occurs https://codesandbox.io/s/react-hook-form-usefieldarray-x0pcq

What if I just want to use setValue()

[2020-03-11 13:39] rnnyrk commented on #1185
Hereby the CBS (https://codesandbox.io/s/keen-varahamihira-18k36). Although it works in this example I see it sometimes flashing and going back to empty values. Looks like it happens when editing the code. Maybe it has something to do with HMR. Gonna try my project in Production build to see if I encounter the same issue over there. Keep you posted.

[2020-03-11 14:33] kotarella1110 commented on #1190
The component that uses `useForm` (`App` component) is not rendered because `useFieldArray` is used in the component that uses `useFormContext` (`Fields` component).
the `register` function is not recreated and remains memoized because the deps (`watchFieldArrayRef.current`) of `useCallback` are not compared.

<img width="359" alt="スクリーンショット 2020-03-11 23 17 27" src="https://user-images.githubuser

[2020-03-11 19:39] algebrathefish commented on #129
@bluebill1049 https://codesandbox.io/s/billowing-flower-11drx is gone

[2020-03-11 20:33] #1184 closed

[2020-03-11 20:40] bluebill1049 commented on #1190
Because nothing is registered, we need inputs to be registered inside.

[2020-03-11 20:41] bluebill1049 commented on #1190
Thanks @kotarella1110 I think i have an idea to get a workaround, i will get it try.

[2020-03-11 20:49] bluebill1049 commented on #1185
i tested the CSB: https://codesandbox.io/s/muddy-waterfall-z0ivh looks fine so far.

[2020-03-11 23:17] bluebill1049 commented on #1190
what if we pass everything through FormContext @kotarella1110 ?

[2020-03-12 00:13] kotarella1110 commented on #1190
@bluebill1049 Could you explain it to me in a little more detail?

[2020-03-12 00:18] bluebill1049 commented on #1190
like this: https://codesandbox.io/s/react-hook-form-usefieldarray-3i5gf

It's still not great tho...

[2020-03-12 00:30] bluebill1049 commented on #59
@hoshikitsunoda can you provide a codesandbox with this issue above.

[2020-03-12 01:06] kotarella1110 commented on #1190
@bluebill1049 That is one of the workarounds.
But it causes rerendering in the `App` component...
Please give me some time. I'll think a way to resolve it.

[2020-03-12 01:22] kotarella1110 commented on #1190
@bluebill1049 How about exporting `register` func in `useFieldArray`?

[code]

https://codesandbox.io/s/react-hook-form-usefieldarray-8lfm1

[2020-03-12 01:35] bluebill1049 commented on #1190
thanks @kotarella1110 It works, but it's a bit strange to have same method exported from two hook.

i think worse case, we can education user to use `register()`

[2020-03-12 01:53] kotarella1110 commented on #1190
@bluebill1049 we can recreate `register` function in `useFormContext`.

https://codesandbox.io/s/react-hook-form-usefieldarray-df80m

[2020-03-12 01:58] bluebill1049 commented on #1190
wow that's smart @kotarella1110 you are impressing me each time.

[2020-03-12 02:11] kotarella1110 commented on #1190
However, we need to use `useFormContext` inside the component using `useFieldArray`.
If the component using `useFieldArray` is different from the component using `useFormContext`, we need to use `register()`.
The same is true for `useForm`.

[2020-03-12 02:13] bluebill1049 commented on #1190
@kotarella1110 hmmm maybe we should just stick with `register()` for `useFieldArray`?

[2020-03-12 02:20] kotarella1110 commented on #1190
@bluebill1049 In the following cases, it is necessary to use `register()`.

https://codesandbox.io/s/react-hook-form-usefieldarray-xcc8f

[2020-03-12 02:29] bluebill1049 commented on #1190
yes :)

[2020-03-12 02:34] kotarella1110 commented on #1190
If we export `register` in `useFieldArray`, we can cover the above cases (no need `register()`).

[2020-03-12 02:36] bluebill1049 commented on #1190
yes @kotarella1110

[2020-03-12 02:36] kotarella1110 commented on #1190
@bluebill1049 Can I create this PR?

[2020-03-12 02:37] bluebill1049 commented on #1190
yea sure @kotarella1110 we can make a decision later anyhow.

[2020-03-12 02:44] bluebill1049 commented on #1190
FYI: @kotarella1110 my concern over two `register` export from different hook is that confuse the user which one to use.  As right now i think i am more lean towards just using `regsiter()`

[2020-03-12 04:09] susisu opened #1192 "Input fields using useFieldArray are cleared after resetting form"
**Describe the bug**
After resetting form, input fields using `useFieldArray` are just cleared, not filled with new default values.
If inputs have `defaultValue` props as in [the example](https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv), the new values are filled as expected. Or is this an expected behavior and `defaultValue` props are required on inputs?

**To Reproduce**

1. Open th

[2020-03-12 04:22] bluebill1049 commented on #1192
https://codesandbox.io/s/react-hook-form-usefieldarray-9q7w7

[2020-03-12 04:49] kotarella1110 commented on #1192
https://react-hook-form.com/api#useFieldArray

<img width="909" alt="スクリーンショット 2020-03-12 13 48 16" src="https://user-images.githubusercontent.com/12913947/76488288-5265c880-6468-11ea-902b-ede1cc700ce7.png">

[2020-03-12 04:54] susisu commented on #1192
Oh, sorry. I missed it.

[2020-03-12 04:55] #1192 closed

[2020-03-12 04:57] bluebill1049 commented on #1192
all good :)

[2020-03-12 05:23] LucidNinja opened #1193 "Invalid prop 'checked' of type 'number' supplied to 'CheckBox', expected 'boolean'"
Please consider asking the question at our spectrum channel.

https://spectrum.chat/react-hook-form

**Describe the question?**

I am receiving the following error when attempting to use a CheckBox from React Native Elements with a Controller in React Native.

```Invalid prop 'checked' of type 'number' supplied to 'CheckBox', expected 'boolean ```

The Controller documentation seems a little hazy.

[2020-03-12 05:57] bluebill1049 commented on #1193
can you provide a codesandbox?

[2020-03-12 06:09] LucidNinja commented on #1193
I'll have to put one together. It's a complex project but I'll pick it apart and put in codesandbox. I just wondered if there was an obvious error in my code?

[2020-03-12 06:11] bluebill1049 commented on #1193
you can isolate the issue and produce a CSB tho. you may need to use `onChange`

[2020-03-12 12:45] kritijain2269 commented on #1003
Having the same issue. Tried using build version as well but it didn't work.

[2020-03-12 12:51] bluebill1049 commented on #1003
@Kryshtopenko @kritijain2269 can you guys follow up on the issue at testcafe-hammerhead? hopefully this will get resolved soon for you.

[2020-03-12 12:59] hareacostica opened #1194 "Async validationResolver types are missing"
**Describe the bug**
Types for validation resolver restricts it to a sync method only, while it can be async as well.

**Codesandbox link (Required)**
https://codesandbox.io/s/async-validationresolver-types-rhf-wxls1

**Expected behavior**
ValidationResolver should allow async method as well.

[2020-03-12 13:03] bluebill1049 commented on #1194
thanks @hareacostica you are right. will update that with the correct type.

[2020-03-12 13:05] bluebill1049 commented on #1194
feel free to send a PR as well @hareacostica

[2020-03-12 15:12] ivan-kleshnin opened #1197 "Controlled fields unsync after a validation"
**Describe the bug**

It's hard to describe in two sentences so I recorded a (short) video:
https://youtu.be/pGlLmBDLfNA

The gist of the bug (if that is a bug) is that two controlled fields

[code]

become unsynchronized after a validation.

An example, mentioned in video: https://github.com/ivan-kleshnin/react-hook-form-bug/tree/master/src

**To Reproduce**

1. Clone the repo: https://github.com

[2020-03-12 15:41] Kryshtopenko commented on #1003
Workaround.

1. **Install** **next** **dependencies** to your **project**:
`npm i -D @babel/core @babel/plugin-transform-runtime @babel/preset-env`

2. **Add**
`      {
        test: /\.(js)$/,
        exclude: [/node_modules\/(?!(react-hook-form)\/).*/],
        use: [
          {
            loader: "babel-loader"
          }
        ]
      },`
as **rule** to your **webpack.common.ts**.

3. **C

[2020-03-12 19:20] dimitir commented on #728
(errors.email as any)?.message it's work for me

[2020-03-12 19:22] dimitir commented on #725
(errors.email as any)?.message it's work for me
email it's you fildName

[2020-03-12 20:10] #1194 closed

[2020-03-12 20:16] bluebill1049 commented on #1003
oh wow @Kryshtopenko! thank you for sharing the solution.

[2020-03-12 20:17] #1185 closed

[2020-03-12 20:24] bluebill1049 commented on #1197
what's the usage like? you are mix uncontrolled with controlled.

[2020-03-12 20:46] rnnyrk commented on #1185
@bluebill1049 Unfortunately I'm still not able to get the issue resolved. Gonna try tomorrow in production mode

[2020-03-12 20:52] bluebill1049 commented on #1185
Ok I will keep an eye on this as I couldn’t reproduce this issue.

[2020-03-13 00:21] bluebill1049 commented on #1198
going to close this issue, i have updated the doc to reflect this. https://github.com/react-hook-form/react-hook-form-website/commit/1557669e198fbe84f424d932a8e7f63f5c5bc9fb

[2020-03-13 00:21] #1198 closed

[2020-03-13 03:14] shoko-eguchi opened #1199 "how to use triggerValidation with useEffect"
I want to run validation ckecks and display errors when the screen is initially displayed.
■what I use: react, react-hook-form, typescript
■detail:
there are multiple inputs to check.
Currently, no error is displayed unless 『setTimeout』is used.
isLoaded is true if data is fetched.
I think the timing of error display and readering is a problem.
I don't want to use setTimeout.
Do you know any ideas,

[2020-03-13 03:20] bluebill1049 commented on #1199
can you provide a codesandbox?

[2020-03-13 03:50] shoko-eguchi commented on #1199
I'll try.

[2020-03-13 03:52] bluebill1049 commented on #1199
by looking at the code, it's not going to working on the initial useEffect, because input hasn't been registered. that's why setTimeout worked.

[2020-03-13 03:55] astj opened #1200 "Swapping elements for one reference causes corrupted state"
**Describe the bug**
When unmouning one registered input and mounting another registered input at the same time and when they are both registered to the same reference, the newer one is not registered at first.
By triggering next rendering (by submitting the form or triggering rerender by "rerender" button at bottom of the page), the input seems to be registered.

**To Reproduce**
In codesandbox,

[2020-03-13 04:05] astj commented on #1200
We imagine this is due to MutationObserver's asynchronous callback (ref: https://github.com/react-hook-form/react-hook-form/blob/master/src/utils/onDomRemove.ts#L8 ), like:
- Old input unmounted and new input mounted
- `unregister` for the oldone  and `register` for the new one runs
  - By `register` for New input, the input is registered for "userName"
- Callback of MutationObserver for the old o

[2020-03-13 04:08] bluebill1049 commented on #1200
Your assumption is correct. You probably can use `unregister` during `useEffect` to solve this issue.

[2020-03-13 05:20] kiansenggoh opened #1201 "Yup validation for Field arrays"
Hi

How do use yup with field array? Got any examples?

[2020-03-13 05:28] bluebill1049 commented on #1201
do a search at spectrum: https://spectrum.chat/react-hook-form/help/how-to-validate-fields-when-using-usefieldarray~6fab8383-0feb-4f22-8d9d-2523c6d41582

[2020-03-13 05:28] #1201 closed

[2020-03-13 05:30] bluebill1049 commented on #1201
basically validate array of values :)

[2020-03-13 05:58] shoko-eguchi commented on #1199
codeSandBox is in preparation, I'm sorry.

I think so, too. I wish I could know a event like 『inputs is ready』.

[2020-03-13 05:59] bluebill1049 commented on #1199
that's useEffect.

[2020-03-13 06:04] ivan-kleshnin commented on #1197
I don't really know what to add more: there's a video, a sandbox, a description.

[2020-03-13 06:06] shoko-eguchi commented on #1199
oh, yes...I 'm confused

[2020-03-13 06:30] bluebill1049 commented on #1199
https://codesandbox.io/s/pedantic-bardeen-eiss8

[2020-03-13 06:43] shoko-eguchi commented on #1199
Thank you for replying.

[2020-03-13 06:46] bluebill1049 commented on #1197
1. you raised as a bug and i tagged as not valid, because it's not a bug. I didn't close the issue which means I am here to help.

2. Your time is as valuable as mine, in fact i am probably reading/solving/working more issues than just yours. In the template we labeled codesandbox as **required**, because i can check it and reproduce issue much easier. Can you imagine i have check out each issue w

[2020-03-13 06:48] bluebill1049 commented on #1199
let me know if that solve the issue, we can re-open the issue if that's the solution.

[2020-03-13 06:57] ivan-kleshnin commented on #1197
You're taking it too serious IMO. But, as you said, it's up to you. I'll figure out the solution myself.

[2020-03-13 06:57] #1197 closed

[2020-03-13 10:43] astj commented on #1200
Thank you for quick response.

I understand it's expected behavior.  So I'm going to close this issue for now.
I might re-open this issue if I find any difficulties and/or feedbacks around this case.  Thank you again!

[2020-03-13 10:43] #1200 closed

[2020-03-13 10:51] bluebill1049 commented on #1200
yea ,no worries @astj another alternative solution would just have two of them on the screen and toggle the visibility.

[2020-03-13 16:28] grdnrt opened #1203 "Losing functionality on hot reload"
Hey! I'm really hooked up (no pun intended) by this library and I really want to use it in production. But there's a little issue that arise during development, which is that the inputs are not responding as expected whenever a change to the file is made and the page hot-realoads.

**Repro:**
I made a Codesandbox with [Gatsby](https://codesandbox.io/s/proud-hill-uio2x) (which is my use case), and

[2020-03-13 17:05] TheMoonDawg commented on #1203
This happens to me as well. Would be cool to see it fixed, but refreshing my page to circumvent the issue isn't _terrible_, so I haven't been too bothered by it.

[2020-03-13 17:18] DreadCube opened #1204 "Form Submit resets inputs"
Hi guys! I have following form with my input:

![form 1](https://user-images.githubusercontent.com/13951257/76644580-8a980480-6557-11ea-9faf-e37d3567da33.PNG)

I have an on blur validation that looks valid:
![form 2](https://user-images.githubusercontent.com/13951257/76644611-98e62080-6557-11ea-84b4-a73aacf92cb6.PNG)

But if i click on the submit button (next step), my input resets:

![form 3](htt

[2020-03-13 18:06] DreadCube commented on #1204
Fixed it by my own :)
Had to use:
[code]

[2020-03-13 18:06] #1204 closed

[2020-03-13 19:19] hernanG89 commented on #709
Spanish available here.

[2020-03-13 21:12] bluebill1049 commented on #709
hey @hernanG89 thanks! I need Spanish translation help badly... did a lot of google translate. can you please take a look at this folder: https://github.com/react-hook-form/react-hook-form-website/tree/master/src/data/es didn't have to do them all, chunk by chunk will be awesome. thanks.

[2020-03-13 21:37] bluebill1049 commented on #1203
hey @grdnrt & @TheMoonDawg. Thank you for checking out this lib and feedbacks. I think i should probably leave this answer on our FAQ page as well. This is actually expected behavior, let me explain :)

React Hook Form embraces uncontrolled inputs while still give the performance enhancement with external controlled components by Controller. Your input example didn't work because there is no `defa

[2020-03-14 14:39] hperl opened #1208 "Nested field arrays break data.slice"
**Describe the bug**
`data.slice is not a function` when removing multiple sub-elements in nested field arrays.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-defaultvalues-4o5iu
2. Click on "Add element"
3. Click on "add subelement" twice
4. Click on "remove subelement" twice
4. After the second "remove subelement" the app breaks with `data.sl

[2020-03-14 15:39] jtoliver commented on #1208
So if you add 3 items you have some thing like element[0].name, element[1].name, element[2].name then remove element 1...things shift leaving you with element[0].name, element[1].name where 1 used to be 2. But you are not unregistering fields so element still has extra items registered that should be. I just had this issue and swap to the <Controller /> component so it would take care of auto regi

[2020-03-14 18:00] hperl commented on #1208
I'm still confused. What would the correct way be to do nested field arrays?

[2020-03-14 19:49] chris-fran commented on #296
Seems to me like it would be easier if we could just import the typings directly from the library, rather than manually doing this hack, though

[2020-03-14 22:25] bluebill1049 commented on #1208
https://react-hook-form.com/api#useFieldArray
<img width="933" alt="Screen Shot 2020-03-15 at 9 24 45 am" src="https://user-images.githubusercontent.com/10513364/76691457-db664500-669e-11ea-99b4-bdd669772f58.png">

it's due to `register` not to get invoked inside `map` when using with `FormContext`.

[2020-03-14 22:26] bluebill1049 commented on #1208
for more information and background: https://github.com/react-hook-form/react-hook-form/issues/1198

[2020-03-15 01:15] chris-fran opened #1209 "Can I use useFieldArray hook to create and manage multiple inputs at once?"
**Describe the question?**

I want an array of "emergency contacts", 3 inputs per contact. So far, useFieldArray docs makes it look like it'd need to call it 3 times (1 per input) per emergency contact.

Does it support adding multiple input on a single `useFieldArray()` call? if so, where are the docs on it? Thanks!

[2020-03-15 01:25] bluebill1049 commented on #1209
you are right. the doc is not updated. I will do so. thanks.

[2020-03-15 01:25] bluebill1049 commented on #1209
`append([...])`

[2020-03-15 02:04] jtoliver opened #1210 "Correct way to set input defaults using controller"
**Describe the question?**

Long story short... I've built the form using a smart form ish pattern. I need to set defaultValues from redux state. I've tried to both setting defaultValues and useEffect/reset. On the actual input I've set `defaultValue=""` which overrides what defaultValues and reset has set. I figured I can use defaultValue on a input, so I wouldn't have write a function to figure

[2020-03-15 02:13] bluebill1049 commented on #1210
I think this is what you want right? https://codesandbox.io/s/react-hook-form-controller-9pgbr

[2020-03-15 02:13] bluebill1049 commented on #1210
![image](https://user-images.githubusercontent.com/10513364/76693758-ca2d3080-66be-11ea-9477-5d74b75886fb.png)

[2020-03-15 02:22] jtoliver commented on #1210
Yes, but i'm getting a "A component is changing an uncontrolled input of type text to be controlled" message because i'm using onChange. Which I need.

[2020-03-15 02:22] jtoliver commented on #1210
Also I appreciate the fast response. :)

[2020-03-15 02:27] bluebill1049 commented on #1210
no worries, make sure you provide `defaultValues` for all the fields.

[2020-03-15 02:28] bluebill1049 commented on #1210
https://codesandbox.io/s/react-hook-form-controller-9pgbr

[2020-03-15 06:21] github0013 opened #1211 "clearing errors object when to return errors: {} from a resolver"
**Is your feature request related to a problem? Please describe.**

1. mode: onChange
2. use validationResolver
3. have errors in more than one inputs
4. validate all inputs by one of the inputs, and return `errors: {}` in the resolver

Currently `errors: {}` doesn't clear `const {errors} = userForm()` this errors object entirely.   resolver only updates the errors for the specific input you chang

[2020-03-15 06:37] lucaschen opened #1212 "Cannot use two inputs with the same name"
**Describe the bug**
I cannot use two inputs with the same name, that I switch between using a checkbox.

**To Reproduce**

[code]

The `<input name="someValue" />` gets unmounted and re-rendered - the new one doesn't work. Only the original one works (when the checkbox is unchecked).

**Codesandbox link (Required)**
[https://codesandbox.io/s/friendly-chaum-w4tbj](https://codesandbox.io/s/friendly

[2020-03-15 06:42] bluebill1049 commented on #1212
<img width="922" alt="Screen Shot 2020-03-15 at 5 41 18 pm" src="https://user-images.githubusercontent.com/10513364/76696864-366e5b00-66e4-11ea-8d6a-bb02317d6e1e.png">

This is expected behavior, an alternative solution will be unregister the field manually.

[2020-03-15 09:22] hperl commented on #1208
Thanks @bluebill1049 I missed that in the docs. Now everything works like a charm. Thanks again for the support and the great library!

[2020-03-15 09:22] #1208 closed

[2020-03-15 09:23] bluebill1049 commented on #1208
my pleasure :) sorry about this not so user-friendly behavior. we have tried to fix it...

[2020-03-15 12:47] rmlevangelio opened #1213 "Validation gets triggered on blur even the mode was set to 'onChange'"
**Describe the bug**
Hi, I just found a bug with the onChange mode. Validation gets triggered on blur even the mode was set to `onChange`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-controller-1wurt
2. Click on Uncontrolled input textbox (dont type anything)
3. Remove the focus
4. Error is shown

**Codesandbox link (Required)**
https://codes

[2020-03-15 13:47] rmlevangelio commented on #1213
Actually, I think this behaviour is expected. If the mode was set to `onChange`, it should also trigger the `onBlur`.

If this is the case, it’s the other way around.  The controlled component doesn’t trigger the validation if the the input has been focused and blurred without user input.

[2020-03-15 15:09] kiansenggoh opened #1214 "react-select not working during onChange"
hi react-select onChange doesn't update the component properly.
after the onChange's return, the react-select display blank.

using your documentation codesandbox url,
https://codesandbox.io/s/react-hook-form-controller-079xx

i added the following code to the react-select's Controller,
`onChange={([selected]) => {
          // React Select return object instead of value for selection
          re

[2020-03-15 15:42] sstraus commented on #424
Same problem with @4 and @5

'react-hook-form' does not contain a default export (imported as 'useForm').

[2020-03-15 15:45] kiansenggoh opened #1215 "missed out new OmitResetState in contextTypes for typescript?"
![image](https://user-images.githubusercontent.com/56799988/76704887-16a45a80-6717-11ea-9ef8-89c61de09e32.png)

[2020-03-15 17:09] grdnrt commented on #1203
Hey @bluebill1049! Thank you so much for the detailed response. I tried it again with the sandbox and it seems that the validation is still not working as expected.

As you can see, when we submit the form without any previous hot reload, this is logged:

<img width="326" alt="Screen Shot 2020-03-15 at 14 01 35" src="https://user-images.githubusercontent.com/13141462/76706338-7d008d00-66c5-11ea-99

[2020-03-15 20:06] JoaoGuedes commented on #1208
https://github.com/react-hook-form/react-hook-form/issues/1198#issuecomment-597555557

@bluebill1049 seems that even using `register()` won't work as expected, if you run your example and do `append` and then `remove` both items you'll get the `data.slice` error.

Seems something's off with `getFieldValueByName(fieldsRef.current, name)` in `remove()` in `utils/useFieldArray.ts` as it sometimes ret

[2020-03-15 21:23] bluebill1049 commented on #1208
@JoaoGuedes what do you mean run append and remove at the same time? I don't think that's going to work since the input is not even registered.

[2020-03-15 21:27] bluebill1049 commented on #1213
`onChange` should only trigger validation `onChange`, this is a bug which i will fix for native input.

[2020-03-15 21:28] bluebill1049 commented on #1214
make sure you have the latest version: https://codesandbox.io/s/react-hook-form-controller-079xx

[2020-03-15 21:30] bluebill1049 commented on #424
`import { useForm } from 'react-hook-form'` @sstraus

[2020-03-15 21:30] bluebill1049 commented on #1215
good one, you want to spend a PR?

[2020-03-15 21:36] JoaoGuedes commented on #1208
Initially you have `useFieldArray` > append a new one (`append`) > remove `append` > try to remove `useFieldArray` and it crashes

[2020-03-15 21:45] bluebill1049 commented on #1208
thanks @JoaoGuedes what do you mean?

-  try to remove useFieldArray and it crashes

i am trying to isolate the issue and apply a fix for it.

[2020-03-15 22:00] JoaoGuedes commented on #1208
I mean deleting the row that has the `useFieldArray` text value

[2020-03-15 22:00] rmlevangelio commented on #1213
@bluebill1049 is it possible to use two modes? Like I want to use `onChange` plus `onBlur`?

[2020-03-15 22:13] bluebill1049 commented on #1213
not this stage, you will have attach onBlur (triggerValidation) with onChange

[2020-03-15 22:14] bluebill1049 commented on #1208
@JoaoGuedes fixed it's an outdated version: https://codesandbox.io/s/react-hook-form-usefieldarray-kbsls

[2020-03-15 22:15] bluebill1049 commented on #1203
we can improve this on dev env. i will investigate sometimes on it.

[2020-03-15 22:37] #1214 closed

[2020-03-15 23:36] bluebill1049 commented on #1213
feel free to send a feature request, i can tag it for voting and keep it at the back log in the project.

[2020-03-15 23:50] bluebill1049 commented on #1203
This should fix it: https://codesandbox.io/s/trusting-panini-k753y

[2020-03-16 00:22] bluebill1049 commented on #1203
I have isolated the root cause, hot re-load does trigger useEffect's callback (unsubscribe methods) which in react-hook-form we do a clean up with all the fields. as a solution for better DX, i may disable that clean up only in dev env.

https://codesandbox.io/s/trusting-panini-k753y

[2020-03-16 00:26] shoko-eguchi commented on #1199
sorry, I did not solve.
I removed setTimeout and wrote like this↓
[code]

The rendering runs like infinity.

[2020-03-16 00:43] bluebill1049 commented on #1199
take a look mine: https://codesandbox.io/s/pedantic-bardeen-eiss8

[2020-03-16 01:04] #1215 closed

[2020-03-16 01:09] tommedema commented on #1213
I have exactly the same issue and made a demo video here:

https://app.usebubbles.com/e502420e-c5bb-4106-b55d-1dfd316b7e69

[2020-03-16 01:40] bluebill1049 commented on #1212
going to close this issue, feel free to follow up with questions.

[2020-03-16 01:40] #1212 closed

[2020-03-16 01:41] #1199 closed

[2020-03-16 07:15] lobopl opened #1221 "Clean dirty state after using setValue"
I have big nested form that has multiple field that depend on different fields, everything works great, but I want to add feature blocking closing this big form if user made some changes (basically he needs to confirm this action). While user edit this form data is filled with reset for fields that are always visible and setValue for fields that are not always visible (because if user change logic

[2020-03-16 07:22] bluebill1049 commented on #1221
we don't have anything manually to change formState such as dirty, but you can use `reset` as work around.

[2020-03-16 07:28] lobopl commented on #1221
Unfortunately i cannot use reset, because i cannot have some fields default values to be set but they have to get values set see https://github.com/react-hook-form/react-hook-form/issues/1041 i will try to work around this problem

[2020-03-16 07:56] bluebill1049 commented on #1221
`reset(getValues())`?

[2020-03-16 08:10] lobopl commented on #1221
this will set default values so it will not work as i want

[2020-03-16 08:11] bluebill1049 commented on #1221
get values the form and set the form values, and then reset the formState?

[2020-03-16 08:12] bluebill1049 commented on #1210
i am going to close this issue, feel free to follow up with more questions (if my example above is not working for you).

[2020-03-16 08:12] #1210 closed

[2020-03-16 08:33] rmlevangelio opened #1222 "Support `onChange` and `onBlur` mode at the same time"
**Is your feature request related to a problem? Please describe.**
The problem is what if I want my input to validate onBlur and onChange at the same time.

**Describe the solution you'd like**
For instance, I want my field to validate right away after I remove focus on it (which is what `onBlur` is currently doing) plus when I input something on it, it will do also validate as well (which is what

[2020-03-16 08:38] bluebill1049 commented on #1222
thankrs @rmlevangelio  for the feature request. my suggestion:

[code]

will leave this issue for awhile, before move into back log.

[2020-03-16 08:39] rmlevangelio commented on #1222
@bluebill1049 thanks !

[2020-03-16 09:11] bluebill1049 commented on #1211
ok @github0013 i have completely my investigation. Short story, i think we will keep what we got for now. Let me explain the reason behind. Feel free to leave your thoughts as well.

The way we trigger re-render is based on error appear/disappear: https://github.com/react-hook-form/react-hook-form/blob/master/src/useForm.ts#L563 which is one of the performance enhancement for this library. If erro

[2020-03-16 12:16] IWCollege-AaronBentley opened #1223 "Using Controller with React-Nice-Dates datepicker"
**Describe the bug**
I'm trying to use a date picker for selecting a booking date, using a yup schema for validation.

After selecting a date using [`react-nice-dates`](https://github.com/hernansartorio/react-nice-dates) date picker, the input value is not acknowledged and the field is marked as a validation error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to this [simplified CodeS

[2020-03-16 12:22] bluebill1049 commented on #1223
This is not a bug. can you wrap ReactNiceDatesPicker at Controller level and do a test.

[2020-03-16 13:55] IWCollege-AaronBentley commented on #1223
@bluebill1049 Thank you for the swift reply and apologies for my issue labelling error 🙏

I've forked my original demo to create an [updated CodeSandbox](https://codesandbox.io/s/react-hook-form-and-react-nice-dates-wyhhh?fontsize=14&hidenavigation=1&theme=dark) and simplified it further to wrap the date picker at controller level as instructed in your previous comment.

Unfortunately after testin

[2020-03-16 14:26] grdnrt commented on #1203
Awesome, that will be cool @bluebill1049. In the mean team I already started to implement it at work, thanks again!

[2020-03-16 14:28] vensauro opened #1224 "prepend from useFieldArray loose values"
**Describe the bug**
When i use the prepend function with the `Controller`, he looses the value in the second call to prepend.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [codesanbox example](https://codesandbox.io/s/react-hook-form-usefieldarray-u7rxf).
2. Set values to the form.
3. Click on prepend button.
4. Set values for the new inputs
5. Click again in prepend
6. See that the

[2020-03-16 16:16] tommedema commented on #1213
@bluebill1049 thanks for the fix but do you know how to install this? I tried:

[code]

but Typescript cannot find the package: `Cannot find module 'react-hook-form'.ts(2307)`

[2020-03-16 17:21] DeepeshKr commented on #706
@khanakia it works if set the defaults values like this:
[code]

[2020-03-16 18:58] mxcl commented on #1224
I have a similar issue with `append` but it only happens for the values inserted into the form via `useForm({ defaultValues })`. Possibly the same issue since your Codesandbox does the same.

I‘m up to date.

[2020-03-16 19:48] DeepeshKr commented on #103
I am trying to get existing values to show up in the form with delay (to simulate remote fetch) but the form does not update, or i am doing something wrong or missing something here... any clues?

https://codesandbox.io/s/react-hook-form-bug-bh5kh

[2020-03-16 20:03] rnnyrk commented on #1185
Still no clue what caused the issue, but the same code works now.

[2020-03-16 20:14] kylenguyen1014 commented on #681
Has anyone been able to use useFieldArray with Autocomple (multiple values) ? I make it work but only without required validation

[2020-03-16 21:55] bluebill1049 commented on #1223
no worries :) here you go: https://codesandbox.io/s/react-hook-form-and-react-nice-dates-wrapped-at-controller-qogy4

because the external component is not following standard `onChange` and `value` props.

have a read on the doc: https://react-hook-form.com/api#Controller where you can change the method and value name :)

[2020-03-16 21:55] bluebill1049 commented on #1203
I will implement this soon and publish it over the weekend.

[2020-03-16 21:57] bluebill1049 commented on #1213
you want a beta version @tommedema?

[2020-03-16 21:58] bluebill1049 commented on #1185
no worries @rnnyrk let me know if anything else i can help. i try my best.

[2020-03-16 21:59] bluebill1049 commented on #681
you want to send a simple codesandbox @kylenguyen1014 ? we can take a look there.

[2020-03-16 22:17] tommedema commented on #1213
Yes, please @bluebill1049

[2020-03-16 22:18] bluebill1049 commented on #1213
I will re-open this issue so i remind myself to publish a beta version.

[2020-03-16 22:22] rmlevangelio commented on #1213
@bluebill1049 I saw you released this already on 5.1.1 right?

[2020-03-16 22:25] bluebill1049 commented on #1213
no, not really. i will have to release a beta version for this.

[2020-03-16 23:01] chris-fran opened #1225 "How can I trigger validation with a ref?"
### Description

I have a Material UI dialog with a Wizard/Funnel with multiple forms inside. Since Material Design demands the button to be on the bottom part of the dialog, there is no submit button inside any form.

[code]

Clicking on the "Just to test" button correctly triggers the validation on the form. However, the call `formRef.current!.submit()` causes a page refresh.

What's the right w

[2020-03-16 23:03] bluebill1049 commented on #1225
can we please try to post question at spectrum and supply with a CSB?

[2020-03-16 23:12] chris-fran commented on #1225
@bluebill1049 Sure thing. what does CSB stand for?

[2020-03-16 23:16] bluebill1049 commented on #1225
codesandbox :) thans @chris-fran for understanding, i normally keep track for issues/bugs here and follow up questions at spectrum.

[2020-03-16 23:17] kyeotic opened #1226 "Document validationResolver result"
The current documentation for `validationResolver` gives very little information on what the return/result value should look like. A complete example that does not rely on knowledge of external libraries like **joi** or **yup** would be very helpful.

Specifically

* What shape is `return.values`?
* What shape is `return.errors`?

[2020-03-16 23:20] chris-fran commented on #1225
@bluebill1049 no problem, you always help me so the least I can do is make it easier for you. I'm REALLY grateful man :)  love this library

[2020-03-16 23:31] chris-fran commented on #1225
Posted it in here: https://spectrum.chat/react-hook-form/help/how-can-i-trigger-validation-with-a-ref~19f79408-773c-4d3e-a447-5c4a401349d7

[2020-03-16 23:31] #1225 closed

[2020-03-16 23:39] kylenguyen1014 commented on #681
@bluebill1049 Thanks for the quick reply. I have successfully been able to use useFieldArray with Autocomplete (multiple values and with custom validation as well ).
My next question is does react-hook-form support nested inputs of an array of components ? For instance, I have a component ( Condition ) with multiple input fields. Am I able to have multiple Condition components and use useFormConte

[2020-03-16 23:42] bluebill1049 commented on #1225
awesome thanks, i will take a look there.

[2020-03-16 23:42] bluebill1049 commented on #1224
https://codesandbox.io/s/react-hook-form-usefieldarray-u7rxf

[2020-03-17 00:23] LucidNinja commented on #1193
Hi @bluebill1049 - this is the closest I can get it, using state, but the first click is delayed. I don't think it is the ideal scenario because i'm using state and react-hook-form to handle the state of the checkbox. [https://snack.expo.io/Hy2Md5pHI](url)

[2020-03-17 00:25] bluebill1049 commented on #1193
why do you need to use `state`?

[2020-03-17 00:25] LucidNinja commented on #1193
If I remove it, then the checkbox doesn't ever change

[2020-03-17 00:30] bluebill1049 commented on #1193
sounds like a defaultValue issue. have you take a look at the doc: https://react-hook-form.com/api/#Controller you can rename the value using `valueName` i am in the middle of my work (day job) i haven't got time to look at your code example just yet.

[2020-03-17 00:34] bluebill1049 commented on #1226
@kotarella1110 maybe you can help on improve the return type as well (if you got time) :)

[2020-03-17 00:36] LucidNinja commented on #1193
Yeah I'm pretty sure I'm setting the valueName properly (using `valueName="checked"`), otherwise it wouldn't be working at all.  Totally understand that you're at work. My code snippet isn't huge, but I get it. What timezone are you in?

[2020-03-17 00:39] github0013 commented on #1211
Thank you for spending time on this.
One of the major reasons that we want to use this library against Formik is "performance."   So I guess if you don't feel comfortable, this should be the way.

It's just gonna a little gotcha we have to keep in mind when to use resolver.

[2020-03-17 00:41] bluebill1049 commented on #1211
good point @github0013 i will re-open this issue and update the documentation.

[2020-03-17 00:41] LucidNinja commented on #1193
Here is a minimal (class based) example of how to use React Native Elements' checkbox:

[code]

I guess I just need to know how to wrap this with the Controller, because something I'm doing isn't working!

[2020-03-17 00:43] bluebill1049 commented on #1193
I am re-open this, will take a look this when i am free @LucidNinja

[2020-03-17 00:43] LucidNinja commented on #1193
Great. Thank you! I'm just providing the information that I can. Thanks!

[2020-03-17 00:48] bluebill1049 commented on #1193
thanks @LucidNinja can you make sure the example is not contain errors.
<img width="1680" alt="Screen Shot 2020-03-17 at 11 48 03 am" src="https://user-images.githubusercontent.com/10513364/76811302-2cb03900-6845-11ea-9bec-da0aadeb16a9.png">

[2020-03-17 00:52] LucidNinja commented on #1193
I'm not seeing any errors.

![Screen Shot 2020-03-17 at 11 20 47 am](https://user-images.githubusercontent.com/29149363/76811491-9cbcc000-6841-11ea-80df-67c157812afa.png)

[2020-03-17 00:53] LucidNinja commented on #1193
Make sure you're using iOS as the simulator, not web

[2020-03-17 00:59] bluebill1049 commented on #1193
[code]

here you go. i can't see what's in the payload with expo sandbox. you can work this out.

[2020-03-17 01:02] LucidNinja commented on #1193
That console.log returns a huge amount of data.

[code]

[2020-03-17 01:08] bluebill1049 commented on #1193
i am not familiar with the API, but you need to return the checked attribute and it should worked. have a dig around in their api :)

[2020-03-17 01:09] LucidNinja commented on #1193
Ok. I'll see how I go and let you know.

[2020-03-17 01:10] bluebill1049 commented on #1213
`5.1.2-beta.1` here you go.

[2020-03-17 01:10] #1213 closed

[2020-03-17 01:19] LucidNinja commented on #1193
This is their checkbox source: https://github.com/react-native-elements/react-native-elements/blob/next/src/checkbox/CheckBox.js

At it's core it uses TouchableOpacity (React Native component)

I still feel just as lost - trying to figure out how the Controller and this component talks to each other.

[2020-03-17 01:21] LucidNinja commented on #1193
It's really such a simple component, as referenced above: https://github.com/react-hook-form/react-hook-form/issues/1193#issuecomment-599820969. The checkbox without react-hook-form is toggled via state. It's either true or it's false.

[2020-03-17 01:23] bluebill1049 commented on #1193
Controller just need the state of `checked` during the change event in your case `onPress`.

[2020-03-17 01:25] bluebill1049 commented on #1193
I am not familiar with that lib, but as standard onChange/onPress should provide the state of the checkbox. try e.nativeEvent.

[2020-03-17 01:26] LucidNinja commented on #1193
That is undefined.

[2020-03-17 01:29] LucidNinja commented on #1193
The problem is, the state of 'checked' is passed down as a prop. It isn't controlled by the library.

[2020-03-17 01:32] LucidNinja commented on #1193
But the other input components in my form ARE controlled.

[2020-03-17 01:35] LucidNinja commented on #1193
If it helps, here is a comparison between using react-hook-form and NOT using it for the Checkbox component: https://snack.expo.io/rybXKo6SU

[2020-03-17 01:38] tommedema commented on #1213
Tested it just now and it seems to work well. Thanks!

[2020-03-17 01:38] bluebill1049 commented on #1193
[code]

i am not sure why it's not return current checked, but here is a workaround. I think we can close this issue now.

[2020-03-17 01:39] bluebill1049 commented on #1213
awesome thanks @tommedema

[2020-03-17 01:40] LucidNinja commented on #1193
That work around doesn't work, as the setting of state is delayed. That is my original code which I said doesn't work.

[2020-03-17 01:41] bluebill1049 commented on #1193
https://snack.expo.io/@bluebill1049/lonely-scone

[2020-03-17 01:42] bluebill1049 commented on #1193
if this doesn't work, i don't think there is much more i can help in here. it's more of a dependency issue.

[2020-03-17 01:44] LucidNinja commented on #1193
This doesn't work at all. It allows you to turn the checkbox off, but not on again. I think react-hook-form needs clearer documentation, especially regarding React Native.

[2020-03-17 01:46] #1193 closed

[2020-03-17 01:49] kotarella1110 commented on #1226
@bluebill1049 I will look into it after!

[2020-03-17 01:53] bluebill1049 commented on #1193
I don't think there is any more i can help in here as i have already offer my own lunch time (and try to help as much as i can here). you can down vote and complain about the documentation, but remember this is open source project. no one owns you anything rather you should consider to contribute. it's always easy say you need this and that while you offer nothing on the table. learn how to be app

[2020-03-17 01:58] bluebill1049 commented on #1193
I have removed many of my replies here as well, apparently as my help is useless, so no point of keep them here too.

[2020-03-17 03:14] bluebill1049 commented on #1226
thank you @kotarella1110 i can take care the doc afterwards 👍

[2020-03-17 03:35] EkaterinaMozheiko opened #1229 "Usage of useFormContext, useFieldArray and Controller"
Hi,
is it possible to use Controller, useFormContext and useFieldArray together? It seems that formState.dirty doesn't work correctly in this case - it isn't updated when I add or remove a field.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-usefieldarray-9z0ur

[2020-03-17 03:42] #1224 closed

[2020-03-17 03:48] #1203 closed

[2020-03-17 04:26] grdnrt commented on #1203
This is great! Thank you @bluebill1049  crazy fast!  🎉

[2020-03-17 04:27] bluebill1049 commented on #1203
no worries @grdnrt i will publish it with everything else this weekend. Thanks for your support.

[2020-03-17 04:28] bluebill1049 commented on #1229
This should fix the problem: https://codesandbox.io/s/react-hook-form-usefieldarray-s3nxp working on solution.

[2020-03-17 04:48] #1229 closed

[2020-03-17 04:57] #1221 closed

[2020-03-17 06:21] pvdlg opened #1231 "Value returned by watch doesn't change when typing for array fields"
**Describe the bug**

When generating fields from an array(similar to https://react-hook-form.com/advanced-usage#FieldArrays) and using `watch` to detect a change the value retuned by watch doesn't change as the user type in the field.

The name of the field is generated as `field.${item.id}` and watch is called with `watch('field')`.

This used to work in version 4.9.8 and stopped working in 4.9.

[2020-03-17 06:26] bluebill1049 commented on #1231
https://react-hook-form.com/api#useFieldArray

<img width="937" alt="Screen Shot 2020-03-17 at 5 26 08 pm" src="https://user-images.githubusercontent.com/10513364/76828164-6e0c0d00-6874-11ea-80e8-64efe8c29748.png">

I think this is in the docs.

[2020-03-17 06:27] bluebill1049 commented on #1231
I will take a look your example later as well.

[2020-03-17 08:00] #1231 closed

[2020-03-17 08:58] IWCollege-AaronBentley commented on #1223
Thank you @bluebill1049, I really appreciate you taking the time to investigate this 😊 and can confirm everything is working as I initially intended. 🎉

I've been porting over all forms in my latest project to use `react-hook-form` and I must say the DX is sooooooo nice, I love the 'bring your own UI' approach, `yup` validation is nothing short of awesome and the render performance optimisations m

[2020-03-17 08:58] #1223 closed

[2020-03-17 09:04] bluebill1049 commented on #1223
Oh man you are too kind! Thank you very much for your feedback. To be honest i am so glad this lib is working for you, you are definitely my target audience who is nice, kind and appreciative!

[2020-03-17 14:35] wenchonglee opened #1234 "Using ternary operator causes the fields to get incorrect defaultValue"
Hey,
First off, thanks for open sourcing this library, I really appreciate it.

I encountered this issue that I'm not sure if it should be solved by the library, or if it can just be documented.

**Codesandbox link (Required)**
https://codesandbox.io/s/loving-dew-7i24k

**To Reproduce**
1. Toggle the switch
2. Get an error

In the sandbox, you will see that I have a ternary operator that switches

[2020-03-17 16:05] TheMoonDawg commented on #1203
Awesome to see! Thanks @bluebill1049 !

[2020-03-17 17:12] IngenieroLata commented on #769
I got the same error on a brand new project I started with `expo`.

<img width="663" alt="Screen Shot 2020-03-17 at 12 01 28 PM" src="https://user-images.githubusercontent.com/5667514/76881443-228f3a00-6847-11ea-9e6a-d5b9e02500b0.png">

Here is the component

[code]

[2020-03-17 17:14] dattebayorob opened #1235 "Problem with PrimeReact component and Controller"
**Describe the bug**
Using the PrimeReact component SelectButton with booleans as value, the selected fallback to the component doesnt work.
I dont thing this is a primereact bug, since using the component directly works ( Case sample on the codesandbox above too )

**Codesandbox link (Required)**
https://codesandbox.io/s/elegant-chebyshev-3u0rs

**Expected behavior**
In the code sandebox, The fir

[2020-03-17 19:12] rnnyrk opened #1236 "Update values in useFieldArray from outside form"
Hi,

I'm not sure if I'm doing something wrong, or that I've found a bug.
Within my project I'm using a `useFieldArray` which contains categories. I can insert a category from a modal. This works fine. But when I try to update the value of this category nothing happens when I use `setValue`, or the `fields` are removed when I reset the values baesd on `getValues()` because the categories aren't an

[2020-03-17 19:32] JuanmaMenendez opened #1237 "Component wrapped under <Controller> not being autoselected(focused) after validation error"
**Describe the bug**
After a submit, the corresponding validation error is properly detected but the Component wrapped under \<Controller\> not being autoselected(focused).

**To Reproduce**
1. Go to https://codesandbox.io/s/mui-autocomplete-with-react-hook-form-ljttt
2. Click on 'Get Country Code' button

**Codesandbox link (Required)**
https://codesandbox.io/s/mui-autocomplete-with-react-hook-fo

[2020-03-17 19:54] don-motorefi opened #1238 "Implementation of triggerValidation() causes TypeScript warning"
**Describe the bug**
The type definition for triggerValidation() shows that it returns a Promise.  If the Promise isn't handled in the calling code - as shown in the docs example - then this causes a TS warning when checking Promise via eslint:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add the eslint rule noted above.
2. Call `triggerValidation()` without handling the Promise, a

[2020-03-17 21:08] bluebill1049 commented on #1203
No worries @TheMoonDawg 👍

[2020-03-17 21:10] bluebill1049 commented on #769
`onChange={args => args[0].nativeEvent.text}` i probably need to update the doc, but take a look the error message.

[2020-03-17 21:13] bluebill1049 commented on #1237
This is expected. I will need to include this in the doc. Because the external controlled component doesn't guarantee to provide ref.

[2020-03-17 21:17] bluebill1049 commented on #1236
can you do a simple version (remove all the complexity and redux)? keep it simple and it helps me as well.

[2020-03-17 21:18] bluebill1049 commented on #1235
It's not a bug with the Controller, it's probably just about the value that you return. I will take a look at it.

[2020-03-17 21:18] bluebill1049 commented on #1234
I will update doc on this one in a FAQ.

[2020-03-17 21:24] dattebayorob commented on #1235
Thanks!
The problem happens when a boolean is returned.

[2020-03-17 21:25] dattebayorob commented on #1235
For now I'm mapping the property to numeric values ( 0 and 1 ) kkkk

[2020-03-17 22:21] bluebill1049 commented on #1235
I see the reason why, we transform boolean value into `checked` attribute which is following the standard checkbox, while PrimeReact only access value. unfortunately, for now you will have to stick with string.

[2020-03-17 22:45] bluebill1049 commented on #1211
website updated.

[2020-03-17 22:45] #1211 closed

[2020-03-17 23:18] bluebill1049 commented on #1234
Thanks for the kind words. ❤️ I find it hard to documented this down, do you have any suggestion? the two components that you are toggling with having different data shape and probably internal structure as well, which is lead to the confusing with defaultValues been mismatch. It's specific to a particular component as well. The error is fired on that external component as well, if you change to n

[2020-03-17 23:27] bluebill1049 commented on #1238
`triggerValidation` return a promise because user still subscribe to the validation result and does some action upon it. however, you can still omit such behaviour, i think the type is correct for what it returns and it's intension.

[2020-03-17 23:43] #1238 closed

[2020-03-18 00:28] dattebayorob commented on #1235
Ok, thanks anyway. For now I will use a proxy to convert booleans to string

[2020-03-18 00:31] bluebill1049 commented on #1235
cool, thanks for update.

[2020-03-18 00:31] #1235 closed

[2020-03-18 00:37] JuanmaMenendez commented on #1237
@bluebill1049 don't you think that behavior will affect the user experience? I am pretty sure it will.

Do you have any workaround?

Thanks for your answer and time

[2020-03-18 00:44] shoko-eguchi commented on #1199
triggervalidation was put in the second argument of useEffect.
Then triggervalidation no work(no error is displayed).

[2020-03-18 00:45] bluebill1049 commented on #1237
will.

@JuanmaMenendez This is not a problem for this lib. In fact react hook form is trying to  improve the experience for the user when you are using native inputs (because ref is exposed and we can focus on the error input). How can we guarantee external lib provide the correct ref?  eg: AntD's input ref is an `object` which contains all thoughts of data.

As workaround: you will have to hold t

[2020-03-18 00:46] bluebill1049 commented on #1199
@shoko-eguchi can you update this CSB: https://codesandbox.io/s/pedantic-bardeen-eiss8 and i will take a look again.

[2020-03-18 00:54] JuanmaMenendez commented on #1237
can you please show us a code example of the workaround, maybe this codepen can be used as reference https://codesandbox.io/s/mui-autocomplete-with-react-hook-form-ljttt it uses material UI

I believed Controller always had access to the internal ref, I don't know how it has access to the internal values if is not through the ref.

PS: I really love your library and appreciate your support

[2020-03-18 01:00] bluebill1049 commented on #1237
No, we actually don't. It's just wrapper component which render the external component.

Here is the idea and example:

[code]

[2020-03-18 01:07] wenchonglee commented on #1234
I would help you document this but I'm not sure I understand well enough yet.

Can you explain what do you mean by changing to native input?
I updated the codesandbox to use what I think you meant by native input, but the problem is still there. https://codesandbox.io/s/loving-dew-7i24k

When you toggle the switch, you can see that `input1` always retain the defaultValue of `input2`.
In the ternar

[2020-03-18 01:18] bluebill1049 commented on #1234
I meant toggle your example with native input.

You are right :)

Sounds good, i will use that as title and extend with description and context.

[2020-03-18 01:45] wenchonglee commented on #1234
Great, thanks for the clarifications :)

[2020-03-18 02:52] bluebill1049 commented on #1234
let me know if you think it make sense and feel free to adjust and add your words too. thanks

[2020-03-18 02:55] bluebill1049 commented on #1237
also this what i am going to update on the FAQ, let me know if this make sense or things you would like to improve. i am supply with an example as well:

[2020-03-18 08:00] rnnyrk commented on #1236
@bluebill1049 Although I don't think it should matter I'd clean up the example. Hopefully this helps ;)

[2020-03-18 08:02] bluebill1049 commented on #1236
thank you @rnnyrk it's just a bit easier for me to take a look tonight.

[2020-03-18 12:20] wenchonglee commented on #1234
I think it's fine, but maybe adding an example would help?

Here's a trimmed down example of my codesandbox, you could edit it to your liking and add it if you want.

[code]

Cheers!

[2020-03-18 12:24] bluebill1049 commented on #1234
awesome thanks will add your example as well :)

[2020-03-18 13:28] mxcl commented on #1224
For others that might read this: My issue was I was setting the key in the wrong place.

Also I had `id` on my data already which possibly was the problem, you can get `useFieldArray` to use a different id for itself internally thus: `useFieldArray<Type>, 'idKeyName'>()`

[2020-03-18 13:35] JuanmaMenendez commented on #1237
I think an explanation a little more practical for non expert people could be something like:

"After a validation error, **React Hook Form** will automatically focus on the invalids elements of which have their proper **ref**, like the native inputs (eg: **\<input type="text"\>**) or some 3rd party Components that correctly export his **ref** (eg: from MUI **<TextField name="zipcode"  inputRef={r

[2020-03-18 14:21] dattebayorob commented on #1235
For someone with this problem, I 'solved' in my proxy checking if the prop checked is passed to the component
[code]

[2020-03-18 15:09] JuanmaMenendez commented on #1237
One thing I want to add to the debate for future users who have this kind of situation is that it is possible to disable the "autofocus on error" feature for all the form. Maybe this behavior will bring a better user experience in some cases.

You just need to call **useForm** with **{submitFocusError: false}**

`const { handleSubmit, register, control, errors, watch} = useForm({submitFocusError:

[2020-03-18 21:39] bluebill1049 commented on #1235
thanks @dattebayorob for sharing solution.

[2020-03-18 21:40] bluebill1049 commented on #1224
thanks for sharing this @mxcl

[2020-03-18 21:42] bluebill1049 commented on #1237
awesome thanks @JuanmaMenendez, we can include that message in the description as well.

[2020-03-18 23:05] bluebill1049 commented on #1237
thank you for your contribution, website is updated.

[2020-03-18 23:05] #1237 closed

[2020-03-18 23:05] bluebill1049 commented on #1234
thank you for your contribution, website is updated. :)

[2020-03-18 23:05] #1234 closed

[2020-03-19 00:42] IngenieroLata opened #1240 "Change a manually registered field from an action"
I'm working on a react native app. And have the case where one field is changed by some action. I'm manually registering the fields since the Controller won't work as its a custom component. But when I invoke the `setValue` doesn't visually change the controls and I know it's because I'm using an internal state but haven't found a way to access the form values by listening something. Here is a lig

[2020-03-19 00:48] bluebill1049 commented on #1240
because you are not return the correct data for the input. Just like the error message says: it's expecting an object instead a string.

[2020-03-19 00:49] bluebill1049 commented on #1240
I have also replied you at spectrum as well.

[2020-03-19 02:49] IngenieroLata commented on #1240
@bluebill1049 So the only way to visually control a component is by the `Controller`? For a Manually registered field there is no way to trigger the same behavior when calling `setValue`?

[2020-03-19 02:54] bluebill1049 commented on #1240
otherwise you will have to use `watch()`.

[code]

[2020-03-19 03:21] IngenieroLata commented on #1240
Oh yes! It worked. My real problem is not the TextInput but DateTimeControl as it doesn't have a visual input with value prop to be accessed from a ref. So basically a hook that handles the registration process and listens for its own value in case of an external change will make it for any weird custom field component. Something like this

[code]

[2020-03-19 03:25] bluebill1049 commented on #1240
cool glad it's working for you. 👍 thanks for sharing the code too.

[2020-03-19 03:25] #1240 closed

[2020-03-19 05:20] #1226 closed

[2020-03-19 09:28] asjamsuri opened #1241 "Error message keep showing on pattern validation"
**Describe the bug**
Error message keep showing on focus/blur conditions even if in valid conditions.
FYI, I'm using pattern validation. Am I doing it wrong?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://g18sm.csb.app/](https://g18sm.csb.app/)
2. Do complete the 4-digit PIN, and it should be a valid value.
3. Repeat: Focus, Blur, Focus, Blur, and etc.
4. The error message wi

[2020-03-19 09:36] bluebill1049 commented on #1241
please validate your own regex. https://regex101.com/

[2020-03-19 09:50] asjamsuri commented on #1241
Ah. I'm so sorry about that.
Thank you for your fast response.
I've fixed my regex and it worked perfectly!

[2020-03-19 09:50] #1241 closed

[2020-03-19 09:57] bluebill1049 commented on #1241
no worries :) glad you work it out. <3

[2020-03-19 11:34] iwarner opened #1242 "Using Controller with React DatePicker"
I am trying to get some sanitised error reporting on the DatePicker custom input

**Codesandbox link (Required)**

Please check this out
https://codesandbox.io/s/react-hook-form-and-react-date-picker-wrapped-at-controller-cyc48

- When first loaded the errors are {} and display the error style
- If I hit submit immediately DatePicker takes over and does some HTML5 validation which I dont want
- Se

[2020-03-19 11:46] bluebill1049 commented on #1242
please wrap your input into a proper form.

[code]

update your CSB and we can go from there. Keep your CSB simple as well. it helps me to find the issue.

[2020-03-19 11:49] iwarner commented on #1242
Sure thing
I copied yours from here though:
https://codesandbox.io/s/react-hook-form-and-react-nice-dates-wrapped-at-controller-qogy4

Will update now

Considered spectrum but wasnt sure this error thing was a bug or not.

[2020-03-19 11:52] bluebill1049 commented on #1242
all good, let's sorts this out together.

[2020-03-19 11:53] iwarner commented on #1242
Thanks
https://codesandbox.io/s/react-hook-form-and-react-date-picker-wrapped-at-controller-cyc48

Updated

[2020-03-19 11:53] bluebill1049 commented on #1242
I copied from someone else and was trying to help as well haha.

[2020-03-19 11:55] iwarner commented on #1242
Yeah I changed from the nice date pickers to the react-datepicker - I think having these examples in the docs that link to CodePen would be awesome, we are working on a massive form heavy site so happy to help with that, React Select etc.....

[2020-03-19 11:57] bluebill1049 commented on #1242
https://codesandbox.io/s/react-hook-form-and-react-date-picker-wrapped-at-controller-2zz2z

[2020-03-19 11:58] bluebill1049 commented on #1242
take a look the doc under controller.

[2020-03-19 12:13] iwarner commented on #1242
Ok testing now - yeah I read all those :)
https://react-hook-form.com/api#Controller
I see the valueName prop now

will re-read.

If you put in the docs the DatePicker example that needs the valueName that could help others

Many thanks - onto React Select now :)

[2020-03-19 12:22] bluebill1049 commented on #1242
will do :)

[2020-03-19 14:18] iwarner commented on #1242
Thanks Bill - added you to my sponsors list.. your project is amazing

[2020-03-19 14:36] JClackett opened #1243 "Docs: setError when setting multiple errors isnt right"
its making 2 calls to setError, one nested in the other

[code]

[2020-03-19 15:08] keemor opened #1244 "onSubmit does not work outside material-ui Dialog"
Hi :smiley:

**Describe the bug**
onSubmit does not work outside material-ui Dialog
if I put `<form>` inside Dialog, onSubmit works, but Submit button is not always visible

**To Reproduce**
Steps to reproduce the behavior:
1. Open dialog
2. Press Add button

**Codesandbox link (Required)**
[https://codesandbox.io/s/react-hook-form-material-ui-3pukk](https://codesandbox.io/s/react-hook-form-materi

[2020-03-19 15:13] kyeotic commented on #1226
@bluebill1049 I think [there might be an issue with this](https://github.com/react-hook-form/react-hook-form/pull/1239#discussion_r395101911)

[2020-03-19 15:39] kotarella1110 commented on #1226
@kabriel What are the issue?

[2020-03-19 15:47] kyeotic commented on #1226
A validation function will need to return an object when there is a validation problem; a type error will stop typescript from compiling. How is a validation function supposed to return an error object if its a type error?

[2020-03-19 15:59] AndrewSouthpaw opened #1245 "Why require a separate `keyName` rather than use provided `id`?"
This question relates to #964 ...

@bluebill1049 can you say more about the reasoning for setting a different `keyName` rather than using the existing `id` if provided? It seems reasonable to assume that the `id` would be unique, and if that's the case then why use a separate generated key at all?

I imagine there's some inner workings of the library that I'm not understanding, so I thought I'd ch

[2020-03-19 16:46] kiansenggoh opened #1246 "new Release for OmitFormState?"
new Release for OmitFormState?

[2020-03-19 18:46] xiaoyu-tamu commented on #1244
Pass handleSubmit to Button. I believe this question been asked couple times

[2020-03-19 18:48] xiaoyu-tamu commented on #1244
Pass handleSubmit to Button as onClick handler. I believe this question been asked couple times.

[2020-03-19 19:24] xiaoyu-tamu commented on #1244
This is material-ui question, not react-hook-form, you should ask it in their repo.

If you form is outside Dialog, you can use
[code]
if form is inside Dialog, you can add
[code]

[2020-03-19 19:31] TheMoonDawg commented on #459
So is the current solution still to use a custom register and keep track of the form values via `setValue`?

We just ran into this issue using Material UI checkboxes as well.

[2020-03-19 20:14] rnnyrk commented on #1208
Thanks for this one, also missed it in the docs but this resolved the issue.

[2020-03-19 20:59] #1246 closed

[2020-03-19 20:59] bluebill1049 commented on #1246
i will

[2020-03-19 21:00] bluebill1049 commented on #1242
oh wow. Thank you very much! very kind of you ❤️

[2020-03-19 21:01] bluebill1049 commented on #1244
thank you for your help @xiaoyu-tamu  <3

[2020-03-19 21:06] #1244 closed

[2020-03-19 21:22] bluebill1049 commented on #1245
aha, I forgot to updated the docs! my bad...

we have a new prop called `KeyName` which you can rename `id` to other stuff if `id` was used for your submit.

`id` is really a unique id for `key` attribute, bcause there are cases when user use `id` as actual field name, hence introduced `keyName` to enabled rename.

[code]

[code]

[2020-03-19 21:22] iwarner commented on #1242
Its pure bribery as I am sure I will have other queries :) Our main other third party libraires are React-Dropzone and React-Select so will see how that goes, I will try and make some CodeSandbox for these also and then can use in the docs.

[2020-03-19 21:23] bluebill1049 commented on #459
@TheMoonDawg use Controller :)

[2020-03-19 21:24] bluebill1049 commented on #459
actually @TheMoonDawg yes sorry for the earlier reply, unless you can group them with another component and using with Controller, i am not too familiar with MUI.

[2020-03-19 21:25] bluebill1049 commented on #1208
no worries @rnnyrk

[2020-03-19 21:25] bluebill1049 commented on #1242
Awesome, i will update with more examples to that codesandbox to help others.

[2020-03-19 21:33] bluebill1049 commented on #1243
can you supply a CSB?

[2020-03-19 21:39] bluebill1049 commented on #1242
Actually let's pin this issue, so more users can supply more examples when using with Controller.

[2020-03-19 21:45] bluebill1049 opened #1247 "👓 Provide more Controller examples"
Hi Guys,

It's good to receive feedback from the community as the `Controller` needs more examples. Here is the list I got. please contribute if you have more examples to add.

Please fork this codesandbox and include your example.
https://codesandbox.io/s/react-hook-form-controller-079xx

- [x] MUI
- [x] React-Select
- [x] react-datepicker

[2020-03-19 21:46] bluebill1049 commented on #1242
https://github.com/react-hook-form/react-hook-form/issues/1247

let's track it on this ticket.

[2020-03-19 22:26] #1242 closed

[2020-03-19 22:42] bluebill1049 commented on #1245
doc is updated.

[2020-03-19 23:44] iorran opened #1248 "Manual form submission"
**Describe the solution you'd like**
I would like to submit the form from any button

**Describe alternatives you've considered**
https://unform.dev/guides/manual-form-submit

[2020-03-19 23:47] #1248 closed

[2020-03-19 23:52] bluebill1049 commented on #1243
thank you! updated.

[2020-03-19 23:52] #1243 closed

[2020-03-20 03:02] bluebill1049 commented on #1236
taking a look now, sorry for the delay...

[2020-03-20 03:07] bluebill1049 commented on #1236
I am not to sure about the context of having input hidden, but i did it with just a normal input: https://codesandbox.io/s/purple-http-6mhyy

[2020-03-20 03:08] bluebill1049 commented on #1247
I am closing this issue, but it's pinned on the issues page.

[2020-03-20 03:08] #1247 closed

[2020-03-20 08:43] sisisin opened #1250 "Enable declarationMap: true in tsconfig when publish build"
Sometime I want to refer to library's implementation.

Now, react-hook-form has only `.d.ts` files. So I need to look for implementation in source code.

If enable `declarationMap: true`, TypeScript generates a sourcemap for each corresponding `.d.ts` file.
This makes happy me when source code reading

[2020-03-20 09:06] bluebill1049 commented on #1250
LOL, we will make you happy then. you want to send a PR for this?

[2020-03-20 09:06] bluebill1049 commented on #1250
FYI @kotarella1110 you have any objection?

[2020-03-20 11:02] kotarella1110 commented on #1250
i have no objection 👍👍👍

[2020-03-20 11:11] rnnyrk commented on #1236
@bluebill1049 No worries about being a but later. We're all human haha :)

Taken from your example;
![Uploading Screenshot 2020-03-20 at 11.59.23.png…]()

You can see the input value being updated, but the logs and the "test" behind the the input still showing the old value.

My use case is that I add a category of `useFieldArray` from within a modal. Then the category title isn't shown in an inpu

[2020-03-20 11:14] bluebill1049 commented on #1236
can you please reupload the image above (not found)?

[2020-03-20 11:20] bluebill1049 commented on #1236
for your use case, wouldn't it be easier just a form in the modal and each form submit inject data into a local state?

[code]

[2020-03-20 11:26] rnnyrk commented on #1236
Re-uploaded the photo. Hmm indeed might be able to solve it with localstate. But since I use a `useFieldArray` I have to create local state for every title in the field array. Have to refactor some stuff to make it easy to manage. I'll come back at you later today, thanks for the help so far.

[2020-03-20 11:29] bluebill1049 commented on #1236
yea, I prefer simple solutions, because your use case is more like a form and submit into the store and display.

[2020-03-20 11:30] bluebill1049 commented on #1236
if you want the above example to work (which I do not recommend) is using `watch`, I still prefer the simple solution which I proposed.

[2020-03-20 14:11] TheMoonDawg commented on #459
Cool, I made a custom component to wrap all of that stuff for me then. Here's the code in case it helps someone else!

`
import React, { useEffect, useState } from 'react'
import PropTypes from 'prop-types'
import { Checkbox as MuiCheckbox } from '@material-ui/core'

const Checkbox = ({ name, register, setValue, value }) => {
  const [checked, setChecked] = useState(false)

  const onChange = e =>

[2020-03-20 15:53] morawskiOZ opened #1252 "Allow for different error type or cast the error type from validationResolver"
**Is your feature request related to a problem? Please describe.**
I want to use a more complicated error interface than just `{ message: string }`. In my example it is
[code]
I need it to be explicit for other developers that it is in fact a key that needs to be transformed in a message (i18n).

**Describe the solution you'd like**
Either allow to pass another interface than `FormData` or cast th

[2020-03-20 18:46] schettino opened #1254 "useFieldArray inconsistencies"
**Describe the bug**
While working in a feature that has a more elaborated form, I found a few problems that became unfortunately a blocker. Unless I'm missing something (which I might be, not discarding this option), those problems can be dangerous enough to not use the current lib implementation.

The feature is to have a form in a Grid shape, where fields (from useFieldArray) are the rows, and

[2020-03-20 21:16] jonatasfl opened #1255 "Controller with react-input-mask"
**Describe the question?**
When I use react-input-mask component inside a Controller, the **defaultValue** doesn't work after an API call to fill the masked input. All other input works fine.

Also when I type into masked input, I see this message on console:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://codesandbox.io/s/react-hook-form-with-inputmask-o5nd8](https://codesand

[2020-03-20 21:48] tjlav5 commented on #1016
Hey @bluebill1049, it looks like this is marked as 'done' in your tracker, but I'm still unable to call `setValue('foo[0].bar', 123)`; doing so ends up adding a top-level entry in the form with the string `foo[0].bar` instead of `{foo: [{bar: 123}]}`. I'm on 5.1.1*. Thanks

[2020-03-20 22:07] bluebill1049 commented on #1016
@tjlav5 send a codesandbox please

[2020-03-20 22:08] bluebill1049 commented on #459
awesome! thanks for sharing @TheMoonDawg

[2020-03-20 22:23] bluebill1049 commented on #1254
Thanks for your detailed issue report. It's under investigation.

[2020-03-20 22:35] bluebill1049 commented on #1255
https://codesandbox.io/s/react-hook-form-with-inputmask-d4fvd

[2020-03-20 22:38] bluebill1049 commented on #1252
is it possible to bake your error message inside the `validationResolver` depend on lang?

[2020-03-20 22:46] bluebill1049 commented on #1254
Under a quick look, looks like there is a bug... strange one too. I will spend more time on this over the weekend.

[2020-03-20 22:56] schettino commented on #1254
Hi Bill, thanks for your quick response.

I understand that, sorry if my comment about this sounded off. The docs are clear and no issues with that. My concern is that watching field arrays might bring an overhead in terms of performance, that can can be more harmful than a fully controlled form. I don't what would be a good solution for this right now but I'd be happy to do further investigations

[2020-03-20 23:18] bluebill1049 commented on #1254
I agree as I said above the right tool for the right job. if users need constantly watch every input, it makes sense to go controlled input, that's what it good at. I will add an FAQ section to highlight this point as well.

[2020-03-20 23:25] tjlav5 commented on #1016
Ah sorry, false alarm. It turns out I wasn't registering each sub-component... `register('foo[0].bar');`, I only had `foo` registered. Thanks for following up so quickly and really digging your library. Cheers

[2020-03-21 00:45] bluebill1049 commented on #1254
damn it! it's a bug that i introduced... https://codesandbox.io/s/react-hook-form-usefieldarray-3-kid8d
switch to this ./src you will see the problem. lucky i haven't published the version during the week.

[2020-03-21 01:28] jonatasfl commented on #1255
@bluebill1049 It`s work! Thank you so much!

[2020-03-21 01:33] #1255 closed

[2020-03-21 02:47] bluebill1049 commented on #1250
I am going to close this issue, and leave the PR running for upvotes from the community: https://github.com/react-hook-form/react-hook-form/pull/1253

[2020-03-21 02:47] #1250 closed

[2020-03-21 06:03] bluebill1049 commented on #1245
going to close this issue, feel free to follow up with more questions.

[2020-03-21 06:03] #1245 closed

[2020-03-21 21:14] javidjamae opened #1257 "Missing documentation for FormContext"
**Describe the bug**
Several places in the documentation link to `FormContext` using the URL `https://react-hook-form.com/api/#FormContext`, but there is no anchor or section in the API documentation for FormContext.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://react-hook-form.com/api/#FormContext`
2. The API docs load and the page remains at the top as no anchor or section

[2020-03-21 22:57] bluebill1049 commented on #1257
thanks. fixed.

[2020-03-21 22:57] #1257 closed

[2020-03-22 01:44] xiaoyu-tamu commented on #1254
Looks like the problem still exist?

[2020-03-22 01:47] bluebill1049 commented on #1254
@xiaoyu-tamu can you use this CSB: https://codesandbox.io/s/react-hook-form-usefieldarray-3-6onju and let me know if there is still issue.

[2020-03-22 01:49] xiaoyu-tamu commented on #1254
@bluebill1049 Yes, the problem still exist,

1. Click Load data,
2. Remove last item (Ben)
3. Click append

The inserted row still have age 51

[2020-03-22 01:54] bluebill1049 commented on #1254
yes, @xiaoyu-tamu I think this a separate issue. The original issue was (delete everything) click append will have all the defaultValues' item include the new row.

I think this issue could be resolved with reset default values. let me come back to you with this after lunch.

Solutions:
1. whether we mutate the defaultValues during deletion
2. let the user delete from useEffect

[2020-03-22 01:57] xiaoyu-tamu commented on #1254
Sure, just FYI, the author of this issue mentioned this under the codesandbox link.

Click on the load data button.
Click on Append
Delete the previous item (Ben)
Recently created row, age field, will be updated to the one we removed.

[2020-03-22 02:04] bluebill1049 commented on #1254
oops, i miss the second part. what's your thoughts over 1 or 2?

[2020-03-22 02:44] bluebill1049 commented on #1254
I get very confused with the example: so i did on top of mine (a simpler version) https://codesandbox.io/s/react-hook-form-usefieldarray-3-kid8d
i still going to release a new minor version today, we can continue the discussion here.

[2020-03-22 04:16] xiaoyu-tamu commented on #1254
@bluebill1049
The problem could resolved by passing `age: null` when append new values.

change line 189 to  `append({ nickname: `append ${fields.length}`,age: null });`

Looks like the form use staled value if value is undefined

[2020-03-22 04:18] bluebill1049 commented on #1254
Thanks @xiaoyu-tamu! I got a bit confused with that example, would be nice if we can reproduce in this example: https://codesandbox.io/s/react-hook-form-usefieldarray-3-kid8d

[2020-03-22 04:23] xiaoyu-tamu commented on #1254
Try this one

https://codesandbox.io/s/react-hook-form-usefieldarray-3-ix34q

I add an **age field** and **change input to <Controller />**. Please notice, the bug only occur when **age field** not have **defaultValue**.

[2020-03-22 05:47] bluebill1049 commented on #1254
Thanks! I will investigate for solution or else we shall update the document to address this issue.

[2020-03-22 06:08] sorxrob opened #1261 "Missing FormContext warning"
Hello, I am using ionic with react and I am getting `Missing FormContext` every time I type in any input.

Steps to reproduce the behavior:
1. Just type anything in the email field in the sandbox provided

https://codesandbox.io/s/ionic-react-list-eiekh

![Screen Shot 2020-03-22 at 1 54 44 PM](https://user-images.githubusercontent.com/13049130/77243424-ceb89280-6c44-11ea-8a88-f6f56d1b46a5.png)

 -

[2020-03-22 06:12] bluebill1049 commented on #1261
@kotarella1110 that's what i was referred to.  remember that commit.

[2020-03-22 06:19] bluebill1049 commented on #1261
i will remove this warning completely for now until we have a good solution for this. i will add a task into the project todo column as well.

[2020-03-22 06:20] #1261 closed

[2020-03-22 06:24] bluebill1049 commented on #1261
thanks @sorxrob i will release a patch in a sec.

[2020-03-22 06:25] sorxrob commented on #1261
Thanks! That was fast.

[2020-03-22 06:36] bluebill1049 commented on #1254
yes, defaultValue can solve this problem. thanks @xiaoyu-tamu

**Suggestion:**

1) maybe we should mutate the `defaultValues` after form finish renders `input` & `value`. The only problem is when you want to reset the form, you will probably have to supply `defaultValues` (eg: `reset({ test: 'test' })`), because the `defaultValues` will be mutated by the time. Honestly, i think that would probably

[2020-03-22 07:51] kotarella1110 commented on #1261
@bluebill1049 Sorry. My fix was wrong.
This should call `useFormContext` only if the `control` prop was not passed to the `Controller` component.
I can fix this right away.

[2020-03-22 07:56] bluebill1049 commented on #1261
no worries at all @kotarella1110 take your time with it. we can release the fix next weekend.

[2020-03-22 07:57] kotarella1110 commented on #1261
Thanks. I create a PR to fix this tonight.

[2020-03-22 12:59] kotarella1110 commented on #1261
I tried to fix this, but it seems difficult to fix due to the [rules of Hooks](https://reactjs.org/docs/hooks-rules.html).

<img width="761" alt="スクリーンショット 2020-03-22 21 34 32" src="https://user-images.githubusercontent.com/12913947/77249916-ce8db680-6c87-11ea-9988-d1422227323a.png">

[2020-03-22 15:08] xiaoyu-tamu commented on #1254
I agree with you, solution 1 probably be a better DX.

[2020-03-22 21:06] bluebill1049 commented on #1261
yes correct @kotarella1110 let's park this for now :)

[2020-03-22 22:02] bluebill1049 commented on #1254
Thanks @xiaoyu-tamu for your feedback, however, I am worried by implemented solution 1 will lead to more side effects, which is the reason why I am leaner towards 2, and info users always provide a `defaultValue` while using `useFieldArray`

[2020-03-22 23:19] ianmartorell commented on #431
Hey @bluebill1049, if I use `onChange={e => setValue('name', e.target.value, true)}`, the form will validate on every `onChange`, but I want the validation to occur only `onSubmit`, just like the default DOM API mode. How can we achieve that on React Native?

[2020-03-22 23:22] bluebill1049 commented on #431
@ianmartorell I believe if you are using `Controller`, it will respect the `mode` which i should update the doc as well. i will leave a note to myself.

[2020-03-22 23:28] ianmartorell commented on #431
@bluebill1049 You are right! I was using the `register` function with regular `TextInput` components instead of using `Controller`. Thank you for the super quick reply!

[2020-03-22 23:38] raulfelix opened #1262 "Changing radio options dynamically leads to exception"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/boring-rhodes-14pu2
2. Change the dropdown 3 times
3. You will see exception
4. Looks like the issue relates to a dynamic list of radio options.

**Codesandbox link (Required)**
https://codesandbox.io/s/boring-rhodes-14pu2

**Expected behavio

[2020-03-22 23:46] bluebill1049 commented on #1262
thanks @raulfelix will investigate on this issue.

[2020-03-23 01:58] bluebill1049 commented on #1262
The fix will be released in the next patch. thanks

[2020-03-23 01:58] #1262 closed

[2020-03-23 07:26] shicholas commented on #1001
A Captcha component:

[code]

And a form component:

[code]

hope this helps!

[2020-03-23 07:53] bluebill1049 commented on #1001
awesome thanks @shicholas for sharing.

[2020-03-23 08:00] kiansenggoh opened #1264 "get data from submit?"
hi

scenario here:
when user submit a form. it go thru Yup validation.
possible to get data similar to handleSubmit without validation?

because i want to allow user to save draft. so save draft can have incomplete form.

i tried to use getValues() and watch. but the data return is flat.

any idea how where can i get the data?

[2020-03-23 08:07] bluebill1049 commented on #1264
please follow the template to provide a CSB, this should work with `watch`

[2020-03-23 08:19] hieusmiths opened #1265 "Bug then ant update new versio, Can't detect Radio Group change"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Bug appear then Antdesign release new version.
When me using Radio Group then submit data return Event attributes of radio group.

I fixed it by this way

           <Controller
              control={control}
              as={
                <Radio.Group>

[2020-03-23 08:23] bluebill1049 commented on #1265
@hieusmiths so you find the solution for the problem. do you still need my help?

[2020-03-23 08:52] kiansenggoh commented on #1264
i am sorry what is CSB?
got example?

[2020-03-23 08:54] kiansenggoh commented on #1264
i got it,

watch({
            nest: true
        })

[2020-03-23 08:54] #1264 closed

[2020-03-23 09:04] vemundeldegard commented on #1108
How did you solve this with the 3rd parameter to `true`? It does not work for me. I can see a rerender of the `useForm` methods, but the `handleSubmit` function is not triggered?

[2020-03-23 09:31] bluebill1049 commented on #1108
Plz provide more context.

[2020-03-23 10:06] morawskiOZ commented on #1252
Thanks for your replay. Good idea and I gave it a try but the problem is that we use the same validation logic and interfaces (I don't want it to diverge) on the server-side where I don't have access to i18n functionality and always have to return the key for FE to read and translate.  For now, I will simplify the interface to just
`message:  string`

It is hard for me to say is this feature reall

[2020-03-23 10:17] bluebill1049 commented on #1252
thanks for understanding, I will close this issue for now and add this feature request to our backlog anyhow.

[2020-03-23 10:17] #1252 closed

[2020-03-23 12:24] starmatt opened #1266 "Allow React components to be returned as `validate` rule error message"
Hello,

**Is your feature request related to a problem? Please describe.**
My issue is that the `validate` method only allows to return a `bool` or a `string`, and returning a React component will not validate as an error. Being able to set a React component as an error message would allow for more complex and useful (UI-wise) error handling.
As an example, consider a password input with a dynamic

[2020-03-23 12:54] bluebill1049 commented on #1266
I think you are referring to this component: https://react-hook-form.com/api#ErrorMessage

[2020-03-23 15:17] TheMoonDawg commented on #459
I actually ended up getting this working with Controller! Here's a new wrapper component that adds a label for the checkbox as well. I think I was passing `FormControlLabel` into `Controller` directly which obviously wouldn't work as intended.

[code]

[2020-03-23 17:49] schettino commented on #1254
Unfortunately, I've been experiencing staled data with default values for all fields as well.

The problem of appending a row causing the default values to recreated rows could be easily solved by not allowing the user to remove a row if there was just one, aka not allowing the state to be empty. As I described, the bug consists in three parts that might be related to each other. I don't think the

[2020-03-23 21:55] bluebill1049 commented on #1254
First of all, Thanks for your feedback @schettino. Here is my feedback, some of them may sound negative, but they are honest and real.

1. I have worked on this issue over the weekend using your example and it confused **me** because it''s not set up clearly. so I used a clear example for **me** to diagnose the problem I think the most helpful person I got out from the issue is @xiaoyu-tamu who is

[2020-03-23 22:01] bluebill1049 commented on #1265
I guess you are trying to help by sharing example here. so thank you :)

[2020-03-23 22:01] #1265 closed

[2020-03-23 22:02] bluebill1049 commented on #1236
hey @rnnyrk just a quick follow up on this, how did you go with it?

[2020-03-23 23:14] schettino commented on #1254
Just to clarify, I'm not bringing a new use case or trying to adapt it to something new. The example I shared covers:
- conditional inputs
- array fields
- multiple fields per row
- async loading data, and
- default values restoration.

That's why changing the example might not a good option, if we're leaving some of that out we could not be reproducing the bug anymore, which would give us the fal

[2020-03-23 23:29] bluebill1049 commented on #1254
Thank you for putting your time into reporting the issue. I don't think we will merge into a right approach to solve this issue, and certainly there is no right or wrong approach in here. I will raise a seperate issue to address what @xiaoyu-tamu and myself have discover and we will move on with this.

[2020-03-23 23:29] #1254 closed

[2020-03-23 23:30] bluebill1049 opened #1267 "DX with useFieldArray in terms of defaultValue/defaultValues"
Original issue can be found here https://github.com/react-hook-form/react-hook-form/issues/1254#issuecomment-602154995_

The discovery is the following,

**Problem**

- remove item from Array Field will result staled value in the input (if `defaultValue` is not supplied at native input / `Controller`)
- the problem is due to when `defaultValue` not supplied, `defaultValues` from `useForm` will `re

[2020-03-23 23:33] schettino commented on #1254
what a welcoming community  :)

[2020-03-24 00:11] bluebill1049 commented on #1267
@kotarella1110 @JeromeDeLeon @stramel can you guys kindly give your opinion about this?

[2020-03-24 00:18] kcunanan commented on #1188
Hi @bluebill1049 ! I know this issue has been closed, but I was wondering if / when this bug fix will get released.

The `dirtyFields` are still not being updated when expected in the `formState` sandbox even though the sample is using the `latest`. Thanks!
https://codesandbox.io/s/7o2wrp86k6

[2020-03-24 00:21] bluebill1049 commented on #1188
hey @kcunanan dirtyFields is a set, can you take a look at the dev console. let me know if that's fixed.

<img width="888" alt="Screen Shot 2020-03-24 at 11 20 39 am" src="https://user-images.githubusercontent.com/10513364/77375417-84105500-6dc1-11ea-8769-ed34942427ee.png">

[2020-03-24 00:23] JeromeDeLeon commented on #1267
I'm getting accustomed on using `defaultValue` for every input and for many users, a sudden shift would cost them to change the `reset` in case they didn't supply the `defaultValue`; however, I agree with you that using `reset` makes it great DX because default value use case is for default value only if that makes sense.

[2020-03-24 00:26] kcunanan commented on #1188
Ah got it. Looks like the `console.log(JSON.stringify(formState.dirtyFields));` misled me 😅

Thanks so much!

![image](https://user-images.githubusercontent.com/10050800/77375651-5e387100-6d2b-11ea-9507-de704b948555.png)

[2020-03-24 00:27] JeromeDeLeon commented on #1267
Are there any implications for mutating `defaultValue` aside from `reset`?

[2020-03-24 00:29] bluebill1049 commented on #1267
Thanks for your feedback :) as right now, we can only mutate defaultValues via `reset`.

[2020-03-24 00:30] bluebill1049 commented on #1188
no worries at all :) @kcunanan

[2020-03-24 00:34] JeromeDeLeon commented on #1267
Thanks for also doing this amid of this crisis. ☺️ Take Care 😇

[2020-03-24 00:35] bluebill1049 commented on #1267
Yea, i do worry about mutate the `defaultValues` when user delete rows. We can also deep clone a copy of the defaultValues and kept two of them, but then things get more complicated to maintain. so maybe enforce user to provide default value is a better solution here.

[2020-03-24 00:46] JeromeDeLeon commented on #1267
Things get too complicated then. I suggest we stick with enforcing `defaultValue` as to avoid changing too much of the use case of this lib.

[2020-03-24 06:45] Atiqullah-Naemi opened #1269 "react hooks form with custom input first removes error and then we can type"
when the form field shows error message and I want to try to type, when it reaches the point to clear the adf

[2020-03-24 06:54] Atiqullah-Naemi opened #1270 "react hooks form with custom input first removes error and then we can type"
when the form field shows error message and I want to try to type, when it reaches the point to clear the    error first it clear the error and then I am able to type.
please check this [sandbox](https://codesandbox.io/s/boring-violet-e4l25), click inside a field and then click outside it to produce the error and now try to type something for example (**1111**), the problem is that you have to pre

[2020-03-24 06:55] bluebill1049 commented on #1269
can you give more context and code example please? and please follow the template.

[2020-03-24 06:57] #1269 closed

[2020-03-24 07:02] bluebill1049 commented on #1270
I am not clear on what i can help in here, can you explain a bit more? also you are using an old version of RHF too.

[2020-03-24 07:03] bluebill1049 commented on #1270
https://react-hook-form.com/faqs#Whyisfirstkeystrokeisnotworking

i think this is what you after.

[2020-03-24 07:49] bluebill1049 commented on #1270
https://codesandbox.io/s/romantic-pasteur-kckjz

[2020-03-24 07:58] hieusmiths opened #1271 "React hook form return object when use onChange custom library"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 I'm using React HF, normal i using by this way:

    <Controller
        as={TextField}
        name="firstName"
        control={control}
        defaultValue=""
      />
Okey it's work.

But then Ant update all component use with additional onChange with Controller it retu

[2020-03-24 08:00] bluebill1049 commented on #1271
hey @hieusmiths do you have a codesandbox for this?

[2020-03-24 08:26] shipcake opened #1272 "how to use modal in material-ui with arrays field"
I implement it. not work all value show when submited is "" empty value :(

[2020-03-24 08:32] hieusmiths commented on #1271
Sorry, i checked code demo and fix it by example.
But i remember it working, Magic :).
Thank so  much

[2020-03-24 08:33] bluebill1049 commented on #1272
please use this codesandbox to produce a not working version, so i can debug: https://codesandbox.io/s/react-hook-form-usefieldarray-vy8fv

[2020-03-24 08:34] bluebill1049 commented on #1271
aha all good :)

[2020-03-24 08:34] #1271 closed

[2020-03-24 09:00] rnnyrk commented on #1236
Sorry for the late response. I did manage to fix it by using the `watch` methods provided by `useForm`, In my opinion this was the most simple fix for the use case.

[2020-03-24 09:00] #1236 closed

[2020-03-24 09:09] bluebill1049 commented on #1236
awesome. glad it's working for you now. thanks for the update.

[2020-03-24 10:16] starmatt commented on #1266
Hello, thanks for your answer!

I've already checked this component out but it's really not what I'm looking for, I already have an error component used to render the react-hook-form error messages, and it doesn't help with the `validate` function not behaving like the other validation functions. I still wouldn't be able to a associate a specific React component when I need to for specific rules.

[2020-03-24 10:19] bluebill1049 commented on #1266
thanks @starmatt for the clarification. however, at the stage, we don't plan to support JSX for the message unless there are more demands from the community. I will tag it as waiting for votes.

[2020-03-24 10:28] starmatt commented on #1266
That's fine, thanks.

Although, as I said before, it's already possible to set JSX in the `message` key of the object returned by  `maxLength`, `pattern`, etc, except for `validate` (I understand, to be fair, that it doesn't work exactly like the other ones). So you do support it to an extent even if it's not intentional ;)

Stay safe and have a good day.

[2020-03-24 10:33] bluebill1049 commented on #1266
oh really? @starmatt can you provide an example. it's not intentional for sure. however, if that's the case, it may as well as make it consistent.

[2020-03-24 11:42] starmatt commented on #1266
Here's a codebox example: https://codesandbox.io/s/nervous-khayyam-r6i40
I took time to test all the functions, and it works with JSX only for functions that return a `value/message` object.

[2020-03-24 13:17] kotarella1110 commented on #1266
Haha. this is interesting behavior 👀

@starmatt There is something I want to confirm.

In what cases can this be considered?
You can wrap the ErrorMessage component using `as` prop.

[2020-03-24 13:29] starmatt commented on #1266
True, but I already have my own error rendering component built into my input components, and using yours still wouldn't allow me to do something like the example in my first post 🙂

[2020-03-24 13:57] kotarella1110 commented on #1266
@starmatt How about this?

[code]

[code]

codesandbox: https://codesandbox.io/s/react-hook-form-issue-1266-9t2z4

[2020-03-24 14:11] kotarella1110 commented on #1267
@bluebill1049 Isn't this solved by using the [`delete` operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/delete) to delete `fields` array value along with the array index?

[2020-03-24 21:41] bluebill1049 commented on #1267
@kotarella1110 the problem is when a new item gets mounted (delete row and add it back), the `defaultValues` in useForm will register input with `defaultValue`. we actually don't manipulate `defaultValues.

[2020-03-25 00:15] kotarella1110 commented on #1266
@bluebill1049 Why did you remove the vote waiting tag? Should we support this feature?

[2020-03-25 00:17] bluebill1049 commented on #1266
@kotarella1110 I think we don't need vote for this one anymore. we should support it due to consistency. I didn't want to remove JSX due to existing functionality because it will be a breaking change.

[2020-03-25 00:18] bluebill1049 commented on #1266
are you interested to take on this one? @kotarella1110 otherwise i will be looking into this over the weekend. I don't think we are in rush w

[2020-03-25 00:22] kotarella1110 commented on #1266
@bluebill1049 I will try this! Thanks 👍

[2020-03-25 00:23] bluebill1049 commented on #1266
FYI `validateField.ts` is the one you want to take a look at.

[2020-03-25 01:23] bluebill1049 commented on #1267
<img width="720" alt="Screen Shot 2020-03-25 at 12 22 59 pm" src="https://user-images.githubusercontent.com/10513364/77491981-6a3f4280-6e93-11ea-90d5-87c70884dd91.png">

Looks like we already mention that in the doc, maybe need to emphasis it better.

[2020-03-25 02:51] dwoodwardgb opened #1274 ""TypeError: Destructured parameter is undefined" caused by holes (undefined values) in RHF's underlying options array for dynamically generated lists of radio buttons that change."
**Describe the bug**
"TypeError: Destructured parameter is undefined" caused by holes (undefined values) in RHF's underlying options array for dynamically generated lists of radio buttons that change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the code sandbox link
2. Click on the "Toggle" button (this will change the dynamic list of radios being rendered)
4. See error, inspecting

[2020-03-25 02:57] bluebill1049 commented on #1274
thanks for reporting this issue. I have patched the problem: https://github.com/react-hook-form/react-hook-form/issues/1262 will release it soon.

[2020-03-25 03:08] #1274 closed

[2020-03-25 04:33] marksy commented on #56
i dont understand how to use this, can someone explain how i do? i seems to only work if i put it in the node_modules/react-hook-form/dist folder :(

[2020-03-25 06:56] #1270 closed

[2020-03-25 11:28] bluebill1049 commented on #1267
I think i will include reset inside the useFiledArray example, this should make things a bit more clearer for everyone.

[2020-03-25 11:34] bluebill1049 commented on #1267
going to close this discussion:

1. the doc does mention the default value
2. I have update the code example to include both Controller and Native input with reset

[2020-03-25 11:34] #1267 closed

[2020-03-25 11:34] bluebill1049 commented on #1267
thank you @JeromeDeLeon & @kotarella1110 's input.

[2020-03-25 11:35] bluebill1049 commented on #1272
will re-open once more detail is supplied.

[2020-03-25 11:35] #1272 closed

[2020-03-25 11:36] bluebill1049 commented on #1222
I will keep this issue open for another week, if the vote is under 50 then I will move to the backlog and working on it when I have time. 👍

[2020-03-25 12:17] kotarella1110 commented on #56
@marksy You only have to create `react-hook-form.ie11.d.ts`.

[code]

codesandbox: https://codesandbox.io/s/react-hook-form-issue-56-v7z4c

[2020-03-25 21:15] kerosan opened #1276 "Uncaught SyntaxError: Invalid destructuring assignment target"
Found bug when trying run testcafe
Uncaught SyntaxError: Invalid destructuring assignment target

Steps to reproduce the behavior:
1. prepare react app with react-hook-form FormContext
2. write test on testcafe
3. try to run test

https://codesandbox.io/s/wizardly-volhard-hpqsw

![image](https://user-images.githubusercontent.com/10149363/77572415-98467600-6ed7-11ea-89c6-c1bdee75e437.png)

i believ

[2020-03-25 22:25] #1276 closed

[2020-03-26 04:32] AndrewSouthpaw commented on #1245
Hi @bluebill1049 , thanks for the response.

I'm familiar with the option for `keyName`. My question is this: why overwrite the `id` attribute in the first place?

It seems reasonable to use a provided `id` if there is one. It could be stated as an invariant that the `id` attribute if provided is expected to be unique. That way, the code reads much more naturally.

As it stays, I have to use this

[2020-03-26 04:43] bluebill1049 commented on #1245
hey @AndrewSouthpaw for uncontrolled inputs, RHF will need unique id(key) for each input/div/row, hence the `id` was introduced and later on i realise that it will overwrite or ignore user's actual input field which named as `id` and hence introduced the `keyName`. hopefully this answers your question, it's always bit tricky to explain offline. let me know if this answers your question.

[2020-03-26 06:29] MichaelCheglow opened #1278 "Remove( number[] ) - doesn't remove every 3rd field."
**Describe the bug**
Remove( number[] ) - doesn't remove every 1 + 2n field.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on button 'Remove all fields'
2. See that 3, 5, 7 and 9 fields have not been deleted.

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-usefieldarray-fb7k4

**Expected behavior**
2. See empty form without fields.

[2020-03-26 06:45] bluebill1049 commented on #1278
thanks @MichaelCheglow looks like there is a bug with remove array of items.

[2020-03-26 09:17] bluebill1049 commented on #1278
patched: https://codesandbox.io/s/react-hook-form-usefieldarray-tuw9s

[2020-03-26 09:36] #1278 closed

[2020-03-26 13:35] seonghyeonkimm commented on #981
When I append new fields using `useFieldArray ` hook, it doesn't trigger rerender the component having watch function. Is this also expected behavior? I need to trigger rerender when array's length is changed. Is there another way to do it? @bluebill1049

[2020-03-26 15:02] vaibhavdhawan commented on #137
Thanks Bill.
Just tried the example. Console shows a warning - trying to change from uncontrolled to controlled?
I have seen the warning quite a few number of times when using MUI textfields , havent been able to pin point the reason.

[2020-03-26 18:02] ahmadkam2 opened #1280 "use Watch() as invoke to server request function"
Im using react-hook-form to as a filter for showing list items.
It has multiple items and I do not want to use submit button to send my server request.
server request must sent after every change in form items data.
when I use Watch() to send server request in some items that have text inputs,
server request function invokes once for every input, but
i want to send server request after onBlur inpu

[2020-03-26 18:08] AndrewSouthpaw commented on #1245
Not quite. I've put together a PR to make my suggestion more concrete. I hope it's helpful. 😄

[2020-03-26 19:45] kerosan commented on #1280
you can use onChange with debounce https://codesandbox.io/s/usedebounce-v5gli

[2020-03-26 21:13] bluebill1049 commented on #981
https://react-hook-form.com/api#useFieldArray plz read the important part about `watch`

[2020-03-26 21:14] bluebill1049 commented on #137
@vaibhavdhawan plz read the doc https://react-hook-form.com/api#useFieldArray about defaultValue

[2020-03-26 21:20] bluebill1049 commented on #1245
oh cool thanks I will take a look there. thanks @AndrewSouthpaw

[2020-03-26 23:10] #1266 closed

[2020-03-26 23:28] bluebill1049 commented on #1280
Thanks @kerosan <3

[2020-03-26 23:39] ahmadkam2 commented on #1280
Thanks for comment.
One of my problems solved debounce.
another problem is in initialization of form items and setting initial values for them.
In this case client send multiple server request.
I have six custom Select component (using controller), six input numbers and six checkboxes
in my form.
also watch triggered twice for checkbox action (one for press click button and second for releasing
cl

[2020-03-26 23:41] bluebill1049 commented on #1280
First of all, I would appreciate if you can follow the template of asking questions or reporting issue here. It helps me and you.

for initial values: take a look this section. https://react-hook-form.com/api#reset

[2020-03-26 23:51] #1280 closed

[2020-03-26 23:53] ahmadkam2 commented on #1280
Im confused to use watch OR onChange function to update my data from server on form data
changes, And Im start to hooks recently.
I start coding using watch and faced with this problems and ask this question to find out best way

[2020-03-26 23:55] bluebill1049 commented on #1280
That's cool. follow the template next time: https://github.com/react-hook-form/react-hook-form/blob/master/.github/ISSUE_TEMPLATE/question.md so we can answer your question easier too.

[2020-03-27 06:37] Vishal1419 opened #1282 "Password and Confirm Password field validation using validationSchema"
@bluebill1049 Can you show an example of password and confirm-password using validationSchema?

I am doing my validation like this:
[code]
For this scenario, please fire validations **onChange** or **onBlur**.

At first sight, everything looks fine. But if you follow this order, then you can see problems:
1. Input "abcde" in newPassword field.
2. Input "abcdf" in confirmPassword field. (It will th

[2020-03-27 06:43] shoko-eguchi commented on #1199
Sorry, I'm late.CSB is ready.
（Thanks for preparing CSB, but it was js, so I made here↓）
https://codesandbox.io/s/runtime-grass-2185d

I want to set the data flowing from the store to the TextField and execute validation.
If I do not use setTimeout, rendering will be executed indefinitely.
**CSB sopped working when setTimeout was removed.**

[2020-03-27 06:51] bluebill1049 commented on #1282
if you want the other field to be re-validated as well, you can use `triggerValidation`.

[2020-03-27 06:59] shoko-eguchi commented on #1199
@bluebill1049 Sorry, I cannot reopen this issue, Can you reopen?

[2020-03-27 08:16] kotarella1110 commented on #1199
@shoko-eguchi You should execute `triggerValidation` when the store changes.
Therefore, you need to provide the props received from the Store to the deps of useEffect.

[code]

[2020-03-27 08:51] bluebill1049 commented on #1199
Thanks @kotarella1110 👍

[2020-03-27 09:27] ahmadkam2 opened #1283 "react hook form watch action multiple form checkboxs and select"
This is my question link in spectrum chat

https://spectrum.chat/aqyol/general/react-form-hook-watch-invoke-multiple~9782e0aa-949f-40c7-b36c-a2b684c786b8

**Im using react form hook watch to send server request on form data changes
I have custom Select, input and checkboxes in my form.
when i click on checkbox, watch function invoke two times (one form press mouse click and other for releasing it)

[2020-03-27 09:40] devdpontes opened #1284 "Validation schema library"
Are there any plans to add support for a different validation schema library, other than yup or joi?

The good thing about react-hook-form is no dependencies, but as soon as yup is added, it adds a load of lodash code to my bundle.

Any possibility of using something like superstruct with no dependencies and very small (4.5 kB gzipped)?

[2020-03-27 09:49] bluebill1049 commented on #1284
yep totally agree. take a look this: https://react-hook-form.com/advanced-usage#CustomHookwithValidationResolver we already support any external validation schema.

[2020-03-27 09:49] bluebill1049 commented on #1283
i will answer there.

[2020-03-27 09:49] #1283 closed

[2020-03-27 09:50] bluebill1049 commented on #1283
can you ask that question at react hook form specturm? one easy way to do it just attach onChange with debounce.

[2020-03-27 10:04] #1284 closed

[2020-03-27 12:08] emilium opened #1285 "Avoid reset of default values after submit"
Is it possible to avoid reset of default values after submit?

Currently all fields are filled correctly by passing defaultValue, but right after submit everything is cleared and all inputs fields are empty. This is correct behaviour. But is it possible somehow to keep them.

`const { register, handleSubmit, control, errors} = useForm({  defaultValues: props.defaultValues });
  const onSubmit = da

[2020-03-27 12:10] bluebill1049 commented on #1285
please follow our temple for asking a question...

[2020-03-27 12:18] bluebill1049 commented on #1285
https://codesandbox.io/s/kw7z2q2n15 no we don't reset inputs.

[2020-03-27 12:29] #1285 closed

[2020-03-27 12:33] Vishal1419 commented on #1282
@bluebill1049 Thank you for the quick response. I have called triggerValidation on onBlur as well as on onChange. That works perfectly. Thank you again.

[2020-03-27 12:33] #1282 closed

[2020-03-27 13:46] devdpontes commented on #1284
Sorry, totally missed that in the docs. Thanks for the quick reply. Keep up the good work!

[2020-03-27 14:18] JuanmaMenendez commented on #438
I didn't need to set
onChange={() => { }}
value={() => { }}

What worked for me (using also MomentJS) was:

    <form onSubmit={handleSubmit(formSubmit)}\>
      <Controller
        as={
            <KeyboardDatePicker
                clearable
                autoOk
                format="MM/DD/YYYY"
                views={["year", "month", "date"]}
                inputVariant="outlined"

[2020-03-27 14:50] starmatt commented on #1266
That was quick! Thanks a lot @kotarella1110 and @bluebill1049

I'm eager to use this in my app, how can I pull this version via `yarn` or `npm`? I tried upgrading the package (I'm on `5.1.3`), but I don't seem to be able to use the feature. Or should I wait for you to update the package with a new version?

Thanks again!

[2020-03-27 15:08] kotarella1110 commented on #1266
@starmatt This feature is not yet released. Perhaps it will be released by a few days.

[2020-03-27 15:16] starmatt commented on #1266
That's what I thought, thanks for your work and understanding!

[2020-03-27 15:21] ziishaned opened #1286 "Type 'NestDataObject<T, FieldError> | undefined' is not assignable to type 'NestDataObject<T, FieldError>'"
**Codesandbox link (Required)**

https://codesandbox.io/s/ecstatic-currying-orynw

**Expected behavior**

`FieldErrors` typing should accept the interface without any errors.

[2020-03-27 18:15] sirgwain opened #1287 "useFieldArray with nested input component won't update"
**Describe the bug**
When using a FieldArray with <input/> components inside nested wrapper components, the field value does not update.

Am I missing some argument or concept to make my nested inputs work as expected?

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Update "useFieldArray" text input to "use FieldArray updated"
2. Click submit
3. Observe that field is reset
4. Submit

[2020-03-27 19:35] paulhan221 opened #1288 "Remove on field array does not remove nested field array values"
**Describe the bug**
- Removing field array value doesn't remove its nested field array values

**To Reproduce**
Steps to reproduce the behavior:
1. remove `useFieldArray2` value
2. click append
3. notice removed field's nested field values `field11` and `field22` display instead of empty fields

**Codesandbox link (Required)**
https://codesandbox.io/s/react-hook-form-usefieldarray-2z9yg

**Expect

[2020-03-27 21:39] mojarrahp opened #1289 "Validate function on Select element causes onChange value to be set to old value"
**Describe the bug**
When using a custom `validate` function on a Select element, which normally uses local state to update its value using the `onChange` event, upon selecting a different option, the new value does not update if RHF first calls its `validate` function.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/select-validate-5lxqq
2. The Select's defaul

[2020-03-27 22:29] bluebill1049 commented on #438
thanks for sharing solution @JuanmaMenendez

[2020-03-27 22:49] bluebill1049 commented on #1286
why not just keep thing simple: https://codesandbox.io/s/ecstatic-currying-orynw

[2020-03-27 22:52] bluebill1049 commented on #1287
This is due to an understanding of JS closure: https://codesandbox.io/s/react-hook-form-usefieldarray-0tewz you can use React.useMemo or move Child component outside.

[2020-03-27 22:52] #1287 closed

[2020-03-27 22:55] bluebill1049 commented on #1288
Thanks for the issue report. You have had to remove it yourself as well, there is no magic to remove nested field array items.

[2020-03-27 22:57] bluebill1049 commented on #1289
why are we mixed uncontrolled with controlled? What's the usage?

This is what i expected when using this lib.

[code]

[2020-03-27 23:30] mojarrahp commented on #1289
Hey @bluebill1049 thanks for your reply.

So are you saying RHF doesn't support react controlled components?

The usage is I always use Select elements in react in _controlled mode_ how it is suggested in their docs (https://reactjs.org/docs/forms.html#the-select-tag). If I try to use it in the _uncontrolled_ way by adding the `selected` attribute on the option tag then React gives this warning:

[2020-03-27 23:38] bluebill1049 commented on #1289
@mojarrahp we support Controlled component, but i think you have to pick your choice during usage.

- <input ref={register} name="test" /> -> watch() API
https://react-hook-form.com/api#watch

- for Controlled
  1. using Controller https://react-hook-form.com/api#Controller
  2. custom reigster

[code]

hope above make sense.

[2020-03-28 00:19] sirgwain commented on #1287
Thank you for the quick response! That fixed my problem. I didn't realize inlining components would cause an issue like that.

[2020-03-28 00:22] bluebill1049 commented on #1287
no worries @sirgwain it's basically JS closure. follow my suggestion above you can avoid this type of issue.

[2020-03-28 03:44] h-sakano opened #1290 "watch('useFieldArrayName') returns wrong values"
**Describe the bug**

`watch('useFieldArrayName')` returns default values instead of the ones in the input fields under certain conditions.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/react-hook-form-usefieldarray-jzlh7
2. Click on 'append'.
3. Modify input field values in the 2nd row.
4. `watch('test')` returns values correctly.
5. Click on 'append' agai